{
  "openapi" : "3.0.0",
  "info" : {
    "version" : "3.0.0",
    "title" : "通用版USER APP API",
    "description" : "app串接用"
  },
  "servers" : [ {
    "url" : "https://app-ydt.beta.hvac-cloud.org",
    "description" : "林口測試站"
  } ],
  "tags" : [ {
    "name" : "auth",
    "description" : "身份驗證相關API"
  }, {
    "name" : "job",
    "description" : "保修"
  }, {
    "name" : "log",
    "description" : "日誌"
  }, {
    "name" : "equipment",
    "description" : "設備"
  }, {
    "name" : "project",
    "description" : "案場功能API"
  }, {
    "name" : "alert",
    "description" : "即時/歷史告警"
  } ],
  "paths" : {
    "/v3/pwd/_forget" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "忘記密碼",
        "operationId" : "forget-pwd",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account" : {
                    "type" : "string",
                    "description" : "使用者帳號"
                  },
                  "email" : {
                    "type" : "string",
                    "description" : "註冊mail"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "無效的輸入"
          },
          "404" : {
            "description" : "使用者帳號或密碼錯誤"
          },
          "500" : {
            "description" : "伺服器發生錯誤"
          }
        }
      }
    },
    "/v3/bug" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "回報bug",
        "operationId" : "create-bug",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account" : {
                    "type" : "string",
                    "description" : "使用者帳號"
                  },
                  "datetime" : {
                    "type" : "string",
                    "description" : "日期時間"
                  },
                  "version" : {
                    "type" : "string",
                    "description" : "版本號"
                  },
                  "platform" : {
                    "type" : "string",
                    "description" : "手機平台"
                  },
                  "apiPath" : {
                    "type" : "string",
                    "description" : "api路徑"
                  },
                  "errorCode" : {
                    "type" : "integer"
                  },
                  "header" : {
                    "type" : "string"
                  },
                  "other" : {
                    "type" : "string"
                  }
                },
                "example" : {
                  "account" : "gavin",
                  "datetime" : "2020-03-01T00:00:00Z",
                  "version" : "1.2.3",
                  "platform" : "ios",
                  "apiPath" : "v1/equipment",
                  "errorCode" : 401,
                  "header" : "Auth-001",
                  "other" : "other"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "回傳使用者Token，做API使用者驗證",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "token" : {
                      "type" : "string",
                      "description" : "身份驗證"
                    },
                    "name" : {
                      "type" : "string",
                      "description" : "帳號名稱"
                    }
                  },
                  "example" : {
                    "token" : "Dv+BBAEC/4IAAQwBEAAA/5P/ggAGAXMFaW50NjQEBgD8tMEGGgJpZAZzdHJpbmcMGgAYNWEwNmI2OTBhYzk1NzYwMDA5MjZiNTY3B2FjY291bnQGc3RyaW5nDAcABXBldGVyBG5hbWUGc3RyaW5nDAgABlBldGVyYQVncm91cAZzdHJpbmcMBwAFYWRtaW4Gc3lzdGVtBnN0cmluZwwFAANsenc=",
                    "name" : "dforcepro"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "無效的輸入"
          },
          "404" : {
            "description" : "使用者帳號或密碼錯誤"
          },
          "500" : {
            "description" : "伺服器發生錯誤"
          }
        }
      }
    },
    "/v3/login" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "登入 (加上projectFolder欄位)",
        "operationId" : "login",
        "parameters" : [ {
          "in" : "header",
          "name" : "System",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account" : {
                    "type" : "string",
                    "description" : "使用者帳號"
                  },
                  "pwd" : {
                    "type" : "string",
                    "description" : "密碼"
                  },
                  "push" : {
                    "type" : "string",
                    "description" : "推播token"
                  },
                  "platform" : {
                    "type" : "string",
                    "description" : "手機平台"
                  },
                  "phoneID" : {
                    "type" : "string",
                    "description" : "手機唯一碼"
                  }
                },
                "example" : {
                  "account" : "gavin",
                  "pwd" : "1234",
                  "push" : "BAEC/4IAAQwBEAAA/5P/ggAGAXMFaW50NjQEBgD8tMEGGgJpZAZzdHJpbmcMGgAYNWEwNmI2OTBh",
                  "platform" : "ios",
                  "phoneID" : "F883ABE7-8147-42D0-AEBD-5B59038274AF"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "回傳使用者Token，做API使用者驗證",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "token" : {
                      "type" : "string",
                      "description" : "身份驗證"
                    },
                    "name" : {
                      "type" : "string",
                      "description" : "帳號名稱"
                    },
                    "projectFolder" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "name" : {
                            "type" : "string",
                            "description" : "資料夾名稱"
                          },
                          "projectList" : {
                            "type" : "array",
                            "items" : {
                              "type" : "string"
                            }
                          }
                        }
                      }
                    },
                    "state" : {
                      "type" : "string",
                      "enum" : [ "normal", "reset-pwd" ]
                    }
                  },
                  "example" : {
                    "token" : "Dv+BBAEC/4IAAQwBEAAA/5P/ggAGAXMFaW50NjQEBgD8tMEGGgJpZAZzdHJpbmcMGgAYNWEwNmI2OTBhYzk1NzYwMDA5MjZiNTY3B2FjY291bnQGc3RyaW5nDAcABXBldGVyBG5hbWUGc3RyaW5nDAgABlBldGVyYQVncm91cAZzdHJpbmcMBwAFYWRtaW4Gc3lzdGVtBnN0cmluZwwFAANsenc=",
                    "name" : "dforcepro",
                    "state" : "normal",
                    "projectFolder" : [ {
                      "name" : "資料夾1",
                      "projectList" : [ "5bddbe8d51c78d7f3ef5845d" ]
                    }, {
                      "name" : "資料夾2",
                      "projectList" : [ "5bddbe8d51c78d7f3ef5845d" ]
                    } ]
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "無效的輸入"
          },
          "404" : {
            "description" : "使用者帳號或密碼錯誤"
          },
          "500" : {
            "description" : "伺服器發生錯誤"
          }
        }
      }
    },
    "/v3/project/folder" : {
      "post" : {
        "tags" : [ "project" ],
        "summary" : "新增 / 修改案場資料夾設定",
        "operationId" : "upsert-project-folder",
        "security" : [ {
          "ApiKeyAuth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpsertProjectFolder"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "新增完畢"
          },
          "400" : {
            "description" : "資料格式錯誤"
          },
          "500" : {
            "description" : "伺服器錯誤"
          }
        }
      }
    },
    "/v3/equipment" : {
      "post" : {
        "tags" : [ "equipment" ],
        "summary" : "新增/俢改設備資訊",
        "operationId" : "create-equipment",
        "security" : [ {
          "ApiKeyAuth" : [ ]
        } ],
        "parameters" : [ {
          "in" : "header",
          "name" : "UpdateID",
          "schema" : {
            "type" : "string"
          },
          "required" : false,
          "description" : "required when update"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EquipmentEdit"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "新增完畢"
          },
          "400" : {
            "description" : "資料格式錯誤"
          },
          "403" : {
            "description" : "案場或盒子權限錯誤"
          },
          "404" : {
            "description" : "案場或盒子不存在"
          },
          "500" : {
            "description" : "伺服器錯誤"
          }
        }
      }
    },
    "/v3/equipment/{ID}" : {
      "get" : {
        "tags" : [ "equipment" ],
        "summary" : "取得設備詳情",
        "operationId" : "get-equipment-detail",
        "security" : [ {
          "ApiKeyAuth" : [ ]
        } ],
        "parameters" : [ {
          "in" : "path",
          "name" : "ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "description" : "設備ID (根劇設備清單中的id帶入)"
        }, {
          "in" : "query",
          "name" : "use",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "edit", "display", "job" ]
          },
          "example" : "job",
          "description" : "顯示狀態 (default:display; list:edit, display, job)"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetEquipmentDisplayDetail"
                }
              }
            }
          },
          "403" : {
            "description" : "案場不允許該使用者存取"
          },
          "404" : {
            "description" : "找不到該案場"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "UpsertProjectFolder" : {
        "type" : "array",
        "items" : {
          "type" : "object",
          "properties" : {
            "name" : {
              "type" : "string",
              "description" : "資料夾名稱"
            },
            "projectList" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }
        },
        "example" : [ {
          "name" : "資料夾1",
          "projectList" : [ "5bddbe8d51c78d7f3ef5845d" ]
        }, {
          "name" : "資料夾2",
          "projectList" : [ "5bddbe8d51c78d7f3ef5845d" ]
        } ]
      },
      "SensorInput" : {
        "type" : "object",
        "properties" : {
          "device" : {
            "type" : "string",
            "description" : "載具 (1~255)"
          },
          "address" : {
            "type" : "string",
            "description" : "位置 (1~255)"
          },
          "type" : {
            "type" : "string",
            "description" : "類別 (需再拿類別清單)"
          },
          "unit" : {
            "type" : "string",
            "description" : "單位 (需再拿單位清單)"
          },
          "disableAlart" : {
            "type" : "boolean",
            "description" : "關閉預警判斷 (true:關閉 false:開啟)"
          },
          "upper" : {
            "type" : "number",
            "description" : "警戒/限制上限"
          },
          "lower" : {
            "type" : "number",
            "description" : "警戒/限制下限"
          },
          "display" : {
            "type" : "string",
            "description" : "自定名稱"
          },
          "frequency" : {
            "type" : "object",
            "properties" : {
              "minutes" : {
                "type" : "integer",
                "description" : "分鐘"
              },
              "times" : {
                "type" : "integer",
                "description" : "次數"
              }
            },
            "description" : "頻率"
          },
          "value" : {
            "type" : "number",
            "description" : "設定值 (sensor不需要帶)"
          },
          "ownerHidden" : {
            "type" : "boolean"
          }
        },
        "example" : {
          "device" : 1,
          "address" : 2,
          "type" : "temprature",
          "unit" : "°C",
          "upper" : 20,
          "lower" : 17,
          "display" : "庫溫",
          "disableAlart" : false,
          "frequency" : {
            "minutes" : 5,
            "times" : 3
          },
          "value" : 18,
          "ownerHidden" : false
        }
      },
      "EquipmentEdit" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "設備名稱"
          },
          "model" : {
            "type" : "string",
            "description" : "型號"
          },
          "equipID" : {
            "type" : "string",
            "description" : "設備ID"
          },
          "emsID" : {
            "type" : "integer"
          },
          "box" : {
            "type" : "object",
            "properties" : {
              "macAddress" : {
                "type" : "string"
              },
              "boxID" : {
                "type" : "string",
                "description" : "boxID"
              }
            }
          },
          "projectID" : {
            "type" : "string",
            "description" : "案場ID"
          },
          "sensors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SensorInput"
            }
          },
          "controllers" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SensorInput"
            }
          },
          "delSensors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SensorInput"
            }
          },
          "delControllers" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SensorInput"
            }
          },
          "sensorFolder" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "name" : {
                  "type" : "string"
                },
                "sensors" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "controlFolder" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "name" : {
                  "type" : "string"
                },
                "sensors" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      },
      "SensorDisplay" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "device" : {
            "type" : "integer"
          },
          "address" : {
            "type" : "integer"
          },
          "disableAlert" : {
            "type" : "boolean"
          },
          "displayValue" : {
            "type" : "string"
          },
          "display" : {
            "type" : "string"
          },
          "frequency" : {
            "type" : "object",
            "properties" : {
              "minutes" : {
                "type" : "integer"
              },
              "times" : {
                "type" : "integer"
              }
            }
          },
          "lower" : {
            "type" : "number"
          },
          "upper" : {
            "type" : "number"
          },
          "type" : {
            "type" : "string"
          },
          "unit" : {
            "type" : "string"
          },
          "value" : {
            "type" : "number"
          }
        }
      },
      "GetEquipmentDisplayDetail" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string",
            "description" : "設備名稱"
          },
          "boxMACaddress" : {
            "type" : "string"
          },
          "equipID" : {
            "type" : "string"
          },
          "emsID" : {
            "type" : "integer"
          },
          "model" : {
            "type" : "string"
          },
          "isOnline" : {
            "type" : "boolean"
          },
          "onlineState" : {
            "type" : "string"
          },
          "permission" : {
            "type" : "string"
          },
          "sensors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SensorDisplay"
            }
          },
          "controllers" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SensorDisplay"
            }
          },
          "sensorFolder" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "name" : {
                  "type" : "string"
                },
                "sensors" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "controlFolder" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "name" : {
                  "type" : "string"
                },
                "sensors" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "offlineSensors" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "ApiKeyAuth" : {
        "type" : "apiKey",
        "in" : "header",
        "name" : "Auth-Token"
      }
    }
  }
}