{
  "openapi" : "3.0.0",
  "info" : {
    "description" : "Payment card management methods for TNS users\n",
    "version" : "1.0.5",
    "title" : "Payment Card Management API",
    "contact" : {
      "email" : "galitskaya@a3.ru"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers" : [ {
    "description" : "SwaggerHub API Auto Mocking",
    "url" : "https://pay.tns-e.ru/"
  } ],
  "tags" : [ {
    "name" : "auth",
    "description" : "Operations with authorization"
  }, {
    "name" : "card",
    "description" : "Operations with cards"
  }, {
    "name" : "payment",
    "description" : "Operations with payment"
  } ],
  "paths" : {
    "/auth/exists" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "Checks if authorized user exists",
        "operationId" : "checkAuth",
        "responses" : {
          "200" : {
            "description" : "authorized user exists",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "authorization required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Unknown server error"
          }
        }
      }
    },
    "/cards" : {
      "get" : {
        "tags" : [ "card" ],
        "summary" : "Returns the list of all client's cards",
        "operationId" : "getCards",
        "responses" : {
          "200" : {
            "description" : "The card list returned successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetCardListResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "authorization required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Unknown server error"
          }
        }
      }
    },
    "/cards/{card_id}" : {
      "delete" : {
        "tags" : [ "card" ],
        "summary" : "Delete a card by cardId",
        "operationId" : "deleteCard",
        "parameters" : [ {
          "name" : "card_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "description" : "card id"
        } ],
        "responses" : {
          "200" : {
            "description" : "The card deleted successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "authorization required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "card with provided card_id doesn't exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardNotFoundResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Unknown server error"
          }
        }
      }
    },
    "/payment" : {
      "post" : {
        "tags" : [ "payment" ],
        "summary" : "Payment operation by existing or new card",
        "operationId" : "newPayment",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentRequestBody"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation completed successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentSuccessResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "authorization required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Unknown server error"
          }
        }
      }
    }
  },
  "externalDocs" : {
    "description" : "Find out more about Swagger",
    "url" : "http://swagger.io"
  },
  "components" : {
    "schemas" : {
      "Card" : {
        "type" : "object",
        "required" : [ "result" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64",
            "description" : "card id",
            "example" : 67432
          },
          "bin" : {
            "type" : "string",
            "pattern" : "^\\d{6}$",
            "description" : "the first six numbers of the card number",
            "example" : "456757"
          },
          "last_nums" : {
            "type" : "string",
            "pattern" : "^\\d{4}$",
            "description" : "the last four numbers of the card number",
            "example" : "6721"
          },
          "is_default" : {
            "type" : "boolean",
            "default" : false,
            "description" : "card is used by default",
            "example" : true
          }
        }
      },
      "PaymentRequestBody" : {
        "type" : "object",
        "required" : [ "result" ],
        "properties" : {
          "card_id" : {
            "type" : "integer",
            "format" : "int64",
            "description" : "card id",
            "example" : null
          },
          "card_number" : {
            "type" : "string",
            "pattern" : "^\\d{13, 19}$",
            "description" : "card number",
            "example" : "5656345612345678"
          },
          "cvv" : {
            "type" : "string",
            "pattern" : "^\\d{3}$",
            "description" : "cvv code",
            "example" : "999"
          },
          "exp" : {
            "type" : "string",
            "pattern" : "^[0-9]{4}$",
            "description" : "card expiration date",
            "example" : "1022"
          },
          "owner" : {
            "type" : "string",
            "description" : "card holder's last and first names",
            "example" : "Ivanov Ivan"
          },
          "phone" : {
            "type" : "string",
            "description" : "phone number without a country code",
            "example" : "9101099101"
          },
          "is_save" : {
            "type" : "boolean",
            "description" : "new card must be saved",
            "example" : true
          }
        }
      },
      "SuccessResponse" : {
        "type" : "object",
        "required" : [ "result" ],
        "properties" : {
          "result" : {
            "type" : "boolean",
            "description" : "result flag",
            "example" : true
          }
        }
      },
      "PaymentSuccessResponse" : {
        "type" : "object",
        "required" : [ "result" ],
        "properties" : {
          "result" : {
            "type" : "boolean",
            "description" : "result flag",
            "example" : true
          },
          "data" : {
            "type" : "string",
            "description" : "payment method",
            "example" : "OTP"
          }
        }
      },
      "GetCardListResponse" : {
        "type" : "object",
        "required" : [ "result" ],
        "properties" : {
          "result" : {
            "type" : "boolean",
            "description" : "result flag",
            "example" : true
          },
          "data" : {
            "type" : "array",
            "description" : "list of the cards",
            "items" : {
              "$ref" : "#/components/schemas/Card"
            }
          }
        }
      },
      "ErrorResponse" : {
        "type" : "object",
        "required" : [ "result" ],
        "properties" : {
          "result" : {
            "type" : "boolean",
            "description" : "result flag",
            "example" : false
          },
          "message" : {
            "type" : "string",
            "description" : "error message",
            "example" : "authorization required"
          }
        }
      },
      "CardNotFoundResponse" : {
        "type" : "object",
        "required" : [ "result" ],
        "properties" : {
          "result" : {
            "type" : "boolean",
            "description" : "result flag",
            "example" : false
          },
          "message" : {
            "type" : "string",
            "description" : "error message",
            "example" : "card_id not found"
          }
        }
      }
    },
    "securitySchemes" : {
      "bearerAuth" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    }
  },
  "security" : [ {
    "bearerAuth" : [ ]
  } ]
}