{
  "openapi" : "3.0.2",
  "info" : {
    "version" : "0.0.2",
    "title" : "Notifier",
    "description" : "Send Notification."
  },
  "servers" : [ {
    "url" : "https://notifier-develop.dil.aareonit.fr"
  }, {
    "url" : "https://notifier-sprint.dil.aareonit.fr"
  }, {
    "url" : "https://notifier-develop.dev.aareonit.fr"
  }, {
    "url" : "https://notifier-sprint.dev.aareonit.fr"
  }, {
    "url" : "https://notifier-develop.test.aareonit.fr"
  }, {
    "url" : "https://notifier.prod.aareonit.fr"
  } ],
  "tags" : [ {
    "name" : "Mails",
    "description" : "Sending mail notification."
  } ],
  "paths" : {
    "/v1/mails" : {
      "post" : {
        "summary" : "Send all mails.",
        "tags" : [ "Mails" ],
        "parameters" : [ {
          "name" : "tenant-id",
          "in" : "header",
          "required" : true,
          "description" : "Tenant ID for multitenant API. Required to know which ERP must be consumed.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/mails"
              }
            }
          }
        },
        "responses" : {
          "202" : {
            "description" : "All emails successfully forwarded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_success"
                }
              }
            }
          },
          "401" : {
            "description" : "NO_AUTHORIZATION",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/401"
                }
              }
            }
          },
          "403" : {
            "description" : "403 Forbidden: You do not have access to this resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/403"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "securitySchemes" : {
      "jwt" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    },
    "schemas" : {
      "mails" : {
        "type" : "array",
        "items" : {
          "type" : "object",
          "required" : [ "from", "to", "subject", "body" ],
          "properties" : {
            "from" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              },
              "description" : "Mail sender.",
              "example" : [ "NameFrom <exampleFrom@aareon.com>", "other.exampleFrom@aareon.com", "<another.exampleFrom@aareon.com>" ]
            },
            "to" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              },
              "description" : "Mail main recipients.",
              "example" : [ "NameTo <exampleTo@aareon.com>", "other.exampleTo@aareon.com", "<another.exampleTo@aareon.com>" ]
            },
            "cc" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              },
              "description" : "Mail recipients in carbon copy.",
              "example" : [ "NameCc <exampleCc@aareon.com>", "other.exampleCc@aareon.com", "<another.exampleCc@aareon.com>" ]
            },
            "bcc" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              },
              "description" : "Mail recipients in blind carbon copy.",
              "example" : [ "NameBcc <exampleBcc@aareon.com>", "other.exampleBcc@aareon.com", "<another.exampleBcc@aareon.com>" ]
            },
            "subject" : {
              "type" : "string",
              "description" : "Mail subject.",
              "example" : "This is the subject of the mail"
            },
            "body" : {
              "type" : "string",
              "description" : "Mail message, in HTML.",
              "example" : "<p>Hello World!</p>"
            },
            "priority" : {
              "type" : "string",
              "description" : "Mail priority.",
              "enum" : [ "Lowest", "Low", "Normal", "High", "Highest" ]
            },
            "attachments" : {
              "type" : "array",
              "description" : "List of attachments or embeded files in the mail.",
              "items" : {
                "type" : "object",
                "required" : [ "content", "name" ],
                "properties" : {
                  "name" : {
                    "type" : "string",
                    "description" : "Attachment name",
                    "example" : "thePicture.png"
                  },
                  "content" : {
                    "type" : "string",
                    "description" : "Attachment content, in base64 encoded",
                    "example" : "ab56jVd3qb="
                  },
                  "inline" : {
                    "type" : "boolean",
                    "default" : false
                  }
                }
              }
            }
          }
        }
      },
      "401" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string",
            "enum" : [ "NO_AUTHORIZATION", "INVALID_TOKEN" ]
          }
        }
      },
      "403" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string",
            "enum" : [ "403 Forbidden: You do not have access to this resource." ]
          }
        }
      },
      "response_success" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string",
            "enum" : [ "All emails successfully forwarded." ]
          }
        }
      }
    }
  }
}