{
  "openapi" : "3.0.0",
  "info" : {
    "description" : "Eldorado API documentation",
    "version" : "1.0.0-oas3",
    "title" : "Eldorado API"
  },
  "tags" : [ {
    "name" : "goods",
    "description" : "operations for goods and related"
  }, {
    "name" : "catalog",
    "description" : "requests for catalog"
  }, {
    "name" : "product_page",
    "description" : "requests for product page"
  }, {
    "name" : "users",
    "description" : "requests for users and related"
  }, {
    "name" : "orders",
    "description" : "запити для замовленням (Checkout, ThankYouPage)"
  }, {
    "name" : "promotions",
    "description" : "запити для роботи з акціями"
  }, {
    "name" : "crm_logs",
    "description" : "логування проглянутих товарів користувачем"
  }, {
    "name" : "consultations",
    "description" : "запити для відео-консультацій"
  } ],
  "servers" : [ {
    "url" : "https://api.eldorado.ua/v1",
    "description" : "Production"
  }, {
    "url" : "http://api.eldodev.org.ua/v1",
    "description" : "Test"
  } ],
  "paths" : {
    "/goods_descriptions" : {
      "get" : {
        "tags" : [ "goods", "product_page" ],
        "summary" : "Получить описание товара",
        "operationId" : "goods_descriptions",
        "description" : "Получить описание полные описания для указаного товара\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/conditions"
        }, {
          "$ref" : "#/components/parameters/limit"
        }, {
          "$ref" : "#/components/parameters/offset"
        } ],
        "responses" : {
          "200" : {
            "description" : "набор записей с полными описаниями указаных товаров",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "type" : "string",
                        "description" : "id записи"
                      },
                      "ext_id" : {
                        "type" : "string",
                        "example" : "71266428",
                        "description" : "внешний id товара"
                      },
                      "goods_id" : {
                        "type" : "string",
                        "example" : "1389523",
                        "description" : "внешний id товара"
                      },
                      "desc_full" : {
                        "type" : "string",
                        "example" : "<style> .block { display: block; } </style><div>Пример описания</div>"
                      },
                      "desc_full_ua" : {
                        "type" : "string",
                        "example" : "<style> .block { display: block; } </style><div>Приклад опису</div>"
                      },
                      "created_at" : {
                        "type" : "string",
                        "format" : "date-time",
                        "example" : "2019-03-20 14:12:08"
                      },
                      "updated_at" : {
                        "type" : "string",
                        "format" : "date-time",
                        "example" : "2019-03-25 14:46:53"
                      }
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/goods_categories" : {
      "get" : {
        "tags" : [ "goods", "product_page" ],
        "summary" : "Получить список категорий",
        "operationId" : "goods_categories",
        "description" : "Получить список категорий\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/conditions"
        }, {
          "$ref" : "#/components/parameters/limit"
        }, {
          "$ref" : "#/components/parameters/offset"
        } ],
        "responses" : {
          "200" : {
            "description" : "список категорий полученый в соответсвии с указаными условиями",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GoodsCategoryItem"
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/goods_attributes_values_output" : {
      "get" : {
        "tags" : [ "goods", "product_page" ],
        "summary" : "Получить атрибуты по одному товару в виде удобном для вывода",
        "operationId" : "get_goods_attributes_values_output",
        "description" : "Получить характеристики в виде подходящем для вывода на карту товара\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/conditions"
        }, {
          "$ref" : "#/components/parameters/limit"
        }, {
          "$ref" : "#/components/parameters/offset"
        } ],
        "responses" : {
          "200" : {
            "description" : "Аттрибуты для одного товара",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GoodsAttributesGroupsOutput"
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/goods_attributes_list" : {
      "get" : {
        "tags" : [ "goods", "catalog" ],
        "summary" : "Получить список фильтров",
        "operationId" : "goods_attributes_list",
        "description" : "Получение форматированого списка фильтров\n",
        "parameters" : [ {
          "name" : "categoryId",
          "in" : "query",
          "description" : "id категории",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "categoryId = 123123"
          }
        }, {
          "name" : "attributes",
          "in" : "query",
          "description" : "Cписок фильтров в указаном ниже формате\n\nДля фильтрации по значению определенного атрибута нужно указать значение атрибута\nс помощью оператора\n\n    =\n\nВ примере ниже (в блоке responses) для для фильтрации по \"Система бритья\" со значением \"роторная\"\n\nнужно передать в параметр **attributes** значение *id* данного аттрибута *Система бритья*\n\nв который через опреатор передать значение **value_default_id** из одного из елементов\nполя **defaultValues**\n\nто есть в результате выйдет конструкция\n\n    attributes=1938=1960\n\nзначение *id* аттрибута может быть как числом так строкой (например **producer**)\n\nзначение value_default_id может быть как числом так строкой (например **samsung** или **199-250**)\n\nЧто бы указать несколько значений атрибутов их нужно указать через\n\n    ,\n\nнапример\n\n    attributes=1938=1960,1961\n\n\n\nДля фильтрации по нескольким атрибутам их нужно перечислить через\n\n    /\n\nНапример\n\n    attributes=1938=1960/producer=samsung/1212=1111\n\nтак же одновременно можно указывать и несколько значений\n\n    attributes=1938=1960,1961/producer=samsung,xiaomi\n\nв результате выйдет запрос вида\n\n    /goods_attributes_list?categoryId=1042092&attributes=1938=1960,1961/producer=bosch,xiaomi/11617=170-545\n\nи будет возвращен уже новый список атрибутов (они же фильтры)\n\n### Относительно полей в модели атрибута (GoodsAttributesListItem)\n\nВ модели атрибута точно будут возвращены только поля с пометкой * - *required* в схеме ответа\n\nВсе остальные возвращаются опционально и нужны в основном только для сайта\n",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "attributes=producer=samsung,xiaomi/2256=2414,2418/5045=37683"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "полученый полный список фильтров",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GoodsAttributesListItem"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400BadRequest"
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/goods_list" : {
      "get" : {
        "tags" : [ "goods", "catalog" ],
        "summary" : "Получить список отфильтрованых id товаров",
        "operationId" : "goods_list",
        "description" : "Получить список отфильтрованых id товаров\n",
        "parameters" : [ {
          "name" : "categoryId",
          "in" : "query",
          "description" : "id категории",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "categoryId = 123123"
          }
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "Параметр может принимать несколько значений.\n\nНиже объяснения по каждому значению\n\n**popularity** - стандартная сортировка (визуализируется как популярность)\n\n**priceUp** - от дешевых к дорогим\n\n**priceDown** - от дорогих к дешевым\n\n**titleUp** - в алфавитном порядке\n\n**titleDown** - в порядке противополжном алфавитному\n\n**CommentsUp** - от меньшего к большему количеству комментариев\n\n**CommentsDown** - от большего к меньшему количеству комментариев\n\n**RatingUp** - рейтинг по возврастанию\n\n**RatingDown** - рейтинг по убыванию\n",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "popularity", "priceUp", "priceDown", "titleUp", "titleDown", "commentsUp", "commentsDown", "ratingUp", "ratingDown" ],
            "example" : "attributes=producer=samsung,xiaomi/2256=2414,2418/5045=37683&order=popularity"
          }
        }, {
          "name" : "attributes",
          "in" : "query",
          "description" : "формирование строки фильтрации аналогично таковому в запросе\n\n    goods_attributes_list\n\nто есть если нужно получить список id товаров для набора фильтров по запросу\n\n    /v1/goods_attributes_list?categoryId=1042092&attributes=11617=170-545/producer=bosch\n\n\nнужно подставить такую же строку и в этот запрос\n\n    /v1/goods_list?categoryId=1042092&attributes=11617=170-545/producer=bosch\n",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "attributes=producer=samsung,xiaomi/2256=2414,2418/5045=37683"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "полученый полный список id товаров",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GoodsListItem"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400BadRequest"
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/goods{get_catalog_goods}" : {
      "get" : {
        "tags" : [ "goods", "catalog" ],
        "summary" : "Получить товары для каталога",
        "operationId" : "get_catalog_goods",
        "deprecated" : true,
        "description" : "Получить товары с дополнительными полями-объектами (возможно получить по 3 основным идентификаторам модели goods (id, ext_id, offer_id))\n",
        "parameters" : [ {
          "name" : "get_catalog_goods",
          "in" : "path",
          "description" : "Параметр определяющий формат ответа",
          "required" : true,
          "allowEmptyValue" : true,
          "schema" : {
            "nullable" : true
          }
        }, {
          "name" : "ids",
          "in" : "query",
          "description" : "id необходимых товаров",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offerIds",
          "in" : "query",
          "description" : "offer_id необходимых товаров",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "extIds",
          "in" : "query",
          "description" : "ext_id необходимых товаров",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "полученый набор товаров (возвращаются как сами товары так и их вариации цветов)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CatalogGood"
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/goods{get_ids_by_cat_and_promo}" : {
      "get" : {
        "tags" : [ "promotions" ],
        "summary" : "Получить товары сгрупированные по категориях переданной акции",
        "operationId" : "get_ids_by_cat_and_promo",
        "parameters" : [ {
          "name" : "get_ids_by_cat_and_promo",
          "in" : "path",
          "description" : "Параметр определяющий формат ответа",
          "required" : true,
          "allowEmptyValue" : true,
          "schema" : {
            "nullable" : true
          }
        }, {
          "name" : "promotion_id",
          "in" : "query",
          "description" : "id акции",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "полученый набор товаров (возвращаются как сами товары так и их вариации цветов)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PromoCategoriesGoods"
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/goods_catalog" : {
      "get" : {
        "tags" : [ "goods", "catalog" ],
        "summary" : "Получить товары для каталога",
        "operationId" : "goods_catalog",
        "description" : "Получить товары с дополнительными полями-объектами (возможно получить по 3 основным идентификаторам модели goods (id, ext_id, offer_id))\n",
        "parameters" : [ {
          "name" : "get_catalog_goods",
          "in" : "path",
          "description" : "Параметр определяющий формат ответа",
          "required" : true,
          "allowEmptyValue" : true,
          "schema" : {
            "nullable" : true
          }
        }, {
          "name" : "ids",
          "in" : "query",
          "description" : "id необходимых товаров",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offerIds",
          "in" : "query",
          "description" : "offer_id необходимых товаров",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "extIds",
          "in" : "query",
          "description" : "ext_id необходимых товаров",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "полученый набор товаров (возвращаются как сами товары так и их вариации цветов)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CatalogGood"
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/goods_remains" : {
      "get" : {
        "tags" : [ "goods", "product_page" ],
        "summary" : "Получить остатки по товарам",
        "operationId" : "goods_remains",
        "description" : "Получить остатки по товарам\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/conditions"
        }, {
          "$ref" : "#/components/parameters/limit"
        }, {
          "$ref" : "#/components/parameters/offset"
        } ],
        "responses" : {
          "200" : {
            "description" : "список категорий полученый в соответсвии с указаными условиями",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RemainItem"
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      },
      "put" : {
        "tags" : [ "shop_name", "remains" ],
        "summary" : "Обновить остатки по товарам",
        "operationId" : "update goods remains",
        "requestBody" : {
          "description" : "Информация для обновления",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "shop_name" : {
                    "type" : "string",
                    "example" : "C001"
                  },
                  "remains" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "ext_id" : {
                          "type" : "string",
                          "example" : "12345"
                        },
                        "quantity" : {
                          "type" : "integer",
                          "example" : 5
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "список обновленных товаров со статусом обновления",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object"
                    },
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "statuses" : {
                          "type" : "object",
                          "properties" : {
                            "ext_id" : {
                              "type" : "string",
                              "example" : 12345
                            },
                            "status" : {
                              "type" : "boolean",
                              "example" : true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/comments" : {
      "get" : {
        "tags" : [ "goods", "product_page" ],
        "summary" : "Получить комментарии",
        "operationId" : "comments",
        "description" : "Получить комментарии\n",
        "parameters" : [ {
          "name" : "returnCommentsList",
          "in" : "query",
          "description" : "обязательный параметр для указания формата ответа",
          "required" : true,
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "string",
            "example" : "returnCommentsList"
          }
        }, {
          "name" : "goods_id",
          "in" : "query",
          "description" : "id товара к которому нужно получить комментарии",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "goods_id=123123"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Тип запрашиваемого  комментария обзор ('r') или вопрос ('q')",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "r", "q" ],
            "example" : "type='q'"
          }
        }, {
          "$ref" : "#/components/parameters/offset"
        }, {
          "$ref" : "#/components/parameters/limit"
        } ],
        "responses" : {
          "200" : {
            "description" : "список акционных тегов",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CommentsItem"
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      },
      "post" : {
        "tags" : [ "goods", "product_page" ],
        "summary" : "Добавить новый комментарий",
        "operationId" : "add_comments",
        "description" : "Добавить новый комментарий\n",
        "requestBody" : {
          "description" : "Тело нового комментария",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CommentItemBase"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Удачный ответ"
          },
          "400" : {
            "$ref" : "#/components/responses/400BadRequest"
          }
        }
      }
    },
    "/goods_videos" : {
      "get" : {
        "tags" : [ "goods", "product_page" ],
        "summary" : "Відеоогляди товару",
        "operationId" : "goods_videos_get",
        "description" : "Получить комментарии\n",
        "parameters" : [ {
          "name" : "conditions",
          "in" : "query",
          "description" : "id товара к которому нужно получить видео",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "conditions=goods_id=123123"
          }
        }, {
          "$ref" : "#/components/parameters/offset"
        }, {
          "$ref" : "#/components/parameters/limit"
        } ],
        "responses" : {
          "200" : {
            "description" : "відеоогляд до товару",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GoodsVideosItem"
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/sign" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Методи для авторизації користувача на сайті",
        "operationId" : "sign",
        "description" : "**Авторизація користувача**\n\nПовертає два об'єкти access і roles.\nВ access головне - поле token. В запитах з обов'язковою авторизацією додавати до url в вигляді token=$2y$08$Vkt4azN4bVJpVDJlR0YwMe/bsEMqildS1WElu3kit0CJr2kWMzeS.\nsession_token - необов'язковий параметр. Якщо його додати то запит також поверне повний об'єкт сесії з юзером всередині\nТокен повинен бути переданий в інший запит як url параметр запиту\n\nПриклад запиту\n`/sign?login=380982523456&password=111111`\n\nПриклад відповіді\n\n `{ \"meta\": { \"code\": 200, \"message\": \"0K\", \"request_time\": 1552407488, \"access\": { \"limit\": 217290, \"total\": 1, \"offset\": 0 }, \"resource\": \"http://api.eldodev.org.ua/v1/sign?login=380982523456&password=111111\" }, \"data\": { \"access\": { \"user_id\": 11111, \"token\": \"$2y$08$ckY2YWpRQXFSWkx2N2Z2O.36BBdgae3t2bbW7SW.yHmlt5GBR3CZe\", \"expire_date\": \"2019-03-19 18:18:07\" }, \"roles\": { \"id\": \"1\", \"name\": \"Admin\", \"active\": \"1\" } } }`\n\nПоля\n- \"access\":\n- \"user_id\": 11111, - id юзера\n- \"token\": \"$2y$08$ckY2YWpRQXFSWkx2N2Z2O.36BBdgae3t2bbW7SW.yHmlt5GBR3CZe\", - отриманий токен\n- \"expire_date\": \"2019-03-19 18:18:07\" - дата закінчення дії токена\n\"roles\": - інформація про роль юзера\n- \"id\": \"1\", - id ролі\n- \"name\": \"Admin\" назва ролі (можливі значення 1 - Admin, 2 - User)\n- \"active\": \"1\" - активність юзера ( 0 - не активний, 1 - активний)\n\n**Оновлення токена**\n/sign?refresh_token=refresh_qwerty\nПриклад праворуч\n\n**Користувацька авторизація з кроками**\n\nІнший формат запиту використовуєтсья для авторизації на сайті і поділений на кроки\nІснує декілька випадків при використанні покрокової авторизації\n\n***Випадок 1: Юзер наявний в системі***\n\n*Крок 1: Перевірка наявності користувача за телефоном*\n\nТип запиту :GET\nПриклад запиту `/sign/?login=380982523456&step=phone-check&lang=ru`\n\nПриклад відповіді при наявності телефону у системі\n\n`{ \"meta\": { \"code\": 200, \"message\": \"0K\", \"request_time\": 1552406587, \"limit\": null, \"total\": null, \"offset\": null, \"resource\": \"http://api.eldodev.org.ua/v1/sign/?login=380982597023&step=phone-check&lang=ru\" }, \"data\": { \"phone\": \"380982523456\", \"userExists\": true, \"nextStep\": \"password-step\" } }`\n\nПоля\n\n- \"phone\": \"380982523456\", - телефон котрий перевірявся\n- \"userExists\": true, - наявність юзера (true - наявний, false - відсутній)\n- \"nextStep\": \"password-step\", - наступний рекомендовний крок (password-step - в даному випадку стандартний логін описаний в кроці 2)\n\n*Крок 2: Після перевірки (у випадку коли номер наявний у системі) номера використовується стандартна авторизація з першого прикладу*\n\nТип запиту :GET\nПриклад запиту `/sign?login=380982523456&password=111111`\n\nІнша інформація стосовно цього запиту описана вище\n\nУ випадку наявності користувача це останній крок\n\n***Випадок 2: Юзер відсутній в системі***\n\n*Крок 1: Перевірка наявності користувача за телефоном*\n\nТип запиту :GET\nПриклад запиту `/sign?login=380982523456&password=111111`\n\n1.1 Приклад відповіді при відсутності телефону у системі\n\n`{\"meta\": { \"code\": 200, \"message\": \"0K\", \"request_time\": 1552409409, \"limit\": null, \"total\": null, \"offset\": null, \"resource\": \"http://api.eldodev.org.ua/v1/sign/?login=380982592323&step=phone-check&lang=ru\" }, \"data\": { \"phone\": \"380982592323\", \"userExists\": false, \"nextStep\": \"verification-step\" } }`\n\nПоля\n\n- \"phone\": \"380982523456\", - телефон котрий перевірявся\n- \"userExists\": false, - наявність юзера (true - наявний, false - відсутній)\n- \"nextStep\": \"verification-step\", - наступний рекомендовний крок\n\nЗа відсутності юзера на наданий номер буде відправлено смс з кодом верифікаці для наступного кроку реєстрації\n\n*Крок 2: Початок реєстрації, підтверждення коду верифікації*\n\nТип запиту :GET\nПриклад запиту: `/sign/?login=380982597024&verification_code=1111&step=verification-step&lang=ru`\n\nПри неправильно введеному коді авторизації буде повернена така відповідь\n\n`{\"meta\":{\"code\":200,\"message\":\"0K\",\"request_time\":1552411778,\"limit\":null,\"total\":null,\"offset\":null,\"resource\":\"http:\\/\\/api.eldodev.org.ua\\/v1\\/sign\\/?login=380982597023&verification_code=1111&step=verification-step&lang=ru\"},\"data\":{\"phone\":\"380982597023\",\"phoneVerified\":false}}`\n\nПоля\n\n- \"phone\": \"380982523456\", - телефон которий перевірявся\n- \"phoneVerified\": false, - верифікація телефону (true - код був введений вірно, false - коду було введено неправильно)\nУ такому випадку потрібно запропонувати ввести код повторно\n\nПри правильно введеному коді авторизації буде повернена така відповідь\n\n`\"meta\":{\"code\":200,\"message\":\"0K\",\"request_time\":1552411748,\"limit\":null,\"total\":null,\"offset\":null,\"resource\":\"http:\\/\\/api.eldodev.org.ua\\/v1\\/sign\\/?login=380982597023&verification_code=6448&step=verification-step&lang=ru\"},\"data\":{\"phone\":\"380982597023\",\"phoneVerified\":true,\"user\":{\"surname\":{},\"name\":{}},\"nextStep\":\"personal-data-input\"}}`\n\nПоля\n- \"phone\": \"380982523456\", - телефон котрий перевірявся\n- \"phoneVerified\": true, - верифікація телефону (true - код був введений вірно, false - коду було введено неправильно)\n- \"nextStep\": \"personal-data-input\", - наступний рекомендовний крок\n\n*Крок 3: Реєстрація. Введення персональних даних*\n\n**Відновлення пароля**\n\nВ запит передаються праметри: login - номер телефона користувача\nstep - назва поточного кроку\n\nПриклад запиту: `/sign/?login=380982231223&step=password-recovery-step`\n\nПісля успішної відправки запиту клієнn отримує новий згенерований пароль\n\n***Випадок 3: Авторизація за допомогою facebook***\n\n*Крок 1: Авторизація в facebook на фронті*\n\nЗа допомогою бібліотеки facebook авторизуємося на facebook, в успішному випадку отримуємо від facebook та id access_token користувача\n\n*Крок 2: Перевірка існування користувача *\n\nРобимо запит на `/sign/?fb_id=10218583626282509&step=facebook-check&lang=ru`\n\nПоля:\n\n- fb_id - id користувача facebook\n\nЯкщо користувач з таким id існує в базі, повертається об'єкт виду\n\n`{\"meta\":{\"code\":200,\"message\":\"0K\",\"request_time\":1574083937,\"access\":{\"offset\":0},\"resource\":\"https:\\/\\/api.eldorado.ua\\/v1\\/sign\\/?login=380633223539&password=null&session_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJndWVzdCIsInN1YiI6InNlc3Npb25JZF9kZjdmZGMxYy02MGU5LTQwNDUtODg4Ni03YzhkNjVjNWNiOTMiLCJpYXQiOjE1NzQwODM4ODksImV4cCI6MTU3NTI5MzQ4OX0.PSpk_kGn__8MQCRq1FyRYG6qWqxVsKEuVK2dXgRrfKg&isFb=true&lang=ru\"},\"data\":{\"access\":{\"user_id\":11111,\"token\":\"$2y$08$cnFka2N6bUkwRUp5Nk4zZU\\/Vri\\/\\/oH32hZZfhapO0ALQ3ibLdmm\",\"expire_date\":\"2019-11-25 15:32:17\"},\"roles\":{\"id\":\"1\",\"name\":\"Admin\",\"active\":\"1\"},\"session\":{\"startTime\":1574083889,\"endTime\":1575293537,\"token\":\"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJndWVzdCIsInN1YiI6InNlc3Npb25JZF9kZjdmZGMxYy02MGU5LTQwNDUtODg4Ni03YzhkNjVjNWNiOTMiLCJpYXQiOjE1NzQwODM4ODksImV4cCI6MTU3NTI5MzUzN30.X1r_B-HIiqyGvp7_yXrbdtrOd6JJs1l_pgUwqMDNzrM\",\"user\":{\"id\":25251,\"name\":\"\\u0410\\u043b\\u0435\\u043a\\u0441\\u0435\\u0439\",\"email\":\"eee@gmail.com\",\"profile\":{\"id\":\"11111\",\"user_id\":\"11111\",\"member_id\":null,\"last_name\":\"\\u0411\\u0430\\u0440\\u0430\\u043d\\u043e\\u0432\",\"first_name\":\"\\u0410\\u043b\\u0435\\u043a\\u0441\\u0435\\u0439\",\"middle_name\":\"\",\"birthday\":\"1987-01-14\",\"gender\":\"0\",\"marital_status\":null,\"car_owner\":null,\"form_fill_date\":null,\"client_social_id\":null,\"class_social_id\":null,\"activate_personal_pages\":null,\"profile_fill_state_id\":null,\"updated_at\":null,\"created_at\":null,\"when_last_authorize\":null,\"socialaccounts_email\":null,\"client_user_agent\":null,\"client_signed\":null,\"registration_date\":null,\"call_failure_count\":null,\"activate_info_kiosk\":null,\"businessID\":null,\"partner_source_id\":null,\"client_browser\":null,\"language_id\":null,\"language_name\":null,\"id_phone_numbers\":\"0\",\"client_address_id\":\"\",\"id_client_emails\":null},\"cards\":[{\"number\":\"1011019328\"}],\"phone\":\"380633223539\",\"auth\":true,\"ip\":\"10.4.210.11\",\"ua\":\"Mozilla\\/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/78.0.3904.97 Safari\\/537.36\"},\"access\":{\"user_id\":25251,\"token\":\"$2y$08$cnFka2N6bUkwRUp5Nk4zZOJU\\/Vri\\/\\/oH32hZZfhapO0ALQ3ibLdmm\",\"expire_date\":\"2019-11-25 15:32:17\"}}}}`\n\nПісля цього виконуємо запит `/sign/?login=380633223539&password=null&session_token=KJsg857th6ctn4tn34cn4cb437tcn43xntb4&isFb=true`\n\nЯкщо в базі такого користувача немає, відповідь буде наступного виду:\n\n`{\"meta\":{\"code\":200,\"message\":\"0K\",\"request_time\":1574088771,\"limit\":null,\"total\":null,\"offset\":null,\"resource\":\"https:\\/\\/api.eldorado.ua\\/v1\\/sign\\/?fb_id=10218583626282509&step=facebook-check&lang=ru\"},\"data\":{\"userExists\":false,\"fbUserExists\":false,\"fbUserId\":\"10218583626282509\",\"nextStep\":\"facebook-phone-step\"}}`\n\nІ далі необхідно йти шляхом звичайної покрокової авторизації - запропонувати ввести номер телефону - відправити на цей номер код верифікації. При відправленні коду верифікації на перевірку, необхідно додати до запиту facebook acces380633223539{phone}&verification_code=1111&step=verification-step&fb_access_token=cj9t7cjt7y245ct7NX7T47T7Tnc7t4c`\n\nПісля валідации коду авторизуємо користувача на сайті\n",
        "responses" : {
          "200" : {
            "description" : "успішна авторизація",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object"
                    },
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "access" : {
                          "type" : "object",
                          "properties" : {
                            "user_id" : {
                              "type" : "string",
                              "example" : 777
                            },
                            "token" : {
                              "type" : "string",
                              "example" : "qwerty"
                            },
                            "expire_date" : {
                              "type" : "string",
                              "example" : "2020-02-01 15:16:42"
                            }
                          }
                        },
                        "refresh" : {
                          "type" : "object",
                          "properties" : {
                            "user_id" : {
                              "type" : "string",
                              "example" : 777
                            },
                            "refresh_token" : {
                              "type" : "string",
                              "example" : "refresh_qwerty"
                            },
                            "expire_date" : {
                              "type" : "string",
                              "example" : "2020-02-01 15:16:42"
                            }
                          }
                        },
                        "phone" : {
                          "type" : "object"
                        },
                        "roles" : {
                          "type" : "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users_profile" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Отримати профіль користувача або к-сть бонусів",
        "operationId" : "users_profile",
        "description" : "Отримати профіль користувача або к-сть бонусів на основі token\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        }, {
          "in" : "query",
          "name" : "return-bonuses",
          "schema" : {
            "type" : "string"
          },
          "description" : "Якщо передати, вернеться к-сть бонусів"
        }, {
          "in" : "query",
          "name" : "id",
          "schema" : {
            "type" : "integer"
          },
          "description" : "id з моделі User. Потрібно передавати завжди, коли передається параметр `return-bonuses`"
        } ],
        "responses" : {
          "200" : {
            "description" : "профіль користувача",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsersProfileItem"
                }
              }
            }
          },
          "201" : {
            "description" : "200 відповідь, якщо переданий параметр `return-bonuses`",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsersProfileBonusesItem"
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      },
      "put" : {
        "tags" : [ "users" ],
        "summary" : "Редагування контактної інформації (профілю)",
        "operationId" : "users_profile_put",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        }, {
          "in" : "query",
          "name" : "id",
          "schema" : {
            "type" : "integer"
          },
          "description" : "id користувача з моделі User",
          "required" : true
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "data" : {
                    "$ref" : "#/components/schemas/UsersProfileItem"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "оновлений профіль",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/UsersProfileItem"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user_feedback" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Отримати звернення клиента",
        "operationId" : "user_feedback_get",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        } ],
        "description" : "Отримати звернення клиента\n",
        "responses" : {
          "200" : {
            "description" : "звернення клієнта",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UsersFeedbackItem"
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      },
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Надсилання звернення клієнта",
        "operationId" : "users_feedback_post",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UsersFeedbackItem"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "оновлений профіль",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/UsersFeedbackItem"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user_feedback_categories" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Отримати категорії звернень користувачів",
        "operationId" : "user_feedback_categories",
        "description" : "Отримати категорії звернень користувачів для використання в `/user_feedback`\n",
        "responses" : {
          "200" : {
            "description" : "категорії звернень користувачів",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UsersFeedbackCategoriesItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users_price_watch" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Получить список \"Следить за ценой\" для авторизованого юзера",
        "operationId" : "users_price_watch",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        }, {
          "$ref" : "#/components/parameters/offset"
        }, {
          "$ref" : "#/components/parameters/limit"
        } ],
        "responses" : {
          "200" : {
            "description" : "список \"Следить за ценой\"",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UsersPriceWatchItem"
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      },
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Добавить товар в список \"Следить за ценой\" для авторизованого юзера",
        "operationId" : "cerate users_price_watch",
        "description" : "Добавить товар в список \"Следить за ценой\" для авторизованого юзера\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        } ],
        "responses" : {
          "200" : {
            "description" : "список \"Следить за ценой\"",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/UsersPriceWatchItem"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      },
      "delete" : {
        "tags" : [ "users" ],
        "summary" : "Видалити товар з списоку \"Следить за ценой\" для авторизованого юзера",
        "operationId" : "users_price_watch_delete",
        "description" : "Видалити товар з списоку \"Следить за ценой\" для авторизованого юзера\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "id модели для удаления",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "id=119"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "список \"Следить за ценой\"",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string",
                        "example" : ""
                      }
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/search" : {
      "get" : {
        "tags" : [ "goods" ],
        "summary" : "Поиск по товарам",
        "operationId" : "search",
        "description" : "Получить наиболее подходящие под запрос товары\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/q"
        }, {
          "$ref" : "#/components/parameters/cat"
        }, {
          "$ref" : "#/components/parameters/limit"
        }, {
          "$ref" : "#/components/parameters/offset"
        }, {
          "$ref" : "#/components/parameters/columns"
        }, {
          "name" : "showSimilarQueries",
          "in" : "query",
          "description" : "вертати схожі запити до надісланого",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "набор товаров, с которых нужно взять только id, и потом загрузить через стандартный метод каталога",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/SearchItem"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/best_offers" : {
      "get" : {
        "tags" : [ "goods" ],
        "summary" : "Кращі пропозиції",
        "operationId" : "best_offers_get",
        "description" : "Отримати набір кращих пропозицій товарів\n",
        "parameters" : [ {
          "name" : "full_data",
          "required" : true,
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "згрупований по категорії набір товарів\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/BestOffersItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/reviews_goods" : {
      "summary" : "Просмотренные пользователем товары",
      "get" : {
        "tags" : [ "goods" ],
        "summary" : "получить просмотренные пользователем товары",
        "operationId" : "reviews_goods_get",
        "description" : "получить просмотренные авторизованным пользователем товары\n",
        "parameters" : [ {
          "in" : "query",
          "required" : true,
          "name" : "user_hash",
          "description" : "Захешированная алгоритмом md5 строка, которая состоит из слова \"user\" и ID авторизованного пользователя (получаем при авторизации методом /sign). Например \"user1111\".\n",
          "schema" : {
            "type" : "integer",
            "example" : 11111
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "данные о просмотренных ранее пользователем товарах\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/CatalogGood"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "goods" ],
        "summary" : "получить просмотренные пользователем товары",
        "operationId" : "reviews_goods_post",
        "description" : "Сохранение в базе информации о просмотренном авторизированным пользователем товаре\n",
        "parameters" : [ {
          "in" : "query",
          "required" : true,
          "name" : "user_hash",
          "description" : "Захешированная алгоритмом md5 строка, которая состоит из слова \"user\" и ID авторизованного пользователя (получаем при авторизации методом /sign). Например \"user1111\".\n",
          "schema" : {
            "type" : "integer",
            "example" : 11111
          }
        }, {
          "in" : "query",
          "required" : true,
          "name" : "goods_id",
          "description" : "ID товара товара из модели Goods\n",
          "schema" : {
            "type" : "integer",
            "example" : 111111
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "данные о успешно добавленной записи\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "properties" : {
                          "user_hash" : {
                            "type" : "string",
                            "example" : "cm40958tu2c8m5y97cmehaoc7"
                          },
                          "goods_id" : {
                            "type" : "integer",
                            "example" : 123456
                          },
                          "insert_id" : {
                            "type" : "integer",
                            "example" : 1231456
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders" : {
      "summary" : "Заказы",
      "get" : {
        "tags" : [ "orders" ],
        "summary" : "получить список заказов",
        "operationId" : "orders_get",
        "description" : "отримати список замовлень користувача по токену\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/conditions"
        }, {
          "$ref" : "#/components/parameters/limit"
        }, {
          "$ref" : "#/components/parameters/offset"
        }, {
          "$ref" : "#/components/parameters/columns"
        }, {
          "$ref" : "#/components/parameters/token"
        }, {
          "$ref" : "#/components/parameters/relations"
        } ],
        "responses" : {
          "200" : {
            "description" : "список замовлень",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/OrdersItem"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      },
      "post" : {
        "tags" : [ "orders" ],
        "operationId" : "orders",
        "description" : "Створення замовлення \\\n\\\nНа даний момент істнують такі обмеження можливих варіантів доставки-оплати\n* Якщо серед `goods` є хоча б один, з параметром `ext_category_id` IN (15,16,17) - самовивіз доступний (fromShop), але зі способів оплати завжди доступні *тільки* `26`, `applePay`, `googlePay`, `monobank`, `abank`, `alfabank` \\\n  та при деяких умовах доступний `cash`, див. /v1/goods_prepay (примітка це пункт буде описаний 12.2019, поки що в моб апп це робити не потрібно)\n* Якщо серед `goods` є хоча б один, з параметром `sell_status` < 4 - адресна доставка та НП недоступні (addresses, fromNewPost)\n* Способи оплати `masterCard`, `partPayOnShop`, `credit` - доступні тільки для самовивозу (fromShop)\n* Способи оплати `3`, `24` - доступні тільки для адресної і НП\n",
        "requestBody" : {
          "description" : "обьект заказа для создания",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OrdersItem"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "созданная модель заказа"
          }
        }
      }
    },
    "/mono_postback" : {
      "summary" : "Робота з замовленням з способом оплати \"monobank\"",
      "get" : {
        "tags" : [ "orders" ],
        "operationId" : "mono_postback",
        "description" : "Цей метод потрібно викликати спочатку перед створенням замовлення для валідації клієнта, чи зареєстрований він в monobank - див. параметр `phone` \\\nПотім, після створення замовленя, потрібно викликати цей метод з параметром `order_id`. І робити це з інтервалом (5-10 сек). \\\nЯк тільки у відповідь прийде `state='IN_PROCESS'` та `order_sub_state='WAITING_FOR_STORE_CONFIRM'` - це означає, що клієнт замовлення оплатив і його потрібно перенаправити на ThankYouPage. \\\nПоки `state` та `order_sub_state` дорівнюють будь-якому іншому значенню - клієнту потрібно відображати екран з проханням підтвердити оплату частинами в мобільному застосунку Monobank \\\nЯкщо у відповідь прийде `state=FAIL` потрібно показати екран, що замовлення не успішне \\\nДетальніше про статуси див. https://u2.ftband.com/docs/index.html#operation/getOrderStateUsingPOST\n",
        "parameters" : [ {
          "in" : "query",
          "name" : "phone",
          "description" : "Телефон клиента в формате 3800000000. \\\nЯкщо переданий цей параметр у відповідь може прийти\n* `200` - клієнт в монобанку є\n* `404` - клієнта в монобанку немає, оформити замовлення неможливо\n",
          "schema" : {
            "type" : "integer",
            "example" : 3800000000
          }
        }, {
          "in" : "query",
          "name" : "order_id",
          "description" : "id створеного замовлення, див. `/orders` \\\nЯкщо переданий цей параметр див. стандартну 200 відповідь\n",
          "schema" : {
            "type" : "integer",
            "example" : 3800000000
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/MonoPostbackItem"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/abank_postback" : {
      "summary" : "Робота з замовленням з способом оплати \"A-Bank\"",
      "get" : {
        "tags" : [ "orders" ],
        "operationId" : "abank_postback",
        "description" : "Цей метод потрібно викликати спочатку перед створенням замовлення для валідації клієнта, чи зареєстрований він в monobank - див. параметр `phone` \\\nПотім, після створення замовленя, потрібно викликати цей метод з параметром `order_id`. І робити це з інтервалом (5-10 сек). \\\nЯк тільки у відповідь прийде `state='IN_PROCESS'` та `order_sub_state='WAITING_FOR_STORE_CONFIRM'` - це означає, що клієнт замовлення оплатив і його потрібно перенаправити на ThankYouPage. \\\nПоки `state` та `order_sub_state` дорівнюють будь-якому іншому значенню - клієнту потрібно відображати екран зі статусами обробки замовлення, які приходять в респонсі запиту abank_postback\\\nЯкщо у відповідь прийде `state=FAIL` потрібно показати екран, що замовлення не успішне \\\n",
        "parameters" : [ {
          "in" : "query",
          "name" : "phone",
          "description" : "Телефон клиента в формате 3800000000. \\\nЯкщо переданий цей параметр у відповідь може прийти\n* `200` - клієнт в монобанку є\n* `404` - клієнта в монобанку немає, оформити замовлення неможливо\n",
          "schema" : {
            "type" : "integer",
            "example" : 3800000000
          }
        }, {
          "in" : "query",
          "name" : "order_id",
          "description" : "id створеного замовлення, див. `/orders` \\\nЯкщо переданий цей параметр див. стандартну 200 відповідь\n",
          "schema" : {
            "type" : "integer",
            "example" : 3800000000
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/AbankPostbackItem"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/payment_types" : {
      "summary" : "Способи оплати замовлення",
      "get" : {
        "tags" : [ "orders" ],
        "operationId" : "payment_types",
        "description" : "Див. `/orders` параметр `creditPaymentType`\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/conditions"
        }, {
          "$ref" : "#/components/parameters/limit"
        }, {
          "$ref" : "#/components/parameters/offset"
        } ],
        "responses" : {
          "200" : {
            "description" : "набір способів оплати",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/PaymentTypesItem"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/users_waitlist" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Отримати список \"Список очікування\"",
        "operationId" : "users_waitlist",
        "description" : "Отримати список \"Список очікування\" для авторизованого користувача\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        }, {
          "$ref" : "#/components/parameters/conditions"
        } ],
        "responses" : {
          "200" : {
            "description" : "список \"Список очікування\"",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UsersWaitlistItem"
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      },
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Додати товар в \"Список очікування\"",
        "operationId" : "users_waitlist_post",
        "description" : "Додати товар в \"Список очікування\"\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UsersWaitlistItem"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "список \"Список очікування\"",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/UsersWaitlistItem"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      },
      "delete" : {
        "tags" : [ "users" ],
        "summary" : "Видалити товар з \"Список очікування\"",
        "operationId" : "users_waitlit_delete",
        "description" : "Видалити товар з \"Список очікування\"\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        }, {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "список \"Список очікування\"",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/UsersWaitlistItem"
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/409Conflict"
          }
        }
      }
    },
    "/users_wishlist" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Получить список \"Список желаний\"",
        "operationId" : "users_wishlist",
        "description" : "Получить список \"Список желаний\"\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        } ],
        "responses" : {
          "200" : {
            "description" : "список \"Список желаний\"",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UsersWishlist"
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      },
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Добавить товар в \"Список желаний\"",
        "operationId" : "add_users_wishlist",
        "description" : "Добавить товар в \"Список желаний\"\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UsersWishlist"
              },
              "example" : {
                "user_id" : 25251,
                "goods_id" : 123456
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "список \"Список желаний\"",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/UsersWishlist"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      },
      "delete" : {
        "tags" : [ "users" ],
        "summary" : "Удалить товар из \"Список желаний\"",
        "operationId" : "delete_users_wishlist",
        "description" : "Удалить товар из \"Список желаний\"\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        }, {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "список \"Список желаний\"",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/UsersWishlist"
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/409Conflict"
          }
        }
      }
    },
    "/users_emails" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Отримати статус підписки на розсилку по email",
        "operationId" : "users_emails_get",
        "description" : "Отримати статус підписки на розсилку по email \\\nЯкщо `esputnik_id` не null - email підписаний\n",
        "parameters" : [ {
          "in" : "query",
          "name" : "email",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 5
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "email",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UsersEmailsItem"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Підписка на email розсилку",
        "operationId" : "users_emails_post",
        "description" : "Підписка на email розсилку, без створення користувача\n",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UsersEmailsItem"
              },
              "example" : {
                "email" : "test@gmail.com",
                "esputnik_forward" : 1
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "підписаний email",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/UsersEmailsItem"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400BadRequest"
          },
          "409" : {
            "$ref" : "#/components/responses/409Conflict"
          }
        }
      },
      "delete" : {
        "tags" : [ "users" ],
        "summary" : "Відписка від розсилки",
        "operationId" : "users_emails_delete",
        "description" : "Відписка від розсилки\n",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "унікальна id запису для видалення",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "example" : 29
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "email відписано успішно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/UsersEmailsItem"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user_deliveries" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Отримати список \"Збережені способи доставки користувача\" для авторизованого юзера",
        "operationId" : "user_deliveries",
        "description" : "Отримати список \"Збережені способи доставки користувача\" для авторизованого юзера\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        } ],
        "responses" : {
          "200" : {
            "description" : "список \"Список желаний\"",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UsersDeliveriesItem"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Додати один спосіб отримання для авторизованого юзера",
        "operationId" : "user_deliveries_post",
        "description" : "Додати один спосіб отримання для авторизованого юзера",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "data" : {
                    "$ref" : "#/components/schemas/UsersDeliveriesItem"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "доданий спосіб отримання",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/UsersDeliveriesItem"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/409Conflict"
          }
        }
      },
      "delete" : {
        "tags" : [ "users" ],
        "summary" : "Видалити спосіб отримання",
        "operationId" : "user_deliveries_delete",
        "description" : "Видалити спосіб отримання",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        }, {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "список \"Список желаний\"",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/UsersDeliveriesItem"
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/users_sms" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Получить список отправленных смс для авторизированного пользователя",
        "operationId" : "users_sms_get",
        "description" : "Получить список отправленных смс для авторизированного пользователя\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        }, {
          "$ref" : "#/components/parameters/conditions"
        }, {
          "$ref" : "#/components/parameters/limit"
        }, {
          "$ref" : "#/components/parameters/offset"
        } ],
        "responses" : {
          "200" : {
            "description" : "список отправленных смс",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UsersSms"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/delivery_types" : {
      "get" : {
        "tags" : [ "orders" ],
        "summary" : "Отримати список способів доставки",
        "operationId" : "delivery_types",
        "description" : "Отримати список способів доставки\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/conditions"
        }, {
          "$ref" : "#/components/parameters/limit"
        }, {
          "$ref" : "#/components/parameters/offset"
        } ],
        "responses" : {
          "200" : {
            "description" : "список способів доставки",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DeliveryTypesItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users_devices" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Получить список девайсов пользователя",
        "operationId" : "users_devices_get",
        "description" : "Получить список девайсов пользователя\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        } ],
        "responses" : {
          "200" : {
            "description" : "список девайсов пользователя",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UserDeviceItem"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Добавить уникальный id устройства",
        "operationId" : "users_devices_post",
        "description" : "Добавить уникальный id устройства",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "data" : {
                    "$ref" : "#/components/schemas/UserDeviceItem"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "добавлено устройство",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/UserDeviceItem"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Общие_концепции_акций" : {
      "get" : {
        "tags" : [ "promotions" ],
        "summary" : "",
        "operationId" : "promo_doc",
        "description" : "Акционные условия находятся в 3 разположеных ниже запросах\n - promotion_catalog\n - promotions_tags\n - promotion_sets\n\n\n В них находятся несколько важных для акций полей\n (в promotions_tags поля вынесены на верхний уровень для удобства но названия у них такие же)\n\nв поле offer\n\n    - \"promotion_algorithm\": \"2\" - по сути тип акции существинный различия от остальных есть (на данный) только в алгоритме 1 - комплекте\n\nОписание поля -\nid алгоритму акції (сума знижки може розраховна за допомогою полів operation_type та price_discount ) назви із сторонньої системи\n\n  - 1   - комплект (TODO докладніше в пункті promotion_sets  )\n  - 2   - скидка - звичайна знижка ( розраховується як звичайна знижка )\n  - 6   - Скидка на позицию в чеке ( знижа на один з товарів у чеку (наприклад третій))\n  - 8   - Bonus (, сумма) ( розмір бонусу розраховуеться так само як і в алгоритмі 2  )\n  - 14  - Кредитные акции ( виводяться так само як і 16 )\n  - 15  - Предзаказ (сейчас работает как 16)\n  - 16  - вывод на сайт ( просто вивід товарів на сайт )\n\nОсновная масса акций имеет алгоритмы 1, 2 и 8 в которых цена товара меняется\n\nОстальные алгоритмы скидок как таковых скидок не дают а просто выводят определенный список товаров\n\n\n    - \"operation_type\": \"Ничего\",\n    - \"price_discount\": \"0\",\n\n\nДля рсчета размера скидки нужно два выше указаных поля\n- price_discount - определяет размер скидки\n\n- правило по которому размер скидки высчитать\n\nОкончательная цена рассчитывается так -\n\nprice - цена товара\nprice_discount - значение поля price_discount\n\nСкидкаПроцент - price - ((price * price_discount) / 100)\nСкидкаСумма   - price - price_discount\nУстановкаЦены - price_discount (просто вместо основной цены установыть значение price_discount)\nНичего        - price (не менять цену)\n\n    \"key_set\": \"0\",\n    \"order_set\": \"0\",\n\nПоля для упорялочивания комплектов (если алгоритм не 1 то значения полей 0)\n\n- key_set - id комплекта в акции\n  Все товары с одинаковым key_set в пределах одной promotion_setting_id (или setting.id)\n  принадлежат одному комплекту\n\n- order_set - порядок товара в комплекте\n\n\nТо-есть если в комплекте есть три товара и значение этого поля равняется 1 то это основной товар\nкомплекта если больше то то один из дополнительных. При значении 2 товар располагается во воторой\nячекйке комплекта, при значении 3 в третей и т.д.\n\nТак как в одной ячейке комплекта\n\nВ поле setting\n\"discount_type\": \"ПодарочнаяКартаVRT\",\n",
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/Меню_фильтров_акции" : {
      "get" : {
        "tags" : [ "promotions" ],
        "summary" : "Отримати список ІД товарів для акції з ІД№ ***",
        "operationId" : "promo_filters_doc",
        "description" : "Акційні фільтри створюються наступним чином:\n\nЄ масив основних категорій меню з рекурсивними дочірніми категоріями під ключем children. Це саме дерево меню https://api.eldorado.ua/v1/menu_output?lang=ru.\n\nДля того щоб отримати активні ІД категорій, які треба відображати в фільтрах - треба виконати запит\nhttps://api.eldorado.ua/v1/goods?get_ids_by_cat_and_promo&promotion_id=4493, який поверне об\"єкт з ключами ІД категорій. Ці ключі - це і є ті категорії, які треба відобразити в фільтрах на сторінці акцій.\n\nДля цього по масиву з меню треба пройти рекурсивно і відсіяти ті категорії яких немає в КЛЮЧАХ об\"єкту який повернувся з https://api.eldorado.ua/v1/goods?get_ids_by_cat_and_promo&promotion_id=4493\n\nПісля цього вивести меню для вибору користувачу, і вибрану категорію передавати в запити на атрибути і товари акції. (параметр categoryId)\n",
        "parameters" : [ {
          "name" : "promotionId",
          "in" : "query",
          "description" : "id категории",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "categoryId = 123123"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/promotion_goods_list" : {
      "get" : {
        "tags" : [ "promotions" ],
        "summary" : "Отримати список відфільтрованих id акційних товарів",
        "operationId" : "promotion_goods_list",
        "description" : "Отримати список відфільтрованих id акційних товарів\n",
        "parameters" : [ {
          "name" : "categoryId",
          "in" : "query",
          "description" : "id категории",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "categoryId = 123123"
          }
        }, {
          "name" : "promotionId",
          "in" : "query",
          "description" : "id акції\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1234"
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "Параметр может принимать несколько значений.\n\n\nНиже объяснения по каждому значению\n\n\n**popularity** - стандартная сортировка (визуализируется как\nпопулярность)\n\n\n**priceUp** - от дешевых к дорогим\n\n\n**priceDown** - от дорогих к дешевым\n\n\n**titleUp** - в алфавитном порядке\n\n\n**titleDown** - в порядке противополжном алфавитному\n",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "popularity", "priceUp", "priceDown", "titleUp", "titleDown" ],
            "example" : "attributes=producer=samsung,xiaomi/2256=2414,2418/5045=37683&order=popularity"
          }
        }, {
          "name" : "attributes",
          "in" : "query",
          "description" : "формирование строки фильтрации аналогично таковому в запросе\n\n    promotion_goods_attributes_list\n\nто есть если нужно получить список id товаров для набора фильтров по запросу\n\n    /v1/promotion_goods_attributes_list?categoryId=1042092&promotionId=123&attributes=11617=170-545/producer=bosch\n\n\nнужно подставить такую же строку и в этот запрос\n\n    /v1/promotion_goods_list?categoryId=1042092&promotionId=123&attributes=11617=170-545/producer=bosch\n",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "attributes=producer=samsung,xiaomi/2256=2414,2418/5045=37683"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "полученый полный список id товаров",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GoodsListItem"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400BadRequest"
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/promotion_goods_attributes_list" : {
      "get" : {
        "tags" : [ "promotions" ],
        "summary" : "Получить список фильтров для акционной страницы",
        "operationId" : "promotion_goods_attributes_list",
        "description" : "Получение форматированого списка фильтров для страницы акции\n",
        "parameters" : [ {
          "name" : "categoryId",
          "in" : "query",
          "description" : "id категории",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "categoryId = 123123"
          }
        }, {
          "name" : "promotionId",
          "in" : "query",
          "description" : "id акції\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1234"
        }, {
          "name" : "attributes",
          "in" : "query",
          "description" : "Cписок фильтров в указаном ниже формате\n\nДля фильтрации по значению определенного атрибута нужно указать значение атрибута\nс помощью оператора\n\n    =\n\nВ примере ниже (в блоке responses) для для фильтрации по \"Система бритья\" со значением \"роторная\"\n\nнужно передать в параметр **attributes** значение *id* данного аттрибута *Система бритья*\n\nв который через опреатор передать значение **value_default_id** из одного из елементов\nполя **defaultValues**\n\nто есть в результате выйдет конструкция\n\n    attributes=1938=1960\n\nзначение *id* аттрибута может быть как числом так строкой (например **producer**)\n\nзначение value_default_id может быть как числом так строкой (например **samsung** или **199-250**)\n\nЧто бы указать несколько значений атрибутов их нужно указать через\n\n    ,\n\nнапример\n\n    attributes=1938=1960,1961\n\n\n\nДля фильтрации по нескольким атрибутам их нужно перечислить через\n\n    /\n\nНапример\n\n    attributes=1938=1960/producer=samsung/1212=1111\n\nтак же одновременно можно указывать и несколько значений\n\n    attributes=1938=1960,1961/producer=samsung,xiaomi\n\nв результате выйдет запрос вида\n\n    /promotion_goods_attributes_list?categoryId=1042092&promotionId=123&attributes=1938=1960,1961/producer=bosch,xiaomi/11617=170-545\n\nи будет возвращен уже новый список атрибутов (они же фильтры)\n\n### Относительно полей в модели атрибута (GoodsAttributesListItem)\n\nВ модели атрибута точно будут возвращены только поля с пометкой * - *required* в схеме ответа\n\nВсе остальные возвращаются опционально и нужны в основном только для сайта\n",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "attributes=producer=samsung,xiaomi/2256=2414,2418/5045=37683"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "полученый полный список фильтров",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GoodsAttributesListItem"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400BadRequest"
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/promotion_catalog" : {
      "get" : {
        "tags" : [ "promotions" ],
        "summary" : "Получить товары для каталога акций",
        "operationId" : "promotion_catalog",
        "description" : "Получить акционную информацию для указаных товаров\n",
        "parameters" : [ {
          "name" : "withGoods",
          "in" : "query",
          "description" : "определяет получать ли товар в запрашиваемом объекте (рекомендуется не использовать)",
          "required" : false,
          "schema" : {
            "type" : "string",
            "nullable" : true
          }
        }, {
          "name" : "goods_ids",
          "in" : "query",
          "description" : "список id товаров\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "111111,222222,333333"
        }, {
          "name" : "promotion_id",
          "in" : "query",
          "description" : "id акции",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : 667
          }
        }, {
          "$ref" : "#/components/parameters/promoRelations"
        }, {
          "$ref" : "#/components/parameters/limit"
        }, {
          "$ref" : "#/components/parameters/offset"
        } ],
        "responses" : {
          "200" : {
            "description" : "полученый набор запрашиваемых товаров для акции",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PromotionCatalogGoodWithSet"
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/promotion_sets" : {
      "get" : {
        "tags" : [ "promotions" ],
        "summary" : "Получить только акционные комплекты по указаным товарам",
        "operationId" : "promotions_set",
        "description" : "Получить только акционные комплекты по указаным товарам\n",
        "parameters" : [ {
          "name" : "condtions",
          "in" : "query",
          "description" : "Условия запроса",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "id = 123"
          }
        }, {
          "$ref" : "#/components/parameters/promoRelations"
        } ],
        "responses" : {
          "200" : {
            "description" : "список акционных комплектов по указаным товарам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PromotionCatalogGoodWithSet"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400BadRequest"
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/promotions_tags" : {
      "get" : {
        "tags" : [ "promotions" ],
        "summary" : "Получить акционные теги",
        "operationId" : "promotion_tags",
        "description" : "Получить акционные теги по указаным критериям\n",
        "parameters" : [ {
          "name" : "get_promo_by_goods",
          "in" : "query",
          "description" : "Определяет фомат ответа. Параметр оставлять пустым.",
          "required" : true,
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "string",
            "example" : "get_promo_by_goods"
          }
        }, {
          "name" : "goods_ids",
          "in" : "query",
          "description" : "Список id товаров по которым будут получены акционные теги",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "goods_ids=12132"
          }
        }, {
          "name" : "outputPosition",
          "in" : "query",
          "description" : "Место вывода тега\n  - checkout - страница чекаута (<a href='https://eldorado.ua/checkout/'> https://eldorado.ua/checkout/ </a> - для входа нужен товар в корзине)\n  - catalog - любая страница каталога как обычного (<a href='https://eldorado.ua/smartphones/c1038946/'> https://eldorado.ua/smartphones/c1038946/ </a>), так т акционного (<a href='https://eldorado.ua/promotion/611/'> https://eldorado.ua/promotion/611/ </a>)\n  - cart - вывод в модальном окне корзины (сейчас почти не используется для вывода в корзину чаще используется checkout)\n  - product - вывод тега на страницу товара (<a href='https://eldorado.ua/smartfon-samsung-sm-j600-galaxy-j6-black-sm-j600-fzkdsek-/p71252394/'> https://eldorado.ua/smartfon-samsung-sm-j600-galaxy-j6-black-sm-j600-fzkdsek-/p71252394/ </a>)\n  - promotion - вівод тега толко на акционный каталог (<a href='https://eldorado.ua/promotion/611/'> https://eldorado.ua/promotion/611/ </a>)\n  - all_promo_page - тег для фильтрации акций на странице всех акций по типам (<a href='https://eldorado.ua/promotions/'> https://eldorado.ua/promotions/ </a> - галочки на сиранице)\n\n  **Любой тег может облядать множеством мест для вывода но запрашивать можно только по одному**\n",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "outputPosition='product'",
            "enum" : [ "checkout", "catalog", "cart", "product", "promotion", "all_promo_page" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "список акционных тегов",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PromotionTagItem"
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/promotions{promotions_slider_list}" : {
      "get" : {
        "tags" : [ "promotions" ],
        "summary" : "Отримати список акцій",
        "operationId" : "promotions{promotions_slider_list}",
        "description" : "Отримати список акцій\n",
        "parameters" : [ {
          "name" : "promotions_slider_list",
          "in" : "path",
          "description" : "Параметр котрий змінює формат відповіді",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "?promotions_slider_list"
          }
        }, {
          "$ref" : "#/components/parameters/limit"
        }, {
          "$ref" : "#/components/parameters/offset"
        } ],
        "responses" : {
          "200" : {
            "description" : "список акцій",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PromotionSliderItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/promotion_images" : {
      "get" : {
        "tags" : [ "promotions" ],
        "summary" : "Отримати набір зображень для акцій",
        "operationId" : "promotion_images",
        "description" : "Отримати набір зображень для акцій\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/conditions"
        } ],
        "responses" : {
          "200" : {
            "description" : "список акцій",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PromotionSliderItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/push_service" : {
      "post" : {
        "tags" : [ "service" ],
        "summary" : "Отправка push-увыедомления для мобильного устройства",
        "operationId" : "push_service_post",
        "description" : "Отправка push-увыедомления для мобильного устройства\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/token"
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PushServiceItem"
              },
              "example" : {
                "user_id" : 25251,
                "device_id" : "wrtwtc34t34ct34c534c345",
                "title" : "Заголовок",
                "body" : "Текст"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "список \"Результат отправки\"",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "format" : "binary"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/PushServiceItem"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/promo_code" : {
      "post" : {
        "tags" : [ "promotions" ],
        "summary" : "Перевірка валідності промо кода",
        "operationId" : "promo_code_post",
[...]
