{
  "openapi" : "3.0.0",
  "info" : {
    "version" : "2.0",
    "title" : "Миста",
    "description" : "AJAX-API форума Миста.ру (новая версия)"
  },
  "servers" : [ {
    "url" : "https://forum.mista.ru/apiv2/"
  } ],
  "paths" : {
    "/topics.php" : {
      "get" : {
        "summary" : "Список тем форума",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "число тем, которые нужно вернуть",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "default" : 20
          }
        }, {
          "name" : "utime",
          "in" : "query",
          "description" : "время после которого надо вернуть ветки",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "unixtime"
          }
        }, {
          "name" : "forum",
          "in" : "query",
          "description" : "раздел форума",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/forum"
          }
        }, {
          "name" : "section",
          "in" : "query",
          "description" : "Краткое имя секции",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "mytopics",
          "in" : "query",
          "description" : "Только свои темы",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "enum" : [ 1 ]
          }
        }, {
          "name" : "user_id",
          "in" : "query",
          "description" : "Только темы пользователя",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "enum" : [ 1 ]
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "Если указано, то ответ заворачивается в вызов функции, имя которой передано в параметре (реализация JSONP)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entr_key",
          "in" : "cookie",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entr_hash",
          "in" : "cookie",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/topic"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/topic.php" : {
      "get" : {
        "summary" : "Информация о ветке",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "description" : "Идентификатор темы",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "Если указано, то ответ заворачивается в вызов функции, имя которой передано в параметре (реализация JSONP)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entr_key",
          "in" : "cookie",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entr_hash",
          "in" : "cookie",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/topicInfo"
                }
              }
            }
          }
        }
      }
    },
    "/topicviewers.php" : {
      "get" : {
        "summary" : "Пользователи, просматривающие ветку",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "description" : "Идентификатор темы",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "Если указано, то ответ заворачивается в вызов функции, имя которой передано в параметре (реализация JSONP)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entr_key",
          "in" : "cookie",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entr_hash",
          "in" : "cookie",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/user"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/messages.php" : {
      "get" : {
        "summary" : "Список сообщений темы",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "description" : "Идентификатор темы",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Номер первого сообщения",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "Номер последнего сообщения",
          "required" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "Если указано, то ответ заворачивается в вызов функции, имя которой передано в параметре (реализация JSONP)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entr_key",
          "in" : "cookie",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entr_hash",
          "in" : "cookie",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/message"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sections.php" : {
      "get" : {
        "summary" : "Список секций",
        "parameters" : [ {
          "name" : "callback",
          "in" : "query",
          "description" : "Если указано, то ответ заворачивается в вызов функции, имя которой передано в параметре (реализация JSONP)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/section"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users.php" : {
      "get" : {
        "summary" : "Список пользователей",
        "parameters" : [ {
          "name" : "username",
          "in" : "query",
          "description" : "Фильтр по имени",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "Если указано, то ответ заворачивается в вызов функции, имя которой передано в параметре (реализация JSONP)",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/user"
                }
              }
            }
          }
        }
      }
    },
    "/user.php" : {
      "get" : {
        "summary" : "Информация о пользователе",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "description" : "id пользователя",
          "required" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "username",
          "in" : "query",
          "description" : "Ник пользователя",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "Если указано, то ответ заворачивается в вызов функции, имя которой передано в параметре (реализация JSONP)",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/userInfo"
                }
              }
            }
          }
        }
      }
    },
    "/bans.php" : {
      "get" : {
        "summary" : "Информация о текущих банах пользователя",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "description" : "id пользователя",
          "required" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "Если указано, то ответ заворачивается в вызов функции, имя которой передано в параметре (реализация JSONP)",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ban"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/find.php" : {
      "get" : {
        "summary" : "Поиск",
        "parameters" : [ {
          "name" : "text",
          "in" : "query",
          "description" : "текст, содержащийся в заголовке темы",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "forum",
          "in" : "query",
          "description" : "раздел форума",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/forum"
          }
        }, {
          "name" : "section",
          "in" : "query",
          "description" : "Краткое наименование секции",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "Если указано, то ответ заворачивается в вызов функции, имя которой передано в параметре (реализация JSONP)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entr_key",
          "in" : "cookie",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entr_hash",
          "in" : "cookie",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/topic"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lasterror.php" : {
      "get" : {
        "summary" : "Последняя ошибка (пусто, если последнее действие без ошибки)",
        "parameters" : [ {
          "name" : "callback",
          "in" : "query",
          "description" : "Если указано, то ответ заворачивается в вызов функции, имя которой передано в параметре (реализация JSONP)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entr_key",
          "in" : "cookie",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entr_hash",
          "in" : "cookie",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "text" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/islogged.php" : {
      "get" : {
        "summary" : "Вход выполнен",
        "parameters" : [ {
          "name" : "entr_key",
          "in" : "cookie",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entr_hash",
          "in" : "cookie",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "Если указано, то ответ заворачивается в вызов функции, имя которой передано в параметре (реализация JSONP)",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "logged" : {
                      "type" : "integer"
                    },
                    "id" : {
                      "type" : "integer"
                    },
                    "name" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/login.php" : {
      "post" : {
        "summary" : "Авторизация",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "required" : [ "username", "password" ],
                "properties" : {
                  "username" : {
                    "type" : "string",
                    "description" : "Имя пользователя"
                  },
                  "password" : {
                    "type" : "string",
                    "description" : "Пароль"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/logout.php" : {
      "get" : {
        "summary" : "Выход",
        "parameters" : [ {
          "name" : "entr_key",
          "in" : "cookie",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entr_hash",
          "in" : "cookie",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/newmessage.php" : {
      "post" : {
        "summary" : "Добавление сообщения в пост",
        "parameters" : [ {
          "name" : "entr_key",
          "in" : "cookie",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entr_hash",
          "in" : "cookie",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "required" : [ "message_text", "topic_id" ],
                "properties" : {
                  "topic_id" : {
                    "type" : "integer",
                    "description" : "id ветки"
                  },
                  "message_text" : {
                    "type" : "string",
                    "description" : "Текст сообщения"
                  },
                  "voting_select" : {
                    "type" : "integer"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/newtopic.php" : {
      "post" : {
        "summary" : "Добавление нового поста",
        "parameters" : [ {
          "name" : "entr_key",
          "in" : "cookie",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entr_hash",
          "in" : "cookie",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "required" : [ "topic", "message", "forum", "section" ],
                "properties" : {
                  "topic" : {
                    "type" : "string",
                    "description" : "Заголовок сообщения"
                  },
                  "message" : {
                    "type" : "string",
                    "description" : "Текст сообщения"
                  },
                  "forum" : {
                    "$ref" : "#/components/schemas/forum"
                  },
                  "section" : {
                    "type" : "string",
                    "description" : "Краткое имя секции"
                  },
                  "voting" : {
                    "type" : "integer",
                    "description" : "Есть голосование",
                    "enum" : [ 1 ]
                  },
                  "select1" : {
                    "type" : "string",
                    "description" : "Вариант голосования 1"
                  },
                  "select2" : {
                    "type" : "string",
                    "description" : "Вариант голосования 2"
                  },
                  "select3" : {
                    "type" : "string",
                    "description" : "Вариант голосования 3"
                  },
                  "select4" : {
                    "type" : "string",
                    "description" : "Вариант голосования 4"
                  },
                  "select5" : {
                    "type" : "string",
                    "description" : "Вариант голосования 5"
                  },
                  "select6" : {
                    "type" : "string",
                    "description" : "Вариант голосования 6"
                  },
                  "select7" : {
                    "type" : "string",
                    "description" : "Вариант голосования 7"
                  },
                  "select8" : {
                    "type" : "string",
                    "description" : "Вариант голосования 8"
                  },
                  "select9" : {
                    "type" : "string",
                    "description" : "Вариант голосования 9"
                  },
                  "select10" : {
                    "type" : "string",
                    "description" : "Вариант голосования 10"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "forum" : {
        "type" : "string",
        "description" : "раздел форума",
        "enum" : [ "1c", "it", "life", "job" ]
      },
      "topic" : {
        "type" : "object",
        "description" : "Описание темы в списке тем",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Идентификатор темы",
            "example" : 848640
          },
          "text" : {
            "type" : "string",
            "description" : "Заголовок темы",
            "example" : "OFF: lsFusion vs 1C. Раунд 13"
          },
          "forum" : {
            "$ref" : "#/components/schemas/forum"
          },
          "section" : {
            "type" : "string",
            "description" : "Код секции",
            "example" : "lsFusion"
          },
          "section_name" : {
            "type" : "string",
            "description" : "Наименование секции",
            "example" : "lsFusion"
          },
          "created" : {
            "type" : "integer",
            "format" : "unixtime",
            "description" : "Время создания ветки"
          },
          "user_id" : {
            "type" : "integer",
            "description" : "ID последнего ответившего",
            "example" : 123383
          },
          "user_name" : {
            "type" : "string",
            "description" : "Ник последнего ответившего",
            "example" : "CrushBy"
          },
          "updated" : {
            "type" : "integer",
            "format" : "unixtime",
            "description" : "Время последнего ответа"
          },
          "updated_user" : {
            "type" : "string",
            "description" : "Ник последнего ответившего",
            "example" : "CrushBy"
          },
          "updated_user_id" : {
            "type" : "integer",
            "description" : "id последнего ответившего",
            "example" : 123383
          },
          "closed" : {
            "type" : "integer",
            "enum" : [ 1 ],
            "description" : "Тема закрыта"
          },
          "down" : {
            "type" : "integer",
            "enum" : [ 1 ],
            "description" : "Тема утоплена"
          },
          "deleted" : {
            "type" : "integer",
            "enum" : [ 1 ],
            "description" : "Тема удалена"
          },
          "replies" : {
            "type" : "integer",
            "description" : "Число сообщений в ветке",
            "example" : 611
          },
          "is_voting" : {
            "type" : "integer",
            "enum" : [ 1 ],
            "description" : "Есть голосование"
          },
          "my_last_reply" : {
            "type" : "integer",
            "description" : "Номер моего последнего ответа"
          }
        }
      },
      "topicInfo" : {
        "type" : "object",
        "description" : "Подробное описание темы (тема + голосование)",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Идентификатор темы",
            "example" : 848640
          },
          "text" : {
            "type" : "string",
            "description" : "Заголовок темы",
            "example" : "OFF: lsFusion vs 1C. Раунд 13"
          },
          "forum" : {
            "$ref" : "#/components/schemas/forum"
          },
          "section" : {
            "type" : "integer",
            "description" : "Код секции (если есть)",
            "example" : 54
          },
          "created" : {
            "type" : "integer",
            "format" : "unixtime",
            "description" : "Время создания ветки"
          },
          "user_id" : {
            "type" : "integer",
            "description" : "ID автора",
            "example" : 123383
          },
          "user_name" : {
            "type" : "string",
            "description" : "Ник автора",
            "example" : "CrushBy"
          },
          "updated" : {
            "type" : "integer",
            "format" : "unixtime",
            "description" : "Время последнего ответа"
          },
          "updated_user" : {
            "type" : "string",
            "description" : "Ник последнего ответившего",
            "example" : "CrushBy"
          },
          "updated_user_id" : {
            "type" : "integer",
            "description" : "id последнего ответившего",
            "example" : 123383
          },
          "down" : {
            "type" : "integer",
            "enum" : [ 1 ],
            "description" : "Тема утоплена"
          },
          "closed" : {
            "type" : "integer",
            "enum" : [ 1 ],
            "description" : "Тема закрыта"
          },
          "deleted" : {
            "type" : "integer",
            "enum" : [ 1 ],
            "description" : "Тема удалена"
          },
          "replies" : {
            "type" : "integer",
            "description" : "Число сообщений в ветке",
            "example" : 611
          },
          "is_voting" : {
            "type" : "integer",
            "enum" : [ 1 ],
            "description" : "Есть голосование"
          },
          "voting" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "select" : {
                  "type" : "string",
                  "description" : "Описание пункта"
                },
                "result" : {
                  "type" : "integer",
                  "description" : "Количество проголосовавших"
                }
              }
            }
          }
        }
      },
      "message" : {
        "type" : "object",
        "description" : "Сообщение в теме",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Идентификатор темы",
            "example" : 848640
          },
          "n" : {
            "type" : "integer",
            "description" : "Номер сообщения"
          },
          "text" : {
            "type" : "string",
            "description" : "Текст сообщения (html)"
          },
          "user" : {
            "type" : "string",
            "description" : "Ник пользователя"
          },
          "user_id" : {
            "type" : "integer",
            "description" : "id пользователя"
          },
          "user_registred" : {
            "type" : "integer",
            "format" : "unixtime",
            "description" : "Дата регистрации пользователя"
          },
          "utime" : {
            "type" : "integer",
            "description" : "Время ответа в формате unixtime"
          },
          "vote" : {
            "type" : "integer",
            "description" : "Номер пункта голосования"
          }
        }
      },
      "section" : {
        "type" : "object",
        "description" : "Описание секции",
        "properties" : {
          "forum" : {
            "$ref" : "#/components/schemas/forum"
          },
          "shortn" : {
            "type" : "string"
          },
          "fulln" : {
            "type" : "string"
          },
          "id" : {
            "type" : "integer"
          }
        }
      },
      "user" : {
        "type" : "object",
        "description" : "Описание пользователя",
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "userInfo" : {
        "type" : "object",
        "description" : "Подробное описание пользователя",
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "name" : {
            "type" : "string",
            "description" : "Ник"
          },
          "realname" : {
            "type" : "string",
            "description" : "Настоящее имя"
          },
          "email" : {
            "type" : "string"
          },
          "contacts" : {
            "type" : "string",
            "description" : "Контакты"
          },
          "url" : {
            "type" : "string"
          },
          "city" : {
            "type" : "string",
            "description" : "Город, страна"
          },
          "birthday" : {
            "type" : "string",
            "description" : "День рождения"
          },
          "timezone" : {
            "type" : "string",
            "description" : "Часовой пояс"
          },
          "gender" : {
            "type" : "string",
            "description" : "Пол"
          },
          "job" : {
            "type" : "string",
            "description" : "Род занятий"
          },
          "achievements" : {
            "type" : "string",
            "description" : "Достижения (опыт)"
          },
          "hobbies" : {
            "type" : "integer",
            "description" : "Интересы"
          },
          "role" : {
            "type" : "string",
            "description" : "Роль на форуме"
          },
          "registred" : {
            "type" : "integer",
            "description" : "Дата регистрации"
          },
          "messages" : {
            "type" : "integer",
            "description" : "Сообщений"
          },
          "topics" : {
            "type" : "integer",
            "description" : "Тем"
          }
        }
      },
      "ban" : {
        "type" : "object",
        "description" : "Описание бана пользователя",
        "properties" : {
          "admin_id" : {
            "type" : "integer"
          },
          "admin_name" : {
            "type" : "string"
          }
        }
      }
    }
  }
}