{
  "openapi" : "3.0.0",
  "servers" : [ {
    "description" : "Actimo API",
    "url" : "http://actimo.com/api/v1"
  } ],
  "info" : {
    "description" : "Proprietary API for Actimo ApS\n",
    "version" : "1.2.2",
    "title" : "Actimo API",
    "termsOfService" : "https://www.actimo.com/terms-conditions/",
    "contact" : {
      "email" : "devs@actimo.com"
    }
  },
  "tags" : [ {
    "name" : "account",
    "description" : "user accounts"
  }, {
    "name" : "assets",
    "description" : "assets used in theme editor"
  }, {
    "name" : "automations"
  }, {
    "name" : "contacts",
    "description" : "end users"
  }, {
    "name" : "clients"
  }, {
    "name" : "content"
  }, {
    "name" : "dashboards"
  }, {
    "name" : "device"
  }, {
    "name" : "folder"
  }, {
    "name" : "groups"
  }, {
    "name" : "integration",
    "description" : "Client-level integrations can add, update and remove existing contacts. Credentials may vary."
  }, {
    "name" : "media"
  }, {
    "name" : "messages"
  }, {
    "name" : "messagelock",
    "description" : "Only one user can edit a message at one time. This is represented by having the message lock, which can be requested and passed to other users."
  }, {
    "name" : "workspace",
    "description" : "Requires workspace feature"
  }, {
    "name" : "quiz"
  }, {
    "name" : "settings"
  }, {
    "name" : "stats"
  }, {
    "name" : "tools"
  }, {
    "name" : "tasks",
    "description" : "Current deferred tasks"
  }, {
    "name" : "util"
  } ],
  "paths" : {
    "/account/user" : {
      "get" : {
        "tags" : [ "account" ],
        "summary" : "Get data associated with user",
        "operationId" : "account-getuser",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      },
      "put" : {
        "tags" : [ "account" ],
        "summary" : "Updates data associated with user",
        "operationId" : "account-update-one",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "requestBody" : {
          "description" : "User data to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateUser"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/account/features/:feature/toggle" : {
      "post" : {
        "tags" : [ "account" ],
        "summary" : "Toggle user feature on or off",
        "operationId" : "account-togglefeature",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "in" : "path",
          "name" : "feature",
          "schema" : {
            "type" : "string"
          },
          "required" : true
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "value" : {
                    "type" : "boolean"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/account/features/:feature/settings" : {
      "put" : {
        "tags" : [ "account" ],
        "summary" : "Toggle user feature on or off",
        "operationId" : "account-featuresetting",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "in" : "path",
          "name" : "feature",
          "schema" : {
            "type" : "string"
          },
          "required" : true
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  ":setting1" : {
                    "type" : "string",
                    "example" : "default"
                  },
                  ":setting2" : {
                    "type" : "string",
                    "example" : "default"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/account/features/youtube/videos" : {
      "get" : {
        "tags" : [ "account" ],
        "summary" : "Get all videos for Youtube feature",
        "operationId" : "account-getvideos",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/YoutubeVideo"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/account/register" : {
      "post" : {
        "tags" : [ "account" ],
        "summary" : "Register new user",
        "operationId" : "account-register",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "company" : {
                    "type" : "string",
                    "example" : "my company"
                  },
                  "email" : {
                    "type" : "string",
                    "example" : "my@email.com"
                  },
                  "country_code" : {
                    "type" : "string",
                    "example" : 1
                  },
                  "phone_number" : {
                    "type" : "string",
                    "example" : "(541) 754-3010"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          }
        }
      }
    },
    "/account/reset-password" : {
      "post" : {
        "tags" : [ "account" ],
        "summary" : "Request password reset for user",
        "operationId" : "account-resetpass",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "email" : {
                    "type" : "string",
                    "example" : "my@email.com"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          }
        }
      }
    },
    "/assets/" : {
      "post" : {
        "tags" : [ "assets" ],
        "summary" : "Upload asset file",
        "operationId" : "assets-upload",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "in" : "query",
          "name" : "width",
          "description" : "optional asset width",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "height",
          "description" : "optional asset height",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "in" : "query",
          "name" : "crop",
          "description" : "optional crop option",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "in" : "query",
          "name" : "x2",
          "description" : "optional x2 option",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "files including data",
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "path" : {
                    "type" : "string"
                  },
                  "youtube" : {
                    "type" : "integer"
                  },
                  "files" : {
                    "type" : "array",
                    "description" : "files as mime format",
                    "items" : {
                      "type" : "string",
                      "format" : "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/assets/bookmark" : {
      "post" : {
        "tags" : [ "assets" ],
        "summary" : "Upload bookmark asset file",
        "operationId" : "assets-upload-bookmark",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "requestBody" : {
          "description" : "files including data",
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "path" : {
                    "type" : "string"
                  },
                  "youtube" : {
                    "type" : "integer"
                  },
                  "files" : {
                    "type" : "array",
                    "description" : "files as mime format",
                    "items" : {
                      "type" : "string",
                      "format" : "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/:id/opt-out" : {
      "get" : {
        "tags" : [ "contacts" ],
        "summary" : "Opt contact out of receiving emails",
        "operationId" : "contacts-opt-out",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/ContactId"
        }, {
          "in" : "path",
          "name" : "code",
          "description" : "Authentication code",
          "schema" : {
            "type" : "string"
          },
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/:id/opt-in" : {
      "get" : {
        "tags" : [ "contacts" ],
        "summary" : "Opt contact in to receiving emails",
        "operationId" : "contacts-opt-in",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/ContactId"
        }, {
          "in" : "path",
          "name" : "code",
          "description" : "Authentication code",
          "schema" : {
            "type" : "string"
          },
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/:id/channel-preferences" : {
      "put" : {
        "tags" : [ "contacts" ],
        "summary" : "Update contact channel preferences",
        "operationId" : "contacts-channel-preferences",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/Id"
        }, {
          "in" : "path",
          "name" : "code",
          "description" : "Authentication code",
          "schema" : {
            "type" : "string"
          },
          "required" : true
        } ],
        "requestBody" : {
          "description" : "Channel preference updates",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChannelPreferences"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts" : {
      "get" : {
        "tags" : [ "contacts" ],
        "summary" : "Get list of contacts",
        "operationId" : "contacts-get-multiple",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/Search"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/Contacts"
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      },
      "post" : {
        "tags" : [ "contacts" ],
        "summary" : "Create contact",
        "operationId" : "contacts-create-one",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "requestBody" : {
          "description" : "User data",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateContact"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/Contacts"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      },
      "delete" : {
        "tags" : [ "contacts" ],
        "summary" : "Delete multiple contacts",
        "operationId" : "contacts-delete-multiple",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "in" : "query",
          "name" : "ids",
          "description" : "list of contact ids",
          "schema" : {
            "type" : "string",
            "example" : "1,2,3"
          },
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/:id" : {
      "get" : {
        "tags" : [ "contacts" ],
        "summary" : "Get contact by id",
        "operationId" : "contacts-get-one",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/ContactId"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/Contacts"
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      },
      "put" : {
        "tags" : [ "contacts" ],
        "summary" : "Update contact",
        "operationId" : "contacts-update-one",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/ContactId"
        } ],
        "requestBody" : {
          "description" : "User data",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateContact"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/Contacts"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      },
      "delete" : {
        "tags" : [ "contacts" ],
        "summary" : "Delete contact",
        "operationId" : "contacts-delete-one",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/ContactId"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/export/all/excel" : {
      "get" : {
        "tags" : [ "contacts" ],
        "summary" : "Export contacts to excel file (.xls)",
        "operationId" : "contacts-export-excel",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "in" : "query",
          "name" : "ids",
          "description" : "contact ids to include: [\"id1\", \"id2\"]",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "fields",
          "description" : "contact fields to include: [\"field1\", \"field2\"]",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/vnd.ms-excel" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/export/download/:filename" : {
      "get" : {
        "tags" : [ "contacts" ],
        "summary" : "Download previously generated excel export",
        "operationId" : "contacts-export-excel-download",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "in" : "query",
          "name" : "filename",
          "description" : "name of file to download",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/vnd.ms-excel" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/:id/messages" : {
      "get" : {
        "tags" : [ "contacts" ],
        "summary" : "Get contact messages",
        "operationId" : "contacts-get-messages",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/ContactId"
        }, {
          "$ref" : "#/components/parameters/Page"
        }, {
          "$ref" : "#/components/parameters/PageSize"
        }, {
          "$ref" : "#/components/parameters/Order"
        }, {
          "$ref" : "#/components/parameters/Search"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactMessages"
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/:id/auth/events" : {
      "get" : {
        "tags" : [ "contacts" ],
        "summary" : "Get contact authentication events",
        "operationId" : "contacts-get-auth-events",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/ContactId"
        }, {
          "$ref" : "#/components/parameters/Page"
        }, {
          "$ref" : "#/components/parameters/PageSize"
        }, {
          "$ref" : "#/components/parameters/Order"
        }, {
          "$ref" : "#/components/parameters/Search"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactMessages"
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/:id/auth/reset" : {
      "put" : {
        "tags" : [ "contacts" ],
        "summary" : "Reset contact passcode",
        "operationId" : "contacts-reset-auth-event",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/ContactId"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "type" : "boolean"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/auth/:keycode/passcode" : {
      "put" : {
        "tags" : [ "contacts" ],
        "summary" : "Reset keycode pin",
        "operationId" : "contacts-reset-keycode",
        "parameters" : [ {
          "$ref" : "#/components/parameters/Keycode"
        } ],
        "requestBody" : {
          "description" : "code data",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "passcode" : {
                    "$ref" : "#/components/schemas/Passcode"
                  },
                  "resetCode" : {
                    "$ref" : "#/components/schemas/ResetCode"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/auth/:keycode/request-reset" : {
      "put" : {
        "tags" : [ "contacts" ],
        "summary" : "Request keycode reset by channel",
        "operationId" : "contacts-request-reset-keycode",
        "parameters" : [ {
          "$ref" : "#/components/parameters/Keycode"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "channel" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/auth/:keycode/resetcode/:tempcode" : {
      "get" : {
        "tags" : [ "contacts" ],
        "summary" : "Get contact reset code using temporary code",
        "operationId" : "contacts-keycode-reset-tempcode",
        "parameters" : [ {
          "$ref" : "#/components/parameters/Keycode"
        }, {
          "in" : "path",
          "name" : "tempcode",
          "schema" : {
            "type" : "string"
          },
          "description" : "temporary reset code",
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "string",
                      "example" : "{reset code}"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/auth/:keycode" : {
      "put" : {
        "tags" : [ "contacts" ],
        "summary" : "Verify contact keycode",
        "operationId" : "contacts-keycode-verify",
        "parameters" : [ {
          "$ref" : "#/components/parameters/Keycode"
        } ],
        "requestBody" : {
          "description" : "code data",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "passcode" : {
                    "$ref" : "#/components/schemas/Passcode"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "cookieKey" : {
                          "type" : "string"
                        },
                        "cookieValue" : {
                          "type" : "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/:targetId/insights/:type" : {
      "get" : {
        "tags" : [ "contacts" ],
        "summary" : "Get contact insights data by type",
        "operationId" : "contacts-get-insight-type",
        "parameters" : [ {
          "$ref" : "#/components/parameters/TargetContactId"
        }, {
          "in" : "path",
          "name" : "type",
          "schema" : {
            "type" : "string"
          },
          "description" : "all | pulse | rating | engagement | points | knowledge",
          "required" : true
        }, {
          "$ref" : "#/components/parameters/SourceContactId"
        }, {
          "$ref" : "#/components/parameters/SourceAuthCode"
        }, {
          "in" : "query",
          "name" : "messageId",
          "schema" : {
            "type" : "integer"
          },
          "description" : "id of origin message"
        }, {
          "in" : "query",
          "name" : "before",
          "schema" : {
            "type" : "integer"
          },
          "description" : "timestamp to use as limit"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Insight"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/:targetId/updateSettings" : {
      "put" : {
        "tags" : [ "contacts" ],
        "summary" : "Update contact profile settings",
        "operationId" : "contacts-update-settings",
        "parameters" : [ {
          "$ref" : "#/components/parameters/TargetContactId"
        }, {
          "$ref" : "#/components/parameters/SourceContactId"
        }, {
          "$ref" : "#/components/parameters/SourceAuthCode"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContactSettings"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/:id/avatar" : {
      "put" : {
        "tags" : [ "contacts" ],
        "summary" : "Update contact avatar",
        "operationId" : "contacts-update-avatar",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ContactId"
        }, {
          "$ref" : "#/components/parameters/AuthCode"
        } ],
        "requestBody" : {
          "content" : {
            "image/png" : {
              "schema" : {
                "type" : "string",
                "format" : "binary"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/:id/:projectId/groups" : {
      "get" : {
        "tags" : [ "contacts" ],
        "summary" : "Get groups for contact in workspace",
        "operationId" : "contacts-get-groups",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/ContactId"
        }, {
          "$ref" : "#/components/parameters/ProjectId"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "count" : {
                          "type" : "integer",
                          "example" : 10
                        },
                        "groups" : {
                          "type" : "array",
                          "items" : {
                            "$ref" : "#/components/schemas/ContactGroup"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/:id/groups" : {
      "put" : {
        "tags" : [ "contacts" ],
        "summary" : "Update contact group memberships",
        "operationId" : "contacts-update-groups",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/ContactId"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContactGroupUpdates"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/contacts/:id/relationships" : {
      "get" : {
        "tags" : [ "contacts" ],
        "summary" : "Get contact relationships",
        "operationId" : "contacts-get-relationships",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/ContactId"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/ContactRelationship"
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      },
      "put" : {
        "tags" : [ "contacts" ],
        "summary" : "Add contact relationships",
        "operationId" : "contacts-update-relationships",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/ContactId"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContactRelationshipUpdates"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/ContactRelationship"
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/content/media:id" : {
      "get" : {
        "tags" : [ "content" ],
        "summary" : "Get media item by id",
        "operationId" : "content-get-media",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/Id"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/ContentItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/content/" : {
      "get" : {
        "tags" : [ "content" ],
        "summary" : "Get content",
        "operationId" : "content-get-all",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/MediaType"
        }, {
          "$ref" : "#/components/parameters/SearchTerm"
        }, {
          "$ref" : "#/components/parameters/SearchData"
        }, {
          "$ref" : "#/components/parameters/Count"
        }, {
          "$ref" : "#/components/parameters/Page"
        }, {
          "$ref" : "#/components/parameters/PageSize"
        }, {
          "$ref" : "#/components/parameters/All"
        }, {
          "$ref" : "#/components/parameters/Tags"
        }, {
          "$ref" : "#/components/parameters/OnlyTags"
        }, {
          "$ref" : "#/components/parameters/Order_old"
        }, {
          "$ref" : "#/components/parameters/Direction"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/ContentItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/content/fonts" : {
      "get" : {
        "tags" : [ "content" ],
        "summary" : "Get user fonts",
        "operationId" : "content-get-fonts",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/FontItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/content/:id" : {
      "delete" : {
        "tags" : [ "content" ],
        "summary" : "Delete content item",
        "operationId" : "content-delete-item",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/Id"
        }, {
          "$ref" : "#/components/parameters/Force"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/content/delete" : {
      "post" : {
        "tags" : [ "content" ],
        "summary" : "Delete multiple content items",
        "operationId" : "content-delete-multiple",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "force" : {
                    "type" : "boolean"
                  },
                  "ids" : {
                    "$ref" : "#/components/schemas/IntegerArray"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/content/:type" : {
      "post" : {
        "tags" : [ "content" ],
        "summary" : "Create content item of type",
        "operationId" : "content-create",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/MediaType"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateContentItem"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/ContentItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/content/:type/:id" : {
      "put" : {
        "tags" : [ "content" ],
        "summary" : "Update content item of type",
        "operationId" : "content-update",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/MediaType"
        }, {
          "$ref" : "#/components/parameters/Id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateContentItem"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/ContentItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/dashboards/communicate" : {
      "get" : {
        "tags" : [ "dashboards" ],
        "summary" : "Get 'communicate' stats",
        "operationId" : "dashboards-get-communicate",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DashboardStatsCommunicate"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/dashboards/train" : {
      "get" : {
        "tags" : [ "dashboards" ],
        "summary" : "Get 'train' stats",
        "operationId" : "dashboards-get-train",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DashboardStatsTrain"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/dashboards/pulse" : {
      "get" : {
        "tags" : [ "dashboards" ],
        "summary" : "Get 'pulse' stats",
        "operationId" : "dashboards-get-pulse",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DashboardStatsPulse"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/dashboards/rating" : {
      "get" : {
        "tags" : [ "dashboards" ],
        "summary" : "Get 'rating' stats",
        "operationId" : "dashboards-get-rating",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DashboardStatsRating"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/dashboards/workspaces" : {
      "get" : {
        "tags" : [ "dashboards" ],
        "summary" : "Get stats for workspaces",
        "operationId" : "dashboards-get-workspaces",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DashboardStatsWorkspaces"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/dashboards/communicate-categories" : {
      "get" : {
        "tags" : [ "dashboards" ],
        "summary" : "Get categories for 'communicate'",
        "operationId" : "dashboards-get-categories-communicate",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DashboardCategories"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/dashboards/train-categories" : {
      "get" : {
        "tags" : [ "dashboards" ],
        "summary" : "Get categories for 'train'",
        "operationId" : "dashboards-get-categories-train",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DashboardCategories"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/dashboards/pulses" : {
      "get" : {
        "tags" : [ "dashboards" ],
        "summary" : "Get template list for 'pulse' messages",
        "operationId" : "dashboards-get-templates-pulse",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DashboardCategories"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/dashboards/ratings" : {
      "get" : {
        "tags" : [ "dashboards" ],
        "summary" : "Get template list for 'rating' messages",
        "operationId" : "dashboards-get-templates-rating",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DashboardCategories"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/dashboards/messages" : {
      "get" : {
        "tags" : [ "dashboards" ],
        "summary" : "Get stats for messages",
        "operationId" : "dashboards-get-messages",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DashboardStatsMessages"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/dashboards/social-stats" : {
      "get" : {
        "tags" : [ "dashboards" ],
        "summary" : "Get social stats",
        "operationId" : "dashboards-get-social",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DashboardStatsSocial"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/dashboards/channels" : {
      "get" : {
        "tags" : [ "dashboards" ],
        "summary" : "Get social channels",
        "operationId" : "dashboards-get-channels",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DashboardChannels"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/dashboards/account" : {
      "get" : {
        "tags" : [ "dashboards" ],
        "summary" : "Get account stats",
        "operationId" : "dashboards-get-account",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DashboardStatsAccount"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/dashboards/products-usage" : {
      "get" : {
        "tags" : [ "dashboards" ],
        "summary" : "Get product usage",
        "operationId" : "dashboards-get-products",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DashboardProducts"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/dashboards/product-updates" : {
      "get" : {
        "tags" : [ "dashboards" ],
        "summary" : "Get product updates",
        "operationId" : "dashboards-get-updates",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DashboardProductUpdates"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/device/register" : {
      "put" : {
        "tags" : [ "device" ],
        "summary" : "Begin device verification process",
        "operationId" : "device-register",
        "parameters" : [ {
          "$ref" : "#/components/parameters/NativeAppKey"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "email" : {
                    "type" : "string"
                  },
                  "phone_number" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DeviceRegister"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/device/:requestId/verify" : {
      "put" : {
        "tags" : [ "device" ],
        "summary" : "Finish device verification process",
        "operationId" : "device-register-verify",
        "parameters" : [ {
          "$ref" : "#/components/parameters/RequestId"
        }, {
          "$ref" : "#/components/parameters/NativeAppKey"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "code" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DeviceVerify"
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "401" : {
            "$ref" : "#/components/responses/401"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          },
          "404" : {
            "$ref" : "#/components/responses/404"
          }
        }
      }
    },
    "/device/refreshHomepages/:requestId" : {
      "get" : {
        "tags" : [ "device" ],
        "summary" : "Refresh the device homepages",
        "operationId" : "device-refresh-homepages",
        "parameters" : [ {
          "$ref" : "#/components/parameters/RequestId"
        }, {
          "$ref" : "#/components/parameters/NativeAppKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DeviceVerify"
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "401" : {
            "$ref" : "#/components/responses/401"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          },
          "404" : {
            "$ref" : "#/components/responses/404"
          }
        }
      }
    },
    "/device/:contactId" : {
      "get" : {
        "tags" : [ "device" ],
        "summary" : "Get registered devices for this contact",
        "operationId" : "device-get-for-contact",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/AuthCodeHeader"
        }, {
          "$ref" : "#/components/parameters/ContactIdParam"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/ContactDevices"
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      },
      "put" : {
        "tags" : [ "device" ],
        "summary" : "Adds, updates or remove devices from a contact",
        "operationId" : "device-update-for-contact",
        "parameters" : [ {
          "$ref" : "#/components/parameters/AuthCodeHeader"
        }, {
          "$ref" : "#/components/parameters/ContactIdParam"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "add" : {
                    "$ref" : "#/components/schemas/ContactDevices"
                  },
                  "update" : {
                    "$ref" : "#/components/schemas/ContactDevicesUpdate"
                  },
                  "remove" : {
                    "$ref" : "#/components/schemas/ContactDevicesRemove"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/ContactDevices"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/device/:contactId/register-action/:type/:action" : {
      "put" : {
        "tags" : [ "device" ],
        "summary" : "Registers actions for a device",
        "operationId" : "device-register-action",
        "parameters" : [ {
          "$ref" : "#/components/parameters/AuthCodeHeader"
        }, {
          "$ref" : "#/components/parameters/ContactIdParam"
        }, {
          "$ref" : "#/components/parameters/RegisterActionType"
        }, {
          "$ref" : "#/components/parameters/RegisterActionAction"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "data" : {
                    "$ref" : "#/components/schemas/DeviceRegisterActionData"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/decisiongraphs/message/:messageId" : {
      "get" : {
        "tags" : [ "automations" ],
        "summary" : "Get automations for message",
        "operationId" : "decisiongraphs-get-message",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/MessageId"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DecisionGraph"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/decisiongraphs/:id/message/:messageId" : {
      "post" : {
        "tags" : [ "automations" ],
        "summary" : "Add automation to message",
        "operationId" : "decisiongraphs-add-to-message",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/Id"
        }, {
          "$ref" : "#/components/parameters/MessageId"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      },
      "delete" : {
        "tags" : [ "automations" ],
        "summary" : "Remove automation from message",
        "operationId" : "decisiongraphs-remove-from-message",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/Id"
        }, {
          "$ref" : "#/components/parameters/MessageId"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/decisiongraphs/contact/:contactId" : {
      "get" : {
        "tags" : [ "automations" ],
        "summary" : "Get automations for contact",
        "operationId" : "decisiongraphs-get-contact",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/ContactId"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DecisionGraph"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/decisiongraphs/toggle/:id/:contactId" : {
      "put" : {
        "tags" : [ "automations" ],
        "summary" : "Toggle automation for contact",
        "operationId" : "decisiongraphs-toggle-contact",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/Id"
        }, {
          "$ref" : "#/components/parameters/ContactId"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "allOf" : [ {
                        "type" : "object",
                        "properties" : {
                          "stopped_at" : {
                            "type" : "string",
                            "example" : "2019-01-01T09:00:00.000Z"
                          }
                        }
                      }, {
                        "$ref" : "#/components/schemas/QWFields"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/decisiongraphs/:id/contact/:contactId" : {
      "post" : {
        "tags" : [ "automations" ],
        "summary" : "Add automation to contact",
        "operationId" : "decisiongraphs-add-to-contact",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/Id"
        }, {
          "$ref" : "#/components/parameters/MessageId"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      },
      "delete" : {
        "tags" : [ "automations" ],
        "summary" : "Remove automation from contact",
        "operationId" : "decisiongraphs-remove-from-contact",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/Id"
        }, {
          "$ref" : "#/components/parameters/MessageId"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/decisiongraphs/" : {
      "get" : {
        "tags" : [ "automations" ],
        "summary" : "Get automations",
        "operationId" : "decisiongraphs-get",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DecisionGraph"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      },
      "post" : {
        "tags" : [ "automations" ],
        "summary" : "Create automation",
        "operationId" : "decisiongraphs-create",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateDecisionGraph"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DecisionGraph"
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/decisiongraphs/:id/copy" : {
      "get" : {
        "tags" : [ "automations" ],
        "summary" : "Copy automation",
        "operationId" : "decisiongraphs-copy",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/Id"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DecisionGraph"
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/decisiongraphs/:id" : {
      "get" : {
        "tags" : [ "automations" ],
        "summary" : "Get automation by id",
        "operationId" : "decisiongraphs-get-one",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/Id"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DecisionGraph"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      },
      "delete" : {
        "tags" : [ "automations" ],
        "summary" : "Delete automation",
        "operationId" : "decisiongraphs-delete-one",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/Id"
        }, {
          "$ref" : "#/components/parameters/Force"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      },
      "put" : {
        "tags" : [ "automations" ],
        "summary" : "Update automation",
        "operationId" : "decisiongraphs-update-one",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/Id"
        }, {
          "$ref" : "#/components/parameters/Force"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateDecisionGraph"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DecisionGraph"
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/decisiongraphs/:id/messages" : {
      "get" : {
        "tags" : [ "automations" ],
        "summary" : "Get ids for automation messages",
        "operationId" : "decisiongraphs-get-messages",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/Id"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/DecisionGraphMessages"
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      },
      "put" : {
        "tags" : [ "automations" ],
        "summary" : "Add automation to messages",
        "operationId" : "decisiongraphs-add-to-messages",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/Id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "adds" : {
                    "$ref" : "#/components/schemas/IntegerArray"
                  },
                  "removes" : {
                    "$ref" : "#/components/schemas/IntegerArray"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/decisiongraphs/:id/stats/overview" : {
      "get" : {
        "tags" : [ "automations" ],
        "summary" : "Get automation stats overview",
        "operationId" : "decisiongraphs-get-stats-overview",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/Id"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/DecisionGraphStats"
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/decisiongraphs/:id/stats/actions" : {
      "get" : {
        "tags" : [ "automations" ],
        "summary" : "Get automation action stats",
        "operationId" : "decisiongraphs-get-stats-actions",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/Id"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/DecisionGraphStats"
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/decisiongraphs/:id/stats/contacts" : {
      "get" : {
        "tags" : [ "automations" ],
        "summary" : "Get automation contact stats",
        "operationId" : "decisiongraphs-get-stats-contacts",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/Id"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/DecisionGraphStats"
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/folder/:type" : {
      "get" : {
        "tags" : [ "folder" ],
        "summary" : "Get folder with type (including items)",
        "operationId" : "folder-get-type",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/FolderType"
        }, {
          "$ref" : "#/components/parameters/Page"
        }, {
          "$ref" : "#/components/parameters/PageSize"
        }, {
          "$ref" : "#/components/parameters/Search"
        }, {
          "$ref" : "#/components/parameters/Order"
        }, {
          "$ref" : "#/components/parameters/Stats"
        }, {
          "$ref" : "#/components/parameters/SelectedType"
        }, {
          "$ref" : "#/components/parameters/Tags"
        }, {
          "$ref" : "#/components/parameters/Path"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Folder"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      },
      "post" : {
        "tags" : [ "folder" ],
        "summary" : "Create folder of type",
        "operationId" : "folder-create-type",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/FolderType"
        } ],
        "requestBody" : {
          "description" : "Folder data",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateFolder"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      },
      "delete" : {
        "tags" : [ "folder" ],
        "summary" : "Delete folder of type",
        "operationId" : "folder-delete-type",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/FolderType"
        }, {
          "$ref" : "#/components/parameters/Path"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/folder/:type/rename" : {
      "put" : {
        "tags" : [ "folder" ],
        "summary" : "Rename folder with type",
        "operationId" : "folder-rename-type",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/FolderType"
        } ],
        "requestBody" : {
          "description" : "Folder data",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string",
                    "example" : "new name"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/folder/:type/folders" : {
      "get" : {
        "tags" : [ "folder" ],
        "summary" : "Get folders with type",
        "operationId" : "folder-get-all",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/FolderType"
        }, {
          "$ref" : "#/components/parameters/Page"
        }, {
          "$ref" : "#/components/parameters/PageSize"
        }, {
          "$ref" : "#/components/parameters/Search"
        }, {
          "in" : "query",
          "name" : "ignore",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer"
            }
          },
          "description" : "folders to ignore"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "$ref" : "#/components/schemas/StatusSuccess"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Folder"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/folder/:type/move" : {
      "put" : {
        "tags" : [ "folder" ],
        "summary" : "Move folder and subfolders",
        "operationId" : "folder-move-type",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
          "$ref" : "#/components/parameters/FolderType"
        } ],
        "requestBody" : {
          "description" : "Folder data",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "targetPath" : {
                    "type" : "string",
                    "example" : "1/1/folder 1/"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/200"
          },
          "400" : {
            "$ref" : "#/components/responses/400"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          }
        }
      }
    },
    "/folder/:type/item" : {
      "post" : {
        "tags" : [ "folder" ],
        "summary" : "Add items to folder",
        "operationId" : "folder-add-items",
        "parameters" : [ {
          "$ref" : "#/components/parameters/APIKey"
        }, {
[...]
