{
  "openapi" : "3.0.0",
  "info" : {
    "description" : "",
    "version" : "0",
    "title" : "Dealer Direct US"
  },
  "servers" : [ {
    "url" : "https://hertzddtest.adventresources.com/mvc.php"
  }, {
    "url" : "https://192.168.50.1/mvc.php"
  } ],
  "tags" : [ {
    "name" : "System",
    "description" : "Actions related to application as a whole."
  }, {
    "name" : "Dealer",
    "description" : "Actions related to the dealership record."
  } ],
  "paths" : {
    "/System/authentication/login" : {
      "get" : {
        "tags" : [ "System" ],
        "summary" : "Authenticate the user to the system.",
        "parameters" : [ {
          "in" : "query",
          "name" : "username",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "password",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "deviceType",
          "schema" : {
            "type" : "string",
            "enum" : [ "web", "mobile", "mobileWeb" ]
          },
          "description" : "Allows the client to indicate if they are on the web or mobile."
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/LoginResponse"
          }
        }
      }
    },
    "/System/Text-Message/create-text-message" : {
      "get" : {
        "tags" : [ "Texting" ],
        "summary" : "Creates text message and puts it in the outgoing queue.",
        "parameters" : [ {
          "in" : "query",
          "name" : "to_number",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "content",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "description" : "Text Body for the text message."
        }, {
          "in" : "query",
          "name" : "dealer_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/Generic"
          }
        }
      }
    },
    "/System/Text-Message/get-text-messages" : {
      "get" : {
        "tags" : [ "Texting" ],
        "summary" : "Returns list of text messages.",
        "parameters" : [ {
          "in" : "query",
          "name" : "dealer_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "date_start",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "description" : "Return list of text messages of Start date"
        }, {
          "in" : "query",
          "name" : "date_end",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "description" : "Return list of text messages of end date"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/GetTextMessagesResponse"
          }
        }
      }
    },
    "/System/Telephony/start-two-way-call" : {
      "get" : {
        "tags" : [ "Telephony" ],
        "summary" : "Initiate a two way call between representative and dealer.",
        "parameters" : [ {
          "in" : "query",
          "name" : "dealerId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "toNumber",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "description" : "Dealer's phone number."
        }, {
          "in" : "query",
          "name" : "fromNumber",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "description" : "Hertz user phone number."
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/Generic"
          }
        }
      }
    },
    "/System/Telephony/get-dealer-numbers" : {
      "get" : {
        "tags" : [ "Telephony" ],
        "summary" : "Fetch the available dealer phone numbers.",
        "parameters" : [ {
          "in" : "query",
          "name" : "dealerId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/GetDealerNumbersResponse"
          }
        }
      }
    },
    "/System/Telephony/download-call-recording" : {
      "get" : {
        "tags" : [ "Telephony" ],
        "summary" : "Download the call recording. Once a call record ID is provided, the backend fetches the file and forces a download on the client.",
        "parameters" : [ {
          "in" : "query",
          "name" : "callRecordId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/Generic"
          }
        }
      }
    },
    "/System/Telephony/get-hertz-user-numbers" : {
      "get" : {
        "tags" : [ "Telephony" ],
        "summary" : "Fetch the current active Hertz user's phone numbers.",
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/GetHertzUserNumbersResponse"
          }
        }
      }
    },
    "/System/Telephony/get-call-records" : {
      "get" : {
        "tags" : [ "Telephony" ],
        "summary" : "Fetch the current active Hertz user's call records.",
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/GetCallRecordsResponse"
          }
        }
      }
    },
    "/System/Email-Message/create-email-message" : {
      "post" : {
        "tags" : [ "Email" ],
        "summary" : "Create and send email message.",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "required" : [ "email_status_c", "to", "subject" ],
                "properties" : {
                  "email_status_c" : {
                    "type" : "string",
                    "description" : "Email message status code.",
                    "example" : "D"
                  },
                  "to" : {
                    "type" : "string",
                    "description" : "Email contact of recipient To.",
                    "example" : "Dealer 1 Test <dealer1@test.com>"
                  },
                  "cc" : {
                    "type" : "string",
                    "description" : "Email contact of recipient Cc.",
                    "example" : "Dealer 2 Test <dealer2@test.com>"
                  },
                  "bcc" : {
                    "type" : "string",
                    "description" : "Email contact of recipient Bcc.",
                    "example" : "Manager 1 Test <manager1@test.com>"
                  },
                  "subject" : {
                    "type" : "string",
                    "description" : "Subject of email message.",
                    "example" : "Test Subject"
                  },
                  "email_template_type" : {
                    "type" : "string",
                    "description" : "Email message template.",
                    "example" : "Test Template"
                  },
                  "html_body" : {
                    "type" : "string",
                    "description" : "Email message html body.",
                    "example" : "Test email message"
                  },
                  "text_body" : {
                    "type" : "string",
                    "description" : "Email message text body.",
                    "example" : "Test email message"
                  },
                  "attachment" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string",
                      "format" : "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/GetCreateEmailMessageResponse"
          }
        }
      }
    },
    "/System/Email-Message/fetch-email-message" : {
      "post" : {
        "tags" : [ "Email" ],
        "summary" : "Fetch incoming email message.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "required" : [ "email_id" ],
                "properties" : {
                  "email_id" : {
                    "type" : "string",
                    "format" : "uuid",
                    "description" : "Email message id."
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/GetFetchEmailMessageResponse"
          }
        }
      }
    },
    "/Dealer/dealer/quick-search" : {
      "post" : {
        "tags" : [ "Dealer" ],
        "summary" : "Search for dealers across multiple fields from a single keyword. Returns an array of dealers matching the format returned by /Dealer/dealer/list",
        "parameters" : [ {
          "in" : "query",
          "name" : "query",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "examples" : {
            "name" : {
              "value" : "Advent Automotive",
              "summary" : "Name of the dealership"
            },
            "phone" : {
              "value" : "310-123-4567",
              "summary" : "Phone number of dealership"
            },
            "email" : {
              "value" : "@carvana.com",
              "summary" : "Email address of one of the users"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/Generic"
          }
        }
      }
    },
    "/Dealer/dealer/check-next-gear-credit-line" : {
      "post" : {
        "tags" : [ "Dealer" ],
        "summary" : "Check the credit limit with NextGear",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "properties" : {
                  "nextgear_id" : {
                    "type" : "string",
                    "description" : "User supplied ID which connects this dealer to their NextGear account."
                  },
                  "dealer_id" : {
                    "type" : "string",
                    "format" : "uuid",
                    "description" : "Internal unique ID of the dealership."
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/CreditLimitResponse"
          }
        }
      }
    },
    "/Dealer/dealer/check-afc-credit-line" : {
      "post" : {
        "tags" : [ "Dealer" ],
        "summary" : "Check the credit limit with AFC",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "properties" : {
                  "afc_id" : {
                    "type" : "string",
                    "description" : "User supplied ID which connects this dealer to their AFC account."
                  },
                  "dealer_id" : {
                    "type" : "string",
                    "format" : "uuid",
                    "description" : "Internal unique ID of the dealership."
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/CreditLimitResponse"
          }
        }
      }
    },
    "/Dealer/dealer/check-west-lake-credit-line" : {
      "post" : {
        "tags" : [ "Dealer" ],
        "summary" : "Check the credit limit with West Lake",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "properties" : {
                  "westlake_id" : {
                    "type" : "string",
                    "description" : "User supplied ID which connects this dealer to their West Lake account."
                  },
                  "dealer_id" : {
                    "type" : "string",
                    "format" : "uuid",
                    "description" : "Internal unique ID of the dealership."
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/CreditLimitResponse"
          }
        }
      }
    },
    "/Dealer/dealer/get-ally-eligibility" : {
      "post" : {
        "tags" : [ "Dealer" ],
        "summary" : "Determine the ability of the dealership to finance through Ally",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "properties" : {
                  "ally_id" : {
                    "type" : "string",
                    "description" : "User supplied ID which connects this dealer to their Ally account."
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/CreditLimitResponse"
          }
        }
      }
    },
    "/Dealer/crm/overview" : {
      "post" : {
        "tags" : [ "Dealer" ],
        "summary" : "Fetch a number of high-level statistics regarding for the dealer.",
        "parameters" : [ {
          "in" : "query",
          "name" : "dealer_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A key-value store containing the dealers workplan and sale information.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "sucess" : {
                      "type" : "boolean"
                    },
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "next_meeting_scheduled_on" : {
                          "type" : "string",
                          "format" : "date",
                          "description" : "Date of the next scheduled meeting"
                        },
                        "next_meeting_time" : {
                          "type" : "string",
                          "format" : "time",
                          "description" : "Time of day the next scheduled meeting is to appear"
                        },
                        "next_meeting_description" : {
                          "type" : "string",
                          "example" : "Meet at South West Hotel for Wholesale Dealership for south west area"
                        },
                        "pending_meeting_count" : {
                          "type" : "integer"
                        },
                        "next_followup_scheduled_on" : {
                          "type" : "string",
                          "format" : "date"
                        },
                        "next_followup_description" : {
                          "type" : "string",
                          "example" : "Rental Cars status call"
                        },
                        "pending_followup_count" : {
                          "type" : "integer"
                        },
                        "total_note_count" : {
                          "type" : "integer"
                        },
                        "last_note_type_id" : {
                          "type" : "string",
                          "format" : "uuid"
                        },
                        "last_note_text" : {
                          "type" : "string"
                        },
                        "last_note_created_by" : {
                          "type" : "string",
                          "format" : "uuid"
                        },
                        "last_note_created_on" : {
                          "type" : "string",
                          "format" : "date-time"
                        },
                        "total_active_sales" : {
                          "type" : "integer"
                        },
                        "total_funded_30days" : {
                          "type" : "integer"
                        },
                        "total_cancelled_30days" : {
                          "type" : "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Dealer/dealer/communication-view" : {
      "post" : {
        "tags" : [ "Dealer" ],
        "summary" : "Fetch communication view for the dealer.",
        "parameters" : [ {
          "in" : "query",
          "name" : "dealer_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A key-value store containing the dealers communication view.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "sucess" : {
                      "type" : "boolean"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "actor" : {
                            "type" : "string",
                            "description" : "Autor Name",
                            "example" : "System User"
                          },
                          "content" : {
                            "type" : "string",
                            "description" : "Record name",
                            "example" : "Test note"
                          },
                          "dealer_id" : {
                            "type" : "string",
                            "format" : "uuid",
                            "description" : "Dealer ID",
                            "example" : "df41af67-d50b-4d41-b35a-fd66ed97625f"
                          },
                          "record_id" : {
                            "type" : "string",
                            "format" : "uuid",
                            "description" : "Record Id, Email ID, Call ID",
                            "example" : "cdddb446-199a-4dc0-acf2-0020760575cd"
                          },
                          "timestamp" : {
                            "type" : "string",
                            "format" : "datetime",
                            "description" : "Date time",
                            "example" : "09/30/2019 17:04:33 PDT"
                          },
                          "title" : {
                            "type" : "string",
                            "description" : "Title of item",
                            "example" : "Dealer Notes"
                          },
                          "type" : {
                            "type" : "string",
                            "description" : "Item type can be: n as note ie as incoming email oe as outgoing email",
                            "example" : "n"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Workplan/activity/close" : {
      "post" : {
        "tags" : [ "Workplan" ],
        "summary" : "Close a Workplan activity. Optionally you can also add a note if you provide dealer_id, note_type_id, and the text contents.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "activity_id", "close_reason_id" ],
                "properties" : {
                  "activity_id" : {
                    "type" : "string",
                    "format" : "uuid"
                  },
                  "close_reason_id" : {
                    "type" : "string",
                    "format" : "uuid"
                  },
                  "dealer_id" : {
                    "type" : "string",
                    "format" : "uuid"
                  },
                  "note_type_id" : {
                    "type" : "string",
                    "format" : "uuid"
                  },
                  "text" : {
                    "type" : "string",
                    "example" : "Note contents go here"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/Generic"
          }
        }
      }
    },
    "/Environment/Dealer-Account/get-dealer-email-list" : {
      "post" : {
        "tags" : [ "Email" ],
        "summary" : "Get available email dealer email list.",
        "parameters" : [ {
          "in" : "query",
          "name" : "dealer_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/GetAvailableDealerEmailsResponse"
          }
        }
      }
    },
    "/Environment/Message-Template/get-message-templates" : {
      "post" : {
        "tags" : [ "Email" ],
        "summary" : "Get available list of email message templates.",
        "parameters" : [ {
          "in" : "query",
          "name" : "email_template_type",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "readOnly",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/GetMessageTemplateResponse"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Success" : {
        "description" : "A successful request.",
        "type" : "object",
        "properties" : {
          "success" : {
            "type" : "boolean",
            "description" : "In the event of success this is always true."
          }
        }
      },
      "Error" : {
        "description" : "In the event of an error this structure will be returned.",
        "type" : "object",
        "properties" : {
          "success" : {
            "type" : "boolean",
            "description" : "In the event of an error this is always false."
          },
          "message" : {
            "type" : "string",
            "description" : "The content of the error message to display to the user."
          }
        }
      },
      "Grid" : {
        "type" : "object",
        "properties" : {
          "success" : {
            "type" : "boolean",
            "example" : true,
            "description" : "Always true, if data is being returned. Otherwise, see Error."
          },
          "data" : {
            "type" : "object",
            "properties" : {
              "data" : {
                "type" : "array",
                "items" : {
                  "type" : "object"
                }
              },
              "total" : {
                "type" : "integer"
              }
            }
          }
        }
      }
    },
    "responses" : {
      "Generic" : {
        "description" : "The standard response used by most services. Consists of an object with a success property. See Error schema for format when an error occurs.",
        "content" : {
          "application/json" : {
            "schema" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/Success"
              }, {
                "$ref" : "#/components/schemas/Error"
              } ]
            }
          }
        }
      },
      "GridResponse" : {
        "description" : "Generic response used for returning a list of objects.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Grid"
            }
          }
        }
      },
      "LoginResponse" : {
        "description" : "Login Response",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "sucess" : {
                  "type" : "boolean"
                },
                "data" : {
                  "type" : "object",
                  "properties" : {
                    "redirect_url" : {
                      "type" : "string",
                      "format" : "URL",
                      "example" : "https://www.buyusedinventory.com/hertz/",
                      "description" : "Web URL to redirect the user to. Hertz users, dealer users, and mobile users are all   referred to different UI's depending on where they're logging in from. Client is free to ignore this."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CreditLimitResponse" : {
        "description" : "Credit Limit Response",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "sucess" : {
                  "type" : "boolean"
                },
                "data" : {
                  "type" : "object",
                  "properties" : {
                    "creditline" : {
                      "type" : "string",
                      "example" : "10000.00"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "GetTextMessagesResponse" : {
        "description" : "Get Text Messages Response",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "text_message_id" : {
                  "type" : "string"
                },
                "dealer_name" : {
                  "type" : "string"
                },
                "rep_name" : {
                  "type" : "string"
                },
                "to_number" : {
                  "type" : "string"
                },
                "from_number" : {
                  "type" : "string"
                },
                "content" : {
                  "type" : "string"
                },
                "created_on" : {
                  "type" : "string"
                },
                "hertz_account_id" : {
                  "type" : "string"
                },
                "conversation_id" : {
                  "type" : "string"
                },
                "dealer_id" : {
                  "type" : "string"
                },
                "direction" : {
                  "type" : "string"
                },
                "conversation_desc" : {
                  "type" : "string"
                }
              },
              "example" : [ {
                "text_message_id" : "1c09e6b7-2ab1-41ec-8150-000c4f0bde2",
                "dealer_name" : "Dealer 1 Test",
                "rep_name" : "Rep 2 Test",
                "to_number" : "+12562697160",
                "from_number" : "(123) 456-7890",
                "content" : "This is an incoming text message between Dealer 1 and Rep 2.",
                "created_on" : "04/20/2020 15:52:32 PDT",
                "hertz_account_id" : "6ec6cd13-0cde-4113-843f-d2a64",
                "conversation_id" : "9eece158210824ed9418b5042fd84a22",
                "dealer_id" : "df41af67-d50b-4d41-b35a-fd66ed97625f",
                "direction" : "I",
                "conversation_desc" : "Rep 2 Test - +12562697160"
              }, {
                "text_message_id" : "a21027c7-3ee7-472e-ac59-0016f5068bd2",
                "dealer_name" : "Dealer 1 Test",
                "rep_name" : "Rep 1 Test",
                "to_number" : "(123) 456-7890",
                "from_number" : "+12054305131",
                "content" : "This is an outgoing test message between Dealer 1 and Rep 1.",
                "created_on" : "04/20/2020 11:04:37 PDT",
                "hertz_account_id" : "bd9b5182-0aff-4113-a753-d398e93e234c",
                "conversation_id" : "d1638fd5976a39b5cf9d18bb03d5afd6",
                "dealer_id" : "df41af67-d50b-4d41-b35a-fd66ed97625f",
                "direction" : "O",
                "conversation_desc" : "Rep 1 Test - +1205430513"
              } ]
            }
          }
        }
      },
      "GetDealerNumbersResponse" : {
        "description" : "Get Dealer Numbers Response",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "sucess" : {
                  "type" : "boolean"
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "phone_number" : {
                        "type" : "string",
                        "example" : "(111) 111-111"
                      },
                      "description" : {
                        "type" : "string",
                        "example" : "Dealer 1 Test : Mobile"
                      },
                      "type_f" : {
                        "type" : "string",
                        "example" : "M"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "GetHertzUserNumbersResponse" : {
        "description" : "Get Hertz User Numbers Response",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "sucess" : {
                  "type" : "boolean"
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "account_id" : {
                        "type" : "string",
                        "example" : "7d72e77a-3fa3-4f80-8985-a33009b3b608"
                      },
                      "area_code" : {
                        "type" : "string",
                        "example" : "222"
                      },
                      "country_phone_code" : {
                        "type" : "string",
                        "example" : "001"
                      },
                      "description" : {
                        "type" : "string",
                        "example" : "Mobile"
                      },
                      "extentiotion" : {
                        "type" : "string",
                        "example" : "22"
                      },
                      "number" : {
                        "type" : "string",
                        "example" : "2222222"
                      },
                      "phone_number" : {
                        "type" : "string",
                        "example" : "(222) 222-2222"
                      },
                      "preferred_f" : {
                        "type" : "string",
                        "example" : "Y"
                      },
                      "receive_incoming_f" : {
                        "type" : "string",
                        "example" : "Y"
                      },
                      "type_f" : {
                        "type" : "string",
                        "example" : "M"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "GetCallRecordsResponse" : {
        "description" : "Get Call Records Response",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "sucess" : {
                  "type" : "boolean"
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "call_record_id" : {
                        "type" : "string",
                        "example" : "7108810b-24f3-4382-92a3-00172609b818"
                      },
                      "cr_created_on" : {
                        "type" : "string",
                        "example" : "08/12/2019 09:05:27 PDT"
                      },
                      "dealer_name" : {
                        "type" : "string",
                        "example" : "Dealer 1 Test"
                      },
                      "dealer_user_name" : {
                        "type" : "string",
                        "example" : "Dealer 1 Test"
                      },
                      "direction" : {
                        "type" : "string",
                        "example" : "outbound"
                      },
                      "duration" : {
                        "type" : "string",
                        "example" : "00:10:02"
                      },
                      "from_number" : {
                        "type" : "string",
                        "example" : "(111) 111-111"
                      },
                      "hertz_account_id" : {
                        "type" : "string",
                        "example" : "bd9b5182-0aff-4113-a753-d398e93e234c"
                      },
                      "recording_status_c" : {
                        "type" : "string",
                        "example" : "A"
                      },
                      "rep_name" : {
                        "type" : "string",
                        "example" : "Rep 1 Test"
                      },
                      "statuc_c" : {
                        "type" : "string",
                        "example" : "completed"
                      },
                      "to_number" : {
                        "type" : "string",
                        "example" : "(222) 222-2222"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AllyEligibilityResponse" : {
        "description" : "Ally Eligibility Response",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "type" : "object",
                  "properties" : {
                    "eligible" : {
                      "type" : "string",
                      "description" : "Y or N indicating if the account is eligible.",
                      "example" : "Y"
                    },
                    "dealership" : {
                      "type" : "string",
                      "description" : "The name of the dealership associated with the requested account, according to Ally.",
                      "example" : "112 MITSUBISHI"
                    },
                    "address" : {
                      "type" : "string",
                      "description" : "The address of the dealership associated with the requested account, according to Ally.",
                      "example" : "2004 ROUTE 112"
                    },
                    "city" : {
                      "type" : "string",
                      "description" : "The city of the dealership associated with the requested account, according to Ally.",
                      "example" : "MEDFORD"
                    },
                    "state" : {
                      "type" : "string",
                      "description" : "The state of the dealership associated with the requested account, according to Ally.",
                      "example" : "NY"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "GetAvailableDealerEmailsResponse" : {
        "description" : "Get Available Dealer Emails Response",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "sucess" : {
                  "type" : "boolean"
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "dealer_email" : {
                        "type" : "string",
                        "description" : "Dealer email address.",
                        "example" : "Dealer 1 Test <dealer1@test.com>"
                      },
                      "dealer_name" : {
                        "type" : "string",
                        "description" : "Dealer Name and email address",
                        "example" : "Dealer 1 Test [dealer1@test.com]"
                      },
                      "do_not_email" : {
                        "type" : "boolean",
                        "description" : "A status contact is in the special do not email list.",
                        "example" : false
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "GetMessageTemplateResponse" : {
        "description" : "Get Available Email Template Response",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "sucess" : {
                  "type" : "boolean"
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "active_f" : {
                        "type" : "boolean",
                        "description" : "Status of template",
                        "example" : "Y"
                      },
                      "email_template_type" : {
                        "type" : "string",
                        "description" : "Message template type",
                        "example" : "C"
                      },
                      "message_template_id" : {
                        "type" : "string",
                        "description" : "Message template Id",
                        "example" : "9bb63bed-e5f8-4984-aad2-001fc60e5f71"
                      },
                      "owner_id" : {
                        "type" : "string",
                        "description" : "Message teplate owner Id",
                        "example" : "00000000-0000-0000-0000-000000000000"
                      },
                      "system_f" : {
                        "type" : "string",
                        "description" : "Flag shows is it system teplate or not",
                        "example" : "N"
                      },
                      "subject" : {
                        "type" : "string",
                        "description" : "Message teplate subject",
                        "example" : "Template subject"
                      },
                      "template" : {
                        "type" : "string",
                        "description" : "Template content",
                        "example" : "Message teplate content"
                      },
                      "created_by" : {
                        "type" : "string",
                        "description" : "Created By user id",
                        "example" : "00000000-0000-0000-0000-000000000000"
                      },
                      "created_on" : {
                        "type" : "string",
                        "description" : "Created On date",
                        "example" : "09/04/2019 13:15:35 PDT"
                      },
                      "updated_by" : {
                        "type" : "string",
                        "description" : "Updated by user Id",
                        "example" : "00000000-0000-0000-0000-000000000000"
                      },
                      "updated_on" : {
                        "type" : "string",
                        "description" : "Updated on date",
                        "example" : "09/04/2019 13:15:35 PDT"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "GetCreateEmailMessageResponse" : {
        "description" : "Get Create Email Message Response",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "sucess" : {
                  "type" : "boolean"
                },
                "data" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      },
      "GetFetchEmailMessageResponse" : {
        "description" : "Get Incoming Email Message Response",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "sucess" : {
                  "type" : "boolean"
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "email_id" : {
                        "type" : "string",
                        "format" : "uuid",
                        "description" : "Status of template",
                        "example" : "00000000-0000-0000-0000-000000000000"
                      },
                      "headers" : {
                        "type" : "string",
                        "description" : "Email message header",
                        "example" : "Text header comes from server"
                      },
                      "from" : {
                        "type" : "object",
                        "properties" : {
                          "account_id" : {
                            "type" : "string",
                            "format" : "uuid",
                            "description" : "Account id of from contact",
                            "example" : "00000000-0000-0000-0000-000000000000"
                          },
                          "contact_address" : {
                            "type" : "string",
                            "description" : "Email address of from contact",
                            "example" : "dealer1@test.com"
                          },
                          "contact_name" : {
                            "type" : "string",
                            "description" : "Name of from contact",
                            "example" : "Dealer 1 Test"
                          },
                          "email_contact_id" : {
                            "type" : "string",
                            "format" : "uuid",
                            "description" : "Contact id of from contact",
                            "example" : "00000000-0000-0000-0000-000000000000"
                          }
                        }
                      },
                      "to" : {
                        "type" : "array",
                        "items" : {
                          "type" : "object",
                          "properties" : {
                            "account_id" : {
                              "type" : "string",
                              "format" : "uuid",
                              "description" : "Account id of to contact",
                              "example" : "00000000-0000-0000-0000-000000000000"
                            },
                            "contact_address" : {
                              "type" : "string",
                              "description" : "Email address of to contact",
                              "example" : "rep1@test.com"
                            },
                            "contact_name" : {
                              "type" : "string",
                              "description" : "Name of to contact",
                              "example" : "Rep 1 Test"
                            },
                            "is_archived_f" : {
                              "type" : "string",
                              "description" : "If email is archived by contact",
                              "example" : "N"
                            },
                            "archived_on" : {
                              "type" : "string",
                              "description" : "Time when archived",
                              "example" : "null"
                            },
                            "contact_type" : {
                              "type" : "string",
                              "description" : "Contact type",
                              "example" : "to"
                            },
                            "delivery_c" : {
                              "type" : "string",
                              "description" : "Status of delivery",
                              "example" : "D"
                            },
                            "is_opened_f" : {
                              "type" : "string",
                              "description" : "Status if email opened",
                              "example" : "N"
                            },
                            "opened_on" : {
                              "type" : "string",
                              "description" : "Datetime of email opened",
                              "example" : "null"
                            }
                          }
                        }
                      },
                      "cc" : {
                        "type" : "array",
                        "items" : {
                          "type" : "object",
                          "properties" : {
                            "account_id" : {
                              "type" : "string",
                              "format" : "uuid",
                              "description" : "Account id of cc contact",
                              "example" : "00000000-0000-0000-0000-000000000000"
                            },
                            "contact_address" : {
                              "type" : "string",
                              "description" : "Email address of cc contact",
                              "example" : "rep2@test.com"
                            },
                            "contact_name" : {
                              "type" : "string",
                              "description" : "Name of cc contact",
                              "example" : "Rep 2 Test"
                            },
                            "is_archived_f" : {
                              "type" : "string",
                              "description" : "If email is archived by contact",
                              "example" : "N"
                            },
                            "archived_on" : {
                              "type" : "string",
                              "description" : "Time when archived",
                              "example" : "null"
                            },
                            "contact_type" : {
                              "type" : "string",
                              "description" : "Contact type",
                              "example" : "cc"
                            },
                            "delivery_c" : {
                              "type" : "string",
                              "description" : "Status of delivery",
                              "example" : "D"
                            },
                            "is_opened_f" : {
                              "type" : "string",
                              "description" : "Status if email opened",
                              "example" : "N"
                            },
                            "opened_on" : {
                              "type" : "string",
                              "description" : "Datetime of email opened",
                              "example" : "null"
                            }
                          }
                        }
                      },
                      "bcc" : {
                        "type" : "array",
                        "items" : {
                          "type" : "object",
                          "properties" : {
                            "account_id" : {
                              "type" : "string",
                              "format" : "uuid",
                              "description" : "Account id of bcc contact",
                              "example" : "00000000-0000-0000-0000-000000000000"
                            },
                            "contact_address" : {
                              "type" : "string",
                              "description" : "Email address of bcc contact",
                              "example" : "rep3@test.com"
                            },
                            "contact_name" : {
                              "type" : "string",
                              "description" : "Name of bcc contact",
                              "example" : "Rep 3 Test"
                            },
                            "is_archived_f" : {
                              "type" : "string",
                              "description" : "If email is archived by contact",
                              "example" : "N"
                            },
                            "archived_on" : {
                              "type" : "string",
                              "description" : "Time when archived",
                              "example" : "null"
                            },
                            "contact_type" : {
                              "type" : "string",
                              "description" : "Contact type",
                              "example" : "bcc"
                            },
                            "delivery_c" : {
                              "type" : "string",
                              "description" : "Status of delivery",
                              "example" : "D"
                            },
                            "is_opened_f" : {
                              "type" : "string",
                              "description" : "Status if email opened",
                              "example" : "N"
                            },
                            "opened_on" : {
                              "type" : "string",
                              "description" : "Datetime of email opened",
                              "example" : "null"
                            }
                          }
                        }
                      },
                      "email_status_c" : {
                        "type" : "string",
                        "description" : "Flag shows email status as draft, sent or incoming",
                        "example" : "I"
                      },
                      "subject" : {
                        "type" : "string",
                        "description" : "Message subject",
                        "example" : "Message subject"
                      },
                      "html_body" : {
                        "type" : "string",
                        "description" : "HTML content of message body",
                        "example" : "HTML content of message body"
                      },
                      "text_body" : {
                        "type" : "string",
                        "description" : "TemText content of message body",
                        "example" : "Text content of message body"
                      },
                      "created_by" : {
                        "type" : "string",
                        "description" : "Created By user id",
                        "example" : "00000000-0000-0000-0000-000000000000"
                      },
                      "created_on" : {
                        "type" : "string",
                        "description" : "Created On date",
                        "example" : "09/04/2019 13:15:35 PDT"
                      },
                      "sent_on" : {
                        "type" : "string",
                        "description" : "Sent on date",
                        "example" : "09/04/2019 13:15:35 PDT"
                      },
                      "attachment" : {
                        "type" : "array",
                        "items" : {
                          "type" : "object",
                          "properties" : {
                            "mime_type" : {
                              "type" : "string",
                              "description" : "MIME type of attachment",
                              "example" : "image/jpeg"
                            },
                            "filename" : {
                              "type" : "string",
                              "description" : "File name of attachment",
                              "example" : "test.jpg"
                            },
                            "email_attachment_id" : {
                              "type" : "string",
                              "description" : "Email attachment id",
                              "example" : "00000000-0000-0000-0000-000000000000"
                            },
                            "disposition" : {
                              "type" : "string",
                              "description" : "Disposition of email attachment",
                              "example" : "attachment"
                            },
                            "created_by" : {
                              "type" : "string",
                              "description" : "Created By user id",
                              "example" : "00000000-0000-0000-0000-000000000000"
                            },
                            "created_on" : {
                              "type" : "string",
                              "description" : "Created On date",
                              "example" : "09/04/2019 13:15:35 PDT"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}