{
  "openapi" : "3.0.1",
  "info" : {
    "description" : "API to initiate and manage live user sessions on Airkit's platform",
    "version" : "1.0.0",
    "title" : "Airkit API (Beta)",
    "contact" : {
      "email" : "support@airkit.com",
      "name" : "Airkit Support",
      "url" : "https://www.airkit.com/"
    }
  },
  "tags" : [ {
    "name" : "Information",
    "description" : "Information and testing"
  }, {
    "name" : "Lifecycle",
    "description" : "Start and stop sessions"
  }, {
    "name" : "Events",
    "description" : "Run events inside an existing session"
  } ],
  "servers" : [ {
    "url" : "https://api.ruist.com/",
    "description" : "Airkit Customer Production API"
  } ],
  "paths" : {
    "/v1/who" : {
      "post" : {
        "tags" : [ "Information" ],
        "summary" : "Show information about the provided API key.",
        "responses" : {
          "200" : {
            "description" : "The API key is valid.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "orgId" : {
                      "type" : "string",
                      "example" : "ff335b76-e43c-4db5-8b1b-2105ea22b1fc"
                    },
                    "apiKeyId" : {
                      "type" : "string",
                      "example" : "203de0c7-bf26-44a1-9aac-cd5e2b9ec947"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/session/event/" : {
      "post" : {
        "tags" : [ "Events" ],
        "summary" : "Run an Event with parameters",
        "security" : [ {
          "api_key" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EventParameters"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Event run successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventResult"
                }
              }
            }
          }
        },
        "parameters" : [ ]
      }
    },
    "/v1/session/start" : {
      "post" : {
        "tags" : [ "Lifecycle" ],
        "summary" : "Request a new session be initiated",
        "description" : "",
        "operationId" : "startSession",
        "responses" : {
          "200" : {
            "description" : "Session successfully initiated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionInfo"
                }
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SessionStartRequest"
              }
            }
          },
          "description" : "Session initialization request",
          "required" : true
        },
        "parameters" : [ ]
      }
    },
    "/v1/session/end/{sessionId}" : {
      "get" : {
        "parameters" : [ {
          "in" : "path",
          "name" : "sessionId",
          "description" : "Trigger ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "tags" : [ "Lifecycle" ],
        "summary" : "Terminates a session",
        "description" : "",
        "operationId" : "endSession",
        "responses" : {
          "200" : {
            "description" : "Session successfully terminated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionInfo"
                }
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "securitySchemes" : {
      "api_key" : {
        "type" : "http",
        "scheme" : "bearer"
      }
    },
    "schemas" : {
      "SessionStartRequest" : {
        "type" : "object",
        "properties" : {
          "deploymentKey" : {
            "type" : "string",
            "description" : "Deployment ID provided by Airkit."
          },
          "sessionKeys" : {
            "description" : "Identifiers To Associated with A session. Unique strings used to later identify the session.",
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "parameters" : {
            "type" : "object",
            "example" : {
              "userDefinedParameter1" : 123456,
              "userDefinedParameter2" : "hello"
            }
          }
        },
        "required" : [ "deployId", "parameters" ]
      },
      "SessionInfo" : {
        "type" : "object",
        "properties" : {
          "sessionId" : {
            "type" : "string"
          },
          "state" : {
            "description" : "Data associated and persisted with the current session. Can be referenced by Activities, Connections, etc.",
            "type" : "object",
            "example" : {
              "userName" : "Jane Doe",
              "startParameters" : {
                "userDefinedParameter1" : 123456,
                "userDefinedParameter2" : "hello"
              }
            }
          }
        }
      },
      "EventParameters" : {
        "type" : "object",
        "properties" : {
          "eventKey" : {
            "type" : "string",
            "description" : "Key of the event that you wish to invoke."
          },
          "sessionKey" : {
            "type" : "string",
            "description" : "Identifier for which particular session you'd like to run the event on."
          },
          "deploymentKey" : {
            "type" : "string",
            "description" : "Specific Deployment Key Associated with your Application Deployment."
          },
          "parameters" : {
            "type" : "object",
            "example" : {
              "userDefinedParameter1" : 123456,
              "userDefinedParameter2" : "hello"
            }
          }
        }
      },
      "EventResult" : {
        "type" : "object",
        "properties" : {
          "success" : {
            "type" : "boolean",
            "example" : true
          }
        }
      }
    },
    "links" : { },
    "callbacks" : { }
  },
  "security" : [ {
    "api_key" : [ ]
  } ]
}