{
  "openapi" : "3.0.0",
  "servers" : [ {
    "description" : "Algopix API",
    "url" : "https://api.algopix.com/v3"
  }, {
    "description" : "Algopix staging API",
    "url" : "https://api-staging.algopix.com/v3"
  }, {
    "description" : "SwaggerHub API Auto Mocking",
    "url" : "https://virtserver.swaggerhub.com/Algopix/search/1.2.0"
  } ],
  "info" : {
    "contact" : {
      "email" : "support@algopix.com",
      "name" : "Algopix Support"
    },
    "description" : "Search retail products based on keywords and other attributes. Returns a list of up to ten products.",
    "version" : "1.0.1",
    "title" : "Product identification API",
    "termsOfService" : "https://algopix.com/policies"
  },
  "tags" : [ {
    "name" : "api",
    "description" : "Algopix multi item search"
  } ],
  "paths" : {
    "/multiItemsSearch" : {
      "get" : {
        "summary" : "Returns information about retail products, searched based on keywords and other attributes.",
        "operationId" : "search",
        "security" : [ {
          "apiKey" : [ ],
          "appId" : [ ]
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/Success"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          }
        },
        "parameters" : [ {
          "name" : "keywords",
          "in" : "query",
          "description" : "Item keywords used to search for products.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "color",
          "in" : "query",
          "description" : "Search products by color. Products with matching color will receive a higher score.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "brand",
          "in" : "query",
          "description" : "Search products by Brand. Products with matching brand will receive a higher score.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "googleGbCategoryId",
          "in" : "query",
          "description" : "Search products by google product category. Products with matching categories recieve a higher score. Id of a google product category as described [here](https://support.google.com/merchants/answer/6324436?hl=en).  \n For an extensive list of the available categories see [here](https://www.google.com/basepages/producttype/taxonomy-with-ids.en-GB.txt)",
          "required" : false,
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "amazonSearchIndex",
          "in" : "query",
          "description" : "The product category to search. For more information and an extensive list of the possible values, see [here](https://webservices.amazon.com/paapi5/documentation/locale-reference/united-states.html)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "amazonCategoryId",
          "in" : "query",
          "description" : " Search products by amazon browse node id. Products associated with the amazon browse node recieve a higher score. Browse nodes are positive integers identifying a product category.  \n For more information on amazon browse nodes see [here](https://docs.aws.amazon.com/AWSECommerceService/latest/DG/BrowseNodes.html)  \n Specifying a browse node requires a `searchindex` to be set. Browse node work with every `searchindex`, **except for** _All_ and _Blended_.",
          "required" : false,
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "minPrice",
          "in" : "query",
          "description" : " the minimum price of a products to return by the search",
          "required" : false,
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "maxPrice",
          "in" : "query",
          "description" : " the maximum price of a products to return by the search",
          "required" : false,
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "currencyCode",
          "in" : "query",
          "description" : "The currency code of the specified minPrice & maxPrice parameters. the currencyCode parameter should comply with [ISO 4217](https://www.ibm.com/support/knowledgecenter/en/SSZLC2_7.0.0/com.ibm.commerce.payments.developer.doc/refs/rpylerl2mst97.htm) currency codes. Currently supported currency codes: USD, EUR, CAD. defaults to USD if not specified",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ]
      }
    }
  },
  "components" : {
    "securitySchemes" : {
      "apiKey" : {
        "type" : "apiKey",
        "in" : "header",
        "name" : "X-API-KEY"
      },
      "appId" : {
        "type" : "apiKey",
        "in" : "header",
        "name" : "X-APP-ID"
      }
    },
    "responses" : {
      "Success" : {
        "description" : "Successfull search",
        "content" : {
          "application/json" : {
            "schema" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/ApiResponse"
              }, {
                "properties" : {
                  "result" : {
                    "$ref" : "#/components/schemas/SearchResults"
                  }
                }
              }, {
                "required" : [ "result" ]
              } ]
            }
          }
        }
      },
      "Unauthorized" : {
        "description" : "API key or App ID is missing or invalid."
      },
      "BadRequest" : {
        "description" : "Bad Request, probably missing a parameter."
      }
    },
    "schemas" : {
      "ApiResponse" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "description" : "Time the response was produced, represented as number of seconds passed since the unix epoch."
          },
          "status" : {
            "description" : "String representation of the requests status.",
            "type" : "string",
            "enum" : [ "SUCCESS", "ERROR", "WARNING" ]
          },
          "statusMessage" : {
            "description" : "Additional infomration about the status of response.",
            "type" : "string"
          },
          "statusCode" : {
            "type" : "integer",
            "description" : "Application level status code."
          },
          "requestId" : {
            "type" : "string",
            "description" : "Identifier for individual requests/responses."
          },
          "result" : {
            "$ref" : "#/components/schemas/SearchResults"
          }
        },
        "required" : [ "timestamp", "status", "statusMessage", "statusCode", "requestId" ]
      },
      "SearchResults" : {
        "description" : "List of matching products.",
        "type" : "object",
        "properties" : {
          "products" : {
            "description" : "Array containing matching products",
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Product"
            }
          },
          "totalResults" : {
            "description" : "Total number of results",
            "type" : "number"
          }
        },
        "required" : [ "products", "totalResults" ]
      },
      "Product" : {
        "type" : "object",
        "properties" : {
          "title" : {
            "description" : "Product title",
            "type" : "string"
          },
          "identifiers" : {
            "$ref" : "#/components/schemas/ProductIdentifiers"
          },
          "matchingScores" : {
            "$ref" : "#/components/schemas/ProductMatchingScores"
          },
          "image" : {
            "$ref" : "#/components/schemas/Image"
          },
          "price" : {
            "$ref" : "#/components/schemas/Price"
          },
          "category" : {
            "description" : "Category the product belongs to.",
            "type" : "string"
          },
          "attributes" : {
            "$ref" : "#/components/schemas/ProductAttributes"
          },
          "keywordsIdentifiedSpecificMarketData" : {
            "$ref" : "#/components/schemas/ProductKeywordsIdentifiedSpecificMarketData"
          },
          "listingUrl" : {
            "description" : "Link to the product listing on the marketplace the search was run.",
            "type" : "string"
          }
        },
        "required" : [ "attributes", "category", "identifiers", "image", "keywordsIdentifiedSpecificMarketData", "listingUrl", "matchingScores", "price", "title" ]
      },
      "ProductIdentifiers" : {
        "description" : "Identifiers matching the product.",
        "type" : "object",
        "properties" : {
          "ASIN" : {
            "$ref" : "#/components/schemas/ProductIdentifierList"
          },
          "UPC" : {
            "$ref" : "#/components/schemas/ProductIdentifierList"
          },
          "EAN" : {
            "$ref" : "#/components/schemas/ProductIdentifierList"
          }
        }
      },
      "ProductIdentifierList" : {
        "description" : "A list of product identifieres like ASINs or UPCs.",
        "type" : "array",
        "items" : {
          "type" : "string"
        }
      },
      "ProductMatchingScores" : {
        "description" : "Scores between 0 to 1 describing how well the product matches the query in various properties.",
        "type" : "object",
        "properties" : {
          "titleMatchingScore" : {
            "type" : "number",
            "description" : "Score between 0 to 1 representing the matching strength between the product title and input title"
          },
          "brandMatchingScore" : {
            "type" : "number",
            "description" : "Score between 0 to 1 representing the matching strength between the product brand and input brand"
          },
          "colorMatchingScore" : {
            "type" : "number",
            "description" : "Score between 0 to 1 representing the matching strength between the product color and input color"
          },
          "categoryMatchingScore" : {
            "type" : "number",
            "description" : "Score between 0 to 1 representing the matching strength between the product category and input category"
          },
          "algopixTotalScore" : {
            "type" : "number",
            "description" : "A score between 0 to 1 representing the overall  score of the product to all query parameters"
          }
        },
        "required" : [ "titleMatchingScore", "brandMatchingScore", "colorMatchingScore", "categoryMatchingScore", "algopixTotalScore" ]
      },
      "Image" : {
        "description" : "A product image.",
        "type" : "object",
        "properties" : {
          "imageType" : {
            "type" : "string"
          },
          "imageUrl" : {
            "description" : "Url of the image.",
            "type" : "string"
          },
          "imageHeight" : {
            "$ref" : "#/components/schemas/ImageDimension"
          },
          "imageWidth" : {
            "$ref" : "#/components/schemas/ImageDimension"
          }
        },
        "required" : [ "imageType", "imageUrl", "imageHeight", "imageWidth" ]
      },
      "ImageDimension" : {
        "description" : "The height or width of an image.",
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "number"
          },
          "unit" : {
            "type" : "string",
            "enum" : [ "PIXELS" ]
          }
        },
        "required" : [ "value", "unit" ]
      },
      "Price" : {
        "type" : "object",
        "properties" : {
          "currencyCode" : {
            "type" : "string",
            "description" : "ISO 4217 currency codes, see [ISO 4217](https://www.ibm.com/support/knowledgecenter/en/SSZLC2_7.0.0/com.ibm.commerce.payments.developer.doc/refs/rpylerl2mst97.htm)"
          },
          "amount" : {
            "type" : "number"
          }
        },
        "required" : [ "currencyCode", "amount" ]
      },
      "ProductAttributes" : {
        "description" : "Possible attributes for the product. If the product attribute is not specified in the market place, the corresponding property will not be set.",
        "type" : "object",
        "properties" : {
          "Brand" : {
            "type" : "string"
          },
          "Size" : {
            "type" : "string"
          },
          "Color" : {
            "type" : "string"
          },
          "Manufacturer" : {
            "type" : "string"
          },
          "Model" : {
            "type" : "string"
          }
        }
      },
      "ProductKeywordsIdentifiedSpecificMarketData" : {
        "description" : "Marketplace specific product attributes. e.g. Amazon products have seller rank. while ebay products contain a property of number of sold items",
        "oneOf" : [ {
          "$ref" : "#/components/schemas/AmazonMarketSpecificProductData"
        }, {
          "$ref" : "#/components/schemas/EbayMarketSpecificProductData"
        }, {
          "$ref" : "#/components/schemas/WalmartMarketSpecificProductData"
        } ],
        "discriminator" : {
          "propertyName" : "objectType",
          "mapping" : {
            "AMAZON" : "#/components/schemas/AmazonMarketSpecificProductData",
            "EBAY" : "#/components/schemas/EbayMarketSpecificProductData",
            "WALMART" : "#/components/schema/WalmartMarketSpecificProductData"
          }
        }
      },
      "AmazonMarketSpecificProductData" : {
        "description" : "Amazon market specific product properties",
        "type" : "object",
        "properties" : {
          "bestSellerRank" : {
            "description" : "The best seller rank of the product in the marketplace on which the search was run.",
            "type" : "number"
          }
        }
      },
      "EbayMarketSpecificProductData" : {
        "description" : "Ebay market specific product properties",
        "type" : "object",
        "properties" : {
          "soldItems" : {
            "description" : "The number of items sold of this product since it was listed",
            "type" : "number"
          }
        }
      },
      "WalmartMarketSpecificProductData" : {
        "description" : "Walmart market specific product properties",
        "type" : "object",
        "properties" : {
          "reviews" : {
            "$ref" : "#/components/schemas/WalmartReviews"
          }
        }
      },
      "WalmartReviews" : {
        "description" : "An object holding walmart reviews information",
        "type" : "object",
        "properties" : {
          "stars" : {
            "description" : "The number of review stars this product has in Walmart marketplace",
            "type" : "number"
          },
          "starsImage" : {
            "description" : "Url to customer rating image",
            "type" : "string"
          },
          "reviews" : {
            "description" : "number of reviews describing text",
            "type" : "string"
          }
        }
      }
    }
  }
}