{
  "openapi" : "3.0.0",
  "info" : {
    "description" : "This is a short link service to translate from long URL to short URL\n",
    "version" : "1.1.0",
    "title" : "Short Link Service",
    "contact" : {
      "email" : "ant@example.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers" : [ {
    "description" : "Endpoint providing the service",
    "url" : "https://ant.ly"
  } ],
  "tags" : [ {
    "name" : "shortlink",
    "description" : "Provide short link service to translate from long URL to short URL"
  } ],
  "paths" : {
    "/v1/links" : {
      "post" : {
        "tags" : [ "shortlink" ],
        "summary" : "Create a new short link",
        "operationId" : "createShortLink",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShortLink"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid long URL supplied (e.g. Malformatted URL)"
          }
        },
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ShortLink"
        }
      }
    },
    "/v1/links/{hash}" : {
      "get" : {
        "tags" : [ "shortlink" ],
        "summary" : "Get an existing short link object",
        "operationId" : "getShortLink",
        "parameters" : [ {
          "name" : "hash",
          "in" : "path",
          "description" : "The generated short link hash to retrieve info from",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShortLink"
                }
              }
            }
          },
          "404" : {
            "description" : "Short link not found"
          }
        }
      },
      "put" : {
        "tags" : [ "shortlink" ],
        "summary" : "Update an existing short link to point to a different long URL",
        "operationId" : "updateShortLink",
        "parameters" : [ {
          "name" : "hash",
          "in" : "path",
          "description" : "The short link hash to be updated",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ShortLink"
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation, empty response"
          },
          "404" : {
            "description" : "Short link not found"
          }
        }
      },
      "delete" : {
        "tags" : [ "shortlink" ],
        "summary" : "Delete a short link",
        "description" : "Delete the short link",
        "operationId" : "deleteShortLink",
        "parameters" : [ {
          "name" : "hash",
          "in" : "path",
          "description" : "The short link hash to be deleted",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, empty response"
          },
          "404" : {
            "description" : "Short link not found"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ShortLink" : {
        "type" : "object",
        "required" : [ "hash", "shortUrl", "longUrl" ],
        "properties" : {
          "hash" : {
            "type" : "string",
            "example" : "a1n2t3 (Any string is OK as long as it can unambigously identify a single item)"
          },
          "shortUrl" : {
            "type" : "string",
            "example" : "https://ant.ly/a1n2t3 (The format always starts with https://ant.ly/ followed by the <<hash>>)"
          },
          "longUrl" : {
            "type" : "string",
            "example" : "https://en.wikipedia.org/wiki/Ant_Financial"
          }
        }
      }
    },
    "requestBodies" : {
      "ShortLink" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "required" : [ "longUrl" ],
              "properties" : {
                "longUrl" : {
                  "type" : "string",
                  "example" : "https://en.wikipedia.org/wiki/Ant_Financial"
                }
              }
            }
          }
        },
        "description" : "Short link object used in the request body",
        "required" : true
      }
    }
  }
}