{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "covid19api",
    "description" : "coivd19 cases by country",
    "version" : "0.2"
  },
  "servers" : [ {
    "url" : "https://api.covid19api.com"
  } ],
  "paths" : {
    "/summary" : {
      "get" : {
        "description" : "A country's covid cases summary",
        "responses" : {
          "200" : {
            "description" : "A single country.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "countries" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/AllCountries"
                      }
                    },
                    "Date" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://api.covid19api.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://api.covid19api.com"
      } ]
    }
  },
  "components" : {
    "schemas" : {
      "AllCountries" : {
        "type" : "array",
        "items" : {
          "type" : "object",
          "properties" : {
            "Country" : {
              "type" : "string"
            },
            "CountrySlug" : {
              "type" : "string"
            },
            "NewConfirmed" : {
              "type" : "integer",
              "format" : "int32"
            },
            "TotalConfirmed" : {
              "type" : "integer",
              "format" : "int32"
            },
            "NewDeaths" : {
              "type" : "integer",
              "format" : "int32"
            },
            "TotalDeaths" : {
              "type" : "integer",
              "format" : "int32"
            },
            "NewRecovered" : {
              "type" : "integer",
              "format" : "int32"
            },
            "TotalRecovered" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        },
        "example" : [ {
          "Country" : "Canada,",
          "CountrySlug" : "canada,",
          "NewConfirmed" : "143,",
          "TotalConfirmed" : "943,",
          "NewDeaths" : "3,",
          "TotalDeaths" : "12,",
          "NewRecovered" : "0,",
          "TotalRecovered" : 9
        }, {
          "Country" : "India,",
          "CountrySlug" : "india,",
          "NewConfirmed" : "50,",
          "TotalConfirmed" : "244,",
          "NewDeaths" : "1,",
          "TotalDeaths" : "5,",
          "NewRecovered" : "5,",
          "TotalRecovered" : 20
        } ]
      }
    }
  }
}