{
  "openapi" : "3.0.0",
  "info" : {
    "version" : "1.1",
    "title" : "Stock search (IEX Cloud)",
    "description" : "Unfortunately, it looks like they changed the access to this API. My token no longer works. You can still take a look at the code, however. <br><hr>This is an API for looking up new stock quotes. While I, [Aaron K. Redshaw](http://aaronkredshaw.com), wrote this OpenAPI document, the resources used are not my own, but belong to IEX Cloud Services LLC. To read more about what they offer, see their [website](https://iexcloud.io/). View their [API docs](https://iexcloud.io/docs/api/) for more options not listed here.<br><br>I utilized [Postman](http://www.getpostman.com), [Swagger Inspector](https://inspector.swagger.io/?_ga=2.236071489.192567433.1572038275-1991175511.1571859919), [SwaggerHub](https://app.swaggerhub.com/), [Swagger UI](http://editor.swagger.io/), as well as my own coding skills to create this page.<br><br>For more resources, visit my website at [http://aaronkredshaw.com](http://aaronkredshaw.com)"
  },
  "servers" : [ {
    "url" : "https://cloud.iexapis.com",
    "description" : "The cloud IEX Cloud root URL"
  } ],
  "paths" : {
    "/stable/tops" : {
      "get" : {
        "description" : "Much of this was generated Swagger Inspector",
        "parameters" : [ {
          "name" : "symbols",
          "description" : "<h4>Some good symbols to start with (not case sensitive)</h3>\n* WMT (Walmart)\n* SNE (Sony)\n* DIS (Disney)\n* NKE (Nike)",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "DIS"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success!"
          },
          "404" : {
            "description" : "Not found. The resource you requests could not be located."
          },
          "500" : {
            "description" : "Something went wrong on an IEX Cloud server."
          }
        }
      }
    }
  },
  "security" : [ {
    "app_id" : [ ]
  } ],
  "components" : {
    "securitySchemes" : {
      "app_id" : {
        "type" : "apiKey",
        "description" : "This is the API key used to authorize requests. If you don't already have one, use mine (pk_9c4b29baf68741c38ab566b4eb9adc0c).",
        "name" : "token",
        "in" : "query"
      }
    },
    "parameters" : {
      "symbol" : {
        "name" : "symbol",
        "in" : "query",
        "description" : "This is where you put in your stock symbol",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    }
  }
}