{
  "openapi" : "3.0.0",
  "servers" : [ {
    "description" : "Atmotube Cloud API for Atmotube devices (atmotube.com)",
    "url" : "https://api.atmotube.com/api/v1/"
  } ],
  "info" : {
    "description" : "This is a simple API",
    "version" : "1.0",
    "title" : "Atmotube Cloud API (beta)",
    "contact" : {
      "email" : "info@atmotube.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags" : [ {
    "name" : "developers",
    "description" : "Operations available to regular developers"
  } ],
  "paths" : {
    "/data" : {
      "get" : {
        "security" : [ {
          "ApiKeyAuth" : [ ]
        } ],
        "tags" : [ "developers" ],
        "summary" : "retrieve Atmotube history data",
        "operationId" : "getData",
        "description" : "By passing in the appropriate options, you can get history data for your Atmotube device\n",
        "parameters" : [ {
          "in" : "query",
          "name" : "mac",
          "description" : "Atmotube MAC address",
          "required" : true,
          "schema" : {
            "type" : "string",
            "pattern" : "^[a-fA-F0-9:]{17}|[a-fA-F0-9]{12}$",
            "example" : "aa:bb:cc:dd:ee:ff"
          }
        }, {
          "in" : "query",
          "name" : "order",
          "description" : "Sort order (`desc` - default):\n  * `asc` - Time ascending\n  * `desc` - Time descending\n",
          "schema" : {
            "type" : "string",
            "enum" : [ "asc", "desc" ]
          }
        }, {
          "in" : "query",
          "name" : "format",
          "description" : "Sort order (`json` - default):\n  * `json` - JSON output\n  * `csv` - CSV output\n",
          "schema" : {
            "type" : "string",
            "enum" : [ "asc", "desc" ]
          }
        }, {
          "in" : "query",
          "name" : "offset",
          "description" : "number of records to skip for pagination",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 0,
            "example" : "0"
          }
        }, {
          "in" : "query",
          "name" : "limit",
          "description" : "maximum number of records to return",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 0,
            "maximum" : 1000,
            "example" : "50"
          }
        }, {
          "in" : "query",
          "name" : "date",
          "description" : "date filter",
          "schema" : {
            "type" : "string",
            "format" : "date",
            "example" : "2019-08-09"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Atmotube history data",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AtmotubeResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "400" : {
            "description" : "bad input parameter"
          }
        }
      }
    }
  },
  "components" : {
    "securitySchemes" : {
      "ApiKeyAuth" : {
        "type" : "apiKey",
        "in" : "query",
        "name" : "api_key"
      }
    },
    "schemas" : {
      "AtmotubeDataItem" : {
        "type" : "object",
        "required" : [ "time" ],
        "properties" : {
          "voc" : {
            "type" : "number",
            "description" : "VOC value, ppm",
            "example" : 0.18,
            "minimum" : 0,
            "maximum" : 60
          },
          "pm1" : {
            "type" : "integer",
            "description" : "PM 1 value, µg/m3",
            "example" : 19,
            "minimum" : 1,
            "maximum" : 1000
          },
          "pm25" : {
            "type" : "integer",
            "description" : "PM 2.5 value, µg/m3",
            "example" : 23,
            "minimum" : 1,
            "maximum" : 1000
          },
          "pm10" : {
            "type" : "integer",
            "description" : "PM 10 value, µg/m3",
            "example" : 25,
            "minimum" : 1,
            "maximum" : 1000
          },
          "t" : {
            "type" : "integer",
            "description" : "Tempreture, °C",
            "example" : 20,
            "minimum" : -40,
            "maximum" : 85
          },
          "h" : {
            "type" : "integer",
            "description" : "Humidity, %",
            "example" : 65,
            "minimum" : 0,
            "maximum" : 100
          },
          "p" : {
            "type" : "number",
            "description" : "Pressure, mbar",
            "example" : 1003.8,
            "minimum" : 300,
            "maximum" : 1100
          },
          "time" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2016-08-29T09:12:33.001Z"
          },
          "coords" : {
            "$ref" : "#/components/schemas/AtmotubeDataCoords"
          }
        }
      },
      "AtmotubeDataCoords" : {
        "type" : "object",
        "required" : [ "lat", "lon" ],
        "properties" : {
          "lat" : {
            "type" : "number",
            "description" : "Latitude, decimal degrees",
            "example" : 26.1177487,
            "minimum" : -90,
            "maximum" : 90
          },
          "lon" : {
            "type" : "number",
            "description" : "Longitude, decimal degrees",
            "example" : 44.4807455,
            "minimum" : -180,
            "maximum" : 180
          }
        }
      },
      "AtmotubeResponse" : {
        "type" : "object",
        "required" : [ "status" ],
        "properties" : {
          "status" : {
            "type" : "integer",
            "description" : "status code",
            "example" : 0
          },
          "message" : {
            "type" : "string",
            "description" : "Status description"
          },
          "items" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AtmotubeDataItem"
            }
          }
        }
      }
    }
  }
}