{
  "openapi" : "3.0.0",
  "servers" : [ {
    "url" : "https://api.backquote.io/expose/v1/",
    "description" : "Backquote Content API server"
  }, {
    "url" : "https://virtserver.swaggerhub.com/backquote/content-api/1.0.0",
    "description" : "SwaggerHub API Auto Mocking"
  } ],
  "info" : {
    "description" : "Users of Backquote.io can query their published blog posts via this API",
    "version" : "1.0.0",
    "title" : "Backquote Content API",
    "contact" : {
      "email" : "contact@backquote.io"
    }
  },
  "security" : [ {
    "authToken" : [ ]
  } ],
  "tags" : [ {
    "name" : "posts",
    "description" : "Blog Posts"
  } ],
  "paths" : {
    "/{blogId}/posts" : {
      "get" : {
        "summary" : "get published posts of a blog",
        "operationId" : "getBlogPosts",
        "description" : "Query published posts of a blog\n",
        "tags" : [ "posts" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "blogId",
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "minimum" : 0
          },
          "required" : true,
          "description" : "Numeric ID of the blog"
        }, {
          "in" : "query",
          "name" : "page",
          "description" : "page number to query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 0
          }
        }, {
          "in" : "query",
          "name" : "per_page",
          "description" : "number of posts per page",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "published posts of the blog",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          }
        }
      }
    }
  },
  "components" : {
    "securitySchemes" : {
      "authToken" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    },
    "schemas" : {
      "Post" : {
        "type" : "object",
        "required" : [ "id", "title", "short_description", "time_published" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "blog_id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "title" : {
            "type" : "string",
            "example" : "My awesome post"
          },
          "slug" : {
            "type" : "string",
            "example" : "my-awesome-post"
          },
          "short_description" : {
            "type" : "string",
            "example" : "This is my awesome post's short description. More in body!"
          },
          "body_source" : {
            "type" : "string",
            "example" : "# Hello world!"
          },
          "body_compiled" : {
            "type" : "string",
            "example" : "<h1>Hello world!</h1>"
          },
          "time_created" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2016-08-29T09:12:33.0000001Z"
          },
          "time_published" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2016-08-29T09:12:33.0000001Z"
          }
        }
      }
    }
  }
}