{
  "openapi" : "3.0.0",
  "servers" : [ {
    "url" : "https://app.docurex.com/api"
  } ],
  "info" : {
    "title" : "docurex 3 RestApi v1.0",
    "version" : "1.0-oas3",
    "contact" : {
      "email" : "support@docurex.com"
    }
  },
  "tags" : [ {
    "name" : "Document"
  }, {
    "name" : "Folder"
  }, {
    "name" : "Bookmark"
  }, {
    "name" : "User"
  }, {
    "name" : "Group"
  }, {
    "name" : "QA"
  } ],
  "paths" : {
    "/document" : {
      "get" : {
        "summary" : "Get document collection",
        "tags" : [ "Document" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "sort",
          "description" : "Sort Order (+ = Ascending; - = Descending)",
          "example" : "-created_at",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "page",
          "description" : "Page Number",
          "example" : 1,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "in" : "query",
          "name" : "page_size",
          "description" : "Page Size",
          "example" : 25,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "in" : "query",
          "name" : "folder_id",
          "description" : "Parent Folder ID",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "recursive",
          "description" : "Includes all subfolders",
          "example" : 1,
          "schema" : {
            "type" : "integer",
            "enum" : [ 0, 1 ]
          }
        }, {
          "in" : "query",
          "name" : "name",
          "description" : "Filter by document name",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "content",
          "description" : "Filter by document content",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "metaContent",
          "description" : "Filter by document meta content",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      },
      "post" : {
        "tags" : [ "Document" ],
        "summary" : "Add a new document",
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Document"
                }
              }
            }
          },
          "400" : {
            "description" : "Client Error"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          },
          "422" : {
            "description" : "Unprocessable Entity"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "folder_id" : {
                    "type" : "string"
                  },
                  "file" : {
                    "type" : "string",
                    "format" : "binary"
                  }
                },
                "required" : [ "folder_id", "file" ]
              }
            }
          }
        }
      }
    },
    "/document/{document_id}" : {
      "get" : {
        "tags" : [ "Document" ],
        "summary" : "Find a document by ID",
        "parameters" : [ {
          "in" : "path",
          "name" : "document_id",
          "description" : "URL parameter document_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Document"
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      },
      "put" : {
        "tags" : [ "Document" ],
        "summary" : "Update an existing document",
        "parameters" : [ {
          "in" : "path",
          "name" : "document_id",
          "description" : "URL parameter document_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Client Error"
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          },
          "422" : {
            "description" : "Unprocessable Entity"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string"
                  }
                },
                "required" : [ "name" ]
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Document" ],
        "summary" : "Deletes a document",
        "parameters" : [ {
          "in" : "path",
          "name" : "document_id",
          "description" : "URL parameter document_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Entity deleted"
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      }
    },
    "/document/{document_id}/download" : {
      "get" : {
        "tags" : [ "Document" ],
        "summary" : "Download a document",
        "parameters" : [ {
          "in" : "path",
          "name" : "document_id",
          "description" : "URL parameter document_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      }
    },
    "/document/{document_id}/properties" : {
      "get" : {
        "tags" : [ "Document" ],
        "summary" : "Get document properties",
        "parameters" : [ {
          "in" : "path",
          "name" : "document_id",
          "description" : "URL parameter document_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "example" : {
                  "document_type" : "Photo",
                  "document_meta" : {
                    "meta1" : "example meta data #1",
                    "meta2" : "example meta data #2"
                  }
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      }
    },
    "/document/{document_id}/send" : {
      "get" : {
        "tags" : [ "Document" ],
        "summary" : "Sends a document to user email",
        "parameters" : [ {
          "in" : "path",
          "name" : "document_id",
          "description" : "URL parameter document_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "example" : {
                  "document_id" : "7DgLR32V0kPjV6Jw",
                  "state" : "true,",
                  "message" : "sending"
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      }
    },
    "/document/{document_id}/copy" : {
      "post" : {
        "tags" : [ "Document" ],
        "summary" : "Copies a document",
        "parameters" : [ {
          "in" : "path",
          "name" : "document_id",
          "description" : "URL parameter document_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "example" : {
                  "document_id" : "7DgLR32V0kPjV6Jw",
                  "folder_id" : "2qWXPN7Z27wkOVRm",
                  "status" : true
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "405" : {
            "description" : "Method Not Allowed"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          },
          "422" : {
            "description" : "Unprocessable Entity"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "folder_id" : {
                    "type" : "string"
                  }
                },
                "required" : [ "folder_id" ]
              }
            }
          }
        }
      }
    },
    "/document/{document_id}/move" : {
      "post" : {
        "tags" : [ "Document" ],
        "summary" : "Moves a document",
        "parameters" : [ {
          "in" : "path",
          "name" : "document_id",
          "description" : "URL parameter document_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "example" : {
                  "document_id" : "7DgLR32V0kPjV6Jw",
                  "folder_id" : "2qWXPN7Z27wkOVRm",
                  "status" : true
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "405" : {
            "description" : "Method Not Allowed"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          },
          "422" : {
            "description" : "Unprocessable Entity"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "folder_id" : {
                    "type" : "string"
                  }
                },
                "required" : [ "folder_id" ]
              }
            }
          }
        }
      }
    },
    "/document/{document_id}/preview" : {
      "post" : {
        "tags" : [ "Document" ],
        "summary" : "Generates a preview image",
        "parameters" : [ {
          "in" : "path",
          "name" : "document_id",
          "description" : "URL parameter document_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "image/*" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        },
        "requestBody" : {
          "required" : false,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "page" : {
                    "type" : "integer"
                  },
                  "format" : {
                    "type" : "string",
                    "enum" : [ "jpg", "jpeg", "png", "tiff" ]
                  },
                  "quality" : {
                    "type" : "integer",
                    "minimum" : 10,
                    "maximum" : 100
                  },
                  "width" : {
                    "type" : "integer"
                  },
                  "height" : {
                    "type" : "integer"
                  },
                  "dpi" : {
                    "type" : "integer"
                  }
                },
                "required" : [ "document_id" ]
              },
              "example" : {
                "page" : 1,
                "format" : "jpg",
                "height" : 200,
                "quality" : 70,
                "dpi" : 72
              }
            }
          }
        }
      }
    },
    "/folder" : {
      "get" : {
        "summary" : "Get folder collection",
        "tags" : [ "Folder" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "sort",
          "description" : "Sort Order (+ = Ascending; - = Descending)",
          "example" : "-created_at",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "page",
          "description" : "Page Number",
          "example" : 1,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "in" : "query",
          "name" : "page_size",
          "description" : "Page Size",
          "example" : 25,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "in" : "query",
          "name" : "recursive",
          "description" : "Includes all subfolders",
          "example" : 1,
          "schema" : {
            "type" : "integer",
            "enum" : [ 0, 1 ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      },
      "post" : {
        "tags" : [ "Folder" ],
        "summary" : "Add a new folder",
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Folder"
                }
              }
            }
          },
          "400" : {
            "description" : "Client Error"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          },
          "422" : {
            "description" : "Unprocessable Entity"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "parent_id" : {
                    "type" : "string"
                  },
                  "name" : {
                    "type" : "string"
                  }
                },
                "required" : [ "parent_id", "name" ]
              }
            },
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "parent_id" : {
                    "type" : "string"
                  },
                  "name" : {
                    "type" : "string"
                  }
                },
                "required" : [ "parent_id", "name" ]
              }
            }
          }
        }
      }
    },
    "/folder/{folder_id}" : {
      "get" : {
        "tags" : [ "Folder" ],
        "summary" : "Find folder by ID",
        "parameters" : [ {
          "in" : "path",
          "name" : "folder_id",
          "description" : "URL parameter folder_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Folder"
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      },
      "put" : {
        "tags" : [ "Folder" ],
        "summary" : "Update an existing folder",
        "parameters" : [ {
          "in" : "path",
          "name" : "folder_id",
          "description" : "URL parameter folder_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Client Error"
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          },
          "422" : {
            "description" : "Unprocessable Entity"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string"
                  }
                },
                "required" : [ "name" ]
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Folder" ],
        "summary" : "Deletes a folder",
        "parameters" : [ {
          "in" : "path",
          "name" : "folder_id",
          "description" : "URL parameter folder_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Entity deleted"
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      }
    },
    "/folder/{folder_id}/download" : {
      "get" : {
        "tags" : [ "Folder" ],
        "summary" : "Download a folder as zip file",
        "parameters" : [ {
          "in" : "path",
          "name" : "folder_id",
          "description" : "URL parameter folder_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/zip" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      }
    },
    "/folder/{folder_id}/copy" : {
      "post" : {
        "tags" : [ "Folder" ],
        "summary" : "Copies a folder",
        "parameters" : [ {
          "in" : "path",
          "name" : "folder_id",
          "description" : "URL parameter folder_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "example" : {
                  "folder_id" : "zo1AqV4yK5mJrPY6",
                  "target_id" : "eV8g6n7J35JoqjON",
                  "status" : true
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "405" : {
            "description" : "Method Not Allowed"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          },
          "422" : {
            "description" : "Unprocessable Entity"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "target_id" : {
                    "type" : "string"
                  }
                },
                "required" : [ "target_id" ]
              }
            }
          }
        }
      }
    },
    "/folder/{folder_id}/move" : {
      "post" : {
        "tags" : [ "Folder" ],
        "summary" : "Moves a folder",
        "parameters" : [ {
          "in" : "path",
          "name" : "folder_id",
          "description" : "URL parameter folder_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "example" : {
                  "folder_id" : "zo1AqV4yK5mJrPY6",
                  "target_id" : "eV8g6n7J35JoqjON",
                  "status" : true
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "405" : {
            "description" : "Method Not Allowed"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          },
          "422" : {
            "description" : "Unprocessable Entity"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "target_id" : {
                    "type" : "string"
                  }
                },
                "required" : [ "target_id" ]
              }
            }
          }
        }
      }
    },
    "/folder/{folder_id}/notify" : {
      "post" : {
        "tags" : [ "Folder" ],
        "summary" : "Activates folder notification",
        "parameters" : [ {
          "in" : "path",
          "name" : "folder_id",
          "description" : "URL parameter folder_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "example" : {
                  "folder_id" : "zo1AqV4yK5mJrPY6",
                  "status" : true
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "405" : {
            "description" : "Method Not Allowed"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          },
          "422" : {
            "description" : "Unprocessable Entity"
          }
        }
      }
    },
    "/bookmark" : {
      "get" : {
        "summary" : "Get bookmark collection",
        "tags" : [ "Bookmark" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "sort",
          "description" : "Sort Order (+ = Ascending; - = Descending)",
          "example" : "-created_at",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "page",
          "description" : "Page Number",
          "example" : 1,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      },
      "post" : {
        "tags" : [ "Bookmark" ],
        "summary" : "Add a new bookmark",
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Bookmark"
                }
              }
            }
          },
          "400" : {
            "description" : "Client Error"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          },
          "422" : {
            "description" : "Unprocessable Entity"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "object_type" : {
                    "type" : "string",
                    "enum" : [ "document", "folder" ]
                  },
                  "object_id" : {
                    "type" : "string"
                  },
                  "name" : {
                    "type" : "string"
                  }
                },
                "required" : [ "object_type", "object_id", "name" ]
              }
            },
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "object_type" : {
                    "type" : "string",
                    "enum" : [ "document", "folder" ]
                  },
                  "object_id" : {
                    "type" : "string"
                  },
                  "name" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bookmark/{bookmark_id}" : {
      "get" : {
        "tags" : [ "Bookmark" ],
        "summary" : "Find bookmark by ID",
        "parameters" : [ {
          "in" : "path",
          "name" : "bookmark_id",
          "description" : "URL parameter bookmark_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Bookmark"
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      },
      "delete" : {
        "tags" : [ "Bookmark" ],
        "summary" : "Deletes a bookmark",
        "parameters" : [ {
          "in" : "path",
          "name" : "bookmark_id",
          "description" : "URL parameter bookmark_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Entity deleted"
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      }
    },
    "/user" : {
      "get" : {
        "summary" : "Get user collection",
        "tags" : [ "User" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "sort",
          "description" : "Sort Order (+ = Ascending; - = Descending)",
          "example" : "-created_at",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "page",
          "description" : "Page Number",
          "example" : 1,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      },
      "post" : {
        "tags" : [ "User" ],
        "summary" : "Add a new user",
        "parameters" : [ {
          "in" : "query",
          "name" : "suppressEmail",
          "description" : "Suppressing E-Mail Notification",
          "example" : null,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "400" : {
            "description" : "Client Error"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          },
          "422" : {
            "description" : "Unprocessable Entity"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "firstname" : {
                    "type" : "string"
                  },
                  "lastname" : {
                    "type" : "string"
                  },
                  "login" : {
                    "type" : "string"
                  },
                  "email" : {
                    "type" : "string"
                  },
                  "password" : {
                    "type" : "string"
                  },
                  "groups" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  }
                },
                "required" : [ "firstname", "lastname", "login", "email", "password", "groups" ]
              },
              "example" : {
                "firstname" : "Hans",
                "lastname" : "Mustermann",
                "login" : "hans.mustermann",
                "email" : "hans.mustermann@example.org",
                "password" : "Secure123#",
                "groups" : [ "OaRK1N9m59J4ome2" ]
              }
            }
          }
        }
      }
    },
    "/user/{user_id}" : {
      "get" : {
        "tags" : [ "User" ],
        "summary" : "Find user by ID",
        "parameters" : [ {
          "in" : "path",
          "name" : "user_id",
          "description" : "URL parameter user_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      },
      "put" : {
        "tags" : [ "User" ],
        "summary" : "Updates an existing user",
        "parameters" : [ {
          "in" : "path",
          "name" : "user_id",
          "description" : "URL parameter user_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "400" : {
            "description" : "Client Error"
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          },
          "422" : {
            "description" : "Unprocessable Entity"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "firstname" : {
                    "type" : "string"
                  },
                  "lastname" : {
                    "type" : "string"
                  },
                  "email" : {
                    "type" : "string"
                  },
                  "password" : {
                    "type" : "string"
                  },
                  "mobile" : {
                    "type" : "string"
                  },
                  "lang" : {
                    "type" : "string",
                    "enum" : [ "de", "en" ]
                  },
                  "active" : {
                    "type" : "boolean"
                  },
                  "active_from" : {
                    "type" : "string"
                  },
                  "active_until" : {
                    "type" : "string"
                  },
                  "groups" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "User" ],
        "summary" : "Deletes a user",
        "parameters" : [ {
          "in" : "path",
          "name" : "user_id",
          "description" : "URL parameter user_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Entity deleted"
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      }
    },
    "/group" : {
      "get" : {
        "summary" : "Get group collection",
        "tags" : [ "Group" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "sort",
          "description" : "Sort Order (+ = Ascending; - = Descending)",
          "example" : "-created_at",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "page",
          "description" : "Page Number",
          "example" : 1,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      },
      "post" : {
        "tags" : [ "Group" ],
        "summary" : "Add a new group",
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          },
          "400" : {
            "description" : "Client Error"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          },
          "422" : {
            "description" : "Unprocessable Entity"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string"
                  },
                  "rights" : {
                    "type" : "string"
                  },
                  "users" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "folder_rights" : {
                    "type" : "array",
                    "items" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    }
                  }
                },
                "required" : [ "name", "rights" ]
              },
              "example" : {
                "name" : "group example",
                "rights" : [ "DOCUMENTS_VIEW", "DOCUMENTS_SEARCH", "QUESTION_VIEW" ],
                "users" : [ "zoGOv59wmQy8gde2", "JAKpjNLr0VxbqWXd" ],
                "folder_rights" : [ {
                  "Lm3pyEvXe4DnKGNb" : [ "FOLDER_FILEUPLOAD", "FILE_PREVIEW", "FOLDER_CREATE", "FILE_VIEW", "FILE_DOWNLOAD" ]
                } ]
              }
            }
          }
        }
      }
    },
    "/group/{group_id}" : {
      "get" : {
        "tags" : [ "Group" ],
        "summary" : "Find group by ID",
        "parameters" : [ {
          "in" : "path",
          "name" : "group_id",
          "description" : "URL parameter group_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      },
      "delete" : {
        "tags" : [ "Group" ],
        "summary" : "Deletes a group",
        "parameters" : [ {
          "in" : "path",
          "name" : "group_id",
          "description" : "URL parameter group_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Entity deleted"
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      }
    },
    "/qa" : {
      "get" : {
        "tags" : [ "QA" ],
        "summary" : "Get qa (question & answer) collection",
        "parameters" : [ {
          "in" : "query",
          "name" : "sort",
          "description" : "Sort Order (+ = Ascending; - = Descending)",
          "example" : "-created_at",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "page",
          "description" : "Page Number",
          "example" : 1,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      },
      "post" : {
        "tags" : [ "QA" ],
        "summary" : "Add a new qa object",
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Qa"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "question" : {
                    "type" : "string"
                  },
                  "object_id" : {
                    "type" : "string"
                  },
                  "object_type" : {
                    "type" : "string"
                  },
                  "category_id" : {
                    "type" : "integer"
                  },
                  "priority" : {
                    "type" : "string"
                  }
                },
                "required" : [ "question", "category_id", "object_type", "priority" ]
              },
              "example" : {
                "question" : "Question?",
                "object_id" : "ZYP0O5d57MBbK4Ar",
                "object_type" : "document",
                "category_id" : 1,
                "priority" : "low",
                "private" : true
              }
            }
          }
        }
      }
    },
    "/qa/{question_id}" : {
      "get" : {
        "tags" : [ "QA" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "question_id",
          "description" : "URL parameter question_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minimum" : 0,
            "maximum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Qa"
                }
              }
            }
          },
          "404" : {
            "$ref" : "#/components/responses/Error404"
          },
          "406" : {
            "description" : "Not Acceptable"
          },
          "415" : {
            "$ref" : "#/components/responses/Error415"
          }
        }
      }
    }
  },
  "components" : {
    "securitySchemes" : {
      "bearerAuth" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    },
    "schemas" : {
      "Document" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the document"
          },
          "checksum" : {
            "type" : "string",
            "description" : "MD5 check sum"
          },
          "created_at" : {
            "type" : "string"
          },
          "created_by" : {
            "type" : "string"
          },
          "file_size" : {
            "type" : "integer",
            "description" : "File size in bytes"
          },
          "folder_id" : {
            "type" : "string"
          },
          "page_number" : {
            "type" : "integer",
            "description" : "Number of pages"
          },
          "file_mimetype" : {
            "type" : "string",
            "description" : "MIME-Type"
          },
          "is_viewed" : {
            "type" : "boolean",
            "description" : "Unread document = 0"
          },
          "info" : {
            "type" : "string",
            "description" : "Additional info"
          },
          "parent_folders" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "description" : "Parent folders"
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/Hal"
        } ],
        "example" : {
          "id" : "7DgLR32V0kPjV6Jw",
          "name" : "image.jpg,",
          "created_at" : "2018-09-24 15:01:57",
          "created_by" : "Hans Mustermann",
          "file_size" : 96640,
          "file_type" : "jpg",
          "folder_id" : "lGAEWX4Mj7mJyMkb",
          "page_number" : 1,
          "file_mimetype" : "image/jpeg",
          "is_viewed" : false,
          "info" : {
            "highlight" : "Documentation: The <b>Secret</b> to a Great API Developer Experience",
            "page" : 6
          },
          "_links" : {
            "self" : {
              "href" : "/document/7DgLR32V0kPjV6Jw"
            },
            "folder" : {
              "href" : "/folder/lGAEWX4Mj7mJyMkb"
            },
            "document_delete" : {
              "href" : "/document/7DgLR32V0kPjV6Jw"
            },
            "document_rename" : {
              "href" : "/document/7DgLR32V0kPjV6Jw"
            },
            "document_download" : {
              "href" : "/document/7DgLR32V0kPjV6Jw/download"
            },
            "document_copy" : {
              "href" : "/document/7DgLR32V0kPjV6Jw/copy"
            },
            "document_move" : {
              "href" : "/document/7DgLR32V0kPjV6Jw/move"
            },
            "document_properties" : {
              "href" : "/document/7DgLR32V0kPjV6Jw/properties"
            },
            "document_send" : {
              "href" : "/document/7DgLR32V0kPjV6Jw/send"
            }
          }
        }
      },
      "Folder" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "parent_id" : {
            "type" : "string"
          },
          "full_path" : {
            "type" : "string"
          },
          "changed_at" : {
            "type" : "string",
            "description" : "Last change of child objects (documents, folders)"
          },
          "created_at" : {
            "type" : "string"
          },
          "created_by" : {
            "type" : "string"
          },
          "size" : {
            "type" : "integer"
          },
          "number_documents" : {
            "type" : "integer"
          },
          "number_children" : {
            "type" : "integer"
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/Hal"
        } ],
        "example" : {
          "id" : "lGAEWX4Mj7mJyMkb",
          "name" : "Folder 1",
          "parent_id" : null,
          "full_path" : "Folder 1",
          "created_at" : "2018-08-17 17:15:13",
          "created_by" : "Hans Mustermann",
          "size" : 5432122,
          "number_documents" : 0,
          "number_children" : 0,
          "_links" : {
            "self" : {
              "href" : "/folder/lGAEWX4Mj7mJyMkb"
            },
            "documents" : {
              "href" : "/document?folder_id=lGAEWX4Mj7mJyMkb"
            },
            "root_folder" : {
              "href" : "/folder/lGAEWX4Mj7mJyMkb"
            },
            "folder_delete" : {
              "href" : "/folder/lGAEWX4Mj7mJyMkb"
            },
            "folder_rename" : {
              "href" : "/folder/lGAEWX4Mj7mJyMkb"
            },
            "folder_copy" : {
              "href" : "/folder/lGAEWX4Mj7mJyMkb/copy"
            },
            "folder_move" : {
              "href" : "/folder/lGAEWX4Mj7mJyMkb/move"
            },
            "folder_notify" : {
              "href" : "/folder/lGAEWX4Mj7mJyMkb/notify"
            },
            "folder_download" : {
              "href" : "/folder/lGAEWX4Mj7mJyMkb/download"
            }
          }
        }
      },
      "Bookmark" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "object_id" : {
            "type" : "string"
          },
          "object_type" : {
            "type" : "string",
            "enum" : [ "document", "folder" ]
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/Hal"
        } ],
        "example" : {
          "id" : "lGAEWX4Mj7mJyMkb",
          "name" : "Bookmark #1",
          "object_id" : "PjmbLy8mb5WrnxeR",
          "object_type" : "document",
          "_links" : {
            "self" : {
              "href" : "/bookmark/lGAEWX4Mj7mJyMkb"
            },
            "folder" : {
              "href" : "/folder/PjmbLy8mb5WrnxeR"
            },
            "document" : {
              "href" : "/document/PjmbLy8mb5WrnxeR"
            }
          }
        }
      },
      "User" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "firstname" : {
            "type" : "string"
          },
          "lastname" : {
            "type" : "string"
          },
          "login" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          },
          "mobile" : {
            "type" : "string"
          },
          "lang" : {
            "type" : "string",
            "enum" : [ "en", "de" ],
            "description" : "User Language"
          },
          "api_token" : {
            "type" : "string"
          },
          "active" : {
            "type" : "boolean",
            "description" : "User State"
          },
          "created_at" : {
            "type" : "string"
          },
          "created_by" : {
            "type" : "string"
          },
          "active_from" : {
            "type" : "string"
          },
          "active_until" : {
            "type" : "string"
          },
          "groups" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Group"
            }
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/Hal"
        } ],
        "example" : {
          "id" : "lGAEWX4Mj7mJyMkb",
          "firstname" : "Hans",
          "lastname" : "Mustermann",
          "login" : "hans.mustermann",
          "email" : "hans.mustermann@example.org",
          "mobile" : "+491234567890",
          "lang" : "de",
          "api_token" : "a436fca7-74a9-8081-9dcacf6ffa48eff9",
          "active" : true,
          "created_at" : "2018-08-17 17:15:11",
          "created_by" : "Admin",
          "active_from" : "2018-10-01 00:00:00",
          "active_until" : "2018-12-31 23:59:59",
          "groups" : [ "OaRK1N9m59J4ome2" ],
          "_links" : {
            "self" : {
              "href" : "/user/lGAEWX4Mj7mJyMkb"
            },
            "groups" : [ {
              "href" : "/group/OaRK1N9m59J4ome2"
            }, {
              "href" : "/group/PQlJdEy3BVY2oa1x"
            } ]
          }
        }
      },
      "Group" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "rights" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "description" : "User Rights"
          },
          "description" : {
            "type" : "string"
          },
          "active" : {
            "type" : "boolean"
          },
          "created_at" : {
            "type" : "string"
          },
          "created_by" : {
            "type" : "string"
          },
          "max_file_size" : {
            "type" : "integer",
            "description" : "Upload limit in bytes"
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/Hal"
        } ],
        "example" : {
          "id" : "NXp0wqdr9bB3lrJk",
          "name" : "Administratoren",
          "description" : "Group of admins",
          "created_at" : "2018-08-17 17:15:11",
          "created_by" : "System",
          "active" : true,
          "max_file_size" : 10485760,
          "rights" : {
            "102" : "FOLDER_EDIT",
            "103" : "FOLDER_CREATE"
          },
          "_links" : {
            "self" : {
              "href" : "/group/NXp0wqdr9bB3lrJk"
            }
          }
        }
      },
      "Qa" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "question" : {
            "type" : "string"
          },
          "created_at" : {
            "type" : "string"
          },
          "created_by" : {
            "type" : "string"
          },
          "cleared_at" : {
            "type" : "string"
          },
          "object_id" : {
            "type" : "string"
          },
          "object_type" : {
            "type" : "string",
            "enum" : [ "none", "document", "folder" ]
          },
          "object_name" : {
            "type" : "string"
          },
          "priority" : {
            "type" : "string",
            "enum" : [ "low", "normal", "high" ]
          },
          "answer" : {
            "type" : "string"
          },
          "comment" : {
            "type" : "string"
          },
          "state" : {
            "type" : "string",
            "enum" : [ "open", "answered", "cleared" ]
          },
          "private" : {
            "type" : "boolean"
          },
          "category_name" : {
            "type" : "string"
          },
          "category_id" : {
            "type" : "string"
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/Hal"
        } ],
        "example" : {
          "id" : "dkvbD8yJ6yNp1q63",
          "question" : "Question?",
          "answer" : "Answer!",
          "created_at" : "2018-09-27 15:09:50",
          "created_by" : "Hans Mustermann",
          "cleared_at" : null,
          "object_id" : "ZYP0O5d57MBbK4Ar,",
          "object_type" : "document",
          "object_name" : "image.jpg",
          "priority" : "low",
          "comment" : "",
          "state" : "open",
          "private" : false,
          "category_name" : "Standard Category",
          "category_id" : 1,
          "_links" : {
            "self" : {
              "href" : "/qa/dkvbD8yJ6yNp1q63"
            }
          }
        }
      },
      "Hal" : {
        "properties" : {
          "_links" : {
            "description" : "Links to related resources or operations on this resource",
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/Link"
            }
          }
        }
      },
      "Link" : {
        "type" : "object",
        "required" : [ "href" ],
        "properties" : {
          "href" : {
            "type" : "string",
            "format" : "uri",
            "description" : "The URI or URI template for the resource/operation this link refers to."
          }
        }
      },
      "Error" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          },
          "status" : {
            "type" : "string"
          },
          "detail" : {
            "type" : "string"
          }
        },
        "required" : [ "type", "title", "status", "detail" ]
      }
    },
    "responses" : {
      "Collection" : {
        "description" : "OK",
        "content" : {
          "application/hal+json" : {
            "schema" : {
              "properties" : {
                "_links" : {
                  "items" : {
                    "$ref" : "#/components/schemas/Link"
                  }
                },
                "_embedded" : {
                  "type" : "array"
                },
                "page_count" : {
                  "type" : "integer",
                  "example" : 3
                },
                "page_size" : {
                  "type" : "integer",
                  "example" : 100
                },
                "total_items" : {
                  "type" : "integer",
                  "example" : 246
                },
                "page" : {
                  "type" : "integer",
                  "example" : 2
                }
              }
            }
          }
        }
      },
      "Error404" : {
        "description" : "Not Found",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : {
              "type" : "http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html",
              "title" : "Not Found",
              "status" : 404,
              "detail" : "..."
            }
          }
        }
      },
      "Error415" : {
        "description" : "Unsupported Media Type",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            },
            "example" : {
              "type" : "http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html",
              "title" : "Unsupported Media Type",
              "status" : 415,
              "detail" : "..."
            }
          }
        }
      }
    },
    "requestBodies" : {
      "Document" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Document"
            }
          }
        },
        "required" : true
      }
    }
  },
  "security" : [ {
    "bearerAuth" : [ ]
  } ]
}