{
  "servers" : [ {
    "url" : "https://app.butterflyone.co"
  } ],
  "security" : [ {
    "bearerAuth" : [ ]
  } ],
  "components" : {
    "securitySchemes" : {
      "bearerAuth" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    },
    "schemas" : {
      "User" : {
        "type" : "object",
        "properties" : {
          "fullname" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string",
            "readOnly" : true
          },
          "id" : {
            "type" : "string",
            "readOnly" : true
          }
        },
        "required" : [ "fullname" ]
      },
      "ResumeReturn" : {
        "type" : "object",
        "properties" : {
          "file" : { }
        }
      },
      "ResumeRaw" : {
        "type" : "object",
        "properties" : {
          "file" : {
            "type" : "string",
            "format" : "binary"
          }
        }
      },
      "ResumeInfo" : {
        "type" : "object",
        "properties" : {
          "userId" : {
            "type" : "string"
          },
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "name" : {
            "type" : "string"
          }
        },
        "required" : [ "id", "name", "userId" ]
      },
      "ResumeInfo1" : {
        "type" : "object",
        "properties" : {
          "userId" : {
            "type" : "string"
          },
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "name" : {
            "type" : "string"
          }
        },
        "required" : [ "id", "name", "userId" ]
      },
      "ResumeReturnList" : {
        "type" : "object",
        "properties" : {
          "resumes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ResumeInfo1"
            }
          },
          "cursor" : {
            "type" : "string"
          }
        }
      }
    }
  },
  "paths" : {
    "/apiv2/demo/users/{str_id}" : {
      "get" : {
        "responses" : {
          "200" : {
            "description" : "Retrieves user info",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          }
        },
        "tags" : [ "Demo Users" ]
      },
      "parameters" : [ {
        "in" : "path",
        "name" : "str_id",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/apiv2/demo/resume/{str_id}" : {
      "get" : {
        "responses" : {
          "200" : {
            "description" : "restrieve resume for user id",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResumeReturn"
                }
              }
            }
          }
        },
        "tags" : [ "Demo Resume" ]
      },
      "post" : {
        "responses" : {
          "201" : {
            "description" : "Create resume for user.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResumeInfo"
                }
              }
            }
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/ResumeRaw"
              }
            }
          }
        },
        "tags" : [ "Demo Resume" ]
      },
      "parameters" : [ {
        "in" : "path",
        "name" : "str_id",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/apiv2/demo/resume" : {
      "get" : {
        "responses" : {
          "200" : {
            "description" : "get resumes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResumeReturnList"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "in" : "query",
          "name" : "cursor",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "tags" : [ "Demo Resume" ]
      }
    }
  },
  "info" : {
    "title" : "bfly.server",
    "version" : "1"
  },
  "tags" : [ {
    "name" : "Demo Users",
    "description" : "Users API"
  }, {
    "name" : "Demo Resume",
    "description" : "Resume API"
  } ],
  "openapi" : "3.0.2"
}