{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Capital Pressure",
    "description" : "For interacting with GPS assets",
    "version" : "0.1.5"
  },
  "servers" : [ {
    "description" : "Capital GPS",
    "url" : "http://bunkerbase.dns-cloud.net/api"
  } ],
  "tags" : [ {
    "name" : "gpswox",
    "description" : "GPSWox Stuff"
  } ],
  "paths" : {
    "/delete/" : {
      "get" : {
        "tags" : [ "gpswox" ],
        "summary" : "Delete user's geofences",
        "description" : "CAUTION! This function will cause a gateway timeout in Swaggerdue to its long run time. Please run this query in your browser or other REST client.",
        "operationId" : "deletepoi",
        "responses" : {
          "200" : {
            "description" : "Success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : { }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : { }
          }
        },
        "security" : [ {
          "user_api_hash" : [ ]
        } ]
      }
    },
    "/distance/" : {
      "get" : {
        "tags" : [ "gpswox" ],
        "summary" : "Get road distance and time between two points",
        "operationId" : "distance",
        "parameters" : [ {
          "name" : "olat",
          "in" : "query",
          "description" : "Latitude of origin",
          "required" : true,
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "number",
                "format" : "float",
                "example" : 51.795029
              }
            }
          }
        }, {
          "name" : "olng",
          "in" : "query",
          "description" : "Longitude of origin",
          "required" : true,
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "number",
                "format" : "float",
                "example" : -114.675848
              }
            }
          }
        }, {
          "name" : "dlat",
          "in" : "query",
          "description" : "Latitude of destination",
          "required" : true,
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "number",
                "format" : "float",
                "example" : 51.202376
              }
            }
          }
        }, {
          "name" : "dlng",
          "in" : "query",
          "description" : "Longitude of destination",
          "required" : true,
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "number",
                "format" : "float",
                "example" : -113.993217
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Distance"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : { }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : { }
          }
        },
        "security" : [ {
          "user_api_hash" : [ ]
        } ]
      }
    },
    "/lsdredirect/" : {
      "get" : {
        "tags" : [ "gpswox" ],
        "summary" : "Get max for a GPS location",
        "operationId" : "lsdredirect",
        "parameters" : [ {
          "name" : "lsd",
          "in" : "query",
          "description" : "LSD",
          "required" : true,
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string",
                "example" : "14-32-032-05W5"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MaxSpeed"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : { }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : { }
          }
        },
        "security" : [ {
          "user_api_hash" : [ ]
        } ]
      }
    },
    "/maxspeed/" : {
      "get" : {
        "tags" : [ "gpswox" ],
        "summary" : "Get max for a GPS location",
        "operationId" : "maxspeed",
        "parameters" : [ {
          "name" : "lat",
          "in" : "query",
          "description" : "latitude",
          "required" : true,
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "number",
                "format" : "float",
                "example" : 51.795029
              }
            }
          }
        }, {
          "name" : "lng",
          "in" : "query",
          "description" : "latitude",
          "required" : true,
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "number",
                "format" : "float",
                "example" : -114.675848
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MaxSpeed"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : { }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : { }
          }
        },
        "security" : [ {
          "user_api_hash" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "DeleteResponse" : {
        "type" : "object",
        "properties" : {
          "success" : {
            "type" : "integer",
            "description" : "Number of inserted items"
          },
          "ignored" : {
            "type" : "integer",
            "description" : "Number of ignored items"
          },
          "errors" : {
            "type" : "string",
            "description" : "Number of ignored items"
          },
          "runtime" : {
            "type" : "number",
            "format" : "float",
            "description" : "Script runtime in seconds"
          }
        }
      },
      "MaxSpeed" : {
        "type" : "object",
        "properties" : {
          "lat" : {
            "type" : "number",
            "format" : "float",
            "description" : "Latitude of point"
          },
          "lng" : {
            "type" : "number",
            "format" : "float",
            "description" : "Longitude of point"
          },
          "max_speed" : {
            "type" : "integer",
            "format" : "int32",
            "description" : "Speed limit"
          }
        }
      },
      "Distance" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string",
            "description" : "Status of query",
            "example" : "OK"
          },
          "origin" : {
            "type" : "string",
            "description" : "Combined location of origin",
            "example" : "51.795029, -114.675848"
          },
          "destination" : {
            "type" : "string",
            "description" : "Combined location of destination",
            "example" : "51.202376, -113.993217"
          },
          "origin_address" : {
            "type" : "string",
            "description" : "Street address of origin",
            "example" : "5437 AB-584, Mountain View County, AB T0M, Canada"
          },
          "destination_address" : {
            "type" : "string",
            "description" : "Street address of destination",
            "example" : "261055 Crossiron Blvd, Calgary, AB T4A 0G3, Canada"
          },
          "distance" : {
            "type" : "number",
            "format" : "float",
            "description" : "Distance in km",
            "example" : 109.985
          },
          "duration" : {
            "type" : "number",
            "format" : "float",
            "description" : "Travel time in minutes",
            "example" : 73.216666666667
          }
        }
      }
    },
    "securitySchemes" : {
      "user_api_hash" : {
        "type" : "apiKey",
        "name" : "user_api_hash",
        "in" : "query"
      }
    },
    "links" : { },
    "callbacks" : { }
  },
  "security" : [ ]
}