{
  "openapi" : "3.0.0",
  "info" : {
    "version" : "1.1.6",
    "title" : "Chargex API"
  },
  "servers" : [ {
    "url" : "https://billing.chargex.net/api",
    "description" : "Production server"
  }, {
    "url" : "https://demo.oncharge.net/api",
    "description" : "Demo server"
  }, {
    "url" : "http://localhost:8086/api",
    "description" : "localhost"
  } ],
  "paths" : {
    "/client/send-confirmation-code" : {
      "post" : {
        "summary" : "Запрос на получение кода",
        "tags" : [ "login" ],
        "requestBody" : {
          "description" : "Объект со значением телефона или почты",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Auth"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Запрос отправлен"
          }
        }
      }
    },
    "/client/confirm-phone" : {
      "post" : {
        "summary" : "Логин (регистрация)",
        "tags" : [ "login" ],
        "requestBody" : {
          "description" : "Объект с телефоном или почты и кодом",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AuthConfirm"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ответ с токеном",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Token"
                }
              }
            }
          }
        }
      }
    },
    "/client/current" : {
      "get" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "summary" : "Информация о клиенте",
        "tags" : [ "client" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Client"
                }
              }
            }
          }
        }
      },
      "put" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "summary" : "Изменение данных пользователя",
        "tags" : [ "client" ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClientData"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Данные изменены"
          }
        }
      }
    },
    "/client/balance-history" : {
      "get" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "summary" : "История действий",
        "tags" : [ "client" ],
        "responses" : {
          "200" : {
            "description" : "(refill - пополнение средств, charging - списание, cashback - возврат)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/History"
                }
              }
            }
          }
        }
      }
    },
    "/client/feedback" : {
      "post" : {
        "summary" : "Оставить отзыв",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "client" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Feedback"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "OK"
          }
        }
      }
    },
    "/client/upload" : {
      "post" : {
        "summary" : "Загрузить картинку base64 string in photo param",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "client" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "photo" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "url" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/favorites" : {
      "post" : {
        "summary" : "Добавить/Удалить в/из избранное станцию",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "client" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "box_pk" : {
                    "type" : "number"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      },
      "get" : {
        "summary" : "Избранные станции",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "client" ],
        "responses" : {
          "200" : {
            "description" : "Масив станций",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "type" : "number"
                    },
                    "clientId" : {
                      "type" : "number"
                    },
                    "when" : {
                      "type" : "number"
                    },
                    "box_pk" : {
                      "type" : "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/countries-data" : {
      "get" : {
        "summary" : "Оставить отзыв",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "client" ],
        "responses" : {
          "200" : {
            "description" : "В ответе карты в масиве",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "ID" : {
                      "type" : "string"
                    },
                    "name" : {
                      "type" : "string"
                    },
                    "code" : {
                      "type" : "string"
                    },
                    "dial_code" : {
                      "type" : "string"
                    },
                    "currency_symbol" : {
                      "type" : "string"
                    },
                    "currency_name" : {
                      "type" : "string"
                    },
                    "currency_code" : {
                      "type" : "string"
                    },
                    "rate" : {
                      "type" : "number"
                    },
                    "flag" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/charge-boxes" : {
      "get" : {
        "summary" : "Все доступные заправки",
        "tags" : [ "boxes" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ChargeBox"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/charge-boxes-by-partner-pk/{pk}" : {
      "get" : {
        "summary" : "Все доступные заправки по первичному ключу партнёра",
        "parameters" : [ {
          "in" : "path",
          "name" : "pk",
          "schema" : {
            "type" : "integer"
          },
          "required" : true
        } ],
        "tags" : [ "boxes" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ChargeBox"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/charge-boxes-by-connector-types" : {
      "post" : {
        "summary" : "Все доступные заправки",
        "tags" : [ "boxes" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConnectorTypes"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ChargeBox"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/charge-box/{identifier}" : {
      "get" : {
        "summary" : "Информация о заправке",
        "parameters" : [ {
          "in" : "path",
          "name" : "identifier",
          "schema" : {
            "type" : "string"
          },
          "required" : true
        } ],
        "tags" : [ "boxes" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChargeBoxWithConnectors"
                }
              }
            }
          }
        }
      }
    },
    "/client/charge-box-by-pk/{pk}" : {
      "get" : {
        "summary" : "Информация о заправке по первичному ключу",
        "parameters" : [ {
          "in" : "path",
          "name" : "pk",
          "schema" : {
            "type" : "integer"
          },
          "required" : true
        } ],
        "tags" : [ "boxes" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChargeBoxWithConnectors"
                }
              }
            }
          }
        }
      }
    },
    "/client/last-charging" : {
      "get" : {
        "summary" : "Последняя заправка",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "charging" ],
        "responses" : {
          "200" : {
            "description" : "Информация о последней заправке",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LastCharging"
                }
              }
            }
          }
        }
      }
    },
    "/client/start-charging" : {
      "post" : {
        "summary" : "Начать заправку",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "charging" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "connectorPk" : {
                    "type" : "integer",
                    "description" : "Первичный ключ коннектора"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/client/stop-charging" : {
      "post" : {
        "summary" : "Остановить процесс заправки",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "charging" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "chargingPk" : {
                    "type" : "integer",
                    "description" : "Первичный ключ процесса заправки"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/client/start-payment" : {
      "post" : {
        "summary" : "Начать процесс оплаты",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "payment" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "amount" : {
                    "type" : "integer"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Информация для запроса в LiqPay",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "url" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/stripe-first-add-card" : {
      "post" : {
        "summary" : "Добавить карту и пользователя в страйп",
        "description" : "Можно передать только token.id или все данные карты",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "Stripe" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "token" : {
                    "$ref" : "#/components/schemas/Token"
                  },
                  "card_number" : {
                    "type" : "string"
                  },
                  "card_name" : {
                    "type" : "string"
                  },
                  "exp_month" : {
                    "type" : "integer"
                  },
                  "exp_year" : {
                    "type" : "integer"
                  },
                  "cvc" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Информация для запроса в LiqPay",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "url" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/stripe-get-cards" : {
      "get" : {
        "summary" : "Получить все карты пользователя",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "Stripe" ],
        "responses" : {
          "200" : {
            "description" : "В ответе карты в масиве",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "type" : "string"
                    },
                    "object" : {
                      "type" : "string"
                    },
                    "address_city" : {
                      "type" : "string"
                    },
                    "address_country" : {
                      "type" : "string"
                    },
                    "address_line1" : {
                      "type" : "string"
                    },
                    "address_line1_check" : {
                      "type" : "string"
                    },
                    "address_line2" : {
                      "type" : "string"
                    },
                    "address_state" : {
                      "type" : "string"
                    },
                    "address_zip" : {
                      "type" : "string"
                    },
                    "address_zip_check" : {
                      "type" : "string"
                    },
                    "brand" : {
                      "type" : "string"
                    },
                    "country" : {
                      "type" : "string"
                    },
                    "customer" : {
                      "type" : "string"
                    },
                    "cvc_check" : {
                      "type" : "string"
                    },
                    "dynamic_last4" : {
                      "type" : "string"
                    },
                    "exp_month" : {
                      "type" : "integer"
                    },
                    "exp_year" : {
                      "type" : "integer"
                    },
                    "fingerprint" : {
                      "type" : "string"
                    },
                    "funding" : {
                      "type" : "string"
                    },
                    "last4" : {
                      "type" : "string"
                    },
                    "metadata" : {
                      "type" : "object"
                    },
                    "name" : {
                      "type" : "string"
                    },
                    "tokenization_method" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/stripe-charge" : {
      "post" : {
        "summary" : "Списать сумму с карты в ответ редирект chargex://success\"",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "Stripe" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "amount" : {
                    "type" : "number"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Информация для запроса в LiqPay",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "url" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/mps-start" : {
      "post" : {
        "summary" : "Проверить пользователя есть ли у него кошелек в MasterPass",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "masterpass" ],
        "requestBody" : {
          "description" : "Локализация формы если вернет ссылку. принимает ru en ua",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "local" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "В ответ придет ссылка на добавление карты либо список карт listCards[cardAlias] [\"testCard\":{обьект}] внизу есть описание",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "url" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/mps-payment-create" : {
      "post" : {
        "summary" : "Вызвать оплату",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "masterpass" ],
        "requestBody" : {
          "description" : "Локализация формы если вернет ссылку. принимает ru en ua",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "local" : {
                    "type" : "string"
                  },
                  "amount" : {
                    "type" : "integer"
                  },
                  "card_alias" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "В ответ придет stauts:\"3ds\" и  ссылка куда нужно направить, либо статус {\"status\":\"success\"} успешная оплата, либо при OTP {\"status\":\"otp\", \"token\":\"444DDD...3D4A\"} при отп нужно токен передать при подтверждении,",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string"
                    },
                    "url" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/mps-add-card" : {
      "post" : {
        "summary" : "Добавить карту",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "masterpass" ],
        "requestBody" : {
          "description" : "Локализация формы вернет ссылку. Принимает ru en ua",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "local" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "В ответ придет ссылка на куда нужно направить",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "url" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/mps-delete-card" : {
      "post" : {
        "summary" : "Удалить карту",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "masterpass" ],
        "requestBody" : {
          "description" : "Передать алиас карты для удаления",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "card_alias" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "В ответ придет статус OK или FAIL",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/mps-otp" : {
      "post" : {
        "summary" : "Подтвердить смс код",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "masterpass" ],
        "requestBody" : {
          "description" : "Передать токен и код из смс",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "value" : {
                    "type" : "string"
                  },
                  "token" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "В ответ придет статус OK или FAIL",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/push-set" : {
      "post" : {
        "summary" : "Добавить токен",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "push" ],
        "requestBody" : {
          "description" : "Пример {\"device_type\":\"ios\",\"token\":\"jdJIdWwID323JijIJ\"}",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "device_type" : {
                    "type" : "string"
                  },
                  "token" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "В ответ придет {\"status\":\"success\"} успешо или другой с {\"status\":\"описание ошибки\"}",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/push-enabled" : {
      "put" : {
        "summary" : "Обновить статус токена",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "push" ],
        "requestBody" : {
          "description" : "Пример {\"enabled\":true,\"token\":\"jdJIdWwID323JijIJ\"}",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "enabled" : {
                    "type" : "boolean"
                  },
                  "token" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "В ответ придет {\"status\":\"success\"} успешо или другой с {\"status\":\"описание ошибки\"}",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/vehicle-brands" : {
      "get" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "summary" : "Список брэндов электромобилей",
        "tags" : [ "vehicle" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/VehicleBrand"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/vehicle-models-by-brand/{pk}" : {
      "get" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "summary" : "Список моделей электромобилей по первичному ключу брэнда",
        "parameters" : [ {
          "in" : "path",
          "name" : "pk",
          "schema" : {
            "type" : "integer"
          },
          "required" : true
        } ],
        "tags" : [ "vehicle" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/VehicleModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client/vehicle-model/{pk}" : {
      "get" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "summary" : "Информация о модели электромобиля по её первичному ключу",
        "parameters" : [ {
          "in" : "path",
          "name" : "pk",
          "schema" : {
            "type" : "integer"
          },
          "required" : true
        } ],
        "tags" : [ "vehicle" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VehicleModel"
                }
              }
            }
          }
        }
      }
    },
    "/client/assign-vehicle-model" : {
      "put" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "summary" : "Изменение модели электромобиля пользователя",
        "tags" : [ "vehicle" ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "model_pk" : {
                    "type" : "integer"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Данные изменены"
          }
        }
      }
    }
  },
  "tags" : [ {
    "name" : "login",
    "description" : "Запросы для логина, регистрации"
  }, {
    "name" : "client",
    "description" : "Информация клиента"
  }, {
    "name" : "boxes",
    "description" : "Информация о заправках"
  }, {
    "name" : "charging",
    "description" : "Процесс заправки"
  }, {
    "name" : "payment",
    "description" : "Процесс поплнения счета"
  } ],
  "components" : {
    "securitySchemes" : {
      "bearerAuth" : {
        "description" : "Авторизация через JWT",
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    },
    "schemas" : {
      "Auth" : {
        "type" : "object",
        "properties" : {
          "phone" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          }
        }
      },
      "AuthConfirm" : {
        "type" : "object",
        "properties" : {
          "phone" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          },
          "code" : {
            "type" : "integer"
          }
        }
      },
      "Token" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          }
        }
      },
      "ClientData" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "surname" : {
            "type" : "string"
          },
          "birth_day" : {
            "type" : "string"
          },
          "sex" : {
            "type" : "string"
          },
          "e_mail" : {
            "type" : "string"
          },
          "address" : {
            "$ref" : "#/components/schemas/Address"
          },
          "note" : {
            "type" : "string"
          },
          "country" : {
            "type" : "string"
          },
          "currency" : {
            "type" : "string"
          },
          "avatar" : {
            "type" : "string"
          },
          "model_pk" : {
            "type" : "integer"
          },
          "vehicleNumber" : {
            "type" : "string"
          },
          "latitude" : {
            "type" : "number"
          },
          "longitude" : {
            "type" : "number"
          },
          "phone_model" : {
            "type" : "string"
          }
        }
      },
      "Client" : {
        "type" : "object",
        "properties" : {
          "balance" : {
            "type" : "integer"
          },
          "name" : {
            "type" : "string"
          },
          "phone" : {
            "type" : "integer"
          },
          "inverterPower" : {
            "type" : "integer"
          },
          "surname" : {
            "type" : "string"
          },
          "birth_day" : {
            "type" : "string"
          },
          "sex" : {
            "type" : "string"
          },
          "e_mail" : {
            "type" : "string"
          },
          "address" : {
            "$ref" : "#/components/schemas/Address"
          },
          "note" : {
            "type" : "string"
          },
          "country" : {
            "type" : "string"
          },
          "currency" : {
            "type" : "string"
          },
          "pin" : {
            "type" : "integer"
          },
          "avatar" : {
            "type" : "string"
          },
          "vehicleModel" : {
            "$ref" : "#/components/schemas/VehicleModel"
          },
          "vehicleNumber" : {
            "type" : "string"
          },
          "tags" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Tag"
            }
          }
        }
      },
      "Address" : {
        "type" : "object",
        "properties" : {
          "street" : {
            "type" : "string"
          },
          "house_number" : {
            "type" : "string"
          },
          "zip_code" : {
            "type" : "string"
          },
          "city" : {
            "type" : "string"
          }
        }
      },
      "History" : {
        "type" : "array",
        "items" : {
          "anyOf" : [ {
            "$ref" : "#/components/schemas/Refill"
          }, {
            "$ref" : "#/components/schemas/Charging"
          }, {
            "$ref" : "#/components/schemas/Cashback"
          } ]
        }
      },
      "Refill" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "refill" ]
          },
          "amount" : {
            "type" : "number"
          },
          "when" : {
            "type" : "string"
          }
        }
      },
      "Charging" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "charging" ]
          },
          "amount" : {
            "type" : "number"
          },
          "when" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "city" : {
            "type" : "string"
          },
          "street" : {
            "type" : "string"
          },
          "houseNumber" : {
            "type" : "string"
          },
          "charged" : {
            "type" : "number"
          },
          "duration" : {
            "type" : "number"
          },
          "connectorType" : {
            "type" : "string"
          },
          "logoUrl" : {
            "type" : "string"
          }
        }
      },
      "Cashback" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "cashback" ]
          },
          "amount" : {
            "type" : "number"
          },
          "when" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          }
        }
      },
      "ChargeBox" : {
        "type" : "object",
        "properties" : {
          "pk" : {
            "type" : "integer"
          },
          "identifier" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "city" : {
            "type" : "string"
          },
          "zip" : {
            "type" : "string"
          },
          "street" : {
            "type" : "string"
          },
          "houseNumber" : {
            "type" : "string"
          },
          "latitude" : {
            "type" : "number"
          },
          "longitude" : {
            "type" : "number"
          },
          "online" : {
            "type" : "boolean"
          },
          "partner" : {
            "type" : "string"
          },
          "logoUrl" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          },
          "phone" : {
            "type" : "string"
          },
          "site" : {
            "type" : "string"
          },
          "confirmStart" : {
            "type" : "boolean"
          },
          "protocol" : {
            "type" : "string"
          },
          "mode" : {
            "type" : "string"
          },
          "faultedConnectors" : {
            "type" : "number"
          },
          "chargingConnectors" : {
            "type" : "number"
          },
          "img_ads" : {
            "type" : "string"
          },
          "img_one" : {
            "type" : "string"
          },
          "img_two" : {
            "type" : "string"
          },
          "img_three" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          }
        }
      },
      "ChargeBoxWithConnectors" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/ChargeBox"
        }, {
          "type" : "object",
          "properties" : {
            "connectors" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/Connector"
              }
            }
          }
        } ]
      },
      "Connector" : {
        "type" : "object",
        "properties" : {
          "pk" : {
            "type" : "integer"
          },
          "identifier" : {
            "type" : "integer"
          },
          "type" : {
            "type" : "string"
          },
          "maxPower" : {
            "type" : "integer"
          },
          "available" : {
            "type" : "boolean"
          },
          "tarif" : {
            "type" : "integer"
          },
          "billingUnit" : {
            "type" : "string"
          }
        }
      },
      "Feedback" : {
        "type" : "object",
        "properties" : {
          "subject" : {
            "type" : "string"
          },
          "topic" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          }
        }
      },
      "LastCharging" : {
        "type" : "object",
        "properties" : {
          "pk" : {
            "type" : "integer"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "active", "complete" ]
          },
          "elapsed" : {
            "type" : "integer"
          },
          "charged" : {
            "type" : "integer"
          },
          "amount" : {
            "type" : "number"
          },
          "balance" : {
            "type" : "number"
          },
          "billingUnit" : {
            "type" : "string"
          },
          "duration" : {
            "type" : "integer"
          },
          "inverterPower" : {
            "type" : "integer"
          },
          "tarif" : {
            "type" : "number"
          },
          "hasPricingDetails" : {
            "type" : "boolean"
          },
          "connectorPk" : {
            "type" : "number"
          },
          "name" : {
            "type" : "string"
          },
          "city" : {
            "type" : "string"
          },
          "street" : {
            "type" : "string"
          },
          "houseNumber" : {
            "type" : "string"
          }
        },
        "example" : {
          "pk" : 33,
          "status" : "complete",
          "elapsed" : 0,
          "charged" : 15555,
          "amount" : 107.16,
          "balance" : 133.14,
          "billingUnit" : "kwh",
          "duration" : 1212,
          "inverterPower" : 9999,
          "tarif" : 5,
          "hasPricingDetails" : false,
          "connectorPk" : 119,
          "name" : "Pushcha Crossroad",
          "city" : "Kyiv",
          "street" : "Miska",
          "houseNumber" : "1"
        }
      },
      "ConnectorTypes" : {
        "type" : "object",
        "properties" : {
          "connectorTypes" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "listCards" : {
        "type" : "array",
        "items" : {
          "anyOf" : [ {
            "$ref" : "#/components/schemas/cardAlias"
          } ]
        }
      },
      "Tag" : {
        "type" : "object",
        "properties" : {
          "pk" : {
            "type" : "integer"
          },
          "partner" : {
            "type" : "string"
          },
          "clientPk" : {
            "type" : "integer"
          },
          "tag" : {
            "type" : "string"
          },
          "expiration" : {
            "type" : "string"
          },
          "blocked" : {
            "type" : "boolean"
          }
        }
      },
      "cardAlias" : {
        "type" : "object",
        "properties" : {
          "card_alias" : {
            "type" : "string"
          },
          "mask" : {
            "type" : "string"
          },
          "uid" : {
            "type" : "string"
          },
          "RefNo" : {
            "type" : "string"
          },
          "is_expired" : {
            "type" : "integer",
            "enum" : [ "0", "1" ]
          },
          "is_corporate" : {
            "type" : "integer",
            "enum" : [ "0", "1" ]
          }
        }
      },
      "VehicleBrand" : {
        "type" : "object",
        "properties" : {
          "pk" : {
            "type" : "integer"
          },
          "brand" : {
            "type" : "string"
          }
        }
      },
      "VehicleModel" : {
        "type" : "object",
        "properties" : {
          "pk" : {
            "type" : "integer"
          },
          "brand" : {
            "type" : "string"
          },
          "model" : {
            "type" : "string"
          },
          "battery" : {
            "type" : "number"
          }
        }
      }
    }
  }
}