{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CIBG ReferenceData API",
    "description" : "",
    "contact" : {
      "email" : "applicationframework@minvws.nl"
    },
    "version" : "3.0.0"
  },
  "servers" : [ {
    "url" : "https://vws-dca-wsgo-02.mso.mhsrijk.nl/rfrdt/api/3"
  }, {
    "url" : "http://vws-dca-wsgt-02.mst.mhsrijk.nl/rfrdt/api/3"
  } ],
  "paths" : {
    "/gemeenten" : {
      "get" : {
        "tags" : [ "Gemeenten" ],
        "summary" : "Ophalen gemeenten",
        "parameters" : [ {
          "name" : "peildatum",
          "in" : "query",
          "description" : "Peildatum in het formaat YYYYMMDD",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-jwt-bypass",
          "in" : "header",
          "description" : "Deze kan alleen gebruikt worden in de ontwikkel- en testomgeving",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : true
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retourneert een lijst van gemeenten",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Gemeente"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500" : {
            "description" : "Onverwachte fout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/health" : {
      "get" : {
        "tags" : [ "Health" ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/health/ping" : {
      "get" : {
        "tags" : [ "HealthPing" ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HealthPing"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error"
          }
        }
      }
    },
    "/landen" : {
      "get" : {
        "tags" : [ "Landen" ],
        "summary" : "Ophalen landenlijst\r\n(Tabel 34 van http://publicaties.rvig.nl/Landelijke_tabellen)",
        "parameters" : [ {
          "name" : "peildatum",
          "in" : "query",
          "description" : "Actuele landen op een bepaalde datum, de peildatum. Formaat peildatum: 'jjjjMMdd'",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-jwt-bypass",
          "in" : "header",
          "description" : "Deze kan alleen gebruikt worden in de ontwikkel- en testomgeving",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : true
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retourneert een lijst van landen",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Land"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500" : {
            "description" : "Onverwachte fout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/nationaliteiten" : {
      "get" : {
        "tags" : [ "Nationaliteiten" ],
        "summary" : "Ophalen nationaliteitenlijst\r\n(Tabel 32 van http://publicaties.rvig.nl/Landelijke_tabellen)",
        "parameters" : [ {
          "name" : "peildatum",
          "in" : "query",
          "description" : "Actuele nationaliteiten op een bepaalde datum, de peildatum. Formaat peildatum: 'jjjjMMdd'",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-jwt-bypass",
          "in" : "header",
          "description" : "Deze kan alleen gebruikt worden in de ontwikkel- en testomgeving",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : true
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retourneert een lijst van nationaliteiten",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Nationaliteit"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500" : {
            "description" : "Onverwachte fout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/plaatsnaamgegevens" : {
      "post" : {
        "tags" : [ "Plaatsnaamgegevens" ],
        "summary" : "Haalt de gegevens op voor de plaatsnaam.",
        "parameters" : [ {
          "name" : "x-jwt-bypass",
          "in" : "header",
          "description" : "Deze kan alleen gebruikt worden in de ontwikkel- en testomgeving",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : true
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PlaatsnaamModel"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PlaatsnaamModel"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PlaatsnaamModel"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Plaatsnaamgegevens gevonden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Plaatsnaamgegevens"
                }
              }
            }
          },
          "400" : {
            "description" : "Invoer niet geldig",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500" : {
            "description" : "Onverwachte fout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/postcodegegevens/{postcode}/{huisnummer}" : {
      "get" : {
        "tags" : [ "Postcodegegevens" ],
        "summary" : "Haalt de postcodegegevens op voor combinatie postcode en huisnummer",
        "parameters" : [ {
          "name" : "postcode",
          "in" : "path",
          "description" : "Spatie tussen de cijfers en letters van de postcode is toegestaan",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "huisnummer",
          "in" : "path",
          "description" : "Huisnummer moet liggen tussen 1 en 99999",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "x-jwt-bypass",
          "in" : "header",
          "description" : "Deze kan alleen gebruikt worden in de ontwikkel- en testomgeving",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : true
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Postcodegegevens gevonden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Postcodegegevens"
                }
              }
            }
          },
          "400" : {
            "description" : "Invoer niet geldig",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404" : {
            "description" : "Postcodegegevens niet gevonden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500" : {
            "description" : "Onverwachte fout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/provincies" : {
      "get" : {
        "tags" : [ "Provincies" ],
        "summary" : "Haalt de provincies op",
        "parameters" : [ {
          "name" : "x-jwt-bypass",
          "in" : "header",
          "description" : "Deze kan alleen gebruikt worden in de ontwikkel- en testomgeving",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : true
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Lijst van provincies succesvol opgehaald",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Provincie"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500" : {
            "description" : "Onverwachte fout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ProblemDetails" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "nullable" : true
          },
          "title" : {
            "type" : "string",
            "nullable" : true
          },
          "status" : {
            "type" : "integer",
            "format" : "int32",
            "nullable" : true
          },
          "detail" : {
            "type" : "string",
            "nullable" : true
          },
          "instance" : {
            "type" : "string",
            "nullable" : true
          },
          "extensions" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "additionalProperties" : false
            },
            "nullable" : true,
            "readOnly" : true
          }
        },
        "additionalProperties" : false
      },
      "Gemeente" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "integer",
            "description" : "De gemeentecode.",
            "format" : "int32"
          },
          "naam" : {
            "type" : "string",
            "description" : "De gemeentenaam.",
            "nullable" : true
          },
          "codeNieuw" : {
            "type" : "integer",
            "description" : "De gemeentecode na herindeling.",
            "format" : "int32",
            "nullable" : true
          },
          "datumIngang" : {
            "type" : "string",
            "description" : "Datum ingang.",
            "format" : "date-time"
          },
          "datumEinde" : {
            "type" : "string",
            "description" : "Datum einde.",
            "format" : "date-time",
            "nullable" : true
          }
        },
        "additionalProperties" : false,
        "description" : "Import gegevens."
      },
      "HealthPing" : {
        "type" : "object",
        "properties" : {
          "system" : {
            "type" : "string",
            "nullable" : true,
            "readOnly" : true
          },
          "component" : {
            "type" : "string",
            "nullable" : true,
            "readOnly" : true
          },
          "version" : {
            "type" : "string",
            "nullable" : true,
            "readOnly" : true
          },
          "node" : {
            "type" : "string",
            "nullable" : true,
            "readOnly" : true
          },
          "time" : {
            "type" : "string",
            "format" : "date-time",
            "readOnly" : true
          }
        },
        "additionalProperties" : false
      },
      "Land" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "integer",
            "description" : "Landcode",
            "format" : "int32"
          },
          "omschrijving" : {
            "type" : "string",
            "description" : "Officiële benaming van een land",
            "nullable" : true
          },
          "omschrijvingEngels" : {
            "type" : "string",
            "description" : "Omschrijving van het land in het Engels",
            "nullable" : true
          },
          "datumIngang" : {
            "type" : "string",
            "description" : "Datum ingang",
            "format" : "date-time"
          },
          "datumEinde" : {
            "type" : "string",
            "description" : "Datum waarop het land onder die naam niet meer bestaat",
            "format" : "date-time",
            "nullable" : true
          },
          "eer" : {
            "type" : "boolean",
            "description" : "Geeft aan of het land behoort tot de Europese Economische Ruimte (EER)"
          },
          "iso3166Code" : {
            "type" : "string",
            "description" : "ISO 3166-1 een unieke tweeletterige landcode (alpha-2)",
            "nullable" : true
          }
        },
        "additionalProperties" : false,
        "description" : "Beschrijft een land"
      },
      "Nationaliteit" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "integer",
            "description" : "Landcode",
            "format" : "int32"
          },
          "omschrijving" : {
            "type" : "string",
            "description" : "Officiële benaming van een nationaliteit",
            "nullable" : true
          },
          "omschrijvingEngels" : {
            "type" : "string",
            "description" : "Omschrijving van de nationaliteit in het Engels",
            "nullable" : true
          },
          "datumIngang" : {
            "type" : "string",
            "description" : "Datum ingang",
            "format" : "date-time"
          },
          "datumEinde" : {
            "type" : "string",
            "description" : "Datum waarop de nationaliteit onder die naam niet meer bestaat",
            "format" : "date-time",
            "nullable" : true
          }
        },
        "additionalProperties" : false,
        "description" : "Beschrijft een nationaliteit"
      },
      "PlaatsnaamModel" : {
        "type" : "object",
        "properties" : {
          "plaatsnaam" : {
            "type" : "string",
            "nullable" : true
          }
        },
        "additionalProperties" : false
      },
      "Plaatsnaamgegevens" : {
        "type" : "object",
        "properties" : {
          "schrijfwijzePostNl" : {
            "type" : "string",
            "description" : "De PostNL-schrijfwijze van de plaatsnaam.",
            "nullable" : true
          },
          "schrijfwijzeNen5825" : {
            "type" : "string",
            "description" : "NEN 5825-schrijfwijze van de plaatsnaam.",
            "nullable" : true
          },
          "gemeentecode" : {
            "type" : "integer",
            "description" : "Code van de gemeente waar de plaats onder valt.",
            "format" : "int32",
            "nullable" : true
          },
          "gemeentenaam" : {
            "type" : "string",
            "description" : "Naam van de gemeente waar de plaats onder valt.",
            "nullable" : true
          }
        },
        "additionalProperties" : false,
        "description" : "Beschrijft gegevens over een plaatsnaam."
      },
      "ValidationProblemDetails" : {
        "type" : "object",
        "properties" : {
          "errors" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "nullable" : true,
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "nullable" : true
          },
          "title" : {
            "type" : "string",
            "nullable" : true
          },
          "status" : {
            "type" : "integer",
            "format" : "int32",
            "nullable" : true
          },
          "detail" : {
            "type" : "string",
            "nullable" : true
          },
          "instance" : {
            "type" : "string",
            "nullable" : true
          },
          "extensions" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "additionalProperties" : false
            },
            "nullable" : true,
            "readOnly" : true
          }
        },
        "additionalProperties" : false
      },
      "Postcodegegevens" : {
        "type" : "object",
        "properties" : {
          "postcode" : {
            "type" : "string",
            "description" : "Postcode  \r\nCommunicatiepatroon: [1-9][0-9]{3}[A-Z]{2}",
            "nullable" : true
          },
          "woonplaats" : {
            "type" : "string",
            "description" : "Woonplaats in NEN-5825 formaat",
            "nullable" : true
          },
          "straatnaam" : {
            "type" : "string",
            "description" : "Straatnaam in NEN-5825 formaat",
            "nullable" : true
          },
          "gemeentecode" : {
            "type" : "integer",
            "description" : "Gemeentecode volgens het Centraal Bureau Statistiek (CBS)",
            "format" : "int32"
          },
          "gemeentenaam" : {
            "type" : "string",
            "description" : "Gemeentenaam",
            "nullable" : true
          },
          "provinciecode" : {
            "type" : "string",
            "description" : "Provinciecode",
            "nullable" : true
          }
        },
        "additionalProperties" : false,
        "description" : "Postcodegegevens voor een postcode en huisnummer."
      },
      "Provincie" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "nullable" : true
          },
          "omschrijving" : {
            "type" : "string",
            "nullable" : true
          },
          "datumIngang" : {
            "type" : "string",
            "format" : "date-time"
          },
          "datumEinde" : {
            "type" : "string",
            "format" : "date-time",
            "nullable" : true
          }
        },
        "additionalProperties" : false
      }
    }
  }
}