{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Claravine API",
    "version" : "1.1.0",
    "description" : "API for the Claravine DXDM Platform. The API is intended to manage data in the Claravine Platform. In the future there will be additional API endpoints for other Claravine features.\n\nFor access to the API you will need to contact your Customer Success Manager and assign a user account to be granted API access.\n\nNote: the default rate limit is 100 requests per minute, which is shown through the response headers X-RateLimit-Limit and X-RateLimit-Remaining.\n\nNote: API keys and secrets are generated in the Claravine UI, and they are given the same permissions as the user who created them. Talk to your CSM for additional information.",
    "contact" : {
      "name" : "Contact your Claravine CSM for any questions"
    }
  },
  "servers" : [ {
    "url" : "https://api.claravine.com",
    "description" : "Claravine API endpoint"
  }, {
    "url" : "https://api.qa.claravine.com",
    "description" : "Testing environment (not available for most accounts)"
  } ],
  "paths" : {
    "/v1/datasets" : {
      "get" : {
        "tags" : [ "dataset" ],
        "summary" : "List all available datasets",
        "description" : "Get all datasets available to the authenticated user. In the Claravine UI, these are templates. All returned fields can have values submitted to them. There are other fields on the datasets, but they are readonly and not made visible through this endpoint.",
        "responses" : {
          "200" : {
            "description" : "Array of Datasets",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "datasets" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Dataset"
                      }
                    }
                  }
                },
                "examples" : {
                  "Example" : {
                    "value" : {
                      "datasets" : [ {
                        "name" : "Dataset A",
                        "uuid" : "97720449-2bdd-44bf-8479-c93fa070da3c",
                        "fields" : [ {
                          "name" : "Field Name 1"
                        }, {
                          "name" : "Field Name 2"
                        } ]
                      }, {
                        "name" : "Dataset B",
                        "uuid" : "74f95a46-6ac7-45df-993f-a7de55aaf5f8",
                        "fields" : [ {
                          "name" : "Field Name 3"
                        }, {
                          "name" : "Field Name 4"
                        } ]
                      } ]
                    }
                  }
                }
              }
            },
            "headers" : {
              "X-RateLimit-Limit" : {
                "schema" : {
                  "type" : "number"
                },
                "description" : "Number of requests allowed per minute."
              },
              "X-RateLimit-Remaining" : {
                "schema" : {
                  "type" : "number"
                },
                "description" : "Number of requests available in the current minute."
              }
            }
          },
          "401" : {
            "description" : "Unauthenticated Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FailedRequest"
                },
                "examples" : {
                  "Example" : {
                    "value" : {
                      "error" : "UNAUTHENTICATED",
                      "message" : "Please authenticate and try again."
                    }
                  }
                }
              }
            }
          }
        },
        "parameters" : [ ],
        "security" : [ {
          "x-claravine-key" : [ ]
        }, {
          "x-claravine-secret" : [ ]
        } ],
        "operationId" : ""
      }
    },
    "/v1/datasets/{datasetUuid}/data" : {
      "post" : {
        "tags" : [ "dataset" ],
        "summary" : "Submit data",
        "description" : "Post data to a specific dataset. Data will be processed according to Governance Rules defined in the related dataset (template in the Claravine UI). If any data fails when tested against Governance Rules, the entire dataset will be moved into the draft/pending state, and no attached integrations will be run. If no data fails, integrations will be executed as defined in the dataset (template in the Claravine UI). \n\nThis endpoint returns a transactionUuid, which can be used to retrieve the submission status and results.\n\nNote: the current implementation allows a max of 1,000 rows per request.",
        "parameters" : [ {
          "name" : "datasetUuid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Data"
              },
              "examples" : {
                "Example" : {
                  "value" : {
                    "transactionName" : "My dataset name",
                    "fields" : [ "Field Name 1", "Field Name 2" ],
                    "rows" : [ [ "Value 1.1", "Value 2.1" ], [ "Value 1.2", "Value 2.2" ] ]
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "TransactionUuid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Transaction"
                },
                "examples" : {
                  "Example" : {
                    "value" : {
                      "transactionUuid" : "d4df4b94-a9d2-4875-9680-2a81d2e69a45"
                    }
                  }
                }
              }
            },
            "headers" : {
              "X-RateLimit-Limit" : {
                "schema" : {
                  "type" : "number"
                },
                "description" : "Number of requests allowed per minute."
              },
              "X-RateLimit-Remaining" : {
                "schema" : {
                  "type" : "number"
                },
                "description" : "Number of requests available in the current minute."
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FailedRequest"
                },
                "examples" : {
                  "Example" : {
                    "value" : {
                      "error" : "string",
                      "message" : "string"
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthenticated Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FailedRequest"
                },
                "examples" : {
                  "Example" : {
                    "value" : {
                      "error" : "UNAUTHENTICATED",
                      "message" : "Please authenticate and try again."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-claravine-key" : [ ]
        }, {
          "x-claravine-secret" : [ ]
        } ]
      },
      "parameters" : [ {
        "schema" : {
          "type" : "string"
        },
        "name" : "datasetUuid",
        "in" : "path",
        "required" : true
      } ]
    },
    "/v1/datasets/{datasetUuid}/transactions/{transactionUuid}/status" : {
      "get" : {
        "tags" : [ "dataset" ],
        "summary" : "Get status",
        "description" : "Get the current status of a transaction. May return a status of 'Pending', 'Complete', or 'Failed'.",
        "parameters" : [ {
          "name" : "datasetUuid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "transactionUuid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Transaction State",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TransactionStatus"
                },
                "examples" : {
                  "Example" : {
                    "value" : {
                      "status" : "COMPLETED"
                    }
                  }
                }
              }
            },
            "headers" : {
              "X-RateLimit-Limit" : {
                "schema" : {
                  "type" : "number"
                },
                "description" : "Number of requests allowed per minute."
              },
              "X-RateLimit-Remaining" : {
                "schema" : {
                  "type" : "number"
                },
                "description" : "Number of requests available in the current minute."
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FailedRequest"
                },
                "examples" : {
                  "Example" : {
                    "value" : {
                      "error" : "string",
                      "message" : "string"
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthenticated Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FailedRequest"
                },
                "examples" : {
                  "Example" : {
                    "value" : {
                      "error" : "UNAUTHENTICATED",
                      "message" : "Please authenticate and try again."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-claravine-key" : [ ]
        }, {
          "x-claravine-secret" : [ ]
        } ]
      },
      "parameters" : [ {
        "schema" : {
          "type" : "string"
        },
        "name" : "datasetUuid",
        "in" : "path",
        "required" : true
      }, {
        "schema" : {
          "type" : "string"
        },
        "name" : "transactionUuid",
        "in" : "path",
        "required" : true
      } ]
    },
    "/v1/datasets/{datasetUuid}/transactions/{transactionUuid}/data" : {
      "get" : {
        "tags" : [ "dataset" ],
        "summary" : "Get processed data",
        "description" : "Get the data of a completed transaction (not available before the transaction has been completed). Returns all available fields and data associated with each field, including readonly fields and data.",
        "parameters" : [ {
          "name" : "datasetUuid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "transactionUuid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "$ref" : "#/components/schemas/Data"
                    }
                  }
                },
                "examples" : {
                  "Example" : {
                    "value" : {
                      "transactionName" : "My dataset name",
                      "data" : {
                        "fields" : [ "Field Name 1", "Field Name 2" ],
                        "rows" : [ [ "Value 1.1", "Value 2.1" ], [ "Value 1.2", "Value 2.2" ] ]
                      }
                    }
                  }
                }
              }
            },
            "description" : "Resulting data set from a submitted transaction",
            "headers" : {
              "X-RateLimit-Limit" : {
                "schema" : {
                  "type" : "number"
                },
                "description" : "Number of requests allowed per minute."
              },
              "X-RateLimit-Remaining" : {
                "schema" : {
                  "type" : "number"
                },
                "description" : "Number of requests available in the current minute."
              }
            }
          },
          "400" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FailedRequest"
                },
                "examples" : {
                  "Example" : {
                    "value" : {
                      "error" : "string",
                      "message" : "string"
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthenticated Request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FailedRequest"
                },
                "examples" : {
                  "Example" : {
                    "value" : {
                      "error" : "UNAUTHENTICATED",
                      "message" : "Please authenticate and try again."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-claravine-key" : [ ]
        }, {
          "x-claravine-secret" : [ ]
        } ]
      },
      "parameters" : [ {
        "schema" : {
          "type" : "string"
        },
        "name" : "datasetUuid",
        "in" : "path",
        "required" : true
      }, {
        "schema" : {
          "type" : "string"
        },
        "name" : "transactionUuid",
        "in" : "path",
        "required" : true
      } ]
    },
    "/v1/datasets/rows/values/{value}" : {
      "get" : {
        "tags" : [ "dataset" ],
        "summary" : "Get processed data for a single value",
        "description" : "Get dataset rows that match a specific Claravine Pattern (sometimes referred to as trackings codes).\n\nThere should normally be 1 or 0 results. In the event of multiple matches, up to 100 results may be returned.",
        "parameters" : [ {
          "name" : "value",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "properties" : {
                      "data" : {
                        "$ref" : "#/components/schemas/RowData"
                      }
                    }
                  }
                },
                "examples" : {
                  "Example" : {
                    "value" : {
                      "data" : {
                        "fields" : [ "Field Name 1", "Field Name 2" ],
                        "rows" : [ [ "Value 1.1", "Value 2.1" ], [ "Value 1.2", "Value 2.2" ] ]
                      }
                    }
                  }
                }
              }
            },
            "description" : "Resulting data row from a submitted transaction",
            "headers" : {
              "X-RateLimit-Limit" : {
                "schema" : {
                  "type" : "number"
                },
                "description" : "Number of requests allowed per minute."
              },
              "X-RateLimit-Remaining" : {
                "schema" : {
                  "type" : "number"
                },
                "description" : "Number of requests available in the current minute."
              }
            }
          },
          "401" : {
            "description" : "Unauthenticated Request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FailedRequest"
                },
                "examples" : {
                  "Example" : {
                    "value" : {
                      "error" : "UNAUTHENTICATED",
                      "message" : "Please authenticate and try again."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-claravine-key" : [ ]
        }, {
          "x-claravine-secret" : [ ]
        } ]
      },
      "parameters" : [ {
        "schema" : {
          "type" : "string"
        },
        "name" : "value",
        "in" : "path",
        "required" : true
      } ]
    }
  },
  "components" : {
    "schemas" : {
      "RowData" : {
        "type" : "object",
        "x-examples" : { },
        "properties" : {
          "fields" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "row" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        },
        "required" : [ "fields", "row" ],
        "description" : "",
        "title" : ""
      },
      "Data" : {
        "type" : "object",
        "properties" : {
          "fields" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "rows" : {
            "type" : "array",
            "items" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          },
          "transactionName" : {
            "type" : "string"
          }
        },
        "required" : [ "fields", "rows", "transactionName" ]
      },
      "Dataset" : {
        "type" : "object",
        "properties" : {
          "uuid" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "fields" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Field"
            }
          }
        }
      },
      "Transaction" : {
        "type" : "object",
        "properties" : {
          "transactionUuid" : {
            "type" : "string"
          }
        }
      },
      "TransactionStatus" : {
        "type" : "object",
        "description" : "",
        "properties" : {
          "status" : {
            "type" : "string"
          }
        }
      },
      "Field" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          }
        },
        "x-examples" : { },
        "description" : ""
      },
      "FailedRequest" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          }
        }
      }
    },
    "securitySchemes" : {
      "x-claravine-key" : {
        "name" : "x-claravine-key",
        "type" : "apiKey",
        "in" : "header",
        "description" : "Key & Secret are generated on the profile page in your Claravine account. Specific keys have the same permissions as the user who created them."
      },
      "x-claravine-secret" : {
        "name" : "x-claravine-secret",
        "type" : "apiKey",
        "in" : "header",
        "description" : "Be sure to store the secret in a secure place, because it can't be recovered if it is lost.\n\nIn case of loss, remove the key & secret in Claravine, and create a new key & secret."
      }
    }
  },
  "tags" : [ {
    "name" : "dataset",
    "description" : "datasets"
  } ]
}