{
  "openapi" : "3.0.0",
  "servers" : [ {
    "description" : "SwaggerHub API Auto Mocking",
    "url" : "http://speechapi.contextaservices.com/"
  }, {
    "description" : "REST API TEST SERVER",
    "url" : "https://speechapi.contextaservices.com/"
  } ],
  "info" : {
    "description" : "This is the Contexta Speech API",
    "version" : "3.0.0",
    "title" : "Contexta Speech API",
    "contact" : {
      "email" : "samy.shehata@contexta360.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags" : [ {
    "name" : "transcripts",
    "description" : "Create and view transcripts"
  }, {
    "name" : "decoders",
    "description" : "Examine available decoders"
  }, {
    "name" : "clients",
    "description" : "client related endpoints"
  } ],
  "paths" : {
    "/clients/me" : {
      "get" : {
        "tags" : [ "clients" ],
        "summary" : "Get client information",
        "parameters" : [ {
          "in" : "header",
          "name" : "Authorization",
          "example" : "Basic xxx-xxx-xxx",
          "schema" : {
            "type" : "string",
            "format" : "\\[Basic|JWT\\] <uuid>"
          },
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response if transcription job is created and ready to be processed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "$ref" : "#/components/schemas/meData"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients/register" : {
      "post" : {
        "tags" : [ "clients" ],
        "summary" : "register new client",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string"
                  },
                  "email" : {
                    "type" : "string"
                  },
                  "password" : {
                    "type" : "string",
                    "description" : "Needs to be at least 8 characters with one capital, one smaller and one number"
                  },
                  "passwordConfirmation" : {
                    "type" : "string",
                    "description" : "Needs to be identical to the password field"
                  },
                  "referral" : {
                    "type" : "string",
                    "description" : "Client id of an existing client that acted as a referral for the new client"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "New client registered successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "token" : {
                          "type" : "string",
                          "description" : "access token. Needs to be provided in the authorization header of requests to endpoints that require authentication"
                        },
                        "auth" : {
                          "type" : "boolean",
                          "description" : "true if client is authenticated"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request sent",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "A single or a list of error messages"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients/change_password" : {
      "post" : {
        "tags" : [ "clients" ],
        "summary" : "change the password for an existing client",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "oldPassword" : {
                    "type" : "string"
                  },
                  "password" : {
                    "type" : "string"
                  },
                  "passwordConfirmation" : {
                    "type" : "string",
                    "description" : "Needs to be identical to the password field"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Password changed successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "token" : {
                          "type" : "string",
                          "description" : "access token. Needs to be provided in the authorization header of requests to endpoints that require authentication"
                        },
                        "auth" : {
                          "type" : "boolean",
                          "description" : "true if client is authenticated"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request sent",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "A single or a list of error messages"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients/update" : {
      "post" : {
        "tags" : [ "clients" ],
        "summary" : "update client fields",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "active" : {
                    "type" : "boolean",
                    "example" : false,
                    "description" : "The only allowed value is false. If present the user account will be deactivated."
                  },
                  "email" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Client fields updated successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "message" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request sent",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "A single or a list of error messages"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients/login" : {
      "post" : {
        "tags" : [ "clients" ],
        "summary" : "login as an existing client",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "email" : {
                    "type" : "string"
                  },
                  "password" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "login successful successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "token" : {
                          "type" : "string",
                          "description" : "access token. Needs to be provided in the authorization header of requests to endpoints that require authentication"
                        },
                        "auth" : {
                          "type" : "boolean",
                          "description" : "true if client is authenticated"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request sent",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "A single or a list of error messages"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Wrong password sent",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "A single or a list of error messages"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/decoders" : {
      "get" : {
        "tags" : [ "decoders" ],
        "summary" : "List available decoders",
        "parameters" : [ {
          "in" : "header",
          "name" : "Authorization",
          "example" : "Basic xxx-xxx-xxx",
          "schema" : {
            "type" : "string",
            "format" : "\\[Basic|JWT\\] <uuid>"
          },
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response, returns a list of available decoders.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "decoders" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "title" : {
                                "type" : "string",
                                "description" : "Simple name of the decoder"
                              },
                              "description" : {
                                "type" : "string",
                                "description" : "A short description of the decoder"
                              },
                              "_id" : {
                                "type" : "string",
                                "description" : "A string id of the decoder, to be included in the create transcript request."
                              },
                              "tag" : {
                                "type" : "string",
                                "description" : "A classification of the decoder (for internal purposes)"
                              },
                              "lang" : {
                                "type" : "string",
                                "enum" : [ "en", "nl" ],
                                "description" : "language code"
                              },
                              "default" : {
                                "type" : "boolean",
                                "description" : "if true this module is used when no decoder is sepecified"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transcripts/create" : {
      "post" : {
        "tags" : [ "transcripts" ],
        "summary" : "Create new transcript request",
        "parameters" : [ {
          "in" : "header",
          "name" : "Authorization",
          "example" : "Basic xxx-xxx-xxx",
          "schema" : {
            "type" : "string",
            "format" : "\\[Basic|JWT\\] <uuid>"
          },
          "required" : true
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "properties" : {
                  "callbackurl" : {
                    "type" : "string",
                    "description" : "A url where a notification can be sent when the transcript is done."
                  },
                  "data" : {
                    "type" : "object",
                    "description" : "A metadata object that can be sent back as is to the callback url"
                  },
                  "audio" : {
                    "type" : "string",
                    "format" : "binary"
                  },
                  "audioLink" : {
                    "type" : "string",
                    "description" : "A URI that points to a hosted audio file. can be used as an alternative to uploading audio file directly"
                  },
                  "numSpeakers" : {
                    "type" : "integer",
                    "description" : "number of speakers in audio file. (For multi-channel, a single speaker per channel is assumed and num_speakers parameter is ignored.)"
                  },
                  "decoder" : {
                    "type" : "string",
                    "description" : "String id of one of the available decoders retreived from /decoders. If not present, standard dutch models are used.",
                    "example" : 12345834
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success response if transcription job is created and ready to be processed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "fileId" : {
                          "type" : "string",
                          "description" : "The newly created transcript Id."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "No audio file uploaded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "The full error message."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "412" : {
            "description" : "uploaded file has size 0",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "The full error message."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Invalid or missing authorization header",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "The full error message."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Provided key is not authorized to access the requested resource",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "The full error message."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transcripts" : {
      "get" : {
        "tags" : [ "transcripts" ],
        "summary" : "Get a list of transcripts uploaded by the client",
        "parameters" : [ {
          "in" : "header",
          "name" : "Authorization",
          "example" : "Basic xxx-xxx-xxx",
          "schema" : {
            "type" : "string",
            "format" : "\\[Basic|JWT\\] <uuid>"
          },
          "required" : true
        }, {
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer"
          },
          "description" : "number of results to return"
        }, {
          "in" : "query",
          "name" : "skip",
          "schema" : {
            "type" : "integer"
          },
          "description" : "number of results to skip"
        } ],
        "responses" : {
          "200" : {
            "description" : "list of transcripts uploaded by the client",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "files" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "_id" : {
                                "type" : "string"
                              },
                              "duration" : {
                                "type" : "number"
                              },
                              "numSpeakers" : {
                                "type" : "integer"
                              },
                              "callbackurl" : {
                                "type" : "string"
                              },
                              "progressNotifications" : {
                                "type" : "string"
                              },
                              "data" : {
                                "type" : "string"
                              },
                              "originalName" : {
                                "type" : "string"
                              },
                              "status" : {
                                "type" : "string",
                                "description" : "[PENDING    , PROCESSING, DONE,  FAILED]"
                              },
                              "created_at" : {
                                "type" : "string"
                              },
                              "decoder" : {
                                "type" : "object",
                                "properties" : {
                                  "_id" : {
                                    "type" : "string"
                                  },
                                  "title" : {
                                    "type" : "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Invalid or missing authorization header",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "The full error message."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transcripts/{transcriptId}" : {
      "get" : {
        "tags" : [ "transcripts" ],
        "summary" : "Retreive the json transcript of a finished transcription job",
        "parameters" : [ {
          "in" : "path",
          "name" : "transcriptId",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "Id of transcript to show"
        }, {
          "in" : "header",
          "name" : "Authorization",
          "example" : "Basic xxx-xxx-xxx",
          "schema" : {
            "type" : "string",
            "format" : "\\[Basic|JWT\\] <uuid>"
          },
          "required" : true
        } ],
        "responses" : {
          "302" : {
            "description" : "Returns a temporary redirect to the current location of the json transcript. When following the redirect, clients must not provide the authorization header given to the GET endpoint. The authorization header is required in the first request but will cause the second request to fail.",
            "headers" : {
              "X-Expiry-Date" : {
                "schema" : {
                  "type" : "string",
                  "description" : "The Date at which the transcript will be deleted. (This is only present for non persistent clients)"
                }
              }
            }
          },
          "412" : {
            "description" : "Transcript is not ready yet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "The full error message."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "410" : {
            "description" : "Transcript has been deleted because it was generated more than 24 hours ago.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "The full error message."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "No transcript with the given id found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "The full error message."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Invalid or missing authorization header",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "The full error message."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Provided key is not authorized to access the requested resource",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "The full error message."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transcripts/show/{transcriptId}" : {
      "get" : {
        "tags" : [ "transcripts" ],
        "summary" : "Retreive the xml transcript of a finished transcription job",
        "parameters" : [ {
          "in" : "path",
          "name" : "transcriptId",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "Id of transcript to show"
        }, {
          "in" : "header",
          "name" : "Authorization",
          "example" : "Basic xxx-xxx-xxx",
          "schema" : {
            "type" : "string",
            "format" : "\\[Basic|JWT\\] <uuid>"
          },
          "required" : true
        } ],
        "responses" : {
          "302" : {
            "description" : "returns a temporary redirect to the current location of the xml transcript. When following the redirect, clients must not provide the authorization header given to the GET endpoint. The authorization header is required in the first request but will cause the second request to fail.",
            "headers" : {
              "X-Expiry-Date" : {
                "schema" : {
                  "type" : "string",
                  "description" : "The Date at which the transcript will be deleted. (this is only present for non persistent clients)"
                }
              }
            }
          },
          "412" : {
            "description" : "Transcript is not ready yet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "The full error message."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "410" : {
            "description" : "Transcript has been deleted because it was generated more than 24 hours ago.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "The full error message."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "No transcript with the given id found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "The full error message."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Invalid or missing authorization header",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "The full error message."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Provided key is not authorized to access the requested resource",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "The full error message."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transcripts/status/{transcriptId}" : {
      "get" : {
        "tags" : [ "transcripts" ],
        "summary" : "Get the status of a transcription job",
        "parameters" : [ {
          "in" : "path",
          "name" : "transcriptId",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "Id of transcript to show"
        }, {
          "in" : "header",
          "name" : "Authorization",
          "example" : "Basic xxx-xxx-xxx",
          "schema" : {
            "type" : "string",
            "format" : "\\[Basic|JWT\\] <uuid>"
          },
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response if transcription job is found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "progress" : {
                          "type" : "integer",
                          "description" : "progress percentage between 0 and 100"
                        },
                        "expireyDate" : {
                          "type" : "string",
                          "description" : "date at which the transcript will be deleted. Only available after transcript is ready (this only present for non persistent clients)"
                        },
                        "transcriptId" : {
                          "type" : "string",
                          "description" : "The newly created transcript Id."
                        },
                        "status" : {
                          "type" : "string",
                          "description" : "DONE | FAILED | PROCESSING",
                          "enum" : [ "DONE", "FAILED", "PROCESSING" ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "No transcript with the given id found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "The full error message."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Invalid or missing authorization header",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "The full error message."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Provided key is not authorized to access the requested resource",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "message" : {
                          "type" : "string",
                          "description" : "The full error message."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "meData" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "id of the client."
          },
          "email" : {
            "type" : "string",
            "description" : "email of the client. Only present if available"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the client"
          },
          "persistData" : {
            "type" : "boolean",
            "description" : "Should client's audio data be persisted."
          },
          "remainingCreditInSeconds" : {
            "type" : "number",
            "description" : "Number of seconds that the client can still upload."
          },
          "analyzerEnabled" : {
            "type" : "boolean",
            "description" : "true if the client is subscripted to our analyzer service"
          },
          "active" : {
            "type" : "boolean",
            "description" : "true if the client account is enabled"
          }
        }
      }
    }
  }
}