{
  "openapi" : "3.0.0",
  "info" : {
    "description" : "Mobistyle Open Platform API for anonymous KPI calculation",
    "version" : "1.0.0",
    "title" : "Mobistyle Open Platform",
    "contact" : {
      "email" : "helpdesk@demobv.nl",
      "name" : "DEMO Consultants",
      "url" : "http://www.demobv.nl"
    }
  },
  "servers" : [ {
    "description" : "DEMO Mobistyle Production Server - Open Platform Endpoint",
    "url" : "https://nosql.demobv.nl/mobistyle-mongodb/openplatform"
  } ],
  "tags" : [ {
    "name" : "metadata",
    "description" : "Metadata for the KPIs"
  }, {
    "name" : "data",
    "description" : "KPI calculations"
  } ],
  "paths" : {
    "/countries" : {
      "get" : {
        "summary" : "Retrieve available countries",
        "tags" : [ "metadata" ],
        "description" : "Retrieve a list of countries, with urls for their objects and kpis\n",
        "responses" : {
          "200" : {
            "description" : "list of countries",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Country"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/countries/{countryId}/objects" : {
      "get" : {
        "summary" : "Retrieve a country's objects",
        "tags" : [ "metadata" ],
        "description" : "Retrieve the buildings/apartments/objects in the specified country\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "countryId",
          "required" : true,
          "description" : "ID of the country",
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "list of objects",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/countries/{countryId}/kpis" : {
      "get" : {
        "summary" : "Retrieve a country's KPI descriptions",
        "tags" : [ "metadata" ],
        "description" : "Retrieve the KPI descriptions that can be calculated for the country as a whole\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "countryId",
          "required" : true,
          "description" : "ID of the country",
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "list of kpis",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CountryKPI"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/countries/{countryId}/objects/{objectId}/kpis" : {
      "get" : {
        "summary" : "Retrieve an object's KPI descriptions",
        "tags" : [ "metadata" ],
        "description" : "Retrieve the KPI descriptions that can be calculated for a specified object\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "countryId",
          "required" : true,
          "description" : "ID of the country",
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "objectId",
          "required" : true,
          "description" : "ID of the object",
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "list of kpis",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ObjectKPI"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/countries/{countryId}/kpis/{kpiId}" : {
      "get" : {
        "summary" : "Calculate a KPI",
        "tags" : [ "data" ],
        "description" : "Calculate the specified KPI, aggregating data for the entire country\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "countryId",
          "required" : true,
          "description" : "ID of the country",
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "kpiId",
          "required" : true,
          "description" : "ID of the KPI",
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "result of calculation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CountryKPIValue"
                }
              }
            }
          }
        }
      }
    },
    "/countries/{countryId}/objects/{objectId}/kpis/{kpiId}" : {
      "get" : {
        "summary" : "Calculate a KPI",
        "tags" : [ "data" ],
        "description" : "Calculate the specified KPI, aggregating data for the entire country\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "countryId",
          "required" : true,
          "description" : "ID of the country",
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "objectId",
          "required" : true,
          "description" : "ID of the object",
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "kpiId",
          "required" : true,
          "description" : "ID of the KPI",
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "result of calculation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ObjectKPIValue"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "securitySchemes" : {
      "BasicAuth" : {
        "type" : "http",
        "scheme" : "basic"
      }
    },
    "schemas" : {
      "Country" : {
        "type" : "object",
        "properties" : {
          "Type" : {
            "type" : "string",
            "example" : "Country"
          },
          "ID" : {
            "type" : "integer",
            "example" : 6
          },
          "Code" : {
            "type" : "string",
            "example" : "DK"
          },
          "Objects" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://demo.demobv.nl/mobistyle/openplatform/countries/6/objects"
          },
          "KPIS" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://demo.demobv.nl/mobistyle/openplatform/countries/6/kpis"
          }
        }
      },
      "Object" : {
        "type" : "object",
        "properties" : {
          "Type" : {
            "type" : "string",
            "example" : "Object"
          },
          "ID" : {
            "type" : "integer",
            "example" : 25
          },
          "Country" : {
            "type" : "integer",
            "example" : 6
          },
          "KPIS" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://demo.demobv.nl/mobistyle/openplatform/countries/6/objects/25/kpis"
          }
        }
      },
      "CountryKPI" : {
        "type" : "object",
        "properties" : {
          "Type" : {
            "type" : "string",
            "example" : "KPIS"
          },
          "ID" : {
            "type" : "integer",
            "example" : 3
          },
          "Desc" : {
            "type" : "string",
            "example" : "Percentage of hours in comfort in terms of temperature, relative humidity and CO2 concentration – daytime"
          },
          "Units" : {
            "type" : "string",
            "example" : "%"
          },
          "KPIS" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://demo.demobv.nl/mobistyle/openplatform/countries/6/kpis/3"
          }
        }
      },
      "ObjectKPI" : {
        "type" : "object",
        "properties" : {
          "Type" : {
            "type" : "string",
            "example" : "KPIContent"
          },
          "ID" : {
            "type" : "integer",
            "example" : 5
          },
          "Desc" : {
            "type" : "string",
            "example" : "Severity of discomfort in terms of temperature, relative humidity and CO2 concentration – daytime"
          },
          "Units" : {
            "type" : "string",
            "example" : "-"
          },
          "KPIS" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://demo.demobv.nl/mobistyle/openplatform/countries/6/objects/25/kpis/5"
          }
        }
      },
      "CountryKPIValue" : {
        "type" : "object",
        "properties" : {
          "Type" : {
            "type" : "string",
            "example" : "KPIContent"
          },
          "ID" : {
            "type" : "integer",
            "example" : 5
          },
          "Value" : {
            "type" : "number",
            "example" : 2.19490670425835
          }
        }
      },
      "ObjectKPIValue" : {
        "type" : "object",
        "properties" : {
          "Type" : {
            "type" : "string",
            "example" : "KPIContent"
          },
          "ID" : {
            "type" : "integer",
            "example" : 5
          },
          "Value" : {
            "type" : "number",
            "example" : 2.19490670425835
          }
        }
      }
    }
  },
  "security" : [ {
    "BasicAuth" : [ ]
  } ]
}