{
  "openapi" : "3.0.0",
  "servers" : [ {
    "description" : "API Guatemel FEL",
    "url" : "https://receptor.fel.guatemel.com.gt"
  }, {
    "description" : "SwaggerHub API Auto Mocking",
    "url" : "https://virtserver.swaggerhub.com/derekurizar/FEL-API/1.0.0"
  } ],
  "info" : {
    "description" : "Esta documentación contiene informacion de los endpoints de FEL Guatemel. Para obtener un usuario de pruebas favor de comunicarse al correo adjunto del programador.",
    "version" : "1.0.0",
    "title" : "API Certificador",
    "contact" : {
      "email" : "dmenendez@sc.com.gt"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags" : [ {
    "name" : "Seguridad",
    "description" : "Endpoints de Token"
  }, {
    "name" : "Certificador",
    "description" : "Endpoints para certificar"
  } ],
  "paths" : {
    "/ObtenerToken" : {
      "get" : {
        "security" : [ {
          "Access_Token" : [ ]
        } ],
        "tags" : [ "Seguridad" ],
        "summary" : "Obtiene el token de seguridad.",
        "operationId" : "obtenerToken",
        "description" : "Obtiene el token de seguridad para poder utilizar los endpoint tanto para firmar como emisor, como para realizar la certificación de un DTE. Unicamente funciona si el usuario y contraseña ingresados en la autorización son validos. Al obtener una respuesta valida, debera utilizar el valor de la llave \"mensaje\" en los parametros \"Access_Token\" de los endpoints de esta documentación. \n",
        "responses" : {
          "200" : {
            "description" : "Token Obtenido Correctamente"
          },
          "400" : {
            "description" : "Token Invalido"
          }
        }
      }
    },
    "/RegistrarDTE" : {
      "post" : {
        "tags" : [ "Certificador" ],
        "summary" : "Firma y valida reglas",
        "operationId" : "firmarDTE",
        "description" : "Valida las reglas de un DTE y si todo esta correcto realiza la firma sobre el mismo, en caso contrario regresara un json con la regla en la cual fallo la certificación. Para poder obtener un ID_Certificado debe solicitarlo al correo del programador adjunto.",
        "parameters" : [ {
          "name" : "Access_Token",
          "in" : "header",
          "description" : "Token de seguridad",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ID_Certificado",
          "in" : "header",
          "description" : "ID del certificado",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "DTE Firmado correctamente"
          },
          "400" : {
            "description" : "Error al certificar"
          }
        },
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/GTDocumento"
              }
            }
          },
          "description" : "XML del DTE de SAT"
        }
      }
    },
    "/ReglasDTE" : {
      "post" : {
        "tags" : [ "Certificador" ],
        "summary" : "Evalua reglas de un DTE",
        "operationId" : "reglasDTE",
        "description" : "Evalua todas las reglas de la SAT y envía un JSON con la regla en la cual el documento DTE fallo.",
        "parameters" : [ {
          "name" : "Access_Token",
          "in" : "header",
          "description" : "Token de seguridad",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Reglas evaluadas correctamente"
          },
          "400" : {
            "description" : "Error al evaluar reglas"
          }
        },
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/GTDocumento"
              }
            }
          },
          "description" : "XML del DTE de SAT"
        }
      }
    },
    "/AnularDTE" : {
      "post" : {
        "tags" : [ "Certificador" ],
        "summary" : "Anula DTE de SAT",
        "operationId" : "anularDTE",
        "description" : "Evalua reglas de anulación y si todo esta correcto anula y certifica la misma, caso contrario se envia un JSON con la regla en la cual fallo el documento.",
        "parameters" : [ {
          "name" : "Access_Token",
          "in" : "header",
          "description" : "Token de seguridad",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Documento anulado correctamente"
          },
          "400" : {
            "description" : "Error al anular documento"
          }
        },
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/GTDocumento"
              }
            }
          },
          "description" : "XML del DTE de SAT"
        }
      }
    },
    "/FirmaEmisor" : {
      "post" : {
        "tags" : [ "Emisor" ],
        "summary" : "Realiza la firma de Emisor",
        "operationId" : "firmaEmisorDTE",
        "description" : "Efectua la firma de un emisor con un certificado específico. Para realizar solamente la firma emisor debera proveernos un certificado de SAT o bien hacer pruebas con un certificado TEST activo del lado de nosotros el cual podemos proveerle si realiza la solicitud a través del correo del programador adjunto.",
        "parameters" : [ {
          "name" : "Access_Token",
          "in" : "header",
          "description" : "Token de seguridad",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "alias",
          "in" : "header",
          "description" : "Clave para firmar con certificado",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Documento firmado correctamente"
          },
          "400" : {
            "description" : "Error al firmar documento"
          }
        },
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/GTDocumento"
              }
            }
          },
          "description" : "XML del DTE de SAT"
        }
      }
    }
  },
  "components" : {
    "securitySchemes" : {
      "Access_Token" : {
        "type" : "http",
        "scheme" : "basic"
      }
    },
    "schemas" : {
      "GTDocumento" : {
        "type" : "object",
        "properties" : {
          "DatosSAT" : {
            "type" : "string",
            "format" : "uuid",
            "example" : "d290f1ee-6c54-4b01-90e6-d701748f0851"
          }
        }
      }
    }
  }
}