{
  "servers" : [ {
    "url" : "http://hookahapp.ru/"
  } ],
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Hookah API",
    "version" : "1.0.2",
    "description" : "Hookah Mobile API description"
  },
  "tags" : [ {
    "name" : "Account",
    "description" : ""
  }, {
    "name" : "Brand",
    "description" : ""
  }, {
    "name" : "Mixes",
    "description" : ""
  }, {
    "name" : "Tastes",
    "description" : ""
  } ],
  "paths" : {
    "/account/auth_token" : {
      "post" : {
        "tags" : [ "Account" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "query",
          "required" : true,
          "description" : "user device Id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string",
                  "example" : "token"
                }
              }
            }
          },
          "default" : {
            "description" : "Undefined error"
          }
        }
      }
    },
    "/account/preferences" : {
      "get" : {
        "tags" : [ "Account" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Preferences"
                }
              }
            }
          },
          "401" : {
            "description" : "Not authorized"
          }
        }
      }
    },
    "/account/preferences/update" : {
      "put" : {
        "tags" : [ "Account" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Preferences"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Preferences"
                }
              }
            }
          },
          "401" : {
            "description" : "Not authorized"
          }
        }
      }
    },
    "/brands" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "Brand" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "parameters" : [ {
          "name" : "hardness",
          "in" : "query",
          "required" : false,
          "description" : "tobacco hardness",
          "schema" : {
            "type" : "integer"
          }
        } ],
        "description" : "Action for getting all brands from server",
        "summary" : "Getting all brands",
        "responses" : {
          "200" : {
            "description" : "List of brands",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Brand"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Not authorized"
          }
        }
      }
    },
    "/brands/{brandId}/tobaccos" : {
      "get" : {
        "tags" : [ "Brand" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "summary" : "Getting all tobacco for brand",
        "description" : "All tobacco for brand with {brandId}",
        "parameters" : [ {
          "name" : "brandId",
          "in" : "path",
          "required" : true,
          "description" : "Id of brand",
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of tobacco with tastes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TobaccoWithTastes"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Not authorized"
          },
          "404" : {
            "description" : "invalid parameter {brandId}"
          }
        }
      }
    },
    "/mixes/all" : {
      "get" : {
        "tags" : [ "Mixes" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "summary" : "Getting all mixes",
        "responses" : {
          "200" : {
            "description" : "List of mixes with tobacco",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MixWithTobaccos"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Not authorized"
          }
        }
      }
    },
    "/mixes" : {
      "get" : {
        "tags" : [ "Mixes" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "summary" : "Getting mixes by ids",
        "parameters" : [ {
          "name" : "ids",
          "in" : "query",
          "required" : true,
          "description" : "id array of mixes",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of mixes with tobacco",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MixWithTobaccos"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Not authorized"
          }
        }
      }
    },
    "/mixes/{tobaccoId}" : {
      "get" : {
        "tags" : [ "Mixes" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "summary" : "Getting all mixes including {tobaccoId}",
        "parameters" : [ {
          "name" : "tobaccoId",
          "in" : "path",
          "required" : true,
          "description" : "Id of tobacco",
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of mixes with tobacco",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MixWithTobaccos"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Not authorized"
          }
        }
      }
    },
    "/mixes/week" : {
      "get" : {
        "tags" : [ "Mixes" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "summary" : "Getting mix of the week",
        "responses" : {
          "200" : {
            "description" : "Mix of the week",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MixWithTobaccos"
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "There is no mix of the week"
          },
          "401" : {
            "description" : "Not authorized"
          }
        }
      }
    },
    "/mixes/popular" : {
      "get" : {
        "tags" : [ "Mixes" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "summary" : "Getting 10 favorite mixes",
        "responses" : {
          "200" : {
            "description" : "List of favorite mixes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MixWithTobaccos"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Not authorized"
          }
        }
      }
    },
    "/mixes/recommended" : {
      "get" : {
        "tags" : [ "Mixes" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "summary" : "Getting maximum 100 mixes for user",
        "responses" : {
          "200" : {
            "description" : "List of recommended mixes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MixWithTobaccos"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Not authorized"
          }
        }
      }
    },
    "/mixes/random" : {
      "post" : {
        "tags" : [ "Mixes" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "summary" : "Getting 50 random mixes",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "tasteIds" : {
                    "type" : "array",
                    "items" : {
                      "type" : "integer"
                    }
                  },
                  "hardness" : {
                    "type" : "integer"
                  },
                  "brands" : {
                    "type" : "array",
                    "items" : {
                      "type" : "integer"
                    }
                  }
                },
                "required" : [ "tasteIds", "hardness" ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Random mixes list",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MixWithTobaccos"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mixes/random/one" : {
      "get" : {
        "tags" : [ "Mixes" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "summary" : "Getting one random mixes",
        "responses" : {
          "200" : {
            "description" : "Random mix",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MixWithTobaccos"
                }
              }
            }
          }
        }
      }
    },
    "/mixes/random/tobacco" : {
      "post" : {
        "tags" : [ "Mixes" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "summary" : "Getting max 50 random mixes included tobacco in body",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "tobaccoIds" : {
                    "type" : "array",
                    "items" : {
                      "type" : "integer"
                    }
                  }
                },
                "required" : [ "tobaccoIds" ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Array of mixes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MixWithTobaccos"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          }
        }
      }
    },
    "/mixes/like/{mixId}" : {
      "post" : {
        "tags" : [ "Mixes" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "summary" : "like mix by mixId",
        "parameters" : [ {
          "name" : "mixId",
          "in" : "path",
          "required" : true,
          "description" : "Id of mix",
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "success" : {
                      "type" : "boolean"
                    },
                    "likeCount" : {
                      "type" : "integer"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "User or Mix not found"
          },
          "406" : {
            "description" : "Like is already exist"
          }
        }
      }
    },
    "/mixes/unlike/{mixId}" : {
      "post" : {
        "tags" : [ "Mixes" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "summary" : "unlike mix by mixId",
        "parameters" : [ {
          "name" : "mixId",
          "in" : "path",
          "required" : true,
          "description" : "Id of mix",
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "success" : {
                      "type" : "boolean"
                    },
                    "likeCount" : {
                      "type" : "integer"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "User or Mix not found"
          },
          "406" : {
            "description" : "Like is already exist"
          }
        }
      }
    },
    "/mixes/compilations" : {
      "get" : {
        "tags" : [ "Mixes" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "summary" : "Getting list of active mix compilations",
        "responses" : {
          "200" : {
            "description" : "List of active mix compilations",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MixCompilation"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Not authorized"
          }
        }
      }
    },
    "/mixes/compilations/{compilationId}" : {
      "get" : {
        "tags" : [ "Mixes" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "summary" : "Getting list of mixes in compilation",
        "parameters" : [ {
          "name" : "compilationId",
          "in" : "path",
          "required" : true,
          "description" : "Id of mix compilation",
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of mixes in compilation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MixWithTobaccos"
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No mix compilation by {compilationId}"
          },
          "401" : {
            "description" : "Not authorized"
          }
        }
      }
    },
    "/tastes" : {
      "get" : {
        "tags" : [ "Tastes" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "summary" : "Getting list of tastes",
        "responses" : {
          "200" : {
            "description" : "List of tastes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListOfTaste"
                }
              }
            }
          },
          "401" : {
            "description" : "Not authorized"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Brand" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64",
            "example" : "1"
          },
          "imageUrl" : {
            "type" : "string",
            "example" : "images/afzal.png"
          },
          "description" : {
            "type" : "string",
            "example" : "Some brand"
          },
          "name" : {
            "type" : "string",
            "example" : "Afzal"
          },
          "hardness" : {
            "type" : "array",
            "items" : {
              "type" : "integer"
            }
          },
          "tobaccoCount" : {
            "type" : "integer",
            "format" : "int64"
          }
        },
        "required" : [ "name" ]
      },
      "Tobacco" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64",
            "example" : "1"
          },
          "name" : {
            "type" : "string",
            "example" : "APPLE"
          },
          "hardness" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 0,
            "description" : "2 - Soft, 3 - Medium, 4 - Rare"
          },
          "description" : {
            "type" : "string"
          },
          "imageUrl" : {
            "type" : "string"
          },
          "brandId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "brandName" : {
            "type" : "string"
          }
        },
        "required" : [ "id", "name", "hardness", "brandId" ]
      },
      "MixTobaccoAmount" : {
        "type" : "object",
        "properties" : {
          "tobaccoId" : {
            "type" : "integer"
          },
          "amount" : {
            "type" : "integer"
          }
        }
      },
      "Mix" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64",
            "example" : "1"
          },
          "name" : {
            "type" : "string",
            "example" : "APPLE JUICE MINT LEMON SAKE"
          },
          "description" : {
            "type" : "string"
          },
          "tobaccoHash" : {
            "type" : "string",
            "description" : "MD5 from sort ASC tobacco Id"
          },
          "imageUrl" : {
            "type" : "string"
          },
          "likeCount" : {
            "type" : "integer",
            "format" : "int"
          },
          "mixOfWeek" : {
            "type" : "boolean"
          }
        }
      },
      "MixWithTobaccos" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64",
            "example" : "1"
          },
          "name" : {
            "type" : "string",
            "example" : "APPLE JUICE MINT LEMON SAKE"
          },
          "description" : {
            "type" : "string"
          },
          "tobaccoHash" : {
            "type" : "string",
            "description" : "MD5 from sort ASC tobacco Id"
          },
          "imageUrl" : {
            "type" : "string"
          },
          "likeCount" : {
            "type" : "integer",
            "description" : "like count for mix"
          },
          "isLiked" : {
            "type" : "boolean",
            "description" : "liked by current user (using token)"
          },
          "mixOfWeek" : {
            "type" : "boolean"
          },
          "tobaccos" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/TobaccoWithTastes"
            }
          },
          "tobaccoAmount" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MixTobaccoAmount"
            }
          }
        }
      },
      "MixCompilation" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int",
            "example" : "1"
          },
          "name" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          },
          "imageUrl" : {
            "type" : "string"
          },
          "isValid" : {
            "type" : "boolean",
            "default" : "false",
            "description" : "Currently active or not"
          },
          "orderBy" : {
            "type" : "integer",
            "description" : "Sorting order"
          },
          "type" : {
            "type" : "integer",
            "description" : "Compilation type (0 - ours, 1 - Hookah cafe, 2 - Blogers)"
          }
        },
        "required" : [ "id", "name", "isValid", "orderBy", "type" ]
      },
      "Taste" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64",
            "example" : "1"
          },
          "name" : {
            "type" : "string",
            "example" : "Фруктовый"
          }
        },
        "required" : [ "name" ]
      },
      "ListOfTaste" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/Taste"
        }
      },
      "TobaccoWithTastes" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64",
            "example" : "1"
          },
          "name" : {
            "type" : "string",
            "example" : "APPLE"
          },
          "hardness" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 0,
            "description" : "2 - Soft, 3 - Medium, 4 - Rare"
          },
          "description" : {
            "type" : "string"
          },
          "imageUrl" : {
            "type" : "string"
          },
          "amount" : {
            "type" : "integer",
            "minimum" : 0,
            "maximum" : 100
          },
          "brandId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "brandName" : {
            "type" : "string"
          },
          "tastes" : {
            "$ref" : "#/components/schemas/ListOfTaste"
          }
        },
        "required" : [ "id", "name", "hardness", "brandId" ]
      },
      "Preferences" : {
        "type" : "object",
        "properties" : {
          "brandIds" : {
            "type" : "array",
            "items" : {
              "type" : "integer"
            }
          },
          "hardness" : {
            "type" : "integer"
          },
          "tasteIds" : {
            "type" : "array",
            "items" : {
              "type" : "integer"
            }
          }
        },
        "required" : [ "tasteIds" ]
      }
    },
    "securitySchemes" : {
      "BearerAuth" : {
        "type" : "http",
        "description" : "You can get token from account/token request.",
        "scheme" : "bearer"
      }
    }
  }
}