{
  "openapi" : "3.0.0",
  "servers" : [ {
    "description" : "Testing",
    "url" : "https://develop-sr3snxi-ydqbvov5maz5i.eu-4.platformsh.site/api"
  } ],
  "info" : {
    "version" : "1.1.0",
    "title" : "Dinaco Tickets",
    "description" : "Dinaco Ticket Schnittstelle."
  },
  "security" : [ {
    "accessCode" : [ "read", "write" ]
  } ],
  "paths" : {
    "/event/{eventId}/ticket" : {
      "post" : {
        "tags" : [ "tickets" ],
        "summary" : "Add a new or updates an existing ticket to an event",
        "operationId" : "addTicket",
        "parameters" : [ {
          "name" : "eventId",
          "in" : "path",
          "description" : "ID of the event",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Saved or Updated"
          },
          "400" : {
            "description" : "Invalid ID supplied"
          },
          "404" : {
            "description" : "Event not found"
          },
          "422" : {
            "description" : "Invalid input"
          }
        },
        "security" : [ {
          "accessCode" : [ "write", "read" ]
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/Ticket"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Ticket" : {
        "type" : "object",
        "required" : [ "id", "status", "barcode", "category", "entry", "entryLevel" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "S", "G", "N" ],
            "description" : "S für Storno,  G für Gesperrt,  N für Valid"
          },
          "barcode" : {
            "type" : "string",
            "description" : "Barcode"
          },
          "category" : {
            "type" : "string"
          },
          "entry" : {
            "type" : "string",
            "description" : "Zutrittsrecht"
          },
          "discount" : {
            "type" : "string",
            "description" : "Discount-Typ"
          },
          "sector" : {
            "type" : "string"
          },
          "row" : {
            "type" : "string"
          },
          "seat" : {
            "type" : "string"
          },
          "contactInfo" : {
            "$ref" : "#/components/schemas/ContactInfo"
          }
        }
      },
      "ContactInfo" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "lastname" : {
            "type" : "string"
          },
          "salutation" : {
            "type" : "string",
            "description" : "Anrede"
          },
          "customerNumber" : {
            "type" : "string",
            "description" : "Kundennummer"
          },
          "phone" : {
            "type" : "string"
          },
          "mail" : {
            "type" : "string"
          }
        }
      }
    },
    "requestBodies" : {
      "Ticket" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Ticket"
            }
          }
        },
        "description" : "Ticket object that needs to be added or updated to the store",
        "required" : true
      }
    },
    "securitySchemes" : {
      "accessCode" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://develop-sr3snxi-ydqbvov5maz5i.eu-4.platformsh.site/oauth/auth",
            "tokenUrl" : "https://develop-sr3snxi-ydqbvov5maz5i.eu-4.platformsh.site/oauth/token",
            "scopes" : {
              "write" : "allows modifying resources",
              "read" : "allows reading resources"
            }
          }
        }
      }
    }
  }
}