{
  "openapi" : "3.0.0",
  "servers" : [ {
    "description" : "Base URL",
    "url" : "https://places.groundtruth.com/v1"
  }, {
    "description" : "SwaggerHub API Auto Mocking",
    "url" : "https://virtserver.swaggerhub.com/GroundTruth/Places_API_Documentation/1.0.0"
  } ],
  "info" : {
    "description" : "The GroundTruth Places API enables mobile apps developers to turn their app's location data into real-world places data.",
    "version" : "1.0.0",
    "title" : "Places API",
    "contact" : {
      "email" : "publisher-platform@groundtruth.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags" : [ {
    "name" : "developers",
    "description" : "Operations available to regular developers"
  }, {
    "name" : "admin",
    "description" : "Operations available to GroundTruth developers"
  } ],
  "paths" : {
    "/poi" : {
      "post" : {
        "tags" : [ "developers" ],
        "summary" : "Access detailed information about places",
        "operationId" : "poi",
        "description" : "By passing a location signal and its attributes, you can access detailed information about a matching place",
        "parameters" : [ {
          "in" : "header",
          "name" : "x-api-key",
          "description" : "App access key. The access key can be found under your app's settings page, in the [publisher platform](publisher.groundtruth.com)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "responseFilter" : {
                    "type" : "object",
                    "properties" : {
                      "poiType" : {
                        "type" : "integer",
                        "example" : 2,
                        "description" : "Whether the places data returned in the API for client requests, and SDK requests, should include radial POIs, in addition to blueprinted POIs - 1 = blueprinted POIs (default), 2 = blueprinted + radial POIs"
                      }
                    }
                  },
                  "app" : {
                    "type" : "object",
                    "required" : [ "bundle", "ver" ],
                    "properties" : {
                      "bundle" : {
                        "type" : "string",
                        "example" : "com.groundtruth.test",
                        "description" : "The bundle/name of the host app"
                      },
                      "ver" : {
                        "type" : "string",
                        "example" : 1,
                        "description" : "The version of the host app"
                      },
                      "name" : {
                        "type" : "string",
                        "example" : "Test App",
                        "description" : "App name"
                      },
                      "paid" : {
                        "type" : "boolean",
                        "example" : 0,
                        "description" : "0 - Free version of application, 1 - Paid version of application"
                      },
                      "publisher" : {
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "string",
                            "example" : 1234,
                            "description" : "Publisher ID"
                          },
                          "name" : {
                            "type" : "string",
                            "example" : "GroundTruth",
                            "description" : "Publisher name (may be aliased at the publisher’s request)"
                          },
                          "domain" : {
                            "type" : "string",
                            "example" : "https://www.groundtruth.com",
                            "description" : "Highest level domain of the publisher (e.g., “publisher.com”)"
                          },
                          "cat" : {
                            "type" : "array",
                            "items" : {
                              "type" : "string"
                            },
                            "example" : "IAB1-3, IAB1-4",
                            "description" : "Array of IAB content categories that describe the publisher"
                          }
                        }
                      }
                    }
                  },
                  "user" : {
                    "type" : "object",
                    "properties" : {
                      "gender" : {
                        "type" : "string",
                        "example" : "F",
                        "description" : "Gender, where “M” = male, “F” = female, “O” = known to be other (i.e., omitted is unknown)."
                      },
                      "yob" : {
                        "type" : "integer",
                        "example" : 1985,
                        "description" : "Year of birth as a 4-digit integer"
                      },
                      "ext" : {
                        "type" : "object",
                        "required" : [ "exptimestamp", "consent" ],
                        "properties" : {
                          "exptimestamp" : {
                            "type" : "integer",
                            "example" : 1566514680000,
                            "description" : "Location event collection timestamp"
                          },
                          "delayed_data" : {
                            "type" : "boolean",
                            "example" : 0,
                            "description" : "Flag to indicate if the location event is delayed"
                          },
                          "consent" : {
                            "type" : "string",
                            "example" : "BBb2aM1Bb2aM1ABABAENAX-AAAAQCABgACAgAA",
                            "description" : "GDPR IAB Consent String"
                          }
                        }
                      }
                    }
                  },
                  "device" : {
                    "type" : "object",
                    "required" : [ "ifa", "ua" ],
                    "properties" : {
                      "ifa" : {
                        "type" : "string",
                        "example" : "BBb2aM1Bb2aM1ABABAENAX-AAAAQCABgACAgAA",
                        "description" : "User's IDFA for iOS and user's AAID for Android"
                      },
                      "ua" : {
                        "type" : "string",
                        "example" : "Mozilla/5.0 (iPhone; CPU iPhone OS 12_3_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148",
                        "description" : "Browser user agent (when applicable)"
                      },
                      "devicetype" : {
                        "type" : "integer",
                        "example" : 4,
                        "description" : "Device type according to OpenRTB requirements"
                      },
                      "make" : {
                        "type" : "string",
                        "example" : "Apple",
                        "description" : "Name of device manufacturer"
                      },
                      "model" : {
                        "type" : "string",
                        "example" : "iPhone",
                        "description" : "Device model"
                      },
                      "os" : {
                        "type" : "string",
                        "example" : "iOS",
                        "description" : "Operating system of the device - Android or iOS"
                      },
                      "osv" : {
                        "type" : "string",
                        "example" : "12.3.1",
                        "description" : "OS version"
                      },
                      "carrier" : {
                        "type" : "string",
                        "example" : "Verizon",
                        "description" : "Device carrier"
                      },
                      "connectiontype" : {
                        "type" : "string",
                        "example" : 6,
                        "description" : "0 - Unknown, 1 - Ethernet, 2 - WIFI, 3 - Cellular Network- Unknown Generation, 4 - Cellular Network-2G, 5 - Cellular Network-3G, 6 - Cellular Network-4G"
                      },
                      "lmt" : {
                        "type" : "boolean",
                        "example" : 0,
                        "description" : "User has enabled \"Limit Ad Tracking\""
                      },
                      "language" : {
                        "type" : "string",
                        "example" : "en_US",
                        "description" : "Device language"
                      },
                      "geo" : {
                        "type" : "object",
                        "required" : [ "lat", "lon", "ext" ],
                        "properties" : {
                          "lat" : {
                            "type" : "string",
                            "example" : 37.38647,
                            "description" : "Latitude from -90.0 to +90.0, where negative is south"
                          },
                          "lon" : {
                            "type" : "string",
                            "example" : -122.05154,
                            "description" : "Longitude from -180.0 to +180.0, where negative is west"
                          },
                          "type" : {
                            "type" : "integer",
                            "example" : 1,
                            "description" : "Source of location data; recommended when passing lat/lon (OpenRTB Spec Location Type)"
                          },
                          "country" : {
                            "type" : "string",
                            "example" : "us",
                            "description" : "Country code using ISO-3166-1-alpha-3"
                          },
                          "region" : {
                            "type" : "string",
                            "example" : "ca",
                            "description" : "Region code using ISO-3166-2; 2-letter state code if USA"
                          },
                          "city" : {
                            "type" : "string",
                            "example" : "Mountain View",
                            "description" : "City using United Nations Code for Trade & Transport Locations"
                          },
                          "zip" : {
                            "type" : "string",
                            "example" : 94041,
                            "description" : "Zip or postal code"
                          },
                          "ext" : {
                            "type" : "object",
                            "required" : [ "ha", "va", "alt", "speed", "speedAccuracy" ],
                            "properties" : {
                              "ha" : {
                                "type" : "string",
                                "example" : 10,
                                "description" : "Horizontal accuracy as it is read from the device GPS in meters"
                              },
                              "va" : {
                                "type" : "string",
                                "example" : 5.3,
                                "description" : "Vertical accuracy as it is read from the device GPS in meters"
                              },
                              "alt" : {
                                "type" : "string",
                                "example" : 10.25,
                                "description" : "Device altitude as it is read from the device GPS in meters"
                              },
                              "floor" : {
                                "type" : "integer",
                                "example" : 1,
                                "description" : "Floor in building device is located (iOS only)"
                              },
                              "speed" : {
                                "type" : "string",
                                "example" : 3.2,
                                "description" : "Speed of device in meters per second"
                              },
                              "speedAccuracy" : {
                                "type" : "string",
                                "example" : 1.4,
                                "description" : "Speed Accuracy (Android only)"
                              },
                              "direction" : {
                                "type" : "string",
                                "example" : 90,
                                "description" : "An azimuth that is measured in degrees relative to north (course / bearing)"
                              },
                              "directionAccuracy" : {
                                "type" : "string",
                                "example" : 10,
                                "description" : "Estimated bearing accuracy of this location, in degrees (Android only)"
                              },
                              "activity" : {
                                "type" : "integer",
                                "example" : 7,
                                "description" : "0 - driving / automotive (iOS), 1 - cycling / cycling (iOS), 2 - on foot (Android only), 3 - still / stationary (iOS), 4 - unknown / unknown (iOS), 5 - tilting (Android only), 7 - walking / walking (iOS), 8 - running / running (iOS)"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "regs" : {
                    "type" : "object",
                    "required" : [ "coppa" ],
                    "properties" : {
                      "coppa" : {
                        "type" : "boolean",
                        "example" : 0,
                        "description" : "Flag indicating if this request is subject to the COPPA regulations established by the USA FTC"
                      },
                      "ext" : {
                        "type" : "object",
                        "required" : [ "gdpr" ],
                        "properties" : {
                          "gdpr" : {
                            "type" : "boolean",
                            "example" : 0,
                            "description" : "Whether the user is subjected to GDPR"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200 OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Poi-Response"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenRequest"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/nearbyPoi" : {
      "post" : {
        "tags" : [ "developers" ],
        "summary" : "Access detailed information about places around your users",
        "operationId" : "nearbyPoi",
        "description" : "By passing a location signal and its attributes, you can access detailed information about nearby places",
        "parameters" : [ {
          "in" : "header",
          "name" : "x-xad-k",
          "description" : "App access key. The access key can be found under your app's settings page, in the [publisher platform](publisher.groundtruth.com)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "responseFilter" : {
                    "type" : "object",
                    "properties" : {
                      "poiType" : {
                        "type" : "integer",
                        "example" : 2,
                        "description" : "Whether the places data returned in the API for client requests, and SDK requests, should include radial POIs, in addition to blueprinted POIs - 1 = blueprinted POIs (default), 2 = blueprinted + radial POIs"
                      },
                      "nearPoiRadius" : {
                        "type" : "integer",
                        "example" : 100,
                        "description" : "Set the radius, in meters, around the user's location when calling the API for nearbyPOIs"
                      }
                    }
                  },
                  "app" : {
                    "type" : "object",
                    "required" : [ "bundle", "ver" ],
                    "properties" : {
                      "bundle" : {
                        "type" : "string",
                        "example" : "com.groundtruth.test",
                        "description" : "The bundle/name of the host app"
                      },
                      "ver" : {
                        "type" : "string",
                        "example" : 1,
                        "description" : "The version of the host app"
                      },
                      "name" : {
                        "type" : "string",
                        "example" : "Test App",
                        "description" : "App name"
                      },
                      "paid" : {
                        "type" : "boolean",
                        "example" : 0,
                        "description" : "0 - Free version of application, 1 - Paid version of application"
                      },
                      "publisher" : {
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "string",
                            "example" : 1234,
                            "description" : "Publisher ID"
                          },
                          "name" : {
                            "type" : "string",
                            "example" : "GroundTruth",
                            "description" : "Publisher name (may be aliased at the publisher’s request)"
                          },
                          "domain" : {
                            "type" : "string",
                            "example" : "https://www.groundtruth.com",
                            "description" : "Highest level domain of the publisher (e.g., “publisher.com”)"
                          },
                          "cat" : {
                            "type" : "array",
                            "items" : {
                              "type" : "string"
                            },
                            "example" : "IAB1-3, IAB1-4",
                            "description" : "Array of IAB content categories that describe the publisher"
                          }
                        }
                      }
                    }
                  },
                  "user" : {
                    "type" : "object",
                    "properties" : {
                      "gender" : {
                        "type" : "string",
                        "example" : "F",
                        "description" : "Gender, where “M” = male, “F” = female, “O” = known to be other (i.e., omitted is unknown)."
                      },
                      "yob" : {
                        "type" : "integer",
                        "example" : 1985,
                        "description" : "Year of birth as a 4-digit integer"
                      },
                      "ext" : {
                        "type" : "object",
                        "required" : [ "exptimestamp", "consent" ],
                        "properties" : {
                          "exptimestamp" : {
                            "type" : "integer",
                            "example" : 1566514680000,
                            "description" : "Location event collection timestamp"
                          },
                          "delayed_data" : {
                            "type" : "boolean",
                            "example" : 0,
                            "description" : "Flag to indicate if the location event is delayed"
                          },
                          "consent" : {
                            "type" : "string",
                            "example" : "BBb2aM1Bb2aM1ABABAENAX-AAAAQCABgACAgAA",
                            "description" : "GDPR IAB Consent String"
                          }
                        }
                      }
                    }
                  },
                  "device" : {
                    "type" : "object",
                    "required" : [ "ifa", "ua" ],
                    "properties" : {
                      "ifa" : {
                        "type" : "string",
                        "example" : "BBb2aM1Bb2aM1ABABAENAX-AAAAQCABgACAgAA",
                        "description" : "User's IDFA for iOS and user's AAID for Android"
                      },
                      "ua" : {
                        "type" : "string",
                        "example" : "Mozilla/5.0 (iPhone; CPU iPhone OS 12_3_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148",
                        "description" : "Browser user agent (when applicable)"
                      },
                      "devicetype" : {
                        "type" : "integer",
                        "example" : 4,
                        "description" : "Device type according to OpenRTB requirements"
                      },
                      "make" : {
                        "type" : "string",
                        "example" : "Apple",
                        "description" : "Name of device manufacturer"
                      },
                      "model" : {
                        "type" : "string",
                        "example" : "iPhone",
                        "description" : "Device model"
                      },
                      "os" : {
                        "type" : "string",
                        "example" : "iOS",
                        "description" : "Operating system of the device - Android or iOS"
                      },
                      "osv" : {
                        "type" : "string",
                        "example" : "12.3.1",
                        "description" : "OS version"
                      },
                      "carrier" : {
                        "type" : "string",
                        "example" : "Verizon",
                        "description" : "Device carrier"
                      },
                      "connectiontype" : {
                        "type" : "string",
                        "example" : 6,
                        "description" : "0 - Unknown, 1 - Ethernet, 2 - WIFI, 3 - Cellular Network- Unknown Generation, 4 - Cellular Network-2G, 5 - Cellular Network-3G, 6 - Cellular Network-4G"
                      },
                      "lmt" : {
                        "type" : "boolean",
                        "example" : 0,
                        "description" : "User has enabled \"Limit Ad Tracking\""
                      },
                      "language" : {
                        "type" : "string",
                        "example" : "en_US",
                        "description" : "Device language"
                      },
                      "geo" : {
                        "type" : "object",
                        "required" : [ "lat", "lon", "ext" ],
                        "properties" : {
                          "lat" : {
                            "type" : "string",
                            "example" : 37.38647,
                            "description" : "Latitude from -90.0 to +90.0, where negative is south"
                          },
                          "lon" : {
                            "type" : "string",
                            "example" : -122.05154,
                            "description" : "Longitude from -180.0 to +180.0, where negative is west"
                          },
                          "type" : {
                            "type" : "integer",
                            "example" : 1,
                            "description" : "Source of location data; recommended when passing lat/lon (OpenRTB Spec Location Type)"
                          },
                          "country" : {
                            "type" : "string",
                            "example" : "us",
                            "description" : "Country code using ISO-3166-1-alpha-3"
                          },
                          "region" : {
                            "type" : "string",
                            "example" : "ca",
                            "description" : "Region code using ISO-3166-2; 2-letter state code if USA"
                          },
                          "city" : {
                            "type" : "string",
                            "example" : "Mountain View",
                            "description" : "City using United Nations Code for Trade & Transport Locations"
                          },
                          "zip" : {
                            "type" : "string",
                            "example" : 94041,
                            "description" : "Zip or postal code"
                          },
                          "ext" : {
                            "type" : "object",
                            "required" : [ "ha", "va", "alt", "speed", "speedAccuracy" ],
                            "properties" : {
                              "ha" : {
                                "type" : "string",
                                "example" : 10,
                                "description" : "Horizontal accuracy as it is read from the device GPS in meters"
                              },
                              "va" : {
                                "type" : "string",
                                "example" : 5.3,
                                "description" : "Vertical accuracy as it is read from the device GPS in meters"
                              },
                              "alt" : {
                                "type" : "string",
                                "example" : 10.25,
                                "description" : "Device altitude as it is read from the device GPS in meters"
                              },
                              "floor" : {
                                "type" : "integer",
                                "example" : 1,
                                "description" : "Floor in building device is located (iOS only)"
                              },
                              "speed" : {
                                "type" : "string",
                                "example" : 3.2,
                                "description" : "Speed of device in meters per second"
                              },
                              "speedAccuracy" : {
                                "type" : "string",
                                "example" : 1.4,
                                "description" : "Speed Accuracy (Android only)"
                              },
                              "direction" : {
                                "type" : "string",
                                "example" : 90,
                                "description" : "An azimuth that is measured in degrees relative to north (course / bearing)"
                              },
                              "directionAccuracy" : {
                                "type" : "string",
                                "example" : 10,
                                "description" : "Estimated bearing accuracy of this location, in degrees (Android only)"
                              },
                              "activity" : {
                                "type" : "integer",
                                "example" : 7,
                                "description" : "0 - driving / automotive (iOS), 1 - cycling / cycling (iOS), 2 - on foot (Android only), 3 - still / stationary (iOS), 4 - unknown / unknown (iOS), 5 - tilting (Android only), 7 - walking / walking (iOS), 8 - running / running (iOS)"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "regs" : {
                    "type" : "object",
                    "required" : [ "coppa" ],
                    "properties" : {
                      "coppa" : {
                        "type" : "boolean",
                        "example" : 0,
                        "description" : "Flag indicating if this request is subject to the COPPA regulations established by the USA FTC"
                      },
                      "ext" : {
                        "type" : "object",
                        "required" : [ "gdpr" ],
                        "properties" : {
                          "gdpr" : {
                            "type" : "boolean",
                            "example" : 0,
                            "description" : "Whether the user is subjected to GDPR"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200 OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NearbyPoi-Response"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenRequest"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/sensitive" : {
      "get" : {
        "tags" : [ "developers" ],
        "summary" : "Check whether a location matches a sensitive POI",
        "operationId" : "sensitive",
        "description" : "By passing a location signal and its attributes, you will know if the location matches a sensitive point of interest.\n<br><br><b>Notes:</b><br> 1. Make sure to encode the passed values (&key=<b>value</b>)<br> 2. Make sure to include your access key (<b>x-api-key</b>) in the request's header<br> 3. Example of base URL with query parameters:<br> <https://places.groundtruth.com/v1/sensitive?lat=37.782823&lon=-122.432556>",
        "parameters" : [ {
          "in" : "header",
          "name" : "x-api-key",
          "description" : "App access key. The access key can be found under your app's settings page, in the [publisher platform](publisher.groundtruth.com)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "lat",
          "description" : "Latitude from -90.0 to +90.0, where negative is south",
          "example" : 37.38647,
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "lon",
          "description" : "Longitude from -180.0 to +180.0, where negative is west",
          "example" : -122.05154,
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "country",
          "description" : "Country code using ISO-3166-1-alpha-3",
          "example" : "us",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "city",
          "description" : "City using United Nations Code for Trade & Transport Locations",
          "example" : "Mountain View",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "zip",
          "description" : "Zip or postal code",
          "example" : 94041,
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "state",
          "description" : "Region code using ISO-3166-2; 2-letter state code if USA",
          "example" : "ca",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "ha",
          "description" : "Horizontal accuracy as it is read from the device GPS in meters",
          "example" : 10,
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "va",
          "description" : "Vertical accuracy as it is read from the device GPS in meters",
          "example" : 5.3,
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "speed",
          "description" : "Speed of device in meters per second",
          "example" : 3.2,
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "floor",
          "description" : "Floor in building device is located (iOS only)",
          "example" : 1,
          "required" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "in" : "query",
          "name" : "direction",
          "description" : "An azimuth that is measured in degrees relative to north (course / bearing)",
          "example" : 90,
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Sensitive-Response"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenRequest"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Poi-Response" : {
        "type" : "object",
        "properties" : {
          "requestId" : {
            "type" : "string",
            "example" : "0a9fd368-8169-4944-ad83-2619662bcca8",
            "description" : "Unique request ID"
          },
          "apiVersion" : {
            "type" : "string",
            "example" : "v1",
            "description" : "Places API version"
          },
          "ecode" : {
            "type" : "integer",
            "example" : 0,
            "description" : "Response code"
          },
          "message" : {
            "type" : "string",
            "example" : "OK",
            "description" : "Response message"
          },
          "poiInfo" : {
            "type" : "object",
            "description" : "Place information",
            "properties" : {
              "poiId" : {
                "type" : "integer",
                "example" : 17199131810529598704,
                "description" : "GroundTruth internal place ID"
              },
              "brand" : {
                "type" : "string",
                "example" : "xAd",
                "description" : "Brand name"
              },
              "brandId" : {
                "type" : "integer",
                "example" : 1,
                "description" : "Groundtruth internal brand ID"
              },
              "category" : {
                "type" : "string",
                "example" : "Location Platforms",
                "description" : "Category name"
              },
              "categoryId" : {
                "type" : "integer",
                "example" : 552100,
                "description" : "SIC category code"
              },
              "name" : {
                "type" : "string",
                "example" : "GroundTruth",
                "description" : "Place name"
              },
              "address" : {
                "type" : "string",
                "example" : "189 n bernardo ave,mountain view,ca 94043,us",
                "description" : "Place address"
              },
              "country" : {
                "type" : "string",
                "example" : "us",
                "description" : "Place Country"
              },
              "state" : {
                "type" : "string",
                "example" : "ca",
                "description" : "Place state"
              },
              "city" : {
                "type" : "string",
                "example" : "mountain view",
                "description" : "Place name"
              },
              "zip" : {
                "type" : "string",
                "example" : 94043,
                "description" : "Place zip code"
              },
              "floor" : {
                "type" : "integer",
                "example" : 1,
                "description" : "Place floor number"
              },
              "phone" : {
                "type" : "string",
                "example" : "(888) 234-7893",
                "description" : "Place phone number"
              },
              "latitude" : {
                "type" : "string",
                "example" : 37.386284,
                "description" : "Place center latitude"
              },
              "longitude" : {
                "type" : "string",
                "example" : -122.05135,
                "description" : "Place center longitude"
              },
              "blueprinted" : {
                "type" : "boolean",
                "example" : true,
                "description" : "Place contains a polygon"
              },
              "inStore" : {
                "type" : "boolean",
                "example" : true,
                "description" : "Place contains a store polygon"
              },
              "parkingLot" : {
                "type" : "boolean",
                "example" : true,
                "description" : "Place contains a parking-lot polygon"
              },
              "tenantId" : {
                "type" : "integer",
                "example" : 1,
                "description" : "GrundTruth place-to-account association ID"
              }
            }
          }
        }
      },
      "NearbyPoi-Response" : {
        "type" : "object",
        "properties" : {
          "requestId" : {
            "type" : "string",
            "example" : "0a9fd368-8169-4944-ad83-2619662bcca8",
            "description" : "Unique request ID"
          },
          "apiVersion" : {
            "type" : "string",
            "example" : "v1",
            "description" : "Places API version"
          },
          "ecode" : {
            "type" : "integer",
            "example" : 0,
            "description" : "Response code"
          },
          "message" : {
            "type" : "string",
            "example" : "OK",
            "description" : "Response message"
          },
          "poiInfo" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "poiId" : {
                  "type" : "integer",
                  "example" : 17199131810529598704,
                  "description" : "GroundTruth internal place ID"
                },
                "brand" : {
                  "type" : "string",
                  "example" : "xAd",
                  "description" : "Brand name"
                },
                "brandId" : {
                  "type" : "integer",
                  "example" : null,
                  "description" : "Groundtruth internal brand ID"
                },
                "category" : {
                  "type" : "string",
                  "example" : "Location Platforms",
                  "description" : "Category name"
                },
                "categoryId" : {
                  "type" : "integer",
                  "example" : 552100,
                  "description" : "SIC category code"
                },
                "name" : {
                  "type" : "string",
                  "example" : "GroundTruth",
                  "description" : "Place name"
                },
                "address" : {
                  "type" : "string",
                  "example" : "189 n bernardo ave,mountain view,ca 94043,us",
                  "description" : "Place address"
                },
                "country" : {
                  "type" : "string",
                  "example" : "us",
                  "description" : "Place Country"
                },
                "state" : {
                  "type" : "string",
                  "example" : "ca",
                  "description" : "Place state"
                },
                "city" : {
                  "type" : "string",
                  "example" : "mountain view",
                  "description" : "Place name"
                },
                "zip" : {
                  "type" : "string",
                  "example" : 94043,
                  "description" : "Place zip code"
                },
                "floor" : {
                  "type" : "integer",
                  "example" : 1,
                  "description" : "Place floor number"
                },
                "phone" : {
                  "type" : "string",
                  "example" : "(888) 234-7893",
                  "description" : "Place phone number"
                },
                "latitude" : {
                  "type" : "string",
                  "example" : 37.386284,
                  "description" : "Place center latitude"
                },
                "longitude" : {
                  "type" : "string",
                  "example" : -122.05135,
                  "description" : "Place center longitude"
                },
                "blueprinted" : {
                  "type" : "boolean",
                  "example" : true,
                  "description" : "Place contains a polygon"
                },
                "inStore" : {
                  "type" : "boolean",
                  "example" : true,
                  "description" : "Place contains a store polygon"
                },
                "parkingLot" : {
                  "type" : "boolean",
                  "example" : true,
                  "description" : "Place contains a parking-lot polygon"
                },
                "distance" : {
                  "type" : "string",
                  "example" : 235.201,
                  "description" : "Place distance from the user's location"
                }
              }
            }
          }
        }
      },
      "Sensitive-Response" : {
        "type" : "object",
        "properties" : {
          "requestId" : {
            "type" : "string",
            "example" : "0a9fd368-8169-4944-ad83-2619662bcca8",
            "description" : "Unique request ID"
          },
          "apiVersion" : {
            "type" : "string",
            "example" : "v1",
            "description" : "Places API version"
          },
          "ecode" : {
            "type" : "integer",
            "example" : 0,
            "description" : "Response code"
          },
          "message" : {
            "type" : "string",
            "example" : "OK",
            "description" : "Response message"
          },
          "isSensitive" : {
            "type" : "string",
            "example" : true,
            "description" : "Whether the location is sensitive"
          }
        }
      },
      "BadRequest" : {
        "type" : "object",
        "properties" : {
          "requestId" : {
            "type" : "string",
            "description" : "Request ID"
          },
          "apiVersion" : {
            "type" : "string",
            "description" : "API version"
          },
          "ecode" : {
            "type" : "integer",
            "description" : "Malformated JSON (ecode 2), Invalid Access Key (ecode 2), Empty Access Key (ecode 2), Uid Type Not Found (ecode 2), App / Site Info Not Found (ecode 2), Age Filtered (ecode 2), Filtered by COPPA (ecode 2), Missing Event Timestamp (ecode 2), Expired Event Timestamp (ecode 2)"
          },
          "message" : {
            "type" : "string",
            "description" : "Malformated JSON (ecode 2), Invalid Access Key (ecode 2), Empty Access Key (ecode 2), Uid Type Not Found (ecode 2), App / Site Info Not Found (ecode 2), Age Filtered (ecode 2), Filtered by COPPA (ecode 2), Missing Event Timestamp (ecode 2), Expired Event Timestamp (ecode 2)"
          }
        }
      },
      "ForbiddenRequest" : {
        "type" : "object",
        "properties" : {
          "requestId" : {
            "type" : "string",
            "description" : "Request ID"
          },
          "apiVersion" : {
            "type" : "string",
            "description" : "API version"
          },
          "ecode" : {
            "type" : "integer",
            "description" : "Unsupported / Invalid Country (ecode 1), Location verification failed (ecode 3), Location filtered due to GDPR (ecode 4), Fraud check failed (ecode 5)"
          },
          "message" : {
            "type" : "string",
            "description" : "Unsupported / Invalid Country (ecode 1), Location verification failed (ecode 3), Location filtered due to GDPR (ecode 4), Fraud check failed (ecode 5)"
          }
        }
      },
      "InternalError" : {
        "type" : "object",
        "properties" : {
          "requestId" : {
            "type" : "string",
            "description" : "Request ID"
          },
          "apiVersion" : {
            "type" : "string",
            "description" : "API version"
          },
          "ecode" : {
            "type" : "integer",
            "description" : "Request is throttled / timed out (ecode 6)"
          },
          "message" : {
            "type" : "string",
            "description" : "Request is throttled / timed out (ecode 6)"
          }
        }
      }
    }
  }
}