{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Big Data Impacta",
    "description" : "Descrição do Big Data Impacta.",
    "contact" : {
      "email" : "bsantos@impacta.adv.br"
    },
    "version" : "1.0.0-oas3"
  },
  "servers" : [ {
    "url" : "http://backendbigdata.impacta.adv.br:8083/"
  } ],
  "tags" : [ {
    "name" : "Autenticação",
    "description" : "Procedimento de login na aplicação."
  }, {
    "name" : "Serviços"
  }, {
    "name" : "Pesquisa"
  }, {
    "name" : "Processos"
  } ],
  "paths" : {
    "/login/" : {
      "post" : {
        "tags" : [ "Autenticação" ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/Login"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "example" : {
                  "Sucesso" : true,
                  "Token" : "$token"
                }
              }
            }
          },
          "400" : {
            "description" : "Credenciais Inválidas",
            "content" : {
              "application/json" : {
                "example" : {
                  "Sucesso" : false,
                  "Detalhes" : "Credenciais Incorretas."
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/pesquisas/solicitarPesquisa" : {
      "post" : {
        "tags" : [ "Pesquisa" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "Busca" : {
                    "type" : "string",
                    "example" : "VILA RICA"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Pesquisa registrada",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "PesquisaId" : {
                      "type" : "string",
                      "example" : "5e8f52dd54e55720b9fadb83"
                    },
                    "IdTarefaPesquisa" : {
                      "type" : "string",
                      "example" : "f4bf8fca-f6ad-4364-ab70-d068d85d4956"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Requisição Inválida.",
            "content" : { }
          }
        },
        "security" : [ {
          "ClientKey" : [ ]
        } ],
        "x-codegen-request-body-name" : "body"
      }
    },
    "/processos/obterDetalhes/{numeroCnj}" : {
      "get" : {
        "tags" : [ "Processos" ],
        "parameters" : [ {
          "name" : "numeroCnj",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retorno da capa de processo e movimentações.",
            "content" : { }
          }
        },
        "security" : [ {
          "ClientKey" : [ ]
        } ]
      }
    },
    "/servicos/contratar/" : {
      "post" : {
        "tags" : [ "Serviços" ],
        "description" : "Realiza a inscrição em um webhook.",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "Identificador" : {
                    "type" : "integer"
                  },
                  "UrlFeedback" : {
                    "type" : "string",
                    "format" : "uri",
                    "description" : "Url válida para envio dos webhooks.",
                    "example" : "https://impactateste.requestcatcher.com"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Contratado com sucesso.",
            "content" : { }
          }
        },
        "callbacks" : {
          "PesquisaConcluida" : {
            "{$request.body#/UrlFeedback}" : {
              "post" : {
                "requestBody" : {
                  "required" : true,
                  "content" : {
                    "application/json" : {
                      "schema" : {
                        "type" : "object",
                        "properties" : {
                          "PesquisaId" : {
                            "type" : "string",
                            "description" : "Id da pesquisa no Big Data",
                            "example" : "5e8dc59a10b8d9a0870ab0a0"
                          },
                          "NumerosProcessos" : {
                            "type" : "array",
                            "description" : "Lista com números de processos encontrados para pesquisa",
                            "items" : {
                              "type" : "string"
                            },
                            "example" : [ 8.3411057201581199E18, 2.6354811201580902E18, 3.0432920198140092E16, 1.10309720198080032E17, 5.0785911199640361E18 ]
                          },
                          "Apelido" : {
                            "type" : "string",
                            "example" : "Pesquisa realizada em 08/04/2020 09:37:45",
                            "description" : "Apelido atribuido à pesquisa"
                          }
                        }
                      }
                    }
                  }
                },
                "responses" : {
                  "200" : {
                    "description" : "Your server returns this code if it accepts the callback"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "ClientKey" : [ ]
        } ],
        "x-codegen-request-body-name" : "body"
      }
    }
  },
  "components" : {
    "schemas" : {
      "Login" : {
        "type" : "object",
        "properties" : {
          "Login" : {
            "type" : "string"
          },
          "Senha" : {
            "type" : "string"
          }
        }
      }
    },
    "securitySchemes" : {
      "ClientKey" : {
        "type" : "apiKey",
        "name" : "Authorization",
        "in" : "header"
      }
    }
  }
}