{
  "openapi" : "3.0.0",
  "servers" : [ {
    "url" : "https://api.iot.hededanmark.dk/api/v1/interfaces"
  } ],
  "info" : {
    "title" : "HD IoT Platform",
    "description" : "HD IoT Platform REST API",
    "version" : "1.0.0",
    "contact" : {
      "name" : "API Support",
      "url" : "https://iot.hededanmark.dk",
      "email" : "support@iot.hededanmark.dk"
    },
    "termsOfService" : "http://digital.hededanmark.dk/aftale-grundlag/"
  },
  "tags" : [ {
    "name" : "devices",
    "description" : "Operations available for devices"
  }, {
    "name" : "messages",
    "description" : "Device telemetry data"
  } ],
  "paths" : {
    "/devices" : {
      "parameters" : [ {
        "name" : "orgId",
        "in" : "query",
        "required" : true,
        "schema" : {
          "$ref" : "#/components/parameters/OrgIdParam"
        }
      } ],
      "get" : {
        "tags" : [ "devices" ],
        "summary" : "Get devices",
        "responses" : {
          "200" : {
            "description" : "List of devices",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Device"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/UnauthorizedError"
          },
          "401" : {
            "$ref" : "#/components/responses/UnauthorizedError"
          },
          "403" : {
            "$ref" : "#/components/responses/ForbiddenError"
          },
          "404" : {
            "$ref" : "#/components/responses/DeviceNotFoundError"
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/devices/{deviceId}" : {
      "parameters" : [ {
        "name" : "deviceId",
        "in" : "path",
        "required" : true,
        "schema" : {
          "$ref" : "#/components/parameters/DeviceIdParam"
        }
      }, {
        "name" : "orgId",
        "in" : "query",
        "required" : true,
        "schema" : {
          "$ref" : "#/components/parameters/OrgIdParam"
        }
      } ],
      "get" : {
        "tags" : [ "devices" ],
        "summary" : "Get device",
        "responses" : {
          "200" : {
            "description" : "Device object",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Device"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/UnauthorizedError"
          },
          "401" : {
            "$ref" : "#/components/responses/UnauthorizedError"
          },
          "403" : {
            "$ref" : "#/components/responses/ForbiddenError"
          },
          "404" : {
            "$ref" : "#/components/responses/DeviceNotFoundError"
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/messages" : {
      "parameters" : [ {
        "name" : "orgId",
        "in" : "query",
        "required" : true,
        "schema" : {
          "$ref" : "#/components/parameters/OrgIdParam"
        }
      }, {
        "name" : "deviceIds",
        "in" : "query",
        "required" : true,
        "description" : "Comma separated device IDs",
        "schema" : {
          "$ref" : "#/components/parameters/DeviceIdParam"
        }
      }, {
        "name" : "fromUtc",
        "in" : "query",
        "required" : false,
        "schema" : {
          "$ref" : "#/components/parameters/FromUtcParam"
        }
      }, {
        "name" : "toUtc",
        "in" : "query",
        "required" : false,
        "schema" : {
          "$ref" : "#/components/parameters/ToUtcParam"
        }
      } ],
      "get" : {
        "tags" : [ "messages" ],
        "summary" : "Get device telemetry data",
        "responses" : {
          "200" : {
            "description" : "List of device messages",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DeviceMessage"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/UnauthorizedError"
          },
          "401" : {
            "$ref" : "#/components/responses/UnauthorizedError"
          },
          "403" : {
            "$ref" : "#/components/responses/ForbiddenError"
          },
          "404" : {
            "$ref" : "#/components/responses/DeviceNotFoundError"
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "DeviceModel" : {
        "type" : "object",
        "properties" : {
          "_id" : {
            "type" : "string",
            "example" : "5be2a64da413a11780486035"
          },
          "name" : {
            "type" : "string",
            "example" : "WaterlevelModel101"
          },
          "data_model" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "data_type" : {
                  "type" : "string"
                },
                "unit" : {
                  "type" : "object",
                  "properties" : {
                    "name" : {
                      "type" : "string"
                    },
                    "slug" : {
                      "type" : "string"
                    },
                    "value" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "example" : [ {
              "data_type" : "continuous",
              "unit" : {
                "name" : "Waterlevel",
                "slug" : "waterlevel",
                "value" : "cm"
              }
            }, {
              "data_type" : "continuous",
              "unit" : {
                "name" : "Distance",
                "slug" : "distance",
                "value" : "cm"
              }
            }, {
              "data_type" : "continuous",
              "unit" : {
                "name" : "Batteri",
                "slug" : "batteryLevel",
                "value" : "%"
              }
            } ]
          },
          "tags" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "example" : [ "waterlevel", "pressure_sensor" ]
          }
        }
      },
      "GeneralError" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "type" : "string"
          }
        }
      },
      "DeviceMessage" : {
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "v" : {
                  "type" : "number"
                }
              }
            },
            "example" : [ {
              "v" : 12
            }, {
              "v" : 86
            } ]
          },
          "time" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2018-02-01T08:03:00.000Z"
          }
        }
      },
      "Device" : {
        "type" : "object",
        "properties" : {
          "_id" : {
            "type" : "string",
            "example" : "5be2a64da413a11780486035"
          },
          "device" : {
            "type" : "string",
            "example" : "1CF632"
          },
          "name" : {
            "type" : "string",
            "example" : "Gribskov 5 - Esrum Å"
          },
          "type" : {
            "type" : "string",
            "example" : "device"
          },
          "device_type" : {
            "type" : "string",
            "example" : "waterlevel"
          },
          "device_model" : {
            "$ref" : "#/components/schemas/DeviceModel"
          },
          "geo" : {
            "type" : "object",
            "properties" : {
              "lat" : {
                "type" : "number",
                "example" : 56.021233
              },
              "long" : {
                "type" : "number",
                "example" : 12.08123523
              },
              "alt" : {
                "type" : "number",
                "example" : 0
              }
            }
          },
          "properties" : {
            "type" : "object",
            "properties" : {
              "elevation" : {
                "type" : "number",
                "example" : 10
              },
              "heightOffset" : {
                "type" : "number",
                "example" : 0
              },
              "overFlowThreshold" : {
                "type" : "number",
                "example" : 20
              },
              "boundary_distance" : {
                "type" : "number",
                "example" : 125
              }
            }
          },
          "lastExternalSync" : {
            "type" : "number",
            "example" : 1546322400
          },
          "created_at" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2018-02-07T19:34:23.000Z"
          },
          "deleted" : {
            "type" : "boolean",
            "example" : false
          }
        }
      }
    },
    "parameters" : {
      "OrgIdParam" : {
        "name" : "orgId",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "DeviceIdParam" : {
        "name" : "deviceIds",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "FromUtcParam" : {
        "name" : "fromUtc",
        "in" : "query",
        "required" : false,
        "schema" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2019-01-01T08:00"
        }
      },
      "ToUtcParam" : {
        "name" : "toUtc",
        "in" : "query",
        "required" : false,
        "schema" : {
          "type" : "string",
          "format" : "date-time"
        }
      }
    },
    "responses" : {
      "UnauthorizedError" : {
        "description" : "Unauthorized",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/GeneralError"
            },
            "example" : {
              "error" : "Unauthorized access. Valid token is required!"
            }
          }
        }
      },
      "InputFieldRequiredError" : {
        "description" : "Bad request.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/GeneralError"
            },
            "example" : {
              "error" : "{FieldName} is required!"
            }
          }
        }
      },
      "ForbiddenError" : {
        "description" : "Access forbidden",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/GeneralError"
            },
            "example" : {
              "error" : "Access forbidden!"
            }
          }
        }
      },
      "OrgNotFoundError" : {
        "description" : "Organization not found",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/GeneralError"
            },
            "example" : {
              "error" : "Organization not found"
            }
          }
        }
      },
      "DeviceNotFoundError" : {
        "description" : "Device not found",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/GeneralError"
            },
            "example" : {
              "error" : "Device not found"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "api_key" : {
        "type" : "apiKey",
        "name" : "apiKey",
        "in" : "query"
      }
    }
  }
}