{
  "openapi" : "3.0.0",
  "servers" : [ {
    "description" : "SwaggerHub API Auto Mocking",
    "url" : "https://integrate-api.testhtm.com/api/v1"
  } ],
  "info" : {
    "description" : "This is a simple API",
    "version" : "1.0.0",
    "title" : "Hiretual API (Sandbox)",
    "contact" : {
      "email" : "support@hiretual.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags" : [ {
    "name" : "projects",
    "description" : "hire projects"
  }, {
    "name" : "candidates",
    "description" : "candidates"
  }, {
    "name" : "hiringProcesses",
    "description" : "hiringProcesses"
  } ],
  "paths" : {
    "/projects" : {
      "get" : {
        "tags" : [ "projects" ],
        "summary" : "search projects",
        "operationId" : "searchProjects",
        "description" : "By passing in the appropriate options, you can search for\navailable projects in the system\n",
        "parameters" : [ {
          "in" : "query",
          "name" : "project_name",
          "description" : "pass an optional project name string for looking up projects",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "page",
          "description" : "number of records to skip for pagination",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 0
          }
        }, {
          "in" : "query",
          "name" : "per_page",
          "description" : "maximum number of records to return",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 0,
            "maximum" : 10
          }
        } ],
        "security" : [ {
          "API KEY" : [ ],
          "CLIENT ID" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SearchProjectResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          }
        }
      },
      "post" : {
        "tags" : [ "projects" ],
        "summary" : "create a new project",
        "operationId" : "createProject",
        "description" : "create a new project",
        "security" : [ {
          "API KEY" : [ ],
          "CLIENT ID" : [ ]
        } ],
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateProjectResponse"
                }
              }
            },
            "description" : "new project created"
          },
          "400" : {
            "description" : "invalid input, object invalid"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProjectBase"
              }
            }
          },
          "description" : "Project JSON Body Parameters"
        }
      }
    },
    "/projects/{id}" : {
      "get" : {
        "tags" : [ "projects" ],
        "summary" : "get project by project id",
        "operationId" : "getProjectById",
        "description" : "get project by project id",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "description" : "Hiretual project id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "security" : [ {
          "API KEY" : [ ],
          "CLIENT ID" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "project information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/CreateProjectResponse"
                  } ],
                  "properties" : {
                    "project_team_id" : {
                      "type" : "string",
                      "example" : "team586a234d2e72f89.75546790",
                      "description" : "project team id"
                    },
                    "project_user_id" : {
                      "type" : "string",
                      "example" : "59746551c59eb77.99762345",
                      "description" : "project user id"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          }
        }
      },
      "put" : {
        "tags" : [ "projects" ],
        "summary" : "update project by project id",
        "operationId" : "updateProjectById",
        "description" : "update project by project id",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "description" : "project id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "security" : [ {
          "API KEY" : [ ],
          "CLIENT ID" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProjectBase"
              }
            }
          },
          "description" : "Project JSON Body Parameters"
        },
        "responses" : {
          "200" : {
            "description" : "project information updated"
          },
          "400" : {
            "description" : "bad input parameter"
          }
        }
      },
      "delete" : {
        "tags" : [ "projects" ],
        "summary" : "delete project by project id",
        "operationId" : "deleteProjectById",
        "description" : "delete project by project id",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "description" : "project id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "security" : [ {
          "API KEY" : [ ],
          "CLIENT ID" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "project deleted"
          },
          "400" : {
            "description" : "bad input parameter"
          }
        }
      }
    },
    "/projects/{id}/link_project" : {
      "post" : {
        "tags" : [ "projects" ],
        "summary" : "link external project with Hiretual project",
        "operationId" : "linkProject",
        "description" : "link external project with Hiretual project",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "description" : "project id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "security" : [ {
          "API KEY" : [ ],
          "CLIENT ID" : [ ]
        } ],
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LinkProjectResponse"
                }
              }
            },
            "description" : "link project"
          },
          "400" : {
            "description" : "invalid input, object invalid"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LinkProject"
              }
            }
          },
          "description" : "Project JSON Body Parameters"
        }
      }
    },
    "/candidates" : {
      "get" : {
        "tags" : [ "candidates" ],
        "summary" : "search candidates",
        "operationId" : "searchCandidates",
        "description" : "By passing in the appropriate options, you can search for\navailable candidates in the system\n",
        "parameters" : [ {
          "in" : "query",
          "name" : "keyword",
          "description" : "pass an optional keyword string for looking up candidates",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "project_id",
          "description" : "project id of candidates",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "page",
          "description" : "number of records to skip for pagination",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 0
          }
        }, {
          "in" : "query",
          "name" : "per_page",
          "description" : "maximum number of records to return",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 0,
            "maximum" : 10
          }
        } ],
        "security" : [ {
          "API KEY" : [ ],
          "CLIENT ID" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CandidateResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          }
        }
      },
      "post" : {
        "tags" : [ "candidates" ],
        "summary" : "create a new candidate",
        "operationId" : "createCandidates",
        "description" : "create a new candidate",
        "security" : [ {
          "API KEY" : [ ],
          "CLIENT ID" : [ ]
        } ],
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CandidateCreateResponse"
                }
              }
            },
            "description" : "new candidate created"
          },
          "400" : {
            "description" : "invalid input, object invalid"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CandidateRequest"
              }
            }
          },
          "description" : "Candidate JSON Body Parameters"
        }
      }
    },
    "/candidates/{id}" : {
      "get" : {
        "tags" : [ "candidates" ],
        "summary" : "get candidate by candidate id",
        "operationId" : "getCandidateById",
        "description" : "get candidate by candidate id",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "description" : "candidate id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "security" : [ {
          "API KEY" : [ ],
          "CLIENT ID" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "candidate information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CandidateResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          }
        }
      }
    },
    "/candidates/upload/resume" : {
      "post" : {
        "tags" : [ "candidates" ],
        "summary" : "create candiate from resume",
        "operationId" : "uplaodResume",
        "description" : "create candidate from resume",
        "parameters" : [ {
          "in" : "path",
          "name" : "resume",
          "required" : true,
          "description" : "resume file (pdf,doc,docx)",
          "schema" : {
            "type" : "string",
            "format" : "binary"
          }
        } ],
        "security" : [ {
          "API KEY" : [ ],
          "CLIENT ID" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/form" : {
              "schema" : {
                "$ref" : "#/components/schemas/CandidateUploadResumeRequest"
              }
            }
          },
          "description" : "Candidate Multipart Form Data Body Parameters"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CandidateCreateResponse"
                }
              }
            },
            "description" : "new candidate created"
          },
          "400" : {
            "description" : "bad input parameter"
          }
        }
      }
    },
    "/hiring_processes" : {
      "get" : {
        "tags" : [ "hiringProcesses" ],
        "summary" : "get all hiring processes",
        "operationId" : "getAllHiringProcesses",
        "description" : "get all hiring processes",
        "security" : [ {
          "API KEY" : [ ],
          "CLIENT ID" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/HiringprocessResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          }
        }
      }
    },
    "/hiring_processes/{id}" : {
      "get" : {
        "tags" : [ "hiringProcesses" ],
        "summary" : "get hiring processes by id",
        "operationId" : "getHiringProcesseById",
        "description" : "get hiring processe by id",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "description" : "hiring processes id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "security" : [ {
          "API KEY" : [ ],
          "CLIENT ID" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "hiring process information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HiringprocessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "CreateProjectResponse" : {
        "type" : "object",
        "required" : [ "name" ],
        "properties" : {
          "project_id" : {
            "type" : "integer",
            "example" : 871110,
            "description" : "project id"
          },
          "project_name" : {
            "type" : "string",
            "example" : "test project",
            "description" : "project name"
          },
          "project_description" : {
            "type" : "string",
            "example" : "This is a new test project",
            "description" : "project description"
          },
          "project_hiring_process_id" : {
            "type" : "string",
            "example" : "hp5af345d953ac4d1.11243456",
            "description" : "project hiring process id"
          },
          "project_status" : {
            "type" : "string",
            "example" : "Active",
            "description" : "project status",
            "enum" : [ "Active", "Deleted" ]
          },
          "project_create_date" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2019-08-28T23:09:57.000Z",
            "description" : "project created date"
          },
          "project_update_date" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2019-08-28T23:09:57.000Z",
            "description" : "project updated date"
          },
          "creator_id" : {
            "type" : "string",
            "example" : "59456611c59eb77.99455834",
            "description" : "project creator id (user id)"
          },
          "hiring_members" : {
            "type" : "string",
            "example" : "hiring members test",
            "description" : "hiring members"
          },
          "stage_details" : {
            "type" : "string",
            "example" : "stage details test",
            "description" : "stage details"
          }
        }
      },
      "ProjectBase" : {
        "type" : "object",
        "required" : [ "name" ],
        "properties" : {
          "name" : {
            "type" : "string",
            "example" : "test project",
            "description" : "project name"
          },
          "description" : {
            "type" : "string",
            "example" : "This is a new test project",
            "description" : "project description"
          },
          "hiring_process_id" : {
            "type" : "string",
            "example" : "hp5ac456d953ac4d1.11567506",
            "description" : "project description"
          }
        }
      },
      "SearchProjectResponse" : {
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "example" : 127,
            "description" : "project search result total"
          },
          "result" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CreateProjectResponse"
            }
          }
        }
      },
      "Position" : {
        "type" : "object",
        "properties" : {
          "normed_domain" : {
            "type" : "string",
            "example" : "dynatrace.com",
            "description" : "normed domain"
          },
          "position_company_logo" : {
            "type" : "string",
            "example" : "",
            "description" : "position company logo"
          },
          "position_company_name" : {
            "type" : "string",
            "example" : "Alps Automotive",
            "description" : "position company name"
          },
          "position_company_website_url" : {
            "type" : "string",
            "format" : "url",
            "example" : "dynatrace.com",
            "description" : "position company website url"
          },
          "position_end_date" : {
            "type" : "string",
            "format" : "data-time",
            "example" : "2019-01-01T00:00:00.000Z",
            "description" : "position end date"
          },
          "position_iscurrent" : {
            "type" : "boolean",
            "example" : true,
            "description" : "position iscurrent"
          },
          "position_location" : {
            "type" : "string",
            "example" : "Greater St. Louis Area",
            "description" : "position location"
          },
          "position_start_date" : {
            "type" : "string",
            "format" : "data-time",
            "example" : "2019-01-01T00:00:00.000Z",
            "description" : "position start date"
          },
          "position_summary" : {
            "type" : "string",
            "example" : "Drive a multi-million dollar revenue stream for a SaaS, AI-based, highly automated application monitoring platform. Developed a routine outbound cadence of customer outreach based on phone, e-mail, direct mail, and dimensional mail campaigns. Focus on helping accounts achieve their strategic objectives, improving operational efficiencies, and improving customer experience. Call on a target list of enterprise accounts of existing and new accounts.  • FY 2019: President’s Club • FY 2019: 109% Revenue attainment • FY 2019: 261% New account revenue • FY 2019: 157% Services revenue • FY 2018: President’s Club • FY 2018: Rookie of the Year • FY 2018: 161% Revenue attainment • FY 2018: 145% Services revenue\n",
            "description" : "position summary"
          },
          "position_title" : {
            "type" : "string",
            "example" : "Account Executive",
            "description" : "position title"
          }
        }
      },
      "Education" : {
        "type" : "object",
        "properties" : {
          "education_startyear" : {
            "type" : "integer",
            "example" : 1990,
            "description" : "start year"
          },
          "education_endyear" : {
            "type" : "integer",
            "example" : 1995,
            "description" : "end year"
          },
          "education_school" : {
            "type" : "string",
            "example" : "University of Missouri-Saint Louis",
            "description" : "school"
          },
          "education_degree" : {
            "type" : "string",
            "example" : "Bachelor of Science",
            "description" : "degree"
          },
          "education_major" : {
            "type" : "string",
            "example" : "Business Administration",
            "description" : "major"
          },
          "education_degree_level" : {
            "type" : "string"
          },
          "education_description" : {
            "type" : "string",
            "example" : "Graduate curricula: Ergonomics, Project Management, Industrial Cost Analysis and Capital Budgeting, Mfg. Planning and Control, Statistics, Factory Optimization, and Work Measurement Science",
            "description" : "description"
          },
          "education_school_logo" : {
            "type" : "string"
          }
        }
      },
      "Basic" : {
        "type" : "object",
        "properties" : {
          "angellist_url" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://www.xx-xxx.com",
            "description" : "angellist url"
          },
          "career_path" : {
            "type" : "string",
            "example" : "Information Technology & Services",
            "description" : "career path"
          },
          "city" : {
            "type" : "string",
            "example" : "St. Louis",
            "description" : "city"
          },
          "client_id" : {
            "type" : "string",
            "example" : "htmtalent",
            "description" : "client id"
          },
          "country" : {
            "type" : "string",
            "example" : "United States",
            "description" : "country"
          },
          "crunchbase_url" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://www.xx-xxx.com",
            "description" : "crunchbase url"
          },
          "current" : {
            "type" : "string",
            "example" : "Sap",
            "description" : "current"
          },
          "current_position" : {
            "$ref" : "#/components/schemas/Position"
          },
          "current_title" : {
            "type" : "string",
            "example" : "Software Sales Representative | Enterprise Account Executive",
            "description" : "current title"
          },
          "default_emails" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "email",
              "example" : "mgustafson995@gmail.com"
            },
            "description" : "default emails"
          },
          "edited_email" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "email",
              "example" : "mgustafson995@gmail.com"
            },
            "description" : "edited emails"
          },
          "edited_fullname" : {
            "type" : "string",
            "example" : "",
            "description" : "edited fullname"
          },
          "edited_phone_number" : {
            "type" : "string",
            "example" : "",
            "description" : "edited phone number"
          },
          "email" : {
            "type" : "string",
            "format" : "email",
            "example" : "mgustafson995@gmail.com",
            "description" : "email"
          },
          "extra_email" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "email",
              "example" : "mgustafson995@gmail.com"
            },
            "description" : "extra emails"
          },
          "facebook_url" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://www.xx-xxx.com",
            "description" : "facebook url"
          },
          "fmt_location" : {
            "type" : "string",
            "example" : "Greater St. Louis Area, Missouri, United States",
            "description" : "fmt location"
          },
          "fullname" : {
            "type" : "string",
            "example" : "Mark Gustafson",
            "description" : "fullname"
          },
          "gdpr_email" : {
            "type" : "object",
            "properties" : {
              "company" : {
                "type" : "array",
                "items" : {
                  "type" : "string",
                  "example" : "",
                  "description" : "company"
                }
              },
              "guess" : {
                "type" : "array",
                "items" : {
                  "type" : "string",
                  "format" : "email",
                  "example" : "mgustafson99@hotmail.com",
                  "description" : "guess"
                }
              }
            }
          },
          "gdpr_status" : {
            "type" : "string",
            "example" : "",
            "description" : "gdpr status"
          },
          "github_url" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://www.xx-xxx.com",
            "description" : "github url"
          },
          "google_scholar_id" : {
            "type" : "string",
            "example" : "",
            "description" : "google scholar id"
          },
          "highest_education" : {
            "$ref" : "#/components/schemas/Education"
          },
          "highlight" : {
            "type" : "string",
            "example" : "Results focused sales professional with a record of producing revenue in highly competitive markets. Proven success developing new and underperforming territories. Thorough understanding of Solution Selling and selling business value. Actively listen to customers and align new technology solutions to help them achieve their business goals. Effective at managing complex sales processes and working with large companies. Organize and collaborate with the sales team and business partners to timely complete customer deliverables and maintain sales momentum.  Comprehensive knowledge of a wide range of software applications: ERP (Accounting, CRM, HR, and more), Business Intelligence, Enterprise and Consumer Portals, Collaboration, E-Commerce, and Infrastructure systems. Proficient selling SaaS cloud and hybrid cloud solutions.\n",
            "description" : "highlight"
          },
          "image_url" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://hiretual.s3.amazonaws.com/people_photo_new/di.5c4f3520af7ef3.67896604",
            "description" : "image url"
          },
          "indeed_url" : {
            "type" : "string",
            "format" : "url",
            "example" : "",
            "description" : "indeed url"
          },
          "is_edited" : {
            "type" : "boolean",
            "example" : false,
            "description" : "is edited"
          },
          "linkedin_id" : {
            "type" : "integer",
            "example" : 6943762,
            "description" : "linkedin id"
          },
          "linkedin_url" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://www.linkedin.com/in/mark-gustafson-46a3aa2",
            "description" : "linkedin url"
          },
          "location" : {
            "type" : "string",
            "example" : "Greater St. Louis Area",
            "description" : "location"
          },
          "opt_out" : {
            "type" : "boolean",
            "example" : false,
            "description" : "opt out"
          },
          "phone_number" : {
            "type" : "string",
            "example" : 12314234,
            "description" : "phone number"
          },
          "primary_email" : {
            "type" : "string",
            "format" : "email",
            "example" : "xx@gmail.com",
            "description" : "primary email"
          },
          "resume_file_url" : {
            "type" : "string",
            "format" : "url",
            "example" : "http://xxx.com/xx",
            "description" : "resume file url"
          },
          "skill" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "enterprise software",
              "description" : "skill"
            }
          },
          "stackoverflow_url" : {
            "type" : "string",
            "format" : "url",
            "example" : "http://xx.com/xx",
            "description" : "stackoverflow url"
          },
          "state" : {
            "type" : "string",
            "example" : "Missouri",
            "description" : "state"
          },
          "twitter_url" : {
            "type" : "string",
            "format" : "url",
            "example" : "http://xx.com/xx",
            "description" : "twitter url"
          },
          "user_id" : {
            "type" : "string",
            "example" : "fu578d3eb6bbed13.79678677",
            "description" : "user url"
          },
          "website" : {
            "type" : "string",
            "format" : "url",
            "example" : "xxx.com",
            "description" : "website"
          },
          "work_auth" : {
            "type" : "string",
            "example" : "",
            "description" : "work auth"
          },
          "user_create_date" : {
            "type" : "string",
            "format" : "data-time",
            "example" : "2016-07-18T20:40:22.000Z",
            "description" : "user create date"
          },
          "user_update_date" : {
            "type" : "string",
            "format" : "data-time",
            "example" : "2016-07-18T20:40:22.000Z",
            "description" : "user update date"
          }
        }
      },
      "CandidateResponse" : {
        "type" : "object",
        "properties" : {
          "award" : {
            "type" : "object",
            "properties" : {
              "award_name" : {
                "type" : "string"
              },
              "award_issuer" : {
                "type" : "string"
              },
              "award_description" : {
                "type" : "string"
              },
              "award_year" : {
                "type" : "integer"
              }
            }
          },
          "basic" : {
            "$ref" : "#/components/schemas/Basic"
          },
          "certification" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "certification_name" : {
                  "type" : "string"
                },
                "certification_authority" : {
                  "type" : "string"
                },
                "certification_company" : {
                  "type" : "string"
                },
                "certification_license_number" : {
                  "type" : "string"
                },
                "certification_description" : {
                  "type" : "string"
                },
                "certification_iscurrent" : {
                  "type" : "boolean"
                },
                "certification_state" : {
                  "type" : "string"
                },
                "certification_country" : {
                  "type" : "string"
                },
                "certification_start_date" : {
                  "type" : "string"
                },
                "certification_end_date" : {
                  "type" : "string"
                }
              }
            }
          },
          "education" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Education"
            }
          },
          "handson" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "handson_linkedin_endorsements" : {
                  "type" : "integer",
                  "example" : 54
                },
                "handson_skill" : {
                  "type" : "string",
                  "example" : "Solution Selling"
                }
              }
            }
          },
          "language" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "language_name" : {
                  "type" : "string"
                },
                "language_proficiency" : {
                  "type" : "string"
                }
              }
            }
          },
          "organization" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "organization_name" : {
                  "type" : "string"
                },
                "organization_position" : {
                  "type" : "string"
                },
                "organization_description" : {
                  "type" : "string"
                },
                "organization_iscurrent" : {
                  "type" : "boolean"
                },
                "organization_start_date" : {
                  "type" : "string"
                },
                "organization_end_date" : {
                  "type" : "string"
                }
              }
            }
          },
          "patent" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "patent_title" : {
                  "type" : "string"
                },
                "patent_url" : {
                  "type" : "string"
                },
                "patent_issuer" : {
                  "type" : "string"
                },
                "patent_issuer_country" : {
                  "type" : "string"
                },
                "patent_description" : {
                  "type" : "string"
                },
                "patent_year" : {
                  "type" : "integer"
                },
                "patent_tracking_number" : {
                  "type" : "string"
                }
              }
            }
          },
          "position" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Position"
            }
          },
          "project" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "project"
            }
          },
          "publication" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "publication_title" : {
                  "type" : "string"
                },
                "publication_url" : {
                  "type" : "string"
                },
                "publication_organization" : {
                  "type" : "string"
                },
                "publication_description" : {
                  "type" : "string"
                },
                "publication_year" : {
                  "type" : "string"
                },
                "publication_citation" : {
                  "type" : "string"
                }
              }
            }
          },
          "recommendation" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "recommendation_recommendation" : {
                  "type" : "string"
                },
                "recommendation_type" : {
                  "type" : "string"
                }
              }
            }
          },
          "sourcing_channels" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "hiretual"
            }
          },
          "volunteer" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "volunteer_name" : {
                  "type" : "string"
                },
                "volunteer_description" : {
                  "type" : "string"
                }
              }
            }
          },
          "application_id_list" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "application_id_list"
            }
          }
        }
      },
      "CandidateRequest" : {
        "type" : "object",
        "properties" : {
          "fullname" : {
            "type" : "string",
            "example" : "Hello World"
          },
          "primary_email" : {
            "type" : "string",
            "example" : "hello@sample.com"
          },
          "extra_emails" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "hello@sample.com"
            }
          },
          "work_authorization" : {
            "type" : "string",
            "example" : null
          },
          "phone_number" : {
            "type" : "string",
            "example" : 12345678
          },
          "industry" : {
            "type" : "string",
            "example" : "software"
          },
          "image_url" : {
            "type" : "string",
            "example" : "/url/to/image.png"
          },
          "indeed_url" : {
            "type" : "string",
            "example" : "/url/to/indeed"
          },
          "candidate_summary" : {
            "type" : "string",
            "example" : "CEO"
          },
          "linkedin_url" : {
            "type" : "string",
            "example" : "http://www.linkedin/in/sample"
          },
          "linkedin_id" : {
            "type" : "string",
            "example" : null
          },
          "location" : {
            "type" : "string",
            "example" : "CA,USA"
          },
          "address" : {
            "type" : "string",
            "example" : "No.1 Sample Street"
          },
          "current_company" : {
            "type" : "string",
            "example" : "Hiretual"
          },
          "current_title" : {
            "type" : "string",
            "example" : "Engineer"
          },
          "google_url" : {
            "type" : "string",
            "example" : "/url/google"
          },
          "google_scholar_id" : {
            "type" : "string",
            "example" : null
          },
          "facebook_url" : {
            "type" : "string",
            "example" : "/url/facebook"
          },
          "twitter_url" : {
            "type" : "string",
            "example" : "/url/twitter"
          },
          "angellist_url" : {
            "type" : "string",
            "example" : "/url/angellist"
          },
          "stackoverflow_url" : {
            "type" : "string",
            "example" : "/url/stackoverflow"
          },
          "github_url" : {
            "type" : "string",
            "example" : "/url/github"
          },
          "crunchbase_url" : {
            "type" : "string",
            "example" : "/url/crunchbase"
          },
          "skype" : {
            "type" : "string",
            "example" : "/url/skype"
          },
          "wechat" : {
            "type" : "string",
            "example" : "/url/wechat"
          },
          "website" : {
            "type" : "string",
            "example" : "/url/website"
          },
          "candidate_profile_url" : {
            "type" : "string",
            "example" : "/url/profile"
          },
          "resume_url" : {
            "type" : "string",
            "example" : "/url(pdf,doc,docx)"
          },
          "education" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "education_school" : {
                  "type" : "string",
                  "example" : "School Name"
                },
                "education_major" : {
                  "type" : "string",
                  "example" : "SC"
                },
                "education_gpa" : {
                  "type" : "string",
                  "example" : 5
                },
                "education_startyear" : {
                  "type" : "integer",
                  "example" : 2010
                },
                "education_endyear" : {
                  "type" : "integer",
                  "example" : 2014
                },
                "education_description" : {
                  "type" : "string",
                  "example" : null
                },
                "education_activities" : {
                  "type" : "string",
                  "example" : null
                }
              }
            }
          },
          "position" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "position_company" : {
                  "type" : "string",
                  "example" : "Company Name"
                },
                "position_title" : {
                  "type" : "string",
                  "example" : "Engineer"
                },
                "position_start_date" : {
                  "type" : "string",
                  "format" : "data-time",
                  "example" : "2017-01-01T00:00:00.000Z"
                },
                "position_end_date" : {
                  "type" : "string",
                  "format" : "data-time",
                  "example" : "2019-01-01T00:00:00.000Z"
                },
                "position_iscurrent" : {
                  "type" : "boolean",
                  "example" : true
                }
              }
            }
          }
        }
      },
      "HiringprocessResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "example" : 1
          },
          "hiringprocess_id" : {
            "type" : "string",
            "example" : "hp89ac456de08bdb7.33362876",
            "description" : "hiring process id"
          },
          "hiringprocess_team_id" : {
            "type" : "string",
            "example" : "team90ac678be08bdb7.33334876"
          },
          "hiringprocess_user_id" : {
            "type" : "string",
            "example" : "72d78627-b476-4d09-bab9-4778f756e489"
          },
          "hiringprocess_name" : {
            "type" : "string",
            "example" : "Default Hiring Process"
          },
          "hiringprocess_status" : {
            "type" : "integer",
            "example" : 0
          },
          "hiringprocess_detail" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "categoryId" : {
                  "type" : "integer",
                  "example" : 0
                },
                "categoryName" : {
                  "type" : "string",
                  "example" : "Sourcing"
                },
                "stages" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "stageId" : {
                        "type" : "integer",
                        "example" : 0
                      },
                      "stageName" : {
                        "type" : "string",
                        "example" : "New"
                      },
                      "stageStatus" : {
                        "type" : "string",
                        "example" : "active"
                      },
                      "isEditable" : {
                        "type" : "boolean",
                        "example" : false
                      }
                    }
                  }
                }
              }
            }
          },
          "hiringprocess_create_date" : {
            "type" : "string",
            "example" : "2018-04-01T00:00:00.000Z"
          },
          "hiringprocess_update_date" : {
            "type" : "string",
            "example" : "2018-04-01T00:00:00.000Z"
          }
        }
      },
      "CandidateUploadResumeRequest" : {
        "type" : "object",
        "properties" : {
          "resume" : {
            "type" : "string",
            "format" : "binary"
          }
        }
      },
      "CandidateCreateResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "example" : "5b36a294ea4565fd95.1343453420"
          }
        }
      },
      "LinkProject" : {
        "type" : "object",
        "properties" : {
          "project_id" : {
            "type" : "string",
            "example" : "project_1",
            "description" : "external project id"
          },
          "project_name" : {
            "type" : "string",
            "example" : "Test Project",
            "description" : "external project name"
          },
          "job_description" : {
            "type" : "string",
            "example" : "Job Description",
            "description" : "job description"
          },
          "no_of_openings" : {
            "type" : "integer",
            "example" : 1,
            "description" : "number of openings"
          },
          "employment_type" : {
            "type" : "string",
            "example" : "fulltime",
            "description" : "employment type"
          },
          "industry" : {
            "type" : "string",
            "example" : "industry",
            "description" : "industry"
          },
          "project_status" : {
            "type" : "string",
            "example" : "project status",
            "description" : "project status"
          },
          "salary" : {
            "type" : "string",
            "example" : "salary info",
            "description" : "salary info"
          },
          "bonus" : {
            "type" : "string",
            "example" : "bonus info",
            "description" : "bonus info"
          },
          "start_date" : {
            "type" : "string",
            "example" : "2020-01-01",
            "description" : "start date"
          },
          "required_skills" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : [ "java", "php" ],
              "description" : "required skills"
            }
          },
          "minimum_experience" : {
            "type" : "string",
            "example" : "minimum experience",
            "description" : "minimum experience"
          },
          "degree_requirement" : {
            "type" : "string",
            "example" : "degree requirement",
            "description" : "degree requirement"
          },
          "hiring_manager" : {
            "type" : "string",
            "example" : "hiring manager",
            "description" : "hiring manager info"
          },
          "owner" : {
            "type" : "string",
            "example" : "owner",
            "description" : "owner info"
          },
          "project_created_at" : {
            "type" : "string",
            "example" : "2018-05-05",
            "description" : "projcet created date"
          },
          "project_updates_at" : {
            "type" : "string",
            "example" : "2018-05-05",
            "description" : "project last updated date"
          }
        }
      },
      "LinkProjectResponse" : {
        "type" : "object",
        "properties" : {
          "success" : {
            "type" : "boolean"
          }
        }
      }
    },
    "securitySchemes" : {
      "API KEY" : {
        "type" : "apiKey",
        "in" : "header",
        "name" : "X-API-KEY"
      },
      "CLIENT ID" : {
        "type" : "apiKey",
        "in" : "header",
        "name" : "X-CLIENT-ID"
      }
    }
  },
  "security" : [ {
    "API KEY" : [ ],
    "CLIENT ID" : [ ]
  } ]
}