{
  "openapi" : "3.0.0",
  "info" : {
    "description" : "This is a simple API",
    "version" : "20191114",
    "title" : "Simple Inventory API",
    "contact" : {
      "email" : "you@your-company.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags" : [ {
    "name" : "email",
    "description" : "send email from gatway"
  } ],
  "paths" : {
    "/services/email/messages/messageId/" : {
      "get" : {
        "tags" : [ "email" ],
        "summary" : "get email report",
        "operationId" : "samples",
        "description" : "By passing in the appropriate options, you can search for\navailable inventory in the system\n",
        "parameters" : [ {
          "in" : "query",
          "name" : "api-version",
          "description" : "api version description",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "messageId",
          "description" : "email message id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "minimum" : 0
          }
        }, {
          "in" : "header",
          "name" : "account",
          "description" : "blue cloud email account",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MessageTemplateBody"
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          }
        }
      }
    },
    "/services/email/messages/" : {
      "post" : {
        "tags" : [ "email" ],
        "summary" : "send a template email",
        "operationId" : "sendtemplateemail",
        "description" : "Adds an item to the system",
        "parameters" : [ {
          "in" : "query",
          "name" : "api-version",
          "description" : "api version description",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "account",
          "description" : "blue cloud email account",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "email sent",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MessageSendResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "email sent"
          },
          "400" : {
            "description" : "invalid input, object invalid"
          },
          "409" : {
            "description" : "an existing item already exists"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MessageSendByListRequest"
              }
            }
          },
          "description" : "message body"
        }
      }
    },
    "/services/email/messagesByGroup/" : {
      "post" : {
        "tags" : [ "email" ],
        "summary" : "send a template email",
        "operationId" : "groupemail",
        "description" : "Adds an item to the system",
        "parameters" : [ {
          "in" : "query",
          "name" : "api-version",
          "description" : "api version description",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "account",
          "description" : "blue cloud email account",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "email sent by group",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MessageSendResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "invalid input, object invalid"
          },
          "409" : {
            "description" : "an existing item already exists"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MessageSendByGroupRequest"
              }
            }
          },
          "description" : "message body"
        }
      }
    }
  },
  "servers" : [ {
    "url" : "http://cefvm.chinaeast2.cloudapp.chinacloudapi.cn"
  } ],
  "components" : {
    "schemas" : {
      "MessageSendByGroupRequest" : {
        "type" : "object",
        "required" : [ "emailGroups", "messageBody" ],
        "properties" : {
          "emailGroups" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "groupname"
            }
          },
          "messageBody" : {
            "$ref" : "#/components/schemas/MessageTemplateBody"
          }
        }
      },
      "MessageSendByListRequest" : {
        "type" : "object",
        "required" : [ "emails", "messageBody" ],
        "properties" : {
          "emails" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "jj@qq.com"
            }
          },
          "messageBody" : {
            "$ref" : "#/components/schemas/MessageTemplateBody"
          }
        }
      },
      "MessageTemplateBody" : {
        "type" : "object",
        "required" : [ "templateName", "templateParam" ],
        "properties" : {
          "templateName" : {
            "type" : "string"
          },
          "templateParam" : {
            "type" : "object"
          }
        }
      },
      "MessageRecord" : {
        "type" : "object",
        "required" : [ "messageId", "sendTime", "targets", "delivered", "opened", "clicked" ],
        "properties" : {
          "messageId" : {
            "type" : "string"
          },
          "sendTime" : {
            "type" : "string",
            "format" : "date-time"
          },
          "targets" : {
            "type" : "number"
          },
          "delivered" : {
            "type" : "number"
          },
          "opened" : {
            "type" : "number"
          },
          "click" : {
            "type" : "number"
          }
        }
      },
      "MessageSendResponse" : {
        "type" : "object",
        "required" : [ "messageId", "sendTime" ],
        "properties" : {
          "messageId" : {
            "type" : "string",
            "format" : "uuid",
            "example" : "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "sendTime" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2016-08-29T09:12:33.001Z"
          }
        }
      }
    }
  }
}