{
  "servers" : [ {
    "url" : "https://deponejo.cz/api/v1/shops/{shopId}"
  } ],
  "openapi" : "3.0.0",
  "info" : {
    "description" : "API pro práci s objednávkami v systému Deponejo",
    "version" : "1.0.1",
    "title" : "Rest API pro Deponejo systém",
    "contact" : {
      "email" : "you@your-company.com"
    }
  },
  "tags" : [ {
    "name" : "Objednávky",
    "description" : "Pomocí metod zde popsaných je možné vytvářet nové objednávky, stornovat existující a zjišťovat stav zadaných objednávek"
  } ],
  "paths" : {
    "/orders" : {
      "post" : {
        "tags" : [ "Objednávky" ],
        "summary" : "vytvoření objednávky",
        "description" : "Pomocí této metody je možné vytvářet nové objednávky v systému. Pro specifikaci položek je možné použít itemId (interní ID) nebo itemCustomerId (zákaznické ID).",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OrderCreate"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "objednávka byla úspěšně vytvořena",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Order"
                }
              }
            }
          },
          "404" : {
            "description" : "objednávka nebyla nalezena"
          }
        }
      }
    },
    "/orders/{orderId}" : {
      "get" : {
        "tags" : [ "Objednávky" ],
        "summary" : "získání objednávky včetně položek a jejího stavu",
        "description" : "Pomocí této metody je možno získat objednávku včetně jejího stavu.\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "orderId",
          "description" : "interní číslo objednávky, pro získání dle zákaznického čísla slouží jiná metoda",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "objednávka byla nalezena",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Order"
                }
              }
            }
          },
          "404" : {
            "description" : "objednávka nebyla nalezena"
          }
        }
      },
      "post" : {
        "tags" : [ "Objednávky" ],
        "summary" : "editace existující objednávky pomocí interního ID",
        "description" : "Pomocí této metody je možné editovat existující objednávky, na kterých se ještě nezačalo pracovat. Pro specifikaci položek je možné použít itemId (interní ID) nebo itemCustomerId (zákaznické ID).",
        "parameters" : [ {
          "in" : "path",
          "name" : "orderId",
          "description" : "interní číslo objednávky, pro editaci dle zákaznického čísla slouží jiná metoda",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OrderCreate"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "objednávka byla úspěšně aktualizována",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Order"
                }
              }
            }
          },
          "404" : {
            "description" : "objednávka nebyla nalezena"
          }
        }
      }
    },
    "/orders/{orderId}/cancel" : {
      "post" : {
        "tags" : [ "Objednávky" ],
        "summary" : "storno objednávky, na které se nezačalo ještě pracovat",
        "description" : "Pomocí této metody je možné objednávku stornovat.",
        "parameters" : [ {
          "in" : "path",
          "name" : "orderId",
          "description" : "interní číslo objednávky, pro storno dle zákaznického čísla slouží jiná metoda",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "objednávka byla stornována",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Order"
                }
              }
            }
          },
          "404" : {
            "description" : "objednávka nebyla nalezena"
          }
        }
      }
    },
    "/orders/byCustomerId/{customerId}" : {
      "get" : {
        "tags" : [ "Objednávky" ],
        "summary" : "získání objednávky včetně položek a jejího stavu",
        "description" : "Pomocí této metody je možno získat objednávku včetně jejího stavu dle zadaného zákaznického ID.\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "customerId",
          "description" : "zákaznické číslo objednávky",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "objednávka byla nalezena",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "objednávka nebyla nalezena"
          }
        }
      },
      "post" : {
        "tags" : [ "Objednávky" ],
        "summary" : "editace existující objednávky pomocí zákaznického ID",
        "description" : "Pomocí této metody je možné editovat existující objednávky, na kterých se ještě nezačalo pracovat. Pro specifikaci položek je možné použít itemId (interní ID) nebo itemCustomerId (zákaznické ID).",
        "parameters" : [ {
          "in" : "path",
          "name" : "customerId",
          "description" : "zákaznické číslo objednávky",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OrderCreate"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "objednávka byla úspěšně aktualizována",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Order"
                }
              }
            }
          },
          "404" : {
            "description" : "objednávka nebyla nalezena"
          }
        }
      }
    },
    "/orders/byCustomerId/{customerId}/cancel" : {
      "post" : {
        "tags" : [ "Objednávky" ],
        "summary" : "storno objednávky, na které se nezačalo ještě pracovat",
        "description" : "Pomocí této metody je možné objednávku stornovat za použití zákaznického čísla objednávky.",
        "parameters" : [ {
          "in" : "path",
          "name" : "customerId",
          "description" : "zákaznické číslo objednávky",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "objednávka byla stornována",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Order"
                }
              }
            }
          },
          "404" : {
            "description" : "objednávka nebyla nalezena"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Order" : {
        "type" : "object",
        "required" : [ "id", "name", "manufacturer", "releaseDate" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "uuid",
            "example" : 59873
          },
          "customerId" : {
            "type" : "string",
            "example" : "ZákaznickéČíslo"
          },
          "shopId" : {
            "type" : "integer",
            "format" : "string",
            "example" : "15"
          },
          "address" : {
            "$ref" : "#/components/schemas/Address"
          },
          "status" : {
            "type" : "number",
            "example" : 2
          },
          "orderItems" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OrderItem"
            }
          },
          "created" : {
            "type" : "string",
            "format" : "datetime",
            "example" : "2019-09-17T18:15:33.4644207"
          },
          "lastModified" : {
            "type" : "string",
            "format" : "datetime",
            "example" : "2019-09-17T19:15:35"
          },
          "workStarted" : {
            "type" : "string",
            "format" : "datetime",
            "example" : "2019-09-17T19:00:00"
          },
          "finished" : {
            "type" : "string",
            "format" : "datetime",
            "example" : "2019-09-17T19:15:35"
          },
          "cancelled" : {
            "type" : "string",
            "format" : "datetime",
            "example" : "0001-01-01T00:00:00"
          },
          "note" : {
            "type" : "string",
            "example" : "Poznámka k objednávce obsahující dodatečné informace"
          },
          "eTag" : {
            "type" : "string",
            "example" : "AAAAAAAAJyg="
          }
        }
      },
      "Address" : {
        "type" : "object",
        "required" : [ "name", "surname", "street", "city", "country", "postalcode" ],
        "properties" : {
          "name" : {
            "type" : "string",
            "example" : "Pavel"
          },
          "surname" : {
            "type" : "string",
            "example" : "Novák"
          },
          "email" : {
            "type" : "string",
            "example" : "pavel.novak@vzorovyemail.test"
          },
          "phone" : {
            "type" : "string",
            "example" : "+420 123 456 789"
          },
          "company" : {
            "type" : "string",
            "example" : "Firma s.r.o."
          },
          "ic" : {
            "type" : "string",
            "example" : 123456789
          },
          "dic" : {
            "type" : "string",
            "example" : "CZ123456789"
          },
          "street" : {
            "type" : "string",
            "example" : "Václavské náměstí 123"
          },
          "city" : {
            "type" : "string",
            "example" : "Praha"
          },
          "country" : {
            "type" : "string",
            "example" : "Česká Republika"
          },
          "postalCode" : {
            "type" : "string",
            "example" : "100 00"
          }
        }
      },
      "OrderItem" : {
        "type" : "object",
        "required" : [ "id", "name", "manufacturer", "releaseDate" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "example" : 1
          },
          "itemId" : {
            "type" : "integer",
            "example" : 568
          },
          "itemCustomerId" : {
            "type" : "string",
            "example" : "Zákaznické číslo položky"
          },
          "units" : {
            "type" : "integer",
            "example" : 10
          },
          "serialNumbers" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SerialNumber"
            }
          }
        }
      },
      "SerialNumber" : {
        "type" : "object",
        "required" : [ "value" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "example" : 1
          },
          "value" : {
            "type" : "string",
            "example" : "SN123456"
          }
        }
      },
      "OrderCreate" : {
        "type" : "object",
        "properties" : {
          "customerId" : {
            "type" : "string",
            "example" : "ZákaznickéČíslo"
          },
          "address" : {
            "$ref" : "#/components/schemas/AddressCreate"
          },
          "orderItems" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OrderItemCreate"
            }
          },
          "note" : {
            "type" : "string",
            "example" : "Poznámka k objednávce obsahující dodatečné informace"
          }
        }
      },
      "AddressCreate" : {
        "type" : "object",
        "required" : [ "name", "surname", "street", "city", "country", "postalcode" ],
        "properties" : {
          "name" : {
            "type" : "string",
            "example" : "Pavel"
          },
          "surname" : {
            "type" : "string",
            "example" : "Novák"
          },
          "email" : {
            "type" : "string",
            "example" : "pavel.novak@vzorovyemail.test"
          },
          "phone" : {
            "type" : "string",
            "example" : "+420 123 456 789"
          },
          "company" : {
            "type" : "string",
            "example" : "Firma s.r.o."
          },
          "ic" : {
            "type" : "string",
            "example" : 123456789
          },
          "dic" : {
            "type" : "string",
            "example" : "CZ123456789"
          },
          "street" : {
            "type" : "string",
            "example" : "Václavské náměstí 123"
          },
          "city" : {
            "type" : "string",
            "example" : "Praha"
          },
          "country" : {
            "type" : "string",
            "example" : "Česká Republika"
          },
          "postalCode" : {
            "type" : "string",
            "example" : "100 00"
          }
        }
      },
      "OrderItemCreate" : {
        "type" : "object",
        "required" : [ "units" ],
        "properties" : {
          "itemId" : {
            "type" : "integer",
            "example" : 568
          },
          "itemCustomerId" : {
            "type" : "string",
            "example" : "Zákaznické číslo položky"
          },
          "units" : {
            "type" : "integer",
            "example" : 10
          }
        }
      }
    }
  }
}