{
  "openapi" : "3.0.0",
  "servers" : [ {
    "url" : "https://hbl.kinexon.com/statistics-center/interfaces-api/"
  }, {
    "url" : "https://hbl.kinexon.com/statistics-center/outputs-rest/"
  } ],
  "info" : {
    "title" : "Statistics-Center API",
    "description" : "<br> 1. Login to receive a JWT <br> 2. Add JWT to request header (Authorization: Bearer <JWT>) for all following requests.",
    "version" : "0.1"
  },
  "paths" : {
    "/auth/login" : {
      "post" : {
        "servers" : [ {
          "url" : "https://hbl.kinexon.com/statistics-center/interfaces-api/"
        } ],
        "tags" : [ "Login" ],
        "summary" : "Login first to receive a Json Web Token (JWT).",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Login"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Login response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/LoginSuccess"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Login failure"
          }
        }
      }
    },
    "/games" : {
      "get" : {
        "servers" : [ {
          "url" : "https://hbl.kinexon.com/statistics-center/outputs-rest/"
        } ],
        "tags" : [ "Games" ],
        "summary" : "Get a list of available games. JWT has to be supplied in the request header (Authorization: Bearer <JWT>)",
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Games response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Games"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          }
        }
      }
    },
    "/stats/{matchId}" : {
      "get" : {
        "servers" : [ {
          "url" : "https://hbl.kinexon.com/statistics-center/outputs-rest/"
        } ],
        "tags" : [ "Stats" ],
        "summary" : "Retrieve stats for a specific match ID. JWT has to be supplied in the request header (Authorization: Bearer <JWT>)",
        "parameters" : [ {
          "name" : "matchId",
          "in" : "path",
          "description" : "Match ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Statistics",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Statistics"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Login" : {
        "type" : "object",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Login"
        }, {
          "properties" : {
            "name" : {
              "type" : "string",
              "example" : "max@mustermann.de"
            },
            "password" : {
              "type" : "string",
              "example" : "mypassword123"
            }
          },
          "type" : "object"
        } ]
      },
      "LoginSuccess" : {
        "type" : "object",
        "allOf" : [ {
          "$ref" : "#/components/schemas/LoginSuccess"
        }, {
          "properties" : {
            "message" : {
              "type" : "string",
              "example" : "test"
            },
            "jwt" : {
              "type" : "string",
              "example" : "eyJhbGciOaJIUzI1NiIsInR5cCI6IkpXVCJ...."
            }
          },
          "type" : "object"
        } ]
      },
      "Statistics" : {
        "type" : "object",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Statistics",
          "type" : "array"
        } ]
      },
      "Games" : {
        "type" : "object",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Games"
        }, {
          "properties" : {
            "match_id" : {
              "type" : "string",
              "example" : 1234813
            },
            "date" : {
              "type" : "string",
              "example" : "26-08-19"
            },
            "home_team" : {
              "type" : "string",
              "example" : "Team A"
            },
            "away_team" : {
              "type" : "string",
              "example" : "Team B"
            }
          },
          "type" : "array"
        } ]
      }
    },
    "securitySchemes" : {
      "bearerAuth" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    }
  }
}