{
  "openapi" : "3.0.0",
  "servers" : [ {
    "description" : "AVON Andromeda API for distrubutors",
    "url" : "https://avon.az/api/v1/"
  } ],
  "info" : {
    "title" : "Avon Andromeda API for distr",
    "description" : "Getting new orders, update stocks",
    "version" : "1.0.1",
    "contact" : {
      "name" : "Kodix LLC",
      "url" : "http://agency.kodix.ru/",
      "email" : "hello@kodix.ru"
    }
  },
  "paths" : {
    "/orders/new" : {
      "get" : {
        "tags" : [ "Orders" ],
        "summary" : "Get a list of all new unprocessed orders",
        "description" : "Returns IDs of all orders which have 'processed' flag set as false",
        "responses" : {
          "200" : {
            "description" : "ОК",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}" : {
      "get" : {
        "tags" : [ "Orders" ],
        "summary" : "Get order details by its ID",
        "description" : "Returns all Order data",
        "responses" : {
          "200" : {
            "description" : "ОК",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Order"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "name" : "orderId",
          "in" : "path",
          "description" : "Andromeda Order ID",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ]
      },
      "put" : {
        "tags" : [ "Orders" ],
        "summary" : "Upodate order status",
        "description" : "Sets status of the order to in process / completed / canceled",
        "parameters" : [ {
          "name" : "orderId",
          "in" : "path",
          "description" : "Andromeda Order ID",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "status" : {
                    "type" : "string",
                    "enum" : [ "IN_PROCESS", "FINISHED", "CANCELED" ]
                  },
                  "processed" : {
                    "type" : "boolean"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Объект заказа",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Order"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Get User details by ID",
        "description" : "Returns complete User data by ID",
        "responses" : {
          "200" : {
            "description" : "ОК",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "Andromeda User ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ]
      }
    },
    "/stock" : {
      "put" : {
        "tags" : [ "Stocks" ],
        "summary" : "Update items stocks",
        "description" : "Updates items available quantity by given SKUs",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "success" : {
                      "type" : "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fsc" : {
                      "type" : "integer",
                      "description" : "SKU id"
                    },
                    "amount" : {
                      "type" : "integer",
                      "description" : "Quantity"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "securitySchemes" : {
      "basicAuth" : {
        "type" : "http",
        "scheme" : "basic"
      }
    },
    "schemas" : {
      "Order" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Andromeda Order ID (Used in this API)"
          },
          "number" : {
            "type" : "integer",
            "description" : "External Order ID (Shown in User Account)"
          },
          "created_at" : {
            "type" : "string",
            "description" : "Order date"
          },
          "updated_at" : {
            "type" : "string",
            "description" : "Order last update date"
          },
          "user_id" : {
            "description" : "AVON User ID",
            "type" : "string"
          },
          "receiver" : {
            "type" : "object",
            "properties" : {
              "first_name" : {
                "type" : "string",
                "description" : "Name"
              },
              "second_name" : {
                "type" : "string",
                "description" : "Middle Name"
              },
              "last_name" : {
                "type" : "string",
                "description" : "Last Name"
              },
              "email" : {
                "type" : "string",
                "description" : "Email"
              },
              "phone" : {
                "type" : "string",
                "description" : "Phone number"
              }
            }
          },
          "items" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OrderItem"
            }
          },
          "items_base_price_total" : {
            "type" : "number",
            "description" : "Order base price (before discounts)"
          },
          "items_final_price_total" : {
            "type" : "number",
            "description" : "Order final price (after all discounts applied)"
          },
          "rep_discount" : {
            "type" : "number",
            "description" : "Repesentative discount value"
          },
          "additional_rep_discount" : {
            "type" : "number",
            "description" : "Representative A-discount value"
          },
          "cart_promo_discount" : {
            "type" : "number",
            "description" : "Order discount (например по промокоду)"
          },
          "cart_total" : {
            "type" : "number",
            "description" : "Cart total (after all discounts)"
          },
          "delivery" : {
            "type" : "object",
            "properties" : {
              "type" : {
                "type" : "string",
                "enum" : [ "SERVICE", "PICKUP_POINT" ]
              },
              "address" : {
                "description" : "Delivery address (customer's or pick-up point address)",
                "type" : "string"
              },
              "cost" : {
                "description" : "Price of delivery",
                "type" : "number"
              }
            }
          },
          "order_total" : {
            "type" : "number",
            "description" : "Complete order value (order total)"
          },
          "status" : {
            "type" : "string",
            "description" : "Order status",
            "enum" : [ "CONFIRMED", "IN_PROCESS", "FINISHED", "CANCELED" ]
          },
          "processed" : {
            "type" : "boolean",
            "description" : "Flag to be set by distibutor. If False, order will be returned in the list on unprocessed orders"
          }
        }
      },
      "OrderItem" : {
        "type" : "object",
        "properties" : {
          "fsc" : {
            "type" : "integer",
            "description" : "Avon SKU ID"
          },
          "amount" : {
            "type" : "integer",
            "description" : "Quantity"
          },
          "base_price_per_item" : {
            "type" : "number",
            "description" : "SKU Base price"
          },
          "retail_price_per_item" : {
            "type" : "number",
            "description" : "SKU Retail price"
          },
          "promo_price_per_item" : {
            "type" : "number",
            "description" : "SKU Promo price"
          },
          "total_item_cost" : {
            "type" : "number"
          }
        }
      },
      "User" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "User ID"
          },
          "first_name" : {
            "type" : "string",
            "description" : "Name"
          },
          "second_name" : {
            "type" : "string",
            "description" : "Middle Name (patronymic)"
          },
          "last_name" : {
            "type" : "string",
            "description" : "Last name"
          },
          "email" : {
            "type" : "string",
            "description" : "Email"
          },
          "gender" : {
            "type" : "string",
            "description" : "gender",
            "enum" : [ "male", "female", null ]
          }
        }
      }
    }
  },
  "security" : [ {
    "basicAuth" : [ ]
  } ]
}