{
  "openapi" : "3.0.0",
  "info" : {
    "version" : "1",
    "title" : "Volkswagen offers storage REST API",
    "description" : ""
  },
  "servers" : [ {
    "description" : "staging",
    "url" : "https://vw.kodix.ru/api"
  } ],
  "components" : {
    "schemas" : {
      "OptionalEquipment" : {
        "type" : "object",
        "properties" : {
          "external_id" : {
            "type" : "string"
          },
          "code" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          },
          "cost_equipment" : {
            "type" : "number"
          },
          "cost_hour" : {
            "type" : "number"
          },
          "hours" : {
            "type" : "number"
          },
          "total_work" : {
            "type" : "number"
          },
          "total_cost" : {
            "type" : "number"
          },
          "image" : {
            "type" : "string"
          }
        }
      },
      "HookOffer" : {
        "type" : "object",
        "properties" : {
          "vin" : {
            "type" : "string"
          },
          "brand_code" : {
            "type" : "string"
          },
          "kit_code" : {
            "type" : "string"
          },
          "dealer_code" : {
            "type" : "string"
          },
          "exterior_color_code" : {
            "type" : "string"
          },
          "interior_color_code" : {
            "type" : "string"
          },
          "option_codes" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "order_year" : {
            "type" : "integer"
          },
          "model_year" : {
            "type" : "integer"
          },
          "description" : {
            "type" : "string"
          },
          "locked" : {
            "type" : "boolean"
          },
          "price" : {
            "type" : "number"
          },
          "final_price" : {
            "type" : "number"
          },
          "online_payment" : {
            "type" : "boolean"
          },
          "status" : {
            "type" : "integer"
          },
          "commercial_number" : {
            "type" : "string"
          },
          "optional_equipment" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OptionalEquipment"
            }
          }
        }
      },
      "Brand" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "code" : {
            "type" : "string"
          }
        }
      },
      "Model" : {
        "type" : "object",
        "properties" : {
          "brand_code" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "code" : {
            "type" : "string"
          },
          "configurator_code" : {
            "type" : "string"
          },
          "default_image" : {
            "type" : "string"
          },
          "parent" : {
            "type" : "string"
          },
          "brand" : {
            "$ref" : "#/components/schemas/Brand"
          }
        }
      },
      "Generation" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "model_code" : {
            "type" : "string"
          },
          "brand_code" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "year_from" : {
            "type" : "integer"
          },
          "year_to" : {
            "type" : "integer"
          },
          "model" : {
            "$ref" : "#/components/schemas/Model"
          }
        }
      },
      "KitPrice" : {
        "type" : "object",
        "properties" : {
          "car_kit_code" : {
            "type" : "string"
          },
          "base" : {
            "type" : "number"
          },
          "package_discount" : {
            "type" : "number"
          },
          "client_discount" : {
            "type" : "number"
          },
          "trade_in_dwa_discount" : {
            "type" : "number"
          },
          "trade_in_no_dwa_discount" : {
            "type" : "number"
          },
          "final" : {
            "type" : "number"
          }
        }
      },
      "Kit" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "code" : {
            "type" : "string"
          },
          "model_code" : {
            "type" : "string"
          },
          "brand_code" : {
            "type" : "string"
          },
          "generation_code" : {
            "type" : "string"
          },
          "kit_name" : {
            "type" : "string"
          },
          "drive" : {
            "type" : "string"
          },
          "drive_name" : {
            "type" : "string"
          },
          "body" : {
            "type" : "string"
          },
          "year" : {
            "type" : "integer"
          },
          "fuel" : {
            "type" : "string"
          },
          "engine_volume" : {
            "type" : "number"
          },
          "engine_power" : {
            "type" : "integer"
          },
          "engine_torque" : {
            "type" : "integer"
          },
          "engine_name" : {
            "type" : "string"
          },
          "transmission_type" : {
            "type" : "string"
          },
          "transmission_name" : {
            "type" : "string"
          },
          "transmission_step" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          },
          "acceleration" : {
            "type" : "number"
          },
          "max_speed" : {
            "type" : "integer"
          },
          "fuel_consumption" : {
            "type" : "number"
          },
          "emission_co2" : {
            "type" : "integer"
          },
          "turning_circle" : {
            "type" : "number"
          },
          "clearance" : {
            "type" : "integer"
          },
          "tank_volume" : {
            "type" : "integer"
          },
          "cargo_volume" : {
            "type" : "integer"
          },
          "max_cargo_volume" : {
            "type" : "integer"
          },
          "length" : {
            "type" : "integer"
          },
          "width" : {
            "type" : "integer"
          },
          "height" : {
            "type" : "integer"
          },
          "curb_weight" : {
            "type" : "integer"
          },
          "gross_weight" : {
            "type" : "integer"
          },
          "payload" : {
            "type" : "integer"
          },
          "base_price" : {
            "type" : "integer"
          },
          "configurator_code" : {
            "type" : "string"
          },
          "cloud_kit_code" : {
            "type" : "string"
          },
          "vehicle_base" : {
            "type" : "string"
          },
          "for_business" : {
            "type" : "boolean"
          },
          "for_family" : {
            "type" : "boolean"
          },
          "seat_cnt" : {
            "type" : "integer"
          },
          "door_cnt" : {
            "type" : "integer"
          },
          "roof_height" : {
            "type" : "string"
          },
          "generation" : {
            "$ref" : "#/components/schemas/Generation"
          },
          "prices" : {
            "$ref" : "#/components/schemas/KitPrice"
          }
        }
      },
      "BaseColor" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "code" : {
            "type" : "string"
          },
          "hex" : {
            "type" : "string"
          }
        }
      },
      "Color" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "code" : {
            "type" : "string"
          },
          "hex" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "base_color_code" : {
            "type" : "string"
          },
          "base_color" : {
            "$ref" : "#/components/schemas/BaseColor"
          }
        }
      },
      "Option" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "code" : {
            "type" : "string"
          },
          "full_code" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          },
          "model_code" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          }
        }
      },
      "StandardOption" : {
        "type" : "object",
        "properties" : {
          "option_code" : {
            "type" : "string"
          },
          "car_kit_code" : {
            "type" : "string"
          },
          "model_year" : {
            "type" : "string"
          },
          "option" : {
            "$ref" : "#/components/schemas/Option"
          }
        }
      },
      "FullOffer" : {
        "type" : "object",
        "properties" : {
          "vin" : {
            "type" : "string"
          },
          "kit_code" : {
            "type" : "string"
          },
          "dealer_code" : {
            "type" : "string"
          },
          "exterior_color_code" : {
            "type" : "string"
          },
          "interior_color_code" : {
            "type" : "string"
          },
          "option_codes" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "order_year" : {
            "type" : "integer"
          },
          "model_year" : {
            "type" : "integer"
          },
          "description" : {
            "type" : "integer"
          },
          "locked" : {
            "type" : "boolean"
          },
          "price" : {
            "type" : "number"
          },
          "final_price" : {
            "type" : "number"
          },
          "online_payment" : {
            "type" : "boolean"
          },
          "status" : {
            "type" : "integer"
          },
          "commercial_number" : {
            "type" : "string"
          },
          "optional_equipment" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OptionalEquipment"
            }
          },
          "kit" : {
            "$ref" : "#/components/schemas/Kit"
          },
          "exterior_color" : {
            "$ref" : "#/components/schemas/Color"
          },
          "interior_color" : {
            "$ref" : "#/components/schemas/Color"
          },
          "standard_options" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StandardOption"
            }
          },
          "options" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Option"
            }
          },
          "dealer" : {
            "$ref" : "#/components/schemas/DealerCenter"
          },
          "images" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "DealerCity" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "lat" : {
            "type" : "number"
          },
          "lng" : {
            "type" : "number"
          }
        }
      },
      "DealerAbility" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          }
        }
      },
      "DealerWorkHour" : {
        "type" : "object",
        "properties" : {
          "day_of_week" : {
            "type" : "integer"
          },
          "open_time" : {
            "type" : "string"
          },
          "close_time" : {
            "type" : "string"
          }
        }
      },
      "DealerCenter" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "address" : {
            "type" : "string"
          },
          "legal_address" : {
            "type" : "string"
          },
          "inn" : {
            "type" : "string"
          },
          "ogrn" : {
            "type" : "string"
          },
          "zip" : {
            "type" : "string"
          },
          "phone" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          },
          "phones" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "url" : {
            "type" : "string"
          },
          "emails" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "external_id" : {
            "type" : "string"
          },
          "lat" : {
            "type" : "number"
          },
          "lng" : {
            "type" : "number"
          },
          "city_id" : {
            "type" : "string"
          },
          "status_id" : {
            "type" : "string"
          },
          "online_payment" : {
            "type" : "boolean"
          },
          "reservation_interval" : {
            "type" : "integer"
          },
          "reservation_interval_prepayed" : {
            "type" : "integer"
          },
          "reservation_interval_pickup" : {
            "type" : "integer"
          },
          "min_payment" : {
            "type" : "integer"
          },
          "kpp" : {
            "type" : "string"
          },
          "organization_name" : {
            "type" : "string"
          },
          "max_payment" : {
            "type" : "integer"
          },
          "max_payment_sum" : {
            "type" : "integer"
          },
          "max_price_rate" : {
            "type" : "integer"
          },
          "correspondent_account" : {
            "type" : "string"
          },
          "checking_account" : {
            "type" : "string"
          },
          "bik" : {
            "type" : "string"
          },
          "bank_name" : {
            "type" : "string"
          },
          "privacy_policy_url" : {
            "type" : "string"
          },
          "brand" : {
            "type" : "string"
          },
          "payment_provider" : {
            "type" : "string"
          },
          "abilities" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DealerAbility"
            }
          },
          "dwa" : {
            "type" : "boolean"
          },
          "work_hours" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DealerWorkHour"
            }
          },
          "city" : {
            "$ref" : "#/components/schemas/DealerCity"
          }
        }
      },
      "StockData" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/FullOffer"
        }
      }
    }
  },
  "paths" : {
    "/avn_data/v1/offers/dealer/{dealer_code}" : {
      "get" : {
        "tags" : [ "offers_stock" ],
        "summary" : "Returns full stock data by dealer",
        "description" : "Returns full stock data by dealer",
        "parameters" : [ {
          "name" : "dealer_code",
          "in" : "path",
          "description" : "Dealer code",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "offer status",
          "required" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "model_year",
          "in" : "query",
          "description" : "Model Year",
          "required" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StockData"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/avn_data/v1/offers/brand/{brand_code}" : {
      "get" : {
        "tags" : [ "offers_stock" ],
        "summary" : "Returns full stock data by dealer",
        "description" : "Returns full stock data by dealer",
        "parameters" : [ {
          "name" : "brand_code",
          "in" : "path",
          "description" : "Brand code",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "offer status",
          "required" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "model_year",
          "in" : "query",
          "description" : "Model Year",
          "required" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StockData"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    }
  }
}