{
  "openapi" : "3.0.0",
  "info" : {
    "version" : "1.0",
    "title" : "Disturbance Detector - KPN",
    "description" : "The Disturbance Detector API allows you to get an overview of all disturbances in the KPN network in the Netherlands.\n### Key highlights\n- **Sandbox:** full-fledged capabilities.\n- **Security:**  HTTPS, Oauth, Rate limit\n- **Versioning:**  supports version-less API, version tight. If no version is provided (in header) it defaults to latest version. \n## [Source view](https://app.swaggerhub.com/apis/kpn/disturbance-detector-kpn/)<br/> [Documentation view](https://app.swaggerhub.com/apis-docs/kpn/disturbance-detector-kpn/)\n---\n## [KPN API Store](https://developer.kpn.com/)<br/> [Getting Started](https://developer.kpn.com/getting-started)\n---",
    "contact" : {
      "name" : "API Support",
      "email" : "api_developer@kpn.com",
      "url" : "https://developer.kpn.com/support"
    },
    "termsOfService" : "https://developer.kpn.com/legal"
  },
  "servers" : [ {
    "url" : "https://api-prd.kpn.com/network/kpn/disturbance-detector"
  } ],
  "tags" : [ {
    "name" : "default",
    "description" : ""
  } ],
  "paths" : {
    "/failures" : {
      "get" : {
        "tags" : [ "default" ],
        "summary" : "get info",
        "description" : "Retrieves the information about internet connection and technology for the given address identified by postcode, house number and house extension",
        "security" : [ {
          "oauth2" : [ ]
        } ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/api_version"
        }, {
          "$ref" : "#/components/parameters/api_version_query"
        }, {
          "$ref" : "#/components/parameters/state_query"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/success"
          },
          "400" : {
            "$ref" : "#/components/responses/bad_request"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/not_found"
          },
          "429" : {
            "$ref" : "#/components/responses/too_many"
          },
          "500" : {
            "$ref" : "#/components/responses/server_error"
          },
          "503" : {
            "$ref" : "#/components/responses/service_unavailable"
          }
        }
      }
    }
  },
  "components" : {
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "clientCredentials" : {
            "tokenUrl" : "https://api-prd.kpn.com/oauth/client_credential/accesstoken?grant_type=client_credentials"
          }
        }
      }
    },
    "parameters" : {
      "api_version" : {
        "in" : "header",
        "name" : "api-version",
        "schema" : {
          "type" : "string"
        },
        "description" : "API Version. If no version is provided it defaults to latest version.",
        "required" : false
      },
      "api_version_query" : {
        "in" : "query",
        "name" : "api-version",
        "schema" : {
          "type" : "string"
        },
        "description" : "API Version. If no version is provided it defaults to latest version.",
        "required" : false
      },
      "state_query" : {
        "in" : "query",
        "name" : "state",
        "schema" : {
          "type" : "string"
        },
        "description" : "State options are  new, planned, open, closed.",
        "required" : false
      }
    },
    "schemas" : {
      "generic" : {
        "type" : "array",
        "items" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "integer",
              "description" : "Identifier"
            },
            "affected_elements_count" : {
              "type" : "integer",
              "description" : "affected elements count"
            },
            "affected_customers_count" : {
              "type" : "integer",
              "description" : "affected customers count"
            },
            "communicated_customers_sms_count" : {
              "type" : "integer",
              "description" : "communicated customers sms count"
            },
            "communicated_customers_email_count" : {
              "type" : "integer",
              "description" : "communicated customers email count"
            },
            "type" : {
              "type" : "string",
              "description" : "type"
            },
            "cause" : {
              "type" : "string",
              "description" : "cause"
            },
            "source" : {
              "type" : "string",
              "description" : "affected customers count"
            },
            "service" : {
              "type" : "string",
              "description" : "service"
            },
            "state" : {
              "type" : "string",
              "description" : "affected customers count"
            },
            "start_date" : {
              "type" : "string",
              "description" : "start date"
            },
            "end_date" : {
              "type" : "string",
              "description" : "end date"
            },
            "region" : {
              "type" : "string",
              "description" : "region"
            },
            "description" : {
              "type" : "string",
              "description" : "description"
            },
            "long_description" : {
              "type" : "string",
              "description" : "long description"
            },
            "serviceguard_ticket_id" : {
              "type" : "string",
              "description" : "serviceguard ticket id"
            },
            "created_at" : {
              "type" : "string",
              "description" : "created at"
            },
            "communication_type" : {
              "type" : "string",
              "description" : "communication type"
            },
            "user" : {
              "type" : "string",
              "description" : "user"
            }
          }
        }
      },
      "error" : {
        "type" : "object",
        "properties" : {
          "transactionId" : {
            "type" : "string",
            "description" : "Transaction id of the the request",
            "title" : "Transaction ID"
          },
          "status" : {
            "type" : "string",
            "description" : "Status",
            "title" : "Status"
          },
          "name" : {
            "type" : "string",
            "description" : "Error name",
            "title" : "Error name"
          },
          "message" : {
            "type" : "string",
            "description" : "Error message",
            "title" : "Error message"
          },
          "info" : {
            "type" : "string",
            "description" : "Additional information about error",
            "title" : "Info"
          }
        }
      }
    },
    "responses" : {
      "success" : {
        "description" : "OK",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/generic"
            }
          }
        }
      },
      "bad_request" : {
        "description" : "bad request",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/error"
            }
          }
        }
      },
      "unauthorized" : {
        "description" : "unauthorized",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/error"
            }
          }
        }
      },
      "forbidden" : {
        "description" : "forbidden",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/error"
            }
          }
        }
      },
      "not_found" : {
        "description" : "not found",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/error"
            }
          }
        }
      },
      "too_many" : {
        "description" : "too many requests",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/error"
            }
          }
        }
      },
      "server_error" : {
        "description" : "server error",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/error"
            }
          }
        }
      },
      "service_unavailable" : {
        "description" : "service unavailable",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/error"
            }
          }
        }
      }
    }
  }
}