{
  "openapi" : "3.0.0",
  "info" : {
    "description" : "Report to retrieve or add/update the clients tag list",
    "version" : "1.0.0",
    "title" : "TagList",
    "contact" : {
      "email" : "support@LiquidityBook.com"
    }
  },
  "tags" : [ {
    "name" : "TagLists"
  } ],
  "paths" : {
    "/apireport" : {
      "get" : {
        "summary" : "Get tag list",
        "description" : "By passing in a report name, you will be passed appropriate data",
        "parameters" : [ {
          "in" : "query",
          "name" : "svc",
          "description" : "Needs to be populated with getReport",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "getReport" ]
          }
        }, {
          "in" : "query",
          "name" : "reportName",
          "description" : "Report name that has been provided by LiquidityBook",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "API_TagLists_Retrieve" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Report response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReportItem"
                }
              }
            }
          }
        }
      },
      "post" : {
        "summary" : "Add/Update client tag list",
        "description" : "Add/Update clients tag list",
        "parameters" : [ {
          "in" : "query",
          "name" : "svc",
          "description" : "Needs to be populated with getReport",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "getReport" ]
          }
        }, {
          "in" : "query",
          "name" : "reportName",
          "description" : "Report name that has been provided by LiquidityBook",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "API_CQM_Update" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Report response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateData"
                }
              }
            }
          }
        }
      }
    }
  },
  "servers" : [ {
    "description" : "LiquidityBook API Address",
    "url" : "https://blotter.liquiditybook.com/"
  } ],
  "components" : {
    "schemas" : {
      "ReportItem" : {
        "type" : "object",
        "required" : [ "node", "rc", "report" ],
        "properties" : {
          "node" : {
            "type" : "integer",
            "example" : 3
          },
          "rc" : {
            "type" : "integer",
            "example" : "0",
            "description" : "0 for success, any other code indicates an error"
          },
          "report" : {
            "$ref" : "#/components/schemas/Values"
          }
        }
      },
      "Values" : {
        "properties" : {
          "List" : {
            "type" : "string",
            "example" : "API_test",
            "description" : "List tag is part of"
          },
          "Tag" : {
            "type" : "string",
            "example" : "_CONFIG",
            "description" : "Tag name"
          },
          "Value" : {
            "type" : "string",
            "example" : "loader=loadSecurityMaster",
            "description" : "Tag value"
          }
        },
        "required" : [ "List", "Tag", "Value" ]
      },
      "UpdateData" : {
        "type" : "object",
        "required" : [ "node", "rc", "report" ],
        "properties" : {
          "node" : {
            "type" : "integer",
            "example" : 3
          },
          "rc" : {
            "type" : "integer",
            "example" : "0",
            "description" : "0 for success, any other code indicates an error"
          },
          "report" : {
            "$ref" : "#/components/schemas/UpdateValues"
          }
        }
      },
      "UpdateValues" : {
        "properties" : {
          "ticker" : {
            "type" : "string",
            "example" : "AAPL",
            "description" : "Value you would like to update/add"
          },
          "TagList" : {
            "type" : "string",
            "example" : "RESTRICTED",
            "description" : "Key is name of the list and value is tag name that will be added/updated"
          }
        },
        "required" : [ "ticker" ]
      }
    },
    "securitySchemes" : {
      "basicAuth" : {
        "type" : "http",
        "scheme" : "basic"
      }
    }
  },
  "security" : [ {
    "basicAuth" : [ "fedordemo:TestApi12" ]
  } ]
}