{
  "openapi" : "3.0.0",
  "servers" : [ {
    "description" : "Development server API",
    "url" : "https://nifidevbackend.massiveww.cloud"
  }, {
    "description" : "Production server API",
    "url" : "https://nifidevbackend.massiveww.com"
  } ],
  "security" : [ {
    "bearerAuth" : [ ]
  } ],
  "info" : {
    "version" : "0.0.27",
    "title" : "Massive Core API v2",
    "description" : "Massive Core API v2 is the API to manage Massive categories data.",
    "contact" : {
      "email" : "paolo.coletta@massivedh.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags" : [ {
    "name" : "Categories",
    "description" : "Subset of the API dealing with categories, i.e., the top-level partitioning of the data. Examples of categories are Televisions, Computers, Mobile Phones, New-Jersey Sports & Entertainment Venues, Cigars, Helmets, Face Cleansers, etc."
  }, {
    "name" : "Brands",
    "description" : "Subset of the API dealing with Brands"
  }, {
    "name" : "Product Categories",
    "description" : "Subset of the API dealing with Product Categories, i.e., the second-level partitioning of data inside a category. Example of possible Product Categories inside the Televisions category are Led TVs, OLED TVs, LCD TVs, Plasma TVs, etc."
  }, {
    "name" : "Features",
    "description" : "Subset of the API dealing with Features (a.k.a. topics)"
  }, {
    "name" : "Commons",
    "description" : "Subset of the API dealing with the common elements for each category. Example are Websites, Items, Items Aggregators Items Tags, Reviews etc."
  } ],
  "paths" : {
    "/core/v2/categories/{categoryId}/commons/items" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "List all available items for this category",
        "operationId" : "listCategoryItems",
        "description" : "List the items available in this category\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "query",
          "name" : "offset",
          "description" : "0-based index of the starting item for pagination, if not specified 0 will be used",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "minimum" : 1
          }
        }, {
          "in" : "query",
          "name" : "pageSize",
          "description" : "page size, if not specified 10 will be used (maximum 100)",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "minimum" : 1,
            "maximum" : 100
          }
        }, {
          "in" : "query",
          "name" : "sortField",
          "required" : false,
          "description" : "Sort field (default REVIEW_DATE):\n * `ITEM_NAME` - The name of the item\n * `BUCKET_NAME` - The name of the bucket related to the item\n * `NUMBER_OF_REVIEWS` - The number of reviews of the item\n * `BRAND_NAME` - The name of the brand to the item\n * `WEBSITE_NAME` - The name of the website related to the item\n * `CREATION_DATE` - The creation date the item on the database\n",
          "schema" : {
            "type" : "string",
            "enum" : [ "ITEM_NAME", "BUCKET_NAME", "NUMBER_OF_REVIEWS", "BRAND_NAME", "WEBSITE_NAME", "CREATION_DATE" ]
          }
        }, {
          "in" : "query",
          "name" : "hidden",
          "required" : false,
          "description" : "Filters:\n * `true`\n * `false`\n",
          "schema" : {
            "type" : "string",
            "enum" : [ true, false ]
          }
        }, {
          "in" : "query",
          "name" : "bucket_id",
          "required" : false,
          "description" : "id of an item bucket",
          "schema" : {
            "type" : "number",
            "example" : 8001
          }
        }, {
          "in" : "query",
          "name" : "item_name",
          "required" : false,
          "description" : "name of the item",
          "schema" : {
            "type" : "string",
            "example" : "Samsung S 10"
          }
        }, {
          "in" : "query",
          "name" : "website_name",
          "required" : false,
          "description" : "name of the source website",
          "schema" : {
            "type" : "string",
            "example" : "amazon"
          }
        }, {
          "in" : "query",
          "name" : "bucket_name",
          "required" : false,
          "description" : "name of the bucket",
          "schema" : {
            "type" : "string",
            "example" : "Samsung"
          }
        }, {
          "in" : "query",
          "name" : "sortOrder",
          "required" : false,
          "description" : "Sort order (default DESC):\n * `ASC` - Ascending\n * `DESC` - Descending\n",
          "schema" : {
            "type" : "string",
            "enum" : [ "ASC", "DESC" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Item"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/items/count" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "Count the items respecting the filters values",
        "operationId" : "countCategoryItems",
        "description" : "the number of items matching crieria\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "query",
          "name" : "hidden",
          "required" : false,
          "description" : "Filters:\n * `true`\n * `false`\n",
          "schema" : {
            "type" : "string",
            "enum" : [ true, false ]
          }
        }, {
          "in" : "query",
          "name" : "bucket_id",
          "required" : false,
          "description" : "id of an item bucket",
          "schema" : {
            "type" : "number",
            "example" : 8001
          }
        }, {
          "in" : "query",
          "name" : "item_name",
          "required" : false,
          "description" : "name of the item",
          "schema" : {
            "type" : "string",
            "example" : "Samsung S 10"
          }
        }, {
          "in" : "query",
          "name" : "website_name",
          "required" : false,
          "description" : "name of the source website",
          "schema" : {
            "type" : "string",
            "example" : "amazon"
          }
        }, {
          "in" : "query",
          "name" : "bucket_name",
          "required" : false,
          "description" : "name of the bucket",
          "schema" : {
            "type" : "string",
            "example" : "Samsung"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "returns the count of items",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "number",
                  "example" : 42
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/items/{itemId}" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "Return a single item",
        "operationId" : "getItem",
        "description" : "Return the specified item\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "itemId",
          "description" : "Identifier of the item",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "the specified item",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Item"
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      },
      "put" : {
        "tags" : [ "Commons" ],
        "summary" : "Update an existing item",
        "operationId" : "updateItem",
        "description" : "Updates an item\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 42,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "itemId",
          "description" : "Identifier of the item",
          "required" : true,
          "example" : 10862,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "description" : "The bucket fields to be updated.",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ItemValueChange"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "the update item",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/Item"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/items/{itemId}/categories" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "List all the categories of an item",
        "operationId" : "listItemCategories",
        "description" : "List all the categories of an item\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 15,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "itemId",
          "description" : "Identifier of the item",
          "required" : true,
          "example" : 3062584,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CategoryNameItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/subcategories" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "List all the subcategories",
        "operationId" : "listSubcategories",
        "description" : "List all the available subcategories. Subcategories are used-defined fields that can be associated withto items_buckets\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 15,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SubcategoryItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      },
      "post" : {
        "tags" : [ "Commons" ],
        "summary" : "Add a new subcategory",
        "operationId" : "addSubcategory",
        "description" : "Adds a new subcategory\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 15,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "description" : "The subcategory to be added. Adding always happens at the last position",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubcategoryItemNew"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SubcategoryItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/subcategories/{subcategoryId}" : {
      "put" : {
        "tags" : [ "Commons" ],
        "summary" : "Modify a subcategory",
        "operationId" : "modifySubcategory",
        "description" : "Modify a subcategory\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 15,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "subcategoryId",
          "description" : "Identifier of the subcategory to modify",
          "required" : true,
          "example" : 21,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "description" : "The subcategory to be modified.",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubcategoryItemNew"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SubcategoryItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      },
      "delete" : {
        "tags" : [ "Commons" ],
        "summary" : "Delete a subcategory",
        "operationId" : "deleteSubcategory",
        "description" : "Delete the specified subcategory. When deleting a subcategory all values associated with this subcategories are deleted. Moreover, all assignments of such values to itemsBuckets are lost too. So, user should be warned before performing such action. It might be useful to show the number of values (/vaues/count) and assignments (/assignments) that will be deleted.\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 15,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "subcategoryId",
          "description" : "Identifier of the subcategory to delete",
          "required" : true,
          "example" : 21,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "returns a 200 success code",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "required" : [ "code", "message" ],
                  "properties" : {
                    "code" : {
                      "type" : "integer",
                      "example" : 200
                    },
                    "message" : {
                      "type" : "string",
                      "example" : "DELETED"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/subcategories/types" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "List all the subcategories types",
        "operationId" : "listSubcategoriesTypes",
        "description" : "List all the available subcategories types. Subcategories types are used-defined fields that describe \nthe value datatype (numeric, date,  string etc) of the subcategories values \n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 15,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SubcategoryTypeItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/subcategories/sort_requests" : {
      "post" : {
        "tags" : [ "Commons" ],
        "summary" : "Change order of subcategories",
        "operationId" : "moveSubcategory",
        "description" : "Change the order of subcategories by inserting the specified subcategory at the given position.\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 15,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "description" : "The subcategory to move and the position where to inser it",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubcategoryIdIndexPair"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "returns a 200 success code",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "required" : [ "code", "message" ],
                  "properties" : {
                    "code" : {
                      "type" : "integer",
                      "example" : 200
                    },
                    "message" : {
                      "type" : "string",
                      "example" : "SORT REQUEST COMPLETED"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/subcategories/{subcategoryId}/values" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "List all the values for a specific subcategory",
        "operationId" : "listSubcategoryValues",
        "description" : "List all the available subcategories. Subcategories are used-defined fields that can be associated withto items_buckets\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 15,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "subcategoryId",
          "description" : "Identifier of the subcategory",
          "required" : true,
          "example" : 21,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SubcategoryValueItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      },
      "post" : {
        "tags" : [ "Commons" ],
        "summary" : "Add a new subcategory value",
        "operationId" : "addSubcategoryValue",
        "description" : "Adds a new subcategory value if not exists\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 42,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "subcategoryId",
          "description" : "Identifier of the subcategory",
          "required" : true,
          "example" : 3,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "description" : "The subcategory to be added. Adding always happens at the last position",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubcategoryItemValueNew"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SubcategoryValueItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/subcategories/{subcategoryId}/values/{valueId}" : {
      "delete" : {
        "tags" : [ "Commons" ],
        "summary" : "deletes the subcategory value",
        "operationId" : "deleteSubcategoryValues",
        "description" : "deletes the subcategory value with the given id\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 42,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "subcategoryId",
          "description" : "Identifier of the subcategory",
          "required" : true,
          "example" : 3,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "valueId",
          "description" : "Identifier of the subcategory value",
          "required" : true,
          "example" : 178,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "returns a 200 success code",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "required" : [ "code", "message" ],
                  "properties" : {
                    "code" : {
                      "type" : "integer",
                      "example" : 200
                    },
                    "message" : {
                      "type" : "string",
                      "example" : "DELETED"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      },
      "put" : {
        "tags" : [ "Commons" ],
        "summary" : "Modify a subcategory value",
        "operationId" : "modifySubcategoryValue",
        "description" : "Modify a subcategory value\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 42,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "subcategoryId",
          "description" : "Identifier of the subcategory to modify",
          "required" : true,
          "example" : 3,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "valueId",
          "description" : "Identifier of the subcategory value to modify",
          "required" : true,
          "example" : 180,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "description" : "The subcategory value to be modified.",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubcategoryItemValueUpdate"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SubcategoryValueItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/subcategories/{subcategoryId}/assignments" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "counts the total number of assigments for a specific subcategory",
        "operationId" : "countSubcategoryAssigments",
        "description" : "counts the number of assigments specific subcategory  \n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 42,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "subcategoryId",
          "description" : "Identifier of the subcategory",
          "required" : true,
          "example" : 3,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "number",
                  "example" : 42
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/subcategories/{subcategoryId}/values/{valueId}/assignments" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "counts the total number of assigments for a specific subcategory value",
        "operationId" : "countSubcategoryValueAssigments",
        "description" : "counts the number of assigments specific subcategory value\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 42,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "subcategoryId",
          "description" : "Identifier of the subcategory",
          "required" : true,
          "example" : 3,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "valueId",
          "description" : "Identifier of the subcategory value",
          "required" : true,
          "example" : 180,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "number",
                  "example" : 42
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/subcategories/{subcategoryId}/values/count" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "count the values for a specific subcategory",
        "operationId" : "countSubcategoryValues",
        "description" : "Count the number of values available for a specific subcategory \n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 42,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "subcategoryId",
          "description" : "Identifier of the subcategory",
          "required" : true,
          "example" : 3,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "number",
                  "example" : 42
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/items/{itemId}/reviews" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "List all the reviews of an item",
        "operationId" : "listItemReviews",
        "description" : "List all the reviews of an item\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 15,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "itemId",
          "description" : "Identifier of the item",
          "required" : true,
          "example" : 3062584,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ReviewItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/items/{itemId}/tags" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "List all the tags of an item",
        "operationId" : "listItemTags",
        "description" : "List all the tags of an item\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 15,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "itemId",
          "description" : "Identifier of the item",
          "required" : true,
          "example" : 3062584,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TagItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/items/{itemId}/prices" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "List all the prices of an item that have been recorded over time",
        "operationId" : "listItemPrices",
        "description" : "List all the prices of an item that have been recorded over time\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 15,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "itemId",
          "description" : "Identifier of the item",
          "required" : true,
          "example" : 3062584,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PriceItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/items/{itemId}/images" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "List all available images for an item",
        "operationId" : "listItemImages",
        "description" : "List the image urls available for an item\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 15,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "itemId",
          "description" : "Identifier of the item",
          "required" : true,
          "example" : 3062584,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ImageItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/items_aggregators" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "List all available items aggregators for this category",
        "operationId" : "listCategoryItemsAggregators",
        "description" : "List the items aggregators available in this category\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AggregatorItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/brands" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "List all available brands for this category",
        "operationId" : "listCategoryBrands",
        "description" : "List the brands available in this category\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BrandItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/items_buckets" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "List all available item buckets",
        "operationId" : "listCategoryItemBuckets",
        "description" : "List the buckets available in this category",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "query",
          "name" : "offset",
          "description" : "0-based index of the starting item for pagination, if not specified 0 will be used",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "minimum" : 1
          }
        }, {
          "in" : "query",
          "name" : "pageSize",
          "description" : "page size, if not specified 10 will be used (maximum 100)",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "minimum" : 1,
            "maximum" : 100
          }
        }, {
          "in" : "query",
          "name" : "sortField",
          "required" : false,
          "description" : "Specifies by which filed to sort the results. If not specified the default is BUCKET_NAME; possible values are:\n * `BUCKET_NAME` - The name of the bucket\n * `NUMBER_OF_ITEMS` - The total number of items related to the bucket\n * `NUMBER_OF_REVIEWS` - The total number of reviews related to the bucket\n * `SUBCATEGORY_<<ID>>` - Sort by the value of the subcategory identified by id <<ID>>, e.g.: \n * `SUBCATEGORY_13` - Sort by the value of the subcategory with identifier 13. \n * `SUBCATEGORY_17` - Sort by the value of the subcategory with identifier 17. \n * `SUBCATEGORY_18` - Sort by the value of the subcategory with identifier 18. \n",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "hidden",
          "required" : false,
          "description" : "Filters:\n * `true`\n * `false`\n",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "in" : "query",
          "name" : "processed",
          "required" : false,
          "description" : "Filters:\n * `true`\n * `false`\n",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "in" : "query",
          "name" : "bucket_name",
          "required" : false,
          "description" : "",
          "schema" : {
            "type" : "string",
            "example" : "LG"
          }
        }, {
          "in" : "query",
          "name" : "subcategory.",
          "required" : false,
          "schema" : {
            "type" : "object",
            "additionalProperties" : true,
            "example" : {
              "subcategory.13" : 1.0,
              "subcategory.17" : "Bar",
              "subcategory.18" : "Subcat"
            }
          }
        }, {
          "in" : "query",
          "name" : "filterOperator.subcategory.",
          "required" : false,
          "schema" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "enum" : [ "=", "<", "<=", "!=", ">=", ">" ]
            },
            "description" : "Sort field (default empty):\n * `=`\n * `<` \n * `<=` \n * `>`\n * `>=` \n * `!=`\n",
            "example" : {
              "filterOperator.subcategory.13" : ">"
            }
          }
        }, {
          "in" : "query",
          "name" : "sortOrder",
          "required" : false,
          "description" : "Sort order (default ASC):\n * `ASC` - Ascending\n * `DESC` - Descending\n",
          "schema" : {
            "type" : "string",
            "enum" : [ "ASC", "DESC" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BucketItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      },
      "post" : {
        "tags" : [ "Commons" ],
        "summary" : "Create a new bucket",
        "operationId" : "createItemsBucket",
        "description" : "Adds a new bucket\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 42,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "description" : "The bucket to be added.",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BucketItemValueNew"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "id of the new bucket",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/BucketItem"
                  }
                }
              }
            }
          },
          "206" : {
            "description" : "The bucket was correctly created, but some errors were found while updating the subcategories values",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/BucketItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/items_buckets/merge_requests" : {
      "post" : {
        "tags" : [ "Commons" ],
        "summary" : "Merge the specified item buckets into a new one, then delete them",
        "operationId" : "mergeItemBuckets",
        "description" : "Merges the specified buckets into a new one, then deletes the original buckets\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "description" : "The list of item buckets ids to merge",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ItemBucketsMergeRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "returns a 200 success code",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/BucketItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "404" : {
            "description" : "the specified WordsCluster was not found"
          },
          "409" : {
            "description" : "multiple items found"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/items_buckets/change_requests" : {
      "post" : {
        "tags" : [ "Commons" ],
        "summary" : "Modifies the hidden property of specified buckets",
        "operationId" : "updateItemsBuckets",
        "description" : "Modifies the hidden property of specified buckets\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "description" : "The list of items to modify and the values of the properties to change",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ItemsBucketsChangeRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "returns a 200 success code",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "required" : [ "code", "message" ],
                  "properties" : {
                    "code" : {
                      "type" : "integer",
                      "example" : 200
                    },
                    "message" : {
                      "type" : "string",
                      "example" : "UPDATED"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "404" : {
            "description" : "the specified WordsCluster was not found"
          },
          "409" : {
            "description" : "multiple items found"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/items_buckets/delete_requests" : {
      "post" : {
        "tags" : [ "Commons" ],
        "summary" : "Deletes the specified buckets",
        "operationId" : "deleteItemsBuckets",
        "description" : "Deletes the specified buckets. Items belonging to the deleted buckets will be moved to the unassigned bucket\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "description" : "The list of buckets to delete",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ItemsBucketsDeleteRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "returns a 200 success code",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "required" : [ "code", "message" ],
                  "properties" : {
                    "code" : {
                      "type" : "integer",
                      "example" : 200
                    },
                    "message" : {
                      "type" : "string",
                      "example" : "DELETED"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "404" : {
            "description" : "the specified WordsCluster was not found"
          },
          "409" : {
            "description" : "multiple items found"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/items_buckets/unassigned/id" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "Return the identifier of the UNASSIGNED bucket",
        "operationId" : "getUnassignedBucketId",
        "description" : "Get the identifier of the unassigned bucket. All delete/change operations should be disabled on the unassigned bucket\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 42,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "the identifier of the unassigned item",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "number",
                  "example" : 42
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/items_buckets/{bucketId}" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "Return an existing bucket",
        "operationId" : "getItemsBucket",
        "description" : "Get a bucket\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 42,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "bucketId",
          "description" : "Identifier of the bucket",
          "required" : true,
          "example" : 230,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "the required item bucket",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/BucketItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      },
      "delete" : {
        "tags" : [ "Commons" ],
        "summary" : "Delete the bucket with the specified id",
        "operationId" : "deleteItemsBucket",
        "description" : "Deletes a specific bucket. All items of this bucket will be moved to the ***UNASSIGNED*** bucket\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 15,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "bucketId",
          "description" : "Identifier of the bucket",
          "required" : true,
          "example" : 3062584,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria"
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      },
      "put" : {
        "tags" : [ "Commons" ],
        "summary" : "Update an existing bucket",
        "operationId" : "updateItemsBucket",
        "description" : "Updates a bucket\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 42,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "bucketId",
          "description" : "Identifier of the bucket",
          "required" : true,
          "example" : 10862,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "description" : "The bucket fields to be updated.",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BucketItemValueNew"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "the bucket was correctly updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/BucketItem"
                  }
                }
              }
            }
          },
          "206" : {
            "description" : "The bucket was correctly updated, but some errors were found while updating the subcategories values",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/BucketItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/items_buckets/{bucketId}/items" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "Return an the items contained into the specified bucket",
        "operationId" : "getBucketItems",
        "description" : "Get the items of a bucket\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "bucketId",
          "description" : "Identifier of the bucket",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "query",
          "name" : "offset",
          "description" : "0-based index of the starting item for pagination, if not specified 0 will be used",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "minimum" : 1
          }
        }, {
          "in" : "query",
          "name" : "pageSize",
          "description" : "page size, if not specified 10 will be used (maximum 100)",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "minimum" : 1,
            "maximum" : 100
          }
        }, {
          "in" : "query",
          "name" : "sortField",
          "required" : false,
          "description" : "Sort field (default REVIEW_DATE):\n * `ITEM_NAME` - The name of the item\n * `BUCKET_NAME` - The name of the bucket related to the item\n * `NUMBER_OF_REVIEWS` - The number of reviews of the item\n * `BRAND_NAME` - The name of the brand to the item\n * `WEBSITE_NAME` - The name of the website related to the item\n * `CREATION_DATE` - The creation date the item on the database\n",
          "schema" : {
            "type" : "string",
            "enum" : [ "ITEM_NAME", "BUCKET_NAME", "NUMBER_OF_REVIEWS", "BRAND_NAME", "WEBSITE_NAME", "CREATION_DATE" ]
          }
        }, {
          "in" : "query",
          "name" : "hidden",
          "required" : false,
          "description" : "Filters:\n * `true`\n * `false`\n",
          "schema" : {
            "type" : "string",
            "enum" : [ true, false ]
          }
        }, {
          "in" : "query",
          "name" : "item_name",
          "required" : false,
          "description" : "name of the item",
          "schema" : {
            "type" : "string",
            "example" : "Samsung S 10"
          }
        }, {
          "in" : "query",
          "name" : "website_name",
          "required" : false,
          "description" : "name of the source website",
          "schema" : {
            "type" : "string",
            "example" : "amazon"
          }
        }, {
          "in" : "query",
          "name" : "bucket_name",
          "required" : false,
          "description" : "name of the bucket",
          "schema" : {
            "type" : "string",
            "example" : "Samsung"
          }
        }, {
          "in" : "query",
          "name" : "sortOrder",
          "required" : false,
          "description" : "Sort order (default DESC):\n * `ASC` - Ascending\n * `DESC` - Descending\n",
          "schema" : {
            "type" : "string",
            "enum" : [ "ASC", "DESC" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Item"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/items_buckets/{bucketId}/items/count" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "count the buckets for a this category",
        "operationId" : "countItemsInBucket",
        "description" : "Count the number of values available for a specific subcategory \n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 42,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "bucketId",
          "description" : "Identifier of the bucket",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "query",
          "name" : "hidden",
          "required" : false,
          "description" : "Filters:\n * `true`\n * `false`\n",
          "schema" : {
            "type" : "string",
            "enum" : [ true, false ]
          }
        }, {
          "in" : "query",
          "name" : "item_name",
          "required" : false,
          "description" : "name of the item",
          "schema" : {
            "type" : "string",
            "example" : "Samsung S 10"
          }
        }, {
          "in" : "query",
          "name" : "website_name",
          "required" : false,
          "description" : "name of the source website",
          "schema" : {
            "type" : "string",
            "example" : "amazon"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "number",
                  "example" : 42
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/items_buckets/count" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "count the buckets for a this category",
        "operationId" : "countItemsBuckets",
        "description" : "Count the number of values available for a specific subcategory \n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "example" : 42,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "query",
          "name" : "hidden",
          "required" : false,
          "description" : "Filters:\n * `true`\n * `false`\n",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "in" : "query",
          "name" : "processed",
          "required" : false,
          "description" : "Filters:\n * `true`\n * `false`\n",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "in" : "query",
          "name" : "bucket_name",
          "required" : false,
          "description" : "",
          "schema" : {
            "type" : "string",
            "example" : "LG"
          }
        }, {
          "in" : "query",
          "name" : "subcategory.",
          "required" : false,
          "schema" : {
            "type" : "object",
            "additionalProperties" : true,
            "example" : {
              "subcategory.13" : 1.0,
              "subcategory.17" : "Bar",
              "subcategory.18" : "Subcat"
            }
          }
        }, {
          "in" : "query",
          "name" : "filterOperator.subcategory.",
          "required" : false,
          "schema" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "enum" : [ "=", "<", "<=", "!=", ">=", ">" ]
            },
            "description" : "Sort field (default empty):\n * `=`\n * `<` \n * `<=` \n * `>`\n * `>=` \n * `!=`\n",
            "example" : {
              "filterOperator.subcategory.13" : ">"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "number",
                  "example" : 42
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/commons/websites" : {
      "get" : {
        "tags" : [ "Commons" ],
        "summary" : "List all available websites for this category",
        "operationId" : "listCategoryWebsites",
        "description" : "List the websites available in this category\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WebsiteItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/product_categories" : {
      "get" : {
        "tags" : [ "Product Categories" ],
        "summary" : "List all available product categories",
        "operationId" : "listProductCategories",
        "description" : "List the product categories available in this category\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CategoryItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/product_categories/{productCategoryId}" : {
      "get" : {
        "tags" : [ "Product Categories" ],
        "summary" : "Returns the specified product category",
        "operationId" : "getProductCategory",
        "description" : "Returns the specified product category\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "productCategoryId",
          "description" : "Identifier of the product category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "returns the specified product category",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CategoryItem"
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      },
      "put" : {
        "tags" : [ "Product Categories" ],
        "summary" : "Update the product category",
        "operationId" : "updateProductCategory",
        "description" : "Update the status of the product category identified by productCategoryId\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "productCategoryId",
          "description" : "Identifier of the product category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "categoryStatus" : {
                    "$ref" : "#/components/schemas/CategoryStatus"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "status successfully updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CategoryItem"
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/words_clusters_sets" : {
      "get" : {
        "tags" : [ "Features" ],
        "summary" : "Returns the list of words clusters sets",
        "operationId" : "getWordsClustersSets",
        "description" : "Returns the list of available wordsClustersSets. A wordsClustersSet is a clustering, i.e., a set of clusters and, for each cluster, a set of keywords\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "query",
          "name" : "record_format",
          "schema" : {
            "$ref" : "#/components/schemas/RecordFormat"
          },
          "required" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "returns the list of WordsClustersSet, or WordsClustersSetFormatArray if the record_format query parameter equals RECORD_FORMAT_ARRAY",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "type" : "array",
                    "items" : {
                      "$ref" : "#/components/schemas/WordsClustersSet"
                    }
                  }, {
                    "type" : "array",
                    "items" : {
                      "$ref" : "#/components/schemas/WordsClustersSetFormatArray"
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/words_clusters_sets/{wordsClustersSetId}" : {
      "get" : {
        "tags" : [ "Features" ],
        "summary" : "Returns the specified words clusters sets",
        "operationId" : "getWordsClustersSet",
        "description" : "Returns the specified wordsClustersSets\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "wordsClustersSetId",
          "description" : "Identifier of the words clusters set",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "returns the specified wordsCLustersSet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WordsClustersSet"
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      },
      "put" : {
        "tags" : [ "Features" ],
        "summary" : "Updates the specified WordsClustersSet",
        "operationId" : "updateWordsClustersSet",
        "description" : "Updates the specified WordsClustersSets\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "wordsClustersSetId",
          "description" : "Identifier of the WordsClustersSet",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "description" : "The field to be updates",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WordsClustersSetChanges"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "the WordsClustersSet has been updated successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WordsClustersSet"
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/words_clusters_sets/{wordsClustersSetId}/words_clusters" : {
      "get" : {
        "tags" : [ "Features" ],
        "summary" : "Returns the list of words cluster (topics) of this clusters sets",
        "operationId" : "getWordsClusters",
        "description" : "Returns the list of words cluster\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "wordsClustersSetId",
          "description" : "Identifier of the words clusters set",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "query",
          "name" : "record_format",
          "schema" : {
            "$ref" : "#/components/schemas/RecordFormat"
          },
          "required" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "returns the list of WordsCluster, or WordsClusterFormatArray if the record_format query parameter equals RECORD_FORMAT_ARRAY",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "type" : "array",
                    "items" : {
                      "$ref" : "#/components/schemas/WordsCluster"
                    }
                  }, {
                    "type" : "array",
                    "items" : {
                      "$ref" : "#/components/schemas/WordsClusterFormatArray"
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      },
      "post" : {
        "tags" : [ "Features" ],
        "summary" : "Creates a new WordsCluster (topic) owned by the specified WordsClustersSet",
        "operationId" : "createWordsCluster",
        "description" : "Creates a new wordsCluster and return it\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "wordsClustersSetId",
          "description" : "Identifier of the words clusters set",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "description" : "The fields to be updated",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WordsClusterChanges"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "returns the created WordsCluster",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WordsCluster"
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "409" : {
            "description" : "conflict - words cluster already exists"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/words_clusters_sets/{wordsClustersSetId}/words_clusters/{wordsClusterId}/word_vectors" : {
      "get" : {
        "tags" : [ "Features" ],
        "summary" : "Returns the list of words belonging to the specified WordsClsuter",
        "operationId" : "getWords",
        "description" : "Returns the list of words of a WordsCluster. Words can also be named as word_vectors as they bring info about the semantic vector space\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "wordsClustersSetId",
          "description" : "Identifier of the WordsClustersSet",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "wordsClusterId",
          "description" : "Identifier of the WordsCluster",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "query",
          "name" : "record_format",
          "schema" : {
            "$ref" : "#/components/schemas/RecordFormat"
          },
          "required" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "returns the list of WordsCluster, or WordsClusterFormatArray if the record_format query parameter equals RECORD_FORMAT_ARRAY",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "type" : "array",
                    "items" : {
                      "$ref" : "#/components/schemas/WordVector"
                    }
                  }, {
                    "type" : "array",
                    "items" : {
                      "$ref" : "#/components/schemas/WordVectorFormatArray"
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/words_clusters_sets/{wordsClustersSetId}/words_clusters/{wordsClusterId}" : {
      "get" : {
        "tags" : [ "Features" ],
        "summary" : "Returns the specified WordsCluster",
        "operationId" : "getWordsCluster",
        "description" : "Returns the details of the specified WordsCluster.\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "wordsClustersSetId",
          "description" : "Identifier of the WordsClustersSet",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "wordsClusterId",
          "description" : "Identifier of the WordsCluster",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "returns the details of the specified WordsCluster",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WordsCluster"
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "404" : {
            "description" : "the specified WordsCluster was not found"
          },
          "409" : {
            "description" : "multiple items found"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      },
      "delete" : {
        "tags" : [ "Features" ],
        "summary" : "Delete the specified WordsCluster",
        "operationId" : "deleteWordsCluster",
        "description" : "Delete the specified WordsCluster moving all its word to the trash WordsCluster.\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "wordsClustersSetId",
          "description" : "Identifier of the WordsClustersSet",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "wordsClusterId",
          "description" : "Identifier of the WordsCluster",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "returns a 200 success code",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "required" : [ "code", "message" ],
                  "properties" : {
                    "code" : {
                      "type" : "integer",
                      "example" : 200
                    },
                    "message" : {
                      "type" : "string",
                      "example" : "DELETED"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "404" : {
            "description" : "the specified WordsCluster was not found"
          },
          "409" : {
            "description" : "multiple items found"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      },
      "put" : {
        "tags" : [ "Features" ],
        "summary" : "Updates the specified WordsCluster",
        "operationId" : "updateWordsCluster",
        "description" : "Updates the given WordsCluster and returns it.\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "wordsClustersSetId",
          "description" : "Identifier of the WordsClustersSet",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "wordsClusterId",
          "description" : "Identifier of the WordsCluster",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "description" : "The destination cluster and the WordVectors to be moved",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WordsClusterChanges"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "the modified WordsCluster",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WordsCluster"
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "404" : {
            "description" : "the specified WordsCluster was not found"
          },
          "409" : {
            "description" : "multiple items found"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
          }
        }
      }
    },
    "/core/v2/categories/{categoryId}/words_clusters_sets/{wordsClustersSetId}/words_clusters/{wordsClusterId}/move_requests" : {
      "post" : {
        "tags" : [ "Features" ],
        "summary" : "Move wordVectors from this WordsCluster to another one",
        "operationId" : "moveWordVectors",
        "description" : "Request to move wordVectors from this WordsCluster to another one (in the same WordsClustersSet)\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "categoryId",
          "description" : "Identifier of the category",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "wordsClustersSetId",
          "description" : "Identifier of the WordsClustersSet",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "in" : "path",
          "name" : "wordsClusterId",
          "description" : "Identifier of the WordsCluster",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "description" : "The destination cluster and the WordVectors to be moved",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WordVectorMoveRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "returns a 200 success code",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "required" : [ "code", "message" ],
                  "properties" : {
                    "code" : {
                      "type" : "integer",
                      "example" : 200
                    },
                    "message" : {
                      "type" : "string",
                      "example" : "MOVED"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "404" : {
            "description" : "the specified WordsCluster was not found"
          },
          "409" : {
            "description" : "multiple items found"
          },
          "401" : {
            "description" : "unauthenticated"
          },
          "403" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "internal server Error"
[...]
