{
  "openapi" : "3.0.0",
  "x-explorer-enabled" : false,
  "x-samples-languages" : [ "curl" ],
  "servers" : [ {
    "description" : "Flexport API",
    "url" : "https://api.flexport.com/"
  } ],
  "info" : {
    "description" : "Flexport's Network API",
    "version" : "2.0.0",
    "title" : "Network",
    "contact" : {
      "email" : "help@flexport.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "paths" : {
    "/network/companies" : {
      "get" : {
        "tags" : [ "Company" ],
        "operationId" : "network_company_index",
        "summary" : "List company objects",
        "description" : "Returns a list of companies in the network.",
        "parameters" : [ {
          "in" : "query",
          "name" : "page",
          "description" : "Page number of the page to retrieve",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "example" : 1,
            "default" : 1,
            "minimum" : 1
          }
        }, {
          "in" : "query",
          "name" : "per",
          "description" : "Count of items in each page. Should be between 1 and 100 (inclusive)",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "example" : 20,
            "default" : 20,
            "minimum" : 1,
            "maximum" : 100
          }
        }, {
          "in" : "query",
          "name" : "f.ref",
          "description" : "The ref for the company.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "f.metadata.YOUR_METADATA_KEY",
          "description" : "Only return companies that have a specific metadata key-value pair. Multiple metadata filters can be added to a single query. If there are multiple metadata filters each with the same metadata key, then the filter will return companies matching any of the specified metadata values for that metadata key.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of companies",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_object" : {
                      "type" : "string",
                      "example" : "/api/response"
                    },
                    "self" : {
                      "type" : "string",
                      "example" : "https://api.flexport.com/network/companies"
                    },
                    "version" : {
                      "type" : "integer",
                      "example" : 2
                    },
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "_object" : {
                          "type" : "string",
                          "example" : "/api/collections/paginated"
                        },
                        "prev" : {
                          "type" : "string",
                          "example" : "https://api.flexport.com/network/companies?page=1&per=10"
                        },
                        "next" : {
                          "type" : "string",
                          "example" : "https://api.flexport.com/network/companies?page=3&per=10"
                        },
                        "total_count" : {
                          "type" : "integer"
                        },
                        "data" : {
                          "type" : "array",
                          "items" : {
                            "$ref" : "#/components/schemas/Company"
                          }
                        }
                      }
                    }
                  }
                },
                "examples" : {
                  "response" : {
                    "summary" : "Success",
                    "description" : "Success",
                    "value" : {
                      "_object" : "/api/response",
                      "self" : "https://api.flexport.com/network/companies?page=13&per=10",
                      "version" : 2,
                      "data" : {
                        "_object" : "/api/collections/paginated",
                        "prev" : "https://api.flexport.com/network/companies?page=12&per=10",
                        "next" : null,
                        "total_count" : 121,
                        "data" : [ {
                          "_object" : "/network/company",
                          "id" : "ABC123",
                          "metadata" : { },
                          "name" : "CompanyFoo",
                          "ref" : "ref_for_company",
                          "editable" : true,
                          "entities" : [ {
                            "_object" : "/company_entity",
                            "id" : 9281,
                            "name" : "Zoomit",
                            "mailing_address" : {
                              "_object" : "/address",
                              "street_address" : "1641 Settlers Lane",
                              "street_address_2" : "STE 2918",
                              "city" : "Albany",
                              "state" : "MN",
                              "country" : "United States of America",
                              "country_code" : "US",
                              "zip" : "56307",
                              "unlocode" : "US AL2"
                            },
                            "ref" : "zoomit_ref",
                            "vat_numbers" : [ {
                              "_object" : "company_entity/vat_number",
                              "country_code" : "US",
                              "number" : "US 123746396"
                            } ]
                          } ],
                          "locations" : {
                            "_object" : "/api/refs/collection",
                            "ref_type" : "/network/location",
                            "link" : "https://api.flexport.com/network/location/123456"
                          },
                          "contacts" : {
                            "_object" : "/api/refs/collection",
                            "ref_type" : "/network/contacts",
                            "link" : "https://api.flexport.com/network/contact/1234"
                          }
                        } ],
                        "error" : null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/network/companies/{id}" : {
      "get" : {
        "tags" : [ "Company" ],
        "operationId" : "network_company_show",
        "summary" : "Retrieve a company",
        "description" : "Retrieves the details of a single company.",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "description" : "The unique id for the requested company",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_object" : {
                      "type" : "string",
                      "example" : "/api/response"
                    },
                    "self" : {
                      "type" : "string",
                      "example" : "https://api.flexport.com/network/companies/ABC123"
                    },
                    "version" : {
                      "type" : "integer",
                      "example" : 2
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/Company"
                    }
                  }
                },
                "examples" : {
                  "response" : {
                    "summary" : "Success",
                    "description" : "Success",
                    "value" : {
                      "_object" : "/api/response",
                      "self" : "https://api.flexport.com/network/companies/ABC123",
                      "version" : 2,
                      "data" : {
                        "_object" : "/network/company",
                        "id" : "ABC123",
                        "metadata" : { },
                        "name" : "CompanyFoo",
                        "ref" : "ref_for_company",
                        "editable" : true,
                        "entities" : [ {
                          "_object" : "/company_entity",
                          "id" : 9281,
                          "name" : "Zoomit",
                          "mailing_address" : {
                            "_object" : "/address",
                            "street_address" : "1641 Settlers Lane",
                            "street_address_2" : "STE 2918",
                            "city" : "Albany",
                            "state" : "MN",
                            "country" : "United States of America",
                            "country_code" : "US",
                            "zip" : "56307",
                            "unlocode" : "US AL2"
                          },
                          "ref" : "zoomit_ref",
                          "vat_numbers" : [ {
                            "_object" : "company_entity/vat_number",
                            "country_code" : "US",
                            "number" : "US 123746396"
                          } ]
                        } ],
                        "locations" : {
                          "_object" : "/api/refs/collection",
                          "ref_type" : "/network/location",
                          "link" : "https://api.flexport.com/network/locations/123456"
                        },
                        "contacts" : {
                          "_object" : "/api/refs/collection",
                          "ref_type" : "/network/contact",
                          "link" : "https://api.flexport.com/network/contacts/1234"
                        }
                      },
                      "error" : null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/network/me/companies" : {
      "get" : {
        "tags" : [ "Company" ],
        "operationId" : "network_company_me",
        "summary" : "Retrieve your company",
        "description" : "Retrieves the details of your own organization.",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_object" : {
                      "type" : "string",
                      "example" : "/api/response"
                    },
                    "self" : {
                      "type" : "string",
                      "example" : "https://api.flexport.com/network/me/companies version: type: integer example: 2 data: $ref: "
                    }
                  }
                },
                "examples" : {
                  "response" : {
                    "summary" : "Success",
                    "description" : "Success",
                    "value" : {
                      "_object" : "/api/response",
                      "self" : "https://api.flexport.com/network/me/companies",
                      "version" : 2,
                      "data" : {
                        "_object" : "/network/company",
                        "id" : "ABC123",
                        "name" : "CompanyFoo",
                        "ref" : "ref_for_company",
                        "editable" : "true,",
                        "entities" : [ {
                          "_object" : "/company_entity",
                          "id" : 9281,
                          "name" : "Zoomit",
                          "mailing_address" : {
                            "_object" : "/address",
                            "street_address" : "1641 Settlers Lane",
                            "street_address_2" : "STE 2918",
                            "city" : "Albany",
                            "state" : "MN",
                            "country" : "United States of America",
                            "country_code" : "US",
                            "zip" : "56307",
                            "unlocode" : "US AL2"
                          },
                          "ref" : "zoomit_ref",
                          "vat_numbers" : null
                        } ],
                        "locations" : {
                          "_object" : "/api/refs/collection",
                          "ref_type" : "/network/location",
                          "link" : "https://api.flexport.com/network/locations/123456"
                        },
                        "contacts" : {
                          "_object" : "/api/refs/collection",
                          "ref_type" : "/network/contact",
                          "link" : "https://api.flexport.com/network/contacts/1234"
                        }
                      },
                      "error" : null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/network/contacts" : {
      "get" : {
        "tags" : [ "Contact" ],
        "operationId" : "network_contact_index",
        "summary" : "List contact objects",
        "description" : "Returns a list of contacts in the network.",
        "parameters" : [ {
          "in" : "query",
          "name" : "page",
          "description" : "Page number of the page to retrieve",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "example" : 1,
            "default" : 1,
            "minimum" : 1
          }
        }, {
          "in" : "query",
          "name" : "per",
          "description" : "Count of items in each page. Should be between 1 and 100 (inclusive)",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "example" : 20,
            "default" : 20,
            "minimum" : 1,
            "maximum" : 100
          }
        }, {
          "in" : "query",
          "name" : "f.company_ref",
          "description" : "The ref for the company.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "f.company.id",
          "description" : "The id for the company.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "f.location.id",
          "description" : "Filters out all contacts not related to this location.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of contacts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_object" : {
                      "type" : "string",
                      "example" : "/api/response"
                    },
                    "self" : {
                      "type" : "string",
                      "example" : "https://api.flexport.com/network/contacts"
                    },
                    "version" : {
                      "type" : "integer",
                      "example" : 2
                    },
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "_object" : {
                          "type" : "string",
                          "example" : "/api/collections/paginated"
                        },
                        "prev" : {
                          "type" : "string",
                          "example" : "https://api.flexport.com/network/contacts?page=1&per=10"
                        },
                        "next" : {
                          "type" : "string",
                          "example" : "https://api.flexport.com/network/contacts?page=3&per=10"
                        },
                        "total_count" : {
                          "type" : "integer"
                        },
                        "data" : {
                          "type" : "array",
                          "items" : {
                            "$ref" : "#/components/schemas/Contact"
                          }
                        }
                      }
                    }
                  }
                },
                "examples" : {
                  "response" : {
                    "summary" : "Success",
                    "description" : "Success",
                    "value" : {
                      "_object" : "/api/response",
                      "self" : "https://api.flexport.com/network/contacts?page=13&per=10",
                      "version" : 2,
                      "data" : {
                        "_object" : "/api/collections/paginated",
                        "prev" : "https://api.flexport.com/network/contacts?page=12&per=10",
                        "next" : null,
                        "total_count" : 121,
                        "data" : [ {
                          "_object" : "/network/contact",
                          "id" : "ABC123",
                          "name" : "Joe Schmoe",
                          "email" : "joe@example.com",
                          "phone" : "6789998212",
                          "locations" : {
                            "_object" : "/api/refs/collection",
                            "ref_type" : "/network/location",
                            "link" : "https://api.flexport.com/network/locations/123456"
                          },
                          "company" : {
                            "_object" : "/api/refs/object",
                            "ref_type" : "/network/company",
                            "link" : "https://api.flexport.com/network/companies/123456",
                            "id" : 123456
                          }
                        } ],
                        "error" : null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Contact" ],
        "operationId" : "network_contact_create",
        "summary" : "Create a new contact object",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string",
                    "description" : "Always required. Name of the new contact."
                  },
                  "email" : {
                    "type" : "string",
                    "description" : "Always required. Email address of the new contact."
                  },
                  "phone_number" : {
                    "type" : "string",
                    "description" : "Always required. Phone number of the new contact."
                  },
                  "company_id" : {
                    "type" : "string",
                    "description" : "ID of the new contact's company. If not specified, the contact will be created for your company."
                  }
                },
                "required" : [ "name", "email", "phone_number" ]
              },
              "example" : {
                "name" : "John Smith",
                "email" : "john@example.com",
                "phone_number" : "861-555-5555",
                "company_id" : "2UXaj4xcHoW8nwh9UVOMpw"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The created contact",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contact"
                },
                "examples" : {
                  "response" : {
                    "description" : "Success",
                    "value" : {
                      "_object" : "/api/response",
                      "self" : "https://api.flexport.com/network/contacts",
                      "version" : 2,
                      "data" : {
                        "_object" : "/network/contact",
                        "id" : "FHLKEFHHoW8nwh9UVOMpw",
                        "name" : "John Smith",
                        "email" : "john@example.com",
                        "phone" : "861-555-5555",
                        "locations" : {
                          "_object" : "/api/refs/collection",
                          "ref_type" : "/network/location",
                          "link" : "https://api.flexport.com/network/locations/f.contact.id=FHLKEFHHoW8nwh9UVOMpw"
                        },
                        "company" : {
                          "_object" : "/api/refs/object",
                          "ref_type" : "/network/company",
                          "link" : "https://api.flexport.com/network/companies/2UXaj4xcHoW8nwh9UVOMpw",
                          "id" : "2UXaj4xcHoW8nwh9UVOMpw"
                        }
                      },
                      "error" : null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/network/contacts/{id}" : {
      "get" : {
        "tags" : [ "Contact" ],
        "operationId" : "network_contact_show",
        "summary" : "Retrieve a contact",
        "description" : "Retrieves the details of a single contact.",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "description" : "The unique id for the requested contact",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_object" : {
                      "type" : "string",
                      "example" : "/api/response"
                    },
                    "self" : {
                      "type" : "string",
                      "example" : "https://api.flexport.com/network/contacts/ABC123"
                    },
                    "version" : {
                      "type" : "integer",
                      "example" : 2
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/Contact"
                    }
                  }
                },
                "examples" : {
                  "response" : {
                    "summary" : "Success",
                    "description" : "Success",
                    "value" : {
                      "_object" : "/api/response",
                      "self" : "https://api.flexport.com/network/contacts/ABC123",
                      "version" : 2,
                      "data" : {
                        "_object" : "/network/contact",
                        "id" : "ABC123",
                        "name" : "Joe Schmoe",
                        "email" : "joe@example..com",
                        "phone" : "6789998212",
                        "locations" : {
                          "_object" : "/api/refs/collection",
                          "ref_type" : "/network/location",
                          "link" : "https://api.flexport.com/network/locations/123456"
                        },
                        "company" : {
                          "_object" : "/api/refs/object",
                          "ref_type" : "/network/company",
                          "link" : "https://api.flexport.com/network/companies/123456",
                          "id" : 123456
                        }
                      },
                      "error" : null
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Contact" ],
        "operationId" : "network_contact_update",
        "summary" : "Update an existing contact",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "description" : "The unique id for the requested contact",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "FHLKEFHHoW8nwh9UVOMpw"
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string",
                    "description" : "Updated name of the contact."
                  },
                  "email" : {
                    "type" : "string",
                    "description" : "Updated email address of the contact"
                  },
                  "phone_number" : {
                    "type" : "string",
                    "description" : "Updated phone number of the contact"
                  }
                }
              },
              "example" : {
                "email" : "john_new_email@example.com",
                "phone_number" : "861-777-7777"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The updated contact",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contact"
                },
                "examples" : {
                  "response" : {
                    "description" : "Success",
                    "value" : {
                      "_object" : "/api/response",
                      "self" : "https://api.flexport.com/network/contacts/FHLKEFHHoW8nwh9UVOMpw",
                      "version" : 2,
                      "data" : {
                        "_object" : "/network/contact",
                        "id" : "FHLKEFHHoW8nwh9UVOMpw",
                        "name" : "John Smith",
                        "email" : "john_new_email@example.com",
                        "phone" : "861-777-7777",
                        "locations" : {
                          "_object" : "/api/refs/collection",
                          "ref_type" : "/network/location",
                          "link" : "https://api.flexport.com/network/locations/f.contact.id=FHLKEFHHoW8nwh9UVOMpw"
                        },
                        "company" : {
                          "_object" : "/api/refs/object",
                          "ref_type" : "/network/company",
                          "link" : "https://api.flexport.com/network/companies/2UXaj4xcHoW8nwh9UVOMpw",
                          "id" : "2UXaj4xcHoW8nwh9UVOMpw"
                        }
                      },
                      "error" : null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/network/company_entites" : {
      "get" : {
        "tags" : [ "CompanyEntity" ],
        "operationId" : "company_entity_index",
        "summary" : "List of company entity objects",
        "description" : "Returns a list of the company entity objects in the network.",
        "parameters" : [ {
          "in" : "query",
          "name" : "page",
          "description" : "Page number of the page to retrieve",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "example" : 1,
            "default" : 1,
            "minimum" : 1
          }
        }, {
          "in" : "query",
          "name" : "per",
          "description" : "Count of items in each page. Should be between 1 and 100 (inclusive)",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "example" : 20,
            "default" : 20,
            "minimum" : 1,
            "maximum" : 100
          }
        }, {
          "in" : "query",
          "name" : "f.ref",
          "description" : "The ref for the company entity",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "f.company_id",
          "description" : "The id for the company entity's parent company",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "f.company_ref",
          "description" : "The ref for the company entity's parent company",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of company entities",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_object" : {
                      "type" : "string",
                      "example" : "/api/response"
                    },
                    "self" : {
                      "type" : "string",
                      "example" : "https://api.flexport.com/network/company_entities"
                    },
                    "version" : {
                      "type" : "integer",
                      "example" : 2
                    },
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "_object" : {
                          "type" : "string",
                          "example" : "/api/collections/paginated"
                        },
                        "prev" : {
                          "type" : "string",
                          "example" : "https://api.flexport.com/network/company_entities?page=1&per=10"
                        },
                        "next" : {
                          "type" : "string",
                          "example" : "https://api.flexport.com/network/company_entities?page=3&per=10"
                        },
                        "total_count" : {
                          "type" : "integer",
                          "example" : 35
                        },
                        "data" : {
                          "type" : "array",
                          "items" : {
                            "$ref" : "#/components/schemas/CompanyEntity"
                          }
                        }
                      }
                    }
                  }
                },
                "examples" : {
                  "response" : {
                    "summary" : "Success",
                    "description" : "Success",
                    "value" : {
                      "_object" : "/api/response",
                      "self" : "https://api.flexport.com/network/company_entities?page=13&per=10",
                      "version" : 2,
                      "data" : {
                        "_object" : "/api/collections/paginated",
                        "prev" : "https://api.flexport.com/network/company_entities?page=12&per=10",
                        "next" : null,
                        "total_count" : 121,
                        "data" : [ {
                          "_object" : "/company_entity",
                          "id" : 9281,
                          "name" : "Zoomit",
                          "mailing_address" : {
                            "_object" : "/address",
                            "street_address" : "1641 Settlers Lane",
                            "street_address_2" : "STE 2918",
                            "city" : "Albany",
                            "state" : "MN",
                            "country" : "United States of America",
                            "country_code" : "US",
                            "zip" : "56307",
                            "unlocode" : "US AL2"
                          },
                          "ref" : "zoomit_ref",
                          "vat_numbers" : [ {
                            "_object" : "company_entity/vat_number",
                            "country_code" : "US",
                            "number" : "US 123746396"
                          } ]
                        } ],
                        "error" : null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "CompanyEntity" ],
        "operationId" : "network_company_entity_create",
        "summary" : "Create and return a new company entity",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string",
                    "description" : "Always required. Legal name of the new company entity"
                  },
                  "company_id" : {
                    "type" : "string",
                    "description" : "The id of the new company entity's parent company. Either company_id or company_ref is required"
                  },
                  "company_ref" : {
                    "type" : "string",
                    "description" : "The ref of the new company entity's parent company. Either company_id or company_ref is required"
                  },
                  "mailing_address" : {
                    "$ref" : "#/components/schemas/AddressForRequestBody"
                  },
                  "ref" : {
                    "type" : "string",
                    "description" : "Not required. The ref that will be created for the new company entity"
                  },
                  "vat_numbers" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "country_code" : {
                          "type" : "string",
                          "description" : "ISO 3166 two-letter country code"
                        },
                        "number" : {
                          "type" : "string",
                          "description" : "Full VAT number, including the country code"
                        }
                      }
                    },
                    "description" : "Not required. An array of VAT Numbers for the new company entity."
                  }
                },
                "required" : [ "name", "mailing_address" ]
              },
              "example" : {
                "name" : "Zoomit",
                "mailing_address" : {
                  "street_address" : "1641 Settlers Lane",
                  "street_address_2" : "STE 2918",
                  "city" : "Albany",
                  "state" : "MN",
                  "country" : "United States of America",
                  "country_code" : "US",
                  "zip" : "56307",
                  "unlocode" : "US AL2"
                },
                "company_ref" : "zoomit-management-co",
                "ref" : "my-zoomit-ref",
                "vat_numbers" : [ {
                  "country_code" : "GB",
                  "number" : "GB 123456789"
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The created company entity",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyEntity"
                },
                "examples" : {
                  "response" : {
                    "description" : "Success",
                    "value" : {
                      "_object" : "/api/response",
                      "self" : "https://api.flexport.com/network/company_entities",
                      "version" : 2,
                      "data" : {
                        "_object" : "/company_entity",
                        "id" : 9281,
                        "name" : "Zoomit",
                        "ref" : "my-zoomit-ref",
                        "mailing_address" : {
                          "_object" : "/address",
                          "street_address" : "1641 Settlers Lane",
                          "street_address_2" : "STE 2918",
                          "city" : "Albany",
                          "state" : "MN",
                          "country" : "United States of America",
                          "country_code" : "US",
                          "zip" : "56307",
                          "unlocode" : "US AL2"
                        },
                        "vat_numbers" : [ {
                          "_object" : "/company_entity/vat_number",
                          "country_code" : "GB",
                          "number" : "GB 123456789"
                        } ]
                      },
                      "error" : null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/network/company_entities/{id}" : {
      "get" : {
        "tags" : [ "CompanyEntity" ],
        "operationId" : "network_company_entity_show",
        "summary" : "Retrieve a company entity",
        "description" : "Retrieves the details of a single company entity",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "description" : "The unique id for the requested company entity",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_object" : {
                      "type" : "string",
                      "example" : "/api/response"
                    },
                    "self" : {
                      "type" : "string",
                      "example" : "https://api.flexport.com/network/company_entities/9281"
                    },
                    "version" : {
                      "type" : "integer",
                      "example" : 2
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/CompanyEntity"
                    }
                  }
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "_object" : "/api/response",
                      "self" : "https://api.flexport.com/network/company_entities/9281",
                      "version" : 2,
                      "data" : {
                        "_object" : "/company_entity",
                        "id" : 9281,
                        "name" : "Zoomit",
                        "mailing_address" : {
                          "_object" : "/address",
                          "street_address" : "1641 Settlers Lane",
                          "street_address_2" : "STE 2918",
                          "city" : "Albany",
                          "state" : "MN",
                          "country" : "United States of America",
                          "country_code" : "US",
                          "zip" : "56307",
                          "unlocode" : "US AL2"
                        },
                        "ref" : "zoomit_ref",
                        "vat_numbers" : [ {
                          "_object" : "company_entity/vat_number",
                          "country_code" : "US",
                          "number" : "US 123746396"
                        } ]
                      },
                      "error" : null
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "CompanyEntity" ],
        "operationId" : "network_company_entity_update",
        "summary" : "Update a company entity",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "description" : "The unique id for the requested company entity",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string",
                    "description" : "New legal name of the company entity"
                  },
                  "mailing_address" : {
                    "$ref" : "#/components/schemas/Address"
                  },
                  "ref" : {
                    "type" : "string",
                    "description" : "New ref for the company entity"
                  },
                  "vat_numbers" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "country_code" : {
                          "type" : "string",
                          "description" : "ISO 3166 two-letter country code"
                        },
                        "number" : {
                          "type" : "string",
                          "description" : "Full VAT number, including the country code"
                        }
                      }
                    },
                    "description" : "If a value for vat_numbers is specified, the array specified will replace all the existing VAT numbers of the company entity"
                  }
                }
              },
              "example" : {
                "name" : "Zoomit V2",
                "ref" : "new-ref",
                "vat_numbers" : [ {
                  "country_code" : "US",
                  "number" : "US 123746396"
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_object" : {
                      "type" : "string",
                      "example" : "/api/response"
                    },
                    "self" : {
                      "type" : "string",
                      "example" : "https://api.flexport.com/network/company_entities/9281"
                    },
                    "version" : {
                      "type" : "integer",
                      "example" : 2
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/CompanyEntity"
                    }
                  }
                },
                "examples" : {
                  "response" : {
                    "description" : "Success",
                    "value" : {
                      "_object" : "/api/response",
                      "self" : "https://api.flexport.com/network/company_entities/9281",
                      "version" : 2,
                      "data" : {
                        "_object" : "/company_entity",
                        "id" : 9281,
                        "name" : "Zoomit V2",
                        "mailing_address" : {
                          "_object" : "/address",
                          "street_address" : "1641 Settlers Lane",
                          "street_address_2" : "STE 2918",
                          "city" : "Albany",
                          "state" : "MN",
                          "country" : "United States of America",
                          "country_code" : "US",
                          "zip" : "56307",
                          "unlocode" : "US AL2"
                        },
                        "vat_numbers" : [ {
                          "_object" : "company_entity/vat_number",
                          "country_code" : "US",
                          "number" : "US 123746396"
                        } ]
                      },
                      "error" : null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/network/locations" : {
      "get" : {
        "tags" : [ "Location" ],
        "operationId" : "location_index",
        "summary" : "List of location objects",
        "description" : "Returns a list of location objects in the network.",
        "parameters" : [ {
          "in" : "query",
          "name" : "page",
          "description" : "Page number of the page to retrieve",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "example" : 1,
            "default" : 1,
            "minimum" : 1
          }
        }, {
          "in" : "query",
          "name" : "per",
          "description" : "Count of items in each page. Should be between 1 and 100 (inclusive)",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "example" : 20,
            "default" : 20,
            "minimum" : 1,
            "maximum" : 100
          }
        }, {
          "in" : "query",
          "name" : "f.ref",
          "description" : "The ref for the location.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "f.company_ref",
          "description" : "The ref for a company.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "f.company.id",
          "description" : "The id for a company.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "f.contact.id",
          "description" : "The id for a contact at this location.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "f.metadata.YOUR_METADATA_KEY",
          "description" : "Only return locations that have a specific metadata key-value pair. Multiple metadata filters can be added to a single query. If there are multiple metadata filters each with the same metadata key, then the filter will return locations matching any of the specified metadata values for that metadata key.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of locations",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_object" : {
                      "type" : "string",
                      "example" : "/api/response"
                    },
                    "self" : {
                      "type" : "string",
                      "example" : "https://api.flexport.com/network/locations"
                    },
                    "version" : {
                      "type" : "integer",
                      "example" : 2
                    },
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "_object" : {
                          "type" : "string",
                          "example" : "/api/collections/paginated"
                        },
                        "prev" : {
                          "type" : "string",
                          "example" : "https://api.flexport.com/network/locations?page=1&per=10"
                        },
                        "next" : {
                          "type" : "string",
                          "example" : "https://api.flexport.com/network/locations?page=3&per=10"
                        },
                        "total_count" : {
                          "type" : "integer",
                          "example" : 35
                        },
                        "data" : {
                          "type" : "array",
                          "items" : {
                            "$ref" : "#/components/schemas/Location"
                          }
                        }
                      }
                    }
                  }
                },
                "examples" : {
                  "response" : {
                    "summary" : "Success",
                    "description" : "Success",
                    "value" : {
                      "_object" : "/api/response",
                      "self" : "https://api.flexport.com/network/locations?page=2&per=10",
                      "version" : 2,
                      "data" : {
                        "_object" : "/api/collections/paginated",
                        "prev" : "https://api.flexport.com/network/locations?page=1&per=10",
                        "next" : null,
                        "total_count" : 11,
                        "data" : [ {
                          "_object" : "/network/location",
                          "id" : "f8Rq_ua5RRZQ_Rp41dPC9w",
                          "metadata" : { },
                          "name" : "Wayne Enterprises",
                          "address" : {
                            "_object" : "/address",
                            "street_address" : "1641 Gotham Lane",
                            "street_address_2" : "STE 2918",
                            "city" : "Albany",
                            "state" : "MN",
                            "country" : "United States of America",
                            "country_code" : "US",
                            "zip" : "56307",
                            "unlocode" : "US AL2",
                            "ref" : "wayne_enterprises_ref"
                          },
                          "editable" : true,
                          "contacts" : {
                            "_object" : "/api/refs/collection",
                            "ref_type" : "/network/contacts",
                            "link" : "https://api.flexport.com/network/contacts?f.location.id=f8Rq_ua5RRZQ_Rp41dPC9w"
                          },
                          "company" : {
                            "_object" : "/api/refs/object",
                            "ref_type" : "/network/company",
                            "link" : "https://api.flexport.com/network/companies/abc123",
                            "id" : "abc123"
                          }
                        } ],
                        "error" : null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Location" ],
        "operationId" : "network_location_create",
        "summary" : "Create and return a new location",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string",
                    "description" : "Name of the location"
                  },
                  "company_id" : {
                    "type" : "string",
                    "description" : "The id of the company entity to create this location for"
                  },
                  "address" : {
                    "$ref" : "#/components/schemas/Address"
                  },
                  "contact_ids" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    },
                    "description" : "Array of contact id's to assign to this location"
                  },
                  "ref" : {
                    "type" : "string",
                    "description" : "Not required. The ref that will be created for the new company entity"
                  }
                },
                "required" : [ "name", "company_id", "address" ]
              },
              "example" : {
                "name" : "Zoomit",
                "company_id" : "xyz_123_ABC",
                "address" : {
                  "street_address" : "1641 Settlers Lane",
                  "street_address_2" : "STE 2918",
                  "city" : "Los Angeles",
                  "state" : "CA",
                  "country" : "United States of America",
                  "country_code" : "US",
                  "zip" : "56307",
                  "unlocode" : "USLAX"
                },
                "contact_ids" : [ "asdlkfaiowejfa", "398qehfiaiurh", "yfhvalnertughv" ],
                "ref" : "zoomit-management-co"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The created location",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Location"
                },
                "examples" : {
                  "response" : {
                    "description" : "Success",
                    "value" : {
                      "_object" : "/api/response",
                      "self" : "https://api.flexport.com/network/locations",
                      "version" : 2,
                      "data" : {
                        "_object" : "/network/location",
                        "id" : "f8Rq_ua5RRZQ_Rp41dPC9w",
                        "metadata" : { },
                        "name" : "Zoomit",
                        "address" : {
                          "_object" : "/address",
                          "street_address" : "1641 Settlers Lane",
                          "street_address_2" : "STE 2918",
                          "city" : "Los Angeles",
                          "state" : "CA",
                          "country" : "United States of America",
                          "country_code" : "US",
                          "zip" : "56307",
                          "unlocode" : "USLAX",
                          "timezone" : "America/Los_Angeles",
                          "ref" : "zoomit-management-co"
                        },
                        "editable" : true,
                        "contacts" : {
                          "_object" : "/api/refs/collection",
                          "ref_type" : "/network/contacts",
                          "link" : "https://api.flexport.com/network/contacts?f.location.id=f8Rq_ua5RRZQ_Rp41dPC9w"
                        },
                        "company" : {
                          "_object" : "/api/refs/object",
                          "ref_type" : "/network/company",
                          "link" : "https://api.flexport.com/network/companies/xyz_123_abc",
                          "id" : "xyz_13_zbc"
                        }
                      },
                      "error" : null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/network/locations/{id}" : {
      "get" : {
        "tags" : [ "Location" ],
        "operationId" : "network_location_show",
        "summary" : "Retrieve a location by id",
        "description" : "Retrieves the details of a single location",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "description" : "The unique id for the requested location",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_object" : {
                      "type" : "string",
                      "example" : "/api/response"
                    },
                    "self" : {
                      "type" : "string",
                      "example" : "https://api.flexport.com/network/locations/f8Rq_ua5RRZQ_Rp41dPC9w"
                    },
                    "version" : {
                      "type" : "integer",
                      "example" : 2
                    },
                    "data" : {
                      "$ref" : "#/components/schemas/Location"
                    }
                  }
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "_object" : "/api/response",
                      "self" : "https://api.flexport.com/network/locations/f8Rq_ua5RRZQ_Rp41dPC9w",
                      "version" : 2,
                      "data" : {
                        "_object" : "/network/location",
                        "id" : "f8Rq_ua5RRZQ_Rp41dPC9w",
                        "metadata" : { },
                        "name" : "Wayne Enterprises",
                        "address" : {
                          "_object" : "/address",
                          "street_address" : "1641 Gotham Lane",
                          "street_address_2" : "STE 2918",
                          "city" : "Albany",
                          "state" : "MN",
                          "country" : "United States of America",
                          "country_code" : "US",
                          "zip" : "56307",
                          "unlocode" : "US AL2",
                          "ref" : "wayne_enterprises_ref"
                        },
                        "editable" : true,
                        "contacts" : {
                          "_object" : "/api/refs/collection",
                          "ref_type" : "/network/contacts",
                          "link" : "https://api.flexport.com/network/contacts?f.location.id=f8Rq_ua5RRZQ_Rp41dPC9w"
                        },
                        "company" : {
                          "_object" : "/api/refs/object",
                          "ref_type" : "/network/company",
                          "link" : "https://api.flexport.com/network/companies/abc123",
                          "id" : "abc123"
                        }
                      },
                      "error" : null
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Location" ],
        "operationId" : "location_update",
        "summary" : "Update a network location",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "description" : "The unique id for the requested location",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string",
                    "description" : "New name of the location"
                  },
                  "address" : {
                    "$ref" : "#/components/schemas/Address"
                  },
                  "ref" : {
                    "type" : "string",
                    "description" : "New ref for the location"
                  },
                  "contact_ids" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    },
                    "description" : "If a value for contact_ids is specified, the array specified will replace all the existing contacts at the location"
                  }
                }
              },
              "example" : {
                "name" : "Zoomit V2",
                "contact_ids" : [ "asdlkfaiowejfa" ],
                "ref" : "zoomit-only-one-contact-now"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Location"
                },
                "examples" : {
                  "response" : {
                    "description" : "Success",
                    "value" : {
                      "_object" : "/api/response",
                      "self" : "https://api.flexport.com/network/locations/f8Rq_ua5RRZQ_Rp41dPC9w",
                      "version" : 2,
                      "data" : {
                        "_object" : "/network/location",
                        "id" : "f8Rq_ua5RRZQ_Rp41dPC9w",
                        "metadata" : { },
                        "name" : "Zoomit V2",
                        "address" : {
                          "_object" : "/address",
                          "street_address" : "1641 Settlers Lane",
                          "street_address_2" : "STE 2918",
                          "city" : "Los Angeles",
                          "state" : "CA",
                          "country" : "United States of America",
                          "country_code" : "US",
                          "zip" : "56307",
                          "unlocode" : "USLAX",
                          "timezone" : "America/Los_Angeles",
                          "ref" : "zoomit-only-one-contact-now"
                        },
                        "editable" : true,
                        "contacts" : {
                          "_object" : "/api/refs/collection",
                          "ref_type" : "/network/contacts",
                          "link" : "https://api.flexport.com/network/contacts?f.location.id=f8Rq_ua5RRZQ_Rp41dPC9w"
                        },
                        "company" : {
                          "_object" : "/api/refs/object",
                          "ref_type" : "/network/company",
                          "link" : "https://api.flexport.com/network/companies/xyz_123_abc",
                          "id" : "xyz_13_zbc"
                        }
                      },
                      "error" : null
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Metadata" : {
        "type" : "object",
        "description" : "Set of custom key-values specific to the object. The keys are strings and values are arrays of strings.\n",
        "example" : {
          "purchase_order" : [ "12345" ],
          "sku" : [ "abc123" ]
        }
      },
      "Company" : {
        "type" : "object",
        "properties" : {
          "_object" : {
            "type" : "string",
            "description" : "Type of the object. Always /network/company for this object.",
            "example" : "/network/company"
          },
          "id" : {
            "type" : "string",
            "format" : "string",
            "description" : "Unique identifier for the company"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/Metadata"
          },
          "name" : {
            "type" : "string"
          },
          "ref" : {
            "type" : "string"
          },
          "editable" : {
            "type" : "boolean"
          },
          "entities" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CompanyEntity"
            }
          },
          "locations" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Location"
            }
          },
          "contacts" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Contact"
            }
          }
        }
      },
      "Location" : {
        "type" : "object",
        "properties" : {
          "_object" : {
            "type" : "string",
            "description" : "Type of the object. Always /network/location for this object.",
            "example" : "/network/location"
          },
          "id" : {
            "type" : "string",
            "format" : "string",
            "description" : "Unique identifier for the location"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/Metadata"
          },
          "name" : {
            "type" : "string"
          },
          "address" : {
            "$ref" : "#/components/schemas/Address"
          },
          "editable" : {
            "type" : "boolean"
          },
          "company" : {
            "$ref" : "#/components/schemas/Company"
          },
          "contacts" : {
            "$ref" : "#/components/schemas/Contact"
          },
          "ref" : {
            "type" : "string"
          }
        }
      },
      "Address" : {
        "type" : "object",
        "properties" : {
          "_object" : {
            "type" : "string",
            "description" : "Type of the object",
            "example" : "/address"
          },
          "street_address" : {
            "type" : "string",
            "example" : "1641 Settlers Lane"
          },
          "street_address_2" : {
            "type" : "string",
            "example" : "STE 2918"
          },
          "city" : {
            "type" : "string",
            "example" : "Albany"
          },
          "state" : {
            "type" : "string",
            "example" : "MN"
          },
          "country" : {
            "type" : "string",
            "example" : "United States of America"
          },
          "country_code" : {
            "type" : "string",
            "example" : "US"
          },
          "zip" : {
            "type" : "string",
            "example" : "56307"
          },
          "unlocode" : {
            "type" : "string",
            "example" : "US AL2"
          }
        }
      },
      "AddressForRequestBody" : {
        "type" : "object",
        "properties" : {
          "street_address" : {
            "type" : "string",
            "example" : "1641 Settlers Lane"
          },
          "street_address_2" : {
            "type" : "string",
            "example" : "STE 2918"
          },
          "city" : {
            "type" : "string",
            "example" : "Albany"
          },
          "state" : {
            "type" : "string",
            "example" : "MN"
          },
          "country" : {
            "type" : "string",
            "example" : "United States of America"
          },
          "country_code" : {
            "type" : "string",
            "example" : "US"
          },
          "zip" : {
            "type" : "string",
            "example" : "56307"
          },
          "unlocode" : {
            "type" : "string",
            "example" : "US AL2"
          }
        }
      },
      "Contact" : {
        "type" : "object",
        "properties" : {
          "_object" : {
            "type" : "string",
            "description" : "Type of the object. Always /network/contact for this object.",
            "example" : "/network/contact"
          },
          "id" : {
            "type" : "string",
            "format" : "string",
            "description" : "Unique identifier for the contact"
          },
          "name" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          },
          "phone_number" : {
            "type" : "string"
          },
          "locations" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Location"
            }
          },
          "company" : {
            "$ref" : "#/components/schemas/Company"
          }
        }
      },
      "CompanyEntity" : {
        "type" : "object",
        "properties" : {
          "_object" : {
            "type" : "string",
            "description" : "Type of the object. Always /company_entity for this object.",
            "example" : "/company_entity"
          },
          "id" : {
            "type" : "integer",
            "description" : "Unique identifier for the company entity",
            "example" : 9218
          },
          "name" : {
            "type" : "string",
            "example" : "Zoomit"
          },
          "mailing_address" : {
            "$ref" : "#/components/schemas/Address"
          },
          "ref" : {
            "type" : "string",
            "example" : "my-zoomit-ref"
          },
          "vat_numbers" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/VatNumber"
            }
          }
        }
      },
      "VatNumber" : {
        "type" : "object",
        "properties" : {
          "_object" : {
            "type" : "string",
            "description" : "Type of the object. Always /company_entity/vat_number for this object.",
            "example" : "/company_entity/vat_number"
          },
          "country_code" : {
            "type" : "string",
            "description" : "ISO 3166 two-letter country code",
            "example" : "GB"
          },
          "number" : {
            "type" : "string",
            "description" : "Full VAT number, including the country code",
            "example" : "GB 123456789"
          }
        }
      }
    }
  }
}