{
  "openapi" : "3.0.1",
  "info" : {
    "description" : "Выполняйте запросы последовательно, используя результаты предыдущего шага",
    "version" : "0.2",
    "title" : "Сервис Записи на Прием к Врачу"
  },
  "servers" : [ {
    "url" : "http://r78-rc.zdrav.netrika.ru/Hub24",
    "description" : "Sandbox server (uses test data)"
  }, {
    "url" : "https://api.gorzdrav.spb.ru/Service",
    "description" : "Production server (uses live data)"
  }, {
    "url" : "http://r51-rc.zdrav.netrika.ru/Hub24",
    "description" : "Sandbox server (uses test data)"
  } ],
  "paths" : {
    "/HubService.svc/soap12#1" : {
      "post" : {
        "tags" : [ "GetDistrictList" ],
        "description" : "GetDistrictList - возвращает список районов, без параметров. IdDistrict используется далее в GeLpuList",
        "requestBody" : {
          "content" : {
            "application/soap+xml;charset=UTF-8;action=\"http://tempuri.org/IHubService/GetDistrictList\"" : {
              "schema" : {
                "type" : "string"
              },
              "examples" : {
                "GetDistrictList" : {
                  "value" : "<soap:Envelope\n    xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\"\n    xmlns:tem=\"http://tempuri.org/\">\n    <soap:Header/>\n    <soap:Body>\n        <tem:GetDistrictList>\n            <tem:guid>6b2158a1-56e0-4c09-b70b-139b14ffee14</tem:guid>\n            <tem:idHistory>0</tem:idHistory>\n        </tem:GetDistrictList>\n    </soap:Body>\n</soap:Envelope>"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "application/soap+xml; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://api.gorzdrav.spb.ru/Service"
        }, {
          "url" : "http://r78-rc.zdrav.netrika.ru/Hub24"
        }, {
          "url" : "http://r51-rc.zdrav.netrika.ru/Hub25"
        } ]
      }
    },
    "/HubService.svc/soap12#2" : {
      "post" : {
        "tags" : [ "GetVersion" ],
        "description" : "GetVersion - возвращает версии сервиса и БД",
        "requestBody" : {
          "content" : {
            "application/soap+xml;charset=UTF-8;action=\"http://tempuri.org/IHubService/GetVersion\"" : {
              "schema" : {
                "type" : "string"
              },
              "examples" : {
                "GetVersion" : {
                  "value" : "<soap:Envelope\n    xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\"\n    xmlns:tem=\"http://tempuri.org/\">\n    <soap:Header/>\n    <soap:Body>\n        <tem:GetVersion/>\n    </soap:Body>\n</soap:Envelope>"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "application/soap+xml; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://api.gorzdrav.spb.ru/Service"
        }, {
          "url" : "http://r78-rc.zdrav.netrika.ru/Hub24"
        } ]
      }
    },
    "/HubService.svc/soap12#3" : {
      "post" : {
        "tags" : [ "GetLPUList" ],
        "description" : "GetLPUList - возвращает список МО, параметр idDistrict. IdLPU используется далее в GeSpecialityList",
        "parameters" : [ {
          "name" : "idDistrict",
          "in" : "path",
          "description" : "Номер района от 1 до 18",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/soap+xml;charset=UTF-8;action=\"http://tempuri.org/IHubService/GetLPUList\"" : {
              "schema" : {
                "type" : "string"
              },
              "examples" : {
                "GetLPUList" : {
                  "value" : "<soap:Envelope\n    xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\"\n    xmlns:tem=\"http://tempuri.org/\">\n    <soap:Header/>\n    <soap:Body>\n        <tem:GetLPUList>\n            <tem:idDistrict>{idDistrict}</tem:idDistrict>\n            <tem:guid>6b2158a1-56e0-4c09-b70b-139b14ffee14</tem:guid>\n            <tem:idHistory>0</tem:idHistory>\n        </tem:GetLPUList>\n    </soap:Body>\n</soap:Envelope>"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "application/soap+xml; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://api.gorzdrav.spb.ru/Service"
        }, {
          "url" : "http://r78-rc.zdrav.netrika.ru/Hub24"
        }, {
          "url" : "http://r51-rc.zdrav.netrika.ru/Hub25"
        } ]
      }
    }
  }
}