{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "OfficeGuy API",
    "version" : "v4-oas3"
  },
  "servers" : [ {
    "url" : "https://www.myofficeguy.com"
  } ],
  "paths" : {
    "/api/accounting/customers/create/" : {
      "post" : {
        "tags" : [ "Accounting (Customers)" ],
        "summary" : "Create customer or find existing customer according to SearchMode",
        "operationId" : "AccountingCustomersCreate",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Customers_Create_Request"
                } ],
                "nullable" : true
              },
              "example" : {
                "Details" : {
                  "CompanyNumber" : "514000123",
                  "ExternalIdentifier" : null,
                  "NoVAT" : null,
                  "SearchMode" : null,
                  "Name" : "Danny Dean",
                  "Phone" : "050-1234567",
                  "EmailAddress" : "danny@dean.com",
                  "City" : null,
                  "Address" : null,
                  "ZipCode" : null,
                  "ID" : null,
                  "Folder" : null
                },
                "Credentials" : {
                  "CompanyID" : 12345678,
                  "APIKey" : "L6QWTYzfRmB2V8stL0194GW2yzhbzVXVkJ7Or21GwINYZIjCee"
                }
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Customers_Create_Request"
                } ],
                "nullable" : true
              },
              "example" : {
                "Details" : {
                  "CompanyNumber" : "514000123",
                  "ExternalIdentifier" : null,
                  "NoVAT" : null,
                  "SearchMode" : null,
                  "Name" : "Danny Dean",
                  "Phone" : "050-1234567",
                  "EmailAddress" : "danny@dean.com",
                  "City" : null,
                  "Address" : null,
                  "ZipCode" : null,
                  "ID" : null,
                  "Folder" : null
                },
                "Credentials" : {
                  "CompanyID" : 12345678,
                  "APIKey" : "L6QWTYzfRmB2V8stL0194GW2yzhbzVXVkJ7Or21GwINYZIjCee"
                }
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Customers_Create_Request"
                } ],
                "nullable" : true
              },
              "example" : {
                "Details" : {
                  "CompanyNumber" : "514000123",
                  "ExternalIdentifier" : null,
                  "NoVAT" : null,
                  "SearchMode" : null,
                  "Name" : "Danny Dean",
                  "Phone" : "050-1234567",
                  "EmailAddress" : "danny@dean.com",
                  "City" : null,
                  "Address" : null,
                  "ZipCode" : null,
                  "ID" : null,
                  "Folder" : null
                },
                "Credentials" : {
                  "CompanyID" : 12345678,
                  "APIKey" : "L6QWTYzfRmB2V8stL0194GW2yzhbzVXVkJ7Or21GwINYZIjCee"
                }
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Customers_Create_Request"
                } ],
                "nullable" : true
              },
              "example" : {
                "Details" : {
                  "CompanyNumber" : "514000123",
                  "ExternalIdentifier" : null,
                  "NoVAT" : null,
                  "SearchMode" : null,
                  "Name" : "Danny Dean",
                  "Phone" : "050-1234567",
                  "EmailAddress" : "danny@dean.com",
                  "City" : null,
                  "Address" : null,
                  "ZipCode" : null,
                  "ID" : null,
                  "Folder" : null
                },
                "Credentials" : {
                  "CompanyID" : 12345678,
                  "APIKey" : "L6QWTYzfRmB2V8stL0194GW2yzhbzVXVkJ7Or21GwINYZIjCee"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Customers_Create_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Customers_Create_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Customers_Create_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounting/customers/update/" : {
      "post" : {
        "tags" : [ "Accounting (Customers)" ],
        "summary" : "Create customer or find existing customer according to SearchMode",
        "operationId" : "AccountingCustomersUpdate",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Customers_Create_Request"
                } ],
                "nullable" : true
              },
              "example" : {
                "Details" : {
                  "CompanyNumber" : "514000123",
                  "ExternalIdentifier" : null,
                  "NoVAT" : null,
                  "SearchMode" : null,
                  "Name" : "Danny Dean",
                  "Phone" : "050-1234567",
                  "EmailAddress" : "danny@dean.com",
                  "City" : null,
                  "Address" : null,
                  "ZipCode" : null,
                  "ID" : null,
                  "Folder" : null
                },
                "Credentials" : {
                  "CompanyID" : 12345678,
                  "APIKey" : "Vvru04aOXTqNfvFgIC0T2JzlCmtxSgGUxKzceqI3oTUXQYcRJs"
                }
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Customers_Create_Request"
                } ],
                "nullable" : true
              },
              "example" : {
                "Details" : {
                  "CompanyNumber" : "514000123",
                  "ExternalIdentifier" : null,
                  "NoVAT" : null,
                  "SearchMode" : null,
                  "Name" : "Danny Dean",
                  "Phone" : "050-1234567",
                  "EmailAddress" : "danny@dean.com",
                  "City" : null,
                  "Address" : null,
                  "ZipCode" : null,
                  "ID" : null,
                  "Folder" : null
                },
                "Credentials" : {
                  "CompanyID" : 12345678,
                  "APIKey" : "Vvru04aOXTqNfvFgIC0T2JzlCmtxSgGUxKzceqI3oTUXQYcRJs"
                }
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Customers_Create_Request"
                } ],
                "nullable" : true
              },
              "example" : {
                "Details" : {
                  "CompanyNumber" : "514000123",
                  "ExternalIdentifier" : null,
                  "NoVAT" : null,
                  "SearchMode" : null,
                  "Name" : "Danny Dean",
                  "Phone" : "050-1234567",
                  "EmailAddress" : "danny@dean.com",
                  "City" : null,
                  "Address" : null,
                  "ZipCode" : null,
                  "ID" : null,
                  "Folder" : null
                },
                "Credentials" : {
                  "CompanyID" : 12345678,
                  "APIKey" : "Vvru04aOXTqNfvFgIC0T2JzlCmtxSgGUxKzceqI3oTUXQYcRJs"
                }
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Customers_Create_Request"
                } ],
                "nullable" : true
              },
              "example" : {
                "Details" : {
                  "CompanyNumber" : "514000123",
                  "ExternalIdentifier" : null,
                  "NoVAT" : null,
                  "SearchMode" : null,
                  "Name" : "Danny Dean",
                  "Phone" : "050-1234567",
                  "EmailAddress" : "danny@dean.com",
                  "City" : null,
                  "Address" : null,
                  "ZipCode" : null,
                  "ID" : null,
                  "Folder" : null
                },
                "Credentials" : {
                  "CompanyID" : 12345678,
                  "APIKey" : "Vvru04aOXTqNfvFgIC0T2JzlCmtxSgGUxKzceqI3oTUXQYcRJs"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Customers_Update_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Customers_Update_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Customers_Update_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounting/documents/send/" : {
      "post" : {
        "tags" : [ "Accounting (Documents)" ],
        "summary" : "Send document by email",
        "description" : "Documents can be located either using DocumentID (EntityID), or a combination of DocumentType and DocumentNumber.",
        "operationId" : "AccountingDocumentsSend",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_Send_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_Send_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_Send_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_Send_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Core_APIEmptyResponse"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Core_APIEmptyResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Core_APIEmptyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounting/documents/getpdf/" : {
      "post" : {
        "tags" : [ "Accounting (Documents)" ],
        "summary" : "Get document PDF",
        "description" : "Documents can be located either using DocumentID, or a combination of DocumentType and DocumentNumber.",
        "operationId" : "AccountingDocumentsGetPDF",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_GetPDF_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_GetPDF_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_GetPDF_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_GetPDF_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/api/accounting/documents/getdetails/" : {
      "post" : {
        "tags" : [ "Accounting (Documents)" ],
        "summary" : "Get document details",
        "description" : "Documents can be located either using DocumentID, or a combination of DocumentType and DocumentNumber.",
        "operationId" : "AccountingDocumentsGetDetails",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_GetDetails_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_GetDetails_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_GetDetails_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_GetDetails_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Documents_GetDetails_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Documents_GetDetails_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Documents_GetDetails_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounting/documents/create/" : {
      "post" : {
        "tags" : [ "Accounting (Documents)" ],
        "summary" : "Create document",
        "description" : "Creates an invoice, receipt, donation receipt, price quotation or any other accounting document.",
        "operationId" : "AccountingDocumentsCreate",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_Create_Request"
                } ],
                "nullable" : true
              },
              "example" : {
                "Details" : {
                  "IsDraft" : null,
                  "Date" : null,
                  "Customer" : {
                    "CompanyNumber" : null,
                    "ExternalIdentifier" : null,
                    "NoVAT" : null,
                    "SearchMode" : 0,
                    "Name" : "Danny Dean",
                    "Phone" : null,
                    "EmailAddress" : "danny@dean.com",
                    "City" : null,
                    "Address" : null,
                    "ZipCode" : null,
                    "ID" : null,
                    "Folder" : null
                  },
                  "SendByEmail" : {
                    "EmailAddress" : "danny@dean.com",
                    "Original" : true,
                    "SendAsPaymentRequest" : false
                  },
                  "Language" : null,
                  "Currency" : null,
                  "Type" : 1,
                  "Description" : null
                },
                "Items" : [ {
                  "Quantity" : 2,
                  "UnitPrice" : 50,
                  "TotalPrice" : 100,
                  "DocumentCurrency_UnitPrice" : null,
                  "DocumentCurrency_TotalPrice" : null,
                  "Item" : {
                    "ID" : null,
                    "Name" : "My Product",
                    "Price" : null,
                    "Currency" : null,
                    "Cost" : null,
                    "ExternalIdentifier" : null,
                    "SearchMode" : 0
                  },
                  "Description" : null
                } ],
                "Payments" : [ {
                  "Amount" : 100,
                  "DocumentCurrency_Amount" : null,
                  "Details_General" : null,
                  "Details_Cash" : null,
                  "Details_BankTransfer" : null,
                  "Details_Cheque" : null,
                  "Details_CreditCard" : {
                    "CardBrand" : null,
                    "Last4Digits" : "1234"
                  },
                  "Details_Other" : null,
                  "Details_Digital" : null,
                  "Details_TaxWithholding" : null
                } ],
                "VATIncluded" : true,
                "VATRate" : null,
                "OriginalDocumentID" : null,
                "Credentials" : {
                  "CompanyID" : 12345678,
                  "APIKey" : "zXCAcCv5hEAdwrDLPKvc2StxfYoRKd9SeZgjInhngY84tBWdK5"
                }
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_Create_Request"
                } ],
                "nullable" : true
              },
              "example" : {
                "Details" : {
                  "IsDraft" : null,
                  "Date" : null,
                  "Customer" : {
                    "CompanyNumber" : null,
                    "ExternalIdentifier" : null,
                    "NoVAT" : null,
                    "SearchMode" : 0,
                    "Name" : "Danny Dean",
                    "Phone" : null,
                    "EmailAddress" : "danny@dean.com",
                    "City" : null,
                    "Address" : null,
                    "ZipCode" : null,
                    "ID" : null,
                    "Folder" : null
                  },
                  "SendByEmail" : {
                    "EmailAddress" : "danny@dean.com",
                    "Original" : true,
                    "SendAsPaymentRequest" : false
                  },
                  "Language" : null,
                  "Currency" : null,
                  "Type" : 1,
                  "Description" : null
                },
                "Items" : [ {
                  "Quantity" : 2,
                  "UnitPrice" : 50,
                  "TotalPrice" : 100,
                  "DocumentCurrency_UnitPrice" : null,
                  "DocumentCurrency_TotalPrice" : null,
                  "Item" : {
                    "ID" : null,
                    "Name" : "My Product",
                    "Price" : null,
                    "Currency" : null,
                    "Cost" : null,
                    "ExternalIdentifier" : null,
                    "SearchMode" : 0
                  },
                  "Description" : null
                } ],
                "Payments" : [ {
                  "Amount" : 100,
                  "DocumentCurrency_Amount" : null,
                  "Details_General" : null,
                  "Details_Cash" : null,
                  "Details_BankTransfer" : null,
                  "Details_Cheque" : null,
                  "Details_CreditCard" : {
                    "CardBrand" : null,
                    "Last4Digits" : "1234"
                  },
                  "Details_Other" : null,
                  "Details_Digital" : null,
                  "Details_TaxWithholding" : null
                } ],
                "VATIncluded" : true,
                "VATRate" : null,
                "OriginalDocumentID" : null,
                "Credentials" : {
                  "CompanyID" : 12345678,
                  "APIKey" : "zXCAcCv5hEAdwrDLPKvc2StxfYoRKd9SeZgjInhngY84tBWdK5"
                }
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_Create_Request"
                } ],
                "nullable" : true
              },
              "example" : {
                "Details" : {
                  "IsDraft" : null,
                  "Date" : null,
                  "Customer" : {
                    "CompanyNumber" : null,
                    "ExternalIdentifier" : null,
                    "NoVAT" : null,
                    "SearchMode" : 0,
                    "Name" : "Danny Dean",
                    "Phone" : null,
                    "EmailAddress" : "danny@dean.com",
                    "City" : null,
                    "Address" : null,
                    "ZipCode" : null,
                    "ID" : null,
                    "Folder" : null
                  },
                  "SendByEmail" : {
                    "EmailAddress" : "danny@dean.com",
                    "Original" : true,
                    "SendAsPaymentRequest" : false
                  },
                  "Language" : null,
                  "Currency" : null,
                  "Type" : 1,
                  "Description" : null
                },
                "Items" : [ {
                  "Quantity" : 2,
                  "UnitPrice" : 50,
                  "TotalPrice" : 100,
                  "DocumentCurrency_UnitPrice" : null,
                  "DocumentCurrency_TotalPrice" : null,
                  "Item" : {
                    "ID" : null,
                    "Name" : "My Product",
                    "Price" : null,
                    "Currency" : null,
                    "Cost" : null,
                    "ExternalIdentifier" : null,
                    "SearchMode" : 0
                  },
                  "Description" : null
                } ],
                "Payments" : [ {
                  "Amount" : 100,
                  "DocumentCurrency_Amount" : null,
                  "Details_General" : null,
                  "Details_Cash" : null,
                  "Details_BankTransfer" : null,
                  "Details_Cheque" : null,
                  "Details_CreditCard" : {
                    "CardBrand" : null,
                    "Last4Digits" : "1234"
                  },
                  "Details_Other" : null,
                  "Details_Digital" : null,
                  "Details_TaxWithholding" : null
                } ],
                "VATIncluded" : true,
                "VATRate" : null,
                "OriginalDocumentID" : null,
                "Credentials" : {
                  "CompanyID" : 12345678,
                  "APIKey" : "zXCAcCv5hEAdwrDLPKvc2StxfYoRKd9SeZgjInhngY84tBWdK5"
                }
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_Create_Request"
                } ],
                "nullable" : true
              },
              "example" : {
                "Details" : {
                  "IsDraft" : null,
                  "Date" : null,
                  "Customer" : {
                    "CompanyNumber" : null,
                    "ExternalIdentifier" : null,
                    "NoVAT" : null,
                    "SearchMode" : 0,
                    "Name" : "Danny Dean",
                    "Phone" : null,
                    "EmailAddress" : "danny@dean.com",
                    "City" : null,
                    "Address" : null,
                    "ZipCode" : null,
                    "ID" : null,
                    "Folder" : null
                  },
                  "SendByEmail" : {
                    "EmailAddress" : "danny@dean.com",
                    "Original" : true,
                    "SendAsPaymentRequest" : false
                  },
                  "Language" : null,
                  "Currency" : null,
                  "Type" : 1,
                  "Description" : null
                },
                "Items" : [ {
                  "Quantity" : 2,
                  "UnitPrice" : 50,
                  "TotalPrice" : 100,
                  "DocumentCurrency_UnitPrice" : null,
                  "DocumentCurrency_TotalPrice" : null,
                  "Item" : {
                    "ID" : null,
                    "Name" : "My Product",
                    "Price" : null,
                    "Currency" : null,
                    "Cost" : null,
                    "ExternalIdentifier" : null,
                    "SearchMode" : 0
                  },
                  "Description" : null
                } ],
                "Payments" : [ {
                  "Amount" : 100,
                  "DocumentCurrency_Amount" : null,
                  "Details_General" : null,
                  "Details_Cash" : null,
                  "Details_BankTransfer" : null,
                  "Details_Cheque" : null,
                  "Details_CreditCard" : {
                    "CardBrand" : null,
                    "Last4Digits" : "1234"
                  },
                  "Details_Other" : null,
                  "Details_Digital" : null,
                  "Details_TaxWithholding" : null
                } ],
                "VATIncluded" : true,
                "VATRate" : null,
                "OriginalDocumentID" : null,
                "Credentials" : {
                  "CompanyID" : 12345678,
                  "APIKey" : "zXCAcCv5hEAdwrDLPKvc2StxfYoRKd9SeZgjInhngY84tBWdK5"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Documents_Create_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Documents_Create_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Documents_Create_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounting/documents/addexpense/" : {
      "post" : {
        "tags" : [ "Accounting (Documents)" ],
        "summary" : "Add expense",
        "operationId" : "AccountingDocumentsAddExpense",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_AddExpense_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_AddExpense_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_AddExpense_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_AddExpense_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Documents_AddExpense_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Documents_AddExpense_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Documents_AddExpense_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounting/documents/cancel/" : {
      "post" : {
        "tags" : [ "Accounting (Documents)" ],
        "summary" : "Cancel document (Also known as storno).",
        "description" : "Please note cancelling documents is allowed within the same calendar day of the document creation date.",
        "operationId" : "AccountingDocumentsCancel",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_Cancel_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_Cancel_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_Cancel_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_Cancel_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Documents_Cancel_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Documents_Cancel_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Documents_Cancel_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounting/documents/movetobooks/" : {
      "post" : {
        "tags" : [ "Accounting (Documents)" ],
        "summary" : "Move document to books (Finalize a draft document).",
        "operationId" : "AccountingDocumentsMoveToBooks",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_MoveToBooks_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_MoveToBooks_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_MoveToBooks_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_Documents_MoveToBooks_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Documents_MoveToBooks_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Documents_MoveToBooks_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_Documents_MoveToBooks_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounting/general/verifybankaccount/" : {
      "post" : {
        "tags" : [ "Accounting (General)" ],
        "summary" : "Verify bank account details",
        "operationId" : "AccountingGeneralVerifyBankAccount",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_VerifyBankAccount_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_VerifyBankAccount_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_VerifyBankAccount_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_VerifyBankAccount_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_General_VerifyBankAccount_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_General_VerifyBankAccount_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_General_VerifyBankAccount_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounting/general/getvatrate/" : {
      "post" : {
        "tags" : [ "Accounting (General)" ],
        "summary" : "Get VAT rate by date",
        "operationId" : "AccountingGeneralGetVATRate",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_GetVATRate_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_GetVATRate_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_GetVATRate_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_GetVATRate_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_General_GetVATRate_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_General_GetVATRate_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_General_GetVATRate_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounting/general/getexchangerate/" : {
      "post" : {
        "tags" : [ "Accounting (General)" ],
        "summary" : "Get foreign currency exchange rate",
        "operationId" : "AccountingGeneralGetExchangeRate",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_GetExchangeRate_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_GetExchangeRate_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_GetExchangeRate_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_GetExchangeRate_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_General_GetExchangeRate_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_General_GetExchangeRate_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_General_GetExchangeRate_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounting/general/updatesettings/" : {
      "post" : {
        "tags" : [ "Accounting (General)" ],
        "summary" : "Update accounting application settings",
        "operationId" : "AccountingGeneralUpdateSettings",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_UpdateSettings_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_UpdateSettings_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_UpdateSettings_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_UpdateSettings_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_General_UpdateSettings_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_General_UpdateSettings_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_General_UpdateSettings_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounting/general/setnextdocumentnumber/" : {
      "post" : {
        "tags" : [ "Accounting (General)" ],
        "summary" : "Sets the next document number for a document type.",
        "operationId" : "AccountingGeneralSetNextDocumentNumber",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_SetNextDocumentNumber_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_SetNextDocumentNumber_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_SetNextDocumentNumber_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_General_SetNextDocumentNumber_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_General_SetNextDocumentNumber_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_General_SetNextDocumentNumber_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_General_SetNextDocumentNumber_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounting/incomeitems/create/" : {
      "post" : {
        "tags" : [ "Accounting (IncomeItems)" ],
        "summary" : "Create income item",
        "operationId" : "AccountingIncomeItemsCreate",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_IncomeItems_Create_Request"
                } ],
                "nullable" : true
              },
              "example" : {
                "IncomeItem" : {
                  "ID" : null,
                  "Name" : "My Item",
                  "Price" : 500,
                  "Currency" : null,
                  "Cost" : 200,
                  "ExternalIdentifier" : null,
                  "SearchMode" : null
                },
                "Credentials" : {
                  "CompanyID" : 12345678,
                  "APIKey" : "8IVgqWdEU4OTl34hzMAT2cc8wUJp4U1B7FUrxxj954IdPCm4zB"
                }
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_IncomeItems_Create_Request"
                } ],
                "nullable" : true
              },
              "example" : {
                "IncomeItem" : {
                  "ID" : null,
                  "Name" : "My Item",
                  "Price" : 500,
                  "Currency" : null,
                  "Cost" : 200,
                  "ExternalIdentifier" : null,
                  "SearchMode" : null
                },
                "Credentials" : {
                  "CompanyID" : 12345678,
                  "APIKey" : "8IVgqWdEU4OTl34hzMAT2cc8wUJp4U1B7FUrxxj954IdPCm4zB"
                }
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_IncomeItems_Create_Request"
                } ],
                "nullable" : true
              },
              "example" : {
                "IncomeItem" : {
                  "ID" : null,
                  "Name" : "My Item",
                  "Price" : 500,
                  "Currency" : null,
                  "Cost" : 200,
                  "ExternalIdentifier" : null,
                  "SearchMode" : null
                },
                "Credentials" : {
                  "CompanyID" : 12345678,
                  "APIKey" : "8IVgqWdEU4OTl34hzMAT2cc8wUJp4U1B7FUrxxj954IdPCm4zB"
                }
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Accounting_IncomeItems_Create_Request"
                } ],
                "nullable" : true
              },
              "example" : {
                "IncomeItem" : {
                  "ID" : null,
                  "Name" : "My Item",
                  "Price" : 500,
                  "Currency" : null,
                  "Cost" : 200,
                  "ExternalIdentifier" : null,
                  "SearchMode" : null
                },
                "Credentials" : {
                  "CompanyID" : 12345678,
                  "APIKey" : "8IVgqWdEU4OTl34hzMAT2cc8wUJp4U1B7FUrxxj954IdPCm4zB"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_IncomeItems_Create_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_IncomeItems_Create_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Accounting_IncomeItems_Create_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/creditguy/billing/load/" : {
      "post" : {
        "tags" : [ "Credit card terminal (Billing)" ],
        "summary" : "Load billing transactions",
        "operationId" : "CreditGuyBillingLoad",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Billing_Load_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Billing_Load_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Billing_Load_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Billing_Load_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Billing_Load_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Billing_Load_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Billing_Load_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/creditguy/billing/process/" : {
      "post" : {
        "tags" : [ "Credit card terminal (Billing)" ],
        "summary" : "Process loaded billing transactions.",
        "description" : "Please note, once process has started, it can't be stopped, and no additional transactions can be loaded.",
        "operationId" : "CreditGuyBillingProcess",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Billing_Process_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Billing_Process_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Billing_Process_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Billing_Process_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Billing_Process_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Billing_Process_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Billing_Process_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/creditguy/billing/getstatus/" : {
      "post" : {
        "tags" : [ "Credit card terminal (Billing)" ],
        "summary" : "Get billing process status",
        "operationId" : "CreditGuyBillingGetStatus",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Billing_GetStatus_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Billing_GetStatus_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Billing_GetStatus_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Billing_GetStatus_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Billing_GetStatus_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Billing_GetStatus_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Billing_GetStatus_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/creditguy/gateway/transaction/" : {
      "post" : {
        "tags" : [ "Credit card terminal (Gateway)" ],
        "summary" : "Credit card transaction",
        "description" : "This method should be used in rare occasions.\r\nFor common use scenarios, refer to \"Payments -> Charge customer\" method.",
        "operationId" : "CreditGuyGatewayTransaction",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Gateway_Transaction_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Gateway_Transaction_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Gateway_Transaction_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Gateway_Transaction_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Gateway_Transaction_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Gateway_Transaction_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Gateway_Transaction_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/creditguy/gateway/gettransaction/" : {
      "post" : {
        "tags" : [ "Credit card terminal (Gateway)" ],
        "summary" : "Get existing transaction details",
        "operationId" : "CreditGuyGatewayGetTransaction",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Gateway_GetTransaction_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Gateway_GetTransaction_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Gateway_GetTransaction_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Gateway_GetTransaction_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Gateway_GetTransaction_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Gateway_GetTransaction_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Gateway_GetTransaction_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/creditguy/gateway/beginredirect/" : {
      "post" : {
        "tags" : [ "Credit card terminal (Gateway)" ],
        "summary" : "Begin redirect for transaction",
        "operationId" : "CreditGuyGatewayBeginRedirect",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Gateway_BeginRedirect_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Gateway_BeginRedirect_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Gateway_BeginRedirect_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Gateway_BeginRedirect_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Gateway_BeginRedirect_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Gateway_BeginRedirect_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Gateway_BeginRedirect_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/creditguy/gateway/getreferencenumbers/" : {
      "post" : {
        "tags" : [ "Credit card terminal (Gateway)" ],
        "summary" : "Get reference numbers for existing transactions",
        "operationId" : "CreditGuyGatewayGetReferenceNumbers",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Gateway_GetReferenceNumbers_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Gateway_GetReferenceNumbers_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Gateway_GetReferenceNumbers_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Gateway_GetReferenceNumbers_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Gateway_GetReferenceNumbers_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Gateway_GetReferenceNumbers_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Gateway_GetReferenceNumbers_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/creditguy/vault/tokenize/" : {
      "post" : {
        "tags" : [ "Credit card terminal (Vault)" ],
        "summary" : "Tokenize card (card number->token)",
        "operationId" : "CreditGuyVaultTokenize",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Vault_Tokenize_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Vault_Tokenize_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Vault_Tokenize_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Vault_Tokenize_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Vault_Tokenize_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Vault_Tokenize_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Vault_Tokenize_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/creditguy/vault/tokenizesingleuse/" : {
      "post" : {
        "tags" : [ "Credit card terminal (Vault)" ],
        "summary" : "Tokenize payment details (Card Number, Expiration, CVV, CitizenID) for single usage.",
        "description" : "Used primarily by the Payments JavaScript API.",
        "operationId" : "CreditGuyVaultTokenizeSingleUse",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "required" : [ "CardNumber", "ExpirationMonth", "ExpirationYear" ],
                "type" : "object",
                "properties" : {
                  "CardNumber" : {
                    "type" : "string"
                  },
                  "ExpirationMonth" : {
                    "type" : "integer",
                    "format" : "int32"
                  },
                  "ExpirationYear" : {
                    "type" : "integer",
                    "format" : "int32"
                  },
                  "CVV" : {
                    "type" : "string",
                    "nullable" : true
                  },
                  "CitizenID" : {
                    "type" : "string",
                    "nullable" : true
                  },
                  "Credentials.CompanyID" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "Credentials.APIPublicKey" : {
                    "type" : "string",
                    "nullable" : true
                  },
                  "ResponseLanguage" : {
                    "type" : "string",
                    "nullable" : true,
                    "deprecated" : true
                  }
                }
              },
              "encoding" : {
                "CardNumber" : {
                  "style" : "form"
                },
                "ExpirationMonth" : {
                  "style" : "form"
                },
                "ExpirationYear" : {
                  "style" : "form"
                },
                "CVV" : {
                  "style" : "form"
                },
                "CitizenID" : {
                  "style" : "form"
                },
                "Credentials.CompanyID" : {
                  "style" : "form"
                },
                "Credentials.APIPublicKey" : {
                  "style" : "form"
                },
                "ResponseLanguage" : {
                  "style" : "form"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Vault_TokenizeSingleUse_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Vault_TokenizeSingleUse_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Vault_TokenizeSingleUse_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/creditguy/vault/tokenizesingleusejson/" : {
      "post" : {
        "tags" : [ "Credit card terminal (Vault)" ],
        "summary" : "Tokenize payment details (Card Number, Expiration, CVV, CitizenID) for single usage.",
        "description" : "Used primarily by the Payments JavaScript API.",
        "operationId" : "CreditGuyVaultTokenizeSingleUseJSON",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Vault_TokenizeSingleUse_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Vault_TokenizeSingleUse_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Vault_TokenizeSingleUse_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CreditGuy_Vault_TokenizeSingleUse_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Vault_TokenizeSingleUse_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Vault_TokenizeSingleUse_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CreditGuy_Vault_TokenizeSingleUse_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/crm/data/createentity/" : {
      "post" : {
        "tags" : [ "CRM (Data)" ],
        "summary" : "Create entity",
        "operationId" : "CRMDataCreateEntity",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_CreateEntity_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_CreateEntity_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_CreateEntity_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_CreateEntity_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CRM_Data_CreateEntity_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CRM_Data_CreateEntity_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CRM_Data_CreateEntity_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/crm/data/updateentity/" : {
      "post" : {
        "tags" : [ "CRM (Data)" ],
        "summary" : "Update entity",
        "operationId" : "CRMDataUpdateEntity",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_UpdateEntity_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_UpdateEntity_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_UpdateEntity_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_UpdateEntity_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CRM_Data_UpdateEntity_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CRM_Data_UpdateEntity_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CRM_Data_UpdateEntity_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/crm/data/archiveentity/" : {
      "post" : {
        "tags" : [ "CRM (Data)" ],
        "summary" : "Archive entity",
        "operationId" : "CRMDataArchiveEntity",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_ArchiveEntity_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_ArchiveEntity_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_ArchiveEntity_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_ArchiveEntity_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Core_APIEmptyResponse"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Core_APIEmptyResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Core_APIEmptyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/crm/data/deleteentity/" : {
      "post" : {
        "tags" : [ "CRM (Data)" ],
        "summary" : "Delete entity",
        "operationId" : "CRMDataDeleteEntity",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_DeleteEntity_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_DeleteEntity_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_DeleteEntity_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_DeleteEntity_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Core_APIEmptyResponse"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Core_APIEmptyResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Core_APIEmptyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/crm/data/listentities/" : {
      "post" : {
        "tags" : [ "CRM (Data)" ],
        "summary" : "List entities",
        "operationId" : "CRMDataListEntities",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_ListEntities_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_ListEntities_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_ListEntities_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_ListEntities_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CRM_Data_ListEntities_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CRM_Data_ListEntities_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CRM_Data_ListEntities_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/crm/data/getentity/" : {
      "post" : {
        "tags" : [ "CRM (Data)" ],
        "summary" : "Get entity",
        "operationId" : "CRMDataGetEntity",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_GetEntity_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_GetEntity_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_GetEntity_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_GetEntity_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CRM_Data_GetEntity_Response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CRM_Data_GetEntity_Response"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_CRM_Data_GetEntity_Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/crm/data/countentityusage/" : {
      "post" : {
        "tags" : [ "CRM (Data)" ],
        "summary" : "Count entity usage",
        "operationId" : "CRMDataCountEntityUsage",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_CountEntityUsage_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_CountEntityUsage_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_CountEntityUsage_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_CountEntityUsage_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_System.Int64"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_System.Int64"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_System.Int64"
                }
              }
            }
          }
        }
      }
    },
    "/api/crm/data/getentityprinthtml/" : {
      "post" : {
        "tags" : [ "CRM (Data)" ],
        "summary" : "Get entity HTML contents for print",
        "operationId" : "CRMDataGetEntityPrintHTML",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_GetEntityPrintHTML_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_GetEntityPrintHTML_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_GetEntityPrintHTML_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_GetEntityPrintHTML_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/api/crm/data/getentitieshtml/" : {
      "post" : {
        "tags" : [ "CRM (Data)" ],
        "summary" : "Get entities HTML contents for print",
        "operationId" : "CRMDataGetEntitiesHTML",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
          "description" : "Sets the content response language. Defaults to Hebrew (he).",
          "schema" : {
            "$ref" : "#/components/schemas/ContentLanguage"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_GetEntitiesHTML_Request"
                } ],
                "nullable" : true
              }
            },
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_GetEntitiesHTML_Request"
                } ],
                "nullable" : true
              }
            },
            "text/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_GetEntitiesHTML_Request"
                } ],
                "nullable" : true
              }
            },
            "application/*+json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/CRM_Data_GetEntitiesHTML_Request"
                } ],
                "nullable" : true
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/api/crm/schema/getfolder/" : {
      "post" : {
        "tags" : [ "CRM (Schema)" ],
        "summary" : "Get folder details",
        "operationId" : "CRMSchemaGetFolder",
        "parameters" : [ {
          "name" : "Content-Language",
          "in" : "header",
[...]
