{
  "openapi" : "3.0.0",
  "servers" : [ {
    "description" : "Production API Server",
    "url" : "https://production.onlinenotary.net/api/v1"
  } ],
  "info" : {
    "version" : "1.0",
    "title" : "OnlineNotary.net",
    "description" : "Online Notary API Documentation"
  },
  "paths" : {
    "/client/upload" : {
      "post" : {
        "tags" : [ "Document" ],
        "summary" : "Upload Documents and Assign Signers",
        "description" : "First step to initial a signing and a Notary process with OnlineNotary.net.",
        "responses" : {
          "200" : {
            "description" : "successfully sent the document to the signers to be notarized"
          },
          "400" : {
            "description" : "invalid input, object invalid"
          },
          "404" : {
            "description" : "bad request"
          },
          "500" : {
            "description" : "server error"
          }
        },
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/Documents"
              }
            }
          },
          "description" : "Document to add. It must be a .pdf or .doc file."
        }
      }
    },
    "/client/document/{document_uuid}" : {
      "get" : {
        "tags" : [ "Document" ],
        "summary" : "Get Document Status Updates",
        "description" : "Provides a current status of a notary event",
        "parameters" : [ {
          "in" : "query",
          "name" : "api_token",
          "description" : "API token to initial a Notary Request or perform Document Status check.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kbbAz7yYEKQBIcp3EMWZLPZn96xdVOQwb02KrGTR4Mcs9scf"
        }, {
          "in" : "path",
          "name" : "document_uuid",
          "required" : true,
          "description" : "Document uuid",
          "schema" : {
            "type" : "string",
            "example" : "d290f1ee-6c54-4b01-90e6-d701748f0851"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DocumentInfo"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "DocumentInfo" : {
        "type" : "object",
        "required" : [ "document_id", "document_uuid", "from_api", "user_id", "notary_type" ],
        "properties" : {
          "uuid" : {
            "type" : "string",
            "format" : "uuid",
            "example" : "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "md5" : {
            "type" : "string",
            "example" : "26a9b96d0aa95d431bfec1d9e30ba80c"
          },
          "sha1" : {
            "type" : "string",
            "example" : "295466614aadeac8a75c67269ebefa7aff15bd34"
          },
          "file" : {
            "type" : "string",
            "example" : "26a9b96d0aa95d431bfec1d9e30ba80c.pdf"
          },
          "title" : {
            "type" : "string",
            "example" : "test.pdf"
          },
          "created_at" : {
            "format" : "date-time",
            "example" : "2017-07-21T17:32:28Z"
          },
          "completed_on" : {
            "format" : "date-time",
            "example" : "2020-05-06 09:00:44.000000"
          },
          "conference_on" : {
            "format" : "date-time",
            "example" : "2020-05-06 09:00:44.000000"
          },
          "cancel" : {
            "format" : "boolean",
            "example" : true
          },
          "signers" : {
            "$ref" : "#/components/schemas/SignerInfo"
          }
        }
      },
      "SignerInfo" : {
        "required" : [ "fullname", "email", "phone" ],
        "properties" : {
          "fullname" : {
            "type" : "string",
            "example" : "Signers Name"
          },
          "email" : {
            "type" : "string",
            "format" : "email",
            "example" : "test@gmail.com"
          },
          "phone" : {
            "type" : "string",
            "example" : "412-000-0000"
          },
          "uuid" : {
            "type" : "string",
            "format" : "uuid",
            "example" : "BE3EA810-8FB2-11EA-89E4"
          },
          "video_url" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://s3.amazonaws.com/video/archive.mp4"
          }
        },
        "type" : "object"
      },
      "Documents" : {
        "type" : "object",
        "required" : [ "document", "name", "manufacturer", "releaseDate" ],
        "properties" : {
          "document" : {
            "type" : "string",
            "format" : "binary"
          },
          "signers[0][fullname]" : {
            "type" : "string"
          },
          "signers[0][email]" : {
            "type" : "string"
          },
          "signers[0][[phone]" : {
            "type" : "string"
          },
          "recipients[0][fullname]" : {
            "type" : "string"
          },
          "recipients[0][email]" : {
            "type" : "string"
          }
        }
      },
      "Signers" : {
        "required" : [ "fullname", "email", "phone" ],
        "properties" : {
          "fullname" : {
            "type" : "string",
            "example" : "Customer Name"
          },
          "email" : {
            "type" : "string",
            "format" : "email",
            "example" : "test@gmail.com"
          },
          "phone" : {
            "type" : "string",
            "example" : "123-456-6789"
          }
        },
        "type" : "object"
      },
      "Recipients" : {
        "required" : [ "fullname", "email" ],
        "properties" : {
          "fullname" : {
            "type" : "string"
          },
          "emaile" : {
            "type" : "string",
            "format" : "email"
          }
        },
        "type" : "object"
      }
    }
  }
}