{
  "openapi" : "3.0.0",
  "info" : {
    "version" : "1.0",
    "title" : "Parsley Sales API",
    "description" : "This API allows third-party partners to create sales events in their users' Parsley accounts. Please e-mail us at devel@parsleyapp.com if you have questions, bugs, or requests.",
    "contact" : {
      "name" : "Parsley Developers",
      "email" : "devel@parsleyapp.com",
      "url" : "https://parsleyapp.com/"
    }
  },
  "tags" : [ {
    "name" : "menu_items",
    "description" : "Read-only access to metadata about a user's salable items"
  }, {
    "name" : "sales",
    "description" : "The heart of this API: sales events"
  } ],
  "components" : {
    "securitySchemes" : {
      "bearerToken" : {
        "type" : "http",
        "scheme" : "bearer",
        "description" : "API keys are generated by the end-user through the Parsley web interface"
      }
    },
    "schemas" : {
      "menu_item" : {
        "title" : "Menu Item",
        "type" : "object",
        "required" : [ "id", "name", "tags" ],
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "name" : {
            "type" : "string"
          },
          "price" : {
            "type" : "number",
            "minimum" : 0
          },
          "tags" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        },
        "example" : {
          "id" : 19286,
          "name" : "Lamb Köfte",
          "tags" : [ "Main Dish", "Protein" ]
        }
      },
      "sale_line_item" : {
        "title" : "Line Item",
        "type" : "object",
        "required" : [ "menu_item", "amount" ],
        "properties" : {
          "menu_item" : {
            "type" : "integer",
            "description" : "Should reference a Menu Item by ID"
          },
          "amount" : {
            "type" : "integer",
            "minimum" : 0
          }
        },
        "example" : {
          "menuItem" : 4096,
          "amount" : 4
        }
      },
      "sale" : {
        "title" : "Sales Event",
        "type" : "object",
        "required" : [ "name", "time", "lineItems" ],
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "time" : {
            "type" : "string",
            "description" : "The date and time at which the sale occurs. For events that occur over a period of time, choose a representative instant in that period.",
            "format" : "date-time"
          },
          "description" : {
            "type" : "string"
          },
          "lineItems" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/sale_line_item"
            }
          }
        },
        "example" : {
          "name" : "Brunch",
          "time" : "2019-08-09T19:00:00Z",
          "lineItems" : [ {
            "menuItem" : 4096,
            "amount" : 4
          } ]
        }
      }
    }
  },
  "security" : [ {
    "bearerToken" : [ ]
  } ],
  "paths" : {
    "/menu_items" : {
      "get" : {
        "tags" : [ "menu_items" ],
        "responses" : {
          "200" : {
            "description" : "A list of all menu items that can be used in orders. This includes an ID for use in other endpoints, as well as human-readable information to aid the end-user in associating menu items in your system with those in Parsley.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/menu_item"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sales" : {
      "get" : {
        "tags" : [ "sales" ],
        "description" : "Fetch a list of all sales events in Parsley",
        "responses" : {
          "200" : {
            "description" : "A list of existing sales events",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "required" : [ "id", "name", "time" ],
                    "properties" : {
                      "id" : {
                        "type" : "integer"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "time" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "description" : {
                        "type" : "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "sales" ],
        "description" : "Create a new sales event",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/sale"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "A simple object containing the ID of the created sale",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "required" : [ "id" ],
                  "properties" : {
                    "id" : {
                      "type" : "integer"
                    }
                  }
                },
                "example" : {
                  "id" : 42
                }
              }
            }
          }
        }
      }
    },
    "/sales/{id}" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "integer"
        }
      } ],
      "get" : {
        "tags" : [ "sales" ],
        "description" : "View full details of an existing sales event",
        "responses" : {
          "200" : {
            "description" : "An object containing metadata and all line items",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/sale"
                }
              }
            }
          },
          "404" : {
            "description" : "There is no sales event with that ID"
          }
        }
      },
      "delete" : {
        "tags" : [ "sales" ],
        "description" : "Delete an existing sales event",
        "responses" : {
          "200" : {
            "description" : "Deletion was successful"
          },
          "404" : {
            "description" : "There is no sales event with that ID"
          }
        }
      }
    }
  },
  "servers" : [ {
    "description" : "Production server",
    "url" : "https://app.parsleycooks.com/api/public"
  } ]
}