{
  "openapi" : "3.0.0",
  "x-samples-languages" : [ "curl" ],
  "x-explorer-enabled" : false,
  "x-samples-enabled" : true,
  "x-proxy-enabled" : false,
  "info" : {
    "version" : "1.0.0",
    "title" : "Pinwheel API",
    "description" : "API to read and write to cloud based payroll systems"
  },
  "servers" : [ {
    "description" : "Pinwheel API Server",
    "url" : "https://api.getpinwheel.com"
  } ],
  "paths" : {
    "/v1/platforms" : {
      "get" : {
        "tags" : [ "Platform" ],
        "operationId" : "getPlatforms",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "platforms" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Platform"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/platforms/:platform_id" : {
      "get" : {
        "tags" : [ "Platform" ],
        "operationId" : "getPlatformById",
        "parameters" : [ {
          "name" : "platform_id",
          "in" : "path",
          "description" : "Unique identifier of the platform",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "platform" : {
                      "$ref" : "#/components/schemas/Platform"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/link/token" : {
      "post" : {
        "tags" : [ "Token" ],
        "operationId" : "createLinkToken",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "required" : [ "client_id", "client_secret" ],
                "properties" : {
                  "client_id" : {
                    "type" : "string"
                  },
                  "client_secret" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "link_token" : {
                      "type" : "string"
                    },
                    "expires" : {
                      "type" : "integer",
                      "description" : "Unix timestamp for token expiration"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/token" : {
      "post" : {
        "tags" : [ "Token" ],
        "operationId" : "createToken",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "required" : [ "code", "client_id", "client_secret" ],
                "properties" : {
                  "code" : {
                    "type" : "string"
                  },
                  "client_id" : {
                    "type" : "string"
                  },
                  "client_secret" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "access_token" : {
                      "type" : "string"
                    },
                    "expires" : {
                      "type" : "integer",
                      "description" : "Unix timestamp for token expiration"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/me" : {
      "get" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "User" ],
        "operationId" : "getCurrentUser",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "user" : {
                      "$ref" : "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/paystubs" : {
      "get" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "Paystub" ],
        "operationId" : "getPaystubs",
        "parameters" : [ {
          "name" : "from_date",
          "in" : "query",
          "description" : "Specifies the beginning of the date range",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "to_date",
          "in" : "query",
          "description" : "Specifies the end of the date range",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "paystubs" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Paystub"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/paystubs/:paystub_id" : {
      "get" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "Paystub" ],
        "operationId" : "getPaystubById",
        "parameters" : [ {
          "name" : "paystub_id",
          "in" : "path",
          "description" : "Unique identifier of the paycheck stub",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Paystub"
                }
              }
            }
          }
        }
      }
    },
    "/v1/w2s" : {
      "get" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "W2" ],
        "operationId" : "getW2s",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "w2s" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/W2"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/w2s/:w2_id" : {
      "get" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "W2" ],
        "operationId" : "getW2ById",
        "parameters" : [ {
          "name" : "w2_id",
          "in" : "path",
          "description" : "Unique identifier of the W2",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/W2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/1099-miscs" : {
      "get" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "1099-MISC" ],
        "operationId" : "get1099s",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "1099-miscs" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/1099-misc"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/1099-miscs/:1099_misc_id" : {
      "get" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "1099-MISC" ],
        "operationId" : "get1099ById",
        "parameters" : [ {
          "name" : "1099_misc_id",
          "in" : "path",
          "description" : "Unique identifier of the 1099-misc document",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/1099-misc"
                }
              }
            }
          }
        }
      }
    },
    "/v1/download/:document_id" : {
      "get" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "Document" ],
        "operationId" : "getDocumentById",
        "parameters" : [ {
          "name" : "document_id",
          "in" : "path",
          "description" : "Unique identifier of the w2, 1099-misc, or paystub",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "url" : {
                      "type" : "string"
                    },
                    "expires" : {
                      "type" : "integer",
                      "description" : "Unix timestamp of expiration"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/direct-deposits" : {
      "get" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "Direct Deposit" ],
        "operationId" : "getDirectDeposits",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "direct_deposits" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DirectDeposit"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "Direct Deposit" ],
        "operationId" : "createDirectDeposit",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "required" : [ "routing_number", "account_number", "account_type" ],
                "properties" : {
                  "routing_number" : {
                    "type" : "string"
                  },
                  "account_number" : {
                    "type" : "string"
                  },
                  "account_type" : {
                    "type" : "string"
                  },
                  "display_name" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "direct_deposit" : {
                      "$ref" : "#/components/schemas/DirectDeposit"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/direct-deposit/allocations" : {
      "post" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "Direct Deposit" ],
        "operationId" : "updateDirectDepositAllocations",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "required" : [ "allocation-method", "allocations" ],
                "properties" : {
                  "allocation-method" : {
                    "enum" : [ "percentage", "amount" ]
                  },
                  "allocations" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "direct_deposit_id" : {
                          "type" : "string"
                        },
                        "allocation_value" : {
                          "type" : "number",
                          "format" : "float"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    }
  },
  "components" : {
    "securitySchemes" : {
      "bearerAuth" : {
        "type" : "http",
        "scheme" : "bearer"
      }
    },
    "schemas" : {
      "Platform" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Unique identifier of platform"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of platform, e.g. ADP Run"
          },
          "products" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "profile", "paystub", "w2", "1099_misc", "direct_deposit" ]
            }
          }
        }
      },
      "Address" : {
        "type" : "object",
        "properties" : {
          "street" : {
            "type" : "string"
          },
          "apt" : {
            "type" : "string",
            "nullable" : true
          },
          "city" : {
            "type" : "string"
          },
          "state" : {
            "type" : "string"
          },
          "zip" : {
            "type" : "string"
          },
          "country" : {
            "type" : "string"
          }
        }
      },
      "User" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Unique identifier assigned to user"
          },
          "name" : {
            "type" : "string",
            "description" : "Full name of user"
          },
          "home_address" : {
            "$ref" : "#/components/schemas/Address"
          },
          "work_address" : {
            "$ref" : "#/components/schemas/Address"
          },
          "employer" : {
            "type" : "string",
            "description" : "Name of employer"
          },
          "job_title" : {
            "type" : "string",
            "description" : "Job title at employer"
          }
        }
      },
      "Paystub" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Unique identifier assigned to paystub"
          },
          "start_date" : {
            "type" : "string",
            "description" : "Start date of pay period",
            "format" : "date"
          },
          "end_date" : {
            "type" : "string",
            "description" : "End date of pay period",
            "format" : "date"
          },
          "pay_date" : {
            "type" : "string",
            "description" : "Pay date for paycheck",
            "format" : "date"
          },
          "summary" : {
            "type" : "object",
            "properties" : {
              "current" : {
                "type" : "object",
                "properties" : {
                  "gross_earnings" : {
                    "type" : "number"
                  },
                  "pre_tax_deductions" : {
                    "type" : "number"
                  },
                  "post_tax_deductions" : {
                    "type" : "number"
                  },
                  "taxes" : {
                    "type" : "number"
                  },
                  "net_pay" : {
                    "type" : "number"
                  },
                  "reimbursements" : {
                    "type" : "number"
                  },
                  "check_amount" : {
                    "type" : "number"
                  }
                }
              },
              "year_to_date" : {
                "type" : "object",
                "properties" : {
                  "gross_earnings" : {
                    "type" : "number"
                  },
                  "pre_tax_deductions" : {
                    "type" : "number"
                  },
                  "post_tax_deductions" : {
                    "type" : "number"
                  },
                  "taxes" : {
                    "type" : "number"
                  },
                  "net_pay" : {
                    "type" : "number"
                  },
                  "reimbursements" : {
                    "type" : "number"
                  },
                  "check_amount" : {
                    "type" : "number"
                  }
                }
              }
            }
          },
          "taxes" : {
            "type" : "object",
            "properties" : {
              "current" : {
                "type" : "object",
                "properties" : {
                  "federal" : {
                    "type" : "number"
                  },
                  "social_security" : {
                    "type" : "number"
                  },
                  "medicare" : {
                    "type" : "number"
                  },
                  "state" : {
                    "type" : "number"
                  },
                  "other" : {
                    "type" : "object"
                  }
                }
              },
              "year_to_date" : {
                "type" : "object",
                "properties" : {
                  "federal" : {
                    "type" : "number"
                  },
                  "social_security" : {
                    "type" : "number"
                  },
                  "medicare" : {
                    "type" : "number"
                  },
                  "state" : {
                    "type" : "number"
                  },
                  "other" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "deductions" : {
            "type" : "object",
            "properties" : {
              "current" : {
                "type" : "object"
              },
              "year_to_date" : {
                "type" : "object"
              }
            }
          }
        }
      },
      "1099-misc" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Unique identifier of 1099-misc document"
          },
          "tax_year_ends_at" : {
            "type" : "string",
            "format" : "date",
            "description" : "End date of tax year"
          },
          "payer" : {
            "type" : "object",
            "properties" : {
              "name" : {
                "type" : "string",
                "description" : "Name of company / payer"
              },
              "address" : {
                "$ref" : "#/components/schemas/Address"
              },
              "phone_number" : {
                "type" : "string"
              },
              "tax_identification_number" : {
                "type" : "string"
              }
            }
          },
          "recipient" : {
            "type" : "object",
            "properties" : {
              "name" : {
                "type" : "string"
              },
              "address" : {
                "$ref" : "#/components/schemas/Address"
              },
              "tax_identification_number" : {
                "type" : "string"
              }
            }
          },
          "corrected" : {
            "type" : "boolean"
          },
          "box_1_rents" : {
            "type" : "number",
            "format" : "float"
          },
          "box_2_royalties" : {
            "type" : "number",
            "format" : "float"
          },
          "box_3_other_income" : {
            "type" : "number",
            "format" : "float"
          },
          "box_4_federal_income_tax_withheld" : {
            "type" : "number",
            "format" : "float"
          },
          "box_5_fishing_boat_proceeds" : {
            "type" : "number",
            "format" : "float"
          },
          "box_6_health_care_payments" : {
            "type" : "number",
            "format" : "float"
          },
          "box_7_nonemployee_compensation" : {
            "type" : "number",
            "format" : "float"
          },
          "box_8_substitute_payments" : {
            "type" : "number",
            "format" : "float"
          },
          "box_9_direct_sales" : {
            "type" : "number",
            "format" : "float"
          },
          "box_10_crop_insurance_proceeds" : {
            "type" : "number",
            "format" : "float"
          },
          "box_11" : {
            "type" : "number",
            "format" : "float"
          },
          "box_12" : {
            "type" : "number",
            "format" : "float"
          },
          "box_13_excess_golden_parachute_payments" : {
            "type" : "number",
            "format" : "float"
          },
          "box_14_gross_proceeds_paid_to_an_attorney" : {
            "type" : "number",
            "format" : "float"
          },
          "box_15a_section_409a_deferrals" : {
            "type" : "number",
            "format" : "float"
          },
          "box_15b_section_409a_income" : {
            "type" : "number",
            "format" : "float"
          },
          "box_16_state_tax_withheld" : {
            "type" : "number",
            "format" : "float"
          },
          "box_17_payers_state_number" : {
            "type" : "string",
            "format" : "float"
          },
          "box_18_state_income" : {
            "type" : "number",
            "format" : "float"
          }
        }
      },
      "W2" : {
        "type" : "object",
        "properties" : {
          "employee" : {
            "type" : "object",
            "properties" : {
              "social_security_number" : {
                "type" : "string"
              },
              "first_name" : {
                "type" : "string"
              },
              "last_name" : {
                "type" : "string"
              },
              "address" : {
                "$ref" : "#/components/schemas/Address"
              }
            }
          },
          "employer" : {
            "type" : "object",
            "properties" : {
              "name" : {
                "type" : "string"
              },
              "address" : {
                "$ref" : "#/components/schemas/Address"
              },
              "employer_identification_number" : {
                "type" : "string"
              }
            }
          },
          "control_number" : {
            "type" : "string"
          },
          "box_1_compensation" : {
            "type" : "number",
            "format" : "float"
          },
          "box_2_federal_income_tax_withheld" : {
            "type" : "number",
            "format" : "float"
          },
          "box_3_social_security_wages" : {
            "type" : "number",
            "format" : "float"
          },
          "box_4_social_security_tax_withheld" : {
            "type" : "number",
            "format" : "float"
          },
          "box_5_medicare_wages_and_tips" : {
            "type" : "number",
            "format" : "float"
          }
        }
      },
      "DirectDeposit" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "routing_number" : {
            "type" : "string"
          },
          "account_number" : {
            "type" : "string"
          },
          "account_type" : {
            "enum" : [ "checking", "saving" ]
          },
          "display_name" : {
            "type" : "string"
          },
          "allocation_method" : {
            "enum" : [ "percentage", "amount" ]
          },
          "allocation_value" : {
            "type" : "number",
            "format" : "float"
          }
        }
      }
    }
  }
}