{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "E+H HCMS REST API",
    "description" : "HCMS REST API - draft",
    "version" : "0.3"
  },
  "servers" : [ {
    "url" : "https://hcms-d.cdn.endress.com"
  } ],
  "paths" : {
    "/hcms/v1.11/view/productMedia" : {
      "get" : {
        "description" : "List all available products (latest versions). Result is paged, with default page size 100.",
        "responses" : {
          "200" : {
            "description" : "One page of result",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/product_page"
                },
                "examples" : {
                  "0" : {
                    "value" : {
                      "result" : [ {
                        "material_no" : "52017474",
                        "name" : "PO - Media - FDR57 - Rev. 1",
                        "id" : 8207356,
                        "picture" : {
                          "main" : {
                            "size" : {
                              "width" : 3543,
                              "dpi" : 300,
                              "height" : 2480
                            },
                            "color" : {
                              "schema" : "rgb"
                            },
                            "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/52017474/1/storage/MDA0NTQ3NTQ1LzAvbWFzdGVy",
                            "mime" : "application/photoshop",
                            "name" : "Soliwave_FDR57_PP_2.psd",
                            "variant" : {
                              "preview" : {
                                "size" : {
                                  "width" : 1000,
                                  "dpi" : 72,
                                  "height" : 700
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/52017474/1/storage/MDQ1NDc1NDUvMC9wcmV2aWV3",
                                "mime" : "image/jpeg"
                              },
                              "600x600" : {
                                "size" : {
                                  "width" : 600,
                                  "dpi" : 96,
                                  "height" : 420
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/52017474/1/storage/NDU0NzU0NS8wL2VuZHJlc3M6ZG93bmxvYWQx",
                                "mime" : "image/jpeg"
                              },
                              "thumbnail" : {
                                "size" : {
                                  "width" : 250,
                                  "dpi" : 72,
                                  "height" : 175
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/52017474/1/storage/MDA0NTQ3NTQ1LzAvdGh1bWJuYWls",
                                "mime" : "image/jpeg"
                              },
                              "80x80" : {
                                "size" : {
                                  "width" : 80,
                                  "dpi" : 96,
                                  "height" : 56
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/52017474/1/storage/NDU0NzU0NS8wL2VuZHJlc3M6ZG93bmxvYWQ1",
                                "mime" : "image/jpeg"
                              },
                              "500x" : {
                                "size" : {
                                  "width" : 500,
                                  "dpi" : 96,
                                  "height" : 350
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/52017474/1/storage/MDA0NTQ3NTQ1LzAvZW5kcmVzczptbW0x",
                                "mime" : "image/jpeg"
                              },
                              "300x300" : {
                                "size" : {
                                  "width" : 300,
                                  "dpi" : 96,
                                  "height" : 210
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/52017474/1/storage/NDU0NzU0NS8wL2VuZHJlc3M6ZG93bmxvYWQz",
                                "mime" : "image/jpeg"
                              },
                              "150x150" : {
                                "size" : {
                                  "width" : 150,
                                  "dpi" : 96,
                                  "height" : 105
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/52017474/1/storage/NDU0NzU0NS8wL2VuZHJlc3M6ZG93bmxvYWQ0",
                                "mime" : "image/jpeg"
                              }
                            },
                            "id" : 4547545,
                            "media" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/52017474/1/media/MDQ1NDc1NDUvMC9EQzhFMzE2NTMwRDk0OTdENDExRkYwOUEwMkQwRTNEMUFBQjhDNURF"
                          }
                        },
                        "revision" : 1
                      }, {
                        "material_no" : "71331427",
                        "name" : "PO - Media - FMR62 - Rev. 1",
                        "id" : 8207357,
                        "video" : {
                          "main" : {
                            "preview" : {
                              "size" : {
                                "width" : 1280,
                                "height" : 720
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/71331427/1/storage/NTUzNzYvMC9wcmV2aWV3",
                              "mime" : "image/jpeg"
                            },
                            "thumbnail" : {
                              "size" : {
                                "width" : 250,
                                "height" : 141
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/71331427/1/storage/MDU1Mzc2LzAvdGh1bWJuYWls",
                              "mime" : "image/jpeg"
                            },
                            "720p" : {
                              "size" : { },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/71331427/1/storage/MDU1Mzc2LzAvdmlkZW8tcHJldmlld183MjBw",
                              "mime" : "video/mp4"
                            },
                            "size" : {
                              "width" : 1280,
                              "height" : 720
                            },
                            "color" : {
                              "schema" : "rgb"
                            },
                            "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/71331427/1/storage/MDU1Mzc2LzAvbWFzdGVy",
                            "mime" : "video/mp4",
                            "name" : "Animation_HistoROM_EN_1280x720_2013.mp4",
                            "id" : 55376,
                            "media" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/71331427/1/media/NTUzNzYvMC8yNjJDMjlFMTY1RjNDRTRCNDY3MjAzQzg1QzVCREVDQUJDQUVCRjQ3",
                            "uuid" : "7ef0b530-a539-11e3-9343-0208207f4795"
                          }
                        },
                        "picture" : {
                          "main" : {
                            "size" : {
                              "width" : 2480,
                              "dpi" : 300,
                              "height" : 3543
                            },
                            "color" : {
                              "schema" : "rgb"
                            },
                            "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/71331427/1/storage/MDAyNDM4OTA3LzAvbWFzdGVy",
                            "mime" : "application/photoshop",
                            "name" : "Micropilot_FMR62_PP_3.psd",
                            "variant" : {
                              "preview" : {
                                "size" : {
                                  "width" : 700,
                                  "dpi" : 72,
                                  "height" : 1000
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/71331427/1/storage/MDI0Mzg5MDcvMC9wcmV2aWV3",
                                "mime" : "image/jpeg"
                              },
                              "600x600" : {
                                "size" : {
                                  "width" : 420,
                                  "dpi" : 96,
                                  "height" : 600
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/71331427/1/storage/MjQzODkwNy8wL2VuZHJlc3M6ZG93bmxvYWQx",
                                "mime" : "image/jpeg"
                              },
                              "thumbnail" : {
                                "size" : {
                                  "width" : 175,
                                  "dpi" : 72,
                                  "height" : 250
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/71331427/1/storage/MDAyNDM4OTA3LzAvdGh1bWJuYWls",
                                "mime" : "image/jpeg"
                              },
                              "80x80" : {
                                "size" : {
                                  "width" : 56,
                                  "dpi" : 96,
                                  "height" : 80
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/71331427/1/storage/MjQzODkwNy8wL2VuZHJlc3M6ZG93bmxvYWQ1",
                                "mime" : "image/jpeg"
                              },
                              "500x" : {
                                "size" : {
                                  "width" : 350,
                                  "dpi" : 96,
                                  "height" : 500
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/71331427/1/storage/MDAyNDM4OTA3LzAvZW5kcmVzczptbW0x",
                                "mime" : "image/jpeg"
                              },
                              "300x300" : {
                                "size" : {
                                  "width" : 210,
                                  "dpi" : 96,
                                  "height" : 300
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/71331427/1/storage/MjQzODkwNy8wL2VuZHJlc3M6ZG93bmxvYWQz",
                                "mime" : "image/jpeg"
                              },
                              "150x150" : {
                                "size" : {
                                  "width" : 105,
                                  "dpi" : 96,
                                  "height" : 150
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/71331427/1/storage/MjQzODkwNy8wL2VuZHJlc3M6ZG93bmxvYWQ0",
                                "mime" : "image/jpeg"
                              }
                            },
                            "id" : 2438907,
                            "media" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/71331427/1/media/MDI0Mzg5MDcvMC8zRjgxQTg4MjFBOEM2ODE2MDdCQkJEMTk4QUI5NkZEQTgxOEYzODkx"
                          }
                        },
                        "revision" : 1,
                        "latest_revision" : true
                      }, {
                        "material_no" : "52017474",
                        "name" : "PO - Media - FDR57 - Rev. 2",
                        "id" : 8207400,
                        "picture" : {
                          "main" : {
                            "size" : {
                              "width" : 3543,
                              "dpi" : 300,
                              "height" : 2480
                            },
                            "color" : {
                              "schema" : "rgb"
                            },
                            "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/52017474/2/storage/MDA0NTQ3NTQ1LzAvbWFzdGVy",
                            "mime" : "application/photoshop",
                            "name" : "Soliwave_FDR57_PP_2.psd",
                            "variant" : {
                              "preview" : {
                                "size" : {
                                  "width" : 1000,
                                  "dpi" : 72,
                                  "height" : 700
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/52017474/2/storage/MDQ1NDc1NDUvMC9wcmV2aWV3",
                                "mime" : "image/jpeg"
                              },
                              "600x600" : {
                                "size" : {
                                  "width" : 600,
                                  "dpi" : 96,
                                  "height" : 420
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/52017474/2/storage/NDU0NzU0NS8wL2VuZHJlc3M6ZG93bmxvYWQx",
                                "mime" : "image/jpeg"
                              },
                              "thumbnail" : {
                                "size" : {
                                  "width" : 250,
                                  "dpi" : 72,
                                  "height" : 175
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/52017474/2/storage/MDA0NTQ3NTQ1LzAvdGh1bWJuYWls",
                                "mime" : "image/jpeg"
                              },
                              "80x80" : {
                                "size" : {
                                  "width" : 80,
                                  "dpi" : 96,
                                  "height" : 56
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/52017474/2/storage/NDU0NzU0NS8wL2VuZHJlc3M6ZG93bmxvYWQ1",
                                "mime" : "image/jpeg"
                              },
                              "500x" : {
                                "size" : {
                                  "width" : 500,
                                  "dpi" : 96,
                                  "height" : 350
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/52017474/2/storage/MDA0NTQ3NTQ1LzAvZW5kcmVzczptbW0x",
                                "mime" : "image/jpeg"
                              },
                              "300x300" : {
                                "size" : {
                                  "width" : 300,
                                  "dpi" : 96,
                                  "height" : 210
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/52017474/2/storage/NDU0NzU0NS8wL2VuZHJlc3M6ZG93bmxvYWQz",
                                "mime" : "image/jpeg"
                              },
                              "150x150" : {
                                "size" : {
                                  "width" : 150,
                                  "dpi" : 96,
                                  "height" : 105
                                },
                                "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/52017474/2/storage/NDU0NzU0NS8wL2VuZHJlc3M6ZG93bmxvYWQ0",
                                "mime" : "image/jpeg"
                              }
                            },
                            "id" : 4547545,
                            "media" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history/52017474/2/media/MDQ1NDc1NDUvMC9EQzhFMzE2NTMwRDk0OTdENDExRkYwOUEwMkQwRTNEMUFBQjhDNURF"
                          }
                        },
                        "revision" : 2,
                        "latest_revision" : true
                      } ],
                      "offset" : 0,
                      "limit" : 100,
                      "count" : 3,
                      "total-count" : 3,
                      "page" : {
                        "current" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history?offset=0",
                        "last" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history?offset=0",
                        "first" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/product_media_history?offset=0"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hcms/v1.11/view/productMedia/{material-no}" : {
      "parameters" : [ {
        "$ref" : "#/components/parameters/materialNumber"
      } ],
      "get" : {
        "description" : "Get prepared data about latest version of specified product.",
        "responses" : {
          "200" : {
            "description" : "Product data successfully obtained.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/product_media_output"
                },
                "examples" : {
                  "0" : {
                    "value" : {
                      "material_no" : "52017474",
                      "name" : "PO - Media - FDR57 - Rev. 2",
                      "id" : 8207400,
                      "picture" : {
                        "main" : {
                          "size" : {
                            "width" : 3543,
                            "dpi" : 300,
                            "height" : 2480
                          },
                          "color" : {
                            "schema" : "rgb"
                          },
                          "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/entity/product_output/8207400/storage/MDA0NTQ3NTQ1LzAvbWFzdGVy",
                          "mime" : "application/photoshop",
                          "name" : "Soliwave_FDR57_PP_2.psd",
                          "variant" : {
                            "preview" : {
                              "size" : {
                                "width" : 1000,
                                "dpi" : 72,
                                "height" : 700
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/entity/product_output/8207400/storage/MDQ1NDc1NDUvMC9wcmV2aWV3",
                              "mime" : "image/jpeg"
                            },
                            "600x600" : {
                              "size" : {
                                "width" : 600,
                                "dpi" : 96,
                                "height" : 420
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/entity/product_output/8207400/storage/NDU0NzU0NS8wL2VuZHJlc3M6ZG93bmxvYWQx",
                              "mime" : "image/jpeg"
                            },
                            "thumbnail" : {
                              "size" : {
                                "width" : 250,
                                "dpi" : 72,
                                "height" : 175
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/entity/product_output/8207400/storage/MDA0NTQ3NTQ1LzAvdGh1bWJuYWls",
                              "mime" : "image/jpeg"
                            },
                            "80x80" : {
                              "size" : {
                                "width" : 80,
                                "dpi" : 96,
                                "height" : 56
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/entity/product_output/8207400/storage/NDU0NzU0NS8wL2VuZHJlc3M6ZG93bmxvYWQ1",
                              "mime" : "image/jpeg"
                            },
                            "500x" : {
                              "size" : {
                                "width" : 500,
                                "dpi" : 96,
                                "height" : 350
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/entity/product_output/8207400/storage/MDA0NTQ3NTQ1LzAvZW5kcmVzczptbW0x",
                              "mime" : "image/jpeg"
                            },
                            "300x300" : {
                              "size" : {
                                "width" : 300,
                                "dpi" : 96,
                                "height" : 210
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/entity/product_output/8207400/storage/NDU0NzU0NS8wL2VuZHJlc3M6ZG93bmxvYWQz",
                              "mime" : "image/jpeg"
                            },
                            "150x150" : {
                              "size" : {
                                "width" : 150,
                                "dpi" : 96,
                                "height" : 105
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/entity/product_output/8207400/storage/NDU0NzU0NS8wL2VuZHJlc3M6ZG93bmxvYWQ0",
                              "mime" : "image/jpeg"
                            }
                          },
                          "id" : 4547545,
                          "media" : "https://hcms-d.cdn.endress.com/hcms/v1.11/entity/product_output/8207400/media/MDQ1NDc1NDUvMC9EQzhFMzE2NTMwRDk0OTdENDExRkYwOUEwMkQwRTNEMUFBQjhDNURF"
                        }
                      },
                      "revision" : 2,
                      "latest_revision" : true
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "There is no approved latest version of product with specified material number. Note that the product itself might exists."
          },
          "519" : {
            "description" : "There are several approved latest versions of the product. This should not happen unless someone manually modifies the data."
          }
        }
      }
    },
    "/hcms/v1.11/view/salesOrgBasic" : {
      "get" : {
        "description" : "List basic data about sales organizations. Result is paged, with default page size 100.",
        "responses" : {
          "200" : {
            "description" : "One page of result",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/salesorgbasic_page"
                },
                "examples" : {
                  "0" : {
                    "value" : {
                      "result" : [ {
                        "salesOrgNo" : 800.0,
                        "legalContent" : [ {
                          "externalUrl" : "https://live-d.www.endress.com/static/data-protection",
                          "validityDate" : "2016-10-04",
                          "type" : "data-privacy"
                        }, {
                          "externalUrl" : "https://live-d.www.endress.com/static/terms-conditions",
                          "validityDate" : "2018-01-29",
                          "type" : "terms-conditions"
                        } ],
                        "name" : "Output salesOrg - Basic - 0800 - Rev. 1",
                        "changeDate" : "2020-02-18T17:41:51Z",
                        "legalEntityName" : "Endress+Hauser AG",
                        "id" : 8221486,
                        "latestRevision" : true,
                        "revision" : 1
                      }, {
                        "salesOrgNo" : "0700",
                        "legalContent" : [ {
                          "externalUrl" : "https://live-d.de.endress.com/static/data-protection",
                          "validityDate" : "2016-10-04",
                          "type" : "data-privacy"
                        }, {
                          "externalUrl" : "https://live-d.de.endress.com",
                          "validityDate" : "2018-01-29",
                          "type" : "terms-conditions"
                        } ],
                        "name" : "Output salesOrg - Basic - 0700 - Rev. 1",
                        "changeDate" : "2020-02-18T17:43:19Z",
                        "legalEntityName" : "Endress+Hauser Messtechnik GmbH+Co. KG",
                        "id" : 8221488,
                        "latestRevision" : true,
                        "revision" : 1
                      } ],
                      "offset" : 0,
                      "limit" : 100,
                      "count" : 2,
                      "total-count" : 2,
                      "page" : {
                        "current" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgBasic/?offset=0",
                        "last" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgBasic/?offset=0",
                        "first" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgBasic/?offset=0"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hcms/v1.11/view/salesOrgBasic/{salesorg-no}" : {
      "parameters" : [ {
        "$ref" : "#/components/parameters/salesOrgNo"
      } ],
      "get" : {
        "description" : "Get prepared data about latest version of specified sales organization.",
        "responses" : {
          "200" : {
            "description" : "Sales organization data successfully obtained.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/salesorgbasic"
                },
                "examples" : {
                  "0" : {
                    "value" : {
                      "salesOrgNo" : 800.0,
                      "legalContent" : [ {
                        "externalUrl" : "https://live-d.www.endress.com/static/data-protection",
                        "validityDate" : "2016-10-04",
                        "type" : "data-privacy"
                      }, {
                        "externalUrl" : "https://live-d.www.endress.com/static/terms-conditions",
                        "validityDate" : "2018-01-29",
                        "type" : "terms-conditions"
                      } ],
                      "name" : "Output salesOrg - Basic - 0800 - Rev. 1",
                      "changeDate" : "2020-02-18T17:41:51Z",
                      "legalEntityName" : "Endress+Hauser AG",
                      "id" : 8221486,
                      "latestRevision" : true,
                      "revision" : 1
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "There is no approved latest version of sales organization. Note that the sales organization itself might exist."
          },
          "519" : {
            "description" : "There are several approved latest versions of the sales organization. This should not happen unless someone manually modifies the data."
          }
        }
      }
    },
    "/hcms/v1.11/view/salesOrgCampaign" : {
      "get" : {
        "description" : "List basic data about sales campaigns. Result is paged, with default page size 100.",
        "responses" : {
          "200" : {
            "description" : "One page of result",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/campaign_page"
                },
                "examples" : {
                  "0" : {
                    "value" : {
                      "result" : [ {
                        "externalUrl" : "https://staging-d.de.endress.com/static/main-campaign",
                        "image" : {
                          "size" : {
                            "width" : 1600,
                            "dpi" : 72,
                            "height" : 1067
                          },
                          "color" : {
                            "schema" : "rgb"
                          },
                          "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/de/storage/MDA1OTk0MDY5LzAvbWFzdGVy",
                          "mime" : "image/jpeg",
                          "name" : "Asset_Health_Header.jpg",
                          "variant" : {
                            "preview" : {
                              "size" : {
                                "width" : 1000,
                                "dpi" : 72,
                                "height" : 667
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/de/storage/MDU5OTQwNjkvMC9wcmV2aWV3",
                              "mime" : "image/jpeg"
                            },
                            "600x600" : {
                              "size" : {
                                "width" : 600,
                                "dpi" : 96,
                                "height" : 400
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/de/storage/NTk5NDA2OS8wL2VuZHJlc3M6ZG93bmxvYWQx",
                              "mime" : "image/jpeg"
                            },
                            "thumbnail" : {
                              "size" : {
                                "width" : 250,
                                "dpi" : 72,
                                "height" : 167
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/de/storage/MDA1OTk0MDY5LzAvdGh1bWJuYWls",
                              "mime" : "image/jpeg"
                            },
                            "80x80" : {
                              "size" : {
                                "width" : 80,
                                "dpi" : 96,
                                "height" : 53
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/de/storage/NTk5NDA2OS8wL2VuZHJlc3M6ZG93bmxvYWQ1",
                              "mime" : "image/jpeg"
                            },
                            "300x300" : {
                              "size" : {
                                "width" : 300,
                                "dpi" : 96,
                                "height" : 200
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/de/storage/NTk5NDA2OS8wL2VuZHJlc3M6ZG93bmxvYWQz",
                              "mime" : "image/jpeg"
                            },
                            "150x150" : {
                              "size" : {
                                "width" : 150,
                                "dpi" : 96,
                                "height" : 100
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/de/storage/NTk5NDA2OS8wL2VuZHJlc3M6ZG93bmxvYWQ0",
                              "mime" : "image/jpeg"
                            }
                          },
                          "dynamic" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/de/media/MDU5OTQwNjkvMC8zMUJBM0NDQzRFREYyOURDNkU5ODdCMERDOTI3RTM0QTg4RUY1NTE3",
                          "id" : 5994069
                        },
                        "salesOrgNo" : 800.0,
                        "name" : "Output SalesOrg - Campaign - 0800 - DE - Rev. 1",
                        "changeDate" : "2020-02-18T17:41:52Z",
                        "legalEntityName" : "Endress+Hauser AG",
                        "language" : "de",
                        "id" : 8221492,
                        "text" : "Health hilft Ihnen dabei, auf jedes unerwartete Ereignis, das Ihre Assets in der Anlage betrifft, vorbereitet zu sein. So können Sie effektive Maßnahmen zur Erhöhung der Anlagenverfügbarkeit ergreifen. Legen Sie jetzt los, es ist kostenlos!",
                        "title" : "IIoT Health",
                        "latestRevision" : true,
                        "revision" : 1
                      }, {
                        "externalUrl" : "https://staging-d.de.endress.com/static/main-campaign",
                        "image" : {
                          "size" : {
                            "width" : 1600,
                            "dpi" : 72,
                            "height" : 1067
                          },
                          "color" : {
                            "schema" : "rgb"
                          },
                          "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/en/storage/MDA1OTk0MDY5LzAvbWFzdGVy",
                          "mime" : "image/jpeg",
                          "name" : "Asset_Health_Header.jpg",
                          "variant" : {
                            "preview" : {
                              "size" : {
                                "width" : 1000,
                                "dpi" : 72,
                                "height" : 667
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/en/storage/MDU5OTQwNjkvMC9wcmV2aWV3",
                              "mime" : "image/jpeg"
                            },
                            "600x600" : {
                              "size" : {
                                "width" : 600,
                                "dpi" : 96,
                                "height" : 400
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/en/storage/NTk5NDA2OS8wL2VuZHJlc3M6ZG93bmxvYWQx",
                              "mime" : "image/jpeg"
                            },
                            "thumbnail" : {
                              "size" : {
                                "width" : 250,
                                "dpi" : 72,
                                "height" : 167
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/en/storage/MDA1OTk0MDY5LzAvdGh1bWJuYWls",
                              "mime" : "image/jpeg"
                            },
                            "80x80" : {
                              "size" : {
                                "width" : 80,
                                "dpi" : 96,
                                "height" : 53
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/en/storage/NTk5NDA2OS8wL2VuZHJlc3M6ZG93bmxvYWQ1",
                              "mime" : "image/jpeg"
                            },
                            "300x300" : {
                              "size" : {
                                "width" : 300,
                                "dpi" : 96,
                                "height" : 200
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/en/storage/NTk5NDA2OS8wL2VuZHJlc3M6ZG93bmxvYWQz",
                              "mime" : "image/jpeg"
                            },
                            "150x150" : {
                              "size" : {
                                "width" : 150,
                                "dpi" : 96,
                                "height" : 100
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/en/storage/NTk5NDA2OS8wL2VuZHJlc3M6ZG93bmxvYWQ0",
                              "mime" : "image/jpeg"
                            }
                          },
                          "dynamic" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/en/media/MDU5OTQwNjkvMC8zMUJBM0NDQzRFREYyOURDNkU5ODdCMERDOTI3RTM0QTg4RUY1NTE3",
                          "id" : 5994069
                        },
                        "salesOrgNo" : 800.0,
                        "name" : "Output SalesOrg - Campaign - 0800 - EN - Rev. 1",
                        "changeDate" : "2020-02-18T17:41:51Z",
                        "legalEntityName" : "Endress+Hauser AG",
                        "language" : "en",
                        "id" : 8221493,
                        "text" : "Netilion Health empowers you to be ready and effective in case of unexpected events in your plant. Start now to see the ease of asset maintenance, it’s free.",
                        "title" : "Netilion Health",
                        "latestRevision" : true,
                        "revision" : 1
                      }, {
                        "externalUrl" : "https://live-d.de.endress.com",
                        "image" : {
                          "size" : {
                            "width" : 3543,
                            "dpi" : 300,
                            "height" : 2308
                          },
                          "color" : {
                            "schema" : "rgb"
                          },
                          "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0000/de/storage/MDAyNDQwMDAzLzAvbWFzdGVy",
                          "mime" : "image/jpeg",
                          "name" : "113GHz_Key_Visual.jpg",
                          "variant" : {
                            "preview" : {
                              "size" : {
                                "width" : 1000,
                                "dpi" : 72,
                                "height" : 651
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0000/de/storage/MDI0NDAwMDMvMC9wcmV2aWV3",
                              "mime" : "image/jpeg"
                            },
                            "600x600" : {
                              "size" : {
                                "width" : 600,
                                "dpi" : 96,
                                "height" : 391
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0000/de/storage/MjQ0MDAwMy8wL2VuZHJlc3M6ZG93bmxvYWQx",
                              "mime" : "image/jpeg"
                            },
                            "thumbnail" : {
                              "size" : {
                                "width" : 250,
                                "dpi" : 72,
                                "height" : 163
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0000/de/storage/MDAyNDQwMDAzLzAvdGh1bWJuYWls",
                              "mime" : "image/jpeg"
                            },
                            "80x80" : {
                              "size" : {
                                "width" : 80,
                                "dpi" : 96,
                                "height" : 52
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0000/de/storage/MjQ0MDAwMy8wL2VuZHJlc3M6ZG93bmxvYWQ1",
                              "mime" : "image/jpeg"
                            },
                            "500x" : {
                              "size" : {
                                "width" : 500,
                                "dpi" : 96,
                                "height" : 326
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0000/de/storage/MDAyNDQwMDAzLzAvZW5kcmVzczptbW0x",
                              "mime" : "image/jpeg"
                            },
                            "300x300" : {
                              "size" : {
                                "width" : 300,
                                "dpi" : 96,
                                "height" : 195
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0000/de/storage/MjQ0MDAwMy8wL2VuZHJlc3M6ZG93bmxvYWQz",
                              "mime" : "image/jpeg"
                            },
                            "150x150" : {
                              "size" : {
                                "width" : 150,
                                "dpi" : 96,
                                "height" : 98
                              },
                              "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0000/de/storage/MjQ0MDAwMy8wL2VuZHJlc3M6ZG93bmxvYWQ0",
                              "mime" : "image/jpeg"
                            }
                          },
                          "dynamic" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0000/de/media/MDI0NDAwMDMvMC9COTQxRkZGMTlFMjM1RDRBM0MzMUY2MEE3NDUyRDQ0M0Q1RjJBMDJC",
                          "id" : 2440003
                        },
                        "salesOrgNo" : "0000",
                        "name" : "Output - SalesOrg - Campaign - 0000 - DE - Rev. 1",
                        "changeDate" : "2020-02-18T17:43:20Z",
                        "language" : "de",
                        "id" : 8223088,
                        "text" : "Füllstandmessung mit dem neuen Micropilot FMR60, 62 und 67 ",
                        "title" : "113 GHz - Die Lösung für schwierigste Messaufgaben",
                        "latestRevision" : true,
                        "revision" : 1
                      } ],
                      "offset" : 0,
                      "limit" : 100,
                      "count" : 3,
                      "total-count" : 3,
                      "page" : {
                        "current" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/?offset=0",
                        "last" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/?offset=0",
                        "first" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/?offset=0"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hcms/v1.11/view/salesOrgCampaign/{salesorg-no}/{language}" : {
      "parameters" : [ {
        "$ref" : "#/components/parameters/salesOrgNo"
      }, {
        "$ref" : "#/components/parameters/language"
      } ],
      "get" : {
        "description" : "Get prepared data about latest version of specified sales organization campaign.",
        "responses" : {
          "200" : {
            "description" : "Campaign data successfully obtained.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/campaign"
                },
                "examples" : {
                  "0" : {
                    "value" : {
                      "externalUrl" : "https://staging-d.de.endress.com/static/main-campaign",
                      "image" : {
                        "size" : {
                          "width" : 1600,
                          "dpi" : 72,
                          "height" : 1067
                        },
                        "color" : {
                          "schema" : "rgb"
                        },
                        "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/en/storage/MDA1OTk0MDY5LzAvbWFzdGVy",
                        "mime" : "image/jpeg",
                        "name" : "Asset_Health_Header.jpg",
                        "variant" : {
                          "preview" : {
                            "size" : {
                              "width" : 1000,
                              "dpi" : 72,
                              "height" : 667
                            },
                            "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/en/storage/MDU5OTQwNjkvMC9wcmV2aWV3",
                            "mime" : "image/jpeg"
                          },
                          "600x600" : {
                            "size" : {
                              "width" : 600,
                              "dpi" : 96,
                              "height" : 400
                            },
                            "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/en/storage/NTk5NDA2OS8wL2VuZHJlc3M6ZG93bmxvYWQx",
                            "mime" : "image/jpeg"
                          },
                          "thumbnail" : {
                            "size" : {
                              "width" : 250,
                              "dpi" : 72,
                              "height" : 167
                            },
                            "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/en/storage/MDA1OTk0MDY5LzAvdGh1bWJuYWls",
                            "mime" : "image/jpeg"
                          },
                          "80x80" : {
                            "size" : {
                              "width" : 80,
                              "dpi" : 96,
                              "height" : 53
                            },
                            "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/en/storage/NTk5NDA2OS8wL2VuZHJlc3M6ZG93bmxvYWQ1",
                            "mime" : "image/jpeg"
                          },
                          "300x300" : {
                            "size" : {
                              "width" : 300,
                              "dpi" : 96,
                              "height" : 200
                            },
                            "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/en/storage/NTk5NDA2OS8wL2VuZHJlc3M6ZG93bmxvYWQz",
                            "mime" : "image/jpeg"
                          },
                          "150x150" : {
                            "size" : {
                              "width" : 150,
                              "dpi" : 96,
                              "height" : 100
                            },
                            "downloadLink" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/en/storage/NTk5NDA2OS8wL2VuZHJlc3M6ZG93bmxvYWQ0",
                            "mime" : "image/jpeg"
                          }
                        },
                        "dynamic" : "https://hcms-d.cdn.endress.com/hcms/v1.11/view/salesOrgCampaign/0800/en/media/MDU5OTQwNjkvMC8zMUJBM0NDQzRFREYyOURDNkU5ODdCMERDOTI3RTM0QTg4RUY1NTE3",
                        "id" : 5994069
                      },
                      "salesOrgNo" : 800.0,
                      "name" : "Output SalesOrg - Campaign - 0800 - EN - Rev. 1",
                      "changeDate" : "2020-02-18T17:41:51Z",
                      "legalEntityName" : "Endress+Hauser AG",
                      "language" : "en",
                      "id" : 8221493,
                      "text" : "Netilion Health empowers you to be ready and effective in case of unexpected events in your plant. Start now to see the ease of asset maintenance, it’s free.",
                      "title" : "Netilion Health",
                      "latestRevision" : true,
                      "revision" : 1
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "There is no approved latest version of campaign for given sales organization and language. Note that sales organization campaign might exist, but it might not have been approved or it might not have any content in this particular langauge."
          },
          "519" : {
            "description" : "There are several approved latest versions of the campaign. This should not happen unless someone manually modifies the data."
          }
        }
      }
    }
  },
  "components" : {
    "parameters" : {
      "materialNumber" : {
        "name" : "material-no",
        "in" : "path",
        "required" : true,
        "description" : "Material Number",
        "schema" : {
          "type" : "string"
        }
      },
      "revision" : {
        "name" : "revision",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "integer",
          "format" : "int32"
        },
        "description" : "Revisiton number."
      },
      "salesOrgNo" : {
        "name" : "salesorg-no",
        "in" : "path",
        "required" : true,
        "description" : "Sales Organization number.",
        "schema" : {
          "type" : "string"
        }
      },
      "language" : {
        "name" : "language",
        "in" : "path",
        "required" : true,
        "description" : "Two-letter language code (for example en or de).",
        "schema" : {
          "type" : "string"
        }
      }
    },
    "responses" : {
      "NotFound" : {
        "description" : "Entity not found."
      },
      "IllegalInput" : {
        "description" : "Illegal input for operation."
      }
    },
    "schemas" : {
      "product_media_output" : {
        "title" : "Product Media",
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "name" : {
            "type" : "string"
          },
          "materialNumber" : {
            "type" : "string"
          },
          "productRoot" : {
            "type" : "string"
          },
          "revision" : {
            "type" : "integer"
          },
          "latestRevision" : {
            "type" : "boolean"
          },
          "changeDate" : {
            "type" : "string"
          },
          "picture" : {
            "type" : "object",
            "properties" : {
              "main" : {
                "$ref" : "#/components/schemas/image"
              }
            }
          },
          "video" : {
            "type" : "object",
            "properties" : {
              "main" : {
                "$ref" : "#/components/schemas/video"
              }
            },
            "additionalProperties" : false
          }
        },
        "required" : [ "materialNumber" ]
      },
      "image" : {
        "title" : "Image",
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "name" : {
            "type" : "string"
          },
          "downloadLink" : {
            "type" : "string"
          },
          "mime" : {
            "type" : "string"
          },
          "size" : {
            "type" : "object",
            "properties" : {
              "width" : {
                "type" : "integer"
              },
              "height" : {
                "type" : "integer"
              },
              "dpi" : {
                "type" : "integer"
              }
            }
          },
          "color" : {
            "type" : "object",
            "properties" : {
              "bits" : {
                "type" : "integer"
              },
              "schema" : {
                "type" : "string"
              }
            }
          },
          "variant" : {
            "type" : "object",
            "properties" : {
              "thumbnail" : {
                "type" : "object",
                "properties" : {
                  "downloadLink" : {
                    "type" : "string"
                  },
                  "mime" : {
                    "type" : "string"
                  },
                  "size" : {
                    "type" : "object",
                    "properties" : {
                      "width" : {
                        "type" : "integer"
                      },
                      "height" : {
                        "type" : "integer"
                      },
                      "dpi" : {
                        "type" : "integer"
                      }
                    }
                  }
                }
              },
              "preview" : {
                "type" : "object",
                "properties" : "ref_0"
              },
              "500x" : {
                "type" : "object",
                "properties" : "ref_0"
              },
              "600x600" : {
                "type" : "object",
                "properties" : "ref_0"
              },
              "300x300" : {
                "type" : "object",
                "properties" : "ref_0"
              },
              "150x150" : {
                "type" : "object",
                "properties" : "ref_0"
              },
              "80x80" : {
                "type" : "object",
                "properties" : "ref_0"
              }
            }
          },
          "dynamic" : {
            "type" : "string"
          }
        },
        "required" : [ "downloadLink" ]
      },
      "video" : {
        "title" : "Video",
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "name" : {
            "type" : "string"
          },
          "downloadLink" : {
            "type" : "string"
          },
          "mime" : {
            "type" : "string"
          },
          "size" : {
            "type" : "object",
            "properties" : {
              "width" : {
                "type" : "integer"
              },
              "height" : {
                "type" : "integer"
              },
              "dpi" : {
                "type" : "integer"
              }
            }
          },
          "color" : {
            "type" : "object",
            "properties" : {
              "bits" : {
                "type" : "integer"
              },
              "schema" : {
                "type" : "string"
              }
            }
          },
          "variant" : {
            "type" : "object",
            "properties" : {
              "thumbnail" : {
                "type" : "object",
                "properties" : {
                  "downloadLink" : {
                    "type" : "string"
                  },
                  "mime" : {
                    "type" : "string"
                  },
                  "size" : {
                    "type" : "object",
                    "properties" : {
                      "width" : {
                        "type" : "integer"
                      },
                      "height" : {
                        "type" : "integer"
                      },
                      "dpi" : {
                        "type" : "integer"
                      }
                    }
                  }
                }
              },
              "preview" : {
                "type" : "object",
                "properties" : {
                  "downloadLink" : {
                    "type" : "string"
                  },
                  "mime" : {
                    "type" : "string"
                  },
                  "size" : {
                    "type" : "object",
                    "properties" : {
                      "width" : {
                        "type" : "integer"
                      },
                      "height" : {
                        "type" : "integer"
                      },
                      "dpi" : {
                        "type" : "integer"
                      }
                    }
                  }
                }
              },
              "720p" : {
                "type" : "object",
                "properties" : {
                  "downloadLink" : {
                    "type" : "string"
                  },
                  "mime" : {
                    "type" : "string"
                  },
                  "size" : {
                    "type" : "object",
                    "properties" : {
                      "width" : {
                        "type" : "integer"
                      },
                      "height" : {
                        "type" : "integer"
                      },
                      "dpi" : {
                        "type" : "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "dynamic" : {
            "type" : "string"
          }
        },
        "required" : [ "downloadLink" ]
      },
      "salesorgbasic" : {
        "title" : "Sales Org - Basic",
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "name" : {
            "type" : "string"
          },
          "salesOrgNo" : {
            "type" : "string"
          },
          "revision" : {
            "type" : "integer"
          },
          "latestRevision" : {
            "type" : "boolean"
          },
          "changeDate" : {
            "type" : "string"
          },
          "legalEntityName" : {
            "type" : "string"
          },
          "legalContent" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "type" : {
                  "type" : "string"
                },
                "externalUrl" : {
                  "type" : "string"
                },
                "validityDate" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "required" : [ "salesOrgNo" ]
      },
      "campaign" : {
        "title" : "Sales Org - Campaign",
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "name" : {
            "type" : "string"
          },
          "campaignId" : {
            "type" : "string"
          },
          "salesOrgNo" : {
            "type" : "string"
          },
          "language" : {
            "type" : "string"
          },
          "revision" : {
            "type" : "integer"
          },
          "latestRevision" : {
            "type" : "boolean"
          },
          "changeDate" : {
            "type" : "string"
          },
          "legalEntityName" : {
            "type" : "string"
          },
          "externalUrl" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          },
          "text" : {
            "type" : "string"
          },
          "image" : {
            "$ref" : "#/components/schemas/image"
          }
        },
        "required" : [ "salesOrgNo", "language" ]
      },
      "product_page" : {
        "title" : "Product Media List (one page)",
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/product_media_output"
            }
          },
          "offset" : {
            "type" : "integer"
          },
          "limit" : {
            "type" : "integer"
          },
          "count" : {
            "type" : "integer"
          },
          "total-count" : {
            "type" : "integer"
          },
          "page" : {
            "type" : "object",
            "properties" : {
              "current" : {
                "type" : "string"
              },
              "next" : {
                "type" : "string"
              },
              "prev" : {
                "type" : "string"
              },
              "first" : {
                "type" : "string"
              },
              "last" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "salesorgbasic_page" : {
        "title" : "Sales Organization basic info list (one page)",
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/salesorgbasic"
            }
          },
          "offset" : {
            "type" : "integer"
          },
          "limit" : {
            "type" : "integer"
          },
          "count" : {
            "type" : "integer"
          },
          "total-count" : {
            "type" : "integer"
          },
          "page" : {
            "type" : "object",
            "properties" : {
              "current" : {
                "type" : "string"
              },
              "next" : {
                "type" : "string"
              },
              "prev" : {
                "type" : "string"
              },
              "first" : {
                "type" : "string"
              },
              "last" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "campaign_page" : {
        "title" : "Sales Organization Campaign basic info list (one page)",
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/campaign"
            }
          },
          "offset" : {
            "type" : "integer"
          },
          "limit" : {
            "type" : "integer"
          },
          "count" : {
            "type" : "integer"
          },
          "total-count" : {
            "type" : "integer"
          },
          "page" : {
            "type" : "object",
            "properties" : {
              "current" : {
                "type" : "string"
              },
              "next" : {
                "type" : "string"
              },
              "prev" : {
                "type" : "string"
              },
              "first" : {
                "type" : "string"
              },
              "last" : {
                "type" : "string"
              }
            }
          }
        }
      }
    }
  }
}