{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "API Partenaire - MonEmprunt.com",
    "description" : "API partenaire fournie par MonEmprunt.com permettant d'accèder aux outils de calculs, de gérer des dossiers emprunteurs et partager des contacts (création, consultation et ajout de commentaires)<br> En cas de problème de compréhension, de coquille dans la documentation ou besoin d'assistance dans l'intégration, contacter Quentin Dubois <quentin.dubois(a)monemprunt.com>",
    "version" : "0.9"
  },
  "servers" : [ {
    "url" : "https://webrecette.monemprunt.com/api_partenaire",
    "description" : "Serveur sandbox Monemprunt.com"
  } ],
  "paths" : {
    "/dossier" : {
      "post" : {
        "summary" : "Créer un dossier emprunteur",
        "description" : "Créer un dossier emprunteur, retourne le numéro unique créé ainsi que les informations de financabilités du dossier.<br> Il sera possible de récupérer les informations des dossiers créés avec MonEmprunt.com, pour cela, il est recommandé de définir le champ <b>ref_part</b> pour une récupération plus aisé.<br> <br>\n\n------------------------<br> <br> Le champ <b>ref_part</b> utilisable dans le POST pour la creation et dans le GET pour la récupération dossier est un champ d'identification dédié aux partenaires. De type VARCHAR(50), le contenu de ce champ est libre est peut étre le même que vos identifiants internes. <br> Il est recommandé de définir le champ <b>ref_part</b> pour une récupération plus aisé.<br>  <br> ------------------------<br> <br> Les champs <b>fin_duree_pp</b> et <b>fin_mensualite_total</b> sont optionnels mais au moins un des deux doit être fourni et complété.<br> pret_relais est  pris en compte seulement si un emprunteur du dossier possède les champs suivant : <b>hab_actuelle</b> = <b>PROPRIETAIRE</b> et <b>prj_usage</b> = <b>RES_PRINCIPALE</b><br> <br> <br>\nSi <b>prj_type</b> est <b>LOGEMENT_NEUF</b> alors les champs suivant sont a renseigner:<br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_achat_ttc</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_cc</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_cp</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_frais_notaire</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_maturite</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_type_log</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_taux_tva</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_travaux</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_usage</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Si <b>prj_usage</b> est <b>LOCATIF</b> alors les champs suivant sont a renseigner :<br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_dispositif_fiscal</b><br> <br>\nSi <b>prj_type</b> est <b>LOGEMENT_ANCIEN</b> alors les champs suivant sont a renseigner:<br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_cc</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_cp</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_frais_autre</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_maturite</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_net_vendeur</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_type_log</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_usage</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Si <b>prj_usage</b> est <b>LOCATIF</b> alors le champ <b>prj_taux_tva</b> doit étre renseigné.<br> <br>\nSi <b>prj_type</b> est <b>TERRAIN</b> alors les champs suivant sont a renseigner:<br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_cc</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_cp</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_frais_autre</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_frais_notaire</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_frais_viab</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_net_vendeur</b><br> <br>\nSi <b>prj_type</b> est <b>CONSTRUCTION</b> alors les champs suivant sont a renseigner:<br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_construction</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_cc</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_cp</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_frais_autre</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_frais_viab</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_maturite</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_type_log</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_usage</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Si <b>prj_usage</b> est <b>LOCATIF</b> alors le champ <b>prj_taux_tva</b> doit étre renseigné.<br> <br>\nSi <b>prj_type</b> est un <b>TERRAIN_ET_CONSTRUCTION</b> alors les champs suivant sont a renseigner:<br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_construction</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_cc</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_cp</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_frais_autre</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_frais_notaire</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_frais_viab</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_maturite</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_net_vendeur</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_type_log</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_usage</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Si <b>prj_usage</b> est <b>LOCATIF</b> alors le champ <b>prj_taux_tva</b> doit étre renseigné.<br> <br>\nSi <b>prj_type</b> est un <b>TRAVAUX</b> alors les champs suivant sont a renseigner:<br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_cc</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_cp</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_maturite</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_type_log</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_travaux</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_usage</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Si <b>prj_usage</b> est <b>LOCATIF</b> alors le champ <b>prj_taux_tva</b> doit étre renseigné.<br> <br>\nSi <b>prj_type</b> est un <b>RENEGOCIATION</b> alors les champs suivant sont a renseigner:<br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_cc</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_cp</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_type_log</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>pret_renegos</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_usage</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Si <b>prj_usage</b> est <b>LOCATIF</b> alors le champ <b>prj_taux_tva</b> doit étre renseigné.<br> <br>\nSi <b>prj_type</b> est un <b>ACHAT_SCPI</b> alors les champs suivant sont a renseigner:<br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_achat_scpi</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_inter_scpi</b><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>prj_dispositif_fiscal</b><br>",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DossierCreation"
              },
              "example" : {
                "emp_accord_contact" : true,
                "emp_nb_pers_foyer" : 4,
                "fin_duree_pp" : 200,
                "mel_apporteur" : "partenaire1@apporteur.com",
                "tel_apporteur" : "06666666666",
                "prj_cp" : "35000",
                "prj_net_vendeur" : 211000.0,
                "prj_type" : "LOGEMENT_ANCIEN",
                "prj_type_log" : "APPARTEMENT",
                "prj_usage" : "RES_PRINCIPALE",
                "ref_part" : "ABCDE",
                "emprunteurs" : [ {
                  "cat_pro" : "PRIVE_CDI_CADRE",
                  "hab_actuelle" : "PROPRIETAIRE",
                  "mel" : "client2@proeszpect.com",
                  "rev_nb_mois" : 12,
                  "rev_salaire" : 4000.0
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DossierCreationReponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Un problème de droits d'accès"
          },
          "404" : {
            "description" : "Le dossier n'existe pas"
          },
          "500" : {
            "description" : "Erreur technique"
          }
        }
      },
      "get" : {
        "summary" : "Récupérer des informations de dossiers.",
        "description" : "Retourne un tableau de dossiers correspondant a la recherche.<br> En paramètre, il est possible de définir <b>emprunteur_mel</b>, ou <b>no</b> pour une recherche précise sur un id unique de dossier ou via <b>ref_part</b> pour une recherche en fonction des valeurs renseignées a la création du dossier.<br> Si les trois paramètres sont fournies, seul <b>no</b> sera pris en compte.",
        "parameters" : [ {
          "in" : "query",
          "name" : false,
          "schema" : {
            "type" : "string",
            "example" : "200409-D97KEW"
          }
        }, {
          "in" : "query",
          "name" : "ref_part",
          "schema" : {
            "type" : "string",
            "example" : "ABCDE"
          }
        }, {
          "in" : "query",
          "name" : "emprunteur_mel",
          "schema" : {
            "type" : "string",
            "example" : "test@test.test"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Tableau de dossier correspondant a la recherche sur référence partenaire, le tableau peux étre vide si aucunes correspondances.",
            "content" : {
              "application/json" : {
                "example" : "[ { <DOSSIER> }, { <DOSSIER> }, ... ]",
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DossierConsultation"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Un problème de droits d'accès"
          },
          "500" : {
            "description" : "Erreur technique"
          }
        }
      }
    },
    "/dossier/commentaire" : {
      "post" : {
        "summary" : "Ajoute un commentaire sur un dossier",
        "description" : "Ajoute un commentaire sur un dossier, il sera visible par les experts MonEmprunt.com pour aider a qualifier le dossier.",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CommentaireCreation"
              },
              "example" : {
                "detail" : "essai de commentaire",
                "mel_operateur" : "partenaire1@apporteur.com",
                "no" : "200310-EJDGJG"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommentaireCreationReponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Paramètre incorrect"
          },
          "403" : {
            "description" : "Un problème de droits d'accès"
          },
          "404" : {
            "description" : "Le dossier n'existe pas"
          },
          "500" : {
            "description" : "Erreur technique"
          }
        }
      }
    },
    "/contact" : {
      "post" : {
        "summary" : "Créer un contact",
        "description" : "Permet de créer un contact sur la platforme MonEmprunt.com. ------------------------<br> <br> Le champ <b>ref_part</b> utilisable dans le POST pour la creation et dans le GET pour la récupération contacts est un champ d'identification dédié aux partenaires. De type VARCHAR(50), le contenu de ce champ est libre est peut étre le même que vos identifiants internes. <br> Il est recommandé de définir le champ <b>ref_part</b> pour une récupération plus aisé.<br> ",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContactCreation"
              },
              "example" : {
                "emp_accord_contact" : true,
                "mel" : "testEmpContact2@mail.com",
                "nom" : "testNom2",
                "prenom" : "testPrenom2",
                "prj_type" : "ACHAT_SCPI",
                "tel_mobile" : "09875643210",
                "ref_part" : "USERABCDE"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactCreationReponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Paramètre incorrect"
          },
          "403" : {
            "description" : "Un problème de droits d'accès"
          },
          "404" : {
            "description" : "Le dossier n'existe pas"
          },
          "500" : {
            "description" : "Erreur technique"
          }
        }
      },
      "get" : {
        "summary" : "Récupére des informations de contacts",
        "description" : "Retourne un tableau de contacts correspondant a la recherche.<br> En paramètre, il est possible de définir <b>emprunteur_mel</b>, ou <b>no</b> pour une recherche précise sur un id unique de contact ou via <b>ref_part</b> pour une recherche en fonction des valeurs renseignées a la création du contact.<br> Si les trois paramètres sont fournies, seul <b>no</b> sera pris en compte.",
        "parameters" : [ {
          "in" : "query",
          "name" : false,
          "schema" : {
            "type" : "string",
            "example" : "eb24ccd7-24be-4b13-9652-9710b0ac3667"
          }
        }, {
          "in" : "query",
          "name" : "ref_part",
          "schema" : {
            "type" : "string",
            "example" : "USERABCDE"
          }
        }, {
          "in" : "query",
          "name" : "emprunteur_mel",
          "schema" : {
            "type" : "string",
            "example" : "test@test.test"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Informations relatives aux contacts demandés, le tableau peux étre vide si aucune correspondances.",
            "content" : {
              "application/json" : {
                "example" : "[ { <CONTACT> }, { <CONTACT> }, ... ]",
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ContactConsultation"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Un problème de droits d'accès"
          },
          "500" : {
            "description" : "Erreur technique"
          }
        }
      }
    },
    "/contact/commentaire" : {
      "post" : {
        "summary" : "Ajoute un commentaire sur un contact",
        "description" : "Ajoute un commentaire sur un contact, il sera visible par les experts MonEmprunt.com pour aider a qualifier le contact.",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CommentaireCreation"
              },
              "example" : {
                "detail" : "essai de commentaire",
                "mel_operateur" : "partenaire1@apporteur.com",
                "no" : "eb24ccd7-24be-4b13-9652-9710b0ac3667"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommentaireCreationReponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Paramètre incorrect"
          },
          "403" : {
            "description" : "Un problème de droits d'accès"
          },
          "404" : {
            "description" : "Le dossier n'existe pas"
          },
          "500" : {
            "description" : "Erreur technique"
          }
        }
      }
    },
    "/calc/mensualite" : {
      "post" : {
        "summary" : "Calculatrice de mensualité",
        "description" : "Réalise un calcul de mensualitées en fonction d'un prix de logement, d'une durée et d'un taux.<br> Plusieurs autres paramètre tel que l'apport ou l'accès au PTZ peuvent influencer les résultats. ",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DemandeCalculMensualite"
              },
              "example" : {
                "prix_logement" : 10000.0,
                "duree_pp" : 60,
                "taux_pp" : 2.0,
                "usage" : "RES_PRINCIPALE"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResultatCalcul"
                }
              }
            }
          },
          "403" : {
            "description" : "Il y a un problème de droits d'accès"
          },
          "400" : {
            "description" : "Un paramètre est incorrect"
          },
          "422" : {
            "description" : "Cas d'erreur métier"
          },
          "500" : {
            "description" : "Cas d'erreur technique"
          }
        }
      }
    },
    "/calc/montant_achat" : {
      "post" : {
        "summary" : "Calculatrice de montant d'achat",
        "description" : "Réalise un calcul de montant maximum d'achat en fonction de plusieurs paramètre tel que la mensualité souhaité, la durée du crédit etc.<br> Plusieurs autres paramètre tel que l'apport ou l'accès au PTZ peuvent influencer les résultats.      ",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DemandeCalculMontantAchat"
              },
              "example" : {
                "mensualite_totale" : 1000,
                "duree_pp" : 60,
                "taux_pp" : 2.0,
                "usage" : "RES_PRINCIPALE"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResultatCalcul"
                }
              }
            }
          },
          "403" : {
            "description" : "Il y a un problème de droits d'accès"
          },
          "400" : {
            "description" : "Un paramètre est incorrect"
          },
          "422" : {
            "description" : "Cas d'erreur métier"
          },
          "500" : {
            "description" : "Cas d'erreur technique"
          }
        }
      }
    },
    "/editeur/partenaire" : {
      "post" : {
        "summary" : "Créer un nouveau partenaire",
        "description" : "Permet de créer un partenaire sur la platforme MonEmprunt.com. <br> API uniquement disponible pour les editeurs, le token d'authentification a utilisé est le token editeurs, non compatible avec les autres api partenaires.      ",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PartenaireCreation"
              },
              "example" : {
                "civilite_superviseur" : "M.",
                "mel_superviseur" : "mailDuSuperviseur@mail.com",
                "nom" : "NouveauPartenaire VIAeditedr 10",
                "nom_superviseur" : "Dupont",
                "prenom_superviseur" : "Jean",
                "tel_superviseur" : "0123456789"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResultatPartenaireCreation"
                }
              }
            }
          },
          "400" : {
            "description" : "Paramètre incorrect"
          },
          "403" : {
            "description" : "Un problème de droits d'accès"
          },
          "404" : {
            "description" : "Le dossier n'existe pas"
          },
          "500" : {
            "description" : "Erreur technique"
          }
        }
      },
      "get" : {
        "summary" : "Récupére des informations de partenaires de l'editeurs appelant.",
        "description" : "Retourne un tableau de Partenaire correspondant a la recherche.<br> En paramètre, il est possible de définir <b>id</b> pour une recherche précise sur un id unique de partenaire.<br> Si le paramètre id n'est pas fourni, retourne l'ensemble des partenaires.",
        "parameters" : [ {
          "in" : "query",
          "name" : "id",
          "schema" : {
            "type" : "number",
            "example" : 30
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Informations relatives aux partenaires, le tableau peux étre vide si aucune correspondances.",
            "content" : {
              "application/json" : {
                "example" : "[ { <PARTENAIRE> }, { <PARTENAIRE> }, ... ]",
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PartenaireConsultation"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Un problème de droits d'accès"
          },
          "500" : {
            "description" : "Erreur technique"
          }
        }
      }
    }
  },
  "security" : [ {
    "bearerAuth" : [ ]
  } ],
  "components" : {
    "securitySchemes" : {
      "bearerAuth" : {
        "type" : "http",
        "scheme" : "bearer"
      }
    },
    "schemas" : {
      "DossierCreation" : {
        "type" : "object",
        "description" : "Représente un dossier client",
        "required" : [ "emp_accord_contact", "emp_nb_pers_foyer", "prj_type", "emprunteurs" ],
        "properties" : {
          "autres_contacts" : {
            "type" : "number",
            "description" : "Liste des établissements de crédit déjà contactés par le client. Saisie libre."
          },
          "chg_loyer" : {
            "type" : "number",
            "description" : "(Charges mensuelles du foyer) Loyers restants après la mise en place du nouveau prêt (résidence secondaire, garage, parking...) en euros par mois."
          },
          "chg_pension_alim" : {
            "type" : "number",
            "description" : "(Charges mensuelles du foyer) Pensions alimentaires à verser et/ou prestation compensatoire en euros par mois."
          },
          "civilite_apporteur" : {
            "type" : "number",
            "description" : "Civilité du compte utilisateur correspondant à apporteur. Valeurs possibles : 'M.' ou 'Mme'."
          },
          "emp_accord_contact" : {
            "type" : "boolean",
            "description" : "Indique si l'emprunteur accepte d'être contacté par monemprunt. Non nul."
          },
          "emp_nb_enfant" : {
            "type" : "number",
            "description" : "Nombre d'enfants à charge du foyer. Si défini, le nombre d'enfant ne peut ni égaler, ni dépasser le nombre de personne du foyer (emp_nb_enfant<emp_nb_pers_foyer)."
          },
          "emp_nb_pers_foyer" : {
            "type" : "number",
            "description" : "Nombre de personnes du foyer."
          },
          "emp_sci" : {
            "type" : "boolean",
            "description" : "Indique s'il s'agit d'une SCI (true) ou non (false). false par défaut."
          },
          "fin_apport" : {
            "type" : "number",
            "description" : "Apport personnel (hors prêt relais) en euros."
          },
          "fin_apport_couvert" : {
            "type" : "boolean",
            "description" : "Indique si l'apport ou l'épargne couvre le montant des frais de notaire (true) ou non (false). Déclaration de l'emprunteur lors de qualification. Détermination automatique lors de la demande. Défini uniquement pour les projets avec frais de notaire."
          },
          "fin_duree_pp" : {
            "type" : "number",
            "description" : "(un et un seul des champs fin_duree_pp et fin_mensualite_totale doit être défini). Durée souhaitée du prêt principal en mois (entre 5 et 35 ans * 12 mois)."
          },
          "fin_mensualite_totale" : {
            "type" : "number",
            "description" : "(un et un seul des champs fin_duree_pp et fin_mensualite_totale doit être défini). Mensualité maximale souhaitée en euros. Un et un seul des champs fin_duree_pp et fin_mensualite_totale doit être défini."
          },
          "mel_apporteur" : {
            "type" : "string",
            "description" : "Mail de l'apporteur. Création automatique du compte utilisateur de l'apporteur si nouveau et envoi d'un mail avec les identifiants de connexion."
          },
          "nom_apporteur" : {
            "type" : "string",
            "description" : "Nom de famille du compte utilisateur correspondant à apporteur."
          },
          "prenom_apporteur" : {
            "type" : "string",
            "description" : "Prénom du compte utilisateur correspondant à apporteur."
          },
          "prj_achat_scpi" : {
            "type" : "number",
            "description" : "Montant de l'achat de parts de SCPI en euros. Défini pour les types de projet (prj_type) suivants : ACHAT_SCPI\n"
          },
          "prj_achat_ttc" : {
            "type" : "number",
            "description" : "Prix d'achat TTC du logement en euros. Défini pour les types de projet (prj_type) suivants : LOGEMENT_NEUF\n"
          },
          "prj_cc" : {
            "type" : "string",
            "description" : "Code commune INSEE du bien. Indéfini si achat de parts de SCPI."
          },
          "prj_construction" : {
            "type" : "number",
            "description" : "Coût de la construction hors frais en euros. Défini pour les types de projet (prj_type) suivants : CONSTRUCTION, TERRAIN_ET_CONSTRUCTION\n"
          },
          "prj_cp" : {
            "type" : "string",
            "description" : "Code postal du bien. Indéfini si achat de parts de SCPI."
          },
          "prj_dispositif_fiscal" : {
            "type" : "string",
            "description" : "Dispositif fiscal pour un investissement locatif (prj_usage='LOCATIF') dans un logement neuf (prj_type='LOGEMENT_NEUF') ou pour un achat de parts de SCPI (prj_type=' ACHAT_SCPI'), obligatoire dans ces cas là. Nul possible.",
            "enum" : [ "PINEL_6", "PINEL_9", "PINEL_12", "LMNP", "LMNP_S", "LMNP_CB", "LMNP_CB_S", "AUTRE", "SCPI_PINEL_6", "SCPI_PINEL_9", "SCPI_PINEL_12", "SCPI_RENDEMENT", "SCPI_AUTRE" ]
          },
          "prj_frais_autre" : {
            "type" : "number",
            "description" : "Autres frais (expertise...) en euros. Défini pour les types de projet (prj_type) suivants : LOGEMENT_ANCIEN, TERRAIN, CONSTRUCTION, TERRAIN_ET_CONSTRUCTION.\n"
          },
          "prj_frais_notaire" : {
            "type" : "number",
            "description" : "Frais de notaire en euros. Saisis ou calculés. Les frais de notaire sont inclus dans l'assiette à financer par le prêt principal. Le montant des frais de notaire dépend du montant de l'achat, et non pas du montant du prêt, contrairement aux frais de garantie. Ils sont donc relatifs au dossier et non pas aux prêts. Défini pour les types de projet (prj_type) suivants : LOGEMENT_NEUF, TERRAIN, TERRAIN_ET_CONSTRUCTION.\n"
          },
          "prj_frais_viab" : {
            "type" : "number",
            "description" : "Frais de viabilisation en euros. Défini pour les types de projet (prj_type) suivants : TERRAIN, CONSTRUCTION, TERRAIN_ET_CONSTRUCTION.\n"
          },
          "prj_futur_loyer" : {
            "type" : "number",
            "description" : "Futur loyer estimé en euros par mois. Note : si investissement locatif. Note : ces revenus fonciers ne sont retenus qu'à hauteur de 70% dans les calculs.\n"
          },
          "prj_inter_scpi" : {
            "type" : "string",
            "description" : "Intermédiaire SCPI (Conseil en gestion de patrimoine, banque, autre....) . Défini pour les types de projet (prj_type) suivants : ACHAT_SCPI.\n"
          },
          "prj_m2_hab" : {
            "type" : "number",
            "description" : "Surface habitable en m2. Définie pour un logement ou une construction seulement. Facultatif dans tous les cas."
          },
          "prj_maturite" : {
            "type" : "string",
            "description" : "Maturité du projet. Définissable pour tous les types de projets (prj_type) l'exception de 'TERRAIN', 'ACHAT_SCPI' et 'RENEGOCIATION'.",
            "enum" : [ "SIGNE", "TROUVE", "RECHERCHE" ]
          },
          "prj_net_vendeur" : {
            "type" : "number",
            "description" : "Prix net vendeur en euros. Défini pour les types de projet (prj_type) suivants : LOGEMENT_ANCIEN, TERRAIN, TERRAIN_ET_CONSTRUCTION.\n"
          },
          "prj_taux_tva" : {
            "type" : "number",
            "description" : "Taux de TVA appliqué sur le prix d'achat avec deux décimale. Défini pour les types de projet (prj_type) suivants : LOGEMENT_NEUF et les usages suivants (prj_usage) : LOCATIF\n"
          },
          "prj_travaux" : {
            "type" : "number",
            "description" : "Montant des travaux en euros. Défini pour les types de projet (prj_type) suivants : LOGEMENT_NEUF, TRAVAUX.\n"
          },
          "prj_type" : {
            "type" : "string",
            "description" : "Type de projet immobilier. Non nul.",
            "enum" : [ "LOGEMENT_NEUF", "LOGEMENT_ANCIEN", "TERRAIN", "CONSTRUCTION", "TERRAIN_ET_CONSTRUCTION", "TRAVAUX", "RENEGOCIATION", "ACHAT_SCPI" ]
          },
          "prj_type_log" : {
            "type" : "string",
            "description" : "Type de bien. Indéfini si achat de parts de SCPI (prj_type=ACHAT_SCPI) ou achat de terrain seul (prj_type=TERRAIN).",
            "enum" : [ "APPARTEMENT", "MAISON_INDIVIDUELLE", "MAISON_COLLECTIVE", "IMMEUBLE", "AUTRE" ]
          },
          "prj_type_ptz" : {
            "type" : "string",
            "description" : "Type de projet immobilier utilisé pour déterminer l'éligibilité au PTZ+. Si ce type est indéfini, le service web peut le déduire de prj_type sauf en cas de rachat de logement social. Dans ce dernier cas, il faut donc définir prj_type_ptz.",
            "enum" : [ "LOGEMENT_NEUF", "LOGEMENT_ANCIEN_PTZ", "LOGEMENT_ANCIEN_NON_PTZ", "RACHAT_LOGEMENT_SOCIAL" ]
          },
          "prj_usage" : {
            "type" : "string",
            "description" : "Usage du bien. A définir pour tous les types de projets (prj_type) à l'exception des achats de parts de SCPI (prj_type='ACHAT_SCPI') ou de terrain (prj_type='TERRAIN').",
            "enum" : [ "RES_PRINCIPALE", "RES_SECONDAIRE", "LOCATIF" ]
          },
          "ref_part" : {
            "type" : "string",
            "description" : "Référence du dossier dans le système d'information du partenaire. Cette référence est facultative. Si elle est définie, il sera possible de retrouver les numéros des dossiers correspondant grâce au service web /api-dossier/rech.\n"
          },
          "rev_fiscal_n1" : {
            "type" : "number",
            "description" : "Revenu fiscal de référence du foyer pour l'année AAAA (N-1) en euros. Note : revenu fiscal indiqué sur le dernier avis d'imposition reçu par l'emprunteur.\n"
          },
          "tel_apporteur" : {
            "type" : "string",
            "description" : "Téléphone de l'apporteur chez le partenaire."
          },
          "credit_existants" : {
            "type" : "array",
            "description" : "Liste des crédits existants. Pour une estimation simple, il suffit de déclarer les crédits en cours qui NE seront PAS remboursés dans les trois mois suivant l'opération. Néanmoins, pour que le dossier passe le stade de l'estimation et soit transmis aux banques, il sera nécessaire d'indiquer l'intégralité des crédits en cours, y compris ceux qui seront remboursés avant cette demande de prêt. Techniquement, cette liste de crédits existants peut rester indéfinie ou vide s'il n'y a pas de crédit.\n",
            "items" : {
              "$ref" : "#/components/schemas/CreditExistant"
            }
          },
          "emprunteurs" : {
            "type" : "array",
            "description" : "Liste des emprunteurs. Il doit y avoir au moins un emprunteur, et deux au maximum.\n",
            "items" : {
              "$ref" : "#/components/schemas/EmprunteurCreation"
            }
          },
          "pret_renegos" : {
            "type" : "array",
            "description" : "Liste des prêts à renégocier (prêts bancaires ou PTZ). Obligatoire s'il s'agit d'un projet de renégociation. Vide ou indéfinie sinon. Pour un projet de renégociation (prj_type='RENEGOCIATION'), il faut au moins un prêt à renégocier.\n",
            "items" : {
              "$ref" : "#/components/schemas/PretRenego"
            }
          },
          "pret_relais" : {
            "type" : "array",
            "description" : "Eventuel prêt relais. Ce prêt relais n'est pris en compte que s'il y a au moins un emprunteur propriétaire (emprunteur[i].hab_actuelle='PROPRIETAIRE') et si le projet porte sur la résidence principale (prj_usage='RES_PRINCIPALE').\n",
            "items" : {
              "$ref" : "#/components/schemas/PretRelais"
            }
          }
        }
      },
      "DossierCreationReponse" : {
        "type" : "object",
        "description" : "Réponse du service web de création d'un dossier.",
        "properties" : {
          "no" : {
            "type" : "string",
            "description" : "Numéro du dossier défini par monemprunt."
          },
          "financable" : {
            "type" : "boolean",
            "description" : "Indique si le dossier est finançable. Déduit de dossier.etat et dossier.prj_eval."
          },
          "prj_eval_capacite" : {
            "type" : "number",
            "description" : "Capacité d'achat en euros."
          },
          "nom_affectation" : {
            "type" : "string",
            "description" : "Prénom et nom de l'expert auquel est affecté le dossier."
          },
          "tel_affectation" : {
            "type" : "string",
            "description" : "Numéro de téléphone de l'expert auquel est affecté le dossier."
          },
          "mel_affectation" : {
            "type" : "string",
            "description" : "Adresse e-mail de l'expert auquel est affecté le dossier."
          }
        }
      },
      "DossierConsultation" : {
        "type" : "object",
        "description" : "Représente un dossier client",
        "properties" : {
          "avancement" : {
            "type" : "number",
            "description" : "Etat d'avancement du dossier (allant de 0 à 100) jusqu'à la signature d'une offre. Non nul. 0 par défaut."
          },
          "d_creation" : {
            "type" : "number",
            "description" : "Date de création du dossier au format ISO 8601."
          },
          "d_etat" : {
            "type" : "number",
            "description" : "Date du dernier changement d'état au format ISO 8601. Non nul."
          },
          "emp_accord_contact" : {
            "type" : "boolean",
            "description" : "Indique si l'emprunteur accepte d'être contacté par monemprunt. Non nul."
          },
          "etat" : {
            "type" : "string",
            "description" : "Code de l'état du dossier. Non nul.",
            "enum" : [ "PROJET_A_QUALIFIER", "PROJET_NON_QUALIFIE", "PROJET_QUALIFIE", "MANDAT_A_ENVOYER", "A_SIGNER_PAR_MANDATAIRE", "A_SIGNER_PAR_EMPRUNTEUR", "A_SIGNER_PAR_COEMPRUNTEUR", "DOSSIER_A_COMPLETER", "DOSSIER_A_CONTROLER", "OBTENTION_CHOIX_OFFRE", "OFFRE_ACCEPTEE", "BANQUE_A_FACTURER", "BANQUE_FACTUREE", "DOSSIER_CONCLU", "OFFRE_ACCEPTEE_SANS_COMMISSION", "MANDAT_DENONCE", "RUPTURE_EN_COURS", "MANDAT_ROMPU", "DOSSIER_CLOS", "INJOIGNABLE", "NON_INTERESSE", "DOSSIER_ANNULE", "DOSSIER_NON_FINANCABLE", "RETRACTATION", "AUCUNE_OFFRE_REÇUE", "AUCUNE_OFFRE_ACCEPTEE", "COORDONNEES_INVALIDES" ]
          },
          "financable" : {
            "type" : "boolean",
            "description" : "Indique si le dossier est finançable."
          },
          "mel_affectation" : {
            "type" : "string",
            "description" : "Mel du compte utilisateur correspondant à affectation. En lecture seule."
          },
          "mel_apporteur" : {
            "type" : "string",
            "description" : "Mail de l'apporteur. Création automatique du compte utilisateur de l'apporteur si nouveau et envoi d'un mail avec les identifiants de connexion."
          },
          "no" : {
            "type" : "string",
            "description" : "N° du dossier : non incrémenté, référence utilisée pour les échanges avec le client et la banque. Non nul. Unique."
          },
          "nom_affectation" : {
            "type" : "string",
            "description" : "Nom et prénom du compte utilisateur correspondant à affectation."
          },
          "prj_achat_ttc" : {
            "type" : "number",
            "description" : "Prix d'achat TTC du logement en euros. Défini pour les types de projet (prj_type) suivants : LOGEMENT_NEUF\n"
          },
          "prj_cp" : {
            "type" : "string",
            "description" : "Code postal du bien. Indéfini si achat de parts de SCPI."
          },
          "prj_eval" : {
            "type" : "number",
            "description" : "\"Evaluation du projet par monemprunt. Nombre d'étoiles compris entre 0 et 5. Finançable si >= 3. 0 = non qualifié. 2 = qualifié mais non finançable.\"\"\n"
          },
          "prj_eval_capacite" : {
            "type" : "number",
            "description" : "Montant de la capacité d'achat du client calculée lors de l'estimation en euros (total du financement hors frais de notaire et de garantie)."
          },
          "prj_frais_autre" : {
            "type" : "number",
            "description" : "Autres frais (expertise...) en euros. Défini pour les types de projet (prj_type) suivants : LOGEMENT_ANCIEN, TERRAIN, CONSTRUCTION, TERRAIN_ET_CONSTRUCTION.\n"
          },
          "prj_frais_viab" : {
            "type" : "number",
            "description" : "Frais de viabilisation en euros. Défini pour les types de projet (prj_type) suivants : TERRAIN, CONSTRUCTION, TERRAIN_ET_CONSTRUCTION.\n"
          },
          "prj_m2_hab" : {
            "type" : "number",
            "description" : "Surface habitable en m2. Définie pour un logement ou une construction seulement. Facultatif dans tous les cas."
          },
          "prj_maturite" : {
            "type" : "string",
            "description" : "Maturité du projet. Définissable pour tous les types de projets (prj_type) l'exception de 'TERRAIN', 'ACHAT_SCPI' et 'RENEGOCIATION'.",
            "enum" : [ "SIGNE", "TROUVE", "RECHERCHE" ]
          },
          "prj_net_vendeur" : {
            "type" : "number",
            "description" : "Prix net vendeur en euros. Défini pour les types de projet (prj_type) suivants : LOGEMENT_ANCIEN, TERRAIN, TERRAIN_ET_CONSTRUCTION.\n"
          },
          "prj_travaux" : {
            "type" : "number",
            "description" : "Montant des travaux en euros. Défini pour les types de projet (prj_type) suivants : LOGEMENT_NEUF, TRAVAUX.\n"
          },
          "prj_type" : {
            "type" : "string",
            "description" : "Type de projet immobilier. Non nul.",
            "enum" : [ "LOGEMENT_NEUF", "LOGEMENT_ANCIEN", "TERRAIN", "CONSTRUCTION", "TERRAIN_ET_CONSTRUCTION", "TRAVAUX", "RENEGOCIATION", "ACHAT_SCPI" ]
          },
          "ref_part" : {
            "type" : "string",
            "description" : "Référence du dossier dans le système d'information du partenaire. Maximum de 50 caractères. Cette référence est facultative."
          },
          "tel_affectation" : {
            "type" : "string",
            "description" : "Téléphone de l'expert monemprunt ou welcomecourtier auquel est affecté le dossier."
          },
          "commentaires" : {
            "type" : "array",
            "description" : "Liste des commentaires partagés entre le partenaire et monemprunt.",
            "items" : {
              "$ref" : "#/components/schemas/CommentaireConsultation"
            }
          },
          "emprunteurs" : {
            "type" : "array",
            "description" : "Liste des emprunteurs. Il doit y avoir au moins un emprunteur, et deux au maximum.\n",
            "items" : {
              "$ref" : "#/components/schemas/EmprunteurConsultation"
            }
          }
        }
      },
      "ContactCreation" : {
        "type" : "object",
        "description" : "Contient les informations a envoyer pour la création d'un contact",
        "required" : [ "emp_accord_contact", "mel", "nom", "prenom", "prj_type", "tel_mobile" ],
        "properties" : {
          "ad_cc" : {
            "type" : "string",
            "description" : "Code commune INSEE de l'emprunteur. Défini en France uniquement."
          },
          "ad_cp" : {
            "type" : "string",
            "description" : "Code postal de l'emprunteur."
          },
          "ad_ville" : {
            "type" : "string",
            "description" : "Ville (commune) de l'emprunteur."
          },
          "ad_pays" : {
            "type" : "string",
            "description" : "Code ISO 3 du pays de l'emprunteur. Code de la France par défaut."
          },
          "civilite" : {
            "type" : "string",
            "description" : "Civilité de l'emprunteur."
          },
          "civilite_apporteur" : {
            "type" : "string",
            "description" : "Civilité du compte utilisateur correspondant à apporteur. Valeurs possibles : 'M.' ou 'Mme'."
          },
          "commentaire" : {
            "type" : "string",
            "description" : "Commentaire éventuel laissé à la création de la demande de contact."
          },
          "emp_accord_contact" : {
            "type" : "boolean",
            "description" : "Indique si l'emprunteur accepte d'être contacté par monemprunt. Non nul."
          },
          "fin_apport" : {
            "type" : "number",
            "description" : "Apport personnel (hors prêt relais) en euros."
          },
          "mel" : {
            "type" : "string",
            "description" : "Adresse électronique de l'emprunteur. Cette adresse électronique est utilisée pour créer le compte utilisateur de l'emprunteur."
          },
          "mel_apporteur" : {
            "type" : "string",
            "description" : "Mail de l'apporteur. Création automatique du compte utilisateur de l'apporteur si nouveau et envoi d'un mail avec les identifiants de connexion."
          },
          "nom" : {
            "type" : "string",
            "description" : "Nom de famille de l'emprunteur."
          },
          "nom_apporteur" : {
            "type" : "string",
            "description" : "Nom de famille du compte utilisateur correspondant à l'apporteur."
          },
          "prenom" : {
            "type" : "string",
            "description" : "Prénom de l'emprunteur."
          },
          "prenom_apporteur" : {
            "type" : "string",
            "description" : "Prénom du compte utilisateur correspondant à l'apporteur."
          },
          "prj_montant" : {
            "type" : "number",
            "description" : "Montant du projet en euros. Non nul. 0 par défaut."
          },
          "prj_type" : {
            "type" : "string",
            "description" : "Type de projet immobilier. Non nul. Valeurs possibles : • LOGEMENT_NEUF : Achat d'un logement neuf • LOGEMENT_ANCIEN : Achat d'un logement ancien • TERRAIN : Achat d'un terrain seul • CONSTRUCTION : Construction seule • TERRAIN_ET_CONSTRUCTION : Achat d'un terrainet construction • TRAVAUX : Travaux • RENEGOCIATION : Renégociation d'un prêt immobilier • ACHAT_SCPI : Achat de parts de SCPI"
          },
          "prj_usage" : {
            "type" : "string",
            "description" : "Usage du bien. A définir pour tous les types de projets (prj_type) à l'exception des achats de parts de SCPI (prj_type='ACHAT_SCPI') ou de terrain (prj_type='TERRAIN'). Valeurs possibles : • RES_PRINCIPALE : Résidence principale\n  o Description : Résidence principale ou appelée à le devenir d'ici 6 ans pour les retraités (seul cas permettant debénéficier d'un PTZ+)\n• RES_SECONDAIRE : Résidence secondaire • LOCATIF : Investissement locatif"
          },
          "ref_part" : {
            "type" : "string",
            "description" : "Référence de la demande de contact dans le système d'information du partenaire. Maximum de 50 caractères. Cette référence est facultative."
          },
          "tel_apporteur" : {
            "type" : "string",
            "description" : "Téléphone de l'apporteur chez le partenaire."
          },
          "tel_mobile" : {
            "type" : "string",
            "description" : "Téléphone de l'emprunteur."
          }
        }
      },
      "ContactCreationReponse" : {
        "type" : "object",
        "description" : "Contient les informations de retour lors de la création de contact",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "code de réponse"
          },
          "no" : {
            "type" : "string",
            "description" : "N° unique du contact"
          }
        }
      },
      "ContactConsultation" : {
        "type" : "object",
        "description" : "Contient les informations d'un contact",
        "properties" : {
          "ad_cc" : {
            "type" : "string",
            "description" : "Code commune INSEE de l'emprunteur. Défini en France uniquement."
          },
          "ad_cp" : {
            "type" : "string",
            "description" : "Code postal de l'emprunteur."
          },
          "ad_ville" : {
            "type" : "string",
            "description" : "Ville (commune) de l'emprunteur."
          },
          "ad_pays" : {
            "type" : "string",
            "description" : "Code ISO 3 du pays de l'emprunteur. Code de la France par défaut."
          },
          "civilite" : {
            "type" : "string",
            "description" : "Civilité de l'emprunteur."
          },
          "commentaire" : {
            "type" : "string",
            "description" : "Commentaire éventuel laissé à la création de la demande de contact."
          },
          "emp_accord_contact" : {
            "type" : "boolean",
            "description" : "Indique si l'emprunteur accepte d'être contacté par monemprunt. Non nul."
          },
          "fin_apport" : {
            "type" : "number",
            "description" : "Apport personnel (hors prêt relais) en euros."
          },
          "mel" : {
            "type" : "string",
            "description" : "Adresse électronique de l'emprunteur. Cette adresse électronique est utilisée pour créer le compte utilisateur de l'emprunteur."
          },
          "mel_apporteur" : {
            "type" : "string",
            "description" : "Mail de l'apporteur. Création automatique du compte utilisateur de l'apporteur si nouveau et envoi d'un mail avec les identifiants de connexion."
          },
          "nom" : {
            "type" : "string",
            "description" : "Nom de famille de l'emprunteur."
          },
          "prenom" : {
            "type" : "string",
            "description" : "Prénom de l'emprunteur."
          },
          "prj_montant" : {
            "type" : "number",
            "description" : "Montant du projet en euros. Non nul. 0 par défaut."
          },
          "prj_type" : {
            "type" : "string",
            "description" : "Type de projet immobilier. Non nul. Valeurs possibles : • LOGEMENT_NEUF : Achat d'un logement neuf • LOGEMENT_ANCIEN : Achat d'un logement ancien • TERRAIN : Achat d'un terrain seul • CONSTRUCTION : Construction seule • TERRAIN_ET_CONSTRUCTION : Achat d'un terrainet construction • TRAVAUX : Travaux • RENEGOCIATION : Renégociation d'un prêt immobilier • ACHAT_SCPI : Achat de parts de SCPI"
          },
          "prj_usage" : {
            "type" : "string",
            "description" : "Usage du bien. A définir pour tous les types de projets (prj_type) à l'exception des achats de parts de SCPI (prj_type='ACHAT_SCPI') ou de terrain (prj_type='TERRAIN'). Valeurs possibles : • RES_PRINCIPALE : Résidence principale\n  o Description : Résidence principale ou appelée à le devenir d'ici 6 ans pour les retraités (seul cas permettant debénéficier d'un PTZ+)\n• RES_SECONDAIRE : Résidence secondaire • LOCATIF : Investissement locatif"
          },
          "ref_part" : {
            "type" : "string",
            "description" : "Référence de la demande de contact dans le système d'information du partenaire. Maximum de 50 caractères. Cette référence est facultative."
          },
          "tel_mobile" : {
            "type" : "string",
            "description" : "Téléphone de l'emprunteur."
          }
        }
      },
      "CommentaireCreation" : {
        "type" : "object",
        "description" : "Objet de création de commentaire sur un dossier ou sur un contact.",
        "required" : [ "detail", false ],
        "properties" : {
          "detail" : {
            "type" : "string",
            "description" : "Texte du commentaire."
          },
          "mel_operateur" : {
            "type" : "string",
            "description" : "Adresse e-mail d'un compte utilisateur du partenaire. S'il n'existe pas de compte utilisateur pour cette adresse e- mail, alors elle est ignorée.\n"
          },
          "no" : {
            "type" : "number",
            "description" : "N° unique du contact ou dossier sur lequel déposer le commentaire"
          }
        }
      },
      "CommentaireCreationReponse" : {
        "type" : "object",
        "description" : "Réponse du service web d'ajout d'un commentaire.",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "OK"
          }
        }
      },
      "CommentaireConsultation" : {
        "type" : "object",
        "description" : "Objet représentant de commentaire sur un dossier ou sur un contact",
        "properties" : {
          "d_operation" : {
            "type" : "string",
            "description" : "Date de l'ajout du commentaire au format ISO 8601."
          },
          "detail" : {
            "type" : "string",
            "description" : "Texte du commentaire."
          },
          "mel_operateur" : {
            "type" : "string",
            "description" : "Adresse e-mail d'un compte utilisateur du partenaire. S'il n'existe pas de compte utilisateur pour cette adresse e- mail, alors elle est ignorée.\n"
          },
          "no" : {
            "type" : "string",
            "description" : "N° unique du dossier ou du contact lié a ce commentaire."
          }
        }
      },
      "EmprunteurCreation" : {
        "type" : "object",
        "description" : "Contient les informations d'un emprunteur",
        "required" : [ "cat_pro", "hab_actuelle", "mel", "rev_salaire", "tel_mobile" ],
        "properties" : {
          "ad_1" : {
            "type" : "string",
            "description" : "Première ligne d'adresse de l'emprunteur."
          },
          "ad_2" : {
            "type" : "string",
            "description" : "Deuxième ligne d'adresse de l'emprunteur."
          },
          "ad_cc" : {
            "type" : "string",
            "description" : "Code commune INSEE. Défini en France uniquement."
          },
          "ad_cp" : {
            "type" : "number",
            "description" : "Code postal. Note : longueur fixée à 20 pour supporter des codes étrangers.\n"
          },
          "ad_ville" : {
            "type" : "string",
            "description" : "Ville (commune)."
          },
          "ad_pays" : {
            "type" : "string",
            "description" : "Code ISO 3 du pays. Référence pays.iso3. Nul possible. 'FRA' par défaut."
          },
          "age" : {
            "type" : "number",
            "description" : "Age de l'emprunteur. Ignoré à la création du dossier si d_naissance est renseignée. 33 par défaut. Non nul."
          },
          "cat_pro" : {
            "type" : "string",
            "description" : "Catégorie professionnelle de l'emprunteur.",
            "enum" : [ "PRIVE_CDI_CADRE", "PRIVE_CDI_NON_CADRE", "PRIVE_CDI_ESSAI", "PRIVE_CDD", "PRIVE_INTERIM", "PRIVE_INTERMITTENT", "PUBLIC_TITULAIRE", "PUBLIC_CONTRACTUEL", "PUBLIC_STAGIAIRE", "NS_CHEF_ENTREPRISE", "NS_PRO_LIBERALE", "NS_ARTISAN", "NS_AGRI", "NS_INDEPENDANT", "NS_AUTO", "NS_COMMERCANT", "AUTRE_CP", "AUTRE_RET_PRIVE", "AUTRE_RET_PUBLIC", "AUTRE_RECH_EMPLOI", "AUTRE_ETUDIANT", "AUTRE_SANS_PROFESSION" ]
          },
          "civilite" : {
            "type" : "string",
            "description" : "Civilité de l'emprunteur. Valeurs possibles : 'M.' ou 'Mme'."
          },
          "d_embauche" : {
            "type" : "string",
            "description" : "Date d'embauche de l'emprunteur au format ISO 8601 sans heure (AAAA-MM-JJ). Exemple : '2019-09-08' pour le 8 septembre 2019. A définir si l'emprunteur est salarié.\n"
          },
          "d_naissance" : {
            "type" : "string",
            "description" : "Date de naissance de l'emprunteur au format ISO 8601 sans heure (AAAA-MM-JJ). Exemple : '2019-09-08' pour le 8 septembre 2019. Si la date de naissance est renseignée, on calcule l'âge automatiquement et la propriété age est ignorée. Il est bien de renseigner l'un des champs age ou d_naissance à la création pour éviter qu'un âge par défaut (33 ans) soit utilisé pour les calculs.\n"
          },
          "employeur" : {
            "type" : "string",
            "description" : "Nom de l'employeur de l'emprunteur."
          },
          "hab_actuelle" : {
            "type" : "string",
            "description" : "Statut actuel d'habitation de l'emprunteur.",
            "enum" : [ "LOCATAIRE", "PROPRIETAIRE", "HEBERGE_GRATUITEMENT", "LOGEMENT_FONCTION" ]
          },
          "hab_actuelle_devenir" : {
            "type" : "string",
            "description" : "Devenir de l'habitation actuelle. Défini si propriétaire uniquement mais pas obligatoire.\n",
            "enum" : [ "GARDER", "VENDRE_AVANT", "VENDRE_APRES" ]
          },
          "mel" : {
            "type" : "string",
            "description" : "Adresse électronique de l'emprunteur. Définie uniquement pour l'emprunteur (pas pour le co-emprunteur). Cette adresse électronique est utilisée pour créer le compte utilisateur de l'emprunteur. Un mail est envoyé à l'emprunteur avec les identifiants de connexion et un lien vers le dossier.\n"
          },
          "nom" : {
            "type" : "string",
            "description" : "Nom de l'emprunteur."
          },
          "nom_naissance" : {
            "type" : "string",
            "description" : "Nom de naissance de l'emprunteur."
          },
          "primo_accedant" : {
            "type" : "boolean",
            "description" : "Primo-accédant ? true ou false (false, par défaut)."
          },
          "prenom" : {
            "type" : "string",
            "description" : "Prénom de l'emprunteur."
          },
          "rev_aide" : {
            "type" : "number",
            "description" : "Allocations familiales et aides sociales en euros par mois."
          },
          "rev_foncier" : {
            "type" : "number",
            "description" : "Revenus fonciers actuels en euros par mois. Ces revenus n'incluent pas les futurs loyers dans le cas d'un investissement locatif."
          },
          "rev_nb_mois" : {
            "type" : "number",
            "description" : "Nombre de mois de versement du salaire (12 à 15). Lié à"
          },
          "rev_non_sociaux" : {
            "type" : "number",
            "description" : "Autres revenus non sociaux en euros."
          },
          "rev_pension" : {
            "type" : "number",
            "description" : "Pensions alimentaires reçues et/ou prestation compensatoire en euros par mois."
          },
          "rev_prime" : {
            "type" : "number",
            "description" : "Primes annuelles moyennes s'ajoutant au salaire net en euros. Ces primes ne sont pas prises en compte dans les revenus par les banquiers. L'intéressement et la participation aux bénéfices ne sont jamais pris en compte.\n"
          },
          "rev_salaire" : {
            "type" : "number",
            "description" : "Salaires et traitements, retraites, BIC, BNC en euros par mois. Salaires NETS sans les primes."
          },
          "sit_fam" : {
            "type" : "string",
            "description" : "Situation familiale de l'emprunteur.",
            "enum" : [ "CELIBAT", "MARIE_CONTRAT", "MARIE_COMMUN", "CONCUBIN", "PACS", "DIVORCE", "SEPARE", "VEUF" ]
          },
          "tel_fixe" : {
            "type" : "string",
            "description" : "N° de téléphone fixe de l'emprunteur."
          },
          "tel_mobile" : {
            "type" : "string",
            "description" : "N° de téléphone mobile. Obligatoire pour le premier emprunteur, mais facultatif pour l'éventuel second."
          }
        }
      },
      "EmprunteurConsultation" : {
        "type" : "object",
        "description" : "Contient les informations d'un emprunteur",
        "properties" : {
          "ad_cc" : {
            "type" : "string",
            "description" : "Code commune INSEE. Défini en France uniquement."
          },
          "ad_cp" : {
            "type" : "number",
            "description" : "Code postal. Note : longueur fixée à 20 pour supporter des codes étrangers.\n"
          },
          "ad_ville" : {
            "type" : "string",
            "description" : "Ville (commune)."
          },
          "ad_pays" : {
            "type" : "string",
            "description" : "Code ISO 3 du pays. Référence pays.iso3. Nul possible. 'FRA' par défaut."
          },
          "civilite" : {
            "type" : "string",
            "description" : "Civilité de l'emprunteur. Valeurs possibles : 'M.' ou 'Mme'."
          },
          "hab_actuelle" : {
            "type" : "string",
            "description" : "Statut actuel d'habitation de l'emprunteur.",
            "enum" : [ "LOCATAIRE", "PROPRIETAIRE", "HEBERGE_GRATUITEMENT", "LOGEMENT_FONCTION" ]
          },
          "hab_actuelle_devenir" : {
            "type" : "string",
            "description" : "Devenir de l'habitation actuelle. Défini si propriétaire uniquement mais pas obligatoire.\n",
            "enum" : [ "GARDER", "VENDRE_AVANT", "VENDRE_APRES" ]
          },
          "mel" : {
            "type" : "string",
            "description" : "Adresse électronique de l'emprunteur. Définie uniquement pour l'emprunteur (pas pour le co-emprunteur). Cette adresse électronique est utilisée pour créer le compte utilisateur de l'emprunteur. Un mail est envoyé à l'emprunteur avec les identifiants de connexion et un lien vers le dossier.\n"
          },
          "nom" : {
            "type" : "string",
            "description" : "Nom de l'emprunteur."
          },
          "primo_accedant" : {
            "type" : "boolean",
            "description" : "Primo-accédant ? true ou false (false, par défaut)."
          },
          "prenom" : {
            "type" : "string",
            "description" : "Prénom de l'emprunteur."
          },
          "tel_fixe" : {
            "type" : "string",
            "description" : "N° de téléphone fixe de l'emprunteur."
          },
          "tel_mobile" : {
            "type" : "string",
            "description" : "N° de téléphone mobile. Obligatoire pour le premier emprunteur, mais facultatif pour l'éventuel second."
          }
        }
      },
      "CreditExistant" : {
        "type" : "object",
        "description" : "Crédit existant.",
        "required" : [ "credit_type" ],
        "properties" : {
          "credit_type" : {
            "type" : "string",
            "description" : "Type de crédit. Non nul.",
            "enum" : [ "AUTO", "CONSO", "IMMO_LOCATIF", "IMMO_RES_PRINCIPALE", "IMMO_RES_SECONDAIRE", "PRET_ETUDIANT", "TRAVAUX", "TRESORERIE" ]
          },
          "paliers" : {
            "type" : "array",
            "description" : "Liste des paliers. Toujours chargés avec les crédits existants.",
            "items" : {
              "$ref" : "#/components/schemas/CreditExistantPalier"
            }
          }
        }
      },
      "CreditExistantPalier" : {
        "type" : "object",
        "description" : "Palier d'un crédit existant.",
        "required" : [ "mensualite" ],
        "properties" : {
          "mensualite" : {
            "type" : "number",
            "description" : "Mensualité en euros. Non nul."
          },
          "duree" : {
            "type" : "number",
            "description" : "Nombre d'échéances restantes (nombre de mois). Non nul."
          }
        }
      },
      "PalierRenego" : {
        "type" : "object",
        "description" : "Palier d'un prêt à renégocier.",
        "required" : [ "duree", "mensualite_ac" ],
        "properties" : {
          "duree" : {
            "type" : "number",
            "description" : "Nombre d'échéances restantes (nombre de mois). Non nul."
          },
          "mensualite_ac" : {
            "type" : "number",
            "description" : "Mensualité en euros, assurance DC-IPP-IPT-ITT-PTIA comprise. Non nul."
          }
        }
      },
      "PretRelais" : {
        "type" : "object",
        "description" : "Caractéristiques d'un prêt relais.",
        "required" : [ "prix_revente", "crd" ],
        "properties" : {
          "prix_revente" : {
            "type" : "number",
            "description" : "Prix de revente estimé (net vendeur) en euros et obligatoirement supérieur à 0."
          },
          "crd" : {
            "type" : "number",
            "description" : "Capital restant dû sur ce bien en euros, pouvant éventuellement être égal à 0."
          }
        }
      },
      "PretRenego" : {
        "type" : "object",
        "description" : "Prêt à renégocier. Il peut s'agir d'un prêt bancaire ou d'un PTZ.",
        "required" : [ "crd", "paliers" ],
        "properties" : {
          "ptz" : {
            "type" : "boolean",
            "description" : "Indique s'il s'agit d'un prêt bancaire à renégocier (false, par défaut) ou d'un PTZ (true)."
          },
          "preteur" : {
            "type" : "string",
            "description" : "Nom de l'établissement de crédit."
          },
          "crd" : {
            "type" : "number",
            "description" : "Nom de l'établissement de crédit."
          },
          "paliers" : {
            "type" : "array",
            "description" : "Liste des paliers. Il est obligatoire de définir au moins un palier pour les prêts à renégocier.\n",
            "items" : {
              "$ref" : "#/components/schemas/PalierRenego"
            }
          }
        }
      },
      "DemandeCalculMensualite" : {
        "type" : "object",
        "description" : "Demande de calcul de mensualité",
        "required" : [ "duree_pp", "taux_pp", "usage", "prix_logement" ],
        "properties" : {
          "apport" : {
            "type" : "number",
            "description" : "Apport en euros."
          },
          "cc" : {
            "type" : "string",
            "description" : "Code commune INSEE du bien."
          },
          "cp" : {
            "type" : "string",
            "description" : "Code postal du bien."
          },
          "duree_pp" : {
            "type" : "number",
            "description" : "Durée totale d'amortissement du prêt principal en mois (comprise entre 5*12 et 30*12 mois), incluant un éventuel différé."
          },
          "immeuble" : {
            "type" : "string",
            "description" : "Caractéristiques de l'immeuble. Valeurs possibles : • LOGEMENT_NEUF : Logement neuf • LOGEMENT_ANCIEN_PTZ : Logement ancien avec travaux importants rendant le projet éligible au PTZ • RACHAT_LOGEMENT_SOCIAL : Rachat d'un logement social ancien • LOGEMENT_ANCIEN_NON_PTZ : Logement ancien non éligible au PTZ"
          },
          "nb_occupant" : {
            "type" : "number",
            "description" : "Nombre d'occupants du logement."
          },
          "primo_accedant" : {
            "type" : "boolean",
            "description" : "Indique si l'emprunteur est primo accédant (true), ou non (false)."
          },
          "revenu_fiscal" : {
            "type" : "number",
            "description" : "Revenu fiscal de référence N-2 en euros. N est l'année de souscription du prêt."
          },
          "taux_pp" : {
            "type" : "number",
            "description" : "Taux du prêt principal en % (>= 0 et < 10). Taux fixe hors assurance saisi par l'utilisateur."
          },
          "usage" : {
            "type" : "string",
            "description" : "Usage du bien. Valeurs possibles : • RES_PRINCIPALE : Résidence principale • RES_SECONDAIRE : Résidence secondaire • LOCATIF : Investissement locatif"
          },
          "prix_logement" : {
            "type" : "number",
            "description" : "Prix du logement (hors frais de notaire) en euros. Doit être strictement supérieur à 0."
          }
        }
      },
      "DemandeCalculMontantAchat" : {
        "type" : "object",
        "description" : "demande de calcul de montant d'achat",
        "required" : [ "duree_pp", "taux_pp", "usage", "mensualite_totale" ],
        "properties" : {
          "apport" : {
            "type" : "number",
            "description" : "Apport en euros."
          },
          "cc" : {
            "type" : "string",
            "description" : "Code commune INSEE du bien."
          },
          "cp" : {
            "type" : "string",
            "description" : "Code postal du bien."
          },
          "duree_pp" : {
            "type" : "number",
            "description" : "Durée totale d'amortissement du prêt principal en mois (comprise entre 5*12 et 30*12 mois), incluant un éventuel différé."
          },
          "immeuble" : {
            "type" : "string",
            "description" : "Caractéristiques de l'immeuble. Valeurs possibles : • LOGEMENT_NEUF : Logement neuf • LOGEMENT_ANCIEN_PTZ : Logement ancien avec travaux importants rendant le projet éligible au PTZ • RACHAT_LOGEMENT_SOCIAL : Rachat d'un logement social ancien • LOGEMENT_ANCIEN_NON_PTZ : Logement ancien non éligible au PTZ"
          },
          "nb_occupant" : {
            "type" : "number",
            "description" : "Nombre d'occupants du logement."
          },
          "primo_accedant" : {
            "type" : "boolean",
            "description" : "Indique si l'emprunteur est primo accédant (true), ou non (false)."
          },
          "revenu_fiscal" : {
            "type" : "number",
            "description" : "Revenu fiscal de référence N-2 en euros. N est l'année de souscription du prêt."
          },
          "taux_pp" : {
            "type" : "number",
            "description" : "Taux du prêt principal en % (>= 0 et < 10). Taux fixe hors assurance saisi par l'utilisateur."
          },
          "usage" : {
            "type" : "string",
            "description" : "Usage du bien. Valeurs possibles : • RES_PRINCIPALE : Résidence principale • RES_SECONDAIRE : Résidence secondaire • LOCATIF : Investissement locatif"
          },
          "mensualite_totale" : {
            "type" : "number",
            "description" : "Mensualité lissée totale souhaitée (PP + PTZ) en euros."
          }
        }
      },
      "ResultatCalcul" : {
        "type" : "object",
        "description" : "retour d'une demande de calcul",
        "properties" : {
          "annuites" : {
            "type" : "array",
            "description" : "Annuités pour des durées prédéfinies.",
            "items" : {
              "$ref" : "#/components/schemas/ResultatAnnuiteCalcul"
            }
          },
          "cout_credit" : {
            "type" : "number",
            "description" : "Coût total du crédit en euros."
          },
          "duree_pp" : {
            "type" : "number",
            "description" : "Durée totale d'amortissement du prêt principal en mois (comprise entre 5*12 et 30*12 mois), incluant un éventuel différé."
          },
          "duree_ptz" : {
            "type" : "number",
            "description" : "Durée totale du PTZ+ en mois, incluant la période de différé."
          },
          "montant_pp" : {
            "type" : "number",
            "description" : "Montant du prêt principal en euros."
          },
          "montant_ptz" : {
            "type" : "number",
            "description" : "Montant du Prêt à Taux Zéro + en euros."
          },
          "paliers_pp" : {
            "type" : "array",
            "description" : "Paliers du prêt principal.",
            "items" : {
              "$ref" : "#/components/schemas/ResultatPallierCalcul"
            }
          },
          "paliers_ptz" : {
            "type" : "array",
            "description" : "Paliers du PTZ. 0 si pas de PTZ ou 2 si PTZ.",
            "items" : {
              "$ref" : "#/components/schemas/ResultatPallierCalcul"
            }
          },
          "zone_ptz" : {
            "type" : "string",
            "description" : "Nom de la zone PTZ. Valeurs possibles : • A : ZonePTZA • Abis : Zone PTZ Abis • B1 : ZonePTZB1 • B2 : ZonePTZB2 • C : ZonePTZC"
          }
        }
      },
      "ResultatAnnuiteCalcul" : {
        "type" : "object",
        "description" : "Annuité en retour de calcul",
        "properties" : {
          "annee" : {
            "type" : "number",
            "description" : "Année de remboursement. De 1 à la durée du prêt."
          },
          "annuite" : {
            "type" : "number",
            "description" : "Montant payé au total cette année en euros."
          },
          "rembourse" : {
            "type" : "number",
            "description" : "Montant du capital déjà amorti/remboursé en euros."
          },
          "interet" : {
            "type" : "number",
            "description" : "Intérêts payé cette année en euros."
          },
          "assurance" : {
            "type" : "number",
            "description" : "Assurance payée cette année en euros."
          },
          "capital_restant" : {
            "type" : "number",
            "description" : "Capital restant à rembourser en euros."
          }
        }
      },
      "ResultatPallierCalcul" : {
        "type" : "object",
        "description" : "pallier de prets en retour de calcul",
        "properties" : {
          "id" : {
            "type" : "number",
            "description" : "Identifiant interne auto-incrémenté."
          },
          "ordre" : {
            "type" : "number",
            "description" : "Ordre du palier à partir de 1. 1 par défaut."
          },
          "duree" : {
            "type" : "number",
            "description" : "Nombre d'échéances du palier (nombre de mois)."
          },
          "mensualite_ac" : {
            "type" : "number",
            "description" : "Mensualité du palier en centimes d'euro, assurance DI comprise."
          },
          "pret_id" : {
            "type" : "number",
            "description" : "Identifiant interne du prêt."
          }
        }
      },
      "PartenaireCreation" : {
        "type" : "object",
        "description" : "Objet de creation de partenaire",
        "required" : [ "mel_superviseur", "nom" ],
        "properties" : {
          "civilite_superviseur" : {
            "type" : "string",
            "description" : "Civilité du superviseur associé au partenaire."
          },
          "mel_superviseur" : {
            "type" : "string",
            "description" : "Mail du superviseur associé au partenaire."
          },
          "nom" : {
            "type" : "string",
            "description" : "Nom du partenaire (nom d'entreprise par exemple)."
          },
          "nom_superviseur" : {
            "type" : "string",
            "description" : "Nom du superviseur associé au partenaire."
          },
          "prenom_superviseur" : {
            "type" : "string",
            "description" : "Prénom du superviseur associé au partenaire."
          },
          "tel_superviseur" : {
            "type" : "string",
            "description" : "Numéro de téléphone du superviseur associé au partenaire."
          }
        }
      },
      "ResultatPartenaireCreation" : {
        "type" : "object",
        "description" : "Objet de retour suite a la création d'un partenaire",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "code de création, normalement \"OK\""
          },
          "cle_api" : {
            "type" : "string",
            "description" : "Clé d'API du partenaire nouvellement créé"
          },
          "cle_wai" : {
            "type" : "string",
            "description" : "Clé de widget du partenaire nouvellement créé"
          },
          "id" : {
            "type" : "number",
            "description" : "ID unique du partenaire nouvellement créé"
          }
        }
      },
      "PartenaireConsultation" : {
        "type" : "object",
        "description" : "Objet de creation de partenaire",
        "properties" : {
          "civilite_superviseur" : {
            "type" : "string",
            "description" : "Civilité du superviseur associé au partenaire."
          },
          "mel_superviseur" : {
            "type" : "string",
            "description" : "Mail du superviseur associé au partenaire."
          },
          "nom" : {
            "type" : "string",
            "description" : "Nom du partenaire (nom d'entreprise par exemple)."
          },
          "nom_superviseur" : {
            "type" : "string",
            "description" : "Nom du superviseur associé au partenaire."
          },
          "prenom_superviseur" : {
            "type" : "string",
            "description" : "Prénom du superviseur associé au partenaire."
          },
          "tel_superviseur" : {
            "type" : "string",
            "description" : "Numéro de téléphone du superviseur associé au partenaire."
          },
          "etat_contrat" : {
            "type" : "boolean",
            "description" : "Indique si le contrat est signé (true) ou non (false)."
          },
          "cle_api" : {
            "type" : "string",
            "description" : "Clé d'utilisation de l'API pour ce partenaire."
          },
          "cle_wai" : {
            "type" : "string",
            "description" : "Clé d'utilisation du widget pour ce partenaire."
          },
          "id" : {
            "type" : "number",
            "description" : "Identifiant du partenaire"
          },
          "iobsp" : {
            "type" : "boolean",
            "description" : "Indique si ce partenaire est autorisé à réaliser des estimations automatiques."
          }
        }
      }
    }
  }
}