{
  "openapi" : "3.0.0",
  "servers" : [ {
    "url" : "https://www.sagaftra.org"
  } ],
  "info" : {
    "description" : "This is a simple API to test our Swagger into SAG-AFTRA",
    "version" : "1.0.0",
    "title" : "Get All Active Branches",
    "contact" : {
      "email" : "ryan.pimentel@sagaftra.org"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.sagaftra.org"
    }
  },
  "tags" : [ {
    "name" : "developers",
    "description" : "Operations available to regular developers"
  } ],
  "paths" : {
    "/events/api/locals" : {
      "get" : {
        "tags" : [ "developers" ],
        "summary" : "searches inventory",
        "operationId" : "searchInventory",
        "description" : "By passing in the appropriate options, you can search for\navailable inventory in the system\n",
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/InventoryItem"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "InventoryItem" : {
        "type" : "object",
        "required" : [ "name", "locaKey" ],
        "properties" : {
          "name" : {
            "type" : "string",
            "example" : "Arizona-Utah"
          },
          "localKey" : {
            "type" : "integer",
            "example" : 46
          }
        }
      }
    }
  }
}