{
  "openapi" : "3.0.0",
  "info" : {
    "description" : "This is our customer facing API for the Qorta platform",
    "version" : "1.0-beta",
    "title" : "SambaSafety Customer API"
  },
  "tags" : [ {
    "name" : "authentication"
  }, {
    "name" : "group",
    "description" : "Operations to manage a group"
  }, {
    "name" : "people",
    "description" : "Operations to manage people in groups"
  }, {
    "name" : "license",
    "description" : "Operations to manage licenses associated with people"
  }, {
    "name" : "license enrollment",
    "description" : "Operations to manage enrollment in monitoring per license"
  }, {
    "name" : "mvr",
    "description" : "Operations to view an MVR"
  } ],
  "paths" : {
    "/oauth2/v1/token" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Authorization/1.0#/components/token"
    },
    "/oauth2/v1/revoke" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Authorization/1.0#/components/revokeToken"
    },
    "/organization/v1/groups/{groupId}" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Organization/1.0-beta#/components/groupsById"
    },
    "/organization/v1/groups" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Organization/1.0-beta#/components/groups"
    },
    "/organization/v1/groups/{groupId}/people" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Organization/1.0-beta#/components/people"
    },
    "/organization/v1/people/{personId}" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Organization/1.0-beta#/components/peopleById"
    },
    "/organization/v1/groups/{groupId}/people/{personId}" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Organization/1.0-beta#/components/groupsByIdPeopleById"
    },
    "/organization/v1/people/search" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Organization/1.0-beta#/components/peopleBySearch"
    },
    "/organization/v1/licenses/{licenseId}" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Organization/1.0-beta#/components/licensesById"
    },
    "/organization/v1/licenses/search" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Organization/1.0-beta#/components/licenseBySearch"
    },
    "/organization/v1/people/{personId}/licenses" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Organization/1.0-beta#/components/licenses"
    },
    "/monitoring/v1/groups/{groupId}/licenseenrollments" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Monitoring/1.0-beta#/components/licenseEnrollmentsByGroupId"
    },
    "/monitoring/v1/licenseenrollments/{licenseId}" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Monitoring/1.0-beta#/components/licenseEnrollmentsById"
    },
    "/monitoring/v1/people/{personId}/licenseenrollments" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Monitoring/1.0-beta#/components/licenseEnrollmentsByPersonId"
    },
    "/monitoring/v1/licenseenrollments/search" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Monitoring/1.0-beta#/components/licenseEnrollmentsByStateByDLN"
    },
    "/transactional/v1/mvrorders/{mvrOrderId}" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Transactional/1.0-beta#/components/MVROrderByPersonId"
    },
    "/transactional/v1/licenses/{licenseId}/mvrorders" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Transactional/1.0-beta#/components/MVROrderByLicenseId"
    },
    "/reports/v1/motorvehiclereports/watch" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Reports/1.0-beta#/components/MVRWatch"
    },
    "/reports/v1/motorvehiclereports/watch/{subscriptionId}" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Reports/1.0-beta#/components/SubscriptionModify"
    },
    "/reports/v1/people/{personId}/motorvehiclereports" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Reports/1.0-beta#/components/MVRsByPersonId"
    },
    "/reports/v1/motorvehiclereports/{mvrId}" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Reports/1.0-beta#/components/MVRsById"
    },
    "/reports/v1/motorvehiclereports/{mvrId}/mvrreason" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/Reports/1.0-beta#/components/MvrReason"
    },
    "/reports/v1/monitoring/motorvehiclereports/{mvrId}" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/MonitoringMotorVehicleReports/1.0-beta#/components/MonitoringMVRById"
    },
    "/reports/v1/compliance/motorvehiclereports/{mvrId}" : {
      "$ref" : "https://api.swaggerhub.com/domains/SambaSafety/MonitoringMotorVehicleReports/1.0-beta#/components/ComplianceMVRById"
    }
  },
  "components" : {
    "securitySchemes" : {
      "ApiKeyAuth" : {
        "type" : "apiKey",
        "in" : "header",
        "name" : "x-api-key"
      },
      "Authorization" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT",
        "description" : "For accessing the API a valid JWT token must be passed in \nthe 'Authorization' header.\nA valid JWT token is generated by the Authentication API.\nThe following syntax must be used in the 'Authorization' header :\n\n    Bearer: xxxxxx.yyyyyyy.zzzzzz\n"
      }
    }
  },
  "security" : [ {
    "ApiKeyAuth" : [ ],
    "Authorization" : [ ]
  } ],
  "servers" : [ {
    "description" : "SwaggerHub API Auto Mocking",
    "url" : "https://api-mock.sambasafety.io"
  } ]
}