{
  "openapi" : "3.0.0",
  "servers" : [ {
    "description" : "Homologação",
    "url" : "https://monitoramento.viafacil.com.br/nissan/api"
  } ],
  "info" : {
    "description" : "SemParar & Nissan API Integration",
    "version" : "1.0.2",
    "title" : "SemParar & Nissan API",
    "contact" : {
      "email" : "rodrigo.souza@semparar.com.br"
    }
  },
  "tags" : [ {
    "name" : "Authorization",
    "description" : "Authorization methods"
  }, {
    "name" : "Operation",
    "description" : "Available to regular users"
  } ],
  "paths" : {
    "/auth/login" : {
      "get" : {
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "tags" : [ "Authorization" ],
        "summary" : "Login",
        "operationId" : "Login",
        "description" : "Receive an authorization token after a successfull login",
        "responses" : {
          "200" : {
            "description" : "Login successfull"
          },
          "404" : {
            "description" : "Invalid credentials"
          },
          "403" : {
            "description" : "Access Forbidden"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/operation/getLastTiv" : {
      "get" : {
        "tags" : [ "Operation" ],
        "summary" : "get last tiv read by antenna",
        "operationId" : "getLastTiv",
        "description" : "Return the last read Tiv by antenna",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataItem"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "500" : {
            "description" : "Internal server error"
          }
        }
      }
    },
    "/operation/getDataByTID/{tid}" : {
      "get" : {
        "tags" : [ "Operation" ],
        "summary" : "searches database for data related to TID",
        "operationId" : "getDataByTID",
        "description" : "By passing the TID number, you can search for\navailable data in SemParar database\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "tid",
          "description" : "pass a tid number for looking up SemParar database",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 104900142188206
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataItem"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "204" : {
            "description" : "A register with the specified TID was not found."
          },
          "500" : {
            "description" : "Internal server error"
          }
        }
      }
    },
    "/diagnostic/getCheck" : {
      "get" : {
        "tags" : [ "Diagnostic" ],
        "summary" : "Check if some required items are functional",
        "operationId" : "getCheck",
        "description" : "Check if the required system items are functional",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckItems"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "500" : {
            "description" : "Internal server error"
          }
        }
      }
    },
    "/operation/getDataByOBUID/{obuid}" : {
      "get" : {
        "tags" : [ "Operation" ],
        "summary" : "searches database for data related to OBUID",
        "operationId" : "getDataByOBUID",
        "description" : "By passing the OBUID number, you can search for\navailable data in SemParar database\n",
        "parameters" : [ {
          "in" : "path",
          "name" : "obuid",
          "description" : "pass a obuid number for looking up SemParar database",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "example" : 7.12345678E8
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataItem"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "404" : {
            "description" : "A register with the specified TID was not found."
          },
          "500" : {
            "description" : "Internal server error"
          }
        }
      }
    },
    "/operation/updateDataByTid" : {
      "post" : {
        "tags" : [ "Operation" ],
        "summary" : "Update SemParar Database passing VIN, TID and DateTime Read",
        "operationId" : "UpdateDataByTid",
        "description" : "Update SemParar Database with additional informations related to RFID Read or HandHeld collected data",
        "requestBody" : {
          "description" : "DataItem object",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateTid"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Data updated."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "404" : {
            "description" : "A register with the specified OBUID was not found."
          },
          "500" : {
            "description" : "Internal server error."
          }
        }
      }
    },
    "/operation/updateDataByObuid" : {
      "post" : {
        "tags" : [ "Operation" ],
        "summary" : "Update SemParar Database passing Obuid and DateTime Read",
        "operationId" : "UpdateDataByObuid",
        "description" : "Update SemParar Database with additional informations related to RFID Read or HandHeld collected data",
        "requestBody" : {
          "description" : "DataItem object",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateObuid"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Data updated."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "404" : {
            "description" : "A register with the specified OBUID was not found."
          },
          "500" : {
            "description" : "Internal server error."
          }
        }
      }
    }
  },
  "components" : {
    "securitySchemes" : {
      "bearerAuth" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      },
      "basicAuth" : {
        "type" : "http",
        "scheme" : "basic"
      }
    },
    "schemas" : {
      "DataItem" : {
        "type" : "object",
        "required" : [ "dhRead" ],
        "properties" : {
          "dhRead" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2019-11-26T08:00:00"
          },
          "obuid" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 718915892
          },
          "tid" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 104900142188206
          },
          "vin" : {
            "type" : "string",
            "example" : "9BG116GW04C400001"
          }
        }
      },
      "UpdateTid" : {
        "type" : "object",
        "required" : [ "dhRead", "tid", "vin" ],
        "properties" : {
          "dhRead" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2019-11-26T08:00:00"
          },
          "tid" : {
            "type" : "integer",
            "format" : "int64",
            "example" : 104900142188206
          },
          "vin" : {
            "type" : "string",
            "example" : "9BG116GW04C400001"
          }
        }
      },
      "UpdateObuid" : {
        "type" : "object",
        "required" : [ "dhRead", "obuid" ],
        "properties" : {
          "dhRead" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2019-11-26T08:00:00"
          },
          "obuid" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 718915892
          }
        }
      },
      "CheckItems" : {
        "type" : "object",
        "properties" : {
          "database" : {
            "type" : "boolean",
            "example" : true,
            "description" : "SemParar Database Status"
          },
          "reader" : {
            "type" : "boolean",
            "example" : true,
            "description" : "SLT Status"
          },
          "gateway" : {
            "type" : "boolean",
            "example" : true,
            "description" : "SemParar Gateway Status"
          },
          "nissan" : {
            "type" : "boolean",
            "example" : true,
            "description" : "Nissan Server Status"
          }
        }
      }
    }
  },
  "security" : [ {
    "bearerAuth" : [ ]
  } ]
}