{
  "openapi" : "3.0.0",
  "info" : {
    "description" : "ShopRunBack API",
    "version" : "1.1.0.0",
    "title" : "Return as a Service with ShopRunBack",
    "contact" : {
      "email" : "dev@shoprunback.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers" : [ {
    "url" : "https://sandbox.dashboard.shoprunback.com/api/v1"
  }, {
    "url" : "https://dashboard.shoprunback.com/api/v1"
  } ],
  "tags" : [ {
    "name" : "Account",
    "description" : "Manage your account information"
  }, {
    "name" : "Company",
    "description" : "Manage your company information"
  }, {
    "name" : "Team",
    "description" : "Manage your team"
  }, {
    "name" : "Configuration",
    "description" : "Configuration of your company account"
  }, {
    "name" : "Logistic",
    "description" : "Manage your warehouses"
  }, {
    "name" : "Catalog",
    "description" : "Manage your products catalog"
  }, {
    "name" : "Sponsoring",
    "description" : "Manage your return sponsoring"
  }, {
    "name" : "Relocation",
    "description" : "Manage your return relocations"
  }, {
    "name" : "Order",
    "description" : "Manage your order"
  }, {
    "name" : "Return",
    "description" : "Manage your returns/shipbacks"
  }, {
    "name" : "Customer",
    "description" : "Manage the return's customer"
  }, {
    "name" : "Returned Item",
    "description" : "Manage the returned items"
  }, {
    "name" : "Return notifications",
    "description" : "Manage the return's notifications"
  }, {
    "name" : "Return reimbursement",
    "description" : "Manage the return's financial state"
  }, {
    "name" : "Quotes",
    "description" : "Get the shipback (logistics) quotes"
  }, {
    "name" : "Constants",
    "description" : "ShopRunBack global constants"
  } ],
  "paths" : {
    "/me" : {
      "get" : {
        "tags" : [ "Account" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Get details about your account",
        "description" : "This endpoint is available to anyone with a valid token",
        "responses" : {
          "200" : {
            "description" : "Your account information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Account" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Update your personal information",
        "description" : "This endpoint is accessible by anyone with a valid token",
        "responses" : {
          "200" : {
            "description" : "Your updated account information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/User"
              }
            }
          },
          "description" : "Your account information",
          "required" : true
        }
      }
    },
    "/users/{UserUUID}" : {
      "get" : {
        "tags" : [ "Account" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Get details about a teammate",
        "description" : "This endpoint might be called on his own id or the one of a teammate",
        "parameters" : [ {
          "in" : "path",
          "name" : "UserUUID",
          "description" : "User UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "User information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/anonymous" : {
      "post" : {
        "tags" : [ "Return" ],
        "summary" : "Create an anonymous user associated with a shipback",
        "description" : "This endpoints allows to create an anonymous user associated with a\nshibpack. It allows customers to perform some API calls on the\nassociated shipback and quotes during the return registration process.\n",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "shipback_id" : {
                    "type" : "string",
                    "description" : "UUID of the shipback the user is created for",
                    "example" : "b6ae57c5-83a4-4919-a0cf-3af60ef424bc"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "There was an error processing the request"
          },
          "201" : {
            "description" : "The anonymous was succesfully created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "auth_token" : {
                      "type" : "string",
                      "description" : "An autentication token that can be used to perform some\nAPI calls on the associated shipback\n",
                      "example" : "SomeSortOfReasonnablyLongToken"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/company" : {
      "get" : {
        "tags" : [ "Company" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Information about the current company",
        "description" : "Company owner and company collaborators can access this endpoint",
        "responses" : {
          "200" : {
            "description" : "Your company information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Company"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Company" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Update your current company information",
        "description" : "Only company owners can call this endpoint",
        "responses" : {
          "200" : {
            "description" : "Your updated company information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Company"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. You doesn't have sufficient  privileges to call this endpoint."
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Company"
              }
            }
          },
          "description" : "Your company information",
          "required" : true
        }
      }
    },
    "/companies" : {
      "get" : {
        "tags" : [ "Company" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "List the companies the calling user has access to",
        "description" : "List all the companies the current_user is an  employee of. Company owners might have access to more informations.",
        "responses" : {
          "403" : {
            "description" : "You do not have access to this endpoint"
          },
          "200" : {
            "description" : "A list of companies",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "companies" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Company"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies/{CompanyUUID}" : {
      "get" : {
        "tags" : [ "Company" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Information about the requested company",
        "description" : "Only the owner and team members of the company can access this endpoint.",
        "parameters" : [ {
          "in" : "path",
          "name" : "CompanyUUID",
          "description" : "The compamy UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The company information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Company"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{CompanyUUID}/collaborators" : {
      "get" : {
        "tags" : [ "Team" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "List all company's collaborators",
        "parameters" : [ {
          "in" : "path",
          "name" : "CompanyUUID",
          "description" : "The compamy UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "All company's collaborators",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Collaborator"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collaborators" : {
      "get" : {
        "tags" : [ "Team" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "List all company's collaborators",
        "description" : "Company owner and company collaborator can access this endpoint",
        "responses" : {
          "200" : {
            "description" : "All company's collaborators",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Collaborator"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Team" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Invite a collaborator to your team (Manager only)",
        "responses" : {
          "200" : {
            "description" : "Invited collaborator",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Collaborator"
                }
              }
            }
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Collaborator"
              }
            }
          },
          "description" : "Email is required too"
        }
      }
    },
    "/countries" : {
      "get" : {
        "tags" : [ "Configuration" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "List all countries",
        "description" : "List all countries your customer can return a product from",
        "parameters" : [ {
          "$ref" : "#/components/parameters/locale"
        } ],
        "responses" : {
          "200" : {
            "description" : "Company's countries",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Country"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Configuration" ],
        "summary" : "Add a list of countries (Manager only)",
        "security" : [ {
          "Token" : [ ]
        } ],
        "description" : "Sets the list of countries for which you want to enable the ShopRunBack return service. It is **recommended** to use the dashboard instead of the API.",
        "parameters" : [ {
          "$ref" : "#/components/parameters/locale"
        } ],
        "responses" : {
          "200" : {
            "description" : "Array of country codes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Country"
                  }
                }
              }
            }
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "example" : [ "FR", "DE" ],
                "items" : {
                  "$ref" : "#/components/schemas/CountryCode"
                }
              }
            }
          },
          "description" : "Array of country code",
          "required" : true
        }
      }
    },
    "/countries/all" : {
      "get" : {
        "tags" : [ "Configuration", "Unauthenticated" ],
        "summary" : "List all countries",
        "description" : "List all countries supported by ShopRunBack",
        "parameters" : [ {
          "$ref" : "#/components/parameters/locale"
        } ],
        "responses" : {
          "200" : {
            "description" : "Supported countries",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Country"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reasons" : {
      "get" : {
        "tags" : [ "Configuration" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "List all reasons",
        "description" : "List all reasons your customer can use to return a product",
        "parameters" : [ {
          "$ref" : "#/components/parameters/locale"
        } ],
        "responses" : {
          "200" : {
            "description" : "Company's reason codes if company known.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Reason"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Configuration" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Add a list of reasons (Manager only)",
        "description" : "Add a list of reasons you want to add for your customers. It is **recommended** to use the dashboard instead of the API.",
        "parameters" : [ {
          "$ref" : "#/components/parameters/locale"
        } ],
        "responses" : {
          "200" : {
            "description" : "Array of reason codes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Reason"
                  }
                }
              }
            }
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "example" : [ "doesnt_fit", "damaged" ],
                "items" : {
                  "$ref" : "#/components/schemas/ReasonCode"
                }
              }
            }
          },
          "description" : "Array of reason code",
          "required" : true
        }
      }
    },
    "/reasons/all" : {
      "get" : {
        "tags" : [ "Configuration", "Unauthenticated" ],
        "summary" : "List all reasons supported by ShopRunBack",
        "description" : "List all reasons supported by ShopRunBack",
        "parameters" : [ {
          "$ref" : "#/components/parameters/locale"
        } ],
        "responses" : {
          "200" : {
            "description" : "Supported reasons",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Reason"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wishes" : {
      "get" : {
        "tags" : [ "Configuration" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "List all your wishes",
        "description" : "List all wishes your customer can use to return a product",
        "parameters" : [ {
          "$ref" : "#/components/parameters/locale"
        } ],
        "responses" : {
          "200" : {
            "description" : "Company's wishes codes if company known.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Wish"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Configuration" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Sets the list of wishes supported by the company (Manager only)",
        "description" : "Add a list of wishes you want to add for your customers.<br> It is recommended to use the dashboard instead of the API.",
        "parameters" : [ {
          "$ref" : "#/components/parameters/locale"
        } ],
        "responses" : {
          "200" : {
            "description" : "Array of wish codes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Wish"
                  }
                }
              }
            }
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "example" : [ "voucher" ],
                "items" : {
                  "$ref" : "#/components/schemas/WishCode"
                }
              }
            }
          },
          "description" : "Array of reason code",
          "required" : true
        }
      }
    },
    "/wishes/all" : {
      "get" : {
        "tags" : [ "Configuration", "Unauthenticated" ],
        "summary" : "List all wishes supported by ShopRunBack",
        "description" : "List all wishes supported by ShopRunBack",
        "parameters" : [ {
          "$ref" : "#/components/parameters/locale"
        } ],
        "responses" : {
          "200" : {
            "description" : "Supported wishes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Wish"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/relocations" : {
      "get" : {
        "deprecated" : true,
        "tags" : [ "Relocation" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "List all your relocation rules",
        "responses" : {
          "200" : {
            "description" : "Your relocation rules",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Relocation"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "deprecated" : true,
        "tags" : [ "Relocation" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Add a relocation rule (Manager only)",
        "description" : "You can create a rule for a specific country and reason but if you do not provide the country and/or the reason you will create several rules for all your countries and/or all your reasons.<br>It is easier to manage your relocation rules on the dashboard: https://dashboard.shoprunback.com/relocations.<br><br>Only the owner or a manager can create a sponsoring.",
        "responses" : {
          "200" : {
            "description" : "Your relocation rules",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Relocation"
                  }
                }
              }
            }
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Relocation"
              }
            }
          }
        }
      }
    },
    "/sponsorings" : {
      "get" : {
        "deprecated" : true,
        "tags" : [ "Sponsoring" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "List all your sponsoring rules",
        "responses" : {
          "200" : {
            "description" : "Your sponsoring rules",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Sponsoring"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "deprecated" : true,
        "tags" : [ "Sponsoring" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Add a sponsoring rule (Manager only)",
        "description" : "You can create a sponsoring for a specific country and reason but if you do not provide the country and/or the reason you will create several sponsorings for all your countries and/or all your reasons.<br>It is easier to manage your sponsoring on the dashboard: https://dashboard.shoprunback.com/sponsorings.<br><br>Only the owner or a manager can create a sponsoring.",
        "responses" : {
          "200" : {
            "description" : "Your sponsoring rules",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Sponsoring"
                  }
                }
              }
            }
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Sponsoring"
              }
            }
          }
        }
      }
    },
    "/warehouses" : {
      "get" : {
        "tags" : [ "Logistic" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "List your warehouses",
        "description" : "List the company's warehouses",
        "responses" : {
          "200" : {
            "description" : "A list of warehouses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Warehouse"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Logistic" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Add a warehouse",
        "description" : "Add a warehouse to your company.<br> It is recommended to use the dashboard instead of the API.<br>Warning: a warehouse can't be deleted by yourself because logistics operation could be already triggered (Contact the support to really delete a warehouse).",
        "responses" : {
          "201" : {
            "description" : "The created warehouse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Warehouse"
                }
              }
            }
          },
          "400" : {
            "description" : "There were errors creating the warehouse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Warehouse"
              }
            }
          }
        }
      }
    },
    "/warehouses/{identifier}" : {
      "get" : {
        "tags" : [ "Logistic" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Get warehouse details",
        "parameters" : [ {
          "in" : "path",
          "name" : "identifier",
          "description" : "The warehouse UUID or the warehouse reference (set on create)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Your warehouse's details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Warehouse"
                }
              }
            }
          },
          "404" : {
            "description" : "The warehouse does not exist or you are not allowed to access it"
          }
        }
      }
    },
    "/jigsizes" : {
      "get" : {
        "tags" : [ "Constants" ],
        "summary" : "Get all jig sizes supported by ShopRunBack",
        "responses" : {
          "200" : {
            "description" : "Supported Jig Sizes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JigSize"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/brands" : {
      "get" : {
        "tags" : [ "Catalog" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "List your brands",
        "description" : "If you don't have created any brand, only the default one (created for you) will be returned.",
        "responses" : {
          "200" : {
            "description" : "The company's brands",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Brand"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Catalog" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Add a brand",
        "description" : "If your catalog as multiple brands and you manage your products per brand, you can create the brands on ShopRunBack. Otherwise, you don't have to create any brand, a default brand will be used.",
        "responses" : {
          "201" : {
            "description" : "The created brand",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Brand"
                }
              }
            }
          },
          "400" : {
            "description" : "There were errors while creating your brand",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Brand"
              }
            }
          }
        }
      }
    },
    "/brands/{identifier}" : {
      "get" : {
        "tags" : [ "Catalog" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Get brand details",
        "parameters" : [ {
          "in" : "path",
          "name" : "identifier",
          "description" : "The brand UUID or the brand reference",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Your brand's details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Brand"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Catalog" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Update brand details",
        "parameters" : [ {
          "in" : "path",
          "name" : "identifier",
          "description" : "The brand UUID or the brand reference",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Your brand's details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Brand"
                }
              }
            }
          },
          "400" : {
            "description" : "There were errors while updating your brand",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Catalog" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Delete brand",
        "description" : "The brand should not have any linked products",
        "parameters" : [ {
          "in" : "path",
          "name" : "identifier",
          "description" : "The brand UUID or the brand reference",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The brand has been deleted"
          },
          "403" : {
            "description" : "This operation is not allowed. The brand might not owned by your company (wrong id), you might be trying to remove the default brand or a brand which still has some associated products"
          },
          "400" : {
            "description" : "There were errors deleting the brand"
          }
        }
      }
    },
    "/products" : {
      "get" : {
        "tags" : [ "Catalog" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "List you products",
        "parameters" : [ {
          "$ref" : "#/components/parameters/page"
        } ],
        "responses" : {
          "200" : {
            "description" : "The company's products (paginated)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "pagination" : {
                      "$ref" : "#/components/schemas/Pagination"
                    },
                    "products" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Product"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Catalog" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Add a product",
        "description" : "Please note that the image processing might happen asynchronously, so the picture_url returned by this call might still contain the default picture",
        "responses" : {
          "201" : {
            "description" : "The created product with its brand",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                }
              }
            }
          },
          "400" : {
            "description" : "There were errors processing your request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "brand" : {
                      "$ref" : "#/components/schemas/Errors"
                    },
                    "product" : {
                      "$ref" : "#/components/schemas/Errors"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Product"
              }
            }
          }
        }
      }
    },
    "/products/{identifier}" : {
      "get" : {
        "tags" : [ "Catalog" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Get product's details",
        "parameters" : [ {
          "in" : "path",
          "name" : "identifier",
          "description" : "The product UUID or the product reference",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The product's details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Catalog" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Update product",
        "description" : "You can't create a new brand while updating a product. Set the desired brand UUID or reference in the brand_id field otherwise the default brand will be used.\nPlease also note that the image processing might happen asynchronously, so the picture_url returned by this call might still contain the default or previous picture",
        "parameters" : [ {
          "in" : "path",
          "name" : "identifier",
          "description" : "The product UUID or the product reference",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Product"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Your product's details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Catalog" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Delete product",
        "description" : "The product should not have any linked order's items",
        "parameters" : [ {
          "in" : "path",
          "name" : "identifier",
          "description" : "The product UUID or the product reference",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The product has been deleted"
          },
          "400" : {
            "description" : "The product can't be destroyed (see returned errors)"
          }
        }
      }
    },
    "/products/{identifier}/image" : {
      "delete" : {
        "tags" : [ "Catalog" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Delete product's image",
        "description" : "",
        "parameters" : [ {
          "in" : "path",
          "name" : "identifier",
          "description" : "The product UUID or the product reference",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The product's image has been deleted"
          },
          "400" : {
            "description" : "The product's image can't be destroyed (see returned errors)"
          }
        }
      }
    },
    "/orders" : {
      "get" : {
        "tags" : [ "Order" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "List all your orders",
        "responses" : {
          "200" : {
            "description" : "Your orders",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "pagination" : {
                      "$ref" : "#/components/schemas/Pagination"
                    },
                    "orders" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Order"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Order" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Add an order",
        "description" : "",
        "responses" : {
          "201" : {
            "description" : "The created order",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Order"
                }
              }
            }
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Order"
              }
            }
          }
        }
      }
    },
    "/orders/{identifier}" : {
      "get" : {
        "tags" : [ "Order" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Get details of an order",
        "parameters" : [ {
          "in" : "path",
          "name" : "identifier",
          "description" : "The order UUID or the order number",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The order",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Order"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Order" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Delete an order",
        "description" : "An order can't be deleted if there is a shipback",
        "parameters" : [ {
          "in" : "path",
          "name" : "identifier",
          "description" : "The order UUID or the order number",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The order has been deleted"
          },
          "400" : {
            "description" : "The order can't be deleted (JSON Error code: DEPENDENT_SHIPBACK)"
          }
        }
      }
    },
    "/orders/{OrderIdentifier}/items" : {
      "get" : {
        "tags" : [ "Order" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Get order's items",
        "parameters" : [ {
          "in" : "path",
          "name" : "OrderIdentifier",
          "description" : "The order UUID or the order number",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The order's items",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Item"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/{OrderIdentifier}/items/{UUID}" : {
      "get" : {
        "tags" : [ "Order" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Get order's items",
        "parameters" : [ {
          "in" : "path",
          "name" : "OrderIdentifier",
          "description" : "The order UUID or the order number",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "UUID",
          "description" : "The item UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The order's item",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Item"
                }
              }
            }
          }
        }
      }
    },
    "/shipbacks" : {
      "get" : {
        "tags" : [ "Return" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "List all your shipbacks",
        "responses" : {
          "200" : {
            "description" : "Your shipbacks",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "pagination" : {
                      "$ref" : "#/components/schemas/Pagination"
                    },
                    "shipbacks" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Shipback"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Return" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Create a shipback",
        "responses" : {
          "201" : {
            "description" : "The created shipback",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Shipback"
                }
              }
            }
          }
        },
        "requestBody" : {
          "$ref" : "#/components/requestBodies/Shipback"
        }
      },
      "put" : {
        "tags" : [ "Return" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Update a shipback (if not completed yet)",
        "responses" : {
          "201" : {
            "description" : "The shipback",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Shipback"
                }
              }
            }
          }
        },
        "requestBody" : {
          "$ref" : "#/components/requestBodies/Shipback"
        }
      }
    },
    "/shipbacks/{shipbackUUID}" : {
      "get" : {
        "tags" : [ "Return" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Get shipback details",
        "parameters" : [ {
          "in" : "path",
          "name" : "shipbackUUID",
          "description" : "The shipback UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Your shipback's details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Shipback"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Return" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Delete shipback",
        "description" : "The shipback should not be finished (ie. registered)",
        "parameters" : [ {
          "in" : "path",
          "name" : "shipbackUUID",
          "description" : "The shipback UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The shipback has been deleted"
          },
          "400" : {
            "description" : "The shipback can't be destroyed (JSON Error code: SHIPBACK_REGISTERED)"
          }
        }
      }
    },
    "/shipbacks/{shipbackUUID}/customer" : {
      "get" : {
        "tags" : [ "Customer" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Get shipback's customer details",
        "parameters" : [ {
          "in" : "path",
          "name" : "shipbackUUID",
          "description" : "The shipback UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Your customer details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Customer"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Customer" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Update shipback's customer",
        "parameters" : [ {
          "in" : "path",
          "name" : "shipbackUUID",
          "description" : "The shipback UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Your updated customer's details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Customer"
              }
            }
          }
        }
      }
    },
    "/shipbacks/{shipbackUUID}/customer/address" : {
      "get" : {
        "tags" : [ "Customer" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Get customer's address details",
        "parameters" : [ {
          "in" : "path",
          "name" : "shipbackUUID",
          "description" : "The shipback UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Customer's address details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Address"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Customer" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Update address details",
        "parameters" : [ {
          "in" : "path",
          "name" : "shipbackUUID",
          "description" : "The shipback UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Updated Customer's address details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Address"
                }
              }
            }
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Address"
              }
            }
          }
        }
      }
    },
    "/shipbacks/{shipbackUUID}/notifications" : {
      "get" : {
        "tags" : [ "Return notifications" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "List the shipback's email notifications",
        "parameters" : [ {
          "in" : "path",
          "name" : "shipbackUUID",
          "description" : "The shipback UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The email notifications",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Enotification"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipbacks/{shipbackUUID}/notifications/{notificationUUID}/trigger" : {
      "post" : {
        "tags" : [ "Return notifications" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Deliver this notification",
        "parameters" : [ {
          "in" : "path",
          "name" : "shipbackUUID",
          "description" : "The shipback UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "notificationUUID",
          "description" : "The notification UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The updated notification",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Enotification"
                }
              }
            }
          }
        }
      }
    },
    "/shipbacks/{shipbackUUID}/returned_items" : {
      "get" : {
        "tags" : [ "Returned Item" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "List the shipback's returned items",
        "parameters" : [ {
          "in" : "path",
          "name" : "shipbackUUID",
          "description" : "The shipback UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The returned items",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReturnedItemWithItem"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Returned Item" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Add a returned items",
        "description" : "The returned item must reference an item of the order",
        "parameters" : [ {
          "in" : "path",
          "name" : "shipbackUUID",
          "description" : "The shipback UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The returned item",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReturnedItemWithItem"
                }
              }
            }
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ReturnedItem"
              }
            }
          }
        }
      }
    },
    "/shipbacks/{shipbackUUID}/returned_items/{returnedItemUUID}" : {
      "put" : {
        "tags" : [ "Returned Item" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Update returned item's reason",
        "parameters" : [ {
          "in" : "path",
          "name" : "shipbackUUID",
          "description" : "The shipback UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "returnedItemUUID",
          "description" : "The returned item UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The returned item",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReturnedItemWithItem"
                }
              }
            }
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "reason_code" : {
                    "type" : "string",
                    "description" : "returned item reason code"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Returned Item" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Delete returned item",
        "parameters" : [ {
          "in" : "path",
          "name" : "shipbackUUID",
          "description" : "The shipback UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "returnedItemUUID",
          "description" : "The returned item UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The returned item has been deleted"
          },
          "400" : {
            "description" : "The returned item can't be deleted"
          }
        }
      }
    },
    "/shipbacks/{shipbackUUID}/quotes" : {
      "get" : {
        "tags" : [ "Quotes" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "List the shipback's quotes",
        "description" : "One quote per mode is created",
        "parameters" : [ {
          "in" : "path",
          "name" : "shipbackUUID",
          "description" : "The shipback UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The shipback's quotes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Quote"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipbacks/{shipbackUUID}/quotes/pickup" : {
      "get" : {
        "tags" : [ "Quotes" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Get quote for mode pickup",
        "parameters" : [ {
          "in" : "path",
          "name" : "shipbackUUID",
          "description" : "The shipback UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The shipback's quote",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Quote"
                }
              }
            }
          }
        }
      }
    },
    "/shipbacks/{shipbackUUID}/quotes/postal" : {
      "get" : {
        "tags" : [ "Quotes" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Get quote for mode postal",
        "parameters" : [ {
          "in" : "path",
          "name" : "shipbackUUID",
          "description" : "The shipback UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The shipback's quote",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Quote"
                }
              }
            }
          }
        }
      }
    },
    "/shipbacks/{shipbackUUID}/quotes/dropoff" : {
      "get" : {
        "tags" : [ "Quotes" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Get quote for mode pickup",
        "parameters" : [ {
          "in" : "path",
          "name" : "shipbackUUID",
          "description" : "The shipback UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The shipback's quote",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Quote"
                }
              }
            }
          }
        }
      }
    },
    "/shipbacks/{shipbackUUID}/reimburse/{finance}" : {
      "put" : {
        "tags" : [ "Return reimbursement" ],
        "security" : [ {
          "Token" : [ ]
        } ],
        "summary" : "Get quote for mode pickup",
        "parameters" : [ {
          "in" : "path",
          "name" : "shipbackUUID",
          "description" : "The shipback UUID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "finance",
          "description" : "The financial state",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The updated shipback",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Shipback"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "parameters" : {
      "locale" : {
        "in" : "query",
        "name" : "locale",
        "description" : "ISO 639 (alpha-2) of the desired locale of the response",
        "required" : false,
        "schema" : {
          "type" : "string",
          "default" : "EN"
        }
      },
      "page" : {
        "name" : "page",
        "in" : "query",
        "description" : "The page for paginated results",
        "schema" : {
          "type" : "integer",
          "default" : 1
        }
      },
      "companyUUID" : {
        "in" : "path",
        "name" : "CompanyUUID",
        "description" : "The compamy UUID",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "requestBodies" : {
      "Shipback" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Shipback"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "Token" : {
        "description" : "For accessing the API a valid token must be passed in all protected queries in\nthe 'Authorization' header.|\nYour token is auto-generated and available on the ShopRunBack Retailer Dashboard.|\nThe following syntax must be used in the 'Authorization' header :\n\n    Token token=xxxxxx\n    \n  or the more traditional\n  \n    Bearer xxxxxx\n    \n",
        "type" : "apiKey",
        "name" : "Authorization",
        "in" : "header"
      }
    },
    "schemas" : {
      "Metadata" : {
        "$ref" : "#/components/schemas/Hstore"
      },
      "Hstore" : {
        "type" : "object",
        "properties" : {
          "foo" : {
            "type" : "string",
            "description" : "Example of Hstore item",
            "example" : "bar"
          }
        }
      },
      "Customer" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "customer UUID",
            "readOnly" : true
          },
          "first_name" : {
            "type" : "string",
            "example" : "Bill"
          },
          "last_name" : {
            "type" : "string",
            "example" : "Gates"
          },
          "tag_list" : {
            "$ref" : "#/components/schemas/Tags"
          },
          "email" : {
            "type" : "string",
            "example" : "bill@gates.com"
          },
          "phone" : {
            "type" : "string",
            "example" : "555-8789"
          },
          "locale" : {
            "type" : "string",
            "description" : "Locale of the customer (format: ISO 639-1). <br/> This is the locale the application will use to send emails to the customer. If the customer goes to the online return process and its locale is changed (by the browser or by himself/herself) the locale is updated accordingly.",
            "example" : "fr"
          },
          "address" : {
            "$ref" : "#/components/schemas/Address"
          }
        },
        "required" : [ "first_name", "last_name", "email", "phone", "address" ]
      },
      "ReturnedItem" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "returned item UUID or reference",
            "example" : "1f27f9d9-3b5c-4152-98b7-760f56967deau",
            "readOnly" : true
          },
          "item_id" : {
            "type" : "integer",
            "description" : "Corresponding item's UUID",
            "example" : "1f27f9d9-3b5c-4152-98b7-760f56967deat"
          },
          "reason_code" : {
            "$ref" : "#/components/schemas/ReasonCode"
          }
        }
      },
      "ReturnedItemWithItem" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "returned item UUID or reference",
            "example" : "1f27f9d9-3b5c-4152-98b7-760f56967deau",
            "readOnly" : true
          },
          "item" : {
            "$ref" : "#/components/schemas/Item"
          },
          "reason_code" : {
            "$ref" : "#/components/schemas/ReasonCode"
          }
        }
      },
      "Item" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "item UUID",
            "readOnly" : true
          },
          "label" : {
            "type" : "string",
            "description" : "Label of the item (you can set the label of the product in the customer language)"
          },
          "reference" : {
            "type" : "string",
            "description" : "Reference of the item"
          },
          "barcode" : {
            "type" : "string",
            "description" : "If set, this barcode is printed next to the corresponding item in the return voucher. The barcode printed is a CODE 128",
            "example" : "9782700507089"
          },
          "price_cents" : {
            "type" : "integer",
            "description" : "Price of the sold item"
          },
          "currency" : {
            "type" : "string",
            "description" : "Currency used (ISO). Default: eur",
            "example" : "eur"
          },
          "product_id" : {
            "type" : "integer",
            "description" : "Product UUID",
            "example" : "1f27f9d9-3b5c-4152-98b7-760f56967deav"
          },
          "product" : {
            "$ref" : "#/components/schemas/Product"
          }
        }
      },
      "Shipback" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "shipback UUID",
            "example" : "1f27f9d9-3b5c-4152-98b7-760f56967deav",
            "readOnly" : true
          },
          "rma" : {
            "type" : "string",
            "description" : "Return merchandise authorization. If set, a barcode of the RMA is printed at the top of the return voucher",
            "example" : "00:24:e4:63:d4:f2"
          },
          "mode" : {
            "type" : "string",
            "enum" : [ "postal", "direct", "pickup", "dropoff" ],
            "example" : "postal"
          },
          "weight_in_grams" : {
            "type" : "integer",
            "description" : "Weight (in grams) defined by the retailer",
            "example" : 3012
          },
          "computed_weight_in_grams" : {
            "type" : "integer",
            "description" : "Sum of the returned items weight plus a wrapping factor (used for the label generation if no weight provided by the retailer)",
            "example" : 3020,
            "readOnly" : true
          },
          "created_at" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2017-06-15T16:17:46.435+02:0",
            "readOnly" : true
          },
          "public_url" : {
            "type" : "string",
            "format" : "URL",
            "readOnly" : true,
            "description" : "URL you can provide to your customer or redirect to",
            "example" : "https://web.shoprunback.com/apple/1f27f9d9-3b5c-4152-98b7-760f56967deat"
          },
          "charged" : {
            "type" : "boolean",
            "description" : "Boolean set to true if shipback has been completed"
          },
          "paid_at" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "The shipback date of registration"
          },
          "finance" : {
            "type" : "string",
            "description" : "The shipback finance state",
            "example" : "refunded"
          },
          "reimbursed_at" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "The shipback date of reimbursement"
          },
          "returned_items" : {
            "type" : "array",
            "description" : "Returned items (from the order)",
            "items" : {
              "$ref" : "#/components/schemas/ReturnedItem"
            }
          },
          "metadata" : {
            "$ref" : "#/components/schemas/Metadata"
          },
          "order_id" : {
            "type" : "string",
            "description" : "[writeOnly] Corresponding order's UUID or order_number",
            "example" : "1f27f9d9-3b5c-4152-98b7-760f56967deaf"
          },
          "order" : {
            "$ref" : "#/components/schemas/Order"
          },
          "company_id" : {
            "type" : "string",
            "description" : "Corresponding company's UUID",
            "example" : "1f27f9d9-3b5c-4152-98b7-760f56967deaf"
          },
          "company" : {
            "$ref" : "#/components/schemas/Company"
          },
          "customer" : {
            "$ref" : "#/components/schemas/Customer"
          },
          "size" : {
            "enum" : [ "S", "M", "L" ],
            "description" : "See the jigsizes endpoint for valid values and the corresponding dimensions",
            "example" : "M"
          },
          "quotes" : {
            "type" : "array",
            "description" : "One quote for each available modes (pickup, dropoff, postal), the quote is refreshed asynchronously after the shipback creation. Poll the shipback few seconds after its creation to get the different quotes (computed) and their prices or wait for the webhook",
            "items" : {
              "$ref" : "#/components/schemas/Quote"
            }
          }
        }
      },
      "Itineraries" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/Itinerary"
        }
      },
      "Itinerary" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "ID of the itinerary quote",
            "example" : "1f27f9d9-3b5c-4152-9589-760f56967deav",
            "readOnly" : true
          },
          "mode" : {
            "type" : "string",
            "enum" : [ "postal", "direct", "pickup", "dropoff" ]
          },
          "price" : {
            "type" : "integer",
            "description" : "Price of the return for this mode in euros cent",
            "example" : 7500,
            "readOnly" : true
          }
        }
      },
      "Order" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "order UUID",
            "example" : "1f27f9d9-3b5c-4152-98b7-760f56967deav",
            "readOnly" : true
          },
          "ordered_at" : {
            "type" : "string",
            "format" : "date",
            "example" : "2017-02-03"
          },
          "order_number" : {
            "type" : "string",
            "description" : "your order number (*MUST* be unique)",
            "example" : "4548-9854"
          },
          "customer" : {
            "$ref" : "#/components/schemas/Customer"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/Metadata"
          },
          "items" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Item"
            }
          },
          "created_at" : {
            "type" : "string",
            "format" : "date-time",
            "readOnly" : true
          },
          "updated_at" : {
            "type" : "string",
            "format" : "date-time",
            "readOnly" : true
          },
          "shipback_id" : {
            "type" : "string",
            "description" : "Shipback UUID if a shipback exists for this order",
            "readOnly" : true,
            "example" : "1f27f9d9-3b5c-4152-98b7-760f56967deav"
          }
        }
      },
      "JigSize" : {
        "type" : "object",
        "properties" : {
          "label" : {
            "type" : "string",
            "enum" : [ "S", "M", "L" ],
            "example" : "M"
          },
          "height" : {
            "description" : "height in cm",
            "type" : "integer",
            "example" : 40
          },
          "width" : {
            "description" : "width in cm",
            "type" : "integer",
            "example" : 40
          },
          "length" : {
            "description" : "length in cm",
            "type" : "integer",
            "example" : 40
          }
        }
      },
      "Sponsoring" : {
        "type" : "object",
        "required" : [ "percentage" ],
        "properties" : {
          "reason_code" : {
            "$ref" : "#/components/schemas/ReasonCode"
          },
          "country_code" : {
            "$ref" : "#/components/schemas/CountryCode"
          },
          "percentage" : {
            "type" : "integer",
            "description" : "The part of the return price you want to pay",
            "example" : "24"
          },
          "merchant_fee_min" : {
            "type" : "integer",
            "description" : "The part (in euro) you want to pay (at least)",
            "example" : "2"
          },
          "merchant_fee_max" : {
            "type" : "integer",
            "description" : "The part (in euro) you want to pay (maximum)",
            "example" : "4"
          },
          "customer_fee_min" : {
            "type" : "integer",
            "description" : "The part (in euro) you customer will have to pay (at least)",
            "example" : "2"
          },
          "customer_fee_max" : {
            "type" : "integer",
            "description" : "The part (in euro) you customer will have to pay (maximum)",
            "example" : "4"
          }
        }
      },
      "Relocation" : {
        "type" : "object",
        "required" : [ "warehouse_id" ],
        "properties" : {
          "reason_code" : {
            "$ref" : "#/components/schemas/ReasonCode"
          },
          "country_code" : {
            "$ref" : "#/components/schemas/CountryCode"
          },
          "warehouse_id" : {
            "type" : "string",
            "description" : "warehouse UUID",
            "example" : "1f27f9d9-3b5c-4152-98b7-760f56967deav"
          }
        }
      },
      "Product" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Product UUID",
            "example" : "1f27f9d9-3b5c-4152-98b7-760f56967dea",
            "readOnly" : true
          },
          "label" : {
            "type" : "string",
            "example" : "Iphone 7S Blue"
          },
          "reference" : {
            "type" : "string",
            "example" : "IPHONE 7S B",
            "description" : "Unique per brand"
          },
          "ean" : {
            "type" : "string",
            "example" : "1258987561456"
          },
          "weight_grams" : {
            "type" : "integer",
            "description" : "Product's weight in grams",
            "example" : 1000
          },
          "width_mm" : {
            "type" : "integer",
            "description" : "Product's width in milimeters",
            "example" : 1000
          },
          "length_mm" : {
            "type" : "integer",
            "description" : "Product's length in milimeters",
            "example" : 1000
          },
          "height_mm" : {
            "type" : "integer",
            "description" : "Product's height in milimeters",
            "example" : 1000
          },
          "brand_id" : {
            "type" : "string",
            "example" : "1f27f9d9-3b5c-4152-98b7-760f56967dea",
            "description" : "[writeOnly] Product brand UUID or reference <br> if not provided the default company brand will be used. <br> You can create the brand with the product by providing the brand object instead of the brand_id.",
            "writeOnly" : true
          },
          "brand" : {
            "$ref" : "#/components/schemas/Brand"
          },
          "picture_file_base64" : {
            "type" : "string",
            "example" : "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQAAAAA3bvkkAAAAAnRSTlMAAHaTzTgAAAAKSURBVHgBY2AAAAACAAFzdQEYAAAAAElFTkSuQmCC",
            "description" : "[writeOnly] Product image base64 encoded (not present in response)",
            "writeOnly" : true
          },
          "picture_file_url" : {
            "type" : "string",
            "format" : "URL",
            "description" : "[writeOnly] Your own picture URL (not present in response)",
            "writeOnly" : true
          },
          "picture_url" : {
            "type" : "string",
            "format" : "URL",
            "description" : "Product picture hosted on CDN",
            "readOnly" : true
          },
          "tag_list" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "my-custom-tag"
            }
          },
          "metadata" : {
            "$ref" : "#/components/schemas/Metadata"
          }
        },
        "required" : [ "label", "reference", "weight_grams" ]
      },
      "Pagination" : {
        "type" : "object",
        "properties" : {
          "current_page" : {
            "type" : "integer",
            "example" : 3
          },
          "first_page" : {
            "type" : "integer",
            "example" : 1
          },
          "previous_page" : {
            "type" : "integer",
            "example" : 2
          },
          "next_page" : {
            "type" : "integer",
            "example" : 4
          },
          "last_page" : {
            "type" : "integer",
            "example" : 20
          },
          "count" : {
            "type" : "integer",
            "example" : 219
          },
          "per_page" : {
            "type" : "integer",
            "example" : 10
          }
        }
      },
      "Brand" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Company UUID",
            "example" : "1f27f9d9-3b5c-4152-98b7-760f56967dea",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "example" : "Apple"
          },
          "reference" : {
            "type" : "string",
            "description" : "Your unique reference (should be unique)",
            "example" : "apple"
          },
          "default" : {
            "type" : "boolean",
            "default" : false,
            "description" : "Is this the default company brand ? (only 1 per company)"
          }
        },
        "required" : [ "name", "reference" ]
      },
      "Collaborator" : {
        "$ref" : "#/components/schemas/User"
      },
      "Wish" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "$ref" : "#/components/schemas/WishCode"
          },
          "label" : {
            "type" : "string",
            "description" : "Label of the wish in the defined locale",
            "example" : "Voucher"
          },
          "description" : {
            "type" : "string",
            "description" : "Description of the wish in the defined locale",
            "example" : "The customer wants a voucher"
          }
        }
      },
      "WishCode" : {
        "type" : "string",
        "enum" : [ "exchange", "reimburse", "voucher" ],
        "example" : "voucher"
      },
      "ReasonCode" : {
        "type" : "string",
        "enum" : [ "doesnt_fit", "quality", "damaged", "wrong", "incorrect", "delay", "reconsider" ],
        "example" : "doesnt_fit"
      },
      "Reason" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "$ref" : "#/components/schemas/ReasonCode"
          },
          "label" : {
            "type" : "string",
            "description" : "Label of the reason in the defined locale",
            "example" : "Doesn't fit"
          },
          "description" : {
            "type" : "string",
            "description" : "Description of the reason in the defined locale",
            "example" : "The product doesn't fit (smaller or larger than expected)"
          }
        }
      },
      "Country" : {
        "type" : "object",
        "properties" : {
          "country_code" : {
            "$ref" : "#/components/schemas/CountryCode"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the country in the desired locale (default EN)",
            "example" : "USA"
          }
        }
      },
      "CountryCode" : {
        "type" : "string",
        "example" : "FR",
        "description" : "ISO code (ISO 3166-1 alpha-2)"
      },
      "User" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Your account UUID",
            "example" : "80806b42-2188-4b8e-8aa9-8ed3baba8c98",
            "readOnly" : true
          },
          "first_name" : {
            "type" : "string",
            "description" : "first name",
            "example" : "Tim"
          },
          "last_name" : {
            "type" : "string",
            "description" : "last name",
            "example" : "Cook"
          },
          "email" : {
            "type" : "string",
            "description" : "email address",
            "example" : "tim@apple.com"
          },
          "company_id" : {
            "type" : "string",
            "description" : "Your company id",
            "example" : "4f7b2ee2-62a2-4a6d-b541-158caf5917f2",
            "readOnly" : true
          },
          "created_at" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "Date of creation of the account",
            "readOnly" : true
          },
          "owner" : {
            "type" : "boolean",
            "default" : false,
            "description" : "Company owner",
            "readOnly" : true
          },
          "pending" : {
            "type" : "boolean",
            "default" : false,
            "description" : "Does the collaborator invitation is pending",
            "readOnly" : true
          },
          "manager" : {
            "type" : "boolean",
            "default" : false,
            "description" : "Does the collaborator has manager's rights",
            "readOnly" : true
          },
          "auth_token" : {
            "type" : "string",
            "description" : "Auth Token (displayed only for the requester account)",
            "readOnly" : true
          }
        }
      },
      "Company" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Your company UUID",
            "example" : "8e16127f-b279-4c44-bb57-d02e99d8f281",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Your company name",
            "example" : "Apple Inc."
          },
          "slug" : {
            "type" : "string",
            "description" : "Your company slug",
            "example" : "apple"
          },
          "address1" : {
            "type" : "string",
            "description" : "First part of your address",
            "example" : "1 infinite loop"
          },
          "address2" : {
            "type" : "string",
            "description" : "Second part of your address",
            "example" : "IL1"
          },
          "zipcode" : {
            "type" : "string",
            "description" : "Your company zipcode",
            "example" : "95014"
          },
          "state" : {
            "type" : "string",
            "description" : "State of your company",
            "example" : "CA"
          },
          "country_code" : {
            "$ref" : "#/components/schemas/CountryCode"
          },
          "contact_email" : {
            "type" : "string",
            "description" : "Contact email",
            "example" : "contact@apple.com"
          },
          "website_url" : {
            "type" : "string",
            "description" : "Your company's website URL",
            "example" : "http://www.apple.com"
          },
          "phone_number" : {
            "type" : "string",
            "description" : "Your company's public phone number",
            "example" : "1-800-275-2273"
          },
          "logo_url" : {
            "type" : "string",
            "description" : "Your company's logo URL",
            "example" : "http://www.meadowlarkproject.com/wp-content/uploads/2015/10/apple-computer-rainbow-273x300.png"
          },
          "reasons" : {
            "type" : "array",
            "description" : "Array of reason codes",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ReasonCode"
            }
          },
          "auth_token" : {
            "type" : "string",
            "description" : "An authentication token to emit API calls on  behalf of the company. <em>Only available to  company owners.</em>",
            "readOnly" : true
          }
        }
      },
      "Address" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Address UUID",
            "example" : "1f27f9d9-3b5c-4152-98b7-760f56967deb",
            "readOnly" : true
          },
          "line1" : {
            "type" : "string",
            "description" : "First part of the address",
            "example" : "Noodle Boulevard"
          },
          "line2" : {
            "type" : "string",
            "description" : "Second part of the address",
            "example" : "Warehouse C"
          },
          "zipcode" : {
            "type" : "string",
            "example" : "364000"
          },
          "country_code" : {
            "$ref" : "#/components/schemas/CountryCode"
          },
          "city" : {
            "type" : "string",
            "example" : "Longyan"
          },
          "state" : {
            "type" : "string",
            "example" : "Fujian"
          }
        },
        "required" : [ "line1", "city", "country_code" ]
      },
      "Warehouse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Warehouse UUID",
            "example" : "1f27f9d9-3b5c-4152-98b7-760f56967deav",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "example" : "Foxcon"
          },
          "reference" : {
            "type" : "string",
            "description" : "Your unique reference (if set, should be unique)",
            "example" : "WH1"
          },
          "address" : {
            "$ref" : "#/components/schemas/Address"
          }
        }
      },
      "Quote" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Quote UUID",
            "example" : "1f27f9d9-3b5c-4152-98b7-760f56967deav",
            "readOnly" : true
          },
          "state" : {
            "type" : "string",
            "description" : "State of the quote, created > computing > computed ( > selected)",
            "enum" : [ "created", "computing", "computed", "selected" ],
            "example" : "computed",
            "readOnly" : true
          },
          "mode" : {
            "type" : "string",
            "description" : "Carrying mode",
            "enum" : [ "postal", "pickup", "dropoff" ],
            "example" : "pickup",
            "readOnly" : true
          },
          "available" : {
            "type" : "boolean",
            "description" : "set if quote is computed. False if this mode is impossible, True otherwise",
            "example" : true
          },
          "price_cents" : {
            "type" : "integer",
            "description" : "Total price",
            "example" : 800,
            "readOnly" : true
          },
          "customer_price_cents" : {
            "type" : "integer",
            "description" : "Customer total price to pay",
            "example" : 500,
            "readOnly" : true
          },
          "dropoff_points" : {
            "type" : "array",
            "description" : "Dropoff points (if mode is dropoff). Not returned on the index endpoint",
            "items" : {
              "$ref" : "#/components/schemas/DropoffPoint"
            }
          },
          "pickup_slots" : {
            "type" : "array",
            "description" : "Pickup slots (if mode is pickup). Not returned on the index endpoint",
            "items" : {
              "$ref" : "#/components/schemas/PickupDate"
            }
          }
        }
      },
      "DropoffPoint" : {
        "type" : "object",
        "properties" : {
          "distance" : {
            "type" : "integer",
            "description" : "Distance (in meters) from the customer address",
            "example" : 271
          },
          "name" : {
            "type" : "string",
            "example" : "Phone and media"
          },
          "id" : {
            "type" : "string",
            "description" : "ID of the point (defined by the carrier)"
          },
          "longitude" : {
            "type" : "number",
            "example" : 2.34824
          },
          "latitude" : {
            "type" : "number",
            "example" : 48.8758
          },
          "city" : {
            "type" : "string",
            "example" : "Paris"
          },
          "line1" : {
            "type" : "string",
            "description" : "Address of the point",
            "example" : "60 rue de paradis"
          },
          "zipcode" : {
            "type" : "string",
            "example" : "75010"
          },
          "country" : {
            "type" : "string",
            "example" : "France"
          }
        }
      },
      "PickupDate" : {
        "type" : "object",
        "properties" : {
          "date" : {
            "type" : "string",
            "format" : "date",
            "example" : "2017-11-03"
          },
          "slots" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PickupSlot"
            }
          }
        }
      },
      "PickupSlot" : {
        "type" : "object",
        "properties" : {
          "start_time" : {
            "type" : "string",
            "format" : "Time",
            "example" : "10:00:00"
          },
          "duration" : {
            "type" : "integer",
            "description" : "Duration of the slot in minutes",
            "example" : 120
          },
          "availability" : {
            "type" : "integer",
            "description" : "Limit of the slot (number of coursier), -1 if unlimited",
            "example" : -1
          }
        }
      },
      "Errors" : {
        "type" : "object",
        "properties" : {
          "errors" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "Country code can't be blank"
            }
          }
        }
      },
      "Tags" : {
        "type" : "array",
        "items" : {
          "type" : "string",
          "example" : "a_super_tag"
        }
      },
      "Enotification" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Enotification UUID",
            "example" : "1f27f9d9-3b5c-4152-98b7-760f56967deav",
            "readOnly" : true
          },
          "notifier_type" : {
            "type" : "string",
            "description" : "Enotification notifier object",
            "example" : "Shipback",
            "readOnly" : true
          },
          "notifier_id" : {
            "type" : "string",
            "description" : "Enotification notifier's UUID",
            "example" : "1f27f9d9-3b5c-4152-98b7-760f56967deav",
            "readOnly" : true
          },
          "event" : {
            "type" : "string",
            "description" : "Type of enotification",
            "example" : "completed",
            "readOnly" : true
          },
          "locale" : {
            "type" : "string",
            "description" : "Locale for the email",
            "example" : "en"
          },
          "sent_at" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "Date when email was sent",
            "readOnly" : true
          },
          "notifiable_type" : {
            "type" : "string",
            "description" : "Enotification notified object",
            "example" : "User",
            "readOnly" : true
          },
          "notifiable_id" : {
            "type" : "string",
            "description" : "Enotification notified's UUID",
            "readOnly" : true
          },
          "created_at" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "Date of creation",
            "readOnly" : true
          },
          "updated_at" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "Date of last update",
            "readOnly" : true
          },
          "resent_at" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "Date when email is sent manually through /trigger",
            "readOnly" : true
          }
        }
      }
    }
  }
}