{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Chirp",
    "version" : "1.0.0",
    "description" : "Chirp is an agent-client for Interlink TxContact. The main idea behind this client is enabling the agents to handle customer interactions on all channels, viz. call, chat, email and social on a single application.",
    "contact" : {
      "name" : "Shreyas Nayak",
      "url" : "https://ilinknet.com/",
      "email" : "shreyas.nayak@telenetix.in"
    },
    "termsOfService" : "https://ilinknet.com/",
    "license" : {
      "url" : "https://ilinknet.com",
      "name" : "License "
    }
  },
  "servers" : [ {
    "url" : "https://txtalklocalssl.info:56987",
    "description" : "TxtalkLocalHost"
  } ],
  "paths" : {
    "/session" : {
      "post" : {
        "summary" : "Start Session",
        "tags" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "description" : "Create empty session in chirp",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "event_class" : {
                    "type" : "string"
                  },
                  "event_name" : {
                    "type" : "string"
                  },
                  "payload" : {
                    "type" : "object",
                    "required" : [ "item_uuid" ],
                    "properties" : {
                      "item_uuid" : {
                        "type" : "string"
                      }
                    }
                  }
                },
                "required" : [ "event_class", "event_name", "payload" ]
              },
              "examples" : {
                "Start Session" : {
                  "value" : {
                    "event_class" : "session",
                    "event_name" : "start_session",
                    "payload" : {
                      "item_uuid" : "4663413f-a8b0-43ca-86bd-3fa365158e16"
                    }
                  }
                },
                "Missing item UUID" : {
                  "value" : {
                    "event_class" : "session",
                    "event_name" : "start_session",
                    "payload" : { }
                  }
                }
              }
            }
          },
          "description" : "Creat session in chirp"
        },
        "parameters" : [ ],
        "operationId" : "operationId1"
      },
      "get" : {
        "operationId" : "operationId2",
        "summary" : "Check Binary Version",
        "tags" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "description" : "Check dependecy binary version"
      }
    }
  },
  "components" : {
    "schemas" : { },
    "securitySchemes" : { }
  }
}