{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Smartshop rest api",
    "version" : "1.0.0",
    "description" : "Il servizio REST per il progetto di sviluppo web avanzato",
    "contact" : {
      "name" : "Stanislav Antokhi",
      "email" : "stanislav.antokhi@student.univaq.it"
    }
  },
  "servers" : [ {
    "url" : "https://api.smartshop.com/v1/"
  } ],
  "tags" : [ {
    "name" : "guest"
  }, {
    "name" : "users"
  }, {
    "name" : "products"
  }, {
    "name" : "supermarkets"
  }, {
    "name" : "User's shopping lists"
  }, {
    "name" : "Products of a supermarket"
  }, {
    "name" : "Shopping list's products"
  }, {
    "name" : "Find the best supermarket"
  } ],
  "paths" : {
    "/users" : {
      "get" : {
        "tags" : [ "users" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "description" : "Get information about users",
        "responses" : {
          "200" : {
            "description" : "ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                },
                "example" : [ {
                  "id" : 1,
                  "name" : "Francesco",
                  "lastname" : "Rossi",
                  "email" : "francesco@gmail.com",
                  "age" : 34,
                  "city" : "Rieti",
                  "CAP" : "02100",
                  "address" : "Via Vazia",
                  "street_number" : "31A"
                }, {
                  "id" : 2,
                  "name" : "Maria",
                  "lastname" : "Marottoli",
                  "email" : "maria@gmail.com",
                  "age" : 47,
                  "city" : "Rieti",
                  "CAP" : "02100",
                  "address" : "Via Vazia",
                  "street_number" : "43B"
                } ]
              }
            }
          }
        }
      },
      "post" : {
        "description" : "Insert a user",
        "tags" : [ "users" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/User"
              },
              "example" : {
                "name" : "Francesco",
                "lastname" : "Rossi",
                "email" : "francesco@gmail.com",
                "password" : "francesco123",
                "age" : 34,
                "city" : "Rieti",
                "CAP" : "02100",
                "address" : "Via Vazia",
                "street_number" : "31A"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                },
                "example" : {
                  "id" : 1,
                  "name" : "Francesco",
                  "lastname" : "Rossi",
                  "email" : "francesco@gmail.com",
                  "age" : 34,
                  "city" : "Rieti",
                  "CAP" : "02100",
                  "address" : "Via Vazia",
                  "street_number" : "31A"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      }
    },
    "/users/{userId}" : {
      "get" : {
        "description" : "Find a user by id",
        "tags" : [ "users" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "parameters" : [ {
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                },
                "example" : {
                  "id" : 1,
                  "name" : "Francesco",
                  "lastname" : "Rossi",
                  "email" : "francesco@gmail.com",
                  "age" : 34,
                  "city" : "Rieti",
                  "CAP" : "02100",
                  "address" : "Via Vazia",
                  "street_number" : "31A"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "404" : {
            "description" : "Resource not found."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      },
      "delete" : {
        "description" : "Delete a user by id",
        "tags" : [ "users" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "parameters" : [ {
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      }
    },
    "/registration" : {
      "post" : {
        "tags" : [ "guest" ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/User"
              },
              "example" : {
                "name" : "Francesco",
                "lastname" : "Rossi",
                "email" : "francesco@gmail.com",
                "password" : "secret123",
                "age" : 45,
                "city" : "Rieti",
                "CAP" : 2100,
                "address" : "Viale Maraini",
                "street_number" : "12"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "User created successfully"
          },
          "400" : {
            "description" : "Bad request"
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      }
    },
    "/login" : {
      "post" : {
        "tags" : [ "guest" ],
        "description" : "Authentication endpoint",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "email" : {
                    "type" : "string"
                  },
                  "password" : {
                    "type" : "string"
                  }
                }
              },
              "example" : {
                "email" : "francesco@gmail.com",
                "password" : "francesco123"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "token" : {
                      "type" : "string"
                    }
                  }
                },
                "example" : {
                  "token" : "678NOQNbOyTAyXB0mDCRiMAFWeN_iUchASoW7B"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      }
    },
    "/supermarkets" : {
      "get" : {
        "description" : "Get a list of supermarkets",
        "tags" : [ "supermarkets" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Supermarket"
                },
                "example" : [ {
                  "id" : 1,
                  "name" : "Conad",
                  "address" : "Viale T. Morroni",
                  "street_number" : "45",
                  "city" : "Rieti",
                  "CAP" : "02100"
                }, {
                  "id" : 2,
                  "name" : "Carrefour",
                  "address" : "Via E. Greco",
                  "street_number" : "34",
                  "city" : "Rieti",
                  "CAP" : "02100"
                } ]
              }
            }
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      },
      "post" : {
        "description" : "Save a supermarket",
        "tags" : [ "supermarkets" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Supermarket"
              },
              "example" : [ {
                "name" : "Conad",
                "address" : "Viale T. Morroni",
                "street_number" : "45",
                "city" : "Rieti",
                "CAP" : "02100"
              } ]
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Supermarket inserted correctly",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Supermarket"
                },
                "example" : [ {
                  "id" : 1,
                  "name" : "Conad",
                  "address" : "Viale T. Morroni",
                  "street_number" : "45",
                  "city" : "Rieti",
                  "CAP" : "02100"
                } ]
              }
            }
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      }
    },
    "/supermarkets/{id}" : {
      "get" : {
        "description" : "Get a supermarket by id",
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "tags" : [ "supermarkets" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Supermarket"
                },
                "example" : {
                  "id" : 1,
                  "name" : "Conad",
                  "address" : "Viale T. Morroni",
                  "street_number" : "45",
                  "city" : "Rieti",
                  "CAP" : "02100"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "404" : {
            "description" : "Resource not found."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      },
      "delete" : {
        "description" : "Delete a supermarket by id",
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "tags" : [ "supermarkets" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "404" : {
            "description" : "Resource not found."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      }
    },
    "/products" : {
      "get" : {
        "description" : "Get a list of products",
        "tags" : [ "products" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "parameters" : [ {
          "in" : "query",
          "name" : "name",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                },
                "example" : [ {
                  "id" : 1,
                  "name" : "Nutella",
                  "format" : 400,
                  "brand" : "Ferrero"
                }, {
                  "id" : 2,
                  "name" : "Nascondini",
                  "format" : 180,
                  "brand" : "Mulino Bianco"
                } ]
              }
            }
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      },
      "post" : {
        "description" : "Save a product",
        "tags" : [ "products" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Product"
              },
              "example" : {
                "name" : "Nutella",
                "format" : 400,
                "brand" : "Ferrero"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Product inserted correctly",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                },
                "example" : {
                  "id" : 1,
                  "name" : "Nutella",
                  "format" : 400,
                  "brand" : "Ferrero"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      }
    },
    "/products/{id}" : {
      "get" : {
        "description" : "Get a product by id",
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "tags" : [ "products" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                },
                "example" : {
                  "id" : 1,
                  "name" : "Nutella",
                  "format" : 400,
                  "brand" : "Ferrero"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "404" : {
            "description" : "Resource not found."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      },
      "delete" : {
        "description" : "Delete a product by id",
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "tags" : [ "products" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "404" : {
            "description" : "Resource not found."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      }
    },
    "/supermarkets/{supermarketId}/products" : {
      "get" : {
        "description" : "Get a list of all products of a specific supermarket",
        "tags" : [ "Products of a supermarket" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "parameters" : [ {
          "in" : "path",
          "name" : "supermarketId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "query",
          "name" : "name",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                },
                "example" : [ {
                  "id" : 1,
                  "name" : "Nutella",
                  "format" : 400,
                  "brand" : "Ferrero",
                  "price" : 3.75
                }, {
                  "id" : 2,
                  "name" : "Nascondini",
                  "format" : 180,
                  "brand" : "Mulino Bianco",
                  "price" : 1.89
                } ]
              }
            }
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      },
      "post" : {
        "description" : "Create a product for a specific supermarket",
        "tags" : [ "Products of a supermarket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "supermarketId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Product"
              },
              "example" : {
                "product_id" : 1,
                "price" : 2.78
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Product inserted correctly",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                },
                "example" : {
                  "id" : 1,
                  "name" : "Nutella",
                  "format" : 400,
                  "brand" : "Ferrero",
                  "price" : 2.78
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      }
    },
    "/supermarkets/{supermarketId}/products/{id}" : {
      "get" : {
        "description" : "Get a product by id found in a specific supermarket",
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "tags" : [ "Products of a supermarket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "supermarketId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                },
                "example" : {
                  "id" : 1,
                  "name" : "Nutella",
                  "format" : 400,
                  "brand" : "Ferrero",
                  "price" : 3.89
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "404" : {
            "description" : "Resource not found."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      },
      "delete" : {
        "description" : "Delete a product from a supermarket",
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "tags" : [ "Products of a supermarket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "supermarketId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "404" : {
            "description" : "Resource not found."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      }
    },
    "/users/{userId}/shopping-lists" : {
      "get" : {
        "description" : "Get shopping lists of a given user",
        "tags" : [ "User's shopping lists" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "parameters" : [ {
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Shopping-list"
                },
                "example" : [ {
                  "id" : 1,
                  "name" : "Casa"
                }, {
                  "id" : 2,
                  "name" : "Natale"
                } ]
              }
            }
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      },
      "post" : {
        "description" : "Add a shopping list",
        "tags" : [ "User's shopping lists" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Shopping-list"
              },
              "example" : {
                "name" : "Casa"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Shopping list created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                },
                "example" : {
                  "id" : 1,
                  "name" : "Casa"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      }
    },
    "/users/{userId}/shopping-lists/{id}" : {
      "get" : {
        "description" : "Get a specific shopping list",
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "tags" : [ "User's shopping lists" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Shopping-list"
                },
                "example" : {
                  "id" : 1,
                  "name" : "Casa"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "404" : {
            "description" : "Resource not found."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      },
      "delete" : {
        "description" : "Delete shopping list with a specific id",
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "tags" : [ "User's shopping lists" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "404" : {
            "description" : "Resource not found."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      }
    },
    "/users/{userId}/shopping-lists/{id}/compare" : {
      "get" : {
        "description" : "Returns the cheapest supermarket where to buy all list's items in descending order",
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "tags" : [ "Find the best supermarket" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "supermarket_id" : {
                        "type" : "integer"
                      },
                      "supermarket_name" : {
                        "type" : "string"
                      },
                      "supermarket_address" : {
                        "type" : "string"
                      },
                      "supermarket_street_number" : {
                        "type" : "string"
                      },
                      "total" : {
                        "type" : "number"
                      }
                    }
                  }
                },
                "example" : [ {
                  "supermarket_id" : 1,
                  "supermarket_name" : "Conad",
                  "supermarket_address" : "Viale T. Morroni",
                  "supermarket_street_number" : "34A",
                  "total" : 7.12
                }, {
                  "supermarket_id" : 2,
                  "supermarket_name" : "Carrefour",
                  "supermarket_address" : "Via Vazia",
                  "supermarket_street_number" : "12B",
                  "total" : 7.7
                } ]
              }
            }
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "404" : {
            "description" : "Resource not found."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      }
    },
    "/users/{userId}/shopping-lists/{listId}/products" : {
      "get" : {
        "description" : "Get all products of a shopping list",
        "tags" : [ "Shopping list's products" ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "parameters" : [ {
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "listId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShoppingList-Products"
                },
                "example" : [ {
                  "product-id" : 1,
                  "product-name" : "Nutella",
                  "product-quantity" : 2
                }, {
                  "product-id" : 2,
                  "product-name" : "Nascondini",
                  "product-quantity" : 1
                } ]
              }
            }
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      },
      "post" : {
        "description" : "Add a product to a shopping list",
        "tags" : [ "Shopping list's products" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "listId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Product"
              },
              "example" : {
                "product-id" : 1,
                "product-quantity" : 2
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Product added",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShoppingList-Products"
                },
                "example" : {
                  "product-id" : 1,
                  "product-quantity" : 2
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      }
    },
    "/users/{userId}/shopping-lists/{listId}/products/{id}" : {
      "get" : {
        "description" : "",
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "tags" : [ "Shopping list's products" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "listId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShoppingList-Products"
                },
                "example" : {
                  "product-id" : 1,
                  "product-name" : "Nutella",
                  "product-quantity" : 2
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "404" : {
            "description" : "Resource not found."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      },
      "put" : {
        "description" : "Modify the quantity of a product",
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "tags" : [ "Shopping list's products" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "listId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "product-quantity" : {
                    "type" : "number"
                  }
                }
              },
              "example" : {
                "product-quantity" : 3
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Product quantity updated"
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "404" : {
            "description" : "Resource not found."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      },
      "delete" : {
        "description" : "Delete a product from the shopping list",
        "security" : [ {
          "BearerAuth" : [ ]
        } ],
        "tags" : [ "Shopping list's products" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "listId",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "400" : {
            "description" : "Bad request."
          },
          "401" : {
            "description" : "Authorization information is missing or invalid."
          },
          "404" : {
            "description" : "Resource not found."
          },
          "5XX" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "User" : {
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "name" : {
            "type" : "string"
          },
          "lastname" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          },
          "password" : {
            "type" : "string"
          },
          "age" : {
            "type" : "integer"
          },
          "city" : {
            "type" : "integer"
          },
          "CAP" : {
            "type" : "string"
          },
          "address" : {
            "type" : "string"
          },
          "street_number" : {
            "type" : "string"
          }
        },
        "required" : [ "name", "email", "password", "age", "city", "CAP", "address", "street_number" ]
      },
      "Product" : {
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "name" : {
            "type" : "integer"
          },
          "description" : {
            "type" : "string"
          },
          "format" : {
            "type" : "number"
          },
          "brand" : {
            "type" : "string"
          },
          "price" : {
            "type" : "number"
          }
        },
        "required" : [ "name", "description", "weight", "brand", "format" ]
      },
      "Supermarket" : {
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "name" : {
            "type" : "string"
          },
          "address" : {
            "type" : "string"
          },
          "street_number" : {
            "type" : "string"
          },
          "city" : {
            "type" : "string"
          },
          "CAP" : {
            "type" : "string"
          }
        },
        "required" : [ "name", "address", "street_number", "city", "CAP" ]
      },
      "Shopping-list" : {
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "name" : {
            "type" : "string"
          },
          "total" : {
            "type" : "number"
          }
        },
        "required" : [ "name" ]
      },
      "ShoppingList-Products" : {
        "properties" : {
          "product-id" : {
            "type" : "integer"
          },
          "product-name" : {
            "type" : "string"
          },
          "product-quantity" : {
            "type" : "number"
          }
        },
        "required" : [ "product-id", "product-name", "product-quantity" ]
      }
    },
    "securitySchemes" : {
      "BearerAuth" : {
        "type" : "http",
        "scheme" : "bearer"
      }
    }
  }
}