{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "StatusHub API v1",
    "description" : "# Deprecation warning\n\nThis API version is deprecated and [API V2](https://api-docs.statushub.com) should be used instead\n\n# Authentication\n\nAuthentication is performed with API Key. To generate API Key please sign in to StatusHub, go to tab \"Account\" and then choose \"API Key\" from menu. API Key should be passed as a part of a query string with name api_key.\n\n# Rate limiting\n\nStatusHub API has two rate limits:\n- GET requests - 30 requests per second\n- All other requests - 5 requests per second\n\nRate limit is bounded to API Key used for authentication\n\nWhen rate limit will be exceeded, StatusHub API will respond with:\n- 429 response code\n- `{\"error\":\"Too many requests - please retry later\"}` response\n- Retry-After response header\n\nIn special cases certain API method may have different rate limit which will be mentioned in API method description\n\n# Time zones\n\nAll date/time parameters should be passed in UTC zone no matter the default zone Hub settings",
    "contact" : {
      "email" : "pawel@statushub.com"
    },
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://app.statushub.io/api",
    "variables" : { }
  } ],
  "paths" : {
    "/status_pages/{hub_subdomain}/connected_hubs" : {
      "get" : {
        "tags" : [ "ConnectedHub" ],
        "summary" : "INDEX",
        "operationId" : "INDEX",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api_token}}"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string",
            "example" : "application/json"
          }
        }, {
          "name" : "hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "headers" : {
              "Date" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "Wed, 16 Oct 2019 12:37:57 GMT"
                  }
                }
              },
              "Transfer-Encoding" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "chunked"
                  }
                }
              },
              "Connection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "keep-alive"
                  }
                }
              },
              "X-Frame-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "SAMEORIGIN"
                  }
                }
              },
              "X-XSS-Protection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1; mode=block"
                  }
                }
              },
              "X-Content-Type-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nosniff"
                  }
                }
              },
              "X-Download-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "noopen"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "none"
                  }
                }
              },
              "Referrer-Policy" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "strict-origin-when-cross-origin"
                  }
                }
              },
              "ETag" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "W/\"0323015272da3e495cd019dbc7fbd66a\""
                  }
                }
              },
              "Cache-Control" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "max-age=0, private, must-revalidate"
                  }
                }
              },
              "X-Request-Id" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "e3344273-8b18-4e4d-987d-bd4aa7feda16"
                  }
                }
              },
              "X-Runtime" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "0.452134"
                  }
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/INDEX"
                  }
                },
                "example" : [ {
                  "id" : 2,
                  "name" : "Connected Hub 1",
                  "subdomain" : "connected-hub1",
                  "parent_id" : 1,
                  "created_at" : "2019-09-05T10:07:22.699Z",
                  "updated_at" : "2019-10-10T12:59:38.233Z"
                }, {
                  "id" : 3,
                  "name" : "Connected Hub 2",
                  "subdomain" : "connected-hub2",
                  "parent_id" : 1,
                  "created_at" : "2019-09-17T08:18:34.673Z",
                  "updated_at" : "2019-10-16T08:51:54.841Z"
                } ]
              }
            }
          }
        },
        "deprecated" : false
      },
      "post" : {
        "tags" : [ "ConnectedHub" ],
        "summary" : "CREATE",
        "description" : "Create connected hub",
        "operationId" : "CREATE",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api_token}}"
          }
        }, {
          "name" : "hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CREATEREQUEST"
              },
              "example" : {
                "connected_hub" : {
                  "subdomain" : "connected-hub-subdomain",
                  "name" : "connected-hub-name",
                  "service_ids" : [ 1 ]
                }
              }
            }
          },
          "required" : true,
          "x-send-file-in-body" : false
        },
        "responses" : {
          "200" : {
            "description" : "",
            "headers" : {
              "Date" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "Wed, 16 Oct 2019 12:39:59 GMT"
                  }
                }
              },
              "Transfer-Encoding" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "chunked"
                  }
                }
              },
              "Connection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "keep-alive"
                  }
                }
              },
              "X-Frame-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "SAMEORIGIN"
                  }
                }
              },
              "X-XSS-Protection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1; mode=block"
                  }
                }
              },
              "X-Content-Type-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nosniff"
                  }
                }
              },
              "X-Download-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "noopen"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "none"
                  }
                }
              },
              "Referrer-Policy" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "strict-origin-when-cross-origin"
                  }
                }
              },
              "ETag" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "W/\"0495cd01213ed9d2c7e4d19419edac9d\""
                  }
                }
              },
              "Cache-Control" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "max-age=0, private, must-revalidate"
                  }
                }
              },
              "X-Request-Id" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "9e3ce83e-d274-4128-a4fa-7dfe3191c4ce"
                  }
                }
              },
              "X-Runtime" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "7.530324"
                  }
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CREATE"
                },
                "example" : {
                  "id" : 2,
                  "name" : "Connected Hub1",
                  "subdomain" : "connected-hub1",
                  "parent_id" : 1,
                  "created_at" : "2019-10-16T12:39:52.914Z",
                  "updated_at" : "2019-10-16T12:39:59.382Z",
                  "service_ids" : [ 1 ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/status_pages/{hub_subdomain}/connected_hubs/{connected_hub_subdomain}" : {
      "get" : {
        "tags" : [ "ConnectedHub" ],
        "summary" : "SHOW",
        "operationId" : "SHOW",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api_token}}"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string",
            "example" : "application/json"
          }
        }, {
          "name" : "hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connected_hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "headers" : {
              "Server" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nginx/1.15.5"
                  }
                }
              },
              "Date" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "Wed, 16 Oct 2019 12:36:50 GMT"
                  }
                }
              },
              "Transfer-Encoding" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "chunked"
                  }
                }
              },
              "Connection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "keep-alive"
                  }
                }
              },
              "X-Frame-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "SAMEORIGIN"
                  }
                }
              },
              "X-XSS-Protection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1; mode=block"
                  }
                }
              },
              "X-Content-Type-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nosniff"
                  }
                }
              },
              "X-Download-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "noopen"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "none"
                  }
                }
              },
              "Referrer-Policy" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "strict-origin-when-cross-origin"
                  }
                }
              },
              "ETag" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "W/\"3f6b042cd6c08d9e151586fa0f52739a\""
                  }
                }
              },
              "Cache-Control" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "max-age=0, private, must-revalidate"
                  }
                }
              },
              "X-Request-Id" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "fab41086-428d-4c7a-8c42-575bc29a417c"
                  }
                }
              },
              "X-Runtime" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1.359041"
                  }
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SHOW"
                },
                "example" : {
                  "id" : 2,
                  "name" : "Connected Hub1",
                  "subdomain" : "connected-hub-subdomain1",
                  "parent_id" : 1,
                  "created_at" : "2019-09-17T08:18:34.673Z",
                  "updated_at" : "2019-10-16T08:51:54.841Z",
                  "service_ids" : [ 1, 2 ]
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "ConnectedHub" ],
        "summary" : "DELETE",
        "operationId" : "DELETE",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api_token}}"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string",
            "example" : "application/json"
          }
        }, {
          "name" : "hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connected_hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "headers" : {
              "Date" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "Wed, 16 Oct 2019 12:41:55 GMT"
                  }
                }
              },
              "Transfer-Encoding" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "chunked"
                  }
                }
              },
              "Connection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "keep-alive"
                  }
                }
              },
              "X-Frame-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "SAMEORIGIN"
                  }
                }
              },
              "X-XSS-Protection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1; mode=block"
                  }
                }
              },
              "X-Content-Type-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nosniff"
                  }
                }
              },
              "X-Download-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "noopen"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "none"
                  }
                }
              },
              "Referrer-Policy" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "strict-origin-when-cross-origin"
                  }
                }
              },
              "ETag" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "W/\"762c2749580c286a68d4528d912a4afa\""
                  }
                }
              },
              "Cache-Control" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "max-age=0, private, must-revalidate"
                  }
                }
              },
              "X-Request-Id" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "b50aae73-cb37-4e56-8fe1-84565390a578"
                  }
                }
              },
              "X-Runtime" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "3.858382"
                  }
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DELETE"
                },
                "example" : {
                  "message" : "ok"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/status_pages/{hub_subdomain}/connected_hubs/{connected_hub_subdomain}/copy" : {
      "post" : {
        "tags" : [ "ConnectedHub" ],
        "summary" : "COPY",
        "description" : "Copy connected hub ",
        "operationId" : "COPY",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api_token}}"
          }
        }, {
          "name" : "hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connected_hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/COPYREQUEST"
              },
              "example" : {
                "connected_hub" : {
                  "subdomain" : "connected-hub-subdomain-copy",
                  "name" : "connected-hub-name-copy"
                }
              }
            }
          },
          "required" : true,
          "x-send-file-in-body" : false
        },
        "responses" : {
          "200" : {
            "description" : "",
            "headers" : {
              "X-Frame-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "SAMEORIGIN"
                  }
                }
              },
              "X-XSS-Protection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1; mode=block"
                  }
                }
              },
              "X-Content-Type-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nosniff"
                  }
                }
              },
              "X-Download-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "noopen"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "none"
                  }
                }
              },
              "Referrer-Policy" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "strict-origin-when-cross-origin"
                  }
                }
              },
              "ETag" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "W/\"f132ba77d867807b193ae17eefcbd945\""
                  }
                }
              },
              "Cache-Control" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "max-age=0, private, must-revalidate"
                  }
                }
              },
              "X-Request-Id" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "558a8b00-b521-4969-898e-580148d741fd"
                  }
                }
              },
              "X-Runtime" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "14.472669"
                  }
                }
              },
              "Connection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "close"
                  }
                }
              },
              "Server" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "thin"
                  }
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/COPY"
                },
                "example" : {
                  "id" : 3,
                  "name" : "connected-hub-name-copy",
                  "subdomain" : "connected-hub-subdomain-copy",
                  "parent_id" : 1,
                  "created_at" : "2020-01-15T12:11:00.467Z",
                  "updated_at" : "2020-01-15T12:11:07.574Z",
                  "service_ids" : [ ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/status_pages/{hub_subdomain}/connected_hubs/{connected_hub_subdomain}/assign_services" : {
      "post" : {
        "tags" : [ "ConnectedHub" ],
        "summary" : "ASSIGN SERVICES",
        "operationId" : "ASSIGNSERVICES",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api_token}}"
          }
        }, {
          "name" : "hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connected_hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ASSIGNSERVICESREQUEST"
              },
              "example" : {
                "connected_hub" : {
                  "service_ids" : [ 1, 2 ]
                }
              }
            }
          },
          "required" : true,
          "x-send-file-in-body" : false
        },
        "responses" : {
          "200" : {
            "description" : "",
            "headers" : {
              "Date" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "Wed, 16 Oct 2019 12:44:39 GMT"
                  }
                }
              },
              "Transfer-Encoding" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "chunked"
                  }
                }
              },
              "Connection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "keep-alive"
                  }
                }
              },
              "X-Frame-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "SAMEORIGIN"
                  }
                }
              },
              "X-XSS-Protection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1; mode=block"
                  }
                }
              },
              "X-Content-Type-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nosniff"
                  }
                }
              },
              "X-Download-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "noopen"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "none"
                  }
                }
              },
              "Referrer-Policy" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "strict-origin-when-cross-origin"
                  }
                }
              },
              "ETag" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "W/\"b256c64cb11a409bedde4875fc2db003\""
                  }
                }
              },
              "Cache-Control" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "max-age=0, private, must-revalidate"
                  }
                }
              },
              "X-Request-Id" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "2be0a6c8-8fa3-43d6-9ef5-5dcf1340fa27"
                  }
                }
              },
              "X-Runtime" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "0.595368"
                  }
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ASSIGNSERVICES"
                },
                "example" : {
                  "message" : "Services ([1]) successfully assigned"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/status_pages/{hub_subdomain}/connected_hubs/{connected_hub_subdomain}/remove_services" : {
      "post" : {
        "tags" : [ "ConnectedHub" ],
        "summary" : "REMOVE SERVICES",
        "operationId" : "REMOVESERVICES",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api_token}}"
          }
        }, {
          "name" : "hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connected_hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/REMOVESERVICESREQUEST"
              },
              "example" : {
                "connected_hub" : {
                  "service_ids" : [ 1 ]
                }
              }
            }
          },
          "required" : true,
          "x-send-file-in-body" : false
        },
        "responses" : {
          "200" : {
            "description" : "",
            "headers" : {
              "Server" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nginx/1.15.5"
                  }
                }
              },
              "Date" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "Wed, 16 Oct 2019 12:45:37 GMT"
                  }
                }
              },
              "Transfer-Encoding" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "chunked"
                  }
                }
              },
              "Connection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "keep-alive"
                  }
                }
              },
              "X-Frame-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "SAMEORIGIN"
                  }
                }
              },
              "X-XSS-Protection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1; mode=block"
                  }
                }
              },
              "X-Content-Type-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nosniff"
                  }
                }
              },
              "X-Download-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "noopen"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "none"
                  }
                }
              },
              "Referrer-Policy" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "strict-origin-when-cross-origin"
                  }
                }
              },
              "ETag" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "W/\"da3353dc815aa0b41b64997e58ad770d\""
                  }
                }
              },
              "Cache-Control" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "max-age=0, private, must-revalidate"
                  }
                }
              },
              "X-Request-Id" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "3df1f8a2-7ea7-4596-85ac-994c4ec378b3"
                  }
                }
              },
              "X-Runtime" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1.251226"
                  }
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/REMOVESERVICES"
                },
                "example" : {
                  "message" : "Services ([1]) successfully removed"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/status_pages" : {
      "get" : {
        "tags" : [ "StatusPage" ],
        "summary" : "INDEX",
        "description" : "Returns all hubs to which user has access",
        "operationId" : "GetINDEX",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api_token}}"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "[Optional] Page number. Default value: 1",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        }, {
          "name" : "per_page",
          "in" : "query",
          "description" : "[Optional] Amount of objects returned in query. Default value: 25. Maximum value: 100",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 25
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string",
            "example" : "application/json"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "headers" : {
              "Cache-Control" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "max-age=0, private, must-revalidate"
                  }
                }
              },
              "Connection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "close"
                  }
                }
              },
              "ETag" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "W/\"a600b7eda7fd84f625d17b257e10f944\""
                  }
                }
              },
              "Server" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "thin"
                  }
                }
              },
              "X-Content-Type-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nosniff"
                  }
                }
              },
              "X-Frame-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "SAMEORIGIN"
                  }
                }
              },
              "X-Request-Id" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "b64c2950-38cf-4f4b-869f-46befff8c8a2"
                  }
                }
              },
              "X-Runtime" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1.070807"
                  }
                }
              },
              "X-XSS-Protection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1; mode=block"
                  }
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/INDEX1"
                  }
                },
                "example" : [ {
                  "id" : 2,
                  "name" : "statushub-name-2",
                  "updated_at" : "2018-07-05T00:35:17.602Z",
                  "logo" : null,
                  "favicon" : null,
                  "services_count" : 5,
                  "down_services_count" : 1,
                  "subdomain" : "statushub-subdomain-2"
                }, {
                  "id" : 1,
                  "name" : "statushub-name",
                  "updated_at" : "2018-07-16T13:53:58.55Z",
                  "logo" : null,
                  "favicon" : null,
                  "services_count" : 4,
                  "down_services_count" : 1,
                  "subdomain" : "statushub-subdomain"
                } ]
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/status_pages/{hub_subdomain}" : {
      "patch" : {
        "tags" : [ "StatusPage" ],
        "summary" : "UPDATE",
        "operationId" : "UPDATE",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api_token}}"
          }
        }, {
          "name" : "hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UPDATEREQUEST"
              },
              "example" : {
                "status_page" : {
                  "custom_domain" : "www.custom-domain.com",
                  "name" : "new name",
                  "subdomain" : "new-subdomain"
                }
              }
            }
          },
          "required" : true,
          "x-send-file-in-body" : false
        },
        "responses" : {
          "200" : {
            "description" : "",
            "headers" : {
              "X-Frame-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "SAMEORIGIN"
                  }
                }
              },
              "X-XSS-Protection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1; mode=block"
                  }
                }
              },
              "X-Content-Type-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nosniff"
                  }
                }
              },
              "X-Download-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "noopen"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "none"
                  }
                }
              },
              "Referrer-Policy" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "strict-origin-when-cross-origin"
                  }
                }
              },
              "ETag" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "W/\"9ceefff820de0b9a99e0f5bc8d9d2cd2\""
                  }
                }
              },
              "Cache-Control" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "max-age=0, private, must-revalidate"
                  }
                }
              },
              "X-Request-Id" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "d820a77b-13a6-4df6-a5af-5059d0c4fe09"
                  }
                }
              },
              "X-Runtime" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "8.828587"
                  }
                }
              },
              "Connection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "close"
                  }
                }
              },
              "Server" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "thin"
                  }
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UPDATE"
                },
                "example" : {
                  "id" : 1,
                  "name" : "new name",
                  "updated_at" : "2020-01-14T14:52:25.24Z",
                  "logo" : null,
                  "favicon" : null,
                  "services_count" : 1,
                  "down_services_count" : 1,
                  "subdomain" : "new-subdomain",
                  "custom_domain" : "www.custom-domain.com",
                  "services" : [ {
                    "id" : 1,
                    "group_id" : 1,
                    "custom_id" : "",
                    "name" : "service name",
                    "position" : 0,
                    "updated_at" : "2020-01-10T09:18:11.566Z",
                    "up" : false
                  } ],
                  "groups" : [ {
                    "id" : 1,
                    "name" : "group name",
                    "position" : 0,
                    "updated_at" : "2020-01-09T10:47:42.054Z"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "get" : {
        "tags" : [ "StatusPage" ],
        "summary" : "SHOW",
        "description" : "Returns hub details and services list",
        "operationId" : "GetSHOW",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api_token}}"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string",
            "example" : "application/json"
          }
        }, {
          "name" : "hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "headers" : {
              "Cache-Control" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "max-age=0, private, must-revalidate"
                  }
                }
              },
              "Connection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "close"
                  }
                }
              },
              "ETag" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "W/\"dacb6b6096c61667f9e991e3f98f4378\""
                  }
                }
              },
              "Server" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "thin"
                  }
                }
              },
              "X-Content-Type-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nosniff"
                  }
                }
              },
              "X-Frame-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "SAMEORIGIN"
                  }
                }
              },
              "X-Request-Id" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "0e751fa3-a7d2-466f-b698-9bb93d3fd0c0"
                  }
                }
              },
              "X-Runtime" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "0.649593"
                  }
                }
              },
              "X-XSS-Protection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1; mode=block"
                  }
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SHOW1"
                },
                "example" : {
                  "id" : 1,
                  "name" : "statushub-name",
                  "updated_at" : "2017-12-04T14:01:50.109Z",
                  "logo" : null,
                  "favicon" : null,
                  "services_count" : 2,
                  "down_services_count" : 0,
                  "subdomain" : "statushub-subdomain",
                  "services" : [ {
                    "id" : 2,
                    "group_id" : 2,
                    "custom_id" : null,
                    "name" : "Service2",
                    "position" : 0,
                    "updated_at" : "2016-08-29T10:51:13.291Z",
                    "up" : true
                  }, {
                    "id" : 1,
                    "group_id" : 1,
                    "custom_id" : null,
                    "name" : "Service1",
                    "position" : 1,
                    "updated_at" : "2016-08-29T10:51:13.383Z",
                    "up" : true
                  } ],
                  "groups" : [ {
                    "id" : 2,
                    "name" : "Group2",
                    "position" : 0,
                    "updated_at" : "2016-08-29T10:51:13.383Z"
                  }, {
                    "id" : 1,
                    "name" : "Group1",
                    "updated_at" : "2016-08-29T12:51:13.383Z"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/status_pages/{hub_subdomain}/platform_alert" : {
      "patch" : {
        "tags" : [ "StatusPage" ],
        "summary" : "Set Platform Alert",
        "description" : "Sets Platform Alert",
        "operationId" : "SetPlatformAlert",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api_token}}"
          }
        }, {
          "name" : "hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string",
                "example" : "{\n\t\"status_page\": {\n\t\t\"alert_enabled\": \"true\",\n\t\t\"alert_title\": \"Alert title\",\n\t\t\"alert_message\": \"Alert message\"\n\t}\n\t\"silent_update\": {\n\t\t\"enabled\": true\n\t}\n}"
              },
              "example" : "{\n\t\"status_page\": {\n\t\t\"alert_enabled\": \"true\",\n\t\t\"alert_title\": \"Alert title\",\n\t\t\"alert_message\": \"Alert message\"\n\t}\n\t\"silent_update\": {\n\t\t\"enabled\": true\n\t}\n}"
            }
          },
          "required" : true,
          "x-send-file-in-body" : false
        },
        "responses" : {
          "200" : {
            "description" : "",
            "headers" : {
              "Cache-Control" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "max-age=0, private, must-revalidate"
                  }
                }
              },
              "Connection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "close"
                  }
                }
              },
              "ETag" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "W/\"0c776997933eb60833b37beaf43814c8\""
                  }
                }
              },
              "Server" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "thin"
                  }
                }
              },
              "X-Content-Type-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nosniff"
                  }
                }
              },
              "X-Frame-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "SAMEORIGIN"
                  }
                }
              },
              "X-Request-Id" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "95393b7d-1550-4376-ad7d-0f09a4ecf239"
                  }
                }
              },
              "X-Runtime" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "2.782228"
                  }
                }
              },
              "X-XSS-Protection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1; mode=block"
                  }
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SetPlatformAlert-OK"
                },
                "example" : {
                  "status" : "OK"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SetPlatformAlert-OK"
                },
                "example" : {
                  "status" : "Invalid Parameters: param is missing or the value is empty: alert_title"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "get" : {
        "tags" : [ "StatusPage" ],
        "summary" : "Show Platform Alert",
        "operationId" : "ShowPlatformAlert",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api_token}}"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string",
            "example" : "application/json"
          }
        }, {
          "name" : "hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "headers" : {
              "X-Frame-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "SAMEORIGIN"
                  }
                }
              },
              "X-XSS-Protection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1; mode=block"
                  }
                }
              },
              "X-Content-Type-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nosniff"
                  }
                }
              },
              "X-Download-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "noopen"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "none"
                  }
                }
              },
              "Referrer-Policy" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "strict-origin-when-cross-origin"
                  }
                }
              },
              "ETag" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "W/\"f4029fbac2c7ed8a9a94c187222a92cb\""
                  }
                }
              },
              "Cache-Control" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "max-age=0, private, must-revalidate"
                  }
                }
              },
              "X-Request-Id" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "029a9388-f477-428f-9502-fe488920f524"
                  }
                }
              },
              "X-Runtime" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "0.097345"
                  }
                }
              },
              "Connection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "close"
                  }
                }
              },
              "Server" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "thin"
                  }
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShowPlatformAlert"
                },
                "example" : {
                  "title" : "Alert title",
                  "message" : "Alert message"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/status_pages/{hub_subdomain}/groups" : {
      "get" : {
        "tags" : [ "Groups" ],
        "summary" : "INDEX",
        "operationId" : "GetINDEX1",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "API Key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api_token}}"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "[Optional] Page number. Default value: 1",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        }, {
          "name" : "per_page",
          "in" : "query",
          "description" : "[Optional] Amount of objects returned in query. Default value: 25. Maximum value: 100",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 25
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string",
            "example" : "application/json"
          }
        }, {
          "name" : "hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "headers" : {
              "X-Frame-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "SAMEORIGIN"
                  }
                }
              },
              "X-XSS-Protection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1; mode=block"
                  }
                }
              },
              "X-Content-Type-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nosniff"
                  }
                }
              },
              "X-Download-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "noopen"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "none"
                  }
                }
              },
              "Referrer-Policy" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "strict-origin-when-cross-origin"
                  }
                }
              },
              "ETag" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "W/\"62293f63c63d6ae4f722fc8641a6ec0c\""
                  }
                }
              },
              "Cache-Control" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "max-age=0, private, must-revalidate"
                  }
                }
              },
              "X-Request-Id" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "2c2278e8-5a67-44dd-944f-ce733fe04aee"
                  }
                }
              },
              "X-Runtime" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "0.993629"
                  }
                }
              },
              "Connection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "close"
                  }
                }
              },
              "Server" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "thin"
                  }
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/INDEX2"
                  }
                },
                "example" : [ {
                  "id" : 1,
                  "name" : "GroupName",
                  "position" : 0,
                  "created_at" : "2019-12-17T10:47:42.054Z",
                  "updated_at" : "2019-12-17T10:47:42.054Z"
                } ]
              }
            }
          }
        },
        "deprecated" : false
      },
      "post" : {
        "tags" : [ "Groups" ],
        "summary" : "CREATE",
        "operationId" : "PostCREATE",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "API Key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api_token}}"
          }
        }, {
          "name" : "hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CREATEREQUEST1"
              },
              "example" : {
                "group" : {
                  "name" : "Group1",
                  "position" : "0"
                }
              }
            }
          },
          "required" : true,
          "x-send-file-in-body" : false
        },
        "responses" : {
          "200" : {
            "description" : "",
            "headers" : {
              "Cache-Control" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "max-age=0, private, must-revalidate"
                  }
                }
              },
              "Connection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "keep-alive"
                  }
                }
              },
              "Date" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "Fri, 15 Jun 2018 12:36:42 GMT"
                  }
                }
              },
              "ETag" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "W/\"746e7647baa2ecb4800307ba17c09fd8\""
                  }
                }
              },
              "Server" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nginx/1.13.9"
                  }
                }
              },
              "Transfer-Encoding" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "chunked"
                  }
                }
              },
              "X-Content-Type-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nosniff"
                  }
                }
              },
              "X-Frame-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "SAMEORIGIN"
                  }
                }
              },
              "X-Request-Id" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "631770bd-32be-46e0-b370-9b58b9d8b143"
                  }
                }
              },
              "X-Runtime" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "0.190647"
                  }
                }
              },
              "X-XSS-Protection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1; mode=block"
                  }
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CREATE1"
                },
                "example" : {
                  "id" : 1,
                  "name" : "Group1",
                  "position" : 0,
                  "created_at" : "2018-06-15T12:35:47.121Z",
                  "updated_at" : "2018-06-15T12:35:47.179Z"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/status_pages/{hub_subdomain}/groups/{group_id}" : {
      "get" : {
        "tags" : [ "Groups" ],
        "summary" : "SHOW",
        "operationId" : "GetSHOW1",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "API Key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api_token}}"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string",
            "example" : "application/json"
          }
        }, {
          "name" : "hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "group_id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "headers" : {
              "Cache-Control" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "max-age=0, private, must-revalidate"
                  }
                }
              },
              "Connection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "keep-alive"
                  }
                }
              },
              "Date" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "Fri, 15 Jun 2018 12:39:07 GMT"
                  }
                }
              },
              "ETag" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "W/\"8acf74522a2f2087b04bf0524c013415\""
                  }
                }
              },
              "Server" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nginx/1.13.9"
                  }
                }
              },
              "Transfer-Encoding" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "chunked"
                  }
                }
              },
              "X-Content-Type-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nosniff"
                  }
                }
              },
              "X-Frame-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "SAMEORIGIN"
                  }
                }
              },
              "X-Request-Id" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "c9b854fe-567b-4642-995f-0d7a10b712d1"
                  }
                }
              },
              "X-Runtime" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "0.079270"
                  }
                }
              },
              "X-XSS-Protection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1; mode=block"
                  }
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SHOW2"
                },
                "example" : {
                  "id" : 1,
                  "name" : "Group1",
                  "position" : 0,
                  "created_at" : "2018-06-15T12:37:48.416Z",
                  "updated_at" : "2018-06-15T12:37:48.488Z"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "Groups" ],
        "summary" : "UPDATE",
        "operationId" : "PutUPDATE",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "API Key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api_token}}"
          }
        }, {
          "name" : "hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "group_id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UPDATEREQUEST1"
              },
              "example" : {
                "group" : {
                  "name" : "Group2",
                  "position" : "0"
                }
              }
            }
          },
          "required" : true,
          "x-send-file-in-body" : false
        },
        "responses" : {
          "200" : {
            "description" : "",
            "headers" : {
              "Cache-Control" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "max-age=0, private, must-revalidate"
                  }
                }
              },
              "Connection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "keep-alive"
                  }
                }
              },
              "Date" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "Fri, 15 Jun 2018 12:40:45 GMT"
                  }
                }
              },
              "ETag" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "W/\"0b59d18e8fdfa44d2d4dc901952612f8\""
                  }
                }
              },
              "Server" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nginx/1.13.9"
                  }
                }
              },
              "Transfer-Encoding" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "chunked"
                  }
                }
              },
              "X-Content-Type-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nosniff"
                  }
                }
              },
              "X-Frame-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "SAMEORIGIN"
                  }
                }
              },
              "X-Request-Id" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "a0b3ca76-cbca-4631-a31e-732942a0d476"
                  }
                }
              },
              "X-Runtime" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "0.230188"
                  }
                }
              },
              "X-XSS-Protection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1; mode=block"
                  }
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UPDATE1"
                },
                "example" : {
                  "id" : 1,
                  "name" : "Group2",
                  "position" : 0,
                  "created_at" : "2018-06-15T12:37:48.416Z",
                  "updated_at" : "2018-06-15T12:39:49.538Z"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "Groups" ],
        "summary" : "DELETE",
        "operationId" : "DeleteDELETE",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "API Key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api_token}}"
          }
        }, {
          "name" : "hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "group_id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "headers" : {
              "Cache-Control" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "max-age=0, private, must-revalidate"
                  }
                }
              },
              "Connection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "keep-alive"
                  }
                }
              },
              "Date" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "Fri, 15 Jun 2018 12:42:02 GMT"
                  }
                }
              },
              "ETag" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "W/\"f28985ea45b99256fd703ade30c3a17c\""
                  }
                }
              },
              "Server" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nginx/1.13.9"
                  }
                }
              },
              "Transfer-Encoding" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "chunked"
                  }
                }
              },
              "X-Content-Type-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "nosniff"
                  }
                }
              },
              "X-Frame-Options" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "SAMEORIGIN"
                  }
                }
              },
              "X-Request-Id" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "b09f1b1e-28e4-4c0e-83a4-c72a86aa731c"
                  }
                }
              },
              "X-Runtime" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "0.148988"
                  }
                }
              },
              "X-XSS-Protection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "1; mode=block"
                  }
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DELETE"
                },
                "example" : {
                  "message" : "Ok"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/status_pages/{hub_subdomain}/services" : {
      "get" : {
        "tags" : [ "Services" ],
        "summary" : "INDEX",
        "operationId" : "GetINDEX12",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "API Key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{{api_token}}"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "[Optional] Page number. Default value: 1",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 1
          }
        }, {
          "name" : "per_page",
          "in" : "query",
          "description" : "[Optional] Amount of objects returned in query. Default value: 25. Maximum value: 100",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 25
          }
        }, {
          "name" : "hub_subdomain",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "headers" : {
              "Cache-Control" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "max-age=0, private, must-revalidate"
                  }
                }
              },
              "Connection" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
                    "example" : "close"
                  }
                }
              },
              "ETag" : {
                "content" : {
                  "text/plain" : {
                    "schema" : {
                      "type" : "string"
                    },
[...]
