{
  "openapi" : "3.0.0",
  "info" : {
    "description" : "Получение информации для главного экрана",
    "version" : "1.0.0",
    "title" : "API Главный экран"
  },
  "tags" : [ {
    "name" : "auth",
    "description" : "API для работы с аутентификацией (логин, смена пароля, обновление токенов)"
  }, {
    "name" : "profile",
    "description" : "API для получения данных о пользователе"
  }, {
    "name" : "image",
    "description" : "API для загрузки изображений"
  }, {
    "name" : "task",
    "description" : "API для загрузки задач"
  } ],
  "security" : [ {
    "Bearer" : [ ]
  } ],
  "paths" : {
    "/image" : {
      "post" : {
        "tags" : [ "image" ],
        "summary" : "Загрузить изображение",
        "responses" : {
          "200" : {
            "description" : "Успешный запрос",
            "content" : {
              "application/json; charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImageResponse"
                }
              }
            }
          }
        },
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "image" : {
                    "type" : "string",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/task" : {
      "get" : {
        "tags" : [ "task" ],
        "summary" : "Получение актуальных задачах",
        "parameters" : [ {
          "$ref" : "#/components/parameters/limit"
        }, {
          "$ref" : "#/components/parameters/offsetCreatedAt"
        }, {
          "$ref" : "#/components/parameters/filterIds"
        } ],
        "description" : "Подходящие задачи по временному периоду действия задач",
        "responses" : {
          "200" : {
            "description" : "Успешный запрос",
            "content" : {
              "application/json; charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaskListResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Нет аутентификации"
          }
        }
      }
    },
    "/task/{taskId}/complete" : {
      "post" : {
        "tags" : [ "task" ],
        "summary" : "Завершение задачи",
        "description" : "Завершение визита",
        "parameters" : [ {
          "name" : "taskId",
          "in" : "path",
          "description" : "Идентификатор задачи",
          "required" : true,
          "example" : "5a1fc0c1-b078-4969-bb4d-d1ac7604f78b",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Успешный запрос",
            "content" : {
              "application/json; charset=UTF-8" : {
                "schema" : {
                  "type" : "string",
                  "example" : ""
                }
              }
            }
          },
          "400" : {
            "description" : "Некорректные данные запроса"
          },
          "401" : {
            "description" : "Неавторизован"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json; charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/CompleteTaskRequest"
              }
            }
          },
          "required" : true
        }
      }
    },
    "/user/profile" : {
      "get" : {
        "tags" : [ "profile" ],
        "summary" : "Получение данных о пользователе",
        "description" : "Получаем ник, должность и статус рабочего дня текущего пользователя",
        "parameters" : [ {
          "in" : "query",
          "name" : "params",
          "required" : true,
          "schema" : {
            "type" : "object",
            "properties" : {
              "phone" : {
                "type" : "string",
                "example" : 12334
              },
              "email" : {
                "type" : "string",
                "example" : "some@email.net"
              },
              "msgid" : {
                "type" : "string",
                "example" : "dsfdsfsdf"
              },
              "msgtype" : {
                "type" : "string",
                "example" : "sfsdfsdf"
              }
            },
            "additionalProperties" : false,
            "oneOf" : [ {
              "required" : [ "phone" ]
            }, {
              "required" : [ "email" ]
            }, {
              "required" : [ "msgid", "msgtype" ]
            } ]
          },
          "style" : "form",
          "explode" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешный запрос",
            "content" : {
              "application/json; charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "400" : {
            "description" : "Некорректные параметры запроса"
          },
          "404" : {
            "description" : "Объект не найдент"
          }
        }
      }
    },
    "/login" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Получение токенов",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Успешный запрос",
            "content" : {
              "application/json; charset=UTF-8" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/SuccessAuth"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "someProp" : {
                        "type" : "string"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Объект не найден"
          }
        }
      }
    }
  },
  "servers" : [ {
    "url" : "http://someproduction.url/api/mobile"
  }, {
    "url" : "http://localhost/api"
  } ],
  "components" : {
    "parameters" : {
      "limit" : {
        "in" : "query",
        "name" : "limit",
        "required" : false,
        "schema" : {
          "$ref" : "#/components/schemas/limit"
        },
        "description" : "Лимит на количество возвращаемых элементов"
      },
      "offsetCreatedAt" : {
        "in" : "query",
        "name" : "offsetCreatedAt",
        "required" : false,
        "schema" : {
          "$ref" : "#/components/schemas/dateTimeOffsetCreatedAt"
        },
        "description" : "Смещение по дате создания"
      },
      "filterIds" : {
        "in" : "query",
        "name" : "filterIds",
        "required" : false,
        "description" : "Пример в строке запроса - '?filterIds[]=\"3fa85f64-5717-4562-b3fc-2c963f66afa6\"&filterIds[]=\"efa84764-57yn-4562-b3fc-2c963f66afa6\"'",
        "schema" : {
          "type" : "array",
          "description" : "Массив идентификаторов",
          "items" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      }
    },
    "securitySchemes" : {
      "Bearer" : {
        "description" : "Токен из ответа /api/login",
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    },
    "schemas" : {
      "limit" : {
        "type" : "integer",
        "minimum" : 1,
        "maximum" : 100,
        "default" : 25,
        "example" : 25
      },
      "total" : {
        "type" : "integer",
        "minimum" : 0,
        "maximum" : 100,
        "example" : 25
      },
      "dateTimeOffsetCreatedAt" : {
        "type" : "string",
        "example" : "2019-07-25 16:14:15.107965"
      },
      "dateTimeISO8601" : {
        "type" : "string",
        "example" : "2019-08-02T00:00:00+0000"
      },
      "LoginRequest" : {
        "properties" : {
          "login" : {
            "type" : "string",
            "example" : "user1"
          },
          "password" : {
            "type" : "string",
            "example" : "password1"
          }
        }
      },
      "BasicListResponse" : {
        "type" : "object",
        "properties" : {
          "limit" : {
            "$ref" : "#/components/schemas/limit"
          },
          "secondItemCreatedAt" : {
            "$ref" : "#/components/schemas/dateTimeOffsetCreatedAt"
          },
          "offsetCreatedAt" : {
            "$ref" : "#/components/schemas/dateTimeOffsetCreatedAt"
          },
          "filterIds" : {
            "type" : "array",
            "description" : "Массив идентификаторов",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          },
          "total" : {
            "$ref" : "#/components/schemas/total"
          }
        }
      },
      "TaskListResponse" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/BasicListResponse"
        }, {
          "type" : "object",
          "properties" : {
            "list" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/Task"
              }
            }
          }
        } ]
      },
      "SuccessAuth" : {
        "properties" : {
          "accessToken" : {
            "type" : "string",
            "format" : "apiKey",
            "example" : "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI1MjgxODc3Zi1jZjQ4LTRhZWUtYjUxMS1jMjA3ZWMwMjg1MDMiLCJpc3MiOiJsb2NhbGhvc3QiLCJleHAiOjE1NjQ2NDEzNDN9.vYIbMJlZ2BZW7lyFDej-3yJ7xUDjqaAZYnZhPEyL8UOv9dVqqH_jwf6BCNFBJeGHhSWfgN5jhSFWE2y5zQyHANpYKIQRqpN85mN1DSXTWnuhQwjM-tChJRv40eAOSe97dvpcaEj3HFu_DNPIry7jDU1umufarUtxkMJ0nFi8Tms"
          },
          "refreshToken" : {
            "type" : "string",
            "format" : "apiKey",
            "example" : "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI1MjgxODc3Zi1jZjQ4LTRhZWUtYjUxMS1jMjA3ZWMwMjg1MDMiLCJpc3MiOiJsb2NhbGhvc3QiLCJleHAiOjE1NjY5NzQxNDN9.W6iDa4BF9NAO2dT8U9KAxvgD1oP1BbSuU_mvdN24qGdcBGmO2KhtIDPxWFL8vcP0fnZ05MzsUcwaX2OdIvP-uMJPsCti3Q8I7jd0u_VPGcwAI5_Um0ue-40IMm391SKZ0-FNGrzSjvhDjqnaSBX33f1tlgg9qXW1z5UHZQ7uM9A"
          },
          "accessExpire" : {
            "type" : "integer",
            "example" : 1564641343
          }
        }
      },
      "ImageResponse" : {
        "type" : "object",
        "properties" : {
          "path" : {
            "type" : "string"
          }
        },
        "description" : "Данные о загруженном фото"
      },
      "User" : {
        "type" : "object",
        "required" : [ "id" ],
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Уникальный идентификатор пользователя"
          },
          "nick" : {
            "type" : "string",
            "description" : "Никнейм пользователя для отображения в мобильном приложении"
          },
          "position" : {
            "type" : "string",
            "enum" : [ "salesman", "supervisor", "auditor" ],
            "description" : "Должность пользователя"
          }
        },
        "description" : "Данные о пользователе"
      },
      "Task" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "description" : "Id задачи"
          },
          "userId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "name" : {
            "type" : "string"
          },
          "completeDate" : {
            "$ref" : "#/components/schemas/dateTimeISO8601"
          },
          "status" : {
            "$ref" : "#/components/schemas/TaskStatus"
          },
          "reason" : {
            "type" : "string"
          },
          "startDate" : {
            "$ref" : "#/components/schemas/dateTimeISO8601"
          },
          "endDate" : {
            "$ref" : "#/components/schemas/dateTimeISO8601"
          },
          "description" : {
            "type" : "string",
            "description" : "Описание задачи, которую необходимо выполнить"
          },
          "scenarioIds" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          },
          "salePointIds" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          }
        },
        "description" : "Задача \"для группировки сценариев для определённых ТТ\""
      },
      "CompleteTaskRequest" : {
        "type" : "object",
        "properties" : {
          "completeDate" : {
            "type" : "string"
          },
          "reason" : {
            "type" : "string"
          },
          "status" : {
            "$ref" : "#/components/schemas/TaskStatus"
          }
        }
      },
      "TaskStatus" : {
        "type" : "string",
        "enum" : [ "Not started" ]
      }
    }
  }
}