{
  "openapi" : "3.0.0",
  "info" : {
    "description" : "API para integração com o Micro Serviço responsável pelos dados de pessoas.",
    "title" : "Micro Serviço Pessoa",
    "version" : "1.3"
  },
  "paths" : {
    "/search" : {
      "get" : {
        "parameters" : [ {
          "description" : "Tipo de pessoa",
          "in" : "query",
          "name" : "tipo_pessoa",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "FISICA", "JURIDICA" ],
            "default" : "FISICA"
          },
          "example" : "FISICA"
        }, {
          "description" : "CPF ou CNPJ da busca",
          "in" : "query",
          "name" : "cpf_cnpj",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "00000000000"
        }, {
          "description" : "Número do cálculo",
          "in" : "query",
          "name" : "numero_calculo",
          "required" : false,
          "schema" : {
            "type" : "integer"
          },
          "example" : 1
        }, {
          "description" : "Estrutura de vendas",
          "in" : "query",
          "name" : "estrutura_vendas",
          "required" : true,
          "schema" : {
            "type" : "integer"
          },
          "example" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "Dados da pessoa",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/DadoPessoaFisica"
                  }, {
                    "$ref" : "#/components/schemas/DadoPessoaJuridica"
                  } ]
                }
              }
            }
          }
        },
        "summary" : "Executa a busca de dados de pessoa (Física ou Jurídica)"
      }
    },
    "/report" : {
      "get" : {
        "parameters" : [ {
          "description" : "Data inicial da busca (formato YYYY-mm-ddTHH:MM:SS)",
          "in" : "query",
          "name" : "data_inicio",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2020-01-01T00:00:01"
        }, {
          "description" : "Data final da busca (formato YYYY-mm-ddTHH:MM:SS)",
          "in" : "query",
          "name" : "data_fim",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2020-02-01T23:59:59"
        }, {
          "description" : "Número da página solicitada",
          "name" : "pagina",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : 1
          },
          "example" : "1"
        }, {
          "description" : "Quantidade de registros por página",
          "name" : "por_pagina",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : 25
          },
          "example" : "25"
        }, {
          "description" : "Modo de obtenção dos dados (Analítico|Sintético)",
          "in" : "query",
          "name" : "modo",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "analitico", "sintetico" ]
          },
          "example" : "analitico"
        }, {
          "description" : "Agrupamento (campos separados por vírgula)",
          "in" : "query",
          "name" : "agrupar",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "empresa"
          },
          "example" : "empresa,estrutura_vendas"
        }, {
          "description" : "Tipo de pessoa",
          "in" : "query",
          "name" : "tipo_pessoa",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "FISICA", "JURIDICA" ],
            "default" : "FISICA"
          },
          "example" : "FISICA"
        }, {
          "description" : "CPF ou CNPJ da busca",
          "in" : "query",
          "name" : "cpf_cnpj",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "00000000000"
        }, {
          "description" : "Número do cálculo",
          "in" : "query",
          "name" : "numero_calculo",
          "required" : false,
          "schema" : {
            "type" : "integer"
          },
          "example" : 1
        }, {
          "description" : "Estrutura de vendas",
          "in" : "query",
          "name" : "estrutura_vendas",
          "required" : false,
          "schema" : {
            "type" : "integer"
          },
          "example" : 1
        }, {
          "description" : "Código da empresa",
          "in" : "query",
          "name" : "empresa",
          "required" : false,
          "schema" : {
            "type" : "integer"
          },
          "example" : 1
        }, {
          "description" : "Código do usuário",
          "in" : "query",
          "name" : "usuario",
          "required" : false,
          "schema" : {
            "type" : "integer"
          },
          "example" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "Relatório de buscas de dados de pessoa",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/RelatorioAnalitico"
                  }, {
                    "$ref" : "#/components/schemas/RelatorioSintetico"
                  } ]
                }
              }
            }
          }
        },
        "summary" : "Realiza a extração de relatórios de consulta de dados de pessoa"
      }
    }
  },
  "servers" : [ {
    "url" : "https://service.teleport.com.br/gateway/route/gateway/person/v1"
  } ],
  "components" : {
    "securitySchemes" : {
      "bearerAuth" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    },
    "schemas" : {
      "DadoPessoaFisica" : {
        "description" : "Dados do veículo",
        "properties" : {
          "cpf" : {
            "description" : "CPF da pessoa física",
            "type" : "string",
            "example" : 0
          },
          "nome" : {
            "description" : "Nome da pessoa física",
            "type" : "string",
            "example" : "FOO BAR"
          },
          "cargo" : {
            "description" : "Cargo da pessoa física",
            "type" : "string",
            "example" : "Administrador de empresas"
          },
          "data_nascimento" : {
            "description" : "Data de nascimento",
            "type" : "string",
            "example" : "01/01/1970"
          },
          "nacionalidade" : {
            "description" : "Nacionalidade da pessoa",
            "type" : "string",
            "example" : "BRASILEIRO"
          },
          "escolaridade" : {
            "description" : "Escolaridade da pessoa",
            "type" : "string",
            "example" : "SUPERIOR COMPLETO"
          },
          "sexo" : {
            "description" : "Sexo da pessoa",
            "type" : "string",
            "example" : "MASCULINO"
          },
          "rg" : {
            "description" : "RG da pessoa",
            "type" : "string",
            "example" : 0
          }
        },
        "type" : "object"
      },
      "DadoPessoaJuridica" : {
        "description" : "Dados do veículo",
        "properties" : {
          "cnpj" : {
            "description" : "CNPJ da pessoa juridica",
            "type" : "string",
            "example" : 0
          },
          "nome_fantasia" : {
            "description" : "Nome fantasia da pessoa juridica",
            "type" : "string",
            "example" : "ACME"
          },
          "razao_social" : {
            "description" : "Razão social da pessoa juridica",
            "type" : "string",
            "example" : "ACME"
          }
        },
        "type" : "object"
      },
      "ItemRelatorioAnalitico" : {
        "description" : "Item do dado do relatório analítico",
        "properties" : {
          "by_cache" : {
            "description" : "Indica se o retorno foi via cache",
            "type" : "boolean",
            "example" : true
          },
          "calc_number" : {
            "description" : "Número do cálculo",
            "type" : "string",
            "example" : 1
          },
          "sales_structure" : {
            "description" : "Estrutura de vendas",
            "type" : "integer",
            "example" : 1
          },
          "company" : {
            "description" : "Código da empresa",
            "type" : "string",
            "example" : 1
          },
          "person_type" : {
            "description" : "Tipo de pessoa (FISICA/JURIDICA)",
            "type" : "string",
            "example" : "FISICA"
          },
          "identification" : {
            "description" : "CPF ou CNPJ da pessoa",
            "type" : "string",
            "example" : 0
          },
          "generatedAt" : {
            "description" : "Data da geração do item do relatório (formato dd/mm/YYYY HH:MM:SS)",
            "type" : "string",
            "example" : "19/02/2020 18:05:38"
          }
        },
        "type" : "object"
      },
      "ItemRelatorioSintetico" : {
        "description" : "Item do dado do relatório sintético",
        "properties" : {
          "company" : {
            "description" : "Código da empresa",
            "type" : "integer",
            "example" : 1
          },
          "sales_structure" : {
            "description" : "Estrutura de vendas",
            "type" : "integer",
            "example" : 1
          },
          "total_search" : {
            "description" : "Total de pesquisas",
            "type" : "integer",
            "example" : 2
          },
          "total_search_cached" : {
            "description" : "Total de pesquisas cacheadas",
            "type" : "integer",
            "example" : 1
          },
          "total_search_direct" : {
            "description" : "Total de pesquisas direto a API",
            "type" : "integer",
            "example" : 1
          }
        },
        "type" : "object"
      },
      "RelatorioAnalitico" : {
        "description" : "Relatório Analítico",
        "properties" : {
          "count_records" : {
            "description" : "Total de registros em exibição (incluindo a paginação)",
            "type" : "integer",
            "example" : 1
          },
          "page" : {
            "description" : "Número da página atual",
            "type" : "integer",
            "example" : 1
          },
          "total_pages" : {
            "description" : "Total de páginas para a busca atual",
            "type" : "integer",
            "example" : 1
          },
          "list" : {
            "items" : {
              "$ref" : "#/components/schemas/ItemRelatorioAnalitico"
            },
            "type" : "array"
          }
        },
        "type" : "object"
      },
      "RelatorioSintetico" : {
        "description" : "Relatório Sintético",
        "properties" : {
          "list" : {
            "items" : {
              "$ref" : "#/components/schemas/ItemRelatorioSintetico"
            },
            "type" : "array"
          }
        },
        "type" : "object"
      }
    }
  },
  "security" : [ {
    "bearerAuth" : [ ]
  } ]
}