{
  "openapi" : "3.0.2",
  "servers" : [ {
    "description" : "SS12000",
    "url" : "http://some.server.se/v2.0"
  } ],
  "info" : {
    "description" : "Detta är en implementationsspecifikation av SS12000:2020 [TK450](https://www.sis.se/standardutveckling/tksidor/tk400499/sistk450/)\n",
    "version" : "2.0.0",
    "title" : "SS12000",
    "termsOfService" : "https://www.sis.se/standardutveckling/tksidor/tk400499/sistk450/",
    "contact" : {
      "email" : "tk450@sis.se"
    }
  },
  "tags" : [ {
    "name" : "Organisation",
    "description" : "Skolans organisation och grundläggande administration."
  }, {
    "name" : "Person",
    "description" : "Hanterar personer och personers relationer."
  }, {
    "name" : "Grupper",
    "description" : "Grupper."
  }, {
    "name" : "Studieinformation",
    "description" : "Information om kurser, ämnen, program och studieplaner."
  }, {
    "name" : "Aktiviteter",
    "description" : "Aktiviteter knyter ihop lärare och elever med ämne eller kurs."
  }, {
    "name" : "Kalenderhändelser",
    "description" : "Kalenderposter kopplat till aktiviteter"
  }, {
    "name" : "Rum och resurser",
    "description" : "Salar och resurser som kan schemaläggas."
  }, {
    "name" : "Närvaro",
    "description" : "Information runt en elevs närvaro."
  }, {
    "name" : "Vistelseschema",
    "description" : "Schema för omsorgstider på förskola eller fritidshem."
  }, {
    "name" : "Närvarohändelser",
    "description" : "In- och utpassering. Används för närvarohantering i förskola och fritidshem (utan kopplingar till kalenderhändelser).\n"
  }, {
    "name" : "Borttag",
    "description" : "Metod för att följa borttag av entititer."
  }, {
    "name" : "Prenumeration",
    "description" : "Webhook för att prenumerera på uppdateringar."
  } ],
  "paths" : {
    "/organisations" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "summary" : "Hämta en lista med organisationer.",
        "parameters" : [ {
          "name" : "parent",
          "description" : "Begränsa urvalet till utpekade organisations-ID:n.",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          }
        }, {
          "name" : "schoolUnitCode",
          "description" : "Begränsa urvalet till de skolenheter som har den angivna Skolenhetskoden. En Identifierare för skolenheten enligt Skolverket.\n",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "organisationCode",
          "description" : "Begränsa urvalet till de organisationselement som har den angivna koden.\n",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "municipalityCode",
          "description" : "Begränsa urvalet till de organisationselement som har angiven kommunkod.\n",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "description" : "Begränsa urvalet till utpekade typ.",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Code_OrganisationType"
            }
          }
        }, {
          "name" : "schoolTypes",
          "description" : "Begränsa urvalet till de organisationselement som har den angivna skolformen.\n",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Code_SchoolType"
            }
          }
        }, {
          "name" : "startDate.onOrBefore",
          "description" : "Begränsa urvalet till organisationselement som har ett startDate värde innan eller på det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett endDate som ej är satt, tas alltid med. \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "startDate.onOrAfter",
          "description" : "Begränsa urvalet till organisationselement som har ett startDate värde på eller efter det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett endDate som ej är satt, tas alltid med. \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "endDate.onOrBefore",
          "description" : "Begränsa urvalet till organisationselement som har ett endDate värde innan eller på det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett endDate som ej är satt, tas alltid med. \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "endDate.onOrAfter",
          "description" : "Begränsa urvalet till organisationselement som har ett endDate värde på eller efter det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett endDate som ej är satt, tas alltid med. \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "$ref" : "#/components/parameters/SearchCreatedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchCreatedAfter"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedAfter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        }, {
          "$ref" : "#/components/parameters/Sortkey"
        }, {
          "$ref" : "#/components/parameters/Limit"
        }, {
          "$ref" : "#/components/parameters/PageToken"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Organisation"
                      }
                    },
                    "pageToken" : {
                      "type" : "string",
                      "nullable" : true,
                      "description" : "Om värdet är null finns inget mer att hämta på det token som skickades in som query parameter.\n"
                    }
                  },
                  "required" : [ "data" ]
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_filter"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/organisations/lookup" : {
      "post" : {
        "tags" : [ "Organisation" ],
        "summary" : "Hämta många organisationer baserat på en lista av ID:n.",
        "description" : "Istället för att hämta organisationer en i taget med en loop av GET-anrop så finns det även möjlighet att hämta många organisationer på en gång genom att ange POST:a en lista med önskade organisationer.\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Organisation"
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "503" : {
            "$ref" : "#/components/responses/503_overload"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "ids" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string",
                      "format" : "uuid"
                    }
                  },
                  "schoolUnitCodes" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "organisationCodes" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  }
                },
                "example" : {
                  "ids" : [ "d544563a-747a-42d3-8d37-415a101537fa" ],
                  "schoolUnitCodes" : [ "55512387" ],
                  "organisationCodes" : [ "F2311" ]
                }
              }
            }
          },
          "required" : true
        }
      }
    },
    "/organisations/{id}" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "summary" : "Hämta en organisation baserat på ID",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID för organisationen som ska hämtas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisation"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_id"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "404" : {
            "$ref" : "#/components/responses/404_not_found"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/persons" : {
      "get" : {
        "tags" : [ "Person" ],
        "summary" : "Hämta en lista med personer.",
        "parameters" : [ {
          "name" : "nameContains",
          "description" : "Begränsa urvalet till de personer vars namn innehåller något av parameterns värden.\nSökningen **ska** ske shiftlägesokänsligt och värdet kan förekomma var som helst i något av alla tre namnfälten. \nAnges flera värden så måste samtliga värden matcha minst ett av namnfälten.\n\nExempel: [ \"Pa\", \"gens\" ] kommer matcha Palle Girgensohn.\n",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "relationship.entity.type",
          "description" : "Begränsa urvalet till de personer som har en denna typ av relation till andra entititeter. \nDenna parameter styr vilket entitetstyp som övriga relationship-parametrar filterar på.\nAnges inga andra parametrar så returneras personer som har en relation av denna typ.\n\nMöjliga relationer:\n- _enrolements_ - filtrerar utifrån elever inskrivning.\n- _duty_ - filtrerar utifrån personer som har minst en tjänstgöring.\n- _placement.child_ - filtrerar utifrån barn som har minst en placering.\n- _placement.owner_ - filtrerar utifrån personer som satta som ägare av minst en placering.\n- _responsibleFor.enrolment_ - filterar utifrån personer som har en _\"responsibleFor\"_-relation, dvs är en vårdnadshavare eller annan ansvarig vuxen, till en elev med minst en inskrivning.\n- _responsibleFor.placement_ - filterar utifrån personer som har en _\"responsibleFor\"_-relation, dvs är en vårdnadshavare eller annan ansvarig vuxen, till ett barn med minst en placering.\n  Notera att oftast är det bättre att använda _placement.owner_ än denna parameter.\n\nDetta kan kombineras med `relationship.startDate.onOrBefore` och `relationship.endDate.onOrAfter` för att begränsa till aktiva relationer.\n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "enum" : [ "enrolment", "duty", "placement.child", "placement.owner", "responsibleFor.enrolment", "responsibleFor.placement" ]
          }
        }, {
          "name" : "relationship.organisation",
          "description" : "Begränsa urvalet till de personer som har en relation till angivet organisationselement (vanligtvis en skolenhet). \nFör att begränsa till en viss relationtyp används parametern `relationship.entity.type`.\n\nFöljande fält/relationer används vid filtreringen:\n- _enrolements_ - poster matchandes `person.enrolment.enroledAt`\n- _duty_ - person poster matchandes `duty.person` i en lista filtrerad utifrån `duty.dutyAt`.\n- _placement.child_ - person poster matchandes `placement.child` i en lista filtrerad utifrån `placement.placedAt`.\n- _placement.owner_ - person poster matchandes `placement.owner` i en lista filtrerad utifrån `placement.placedAt`.\n- _responsibleFor.enrolment_ - person poster matchandes `person.responsibles` i en lista filtrerad utifrån `person.enrolment.enroledAt`.\n- _responsibleFor.placement_ - person poster matchandes `person.responsibles` i en lista med person poster som i sin tur matchar `placement.child` i en lista filtrerad utifrån `placement.placedAt`.\n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "relationship.startDate.onOrBefore",
          "description" : "Begränsa urvalet av personer till de som har relationer med startDate innan eller på det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett startDate som ej är satt, tas alltid med. \nFör att begränsa till en viss relationtyp används parametern `relationship.entity.type`.\n\nFöljande fält/relationer används vid filtreringen:\n- _enrolements_ - poster matchandes `person.enrolment.startDate`\n- _duty_ - person poster matchandes `duty.person` i en lista filtrerad utifrån `duty.startDate`.\n- _placement.child_ - person poster matchandes `placement.child` i en lista filtrerad utifrån `placement.startDate`.\n- _placement.owner_ - person poster matchandes `placement.owner` i en lista filtrerad utifrån `placement.startDate`.\n- _responsibleFor.enrolment_ - person poster matchandes `person.responsibles` i en lista filtrerad utifrån `person.enrolment.startDate`.\n- _responsibleFor.placement_ - person poster matchandes `person.responsibles` i en lista med person poster som i sin tur matchar `placement.child` i en lista filtrerad utifrån `placement.startDate`.\n  \nDetta kan kombineras med _relationship.endDate.onOrAfter_ för att begränsa till aktiva relationer.\n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "relationship.startDate.onOrAfter",
          "description" : "Begränsa urvalet av personer till de som har relationer med startDate efter eller på det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett startDate som ej är satt, tas alltid med. \nFör att begränsa till en viss relationtyp används parametern `relationship.entity.type`.\n\nFöljande fält/relationer används vid filtreringen:\n- _enrolements_ - poster matchandes `person.enrolment.startDate`\n- _duty_ - person poster matchandes `duty.person` i en lista filtrerad utifrån `duty.startDate`.\n- _placement.child_ - person poster matchandes `placement.child` i en lista filtrerad utifrån `placement.startDate`.\n- _placement.owner_ - person poster matchandes `placement.owner` i en lista filtrerad utifrån `placement.startDate`.\n- _responsibleFor.enrolment_ - person poster matchandes `person.responsibles` i en lista filtrerad utifrån `person.enrolment.startDate`.\n- _responsibleFor.placement_ - person poster matchandes `person.responsibles` i en lista med person poster som i sin tur matchar `placement.child` i en lista filtrerad utifrån `placement.startDate`.\n  \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "relationship.endDate.onOrBefore",
          "description" : "Begränsa urvalet av personer till de som har relationer med endDate innan eller på det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett endDate som ej är satt, tas alltid med.\nFör att begränsa till en viss relationtyp används parametern `relationship.entity.type`.\n\nFöljande fält/relationer används vid filtreringen:\n- _enrolements_ - poster matchandes `person.enrolment.endDate`\n- _duty_ - person poster matchandes `duty.person` i en lista filtrerad utifrån `duty.endDate`.\n- _placement.child_ - person poster matchandes `placement.child` i en lista filtrerad utifrån `placement.endDate`.\n- _placement.owner_ - person poster matchandes `placement.owner` i en lista filtrerad utifrån `placement.endDate`.\n- _responsibleFor.enrolment_ - person poster matchandes `person.responsibles` i en lista filtrerad utifrån `person.enrolment.endDate`.\n- _responsibleFor.placement_ - person poster matchandes `person.responsibles` i en lista med person poster som i sin tur matchar `placement.child` i en lista filtrerad utifrån `placement.endDate`.\n  \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "relationship.endDate.onOrAfter",
          "description" : "Begränsa urvalet av personer till de som har relationer med endDate efter eller på det angivna datumet (RFC 3339-format,t.ex. \"2016-10-15\"). \nPoster med ett endDate som ej är satt, tas alltid med.\nFör att begränsa till en viss relationtyp används parametern `relationship.entity.type`.\n\nFlöjande fält/relationer används vid filtreringen:\n - _enrolements_ - poster matchandes `person.enrolment.endDate`\n - _duty_ - person poster matchandes `duty.person` i en lista filtrerad utifrån `duty.endDate`.\n - _placement.child_ - person poster matchandes `placement.child` i en lista filtrerad utifrån `placement.endDate`.\n - _placement.owner_ - person poster matchandes `placement.owner` i en lista filtrerad utifrån `placement.endDate`.\n - _responsibleFor.enrolment_ - person poster matchandes `person.responsibles` i en lista filtrerad utifrån `person.enrolment.endDate`.\n - _responsibleFor.placement_ - person poster matchandes `person.responsibles` i en lista med person poster som i sin tur matchar `placement.child` i en lista filtrerad utifrån `placement.endDate`.\n\nDetta kan kombineras med _relationship.startDate.onOrBefore_ för att begränsa till aktiva relationer.\n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "$ref" : "#/components/parameters/SearchCreatedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchCreatedAfter"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedAfter"
        }, {
          "$ref" : "#/components/parameters/PersonsExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        }, {
          "name" : "sortkey",
          "description" : "Anger hur resultatet ska sorteras.",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "enum" : [ "DisplayNameAsc", "GivenNameDesc", "GivenNameAsc", "FamilyNameDesc", "FamilyNameAsc", "civicNo", "ModifiedDesc" ]
          }
        }, {
          "$ref" : "#/components/parameters/Limit"
        }, {
          "$ref" : "#/components/parameters/PageToken"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/PersonExpanded"
                      }
                    },
                    "pageToken" : {
                      "type" : "string",
                      "nullable" : true,
                      "description" : "Om värdet är null finns inget mer att hämta på det token som skickades in som query parameter.\n"
                    }
                  },
                  "required" : [ "data" ]
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_filter"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/persons/lookup" : {
      "post" : {
        "tags" : [ "Person" ],
        "summary" : "Hämta många personer baserat på en lista av ID:n eller personnummer.",
        "description" : "Istället för att hämta personer en i taget med en loop av GET-anrop så finns det även möjlighet att hämta många personer på en gång genom att ange POST:a en lista med önskade personer.\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/PersonsExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PersonExpanded"
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "503" : {
            "$ref" : "#/components/responses/503_overload"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        },
        "requestBody" : {
          "description" : "En lista med personnummer och / eller uuid:n på personer.\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "ids" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string",
                      "format" : "uuid"
                    }
                  },
                  "civicNos" : {
                    "type" : "array",
                    "items" : {
                      "description" : "Personnummer, samordningsnummer eller tillfälliga personnummer, och motsvarande för andra länder. För svenska personnummner **ska** formatet 12 tecken utan divis användas. Se exempel.\n",
                      "type" : "string"
                    }
                  }
                },
                "example" : {
                  "ids" : [ "d544563a-747a-42d3-8d37-415a101537fa" ],
                  "civicNos" : [ "201002037271" ]
                }
              }
            }
          },
          "required" : true
        }
      }
    },
    "/persons/{id}" : {
      "get" : {
        "tags" : [ "Person" ],
        "summary" : "Get person by person id",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID för personen som ska hämtas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "$ref" : "#/components/parameters/PersonsExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonExpanded"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_id"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "404" : {
            "$ref" : "#/components/responses/404_not_found"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/placements" : {
      "get" : {
        "tags" : [ "Person" ],
        "summary" : "Hämta en lista med placeringar.",
        "parameters" : [ {
          "name" : "placedAt",
          "description" : "Begränsa urvalet till de barn som har en placering på angiven skolenhet. Detta kan kombineras med startDate.onOrBefore och endDate.onOrAfter för att begränsa till aktiva placeringar.\n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "startDate.onOrBefore",
          "description" : "Begränsa urvalet till placeringar som har ett startDate värde innan eller på det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "startDate.onOrAfter",
          "description" : "Begränsa urvalet till placeringar som har ett startDate värde på eller efter det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "endDate.onOrBefore",
          "description" : "Begränsa urvalet till placeringar som har ett endDate värde innan eller på det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett endDate som ej är satt, tas alltid med. \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "endDate.onOrAfter",
          "description" : "Begränsa urvalet till placeringar som har ett endDate värde på eller efter det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett endDate som ej är satt, tas alltid med. \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "child",
          "description" : "Begränsa urvalet till ett barn. Detta kan kombineras med startDate.onOrBefore och endDate.onOrAfter för att begränsa till aktiva placeringar.\n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "owner",
          "description" : "Begränsa urvalet till placeringar med denna ägare. Detta kan kombineras med startDate.onOrAfter och endDate.onOrBefore för att begränsa till aktiva placeringar.\n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "$ref" : "#/components/parameters/SearchCreatedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchCreatedAfter"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedAfter"
        }, {
          "$ref" : "#/components/parameters/PlacementsExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        }, {
          "name" : "sortkey",
          "description" : "Anger hur resultatet ska sorteras.",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "enum" : [ "StartDateAsc", "StartDateDesc", "EndDateAsc", "EndDateDesc", "ModifiedDesc" ]
          }
        }, {
          "$ref" : "#/components/parameters/PageToken"
        }, {
          "$ref" : "#/components/parameters/Limit"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/PlacementExpanded"
                      }
                    },
                    "pageToken" : {
                      "type" : "string",
                      "nullable" : true,
                      "description" : "Om värdet är null finns inget mer att hämta på det token som skickades in som query parameter.\n"
                    }
                  },
                  "required" : [ "data" ]
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_filter"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/placements/lookup" : {
      "post" : {
        "tags" : [ "Person" ],
        "summary" : "Hämta många placeringar baserat på en lista av ID:n eller av Id från personer.\n",
        "description" : "Istället för att hämta placeringar en i taget med en loop av GET-anrop så finns det även möjlighet att hämta många placeringar på en gång genom att ange POST:a en lista med önskade placeringar.\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/PlacementsExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlacementExpanded"
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "503" : {
            "$ref" : "#/components/responses/503_overload"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "ids" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string",
                      "format" : "uuid"
                    }
                  },
                  "personIds" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string",
                      "format" : "uuid"
                    }
                  }
                }
              }
            }
          },
          "required" : true
        }
      }
    },
    "/placements/{id}" : {
      "get" : {
        "tags" : [ "Person" ],
        "summary" : "Placering baserat på id",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID för placering som ska hämtas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "$ref" : "#/components/parameters/PlacementsExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PlacementExpanded"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_id"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "404" : {
            "$ref" : "#/components/responses/404_not_found"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/duties" : {
      "get" : {
        "tags" : [ "Person" ],
        "summary" : "Hämta en lista med tjänstgöringar.",
        "parameters" : [ {
          "name" : "organisation",
          "description" : "Begränsa urvalet till de tjänstgöringar som är kopplade till ett organisationselement eller underliggande element.\n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "dutyRole",
          "description" : "Begränsta urvalet till de tjänstgöringar som matchar roll",
          "in" : "query",
          "schema" : {
            "$ref" : "#/components/schemas/Code_DutyRole"
          }
        }, {
          "name" : "person",
          "description" : "Begränsa urvalet till de tjänstgöringar som är kopplade till person ID\n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "startDate.onOrBefore",
          "description" : "Begränsa urvalet till tjänstgöringar som har ett startDate värde innan eller på det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\").\n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "startDate.onOrAfter",
          "description" : "Begränsa urvalet till tjänstgöringar som har ett startDate värde på eller efter det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\").\n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "endDate.onOrBefore",
          "description" : "Begränsa urvalet till tjänstgöringar som har ett endDate värde innan eller på det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett endDate som ej är satt, tas alltid med.\n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "endDate.onOrAfter",
          "description" : "Begränsa urvalet till tjänstgöringar som har ett endDate värde på eller efter det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett endDate som ej är satt, tas alltid med.\n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "$ref" : "#/components/parameters/SearchCreatedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchCreatedAfter"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedAfter"
        }, {
          "$ref" : "#/components/parameters/DutiesExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        }, {
          "name" : "sortkey",
          "description" : "Anger hur resultatet ska sorteras.",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "enum" : [ "StartDateDesc", "StartDateAsc", "ModifiedDesc" ]
          }
        }, {
          "$ref" : "#/components/parameters/Limit"
        }, {
          "$ref" : "#/components/parameters/PageToken"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/DutyExpanded"
                      }
                    },
                    "pageToken" : {
                      "type" : "string",
                      "nullable" : true,
                      "description" : "Om värdet är null finns inget mer att hämta på det token som skickades in som query parameter.\n"
                    }
                  },
                  "required" : [ "data" ]
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_filter"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/duties/lookup" : {
      "post" : {
        "tags" : [ "Person" ],
        "summary" : "Hämta många tjänstgöringar baserat på en lista av ID:n.",
        "description" : "Istället för att hämta tjänstgöringar en i taget med en loop av GET-anrop så finns det även möjlighet att hämta många tjänstgöringar på en gång genom att ange POST:a en lista med önskade tjänstgöringar.\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/DutiesExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DutyExpanded"
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "503" : {
            "$ref" : "#/components/responses/503_overload"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IdLookup"
              }
            }
          },
          "required" : true
        }
      }
    },
    "/duties/{id}" : {
      "get" : {
        "tags" : [ "Person" ],
        "summary" : "Hämta tjänstgöring baserat på tjänstgörings ID",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID för tjänstgöringen som ska hämtas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "$ref" : "#/components/parameters/DutiesExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Duty"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_id"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "404" : {
            "$ref" : "#/components/responses/404_not_found"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/groups" : {
      "get" : {
        "tags" : [ "Grupper" ],
        "summary" : "Hämta en lista med grupper.",
        "parameters" : [ {
          "name" : "groupType",
          "description" : "Begränsa urvalet till grupper av en eller flera type.\n",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Code_GroupType"
            }
          }
        }, {
          "name" : "schoolTypes",
          "description" : "Begränsa urvalet av grupper till de som är har en av de angivna skolformerna.\n",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Code_SchoolType"
            }
          }
        }, {
          "name" : "owner",
          "description" : "Begränsa urvalet av grupper till de som vars ansvariga skolenhet är en av de som anges av parametern.\n",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          }
        }, {
          "name" : "startDate.onOrBefore",
          "description" : "Begränsa urvalet till grupper som har ett startDate värde innan eller på det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "startDate.onOrAfter",
          "description" : "Begränsa urvalet till grupper som har ett startDate värde på eller efter det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "endDate.onOrBefore",
          "description" : "Begränsa urvalet till grupper som har ett endDate värde innan eller på det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett endDate som ej är satt, tas alltid med. \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "endDate.onOrAfter",
          "description" : "Begränsa urvalet till grupper som har ett endDate värde på eller efter det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett endDate som ej är satt, tas alltid med. \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "$ref" : "#/components/parameters/SearchCreatedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchCreatedAfter"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedAfter"
        }, {
          "$ref" : "#/components/parameters/GroupsExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        }, {
          "name" : "sortkey",
          "description" : "Anger hur resultatet ska sorteras.",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "enum" : [ "ModifiedDesc", "DisplayNameAsc", "StartDateAsc", "StartDateDesc", "EndDateAsc", "EndDateDesc" ]
          }
        }, {
          "$ref" : "#/components/parameters/Limit"
        }, {
          "$ref" : "#/components/parameters/PageToken"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/GroupExpanded"
                      }
                    },
                    "pageToken" : {
                      "type" : "string",
                      "nullable" : true,
                      "description" : "Om värdet är null finns inget mer att hämta på det token som skickades in som query parameter.\n"
                    }
                  },
                  "required" : [ "data" ]
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_filter"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/groups/lookup" : {
      "post" : {
        "tags" : [ "Grupper" ],
        "summary" : "Hämta många grupper baserat på en lista av ID:n.",
        "description" : "Istället för att hämta grupper en i taget med en loop av GET-anrop så finns det även möjlighet att hämta många grupper på en gång genom att ange POST:a en lista med önskade grupper.\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/GroupsExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GroupExpanded"
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "503" : {
            "$ref" : "#/components/responses/503_overload"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IdLookup"
              }
            }
          },
          "required" : true
        }
      }
    },
    "/groups/{id}" : {
      "get" : {
        "tags" : [ "Grupper" ],
        "summary" : "Hämta grupper baserat på ID",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID för grupp som ska hämtas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "$ref" : "#/components/parameters/GroupsExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupExpanded"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_id"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "404" : {
            "$ref" : "#/components/responses/404_not_found"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/programmes" : {
      "get" : {
        "tags" : [ "Studieinformation" ],
        "summary" : "Hämta en lista av program.",
        "parameters" : [ {
          "name" : "schoolType",
          "description" : "Begränsa urvalet till de program som matchar skolformen.",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Code_SchoolType"
            }
          }
        }, {
          "name" : "code",
          "description" : "Begränsta urvalet till de program som matchar programkod",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "parentProgramme",
          "description" : "Begränsta urvalet till de program som matchar angivet parentProgramme.\n",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "$ref" : "#/components/parameters/SearchCreatedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchCreatedAfter"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedAfter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        }, {
          "name" : "sortkey",
          "description" : "Anger hur resultatet ska sorteras.",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "enum" : [ "NameAsc", "CodeAsc", "ModifiedDesc" ]
          }
        }, {
          "$ref" : "#/components/parameters/Limit"
        }, {
          "$ref" : "#/components/parameters/PageToken"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Programme"
                      }
                    },
                    "pageToken" : {
                      "type" : "string",
                      "nullable" : true,
                      "description" : "Om värdet är null finns inget mer att hämta på det token som skickades in som query parameter.\n"
                    }
                  },
                  "required" : [ "data" ]
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_filter"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/programmes/lookup" : {
      "post" : {
        "tags" : [ "Studieinformation" ],
        "summary" : "Hämta många program baserat på en lista av ID:n.",
        "description" : "Istället för att hämta program en i taget med en loop av GET-anrop så finns det även möjlighet att hämta många program på en gång genom att ange POST:a en lista med önskade program.\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Programme"
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "503" : {
            "$ref" : "#/components/responses/503_overload"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IdLookup"
              }
            }
          },
          "required" : true
        }
      }
    },
    "/programmes/{id}" : {
      "get" : {
        "tags" : [ "Studieinformation" ],
        "summary" : "Hämta program baserat på  ID",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID för program som ska hämtas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Programme"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_id"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "404" : {
            "$ref" : "#/components/responses/404_not_found"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/studyplans" : {
      "get" : {
        "tags" : [ "Studieinformation" ],
        "summary" : "Hämta en lista med studieplaner.",
        "parameters" : [ {
          "name" : "student",
          "description" : "Begränsa urvalet till utpekade elever.",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          }
        }, {
          "name" : "startDate.onOrBefore",
          "description" : "Begränsa urvalet till studieplaner som har ett startDate värde innan eller på det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett endDate som ej är satt, tas alltid med. \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "startDate.onOrAfter",
          "description" : "Begränsa urvalet till studieplaner som har ett startDate värde på eller efter det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett endDate som ej är satt, tas alltid med. \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "endDate.onOrBefore",
          "description" : "Begränsa urvalet till studieplaner som har ett endDate värde innan eller på det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett endDate som ej är satt, tas alltid med. \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "endDate.onOrAfter",
          "description" : "Begränsa urvalet till studieplaner som har ett endDate värde på eller efter det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett endDate som ej är satt, tas alltid med. \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "$ref" : "#/components/parameters/SearchCreatedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchCreatedAfter"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedAfter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        }, {
          "name" : "sortkey",
          "description" : "Anger hur resultatet ska sorteras.",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "enum" : [ "ModifiedDesc", "StartDateAsc", "StartDateDesc", "EndDateAsc", "EndDateDesc" ]
          }
        }, {
          "$ref" : "#/components/parameters/Limit"
        }, {
          "$ref" : "#/components/parameters/PageToken"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/StudyPlan"
                      }
                    },
                    "pageToken" : {
                      "type" : "string",
                      "nullable" : true,
                      "description" : "Om värdet är null finns inget mer att hämta på det token som skickades in som query parameter.\n"
                    }
                  },
                  "required" : [ "data" ]
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_filter"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/studyplans/{id}" : {
      "get" : {
        "tags" : [ "Studieinformation" ],
        "summary" : "Hämta studieplan baserat på ID",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID för studieplan som ska hämtas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StudyPlan"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_id"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "404" : {
            "$ref" : "#/components/responses/404_not_found"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/syllabuses" : {
      "get" : {
        "tags" : [ "Studieinformation" ],
        "summary" : "Hämta en lista med syllabuses.",
        "parameters" : [ {
          "$ref" : "#/components/parameters/SearchCreatedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchCreatedAfter"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedAfter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        }, {
          "name" : "sortkey",
          "description" : "Anger hur resultatet ska sorteras.",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "enum" : [ "ModifiedDesc", "SubjectNameAsc", "SubjectNameDesc", "SubjectCodeAsc", "SubjectCodeDesc", "CourseNameAsc", "CourseNameDesc", "CourseCodeAsc", "CourseCodeDesc", "SubjectDesignationAsc", "SubjectDesignationDesc" ]
          }
        }, {
          "$ref" : "#/components/parameters/Limit"
        }, {
          "$ref" : "#/components/parameters/PageToken"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Syllabus"
                      }
                    },
                    "pageToken" : {
                      "type" : "string",
                      "nullable" : true,
                      "description" : "Om värdet är null finns inget mer att hämta på det token som skickades in som query parameter.\n"
                    }
                  },
                  "required" : [ "data" ]
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_filter"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/syllabuses/lookup" : {
      "post" : {
        "tags" : [ "Studieinformation" ],
        "summary" : "Hämta många syllabuses baserat på en lista av ID:n.",
        "description" : "Istället för att hämta syllabuses en i taget med en loop av GET-anrop så finns det även möjlighet att hämta många syllabuses på en gång genom att ange POST:a en lista med önskade syllabuses.\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Syllabus"
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "503" : {
            "$ref" : "#/components/responses/503_overload"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IdLookup"
              }
            }
          },
          "required" : true
        }
      }
    },
    "/syllabuses/{id}" : {
      "get" : {
        "tags" : [ "Studieinformation" ],
        "summary" : "Hämta syllabus baserat på ID",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID för syllabus som ska hämtas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Syllabus"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_id"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "404" : {
            "$ref" : "#/components/responses/404_not_found"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/schoolUnitOfferings" : {
      "get" : {
        "tags" : [ "Studieinformation" ],
        "summary" : "Hämta en lista med skolenheters erbjudanden.",
        "parameters" : [ {
          "name" : "offeredAt",
          "description" : "Begränsa urvalet till en viss skolenhet.",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "$ref" : "#/components/parameters/SearchCreatedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchCreatedAfter"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedAfter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        }, {
          "name" : "sortkey",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "enum" : [ "ModifiedDesc", "StartDateAsc", "StartDateDesc", "EndDateAsc", "EndDateDesc" ]
          }
        }, {
          "$ref" : "#/components/parameters/Limit"
        }, {
          "$ref" : "#/components/parameters/PageToken"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/SchoolUnitOffering"
                      }
                    },
                    "pageToken" : {
                      "type" : "string",
                      "nullable" : true,
                      "description" : "Om värdet är null finns inget mer att hämta på det token som skickades in som query parameter.\n"
                    }
                  },
                  "required" : [ "data" ]
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_filter"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/schoolUnitOfferings/lookup" : {
      "post" : {
        "tags" : [ "Studieinformation" ],
        "summary" : "Hämta många program baserat på en lista av ID:n.",
        "description" : "Istället för att hämta program en i taget med en loop av GET-anrop så finns det även möjlighet att hämta många program på en gång genom att ange POST:a en lista med önskade program.\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SchoolUnitOffering"
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "503" : {
            "$ref" : "#/components/responses/503_overload"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IdLookup"
              }
            }
          },
          "required" : true
        }
      }
    },
    "/schoolUnitOfferings/{id}" : {
      "get" : {
        "tags" : [ "Studieinformation" ],
        "summary" : "Hämta en resurs baserat på ID",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID för resursen som ska hämtas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SchoolUnitOffering"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_id"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "404" : {
            "$ref" : "#/components/responses/404_not_found"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/activities" : {
      "get" : {
        "tags" : [ "Aktiviteter" ],
        "summary" : "Hämta en lista med aktiviteter baserat på ett antal sökparametrar.",
        "parameters" : [ {
          "name" : "person",
          "description" : "Begränsa urvalet till utpekad persons ID.",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "organisation",
          "description" : "Begränsa urvalet till utpekat organisationselement och dess underliggande element.",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "$ref" : "#/components/parameters/SearchCreatedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchCreatedAfter"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedAfter"
        }, {
          "$ref" : "#/components/parameters/ActivitiesExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        }, {
          "$ref" : "#/components/parameters/Sortkey"
        }, {
          "$ref" : "#/components/parameters/Limit"
        }, {
          "$ref" : "#/components/parameters/PageToken"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/ActivityExpanded"
                      }
                    },
                    "pageToken" : {
                      "type" : "string",
                      "nullable" : true,
                      "description" : "Om värdet är null finns inget mer att hämta på det token som skickades in som query parameter.\n"
                    }
                  },
                  "required" : [ "data" ]
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_filter"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/activities/lookup" : {
      "post" : {
        "tags" : [ "Aktiviteter" ],
        "summary" : "Hämta en lista med aktiviteter baserat på motsvarande lista av ID:n.",
        "description" : "Istället för att hämta aktiviteter en i taget med en loop av GET-anrop så finns det även möjlighet att hämta många aktiviteter på en gång genom att ange POST:a en lista med önskade aktiviteter.\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ActivitiesExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ActivityExpanded"
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "503" : {
            "$ref" : "#/components/responses/503_overload"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IdLookup"
              }
            }
          },
          "required" : true
        }
      }
    },
    "/activities/{id}" : {
      "get" : {
        "tags" : [ "Aktiviteter" ],
        "summary" : "Hämta en aktivitet baserat på dess ID",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID för aktivitet som ska hämtas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "$ref" : "#/components/parameters/ActivitiesExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Activity"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_id"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "404" : {
            "$ref" : "#/components/responses/404_not_found"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/calendarEvents" : {
      "get" : {
        "tags" : [ "Kalenderhändelser" ],
        "summary" : "Returnerar kalenderhändelser utifrån en aktivitet eller student.",
        "parameters" : [ {
          "name" : "startTime",
          "description" : "Hämta kalenderhändelser från och med denna tidpunkt (RFC 3339 format, t.ex. \"2016-10-15T09:00:00+02:00\").\n",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endTime",
          "description" : "Hämta kalenderhändelser till och med denna tidpunkt (RFC 3339 format, t.ex. \"2016-10-15T11:00:00+02:00\").\n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "activity",
          "description" : "Begränsa urvalet till utpekade aktiviteters ID.",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          }
        }, {
          "name" : "student",
          "description" : "Begränsa urvalet till utpekade studenters ID.",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          }
        }, {
          "$ref" : "#/components/parameters/SearchCreatedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchCreatedAfter"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedAfter"
        }, {
          "$ref" : "#/components/parameters/CalendarEventsExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        }, {
          "name" : "sortkey",
          "description" : "Anger hur resultatet ska sorteras.",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "enum" : [ "ModifiedDesc", "StartTimeAsc", "StartTimeDesc" ]
          }
        }, {
          "$ref" : "#/components/parameters/Limit"
        }, {
          "$ref" : "#/components/parameters/PageToken"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/CalendarEvent"
                      }
                    },
                    "pageToken" : {
                      "type" : "string",
                      "nullable" : true,
                      "description" : "Om värdet är null finns inget mer att hämta på det token som skickades in som query parameter.\n"
                    }
                  },
                  "required" : [ "data" ]
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_filter"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/calendarEvents/{id}" : {
      "get" : {
        "tags" : [ "Kalenderhändelser" ],
        "summary" : "Returnerar en kalenderhändelse utifrån ID",
        "parameters" : [ {
          "name" : "id",
          "description" : "Hämta en kalenderhändelse.",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "$ref" : "#/components/parameters/CalendarEventsExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CalendarEvent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_id"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "404" : {
            "$ref" : "#/components/responses/404_not_found"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/attendances" : {
      "get" : {
        "tags" : [ "Närvaro" ],
        "summary" : "Returnerar registrerad närvaro utifrån en aktivitet eller student.",
        "parameters" : [ {
          "$ref" : "#/components/parameters/SearchCreatedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchCreatedAfter"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedAfter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        }, {
          "$ref" : "#/components/parameters/Limit"
        }, {
          "$ref" : "#/components/parameters/PageToken"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Attendance"
                      }
                    },
                    "pageToken" : {
                      "type" : "string",
                      "nullable" : true,
                      "description" : "Om värdet är null finns inget mer att hämta på det token som skickades in som query parameter.\n"
                    }
                  },
                  "required" : [ "data" ]
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_filter"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      },
      "post" : {
        "tags" : [ "Närvaro" ],
        "summary" : "Registrera en ny närvaro post.",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Attendance"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Post skapad.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attendance"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/attendances/lookup" : {
      "post" : {
        "tags" : [ "Närvaro" ],
        "summary" : "Hämta närvaro baserat på en lista av ID:n eller av Id från aktiviteter eller av Id från elever.\n",
        "description" : "Istället för att hämta aktiviteter en i taget med en loop av GET-anrop så finns det även möjlighet att hämta många aktiviteter på en gång genom att ange POST:a en lista med önskade aktiviteter.\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Attendance"
                  }
                }
              }
            }
          },
          "503" : {
            "$ref" : "#/components/responses/503_overload"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "ids" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string",
                      "format" : "uuid"
                    }
                  },
                  "activities" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string",
                      "format" : "uuid"
                    }
                  },
                  "students" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string",
                      "format" : "uuid"
                    }
                  }
                }
              }
            }
          },
          "required" : true
        }
      }
    },
    "/attendances/{id}" : {
      "get" : {
        "tags" : [ "Närvaro" ],
        "summary" : "Hämta en närvaro post utifrån ID.",
        "parameters" : [ {
          "name" : "id",
          "description" : "Hämta en Attendance post.",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attendance"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_id"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "404" : {
            "$ref" : "#/components/responses/404_not_found"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      },
      "delete" : {
        "tags" : [ "Närvaro" ],
        "summary" : "Ta bort en närvaro post.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID för närvaro posten som ska tas bort.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "$ref" : "#/components/responses/204_removed"
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_id"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "404" : {
            "$ref" : "#/components/responses/404_not_found"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/attendanceEvents" : {
      "get" : {
        "tags" : [ "Närvarohändelser" ],
        "summary" : "Returnerar registrerade in-/utcheckningar.",
        "parameters" : [ {
          "name" : "group",
          "description" : "Begränsa urvalet till utpekade gruppers ID.",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          }
        }, {
          "name" : "child",
          "description" : "Begränsa urvalet till utpekade barns ID.",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          }
        }, {
          "$ref" : "#/components/parameters/SearchCreatedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchCreatedAfter"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedAfter"
        }, {
          "$ref" : "#/components/parameters/AttendanceEventsExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        }, {
          "$ref" : "#/components/parameters/Limit"
        }, {
          "$ref" : "#/components/parameters/PageToken"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/AttendanceEvent"
                      }
                    },
                    "pageToken" : {
                      "type" : "string",
                      "nullable" : true,
                      "description" : "Om värdet är null finns inget mer att hämta på det token som skickades in som query parameter.\n"
                    }
                  },
                  "required" : [ "data" ]
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_filter"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      },
      "post" : {
        "tags" : [ "Närvarohändelser" ],
        "summary" : "Registrera en ny närvarohändelse (in-/utcheckning).",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AttendanceEvent"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Post skapad.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttendanceEvent"
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/attendanceEvents/{id}" : {
      "get" : {
        "tags" : [ "Närvarohändelser" ],
        "summary" : "Hämta en närvarohändelse utifrån ID.",
        "parameters" : [ {
          "name" : "id",
          "description" : "Hämta en närvarohändelse.",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "$ref" : "#/components/parameters/AttendanceEventsExpandParameter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttendanceEvent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_id"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "404" : {
            "$ref" : "#/components/responses/404_not_found"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      },
      "delete" : {
        "tags" : [ "Närvarohändelser" ],
        "summary" : "Ta bort en närvarohändelse.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID för närvaro posten som ska tas bort.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "$ref" : "#/components/responses/204_removed"
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_id"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "404" : {
            "$ref" : "#/components/responses/404_not_found"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/attendanceSchedule" : {
      "get" : {
        "tags" : [ "Vistelseschema" ],
        "summary" : "Returnerar registrerade vistelsescheman.",
        "parameters" : [ {
          "name" : "placement",
          "description" : "Begränsa urvalet till scheman för utpekade placeringar.",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          }
        }, {
          "name" : "startDate.onOrBefore",
          "description" : "Begränsa urvalet till vistelseschema som har ett startDate värde innan eller på det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "startDate.onOrAfter",
          "description" : "Begränsa urvalet till vistelseschema som har ett startDate värde på eller efter det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "endDate.onOrBefore",
          "description" : "Begränsa urvalet till vistelseschema som har ett endDate värde innan eller på det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett endDate som ej är satt, tas alltid med. \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "endDate.onOrAfter",
          "description" : "Begränsa urvalet till vistelseschema som har ett endDate värde på eller efter det angivna datumet (RFC 3339-format, t.ex. \"2016-10-15\"). \nPoster med ett endDate som ej är satt, tas alltid med. \n",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "$ref" : "#/components/parameters/SearchCreatedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchCreatedAfter"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedBefore"
        }, {
          "$ref" : "#/components/parameters/SearchModifiedAfter"
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        }, {
          "$ref" : "#/components/parameters/Limit"
        }, {
          "$ref" : "#/components/parameters/PageToken"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/AttendanceSchedule"
                      }
                    },
                    "pageToken" : {
                      "type" : "string",
                      "nullable" : true,
                      "description" : "Om värdet är null finns inget mer att hämta på det token som skickades in som query parameter.\n"
                    }
                  },
                  "required" : [ "data" ]
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_filter"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      },
      "post" : {
        "tags" : [ "Vistelseschema" ],
        "summary" : "Registrera ett nytt vistelseschema.",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AttendanceSchedule"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Post skapad.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttendanceSchedule"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/attendanceSchedule/{id}" : {
      "get" : {
        "tags" : [ "Vistelseschema" ],
        "summary" : "Hämta ett vistelseschema utifrån ID.",
        "parameters" : [ {
          "name" : "id",
          "description" : "Id för vistelseschema att hämta.",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttendanceSchedule"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_id"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "404" : {
            "$ref" : "#/components/responses/404_not_found"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      },
      "delete" : {
        "tags" : [ "Vistelseschema" ],
        "summary" : "Ta bort ett vistelseschema.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID för vistelseschema som ska tas bort.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "$ref" : "#/components/responses/204_removed"
          },
          "400" : {
            "$ref" : "#/components/responses/400_invalid_id"
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
          },
          "404" : {
            "$ref" : "#/components/responses/404_not_found"
          },
          "default" : {
            "$ref" : "#/components/responses/default_error"
          }
        }
      }
    },
    "/attendanceSchedule/lookup" : {
      "post" : {
        "tags" : [ "Vistelseschema" ],
        "summary" : "Hämta många vistelsescheman baserat på en lista av ID:n.",
        "description" : "Istället för att hämta vistelsescheman ett i taget med en loop av GET-anrop så finns det även möjlighet att hämta många vistelsescheman på en gång genom att ange POST:a en lista med önskade vistelsescheman.\n",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ExpandReferenceNames"
        } ],
        "responses" : {
          "200" : {
            "description" : "Anropet lyckades.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ActivityExpanded"
                  }
                }
              }
            }
          },
          "403" : {
            "$ref" : "#/components/responses/403_not_authorised"
[...]
