{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Solidos",
    "description" : "Documentação base do sistema solidos 2.0",
    "termsOfService" : "http://swagger.io/terms/",
    "contact" : {
      "email" : "dev@datweb.com.br"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version" : "2.0-oas3"
  },
  "externalDocs" : {
    "description" : "Find out more about Swagger",
    "url" : "http://swagger.io"
  },
  "servers" : [ {
    "url" : "https://api.solidos.com.br/api"
  }, {
    "url" : "http://api.solidos.com.br/api"
  } ],
  "paths" : {
    "/cadastro/anexo" : {
      "get" : {
        "tags" : [ "Anexo" ],
        "summary" : "Listar Anexo",
        "operationId" : "listAnexo",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Anexo"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Anexo" ],
        "summary" : "Cadastrar Anexo",
        "operationId" : "addAnexo",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Anexo"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation"
          },
          "405" : {
            "description" : "Invalid input"
          },
          "422" : {
            "description" : "Unprocessable Entity"
          }
        }
      }
    },
    "/cadastro/anexo/{anexoID}" : {
      "get" : {
        "tags" : [ "Anexo" ],
        "summary" : "Procurar por ID",
        "operationId" : "getAnexoById",
        "parameters" : [ {
          "name" : "anexoID",
          "in" : "path",
          "description" : "ID of Anexo to return",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Anexo"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid ID supplied"
          },
          "404" : {
            "description" : "Anexo not found"
          }
        }
      },
      "put" : {
        "tags" : [ "Anexo" ],
        "summary" : "Atualizar Anexo",
        "operationId" : "updateAnexo",
        "parameters" : [ {
          "name" : "anexoID",
          "in" : "path",
          "description" : "ID of Anexo to return",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Anexo"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation"
          },
          "400" : {
            "description" : "Invalid ID supplied"
          },
          "404" : {
            "description" : "Anexo not found"
          },
          "405" : {
            "description" : "Validation exception"
          }
        }
      },
      "delete" : {
        "tags" : [ "Anexo" ],
        "summary" : "Deletar Anexo",
        "operationId" : "deleteAnexo",
        "parameters" : [ {
          "name" : "anexoID",
          "in" : "path",
          "description" : "Anexo id to delete",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid ID supplied"
          },
          "404" : {
            "description" : "Anexo not found"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Anexo" : {
        "type" : "object",
        "required" : [ "criacao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "criacao" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          }
        },
        "xml" : {
          "name" : "Anexo"
        }
      },
      "AnexoArquivo" : {
        "type" : "object",
        "required" : [ "id_anexo", "id_usuario", "envio", "nome", "formato" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_anexo" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.anexo,id",
            "format" : "int64"
          },
          "id_usuario" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.usuario,id",
            "format" : "int64"
          },
          "envio" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          },
          "nome" : {
            "type" : "string",
            "description" : "required|string|max:250",
            "format" : "date-time"
          },
          "descricao" : {
            "type" : "string",
            "description" : "string|max:250",
            "format" : "date-time"
          },
          "formato" : {
            "type" : "string",
            "description" : "required|string|max:5",
            "format" : "date-time"
          },
          "url" : {
            "type" : "string",
            "description" : "string|max:255",
            "format" : "date-time"
          }
        },
        "xml" : {
          "name" : "AnexoArquivo"
        }
      },
      "Banco" : {
        "type" : "object",
        "required" : [ "nome" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "codigo" : {
            "type" : "string",
            "description" : "string|max:5|unique:pgsql.cadastro.banco",
            "format" : "int64"
          },
          "nome" : {
            "type" : "string",
            "description" : "required|string|max:80",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Banco"
        }
      },
      "Cbo" : {
        "type" : "object",
        "required" : [ "codigo", "descricao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "codigo" : {
            "type" : "string",
            "description" : "required|string|max:6",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:200",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Cbo"
        }
      },
      "Cnae" : {
        "type" : "object",
        "required" : [ "codigo", "descricao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "codigo" : {
            "type" : "string",
            "description" : "required|string|max:10|unique:pgsql.cadastro.cnae",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:200",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Cnae"
        }
      },
      "ContaBancaria" : {
        "type" : "object",
        "required" : [ "id_pessoa", "tipo", "preferencial", "id_banco", "agencia", "numero", "digito_numero" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "tipo" : {
            "type" : "string",
            "description" : "required|string|max:8|in:CORRENTE,POUPANCA,SALARIO,INVESTIMENTO",
            "enum" : [ "CORRENTE", "POUPANCA", "SALARIO", "INVESTIMENTO" ],
            "format" : "int64"
          },
          "preferencial" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "id_banco" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.banco,id",
            "format" : "int64"
          },
          "operacao" : {
            "type" : "string",
            "description" : "string|max:3",
            "format" : "int64"
          },
          "agencia" : {
            "type" : "integer",
            "description" : "required|integer",
            "format" : "int64"
          },
          "digito_agencia" : {
            "type" : "integer",
            "description" : "integer",
            "format" : "int64"
          },
          "numero" : {
            "type" : "integer",
            "description" : "required|integer",
            "format" : "int64"
          },
          "digito_numero" : {
            "type" : "integer",
            "description" : "required|integer",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "ContaBancaria"
        }
      },
      "Dependente" : {
        "type" : "object",
        "required" : [ "id_pessoa", "id_grau_parentesco", "id_pessoa_dependente" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "id_grau_parentesco" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.grau_parentesco,id",
            "format" : "int64"
          },
          "id_pessoa_dependente" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Dependente"
        }
      },
      "Documento" : {
        "type" : "object",
        "required" : [ "id_pessoa", "id_tipo_documento", "numero" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id|unique:pgsql.cadastro.documento,id_pessoa,NULL,id,id_tipo_documento,",
            "format" : "int64"
          },
          "id_tipo_documento" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.tipo_documento,id",
            "format" : "int64"
          },
          "numero" : {
            "type" : "string",
            "description" : "required|string|max:250",
            "format" : "int64"
          },
          "emissao" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "vencimento" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "id_orgao_emissor" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.orgao_emissor,id",
            "format" : "int64"
          },
          "id_estado" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.estado,id",
            "format" : "int64"
          },
          "complemento" : {
            "type" : "string",
            "description" : "string|max:250",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Documento"
        }
      },
      "Endereco" : {
        "type" : "object",
        "required" : [ "id_pessoa", "tipo", "preferencial", "cep", "logradouro", "numero", "bairro", "id_municipio" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "tipo" : {
            "type" : "string",
            "description" : "required|string|max:15|in:RESIDENCIAL,COMERCIAL,CORRESPONDENCIA,COBRANCA",
            "enum" : [ "RESIDENCIAL", "COMERCIAL", "CORRESPONDENCIA", "COBRANCA" ],
            "format" : "int64"
          },
          "preferencial" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "cep" : {
            "type" : "string",
            "description" : "required|string|max:8",
            "format" : "int64"
          },
          "logradouro" : {
            "type" : "string",
            "description" : "required|string|max:250",
            "format" : "int64"
          },
          "numero" : {
            "type" : "string",
            "description" : "required|string|max:10",
            "format" : "int64"
          },
          "complemento" : {
            "type" : "string",
            "description" : "string|max:250",
            "format" : "int64"
          },
          "bairro" : {
            "type" : "string",
            "description" : "required|string|max:250",
            "format" : "int64"
          },
          "id_municipio" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.municipio,id",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Endereco"
        }
      },
      "EnderecoEletronico" : {
        "type" : "object",
        "required" : [ "id_pessoa", "tipo", "preferencial", "endereco" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "tipo" : {
            "type" : "string",
            "description" : "required|string|max:10|in:EMAIL,SITE,BLOG,FACEBOOK,INSTAGRAM,TWITTER,LINKEDIN,SKYPE",
            "enum" : [ "EMAIL", "SITE", "BLOG", "FACEBOOK", "INSTAGRAM", "TWITTER", "LINKEDIN", "SKYPE" ],
            "format" : "int64"
          },
          "preferencial" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "endereco" : {
            "type" : "string",
            "description" : "required|string|max:250",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "EnderecoEletronico"
        }
      },
      "Estado" : {
        "type" : "object",
        "required" : [ "id_pais", "sigla", "nome" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_pais" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pais,id",
            "format" : "int64"
          },
          "sigla" : {
            "type" : "string",
            "description" : "required|string|max:2|unique:pgsql.cadastro.estado",
            "format" : "int64"
          },
          "nome" : {
            "type" : "string",
            "description" : "required|string|max:30",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Estado"
        }
      },
      "EstadoCivil" : {
        "type" : "object",
        "required" : [ "descricao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:50",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "EstadoCivil"
        }
      },
      "Feriado" : {
        "type" : "object",
        "required" : [ "descricao", "fixo", "dia", "mes" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:50",
            "format" : "int64"
          },
          "fixo" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "dia" : {
            "type" : "integer",
            "description" : "required|integer",
            "format" : "int64"
          },
          "mes" : {
            "type" : "integer",
            "description" : "required|integer",
            "format" : "int64"
          },
          "ano" : {
            "type" : "integer",
            "description" : "integer",
            "format" : "int64"
          },
          "id_estado" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.estado,id",
            "format" : "int64"
          },
          "id_municipio" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.municipio,id",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Feriado"
        }
      },
      "GrauInstrucao" : {
        "type" : "object",
        "required" : [ "descricao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:60",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "GrauInstrucao"
        }
      },
      "GrauParentesco" : {
        "type" : "object",
        "required" : [ "descricao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:30",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "GrauParentesco"
        }
      },
      "Municipio" : {
        "type" : "object",
        "required" : [ "id_estado", "codigo_ibge", "nome" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_estado" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.estado,id",
            "format" : "int64"
          },
          "codigo_ibge" : {
            "type" : "string",
            "description" : "required|string|max:7|unique:pgsql.cadastro.municipio",
            "format" : "int64"
          },
          "nome" : {
            "type" : "string",
            "description" : "required|string|max:100",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Municipio"
        }
      },
      "NaturezaJuridica" : {
        "type" : "object",
        "required" : [ "codigo", "descricao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "codigo" : {
            "type" : "string",
            "description" : "required|string|max:5",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:100",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "NaturezaJuridica"
        }
      },
      "Observacao" : {
        "type" : "object",
        "required" : [ "id_pessoa", "id_usuario", "cadastro", "descricao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "id_usuario" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.usuario,id",
            "format" : "int64"
          },
          "cadastro" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:255",
            "format" : "date-time"
          }
        },
        "xml" : {
          "name" : "Observacao"
        }
      },
      "Ocupacao" : {
        "type" : "object",
        "required" : [ "id_pessoa", "id_cbo", "preferencial" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "id_cbo" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.cbo,id",
            "format" : "int64"
          },
          "id_pessoa_empregador" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "preferencial" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "renda" : {
            "type" : "number",
            "description" : "numeric",
            "format" : "int64"
          },
          "observacao" : {
            "type" : "string",
            "description" : "string|max:200",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Ocupacao"
        }
      },
      "Operadora" : {
        "type" : "object",
        "required" : [ "nome" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "codigo" : {
            "type" : "integer",
            "description" : "integer",
            "format" : "int64"
          },
          "nome" : {
            "type" : "string",
            "description" : "required|string|max:30",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Operadora"
        }
      },
      "OrgaoEmissor" : {
        "type" : "object",
        "required" : [ "sigla", "nome" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "sigla" : {
            "type" : "string",
            "description" : "required|string|max:15",
            "format" : "int64"
          },
          "nome" : {
            "type" : "string",
            "description" : "required|string|max:100",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "OrgaoEmissor"
        }
      },
      "Pais" : {
        "type" : "object",
        "required" : [ "codigo", "nome" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "codigo" : {
            "type" : "string",
            "description" : "required|string|max:3",
            "format" : "int64"
          },
          "nome" : {
            "type" : "string",
            "description" : "required|string|max:60",
            "format" : "int64"
          },
          "nacionalidade" : {
            "type" : "string",
            "description" : "string|max:60",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Pais"
        }
      },
      "Pessoa" : {
        "type" : "object",
        "required" : [ "ativo", "cadastro", "tipo", "nome", "mae", "pai" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "ativo" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "cadastro" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          },
          "tipo" : {
            "type" : "string",
            "description" : "required|string|max:8|in:FISICA,JURIDICA,PRODUTOR_RURAL",
            "enum" : [ "FISICA", "JURIDICA", "PRODUTOR_RURAL" ],
            "format" : "date-time"
          },
          "cpf_cnpj" : {
            "type" : "string",
            "description" : "string|max:14|cpf_cnpj",
            "format" : "date-time"
          },
          "ie" : {
            "type" : "string",
            "description" : "string|max:20",
            "format" : "date-time"
          },
          "im" : {
            "type" : "string",
            "description" : "string|max:20",
            "format" : "date-time"
          },
          "nome" : {
            "type" : "string",
            "description" : "required|string|max:100",
            "format" : "date-time"
          },
          "fantasia" : {
            "type" : "string",
            "description" : "string|max:100",
            "format" : "date-time"
          },
          "nascimento" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "mae" : {
            "type" : "string",
            "description" : "required_if:tipo,FISICA|string|max:60",
            "format" : "date-time"
          },
          "pai" : {
            "type" : "string",
            "description" : "required_if:tipo,FISICA|string|max:60",
            "format" : "date-time"
          },
          "sexo" : {
            "type" : "string",
            "description" : "string|max:9",
            "format" : "date-time"
          },
          "id_raca" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.raca,id",
            "format" : "int64"
          },
          "id_estado_civil" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.estado_civil,id",
            "format" : "int64"
          },
          "id_situacao_familiar" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.situacao_familiar,id",
            "format" : "int64"
          },
          "id_grau_instrucao" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.grau_instrucao,id",
            "format" : "int64"
          },
          "id_municipio_naturalidade" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.municipio,id",
            "format" : "int64"
          },
          "id_pais_naturalidade" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.pais,id",
            "format" : "int64"
          },
          "data_naturalizacao" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "id_natureza_juridica" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.natureza_juridica,id",
            "format" : "int64"
          },
          "id_cnae_principal" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.cnae,id",
            "format" : "int64"
          },
          "id_anexo" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.anexo,id",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Pessoa"
        }
      },
      "PessoaCnae" : {
        "type" : "object",
        "required" : [ "id_pessoa", "id_cnae" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "id_cnae" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.cnae,id",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "PessoaCnae"
        }
      },
      "PessoaTag" : {
        "type" : "object",
        "required" : [ "id_pessoa", "id_tag" ],
        "properties" : {
          "id_pessoa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "id_tag" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.tag,id",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "PessoaTag"
        }
      },
      "Raca" : {
        "type" : "object",
        "required" : [ "descricao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:20",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Raca"
        }
      },
      "SituacaoFamiliar" : {
        "type" : "object",
        "required" : [ "descricao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:100",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "SituacaoFamiliar"
        }
      },
      "Socio" : {
        "type" : "object",
        "required" : [ "id_pessoa", "id_pessoa_socio" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "id_pessoa_socio" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "quota" : {
            "type" : "number",
            "description" : "numeric",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Socio"
        }
      },
      "Tag" : {
        "type" : "object",
        "required" : [ "ativo", "editavel", "descricao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "ativo" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "editavel" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:200",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Tag"
        }
      },
      "Telefone" : {
        "type" : "object",
        "required" : [ "id_pessoa", "tipo", "preferencial", "numero" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "tipo" : {
            "type" : "string",
            "description" : "required|string|max:11|in:MOVEL,RESIDENCIAL,COMERCIAL,FAX",
            "enum" : [ "MOVEL", "RESIDENCIAL", "COMERCIAL", "FAX" ],
            "format" : "int64"
          },
          "preferencial" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "numero" : {
            "type" : "string",
            "description" : "required|string|max:11",
            "format" : "int64"
          },
          "ramal" : {
            "type" : "string",
            "description" : "string|max:5",
            "format" : "int64"
          },
          "id_operadora" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.operadora,id",
            "format" : "int64"
          },
          "contato" : {
            "type" : "string",
            "description" : "string|max:50",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Telefone"
        }
      },
      "TipoDocumento" : {
        "type" : "object",
        "required" : [ "ativo", "tipo_pessoa", "sigla", "descricao", "obrigatorio", "emissao_obrigatorio", "vencimento_obrigatorio", "orgao_emissor_obrigatorio", "estado_obrigatorio" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "ativo" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "tipo_pessoa" : {
            "type" : "string",
            "description" : "required|string|max:8|in:FISICA,JURIDICA,PRODUTOR",
            "enum" : [ "FISICA", "JURIDICA", "PRODUTOR" ],
            "format" : "int64"
          },
          "sigla" : {
            "type" : "string",
            "description" : "required|string|max:10",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:50",
            "format" : "int64"
          },
          "mascara" : {
            "type" : "string",
            "description" : "string|max:250",
            "format" : "int64"
          },
          "obrigatorio" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "emissao_obrigatorio" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "vencimento_obrigatorio" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "orgao_emissor_obrigatorio" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "estado_obrigatorio" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "id_orgao_emissor_padrao" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.orgao_emissor,id",
            "format" : "int64"
          },
          "id_estado_padrao" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.estado,id",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "TipoDocumento"
        }
      },
      "Categoria" : {
        "type" : "object",
        "required" : [ "ativo", "descricao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "ativo" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:250",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Categoria"
        }
      },
      "Estoque" : {
        "type" : "object",
        "required" : [ "id_empresa", "id_insumo", "id_localizacao", "cadastro", "quantidade" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_empresa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.empresa,id",
            "format" : "int64"
          },
          "id_usuario" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.seguranca.usuario,id",
            "format" : "int64"
          },
          "id_insumo" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.estoque.insumo,id",
            "format" : "int64"
          },
          "id_localizacao" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.estoque.localizacao,id",
            "format" : "int64"
          },
          "id_pedido" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.venda.pedido,id",
            "format" : "int64"
          },
          "cadastro" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          },
          "quantidade" : {
            "type" : "number",
            "description" : "required|",
            "format" : "date-time"
          },
          "observacao" : {
            "type" : "string",
            "description" : "string|max:255",
            "format" : "date-time"
          }
        },
        "xml" : {
          "name" : "Estoque"
        }
      },
      "Grupo" : {
        "type" : "object",
        "required" : [ "id_sistema_licenca", "nome" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_sistema_licenca" : {
            "type" : "integer",
            "description" : "required|integer",
            "format" : "int64"
          },
          "nome" : {
            "type" : "string",
            "description" : "required|string|max:100",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Grupo"
        }
      },
      "Insumo" : {
        "type" : "object",
        "required" : [ "id_unidade", "tipo", "descricao", "controla_estoque" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_grupo" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.estoque.grupo,id",
            "format" : "int64"
          },
          "id_categoria" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.estoque.categoria,id",
            "format" : "int64"
          },
          "id_marca" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.estoque.marca,id",
            "format" : "int64"
          },
          "id_unidade" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.estoque.unidade,id",
            "format" : "int64"
          },
          "tipo" : {
            "type" : "string",
            "description" : "required|string|max:7|in:PRODUTO,SERVICO",
            "enum" : [ "PRODUTO", "SERVICO" ],
            "format" : "int64"
          },
          "modelo" : {
            "type" : "string",
            "description" : "string|max:100",
            "format" : "int64"
          },
          "codigo_barras" : {
            "type" : "string",
            "description" : "string|max:100",
            "format" : "int64"
          },
          "codigo_fabricante" : {
            "type" : "string",
            "description" : "string|max:100",
            "format" : "int64"
          },
          "codigo_original" : {
            "type" : "string",
            "description" : "string|max:100",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:250",
            "format" : "int64"
          },
          "controla_estoque" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "duracao" : {
            "type" : "number",
            "description" : "",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Insumo"
        }
      },
      "InsumoPessoa" : {
        "type" : "object",
        "required" : [ "id_insumo", "id_pessoa", "comissao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_insumo" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.estoque.insumo,id",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "comissao" : {
            "type" : "number",
            "description" : "required|",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "InsumoPessoa"
        }
      },
      "Localizacao" : {
        "type" : "object",
        "required" : [ "ativo", "descricao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "ativo" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:250",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Localizacao"
        }
      },
      "Marca" : {
        "type" : "object",
        "required" : [ "ativo", "id_pessoa", "descricao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "ativo" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:250",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Marca"
        }
      },
      "Unidade" : {
        "type" : "object",
        "required" : [ "ativo", "sigla", "descricao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "ativo" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "sigla" : {
            "type" : "string",
            "description" : "required|string|max:5",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:250",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Unidade"
        }
      },
      "Baixa" : {
        "type" : "object",
        "required" : [ "id_empresa", "id_usuario", "id_lote", "id_lancamento", "data", "saldo_anterior", "multa", "juro", "acrescimo", "desconto", "total", "valor", "saldo" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_empresa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.empresa,id",
            "format" : "int64"
          },
          "id_usuario" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.usuario,id",
            "format" : "int64"
          },
          "id_lote" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.financeiro.lote,id",
            "format" : "int64"
          },
          "id_lancamento" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.financeiro.lancamento,id",
            "format" : "int64"
          },
          "data" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          },
          "saldo_anterior" : {
            "type" : "number",
            "description" : "required|",
            "format" : "date-time"
          },
          "multa" : {
            "type" : "number",
            "description" : "required|",
            "format" : "date-time"
          },
          "juro" : {
            "type" : "number",
            "description" : "required|",
            "format" : "date-time"
          },
          "acrescimo" : {
            "type" : "number",
            "description" : "required|",
            "format" : "date-time"
          },
          "desconto" : {
            "type" : "number",
            "description" : "required|",
            "format" : "date-time"
          },
          "total" : {
            "type" : "number",
            "description" : "required|",
            "format" : "date-time"
          },
          "valor" : {
            "type" : "number",
            "description" : "required|",
            "format" : "date-time"
          },
          "saldo" : {
            "type" : "number",
            "description" : "required|",
            "format" : "date-time"
          }
        },
        "xml" : {
          "name" : "Baixa"
        }
      },
      "CentroCusto" : {
        "type" : "object",
        "required" : [ "ativo", "nome" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "ativo" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "nome" : {
            "type" : "string",
            "description" : "required|string|max:100",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "string|max:250",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "CentroCusto"
        }
      },
      "Cheque" : {
        "type" : "object",
        "required" : [ "id_empresa", "id_banco", "agencia", "conta", "digito_conta", "numero", "valor" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_empresa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.empresa,id",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "id_lancamento" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.lancamento,id",
            "format" : "int64"
          },
          "id_talao_cheque" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.talao_cheque,id",
            "format" : "int64"
          },
          "id_banco" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.banco,id",
            "format" : "int64"
          },
          "agencia" : {
            "type" : "integer",
            "description" : "required|integer",
            "format" : "int64"
          },
          "digito_agencia" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "conta" : {
            "type" : "integer",
            "description" : "required|integer",
            "format" : "int64"
          },
          "digito_conta" : {
            "type" : "integer",
            "description" : "required|",
            "format" : "int64"
          },
          "numero" : {
            "type" : "integer",
            "description" : "required|integer",
            "format" : "int64"
          },
          "valor" : {
            "type" : "number",
            "description" : "required|",
            "format" : "int64"
          },
          "observacao" : {
            "type" : "string",
            "description" : "string|max:250",
            "format" : "int64"
          },
          "deposito" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "devolucao" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "cancelamento" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "id_movimentacao" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.movimentacao,id",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Cheque"
        }
      },
      "Cobranca" : {
        "type" : "object",
        "required" : [ "id_empresa", "id_lancamento", "id_portador", "tipo", "data", "carteira", "beneficiario", "local_pagamento", "instrucao", "registrada", "aceite", "especie", "nosso_numero", "tipo_protesto", "vencimento", "valor", "desconto", "multa", "juro_diario", "tarifa" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_empresa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.empresa,id",
            "format" : "int64"
          },
          "id_lancamento" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.financeiro.lancamento,id",
            "format" : "int64"
          },
          "id_portador" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.financeiro.portador,id",
            "format" : "int64"
          },
          "tipo" : {
            "type" : "string",
            "description" : "required|string|max:6|in:BOLETO,DEBITO",
            "enum" : [ "BOLETO", "DEBITO" ],
            "format" : "int64"
          },
          "data" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          },
          "convenio" : {
            "type" : "integer",
            "description" : "integer",
            "format" : "int64"
          },
          "contrato" : {
            "type" : "integer",
            "description" : "integer",
            "format" : "int64"
          },
          "carteira" : {
            "type" : "integer",
            "description" : "required|",
            "format" : "int64"
          },
          "variacao" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "beneficiario" : {
            "type" : "integer",
            "description" : "required|integer",
            "format" : "int64"
          },
          "digito_beneficiario" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "local_pagamento" : {
            "type" : "string",
            "description" : "required|string|max:100",
            "format" : "int64"
          },
          "instrucao" : {
            "type" : "string",
            "description" : "required|string|max:255",
            "format" : "int64"
          },
          "registrada" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "aceite" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "especie" : {
            "type" : "string",
            "description" : "required|string|max:20",
            "format" : "int64"
          },
          "nosso_numero" : {
            "type" : "string",
            "description" : "required|string|max:20",
            "format" : "int64"
          },
          "digito_nosso_numero" : {
            "type" : "string",
            "description" : "string|max:1",
            "format" : "int64"
          },
          "tipo_protesto" : {
            "type" : "string",
            "description" : "required|string|max:4",
            "format" : "int64"
          },
          "dias_protesto" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "numero_documento" : {
            "type" : "string",
            "description" : "string|max:30",
            "format" : "int64"
          },
          "vencimento" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          },
          "valor" : {
            "type" : "number",
            "description" : "required|",
            "format" : "date-time"
          },
          "desconto" : {
            "type" : "number",
            "description" : "required|",
            "format" : "date-time"
          },
          "limite_desconto" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "multa" : {
            "type" : "number",
            "description" : "required|",
            "format" : "date-time"
          },
          "inicio_multa" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "juro_diario" : {
            "type" : "number",
            "description" : "required|",
            "format" : "date-time"
          },
          "inicio_juro" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "tarifa" : {
            "type" : "number",
            "description" : "required|",
            "format" : "date-time"
          },
          "tipo_baixa" : {
            "type" : "string",
            "description" : "string|max:3",
            "format" : "date-time"
          },
          "dias_baixa" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_cobranca_ocorrencia" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.cobranca_ocorrencia,id",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Cobranca"
        }
      },
      "CobrancaOcorrencia" : {
        "type" : "object",
        "required" : [ "id_empresa", "id_usuario", "id_cobranca", "data", "ocorrencia", "codigo", "descricao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_empresa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.empresa,id",
            "format" : "int64"
          },
          "id_usuario" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.usuario,id",
            "format" : "int64"
          },
          "id_cobranca" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.financeiro.cobranca,id",
            "format" : "int64"
          },
          "id_remessa_retorno" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.remessa_retorno,id",
            "format" : "int64"
          },
          "data" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          },
          "ocorrencia" : {
            "type" : "string",
            "description" : "required|string|max:20",
            "format" : "date-time"
          },
          "codigo" : {
            "type" : "integer",
            "description" : "required|",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:250",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "CobrancaOcorrencia"
        }
      },
      "CondicaoPagamento" : {
        "type" : "object",
        "required" : [ "ativo", "vencimento_final_semana", "vencimento_feriado" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "ativo" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "inicio_vigencia" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "final_vigencia" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "minimo_parcela" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "maximo_parcela" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "intervalo" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "tipo_intervalo" : {
            "type" : "string",
            "description" : "string|max:6",
            "format" : "int64"
          },
          "intervalo_livre" : {
            "type" : "string",
            "description" : "string|max:255",
            "format" : "int64"
          },
          "vencimento_final_semana" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "vencimento_feriado" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "CondicaoPagamento"
        }
      },
      "ContaCorrente" : {
        "type" : "object",
        "required" : [ "id_empresa", "ativo", "tipo", "nome" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_empresa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.empresa,id",
            "format" : "int64"
          },
          "ativo" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "tipo" : {
            "type" : "string",
            "description" : "required|string|max:6|in:CAIXA,BANCO,CARTAO",
            "enum" : [ "CAIXA", "BANCO", "CARTAO" ],
            "format" : "int64"
          },
          "id_conta_bancaria" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.conta_bancaria,id",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "nome" : {
            "type" : "string",
            "description" : "required|string|max:50",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "string|max:150",
            "format" : "int64"
          },
          "limite" : {
            "type" : "number",
            "description" : "numeric",
            "format" : "int64"
          },
          "data_inicial" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "saldo_inicial" : {
            "type" : "number",
            "description" : "numeric",
            "format" : "date-time"
          },
          "dia_vencimento" : {
            "type" : "integer",
            "description" : "integer",
            "format" : "int64"
          },
          "dia_fechamento" : {
            "type" : "integer",
            "description" : "integer",
            "format" : "int64"
          },
          "id_turno" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.turno,id",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "ContaCorrente"
        }
      },
      "ContaDre" : {
        "type" : "object",
        "required" : [ "ativo", "sintetico", "natureza_contabil", "numero", "nome" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_conta_dre_superior" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.conta_dre,id",
            "format" : "int64"
          },
          "ativo" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "sintetico" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "natureza_contabil" : {
            "type" : "string",
            "description" : "required|string|max:7|in:CREDITO,DEBITO",
            "enum" : [ "CREDITO", "DEBITO" ],
            "format" : "int64"
          },
          "numero" : {
            "type" : "string",
            "description" : "required|string|max:50",
            "format" : "int64"
          },
          "nome" : {
            "type" : "string",
            "description" : "required|string|max:100",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "string|max:250",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "ContaDre"
        }
      },
      "ContaGerencial" : {
        "type" : "object",
        "required" : [ "ativo", "sintetico", "natureza_financeira", "numero", "nome" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_conta_gerencial_superior" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.conta_gerencial,id",
            "format" : "int64"
          },
          "ativo" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "sintetico" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "natureza_financeira" : {
            "type" : "string",
            "description" : "required|string|max:7|in:RECEITA,DESPESA",
            "enum" : [ "RECEITA", "DESPESA" ],
            "format" : "int64"
          },
          "numero" : {
            "type" : "string",
            "description" : "required|string|max:50",
            "format" : "int64"
          },
          "nome" : {
            "type" : "string",
            "description" : "required|string|max:100",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "string|max:250",
            "format" : "int64"
          },
          "id_conta_dre" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.conta_dre,id",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "ContaGerencial"
        }
      },
      "ContaGerencialPessoa" : {
        "type" : "object",
        "required" : [ "id_conta_gerencial", "id_pessoa" ],
        "properties" : {
          "id_conta_gerencial" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.financeiro.conta_gerencial,id",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "ContaGerencialPessoa"
        }
      },
      "FormaPagamento" : {
        "type" : "object",
        "required" : [ "ativo", "tipo", "encontro_conta", "descricao", "antecipacao_automatica" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "ativo" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "tipo" : {
            "type" : "string",
            "description" : "required|string|max:8|in:DINHEIRO,DEBITO,CREDITO,CHEQUE,BOLETO,CARTEIRA,TITULO",
            "enum" : [ "DINHEIRO", "DEBITO", "CREDITO", "CHEQUE", "BOLETO", "CARTEIRA", "TITULO" ],
            "format" : "int64"
          },
          "natureza_financeira" : {
            "type" : "string",
            "description" : "string|max:7",
            "format" : "int64"
          },
          "encontro_conta" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:50",
            "format" : "int64"
          },
          "id_conta_corrente" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.conta_corrente,id",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "id_portador" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.portador,id",
            "format" : "int64"
          },
          "taxa_administracao" : {
            "type" : "number",
            "description" : "numeric",
            "format" : "int64"
          },
          "taxa_antecipacao" : {
            "type" : "number",
            "description" : "numeric",
            "format" : "int64"
          },
          "taxa_parcelamento" : {
            "type" : "number",
            "description" : "numeric",
            "format" : "int64"
          },
          "antecipacao_automatica" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "carencia" : {
            "type" : "integer",
            "description" : "integer",
            "format" : "int64"
          },
          "maquina_cartao" : {
            "type" : "string",
            "description" : "string|max:15",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "FormaPagamento"
        }
      },
      "FormaPagamentoCondicaoPagamento" : {
        "type" : "object",
        "required" : [ "id_forma_pagamento", "id_condicao_pagamento" ],
        "properties" : {
          "id_forma_pagamento" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.financeiro.forma_pagamento,id",
            "format" : "int64"
          },
          "id_condicao_pagamento" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.financeiro.condicao_pagamento,id",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "FormaPagamentoCondicaoPagamento"
        }
      },
      "FormaPagamentoTaxa" : {
        "type" : "object",
        "required" : [ "id_forma_pagamento", "minimo_parcela", "maximo_parcela", "taxa_administracao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_forma_pagamento" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.financeiro.forma_pagamento,id",
            "format" : "int64"
          },
          "minimo_parcela" : {
            "type" : "integer",
            "description" : "required|",
            "format" : "int64"
          },
          "maximo_parcela" : {
            "type" : "integer",
            "description" : "required|",
            "format" : "int64"
          },
          "taxa_administracao" : {
            "type" : "number",
            "description" : "required|",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "FormaPagamentoTaxa"
        }
      },
      "InformacaoComercial" : {
        "type" : "object",
        "required" : [ "id_empresa", "id_pessoa", "id_forma_pagamento", "limite" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_empresa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.empresa,id",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "id_forma_pagamento" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.financeiro.forma_pagamento,id",
            "format" : "int64"
          },
          "limite" : {
            "type" : "number",
            "description" : "required|",
            "format" : "int64"
          },
          "ultima_compra" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          }
        },
        "xml" : {
          "name" : "InformacaoComercial"
        }
      },
      "Lancamento" : {
        "type" : "object",
        "required" : [ "id_empresa", "id_pessoa", "natureza_financeira", "interno", "emissao", "competencia", "parcela", "quantidade", "valor", "multa", "juro", "taxa_administrativa", "taxa_antecipacao", "acrescimo", "desconto", "total", "realizado", "saldo" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_empresa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.empresa,id",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          },
          "id_lote" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.lote,id",
            "format" : "int64"
          },
          "id_pedido" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.venda.pedido,id",
            "format" : "int64"
          },
          "natureza_financeira" : {
            "type" : "string",
            "description" : "required|string|max:7|in:RECEITA,DESPESA",
            "enum" : [ "RECEITA", "DESPESA" ],
            "format" : "int64"
          },
          "id_conta_gerencial" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.conta_gerencial,id",
            "format" : "int64"
          },
          "id_centro_custo" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.centro_custo,id",
            "format" : "int64"
          },
          "id_forma_pagamento" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.forma_pagamento,id",
            "format" : "int64"
          },
          "id_tipo_documento_origem" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.tipo_documento_origem,id",
            "format" : "int64"
          },
          "numero_documento_origem" : {
            "type" : "string",
            "description" : "string|max:50",
            "format" : "int64"
          },
          "interno" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "emissao" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          },
          "competencia" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          },
          "vencimento" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "previsao" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "pagamento" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "baixa" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "cancelamento" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "parcela" : {
            "type" : "integer",
            "description" : "required|",
            "format" : "int64"
          },
          "quantidade" : {
            "type" : "integer",
            "description" : "required|",
            "format" : "int64"
          },
          "valor" : {
            "type" : "number",
            "description" : "required|",
            "format" : "int64"
          },
          "multa" : {
            "type" : "number",
            "description" : "required|",
            "format" : "int64"
          },
          "juro" : {
            "type" : "number",
            "description" : "required|",
            "format" : "int64"
          },
          "taxa_administrativa" : {
            "type" : "number",
            "description" : "required|",
            "format" : "int64"
          },
          "taxa_antecipacao" : {
            "type" : "number",
            "description" : "required|",
            "format" : "int64"
          },
          "acrescimo" : {
            "type" : "number",
            "description" : "required|",
            "format" : "int64"
          },
          "desconto" : {
            "type" : "number",
            "description" : "required|",
            "format" : "int64"
          },
          "total" : {
            "type" : "number",
            "description" : "required|",
            "format" : "int64"
          },
          "realizado" : {
            "type" : "number",
            "description" : "required|",
            "format" : "int64"
          },
          "saldo" : {
            "type" : "number",
            "description" : "required|",
            "format" : "int64"
          },
          "historico" : {
            "type" : "string",
            "description" : "string|max:255",
            "format" : "int64"
          },
          "id_anexo" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.cadastro.anexo,id",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Lancamento"
        }
      },
      "Lote" : {
        "type" : "object",
        "required" : [ "criacao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "criacao" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          },
          "estorno" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          }
        },
        "xml" : {
          "name" : "Lote"
        }
      },
      "MotivoDevolucao" : {
        "type" : "object",
        "required" : [ "codigo", "descricao", "permite_reapresentacao" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "codigo" : {
            "type" : "integer",
            "description" : "required|",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:200",
            "format" : "int64"
          },
          "permite_reapresentacao" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "MotivoDevolucao"
        }
      },
      "Movimentacao" : {
        "type" : "object",
        "required" : [ "id_empresa", "id_usuario", "id_conta_corrente", "data", "valor", "implantancao", "automatico", "transferencia", "venda", "abertura_turno", "fechamento_turno" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_empresa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.empresa,id",
            "format" : "int64"
          },
          "id_usuario" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.usuario,id",
            "format" : "int64"
          },
          "id_conta_corrente" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.financeiro.conta_corrente,id",
            "format" : "int64"
          },
          "id_turno" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.turno,id",
            "format" : "int64"
          },
          "id_lote" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.lote,id",
            "format" : "int64"
          },
          "id_movimentacao_origem" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.movimentacao,id",
            "format" : "int64"
          },
          "id_forma_pagamento" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.forma_pagamento,id",
            "format" : "int64"
          },
          "id_lancamento" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.lancamento,id",
            "format" : "int64"
          },
          "id_cheque" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.cheque,id",
            "format" : "int64"
          },
          "id_motivo_devolucao" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.financeiro.motivo_devolucao,id",
            "format" : "int64"
          },
          "data" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          },
          "valor" : {
            "type" : "number",
            "description" : "required|",
            "format" : "date-time"
          },
          "historico" : {
            "type" : "string",
            "description" : "string|max:255",
            "format" : "date-time"
          },
          "implantancao" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "date-time"
          },
          "automatico" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "date-time"
          },
          "transferencia" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "date-time"
          },
          "venda" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "date-time"
          },
          "abertura_turno" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "date-time"
          },
          "fechamento_turno" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "date-time"
          }
        },
        "xml" : {
          "name" : "Movimentacao"
        }
      },
      "Portador" : {
        "type" : "object",
        "required" : [ "id_conta_corrente", "ativo", "descricao", "carteira", "beneficiario", "local_pagamento", "instrucao", "registrada", "aceite", "especie", "nosso_numero", "tipo_protesto", "desconto", "multa", "juro" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_conta_corrente" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.financeiro.conta_corrente,id",
            "format" : "int64"
          },
          "ativo" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:50",
            "format" : "int64"
          },
          "convenio" : {
            "type" : "integer",
            "description" : "integer",
            "format" : "int64"
          },
          "contrato" : {
            "type" : "integer",
            "description" : "integer",
            "format" : "int64"
          },
          "carteira" : {
            "type" : "integer",
            "description" : "required|",
            "format" : "int64"
          },
          "variacao" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "beneficiario" : {
            "type" : "integer",
            "description" : "required|integer",
            "format" : "int64"
          },
          "digito_beneficiario" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "local_pagamento" : {
            "type" : "string",
            "description" : "required|string|max:100",
            "format" : "int64"
          },
          "instrucao" : {
            "type" : "string",
            "description" : "required|string|max:255",
            "format" : "int64"
          },
          "registrada" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "aceite" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "especie" : {
            "type" : "string",
            "description" : "required|string|max:20",
            "format" : "int64"
          },
          "nosso_numero" : {
            "type" : "integer",
            "description" : "required|integer",
            "format" : "int64"
          },
          "tipo_protesto" : {
            "type" : "string",
            "description" : "required|string|max:4",
            "format" : "int64"
          },
          "dias_protesto" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "desconto" : {
            "type" : "number",
            "description" : "required|",
            "format" : "int64"
          },
          "dias_desconto" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "multa" : {
            "type" : "number",
            "description" : "required|",
            "format" : "int64"
          },
          "dias_multa" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "juro" : {
            "type" : "number",
            "description" : "required|",
            "format" : "int64"
          },
          "dias_juro" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "tipo_baixa" : {
            "type" : "string",
            "description" : "string|max:3",
            "format" : "int64"
          },
          "dias_baixa" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "tarifa_cobranca" : {
            "type" : "number",
            "description" : "",
            "format" : "int64"
          },
          "tarifa_antecipacao" : {
            "type" : "number",
            "description" : "",
            "format" : "int64"
          },
          "id_modelo_email" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.seguranca.modelo_email,id",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Portador"
        }
      },
      "RemessaRetorno" : {
        "type" : "object",
        "required" : [ "id_empresa", "id_usuario", "id_portador", "data", "quantidade", "total", "tipo_ocorrencia" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_empresa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.empresa,id",
            "format" : "int64"
          },
          "id_usuario" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.usuario,id",
            "format" : "int64"
          },
          "id_portador" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.financeiro.portador,id",
            "format" : "int64"
          },
          "data" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          },
          "quantidade" : {
            "type" : "integer",
            "description" : "required|integer",
            "format" : "int64"
          },
          "total" : {
            "type" : "number",
            "description" : "required|",
            "format" : "int64"
          },
          "nome_arquivo" : {
            "type" : "string",
            "description" : "string|max:100",
            "format" : "int64"
          },
          "tipo_ocorrencia" : {
            "type" : "string",
            "description" : "required|string|max:7",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "RemessaRetorno"
        }
      },
      "TalaoCheque" : {
        "type" : "object",
        "required" : [ "id_empresa", "id_conta_corrente", "emissao", "numero_inicial", "numero_final" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_empresa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.empresa,id",
            "format" : "int64"
          },
          "id_conta_corrente" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.financeiro.conta_corrente,id",
            "format" : "int64"
          },
          "emissao" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          },
          "numero_inicial" : {
            "type" : "integer",
            "description" : "required|integer",
            "format" : "int64"
          },
          "numero_final" : {
            "type" : "integer",
            "description" : "required|integer",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "TalaoCheque"
        }
      },
      "TipoDocumentoOrigem" : {
        "type" : "object",
        "required" : [ "numero_obrigatorio" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "sigla" : {
            "type" : "string",
            "description" : "string|max:15",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "string|max:100",
            "format" : "int64"
          },
          "numero_obrigatorio" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "TipoDocumentoOrigem"
        }
      },
      "Turno" : {
        "type" : "object",
        "required" : [ "id_conta_corrente", "abertura" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_conta_corrente" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.financeiro.conta_corrente,id",
            "format" : "int64"
          },
          "abertura" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          },
          "fechamento" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          }
        },
        "xml" : {
          "name" : "Turno"
        }
      },
      "Direito" : {
        "type" : "object",
        "required" : [ "id_usuario" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "enum_ref" : {
            "type" : "string",
            "description" : "string|max:255",
            "format" : "int64"
          },
          "id_usuario" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.usuario,id",
            "format" : "int64"
          },
          "id_empresa" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Direito"
        }
      },
      "Empresa" : {
        "type" : "object",
        "required" : [ "ativo", "tipo", "id_pessoa" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "ativo" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "tipo" : {
            "type" : "string",
            "description" : "required|string|max:6|in:GRUPO,MATRIZ,FILIAL",
            "enum" : [ "GRUPO", "MATRIZ", "FILIAL" ],
            "format" : "int64"
          },
          "id_empresa_superior" : {
            "type" : "integer",
            "description" : "integer|exists:pgsql.seguranca.empresa,id",
            "format" : "int64"
          },
          "id_sistema_licenca" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_pessoa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.cadastro.pessoa,id",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Empresa"
        }
      },
      "ModeloEmail" : {
        "type" : "object",
        "required" : [ "ativo", "descricao", "assunto", "mensagem" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "ativo" : {
            "type" : "boolean",
            "description" : "required|boolean",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string",
            "description" : "required|string|max:100",
            "format" : "int64"
          },
          "remetente" : {
            "type" : "string",
            "description" : "string|max:100",
            "format" : "int64"
          },
          "assunto" : {
            "type" : "string",
            "description" : "required|string|max:250",
            "format" : "int64"
          },
          "mensagem" : {
            "type" : "string",
            "description" : "required|string|max:255",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "ModeloEmail"
        }
      },
      "Parametro" : {
        "type" : "object",
        "required" : [ "nome", "id_empresa" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "nome" : {
            "type" : "string",
            "description" : "required|string|max:250",
            "format" : "int64"
          },
          "id_empresa" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.empresa,id",
            "format" : "int64"
          },
          "valor" : {
            "type" : "string",
            "description" : "string|max:255",
            "format" : "int64"
          }
        },
        "xml" : {
          "name" : "Parametro"
        }
      },
      "TokensBlackList" : {
        "type" : "object",
        "required" : [ "jti", "issued_at", "expire_at", "revoked_at", "revoked_reason", "revoked_by" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "jti" : {
            "type" : "string",
            "description" : "required|string|max:255",
            "format" : "int64"
          },
          "issued_at" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          },
          "expire_at" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          },
          "revoked_at" : {
            "type" : "string",
            "description" : "required|date",
            "format" : "date-time"
          },
          "revoked_reason" : {
            "type" : "string",
            "description" : "required|string|max:255",
            "format" : "date-time"
          },
          "revoked_by" : {
            "type" : "string",
            "description" : "required|string|max:255",
            "format" : "date-time"
          }
        },
        "xml" : {
          "name" : "TokensBlackList"
        }
      },
      "Usuario" : {
        "type" : "object",
        "required" : [ "id_sistema_licenca", "id_pai_sistema_licenca", "nome" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "",
            "format" : "int64"
          },
          "id_sistema_licenca" : {
            "type" : "integer",
            "description" : "required|integer",
            "format" : "int64"
          },
          "id_pai_sistema_licenca" : {
            "type" : "integer",
            "description" : "required|integer|exists:pgsql.seguranca.usuario,id",
            "format" : "int64"
          },
          "nome" : {
            "type" : "string",
            "description" : "required|string|max:100",
            "format" : "int64"
          },
          "celular" : {
            "type" : "string",
            "description" : "string|max:11",
            "format" : "int64"
          },
          "ultimo_reset" : {
            "type" : "string",
            "description" : "date",
            "format" : "date-time"
          },
          "ultimo_login" : {
            "type" : "string",
            "description" : "date",
[...]
