{
  "openapi" : "3.0.0",
  "info" : {
    "version" : "1.0.1",
    "title" : "PDCA (API specification)."
  },
  "servers" : [ {
    "url" : "https://pdca.casualtyanalytics.co.uk/api",
    "description" : "PDCA development server"
  } ],
  "components" : {
    "securitySchemes" : {
      "bearerAuth" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    }
  },
  "paths" : {
    "/login" : {
      "post" : {
        "summary" : "Returns JWT by login / password / secret",
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "username" : {
                    "type" : "string",
                    "example" : "admin"
                  },
                  "password" : {
                    "type" : "string",
                    "example" : "qwerty"
                  },
                  "secret" : {
                    "type" : "string",
                    "example" : "zXcrtg5aBRGGxJIJVi4l73xbWp3svENKD5wgyFjkzrg="
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "id_token" : {
                      "type" : "string",
                      "example" : "eyJhbGciOiJIUzeeW1NiJ9.eyJpc3MiOiJ1ay5jby5hcml"
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "bad credentials"
          },
          "404" : {
            "description" : "username not found"
          }
        }
      }
    },
    "/match" : {
      "post" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "summary" : "Submits request for business data by company name and country",
        "parameters" : [ {
          "in" : "query",
          "name" : "schema",
          "schema" : {
            "type" : "integer"
          },
          "required" : false
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "matchInputs" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "companyName" : {
                          "type" : "string"
                        },
                        "country" : {
                          "type" : "string"
                        },
                        "state" : {
                          "type" : "string"
                        },
                        "city" : {
                          "type" : "string"
                        },
                        "postal" : {
                          "type" : "string"
                        },
                        "primaryAddress" : {
                          "type" : "string"
                        },
                        "phone" : {
                          "type" : "string"
                        },
                        "revenue" : {
                          "type" : "number"
                        },
                        "employees" : {
                          "type" : "number"
                        },
                        "industryCode" : {
                          "type" : "string"
                        },
                        "industryCodeSystem" : {
                          "type" : "string"
                        }
                      },
                      "required" : [ "companyName", "country" ]
                    }
                  },
                  "receipts" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  }
                }
              },
              "example" : {
                "matchInputs" : [ {
                  "companyName" : "MAGNA INTERNATIONAL INC",
                  "country" : "Canada",
                  "state" : "Ontario"
                }, {
                  "companyName" : "AIRBUS",
                  "country" : "USA"
                } ],
                "receipts" : [ "XZ3z7sDbM3xn7NvQvtuSUA==" ]
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "schema" : {
                  "type" : "string",
                  "example" : "/match/06c9aba1-8d23-4134-a7e0-4bb55b6c5148"
                },
                "description" : "URI to get operation status / result"
              }
            }
          },
          "401" : {
            "description" : "bad credentials"
          },
          "403" : {
            "description" : "fornbidden"
          },
          "400" : {
            "description" : "bad request"
          }
        }
      }
    },
    "/match/{id}" : {
      "get" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "summary" : "Check matching status and get results",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "Value returned in Location header of POST request"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "masterData" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "record_id" : {
                            "type" : "integer"
                          },
                          "confidence" : {
                            "type" : "integer"
                          },
                          "matchgrade" : {
                            "type" : "string"
                          },
                          "dnb_update_date" : {
                            "type" : "integer"
                          },
                          "dunsnumber" : {
                            "type" : "integer"
                          },
                          "businessname" : {
                            "type" : "string"
                          },
                          "secondaryname" : {
                            "type" : "string"
                          },
                          "streetaddress" : {
                            "type" : "string"
                          },
                          "cityname" : {
                            "type" : "string"
                          },
                          "stateprovincecode" : {
                            "type" : "string"
                          },
                          "countrycode" : {
                            "type" : "integer"
                          },
                          "globalultimatedunsnumber" : {
                            "type" : "integer"
                          },
                          "domesticdunsnumber" : {
                            "type" : "integer"
                          },
                          "naic1" : {
                            "type" : "string"
                          },
                          "naic2" : {
                            "type" : "string"
                          },
                          "naic3" : {
                            "type" : "string"
                          },
                          "naic4" : {
                            "type" : "string"
                          },
                          "naic5" : {
                            "type" : "string"
                          },
                          "naic6" : {
                            "type" : "string"
                          },
                          "annualsalesusdollars" : {
                            "type" : "integer"
                          },
                          "employeeshere" : {
                            "type" : "integer"
                          },
                          "employeestotal" : {
                            "type" : "integer"
                          }
                        }
                      }
                    },
                    "receipts" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object"
                      }
                    }
                  }
                },
                "example" : {
                  "masterData" : [ {
                    "record_id" : 0,
                    "confidence" : 6,
                    "matchgrade" : "AZZZAZZ",
                    "dnb_update_date" : 20190701000000,
                    "dunsnumber" : 201280949,
                    "businessname" : "MAGNA INTERN CORPORATION",
                    "secondaryname" : null,
                    "streetaddress" : "18 WALTER TUNNY CRES",
                    "cityname" : "EAST GWILLIMBURY",
                    "stateprovincecode" : 562,
                    "countrycode" : 121,
                    "globalultimatedunsnumber" : 0,
                    "domesticdunsnumber" : 0,
                    "naic1" : 999990,
                    "naic2" : null,
                    "naic3" : null,
                    "naic4" : null,
                    "naic5" : null,
                    "naic6" : null,
                    "annualsalesusdollars" : 0,
                    "employeeshere" : 0,
                    "employeestotal" : 0
                  }, {
                    "record_id" : 1,
                    "confidence" : 1,
                    "matchgrade" : "BZZZZZZ",
                    "dnb_update_date" : 20190708000000,
                    "dunsnumber" : 157696998,
                    "businessname" : "AIRBUS AMERICAS, INC.",
                    "secondaryname" : "AINA HOLDINGS",
                    "streetaddress" : "2550 WASSER TER STE 9100",
                    "cityname" : "HERNDON",
                    "stateprovincecode" : 91.0,
                    "countrycode" : 805,
                    "globalultimatedunsnumber" : 403284867,
                    "domesticdunsnumber" : 157696998,
                    "naic1" : 336411,
                    "naic2" : null,
                    "naic3" : null,
                    "naic4" : null,
                    "naic5" : null,
                    "naic6" : null,
                    "annualsalesusdollars" : 118663708,
                    "employeeshere" : 75,
                    "employeestotal" : 240
                  } ],
                  "receipts" : [ "XZ3z7sDbM3xn7NvQvtuSUA==", "HaAj4EbUtMIN99Yx7Fafsw==" ]
                }
              }
            }
          },
          "202" : {
            "description" : "matching is submitted and still processing"
          },
          "401" : {
            "description" : "bad credentials"
          }
        }
      }
    },
    "/augment" : {
      "post" : {
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "summary" : "Submits request for business data by duns",
        "parameters" : [ {
          "in" : "query",
          "name" : "schema",
          "schema" : {
            "type" : "integer"
          },
          "required" : false
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "augmentInputs" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "duns" : {
                          "type" : "number"
                        },
                        "dnbUpdateDate" : {
                          "type" : "number"
                        }
                      }
                    }
                  },
                  "receipts" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  }
                }
              },
              "example" : {
                "augmentInputs" : [ {
                  "duns" : 941416075
                }, {
                  "duns" : 201280949,
                  "dnbUpdateDate" : 20190701000000
                } ],
                "receipts" : [ "XZ3z7sDbM3xn7NvQvtuSUA==" ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "masterData" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "record_id" : {
                            "type" : "integer"
                          },
                          "confidence" : {
                            "type" : "integer"
                          },
                          "matchgrade" : {
                            "type" : "string"
                          },
                          "dnb_update_date" : {
                            "type" : "integer"
                          },
                          "dunsnumber" : {
                            "type" : "integer"
                          },
                          "businessname" : {
                            "type" : "string"
                          },
                          "secondaryname" : {
                            "type" : "string"
                          },
                          "streetaddress" : {
                            "type" : "string"
                          },
                          "cityname" : {
                            "type" : "string"
                          },
                          "stateprovincecode" : {
                            "type" : "string"
                          },
                          "countrycode" : {
                            "type" : "integer"
                          },
                          "globalultimatedunsnumber" : {
                            "type" : "integer"
                          },
                          "domesticdunsnumber" : {
                            "type" : "integer"
                          },
                          "naic1" : {
                            "type" : "string"
                          },
                          "naic2" : {
                            "type" : "string"
                          },
                          "naic3" : {
                            "type" : "string"
                          },
                          "naic4" : {
                            "type" : "string"
                          },
                          "naic5" : {
                            "type" : "string"
                          },
                          "naic6" : {
                            "type" : "string"
                          },
                          "annualsalesusdollars" : {
                            "type" : "integer"
                          },
                          "employeeshere" : {
                            "type" : "integer"
                          },
                          "employeestotal" : {
                            "type" : "integer"
                          }
                        }
                      }
                    },
                    "receipts" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object"
                      }
                    }
                  }
                },
                "example" : {
                  "masterData" : [ {
                    "record_id" : 0,
                    "confidence" : 6,
                    "matchgrade" : "AZZZAZZ",
                    "dnb_update_date" : 20190701000000,
                    "dunsnumber" : 201280949,
                    "businessname" : "MAGNA INTERN CORPORATION",
                    "secondaryname" : null,
                    "streetaddress" : "18 WALTER TUNNY CRES",
                    "cityname" : "EAST GWILLIMBURY",
                    "stateprovincecode" : 562,
                    "countrycode" : 121,
                    "globalultimatedunsnumber" : 0,
                    "domesticdunsnumber" : 0,
                    "naic1" : 999990,
                    "naic2" : null,
                    "naic3" : null,
                    "naic4" : null,
                    "naic5" : null,
                    "naic6" : null,
                    "annualsalesusdollars" : 0,
                    "employeeshere" : 0,
                    "employeestotal" : 0
                  }, {
                    "record_id" : 1,
                    "confidence" : 1,
                    "matchgrade" : "BZZZZZZ",
                    "dnb_update_date" : 20190708000000,
                    "dunsnumber" : 157696998,
                    "businessname" : "AIRBUS AMERICAS, INC.",
                    "secondaryname" : "AINA HOLDINGS",
                    "streetaddress" : "2550 WASSER TER STE 9100",
                    "cityname" : "HERNDON",
                    "stateprovincecode" : 91.0,
                    "countrycode" : 805,
                    "globalultimatedunsnumber" : 403284867,
                    "domesticdunsnumber" : 157696998,
                    "naic1" : 336411,
                    "naic2" : null,
                    "naic3" : null,
                    "naic4" : null,
                    "naic5" : null,
                    "naic6" : null,
                    "annualsalesusdollars" : 118663708,
                    "employeeshere" : 75,
                    "employeestotal" : 240
                  } ],
                  "receipts" : [ "XZ3z7sDbM3xn7NvQvtuSUA==", "HaAj4EbUtMIN99Yx7Fafsw==" ]
                }
              }
            }
          },
          "401" : {
            "description" : "bad credentials"
          },
          "403" : {
            "description" : "fornbidden"
          },
          "400" : {
            "description" : "bad request"
          }
        }
      }
    }
  }
}