{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Prosmed API",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "http://extranet.prosmed.com.br:8080/api"
  } ],
  "paths" : {
    "/especialidades" : {
      "get" : {
        "summary" : "Lista todas as especialidades disponíveis",
        "tags" : [ "especialidades" ],
        "responses" : {
          "200" : {
            "description" : "Array de especialidades",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Token inválido",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/estados" : {
      "get" : {
        "summary" : "Lista todos os estados (siglas) que possuem conveniados",
        "tags" : [ "estados" ],
        "responses" : {
          "200" : {
            "description" : "Array de estados",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Token inválido",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/estados/{estado}/cidades" : {
      "get" : {
        "summary" : "Lista todas as cidades que possuem conveniados de um determinado estado",
        "tags" : [ "cidades" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "estado",
          "required" : true,
          "description" : "Sigla do estado",
          "schema" : {
            "type" : "string"
          },
          "example" : "PE"
        } ],
        "responses" : {
          "200" : {
            "description" : "Array de cidades",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Token inválido",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/cidades/{cidade}/especialidades" : {
      "get" : {
        "summary" : "Lista todas as especialidades presentes em uma cidade",
        "tags" : [ "especialidades" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "cidade",
          "required" : true,
          "description" : "Nome da cidade",
          "schema" : {
            "type" : "string"
          },
          "example" : "CARUARU"
        } ],
        "responses" : {
          "200" : {
            "description" : "Array de especialidades",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Token inválido",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/cidades/{cidade}/bairros" : {
      "get" : {
        "summary" : "Lista todos os bairros de uma cidade",
        "tags" : [ "bairros" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "cidade",
          "description" : "Nome da cidade",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "CARUARU"
        } ],
        "responses" : {
          "200" : {
            "description" : "Array de bairros",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Token inválido",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/conveniados" : {
      "get" : {
        "summary" : "Lista todos os conveniados",
        "tags" : [ "conveniados" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "uf",
          "description" : "Sigla do estado",
          "schema" : {
            "type" : "string",
            "maxLength" : 2
          },
          "example" : "PE"
        }, {
          "in" : "query",
          "name" : "cidade",
          "description" : "Nome da cidade",
          "schema" : {
            "type" : "string"
          },
          "example" : "CARUARU"
        }, {
          "in" : "query",
          "name" : "bairro",
          "description" : "Nome do bairro",
          "schema" : {
            "type" : "string"
          },
          "example" : "SAO FRANCISCO"
        }, {
          "in" : "query",
          "name" : "especialidade",
          "description" : "Nome da especialidade",
          "schema" : {
            "type" : "string"
          },
          "example" : "ODONTOLOGIA"
        }, {
          "in" : "query",
          "name" : "nome",
          "description" : "Nome do conveniado",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Array de conveniados",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_meta" : {
                      "type" : "object",
                      "properties" : {
                        "page" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "per_page" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "page_count" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "total_count" : {
                          "type" : "integer",
                          "format" : "int64"
                        },
                        "links" : {
                          "type" : "object",
                          "properties" : {
                            "next" : {
                              "type" : "string"
                            },
                            "previous" : {
                              "type" : "string"
                            }
                          }
                        }
                      }
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Conveniado"
                      }
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Token não informado",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/clientes/{clienteID}" : {
      "get" : {
        "summary" : "Busca um cliente através do CPF ou número da proposta",
        "tags" : [ "clientes" ],
        "parameters" : [ {
          "in" : "path",
          "required" : true,
          "name" : "clienteID",
          "description" : "CPF ou número da proposta do cliente",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Informações sobre o cliente",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Conveniado"
                }
              }
            }
          },
          "401" : {
            "description" : "Token não informado",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404" : {
            "description" : "Cliente não encontrado",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Conveniado" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "nome" : {
            "type" : "string"
          },
          "logradouro" : {
            "type" : "string"
          },
          "bairro" : {
            "type" : "string"
          },
          "cidade" : {
            "type" : "string"
          },
          "uf" : {
            "type" : "string"
          },
          "fones" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "especialidade" : {
            "type" : "string"
          },
          "acordo" : {
            "type" : "string"
          }
        }
      },
      "ApiError" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string"
          }
        }
      }
    },
    "securitySchemes" : {
      "Token" : {
        "type" : "apiKey",
        "in" : "header",
        "name" : "Authorization"
      }
    }
  },
  "security" : [ {
    "Token" : [ ]
  } ]
}