{
  "openapi" : "3.0.0",
  "servers" : [ {
    "url" : "http://bdd.qion.agr.br/api/v2/forecast"
  } ],
  "info" : {
    "version" : "2.8.1",
    "title" : "The Forecast Project API",
    "description" : "Nesta API estão disponíveis todos os recursos disponíveis no microsserviço de Planejamento (<b>Forecast</b>).  Com os recursos fornecidos por esta API é possível:\n- Recuperar um ou mais planejamentos;\n- Criar novos planejamentos;\n- Editar um planejamento existente;\n- Apagar um planejamento existente;\n- Adicionar dimensões em planejamento;\n- Editar as dimensões de um planejamento;\n- Apagar as dimensões de um planejamento;\n- Adicionar medidas em planejamento;\n- Editar as medidas de um planejamento;\n- Apagar as medidas de um planejamento;\n- Preencher um planajamento;\n- Obter os Data-Sets utilizados e suas associações;\n- Obter as associações existentes entre os Data-Sets;\n- Criar um template a partir de um planejamento;\n- Obter os templates disponíveis;\n- Criar novos planejamentos a partir dos templates disponíveis;\n- Criar um clone de um planejamento existente; <p>\n<b>Última revisão: 29/11/2019</b> [API Changelog](https://redmineproduto.wssim.com.br/projects/cloudforecast/wiki/Api_changelog)",
    "contact" : {
      "name" : "The Forecast Team",
      "url" : "https://teams.microsoft.com/l/team/19%3a48c2cb78dbb848a199fe6fc5bc43e0cf%40thread.skype/conversations?groupId=b53719b8-5bb2-4fa6-b6f4-30466012d4b2&tenantId=f0fb2e50-2a6b-40f4-b5eb-86b33d754b7d",
      "email" : "37e3b257.wssim.com.br@amer.teams.ms"
    }
  },
  "externalDocs" : {
    "description" : "Mais informações estão disponíveis em The Forecast Project Wiki",
    "url" : "https://redmineproduto.wssim.com.br/projects/cloudforecast/wiki/Wiki"
  },
  "tags" : [ {
    "name" : "Forecasts",
    "description" : "Criação/edição/exclusão do Planejamento"
  }, {
    "name" : "Structure",
    "description" : "Disponibiliza a estrutura de um Planejamento"
  }, {
    "name" : "Tree",
    "description" : "<b> R e v i s a r </b> Disponibiliza a árvore com a estrutura de um Planejamento"
  }, {
    "name" : "Tree-Hateoas",
    "description" : "<b> R e v i s a r </b> Disponibiliza a árvore HATEOAS com a estrutura de um Planejamento"
  }, {
    "name" : "Dimensions",
    "description" : "Criação/edição/exclusão das dimensões de um Planejamento"
  }, {
    "name" : "Dimensions Data",
    "description" : "Disponibiliza todos os dados das dimensões de um Planejamento"
  }, {
    "name" : "Measures",
    "description" : "Criação/Edição/Exclusão de medidas em um Planejamento"
  }, {
    "name" : "Contents",
    "description" : "Criação/Edição/Exclusão dos conteúdos (valores) informados nas células de um Planejamento"
  }, {
    "name" : "Data-Sets",
    "description" : "Disponibiliza todos os Data-Sets disponíveis"
  }, {
    "name" : "Data-Sets-Data",
    "description" : "Disponibiliza todos os Data-Sets-Data disponíveis"
  }, {
    "name" : "Associations",
    "description" : "Disponibiliza todas as Associações disponíveis entre os Data-Sets"
  }, {
    "name" : "Templates",
    "description" : "Criação/edição/exclusão de templates"
  } ],
  "paths" : {
    "/forecasts" : {
      "get" : {
        "tags" : [ "Forecasts" ],
        "summary" : "Retorna uma lista com todos os planejamentos",
        "description" : "Retorna um conjunto com todos os planejamntos existentes",
        "operationId" : "getForecasts",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "items" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/forecastForGet"
                      }
                    },
                    "count" : {
                      "type" : "integer",
                      "format" : "int32",
                      "example" : 1
                    },
                    "page" : {
                      "type" : "integer",
                      "format" : "int32",
                      "example" : 0
                    },
                    "pageSize" : {
                      "type" : "integer",
                      "format" : "int32",
                      "example" : 500
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          }
        }
      },
      "post" : {
        "tags" : [ "Forecasts" ],
        "summary" : "Cria um novo planejamento",
        "description" : " Cria um novo planejamento com as seguintes informações. <p> Todo forecast criado SEMPRE recebe o status DRAFT",
        "operationId" : "addForecast",
        "responses" : {
          "201" : {
            "description" : "Successful operation, created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UUID"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          },
          "422" : {
            "description" : "Unprocessable entity"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/forecastForCreateOrUpdate"
              }
            }
          },
          "description" : "O objeto que representa o Forecast que será criado.",
          "required" : true
        }
      }
    },
    "/forecasts/{forecastId}" : {
      "get" : {
        "tags" : [ "Forecasts" ],
        "summary" : "Retorna um único planejamento pelo seu ID",
        "description" : "Recupera um determinado planejamento pelo seu ID",
        "operationId" : "getForecastById",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/forecastForGet"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          }
        }
      },
      "delete" : {
        "tags" : [ "Forecasts" ],
        "summary" : "Excluir um planejamento pelo ID",
        "description" : "Permite excluir um Forecast considerando as regras existentes em https://redmineproduto.wssim.com.br/projects/cloudforecast/wiki/Documento_Regra_Negocio_Builder#2222",
        "operationId" : "removeForecastById",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation"
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          },
          "404" : {
            "description" : "Not found"
          }
        }
      },
      "put" : {
        "tags" : [ "Forecasts" ],
        "summary" : "Atualizar um planejamento pelo ID",
        "description" : "Update a single forecast. NÃO É POSSÍVEL modificar a referência do template.",
        "operationId" : "updateForecastById",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of Forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation"
          },
          "404" : {
            "description" : "Not found"
          },
          "422" : {
            "description" : "Unprocessable entity"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/forecastForCreateOrUpdate"
              }
            }
          },
          "description" : "Custom field to be updated",
          "required" : true
        }
      }
    },
    "/forecasts/search" : {
      "post" : {
        "tags" : [ "Forecasts" ],
        "summary" : "Pesquisa de planejamento pela descrição (description)",
        "description" : "Busca textual pela descrição do planejamento, retorna um conjunto com todos os planejamentos que atendem o critério da busca",
        "operationId" : "searchForecast",
        "parameters" : [ {
          "name" : "description",
          "in" : "query",
          "description" : "Texto para pesquisa da descrição do planejamento",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "page" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "pageSize" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "items" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/forecastForGet"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          }
        }
      }
    },
    "/forecasts/{forecastId}/publish" : {
      "put" : {
        "tags" : [ "Forecasts" ],
        "summary" : "Publicar um planejamento",
        "description" : "Publish a single forecast. <P> Caso o processo de publicação termine normalmente, o status do forecast será modificado para PUBLISHED. <p> Caso ocorra alguma falha neste processo, teremos o status de PUBLISHING_ERROR atribuído do forecast.",
        "operationId" : "publishForecast",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of Forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Successful operation"
          },
          "404" : {
            "description" : "Not found"
          },
          "422" : {
            "description" : "Unprocessable entity"
          }
        }
      }
    },
    "/forecasts/{forecastId}/edit" : {
      "put" : {
        "tags" : [ "Forecasts" ],
        "summary" : "Editando um planejamento",
        "description" : "Editing a single forecast",
        "operationId" : "editingForecast",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of Forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation"
          },
          "404" : {
            "description" : "Not found"
          },
          "422" : {
            "description" : "Unprocessable entity"
          }
        }
      }
    },
    "/forecasts/{forecastId}/abort" : {
      "put" : {
        "tags" : [ "Forecasts" ],
        "summary" : "Abortar um planejamento",
        "description" : "Abort a single forecast",
        "operationId" : "abortForecast",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of Forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation"
          },
          "404" : {
            "description" : "Not found"
          },
          "422" : {
            "description" : "Unprocessable entity"
          }
        }
      }
    },
    "/forecasts/{forecastId}/finish" : {
      "put" : {
        "tags" : [ "Forecasts" ],
        "summary" : "Finalizar um planejamento",
        "description" : "Finish a single forecast",
        "operationId" : "finishForecast",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of Forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation"
          },
          "404" : {
            "description" : "Not found"
          },
          "422" : {
            "description" : "Unprocessable entity"
          }
        }
      }
    },
    "/forecasts/{forecastId}/clone" : {
      "post" : {
        "tags" : [ "Forecasts" ],
        "summary" : "Criar um clone simples com a mesma estrutura de um planejamento",
        "description" : "Criar um clone simples com a mesma estrutura de um planejamento",
        "operationId" : "createSimpleCloneFromForecast",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of Forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UUID"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "412" : {
            "description" : "Precondition failed"
          }
        }
      }
    },
    "/forecasts/{forecastId}/edge/{edgeId}/log" : {
      "get" : {
        "tags" : [ "Forecasts" ],
        "summary" : "Criar um clone simples com a mesma estrutura de um planejamento",
        "description" : "Criar um clone simples com a mesma estrutura de um planejamento",
        "operationId" : "getLogFromEdge",
        "parameters" : [ {
          "name" : "edgeId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of edge",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of Forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UUID"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "412" : {
            "description" : "Precondition failed"
          }
        }
      }
    },
    "/forecasts/{forecastId}/edge/{edgeId}/log/{logId}" : {
      "get" : {
        "tags" : [ "Forecasts" ],
        "summary" : "Criar um clone simples com a mesma estrutura de um planejamento",
        "description" : "Criar um clone simples com a mesma estrutura de um planejamento",
        "operationId" : "getLogFromEdgeWithLogId",
        "parameters" : [ {
          "name" : "edgeId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of edge",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of Forecast",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "logId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of log",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UUID"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "412" : {
            "description" : "Precondition failed"
          }
        }
      }
    },
    "/forecasts/{forecastId}/structure" : {
      "get" : {
        "tags" : [ "Structure" ],
        "summary" : "Retorna a estrutura do planejamento, que é a base para a sua montagem",
        "description" : "Recupera a árvore com a estrutura do planejamento, contendo as dimensões e as medidas.",
        "operationId" : "getForecastStructure",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/forecastStructure"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          }
        }
      }
    },
    "/forecasts/{forecastId}/tree" : {
      "get" : {
        "tags" : [ "Tree" ],
        "summary" : "Disponibiliza a árvore do planejamento",
        "description" : "Retorna a árvore do planejamento",
        "operationId" : "getForecastTree",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/forecastTreeForGet"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          }
        }
      }
    },
    "/forecasts/{forecastId}/tree-hateoas" : {
      "get" : {
        "tags" : [ "Tree-Hateoas" ],
        "summary" : "Disponibiliza a árvore HATEOAS do planejamento",
        "description" : "Retorna a árvore HATEOAS do planejamento. <P>",
        "operationId" : "getForecastTreeHateoas",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/forecastTreeForGet"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          }
        }
      }
    },
    "/forecasts/{forecastId}/tree-hateoas/{edgeId}" : {
      "get" : {
        "tags" : [ "Tree-Hateoas" ],
        "summary" : "Disponibiliza a árvore HATEOAS do planejamento",
        "description" : "Retorna a árvore HATEOAS do planejamento. <P>",
        "operationId" : "getForecastTreeHateoasFromEdge",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "edgeId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of edge",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/forecastTreeForGet"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          }
        }
      }
    },
    "/forecasts/{forecastId}/tree-hateoas/user/{userId}" : {
      "get" : {
        "tags" : [ "Tree-Hateoas" ],
        "summary" : "Disponibiliza a árvore HATEOAS do planejamento com filtro por usuário",
        "description" : "Retorna a árvore HATEOAS do planejamento. <P>",
        "operationId" : "getForecastTreeHateoasWithUserFilter",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of user to filter data",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/forecastTreeForGet"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          }
        }
      }
    },
    "/forecasts/{forecastId}/tree-hateoas/{edgeId}/user/{userId}" : {
      "get" : {
        "tags" : [ "Tree-Hateoas" ],
        "summary" : "Disponibiliza a árvore HATEOAS do planejamento com filtro por usuário",
        "description" : "Retorna a árvore HATEOAS do planejamento. <P>",
        "operationId" : "getForecastTreeHateoasFromEdgeFilterUser",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "edgeId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of edge",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of user",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/forecastTreeForGet"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          }
        }
      }
    },
    "/forecasts/{forecastId}/dimensions" : {
      "get" : {
        "tags" : [ "Dimensions" ],
        "summary" : "Retorna as dimensões do planejamento",
        "description" : "Retorna o conjunto de dimensões de um planejamento.",
        "operationId" : "getForecastDimensions",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/dimensionForGet"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          }
        }
      },
      "post" : {
        "tags" : [ "Dimensions" ],
        "summary" : "Adiciona as dimensões de um planejamento",
        "description" : "<b>Regras e validações</b> <p> - A quantidade máxima de dimension criadas em um planejamento está definida pelo parâmetro 'forecast.builder.max_dimensions', com valor default1 10.<p> - Somente serão aceitas nova dimensions para os forescats que estejam com status igual a DRAFT. <p> - Não é permitido enviar uma dimension com ORDER repetido, caso ocorra irá gerar uma exception. Caso nõ seja informada a ORDER, uma nova ORDER será atribuída automaticamente. <p> - Somente serão aceitas novas dimensions caso a última dimensão não seja um cross join. <p> - A associações entre os DataSets deverá ser válida, caso contrário ocorrerá um exception.",
        "operationId" : "addDimensions",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Successful operation, created",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UUID"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          },
          "404" : {
            "description" : "Not found"
          },
          "422" : {
            "description" : "Unprocessable entity"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/dimensionForCreateOrUpdate"
              }
            }
          },
          "description" : "O objeto que representa o Forecast que será criado.",
          "required" : true
        }
      }
    },
    "/forecasts/{forecastId}/dimensions/{dimensionId}" : {
      "get" : {
        "tags" : [ "Dimensions" ],
        "summary" : "Recupera uma determinada dimensão de um planejamento",
        "operationId" : "getDimensionById",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dimensionId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of dimension",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/dimensionForGet"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          },
          "404" : {
            "description" : "Not found"
          }
        }
      },
      "put" : {
        "tags" : [ "Dimensions" ],
        "summary" : "Atualiza uma determinada dimensão de um planejameto",
        "operationId" : "updateDimensionById",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dimensionId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of dimension",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation"
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/dimensionForCreateOrUpdate"
              }
            }
          },
          "description" : "Custom field to be updated",
          "required" : true
        }
      },
      "delete" : {
        "tags" : [ "Dimensions" ],
        "summary" : "Excluir uma dimensão de um determinado planejamento pelo ID",
        "operationId" : "removeDimensionsById",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dimensionId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of dimension",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation"
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          },
          "404" : {
            "description" : "Not found"
          }
        }
      }
    },
    "/forecasts/{forecastId}/dimensions/change-order" : {
      "post" : {
        "tags" : [ "Dimensions" ],
        "summary" : "Atualiza a ordem das dimensões de um planejameto",
        "description" : "Altera a ordem de exebição das dimensões. <p> Observações:<p> <b> 1 - Caso sejam enviados elementos no array com a mesma ordem irá ocorrer um erro 409;<p> 2 - Caso a medida seja enviada mais de uma vez no array, com ordem diferente ou não, irá ocorrer um erro 409; ",
        "operationId" : "changeOrderDimensionById",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation"
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          },
          "404" : {
            "description" : "Not found"
          },
          "409" : {
            "description" : "Conflict"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/dimensionPositionForUpdateItems"
                }
              }
            }
          },
          "description" : "New dimension position",
          "required" : true
        }
      }
    },
    "/forecasts/{forecastId}/dimensions-data" : {
      "get" : {
        "tags" : [ "Dimensions Data" ],
        "summary" : "Retorna os dados das dimensões",
        "description" : "Retorna o conjunto de dados das dimensões de um planejamento.",
        "operationId" : "getForecastDimensionsData",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/dimensionsDataForGet"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          },
          "422" : {
            "description" : "Unprocessable entity"
          }
        }
      }
    },
    "/forecasts/{forecastId}/dimensions-data/user/{userId}" : {
      "get" : {
        "tags" : [ "Dimensions Data" ],
        "summary" : "Retorna os dados das dimensões",
        "description" : "Retorna o conjunto de dados das dimensões de um planejamento.",
        "operationId" : "getForecastDimensionsDataWithUserFilter",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/dimensionsDataForGet"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          },
          "422" : {
            "description" : "Unprocessable entity"
          }
        }
      }
    },
    "/forecasts/{forecastId}/measures" : {
      "get" : {
        "tags" : [ "Measures" ],
        "summary" : "Retorna uma lista com todas as medidas de um planejamento",
        "description" : "Retorna o conjunto de dados das medidas de um planejamento.",
        "operationId" : "getForecastMeasures",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/measureForGet"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          }
        }
      },
      "post" : {
        "tags" : [ "Measures" ],
        "summary" : "Cria uma nova medida no Planejamento",
        "description" : "Adiciona nova medida no Planejamento informado. <p>\n<b>Regras e validações</b> <p> - Para adicionar uma nova medida, o forecast deve estar com o status EDITING ou DRAFT. <P> - A quantidade máxima de measures criadas em um planejamento está definida pelo parâmetro 'forecast.builder.max_measures', com valor default 50.<p> - Não é permitido enviar uma measure com ORDER repetido, caso ocorra irá gerar uma exception. Caso não seja informada a ORDER, uma nova ORDER será atribuída automaticamente. <p> - O separador de milhar e o separador decimal não podem ser iguais, caso isso ocorrar irá disparar uma exception. <P> - Quando existir um digito decimal deverá existir um separador decimal.<P> - Quando existir um separador de milhar deverá existir um separador decimal.<P> - Sempre que existir um símbolo monetário deverá ser definida a sua posição (LEFT ou RIGHT). <P> - Sempre que for definida uma posição para o símbolo monetário, o mesmo deverá ser definido.<P> -",
        "operationId" : "addForecastMeasure",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "description" : "O UUID do Planejamento que está recebendo a nova medida",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Successful operation, created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UUID"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          },
          "422" : {
            "description" : "Unprocessable entity"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/measureForCreate"
              }
            }
          },
          "description" : "O objeto que representa a medida que será adicionada no Planejamento.",
          "required" : true
        }
      }
    },
    "/forecasts/{forecastId}/measures/{measureId}" : {
      "get" : {
        "tags" : [ "Measures" ],
        "summary" : "Recuperar uma medida específica de um planejamento pelo ID",
        "operationId" : "getForecastMeasuresById",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "measureId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of measure",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/measureForGet"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          },
          "404" : {
            "description" : "Not found"
          }
        }
      },
      "delete" : {
        "tags" : [ "Measures" ],
        "summary" : "Excluir uma medida específica de um planejamento pelo ID",
        "operationId" : "removeForecastMeasuresById",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "measureId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of measure",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation"
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          },
          "404" : {
            "description" : "Not found"
          },
          "422" : {
            "description" : "Unprocessable entity"
          }
        }
      },
      "put" : {
        "tags" : [ "Measures" ],
        "summary" : "Atualizar uma medida de um Planejamento planejamento pelo ID",
        "description" : "Update a single measure. <P><b>Verifique as regras de validação existentes no POST.",
        "operationId" : "updateForecastMeasureById",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of Forecast",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "measureId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of measure",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation"
          },
          "404" : {
            "description" : "Not found"
          },
          "422" : {
            "description" : "Unprocessable entity"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/measureForUpdate"
              }
            }
          },
          "description" : "Custom field to be updated",
          "required" : true
        }
      }
    },
    "/forecasts/{forecastId}/measures/change-order" : {
      "post" : {
        "tags" : [ "Measures" ],
        "summary" : "Atualiza a ordem das medidas no Planejamento",
        "description" : "Altera a ordem de exebição das medidas. <p> Observações:<p> <b> 1 - Caso sejam enviados elementos no array com a mesma ordem irá ocorrer um erro 409;<p> 2 - Caso a medida seja enviada mais de uma vez no array, com ordem diferente ou não, irá ocorrer um erro 409; ",
        "operationId" : "changeOrderMeasureById",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "description" : "O UUID do Planejamento que está recebendo a nova medida",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "measureId",
          "in" : "path",
          "description" : "o UUID da medida",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation, created"
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          },
          "409" : {
            "description" : "Conflict"
          },
          "422" : {
            "description" : "Unprocessable entity"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/measurePositionForUpdateItems"
                }
              }
            }
          },
          "description" : "O objeto que representa a medida que será adicionada no Planejamento.",
          "required" : true
        }
      }
    },
    "/forecasts/{forecastId}/contents" : {
      "get" : {
        "tags" : [ "Contents" ],
        "summary" : "Retorna uma lista com todos conteúdos das células",
        "description" : "Retorna o conjunto de dados dos conteúdos das células de um Planejamento.",
        "operationId" : "getForecastContents",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of forecast",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/contentForGet"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          }
        }
      },
      "post" : {
        "tags" : [ "Contents" ],
        "summary" : "Cria um novo conteúdo para as células",
        "description" : "Cria um novo conteúdo para as células de Planejamento. <P>\n<b>Regras e validações</b> <p> - Quando um forecast estiver fora de vigência, não é permitida a alteração dos contents.<P> - Somente serão permitidas modificações nos contents quando o status do forecast for PUBLISHED.",
        "operationId" : "addForecastContent",
        "parameters" : [ {
          "name" : "forecastId",
          "in" : "path",
          "description" : "O UUID do Planejamento que está recebendo o novo conteúdo",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Successful operation, created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UUID"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          },
          "422" : {
            "description" : "Unprocessable entity"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/contentForCreate"
              }
            }
          },
          "description" : "O objeto que representa o conteúdo que será adicionado no Planejamento.",
          "required" : true
        }
      }
    },
    "/templates" : {
      "get" : {
        "tags" : [ "Templates" ],
        "summary" : "Retorna todos os templates disponíveis",
        "description" : "Retorna o conjunto com todos os templates disponíveis.",
        "operationId" : "getForecastTemplates",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "items" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/templateForGet"
                      }
                    },
                    "count" : {
                      "type" : "integer",
                      "format" : "int32",
                      "example" : 1
                    },
                    "page" : {
                      "type" : "integer",
                      "format" : "int32",
                      "example" : 0
                    },
                    "pageSize" : {
                      "type" : "integer",
                      "format" : "int32",
                      "example" : 500
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          }
        }
      },
      "post" : {
        "tags" : [ "Templates" ],
        "summary" : "Cria um novo template a partir de um forecast existente",
        "description" : "Cria um novo template a partir de um forecast existente.",
        "operationId" : "addTemplate",
        "responses" : {
          "201" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/templateForCreateOrUpdate"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          },
          "422" : {
            "description" : "Unprocessable entity"
          }
        }
      }
    },
    "/templates/{templateId}" : {
      "get" : {
        "tags" : [ "Templates" ],
        "summary" : "Retorna um template específico pelo seu id",
        "description" : "Retorna um template específico pelo seu id",
        "operationId" : "getForecastTemplatesbyID",
        "parameters" : [ {
          "name" : "templateId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of Template",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/templateForGet"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          }
        }
      },
      "delete" : {
        "tags" : [ "Templates" ],
        "summary" : "Apaga um template específico pelo seu id",
        "description" : "Apaga um template específico pelo seu id",
        "operationId" : "deleteForecastTemplatesbyID",
        "parameters" : [ {
          "name" : "templateId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of Template",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation"
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          }
        }
      }
    },
    "/data-sets" : {
      "get" : {
        "tags" : [ "Data-Sets" ],
        "summary" : "Retorna os Data-Sets disponíveis para criação dos planejamentos",
        "description" : "Retorna o conjunto de Data-Sets que estão disponíveis para uso no momento de criar/editar os planejamentos",
        "operationId" : "getData-Sets",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "page" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "pageSize" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "items" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/dataSetForGet"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the api and/or resource parameters are not informed"
          }
        }
      }
    },
    "/data-sets/{data-setId}/associations" : {
      "get" : {
        "tags" : [ "Data-Sets" ],
        "summary" : "Retorna os Data-Sets disponíveis para criação dos planejamentos",
        "description" : "Retorna o conjunto de Data-Sets que estão disponíveis para uso no momento de criar/editar os planejamentos",
        "operationId" : "getData-SetAssociations",
        "parameters" : [ {
          "name" : "data-setId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of Data-Set",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/dataSetAssociationsForGet"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the api and/or resource parameters are not informed"
          }
        }
      }
    },
    "/data-sets-data/{discriminatorId}" : {
      "get" : {
        "tags" : [ "Data-Sets-Data" ],
        "summary" : "Retorna os Data-Sets-Data disponíveis",
        "description" : "Retorna os Data-Sets-Data disponíveis",
        "operationId" : "getData-Sets-Data",
        "parameters" : [ {
          "name" : "discriminatorId",
          "in" : "path",
          "required" : true,
          "description" : "UUID of Discriminator",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataSetsDataForGet"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the api and/or resource parameters are not informed"
          }
        }
      }
    },
    "/associations" : {
      "get" : {
        "tags" : [ "Associations" ],
        "summary" : "Retorna todas as associações existentes entre os Data-Sets disponíveis para criação dos planejamentos",
        "description" : "Retorna o conjunto de associações existentes e os respectivos Data-Sets que estão disponíveis para uso no momento de criar/editar os planejamentos",
        "operationId" : "getAssociations",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "page" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "pageSize" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "items" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/associationForGet"
                      }
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. When the 'api' and/or 'resource' parameters are not informed"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "forecastForCreateOrUpdate" : {
        "type" : "object",
        "required" : [ "description" ],
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Descrição do planejamento"
          },
          "validity" : {
            "description" : "Período de vigência do planejamento",
            "type" : "object",
            "properties" : {
              "from" : {
                "type" : "string",
                "format" : "date",
                "description" : "Data de início da vigência do planejamento"
              },
              "until" : {
                "type" : "string",
                "format" : "date",
                "description" : "Data de término da vigência do planejameto"
              }
            }
          },
          "note" : {
            "type" : "string",
            "description" : "Observações referentes ao planejamento"
          },
          "templateId" : {
            "type" : "string",
            "description" : "UUID do template usado para criar o novo forecast",
            "example" : "0841f08e-3b4b-48d8-b687-931143c8971e"
          },
          "collectable" : {
            "type" : "boolean",
            "description" : "Indica que o Forecast em questão será utilizado pelo coletor de dados",
            "example" : true
          }
        }
      },
      "UUID" : {
        "type" : "object",
        "required" : [ "id" ],
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "UUID",
            "example" : "0f463235-3315-4152-ad4f-511757dbabe2"
          }
        }
      },
      "forecastForGet" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "UUID do planejamento",
            "example" : "1785c8f6-e726-44ff-8db7-0a24be48a894"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "DRAFT", "PUBLISHED", "PUBLISHING", "EDITING", "ABORTED", "FINISHED" ],
            "description" : "Status do planejamento",
            "example" : "DRAFT"
          },
          "description" : {
            "type" : "string",
            "description" : "Descrição do planejamento",
            "example" : "Planejamento de exemplo 123"
          },
          "validity" : {
            "description" : "Período de vigência do planejamento",
            "type" : "object",
            "properties" : {
              "from" : {
                "type" : "string",
                "format" : "date",
                "description" : "Data de início da vigência do planejamento",
                "example" : "2018-01-01"
              },
              "until" : {
                "type" : "string",
                "format" : "date",
                "description" : "Data de término da vigência do planejameto",
                "example" : "2018-12-31"
              }
            }
          },
          "note" : {
            "type" : "string",
            "description" : "Observações referentes ao planejamento",
            "example" : "Esta é uma observação do Planejamento de exemplo 123"
          },
          "templateId" : {
            "type" : "string",
            "description" : "UUID do template usado para criar o novo forecast",
            "example" : "0841f08e-3b4b-48d8-b687-931143c8971e"
          },
          "collectable" : {
            "type" : "boolean",
            "description" : "Indica que o Forecast em questão será utilizado pelo coletor de dados",
            "example" : true
          }
        }
      },
      "forecastStructure" : {
        "type" : "object",
        "properties" : {
          "measures" : {
            "type" : "array",
            "description" : "As medidas (colunas) que compõem um planejameto",
            "items" : {
              "$ref" : "#/components/schemas/measureForGet"
            }
          },
          "dimensions" : {
            "type" : "array",
            "description" : "As dimensões (linhas) que compõem um planejameto",
            "items" : {
              "$ref" : "#/components/schemas/dimensionForGet"
            }
          }
        }
      },
      "measureForGet" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "description" : "UUID da medida",
            "example" : "b11ceb95-60d1-4ac8-a945-faa552679b5d",
            "type" : "string"
          },
          "order" : {
            "type" : "integer",
            "description" : "Ordem (coluna) de exibição da medida",
            "example" : 1
          },
          "description" : {
            "type" : "string",
            "description" : "Descrição da medida, este texto será exibido no título da coluna referente a medida",
            "example" : "Valor"
          },
          "editable" : {
            "type" : "boolean",
            "description" : "Indica se a medida poderá ou não ser editada",
            "example" : true
          },
          "dataType" : {
            "type" : "object",
            "description" : "Data type da medida",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "UUID do data type",
                "example" : "d5efd76a-96d4-40f3-a0e3-88227eaea2d5"
              },
              "type" : {
                "type" : "string",
                "description" : "Tipo do data type",
                "example" : "Currency"
              }
            }
          },
          "numberFormat" : {
            "type" : "object",
            "description" : "Máscara de apresentação do objeto/número",
            "properties" : {
              "thousandSeparator" : {
                "type" : "string",
                "example" : "."
              },
              "decimalSeparator" : {
                "type" : "string",
                "example" : ","
              },
              "decimalDigits" : {
                "type" : "integer",
                "example" : 2
              },
              "symbol" : {
                "type" : "string",
                "example" : "R$"
              },
              "symbolPosition" : {
                "type" : "string",
                "example" : "LEFT"
              }
            }
          }
        }
      },
      "dimensionForGet" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "UUID da dimension",
            "example" : "f3ef5ee3-17d0-4280-9403-84d1f1de31e2"
          },
          "order" : {
            "type" : "integer",
            "description" : "Ordem (coluna) de exibição da medida",
            "example" : 0
          },
          "description" : {
            "type" : "string",
            "description" : "Descrição da dimensão, este texto será exibido no título da coluna referente a dimensão",
            "example" : "Customer"
          },
          "dataSetId" : {
            "type" : "string",
            "description" : "UUID do Data-Set",
            "example" : "abbcf1a9-11a5-487f-8b69-cd17d8d3a78e"
          },
          "associationId" : {
            "type" : "string",
            "description" : "UUID da Associação",
            "example" : "36183259-353c-44d6-b6d1-e6f52160316c"
          },
          "dataSetFieldId" : {
            "type" : "string",
            "description" : "UUID do atributo do Data-Set que determina o relacionamento",
            "example" : "dd503dd1-5409-4e6b-96b5-66ca103cadd9"
          }
        }
      },
      "forecastTreeForGet" : {
        "type" : "array",
        "description" : "A árvore de elementos que compõem um planejamento",
        "items" : {
          "$ref" : "#/components/schemas/treeNodeForGet"
        }
      },
      "treeNodeForGet" : {
        "type" : "object",
        "properties" : {
          "nodeId" : {
            "type" : "string",
            "description" : "UUID do Node da árvore",
            "example" : "9be2cf31-2d89-411b-b37d-cd53dfe61d39"
          },
          "dimensionDataId" : {
            "type" : "string",
            "description" : "UUID da DimensionData",
            "example" : "ee873fbe-fbd2-4002-8a3c-3dfa1769f6ca"
          },
          "dimensionData" : {
            "type" : "object",
            "properties" : {
              "start" : {
                "type" : "string",
                "example" : "397a81f9-ad55-4169-a7ab-62be1463821a"
              },
              "end" : {
                "type" : "string",
                "example" : "eb4ec783-7421-4959-a246-17ef38587062"
              },
              "relation" : {
                "type" : "string",
                "example" : "1785c8f6-e726-44ff-8db7-0a24be48a894"
              }
            }
          },
          "children" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/treeNodeChildrenForGet"
            }
          }
        }
      },
      "treeNodeChildrenForGet" : {
        "type" : "object",
        "properties" : {
          "nodeId" : {
            "type" : "string",
            "description" : "UUID do Node da árvore",
            "example" : "d43899e2-4253-4551-b35f-7e00633614ef"
          },
          "dimensionDataId" : {
            "type" : "string",
            "description" : "UUID da DimensionData",
            "example" : "ee873fbe-fbd2-4002-8a3c-3dfa1769f6ca"
          }
        }
      },
      "dimensionsDataForGet" : {
        "type" : "object",
        "properties" : {
          "dimensionId" : {
            "type" : "string",
            "description" : "UUID da dimension",
            "example" : "ee873fbe-fbd2-4002-8a3c-3dfa1769f6ca"
          },
          "contents" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/dimensionDataItemForGet"
            }
          }
        }
      },
      "dimensionDataItemForGet" : {
        "type" : "object",
        "properties" : {
          "dimensionDataId" : {
            "type" : "string",
            "example" : "ee873fbe-fbd2-4002-8a3c-3dfa1769f6ca"
          },
          "content" : {
            "type" : "string",
            "example" : "Filial Paraná"
          },
          "externalId" : {
            "type" : "string",
            "example" : 3
          }
        }
      },
      "measureForCreate" : {
        "type" : "object",
        "required" : [ "forecastId", "description", "numberFormat" ],
        "properties" : {
          "forecastId" : {
            "description" : "UUID do planejamento",
            "example" : "1785c8f6-e726-44ff-8db7-0a24be48a894",
            "type" : "string"
          },
          "order" : {
            "type" : "integer",
            "description" : "Ordem (coluna) de exibição da medida  - caso fique em branco ou seja informado 0 (zero) a medida será adicionada na última posição.",
            "example" : 0
          },
          "description" : {
            "type" : "string",
            "description" : "Descrição da medida, este texto será exibido no título da coluna referente a medida",
            "example" : "Valor"
          },
          "editable" : {
            "type" : "boolean",
            "description" : "Indica se a medida poderá ou não ser editada",
            "example" : true
          },
          "dataType" : {
            "type" : "object",
            "description" : "Data type da medida",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "UUID do data type",
                "example" : "d5efd76a-96d4-40f3-a0e3-88227eaea2d5"
              },
              "type" : {
                "type" : "string",
                "description" : "Tipo do data type",
                "example" : "Currency"
              }
            }
          },
          "numberFormat" : {
            "type" : "object",
            "required" : [ "thousandSeparator", "decimalDigitsMonetary", "decimalDigitsQuantity" ],
            "description" : "Máscara de apresentação do objeto/número",
            "properties" : {
              "thousandSeparator" : {
                "type" : "boolean",
                "example" : true
              },
              "decimalDigitsMonetary" : {
                "type" : "string",
                "example" : 2
              },
              "decimalDigitsQuantity" : {
                "type" : "string",
                "example" : 3
              },
              "symbol" : {
                "type" : "string",
                "example" : "R$"
              },
              "position" : {
                "type" : "string",
                "example" : "left"
              }
            }
          }
        }
      },
      "measureForUpdate" : {
        "type" : "object",
        "required" : [ "id", "forecastId", "description", "numberFormat" ],
        "properties" : {
          "id" : {
            "description" : "UUID da medida",
            "example" : "b11ceb95-60d1-4ac8-a945-faa552679b5d",
            "type" : "string"
          },
          "forecastId" : {
            "description" : "UUID do planejamento",
            "example" : "1785c8f6-e726-44ff-8db7-0a24be48a894",
            "type" : "string"
          },
          "order" : {
            "type" : "integer",
            "description" : "Ordem (coluna) de exibição da medida - caso fique em branco ou seja informado 0  (zero) a medida será adicionada na última posição.",
            "example" : 0
          },
          "description" : {
            "type" : "string",
            "description" : "Descrição da medida, este texto será exibido no título da coluna referente a medida",
            "example" : "Valor"
          },
          "editable" : {
            "type" : "boolean",
            "description" : "Indica se a medida poderá ou não ser editada",
            "example" : true
          },
          "dataType" : {
            "type" : "object",
            "description" : "Data type da medida",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "UUID do data type",
                "example" : "d5efd76a-96d4-40f3-a0e3-88227eaea2d5"
              },
              "type" : {
                "type" : "string",
                "description" : "Tipo do data type",
                "example" : "Currency"
              }
            }
          },
          "numberFormat" : {
            "type" : "object",
            "required" : [ "thousandSeparator", "decimalDigitsMonetary", "decimalDigitsQuantity" ],
            "description" : "Máscara de apresentação do objeto/número",
            "properties" : {
              "thousandSeparator" : {
                "type" : "boolean",
                "example" : true
              },
              "decimalDigitsMonetary" : {
                "type" : "string",
                "example" : 2
              },
              "decimalDigitsQuantity" : {
                "type" : "string",
                "example" : 3
              },
              "symbol" : {
                "type" : "string",
                "example" : "R$"
              },
              "position" : {
                "type" : "string",
                "example" : "left"
              }
            }
          }
        }
      },
      "contentForGet" : {
        "type" : "object",
        "properties" : {
          "nodeId" : {
            "type" : "string",
            "example" : "1785c8f6-e726-44ff-8db7-0a24be48a894"
          },
          "dimensionDataId" : {
            "type" : "string",
            "example" : "776c41de-755e-4df7-aa77-818899d70a0d"
          },
          "measures" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/contentValueForGet"
            }
          }
        }
      },
      "contentValueForGet" : {
        "type" : "object",
        "properties" : {
          "nodeId" : {
            "type" : "string",
            "example" : "a7664b47-6e94-495c-a71d-1f3dda175c18"
          },
          "value" : {
            "type" : "string",
            "example" : 19.71
          },
          "formattedValue" : {
            "type" : "string",
            "example" : "U$ 19.71"
          }
        }
      },
      "contentForCreate" : {
        "type" : "object",
        "required" : [ "nodeId", "measures" ],
        "properties" : {
          "nodeId" : {
            "type" : "string",
            "description" : "Nó referente ao conteúdo que está sendo adicionado",
            "example" : "1785c8f6-e726-44ff-8db7-0a24be48a894"
          },
          "dimensionDataId" : {
            "type" : "string",
            "description" : "Id da dimensão relacionada com a o content",
            "example" : "776c41de-755e-4df7-aa77-818899d70a0d"
          },
          "measures" : {
            "type" : "array",
            "description" : "Medidas",
            "items" : {
              "$ref" : "#/components/schemas/contentValueForCreate"
            }
          }
        }
      },
      "contentValueForCreate" : {
        "type" : "object",
        "properties" : {
          "nodeId" : {
            "type" : "string",
            "description" : "UUID da medida",
            "example" : "a7664b47-6e94-495c-a71d-1f3dda175c18"
          },
          "value" : {
            "type" : "string",
            "description" : "O valor que está no conteúdo.",
            "example" : 19.71
          }
        }
      },
      "dataSetForGet" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "UUID do Data-Set",
            "example" : "abbcf1a9-11a5-487f-8b69-cd17d8d3a78e"
          },
          "name" : {
            "type" : "string",
            "description" : "Nome do Data-Set",
            "example" : "Customer"
          },
          "description" : {
            "type" : "string",
            "description" : "Descrição do Data-Set",
            "example" : "Neste Data-Set estão disponíveis os dados dos clientes"
          },
          "alias" : {
            "type" : "string",
            "description" : "Nome alternativo do Data-Set",
            "example" : "Clientes"
          },
          "fields" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/dataSetFieldsForGet"
            }
          }
        }
      },
      "dataSetFieldsForGet" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "example" : "dd503dd1-5409-4e6b-96b5-66ca103cadd9"
          },
          "name" : {
            "type" : "string",
            "example" : "trading-name"
          },
          "type" : {
            "type" : "string",
            "example" : "string"
          }
        }
      },
      "dataSetAssociationsForGet" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "UUID do Association",
            "example" : "36183259-353c-44d6-b6d1-e6f52160316c"
          },
          "description" : {
            "type" : "string",
            "description" : "Descrição do Data-Set",
            "example" : "Filial_Cliente"
          },
          "relatedTo" : {
            "type" : "object",
            "required" : [ "dataSetId", "dataSetName" ],
            "description" : "Data-Set que está ligado com esta associação",
            "properties" : {
              "dataSetId" : {
                "type" : "string",
                "example" : "abbcf1a9-11a5-487f-8b69-cd17d8d3a78e"
              },
              "dataSetName" : {
                "type" : "string",
                "example" : "Customer"
              }
            }
          }
        }
      },
      "associationForGet" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "UUID do Association",
            "example" : "7034cefe-b07d-43f9-be3a-fe62981473a5"
          },
          "description" : {
            "type" : "string",
            "description" : "Descrição do Data-Set",
            "example" : "Filial_Cliente"
          },
          "active" : {
            "type" : "boolean",
            "description" : "Indica se a associação está ativa ou não",
            "example" : true
          },
          "relatedFrom" : {
            "$ref" : "#/components/schemas/dataSetForGetSubsidiary"
          },
          "relatedTo" : {
            "$ref" : "#/components/schemas/dataSetForGet"
          }
        }
      },
      "dataSetForGetSubsidiary" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "UUID do Data-Set",
            "example" : "d1fd941a-b2f5-4456-a9a3-319be4277220"
          },
          "name" : {
            "type" : "string",
            "description" : "Nome do Data-Set",
            "example" : "Subsidiary"
          },
          "description" : {
            "type" : "string",
            "description" : "Descrição do Data-Set",
            "example" : "Neste Data-Set estão disponíveis os dados das filiais"
          },
          "alias" : {
            "type" : "string",
            "description" : "Nome alternativo do Data-Set",
            "example" : "Filial"
          },
          "fields" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/dataSetFieldsForGetSubsidiary"
            }
          }
        }
      },
      "dataSetFieldsForGetSubsidiary" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "example" : "39e48bfc-67b0-4612-89e8-a5d28ac25e0f"
          },
          "name" : {
            "type" : "string",
            "example" : "trading-name"
          },
          "type" : {
            "type" : "string",
            "example" : "string"
          }
        }
      },
      "dimensionForCreateOrUpdate" : {
        "type" : "object",
        "required" : [ "description", "dataSetId", "associationId", "dataSetFieldId" ],
        "properties" : {
          "order" : {
            "type" : "integer",
            "description" : "Ordem (coluna) de exibição da dimensão - caso fique em branco ou seja informado 0 (zero) a dimensão será adicionada na última posição.",
            "example" : 0
          },
          "description" : {
            "type" : "string",
            "description" : "Descrição da dimensão, este texto será exibido no título da coluna referente a dimensão",
            "example" : "Customer"
          },
          "dataSetId" : {
            "type" : "string",
            "description" : "UUID do Data-Set",
            "example" : "abbcf1a9-11a5-487f-8b69-cd17d8d3a78e"
          },
          "associationId" : {
            "type" : "string",
            "description" : "UUID da Associação - para a primeira dimension esse atribuito não é obrigatório. Considere que se a order for zero não é necessária a association.",
            "example" : "36183259-353c-44d6-b6d1-e6f52160316c"
          },
          "dataSetFieldId" : {
            "type" : "string",
            "description" : "UUID do atributo do Data-Set que determina o relacionamento",
            "example" : "dd503dd1-5409-4e6b-96b5-66ca103cadd9"
          }
        }
      },
      "dimensionPositionForUpdateItems" : {
        "type" : "object",
        "required" : [ "dimensionId", "order" ],
        "properties" : {
          "dimensionId" : {
            "type" : "string",
            "description" : "UUID da dimension",
            "example" : "f3ef5ee3-17d0-4280-9403-84d1f1de31e2"
          },
          "order" : {
            "type" : "integer",
            "description" : "Ordem (coluna) de exibição da dimensão - caso fique em branco ou seja informado 0 (zero) a dimensão será adicionada na última posição.",
            "example" : 0
          }
        }
      },
      "measurePositionForUpdateItems" : {
        "type" : "object",
        "required" : [ "measureId", "order" ],
        "properties" : {
          "measureId" : {
            "type" : "string",
            "description" : "UUID da measure",
            "example" : "a7664b47-6e94-495c-a71d-1f3dda175c18"
          },
          "order" : {
            "type" : "integer",
            "description" : "Ordem (coluna) de exibição da medida - caso fique em branco ou seja informado 0  (zero) a dimensão será adicionada na última posição.",
            "example" : 0
          }
        }
      },
      "templateForGet" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "UUID do Template",
            "example" : "3b259b43-306b-4e41-99f4-cb3e45347d5b"
          },
          "description" : {
            "type" : "string",
            "description" : "Descrição do planejamento",
            "example" : "Template 666"
          },
          "measures" : {
            "type" : "array",
            "description" : "As medidas (colunas) que compõem um planejameto",
            "items" : {
              "$ref" : "#/components/schemas/measureForGet"
            }
          },
          "dimensions" : {
            "type" : "array",
            "description" : "As dimensões (linhas) que compõem um planejameto",
            "items" : {
              "$ref" : "#/components/schemas/dimensionForGet"
            }
          }
        }
      },
      "templateForCreateOrUpdate" : {
        "type" : "object",
        "properties" : {
          "forecastId" : {
            "type" : "string",
            "description" : "UUID do Template",
            "example" : "0841f08e-3b4b-48d8-b687-931143c8971e"
          },
          "description" : {
            "type" : "string",
            "description" : "Descrição do planejamento",
            "example" : "Template 666\\ xa"
          }
        }
      },
      "DataSetsDataForGet" : {
        "type" : "object",
        "properties" : {
          "discriminatorId" : {
            "type" : "string",
            "description" : "UUID do Data-Sets-Data",
            "example" : "487eeb42-b2c0-4047-9990-1c46cbe55b30"
          },
          "dataSetName" : {
            "type" : "string",
            "description" : "Nome do DataSet",
            "example" : "Company"
          },
          "contents" : {
            "type" : "array",
            "description" : "Referencia o conteúdo que faz parte do Data-Sets-Data",
            "items" : {
              "$ref" : "#/components/schemas/DataSetsDataContentForGet"
            }
          }
        }
      },
      "DataSetsDataContentForGet" : {
        "type" : "object",
        "properties" : {
          "dataSetFieldName" : {
            "type" : "string",
            "description" : "Nome do DataSetField",
            "example" : "id"
          },
          "value" : {
            "type" : "string",
            "description" : "Valor do DataSetField",
            "example" : "b9a33efc-c9fa-4d13-905c-ac4282f093a8"
          },
          "primary_key" : {
            "type" : "boolean",
            "description" : "Indica se o DataSetField faz parte ou não da primary key",
            "example" : true
          }
        }
      }
    }
  }
}