{
  "openapi" : "3.0.0",
  "info" : {
    "version" : "1.0.0",
    "title" : "SAML User deprovisioning and reprovisioning",
    "description" : "This api documents how to interface with the Whispli Tenant API's SAML user deprovisioning and reprovisioning endpoint.\n\nPlease note:\n- this documentation is provided to all Whispli clients and as such there may be an instance in which 2 of our clients are testing this documentation at the same time.\n- a request to Whispli must be made to acquire your unique API Token\n- a user that is deprovisioned cannot be deprovisioned again as the user is no-longer searchable via it's samlId after deprovisioning. (Reprovision the user before attempting to deprovision again)\n- a user that has already been reprovisioned can be reprovisioend again as it's samlId remains searchable\n\nThe default examples provided are fully functioning examples and successfully deprovision and reprovision a user with the email \"ruben.funai+saml-docs@whispli.com\" on the ruben.whispli.com tenant.\n\nFeel free to change the default examples to test for negative scenarios.\n"
  },
  "paths" : {
    "/auth/saml2/users/{samlId}/inactive" : {
      "post" : {
        "tags" : [ "Auth" ],
        "summary" : "Deativate user",
        "description" : "Deactivate user",
        "operationId" : "Deactivate User",
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "required" : true,
          "description" : "The API Token provided by Whispli to access this endpoint.",
          "schema" : {
            "type" : "string",
            "example" : "f936l9Zcb556IqXqBeNE6AheeESBIZz3vZiJZ76muVZaFmjqrE8eUZH0Dn2cE"
          }
        }, {
          "name" : "samlId",
          "in" : "path",
          "required" : true,
          "description" : "The IDP's reference ID sent through on each SAMLResponse created by the IDP.",
          "schema" : {
            "type" : "string",
            "example" : "sso1234"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Sucessfully deactivated user",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "404" : {
            "description" : "User samlId is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Auth" ],
        "summary" : "Activate user",
        "description" : "Make the user active",
        "operationId" : "ActivateUser",
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "required" : true,
          "description" : "The API Token provided by Whispli to access this endpoint.",
          "schema" : {
            "type" : "string",
            "example" : "f936l9Zcb556IqXqBeNE6AheeESBIZz3vZiJZ76muVZaFmjqrE8eUZH0Dn2cE"
          }
        }, {
          "name" : "samlId",
          "in" : "path",
          "required" : true,
          "description" : "The IDP's reference ID sent through on each SAMLResponse created by the IDP.",
          "schema" : {
            "type" : "string",
            "example" : "sso1234"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Make user active",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActivateUser"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "404" : {
            "description" : "User samlId is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ActivateUser" : {
        "properties" : {
          "data" : {
            "properties" : {
              "id" : {
                "type" : "string",
                "example" : "9f1a0644-9cde-11e8-b0b0-0800273b4cc5"
              },
              "first_name" : {
                "type" : "string",
                "example" : "Gordon"
              },
              "last_name" : {
                "type" : "string",
                "example" : "Donnelly"
              },
              "email" : {
                "type" : "string",
                "example" : "hfay@example.org"
              },
              "timezone" : {
                "type" : "string",
                "example" : "Australia/Sydney"
              },
              "deleted_at" : {
                "type" : "string",
                "example" : "2018-08-10T21:27:58+00:00"
              }
            }
          }
        }
      }
    }
  },
  "servers" : [ {
    "description" : "Full Whispli endpoint example",
    "url" : "https://ruben.whispli.com/api-au"
  } ]
}