{
  "openapi" : "3.0.0",
  "info" : {
    "description" : "API de predição Milênio Bus para Radartona\n",
    "version" : "1.0.0-oas3",
    "title" : "API Milênio Bus Radartona - Predição",
    "contact" : {
      "email" : "willian.chan@mileniobus.com.br"
    },
    "license" : {
      "name" : "GNU GPL v3.0",
      "url" : "http://www.gnu.org/licenses/gpl-3.0.html"
    }
  },
  "tags" : [ {
    "name" : "Predição",
    "description" : "Rotas de predição de dados"
  } ],
  "paths" : {
    "/predict" : {
      "get" : {
        "tags" : [ "Predição" ],
        "summary" : "Obtem predição de velocidade baseado em radar, horario e clima",
        "operationId" : "predict",
        "parameters" : [ {
          "in" : "query",
          "name" : "id_radar",
          "description" : "identificação do radar",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "in" : "query",
          "name" : "ano",
          "description" : "ano de predição",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "in" : "query",
          "name" : "mes",
          "description" : "mes de predição",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "in" : "query",
          "name" : "dia",
          "description" : "dia de predição",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "in" : "query",
          "name" : "hora",
          "description" : "hora de predição",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "in" : "query",
          "name" : "minuto",
          "description" : "minuto de predição",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "in" : "query",
          "name" : "velocidade_maxima",
          "description" : "velocidade maxima permitida na via do radar",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "in" : "query",
          "name" : "chuva",
          "description" : "Booleano se esta chovendo",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/ApiResponse"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Invalid input"
          }
        }
      }
    }
  },
  "servers" : [ {
    "url" : "http://ec2-52-90-7-220.compute-1.amazonaws.com/"
  } ],
  "components" : {
    "schemas" : {
      "ApiResponse" : {
        "type" : "object",
        "properties" : {
          "velocidade" : {
            "type" : "number",
            "example" : 47
          }
        }
      }
    }
  }
}