{
  "openapi" : "3.0.0",
  "servers" : [ {
    "description" : "Wowworks accounting API",
    "url" : "https://api.wowworks.app/1.0.0"
  }, {
    "description" : "SwaggerHub API Auto Mocking",
    "url" : "https://virtserver.swaggerhub.com/wowworks/acc/1.0.0"
  } ],
  "info" : {
    "description" : "Wowworks accounting API",
    "version" : "1.0.0",
    "title" : "Wowworks accounting API",
    "contact" : {
      "email" : "aershov@wowworks.ru"
    }
  },
  "components" : {
    "securitySchemes" : {
      "bearerAuth" : {
        "type" : "http",
        "scheme" : "bearer"
      }
    },
    "responses" : {
      "UnauthorizedError" : {
        "description" : "Access token is missing or invalid"
      },
      "pdfFile" : {
        "description" : "pdf file",
        "content" : {
          "application/pdf" : {
            "schema" : {
              "type" : "string",
              "format" : "binary"
            }
          }
        }
      },
      "paymentLink" : {
        "description" : "paymentLink",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/paymentLink"
            }
          }
        }
      }
    },
    "schemas" : {
      "countryID" : {
        "type" : "string",
        "enum" : [ "ru", "by", "de" ]
      },
      "itemID" : {
        "type" : "integer",
        "format" : "int32",
        "minimum" : 1
      },
      "paymentLink" : {
        "type" : "object",
        "properties" : {
          "link" : {
            "type" : "string"
          }
        }
      }
    }
  },
  "security" : [ {
    "bearerAuth" : [ ]
  } ],
  "paths" : {
    "/proposal" : {
      "get" : {
        "summary" : "get proposal for task",
        "operationId" : "getProposal",
        "description" : "get proposal for task",
        "parameters" : [ {
          "in" : "query",
          "name" : "countryId",
          "description" : "Country ID",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/countryID"
          }
        }, {
          "in" : "query",
          "name" : "taskId",
          "description" : "Task ID",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/itemID"
          }
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/pdfFile"
          },
          "401" : {
            "$ref" : "#/components/responses/UnauthorizedError"
          },
          "500" : {
            "description" : "server error"
          }
        }
      }
    },
    "/prepayment-invoice" : {
      "get" : {
        "summary" : "get prepayment invoice",
        "operationId" : "getPrepaymentInvoice",
        "description" : "get prepayment invoice",
        "parameters" : [ {
          "in" : "query",
          "name" : "countryId",
          "description" : "Country ID",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/countryID"
          }
        }, {
          "in" : "query",
          "name" : "invoiceId",
          "description" : "Invoice ID",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/itemID"
          }
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/pdfFile"
          },
          "401" : {
            "$ref" : "#/components/responses/UnauthorizedError"
          },
          "500" : {
            "description" : "server error"
          }
        }
      }
    },
    "/task-payment-link" : {
      "get" : {
        "summary" : "get task payment link",
        "operationId" : "getTaskPaymentLink",
        "description" : "get task payment link",
        "parameters" : [ {
          "in" : "query",
          "name" : "countryId",
          "description" : "Country ID",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/countryID"
          }
        }, {
          "in" : "query",
          "name" : "taskId",
          "description" : "Task ID",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/itemID"
          }
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/paymentLink"
          },
          "401" : {
            "$ref" : "#/components/responses/UnauthorizedError"
          },
          "500" : {
            "description" : "server error"
          }
        }
      }
    }
  }
}