{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Mainframe Cloud File Service",
    "description" : "Mainframe Cloud API Services provide a uniform method for accessing a range of mainframe data sources via a high-performance data access layer that interfaces natively with z/OS assets in real-time.\n\nAvailable functions in the File Service include READ (for data unloads), LIST (for data discovery), and CMD (for executing File commands).\n\nThe Mainframe Cloud File Service empowers a range of data-centric activities, including data integration, data migration, business intelligence, analytics, and open banking.\n***\n## Example Apps\n\n* [Start Fiddling](https://www.mainframecloudplatform.com/rta1/examples/QFile%20JSFIDDLE.html) - Use JSFiddle to work with sample code for mainframe datasets.\n\n* [Dataset List](https://www.mainframecloudplatform.com/rta1/examples/QFile%20--%20Dataset%20List.html) - Display a filtered list of mainframe datasets.\n\n* [Dataset Unload](https://www.mainframecloudplatform.com/rta1/examples/QFile%20--%20Dataset%20Unload.html) - Read and display a mainframe file (dataset).\n***\n",
    "contact" : {
      "email" : "support@mainframecloud.com.au"
    },
    "version" : "0.2"
  },
  "servers" : [ {
    "url" : "https://www.mainframecloudplatform.com/rta1/rest/file",
    "description" : "Mainframe Cloud Sandbox Server"
  } ],
  "tags" : [ {
    "name" : "read",
    "description" : "Mainframe Cloud File Read Service"
  }, {
    "name" : "list",
    "description" : "Mainframe Cloud File List Service"
  }, {
    "name" : "cmd",
    "description" : "Mainframe Cloud File Command Service"
  } ],
  "paths" : {
    "/read" : {
      "post" : {
        "tags" : [ "read" ],
        "requestBody" : {
          "description" : "The Read service returns the content of a mainframe file (PDS member or SEQ dataset) as specified in the JSON input request. The result is returned in the JSON response object.\n\n[Click here](https://www.mainframecloudplatform.com/rta1/examples/QFile%20JSFIDDLE.html) for some examples.\n***",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/read_request"
              },
              "examples" : {
                "Display Mainframe Dataset" : {
                  "value" : "{\n    \"in\": \"MSP.VSAM.DATA(REPRO1)\"\n}"
                },
                "Transfer Mainframe Dataset" : {
                  "value" : "{\n    \"in\": \"MSP.VSAM.DATA(REPRO1)\",\n    \"out\": {\n        \"target\": {\n            \"folder\": \"sandbox\"\n        }\n    }\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "File read service response object.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/read_response"
                },
                "examples" : {
                  "Display Mainframe Dataset" : {
                    "value" : "{\n    \"rc\": 200,\n    \"agentVersion\": \"ON-DEMAND\",\n    \"respobj\": \"cmdresp\",\n    \"cmdresp\": {\n        \"data\": [\n            \"10010TOM  USR400\",\n            \"10020MARK USR300\",\n            \"10030MARK USR200\",\n            \"10040BILL USR100\",\n            \"10060HARRYUSR405\",\n            \"10070JILL USR404\"\n        ],\n        \"file\": \"'MSP.VSAM.DATA(REPRO1)'\"\n    }\n}"
                  },
                  "Transfer Mainframe Dataset" : {
                    "value" : "{\n    \"rc\": 200,\n    \"agentVersion\": \"ON-DEMAND\",\n    \"respobj\": \"cmdresp\",\n    \"cmdresp\": {\n        \"file\": \"'MSP.VSAM.DATA(REPRO1)'\",\n        \"target\": {\n            \"folder\": \"/cust/zizisoftware/home/webapps/ws/uploads/\",\n            \"file\": \"https://www.mainframecloudplatform.com/ws/uploads/MSP.VSAM.DATA_REPRO1_.m03d27.h00m09.s25m652.txt\"\n        },\n        \"message\": [\n            \"TRANSFER COMPLETE. Total transferred = 1 KB. Elapsed time = 160 ms\"\n        ]\n    }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/list" : {
      "post" : {
        "tags" : [ "list" ],
        "requestBody" : {
          "description" : "The List service returns a dataset list or dataset information, according to the criteria specified in the JSON input request. The result, dataset list and attributes, is returned in the JSON response object.\n\n[Click here](https://www.mainframecloudplatform.com/rta1/examples/QFile%20JSFIDDLE.html) for some examples.\n***",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/list_request"
              },
              "examples" : {
                "Get Dataset List" : {
                  "value" : "{\n    \"filter\": {\n        \"prefix\": \"MSP.VSAM\"\n    }\n}"
                },
                "Get Dataset Information" : {
                  "value" : "{\n    \"in\": \"MSP.VSAM.DATA\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "File list service response object.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/list_response"
                },
                "examples" : {
                  "Get Dataset List" : {
                    "value" : "{\n    \"rc\": 200,\n    \"agentVersion\": \"ON-DEMAND\",\n    \"respobj\": \"cmdresp\",\n    \"cmdresp\": {\n        \"data\": [\n            {\n                \"name\": \"MSP.VSAM.COPYBOOK\",\n                \"type\": \"NONVSAM\",\n                \"vsam\": false\n            },\n            {\n                \"name\": \"MSP.VSAM.DATA\",\n                \"type\": \"NONVSAM\",\n                \"vsam\": false\n            },\n            {\n                \"name\": \"MSP.VSAM.DATA80\",\n                \"type\": \"NONVSAM\",\n                \"vsam\": false\n            },\n            {\n                \"name\": \"MSP.VSAM.EMP\",\n                \"type\": \"CLUSTER\",\n                \"vsam\": true\n            },\n            {\n                \"name\": \"MSP.VSAM.EMP.DATA\",\n                \"type\": \"DATA\",\n                \"vsam\": true\n            },\n            {\n                \"name\": \"MSP.VSAM.EMP.INDEX\",\n                \"type\": \"INDEX\",\n                \"vsam\": true\n            },\n            {\n                \"name\": \"MSP.VSAM.ESDS1\",\n                \"type\": \"CLUSTER\",\n                \"vsam\": true\n            },\n            {\n                \"name\": \"MSP.VSAM.ESDS1.DATA\",\n                \"type\": \"DATA\",\n                \"vsam\": true\n            },\n            {\n                \"name\": \"MSP.VSAM.JCL\",\n                \"type\": \"NONVSAM\",\n                \"vsam\": false\n            },\n            {\n                \"name\": \"MSP.VSAM.KSDS1\",\n                \"type\": \"CLUSTER\",\n                \"vsam\": true\n            },\n            {\n                \"name\": \"MSP.VSAM.KSDS1.DATA\",\n                \"type\": \"DATA\",\n                \"vsam\": true\n            },\n            {\n                \"name\": \"MSP.VSAM.KSDS1.INDEX\",\n                \"type\": \"INDEX\",\n                \"vsam\": true\n            },\n            {\n                \"name\": \"MSP.VSAM.AIX1\",\n                \"type\": \"AIX\",\n                \"vsam\": true\n            },\n            {\n                \"name\": \"MSP.VSAM.AIX1.DATA\",\n                \"type\": \"DATA\",\n                \"vsam\": true\n            },\n            {\n                \"name\": \"MSP.VSAM.AIX1.INDEX\",\n                \"type\": \"INDEX\",\n                \"vsam\": true\n            },\n            {\n                \"name\": \"MSP.VSAM.AIX2\",\n                \"type\": \"AIX\",\n                \"vsam\": true\n            },\n            {\n                \"name\": \"MSP.VSAM.AIX2.DATA\",\n                \"type\": \"DATA\",\n                \"vsam\": true\n            },\n            {\n                \"name\": \"MSP.VSAM.AIX2.INDEX\",\n                \"type\": \"INDEX\",\n                \"vsam\": true\n            },\n            {\n                \"name\": \"MSP.VSAM.KSDS1K\",\n                \"type\": \"CLUSTER\",\n                \"vsam\": true\n            },\n            {\n                \"name\": \"MSP.VSAM.KSDS1K.DATA\",\n                \"type\": \"DATA\",\n                \"vsam\": true\n            },\n            {\n                \"name\": \"MSP.VSAM.KSDS1K.INDEX\",\n                \"type\": \"INDEX\",\n                \"vsam\": true\n            },\n            {\n                \"name\": \"MSP.VSAM.PATH1\",\n                \"type\": \"PATH\",\n                \"vsam\": true\n            },\n            {\n                \"name\": \"MSP.VSAM.PATH2\",\n                \"type\": \"PATH\",\n                \"vsam\": true\n            }\n        ]\n    }\n}"
                  },
                  "Get Dataset Information" : {
                    "value" : "{\n    \"rc\": 200,\n    \"agentVersion\": \"ON-DEMAND\",\n    \"vsam\": false,\n    \"respobj\": \"cmdresp\",\n    \"cmdresp\": {\n        \"dataset\": \"MSP.VSAM.DATA\",\n        \"recfm\": \"FB\",\n        \"lrecl\": 16,\n        \"blksize\": 27984,\n        \"dsorg\": \"PO\",\n        \"volumes\": [\n            \"WORK07\"\n        ],\n        \"units\": \"TRACK\",\n        \"primary\": 1,\n        \"secondary\": 0,\n        \"allocated\": 1,\n        \"used\": 1,\n        \"extents\": 1,\n        \"dir_blks\": 1,\n        \"used_dir\": 1,\n        \"members\": [\n            \"DEFCL\",\n            \"REPRO1\",\n            \"REPRO1K\"\n        ],\n        \"members_total\": 3\n    }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cmd" : {
      "post" : {
        "tags" : [ "cmd" ],
        "requestBody" : {
          "description" : "The CMD service executes the File command specified in the JSON input request and returns the result in the JSON response object. Use this service for performing updates, and to create or delete a mainframe dataset.\n***",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/cmd_request"
              },
              "examples" : {
                "Update Mainframe Dataset (SEQ Dataset)" : {
                  "value" : "{\n    \"cmd\": \"write\",\n    \"dsn\": \"ADCDB.TEST.OUT9\",\n    \"data\": [\n        \"test line 1\",\n        \"test line 2\",\n        \"test line 3\",\n        \"test line 4\",\n        \"test line 5\",\n        \"test line 6\",\n        \"test line 7\",\n        \"test line 8\",\n        \"test line 9\",\n        \"test line 10\",\n        \"test line 11\",\n        \"test line 12\",\n        \"test line 13\",\n        \"test line 14\",\n        \"test line 15\",\n        \"test line 16\",\n        \"test line 17\",\n        \"test line 18\",\n        \"test line 19\",\n        \"test line 20\"\n    ]\n}"
                },
                "Update Mainframe Dataset (PDS Member)" : {
                  "value" : "{\n    \"cmd\": \"write\",\n    \"dsn\": \"ADCDB.PDS.CNTL(TEST1)\",\n    \"data\": [\n        \"test line 1\",\n        \"test line 2\",\n        \"test line 3\",\n        \"test line 4\",\n        \"test line 5\",\n        \"test line 6\",\n        \"test line 7\",\n        \"test line 8\",\n        \"test line 9\",\n        \"test line 10\",\n        \"test line 11\",\n        \"test line 12\",\n        \"test line 13\",\n        \"test line 14\",\n        \"test line 15\",\n        \"test line 16\",\n        \"test line 17\",\n        \"test line 18\",\n        \"test line 19\",\n        \"test line 20\"\n    ]\n}"
                },
                "Create Mainframe Dataset" : {
                  "value" : "{\n    \"cmd\": \"create\",\n    \"dsn\": \"ADCDB.TEST.OUT9\",\n    \"likedsn\": \"ADCDB.TEST.OUT1\"\n}"
                },
                "Delete Mainframe Dataset" : {
                  "value" : "{\n    \"cmd\": \"delete\",\n    \"dsn\": \"ADCDB.TEST.OUT9\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "File command service response object.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cmd_response"
                },
                "examples" : {
                  "Update Mainframe Dataset (SEQ Dataset)" : {
                    "value" : "{\n    \"rc\": 200,\n    \"agentVersion\": \"ON-DEMAND\",\n    \"respobj\": \"cmdresp\",\n    \"cmdresp\": {\n        \"message\": [\n            \"Data successfully saved to 'ADCDB.TEST.OUT9'.\" \n        ]\n    }\n}"
                  },
                  "Update Mainframe Dataset (PDS Member)" : {
                    "value" : "{\n    \"rc\": 200,\n    \"agentVersion\": \"ON-DEMAND\",\n    \"respobj\": \"cmdresp\",\n    \"cmdresp\": {\n        \"message\": [\n            \"Data successfully saved to 'ADCDB.PDS.CNTL(TEST1)'.\" \n        ]\n    }\n}"
                  },
                  "Create Mainframe Dataset" : {
                    "value" : "{\n    \"rc\": 200,\n    \"agentVersion\": \"ON-DEMAND\",\n    \"respobj\": \"cmdresp\",\n    \"cmdresp\": {\n        \"message\": [\n            \"ALLOCATE DATASET('ADCDB.TEST.OUT9') NEW LIKE('ADCDB.TEST.OUT1') completed with return code: 0\" \n        ]\n    }\n}"
                  },
                  "Delete Mainframe Dataset" : {
                    "value" : "{\n    \"rc\": 200,\n    \"agentVersion\": \"ON-DEMAND\",\n    \"respobj\": \"cmdresp\",\n    \"cmdresp\": {\n        \"message\": [\n            \"DELETE 'ADCDB.TEST.OUT9' completed with return code: 0\" \n        ]\n    }\n}"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "read_request" : {
        "type" : "object",
        "required" : [ "in" ],
        "properties" : {
          "in" : {
            "description" : "The dataset name to read.",
            "type" : "string"
          },
          "out" : {
            "type" : "object",
            "properties" : {
              "target" : {
                "type" : "object",
                "properties" : {
                  "folder" : {
                    "description" : "The target folder destination. If specified, the data is saved to the target folder as a text file; otherwise, the data is returned in the JSON response object. \n\nNote: The Mainframe Cloud Sandbox endpoint only allows target folder 'sandbox'.",
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      },
      "read_response" : {
        "type" : "object",
        "properties" : {
          "cmdresp" : {
            "type" : "object",
            "properties" : {
              "data" : {
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "file" : {
                "type" : "string"
              },
              "target" : {
                "description" : "__Returned for requests where target is specified.__",
                "type" : "object",
                "properties" : {
                  "folder" : {
                    "type" : "string"
                  },
                  "file" : {
                    "type" : "string"
                  }
                }
              },
              "message" : {
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "list_request" : {
        "type" : "object",
        "properties" : {
          "in" : {
            "description" : "Optional for file dataset information (see examples for details).  Overrides filter.prefix request field.",
            "type" : "string"
          },
          "filter" : {
            "description" : "__Optional for file dataset list (see _Get Dataset List_ example).__",
            "type" : "object",
            "properties" : {
              "prefix" : {
                "description" : "The required syntax for the prefix field is as per the TSO LISTCAT command LEVEL operand; [click here](https://www.ibm.com/support/knowledgecenter/en/SSLTBW_2.1.0/com.ibm.zos.v2r1.ikjc500/listcat.htm) for details.",
                "type" : "string"
              }
            }
          }
        }
      },
      "list_response" : {
        "type" : "object",
        "properties" : {
          "cmdresp" : {
            "description" : "__For requests where _filter.prefix_ is specified, this returns a dataset list described in the _data_ object array below.__ \n\n__For requests where the _in_ field is populated (input dataset), this returns dataset information for the request input dataset. This is the result of the IBM z/OS TSO LISTDS command with MEMBERS operand, [click here](https://www.ibm.com/support/knowledgecenter/en/SSLTBW_2.1.0/com.ibm.zos.v2r1.ikjc500/listds.htm) for details.__",
            "type" : "object",
            "properties" : {
              "data" : {
                "description" : "Returned for requests where _filter.prefix_ is specified, this is an object array of fields (name, type, vsam) described below.",
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "name" : {
                      "description" : "The listed dataset name.",
                      "type" : "string"
                    },
                    "type" : {
                      "description" : "The dataset type, examples include; CLUSTER, DATA, INDEX, AIX, PATH, PAGESPACE, NONVSAM, GDG.",
                      "type" : "string"
                    },
                    "vsam" : {
                      "description" : "The _vsam_ field value will be TRUE if the listed dataset is a VSAM file; otherwise, the value will be false.",
                      "type" : "boolean"
                    }
                  }
                }
              },
              "dataset" : {
                "description" : "For requests where input dataset is specified.",
                "type" : "string"
              },
              "recfm" : {
                "description" : "For requests where input dataset is specified.  The record format.",
                "type" : "string"
              },
              "dsorg" : {
                "description" : "For requests where input dataset is specified.  The dataset organization, indicated as follows; PS for sequential, PO for partitioned, IS for indexed sequential, DA for direct access, ** for unspecified, ?? for any other specification.",
                "type" : "string"
              },
              "extents" : {
                "description" : "For requests where input dataset is specified.  Space allocation information.",
                "type" : "integer"
              },
              "blksize" : {
                "description" : "For requests where input dataset is specified.  The block size.",
                "type" : "integer"
              },
              "volumes" : {
                "description" : "For requests where input dataset is specified.  DASD on which the dataset resides.",
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "units" : {
                "description" : "For requests where input dataset is specified.  Space allocation information.",
                "type" : "string"
              },
              "used" : {
                "description" : "For requests where input dataset is specified.  Space allocation information.",
                "type" : "integer"
              },
              "lrecl" : {
                "description" : "For requests where input dataset is specified.  The logical record length.",
                "type" : "integer"
              },
              "secondary" : {
                "description" : "For requests where input dataset is specified.  Space allocation information.",
                "type" : "integer"
              },
              "dir_blks" : {
                "description" : "For requests where input dataset is specified.  Directory information for members of partitioned datasets.",
                "type" : "integer"
              },
              "used_dir" : {
                "description" : "For requests where input dataset is specified.  Directory information for members of partitioned datasets.",
                "type" : "integer"
              },
              "members" : {
                "description" : "For requests where input dataset is specified.  The list of members in a partitioned dataset.",
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "members_total" : {
                "description" : "For requests where input dataset is specified.  The number of members in a partitioned dataset.",
                "type" : "integer"
              },
              "primary" : {
                "description" : "For requests where input dataset is specified.  Space allocation information.",
                "type" : "integer"
              },
              "allocated" : {
                "description" : "For requests where input dataset is specified.  Space allocation information.",
                "type" : "integer"
              },
              "message" : {
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "cmd_request" : {
        "type" : "object",
        "required" : [ "cmd" ],
        "properties" : {
          "cmd" : {
            "description" : "The dataset command to be executed.  Supported commands for the File web service include:\n\n_create_\n- Create new dataset (_dsn_) with attributes from the existing model dataset specified in _likedsn_.\n\n_delete_\n- Delete dataset (_dsn_).\n\n_write_\n- Update dataset (_dsn_) with the data specified in the _data_ request object field.",
            "type" : "string"
          },
          "dsn" : {
            "description" : "The dataset name to create, delete, or update.",
            "type" : "string"
          },
          "likedsn" : {
            "description" : "The model dataset whose attributes are to be used for the create command.",
            "type" : "string"
          },
          "data" : {
            "description" : "The data to be written to the target dataset for the write command.",
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "cmd_response" : {
        "type" : "object",
        "properties" : {
          "cmdresp" : {
            "type" : "object",
            "properties" : {
              "message" : {
                "description" : "Contains any messages pertaining to the dataset command.",
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    }
  }
}