{"openapi":"3.0.0","info":{"description":"The following endpoints allows you to access listings, rooms, rate plans, pricing and availability information within Airhost. It also allows you to create orders and cancel orders. <br/><br/> All API requests must have x-api-key in the header. <br/> <code>x-api-key: Airhost API Key or UUID</code> <br/><br/> All <b>POST</b> requests must have Content-Type in the header. <br/> <code>Content-Type: application/json</code> <br/><br/><b>Please contact Airhost to get your key.<br/> You will need to purchase and activate Booking Engine license to enable Booking Engine API.</b> <br/><br/> API URL: <code><em>https://api.airhost.co/v2</em></code><br/>TEST API KEY: <code><em>31ae3736-3e7e-4394-a4ef-cafc7fb9a1c5</em></code>","version":"1.0.0-oas3","title":"Airhost Booking Engine API v2.0","termsOfService":"https://cloud.airhost.co","contact":{"name":"Us","email":"support@airhost.co"},"license":{"name":"","url":"https://cloud.airhost.co"}},"paths":{"/listings":{"get":{"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetListingsResponse"}}}}},"security":[{"api_key":[]}]}},"/listings/{id}":{"get":{"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetListingResponse"}}}}},"security":[{"api_key":[]}]}},"/orders":{"post":{"parameters":[{"name":"Content-Type","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostOrdersResponse"}}}}},"security":[{"api_key":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostOrdersBody"}}},"required":true}}},"/orders/{id}/cancel":{"post":{"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Content-Type","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostOrdersResponse"}}}}},"security":[{"api_key":[]}]}},"/rooms/{id}/price_availability":{"get":{"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPriceAvailabilityResponse"}}}}},"security":[{"api_key":[]}]}},"/rooms/{id}/rate_plans":{"get":{"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRatePlansResponse"}}}}},"security":[{"api_key":[]}]}}},"servers":[{"url":"https://api.airhost.co/v2"}],"components":{"securitySchemes":{"api_key":{"type":"apiKey","name":"x-api-key","in":"header"}},"schemas":{"GetListingsResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"listings":{"type":"array","items":{"type":"object","properties":{"listing_id":{"type":"number"},"name":{"type":"string"},"summary":{"type":"object","properties":{"en":{"type":"string"}}},"updated_at":{"type":"number"}}}}}},"meta":{"$ref":"#/components/schemas/Meta"}}},"GetListingResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"listing_id":{"type":"number"},"name":{"type":"string"},"photos":{"type":"array","items":{"type":"object","properties":{"picture_id":{"type":"number"},"url":{"type":"string"},"position":{"type":"number"},"caption":{"type":"string"}}}},"address":{"type":"object","properties":{"city":{"type":"string"},"state":{"type":"string"},"country":{"type":"string"},"address1":{"type":"string"},"location":{"type":"object","properties":{"lat":{"type":"number"},"lng":{"type":"number"}}},"postal_code":{"type":"string"},"state_short":{"type":"string"},"country_short":{"type":"string"},"formatted_address":{"type":"string"}}},"currency":{"type":"string"},"facilities":{"type":"array","items":{"type":"string"}},"summary":{"type":"object","properties":{"en":{"type":"string"}}},"description":{"type":"object","properties":{"en":{"type":"string"}}},"property_type":{"type":"string"},"rooms":{"type":"array","items":{"type":"object","properties":{"room_id":{"type":"number"},"name":{"type":"string"},"photos":{"type":"array","items":{"type":"object","properties":{"picture_id":{"type":"number"},"url":{"type":"string"},"position":{"type":"number"},"caption":{"type":"string"}}}},"accommodates":{"type":"number"},"amenities":{"type":"array","items":{"type":"string"}},"summary":{"type":"object","properties":{"en":{"type":"string"}}},"description":{"type":"object","properties":{"en":{"type":"string"}}},"base_price":{"type":"number"},"cleaning_fee":{"type":"number"}}}}}},"meta":{"$ref":"#/components/schemas/Meta"}}},"PostOrdersBody":{"type":"object","properties":{"data":{"type":"object","properties":{"booked_at":{"type":"string"},"currency":{"type":"string"},"item_count":{"type":"number"},"commission_total":{"type":"number"},"state":{"type":"string"},"reservation_site":{"type":"string"},"user":{"type":"object","properties":{"address":{"type":"string"},"city":{"type":"string"},"company":{"type":"string"},"email":{"type":"string"},"first_name":{"type":"string"},"last_name":{"type":"string"},"remarks":{"type":"string"},"zip":{"type":"string"},"phone":{"type":"string"},"locale":{"type":"string"},"country":{"type":"string"}}},"ota_paid_amount":{"type":"number"},"line_items":{"type":"array","items":{"type":"object","properties":{"starts_at":{"type":"string"},"ends_at":{"type":"string"},"duration":{"type":"number"},"room_id":{"type":"number"},"rate_plan_id":{"type":"number"},"name":{"type":"string"},"state":{"type":"string"},"preferences":{"type":"object","properties":{"adult":{"type":"number"},"user":{"type":"object","properties":{"email":{"type":"string"},"first_name":{"type":"string"},"last_name":{"type":"string"},"phone":{"type":"string"}}},"remarks":{"type":"string"},"per_unit_rates":{"type":"array","items":{"type":"object","properties":{"unit":{"type":"string"},"key":{"type":"string"},"name":{"type":"string"},"date":{"type":"string"},"fee_type":{"type":"string"},"amount":{"type":"number"},"description":{"type":"string"},"extra_person_fee":{"type":"number"},"hotel_fee":{"type":"number"}}}}}},"adjustments":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"amount":{"type":"number"},"included":{"type":"boolean"},"state":{"type":"string"}}}},"total":{"type":"number"}}}}}}}},"PostOrdersResponse":{"type":"object","properties":{"success":{"type":"string"},"data":{"type":"object","properties":{"airhost_order_id":{"type":"number"},"user_order_id":{"type":"string"}}},"error":{"type":"object"},"meta":{"$ref":"#/components/schemas/Meta"}}},"GetPriceAvailabilityResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"room_id":{"type":"number"},"price_availability":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"allotment":{"type":"number"},"rate_plans":{"type":"array","items":{"type":"object","properties":{"rate_plan_id":{"type":"number"},"price":{"type":"number"},"closed":{"type":"string"},"min_stay":{"type":"number"},"max_stay":{"type":"number"}}}}}}}}},"meta":{"$ref":"#/components/schemas/Meta"}}},"GetRatePlansResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"room_id":{"type":"number"},"rate_plans":{"type":"array","items":{"type":"object","properties":{"rate_plan_id":{"type":"number"},"name":{"type":"string"},"weekly_price":{"type":"object","properties":{"monday":{"type":"number"},"tuesday":{"type":"number"},"wednesday":{"type":"number"},"thursday":{"type":"number"},"friday":{"type":"number"},"saturday":{"type":"number"},"sunday":{"type":"number"}}},"guests_included":{"type":"number"},"extra_guest_price":{"type":"number"},"min_stay":{"type":"number"},"max_stay":{"type":"number"},"weekly_discount":{"type":"number"},"monthly_discount":{"type":"number"},"rules":{"type":"array","items":{"type":"object"}}}}}}},"meta":{"$ref":"#/components/schemas/Meta"}}},"Meta":{"type":"object","properties":{"ruid":{"type":"string"}}}}}}