{"openapi":"3.0.0","servers":[{"url":"http://sit.api.mymobi.gift/v2"},{"url":"http://api.gift/v2"},{"url":"http://uat.api.mymobi.gift/v2"},{"url":"https://api.mymobi.gift/v2"},{"url":"https://api.mobigift.com.ua/v2"}],"info":{"title":"MobiGift Client Side API","version":"2-oas3"},"paths":{"/client":{},"/client/certificates":{"get":{"tags":["certificates"],"description":"Get certificates available in application","operationId":"GET_client-application-certificates","responses":{"200":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":200,"data":{"items":[{"id":17,"partner_profile":{"company_name":"vodafonetestpartner","company_domains":"","company_about":"test short description vodafone company\r\n","company_about_long":"<p>test full description vodafone company</p>\r\n","company_address":"","company_phone":"380677872522","company_email":"eugene@gmail.com","company_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/80x80.png","company_origin_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/500x500.png","company_app_main_image_url":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_thumbnail_1.jpg","company_app_main_image_url_icon":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_icon_1.jpg","company_app_main_image_url_medium":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_medium_1.jpg","company_app_main_image_url_main":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_main_1.jpg","company_app_main_image_url_origin":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_origin_1.jpg","company_app_secondary_image_url":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_secondary/jpg/0///0/7/704e45a3-e997-43cc-a32d-4e7beb5cde56_1.jpg","terms_of_use":""},"partner_id":34,"name":"test flowers","description":"<p>test certificate description</p>\r\n","nominal":"10.00","price":"10.00","discount_percentage":0,"currency":"UAH","term_life":60,"status":0,"type":4,"certificate_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/60x40.png","certificate_app_image_url":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_origin_1.jpg","images":{"origin":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_origin_1.jpg","main":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_main_1.jpg","thumbnail":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_thumbnail_1.jpg","icon":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_icon_1.jpg","500x500":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_500x500_1.jpg","200x200":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_200x200_1.jpg","80x80":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_80x80_1.jpg","20x20":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_20x20_1.jpg"},"date_expired":"2018-11-03","params":{"certificate_types":[{"id":1,"name":"Classic"},{"id":2,"name":"P2P"},{"id":3,"name":"Pay phone account"},{"id":4,"name":"Flowers"},{"id":5,"name":"MAXI CARD"}]}}]},"hash":null}}}}}}},"post":{"tags":["certificates"],"description":"Get certificates available in application with filter","operationId":"GET_client-application-filter-certificates","responses":{"200":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":200,"data":{"items":[{"id":17,"partner_profile":{"company_name":"vodafonetestpartner","company_domains":"","company_about":"test short description vodafone company\r\n","company_about_long":"<p>test full description vodafone company</p>\r\n","company_address":"","company_phone":"380677872522","company_email":"eugene@gmail.com","company_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/80x80.png","company_origin_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/500x500.png","company_app_main_image_url":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_thumbnail_1.jpg","company_app_main_image_url_icon":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_icon_1.jpg","company_app_main_image_url_medium":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_medium_1.jpg","company_app_main_image_url_main":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_main_1.jpg","company_app_main_image_url_origin":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_origin_1.jpg","company_app_secondary_image_url":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_secondary/jpg/0///0/7/704e45a3-e997-43cc-a32d-4e7beb5cde56_1.jpg","terms_of_use":""},"partner_id":34,"name":"test flowers","description":"<p>test certificate description</p>\r\n","nominal":"10.00","price":"10.00","discount_percentage":0,"currency":"UAH","term_life":60,"status":0,"type":4,"certificate_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/60x40.png","certificate_app_image_url":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_origin_1.jpg","images":{"origin":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_origin_1.jpg","main":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_main_1.jpg","thumbnail":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_thumbnail_1.jpg","icon":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_icon_1.jpg","500x500":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_500x500_1.jpg","200x200":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_200x200_1.jpg","80x80":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_80x80_1.jpg","20x20":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_20x20_1.jpg"},"date_expired":"2018-11-03","params":{"certificate_types":[{"id":1,"name":"Classic"},{"id":2,"name":"P2P"},{"id":3,"name":"Pay phone account"},{"id":4,"name":"Flowers"},{"id":5,"name":"MAXI CARD"}]}}]},"hash":null}}}}}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/certificate-filter"}}}}},"parameters":[]},"/client/certificates-skip-take":{"get":{"tags":["certificates"],"description":"Get certificate with skip-take pagination","operationId":"GET_certificate-skip-take","responses":{"200":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":200,"data":{"items":[{"id":16,"partner_profile":{"company_name":"vodafonetestpartner","company_domains":"","company_about":"test short description vodafone company\r\n","company_about_long":"<p>test full description vodafone company</p>\r\n","company_address":"","company_phone":"380677872522","company_email":"eugene@gmail.com","company_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/80x80.png","company_origin_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/500x500.png","company_app_main_image_url":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_thumbnail_1.jpg","company_app_main_image_url_icon":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_icon_1.jpg","company_app_main_image_url_medium":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_medium_1.jpg","company_app_main_image_url_main":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_main_1.jpg","company_app_main_image_url_origin":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_origin_1.jpg","company_app_secondary_image_url":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_secondary/jpg/0///0/7/704e45a3-e997-43cc-a32d-4e7beb5cde56_1.jpg","terms_of_use":""},"partner_id":34,"name":"classic certificate","description":"<p>description of test certificate</p>\r\n","nominal":"10.00","price":"9.00","discount_percentage":10,"currency":"UAH","term_life":60,"status":0,"type":1,"certificate_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/60x40.png","certificate_app_image_url":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_origin_1.png","images":{"origin":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_origin_1.png","main":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_main_1.png","thumbnail":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_thumbnail_1.png","icon":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_icon_1.png","500x500":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_500x500_1.png","200x200":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_200x200_1.png","80x80":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_80x80_1.png","20x20":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_20x20_1.png"},"date_expired":"2018-11-03","params":{"certificate_types":[{"id":1,"name":"Classic"},{"id":2,"name":"P2P"},{"id":3,"name":"Pay phone account"},{"id":4,"name":"Flowers"},{"id":5,"name":"MAXI CARD"}]}}]},"hash":null}}}}}}},"parameters":[{"in":"query","name":"skip","description":"number certificates to skip","required":true,"schema":{"type":"integer"}},{"in":"query","name":"take","description":"number certificates to take","required":true,"schema":{"type":"integer"}}]},"/client/certificates/{id}":{"get":{"tags":["certificates"],"description":"Get certificate data","operationId":"GET_certificate-by-id","responses":{"200":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":200,"data":{"id":16,"partner_profile":{"company_name":"vodafonetestpartner","company_domains":"","company_about":"test short description vodafone company\r\n","company_about_long":"<p>test full description vodafone company</p>\r\n","company_address":"","company_phone":"380677872522","company_email":"eugene@gmail.com","company_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/80x80.png","company_origin_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/500x500.png","company_app_main_image_url":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_thumbnail_1.jpg","company_app_main_image_url_icon":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_icon_1.jpg","company_app_main_image_url_medium":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_medium_1.jpg","company_app_main_image_url_main":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_main_1.jpg","company_app_main_image_url_origin":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_origin_1.jpg","company_app_secondary_image_url":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_secondary/jpg/0///0/7/704e45a3-e997-43cc-a32d-4e7beb5cde56_1.jpg","terms_of_use":""},"partner_id":34,"name":"classic certificate","description":"<p>description of test certificate</p>\r\n","nominal":"10.00","price":"9.00","discount_percentage":10,"currency":"UAH","term_life":60,"status":0,"type":1,"certificate_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/60x40.png","certificate_app_image_url":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_origin_1.png","images":{"origin":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_origin_1.png","main":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_main_1.png","thumbnail":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_thumbnail_1.png","icon":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_icon_1.png","500x500":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_500x500_1.png","200x200":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_200x200_1.png","80x80":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_80x80_1.png","20x20":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_20x20_1.png"},"date_expired":"2018-11-03","params":{"certificate_types":[{"id":1,"name":"Classic"},{"id":2,"name":"P2P"},{"id":3,"name":"Pay phone account"},{"id":4,"name":"Flowers"},{"id":5,"name":"MAXI CARD"}]}},"hash":null}}}}}}},"parameters":[{"in":"path","name":"id","description":"Certificate id","required":true,"schema":{"type":"integer"}}]},"/client/{phone}/certificates/delivered":{"get":{"tags":["certificates-orders"],"description":"Get user delivered certificates","operationId":"GET_client-phone-certificates-delivered","responses":{"200":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":200,"data":{"items":[{"certificate_id":44,"code":2528599667865,"sender_phone":"380671234567","receiver_phone":"380677778899","price":1,"currency":"UAH","sent_at":"2017-03-06 08:51:11","expired_at":"2016-08-31","certificate_name":"Coffee gift certificate","status":0,"params":{"certificate_statuses":[{"id":0,"name":"Created"},{"id":1,"name":"Active"},{"id":2,"name":"Activated"},{"id":3,"name":"Rollback"}]},"certificate_image":"http://sit.storage.mymobi.gift/storage/certificate/jpg/2///2/8/82/82_thumbnail_1.jpg","partner_profile":{"id":25,"email":"john.doe@gmail.com","partner_profile":{"company_name":"Example","company_domains":"","company_about":"text pattern","company_about_long":"asfdjsadfjasd;f dskj dsfk os skdfo ksdo s sdjfio jsiodf","company_address":"Khreschatyk 100 App. 1","company_image_url":"http://6iee.com/data/uploads/11/581583.jpg"}}},{"certificate_id":44,"code":2522161446186,"sender_phone":"380671234567","receiver_phone":"380677778899","price":1,"currency":"UAH","sent_at":"2017-03-06 08:51:11","expired_at":"2016-08-31","certificate_name":"Coffee gift certificate","status":0,"params":{"certificate_statuses":[{"id":0,"name":"Created"},{"id":1,"name":"Active"},{"id":2,"name":"Activated"},{"id":3,"name":"Rollback"}]},"certificate_image":"http://sit.storage.mymobi.gift/storage/certificate/jpg/2///2/8/82/82_thumbnail_1.jpg","partner_profile":{"id":25,"email":"john.doe@gmail.com","partner_profile":{"company_name":"Example","company_domains":"","company_about":"text pattern","company_about_long":"text pattern dskfjio jsdi jfsidoj fs","company_address":"Khreschatyk 100 App. 1","company_image_url":"http://6iee.com/data/uploads/11/581583.jpg"}}},{"certificate_id":45,"code":4294967295,"sender_phone":"380671234567","receiver_phone":"380677778899","price":2,"currency":"UAH","sent_at":"2017-03-06 08:51:11","expired_at":"2016-08-31","certificate_name":"Coffee gift certificate","status":0,"params":{"certificate_statuses":[{"id":0,"name":"Created"},{"id":1,"name":"Active"},{"id":2,"name":"Activated"},{"id":3,"name":"Rollback"}]}},{"certificate_image":"http://sit.storage.mymobi.gift/storage/certificate/jpg/2///2/8/82/82_thumbnail_1.jpg"},{"partner_profile":{"id":25,"email":"john.doe@gmail.com","partner_profile":{"company_name":"Example","company_domains":"","company_about":"text pattern","company_about_long":"text pattern","company_address":"Khreschatyk 100 App. 1","company_image_url":"http://6iee.com/data/uploads/11/581583.jpg"}}}],"_links":{"self":{"href":"http://sit.api.mymobi.gift/v1/client/380671234567/certificates/delivered?status=0&page=1"}},"_meta":{"totalCount":3,"pageCount":1,"currentPage":1,"perPage":20}}}}}}}},"security":[{"bearerAuth":[]}]},"parameters":[{"in":"path","name":"phone","description":"User phone","required":true,"schema":{"type":"integer"}}]},"/client/{phone}/certificates/delivered/{code}":{"get":{"tags":["certificates-orders"],"description":"Get user delivered certificate","operationId":"GET_client-phone-certificates-delivered-code","responses":{"200":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":200,"data":{"certificate_id":44,"code":2528599667865,"sender_phone":"380671234567","receiver_phone":"380677778899","price":1,"currency":"UAH","sent_at":"2017-03-06 08:51:11","expired_at":"2016-08-31","certificate_name":"Coffee gift certificate","status":0,"params":{"certificate_statuses":[{"id":0,"name":"Created"},{"id":1,"name":"Active"},{"id":2,"name":"Activated"},{"id":3,"name":"Rollback"}]},"certificate_image":"http://sit.storage.mymobi.gift/storage/certificate/jpg/2///2/8/82/82_thumbnail_1.jpg","partner_profile":{"id":25,"email":"john.doe@gmail.com","partner_profile":{"company_name":"Example","company_domains":"","company_about":"text pattern","company_about_long":"text pattern dsifj sdoif oisjd","company_address":"Khreschatyk 100 App. 1","company_image_url":"http://6iee.com/data/uploads/11/581583.jpg"}}}}}}}}},"security":[{"bearerAuth":[]}]},"parameters":[{"in":"path","name":"code","description":"Certificate code","required":true,"schema":{"type":"integer"}},{"in":"path","name":"phone","description":"User phone","required":true,"schema":{"type":"integer"}}]},"/client/{phone}/certificates/received":{"get":{"tags":["certificates-orders"],"description":"Get user received certificates","operationId":"GET_client-phone-certificates-received","responses":{"200":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":200,"data":{"items":{"anyOf":[{"certificate_id":44,"code":2528599667865,"sender_phone":"380671234567","receiver_phone":"380677778899","price":1,"currency":"UAH","sent_at":"2017-03-06 08:51:11","expired_at":"2016-08-31","certificate_name":"Coffee gift certificate","status":0,"params":{"certificate_statuses":[{"id":0,"name":"Created"},{"id":1,"name":"Active"},{"id":2,"name":"Activated"},{"id":3,"name":"Rollback"}]},"certificate_image":"http://sit.storage.mymobi.gift/storage/certificate/jpg/2///2/8/82/82_thumbnail_1.jpg","partner_profile":{"id":25,"email":"john.doe@gmail.com","partner_profile":{"company_name":"Example","company_domains":"","company_about":"text pattern","company_about_long":"text pattern dkf ksjdio s","company_address":"Khreschatyk 100 App. 1","company_image_url":"http://6iee.com/data/uploads/11/581583.jpg"}}},{"certificate_id":44,"code":2522161446186,"sender_phone":"380671234567","receiver_phone":"380677778899","price":1,"currency":"UAH","sent_at":"2017-03-06 08:51:11","expired_at":"2016-08-31","certificate_name":"Coffee gift certificate","status":0,"params":{"certificate_statuses":[{"id":0,"name":"Created"},{"id":1,"name":"Active"},{"id":2,"name":"Activated"},{"id":3,"name":"Rollback"}]},"certificate_image":"http://sit.storage.mymobi.gift/storage/certificate/jpg/2///2/8/82/82_thumbnail_1.jpg","partner_profile":{"id":25,"email":"john.doe@gmail.com","partner_profile":{"company_name":"Example","company_domains":"","company_about":"text pattern","company_about_long":"text pattern smdklfjsdjiof","company_address":"Khreschatyk 100 App. 1","company_image_url":"http://6iee.com/data/uploads/11/581583.jpg"}}},{"certificate_id":45,"code":4294967295,"sender_phone":"380671234567","receiver_phone":"380677778899","price":2,"currency":"UAH","sent_at":"2017-03-06 08:51:11","expired_at":"2016-08-31","certificate_name":"Coffee gift certificate","status":0,"params":{"certificate_statuses":[{"id":0,"name":"Created"},{"id":1,"name":"Active"},{"id":2,"name":"Activated"},{"id":3,"name":"Rollback"}]},"certificate_image":"http://sit.storage.mymobi.gift/storage/certificate/jpg/2///2/8/82/82_thumbnail_1.jpg","partner_profile":{"id":25,"email":"john.doe@gmail.com","partner_profile":{"company_name":"Example","company_domains":"","company_about":"text pattern","company_about_long":"text pattern dsmkfoi sdfmopk","company_address":"Khreschatyk 100 App. 1","company_image_url":"http://6iee.com/data/uploads/11/581583.jpg"}}}]},"_links":{"self":{"href":"http://sit.api.mymobi.gift/v1/client/380671234567/certificates/delivered?status=0&page=1"}},"_meta":{"totalCount":3,"pageCount":1,"currentPage":1,"perPage":20}}}}}}}},"security":[{"bearerAuth":[]}]},"parameters":[{"in":"path","name":"phone","description":"User phone","required":true,"schema":{"type":"integer"}}]},"/client/{phone}/certificates/received/{code}":{"get":{"tags":["certificates-orders"],"description":"Get user received certificate","operationId":"GET_client-phone-certificates-received-code","responses":{"200":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":200,"data":{"certificate_id":44,"code":2528599667865,"sender_phone":"380671234567","receiver_phone":"380677778899","price":1,"currency":"UAH","sent_at":"2017-03-06 08:51:11","expired_at":"2016-08-31","certificate_name":"Coffee gift certificate","status":0,"params":{"certificate_statuses":[{"id":0,"name":"Created"},{"id":1,"name":"Active"},{"id":2,"name":"Activated"},{"id":3,"name":"Rollback"}]},"certificate_image":"http://sit.storage.mymobi.gift/storage/certificate/jpg/2///2/8/82/82_thumbnail_1.jpg","partner_profile":{"id":25,"email":"john.doe@gmail.com","partner_profile":{"company_name":"Example","company_domains":"","company_about":"text pattern","company_about_long":"text pattern df sdf s","company_address":"Khreschatyk 100 App. 1","company_image_url":"http://6iee.com/data/uploads/11/581583.jpg"}}}}}}}}},"security":[{"bearerAuth":[]}]},"parameters":[{"in":"path","name":"code","description":"Certificate code","required":true,"schema":{"type":"integer"}},{"in":"path","name":"phone","description":"User phone","required":true,"schema":{"type":"integer"}}]},"/client/{phone}/certificates/received/{code}/activate":{"post":{"tags":["certificates-orders-actions"],"description":"Activating request received certificate.","operationId":"POST_client-phone-certificates-received-code-activate","responses":{"201":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":201,"data":{"phone":"380671234567","code":"2522161446186","sms_id":3,"status":1,"params":{"certificate_statuses":[{"id":0,"name":"Created"},{"id":1,"name":"Active"},{"id":2,"name":"Activated"},{"id":3,"name":"Rollback"}]}}}}}}},"422":{"description":""}},"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"formData":{"type":"string"}}}}}}},"parameters":[{"in":"path","name":"code","description":"Certificate code","required":true,"schema":{"type":"integer"}},{"in":"path","name":"phone","description":"User phone","required":true,"schema":{"type":"integer"}}]},"/client/{phone}/certificates/received/{code}/confirm-activate":{"post":{"tags":["certificates-orders-actions"],"description":"Confirm activation of received certificate with SMS password.","operationId":"POST_client-phone-certificates-received-code-confirm-activate","responses":{"201":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":201,"data":{"code":"2522161446186","phone":"380671234567","sms_id":"3","sms_password":"897847","status":2,"activated_at":1471697942,"params":{"certificate_statuses":[{"id":0,"name":"Created"},{"id":1,"name":"Active"},{"id":2,"name":"Activated"},{"id":3,"name":"Rollback"}]}}}}}}},"422":{"description":"Data Validation Failed","content":{"application/json":{"schema":{"example":{"success":false,"status":422,"data":[{"field":"certificate_code","message":"Certificate not found! Check code"}]}}}}}},"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"sms_id":{"description":"SMS ID","type":"integer"},"sms_password":{"description":"SMS password","type":"integer"}},"required":["sms_id"]}}}}},"parameters":[{"in":"path","name":"code","description":"Certificate code","required":true,"schema":{"type":"integer"}},{"in":"path","name":"phone","description":"User phone","required":true,"schema":{"type":"integer"}}]},"/client/certificates/create":{"post":{"tags":["certificates-orders-actions"],"description":"Create new certificate\n","operationId":"POST_certificates-create","responses":{"201":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":201,"data":{"certificate_id":"44","sender_name":"Example1","sender_phone":"380671234567","sender_email":"sender@gmail.com","receiver_name":"Example2","receiver_phone":"380677778899","receiver_email":"john.doe@gmail.com","delivery_address":"Kiev","send_email":0,"send_recipient_notification":0,"message":"Test my certificate","certificate_code":"2522161446186","price":1,"currency":"UAH","status":0,"expired_at":"2016-08-31","created_at":1471472890,"params":{"certificate_statuses":[{"id":0,"name":"Created"},{"id":1,"name":"Active"},{"id":2,"name":"Activated"},{"id":3,"name":"Rollback"}],"send_email":[{"id":0,"name":"Not send email"},{"id":1,"name":"Send email"}],"send_recipient_notification":[{"id":0,"name":"Not send notification to recipient"},{"id":1,"name":"Send notification to recipient"}]}}}}}}},"422":{"description":"Data Validation Failed","content":{"application/json":{"schema":{"example":{"success":false,"status":422,"data":[{"field":"certificate_code","message":"Certificate not found! Check code"}]}}}}}},"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"certificate_id":{"description":"Certificate ID","type":"integer"},"sender_name":{"description":"Sender name","type":"string"},"sender_phone":{"description":"Sender phone","type":"string"},"sender_email":{"description":"Sender email","type":"string"},"receiver_name":{"description":"Receiver name","type":"string"},"receiver_phone":{"description":"Receiver phone","type":"string"},"receiver_email":{"description":"Receiver email","type":"string"},"message":{"description":"Message for receiver","type":"string"},"delivery_address":{"description":"Delivery address (Only for certificates with type 4)","type":"string"},"send_recipient_notification":{"description":"Send recipient notification (Only for certificates with type 4)","type":"integer"},"send_email":{"description":"Send certificate by email","type":"integer"}},"required":["certificate_id"]}}}},"security":[{"bearerAuth":[]}]},"parameters":[]},"/client/certificates/create-p2p":{"post":{"tags":["certificates-orders-actions"],"description":"Create new p2p certificate","operationId":"POST_certificates-create-p2p","responses":{"201":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":201,"data":{"order_id":"Hy8USypzlzzcPOmy5TRRiTmi3waLW5e0"}},"type":"object","properties":{"success":{"description":"Request result","type":"boolean"},"status":{"description":"Response status.","type":"integer"},"data":{"description":"Response data","type":"object","properties":{"order_id":{"description":"Certificate order ID","type":"string"}}}}}}}},"422":{"description":"Data Validation Failed","content":{"application/json":{"schema":{"example":{"success":false,"status":422,"data":[{"field":"certificate_code","message":"Certificate not found! Check code"}]}}}}}},"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"certificate_id":{"description":"Certificate ID","type":"integer"},"sender_name":{"description":"Sender name","type":"string"},"sender_phone":{"description":"Sender phone","type":"string"}},"required":["certificate_id"]}}}},"security":[{"bearerAuth":[]}]},"parameters":[]},"/client/discount-certificates":{"get":{"tags":["certificates"],"description":"Get discount certificates","operationId":"GET_client-discount-certificates","responses":{"200":{"description":"","content":{"application/json":{"schema":{"example":null}}}}}},"parameters":[]},"/pos/certificate/check":{"post":{"tags":["pos"],"description":"Check certificate","operationId":"POST_cashier-check","parameters":[],"responses":{"201":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":201,"data":{"timestamp":1536006151,"token":"soNDzU4nrKuphR4xQOjFq4L2OU3rq3Bl"},"hash":"52a9528cf8c7017f268f224c2c7cb79309b8e0160e754e8280713bf"}}}}}},"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"timestamp":{"description":"timestamp of request","type":"integer"},"code":{"description":"user gift code","type":"string"},"hash":{"description":"hash of request","type":"string"}}}}}}}},"/pos/certificate/redeem":{"post":{"tags":["pos"],"description":"Redeem certificate","operationId":"POST_cashier-redeem","parameters":[],"responses":{"201":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":201,"data":{"timestamp":1536006151,"token":"soNDzU4nrKuphR4xQOjFq4L2OU3rq3Bl"},"hash":"52a9528cf8c7017f268f224c2c7cb79309b8e0160e754e8280713bf65a9fc49f"}}}}}},"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"timestamp":{"description":"timestamp of request","type":"integer"},"code":{"description":"user gift code","type":"string"},"hash":{"description":"hash of request","type":"string"}}}}}}}},"/pos/certificate/rollback":{"post":{"tags":["pos"],"description":"Rollback certificate","operationId":"POST_cashier-rollback","parameters":[],"responses":{"201":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":201,"data":{"timestamp":1536006151,"token":"soNDzU4nrKuphR4xQOjFq4L2OU3rq3Bl"},"hash":"52a9528cf8c7017f268f224c2c7cb79309b8e0160e754e8280713bf65a9fc49f"}}}}}},"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"timestamp":{"description":"timestamp of request","type":"integer"},"code":{"description":"gift code to redeem","type":"string"},"hash":{"description":"hash of request","type":"string"}},"required":["timestamp","code","hash"]}}}}}},"/client/partners":{"get":{"tags":["partners"],"description":"Get list partners","operationId":"GET_partners","responses":{"200":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":200,"data":{"items":{"anyOf":[{"id":21,"email":"test@test.ru","partner_profile":{"company_name":null,"company_domains":null,"company_about":null,"company_about_long":null,"company_address":null,"company_phone":"380978720555","company_email":"test@mail.com","company_image_url":"http://6iee.com/data/uploads/11/581583.jpg","company_app_main_image_url":"https://storage.mobigift.dev/storage/placeholder/104x104.png","company_app_secondary_image_url":"https://storage.mobigift.dev/storage/placeholder/340x130.png"}},{"id":22,"email":"test@test.com","partner_profile":{"company_name":null,"company_domains":null,"company_about":null,"company_about_long":null,"company_address":null,"company_phone":"380978720555","company_email":"test@mail.com","company_image_url":"http://6iee.com/data/uploads/11/581583.jpg","company_app_main_image_url":"https://storage.mobigift.dev/storage/placeholder/104x104.png","company_app_secondary_image_url":"https://storage.mobigift.dev/storage/placeholder/340x130.png"}},{"id":25,"email":"john.doe@gmail.com","partner_profile":{"company_name":"Example","company_domains":"","company_about":"text pattern","company_about_long":"text pattern dfdsf","company_address":"Khreschatyk 100 App. 1","company_phone":"380978720555","company_email":"test@mail.com","company_image_url":"http://6iee.com/data/uploads/11/581583.jpg","company_app_main_image_url":"https://storage.mobigift.dev/storage/placeholder/104x104.png","company_app_secondary_image_url":"https://storage.mobigift.dev/storage/placeholder/340x130.png"}}]},"_links":{"self":{"href":"http://sit.api.mymobi.gift/v1/client/partners?page=1"}},"_meta":{"totalCount":3,"pageCount":1,"currentPage":1,"perPage":20}}}}}}}},"parameters":[]}},"/client/partner-combined":{"get":{"tags":["partners"],"description":"Get list partners with their certificates","operationId":"GET_partners-combined","responses":{"200":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":200,"data":{"items":[{"id":34,"email":"voadfonepartner@test.com","partner_profile":{"company_name":"vodafonetestpartner","company_domains":"","company_about":"test short description vodafone company\r\n","company_about_long":"<p>test full description vodafone company</p>\r\n","company_address":"","company_phone":"380677872522","company_email":"eugene@gmail.com","company_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/80x80.png","company_origin_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/500x500.png","company_app_main_image_url":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_thumbnail_1.jpg","company_app_main_image_url_icon":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_icon_1.jpg","company_app_main_image_url_medium":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_medium_1.jpg","company_app_main_image_url_main":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_main_1.jpg","company_app_main_image_url_origin":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_origin_1.jpg","company_app_secondary_image_url":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_secondary/jpg/0///0/7/704e45a3-e997-43cc-a32d-4e7beb5cde56_1.jpg","terms_of_use":""},"certificates":[{"id":17,"partner_profile":{"company_name":"vodafonetestpartner","company_domains":"","company_about":"test short description vodafone company\r\n","company_about_long":"<p>test full description vodafone company</p>\r\n","company_address":"","company_phone":"380677872522","company_email":"eugene@gmail.com","company_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/80x80.png","company_origin_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/500x500.png","company_app_main_image_url":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_thumbnail_1.jpg","company_app_main_image_url_icon":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_icon_1.jpg","company_app_main_image_url_medium":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_medium_1.jpg","company_app_main_image_url_main":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_main_1.jpg","company_app_main_image_url_origin":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_origin_1.jpg","company_app_secondary_image_url":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_secondary/jpg/0///0/7/704e45a3-e997-43cc-a32d-4e7beb5cde56_1.jpg","terms_of_use":""},"partner_id":34,"name":"test flowers","description":"<p>test certificate description</p>\r\n","nominal":"10.00","price":"10.00","discount_percentage":0,"currency":"UAH","term_life":60,"status":0,"type":4,"certificate_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/60x40.png","certificate_app_image_url":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_origin_1.jpg","images":{"origin":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_origin_1.jpg","main":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_main_1.jpg","thumbnail":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_thumbnail_1.jpg","icon":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_icon_1.jpg","500x500":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_500x500_1.jpg","200x200":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_200x200_1.jpg","80x80":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_80x80_1.jpg","20x20":"http://sit.storage.mymobi.gift/storage/certificates_application_image/jpg/b///b/3/3b62f117-1f2b-4364-838a-8bbcb49bce56/3b62f117-1f2b-4364-838a-8bbcb49bce56_20x20_1.jpg"},"date_expired":"2018-11-03","params":{"certificate_types":[{"id":1,"name":"Classic"},{"id":2,"name":"P2P"},{"id":3,"name":"Pay phone account"},{"id":4,"name":"Flowers"},{"id":5,"name":"MAXI CARD"}]}},{"id":16,"partner_profile":{"company_name":"vodafonetestpartner","company_domains":"","company_about":"test short description vodafone company\r\n","company_about_long":"<p>test full description vodafone company</p>\r\n","company_address":"","company_phone":"380677872522","company_email":"eugene@gmail.com","company_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/80x80.png","company_origin_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/500x500.png","company_app_main_image_url":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_thumbnail_1.jpg","company_app_main_image_url_icon":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_icon_1.jpg","company_app_main_image_url_medium":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_medium_1.jpg","company_app_main_image_url_main":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_main_1.jpg","company_app_main_image_url_origin":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_main/jpg/2///2/9/92075ca6-c954-430c-bcb2-4c2950a1f425/92075ca6-c954-430c-bcb2-4c2950a1f425_origin_1.jpg","company_app_secondary_image_url":"http://sit.storage.mymobi.gift/storage/partner_profile_app_image_secondary/jpg/0///0/7/704e45a3-e997-43cc-a32d-4e7beb5cde56_1.jpg","terms_of_use":""},"partner_id":34,"name":"classic certificate","description":"<p>description of test certificate</p>\r\n","nominal":"10.00","price":"9.00","discount_percentage":10,"currency":"UAH","term_life":60,"status":0,"type":1,"certificate_image_url":"http://sit.storage.mymobi.gift/storage/placeholder/60x40.png","certificate_app_image_url":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_origin_1.png","images":{"origin":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_origin_1.png","main":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_main_1.png","thumbnail":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_thumbnail_1.png","icon":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_icon_1.png","500x500":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_500x500_1.png","200x200":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_200x200_1.png","80x80":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_80x80_1.png","20x20":"http://sit.storage.mymobi.gift/storage/certificates_application_image/png/b///b/1/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898/1b4ff8c6-22a9-4c4d-a8ef-76494a80f898_20x20_1.png"},"date_expired":"2018-11-03","params":{"certificate_types":[{"id":1,"name":"Classic"},{"id":2,"name":"P2P"},{"id":3,"name":"Pay phone account"},{"id":4,"name":"Flowers"},{"id":5,"name":"MAXI CARD"}]}}]}]},"hash":null}}}}}},"parameters":[]}},"/client/partner-city":{"get":{"tags":["partners","city"],"description":"Get list partners with available cities","operationId":"GET_partners-cityd","responses":{"200":{"description":"","content":{"application/json":{"schema":{"example":null}}}}},"parameters":[{"in":"query","name":"cityId","description":"City ID","required":true,"schema":{"type":"integer"}}]}},"/client/partners/{partnerId}":{"get":{"tags":["partners"],"description":"Get partner data","operationId":"GET_partners-partnerId","responses":{"200":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":200,"data":{"id":21,"email":"test@test.ru","partner_profile":{"company_name":null,"company_domains":null,"company_about":null,"company_about_long":null,"company_address":null,"company_phone":"380978720555","company_email":"test@mail.com","company_image_url":"http://6iee.com/data/uploads/11/581583.jpg","company_app_main_image_url":"https://storage.mobigift.dev/storage/placeholder/104x104.png","company_app_secondary_image_url":"https://storage.mobigift.dev/storage/placeholder/340x130.png"}}},"type":"object","properties":{"success":{"description":"Request result","type":"boolean"},"status":{"description":"Response status.","type":"integer"},"data":{"description":"Response data","type":"object","properties":{"id":{"description":"Partner ID","type":"integer"},"email":{"description":"Partner email","type":"string"},"partner_profile":{"description":"Partner profile","type":"object","properties":{"company_name":{"description":"Company Name","type":"string"},"company_domains":{"description":"Company Domains","type":"string"},"company_about":{"description":"Company About","type":"string"},"company_address":{"description":"Company Address","type":"string"},"company_phone":{"description":"Company phone","type":"string"},"company_email":{"description":"Company email","type":"string"},"company_image_url":{"description":"Company image","type":"string"},"company_app_main_image_url":{"description":"Main company image URL for app","type":"string"},"company_app_secondary_image_url":{"description":"Secondary company image URL for app","type":"string"}}}}}}}}}}}},"parameters":[{"in":"path","name":"partnerId","description":"Partner ID","required":true,"schema":{"type":"integer"}}]},"/client/partners/{partnerId}/certificates":{"get":{"tags":["partners"],"description":"Get list certificates of partner","operationId":"GET_partners-partnerId-certificates","responses":{"200":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":200,"data":{"items":{"anyOf":[{"id":46,"name":"Сертификат","description":"Сертификат описание","price":3,"currency":"UAH","term_life":60,"status":0,"certificate_image_url":"http://partner.mobigift.dev/photos/certificates/certificates_57b434251a10c.png","certificate_app_image_url":"https://storage.mobigift.dev/storage/placeholder/240x240.png","params":{"certificate_types":[{"id":1,"name":"Classic"},{"id":2,"name":"P2P"},{"id":3,"name":"Pay phone account"},{"id":4,"name":"Flowers"},{"id":5,"name":"MAXI CARD"}]},"x-type":2},{"id":45,"name":"Сертификат","description":"Сертификат описание","price":2,"currency":"UAH","term_life":60,"status":0,"certificate_image_url":"http://partner.mobigift.dev/photos/certificates/certificates_57b4341e98e54.png","certificate_app_image_url":"https://storage.mobigift.dev/storage/placeholder/240x240.png","params":{"certificate_types":[{"id":1,"name":"Classic"},{"id":2,"name":"P2P"},{"id":3,"name":"Pay phone account"},{"id":4,"name":"Flowers"},{"id":5,"name":"MAXI CARD"}]},"x-type":2},{"id":44,"name":"Сертификат","description":"Сертификат описание","price":1,"currency":"UAH","term_life":60,"status":0,"certificate_image_url":"http://partner.mobigift.dev/photos/certificates/certificates_57b4341943512.png","certificate_app_image_url":"https://storage.mobigift.dev/storage/placeholder/240x240.png","params":{"certificate_types":[{"id":1,"name":"Classic"},{"id":2,"name":"P2P"},{"id":3,"name":"Pay phone account"},{"id":4,"name":"Flowers"},{"id":5,"name":"MAXI CARD"}]},"x-type":1}]},"_links":{"self":{"href":"http://sit.api.mymobi.gift/v1/client/partners/25/certificates?page=1"}},"_meta":{"totalCount":3,"pageCount":1,"currentPage":1,"perPage":20}}}}}}}}},"parameters":[{"in":"path","name":"partnerId","description":"Partner ID","required":true,"schema":{"type":"integer"}}]},"/client/partners/{partnerId}/certificates/{certificateId}":{"get":{"tags":["partners"],"description":"Get certificate data","operationId":"GET_partners-partnerId-certificates-certificateId","responses":{"200":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":200,"data":{"id":46,"name":"Сертификат","description":"Сертификат описание","price":3,"currency":"UAH","term_life":60,"status":0,"certificate_image_url":"http://partner.mobigift.dev/photos/certificates/certificates_57b434251a10c.png","certificate_app_image_url":"https://storage.mobigift.dev/storage/placeholder/240x240.png","params":{"certificate_types":[{"id":1,"name":"Classic"},{"id":2,"name":"P2P"},{"id":3,"name":"Pay phone account"},{"id":4,"name":"Flowers"},{"id":5,"name":"MAXI CARD"}]},"x-type":1}}}}}}}},"parameters":[{"in":"path","name":"certificateId","description":"Certificate ID","required":true,"schema":{"type":"integer"}},{"in":"path","name":"partnerId","description":"Partner ID","required":true,"schema":{"type":"integer"}}]},"/client/partners/{partnerId}/trade-points":{"get":{"tags":["partners"],"description":"Get list certificates of partner's trade points","operationId":"GET_partners-partnerId-trade-points","responses":{"200":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":200,"data":{"items":{"anyOf":[{"id":3,"partner_id":21,"name":"Test2","city":"City2","address":"Adress2","manager":"Manager2","manager_email":"test2@gmail.com","manager_phone":"30852858555","longitude":null,"latitude":null},{"id":4,"partner_id":21,"name":"Test3","city":"City3","address":"Adress3","manager":"Manager3","manager_email":"test3@gmail.com","manager_phone":"30852858556","longitude":null,"latitude":null},{"id":2,"partner_id":21,"name":"TEST POINT","city":"Kiev","address":"Hreschatik 24","manager":"Vladimir","manager_email":"codenix.sv@gmail.com","manager_phone":"380978720175","longitude":30.519332885742,"latitude":50.433891862008}]},"_links":{"self":{"href":"https://api.mobigift.dev/v1/client/partners/21/trade-points?page=1"}},"_meta":{"totalCount":3,"pageCount":1,"currentPage":1,"perPage":20}}},"type":"object","properties":{"success":{"description":"Request result","type":"boolean"},"status":{"description":"Response status.","type":"integer"},"data":{"description":"Response data","type":"object","properties":{"items":{"description":"Array trade points","type":"array","items":{"type":"object","properties":{"id":{"description":"Trade point ID","type":"integer"},"partner_id":{"description":"Partner ID","type":"integer"},"name":{"description":"Trade point's name","type":"string"},"city":{"description":"City","type":"string"},"address":{"description":"Trade point's address","type":"string"},"manager":{"description":"Manager","type":"string"},"manager_email":{"description":"Manager's email","type":"string"},"manager_phone":{"description":"Manager's phone","type":"string"},"longitude":{"description":"Longitude","type":"string"},"latitude":{"description":"Latitude","type":"string"}}}},"_links":{"description":"Link representing the URL to the resource object itself","type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string"}}},"next":{"type":"object","properties":{"href":{"type":"string"}}},"last":{"type":"object","properties":{"href":{"type":"string"}}}}},"_meta":{"description":"The name of the envelope (e.g. _meta) for returning the pagination object.","type":"object","properties":{"totalCount":{"type":"integer"},"pageCount":{"type":"integer"},"currentPage":{"type":"integer"},"perPage":{"type":"integer"}}}}}}}}}}}},"parameters":[{"in":"path","name":"partnerId","description":"Partner ID","required":true,"schema":{"type":"integer"}}]},"/client/partners/{partnerId}/trade-points/{tradePointId}":{"get":{"tags":["partners"],"description":"Get trade point data","operationId":"GET_partners-partnerId-trade-points-tradePointId","responses":{"200":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":200,"data":{"id":4,"partner_id":21,"name":"Test3","city":"City3","address":"Adress3","manager":"Manager3","manager_email":"test3@gmail.com","manager_phone":"30852858556","longitude":null,"latitude":null}}}}}}}},"parameters":[{"in":"path","name":"tradePointId","description":"Trade point ID","required":true,"schema":{"type":"integer"}},{"in":"path","name":"partnerId","description":"Partner ID","required":true,"schema":{"type":"integer"}}]},"/client/categories":{"get":{"tags":["certificates-categories"],"summary":"retrieve categories","operationId":"getcats","description":"bulk categories","parameters":[],"responses":{"200":{"description":"successfully found avialable certificate categories"},"400":{"description":"bad parameter"}}}},"/client/city":{"get":{"tags":["city"],"summary":"retrieve cities","operationId":"getcities","description":"bulk cities","parameters":[],"responses":{"200":{"description":"successfully found city list"},"400":{"description":"bad parameter"}}}},"/client/citycertificates/{cityId}":{"get":{"tags":["certificates","city"],"summary":"retrieve citycerts","operationId":"getcititycerts","description":"bulk citycerts in city","responses":{"200":{"description":"successfully found city list"},"400":{"description":"bad parameter"}}},"parameters":[{"in":"path","name":"cityId","description":"City ID","required":true,"schema":{"type":"integer"}}]},"/client/user/register":{"post":{"tags":["user"],"description":"User registration","operationId":"POST_client-registration","parameters":[],"responses":{"201":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":201,"data":{"timestamp":1536006151,"token":"soNDzU4nrKuphR4xQOjFq4L2OU3rq3Bl"},"hash":"52a9528cf8c7017f268f224c2c7cb79309b8e0160e754e8280713bf65a9fc49f"}}}}},"422":{"description":"Data Validation Failed","content":{"application/json":{"schema":{"example":{"success":false,"status":422,"data":[{"field":"error","message":"registration error"}]}}}}}},"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"timestamp":{"description":"timestamp of request","type":"integer"},"phone":{"description":"user phone integer only","type":"integer"},"imei":{"description":"user phone imei","type":"string"},"os":{"description":"phone os","type":"string"},"app_version":{"description":"version of user application","type":"string"},"hash":{"description":"hash of request","type":"string"}},"required":["timestamp","phone","imei","os","app_version","hash"]}}}}}},"/pos/user/register":{"post":{"tags":["pos"],"description":"Cashier registration","operationId":"POST_cashier-registration","parameters":[],"responses":{"201":{"description":"","content":{"application/json":{"schema":{"example":{"success":true,"status":201,"data":{"timestamp":1536006151,"token":"soNDzU4nrKuphR4xQOjFq4L2OU3rq3Bl"},"hash":"52a9528cf8c7017f268f224c2c7cb79309b8e0160e754e8280713bf65a9fc49f"}}}}},"422":{"description":"Data Validation Failed","content":{"application/json":{"schema":{"example":{"success":false,"status":422,"data":[{"field":"error","message":"registration error"}]}}}}}},"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"timestamp":{"description":"timestamp of request","type":"integer"},"phone":{"description":"user phone","type":"string"},"imei":{"description":"user phone imei","type":"string"},"os":{"description":"phone os","type":"string"},"app_version":{"description":"version of user application","type":"string"},"oauth_token":{"description":"oauth token from auth provider","type":"string"},"hash":{"description":"hash of request","type":"string"}},"required":["timestamp","phone","oauth_token","imei","os","app_version","hash"]}}}}}},"/client/faq":{"get":{"tags":["application-info"],"summary":"retrieve faq records","operationId":"clientgetfaq","description":"faq records","parameters":[],"responses":{"200":{"description":"successfully found city list"},"400":{"description":"bad parameter"}}}}},"components":{"schemas":{"certificate-filter":{"properties":{"filter":{"type":"object","properties":{"target_audience":{"type":"integer"},"city_id":{"type":"integer"},"min_nominal":{"type":"integer"},"max_nominal":{"type":"integer"}}}}}},"parameters":{"trait_secured_access_token":{"required":true,"description":"Access Token","in":"query","name":"access_token","schema":{"type":"string"}}},"requestBodies":{"POST_partner-certificate-activate":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"certificate_code":{"description":"Certificate code","type":"integer"},"secret_key":{"description":"Secret key","type":"integer"}},"required":["certificate_code"]}}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"TOKEN"},"apiKey":{"type":"apiKey","in":"header","name":"X-API-Key"},"appName":{"type":"apiKey","in":"header","name":"App-Name"}}},"security":[{"apiKey":[],"appName":[]}]}