{"openapi":"3.0.0","info":{"title":"Curso API com Swagger","description":"Board criado para estudo do curso Udemy  [Aprenda a Criar Especificações de APIs com Swagger e OpenAPI](https://www.udemy.com/course/aprenda-a-criar-especificacoes-de-apis-com-swagger-e-openapi/)","contact":{"email":"weslley.santo@gmail.com"},"version":"1.0.3"},"servers":[{"url":"https://api.weslleyesanto.com.br/v1","description":"Servidor de produção"},{"url":"https://sandbox-api.weslleyesanto.com.br:8443/v1","description":"Servidor de testes"}],"security":[{"application":["read","write"]}],"tags":[{"name":"Login"},{"name":"Registro de conta"},{"name":"Acompanhamento do Crescimento Infantil"},{"name":"Relatorio de crescimento"}],"paths":{"/login":{"post":{"tags":["Login"],"summary":"Login do usuario","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/body_request_login"}}},"required":true},"responses":{"200":{"description":"OK","content":{"aplication/json":{"schema":{"$ref":"#/components/schemas/body_response_login"}}}},"400":{"description":"Dados request enviados incorretos"},"401":{"description":"Senha incorreta"},"404":{"description":"Usuário não encontrado"},"500":{"description":"Erro no servidor"}}}},"/accounts":{"get":{"tags":["Registro de conta"],"summary":"Recuperar todas as contas","parameters":[{"name":"token","in":"header","description":"Token JWT no header","required":true,"style":"simple","explode":false,"schema":{"type":"array","items":{"type":"string","format":"string"}},"example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/body_response"}}}},"400":{"description":"Dados request enviados incorretos"},"401":{"description":"Token inválido, inexisten ou expirado"},"500":{"description":"Erro no servidor"}}},"post":{"tags":["Registro de conta"],"summary":"Cria uma nova conta","parameters":[{"name":"token","in":"header","description":"Token JWT no header","required":true,"style":"simple","explode":false,"schema":{"type":"array","items":{"type":"string","format":"string"}},"example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/body_request"}}},"required":true},"responses":{"201":{"description":"Criado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/body_response"}}}},"400":{"description":"Dados request enviados incorretos"},"401":{"description":"Token inválido, inexisten ou expirado"},"500":{"description":"Erro no servidor"}}}},"/accounts/{id}":{"get":{"tags":["Registro de conta"],"summary":"Recuperar uma conta de usuário pelo id","parameters":[{"name":"id","in":"path","description":"Id de identificação da conta de usuario","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"token","in":"header","description":"Token JWT no header","required":true,"style":"simple","explode":false,"schema":{"type":"array","items":{"type":"string","format":"string"}},"example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/body_response"}}}},"400":{"description":"Dados request enviados incorretos"},"401":{"description":"Token inválido, inexisten ou expirado"},"404":{"description":"Recurso {id} não encontrado"},"500":{"description":"Erro no servidor"}}},"put":{"tags":["Registro de conta"],"summary":"Atualizar uma conta de usuário pelo id","parameters":[{"name":"id","in":"path","description":"Id de identificação da conta de usuario","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"token","in":"header","description":"Token JWT no header","required":true,"style":"simple","explode":false,"schema":{"type":"array","items":{"type":"string","format":"string"}},"example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/body_request"}}},"required":true},"responses":{"202":{"description":"Aceito"},"400":{"description":"Dados request enviados incorretos"},"401":{"description":"Token inválido, inexisten ou expirado"},"404":{"description":"Recurso {id} não encontrado"},"500":{"description":"Erro no servidor"}}},"delete":{"tags":["Registro de conta"],"summary":"Excluir uma conta de usuário pelo id","parameters":[{"name":"id","in":"path","description":"Id de identificação da conta de usuario","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"token","in":"header","description":"Token JWT no header","required":true,"style":"simple","explode":false,"schema":{"type":"array","items":{"type":"string","format":"string"}},"example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"}],"responses":{"204":{"description":"Sem conteudo"},"400":{"description":"Dados request enviados incorretos"},"401":{"description":"Token inválido, inexisten ou expirado"},"404":{"description":"Recurso {id} não encontrado"},"500":{"description":"Erro no servidor"}}}},"/progress":{"get":{"tags":["Acompanhamento do Crescimento Infantil"],"summary":"Recuperar todos os progressos de todas as contas","parameters":[{"name":"token","in":"header","description":"Token JWT no header","required":true,"style":"simple","explode":false,"schema":{"type":"array","items":{"type":"string","format":"string"}},"example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/body_response_acompanhamento"}}}},"400":{"description":"Dados request enviados incorretos"},"401":{"description":"Token inválido, inexisten ou expirado"},"500":{"description":"Erro no servidor"}}},"post":{"tags":["Acompanhamento do Crescimento Infantil"],"summary":"Cria uma novo progresso","parameters":[{"name":"token","in":"header","description":"Token JWT no header","required":true,"style":"simple","explode":false,"schema":{"type":"array","items":{"type":"string","format":"string"}},"example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/body_request_acompanhamento"}}},"required":true},"responses":{"201":{"description":"Criado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/body_response"}}}},"400":{"description":"Dados request enviados incorretos"},"401":{"description":"Token inválido, inexisten ou expirado"},"500":{"description":"Erro no servidor"}}}},"/progress/{id}":{"get":{"tags":["Acompanhamento do Crescimento Infantil"],"summary":"Recuperar um progresso pelo id","parameters":[{"name":"id","in":"path","description":"Id de identificação do progresso","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"token","in":"header","description":"Token JWT no header","required":true,"style":"simple","explode":false,"schema":{"type":"array","items":{"type":"string","format":"string"}},"example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/body_response"}}}},"400":{"description":"Dados request enviados incorretos"},"401":{"description":"Token inválido, inexisten ou expirado"},"404":{"description":"Recurso {id} não encontrado"},"500":{"description":"Erro no servidor"}}},"put":{"tags":["Acompanhamento do Crescimento Infantil"],"summary":"Atualizar um progresso pelo id","parameters":[{"name":"id","in":"path","description":"Id de identificação do progresso","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"token","in":"header","description":"Token JWT no header","required":true,"style":"simple","explode":false,"schema":{"type":"array","items":{"type":"string","format":"string"}},"example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/body_request"}}},"required":true},"responses":{"202":{"description":"Aceito"},"400":{"description":"Dados request enviados incorretos"},"401":{"description":"Token inválido, inexisten ou expirado"},"404":{"description":"Recurso {id} não encontrado"},"500":{"description":"Erro no servidor"}}},"delete":{"tags":["Acompanhamento do Crescimento Infantil"],"summary":"Excluir um progresso pelo id","parameters":[{"name":"id","in":"path","description":"Id de identificação do progresso","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"token","in":"header","description":"Token JWT no header","required":true,"style":"simple","explode":false,"schema":{"type":"array","items":{"type":"string","format":"string"}},"example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"}],"responses":{"204":{"description":"Sem conteudo"},"400":{"description":"Dados request enviados incorretos"},"401":{"description":"Token inválido, inexisten ou expirado"},"404":{"description":"Recurso {id} não encontrado"},"500":{"description":"Erro no servidor"}}}},"/accounts/{email}/progress":{"get":{"tags":["Relatorio de crescimento"],"summary":"Recuperar progresso de crescimento das crianças pelo email da conta de usuário","parameters":[{"name":"email","in":"path","description":"Email de identificação da conta de usuário","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"token","in":"header","description":"Token JWT no header","required":true,"style":"simple","explode":false,"schema":{"type":"array","items":{"type":"string","format":"string"}},"example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/body_response_relatorio"}}}},"400":{"description":"Dados request enviados incorretos"},"401":{"description":"Token inválido, inexisten ou expirado"},"404":{"description":"Recurso {email} não encontrado"},"500":{"description":"Erro no servidor"}}}}},"components":{"schemas":{"body_request_login":{"required":["email","password"],"type":"object","properties":{"email":{"minimum":1,"type":"string","format":"email","example":"admin"},"password":{"minimum":1,"type":"string","format":"password","example":"123"}}},"body_response_login":{"required":["email","firstName","id","lastName","token"],"type":"object","properties":{"token":{"type":"string","example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"},"account":{"type":"string","example":"{\"id\":1,\"email\":\"admin@admin.com.\",\"firstName\":\"Firt\",\"lastName\":\"Last\"}"}}},"body_response":{"required":["dateBirth","email","firstName","gender","id","lastName","phoneNumber"],"type":"object","properties":{"id":{"type":"integer","example":1},"firstName":{"type":"string","example":"First"},"lastName":{"type":"string","example":"Last"},"email":{"type":"string","format":"email","example":"admin@admin.com"},"phoneNumber":{"type":"number"},"dateBirth":{"type":"string","example":"10/09/1991"},"gender":{"type":"string","example":"M","enum":["M","F"]}}},"body_request":{"required":["dateBirth","email","firstName","gender","lastName","password","phoneNumber"],"type":"object","properties":{"firstName":{"type":"string","example":"First"},"lastName":{"type":"string","example":"Last"},"email":{"type":"string","format":"email","example":"admin@admin.com"},"phoneNumber":{"type":"number"},"password":{"type":"string","example":"123"},"dateBirth":{"type":"string","example":"10/09/1991"},"gender":{"type":"string","example":"M","enum":["M","F"]}}},"body_response_acompanhamento":{"required":["account","dateProgress","headCircumference","height","id","weight"],"type":"object","properties":{"id":{"type":"integer","example":1},"height":{"type":"number"},"weight":{"type":"number","example":45},"headCircumference":{"type":"string","format":"email","example":"admin@admin.com"},"dateProgress":{"type":"string","format":"date"},"account":{"$ref":"#/components/schemas/body_response_acompanhamento_account"}}},"body_request_acompanhamento":{"required":["account","dateProgress","headCircumference","height","weight"],"type":"object","properties":{"height":{"type":"number"},"weight":{"type":"number","example":45},"headCircumference":{"type":"string","format":"email","example":"admin@admin.com"},"dateProgress":{"type":"string","format":"date"},"account":{"$ref":"#/components/schemas/body_response_acompanhamento_account"}}},"body_response_relatorio":{"required":["dateProgress","headCircumference","height","weight"],"type":"object","properties":{"height":{"type":"number"},"weight":{"type":"number","example":45},"headCircumference":{"type":"string","format":"email","example":"admin@admin.com"},"dateProgress":{"type":"string","format":"date"}}},"body_response_acompanhamento_account":{"required":["dateBirth","email","firstName","gender","id","lastName"],"type":"object","properties":{"id":{"type":"integer","example":1},"firstName":{"type":"string","example":"First"},"lastName":{"type":"string","example":"Last"},"email":{"type":"string","format":"email","example":"admin@admin.com"},"dateBirth":{"type":"string","example":"10/09/1991"},"gender":{"type":"string","example":"M","enum":["M","F"]}}}}}}