{"openapi":"3.0.0","info":{"description":"API for PacketProxies.io","version":"1.0.0-oas3","title":"Packet Proxies API","contact":{"email":"support@packetproxies.io"}},"tags":[{"name":"auth","description":"Authentication"},{"name":"proxies","description":"Operations on proxies"},{"name":"stats","description":"Statistics"}],"paths":{"/user/login":{"post":{"tags":["auth"],"summary":"Authenticates user","description":"Authenticates user and generates bearer token","responses":{"200":{"$ref":"#/components/responses/JWTToken"},"401":{"description":"Unauthorized"}},"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"email":{"description":"User email address","type":"string"},"password":{"description":"User password","type":"string"}},"required":["email","password"]}}}}}},"/user/logout":{"get":{"security":[{"bearerAuth":[]}],"tags":["auth"],"summary":"Logs out user and invalidates bearer token","parameters":[{"$ref":"#/components/parameters/JWTToken"}],"responses":{"200":{"description":"User has been logged out"}}}},"/user/refresh":{"get":{"security":[{"bearerAuth":[]}],"tags":["auth"],"summary":"Refreshes session and generates new token","parameters":[{"in":"header","name":"Authentication","required":true,"description":"Bearer token in Authentication header","schema":{"type":"string","example":"Bearer <token>"}}],"responses":{"200":{"$ref":"#/components/responses/JWTToken"}}}},"/user/balance":{"get":{"security":[{"bearerAuth":[]}],"tags":["auth"],"summary":"Gets users balance.","parameters":[{"$ref":"#/components/parameters/JWTToken"}],"responses":{"200":{"description":"User balance. Updated every 5 minutes.","content":{"application/json":{"schema":{"type":"object","properties":{"balance":{"type":"number","example":87.23}}}}}}}}},"/proxies":{"get":{"security":[{"bearerAuth":[]}],"tags":["proxies"],"summary":"get list of proxies","parameters":[{"$ref":"#/components/parameters/JWTToken"},{"in":"query","name":"page","schema":{"type":"integer"},"description":"proxylist page"},{"in":"query","name":"pagesize","schema":{"type":"integer"},"description":"number of proxies per page. Max 100."}],"responses":{"200":{"$ref":"#/components/responses/ProxyList"}}},"post":{"security":[{"bearerAuth":[]}],"tags":["proxies"],"summary":"create new proxy","parameters":[{"$ref":"#/components/parameters/JWTToken"}],"responses":{"200":{"description":"created proxy","content":{"application/json":{"schema":{"type":"object","properties":{"proxy":{"$ref":"#/components/schemas/Proxy"}}}}}}},"requestBody":{"description":"body is optional. omit username and/or password for autogenerated values. omit other values for default values.","content":{"application/json":{"schema":{"type":"object","properties":{"proxy":{"$ref":"#/components/schemas/Proxy"}}}}}}}},"/proxies/{id}":{"put":{"security":[{"bearerAuth":[]}],"tags":["proxies"],"summary":"update proxy","parameters":[{"$ref":"#/components/parameters/JWTToken"},{"in":"path","name":"id","required":true,"description":"id of the proxy to be modified","schema":{"type":"string","format":"uuid","example":"d0e9bf70-ed97-4197-aa06-cbecb601de37"}}],"responses":{"200":{"description":"updated proxy","content":{"application/json":{"schema":{"type":"object","properties":{"proxy":{"$ref":"#/components/schemas/Proxy"}}}}}}},"requestBody":{"description":"only specified values will be updated. omitted ones will stay unchanged.","content":{"application/json":{"schema":{"type":"object","properties":{"proxy":{"$ref":"#/components/schemas/Proxy"}}}}}}},"get":{"security":[{"bearerAuth":[]}],"tags":["proxies"],"summary":"get proxy details","parameters":[{"$ref":"#/components/parameters/JWTToken"},{"in":"path","name":"id","required":true,"description":"id of the proxy to be retrieved","schema":{"type":"string","format":"uuid","example":"d0e9bf70-ed97-4197-aa06-cbecb601de37"}}],"responses":{"200":{"description":"requested proxy","content":{"application/json":{"schema":{"type":"object","properties":{"proxy":{"$ref":"#/components/schemas/Proxy"}}}}}}}},"delete":{"security":[{"bearerAuth":[]}],"tags":["proxies"],"summary":"deletes proxy","parameters":[{"$ref":"#/components/parameters/JWTToken"},{"in":"path","name":"id","required":true,"description":"id of the proxy to be retrieved","schema":{"type":"string","format":"uuid","example":"d0e9bf70-ed97-4197-aa06-cbecb601de37"}}],"responses":{"204":{"description":"proxy deleted"}}}},"/stats":{"get":{"security":[{"bearerAuth":[]}],"tags":["stats"],"summary":"Account statistics","parameters":[{"$ref":"#/components/parameters/JWTToken"},{"$ref":"#/components/parameters/StartDate"},{"$ref":"#/components/parameters/EndDate"},{"in":"query","name":"type","description":"Optional proxy type. If not specified, all types are used.","schema":{"type":"string","enum":["datacenter","residential","residential_city","mobile"],"example":"residential"}}],"responses":{"200":{"$ref":"#/components/responses/UserStats"}}}},"/stats/proxy/{id}":{"get":{"security":[{"bearerAuth":[]}],"tags":["stats"],"summary":"Proxy statistics","parameters":[{"$ref":"#/components/parameters/JWTToken"},{"in":"path","name":"id","required":true,"description":"Proxy ID","schema":{"type":"string","format":"uuid","example":"d0e9bf70-ed97-4197-aa06-cbecb601de37"}},{"$ref":"#/components/parameters/StartDate"},{"$ref":"#/components/parameters/EndDate"}],"responses":{"200":{"$ref":"#/components/responses/ProxyStats"}}}}},"servers":[{"url":"https://packetproxies.io/api/v1"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"parameters":{"JWTToken":{"in":"header","name":"Authentication","required":true,"description":"Bearer token in Authentication header","schema":{"type":"string","example":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOlwvX..."}},"StartDate":{"in":"query","name":"start","description":"Optional start date. If not specified, todays date is used.","schema":{"type":"string","example":"2019-08-01"}},"EndDate":{"in":"query","name":"end","description":"Optional end date. If not specified, todays date is used.","schema":{"type":"string","example":"2019-08-31"}}},"responses":{"ProxyList":{"description":"Paginated list of proxies","content":{"application/json":{"schema":{"type":"object","properties":{"current_page":{"type":"integer","example":1},"from":{"type":"integer","example":1},"to":{"type":"integer","example":10},"total":{"type":"integer","example":13},"last_page":{"type":"integer","example":2},"data":{"type":"array","items":{"$ref":"#/components/schemas/Proxy"},"example":[{"id":"d0e9bf70-ed97-4197-aa06-cbecb601de37","username":"apersedswun","password":"Q6b5KqnQ57PFeBh","price":"2.00,","type":"datacenter","country":"us","state":"california","city":"losangeles","asn":"xx","carrier":"xx","rotation":0,"host":"proxy.packetproxies.io","port":41414},{"id":"955ec14c-f52f-4519-903e-093a7d08fdfc","username":"inalson","password":"ppPjFQqGdWoL0o6","price":"30.00,","type":"mobile","country":"xx","state":"xx","city":"xx","asn":"xx","carrier":"xx","rotation":60,"host":"proxy.packetproxies.io","port":41414}]}}}}}},"UserStats":{"description":"User statistics per day","content":{"application/json":{"schema":{"type":"object","properties":{"stats":{"type":"array","items":{"$ref":"#/components/schemas/Stats"},"example":[{"$ref":"#/components/examples/statsExample1"},{"$ref":"#/components/examples/statsExample2"}]}}}}}},"ProxyStats":{"description":"Proxy statistics per day","content":{"application/json":{"schema":{"type":"object","properties":{"proxy_id":{"type":"string","format":"uuid","example":"d0e9bf70-ed97-4197-aa06-cbecb601de37"},"stats":{"type":"array","items":{"$ref":"#/components/schemas/Stats"},"example":[{"$ref":"#/components/examples/statsExample1"},{"$ref":"#/components/examples/statsExample2"}]}}}}}},"JWTToken":{"description":"JWT Token","content":{"application/json":{"schema":{"type":"object","properties":{"token":{"type":"string"},"type":{"type":"string"},"expires":{"type":"integer"}},"example":{"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOlwvX...","type":"bearer","expires":3600}}}}}},"examples":{"statsExample1":{"value":{"date":"2019-08-01","txbytes":28392,"rxbytes":9382,"totalbytes":37774,"rxprice":1.23382,"txprice":0.0323,"totalprice":1.26612,"ips":20382}},"statsExample2":{"value":{"date":"2019-08-02","txbytes":7273,"rxbytes":10218,"totalbytes":17491,"rxprice":0.03923,"txprice":1.8323,"totalprice":1.87153,"ips":2938}}},"schemas":{"Proxy":{"type":"object","properties":{"id":{"readOnly":true,"type":"string","format":"uuid","example":"d0e9bf70-ed97-4197-aa06-cbecb601de37"},"username":{"type":"string","example":"endymon","minLength":5},"password":{"type":"string","format":"password","example":"Dn87!vsCx12","minLength":8},"price":{"readOnly":true,"type":"number","example":3.0},"type":{"type":"string","enum":["datacenter","residential","residential_city","mobile"],"example":"datacenter"},"country":{"type":"string","example":"xx"},"state":{"type":"string","example":"xx"},"city":{"type":"string","example":"xx"},"asn":{"type":"string","example":"xx"},"carrier":{"type":"string","example":"xx"},"rotation":{"type":"integer","enum":[0,60,300,600],"example":300},"host":{"type":"string","readOnly":true,"example":"proxy.packetproxies.io"},"port":{"type":"integer","readOnly":true,"example":41414},"enabled":{"type":"boolean","example":1}}},"Stats":{"type":"object","properties":{"date":{"type":"string","example":"2019-08-01"},"txbytes":{"type":"integer","example":7273},"rxbytes":{"type":"integer","example":10218},"totalbytes":{"type":"integer","example":17491},"rxprice":{"type":"number","example":0.03923},"txprice":{"type":"number","example":1.8323},"totalprice":{"type":"number","example":1.87153},"ips":{"type":"integer","example":2938}}}}}}