{"openapi":"3.0.0","info":{"version":"1.0-oas3","title":"TakeOutDelivery API","description":"This API enables developers to create a prepared food takeout and delivery online ordering service from as small as a single location to large multifranchise organizations."},"servers":[{"url":"https://api.takeoutdelivery.com/v1"}],"tags":[{"name":"business","description":"Manage takeout/delivery businesses","externalDocs":{"description":"Find out more","url":"http://api.takeoutdelivery.com/documentation"}},{"name":"franchise","description":"Manage takeout/delivery franchises","externalDocs":{"description":"Find out more","url":"http://api.takeoutdelivery.com/documentation"}},{"name":"location","description":"Manage takeout/delivery locations","externalDocs":{"description":"Find out more","url":"http://api.takeoutdelivery.com/documentation"}},{"name":"menuType","description":"Manage takeout/delivery menu types","externalDocs":{"description":"Find out more","url":"http://api.takeoutdelivery.com/documentation"}},{"name":"menu","description":"Manage takeout/delivery menus","externalDocs":{"description":"Find out more","url":"http://api.takeoutdelivery.com/documentation"}},{"name":"menuSection","description":"Manage takeout/delivery menu sectons","externalDocs":{"description":"Find out more","url":"http://api.takeoutdelivery.com/documentation"}},{"name":"menuSectionItem","description":"Manage takeout/delivery menu secton items","externalDocs":{"description":"Find out more","url":"http://api.takeoutdelivery.com/documentation"}},{"name":"menuSectionItemOption","description":"Manage takeout/delivery menu secton item options","externalDocs":{"description":"Find out more","url":"http://api.takeoutdelivery.com/documentation"}}],"paths":{"/business":{"post":{"tags":["business"],"summary":"Create a new takeout/delivery business","operationId":"addBusiness","responses":{"405":{"description":"Invalid input"}},"security":[{"petstore_auth":["write:pets","read:pets"]}],"requestBody":{"$ref":"#/components/requestBodies/Business"}},"put":{"tags":["business"],"summary":"Update an existing takeout/delivery business","operationId":"updateBusiness","responses":{"400":{"description":"Invalid ID supplied"},"404":{"description":"Business not found"},"405":{"description":"Validation exception"}},"security":[{"petstore_auth":["write:pets","read:pets"]}],"requestBody":{"$ref":"#/components/requestBodies/Business"}},"get":{"tags":["business"],"summary":"Get all takeout/delivery businesses","description":"Multiple status values can be provided with comma separated strings","operationId":"findBusinessByName","parameters":[{"name":"status","in":"query","description":"Name values that need to be considered for filter","required":true,"explode":true,"schema":{"type":"array","items":{"type":"string","enum":["available","pending","sold"],"default":"available"}}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Business"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Business"}}}}},"400":{"description":"Invalid status value"}},"security":[{"petstore_auth":["write:pets","read:pets"]}]}},"/business/{businessId}":{"get":{"tags":["business"],"summary":"Get takeout/delivery by ID","description":"Returns a single business","operationId":"getBusinessById","parameters":[{"name":"businessId","in":"path","description":"ID of business to return","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Business"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Business"}}}},"400":{"description":"Invalid ID supplied"},"404":{"description":"Business not found"}},"security":[{"api_key":[]}]}},"/franchise":{"post":{"tags":["franchise"],"summary":"Create a new takeout/delivery franchise","operationId":"addFranchise","responses":{"405":{"description":"Invalid input"}},"security":[{"petstore_auth":["write:pets","read:pets"]}],"requestBody":{"$ref":"#/components/requestBodies/Business"}},"put":{"tags":["franchise"],"summary":"Update an existing takeout/delivery franchise","operationId":"updateFranchise","responses":{"400":{"description":"Invalid ID supplied"},"404":{"description":"Pet not found"},"405":{"description":"Validation exception"}},"security":[{"petstore_auth":["write:pets","read:pets"]}],"requestBody":{"$ref":"#/components/requestBodies/Business"}},"get":{"tags":["franchise"],"summary":"Get all takeout/delivery franchises","description":"Multiple status values can be provided with comma separated strings","operationId":"findFranchiseByName","parameters":[{"name":"status","in":"query","description":"Status values that need to be considered for filter","required":true,"explode":true,"schema":{"type":"array","items":{"type":"string","enum":["available","pending","sold"],"default":"available"}}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Business"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Business"}}}}},"400":{"description":"Invalid status value"}},"security":[{"petstore_auth":["write:pets","read:pets"]}]}},"/franchise/{franchiseId}":{"get":{"tags":["franchise"],"summary":"Get takeout/delivery franchise by ID","description":"Returns a single business","operationId":"getFranchiseById","parameters":[{"name":"franchiseId","in":"path","description":"ID of franchise to return","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Franchise"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Franchise"}}}},"400":{"description":"Invalid ID supplied"},"404":{"description":"Business not found"}},"security":[{"api_key":[]}]}},"/location":{"post":{"tags":["location"],"summary":"Create a new takeout/delivery location","operationId":"addLocation","responses":{"405":{"description":"Invalid input"}},"security":[{"petstore_auth":["write:pets","read:pets"]}],"requestBody":{"$ref":"#/components/requestBodies/Business"}},"put":{"tags":["location"],"summary":"Update an existing takeout/delivery location","operationId":"updateLocation","responses":{"400":{"description":"Invalid ID supplied"},"404":{"description":"Pet not found"},"405":{"description":"Validation exception"}},"security":[{"petstore_auth":["write:pets","read:pets"]}],"requestBody":{"$ref":"#/components/requestBodies/Business"}},"get":{"tags":["location"],"summary":"Get all takeout/delivery locations","description":"Multiple status values can be provided with comma separated strings","operationId":"findLocationByName","parameters":[{"name":"status","in":"query","description":"Status values that need to be considered for filter","required":true,"explode":true,"schema":{"type":"array","items":{"type":"string","enum":["available","pending","sold"],"default":"available"}}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Business"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Business"}}}}},"400":{"description":"Invalid status value"}},"security":[{"petstore_auth":["write:pets","read:pets"]}]}},"/location/{locationId}":{"get":{"tags":["location"],"summary":"Get takeout/delivery location by ID","description":"Returns a single location","operationId":"getLocationById","parameters":[{"name":"locationId","in":"path","description":"ID of location to return","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Location"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Location"}}}},"400":{"description":"Invalid ID supplied"},"404":{"description":"Business not found"}},"security":[{"api_key":[]}]}},"/menuType":{"post":{"tags":["menuType"],"summary":"Create a new takeout/delivery menu type","operationId":"addMenuType","responses":{"405":{"description":"Invalid input"}},"security":[{"petstore_auth":["write:pets","read:pets"]}],"requestBody":{"$ref":"#/components/requestBodies/Business"}},"put":{"tags":["menuType"],"summary":"Update an existing takeout/delivery menu type","operationId":"updateMenuType","responses":{"400":{"description":"Invalid ID supplied"},"404":{"description":"Business not found"},"405":{"description":"Validation exception"}},"security":[{"petstore_auth":["write:pets","read:pets"]}],"requestBody":{"$ref":"#/components/requestBodies/Business"}},"get":{"tags":["menuType"],"summary":"Get all takeout/delivery menu types","description":"Multiple status values can be provided with comma separated strings","operationId":"getMenuType","parameters":[{"name":"status","in":"query","description":"Name values that need to be considered for filter","required":true,"explode":true,"schema":{"type":"array","items":{"type":"string","enum":["available","pending","sold"],"default":"available"}}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Business"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Business"}}}}},"400":{"description":"Invalid status value"}},"security":[{"petstore_auth":["write:pets","read:pets"]}]}},"/menu":{"post":{"tags":["menu"],"summary":"Create a new takeout/delivery menu","operationId":"addMenu","responses":{"405":{"description":"Invalid input"}},"security":[{"petstore_auth":["write:pets","read:pets"]}],"requestBody":{"$ref":"#/components/requestBodies/Business"}},"put":{"tags":["menu"],"summary":"Update an existing takeout/delivery menu","operationId":"updateMenu","responses":{"400":{"description":"Invalid ID supplied"},"404":{"description":"Business not found"},"405":{"description":"Validation exception"}},"security":[{"petstore_auth":["write:pets","read:pets"]}],"requestBody":{"$ref":"#/components/requestBodies/Business"}},"get":{"tags":["menu"],"summary":"Get all takeout/delivery menus","description":"Multiple status values can be provided with comma separated strings","operationId":"getMenu","parameters":[{"name":"status","in":"query","description":"Name values that need to be considered for filter","required":true,"explode":true,"schema":{"type":"array","items":{"type":"string","enum":["available","pending","sold"],"default":"available"}}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Business"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Business"}}}}},"400":{"description":"Invalid status value"}},"security":[{"petstore_auth":["write:pets","read:pets"]}]}},"/menuSection":{"post":{"tags":["menuSection"],"summary":"Create a new takeout/delivery menu section","operationId":"addMenuSection","responses":{"405":{"description":"Invalid input"}},"security":[{"petstore_auth":["write:pets","read:pets"]}],"requestBody":{"$ref":"#/components/requestBodies/Business"}},"put":{"tags":["menuSection"],"summary":"Update an existing takeout/delivery menu section","operationId":"updateMenuSection","responses":{"400":{"description":"Invalid ID supplied"},"404":{"description":"Business not found"},"405":{"description":"Validation exception"}},"security":[{"petstore_auth":["write:pets","read:pets"]}],"requestBody":{"$ref":"#/components/requestBodies/Business"}},"get":{"tags":["menuSection"],"summary":"Get all takeout/delivery menu sections","description":"Multiple status values can be provided with comma separated strings","operationId":"getMenuSection","parameters":[{"name":"status","in":"query","description":"Name values that need to be considered for filter","required":true,"explode":true,"schema":{"type":"array","items":{"type":"string","enum":["available","pending","sold"],"default":"available"}}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Business"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Business"}}}}},"400":{"description":"Invalid status value"}},"security":[{"petstore_auth":["write:pets","read:pets"]}]}},"/menuSectionItem":{"post":{"tags":["menuSectionItem"],"summary":"Create a new takeout/delivery menu item","operationId":"addMenuSectionItem","responses":{"405":{"description":"Invalid input"}},"security":[{"petstore_auth":["write:pets","read:pets"]}],"requestBody":{"$ref":"#/components/requestBodies/Business"}},"put":{"tags":["menuSectionItem"],"summary":"Update an existing takeout/delivery menu item","operationId":"updateMenuSectionItem","responses":{"400":{"description":"Invalid ID supplied"},"404":{"description":"Business not found"},"405":{"description":"Validation exception"}},"security":[{"petstore_auth":["write:pets","read:pets"]}],"requestBody":{"$ref":"#/components/requestBodies/Business"}},"get":{"tags":["menuSectionItem"],"summary":"Get all takeout/delivery menu items","description":"Multiple status values can be provided with comma separated strings","operationId":"getMenuSectionItem","parameters":[{"name":"status","in":"query","description":"Name values that need to be considered for filter","required":true,"explode":true,"schema":{"type":"array","items":{"type":"string","enum":["available","pending","sold"],"default":"available"}}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Business"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Business"}}}}},"400":{"description":"Invalid status value"}},"security":[{"petstore_auth":["write:pets","read:pets"]}]}},"/menuSectionItemOption":{"post":{"tags":["menuSectionItemOption"],"summary":"Create a new takeout/delivery menu item option","operationId":"addSectionItemOption","responses":{"405":{"description":"Invalid input"}},"security":[{"petstore_auth":["write:pets","read:pets"]}],"requestBody":{"$ref":"#/components/requestBodies/Business"}},"put":{"tags":["menuSectionItemOption"],"summary":"Update an existing takeout/delivery menu item option","operationId":"updateSectionItemOption","responses":{"400":{"description":"Invalid ID supplied"},"404":{"description":"Business not found"},"405":{"description":"Validation exception"}},"security":[{"petstore_auth":["write:pets","read:pets"]}],"requestBody":{"$ref":"#/components/requestBodies/Business"}},"get":{"tags":["menuSectionItemOption"],"summary":"Get all takeout/delivery menu item options","description":"Multiple status values can be provided with comma separated strings","operationId":"getSectionItemOption","parameters":[{"name":"status","in":"query","description":"Name values that need to be considered for filter","required":true,"explode":true,"schema":{"type":"array","items":{"type":"string","enum":["available","pending","sold"],"default":"available"}}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Business"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Business"}}}}},"400":{"description":"Invalid status value"}},"security":[{"petstore_auth":["write:pets","read:pets"]}]}}},"externalDocs":{"description":"Find out more about Swagger","url":"http://swagger.io"},"components":{"schemas":{"Business":{"type":"object","required":["name","photoUrls"],"properties":{"id":{"type":"integer","format":"int64"},"categoryId":{"type":"integer","format":"int64"},"addressId":{"type":"integer","format":"int64"},"businessName":{"type":"string","example":"Martha's Tapas"},"businessTakeOutOnlyIndicator":{"type":"boolean"},"businessURL":{"type":"string","example":"https://marthastapas.com"},"businessLogoImage":{"type":"string"},"businessSynopsisText":{"type":"string","example":"Tapas for the Masses"},"businessNarrativeText":{"type":"string","example":"We have the best Tapas in town."}},"xml":{"name":"Business"}},"Franchise":{"type":"object","required":["name","photoUrls"],"properties":{"id":{"type":"integer","format":"int64"},"categoryId":{"type":"integer","format":"int64"},"addressId":{"type":"integer","format":"int64"},"name":{"type":"string","example":"Martha's Tapas"},"tags":{"type":"array","xml":{"name":"tag","wrapped":true},"items":{"$ref":"#/components/schemas/Tag"}},"status":{"type":"string","description":"location status","enum":["offline","online"]}},"xml":{"name":"Franchise"}},"Location":{"type":"object","required":["name","photoUrls"],"properties":{"id":{"type":"integer","format":"int64"},"categoryId":{"type":"integer","format":"int64"},"addressId":{"type":"integer","format":"int64"},"name":{"type":"string","example":"Martha's Tapas"},"tags":{"type":"array","xml":{"name":"tag","wrapped":true},"items":{"$ref":"#/components/schemas/Tag"}},"status":{"type":"string","description":"location status","enum":["offline","online"]}},"xml":{"name":"Location"}},"MenuType":{"type":"object","required":["name","photoUrls"],"properties":{"id":{"type":"integer","format":"int64"},"categoryId":{"type":"integer","format":"int64"},"addressId":{"type":"integer","format":"int64"},"name":{"type":"string","example":"Martha's Tapas"},"tags":{"type":"array","xml":{"name":"tag","wrapped":true},"items":{"$ref":"#/components/schemas/Tag"}},"status":{"type":"string","description":"location status","enum":["offline","online"]}},"xml":{"name":"MenuType"}},"Menu":{"type":"object","required":["name","photoUrls"],"properties":{"id":{"type":"integer","format":"int64"},"categoryId":{"type":"integer","format":"int64"},"addressId":{"type":"integer","format":"int64"},"name":{"type":"string","example":"Martha's Tapas"},"tags":{"type":"array","xml":{"name":"tag","wrapped":true},"items":{"$ref":"#/components/schemas/Tag"}},"status":{"type":"string","description":"location status","enum":["offline","online"]}},"xml":{"name":"Menu"}},"MenuSection":{"type":"object","required":["name","photoUrls"],"properties":{"id":{"type":"integer","format":"int64"},"categoryId":{"type":"integer","format":"int64"},"addressId":{"type":"integer","format":"int64"},"name":{"type":"string","example":"Martha's Tapas"},"tags":{"type":"array","xml":{"name":"tag","wrapped":true},"items":{"$ref":"#/components/schemas/Tag"}},"status":{"type":"string","description":"location status","enum":["offline","online"]}},"xml":{"name":"MenuSection"}},"MenuSectionItemOption":{"type":"object","required":["name","photoUrls"],"properties":{"id":{"type":"integer","format":"int64"},"categoryId":{"type":"integer","format":"int64"},"addressId":{"type":"integer","format":"int64"},"name":{"type":"string","example":"Martha's Tapas"},"tags":{"type":"array","xml":{"name":"tag","wrapped":true},"items":{"$ref":"#/components/schemas/Tag"}},"status":{"type":"string","description":"location status","enum":["offline","online"]}},"xml":{"name":"MenuSectionItemOption"}},"MenuSectionItem":{"type":"object","required":["name","photoUrls"],"properties":{"id":{"type":"integer","format":"int64"},"categoryId":{"type":"integer","format":"int64"},"addressId":{"type":"integer","format":"int64"},"name":{"type":"string","example":"Martha's Tapas"},"tags":{"type":"array","xml":{"name":"tag","wrapped":true},"items":{"$ref":"#/components/schemas/Tag"}},"status":{"type":"string","description":"location status","enum":["offline","online"]}},"xml":{"name":"MenuSectionItem"}},"Tag":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}},"xml":{"name":"Tag"}}},"requestBodies":{"Business":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Business"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Business"}}},"description":"Business object to be added","required":true}},"securitySchemes":{"petstore_auth":{"type":"oauth2","flows":{"implicit":{"authorizationUrl":"http://petstore.swagger.io/oauth/dialog","scopes":{"write:pets":"modify pets in your account","read:pets":"read your pets"}}}},"api_key":{"type":"apiKey","name":"api_key","in":"header"}}}}