{"openapi":"3.0.0","info":{"title":"Authentication v1","description":"Bykea Open API to get Authentication token. \n  \n To begin using Bykea Open APIs you will first need to submit a request for account creation using the **[Sign Up Form](https://docs.google.com/forms/d/e/1FAIpQLSeJdTF03gIEnK_O_lKFf9G85rpG9lzxFZeUsgwpSUwBCga2fA/viewform?usp=sf_link)**. \n\n Once your account is enabled for API utilization and you have received your X-BB-Client-Key, you will then use our Authentication API to generate x-bb-client-token.\n  \n**Host URL**: https://sandbox-raptor.bykea.net\n   \n **API URL:** {{Host URL}}/v1/oauth/customer\n \n **Request Header:**  \n Content-Type: application/json   \n X-BB-Client-Key: Will be provided after the creation of the account.\n  \n  For more information click **[here](https://docs.google.com/document/d/1LWo_pQMx5KnoMfQhTO0XFWeAE-Jyv_-I9HssiOlGer0/edit?usp=sharing)**.\n  \n","version":"1.0.0-oas3"},"paths":{"/oauth/customer":{"post":{"summary":"Returns a token","parameters":[{"in":"header","name":"X-BB-Client-Key","required":true,"description":"enter the client key that was emailed to you","schema":{"type":"string"}}],"responses":{"200":{"description":"Authentication Successful","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer","example":200},"token":{"type":"string"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer","example":400},"message":{"type":"string"},"success":{"type":"boolean","example":false}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer","example":401},"message":{"type":"string"},"success":{"type":"boolean","example":false}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer","example":404},"message":{"type":"string"},"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Not Found"}}}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer","example":422},"message":{"type":"string"},"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Unprocessable Entity"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer","example":500},"message":{"type":"string","example":"Internal server error"}}}}}}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/body"}}},"description":"The required parameters are:\n - number (The correct format is 923071234567)\n"}}}},"servers":[{"url":"https://sandbox-raptor.bykea.net/v1"}],"components":{"schemas":{"body":{"type":"object","required":["number"],"properties":{"number":{"type":"number"}},"example":{"number":"923071234567"}}}}}