{"openapi":"3.0.2","info":{"description":"API Immo-Facile","version":"1.0.0-oas3","title":"API Immo-Facile"},"servers":[{"url":"https://v2.immo-facile.com/api","description":"Environnement de production"},{"url":"https://pilote.immo-facile.com/api","description":"Environnement de pilote (sur données de production)"},{"url":"https://recette.immo-facile.com/api","description":"Environnement de recette (copie des données de production)"},{"url":"https://dev.immo-facile.com/api","description":"Environnement de développement"}],"security":[{"clientAuth":[]}],"paths":{"/client/token/site":{"post":{"summary":"Permet de Récupèrer un token de type site","security":[{"clientAuth":[]}],"requestBody":{"description":"Passer un id de site, ou un id d'agence","required":true,"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"site_id":{"type":"integer","description":"Id d'un site"},"manufacturer_id":{"type":"integer","description":"Id d'agence, le site utilisé sera le site auquel l'agence est rattachée"}}}}}},"responses":{"200":{"description":"Tokens permettant de s\\'authentifier à l\\'ensemble de l'API","content":{"application/json":{"schema":{"type":"object","properties":{"token_type":{"type":"string"},"expires_in":{"type":"integer"},"access_token":{"type":"string"},"refresh_token":{"type":"string"}}}}}}}}},"/client/token/user":{"post":{"summary":"Permet de récupèrer un token de type user","security":[{"clientAuth":[]}],"requestBody":{"description":"Passer soit l'id, soit l'email","required":true,"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"id":{"type":"integer","description":"Id de l'utilisateur"},"email":{"type":"integer","description":"Email de l'utilisateur"}}}}}},"responses":{"200":{"description":"Tokens permettant de s\\'authentifier à l\\'ensemble de l'API, ou au logiciel","content":{"application/json":{"schema":{"type":"object","properties":{"token_type":{"type":"string"},"expires_in":{"type":"integer"},"access_token":{"type":"string"},"refresh_token":{"type":"string"}}}}}}}}},"/client/sso/user":{"post":{"summary":"Fourni un token utilisateur pour le SSO","security":[{"clientAuth":[]}],"requestBody":{"description":"Passer soit l'id, soit l'email","required":true,"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"id":{"type":"integer","description":"Id de l'utilisateur"},"email":{"type":"integer","description":"Email de l'utilisateur"}}}}}},"responses":{"200":{"description":"Tokens permettant de s\\'authentifier sans mot de passe","content":{"application/json":{"schema":{"type":"object","properties":{"token":{"type":"string","description":"Token valable 30 minutes"},"link":{"type":"string","description":"Lien de connexion prêt à l'emploi"}}}}}}}}},"/client/sso/admin":{"post":{"summary":"Fourni un token administrateur pour le SSO","security":[{"clientAuth":[]}],"requestBody":{"description":"Passer soit l'id, soit l'email","required":true,"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"admin_id":{"type":"integer","description":"Id de l'administrateur"},"site_id":{"type":"integer","description":"Id du site de connexion"},"user_id":{"type":"integer","description":"Id de l'utilisateur sur le quel se connecter"}}}}}},"responses":{"200":{"description":"Tokens permettant de s\\'authentifier sans mot de passe","content":{"application/json":{"schema":{"type":"object","properties":{"token":{"type":"string","description":"Token valable 30 minutes"},"link":{"type":"string","description":"Lien de connexion prêt à l'emploi"}}}}}}}}},"/site/oauth/token":{"post":{"summary":"Permet de Récupèrer un token","requestBody":{"description":"Permet à un site de s'authentifier","required":true,"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"grant_type":{"type":"string","enum":["password","refresh_token"]},"client_id":{"type":"integer"},"client_secret":{"type":"string"},"username":{"type":"integer","description":"Seulement si grant_type = password"},"password":{"type":"string","description":"Seulement si grant_type = password"},"refresh_token":{"type":"string","description":"Seulement si grant_type = refresh_token"}}}}}},"responses":{"200":{"description":"Tokens permettant de s\\'authentifier à l\\'ensemble de l'API","content":{"application/json":{"schema":{"type":"object","properties":{"token_type":{"type":"string"},"expires_in":{"type":"integer"},"access_token":{"type":"string"},"refresh_token":{"type":"string"}}}}}}}}},"/site/admins":{"get":{"summary":"Récupère la liste des utilisateurs rattachés aux agences","responses":{"200":{"description":"Les utilisateurs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Admins"}}}}}}},"/site/admin/{id}":{"get":{"summary":"Récupère un utilisateur","parameters":[{"name":"id","in":"path","description":"ID de l'admin","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"L'utilisateur","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Admin"}}}}}}},"/site/manufacturers":{"get":{"summary":"Récupère la liste des agences","responses":{"200":{"description":"Les agences","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ManufacturerSite"}}}}}}}},"/site/manufacturer/{id}":{"get":{"summary":"Récupère une agence","parameters":[{"name":"id","in":"path","description":"ID de l'agence","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"L'agence","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManufacturerSiteFull"}}}}}}},"/site/product":{"post":{"summary":"Création d'un bien","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductInput"}}}},"responses":{"204":{"description":"Créé","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"id du bien créé","type":"integer"}}}}}}}}},"/site/products/search":{"post":{"summary":"Recherche de bien","parameters":[{"name":"fetch","in":"query","schema":{"$ref":"#/components/schemas/ProductFetch"},"description":"Si non présent, renvoie uniquements les ids. Si présent mais vide, renvoie les infos de base. Si présent récupère les champs associés, exemple => \\\"?fetch=criteres_text,criteres_number\\\""},{"name":"skip","in":"query","schema":{"type":"integer","minimum":0}},{"name":"count","in":"query","schema":{"type":"integer","minimum":1,"maximum":100}},{"name":"sort_type","in":"query","schema":{"type":"string","enum":["id","prix","date","surface","date_added"],"default":"id"}},{"name":"sort_order","in":"query","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductSearchRequest"}}}},"responses":{"200":{"description":"Les biens","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Products"}}}}}}},"/site/products/search/count":{"post":{"summary":"Compte le nombre de biens associés à une recherche (polygon, non supporté)","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductSearchRequest"}}}},"responses":{"200":{"description":"Le compteur","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer"}}}}}}}}},"/site/product/{id}":{"get":{"summary":"Récupère un bien","parameters":[{"name":"id","in":"path","description":"Id du bien à réupérer","required":true,"schema":{"type":"integer"}},{"name":"fetch","in":"query","schema":{"$ref":"#/components/schemas/ProductFetch"},"description":"Si présent récupère les champs associés, exemple => \\\"?fetch=criteres_text,criteres_number\\\""}],"responses":{"200":{"description":"Le bien","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}}}}},"/site/product/{id}/lots":{"get":{"summary":"Récupère les lots rattachés à un bien","parameters":[{"name":"id","in":"path","description":"Id du bien de rattachemznt","required":true,"schema":{"type":"integer"}},{"name":"fetch","in":"query","schema":{"$ref":"#/components/schemas/ProductFetch"},"description":"Si présent récupère les champs associés, exemple => \\\"?fetch=criteres_text,criteres_number\\\""}],"responses":{"200":{"description":"Les biens","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Product"}}}}}}}},"/site/product/{id}/addViewFromWebSite":{"put":{"summary":"Ajoute une unité au compteur du nombre de vue du bien depuis un site web (non Ac3)","parameters":[{"name":"id","in":"path","description":"Id du bien sur lequelle il faut incrémenter le compteur de vue","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"succès d'incrémentation du nombre de vue"}}}},"/site/customer":{"post":{"summary":"Création de contact","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerInput"}}}},"responses":{"201":{"description":"Créé","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer"}}}}}}}}},"/site/customer/{id}":{"put":{"summary":"Mise à jour d'un contact","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerInput"}}}},"parameters":[{"name":"id","in":"path","description":"Id du contact","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Mis à jour"}}}},"/site/customer/{c_id}/search_request":{"post":{"summary":"Création d'une recherche","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerSearchRequestInput"}}}},"parameters":[{"name":"c_id","in":"path","description":"Id du contact","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Créé","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"id de la recherche créé","type":"integer"}}}}}}}}},"/site/customer/search_request/{sr_id}":{"put":{"summary":"Mise à jour d'une recherche","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerSearchRequestInput"}}}},"parameters":[{"name":"sr_id","in":"path","description":"Id de la recherche","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Mis à jour"}}}},"/site/customers/search":{"post":{"summary":"Recherche de contact","parameters":[{"name":"skip","in":"query","schema":{"type":"integer","minimum":0}},{"name":"count","in":"query","schema":{"type":"integer","minimum":1,"maximum":200}},{"name":"sort_type","in":"query","schema":{"type":"string","enum":["id","firstname","lastname","created_at","updated_at"],"default":"id"}},{"name":"sort_order","in":"query","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerSearchRequest"}}}},"responses":{"200":{"description":"Les contacts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer"}}}}}}},"/site/critere/product/all":{"get":{"summary":"Récupère tous les critères (en mode simple)","parameters":[{"name":"critere_id","in":"path","description":"Id du critere","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Critere","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Criteres"}}}}}}},"/site/critere/product/{critere_id}":{"get":{"summary":"Récupère un critère (en mode complet)","parameters":[{"name":"critere_id","in":"path","description":"Id du critere","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Critere","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Critere"}}}}}}},"/site/critere/product/{critere_id}/values":{"get":{"summary":"Liste les valeurs possibles","parameters":[{"name":"critere_id","in":"path","description":"Id du critere","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"CValues","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CValues"}}}}}}},"/site/liste/{liste_id}/values":{"get":{"summary":"Récupère une ou plusieurs listes","parameters":[{"name":"liste_id","in":"path","description":"Id de liste","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Les valeurs","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Liste"}}}}}}}},"/site/category/{category_id}/criteres":{"get":{"summary":"Récupère les critères activés pour une category","parameters":[{"name":"category_id","in":"path","description":"Id de la catégorie","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Les critère disponible","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Critere"}}}}}}}},"/site/manufacturer/{manufacturer_id}/products/categories":{"get":{"summary":"Récupère les catégories de biens disponible pour l'agence","parameters":[{"name":"manufacturer_id","in":"path","description":"Id de l'agence","required":true,"schema":{"type":"integer"}},{"name":"mode","in":"query","description":"Mode de récupération des catégories. En liste, ou en arbre.","required":false,"schema":{"type":"string","enum":["plane","tree"],"default":"tree"}}],"responses":{"200":{"description":"Les catégories","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Category"}}}}}}}},"/user/admin/genders":{"get":{"summary":"Récupére la liste des genres","responses":{"200":{"description":"Les genres","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Gender"}}}}}}}},"/user/admin/groups":{"get":{"summary":"Récupére la liste des groups","responses":{"200":{"description":"Les groups","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdminGroup"}}}}}}}},"/user/admin/types":{"get":{"summary":"Récupére la liste des types d'admin","responses":{"200":{"description":"Les types","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdminType"}}}}}}}},"/site/me":{"get":{"summary":"Récupère le site lié au token","responses":{"200":{"description":"Le site"}}}},"/user/me":{"get":{"summary":"Récupère l'utilisateur lié au token","responses":{"200":{"description":"L'utilisateur","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Admin"}}}}}}},"/user/multi_diff/stats":{"get":{"summary":"Récupère l'état","parameters":[{"name":"publications","in":"query","description":"Liste des passerelles à sélectionner","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"products","in":"query","description":"Liste des biens à sélectionner","required":true,"schema":{"type":"array","items":{"type":"integer"}}}],"responses":{"200":{"description":"Stats sélectionnées","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasserelleStats"}}}}}}},"/user/publications/active":{"get":{"summary":"Récupère la liste des passerelles actives","responses":{"200":{"description":"Stats sélectionnées","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Publications"}}}}}}},"/user/admins":{"get":{"summary":"Récupère la liste des utilisateurs rattachés aux agences","responses":{"200":{"description":"Les utilisateurs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Admins"}}}}}}},"/user/admin":{"put":{"summary":"Créé un admin","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminInput"}}}},"responses":{"201":{"description":"Créé","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer"}}}}}}}}},"/user/admin/checkPassword":{"put":{"summary":"Vérifie si le couple email / mot de passe existe","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"mail":{"type":"string"},"password":{"type":"string"}}}}}},"responses":{"200":{"description":"Raw boolean"}}}},"/user/admin/{id}":{"post":{"summary":"Mise à jour d'un admin","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminInput"}}}},"parameters":[{"name":"id","in":"path","description":"ID de l'admin à mettre à jour","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Mis à jour","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Admin"}}}}}},"delete":{"summary":"Supprime un admin","parameters":[{"name":"id","in":"path","description":"ID de l'admin à supprimer","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Supprimé"}}},"get":{"summary":"Récupère un admin","parameters":[{"name":"id","in":"path","description":"ID de l'admin à récupérer","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Mis à jour","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Admin"}}}}}}},"/user/configs/bool":{"get":{"summary":"Récupère l'état, actif ou non, des configs","parameters":[{"name":"keys","in":"query","description":"Liste des configs","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"État des configs","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"example":{"MODULE_OUTIL_PROSPECTION_MOBILE":true,"MODULE_MOBILIT":false}}}}}}}},"/user/configs/value":{"get":{"summary":"Récupère l'état des configs","parameters":[{"name":"keys","in":"query","description":"Liste des configs","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"État des configs","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"example":{"MODULE_OUTIL_PROSPECTION_MOBILE":"Bien","MAX_PICTURE":"3 pièces"}}}}}}}},"/site/admin/genders":{"get":{"summary":"Récupère la liste des genres","responses":{"200":{"description":"Les genres","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Gender"}}}}}}}},"/site/admin/groups":{"get":{"summary":"Récupère la liste des groupes d'admins","responses":{"200":{"description":"Les groupes d'admins","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdminGroup"}}}}}}}},"/site/admin/types":{"get":{"summary":"Récupère la liste des types d'admins","responses":{"200":{"description":"Les types","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdminType"}}}}}}}},"/site/criteres/{critere_id}/values":{"get":{"summary":"Liste les CValues disponible","parameters":[{"name":"critere_id","in":"path","description":"Id d'un critère de type UNIQUE","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"CValues","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/CValues"}}}}}}}},"/user/liste/{liste_id}/values":{"get":{"summary":"Récupère une ou plusieurs listes","parameters":[{"name":"liste_id","in":"path","description":"Id de liste","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Les valeurs","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Liste"}}}}}}}},"/user/manufacturers":{"get":{"summary":"Récupère la liste des agences","responses":{"200":{"description":"Les agences","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ManufacturerUser"}}}}}}}},"/user/products/search":{"get":{"summary":"Recherche des biens","parameters":[{"name":"manufacturer","in":"query","schema":{"type":"array","items":{"type":"integer"}}},{"name":"model","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"publi_code","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"C_27","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"C_28","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"C_121","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"C_124","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"C_46","in":"query","schema":{"type":"integer"}},{"name":"C_48","in":"query","schema":{"type":"integer"}},{"name":"C_41","in":"query","schema":{"type":"integer"}},{"name":"C_110","in":"query","schema":{"type":"integer"}},{"name":"C_217","in":"query","schema":{"type":"integer"}},{"name":"C_49","in":"query","schema":{"type":"integer"}},{"name":"C_47","in":"query","schema":{"type":"integer"}},{"name":"C_50","in":"query","schema":{"type":"integer"}},{"name":"price_min","in":"query","schema":{"type":"integer"}},{"name":"price_max","in":"query","schema":{"type":"integer"}},{"name":"net_price_min","in":"query","schema":{"type":"integer"}},{"name":"net_price_max","in":"query","schema":{"type":"integer"}},{"name":"C_33_min","in":"query","schema":{"type":"integer"}},{"name":"C_33_max","in":"query","schema":{"type":"integer"}},{"name":"C_34_min","in":"query","schema":{"type":"integer"}},{"name":"C_34_max","in":"query","schema":{"type":"integer"}},{"name":"diffuse_error","in":"query","schema":{"type":"boolean"}},{"name":"admin_id","in":"query","schema":{"type":"integer"}},{"name":"geoloc_exacte","in":"query","schema":{"type":"integer"}},{"name":"sort_type","in":"query","schema":{"type":"string","enum":["price","C_163"]}},{"name":"sort_order","in":"query","schema":{"type":"string","enum":["asc","desc"]}},{"name":"fetch","in":"query","schema":{"$ref":"#/components/schemas/ProductFetch"}},{"name":"count","in":"query","description":"Nombre de biens à récupérer","required":false,"schema":{"type":"integer"}},{"name":"skip","in":"query","description":"Nombre de biens à ignorer","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Liste des ids de biens correspondants","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ArrayId"},{"$ref":"#/components/schemas/Products"}]}}}}}}},"/user/critere/{critere_id}/values":{"get":{"summary":"Liste les CValues possibles","parameters":[{"name":"critere_id","in":"path","description":"ID du critere","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"CValues","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CValues"}}}}}}},"/user/criteres/{critere_id}/values":{"get":{"summary":"Liste les CValues possibles","parameters":[{"name":"critere_id","in":"path","description":"Liste d'ids de critères","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"CValues","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/CValues"}}}}}}}},"/user/critere/{critere_id}/diffuse":{"get":{"summary":"Liste l\\'état du critère sur les différentes passerelles","parameters":[{"name":"critere_id","in":"path","description":"Id du critère","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Critère par passerelle","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"publi_code":{"type":"string"},"is_export":{"type":"boolean","description":"Actuellement diffusé"},"is_disabled":{"type":"boolean"}}}}}}}}},"/user/file/upload":{"put":{"summary":"Téléverse un fichier pour le mettre à disposition du reste de l'API","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"Le fichier téléversé","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminFile"}}}}}}},"/user/file/hash/{hash}":{"get":{"summary":"Détermine en fonction de son hash (sha1) si le fichier à déjà été téléversé","parameters":[{"name":"hash","in":"path","description":"ID du fichier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Le fichier est présent","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminFile"}}}},"404":{"description":"Le fichier n'est pas ou plus présent"}}}},"/user/product/{id}":{"get":{"summary":"Récupère un bien","parameters":[{"name":"id","in":"path","description":"ID du bien","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Le bien","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}}}}},"/user/products/{ids}":{"get":{"summary":"Récupère des biens","parameters":[{"name":"ids","in":"path","description":"ID des biens","required":true,"schema":{"type":"array","items":{"type":"integer"}}}],"responses":{"200":{"description":"Les biens","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Products"}}}}}}},"/user/publication/{id}":{"get":{"summary":"Récupère une passerelle","parameters":[{"name":"id","in":"path","description":"ID de la passerelle","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"La passerelle","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Publication"}}}}}}},"/user/publication/{ids}":{"get":{"summary":"Récupère des passerelles","parameters":[{"name":"ids","in":"path","description":"ID des passerelles","required":true,"schema":{"type":"array","items":{"type":"integer"}}}],"responses":{"200":{"description":"Les passerelles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Publications"}}}}}}},"/user/product/{product_id}/diffuse/{publi_codes}":{"put":{"summary":"Ajoute le bien à la diffusion","parameters":[{"name":"product_id","in":"path","description":"ID du bien","required":true,"schema":{"type":"integer"}},{"name":"publi_codes","in":"path","description":"Publi code de la passerelle","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"204":{"description":"Mise à jour réussie"},"409":{"$ref":"#/components/responses/DiffError"}}},"delete":{"summary":"Supprime le bien de la diffusion","parameters":[{"name":"product_id","in":"path","description":"ID du bien","required":true,"schema":{"type":"integer"}},{"name":"publi_codes","in":"path","description":"Publi code de la passerelle","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"204":{"description":"Mise à jour"},"409":{"$ref":"#/components/responses/DiffError"}}}},"/user/publication/{publi_code}/diffuse/{product_ids}":{"put":{"summary":"Ajoute le bien à la diffusion","parameters":[{"name":"product_ids","in":"path","description":"ID du bien","required":true,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"publi_code","in":"path","description":"Publi code de la passerelle","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Mise à jour réussi"},"409":{"$ref":"#/components/responses/DiffError"}}},"delete":{"summary":"Supprime le bien de la diffusion","parameters":[{"name":"product_ids","in":"path","description":"ID du bien","required":true,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"publi_code","in":"path","description":"Publi code de la passerelle","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Mise à jour"},"409":{"$ref":"#/components/responses/DiffError"}}}},"/user/homebackground":{"get":{"summary":"Récupére la liste des fonds d'écran disponibles","responses":{"200":{"description":"Les fonds d'écran","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HomeBackground"}}}}}}},"post":{"summary":"Upload de nouvelle image","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"description":"Liste d'images à uploader","type":"string","format":"binary"},"tags":{"type":"string","description":"Liste de tags séparés par une virgule"}}}}}},"responses":{"200":{"description":"Les fonds d'écran","$ref":"#/components/schemas/HomeBackground"}}}},"/wizzim/manufacturers":{"get":{"summary":"Récupère la liste des agences","parameters":[{"name":"id","in":"query","schema":{"type":"integer"}},{"name":"editeur_code","in":"query","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}},{"name":"department","in":"query","schema":{"type":"integer"}},{"name":"color","in":"query","schema":{"type":"integer"}},{"name":"classification","in":"query","schema":{"type":"integer"}}],"responses":{"200":{"description":"Les agences","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ManufacturersListingWizzim"}}}}}}},"post":{"summary":"Création d'une agence","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManufacturerInput"}}}},"responses":{"201":{"description":"Créé","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"id de l'agence créée","type":"integer"}}}}}}}}},"/wizzim/manufacturers/{manufacturerId}":{"get":{"summary":"Récupère une agence","parameters":[{"name":"manufacturerId","in":"path","description":"ID de l'agence","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Informations agence","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManufacturerWizzim"}}}}}},"put":{"summary":"Mise à jour d'une agence","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManufacturerInput"}}}},"parameters":[{"name":"manufacturerId","in":"path","description":"Id de l'agence","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Mis à jour"}}}},"/wizzim/manufacturers/{manufacturerId}/contacts/":{"get":{"summary":"Retourne la liste des contacts commerciaux de l'agence","parameters":[{"name":"manufacturerId","in":"path","description":"ID de l'agence","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Contacts commerciaux de l'agence","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ManufacturerContacts"}}}}}}},"post":{"summary":"Création d'un contact pour une agence","parameters":[{"name":"manufacturerId","in":"path","description":"Id de l'agence","required":true,"schema":{"type":"integer"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManufacturerContactInput"}}}},"responses":{"201":{"description":"Créé","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"id du contact créé","type":"integer"}}}}}}}}},"/wizzim/manufacturers/{manufacturerId}/contacts/{contactId}":{"get":{"summary":"Retourne les informations d'un contact","parameters":[{"name":"manufacturerId","in":"path","description":"Id de l'agence","required":true,"schema":{"type":"integer"}},{"name":"contactId","in":"path","description":"Id du contact","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Informations contact","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ManufacturerContact"}}}}}}},"put":{"summary":"Mise à jour d'un contact","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManufacturerContactInput"}}}},"parameters":[{"name":"manufacturerId","in":"path","description":"Id de l'agence","required":true,"schema":{"type":"integer"}},{"name":"contactId","in":"path","description":"Id du contact","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Met à jour le contact"}}},"delete":{"summary":"Supprimer un contact de l'agence","parameters":[{"name":"manufacturerId","in":"path","description":"Id de l'agence","required":true,"schema":{"type":"integer"}},{"name":"contactId","in":"path","description":"Id du contact","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Supprime le contact"}}}},"/user/homebackground/{id}":{"put":{"summary":"Met à jour le fond d'écran d'un admin","parameters":[{"name":"id","in":"path","description":"Id de l'image à affecter à l'admin","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Renvoi l'admin mis à jour","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Admin"}}}}}},"delete":{"summary":"Supprime une image","parameters":[{"name":"id","in":"path","description":"Id de l'image à supprimer","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Image supprimée"}}}},"/user/box":{"get":{"summary":"Récupére la liste des box disponibles","responses":{"200":{"description":"Retourne un tableau de box","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Box"}}}}}}}},"/user/box/{id}/data":{"get":{"summary":"Récupére les données d'une box","parameters":[{"name":"id","in":"path","description":"ID de la box","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Renvoi un json différent en fonction de la box","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/user/box/{id}/admin":{"delete":{"summary":"Supprime une box de la page d'accueil d'un admin","parameters":[{"name":"id","in":"path","description":"ID de la box à retirer","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Suppression","content":{"application/json":{"schema":{"type":"object","properties":{"deleted":{"type":"boolean"}}}}}}}}},"/user/box/admin":{"get":{"summary":"Récupére la liste des box de la page d'accueil d'un admin","responses":{"200":{"description":"Retourne un tableau de box","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Box"}}}}}}},"put":{"summary":"Met à jour les box de la page d'accueil d'un admin","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"ID de la box a mettre à jour","type":"integer"},"x":{"description":"Nouvelle position x","type":"integer"},"y":{"description":"Nouvelle position y","type":"integer"},"cols":{"description":"Nouveau nombre de colonnes","type":"integer","default":1,"minimum":1},"rows":{"description":"Nouveau nombre de lignes","type":"integer","default":1,"minimum":1}}}}}},"responses":{"204":{"description":"Opération effectuée"}}}}},"components":{"securitySchemes":{"clientAuth":{"type":"http","scheme":"basic"}},"schemas":{"LatLng":{"type":"object","properties":{"lat":{"type":"integer"},"lng":{"type":"integer"}}},"ArrayId":{"type":"array","items":{"type":"integer"}},"DiffError":{"type":"object","properties":{"id":{"type":"integer"},"error_code":{"type":"integer"}}},"SearchRequest":{"type":"object","properties":{"product_type":{"description":"Liste des types de biens (c_27)","type":"array","items":{"type":"integer"}},"status":{"description":"Liste des status de biens (c_121)","type":"array","items":{"type":"integer"}},"transactions":{"description":"Liste des types de tansactions (c_28)","type":"array","items":{"type":"integer"}},"mandats":{"description":"Liste des mandats","type":"array","items":{"type":"integer"}},"exact_geoloc":{"description":"Avec géolocation exacte","type":"boolean"},"reference":{"description":"Référence du bien","type":"string"},"passerelle":{"description":"Liste des passerelles","type":"array","items":{"type":"integer"}},"passerelle_error":{"description":"Erreur sur passerelle détectée","type":"boolean"},"agencies":{"description":"Liste des agences","type":"array","items":{"type":"integer"}},"admins":{"description":"Liste des suivis par","type":"array","items":{"type":"integer"}}}},"PasserelleStat":{"type":"object","properties":{"passerelle_id":{"description":"id de la passerelle","type":"integer"},"diffuse_count":{"description":"Nombre de biens diffusés (en erreur inclus)","type":"integer"},"diffuse_error_count":{"description":"Nombre de biens ayant des erreurs de diffusion","type":"integer"}}},"PasserelleStats":{"type":"array","items":{"$ref":"#/components/schemas/PasserelleStat"}},"Publication":{"type":"object","description":"Non stable, ne pas utiliser","properties":{"id":{"description":"id de la publication","type":"integer"},"code":{"type":"string"},"is_active":{"type":"boolean"},"publi_frequency":{"type":"integer"},"title":{"type":"string"},"description":{"type":"string"},"comment":{"type":"string"},"email":{"type":"string"},"type":{"type":"string"},"category":{"type":"string"},"category_portail":{"type":"integer"},"sort_order":{"type":"integer"},"title_long":{"type":"string"},"description_long":{"type":"string"},"id_name":{"type":"string"},"key_name":{"type":"string"},"format":{"type":"string"},"url":{"type":"string"},"logo":{"type":"string"},"status_web":{"type":"string"},"is_subscribing":{"type":"boolean"},"is_real_time":{"type":"boolean"},"is_subscribed":{"type":"boolean"}}},"Publications":{"type":"array","items":{"$ref":"#/components/schemas/Publication"}},"ProductPublication":{"type":"object","properties":{"publi_code":{"type":"string","description":"Code de la publication"},"publi_name":{"type":"string","description":"Nom de la publication"},"state":{"$ref":"#/components/schemas/ProductPublicationState"},"comment":{"type":"string","description":"Message d'erreur en provenance de la passerelle"},"comment_update":{"type":"string","format":"date","description":"Dernière mise à jour du champ comment"},"last_publication":{"type":"string","format":"date","description":"Dernière diffusion"},"publication_count":{"type":"integer","description":"Nombre de diffusion"}}},"Admin":{"type":"object","properties":{"id":{"type":"integer"},"firstname":{"type":"string"},"lastname":{"type":"string"},"picture":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"mobile_phone":{"type":"string"},"site_code":{"type":"string"},"rsac":{"type":"string"},"description":{"type":"string"},"delegation":{"type":"string"},"status":{"type":"integer"},"gender":{"type":"string"},"sexe":{"type":"string"},"manufacturer_id":{"type":"integer"},"manufacturers_list":{"type":"array","items":{"type":"integer"}},"manufacturers_list_affectation":{"type":"array","items":{"type":"integer"}},"editeur_code":{"type":"string"},"ville_rsac":{"type":"string"},"affichage_rsac":{"type":"string"},"production_ratio":{"type":"integer"},"ip_filter":{"type":"array","items":{"type":"string"}},"group_id":{"type":"integer"},"group_id2":{"type":"integer"},"acces_echelon3":{"type":"boolean"},"last_date":{"type":"integer"},"email_valide":{"type":"boolean"},"experience":{"type":"integer"},"parcours":{"type":"string"},"specialite":{"type":"string"},"home_background":{"$ref":"#/components/schemas/HomeBackground"}}},"Admins":{"type":"array","items":{"$ref":"#/components/schemas/Admin"}},"Manufacturer":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"description":{"type":"string"},"logo":{"type":"string"},"picture":{"type":"string"},"address":{"type":"string"},"postal_code":{"type":"string"},"city":{"type":"string"},"phone":{"type":"string"},"opening_hours":{"type":"string"},"location":{"$ref":"#/components/schemas/LatLng"},"admins":{"$ref":"#/components/schemas/Admins"}}},"ManufacturerUser":{"allOf":[{"$ref":"#/components/schemas/Manufacturer"},{"type":"object","properties":{"social_links":{"$ref":"#/components/schemas/ManufacturerSocialLinks"}}}]},"ManufacturerUserFull":{"allOf":[{"$ref":"#/components/schemas/ManufacturerUser"},{"type":"object","properties":{"admins":{"type":"array","items":{"$ref":"#/components/schemas/Admin"}}}}]},"ManufacturerSite":{"allOf":[{"$ref":"#/components/schemas/Manufacturer"},{"type":"object","properties":{"model":{"type":"string","description":"Référence de l'agence (trigramme)"},"site_code":{"type":"string"},"information_legal":{"$ref":"#/components/schemas/ManufacturerDetail"}}}]},"ManufacturerSiteFull":{"allOf":[{"$ref":"#/components/schemas/ManufacturerSite"},{"type":"object","properties":{"admins":{"type":"array","items":{"$ref":"#/components/schemas/Admin"}}}}]},"ManufacturerSocialLink":{"type":"object","properties":{"language_id":{"type":"integer"},"url_googleplus":{"type":"string"},"url_twitter":{"type":"string"},"url_linkedin":{"type":"string"},"url_youtube":{"type":"string"},"url_pinterest":{"type":"string"},"url_instagram":{"type":"string"}}},"ManufacturerSocialLinks":{"type":"array","items":{"$ref":"#/components/schemas/ManufacturerSocialLink"}},"ManufacturerDetail":{"type":"object"},"CValue":{"type":"object","properties":{"id":{"type":"integer"},"model":{"type":"string"},"order":{"type":"string"},"name":{"type":"string"},"short_name":{"type":"string"},"description":{"type":"string"}}},"CValues":{"type":"array","items":{"$ref":"#/components/schemas/CValue"}},"Critere":{"type":"object","properties":{"id":{"type":"integer"},"category_label":{"type":"string"},"values_personalization":{"$ref":"#/components/schemas/CValues"},"status_requirement":{"type":"string"},"transaction_requirement":{"type":"string"},"product_type_requirement":{"type":"string"},"enabled_on_categories":{"type":"array","items":{"type":"object"}},"is_required_disabled":{"type":"boolean"},"priority":{"type":"string","enum":["ADVANCED","DESCRIPTION","SEARCH","TREE"]},"type":{"type":"string","enum":["TEXT","UNIQUE","NUMBER","FLAG","FULLTEXT","MULTIPLE"],"description":"Si de type UNIQUE, le critère doit être une valeur autorisée. Voir GET:critere/product/:id/values (champs *models*)."},"label":{"type":"string"},"personalizable":{"type":"boolean"},"is_activated":{"type":"boolean"},"is_confidential":{"type":"boolean"},"is_confidential_disabled":{"type":"boolean"},"is_activated_disabled":{"type":"boolean"},"is_fiche_co_visible":{"type":"boolean"},"is_fiche_co_visible_disabled":{"type":"boolean"},"is_activated_form_seller":{"type":"boolean"}}},"Criteres":{"type":"array","items":{"$ref":"#/components/schemas/Critere"}},"Product":{"type":"object","properties":{"id":{"type":"integer"},"parent_id":{"type":"integer"},"parent_id2":{"type":"integer"},"quantity":{"type":"integer"},"model":{"type":"string","description":"Référence"},"status_web":{"type":"boolean","description":"Diffusé web"},"ikodz_id":{"type":"integer"},"address_id":{"type":"integer"},"bal_id":{"type":"integer"},"street_id":{"type":"integer"},"syndic_id":{"type":"integer"},"image":{"type":"string"},"sites_images":{"type":"string"},"filer_id":{"type":"integer"},"gav":{"type":"boolean","description":"Garantie Après-Vente"},"criteres_text":{"$ref":"#/components/schemas/CritereTexts"},"criteres_fulltext":{"$ref":"#/components/schemas/CritereFullTexts"},"criteres_number":{"$ref":"#/components/schemas/CritereNumbers"},"publications":{"type":"array","items":{"$ref":"#/components/schemas/ProductPublication"}},"log_actions":{"type":"array","items":{"$ref":"#/components/schemas/LogAction"}},"products_photo":{"type":"array","items":{"$ref":"#/components/schemas/ProductPhoto"}},"customer":{"$ref":"#/components/schemas/Customer"},"compromis":{"type":"array","items":{"$ref":"#/components/schemas/Compromis"}},"descriptions":{"type":"array","items":{"$ref":"#/components/schemas/Description"}}}},"Products":{"type":"array","items":{"$ref":"#/components/schemas/Product"}},"CritereText":{"type":"object","properties":{"product_critere_id":{"type":"integer"},"critere_id":{"type":"integer"},"critere_name":{"type":"string"},"critere_short_name":{"type":"string"},"critere_value":{"type":"string"},"critere_value_name":{"type":"string"}}},"CritereTexts":{"type":"array","items":{"$ref":"#/components/schemas/CritereText"}},"CritereNumber":{"type":"object","properties":{"product_critere_id":{"type":"integer"},"critere_id":{"type":"integer"},"critere_name":{"type":"string"},"critere_short_name":{"type":"string"},"critere_value":{"type":"string"}}},"CritereNumbers":{"type":"array","items":{"$ref":"#/components/schemas/CritereNumber"}},"CritereFullText":{"type":"object","properties":{"product_critere_id":{"type":"integer"},"critere_id":{"type":"integer"},"critere_name":{"type":"string"},"critere_short_name":{"type":"string"},"critere_value":{"type":"string"},"diffuse_site_web":{"type":"boolean","description":"Uniquement présent pour les critères (2211, 2275, 2332)"}}},"CritereFullTexts":{"type":"array","items":{"$ref":"#/components/schemas/CritereFullText"}},"LogAction":{"type":"object","properties":{"id":{"type":"integer"},"action_id":{"type":"integer"},"action_name":{"type":"string"},"product_id":{"type":"integer"},"comment":{"type":"string"},"date":{"type":"string","format":"date"}}},"ProductActionHistory":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"category_name":{"type":"string","description":"Nom de la catégorie de rattachement (Si rattaché à une catégorie)"},"result":{"type":"string","description":"Commentaire de l'action"},"date_planning":{"type":"string","format":"date","description":"Date à laquelle l'action est prévue"},"date_performed":{"type":"string","format":"date","description":"Date à laquelle l'action a été réalisée"},"admin":{"$ref":"#/components/schemas/Admin"},"customer":{"$ref":"#/components/schemas/Customer"},"secret":{"type":"boolean","description":"Doit être masqué pour le vendeur"}}},"Compromis":{"type":"object","properties":{"id":{"type":"integer"},"date_compromis":{"type":"string","format":"date","description":"Date de siganture du compromis / Date SSP (Signature sous seing privé)"},"date_acte":{"type":"string","format":"date","description":"Date de signature de l'acte authentique"},"date_annulation":{"type":"string","format":"date","description":"Date d'annulation du compromis"}}},"ProductFetch":{"type":"string","enum":["criteres_text","criteres_number","criteres_fulltext","publications","log_actions","products_photos","customer","actions_history","criteres_publication_errors","compromis","descriptions"],"description":"Descriptions:\n   * `criteres_text` - Liste des critères de type text\n   * `criteres_number` - Liste des critères de type number\n   * `criteres_fulltext` - Liste des critères de type text\n   * `criteres_flag` - Liste des critères de type flag\n   * `publications` - Liste des publications du bien (Multi-Difussion)\n   * `log_actions` - Liste des actions réalisées sur un bien\n   * `products_photos` - Liste des photos d'un bien\n   * `customer` - Le vendeur du bien\n   * `actions_history` - Historiqe des actions\n   * `criteres_publication_errors` - Critères bloquant la publication\n   * `compromis` - Les compromis du bien\n   * `descriptions` - Descritpions web du bien\n   \n"},"ProductPhotoType":{"type":"string","enum":["pr_2","pr_3","pr_4","pr_p","pr_r","pr_web"],"description":"Descriptions:\n   * `pr_2` - Image confidentielle\n   * `pr_3` - Image panoramique\n   * `pr_4` - Plan\n   * `pr_p` - Image publique\n   * `pr_r` - Pièce\n   * `pr_web` - Image publique avec watermark\n   \n"},"ProductPublicationState":{"type":"string","enum":["ACTIVATED","NOT_ACTIVATED","ERROR"],"description":"Descriptions:\n   * `ACTIVATED` - Le bien est diffusé sur la passerelle\n   * `NOT_ACTIVATED` - La passerelle est activée, mais le bien n'est pas diffusé\n   * `ERROR` - Un problème est survenu lors de la diffusion, voir le champ \"comment\"\n   \n"},"ProductSearchRequest":{"type":"object","properties":{"keyword":{"type":"string"},"customer_id":{"type":"integer"},"picto_id":{"type":"integer"},"manufacturer_id":{"type":"integer"},"last_modified":{"type":"string","format":"date-time","description":"format W3C Y-m-d\\TH:i:sP"},"polygon":{"type":"array","items":{"$ref":"#/components/schemas/LatLng"}},"themes_id":{"type":"array","items":{"type":"integer"}},"status_web":{"type":"boolean","description":"Diffusé web"},"manufacturer_model":{"type":"string"},"criterias":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"operator":{"type":"string","enum":["CONTIENT","SUPERIEUR","INFERIEUR","EGAL","DIFFERENT"]},"value":{"type":"string"}}}}}},"CustomerSearchRequest":{"type":"object","properties":{"firstname":{"type":"string","description":"regex"},"lastname":{"type":"string","description":"regex"},"email":{"type":"string","description":"regex"},"phone":{"type":"string"},"mobile_phone":{"type":"string"},"manufacturer_id":{"type":"array","items":{"type":"integer"},"description":"Doit faire partie d'au moins une agence"},"last_modified":{"type":"string","format":"date-time","description":"format W3C Y-m-d\\TH:i:sP"},"groups":{"type":"array","description":"Doit faire partie d'au moins un groupe","items":{"type":"integer"}},"origins":{"type":"array","description":"Doit faire partie d'au moins une origine","items":{"type":"integer"}}}},"CustomerSearchRequestInput":{"type":"object","properties":{"keyword":{"type":"string","description":"Mots clé"},"alert_email":{"type":"boolean","description":"Active les alertes","default":false},"alert_sms":{"type":"boolean","description":"Active les alertes","default":false},"alert_mobile":{"type":"boolean","description":"Active les alertes","default":false},"wording":{"type":"string","description":"Libellé"},"comment":{"type":"string","description":"Commentaire"},"criteres":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id de critère (id ou xml). Pour l'ensemble des critères disponible voir GET:critere/product/all."},"operator":{"type":"string","enum":["CONTIENT","SUPERIEUR","INFERIEUR","EGAL","DIFFERENT"]},"value":{"type":"string"}}}}}},"ProductInput":{"type":"object","required":["manufacturer_id"],"properties":{"admin_id":{"type":"integer","description":"Identifiant du négo"},"manufacturer_id":{"type":"integer","description":"Identifiant de l'agence"},"model":{"type":"string","description":"Référence du bien","default":"auto-généré"},"descriptions":{"type":"array","items":{"$ref":"#/components/schemas/DescriptionInput"}},"rooms":{"type":"array","items":{"$ref":"#/components/schemas/RoomInput"}},"customer":{"$ref":"#/components/schemas/CustomerInput"},"criteres":{"type":"object","description":"En clé un id de critère (id ou xml). Pour l'ensemble des critères disponible voir GET:critere/product/all.","additionalProperties":{"type":"string","description":"id ou id_xml"}}}},"RoomInput":{"type":"object","required":["type"],"properties":{"niveau":{"type":"string","description":"Étage"},"type":{"type":"string","description":"Type de pièce. Voir GET:liste/1/values"},"surface":{"type":"string","description":"Surafce en m2"},"exposition":{"type":"string","description":"Exposition de la pièce. Voir GET:liste/2/values"},"vue":{"type":"string","description":"Si le flag CRITERE_SWITCH_SOL_OU_VUE est désactivé. Voir GET:liste/3/values"},"sol":{"type":"string","description":"Si le flag CRITERE_SWITCH_SOL_OU_VUE est activé. Voir GET:liste/4/values"},"commentaire":{"type":"string"}}},"DescriptionInput":{"type":"object","required":["language_code"],"properties":{"title":{"type":"string","description":"Titre du bien","default":"auto-généré"},"description":{"type":"string","description":"Description complète du bien"},"language_code":{"type":"string","description":"Langue utilisée (au format ISO 639-1)"}}},"CustomerInput":{"type":"object","required":["manufacturer_id"],"properties":{"firstname":{"type":"string"},"lastname":{"type":"string"},"password":{"type":"string"},"email":{"type":"string","format":"email"},"phone":{"type":"string"},"mobil_phone":{"type":"string"},"gender":{"type":"string","description":"Voir GET:admin/genders"},"timeframe":{"type":"integer"},"facebook_id":{"type":"integer"},"manufacturer_id":{"type":"integer"},"origin":{"type":"integer"},"group":{"type":"integer","description":"Voir GET:admin/groups"},"nego_id":{"type":"integer"},"product_id":{"type":"integer"},"comment":{"type":"string"},"newsletter":{"type":"boolean"},"country":{"type":"string"},"city":{"type":"string"},"postalcode":{"type":"string"},"address":{"type":"string"}}},"AdminInput":{"type":"object","properties":{"group_id":{"type":"integer"},"email":{"type":"string","format":"email"},"delegation":{"type":"boolean"},"production_ratio":{"type":"integer","minimum":0,"maximum":100},"nego_id":{"type":"integer"},"group_id2":{"type":"integer"},"gender":{"type":"string"},"sexe":{"type":"string"},"manufacturer_id":{"type":"integer"},"manufacturers_list":{"type":"array","items":{"type":"integer"}},"manufacturers_list_affectation":{"type":"array","items":{"type":"integer"}},"admin_types":{"type":"array","items":{"type":"integer"}},"password":{"type":"string"},"ip_filter":{"type":"array","items":{"type":"string","format":"ipv4"}},"affichage_rsac":{"type":"boolean"},"color":{"type":"string","format":"rgb"},"acces_echelon3":{"type":"boolean"},"firstname":{"type":"string"},"lastname":{"type":"string"},"avatar_file_id":{"type":"integer"},"trainee":{"type":"object","properties":{"internship_tutor":{"type":"integer","description":"Identifiant d'un admin"},"internship_start":{"type":"string","format":"date"},"internship_end":{"type":"string","format":"date"},"formation":{"type":"string"},"school":{"type":"string"}}},"jestimo_login":{"type":"string"},"jestimo_password":{"type":"string"}}},"Gender":{"type":"object","properties":{"id":{"type":"integer"},"description":{"type":"string"},"description_legal":{"type":"string"},"sexe":{"type":"string"}}},"AdminGroup":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"delegation":{"type":"array","items":{"type":"integer"},"description":"Liste d'id de groups"}}},"AdminType":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"name_female":{"type":"string"}}},"AdminFile":{"type":"object","properties":{"id":{"type":"integer"},"hash":{"type":"string","description":"sha1"},"hit":{"type":"integer","description":"Nombre de fois que le fichier a été utilisé"},"expire_at":{"type":"string","format":"date-time","description":"Date jusqu'à laquelle le fichier sera disponible"}}},"Liste":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"values":{"type":"array","items":{"$ref":"#/components/schemas/ListeValue"}}}},"ListeValue":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"web_name":{"type":"string"},"language":{"type":"string"}}},"Category":{"type":"object","properties":{"id":{"type":"integer"},"parent_id":{"type":"integer"},"name":{"type":"string"},"order":{"type":"integer"},"matching_criteres":{"type":"object","description":"Liste des critère/valeur pour qu'un bien soit considéré comme faisant parti de cette catégorie"},"childs":{"type":"array","items":{"$ref":"#/components/schemas/Category"}}}},"ProductPhoto":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/ProductPhotoType"},"sort_order":{"type":"integer","description":"Ordre choisi par l'utilisateur"},"chemin":{"type":"string","description":"url"}}},"Customer":{"type":"object","properties":{"id":{"type":"integer"},"firstname":{"type":"string"},"lastname":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"mobile_phone":{"type":"string"}}},"ManufacturerInput":{"type":"object","required":["name","postal_code","city","phone","email","group_contact","editeur_code","classification","commercial_1"],"properties":{"model":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"address":{"type":"string"},"address_complement":{"type":"string"},"mailbox_address":{"type":"string"},"postal_code":{"type":"string","pattern":"/^(?:[0-8]\\d|9[0-8])\\d{3}$/"},"city":{"type":"string"},"country":{"type":"string"},"phone":{"type":"string"},"mobile_phone":{"type":"string"},"fax":{"type":"string"},"email":{"type":"string"},"email_location":{"type":"string"},"phone_location":{"type":"string"},"group_contact":{"type":"integer"},"flag_pagesimmo":{"type":"boolean"},"fnaim_number":{"type":"string"},"extranet_password":{"type":"string"},"editeur_code":{"type":"string"},"parent_id":{"type":"integer"},"main_site":{"type":"integer"},"image":{"type":"string"},"logo":{"type":"string"},"facebook_id":{"type":"integer"},"system_company":{"type":"integer"},"system_key":{"type":"string"},"facturation_name":{"type":"string"},"facturation_phone":{"type":"string"},"facturation_email":{"type":"string"},"facturation_comment":{"type":"string"},"billing_account":{"type":"integer"},"payment_choice":{"type":"integer"},"iban":{"type":"string"},"bic":{"type":"string"},"date_mandat_sepa":{"type":"string","format":"date-time"},"bank_name":{"type":"string"},"prelevement_auto":{"type":"boolean"},"administration":{"type":"boolean"},"tax_class":{"type":"integer"},"days_before_recovery":{"type":"integer"},"next_recovery":{"type":"string","format":"date-time"},"ar":{"type":"boolean"},"redress_date":{"type":"string","format":"date-time"},"liquidation_date":{"type":"string","format":"date-time"},"commercial_1":{"type":"integer"},"commercial_2":{"type":"integer"},"assistance":{"type":"integer"},"project_leader":{"type":"integer"},"contributor":{"type":"integer"},"origine":{"type":"integer"},"classification":{"type":"integer"},"refusal_reason":{"type":"integer"},"exploitation_date":{"type":"string","format":"date-time"},"next_contact_date":{"type":"string","format":"date-time"},"color":{"type":"integer"},"casquette_list":{"type":"string"},"schedule_day":{"type":"string"},"schedule":{"type":"string"},"annuaire":{"type":"boolean"},"general_comment":{"type":"string"},"technical_comment":{"type":"string"}}},"ManufacturerWizzim":{"type":"object","properties":{"model":{"type":"string"},"address":{"type":"string"},"address_complement":{"type":"string"},"mailbox_address":{"type":"string"},"postal_code":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"phone":{"type":"string"},"mobile_phone":{"type":"string"},"fax":{"type":"string"},"email":{"type":"string"},"email_location":{"type":"string"},"phone_location":{"type":"string"},"group_contact":{"type":"integer"},"flag_pagesimmo":{"type":"boolean"},"fnaim_number":{"type":"string"},"extranet_password":{"type":"string"},"editeur_code":{"type":"string"},"parent_id":{"type":"integer"},"main_site":{"type":"integer"},"image":{"type":"string"},"logo":{"type":"string"},"facebook_id":{"type":"integer"},"system_company":{"type":"integer"},"system_key":{"type":"string"},"facturation_name":{"type":"string"},"facturation_phone":{"type":"string"},"facturation_email":{"type":"string"},"facturation_comment":{"type":"string"},"billing_account":{"type":"integer"},"payment_choice":{"type":"integer"},"iban":{"type":"string"},"bic":{"type":"string"},"date_mandat_sepa":{"type":"string","format":"date-time"},"bank_name":{"type":"string"},"prelevement_auto":{"type":"boolean"},"administration":{"type":"boolean"},"tax_class":{"type":"integer"},"days_before_recovery":{"type":"integer"},"next_recovery":{"type":"string","format":"date-time"},"ar":{"type":"boolean"},"redress_date":{"type":"string","format":"date-time"},"liquidation_date":{"type":"string","format":"date-time"},"commercial_1":{"type":"integer"},"commercial_2":{"type":"integer"},"assistance":{"type":"integer"},"project_leader":{"type":"integer"},"contributor":{"type":"integer"},"origine":{"type":"integer"},"classification":{"type":"integer"},"refusal_reason":{"type":"integer"},"exploitation_date":{"type":"string","format":"date-time"},"next_contact_date":{"type":"string","format":"date-time"},"color":{"type":"integer"},"casquette_list":{"type":"string"},"schedule_day":{"type":"string"},"schedule":{"type":"string"},"annuaire":{"type":"boolean"},"general_comment":{"type":"string"},"technical_comment":{"type":"string"},"last_update":{"type":"string","format":"date-time"}}},"ManufacturersListingWizzim":{"type":"array","items":{"type":"object","properties":{"model":{"type":"string"},"name":{"type":"string"},"postal_code":{"type":"string"},"city":{"type":"string"},"phone":{"type":"string"},"commercial_1":{"type":"string"},"commercial_2":{"type":"string"},"classification":{"type":"string"},"color":{"type":"string"},"last_update":{"type":"string","format":"date-time"}}}},"ManufacturerContactInput":{"type":"object","properties":{"gender":{"type":"string"},"fonction":{"type":"integer"},"lastname":{"type":"string"},"firstname":{"type":"string"},"address":{"type":"string"},"postal_code":{"type":"string","pattern":"/^(?:[0-8]\\d|9[0-8])\\d{3}$/"},"city":{"type":"string"},"phone":{"type":"string"},"email":{"type":"string"}}},"ManufacturerContact":{"type":"object","properties":{"gender":{"type":"string"},"fonction":{"type":"integer"},"lastname":{"type":"string"},"firstname":{"type":"string"},"address":{"type":"string"},"postal_code":{"type":"string"},"city":{"type":"string"},"phone":{"type":"string"},"email":{"type":"string"}}},"ManufacturerContacts":{"type":"array","items":{"$ref":"#/components/schemas/ManufacturerContact"}},"CartePro":{"type":"object","required":["mention","holder","no_carte_pro","delivery_by","prefecture_postal_code","prefecture_city","caisse","create_date","type"],"properties":{"mention":{"type":"string"},"holder":{"type":"integer"},"no_carte_pro":{"type":"string"},"delivery_by":{"type":"string"},"prefecture_address":{"type":"string"},"prefecture_postal_code":{"type":"string","pattern":"/^(?:[0-8]\\d|9[0-8])\\d{3}$/"},"prefecture_city":{"type":"string"},"caisse":{"type":"string"},"no_caisse":{"type":"string"},"address_caisse":{"type":"string"},"montant_caisse":{"type":"integer"},"create_date":{"type":"string"},"type":{"type":"string","enum":["transaction","gestion","syndic"]}}},"HomeBackground":{"type":"object","properties":{"id":{"type":"integer"},"image_url":{"type":"string"},"thumbnail_url":{"type":"string"},"tags":{"type":"string"}}},"BoxCategory":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"sort":{"type":"integer"}}},"Box":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"description":{"type":"string"},"image_url":{"type":"string"},"status":{"type":"boolean"},"is_locked":{"type":"boolean"},"is_resizable":{"type":"boolean"},"x":{"type":"integer"},"y":{"type":"integer"},"rows":{"type":"integer"},"min_rows":{"type":"integer"},"max_rows":{"type":"integer"},"cols":{"type":"integer"},"min_cols":{"type":"integer"},"max_cols":{"type":"integer"},"category":{"$ref":"#/components/schemas/BoxCategory"},"type":{"type":"string"}}},"Description":{"type":"object","properties":{"title":{"type":"string"},"description":{"type":"string"},"url":{"type":"string","description":"Url visite virtuelle"},"language_code":{"type":"string","description":"ISO 639-2"}}}},"responses":{"DiffError":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiffError"}}},"description":"Erreur de diffusion"},"DiffErrorList":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DiffError"}}}},"description":"Ids de passerelles"}}}}