{"openapi":"3.0.0","info":{"description":"This is a Open API Webstore","version":"1.0.1-oas3","title":"WebStore API","contact":{"email":"f.putra@omipos.id"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"tags":[{"name":"Credentials","description":"Operations to get Credentials"},{"name":"developers","description":"Operations available to client has a credentials"}],"paths":{"/login":{"post":{"tags":["Credentials"],"summary":"get credentials","responses":{"200":{"description":"OK"},"401":{"description":"Not authenticated"},"403":{"description":"Access token does not have the required scope"}},"security":[{"basicAtuh":[]}]}},"/voucher":{"post":{"tags":["developers"],"summary":"get voucher","parameters":[{"in":"query","name":"name","description":"Tenant Name","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"OK"},"401":{"description":"Not authenticated"},"403":{"description":"Access token does not have the required scope"}},"security":[{"bearerAuth":[]}]},"get":{"tags":["developers"],"summary":"get single voucher infromartion","parameters":[{"in":"query","name":"code","description":"please input voucher number / code","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"OK"},"401":{"description":"Not authenticated"},"403":{"description":"Access token does not have the required scope"}},"security":[{"bearerAuth":[]}]}}},"servers":[{"url":"https://dstaging.persijastore.id/api"}],"components":{"securitySchemes":{"basicAtuh":{"type":"http","scheme":"basic"},"bearerAuth":{"type":"http","scheme":"bearer"}}}}