{"openapi":"3.0.0","servers":[{"url":"https://queue.bentoweb.com/api"}],"info":{"version":"1.0.0-oas3","title":"Bentoweb API","description":"This is an example of using product API."},"security":[{"password":[]}],"tags":[{"name":"Products"},{"name":"Brand"},{"name":"Stores"},{"name":"Category"},{"name":"Payment & Shipment"},{"name":"Banks"}],"paths":{"/brand":{"get":{"summary":"Get brand list","description":"Get your brand list.","parameters":[{"name":"store_id","in":"query","description":"Store ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK"}},"tags":["Brand"]},"post":{"summary":"Add brand","description":"Add your brand.","parameters":[{"name":"store_id","in":"query","description":"Store ID","required":true,"schema":{"type":"integer"}},{"name":"name","in":"query","description":"Brand name","required":true,"schema":{"type":"string"}},{"name":"description","in":"query","description":"Brand description","required":true,"schema":{"type":"string"}},{"name":"active","in":"query","description":"Active brand [Default 1]","required":false,"schema":{"type":"integer","enum":[0,1]}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Brand"]}},"/brand/{brand_id}":{"get":{"summary":"Get brand detail","description":"This is an example opeartion to get brand detail.","parameters":[{"name":"brand_id","in":"path","description":"Brand ID","required":true,"schema":{"type":"integer"}},{"name":"store_id","in":"query","description":"Store ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Brand"]},"put":{"summary":"Edit brand","description":"This is an example opeartion to edit brand.","parameters":[{"name":"brand_id","in":"path","description":"Brand ID","required":true,"schema":{"type":"integer"}},{"name":"name","in":"query","description":"Brand name","required":true,"schema":{"type":"string"}},{"name":"description","in":"query","description":"Brand description","required":false,"schema":{"type":"string"}},{"name":"active","in":"query","description":"Active brand","required":false,"schema":{"type":"integer","enum":[0,1]}},{"name":"store_id","in":"query","description":"Store ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Brand"]},"delete":{"summary":"Delete brand","description":"This is an example opeartion to delete brand.","parameters":[{"name":"brand_id","in":"path","description":"Brand ID","required":true,"schema":{"type":"integer"}},{"name":"store_id","in":"query","description":"Store ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Brand"]}},"/customer/store-list":{"get":{"summary":"Get customer list","description":"Get your store list.","responses":{"200":{"description":"OK"}},"tags":["Stores"]}},"/customer/sale-officer-list/{store_id}":{"get":{"summary":"Get sale officer list","description":"Get sale officer list","parameters":[{"name":"store_id","in":"path","description":"Store ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK"}},"tags":["Stores"]}},"/customer/admin-list/{store_id}":{"get":{"summary":"Get admin list","description":"Get admin list","parameters":[{"name":"store_id","in":"path","description":"Store ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK"}},"tags":["Stores"]}},"/productlist":{"get":{"summary":"Get product list","description":"This is an example opeartion to get product list.","parameters":[{"name":"store_id","in":"query","description":"Store ID","required":true,"schema":{"type":"integer"}},{"name":"q","in":"query","description":"Wording to search","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Product items limit per request","required":false,"schema":{"type":"integer"}},{"name":"page","in":"query","description":"Page number","required":false,"schema":{"type":"integer"}},{"name":"category_id","in":"query","description":"Filter product by Category ID","required":false,"schema":{"type":"integer"}},{"name":"active","in":"query","description":"Filter by product active status","required":false,"schema":{"type":"integer"}},{"name":"customer_group_id","in":"query","description":"For member price function","required":false,"schema":{"type":"integer"}},{"name":"is_backend","in":"query","description":"Switch Policy to show product [Frontend = 0, Backend = 1]","required":false,"schema":{"type":"integer","enum":[0,1]}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Products"]}},"/product/{product_id}":{"get":{"summary":"Get product detail","description":"This is an example opeartion to get product detail.","parameters":[{"name":"product_id","in":"path","description":"Product ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Products"]},"put":{"summary":"Edit product","description":"This is an example opeartion to edit product.","parameters":[{"name":"product_id","in":"path","description":"Product ID","required":true,"schema":{"type":"integer"}},{"name":"categories","in":"query","description":"Array of product category ID url. Eg. [\"119\", \"135\"]","required":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"name","in":"query","description":"Product name","required":false,"schema":{"type":"string"}},{"name":"active","in":"query","description":"Active product","required":false,"schema":{"type":"integer","enum":[0,1]}},{"name":"price","in":"query","description":"Product price decimal 2 digit Eg. 1200.00","required":false,"schema":{"type":"number","multipleOf":0.01}},{"name":"store_id","in":"query","description":"Store ID","required":true,"schema":{"type":"integer"}},{"name":"description","in":"query","description":"Product description [HTML]","required":false,"schema":{"type":"string"}},{"name":"weight","in":"query","description":"Weight of product (Gram)","required":false,"schema":{"type":"integer"}},{"name":"override_loyalty","in":"query","description":"Override loyalty point for this product","required":false,"schema":{"type":"integer","enum":[0,1]}},{"name":"loyalty_points","in":"query","description":"Loyalty Points for this product","required":false,"schema":{"type":"integer"}},{"name":"brand_id","in":"query","description":"Brand ID","required":false,"schema":{"type":"integer"}},{"name":"label","in":"query","description":"Set product tag [hot or new]","required":false,"schema":{"type":"string","enum":["","hot","new"]}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Products"]},"delete":{"summary":"Delete product","description":"This is an example opeartion to delete product.","parameters":[{"name":"product_id","in":"path","description":"Product ID","required":true,"schema":{"type":"integer"}},{"name":"store_id","in":"query","description":"Store ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Products"]}},"/product":{"post":{"summary":"Add new product","description":"This is an example opeartion to add new product and variant.","parameters":[{"name":"images","in":"query","description":"Array of product image url. Eg. [\"https://www.bentoweb.com/img/bentoweb.png\", \"https://www.bentoweb.com/img/setting.png\"]","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"categories","in":"query","description":"Array of product category ID url. Eg. [\"119\", \"135\"]","required":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"name","in":"query","description":"Product name","required":true,"schema":{"type":"string"}},{"name":"active","in":"query","description":"Active product","required":true,"schema":{"type":"integer","enum":[0,1]}},{"name":"price","in":"query","description":"Product price decimal 2 digit Eg. 1200.00","required":true,"schema":{"type":"number","multipleOf":0.01}},{"name":"store_id","in":"query","description":"Store ID","required":true,"schema":{"type":"integer"}},{"name":"description","in":"query","description":"Product description [HTML]","required":false,"schema":{"type":"string"}},{"name":"weight","in":"query","description":"Weight of product (Gram)","required":false,"schema":{"type":"integer"}},{"name":"override_loyalty","in":"query","description":"Override loyalty point for this product","required":false,"schema":{"type":"integer","enum":[0,1]}},{"name":"loyalty_points","in":"query","description":"Loyalty Points for this product","required":false,"schema":{"type":"integer"}},{"name":"brand_id","in":"query","description":"Brand ID","required":false,"schema":{"type":"integer"}},{"name":"label","in":"query","description":"Set product tag [hot or new]","required":false,"schema":{"type":"string","enum":["","hot","new"]}},{"name":"variant","in":"query","description":"Variant Object Example https://pastebin.com/p5snLmaG","required":true,"schema":{"type":"array","items":{"$ref":"#/components/schemas/variant"}}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Products"]}},"/product-image/product/{product_id}":{"get":{"summary":"Get product images","description":"This is an example opeartion to get product images.","parameters":[{"name":"product_id","in":"path","description":"Product ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Products"]}},"/product-image":{"post":{"summary":"Add new product image","description":"This is an example opeartion to add product images.","parameters":[{"name":"product_id","in":"query","description":"Product ID","required":true,"schema":{"type":"integer"}},{"name":"store_id","in":"query","description":"Store ID","required":true,"schema":{"type":"integer"}},{"name":"images","in":"query","description":"Array of product image url. Eg. [\"https://www.bentoweb.com/img/bentoweb.png\", \"https://www.bentoweb.com/img/setting.png\"]","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Products"]}},"/product-image/{product_image_id}":{"delete":{"summary":"Delete product images.","description":"This is an example opeartion to delete product images.","parameters":[{"name":"product_image_id","in":"path","description":"Product ID","required":true,"schema":{"type":"integer"}},{"name":"store_id","in":"query","description":"Store ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Products"]}},"/product-variant/barcode/{barcode}":{"get":{"summary":"Find product from barcode","description":"This is an example opeartion to find product variant by barcode.","parameters":[{"name":"barcode","in":"path","description":"Barcode of product variant","required":true,"schema":{"type":"string"}},{"name":"store_id","in":"query","description":"Store ID","required":true,"schema":{"type":"integer"}},{"name":"active","in":"query","description":"Filter active or inactive product","required":false,"schema":{"type":"integer","enum":[0,1]}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Products"]}},"/product-variant/change-stock/{product_variant_id}":{"post":{"summary":"Increase and decrease stock","description":"This is an example opeartion to increase and decrease stock of product variant.","parameters":[{"name":"product_variant_id","in":"path","description":"Product variant ID","required":true,"schema":{"type":"integer"}},{"name":"amount","in":"query","description":"Amount that you want to increase (10) or decrease (-5)","required":true,"schema":{"type":"integer"}},{"name":"customer_id","in":"query","description":"Action Customer ID","required":false,"schema":{"type":"integer"}},{"name":"is_exact_number","in":"query","description":"Set boolean true when update with exact stock number","required":false,"schema":{"type":"boolean"}},{"name":"message","in":"query","description":"Add message log to show in Store Admin","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Products"]}},"/product-variant/{product_variant_id}":{"put":{"summary":"Edit product variant","description":"This is an example opeartion to edit product variant.","parameters":[{"name":"product_variant_id","in":"path","description":"Product variant ID","required":true,"schema":{"type":"integer"}},{"name":"name","in":"query","description":"Product variant name","required":false,"schema":{"type":"string"}},{"name":"price","in":"query","description":"Product variant price decimal 2 digit Eg. 1200.00","required":false,"schema":{"type":"number","multipleOf":0.01}},{"name":"store_id","in":"query","description":"Store ID","required":true,"schema":{"type":"integer"}},{"name":"override_loyalty","in":"query","description":"Override loyalty point for this product variant","required":false,"schema":{"type":"integer","enum":[0,1]}},{"name":"loyalty_points","in":"query","description":"Loyalty Points for this product variant","required":false,"schema":{"type":"integer"}},{"name":"has_wholesale","in":"query","description":"Enable, Disable Wholesale","required":false,"schema":{"type":"integer","enum":[0,1]}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Products"]},"delete":{"summary":"Delete product variant","description":"This is an example opeartion to delete product variant.","parameters":[{"name":"product_variant_id","in":"path","description":"Product variant ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Products"]}},"/product-variant":{"post":{"summary":"Add new product variant","description":"This is an example opeartion to add new product variant.","parameters":[{"name":"product_id","in":"query","description":"Product ID","required":true,"schema":{"type":"integer"}},{"name":"name","in":"query","description":"Product variant name","required":true,"schema":{"type":"string"}},{"name":"price","in":"query","description":"Product variant price decimal 2 digit Eg. 1200.00","required":true,"schema":{"type":"number","multipleOf":0.01}},{"name":"store_id","in":"query","description":"Store ID","required":true,"schema":{"type":"integer"}},{"name":"override_loyalty","in":"query","description":"Override loyalty point for this product variant","required":false,"schema":{"type":"integer","enum":[0,1]}},{"name":"loyalty_points","in":"query","description":"Loyalty Points for this product variant","required":false,"schema":{"type":"integer"}},{"name":"wholesale_range","in":"query","description":"Example [{ \"range\":5, \"price\":11.00 },{ \"range\":10, \"price\":10.00 }] means 1-5 qty price is 11.00 and 6-10 qty price is 10.00 (Please sort array index by \"range\" ascending)","schema":{"type":"array","items":{"$ref":"#/components/schemas/range_object"}}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Products"]}},"/category/stores/{store_id}":{"get":{"summary":"Get store product category","description":"This is an example opeartion to get category.","parameters":[{"name":"store_id","in":"path","description":"Store ID","required":true,"schema":{"type":"integer"}},{"name":"category_active","in":"query","description":"Filter category active [1 = active only]","required":false,"schema":{"type":"integer","enum":[0,1]}},{"name":"product_active","in":"query","description":"Count only product with status active only or not [active only = 1]","required":false,"schema":{"type":"integer","enum":[0,1]}},{"name":"main","in":"query","description":"main = 1 [Include all product category, main = 0 [Exclude all product category]","required":false,"schema":{"type":"integer","enum":[0,1]}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Category"]}},"/category":{"post":{"summary":"Add new category","description":"This is an example opeartion to add new category.","parameters":[{"name":"name","in":"query","description":"Category name","required":true,"schema":{"type":"string"}},{"name":"seo_url","in":"query","description":"SEO Url for category","required":false,"schema":{"type":"string"}},{"name":"description","in":"query","description":"Description for category","required":false,"schema":{"type":"string"}},{"name":"parent_id","in":"query","description":"Default is 0","required":false,"schema":{"type":"integer"}},{"name":"store_id","in":"query","description":"Store ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Category"]}},"/category/{category_id}":{"put":{"summary":"Edit category","description":"This is an example opeartion to edit category.","parameters":[{"name":"category_id","in":"path","description":"Category ID","required":true,"schema":{"type":"integer"}},{"name":"name","in":"query","description":"Category name","required":false,"schema":{"type":"string"}},{"name":"seo_url","in":"query","description":"SEO Url for category","required":false,"schema":{"type":"string"}},{"name":"description","in":"query","description":"Description for category","required":false,"schema":{"type":"string"}},{"name":"parent_id","in":"query","description":"Default is 0","required":false,"schema":{"type":"integer"}},{"name":"store_id","in":"query","description":"Store ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Category"]},"delete":{"summary":"Delete category","description":"This is an example opeartion to delete category.","parameters":[{"name":"category_id","in":"path","description":"Category ID","required":true,"schema":{"type":"integer"}},{"name":"store_id","in":"query","description":"Store ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Category"]}},"/store/payment/{store_id}":{"get":{"summary":"Get store payment","description":"This is an example opeartion to get store payment.","parameters":[{"name":"store_id","in":"path","description":"Store ID","required":true,"schema":{"type":"integer"}},{"name":"grand_total","in":"query","description":"Grand total of cart for filter minimum payment.","required":false,"schema":{"type":"integer"}},{"name":"shipping_key","in":"query","description":"Shipping key (if selected, for filter payment associate with shipping)","required":false,"schema":{"type":"string"}},{"name":"is_anonymous","in":"query","description":"Is anonymous customer","required":false,"schema":{"type":"integer","enum":[0,1]}},{"name":"by_pass","in":"query","description":"By pass filter","required":false,"schema":{"type":"integer","enum":[0,1]}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Payment & Shipment"]}},"/store/shipping/{store_id}":{"get":{"summary":"Get store shipment","description":"This is an example opeartion to get store shipment. [Note Use customer_address_id OR guest_address_id OR order_id OR is_anonymous, Only 1 field]","parameters":[{"name":"store_id","in":"path","description":"Store ID","required":true,"schema":{"type":"integer"}},{"name":"customer_address_id","in":"query","description":"Customer ID","required":false,"schema":{"type":"integer"}},{"name":"guest_address_id","in":"query","description":"Guest Id","required":false,"schema":{"type":"string"}},{"name":"order_id","in":"query","description":"Order ID","required":false,"schema":{"type":"string"}},{"name":"is_anonymous","in":"query","description":"Is anonymous","required":false,"schema":{"type":"integer","enum":[0,1]}},{"name":"weight_total","in":"query","description":"(Optional) Gram สำหรับคำนวน method shipping","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK"},"403":{"description":"Access Denied"}},"tags":["Payment & Shipment"]}},"/bank/stores/{store_id}":{"get":{"summary":"Get bank store list","description":"Get bank store list.","parameters":[{"name":"store_id","in":"path","description":"Store ID","required":true,"schema":{"type":"integer"}},{"name":"active","in":"query","description":"Default 1 filter active only, 0 non filter","required":false,"schema":{"type":"integer","enum":[0,1]}}],"responses":{"200":{"description":"OK"}},"tags":["Banks"]}}},"components":{"schemas":{"variant":{"properties":{"name":{"type":"string"},"price":{"type":"number"},"sku":{"type":"string"},"barcode":{"type":"number"},"default":{"type":"integer","enum":[0,1]},"override_loyalty":{"type":"integer","enum":[0,1]},"loyalty_points":{"type":"integer"},"stock":{"type":"integer"},"wholesale_range":{"type":"array","description":"Example [{ \"range\":5, \"price\":11.00 },{ \"range\":10, \"price\":10.00 }] means 1-5 qty price is 11.00 and 6-10 qty price is 10.00 (Please sort array index by \"range\" ascending)","items":{"$ref":"#/components/schemas/range_object"}},"max_wholesale_range_price":{"type":"number","description":"If the number of qty is more than what is specified in the wholesale, this price will be used."}},"required":["name","price","default"]},"range_object":{"properties":{"range":{"type":"integer"},"price":{"type":"number"}},"required":["range","price"]}},"securitySchemes":{"password":{"type":"oauth2","flows":{"password":{"tokenUrl":"https://login.bentoweb.com/oauth/token","scopes":{}}}}}}}