{"openapi":"3.0.0","info":{"title":"Euroexpress API","description":"API podržava standardnu Basic autentifikaciju kroz header Authorization: \n  \n  Basic authorization možete koristiti i na primjerima na ovoj stranici unošenjem u Authorize box.\nU Authorize box unesite username i password sa našeg web client portala.  \n\n  Produkcioni URL je https://gateway.euroexpress.ba/b2b \n\n\nImplementacija Basic autorizacije se odvija u tri koraka:\n - Korisničko ime i lozinka se spajaju sa dvotačkom kao separatorom (:), npr user:pass\n - Spojeni string se enkoduje u Base64 string\n - Enkodovani string se dodaje u Authorization header nakon Basic tipa, npr: \"authorization: Basic Rh3wwDqwsdadEvw3dsa==\"","version":"1.1-oas3"},"tags":[{"name":"Basic","description":"Osnovne API funkcije"},{"name":"Shipment","description":"Praćenje pošiljke"},{"name":"Announce","description":"Najava i rezervacija"}],"paths":{"/":{"get":{"tags":["Basic"],"summary":"Informacije o verziji i aktivnosti apija","responses":{"200":{"description":"uspješno","content":{"text":{"schema":{"type":"string"}}}}}}},"/basic/cities":{"get":{"operationId":"cities","tags":["Basic"],"summary":"Lista mjesta sa PTT brojevima na koja je moguće slati pošiljke","responses":{"200":{"description":"uspjesno","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Mjesto"}}}}},"400":{"description":"Invalid status value"}},"security":[{"api_key":[]}]}},"/basic/locations":{"get":{"operationId":"locations","tags":["Basic"],"summary":"Lista lokacija/Adresa korisnika sa kojih je moguće praviti najave","responses":{"200":{"description":"uspjesno","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Lokacija"}}}},"400":{"description":"Invalid status value"}},"security":[{"api_key":[]}]}},"/shipment/status":{"get":{"tags":["Shipment"],"summary":"Vraća trenutni status pošiljke po šifri","description":"Vraća mapu sa podacima o pošiljci","operationId":"getStatus","parameters":[{"name":"sifra","in":"query","description":"Šifra pošiljke za koju se traže podaci. Obavezan je jedan od parametara sifra / referentniBroj","required":false,"schema":{"type":"string"}},{"name":"referentniBroj","in":"query","description":"Referentni broj pošiljke za koju se traže podaci. Obavezan je jedan od parametara sifra / referentniBroj","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Uspjesno pronađena pošiljka","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PosiljkaStatus"}}}},"400":{"description":"Invalid status value"}},"security":[{"api_key":[]}]}},"/shipment/log":{"get":{"tags":["Shipment"],"summary":"Vraća listu logova koji omogućavaju detaljno praćenje pošiljke","operationId":"getLog","parameters":[{"name":"sifra","in":"query","description":"Šifra pošiljke za koju se traže podaci","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Uspješno pronađen log pošiljke","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TraceLog"}}}}},"400":{"description":"Greška u proslijeđenoj šifri"},"401":{"description":"Unauthorized"}},"security":[{"api_key":[]}]}},"/shipment/print":{"get":{"tags":["Shipment"],"summary":"Vraća PDF štampu pošiljke","operationId":"printPos","parameters":[{"name":"sifra","in":"query","description":"Šifra pošiljke za koju se traže podaci. Ovo je obavezan parametar ukoliko nije proslijeđen refBroj","schema":{"type":"string"}},{"name":"refBroj","in":"query","description":"Referentni broj pošiljke koju je korisnik definisao prilikom najave. Koristiće se samo ukoliko je parametar 'sifra' prazan","schema":{"type":"string"}}],"responses":{"200":{"description":"Pronađena pošiljka i vraćen PDF","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"403":{"description":"Greška u proslijeđenoj šifri"},"405":{"description":"Greška pri generisanju PDF-a - Internal server error"},"401":{"description":"Unauthorized"}},"security":[{"api_key":[]}]}},"/shipment/announce":{"post":{"tags":["Announce"],"summary":"Najava liste pošiljki","description":"Ovaj metod u odnosu na preannounce metod dodaje dodatnu operaciju odobrenja najave u sistem EE i nakon ovoga najava će biti poslata i vidljiva u Kurirskoj službi. Nakon najave nije moguće vršiti izmjene na najavi","operationId":"announce","parameters":[{"name":"lokacija","in":"query","description":"Lokacija komitenta sa koje se šalje","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Uspješno najavljene pošiljke","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PosiljkaDto"}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Greška u pronalaženju ugovora ili lokacije za proslijeđene parametre"},"409":{"description":"Greška u parsiranju najave"}},"security":[{"api_key":[]}],"requestBody":{"$ref":"#/components/requestBodies/PosiljkaDtoArray"}}},"/shipment/preannounce":{"post":{"tags":["Announce"],"summary":"Preliminarna najava liste pošiljki.","description":"Pošiljke će biti validirane i dobiće kod u EE sistemu koji će biti vraćen kao json field 'sifra'. Ovaj metod može biti pozivan iznova za iste pošiljke radi ažuriranja(sa istim referentniBroj ili ibp argumentom) sve do konačne najave announce metodom ili ručnim odobrenjem kroz web konzolu.","operationId":"preannounce","parameters":[{"name":"lokacija","in":"query","description":"Lokacija komitenta sa koje se šalje","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Uspješno validirane pošiljke","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PosiljkaDto"}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Greška u pronalaženju ugovora ili lokacije za proslijeđene parametre"},"409":{"description":"Greška u parsiranju najave"}},"security":[{"api_key":[]}],"requestBody":{"$ref":"#/components/requestBodies/PosiljkaDtoArray"}}}},"externalDocs":{"description":"Za više detalja posjetite naš sajt","url":"http://euroexpress.ba"},"servers":[{"url":"https://gateway.euroexpress.ba/test"}],"components":{"requestBodies":{"PosiljkaDtoArray":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PosiljkaDto"}}}},"description":"Lista json pošiljaka koje će biti najavljene","required":true}},"securitySchemes":{"api_key":{"type":"http","scheme":"basic"}},"schemas":{"VezanaPosiljka":{"type":"object","properties":{"vrstaPosiljke":{"type":"string","enum":["Povrat otpremnice","Povrat novca"],"example":"Povrat novca","description":"Vrsta vezane pošiljke"},"sifra":{"type":"string","example":"W4234234523","description":"Šifra vezane pošiljke"}}},"Mjesto":{"type":"object","required":["ptt","naziv","dostavaVikendom"],"properties":{"ptt":{"type":"string","example":"78000"},"naziv":{"type":"string","example":"Banja Luka"},"dostavaVikendom":{"type":"boolean","example":true}}},"Lokacija":{"type":"object","required":["rb","naziv","adresa"],"properties":{"rb":{"type":"integer","example":4},"naziv":{"type":"string","example":"Skladište Banja Luka"},"adresa":{"type":"string","example":"Trive Amelice 345"},"telefon":{"description":"Broj telefona","type":"string","example":6.5999999E7},"email":{"type":"string"},"kontaktOsoba":{"type":"string"},"status":{"description":"Status web lokacije (0-Neaktivna, 1- Aktivna)","enum":[0,1],"example":1},"osnovnaAdresa":{"description":"Da li je ovo glavna / podrazumjevana adresa","type":"boolean","example":true},"pttBroj":{"type":"string","example":"78000"},"pttNaziv":{"type":"string","example":"Banja Luka"}}},"Posiljka":{"type":"object","properties":{"sifra":{"type":"string","example":"123456789"},"ibp":{"type":"integer","example":589844115,"description":"Interni broj pošiljke koji komitent generiše"},"referentniBroj":{"type":"string","example":"1Y23456789X2","description":"Vaša šifra koju proslijeđujete i po kojoj možete pratiti pošiljku. Ako je proslijedite IBP će biti zanemaren."},"datumSlanja":{"type":"string","format":"yyyy-MM-dd'T'HH:mm:ssX","example":"2017-11-28T07:27:19+01"},"datumPrijema":{"type":"string","format":"yyyy-MM-dd'T'HH:mm:ssX","example":"2017-11-29T07:17:34+01"},"vrstaPosiljke":{"type":"string","example":"Paket"},"opisPosiljke":{"type":"string","example":"Mobilni telefon"},"tezina":{"type":"number","example":2,"description":"u KG"},"brojPaketa":{"type":"number","example":1,"default":1,"description":"Ukupno paketa uključujući glavni paket, podrazumjevano 1"},"prateciPaketi":{"type":"array","items":{"type":"string"},"description":"Ukoliko je broj paketa veći od 1 u ovom polju mogu biti poslate šifre pratećih paketa. Neophodno je onoliko šifara koliko ima brojPaketa-1, jer se i glavni paket broji u pakete. Ukoliko u ovom polju ne pošaljete ništa Prateći kodovi će biti automatski generisani.","example":["123456798P1","987654321P2"]},"vrednostPosiljke":{"type":"number","example":58.4,"description":"Vrijednost pošiljke zbog osiguranja i sl."},"posiljkuPreuzeo":{"type":"string","example":"Pero Perić","description":"U slučaju da je dostavljeno, ko je preuzeo pošiljku"},"status":{"type":"integer","example":20},"statusOpis":{"type":"string","enum":["U NAJAVI","U DOSTAVI","SPORNA","ODGOĐENA","DOSTAVLJENA"],"example":"DOSTAVLJENA"},"vezane":{"type":"array","items":{"$ref":"#/components/schemas/VezanaPosiljka"},"description":"Lista šifri i vrsta vezanih pošiljki"},"izvorna":{"type":"array","items":{"$ref":"#/components/schemas/VezanaPosiljka"},"description":"Šifra i vrsta izvorne pošiljke ako postoji"}}},"PosiljkaDto":{"type":"object","properties":{"sifra":{"type":"string","example":"W10001234","description":"Šifra koju generiše EuroExpress pri najavi. Biće ignorisana ako je proslijedite. Biće vraćena prilikom najave"},"ibp":{"type":"integer","example":1234,"description":"Interni broj pošiljke koji komitent generiše. Obavezan ako je uključeno Generisanje IBP-a za klijenta"},"referentniBroj":{"type":"string","example":"1Y23456789X2","description":"Vaša šifra koju proslijeđujete i po kojoj možete pratiti pošiljku. Ako je proslijedite IBP će biti zanemaren."},"vrstaPosiljkeSifra":{"type":"integer","enum":[0,1],"example":1,"description":"0-Dokument; 1-Paket"},"opisPosiljke":{"type":"string","example":"Mobilni telefon"},"tezina":{"type":"number","example":2,"description":"u KG"},"obveznikPlacanja":{"type":"integer","enum":[0,1],"example":0,"description":"0=Pošiljalac, 1=Primalac"},"nacinPlacanja":{"type":"integer","enum":[0,1,9],"example":1,"description":"0=Gotovinski, 1=Žiralno, 9-Gotovinski odloženo"},"brojPaketa":{"type":"number","example":3,"default":1,"description":"Ukupno paketa uključujući glavni paket, podrazumjevano 1"},"prateciPaketi":{"type":"array","items":{"type":"string"},"description":"Ukoliko je broj paketa veći od 1 u ovom polju mogu biti poslate šifre pratećih paketa. Neophodno je onoliko šifara koliko ima brojPaketa-1, jer se i glavni paket broji u pakete. Ukoliko u ovom polju ne pošaljete ništa Prateći kodovi će biti automatski generisani.","example":["123456798P1","987654321P2"]},"vrednostPosiljke":{"type":"number","example":58.4,"description":"Vrijednost pošiljke zbog osiguranja i sl."},"duzina":{"type":"number","example":20,"minimum":0,"description":"Dužina paketa u cm","default":0},"sirina":{"type":"number","example":20,"minimum":0,"description":"Širina paketa u cm"},"visina":{"type":"number","example":20,"minimum":0,"description":"Visina paketa u cm"},"primalacNaziv":{"type":"string","example":"Pero Perić","description":"Ime i prezime / Naziv primaoca"},"primalacAdresa":{"type":"string","example":"Peta Avenija 111","description":"Adresa primaoca / Ulica i broj"},"primalacPtt":{"type":"string","example":75000,"description":"Ptt broj mjesta primaoca. Mora biti iz kataloga EE mjesta."},"primalacTelefon":{"type":"string","example":14198574,"description":"Broj telefona primaoca za kontakt"},"primalacIme":{"type":"string","example":"Perica Perić","description":"Ime i prezime kontakt osobe na prijemu"},"naplataPouzecem":{"type":"boolean","example":false,"default":false,"description":"Naplata pošiljke prilikom pouzeća u iznosu definisanom u parametru iznosNaplatePouzecem."},"nacinNp":{"type":"integer","example":0,"default":"0 - Gotovina","description":"Ako je odabrana naplata pouzećem ovo je način naplate 0-Gotovina, 1-POS1, 2-POS2"},"povratOtpremnice":{"type":"boolean","example":false,"default":false,"description":"Povrat otpremnice"},"povratZamjenske":{"type":"boolean","example":false,"default":false,"description":"Povrat zamjenske pošiljke. Samo ako je dozvoljeno ugovorom"},"povratAmbalaze":{"type":"boolean","example":false,"default":false,"description":"Povrat ambalaže. Samo ako je dozvoljeno ugovorom."},"osiguranje":{"type":"boolean","example":false,"default":false,"description":"Da li će pošiljka biti osigurana. Osiguranje se vrši u iznosu vrednostPosiljke"},"otvaranjePosiljke":{"type":"boolean","example":false,"default":false,"description":"Dozvoljeno otvaranje pošiljke na prijemu. Samo ako je dozvoljeno ugovorom."},"dostavaVikendom":{"type":"boolean","example":false,"default":false,"description":"Pošiljka će biti dostavljena i vikendom. Samo za mjesta u kojima je moguća dostava vikendom"},"brzaDostava":{"type":"boolean","example":false,"default":false,"description":"Ubrzana dostava do 12:00h"},"tender":{"type":"boolean","example":false,"default":false,"description":"Dostava tenderske dokumentacije u vremenu od - do navedenim u parametrima vremeDostaveOd i vremeDostaveDo"},"express":{"type":"boolean","example":false,"default":false,"description":"Ubrzana dostava od - do vremena navedenim u parametrima vremeDostaveOd i vremeDostaveDo"},"vremeDostaveOd":{"type":"string","format":"HH:mm","example":"08:30","description":"Vrijeme dostave Od ukoliko je odabrana express ili tenderska vremenski određena dostava"},"vremeDostaveDo":{"type":"string","format":"HH:mm","example":"10:30","description":"Vrijeme dostave Do ukoliko je odabrana express ili tenderska vremenski određena dostava"},"iznosNaplatePouzecem":{"type":"number","example":122.4,"description":"Iznos naplate pouzećem, ako je aktivna naplataPouzecem"},"napomena":{"type":"string","example":"Ulaz sa parkinga","description":"Napomena kuriru na dostavi"}}},"PosiljkaStatus":{"type":"object","properties":{"sifra":{"type":"string","example":"W10001234","description":"Šifra koju generiše EuroExpress pri najavi. Biće ignorisana ako je proslijedite. Biće vraćena prilikom najave"},"ibp":{"type":"integer","example":1234,"description":"Interni broj pošiljke koji komitent generiše. Obavezan ako je uključeno Generisanje IBP-a za klijenta"},"referentniBroj":{"type":"string","example":"1Y23456789X2","description":"Vaša šifra koju proslijeđujete i po kojoj možete pratiti pošiljku. Ako je proslijedite IBP će biti zanemaren."},"vrstaPosiljke":{"type":"integer","enum":[0,1],"example":1,"description":"0-Dokument; 1-Paket"},"opisPosiljke":{"type":"string","example":"Mobilni telefon"},"tezina":{"type":"number","example":2,"description":"u KG"},"brojPaketa":{"type":"number","example":3,"default":1,"description":"Ukupno paketa uključujući glavni paket, podrazumjevano 1"},"vezane":{"type":"array","items":{"$ref":"#/components/schemas/VezanaPosiljka"},"description":"Vezane pošiljke i njihove šifre"},"izvorna":{"type":"array","items":{"$ref":"#/components/schemas/VezanaPosiljka"},"description":"Šifra i vrsta izvorne pošiljke ako postoji","example":null},"vrednostPosiljke":{"type":"number","example":58.4,"description":"Vrijednost pošiljke zbog osiguranja i sl."},"napomena":{"type":"string","example":"Ulaz sa parkinga","description":"Napomena kuriru na dostavi"}}},"TraceLog":{"type":"object","properties":{"sifra":{"type":"string","example":"Y2831011139","description":"Šifra pošiljke"},"datum":{"type":"string","format":"yyyy-MM-dd'T'HH:mm:ssX","example":"2017-11-28T07:27:19+01","description":"Datum i vrijeme događaja"},"centar":{"type":"string","example":"Banja Luka","description":"U kom centru dostave se trenutno nalazi pošiljka"},"opis":{"type":"string","example":"Pošiljka kod kurira na dostavi","description":"Detaljni opis statusa"}}},"ErrorMsg":{"type":"object","properties":{"poruka":{"type":"string"}}}}}}