{"openapi":"3.0.0","info":{"description":"The Vigilex API governs the communication between the Backend services & the Web Client (VueJS Front-end SPA). The production version of Vigilex Backend is hosted on an AWS SAM architecture, built using AWS API Gateway & AWS Lambda.\n","version":"1.0.0-oas3","title":"Vigilex API v1"},"servers":[{"url":"https://api2.vigilex.enlightyx.io/api/v1","description":"Production (API Gateway + AWS Lambda)"},{"url":"https://api.vigilex.enlightyx.io/api/v1","description":"Development Server"}],"tags":[{"name":"API","description":"All relevant Methods"}],"security":[{"bearerAuth":[]}],"paths":{"/status":{"get":{"tags":["API"],"summary":"Check if API is running or not","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Success"},{"type":"object","properties":{"message":{"type":"string","example":"API is running..."}}}]}}}}}}},"/signin":{"put":{"tags":["API"],"summary":"Signin with Credentials (Email / Password)","requestBody":{"description":"JSON object containing **email** & **password**","required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string"},"password":{"type":"string"}}},"example":{"email":"john.doe@website.com","password":"ThisISmyP@$$w0rd"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Success"},{"type":"object","properties":{"data":{"type":"object","properties":{"token":{"type":"string","description":"JWT token","example":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJlbmxpZ2h0eXguaW8iLCJpZCI6MSwibmFtZSI6Ik1lbGFrYSBBZG1pbiIsImVtYWlsIjoibWVsYWthQG1lZ2FsaW5lYXIuY29tLm15Iiwicm9sZV9pZCI6MSwianRpIjoiMTQ5MjAxMzQtY2Q0OC00NjQ1LWFlMDItNmEyNGZiZmNiNjRjIiwiaWF0IjoxNTgzMzA1OTA4LCJleHAiOjE1ODMzMDk1MDh9.RmBbmoiYJ6aBpdL8oO7f2ZjEnZ_vpYS17QHLF24GCF8"},"user":{"$ref":"#/components/schemas/UserInfo"}}}}}]}}}},"400":{"description":"Missing Email and/or Password","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/BadRequest"},{"type":"object","properties":{"message":{"type":"string","example":"Missing Credentials"}}}]}}}},"401":{"description":"Email or Password provided is wrong","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Unauthorized"},{"type":"object","properties":{"message":{"type":"string","example":"Invalid Credentials"}}}]}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseError"}}}}}}},"/renew":{"get":{"tags":["API"],"summary":"Renew the JWT token","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Success"},{"type":"object","properties":{"data":{"type":"object","properties":{"token":{"type":"string","description":"JWT token","example":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJlbmxpZ2h0eXguaW8iLCJpZCI6MSwibmFtZSI6Ik1lbGFrYSBBZG1pbiIsImVtYWlsIjoibWVsYWthQG1lZ2FsaW5lYXIuY29tLm15Iiwicm9sZV9pZCI6MSwianRpIjoiNmIyNTFhMmUtNDkwMS00YzRhLTk5OTAtZDA4ZGZkNDIyNDJmIiwiaWF0IjoxNTgzMzA4ODAzLCJleHAiOjE1ODMzMTI0MDN9.5p_eOi47FgfH8yNNlI63w0hKT1WaL8TcE_IaLhRgINM"}}}}}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}}}}}},"/permissions":{"get":{"tags":["API"],"summary":"Get user's permissions","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Success"},{"type":"object","properties":{"data":{"type":"object","example":{"cameras":{"view":true}}}}}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseError"}}}}}}},"/cameras":{"get":{"tags":["API"],"summary":"Get all Cameras associated to the User","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Success"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CameraInfo"}}}}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseError"}}}}}}},"/panic-buttons":{"get":{"tags":["API"],"summary":"Get all Panic Buttons associated to the User","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Success"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/PanicButtonInfo"}}}}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseError"}}}}}}},"/user/info":{"get":{"tags":["API"],"summary":"Get User's information","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Success"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/UserInfo"}}}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseError"}}}}}}},"/user/prefs":{"get":{"tags":["API"],"summary":"Get User's preferences","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Success"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/UserPrefInfo"}}}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseError"}}}}}}},"/user/name/update":{"post":{"tags":["API"],"summary":"Update User's Name","requestBody":{"description":"JSON object with **name**","required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","example":"John Doe"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Success"},{"type":"object","properties":{"data":{"type":"object","properties":{"name":{"type":"string","example":"John Doe"}}}}}]}}}},"400":{"description":"Missing Name","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/BadRequest"},{"type":"object","properties":{"message":{"type":"string","example":"Invalid Name"}}}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseError"}}}}}}},"/user/password/update":{"post":{"tags":["API"],"summary":"Update User's Password","requestBody":{"description":"JSON object with **current** & **password**","required":true,"content":{"application/json":{"schema":{"type":"object","required":["current","password"],"properties":{"current":{"type":"string","example":"PasswordOld"},"password":{"type":"string","example":"PasswordNew"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Success"}}}},"400":{"description":"Missing Current or Password","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/BadRequest"},{"type":"object","properties":{"message":{"type":"string","example":"Missing password(s)"}}}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseError"}}}}}}},"/mqtt":{"get":{"tags":["API"],"summary":"Get all MQTT topics User needs to subscribe to","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Success"},{"type":"object","properties":{"data":{"type":"array","items":{"type":"string","example":"/update/web"}}}}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseError"}}}}}}},"/overview":{"get":{"tags":["API"],"summary":"Get Overview statistics","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Success"},{"type":"object","properties":{"data":{"type":"object","example":{"cameras":{"count":14},"pbs":{"count":1}}}}}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseError"}}}}}}},"/pbs/alarms":{"get":{"tags":["API"],"summary":"Get all Panic Button alarms","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Success"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/PanicButtonAlarmInfo"}}}}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseError"}}}}}}},"/pbs/alarms/{id}/disable":{"post":{"tags":["API"],"summary":"Disable an Alarm","security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Success"},{"type":"object","properties":{"message":{"type":"string","example":"Alarm disabled."}}}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}}},"404":{"description":"Alarm ID is incorrect","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/NotFound"},{"type":"object","properties":{"message":{"type":"string","example":"Invalid Alarm"}}}]}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseError"}}}}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"Success":{"type":"object","properties":{"error":{"type":"integer","default":0,"example":0},"message":{"type":"string","description":"Human-readable explanation","default":"Success","example":"Success"}}},"BadRequest":{"type":"object","properties":{"error":{"type":"integer","example":400,"default":400},"message":{"type":"string","example":"Bad Request","default":"Bad Request"}}},"Unauthorized":{"type":"object","properties":{"error":{"type":"integer","example":401,"default":401},"message":{"type":"string","example":"Invalid Token","default":"Invalid Token"}}},"Forbidden":{"type":"object","properties":{"error":{"type":"integer","example":403,"default":403},"message":{"type":"string","example":"Forbidden","default":"Forbidden"}}},"NotFound":{"type":"object","properties":{"error":{"type":"integer","example":404,"default":404},"message":{"type":"string","example":"Not Found","default":"Not Found"}}},"DatabaseError":{"type":"object","properties":{"error":{"type":"integer","example":500,"default":500},"message":{"type":"string","example":"Database Error. Details = <something>","default":"Database Error. Details = <something>"}}},"UserInfo":{"type":"object","required":["id","name","email","meta"],"properties":{"id":{"type":"integer","example":1},"name":{"type":"string","example":"John Doe"},"email":{"type":"string","example":"john.doe@website.com"},"meta":{"type":"object","example":{}},"role_id":{"type":"integer","example":1},"role":{"type":"string","example":"admin"}}},"CameraInfo":{"type":"object","properties":{"id":{"type":"integer","example":1},"name":{"type":"string","example":"Camera 1"},"description":{"type":"string","example":"A camera"},"latitude":{"type":"number","example":2.197173},"longitude":{"type":"number","example":102.251775},"type":{"type":"string","example":"angelcam"},"data":{"type":"object","example":{"angelcam_id":98724}},"type_data":{"type":"object","example":{"token":"f6fa487f8e43709932ae379204d39542274f6532"}}}},"PanicButtonInfo":{"type":"object","properties":{"id":{"type":"number","example":1},"name":{"type":"string","example":"Panic Button 1"},"description":{"type":"string","example":"A Panic Button"},"latitude":{"type":"number","example":2.198},"longitude":{"type":"number","example":103.456},"data":{"type":"object","example":{"app_id":"demomegalinear","dev_id":"lora_button_123"}},"type_data":{"type":"object","example":{}},"type":{"type":"string","example":"mutelcor-ttn"},"app_id":{"type":"string","example":"demomegalinear"},"dev_id":{"type":"string","example":"lora_button_123"}}},"UserPrefInfo":{"type":"object","properties":{"mapCenter":{"type":"object","properties":{"latitude":{"type":"number","example":2.198},"longitude":{"type":"number","example":103.456}}},"zoom":{"type":"integer","example":18}}},"PanicButtonAlarmInfo":{"type":"object","properties":{"id":{"type":"integer","example":5},"message":{"type":"string","example":"Panic Button 2 pressed"},"active":{"type":"boolean","example":true},"created_at":{"type":"string","description":"Time when alarm was raised","example":"2020-03-04:12:45:00Z"},"stopped_at":{"type":"string","description":"Time when alarm was disarmed","example":"2020-03-04:12:45:00Z"},"updated_at":{"type":"string","example":"2020-03-04:12:45:00Z"},"pb_id":{"type":"integer","example":1}}}}}}