openapi: 3.0.0
info:
  description: API interface for operations within the platform
  version: "1.0.0-oas3"
  title: ForgeServe REST API
  contact:
    name: David Kirsopp
    url: 'http://swoopdata.com'
    email: support@swoopdata.com
tags:
  - name: Device
    description: Device API
paths:
  /api/v1/deviceAssign:
    post:
      tags:
        - Device
      description: Device, Reseller, Delivery company and SKU details to assign, 3 possible
        SKU that change behaviour. 1 Sets device as Free Information only, 2
        sets Provisioning only 3 sets Provisioning and management.
      summary: Add devices to your channel
      operationId: completeDeviceAssignWithSKUUsingPOST
      parameters:
        - name: Authorization
          in: header
          description: 'Basic Authentication: Base64 Encoded User:Password'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful device Assigned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAssign_Result'
        '400':
          description: Error during Device Assignment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedAPIResponse'
        '401':
          description: Error with Authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedAuthResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAssign_Form'
        description: Scan in and Assign multiple Devices based on SKU.
        required: true
servers:
    - url: https://westconemea.forgeserve.com/
    - url: https://virtserver.swaggerhub.com/swoopdatacom/WestconDeviceAssign/1.0.0-oas3
components:
  schemas:
    DeviceAssign_Result:
      type: object
      properties:
        badMacs:
          type: array
          items:
            type: string
          example: ["0004130000000","0004F20000000","805EC00000000"]
          description: "Array of MAC addresses from the devices that are not successful. Array will be Empty when all devices are successful."
        errors:
          type: array
          items:
            type: string
          example: ["The MAC: xxxxxxxx is not valid","The MAC: 0004130000000 is already assigned to a company."]
          description: "Array of Error responses based on the devices."
        goodMacs:
          type: array
          items:
            type: string
          example: ["0004130000000","0004F20000000","805EC00000000"]
          description: "Array of MAC addresses from the requested devices that are successful."
      title: DeviceAssign_Result
    Reseller:
      type: object
      required:
        - identifier
        - name
      properties:
        addressLine1:
          type: string
          description: First Line of the Address for the Reseller
          example: "123 Test Street"
        addressLine2:
          type: string
          description: Second Line of the Address for the Reseller
        city:
          type: string
          example: "London"
          description: City of the Reseller
        country:
          type: string
          example: "United Kingdom"
          description: Country of the Reseller
        county:
          type: string
          example: "Greater London"
          description: County for the Reseller
        email:
          type: string
          example: "email@domain.com"
          description: the email for the first user on the company, if this is provided it will trigger the platform to create a user for this reseller so they can log into the platform
        identifier:
          type: string
          example: "00021ad323"
          description: The unique company identifier, used to map to specific reseller's
        name:
          type: string
          example: "End Customer"
          description: Name for the End customer account
        postCode:
          type: string
          example: "xxxx xxx"
          description: Postcode for the customer
        telephone:
          type: string
          example: '00021302323'
          description: Telephone number of the Customer
      title: Reseller
    Warranty:
      type: object
      required:
        - name
      description: "Use Only length or expireDate, this sets the warranty end date on the device and is optional"
      properties:
        expireDate:
          type: string
          format: date-time
          example: '1970-01-01T00:00:00Z'
          description: Date the warranty expires
        length:
          type: integer
          format: int64
          example: 2
          description: Warranty Length
        name:
          type: string
          example: Manufacturer
          description: Name of the Warranty Product for the device
      title: Warranty
    DeviceAssign_Form:
      type: object
      required:
        - quantity
        - reseller
      properties:
        delivery:
          $ref: '#/components/schemas/Delivery'
        devices:
          type: array
          items:
            $ref: '#/components/schemas/Devices'
        invoice:
          type: string
          example: io29323
          description: Unique Invoice ID for the device, this populates the Order ID in the
            Web Interface
        order:
          type: string
          example: Customer Order number
          description: Unique Batch ID for the device, this populates the Order ID in the
            Web Interface
        reseller:
          $ref: '#/components/schemas/Reseller'
        warranty:
          $ref: '#/components/schemas/Warranty'
      title: deviceAssignDTO
    Devices:
      type: object
      required:
        - mac
      properties:
        mac:
          type: string
          example: '00:00:00:00:00:00'
          description: MAC address of the devices
        sn:
          type: string
          example: '000000000'
          description: Serial Number of the devices
        sPO:
          type: string
          example: "FS01234"
          description: Purchase Order Identifier to Swoop used for billing reconciliation
        sSKU:
          type: string
          example: "Provisioning"
          description: supplier SKU used to change the products on the device. Example connect only or connect and engage etc.
      title: devices
    Delivery:
      type: object
      required:
        - name
      properties:
        addressLine1:
          type: string
          example: 123 Test Street
          description: First Line of the Address for the customer
        addressLine2:
          type: string
          description: Second Line of the Address for the customer
        city:
          type: string
          example: London
          description: City of the customer
        country:
          type: string
          example: United Kingdom
          description: Country of the customer
        county:
          type: string
          example: Greater London
          description: County for the customer
        email:
          type: string
          example: email@domain.com
          description: Email for the customer
        name:
          type: string
          example: End Customer
          description: Name for the End customer account
        postCode:
          type: string
          example: xxx xxx
          description: Postcode for the customer
        telephone:
          type: string
          example: '00021302323'
          description: Telephone number of the Customer
        identifier:
          type: string
          example: "00021ad323"
          description: The unique company identifier, used to map to specific end customer
      title: Delivery
    FailedAPIResponse:
      type: object
      properties:
        message:
          type: string
          description: Error message
          example: ''
        status:
          type: string
          example: Failed
          description: Status of the request
    FailedAuthResponse:
      type: object
      properties:
        message:
          type: string
          description: Error message
          example: 'Full authentication is required to access this resource'
