openapi: 3.0.0
info:
  description: 'This channel API is for DC Brokerage Transaction  widgets.Which can be used to manage the brokerage account.'
  version: "0.1.7"
  title: 'Dc Brokerage Transaction channel service API'
  termsOfService: 'http://alight.com/terms'
  contact:
    name: 'Alight API Team'
    email: api@alight.com
    url: 'https://alight.com/apis'
  license:
    name: 'Proprietary License'
servers:
  -
    url: 'https://api-dv.alight.com/api/channel'
    description: 'Development environment'
  -
    url: 'https://api-qa.alight.com/api/channel'
    description: 'Quality Assurance environment'
  -
    url: 'https://api-ste.alight.com/api/channel'
    description: 'Stress Test environment'
  -
    url: 'https://api-qc.alight.com/api/channel'
    description: 'Quality Control environment'
  -
    url: 'https://api.alight.com/api/channel'
    description: 'Production environment'
  -
    url: 'http://localhost/api/channel'
    description: 'Local Development environment'
paths:
  '/api/channel/dcbrokeragewidgets/brokerageTransactionIntractWidget':
    get:
      tags:
        - 'Interact With My Brokerage Account'
      summary: 'This is the step1 for intro  page of Interact With My Brokerage Account.'
      description: '<b>Domain API - GET :</b> /investmentchang/eligibleBusinessProcess.'
      security:
        - bearerAuth: []
      
      parameters:
        -
          name: alightPersonSessionToken
          in: header
          description: 'Session token generated by startSessionForPerson call'
          schema:
            type: string
          required: true
        -
          name: alightRequestHeader
          in: header
          description: 'Request header which contains ''clientId'',''subjectId'' and ''subjectType'''
          schema:
            type: string
          required: true
      
      responses:
        '200':
          description: 'successfully pull the details of dividend plan selection'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    required: 
                      - "statusCode"
                      - "dividentPlanEnrollmentResponse"
                    properties: 
                      statusCode: 
                        type: "number"
                        example: "200"
                      brkgtrxIntreractWidgetResponse: 
                        required: 
                          - "pageTitle"
                          - "para"
                          - "optionDescriptionTitle"
                          - "progressbar"
                          - "options"
                          - "continueLabel"
                          - "cancelLabel"
                        properties: 
                          pageTitle: 
                            type: "string"
                          para: 
                            type: "array"
                            items: 
                              type: "object"
                              properties: 
                                para: 
                                  type: "string"
                          optionDescriptionTitle: 
                            type: "string"
                          progressbar: 
                            type: "array"
                            items: 
                              type: "object"
                              properties: 
                                Choose an option: 
                                  type: "string"
                                Transfer: 
                                  type: "string"
                                Review: 
                                  type: "string"
                                Complete: 
                                  type: "string"
                          options: 
                            type: "boolean"
                          continueLabel: 
                            type: "string"
                          cancelLabel: 
                            type: "string"
                        type: "object"
        '400':
          description: 'Bad Request'
        '404':
          description: 'Not Found'
        '500':
          description: 'Internal Server Error'          
  '/api/channel/dcbrokeragewidgets/brokerageTransactionTransferInWidget/{businessProcessId}':
    get:
     tags:
        - 'Transfer Into Brokerage Account'
     summary: 'This request is for getting select  “Transfer into Brokerage Account” with channel api.'
     description: '<b>Domain API - GET :</b> /investmentchange/{businessProcessId}.'
     parameters:
        -
          name: alightPersonSessionToken
          in: header
          description: 'Session token generated by startSessionForPerson call'
          schema:
            type: string
          required: true
        -
          name: alightRequestHeader
          in: header
          description: 'Request header which contains ''clientId'',''subjectId'' and ''subjectType'''
          schema:
            type: string
          required: true
        -  
          name: businessProcessId
          in: path
          description: 'businessProcessId for selected plan'
          schema:
            type: string
          required: true   
     
     responses:
       '200':
          description: 'successfully pull the details to Transfer Into Brokerage Account'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    required: 
                      - "statusCode"
                      - "brkgtrxTransferInWidgetResponse"
                    properties: 
                      statusCode: 
                        type: "number"
                        example: "200"
                      brkgtrxTransferInWidgetResponse: 
                        required: 
                          - "pageTitle"
                          - "para"
                          - "optionDescriptionTitle"
                          - "progressbar"
                          - "options"
                          - "continueLabel"
                          - "cancelLabel"
                        properties: 
                          pageTitle: 
                            type: "string"
                          para: 
                            type: "array"
                            items: 
                              type: "object"
                              properties: 
                                para: 
                                  type: "string"
                          optionDescriptionTitle: 
                            type: "string"
                          progressbar: 
                            type: "array"
                            items: 
                              type: "object"
                              properties: 
                                Choose an option: 
                                  type: "string"
                                Transfer: 
                                  type: "string"
                                Review: 
                                  type: "string"
                                Complete: 
                                  type: "string"
                          options: 
                            type: "boolean"
                          continueLabel: 
                            type: "string"
                          cancelLabel: 
                            type: "string"           
                        type: "object"
       '400':
          description: 'Bad Request'
       '404':
          description: 'Not Found'
       '500':
          description: 'Internal Server Error'   
  '/api/channel/dcbrokeragewidgets/brokerageTransactionTransferInWidget/validate':
    post:
     tags:
        - 'Transfer Into Brokerage Account'
     summary: 'This request is for getting select  “Transfer into Brokerage Account” with channel api.'
     description: '<b>Domain API - POST :</b> /investmentchange/personInvestmentChange/validate .'
     parameters:
        -
          name: alightPersonSessionToken
          in: header
          description: 'Session token generated by startSessionForPerson call'
          schema:
            type: string
          required: true
        -
          name: alightRequestHeader
          in: header
          description: 'Request header which contains ''clientId'',''subjectId'' and ''subjectType'''
          schema:
            type: string
          required: true
        -  
          name: businessProcessId
          in: path
          description: 'businessProcessId for selected plan'
          schema:
            type: string
          required: true   
     requestBody:
        required: true
        content:
          application/json:
             schema:
                type: object
                properties:
                  data:
                    required: 
                      - "data"
                    properties: 
                      data: 
                        required: 
                          - "investmentProcessType"
                          - "personInvestmentChanges"
                          - "transferAllocationFundList"
                          - "futureInvestmentElection"
                          - "autoRebalanceElection"
                        properties: 
                          investmentProcessType: 
                            type: "string"
                          personInvestmentChanges: 
                            required: 
                              - "investmentGroupCategoryId"
                              - "isCategoryIdPartOfTransactionGroup"
                            properties: 
                              investmentGroupCategoryId: 
                                type: "string"
                              isCategoryIdPartOfTransactionGroup: 
                                type: boolean
                            type: "object"
                          transferAllocationFundList: 
                            required: 
                              - "fundId"
                              - "fundTransferUseLabel"
                            properties: 
                              fundId: 
                                type: "string"
                              fundTransferUseLabel: 
                                type: boolean
                            type: "object"  
                          futureInvestmentElection: 
                            required: 
                              - "applyFundReallocationToFutureInvestments"
                              - "futureInvestmentFundList"
                            properties: 
                              applyFundReallocationToFutureInvestments: 
                                type: boolean
                              futureInvestmentFundList: 
                                type: "string"
                            type: "object"    
                          autoRebalanceElection: 
                            required: 
                              - "autoRebalanceAction"
                              - "autoRebalanceFrequency"
                            properties: 
                              autoRebalanceAction: 
                                type: boolean
                              autoRebalanceFrequency: 
                                type: "string"
                            type: "object"    
                        type: "object"
     
     responses:
       '200':
          description: 'successfully pull the details to Transfer Into Brokerage Account'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    required: 
                      - "statusCode"
                      - "brkgtrxTransferInWidgetResponse"
                    properties: 
                      statusCode: 
                        type: "number"
                        example: "200"
                      brkgtrxTransferInWidgetResponse: 
                        required: 
                          - "investmentProcessType"
                          - "personInvestmentChanges"
                          - "investmentGroupCategoryId"
                          - "isCategoryIdPartOfTransactionGroup"
                          - "transferAllocationFundList"
                          - "futureInvestmentElection"
                          - "applyFundReallocationToFutureInvestments "
                          - "fundId"
                          - "fundTransferUseLabel"
                          - "allocatedAmount"
                          
                        properties: 
                          investmentProcessType: 
                            type: "string"
                          personInvestmentChanges: 
                            type: "string"
                          investmentGroupCategoryId: 
                            type: "boolean"
                          isCategoryIdPartOfTransactionGroup: 
                            type: "boolean"
                          transferAllocationFundList: 
                            type: "boolean"
                          futureInvestmentElection: 
                            type: "string"
                          applyFundReallocationToFutureInvestments : 
                            type: "boolean"
                          fundId: 
                            type: "string"
                          fundTransferUseLabel: 
                            type: "string"
                          allocatedAmount: 
                            type: "string"        
                        type: "object"
       '400':
          description: 'Bad Request'
       '404':
          description: 'Not Found'
       '500':
          
          description: 'Internal Server Error'          
  '/api/channel/dcbrokeragewidgets/brokerageTransactionTransferOutWidget/{businessProcessId}':
    get:
     tags:
        - 'Transfer Out Brokerage Account'
     summary: 'This request is for getting select  “Transfer Out Brokerage Account” with channel api.'
     description: '<b>Domain API - GET :</b>  /investmentchange/{businessProcessId}.'
     parameters:
        -
          name: alightPersonSessionToken
          in: header
          description: 'Session token generated by startSessionForPerson call'
          schema:
            type: string
          required: true
        -
          name: alightRequestHeader
          in: header
          description: 'Request header which contains ''clientId'',''subjectId'' and ''subjectType'''
          schema:
            type: string
          required: true
        -
          name: businessProcessId
          in: path
          description: 'clientId for selection plan'
          schema:
            type: string
          required: true       
     
     responses:
       '200':
          description: 'successfully pull the details to completed plan'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    required: 
                          - "statusCode"
                          - "brkgtrxTransferOutWidgetResponse"
                    properties: 
                      statusCode: 
                        type: "string"
                      brkgtrxTransferOutWidgetResponse: 
                        required: 
                          - "transactionHeader"
                          - "introParaTitle"
                          - "introParaDesc"
                          - "progressBar"
                          - "optionDescriptionTitle"
                          - "optionDescription"
                          - "options "
                          - "priority"
                          - "header"
                          - "plans"
                          
                        properties: 
                          transactionHeader: 
                            type: "string"
                          introParaTitle: 
                            type: "string"
                          introParaDesc: 
                            type: "boolean"
                          progressBar: 
                            type: "boolean"
                          optionDescriptionTitle: 
                            type: "boolean"
                          optionDescription: 
                            type: "boolean"
                          options : 
                            type: "string"
                          priority: 
                            type: "string"
                          header: 
                            type: "string"
                          plans: 
                            type: "string"
                          
                        type: "object"
                    type: "object"
       '400':
          description: 'Bad Request'
       '404':
          description: 'Not Found'
       '500':
         description: 'Internal Server Error'                
  '/api/channel/dcbrokeragewidgets/brokerageTransactionTransferOutWidget/validate':
    post:
     tags:
        - 'Transfer Out Brokerage Account'
     summary: 'This request is for getting select  “Transfer Out Brokerage Account” with channel api.'
     description: '<b>Domain API - POST :</b>  /investmentchange/personInvestmentChange/validate.'
     parameters:
        -
          name: alightPersonSessionToken
          in: header
          description: 'Session token generated by startSessionForPerson call'
          schema:
            type: string
          required: true
        -
          name: alightRequestHeader
          in: header
          description: 'Request header which contains ''clientId'',''subjectId'' and ''subjectType'''
          schema:
            type: string
          required: true
     requestBody:
        required: true
        content:
          application/json:
             schema:
                type: object
                properties:
                  data:
                    required: 
                      - "data"
                    properties: 
                      data: 
                        required: 
                          - "investmentProcessType"
                          - "personInvestmentChanges"
                          - "transferAllocationFundList"
                          - "futureInvestmentElection"
                          - "autoRebalanceElection"
                        properties: 
                          investmentProcessType: 
                            type: "string"
                          personInvestmentChanges: 
                            required: 
                              - "investmentGroupCategoryId"
                              - "isCategoryIdPartOfTransactionGroup"
                            properties: 
                              investmentGroupCategoryId: 
                                type: "string"
                              isCategoryIdPartOfTransactionGroup: 
                                type: boolean
                            type: "object"
                          transferAllocationFundList: 
                            required: 
                              - "fundId"
                              - "fundTransferUseLabel"
                            properties: 
                              fundId: 
                                type: "string"
                              fundTransferUseLabel: 
                                type: boolean
                            type: "object"  
                          futureInvestmentElection: 
                            required: 
                              - "applyFundReallocationToFutureInvestments"
                              - "futureInvestmentFundList"
                            properties: 
                              applyFundReallocationToFutureInvestments: 
                                type: boolean
                              futureInvestmentFundList: 
                                type: "string"
                            type: "object"    
                          autoRebalanceElection: 
                            required: 
                              - "autoRebalanceAction"
                              - "autoRebalanceFrequency"
                            properties: 
                              autoRebalanceAction: 
                                type: boolean
                              autoRebalanceFrequency: 
                                type: "string"
                            type: "object"    
                        type: "object"

     
     responses:
       '200':
          description: 'successfully pull the details to completed plan'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    required: 
                          - "statusCode"
                          - "brkgtrxTransferOutWidgetResponse"
                    properties: 
                      statusCode: 
                        type: "string"
                      brkgtrxTransferOutWidgetResponse: 
                        required: 
                          - "investmentProcessType"
                          - "personInvestmentChanges"
                          - "investmentGroupCategoryId"
                          - "isCategoryIdPartOfTransactionGroup"
                          - "transferAllocationFundList"
                          - "futureInvestmentElection"
                          - "applyFundReallocationToFutureInvestments "
                          - "fundId"
                          - "fundTransferUseLabel"
                          - "allocatedAmount"
                          
                        properties: 
                          investmentProcessType: 
                            type: "string"
                          personInvestmentChanges: 
                            type: "string"
                          investmentGroupCategoryId: 
                            type: "boolean"
                          isCategoryIdPartOfTransactionGroup: 
                            type: "boolean"
                          transferAllocationFundList: 
                            type: "boolean"
                          futureInvestmentElection: 
                            type: "string"
                          applyFundReallocationToFutureInvestments : 
                            type: "boolean"
                          fundId: 
                            type: "string"
                          fundTransferUseLabel: 
                            type: "string"
                          allocatedAmount: 
                            type: "string"
                          
                        type: "object"
                    type: "object"
       '400':
          description: 'Bad Request'
       '404':
          description: 'Not Found'
       '500':
          description: 'Internal Server Error'                
  '/api/channel/dcbrokeragewidgets/brokerageTransactionAmountTransferOutWidget':
    get:
     tags:
        - 'Select Amount to Transfer'
     summary: 'This request is for getting select  “Select Amount to Transfer” with channel api.'
     description: '<b>Domain API - GET :</b>  /investmentchanges/{businessProcessId}.'
     parameters:
        -
          name: alightPersonSessionToken
          in: header
          description: 'Session token generated by startSessionForPerson call'
          schema:
            type: string
          required: true
        -
          name: alightRequestHeader
          in: header
          description: 'Request header which contains ''clientId'',''subjectId'' and ''subjectType'''
          schema:
            type: string
          required: true
        
     responses:
       '200':
          description: 'successfully pull the cancelled plan details'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    required: 
                          - "statusCode"
                          - "brkgtrxAmtTransferOutWidgetResponse"
                    properties: 
                      statusCode: 
                        type: "string"
                      brkgtrxAmtTransferOutWidgetResponse: 
                        required: 
                          - "transactionHeader"
                          - "introParaTitle"
                          - "introParaDesc"
                          - "progressBar"
                          - "options"
                        properties: 
                          transactionHeader: 
                            type: "string"
                          introParaTitle: 
                            type: "string"
                          introParaDesc: 
                            type: "string"
                          progressBar: 
                            type: "string"
                          options: 
                            type: "string"
                        type: "object"
                    type: "object"
       '400':
          description: 'Bad Request'
       '404':
          description: 'Not Found'
       '500':
          description: 'Internal Server Error'                            
  '/api/channel/dcbrokeragewidgets/brokerageTransactionPendingWidget /{businessProcessReferenceId}':
    get:
     tags:
        - 'Pending Fund Transfer'
     summary: 'This request is for “Pending Fund Transfer” from dcbrokerage channel api.'
     description: '<b>Domain API - GET :</b>  /investmentchange/personInvestmentChange/{businessProcessReferenceId}.'
     parameters:
        -
          name: alightPersonSessionToken
          in: header
          description: 'Session token generated by startSessionForPerson call'
          schema:
            type: string
          required: true
        -
          name: alightRequestHeader
          in: header
          description: 'Request header which contains ''clientId'',''subjectId'' and ''subjectType'''
          schema:
            type: string
          required: true
        -  
          name: businessProcessReferenceId
          in: path
          description: 'businessProcessId for selected plan'
          schema:
            type: string
          required: true   
     responses:
       '200':
          description: 'successfully pull the Pending Fund Transfer page details'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    required: 
                      - "data"
                    properties: 
                      data: 
                        required: 
                          - "statusCode"
                          - "brkgtrxPendingKeptWidgetResponse"
                        properties: 
                          statusCode: 
                            type: "string"
                          brkgtrxPendingKeptWidgetResponse: 
                            required: 
                              - "pageTitle"
                              - "titleText"
                            properties: 
                              pageTitle: 
                                type: "string"
                              titleText: 
                                type: "string"
                            type: "object"
                        type: "object"
       '400':
          description: 'Bad Request'
       '404':
          description: 'Not Found'
       '500':
          description: 'Internal Server Error'                      
  '/api/channel/dcbrokeragewidgets/brokerageTransactionPendingKeptWidget':
    get:
      tags:
        - 'Pending Fund Transfer Completed Successfully'
      summary: 'This request is for “Pending Fund Transfer Completed Successfully” from dcbrokerage channel api.'
      parameters:
        -
          name: alightPersonSessionToken
          in: header
          description: 'Session token generated by startSessionForPerson call'
          schema:
            type: string
          required: true
        -
          name: alightRequestHeader
          in: header
          description: 'Request header which contains ''clientId'',''subjectId'' and ''subjectType'''
          schema:
            type: string
          required: true
     
      responses:
        '200':
          description: 'successfully pull the details of dividend plan selection'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    required: 
                      - "statusCode"
                      - "brkgtrxPendingKeptWidgetResponse"
                    properties: 
                      statusCode: 
                        type: "number"
                        example: "200"
                      brkgtrxPendingKeptWidgetResponse: 
                        required: 
                          - "transactionHeader"
                          - "introParaTitle"
                          - "introParaDesc"
                          - "progressBar"
                          - "optionDescriptionTitle"
                          - "continueLabel"
                          - "cancelLabel"
                        properties: 
                          transactionHeader: 
                            type: "string"
                          introParaTitle: 
                            type: "array"
                            items: 
                              type: "object"
                              properties: 
                                para: 
                                  type: "string"
                          introParaDesc: 
                            type: "string"
                          progressBar: 
                            type: "array"
                            items: 
                              type: "object"
                              properties: 
                                Choose an option: 
                                  type: "string"
                                Transfer: 
                                  type: "string"
                                Review: 
                                  type: "string"
                                Complete: 
                                  type: "string"
                          optionDescriptionTitle: 
                            type: "boolean"
                          continueLabel: 
                            type: "string"
                          cancelLabel: 
                            type: "string"
                        type: "object"
        '400':
          description: 'Bad Request'
        '404':
          description: 'Not Found'
        '500':
          description: 'Internal Server Error'          
  '/api/channel/dcbrokeragewidgets/brokerageTransactionPendingDeletedWidget/cancel/{businessProcessReferenceId}':
    put:
     tags:
        - 'Pending Fund Transfer Deleted Successfully'
     summary: 'This request is for “Pending Fund Transfer Deleted Successfully” page under dcbrokerage channel api.'
     description: '<b>Domain API - PUT :</b>  /investmentchange/personInvestmentChange/{businessProcessReferenceId}/cancel .'
     parameters:
        -
          name: alightPersonSessionToken
          in: header
          description: 'Session token generated by startSessionForPerson call'
          schema:
            type: string
          required: true
        -
          name: alightRequestHeader
          in: header
          description: 'Request header which contains ''clientId'',''subjectId'' and ''subjectType'''
          schema:
            type: string
          required: true
        -  
          name: businessProcessReferenceId
          in: path
          description: 'businessProcessId for selected plan'
          schema:
            type: string
          required: true   
     
     responses:
       '200':
          description: 'successfully pull the details to review you plan'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    required: 
                      - "statusCode"
                      - "brkgtrxPendingDeletedWidgetResponse"
                    properties: 
                      statusCode: 
                        type: "number"
                        example: "200"
                      brkgtrxPendingDeletedWidgetResponse: 
                        required: 
                          - "transactionHeader"
                          - "introParaTitle"
                          - "progressBar"
                          - "planList"
                          - "isDividentDisabled"
                          - "continueLabel"
                          - "cancelLabel"
                          - "optionDescriptionTitle"
                          - "optionDescription"
                          - "continueBtn"
                          - "cancelBtn"
                          - "options"
                          - "priority"
                          - "header"
                          - "plans"
                                                
                        properties: 
                          transactionHeader: 
                            type: "string"
                          para: 
                            type: "array"
                            items: 
                              type: "object"
                              properties: 
                                para: 
                                  type: "string"
                          progressBar: 
                            type: "string"
                          planName: 
                            type: "string"
                          planId: 
                            type: "string"
                          eventId: 
                            type: "string"
                          submitLabel: 
                            type: "string"
                          cancelLabel: 
                            type: "string"
                          optionDescriptionTitle:
                            type: boolean
                          optionDescription:
                            type: boolean
                          yourLastQtrDvdnKey:
                            type: "string"
                            example: "Your Last Quarter Dividend"
                          continueBtn:
                            type: "string"
                            example: "Your Year-to-Date Dividend"
                          cancelBtn:
                            type: "string"
                            example: "$[500]"
                          options:
                            type: "string"
                            example: "In this table, choose how you want to receive your dividend payout."
                          priority:
                            type: "string"
                            example: "Payout Option"
                          header:
                            type: boolean
                          plans:
                            type: "array"
                            items: 
                              type: "object"
                              properties: 
                                plan: 
                                  type: "string"
                                             
                        type: "object"
       '400':
          description: 'Bad Request'
       '404':
          description: 'Not Found'
       '500':
          description: 'Internal Server Error'          
  '/api/channel/dcbrokeragewidgets/brokerageTransactionReviewWidget/{businessProcessId}':
    get:
     tags:
        - 'Review Your Request'
     summary: 'This request is for getting select  “Review Your Request” with channel api.'
     description: '<b>Domain API - GET :</b>  /investmentchange/{businessProcessId} .'
     parameters:
        -
          name: alightPersonSessionToken
          in: header
          description: 'Session token generated by startSessionForPerson call'
          schema:
            type: string
          required: true
        -
          name: alightRequestHeader
          in: header
          description: 'Request header which contains ''clientId'',''subjectId'' and ''subjectType'''
          schema:
            type: string
          required: true
        -
          name: businessProcessId
          in: path
          description: 'clientId for selection plan'
          schema:
            type: string
          required: true       
     
     responses:
       '200':
          description: 'successfully pull the details to completed plan'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    required: 
                          - "statusCode"
                          - "brkgtrxReviewWidgetResponse"
                    properties: 
                      statusCode: 
                        type: "string"
                      brkgtrxReviewWidgetResponse: 
                        required: 
                          - "transactionHeader"
                          - "introParaTitle"
                          - "introParaDesc"
                          - "optionDescriptionTitle"
                          - "isEligForAnthrDivPln"
                          - "optionDescription"
                          
                        properties: 
                          transactionHeader: 
                            type: "string"
                          introParaTitle: 
                            type: "string"
                          introParaDesc: 
                            type: "boolean"
                          optionDescriptionTitle: 
                            type: "boolean"
                          isEligForAnthrDivPln: 
                            type: "boolean"
                          optionDescription: 
                            type: "boolean"
                        type: "object"
                    type: "object"
       '400':
          description: 'Bad Request'
       '404':
          description: 'Not Found'
       '500':
          description: 'Internal Server Error' 
  '/api/channel/dcbrokeragewidgets/brokerageTransactionReviewWidget/validate':
    post:
     tags:
        - 'Review Your Request'
     summary: 'This request is for getting select  “Review Your Request” with channel api.'
     description: '<b>Domain API - POST :</b>  /investmentchange/personInvestmentChange.'
     parameters:
        -
          name: alightPersonSessionToken
          in: header
          description: 'Session token generated by startSessionForPerson call'
          schema:
            type: string
          required: true
        -
          name: alightRequestHeader
          in: header
          description: 'Request header which contains ''clientId'',''subjectId'' and ''subjectType'''
          schema:
            type: string
          required: true
        -
          name: businessProcessId
          in: path
          description: 'clientId for selection plan'
          schema:
            type: string
          required: true       
        -  
          name: subjectType
          in: path
          description: 'subjectType for selected plan'
          schema:
            type: string
          required: true   
     requestBody:
        required: true
        content:
          application/json:
             schema:
                type: object
                properties:
                  data:
                    required: 
                      - "data"
                    properties: 
                      data: 
                        required: 
                          - "investmentProcessType"
                          - "personInvestmentChanges"
                          - "transferAllocationFundList"
                          - "futureInvestmentElection"
                          - "autoRebalanceElection"
                        properties: 
                          investmentProcessType: 
                            type: "string"
                          personInvestmentChanges: 
                            required: 
                              - "investmentGroupCategoryId"
                              - "isCategoryIdPartOfTransactionGroup"
                            properties: 
                              investmentGroupCategoryId: 
                                type: "string"
                              isCategoryIdPartOfTransactionGroup: 
                                type: boolean
                            type: "object"
                          transferAllocationFundList: 
                            required: 
                              - "fundId"
                              - "fundTransferUseLabel"
                            properties: 
                              fundId: 
                                type: "string"
                              fundTransferUseLabel: 
                                type: boolean
                            type: "object"  
                          futureInvestmentElection: 
                            required: 
                              - "applyFundReallocationToFutureInvestments"
                              - "futureInvestmentFundList"
                            properties: 
                              applyFundReallocationToFutureInvestments: 
                                type: boolean
                              futureInvestmentFundList: 
                                type: "string"
                            type: "object"    
                          autoRebalanceElection: 
                            required: 
                              - "autoRebalanceAction"
                              - "autoRebalanceFrequency"
                            properties: 
                              autoRebalanceAction: 
                                type: boolean
                              autoRebalanceFrequency: 
                                type: "string"
                            type: "object"    
                        type: "object"
     
     responses:
       '200':
          description: 'successfully pull the details to completed plan'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    required: 
                          - "statusCode"
                          - "brkgtrxReviewWidgetResponse"
                    properties: 
                      statusCode: 
                        type: "string"
                      brkgtrxReviewWidgetResponse: 
                        required: 
                          - "transactionHeader"
                          - "introParaTitle"
                          - "introParaDesc"
                          - "optionDescriptionTitle"
                          - "isEligForAnthrDivPln"
                          - "optionDescription"
                          
                        properties: 
                          transactionHeader: 
                            type: "string"
                          introParaTitle: 
                            type: "string"
                          introParaDesc: 
                            type: "boolean"
                          optionDescriptionTitle: 
                            type: "boolean"
                          isEligForAnthrDivPln: 
                            type: "boolean"
                          optionDescription: 
                            type: "boolean"
                        type: "object"
                    type: "object"
       '400':
          description: 'Bad Request'
       '404':
          description: 'Not Found'
       '500':
          description: 'Internal Server Error' 
  '/api/channel/dcbrokeragewidgets/brokerageTransactionCompletedWidget/{businessProcessId}':
    get:
     tags:
        - 'Completed Successfully'
     summary: 'This request is for “Completed Successfully” page under dcbrokerage channel api.'
     description: '<b>Domain API - GET :</b>  /investmentchange/{businessProcessId}.'
     parameters:
        -
          name: alightPersonSessionToken
          in: header
          description: 'Session token generated by startSessionForPerson call'
          schema:
            type: string
          required: true
        -
          name: alightRequestHeader
          in: header
          description: 'Request header which contains ''clientId'',''subjectId'' and ''subjectType'''
          schema:
            type: string
          required: true
          
        -  
          name: businessProcessId
          in: path
          description: 'businessProcessId for selected plan'
          schema:
            type: string
          required: true  
        
     responses:
       '200':
          description: 'successfully pull the cancelled plan details'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    required: 
                          - "statusCode"
                          - "brkgtrxCompletedWidgetResponse"
                    properties: 
                      statusCode: 
                        type: "string"
                      brkgtrxCompletedWidgetResponse: 
                        required: 
                          - "flowNmItem"
                          - "pageTitleItem"
                          - "youHaveCancelledText"
                          - "toStartOverText"
                          - "returnToLink"
                        properties: 
                          flowNmItem: 
                            type: "string"
                          pageTitleItem: 
                            type: "string"
                          youHaveCancelledText: 
                            type: "string"
                          toStartOverText: 
                            type: "string"
                          returnToLink: 
                            type: "string"
                        type: "object"
                    type: "object"
       '400':
          description: 'Bad Request'
       '404':
          description: 'Not Found'
       '500':
          description: 'Internal Server Error'                            
  '/api/channel/dcbrokeragewidgets/brokerageTransactionPendingWidget':
    get:
     tags:
        - 'Cancelled Successfully'
     summary: 'This request is for “Cancelled Successfully” page under dcbrokerage transaction channel api.'
     description: '<b>Domain API - GET :</b>  /investmentchange/personInvestmentChange/{businessProcessReferenceId}/cancel.'
     parameters:
        -
          name: alightPersonSessionToken
          in: header
          description: 'Session token generated by startSessionForPerson call'
          schema:
            type: string
          required: true
        -
          name: alightRequestHeader
          in: header
          description: 'Request header which contains ''clientId'',''subjectId'' and ''subjectType'''
          schema:
            type: string
          required: true
         
     responses:
       '200':
          description: 'successfully pull the error page details'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    required: 
                      - "data"
                    properties: 
                      data: 
                        required: 
                          - "statusCode"
                          - "DcErr030InglForPgResponse"
                        properties: 
                          statusCode: 
                            type: "string"
                          DcErr030InglForPgResponse: 
                            required: 
                              - "pageTitle"
                              - "titleText"
                            properties: 
                              pageTitle: 
                                type: "string"
                              titleText: 
                                type: "string"
                            type: "object"
                        type: "object"
       '400':
          description: 'Bad Request'
       '404':
          description: 'Not Found'
       '500':
          description: 'Internal Server Error'     

  '/api/channel/dcbrokeragewidgets/brokerageTransactionErrorWidget':
    get:
     tags:
        - 'DC Brokerage Error page'
     summary: 'This request is for “Error page” dcbrokerage transaction.'
     parameters:
        -
          name: alightPersonSessionToken
          in: header
          description: 'Session token generated by startSessionForPerson call'
          schema:
            type: string
          required: true
        -
          name: alightRequestHeader
          in: header
          description: 'Request header which contains ''clientId'',''subjectId'' and ''subjectType'''
          schema:
            type: string
          required: true
        -
          name: investmentchange
          in: path
          description: 'investmentchange for selection plan'
          schema:
            type: string
          required: true       
        -  
          name: businessProcessId
          in: path
          description: 'businessProcessId for selected plan'
          schema:
            type: string
          required: true   
     responses:
       '200':
          description: 'successfully pull the error page details'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    required: 
                      - "data"
                    properties: 
                      data: 
                        required: 
                          - "statusCode"
                          - "brkgtrxErrorWidgetResponse"
                        properties: 
                          statusCode: 
                            type: "string"
                          brkgtrxErrorWidgetResponse: 
                            required: 
                              - "pageTitle"
                              - "titleText"
                            properties: 
                              pageTitle: 
                                type: "string"
                              titleText: 
                                type: "string"
                            type: "object"
                        type: "object"
       '400':
          description: 'Bad Request'
       '404':
          description: 'Not Found'
       '500':
          description: 'Internal Server Error'