openapi: 3.0.1
info:
  title: World Options WebServices
  description:  World Options WebServices are Rest based service with JSON request and response to integrate fetures of World Options in third party applications.
  version: "1.0"
servers:
  - url: 'http://wo.developmentoverview.com/WebApi_Akash/api'
paths:
  /Tracking/GetTrackingDetails:
    post:
      description: WO Tracking & POD Web service provides tracking and current status for shipment based on input tracking number.
      requestBody:
        description: |
          # REQUEST DETAILS
          Tracking & POD request consist of following elements:
            1. Authentication Details
            2. Shipment Details
          ------------------------------------
          **Authentication Details**
          | Element Name | Description | Is Required | Data Type | Length |
          | ------- | -------- | ------ | ---- | ----- |
          | Key | Customer Login Id | YES | string | 100 |
          | Password | Customer Password | YES | string | 100 |
          | MeterNumber | Reference Number | YES | string | 100 |
          | PluginCode | Only used in case of request from plugin else can be left blank. | NO | string | 100 |
          ---------------------------------------------------------------
          **Shipment Details**
          | Element Name | Description | Is Required | Data Type | Length |
          | ------- | -------- | ------ | ---- | ----- |
          | TrackingNumber | Tracking no to be tracked and proof of delivery | YES | string | 100 |
        content:
          application/json:
            schema:
              type: object
              properties:
                TrackingNumber:
                  type: string
                AuthenticationDetail:
                  type: object
                  properties:
                    MeterNumber:
                      type: string
                    Key:
                      type: string
                    Password:
                      type: string
            examples:
              '0':
                value: |-
                  {
                      "AuthenticationDetail": {
                          "Key": "stewarttest",
                          "MeterNumber": "99bb37c1c73441b9b4a59012460cf52a",
                          "Password": "butlertest"
                      },
                      "TrackingNumber": "516767111"
                  }
      responses:
        '200':
          description: |
            # RESONSE DETAILS
            ----------------------------
            **Shipment Details**
            | Element Name | Description | Data Type  |
            | ------- | -------- | ------ | 
            | NotificationType | Status of shipment tracking i.e. Success, Failed, Warning | String |
            | Message | Message displaying shipment tracking status | String | 
            | TrackingNumber | Master tracking number to be tracked | String | 
            | POD Image Type | Informative Field – Shows Image type of POD which needs to be converted into respective file format. For instance    gif, pdf, jpg | String | 
            | TrackingStatus | Object containing complete information of tracking & POD | Object | 
            | TrackingStatus -> ActivityDetail | List of shipment tracking states at various instances from collection to delivery  |  List
            | TrackingStatus->Carrier | Name of carrier of shipment | String | 
            | TrackingStatus-> DeliveredTo | Contact name of person to whom shipment is delivered | String | 
            | TrackingStatus-> DeliveredDate | Delivery date of shipment | DateTime | 
            | TrackingStatus-> Destination | Shipment destination | String | 
            | TrackingStatus-> Image | Label Image in byte array form which needs to be converted into respective file format | byte[] | 
            | TrackingStatus-> ImageLength | Length of Image  | Int | 
            | TrackingStatus-> ImageType | Informative Field – Shows Image type of POD which needs to be converted into respective file format. For instance gif, pdf, jpg | String | 
            | TrackingStatus-> Reference | Shipper reference | String | 
            | TrackingStatus-> ServiceType | Service type for shipment | String | 
            | TrackingStatus-> ShipDate | Date of shipment | DateTime | 
            | TrackingStatus-> SignedBy | Name of person signed on delivery | String | 
            | TrackingStatus-> Status | Shipment status | String | 
            | TrackingStatus-> Weight | Weight of shipment parcel | Decimal | 
            | TrackingStatus-> WtUnit | Weight unit of shipment parcel - WeightUnits | Enum | 
          content:
            application/json; charset=utf-8:
              examples: {}
              
  /Void/VoidShipment:
    post:
      description: WO Void Shipment Web service is used to void shipment based on input tracking number.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                TrackingNumber:
                  type: string
                AuthenticationDetail:
                  type: object
                  properties:
                    MeterNumber:
                      type: string
                    Key:
                      type: string
                    Password:
                      type: string
            examples:
              '0':
                value: |-
                  {
                      "AuthenticationDetail": {
                          "Key": "stewarttest",
                          "MeterNumber": "99bb37c1c73441b9b4a59012460cf52a",
                          "Password": "butlertest"
                      },
                      "TrackingNumber": "1Z290V556897426984"
                  }
        description: |
          # REQUEST DETAILS
          Void Shipment request consist of following elements:
          1. Authentication Details
          2. Shipment Details
          -------------------------------
          **Authentication Details**
          | Element Name | Description | Is Required | Data Type | Length |
          | ------- | -------- | ------ | ---- | ----- |
          | Key | Customer Login Id | YES | string | 100 |
          | Password | Customer Password | YES | string | 100 |
          | MeterNumber | Reference Number | YES | string | 100 |
          | PluginCode | Only used in case of request from plugin else can be left blank. | NO | string | 100 |
          ---------------------------------------------------------------
          **Shipment Details**
          | Element Name | Description | Is Required | Data Type | Length |
          | ------- | -------- | ------ | ---- | ----- |
          | TrackingNumber | Tracking no to be voided | YES | string | 100 |
      responses:
        '200':
          description: |
            # RESONSE DETAILS
            ----------------------------
            **Shipment Details**
            | Element Name | Description | Data Type  |
            | ------- | -------- | ------ | 
            | NotificationType | Status of void shipment i.e. Success or Failed | String | 
            | Message | Message displaying void shipment | String | 
          content:
            application/json; charset=utf-8:
              examples: {}
              
  /Rate/GetAvailableRates:
    post:
      description: |
            Through 'WO Rate Web service', rates for many or single carrier services can be obtained based on input parameters such as dimensions, sender and receiver details, etc.
            
            # Table 1.1 - Service Name List
             ----------------------------
             | Sr. No. | Service Name |
             | ------- | -------- |
             | 1. | DHL |
             | 2. | FEDEX |
             | 3. | UPS |
             | 4. | TNT |
             | 5. | YODEL |
             | 6. | DHLPARCEL |
             | 7. | DXExpress |
             
             # Table 1.2 – Service Type List
             ----------------------------
             **DHL Service Type List**
             | Sr. No. | Service Name |
             | ------- | -------- |
             | 1. | DHL_Worldwide_Express |
             | 2. | DHL_ECONOMY_SELECT |
             | 3. | DHL_DOMESTIC_EXPRESS |
             | 4. | DHL_WORLDWIDE_EXPRESS_900 |
             | 5. | DHL_WORLDWIDE_EXPRESS_1200 |
             | 6. | DHL_DOMESTIC_EXPRESS_900 |
             | 7. | DHL_ DOMESTIC_EXPRESS _1200 |
             

             **UPS Service Type List**
             | Sr. No.  | Service Type Name |
             |----------|------------------|
             | 1.    | UPS_Express |
             | 2.   | UPS_Standard |
             | 3.    | UPS_Express_Plus |
             | 4.    | UPS_Expedited |
             | 5.    | UPS_Express_Saver |
             | 6.    | UPS_Standard_Multiple |
              
             **YODEL Service Type List**
             | Sr. No.  | Service Type Name |
             |----------|------------------|
             | 1.    | YODEL_EXPRESS_24 |
             | 2.   | YODEL_EXPRESS_48 |
             | 3.    | YODEL_EXPRESS_NI |
             | 4.    | YODEL_PRIORITY_1000  |
             | 5.   | YODEL_PRIORITY_1200 |
             | 6.    | YODEL_SATURDAY_1000 |
             | 7.    | YODEL_SATURDAY |
             | 8.   | YODEL_EXPRESS_ISLE |
             | 9.    | YODEL_HOME_24 |
             | 10.  | YODEL_HOME_NI |
             | 11.  | YODEL_HOME_24BT |
             | 12.  | YODEL_HOME_48 |
             | 13.  | YODEL_HOME_72 |
             | 14.  | YODEL_HOME_72_NI |
             | 15.  | YODEL_HOME_SATURDAY |
             | 16.  | YODEL_HOME_EXPRESS_ISLE |
             
             
             **Fedex Service Type List**
             | Sr. No. | Service Name |
             | ------- | -------------|
             | 1. | Fedex_International_First |
             | 2. | Fedex_International_Priority |
             | 3. | Fedex_International_Priority_Freight |
             
             **DHL Parcel Service Type List**
             | Sr. No.  | Service Type Name | 
             |----------|-------------------|
             | 1.    | UKMail_Express_UK_AM |
             | 2.   | UKMail_Express_UK_1030AM |
             | 3.    | UKMail_Express_UK_1030AM |
             | 4.    | UKMail_Express_UK_Saturday |
             | 5.   | UKMail_Express_UK_Saturday_1030AM |
             | 6.    | UKMail_Express_UK_Saturday_0900AM |
             | 7.    | UKMail_Express_UK_Bagit |
             | 8.    | UKMail_Express_UK_AM_Bagit |
             | 9.    | UKMail_Express_UK_1030AM_Bagit |
             | 10.  | UKMail_Express_UK_0900AM_Bagit |
             | 11.  | UKMail_Express_UK_Saturday_Bagit |
             | 12.  | UKMail_European_Road |
             
             **DXExpress Service Type List**
             | Sr. No.  | Service Type Name | 
             |----------|-------------------|
             | 1.    | DXExpress_B2C_Next_Day_Business | 
             | 2.   | DXExpress_B2C_Next_Day_Business_Pre_12_PM | 
             | 3.    | DXExpress_B2C_Saturday_Delivery | 
             | 4.    | DXExpress_B2C_Saturday_Pre_12 | 
             | 5.   | DXExpress_B2B_Next_Day_Home_Signature | 
             | 6.    | DXExpress_B2B_Next_Day_Home_Signature_Pre_1PM | 
             | 7.    | DXExpress_B2B_Saturday_Delivery_Signature | 
             | 8.   | DXExpress_B2B_Next_Day_Home_No_Signature | 
             | 9.    | DXExpress_B2B_Saturday_Delivery_Home_No_Signature | 
                  
             # Table 1.3 – Package Type List
             -------------------------------
             **DHL Package Type List**
             | Sr. No.  | Package Type Name
             |----------|-------------------|
             | 1.    | DHL_Document | 
             | 2.    | DHL_NonDocument | 
              
             **FEDEX Package Type List**
             | Sr. No.  | Package Type Name | 
             |----------|-------------------|
             | 1.    | Fedex_Box | 
             | 2.    | Fedex_Envelope | 
             | 3.    | Fedex_Pak | 
             | 4.    | Fedex_Your_Packaging | 
              
             **UPS Package Type List**
             | Sr. No.  | Package Type Name |
             |----------|-------------------|
             | 1.    | UPS_My_Packaging | 
             | 2.    | UPS_Envelope | 
              
             **YODEL Package Type List**
             | Sr. No.  | Package Type Name | 
             |----------|-------------------|
             | 1.    | YODEL_NonDocument | 
              
             **DHL Parcel Package Type List**
             | Sr. No. | Package Type Name | 
             |----------|-------------------|
             | 1.    | UKMAIL_NonDocument | 
             
             **DXExpress Package Type List**
             | Sr. No.  | Package Type Name | 
             |----------|-------------------|
             | 1.    | DXExpress_Parcel | 
             
             **ALL Package Type List**
             | Sr. No.  | Package Type Name | 
             |----------|-------------------|
             | 1.    | Any_Document |
             | 2.    | Any_NonDocument |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                SenderDetails:
                  type: object
                  properties:
                    CollectionCity:
                      type: string
                    CollectionCountryState:
                      type: string
                    CollectionPostCode:
                      type: string
                    CollectionCountryCode:
                      type: string
                RecipientDetails:
                  type: object
                  properties:
                    IsResidential:
                      type: boolean
                    DeliveryState: 
                      type: string
                    DeliveryCity:
                      type: string
                    DeliveryPostCode:
                      type: string
                    DeliveryCountryCode:
                      type: string
                ShippingDetails:
                  type: object
                  properties:
                    ServiceTypeName:
                      type: string
                    ShipmentType:
                      type: string
                    ServiceName:
                      type: string
                    PackageType:
                      type: string
                    PackageDetails:
                      type: array
                      items:
                        type: object
                        properties:
                          ItemNumber:
                            type: integer
                          Length:
                            type: number
                          Height:
                            type: number
                          Breadth:
                            type: number
                          Weight:
                            type: number
                          CustomValue:
                            type: number
                AuthenticationDetail:
                  type: object
                  properties:
                    MeterNumber:
                      type: string
                    Key:
                      type: string
                    Password:
                      type: string
            examples:
              '0':
                value: "{\r\n            \"AuthenticationDetail\": {\r\n               \"Key\": \"stewarttest\",\r\n               \"MeterNumber\": \"99bb37c1c73441b9b4a59012460cf52a\",\r\n               \"Password\": \"butlertest\"\r\n            },\r\n            \"RecipientDetails\": {\r\n               \"DeliveryCity\": \"Borehamwood\",\r\n               \"DeliveryCountryCode\": \"GB\",\r\n               \"DeliveryPostCode\": \"WD64AZ\",\r\n               \"DeliveryState\": null,\r\n               \"IsResidential\": \"false\"\r\n            },\r\n            \"SenderDetails\": {\r\n               \"CollectionCity\": \"Watford\",\r\n               \"CollectionCountryCode\": \"GB\",\r\n               \"CollectionCountryState\": null,\r\n               \"CollectionPostCode\": \"WD25 8EZ\"\r\n            },\r\n            \"ShippingDetails\": {\r\n               \"PackageDetails\":  [\r\n                     {\r\n                        \"Breadth\": \"1\",\r\n                        \"CustomValue\": \"10\",\r\n                        \"Height\": \"1\",\r\n                        \"ItemNumber\": \"1\",\r\n                        \"Length\": \"1\",\r\n                        \"Weight\": \"0.13\"\r\n                     },\r\n                     {\r\n                        \"Breadth\": \"1\",\r\n                        \"CustomValue\": \"55\",\r\n                        \"Height\": \"1\",\r\n                        \"ItemNumber\": \"2\",\r\n                        \"Length\": \"1\",\r\n                        \"Weight\": \"0.001\"\r\n                     }\r\n                  ],\r\n               \"PackageType\": \"Any_NonDocument\",\r\n               \"ServiceName\": \"ALL\",\r\n               \"ServiceTypeName\": \"ALL\",\r\n               \"ShipmentType\": \"Domestic\"\r\n            }\r\n}"
        description: |
          # REQUEST DETAILS
          Rate request consist of following elements:
          1. AuthenticationDetail
          2. SenderDetails
          3. RecipientDetails
          4. ShipmentDetails
          -----------------------------------------------------------------------
          **Authentication Details**
          | Element Name | Description | Is Required | Data Type | Length |
          | ------- | -------- | ------ | ---- | ----- |
          | Key | Customer Login Id | YES | string | 100 |
          | Password | Customer Password | YES | string | 100 |
          | MeterNumber | Reference Number | YES | string | 100 |
          | PluginCode | Only used in case of request from plugin else can be left blank. | NO | string | 100 |
          
          ---------------------------------------------------------------
          **Sender Details**
          | Element Name | Description | Is Required | Data Type | Length |
          | ------- | -------- | ------ | ---- | ----- |
          | CollectionCity | Sender City Name (Valid chars a-z OR A-Z OR 0-9) | YES | string | 100 |
          | CollectionPostCode | City Post Code (Valid chars a-z OR A-Z OR 0-9) | YES | string | 100 |
          | CollectionCountryCode | Two letter ISO Country code of sender | YES | string | 100 |
          
           ---------------------------------------------------------------
          **Recipient  Details**
          | Element Name | Description | Is Required | Data Type | Length |
          | ------- | -------- | ------ | ---- | ----- |
          | DeliveryCountryCode | Two letter ISO Country code of recipient | YES | string | 100 |
          | DeliveryState | State code for recipient state | YES | string | 100 |
          | DeliveryCity | Recipient City Name (Valid chars a-z OR A-Z OR 0-9) | YES | string | 100 |
          | DeliveryPostCode | City Post Code (Valid chars a-z OR A-Z OR 0-9) | YES | string | 100 |
          | IsResidential | Is Recipient address residential? | NO | Boolean | 100 |
          
          ---------------------------------------------------------------
          **Shipping  Details**
          | Element Name | Description | Is Required | Data Type | Length |
          | ------- | -------- | ------ | ---- | ----- |
          | ShipmentType | Type of shipment – ShipmentMode. Type of shipment can be Export, Import or Domestic. | YES | Enum |  |
          | ServiceName | Service Company Type code – wsServiceCompanyTypes. Specify ALL if quote for all carrier services is needed. (Refer Table 1.1 for service company list) | NO |   Enum |  |
          | ServiceTypeName | Service type code corresponding to the service type – wsServiceTypes. Specify ALL if service name selected is   ALL. (Refer Table 1.2 for service type list) | NO | Enum |  |
          | PackageType | Package type code corresponding to the service type code – wsRatePackageTypes. Package type should be specific to   carrier if we selected a particular service name or it can be Any_Document or Any_NonDocument if service name selected is ALL. (Refer Table 1.3 for package type list) |   Yes | Enum |  |
          | PackageDetails | Details of the package – wsShippingDetail.PackageDetail  | Yes(if Non Document) | Struct |  |
          | PackageDetails -> ItemNumber | Sr. No of package in a collection  | Yes | Int |  |
          | PackageDetails -> Weight | Weight of package (Valid char’s 0-9.) | Yes | Decimal |  |
          | PackageDetails -> Length | Length of package (Valid char’s 0-9.) | Yes | Decimal |  |
          | PackageDetails -> Breadth | Breadth of package (Valid char’s 0-9.) | Yes | Decimal |  |
          | PackageDetails -> Height | Height of package (Valid char’s 0-9.) | Yes | Decimal |  |
          | PackageDetails -> CustomValue | Custom value (Valid char’s 0-9.) | Yes (If Non-European shipments) | Decimal |  |
      responses:
        '200':
          description: |
            # RESONSE DETAILS
            ----------------------------
            **Shipment Details**
            | Element Name | Description | Data Type  |
            | ------- | -------- | ------ | 
            | NotificationType | Status of shipment tracking i.e. Success, Failed, Warning | String | 
            | Message | Message displaying shipment tracking status | String | 
            | wsAvailableServicesAndRates | This will contain service information and rate details | Container | 
            | wsAvailableServicesAndRates -> wsServiceCode | Code of the carrier service. | String | 
            | wsAvailableServicesAndRates -> wsServiceTypeCode | Service type code corresponding to the carrier service code (wsServiceCode). |     String | 
            | wsAvailableServicesAndRates -> wsServiceTypeName | Service type name corresponding to the carrier service type code     (wsServiceTypeCode). | String | 
            | wsAvailableServicesAndRates -> wsPackageTypeCode | Package type code corresponding to the carrier service code. (wsServiceCode).    | String | 
            | wsAvailableServicesAndRates -> wsPickupDateTime | Pickup Date Time for the carrier. Pick up Date Time will be returned only, if     either of Collection and Delivery post codes or Collection and Delivery city is provided.| DateTime | 
            | wsAvailableServicesAndRates -> wsDeliveryDateTime | Delivery Date Time for the carrier. Delivery Date Time will be returned only,     if either of Collection and Delivery post codes or Collection and Delivery city is provided. | DateTime | 
            | wsAvailableServicesAndRates -> wsQuoteDetails | This will contain rate details. | Container | 
            | wsAvailableServicesAndRates -> wsQuoteDetails-> BaseCharge | Base Charge | Decimal |
            | wsAvailableServicesAndRates -> wsQuoteDetails-> FuelSurcharge | FuelSurcharge | Decimal | 
            | wsAvailableServicesAndRates -> wsQuoteDetails-> ExtAreaSurcharge | Extended Area Surcharge | Decimal | 
            | wsAvailableServicesAndRates -> wsQuoteDetails-> ExtAreaFuelSurcharge | Extended Area Fuel Surcharge | Decimal | 
            | wsAvailableServicesAndRates -> wsQuoteDetails-> ResidentialCharge | Residential Charge | Decimal | 
            | wsAvailableServicesAndRates -> wsQuoteDetails-> ResidentialFuelSurcharge | Residential Fuel Surcharge | Decimal | 
            | wsAvailableServicesAndRates -> wsQuoteDetails-> AdditionalHandlingCharge | AdditionalHandling Charge | Decimal | 
            | wsAvailableServicesAndRates -> wsQuoteDetails-> AdministrationCharge | Administration Charge | Decimal | 
            | wsAvailableServicesAndRates -> wsQuoteDetails-> LargePackageSurcharge | Large Package Surcharge | Decimal | 
            | wsAvailableServicesAndRates -> wsQuoteDetails-> LargePackageFuelSurcharge | Large Package Fuel Surcharge | Decimal | 
            | wsAvailableServicesAndRates -> wsQuoteDetails-> OvermaxSizeSurcharge | Over-max Size Surcharge | Decimal | 
            | wsAvailableServicesAndRates -> wsQuoteDetails-> OvermaxWeightSurcharge | Over-max Weight Surcharge | Decimal | 
            | wsAvailableServicesAndRates -> wsQuoteDetails-> VATCharge | VAT Charge | Decimal | 
            | wsAvailableServicesAndRates -> wsQuoteDetails-> InsuredCharge | Enhanced Cover Charge | Decimal | 
            | wsAvailableServicesAndRates -> wsQuoteDetails-> TotalNetCharge | Total Net Charge | Decimal | 
            
  /ShipmentBooking/DoShipment:
    post:
      description:  | 
          Through 'WO Shipment Web service' shipments can be done based on input parameters.
          # Table 1.1 - Service Name List
             ----------------------------
             | Sr. No. | Service Name |
             | ------- | -------- |
             | 1. | DHL |
             | 2. | FEDEX |
             | 3. | UPS |
             | 4. | TNT |
             | 5. | YODEL |
             | 6. | DHLPARCEL |
             | 7. | DXExpress |
             
             # Table 1.2 – Service Type List
             ----------------------------
             **DHL Service Type List**
             | Sr. No. | Service Name |
             | ------- | -------- |
             | 1. | DHL_Worldwide_Express |
             | 2. | DHL_ECONOMY_SELECT |
             | 3. | DHL_DOMESTIC_EXPRESS |
             | 4. | DHL_WORLDWIDE_EXPRESS_900 |
             | 5. | DHL_WORLDWIDE_EXPRESS_1200 |
             | 6. | DHL_DOMESTIC_EXPRESS_900 |
             | 7. | DHL_ DOMESTIC_EXPRESS _1200 |
             

             **UPS Service Type List**
             | Sr. No.  | Service Type Name |
             |----------|------------------|
             | 1.    | UPS_Express |
             | 2.   | UPS_Standard |
             | 3.    | UPS_Express_Plus |
             | 4.    | UPS_Expedited |
             | 5.    | UPS_Express_Saver |
             | 6.    | UPS_Standard_Multiple |
              
             **YODEL Service Type List**
             | Sr. No.  | Service Type Name |
             |----------|------------------|
             | 1.    | YODEL_EXPRESS_24 |
             | 2.   | YODEL_EXPRESS_48 |
             | 3.    | YODEL_EXPRESS_NI |
             | 4.    | YODEL_PRIORITY_1000  |
             | 5.   | YODEL_PRIORITY_1200 |
             | 6.    | YODEL_SATURDAY_1000 |
             | 7.    | YODEL_SATURDAY |
             | 8.   | YODEL_EXPRESS_ISLE |
             | 9.    | YODEL_HOME_24 |
             | 10.  | YODEL_HOME_NI |
             | 11.  | YODEL_HOME_24BT |
             | 12.  | YODEL_HOME_48 |
             | 13.  | YODEL_HOME_72 |
             | 14.  | YODEL_HOME_72_NI |
             | 15.  | YODEL_HOME_SATURDAY |
             | 16.  | YODEL_HOME_EXPRESS_ISLE |
             
             
             **Fedex Service Type List**
             | Sr. No. | Service Name |
             | ------- | -------------|
             | 1. | Fedex_International_First |
             | 2. | Fedex_International_Priority |
             | 3. | Fedex_International_Priority_Freight |
             
             **DHL Parcel Service Type List**
             | Sr. No.  | Service Type Name | 
             |----------|-------------------|
             | 1.    | UKMail_Express_UK_AM |
             | 2.   | UKMail_Express_UK_1030AM |
             | 3.    | UKMail_Express_UK_1030AM |
             | 4.    | UKMail_Express_UK_Saturday |
             | 5.   | UKMail_Express_UK_Saturday_1030AM |
             | 6.    | UKMail_Express_UK_Saturday_0900AM |
             | 7.    | UKMail_Express_UK_Bagit |
             | 8.    | UKMail_Express_UK_AM_Bagit |
             | 9.    | UKMail_Express_UK_1030AM_Bagit |
             | 10.  | UKMail_Express_UK_0900AM_Bagit |
             | 11.  | UKMail_Express_UK_Saturday_Bagit |
             | 12.  | UKMail_European_Road |
             
             **DXExpress Service Type List**
             | Sr. No.  | Service Type Name | 
             |----------|-------------------|
             | 1.    | DXExpress_B2C_Next_Day_Business | 
             | 2.   | DXExpress_B2C_Next_Day_Business_Pre_12_PM | 
             | 3.    | DXExpress_B2C_Saturday_Delivery | 
             | 4.    | DXExpress_B2C_Saturday_Pre_12 | 
             | 5.   | DXExpress_B2B_Next_Day_Home_Signature | 
             | 6.    | DXExpress_B2B_Next_Day_Home_Signature_Pre_1PM | 
             | 7.    | DXExpress_B2B_Saturday_Delivery_Signature | 
             | 8.   | DXExpress_B2B_Next_Day_Home_No_Signature | 
             | 9.    | DXExpress_B2B_Saturday_Delivery_Home_No_Signature | 
                  
             # Table 1.3 – Package Type List
             -------------------------------
             **DHL Package Type List**
             | Sr. No.  | Package Type Name
             |----------|-------------------|
             | 1.    | DHL_Document | 
             | 2.    | DHL_NonDocument | 
              
             **FEDEX Package Type List**
             | Sr. No.  | Package Type Name | 
             |----------|-------------------|
             | 1.    | Fedex_Box | 
             | 2.    | Fedex_Envelope | 
             | 3.    | Fedex_Pak | 
             | 4.    | Fedex_Your_Packaging | 
              
             **UPS Package Type List**
             | Sr. No.  | Package Type Name |
             |----------|-------------------|
             | 1.    | UPS_My_Packaging | 
             | 2.    | UPS_Envelope | 
              
             **YODEL Package Type List**
             | Sr. No.  | Package Type Name | 
             |----------|-------------------|
             | 1.    | YODEL_NonDocument | 
              
             **DHL Parcel Package Type List**
             | Sr. No. | Package Type Name | 
             |----------|-------------------|
             | 1.    | UKMAIL_NonDocument | 
             
             **DXExpress Package Type List**
             | Sr. No.  | Package Type Name | 
             |----------|-------------------|
             | 1.    | DXExpress_Parcel | 
             
             **ALL Package Type List**
             | Sr. No.  | Package Type Name | 
             |----------|-------------------|
             | 1.    | Any_Document |
             | 2.    | Any_NonDocument | 
             
             # Table 1.4 – Collection Options List
             -------------------------------------
             | Sr. No.  | Collection Option Name|
             | ----------|-----------------------|
             | 1.    | I_Need_To_Book_A_Collection |
             | 2.    | I_Already_Have_Collection_Scheduled |
             | 3.    | I_Have_Daily_Collection |
             | 4.    | I_Am_Going_To_Drop_Off_My_Packages |
             | 5.    | I_Need_To_Book_A_Collection_For_Next_Day |
             
             # Table 1.6 – Duties Payor Types List
             ----------------------------------------
             | Sr. No.  | Duties Payor Type Name |
             | ----------|-----------------------|
             | 1.    | Duties_To_Be_Paid_By_Receiver |
             | 2.    | Duties_To_Be_Paid_By_Sender |
             | 3.    | Duties_To_Be_Paid_By_Third_Party |
             
             # Table 1.7 – Transportation Payor Types List
             --------------------------------------------------
             | Sr. No.  | Transportation Payor Type  Name |
             | ----------|---------------------------------|
             | 1.    | Bill_To_Receiver |
             | 2.    | Bill_To_Sender |
             | 3.    | Bill_To_3rdParty |
      requestBody:
        description: |
            # REQUEST DETAILS
              Shipment request consist of following elements:
              1. Authentication Details
              2. Sender Details
              3. Recipient Details  
              4. Shipping Details
              5. Additional Shipping Details
              6. Billing Details
            -----------------------------------------------------------------------
            **Authentication Details**
            | Element Name | Description | Is Required | Data Type | Length |
            | ------- | -------- | ------ | ---- | ----- |
            | Key | Customer Login Id | YES | string | 100 |
            | Password | Customer Password | YES | string | 100 |
            | MeterNumber | Reference Number | YES | string | 100 |
            | PluginCode | Only used in case of request from plugin else can be left blank. | NO | string | 100 |
            
            ---------------------------------------------------------------
            **Sender Details**
            | Element Name | Description | Is Required | Data Type | Length |
            | ------- | -------- | ------ | ---- | ----- |
            | Company | Name of Company | YES | string | 100|
            | Name | Contact Name | YES | string | 100 |
            | Address1 | Address1 | YES | string | 100 |
            | Address2 | Address2 | No | string | 100|
            | Address3 | Address3 | No | string | 100 |
            | City | Sender City Name (Valid chars a-z OR A-Z OR 0-9) | YES | string | 100 |
            | PostalCode | City Post Code (Valid chars a-z OR A-Z OR0-9) | YES | string | 100|
            | PhoneDialCode | Area Dial Code (Valid chars 0-9) | No (Yes for TNT & DHL) | string | 100 |
            | Phone | Phone Number (Valid chars 0-9) | YES | string | 100 |
            | Email | Valid Email Address | YES | string | 100|
            
            
             ---------------------------------------------------------------
            **Recipient Details**
            | Element Name | Description | Is Required | Data Type | Length |
            | ------- | -------- | ------ | ---- | ----- |
            | Company | Name of Company | YES | string | 100|
            | Name | Contact Name | YES | string | 100 |
            | Address1 | Address1 | YES | string | 100 |
            | Address2 | Address2 | No | string | 100|
            | Address3 | Address3 | No | string | 100 |
            | Country_Code | Two letter ISO Country code for recipient | YES | string | 4 |
            | State_Code | State code for recipient state | No (Yes  if country  have states) | string | 5|
            | City | Sender City Name (Valid chars a-z OR A-Z OR 0-9) | YES | string | 100 |
            | PostalCode | City Post Code (Valid chars a-z OR A-Z OR 0-9) | YES | string | 100|
            | PhoneDialCode | Area Dial Code (Valid chars 0-9) | No (Yes for TNT & DHL) | string | 100 |
            | Phone | Phone Number (Valid chars 0-9) | YES | string | 100 |
            | Email | Valid Email Address | YES | string | 100|
            | Fax | Fax Number (Valid chars 0-9) | No | string | 100|
            | Residential | Is Collection address residential | No | Boolean | |
            
            ---------------------------------------------------------------
            **Shipping  Details**
            | Element Name | Description | Is Required | Data Type | Length |
            | ------- | -------- | ------ | ---- | ----- |
            | ServiceType | Name of Service Company Type – wsServiceCompanyTypes (Refer Table 1.1 for service company list) | YES | Enum |  |
            | ServiceTypeCode | Service type code corresponding to the service type – wsServiceTypes (Refer Table 1.2 for service type list)  | YES | Enum |  |
            | PackageTypeCode | Package type code corresponding to the service type code – wsPackageTypes (Refer Table 1.3 for package type list)  | YES | Enum |  |
            | isPOD | For carrier YODEL only. Mention IsPOD or IsNonPOD for B2C YODEL service type.  | No | Boolean |  |
            | Description | Description for shipment  | Yes | Yes | 100 |
            | Currency | Currency Type  | No | Enum | 100 |
            | PackageDetail | Details of the package(wsShippingDetail.PackageDetail) | Yes (if Non Document) | Struct |
            | PackageDetail -> ItemNumber | Sr. No of package in a collection | Yes | Int |  |
            | PackageDetail -> Weight | Weight of package (Valid char’s 0-9.) | Yes | Decimal |  |
            | PackageDetails -> Length | Length of package (Valid char’s 0-9.) | Yes | Decimal |  |
            | PackageDetails -> Breadth | Breadth of package (Valid char’s 0-9.) | Yes | Decimal |  |
            | PackageDetails -> Height | Height of package (Valid char’s 0-9.) | Yes | Decimal |  |
            | PackageDetails -> CustomValue | Custom value (Valid char’s 0-9.) | Yes (If Non-European shipments) | Decimal |  |
            | Insurance | Enhanced Value for shipment (Valid chars 0-9) | No | String | 100 |
            | SenderVatNo | VAT No of Sender | No | String | 100 |
            | CustomerReference | Customer Reference no. | No | String | 100 |
            
            
             ---------------------------------------------------------------
            **Additional Shipment Details**
            | Element Name | Description | Is Required | Data Type | Length |
            | ------- | -------- | ------ | ---- | ----- |
            | CommercialInvoiceType | CommercialInvoiceType  Type of commercial invoice – Commercial Invoice | YES | Enum | |
            | ReceiverTaxId | Service type code corresponding to the service type – wsServiceTypes | No | string | 100 |
            | TotalCalculatedValue |Total value calculated | YES | Decimal |  |
            | TotalCustomValue | Total custom value calculated | Yes | Decimal | |
            | TradeTerm | Term of Trade | No | string | 100 |
            | GoodsDetail | Detail of Goods | Yes (If European Shipments) | Enum |  |
            | GoodsDetail -> Description | Description for Goods | Yes | string | 5|
            | GoodsDetail -> HTSNumber | Commodity Code for goods (Value should be between 1-9999) | No | string | 4 |
            | GoodsDetail -> ItemNumber | Item number for goods. | No | string | 4 |
            | GoodsDetail -> Wt | Weight of the Goods (Valid char’s 0-9) | yes | string | 4 |
            | GoodsDetail -> Quantity | Quantity of Goods (Valid chars 0-9) | yes | string | 4 |
            | GoodsDetail -> UnitPrice | Unit Price of Goods (Valid char’s 0-9) | yes | string | 4 |
            | GoodsDetail -> ExportReason | Reason for Export - ReasonForExportTypes | yes | Enum |  |
            
            
             # Note -
            ----------------------------
             Additional shipment details shouldn’t be filled for European destination or envelope package type.
            
            **Billing Details**
            | Element Name | Description | Is Required | Data Type | Length |
            | ------- | -------- | ------ | ---- | ----- |
            | TransportationPayor | Transportation charges to be billed to – TransportationPayorTypes(Refer Table 1.7) | YES | Enum | |
            | TransportationAccNumber | Account No of receiver if transportation charges are billed to receiver (Valid chars a-z OR A-Z OR 0-9) | Yes (If Billed to receiver) | string | 10 |
            | DutiesPayor |Duties/Taxes/Fees to be paid by - DutiesPayorTypes(Refer Table 1.6) | YES | Enum |  |
            | DutiesAccNumber | Account No of receiver if duties/taxes are paid by receiver (Valid chars a-z OR A-Z OR 0-9) | No | string |10 |
            | CollectionOptions | Options for collection of shipment – CollectionOptionTypes | Yes | Enum |  |
            | ReadyDate | Ready date of collection of shipment. Format should be dd/MM/YYYY | Yes (If I need to book collection) | String |  10|
            | ReadyTime | Ready time of collection of shipment (Should be less than collection area’s collection cutoff time and close time) | Yes (If I need to book collection) | string | 5|
            | CloseTime | Close time of collection of shipment (Should be less than collection area’s collection cutoff time ) | Yes (If I need to book collection) | string | 5 |
            | PickUpLocation | Type of location of pick up – PickUpLocationTypes | Yes (If I need to book collection) | Enum | |
            | LocationDescription | Description of pickup location | Yes (If I need to book collection) | string | 100 |
            | PersonalMessage | Personal message to be associated with shipment | No | string | 100 |
            | RecipientShipmentNotification | Is recipient to be notified when item is ready to be collected and dispatch | No | Boolean |  |
            | RecipientDeliveryNotification | Is recipient to be notified for POD details of the delivery | No | Boolean |  |
            | RecipientExceptionNotification | Is recipient to be notified for any form of delay, service change | No | Boolean |  |
            | RecipientEmailAddress | Valid Email address of the recipient | No | String | 100 |
            | OtherShipmentNotification | Any other to be notified when item is ready to be collected and dispatch | No | Boolean |  |
            | OtherDeliveryNotification | Any other to be notified for POD details of the delivery| No | Boolean |  |
            | OtherExceptionNotification | Any other to be notified for any form of delay, service change | No | Boolean |  |
            | OtherEmailAddress | Valid Email address of any other to be notified except recipient | No | string | 100 |
        content:
          application/json:
            schema:
              type: object
              properties:
                BillingDetail:
                  type: object
                  properties:
                    RecipientExceptionNotification:
                      type: string
                    RecipientDeliveryNotification:
                      type: string
                    TransportationPayor:
                      type: string
                    DutiesAccNumber: 
                      type: string
                    DutiesPayor:
                      type: string
                    OtherShipmentNotification:
                      type: string
                    PickUpLocation:
                      type: string
                    RecipientShipmentNotification:
                      type: string
                    ReadyTime:
                      type: string
                    CollectionOptions:
                      type: string
                    PersonalMessage:
                      type: string
                    OtherExceptionNotification:
                      type: string
                    TransportationAccNumber: 
                      type: string
                    OnOurWayNotificationsSMS:
                      type: string
                    LocationDescription:
                      type: string
                    CloseTime:
                      type: string
                    RecipientEmailAddress:
                      type: string
                    OtherDeliveryNotification:
                      type: string
                    ReadyDate:
                      type: string
                    OnOurWayNotificationsEmail:
                      type: string
                    OtherEmailAddress:
                      type: string
                RecipientsDetails:
                  type: object
                  properties:
                    PhoneDialCode: 
                      type: string
                    Company:
                      type: string
                    Email:
                      type: string
                    Residential:
                      type: string
                    Address2: 
                      type: string
                    Address3: 
                      type: string
                    Address1:
                      type: string
                    City:
                      type: string
                    Name:
                      type: string
                    State_Code: 
                      type: string
                    Country_Code:
                      type: string
                    Phone:
                      type: string
                    Postalcode:
                      type: string
                    Fax: 
                      type: string
                SendersDetails:
                  type: object
                  properties:
                    PhoneDialCode:
                      type: string
                    Company:
                      type: string
                    Email:
                      type: string
                    Phone:
                      type: string
                    State:
                      type: string
                    Address2:
                      type: string
                    Address3:
                      type: string
                    PostalCode:
                      type: string
                    Address1:
                      type: string
                    City:
                      type: string
                    Name:
                      type: string
                ShippingDetail:
                  type: object
                  properties:
                    PackageTypeCode:
                      type: string
                    SenderVatNo: 
                      type: string
                    CustomerReference:
                      type: string
                    Description:
                      type: string
                    NumberOfPiecesOnAllPallets: 
                      type: string
                    Insurance:
                      type: string
                    ServiceType:
                      type: string
                    isPOD:
                      type: string
                    Currency:
                      type: string
                    ServiceTypeCode:
                      type: string
                    PackageDetails:
                      type: array
                      items:
                        type: object
                        properties:
                          ItemNumber:
                            type: string
                          Length:
                            type: string
                          Height:
                            type: string
                          Breadth:
                            type: string
                          Wt:
                            type: string
                          CustomValue:
                            type: string
                AuthenticationDetail:
                  type: object
                  properties:
                    MeterNumber:
                      type: string
                    Key:
                      type: string
                    Password:
                      type: string
            examples:
              '0':
                value: "{\r\n            \"AuthenticationDetail\": {\r\n               \"Key\": \"stewarttest\",\r\n               \"MeterNumber\": \"99bb37c1c73441b9b4a59012460cf52a\",\r\n               \"Password\": \"butlertest\"\r\n            },\r\n            \"BillingDetail\": {\r\n               \"CloseTime\": \"17:00\",\r\n               \"CollectionOptions\": \"I_Need_To_Book_A_Collection_For_Next_Day\",\r\n               \"DutiesAccNumber\": null,\r\n               \"DutiesPayor\": \"Duties_To_Be_Paid_By_Receiver\",\r\n               \"LocationDescription\": \"SL3 8WF\",\r\n               \"OnOurWayNotificationsEmail\": \"true\",\r\n               \"OnOurWayNotificationsSMS\": \"true\",\r\n               \"OtherDeliveryNotification\": \"false\",\r\n               \"OtherEmailAddress\": \"wahhab.ashraf@gmail.com\",\r\n               \"OtherExceptionNotification\": \"false\",\r\n               \"OtherShipmentNotification\": \"false\",\r\n               \"PersonalMessage\": \"No comments availabale\",\r\n               \"PickUpLocation\": \"Front\",\r\n               \"ReadyDate\": \"13/11/2019\",\r\n               \"ReadyTime\": \"09:30\",\r\n               \"RecipientDeliveryNotification\": \"true\",\r\n               \"RecipientEmailAddress\": \"wahhab.ashraf@gmail.com\",\r\n               \"RecipientExceptionNotification\": \"false\",\r\n               \"RecipientShipmentNotification\": \"true\",\r\n               \"TransportationAccNumber\": null,\r\n               \"TransportationPayor\": \"Bill_To_Sender\"\r\n            },\r\n            \"RecipientsDetails\": {\r\n               \"Address1\": \"63 Grasholm Way\",\r\n               \"Address2\": null,\r\n               \"Address3\": null,\r\n               \"City\": \"Slough\",\r\n               \"Company\": \"-\",\r\n               \"Country_Code\": \"GB\",\r\n               \"Email\": \"wahhab.ashraf@gmail.com\",\r\n               \"Fax\": null,\r\n               \"Name\": \"Jakub Grochowski\",\r\n               \"Phone\": \"07701054990\",\r\n               \"PhoneDialCode\": null,\r\n               \"Postalcode\": \"SL3 8WF\",\r\n               \"Residential\": \"false\",\r\n               \"State_Code\": null\r\n            },\r\n            \"SendersDetails\": {\r\n               \"Address1\": \"Unit 10\",\r\n               \"Address2\": \"Lynnwood i8\",\r\n               \"Address3\": \"Lynnwood Terrace\",\r\n               \"City\": \"London\",\r\n               \"Company\": \"iERA\",\r\n               \"Email\": \"s.ali@iera.org\",\r\n               \"Name\": \"Saqib Ali\",\r\n               \"Phone\": \"111365\",\r\n               \"PhoneDialCode\": \"03000\",\r\n               \"PostalCode\": \"NE46UL\",\r\n               \"State\": \"Greater London\"\r\n            },\r\n            \"ShippingDetail\": {\r\n               \"Currency\": \"GBP\",\r\n               \"CustomerReference\": \"Order #35757\",\r\n               \"Description\": \"No comments availabale\",\r\n               \"Insurance\": \"0\",\r\n               \"NumberOfPiecesOnAllPallets\": null,\r\n               \"PackageDetails\": [\r\n               \t{\r\n                     \"Breadth\": \"23\",\r\n                     \"CustomValue\": \"0\",\r\n                     \"Height\": \"25\",\r\n                     \"ItemNumber\": \"1\",\r\n                     \"Length\": \"31\",\r\n                     \"Wt\": \"0.5\"\r\n                  }\r\n               ],\r\n               \"PackageTypeCode\": \"UPS_My_Packaging\",\r\n               \"SenderVatNo\": null,\r\n               \"ServiceType\": \"UPS\",\r\n               \"ServiceTypeCode\": \"UPS_Standard\",\r\n               \"isPOD\": \"false\"\r\n            }\r\n         }"
      responses:
        '200':
          description: |
            # RESONSE DETAILS
             ----------------------------
             **Shipment Details**
             | Element Name | Description | Data Type  |
             | ------- | -------- | ------ | 
             | NotificationType | Status of shipment i.e. Success, Failed or Warning | Enum | 
             | Message | Message displaying shipment booking | String | 
             | CollectionDateNumber | Showing pickup date and signed by | string | 
             | MasterTrackingNo | Master tracking number generated after shipment booking. | String | 
             | Warning | Warning  Warning message related to documents required for shipment. | String | 
             | Labels->Image | Label Image in byte array form which needs to be converted into respective file format. <br/> UPS-> .png    String <br/> FEDEX-> .png  String  <br/> DHL-> .pdf    String  <br/> TNT-> .html   String <br/> YODEL-> .pdf  String |
             | Labels->ImageLength | Length of image label byte array. | int |
             | Labels-> LabelType | Type of label -> PDF ,PNG, Thermal. | String |
             | Labels-> LabelURL | URL to download label generated for shipment. | String |
             
  /CommodityProducts/Products:
    post:
      description: |
          Through 'WO Product Web service', will be display products to streamline commercial invoice generation for worldwide shipping.
      responses:
        '200':
          description: |
            # RESONSE DETAILS
            ----------------------------
            **Shipment Details**
            | Element Name | Description | Data Type  |
            | ------- | -------- | ------ | 
            | NAME | product_name is name of the product. | String | 
            | SKU | Message displaying shipment tracking status | String | 
            | DETAILED EXPORT TITLE   | This will contain service information and rate details | Container | 
            | HARMONIZATION CODE -> wsServiceCode | Code of the carrier service. | String | 
            | ORIGIN COUNTRY | country | String | 
            | DECLARED VALUE | declared_value | String | 
            
  /BookingHistory/BindGrid:
    post:
      description:  | 
          Through 'WO WebApi' Tracking History can be done based on input parameters.
      requestBody:
        description: |
            # REQUEST DETAILS
            -----------------------------------------------------------------------
            | Element Name | Description | Is Required | Data Type | Length |
            | ------- | -------- | ------ | ---- | ----- |
            | includeDate | includeDate is used for filter data according to date | YES | bool | |
            | fromDate | fromDate is used for filter data accroding to fromDate like DateRange | YES | string | | 
            | toDate |toDate is used for filter data accroding to toDate like DateRange | YES | string | |
            | searchVal | searchVal is used to filter data according to input text | No | string | |
            | criteria | criteria is used to filter data according to Search By | No | int | |
            | isWatchShipment | isWatchShipment flag get watch list tracking product | Yes | number | |
            | curPage | Ready time of collection of shipment (Should be less than collection area’s collection cutoff time and close time) | Yes (If I need to book collection) | string | |
            | recordsPerPage | Close time of collection of shipment (Should be less than collection area’s collection cutoff time ) | Yes (If I need to book collection) | string |  |
            | hideMail | Type of location of pick up – PickUpLocationTypes | Yes (If I need to book collection) | Enum | |
        content:
          application/json:
            schema:
              type: object
              properties:
                includeDate:
                  type: boolean
                fromDate:
                  type: string
                toDate:
                  type: string
                searchVal: 
                  type: string
                criteria:
                  type: boolean
                isWatchShipment:
                  type: string
                RecordsPerPage:
                  type: number
                CurrentPage: 
                  type: number
                hideMail:
                  type: boolean
      responses:
        '200':
          description: |
            # RESONSE DETAILS
             ----------------------------
             **Tracking History**
             | Element Name | Data Type  |
             | ------- | ------ |
             | WORef                  | string | 
             | account_no             | string |
             | additional_admin_margin             | decimal |
             | additional_fuel_margin             | decimal |
             | adjusted_additional_fuel_margin             | decimal |
             | adjusted_additional_margin             | decimal |
             | adjusted_additionalhandlingsurcharge             | decimal |
             | adjusted_address_correction             | decimal |
             | adjusted_administrationcharge             | decimal |
             | adjusted_base | decimal |
             | adjusted_bulk_break_b2b |  decimal | 
             | adjusted_chargeback_fees |  decimal |
             | adjusted_congestion_charge |  decimal |
             | adjusted_custom_charge |  decimal |
             | adjusted_elevated_risk |  decimal |
             | adjusted_exporter_validation |  decimal |
             | adjusted_extareasurcharge |  decimal |
             | adjusted_fourth_party_collection |  decimal |
             | adjusted_fuel |  decimal |
             | adjusted_import_service_charge |  decimal |
             | adjusted_insurance |  decimal |
             | adjusted_largepackagesurcharge |  decimal |
             | adjusted_manual_entry |  decimal |
             | adjusted_overmax_length |  decimal |
             | adjusted_overmax_size |  decimal |
             | adjusted_overmax_weight |  decimal |
             | adjusted_premium_timed_charge |  decimal |
             | adjusted_residentialcharge |  decimal |
             | adjusted_restricted_destination |  decimal |
             | adjusted_sat_delivery |  decimal | 
             | adjusted_third_party_collection |  decimal |
             | adjusted_total |  decimal |
             | adjusted_vat |  decimal |
             | adjusted_weight |  decimal |
             | bookedin_date |  string |
             | carrier |  string |
             | carrier_additionalhandlingsurcharge |  decimal |
             | carrier_address_correction |  decimal          |
             | carrier_administrationcharge |  decimal        |
             | carrier_base |  decimal                        |
             | carrier_bulk_break_b2b |  decimal              |
             | carrier_chargeback_fees |  decimal             |
             | carrier_congestion_charge |  decimal           |
             | carrier_custom_charge |  decimal               |
             | carrier_elevated_risk |  decimal               |
             | carrier_exporter_validation |  decimal         |
             | carrier_extareasurcharge |  decimal            |
             | carrier_fourth_party_collection |  decimal     |
             | carrier_fuel |  decimal                        |
             | carrier_import_service_charge |  decimal       |
             | carrier_insurance | decimal | 
             | carrier_invoice_no | null |
             | carrier_largepackagesurcharge | decimal | 
             | carrier_manual_entry | decimal | 
             | carrier_misc_charges_total | decimal | 
             | carrier_overmax_length | decimal | 
             | carrier_overmax_size | decimal | 
             | carrier_overmax_weight | decimal |
             | carrier_premium_timed_charge | decimal |
             | carrier_residential_charge | decimal | 
             | carrier_restricted_destination | decimal |
             | carrier_sat_delivery | decimal | 
             | carrier_third_party_collection | decimal |
             | carrier_total | decimal | 
             | carrier_vat | decimal |
             | collection_parcel_shop_address | string |
             | collection_parcelshop_id | int |
             | commercial_invoice | bool | 
             | credit_amount | decimal | 
             | credit_franchisee_amount | string |
             | customer_id | int | 
             | customer_invoice_no | int |
             | delivery_parcel_shop_address | string | 
             | delivery_parcelshop_id | int |
             | dest_email | string | 
             | dest_phone | string |
             | destination | string | 
             | destination_country | string |
             | franchise_acs_group_id | int | 
             | id | int |
             | importTracking_id | int | 
             | insurance | decimal |
             | invoice_uploaded | bool |
             | is_shipment_delivered | bool |
             | is_thermal_print | bool |
             | login_id | string | 
             | master_tracking_no | string |
             | misc_charges_total | decimal | 
             | multi_site_id | int | 
             | notes_count | decimal | 
             | origin | string | 
             | origin_country | string | 
             | origin_email | string |
             | origin_phone | string |
             | package_dimensions | string |
             | package_type | string |
             |My Packaging | string | 
             | paymentmode | string | 
             | percentage_reseller_markup | decimal |
             | percentage_vat | decimal |
             | pieces | byte | 
             | quoted_additionalhandlingsurcharge | decimal |
             | quoted_administrationcharge | decimal | 
             | quoted_base | decimal | 
             | quoted_elevated_risk | decimal |
             | quoted_exporter_validation | decimal |
             | quoted_extareasurcharge | decimal |
             | quoted_fuel | decimal | 
             | quoted_insurance | decimal | 
             | quoted_largepackagesurcharge | decimal |
             | quoted_markup | decimal | 
             | quoted_misc_charge | decimal |
             | quoted_overmax_size | decimal |
             | quoted_overmax_weight | decimal |
             | quoted_premium_timed_charge | decimal |
             | quoted_reseller_markup | decimal |
             | quoted_reseller_markup_percentage | decimal |
             | quoted_residential_charge | decimal |
             | quoted_restricted_destination | decimal |
             | quoted_total | decimal | 
             | quoted_vat | decimal |
             | receiver_company | string |
             | receiver_contact | string | 
             | reseller_id | int |
             | role | decimal | 
             | scheduled | string |
             | service_id | int | 
             | service_type | string |
             | shipment_contents | string | 
             | shipment_reference | string | 
             | shipment_status | string | 
             | shipment_status_error | string | 
             | shipper_company | string | 
             | shipper_contact | string |
             | totalRows | int | 
             | total_custom_value | decimal |
             | total_dim_weight | int | 
             | total_weight | int | 
             | transportation_payer | int | 
             | voided | bool | 
             | weight_unit | decimal |
             
  /BookingHistory/ExportCSV :
    post:
      description: |
            Through 'WO WebApi' Tracking History can be export on input parameters.
      requestBody:
        description: |
            # REQUEST DETAILS
            -----------------------------------------------------------------------
            | Element Name | Description | Is Required | Data Type | Length |
            | ------- | -------- | ------ | ---- | ----- |
            | includeDate | includeDate is used for filter data according to date | YES | bool | |
            | fromDate | fromDate is used for filter data accroding to fromDate like DateRange | YES | string | | 
            | toDate |toDate is used for filter data accroding to toDate like DateRange | YES | string | |
            | searchVal | searchVal is used to filter data according to input text | No | string | |
            | criteria | criteria is used to filter data according to Search By | No | int | |
            | isWatchShipment | isWatchShipment flag get watch list tracking product | Yes | number | |
            | curPage | Ready time of collection of shipment (Should be less than collection area’s collection cutoff time and close time) | Yes (If I need to book collection) | string | |
            | recordsPerPage | Close time of collection of shipment (Should be less than collection area’s collection cutoff time ) | Yes (If I need to book collection) | string |  |
            | hideMail | Type of location of pick up – PickUpLocationTypes | Yes (If I need to book collection) | Enum | |
        content:
          application/json:
            schema:
              type: object
              properties:
                includeDate:
                  type: boolean
                fromDate:
                  type: string
                toDate:
                  type: string
                searchVal: 
                  type: string
                criteria:
                  type: boolean
                isWatchShipment:
                  type: string
                PageSize:
                  type: number
                CurrentPage: 
                  type: number
                hideMail:
                  type: boolean
      responses:
        '200':
          description: |
            # RESONSE DETAILS
             ----------------------------
             **Tracking History**
             | Element Name | Data Type  | Description |
             | ------- | ------ |
             | httpResponseMessage | HttpResponseMessage | This api return application/csv |
                         
  /BookingHistory/Invoice:
    post:
      description:  | 
          Through 'WO WebApi' Invoice History can be done based on input parameters.
      requestBody:
        description: |
            # REQUEST DETAILS
            -----------------------------------------------------------------------
            | Element Name | Description | Is Required | Data Type | Length |
            | ------- | -------- | ------ | ---- | ----- |
            | includeDate | includeDate is used for filter data according to date | YES | bool | |
            | fromDate | fromDate is used for filter data accroding to fromDate like DateRange | YES | string | | 
            | toDate |toDate is used for filter data accroding to toDate like DateRange | YES | string | |
            | InvoiceNumber | invoiceNumber is used to filter data according to invoiceNumber text | No | string | |
            | Status | criteria is used to filter data according to status By Late, DUE and PAID| No | string | |
        content:
          application/json:
            schema:
              type: object
              properties:
                includeDate:
                  type: boolean
                fromDate:
                  type: string
                toDate:
                  type: string
                InvoiceNumber: 
                  type: string
                Status:
                  type: string
      responses:
        '200':
          description: |
            # RESONSE DETAILS
             ----------------------------
             **Tracking History**
             | Element Name | Data Type  |
             | ------- | ------ |
             | adjusted_billed_total| int |
             | adjusted_billed_vat| int |
             | customer_id| int |
             | customer_ledger_offStop_details| [] |
             | customer_role| int |
             | customers| null |
             | customers1| null |
             | document_number| string |
             | exported_customer_invoice_assignment| [] |
             | exported_customer_invoice_chaser_info| [] |
             | exported_customer_invoice_debt_master| [] |
             | exported_customer_invoice_followups| [] |
             | exported_customer_invoice_notes| [] |
             | exported_customer_invoice_other_info| [] |
             | exported_customer_invoice_payment| [] |
             | exported_customer_invoice_xero| [] |
             | exported_multisite_invoice_id| int |
             | franchise_current_buffer_detail_id| null |
             | franchise_id| int | 
             | franchise_ledger_report| null |
             | franchise_ledger_report_id| long |
             | id| int |
             | invoice_date| Datetime |
             | invoice_due_date| Datetime |
             | invoice_type| byte |
             | is_pdf_generated| int |
             | settlement_date| Datetime |
             | ticket_master| [] |
             | total_amount_with_vat| decimal |
             | total_amount_without_vat| decimal |
             | total_shipments| int |
             | woref| string |    
  
  /BookingHistory/BindShipmentReport:
    post:
      description:  | 
          Through 'WO WebApi' Invoice History can be done based on input parameters.
      requestBody:
        description: |
            # REQUEST DETAILS
            -----------------------------------------------------------------------
            | Element Name | Description | Is Required | Data Type | 
            | ------- | -------- | ------ | ---- | ----- |
            | exportedInvoiceId | exportedInvoiceId is used for filter data according to exportedInvoiceId | YES | int | 
        content:
          application/json:
            schema:
              type: object
              properties:
                exportedInvoiceId:
                  type: number
      responses:
        '200':
          description: |
            # RESONSE DETAILS
             ----------------------------
             **Tracking History**
             | Element Name | Data Type  |
             | ------- | ------ |
             | Billed| decimal |
             | Carrier| string |
             | CurrentDate| string |
             | ExportedInvoiceId| int |
             | Pieces| int |
             | Quoted| decimal |
             | Route| string |
             | ServiceId| int |
             | ShipmentDate| DateTime |
             | Status| string |
             | TrackingId| long |
             | TrackingNumber| string |
             
  /Packaging/Packages:
    post:
      description: |
          Through 'WO WebApi' Packages list can be done get it through this api.
      responses:
        '200':
          description: |
            # RESONSE DETAILS
            ----------------------------
            **packagingModal Details**
            | Element Name | Data Type  |
            | ------- | ------ | 
            | customer_id| int|
            | height| string |
            | id| int |
            | length| string |
            | name| string |
            | stock_status| int |
            | weight| string |
            | width| string |            
  
  /Packaging/SavePackaging:
    post:
      description: |
          Through 'WO WebApi' SavePackaging can be done based input parameter.
      responses:
        200:
         description: |
          # RESONSE DETAILS
            ----------------------------
            **packagingModal Details**
            | Element Name | Data Type  |
            | ------- | ------ | 
            | customer_id| int|
            | height| string |
            | id| int |
            | length| string |
            | name| string |
            | stock_status| int |
            | weight| string |
            | width| string |