"openapi":"3.0.0",
  "info":
  {
    "title":"Gadha Sales API",
    "description": "API designed for use by Warba Bank landing pages",
    "version":"0.1",
    "contact":
    {  "name": "Websquare",
      "url": "https://www.websquare.co.uk/contact/",
      "email": "info@websquare.co.uk"
    }
  },
  "servers":
  [
    {  "url":"http://gadha.websquare/CMS/api/v0/gadha",
      "description":"development server"
    },
    {  "url":"http://gadha.your-website-demo.co.uk/api/v0/gadha",
      "description":"demo"
    },
    {  "url":"http://gadha.warbabank.com/CMS/api/v0/gadha",
      "description":"live"
    }
  ],
  "tags":
  [  {  "name": "Sales Contacts",
      "description": "to be recorded against original share by gadha user"
    },
    {  "name": "Share Actions",
      "description": "to be recorded against original share by gadha user on action by end user"
    }
  ],
  "components":
  {  "parameters":
    {  "apisessionid":
      {  "name": "Authorization",
        "description": "API authorization in form \"Bearer {api_key}.{api_sessionid}\"",
        "in": "header",
        "schema":
        {  "type": "string"
        }
      },
      "apilanguage":
      {  "name": "X-Custom-Language",
        "description": "2 letter code for language requested from API.",
        "in": "header",
        "schema":
        {  "type": "string"
        }
      }

    },
    "schemas":
    {  "gatoken":
      {  "type": "string",
        "description": "Session ID used by API to keep state."
      },

    },
    "responses":
    {  "422":
      {  "description": "failed to update / create record",
        "content":
        {  "application/json": 
          {  "schema":
            {  "type": "object",
              "properties":
              {  "version":
                {  "type": "string"
                },
                "service":
                {  "type": "string"
                },
                "timetaken":
                {  "type": "number",
                  "format": "float"
                },
                "error":
                {  "type": "array",
                  "items":
                  {  "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "400":
      {  "description": "Service access error",
        "content":
        {  "application/json": 
          {  "schema":
            {  "type": "object",
              "properties":
              {  "version":
                {  "type": "string"
                },
                "service":
                {  "type": "string"
                },
                "timetaken":
                {  "type": "number",
                  "format": "float"
                },
                "error":
                {  "type": "array",
                  "items":
                  {  "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "401":
      {  "description": "Authentication error",
        "content":
        {  "application/json": 
          {  "schema":
            {  "type": "object",
              "properties":
              {  "version":
                {  "type": "string"
                },
                "service":
                {  "type": "string"
                },
                "timetaken":
                {  "type": "number",
                  "format": "float"
                },
                "error":
                {  "type": "array",
                  "items":
                  {  "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "404":
      {  "description": "Not found error",
        "content":
        {  "application/json": 
          {  "schema":
            {  "type": "object",
              "properties":
              {  "version":
                {  "type": "string"
                },
                "service":
                {  "type": "string"
                },
                "timetaken":
                {  "type": "number",
                  "format": "float"
                },
                "error":
                {  "type": "array",
                  "items":
                  {  "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "paths":
  {  "/salescontacts":
    {  "summary":"Record sales contact against share click.",
      "post":
      {  "summary": "Record sales contact against share click.",
        "tags": ["Sales Contacts"],
        "responses":
        {  "201":
          {  "description": "Created.",
            "content":
            {  "application/json": 
              {  "schema":
                {  "type": "object",
                  "properties":
                  {  "version":
                    {  "type": "string"
                    },
                    "service":
                    {  "type": "string"
                    },
                    "timetaken":
                    {  "type": "number",
                      "format": "float"
                    },
                    "gatoken":
                    {  "$ref":"#/components/schemas/gatoken"
                    },
                    "data":
                    {  "type": "object",
                      "properties":
                      {  "url":
                        {  "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400":
          {  "$ref":"#/components/responses/400"
          },
          "401":
          {  "$ref":"#/components/responses/401"
          },
          "404":
          {  "$ref":"#/components/responses/404"
          },
          "422":
          {  "$ref":"#/components/responses/422"
          }
        },
        "requestBody":
        {  "content":
          {  "application/x-www-form-urlencoded":
            {  "schema":
              {  "type": "object",
                "properties":
                {  "name":
                  {  "description": "Full name of enquirer",
                    "type": "string"
                  },
                  "tel":
                  {  "type": "string",
                    "description": "Phone number"
                  },
                  "civil_id":
                  {  "type": "string",
                    "description": "Kuwaiti civil id"
                  },
                  "email":
                  {  "description": "Email address.",
                    "type": "string"
                  },
                  "gstrack":
                  {  "description": "Tracking code as passed from Gadha click-through.",
                    "type": "string"
                  },
                  "customer":
                  {  "description": "True if enquirer is an existing customer.",
                    "type": "boolean"
                  }
                },
                "required":["email", "gstrack"]
              }
            }
          }
        }
      },
      "parameters":
      [  {  "$ref":"#/components/parameters/apisessionid"
        },
        {  "$ref":"#/components/parameters/apilanguage"
        }
      ]
    },
    "/shareactions":
    {  "summary":"Record action on landing page after share.",
      "post":
      {  "summary": "Record action on landing page after share.",
        "tags": ["Share Actions"],
        "responses":
        {  "201":
          {  "description": "Created.",
            "content":
            {  "application/json": 
              {  "schema":
                {  "type": "object",
                  "properties":
                  {  "version":
                    {  "type": "string"
                    },
                    "service":
                    {  "type": "string"
                    },
                    "timetaken":
                    {  "type": "number",
                      "format": "float"
                    },
                    "gatoken":
                    {  "$ref":"#/components/schemas/gatoken"
                    },
                    "data":
                    {  "type": "object",
                      "properties":
                      {  "url":
                        {  "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400":
          {  "$ref":"#/components/responses/400"
          },
          "401":
          {  "$ref":"#/components/responses/401"
          },
          "404":
          {  "$ref":"#/components/responses/404"
          },
          "422":
          {  "$ref":"#/components/responses/422"
          }
        },
        "requestBody":
        {  "content":
          {  "application/x-www-form-urlencoded":
            {  "schema":
              {  "type": "object",
                "properties":
                {  "actionname":
                  {  "description": "Name code for the sction to be recorded. Should (but does not have to) match a custom remote action recorded in the Gadha app admin.",
                    "type": "string"
                  },
                  "gstrack":
                  {  "description": "Tracking code as passed from Gadha click-through.",
                    "type": "string"
                  }
                },
                "required":["actionname", "gstrack"]
              }
            }
          }
        }
      },
      "parameters":
      [  {  "$ref":"#/components/parameters/apisessionid"
        },
        {  "$ref":"#/components/parameters/apilanguage"
        }
      ]
    }
  }
}