openapi: 3.0.0
info:
  title: WeProov Api
  description: WeProov public API
  contact:
    email: support@weproov.com
  version: 1.0.0-oas3
servers:
- url: https://api.weproov.com/v2
tags:
- name: Auth
  description: Operations about user
- name: Template
  description: All about template
- name: Report
  description: Access to report
- name: Mission
- name: Item
  description: All about items
paths:
  /oauth:
    post:
      tags:
      - Auth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body'
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          description: bad query
        "401":
          description: unauthorized
  /template:
    get:
      tags:
      - Template
      summary: Allows you to retrieve the templates list
      description: "Retrieves the list of templates.   \nYou can filter by category_id\
        \ or subcategory id\n"
      parameters:
      - name: lang
        in: query
        description: Language used during response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Local'
      - name: category_id
        in: query
        description: filter by category ID
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: sub_category_id
        in: query
        description: filter by subcategory ID
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemplateShort'
        "405":
          description: Invalid input
      security:
      - AccessToken: []
  /template/{id}:
    get:
      tags:
      - Template
      summary: Allows you to retrieve a template
      description: Allows you to retrieve and scan the template for you to see which
        fileds it contains
      parameters:
      - name: id
        in: path
        description: Template ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: lang
        in: query
        description: Response language
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Local'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        "404":
          description: Template not found
      security:
      - AccessToken: []
    put:
      tags:
      - Template
      summary: Create a report from template
      parameters:
      - name: id
        in: path
        description: Template ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: lang
        in: query
        description: Response language
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Local'
      - name: cci
        in: query
        description: Alert from mail
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        "404":
          description: Template not found
      security:
      - AccessToken: []
  /report:
    get:
      tags:
      - Report
      summary: Allows you to retrieve the reports list
      description: "Allows you to retrieve all reports   \n***find*** allows you to\
        \ search within all values contained in a report   \nSettings :\n  - ***created_at\
        \ (creation date)*** \n  - ***finished_at (first report's closing date)***\n\
        \  - ***dropoff_finished_at (second report's closing date)***   \n  \nallows\
        \ you to search by date range (datetime separate by ```,```) Exemple:  \n\
        \  - ***\"finished_at <= ...\"*** : ***finished_at=2018-03-19T16:32:39.329Z***\n\
        \  - ***\"finished_at > \"*** : ***finished_at=,2018-03-19T16:32:39.329Z***\n\
        \  - ***\"finished_at <= ... && finished_at > ...\"*** : ***finished_at=2018-03-19T16:32:39.329Z,2018-03-19T16:32:39.329Z***\n"
      parameters:
      - name: lang
        in: query
        description: Response language
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Local'
      - name: find
        in: query
        description: filter by id of category
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: custom_ref
        in: query
        description: filter by custom reference
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: category_id
        in: query
        description: filter by id of category
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: sub_category_id
        in: query
        description: filter by id of subcategory
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: state
        in: query
        description: filter by id of category
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - pending_first
          - pending_second
          - finished
      - name: template_id
        in: query
        description: template of id used
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: limit
        in: query
        description: 'Max: 50'
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: offset
        in: query
        description: offset
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: created_at
        in: query
        description: datetime range in RFC3339 separate by ','
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: finished_at
        in: query
        description: datetime range in RFC3339 separate by ','
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: dropoff_finished_at
        in: query
        description: datetime range in RFC3339 separate by ','
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportShort'
        "405":
          description: Invalid input
      security:
      - AccessToken: []
  /report/{proov_code}:
    get:
      tags:
      - Report
      summary: Allows you to retrieve a full report
      description: "Allows you to retrieve a full report   \nIf you prefer to use\
        \ custom_ref to retrieve the report you can prefix by ```_```\n"
      parameters:
      - name: proov_code
        in: path
        description: Report ProovCode or CustomRef prefix by underscore (```_```)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: lang
        in: query
        description: Response language
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Local'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        "404":
          description: Report not found
      security:
      - AccessToken: []
    post:
      tags:
      - Report
      summary: Allows you to update a report
      parameters:
      - name: proov_code
        in: path
        description: Report ProovCode or CustomRef prefix by underscore (```_```)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: lang
        in: query
        description: Response language
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Local'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        "404":
          description: Report not found
      security:
      - AccessToken: []
    delete:
      tags:
      - Report
      summary: Allows you to delete a report
      parameters:
      - name: proov_code
        in: path
        description: Report ProovCode or CustomRef prefix by underscore (```_```)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: lang
        in: query
        description: Response language
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Local'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "404":
          description: Report not found
      security:
      - AccessToken: []
  /mission:
    get:
      tags:
      - Mission
      summary: Retrieval of all sent missions
      parameters:
      - name: state
        in: query
        description: mission state
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Mission'
      security:
      - AccessToken: []
    put:
      tags:
      - Mission
      summary: Mission creation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MissionCreate'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mission'
      security:
      - AccessToken: []
  /mission/{id}:
    get:
      tags:
      - Mission
      summary: Retrieval of a single mission
      parameters:
      - name: id
        in: path
        description: id of mission
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mission'
      security:
      - AccessToken: []
    post:
      tags:
      - Mission
      summary: Mission update
      parameters:
      - name: id
        in: path
        description: id of mission
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MissionCreate'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Mission'
      security:
      - AccessToken: []
    delete:
      tags:
      - Mission
      summary: Delete a sent mission
      parameters:
      - name: id
        in: path
        description: id of mission
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
      security:
      - AccessToken: []
  /item:
    get:
      tags:
      - Item
      summary: Allows you to retrieve the items list
      parameters:
      - name: lang
        in: query
        description: Response language
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Local'
      - name: find
        in: query
        description: filter by id of category
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: 'Max: 50'
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: offset
        in: query
        description: offset
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: created_at
        in: query
        description: range of datetime in RFC3339 separate by ','
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updated_at
        in: query
        description: range of datetime in RFC3339 separate by ','
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ItemShort'
        "405":
          description: Invalid input
      security:
      - AccessToken: []
  /item/{id}:
    get:
      tags:
      - Item
      summary: Allows you to retrieve an item
      parameters:
      - name: id
        in: path
        description: id of item
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: lang
        in: query
        description: Response language
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Local'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
        "404":
          description: Report not found
      security:
      - AccessToken: []
    delete:
      tags:
      - Item
      summary: Allows you to delete an item
      parameters:
      - name: id
        in: path
        description: id of item
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        "404":
          description: Report not found
      security:
      - AccessToken: []
  /item/{id}/report:
    get:
      tags:
      - Item
      summary: Allows you to retrieve the reports list that is linked to a specific
        item
      description: Allows you to retrieve the reports list that is linked to a specific
        item (see documentation/report)
      parameters:
      - name: id
        in: path
        description: id of item
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: lang
        in: query
        description: Response language
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Local'
      - name: find
        in: query
        description: filter by id of category
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: custom_ref
        in: query
        description: filter by custom reference
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: category_id
        in: query
        description: filter by id of category
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: sub_category_id
        in: query
        description: filter by id of subcategory
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: state
        in: query
        description: filter by id of category
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - pending_first
          - pending_second
          - finished
      - name: template_id
        in: query
        description: template of id used
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: limit
        in: query
        description: 'Max: 50'
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: offset
        in: query
        description: offset
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: created_at
        in: query
        description: range of datetime in RFC3339 separate by ','
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: finished_at
        in: query
        description: range of datetime in RFC3339 separate by ','
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: dropoff_finished_at
        in: query
        description: range of datetime in RFC3339 separate by ','
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportShort'
        "405":
          description: Invalid input
      security:
      - AccessToken: []
  /items/import:
    post:
      tags:
      - Item
      parameters:
      - name: category_id
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: identifier
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - auto
          - realty
          - others
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemsCSV'
      responses:
        "201":
          description: 201 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
      security:
      - AccessToken: []
components:
  schemas:
    Local:
      type: string
      description: |
        Language used during response
      enum:
      - fr
      - en
      - es
      - nl
      - pt
      - de
      - it
      - pl
    Success:
      type: object
      properties:
        success:
          type: boolean
    TemplateShort:
      type: object
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        description:
          type: string
        dropoff:
          type: boolean
        full_dropoff:
          type: boolean
        category_id:
          type: integer
        category:
          type: string
        sub_category_id:
          type: integer
        sub_category:
          type: string
    TemplateInfos:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        type:
          type: string
        required:
          type: boolean
        dropoff:
          type: boolean
        value:
          type: string
        possibility:
          type: array
          items:
            $ref: '#/components/schemas/TemplateInfos_possibility'
        position:
          type: integer
    TemplateChecklist:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        type:
          type: string
        required:
          type: boolean
        dropoff:
          type: boolean
        value:
          type: string
        position:
          type: integer
    TemplateSupports:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        required:
          type: boolean
        dropoff:
          type: boolean
        position:
          type: integer
    TemplateSection:
      type: object
      properties:
        position:
          type: integer
        title:
          type: string
        item:
          type: boolean
        signer:
          type: boolean
        infos:
          type: array
          items:
            $ref: '#/components/schemas/TemplateInfos'
        supports:
          type: array
          items:
            $ref: '#/components/schemas/TemplateSupports'
        checklists:
          type: array
          items:
            $ref: '#/components/schemas/TemplateChecklist'
    TemplatePhotoScan:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        required:
          type: boolean
        dropoff:
          type: boolean
        position:
          type: integer
    Template:
      allOf:
      - $ref: '#/components/schemas/TemplateShort'
      - type: object
        properties:
          sections:
            type: array
            items:
              $ref: '#/components/schemas/TemplateSection'
          process:
            type: array
            items:
              $ref: '#/components/schemas/TemplatePhotoScan'
    Geoloc:
      type: object
      properties:
        longitude:
          type: number
        altitude:
          type: number
        latitude:
          type: number
    Field:
      properties:
        section:
          type: integer
          description: number of section where is field to update
        name:
          type: string
          description: name of field to update
        value:
          type: string
          description: value of field or null for first state
        dropoff_value:
          type: string
          description: value of field or null for second state
    Update:
      properties:
        custom_ref:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'
        item:
          $ref: '#/components/schemas/Update_item'
    ReportShort:
      properties:
        proov_code:
          type: string
        custom_ref:
          type: string
        template_id:
          type: integer
          format: int64
        state:
          type: string
          enum:
          - pending_first
          - pending_second
          - finished
        title:
          type: string
        description:
          type: string
        dropoff:
          type: boolean
        full_dropoff:
          type: boolean
        meta:
          type: array
          items:
            $ref: '#/components/schemas/ReportShort_meta'
        category_id:
          type: integer
        category:
          type: string
        sub_category_id:
          type: integer
        sub_category:
          type: string
        created_at:
          type: string
          format: date-time
        finished_at:
          type: string
          format: date-time
        dropoff_finished_at:
          type: string
          format: date-time
    ReportInfos:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        type:
          type: string
        required:
          type: boolean
        dropoff:
          type: boolean
        value:
          type: string
        possibility:
          type: array
          items:
            $ref: '#/components/schemas/TemplateInfos_possibility'
        position:
          type: integer
    ReportChecklist:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        type:
          type: string
        required:
          type: boolean
        dropoff:
          type: boolean
        value:
          type: string
        dropoff_value:
          type: string
        position:
          type: integer
    ReportSupports:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        required:
          type: boolean
        dropoff:
          type: boolean
        position:
          type: integer
        picture:
          type: string
        dropoff_picture:
          type: string
    ReportSection:
      type: object
      properties:
        position:
          type: integer
        title:
          type: string
        item:
          type: boolean
        signer:
          type: boolean
        infos:
          type: array
          items:
            $ref: '#/components/schemas/ReportInfos'
        supports:
          type: array
          items:
            $ref: '#/components/schemas/ReportSupports'
        checklists:
          type: array
          items:
            $ref: '#/components/schemas/ReportChecklist'
    ReportPhotoScanInfos:
      type: object
      properties:
        index:
          type: integer
        choice:
          type: integer
        description:
          type: string
        top:
          type: number
        left:
          type: number
        height:
          type: number
        width:
          type: number
    ReportPhotoScan:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        required:
          type: boolean
        dropoff:
          type: boolean
        position:
          type: integer
        picture:
          type: string
        infos:
          type: array
          items:
            $ref: '#/components/schemas/ReportPhotoScanInfos'
        dropoff_picture:
          type: string
        dropoff_infos:
          type: array
          items:
            $ref: '#/components/schemas/ReportPhotoScanInfos'
    Report:
      allOf:
      - $ref: '#/components/schemas/ReportShort'
      - type: object
        properties:
          pdf:
            type: string
          dropoff_pdf:
            type: string
          geoloc:
            $ref: '#/components/schemas/Geoloc'
          dropoff_geoloc:
            $ref: '#/components/schemas/Geoloc'
          sections:
            type: array
            items:
              $ref: '#/components/schemas/ReportSection'
          process:
            type: array
            items:
              $ref: '#/components/schemas/ReportPhotoScan'
    ItemShort:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        name:
          type: string
        value:
          type: string
        geoloc:
          $ref: '#/components/schemas/Geoloc'
        created_at:
          type: string
        updated_at:
          type: string
    ItemInfo:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        type:
          type: string
        value:
          type: string
    ItemSupport:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        picture:
          type: string
    ItemChecklist:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        type:
          type: string
        value:
          type: string
    ItemPhotoScan:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        picture:
          type: string
        infos:
          $ref: '#/components/schemas/ReportPhotoScanInfos'
    Item:
      allOf:
      - $ref: '#/components/schemas/ItemShort'
      - type: object
        properties:
          infos:
            $ref: '#/components/schemas/ItemInfo'
          supports:
            $ref: '#/components/schemas/ItemSupport'
          checklists:
            $ref: '#/components/schemas/ItemChecklist'
          photoscan:
            $ref: '#/components/schemas/ItemPhotoScan'
    MissionCreate:
      required:
      - email
      - proov_code
      - title
      type: object
      properties:
        email:
          type: string
        title:
          type: string
        description:
          type: string
        report_state:
          type: string
        proov_code:
          type: string
        start_date:
          type: string
          format: date-time
        due_date:
          type: string
          format: date-time
        phone_number:
          type: string
        sender:
          type: string
        body_sms:
          type: string
        send_email:
          type: boolean
        geoloc:
          $ref: '#/components/schemas/Geoloc'
    Mission:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
        title:
          type: string
        description:
          type: string
        report_state:
          type: string
        proov_code:
          type: string
        start_date:
          type: string
          format: date-time
        due_date:
          type: string
          format: date-time
        phone_number:
          type: string
        body_sms:
          type: string
        send_email:
          type: boolean
        sender:
          type: string
        state:
          type: string
          enum:
          - INIT
          - SEND
          - FINISH
        geoloc:
          $ref: '#/components/schemas/Geoloc'
    body:
      type: object
      properties:
        token:
          type: string
        secret:
          type: string
    inline_response_200:
      type: object
      properties:
        access_token:
          type: string
    inline_response_200_1:
      type: object
      properties:
        success:
          type: boolean
    TemplateInfos_possibility:
      type: object
      properties:
        value:
          type: string
        local:
          type: string
    Update_item:
      type: object
      properties:
        id:
          type: integer
          format: int64
        process:
          type: boolean
        supports:
          type: boolean
        excludes:
          type: array
          items:
            type: string
    ReportShort_meta:
      type: object
      properties:
        title:
          type: string
        value:
          type: string
    ItemsCSV:
      type: object
      properties:
        data:
          type: string
  securitySchemes:
    AccessToken:
      type: apiKey
      name: Authorization
      in: header