openapi: 3.0.0
info:
  description: ''
  version: "v2-oas3"
  title: Media Campaign Kit
tags:
  - name: developers
    description: Operations available to regular developers
paths:
  /homeBackground:
    get:
      tags:
        - developers
      summary: 'First request, will get background and languages available'
      operationId: home
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Home'
  /brands:
    get:
      tags:
        - developers
      summary: Will get all brands available by language previously selected
      operationId: brands
      description: ''
      parameters:
        - in: query
          name: language
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Brands'
  /frame:
    get:
      tags:
        - developers
      summary: 'Inserting language, brand, model, option and size will bring the correct templates'
      operationId: frame
      description: ''
      parameters:
        - in: query
          name: language
          description: 'Language selected in the previous step [ex pt-br]'
          required: true
          schema:
            type: string
        - in: query
          name: brand
          description: 'Brand selected in the previous step [ex melissa]'
          required: true
          schema:
            type: string
        - in: query
          name: option
          description: 'Can be - [new|done]'
          required: true
          schema:
            type: string
        - in: query
          name: size
          description: 'Can be - [post|story]'
          required: true
          schema:
            type: string
        - in: query
          name: model
          description: 'Model selected in the previous step [ex 123]'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Frames'
  /models:
    get:
      tags:
        - developers
      summary: Get all models based on previous selections
      operationId: models
      description: ''
      parameters:
        - in: query
          name: language
          description: 'Language selected in the previous step [ex pt-br]'
          required: true
          schema:
            type: string
        - in: query
          name: brand
          description: 'Brand selected in the previous step [ex melissa]'
          required: true
          schema:
            type: string
        - in: query
          name: option
          description: 'Can be - [new|done]'
          required: true
          schema:
            type: string
        - in: query
          name: size
          description: 'Can be - [post|story]'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models'
  /colors:
    get:
      tags:
        - developers
      summary: Get all colors based on previous selections
      operationId: colors
      description: ''
      parameters:
        - in: query
          name: model
          description: 'Model selected in the previous step [ex 123]'
          required: true
          schema:
            type: string
        - in: query
          name: language
          description: 'Language selected in the previous step [ex pt-br]'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Colors'
servers:
  - url: 'https://grendene-mock.getsandbox.com'
components:
  schemas:
    Home:
      type: object
      required:
        - imageBackgroundDektop
        - imageBackgroundMobile
        - languages
      properties:
        imageBackgroundDesktop:
          type: string
          format: link
          example: >-
            https://dfe2l8v0tjuwy.cloudfront.net/artigos/187758-phpDNZpc8-feed-10col-artigo-melissa-line-friends.jpg
        imageBackgroundMobile:
          type: string
          format: link
          example: >-
            https://dfe2l8v0tjuwy.cloudfront.net/artigos/187758-phpDNZpc8-feed-10col-artigo-melissa-line-friends.jpg
        languages:
          type: array
          items:
            $ref: '#/components/schemas/Language'
    Brands:
      type: object
      required:
        - selectedLanguage
        - brands
      properties:
        selectedLanguage:
          type: string
          format: link
          example: pt-br
        brands:
          type: array
          items:
            $ref: '#/components/schemas/Brand'
    Brand:
      type: object
      required:
        - id
        - name
        - imageUrl
      properties:
        id:
          type: string
          format: link
          example: melissa
        name:
          type: string
          format: link
          example: melissa
        imageUrl:
          type: string
          format: link
          example: 'https://www.fragrantica.com.br/mdimg/dizajneri/o.3747.jpg'
    Language:
      type: object
      required:
        - label
        - code
      properties:
        label:
          type: string
          example: Português
        code:
          type: string
          example: pt-br
    Frames:
      type: object
      required:
        - languageSelected
        - brandSelected
        - optionSelected
        - sizeSelected
        - modelSelected
        - images
      properties:
        languageSelected:
          type: string
          format: link
          example: pt-br
        brandSelected:
          type: string
          format: link
          example: melissa
        optionSelected:
          type: string
          format: link
          example: new
        sizeSelected:
          type: string
          format: link
          example: story
        modelSelected:
          type: string
          format: link
          example: 123          
        frames:
          type: array
          items:
            $ref: '#/components/schemas/FrameImages'
    FrameImages:
      type: object
      required:
        - frameId
        - description
        - thumbnailImage
        - largeImage
      properties:
        frameId:
          type: string
          format: link
          example: pt-br
        description:
          type: string
          format: link
          example: melissa
        thumbnailImage:
          type: string
          format: link
          example: new
        largeImage:
          type: string
          format: link
          example: >-
            https://dfe2l8v0tjuwy.cloudfront.net/fotos/187572-phpxdZOPH-site-promo20-feed-4col.jpg
    Models:
      type: object
      required:
        - languageSelected
        - brandSelected
        - optionSelected
        - sizeSelected
        - models
      properties:
        languageSelected:
          type: string
          format: link
          example: pt-br
        brandSelected:
          type: string
          format: link
          example: melissa
        optionSelected:
          type: string
          format: link
          example: new
        sizeSelected:
          type: string
          format: link
          example: story
        models:
          type: array
          items:
            $ref: '#/components/schemas/ModelImages'
    ModelImages:
      type: object
      required:
        - modelId
        - description
        - thumbnailImage
      properties:
        modelId:
          type: string
          format: link
          example: pt-br
        description:
          type: string
          format: link
          example: melissa
        thumbnailImage:
          type: string
          format: link
          example: >-
            https://dfe2l8v0tjuwy.cloudfront.net/fotos/187409-phpWpQB2o-4col-01.jpg
    Colors:
      type: object
      required:
        - languageSelected
        - modelSelected
        - colors
      properties:
        languageSelected:
          type: string
          format: link
          example: pt-br
        modelSelected:
          type: string
          format: link
          example: '123'
        colors:
          type: array
          items:
            $ref: '#/components/schemas/ColorImages'
    ColorImages:
      type: object
      required:
        - colorId
        - description
        - thumbnailImage
        - largeImage
      properties:
        colorId:
          type: string
          format: link
          example: pt-br
        description:
          type: string
          format: link
          example: Melissa Blue
        thumbnailImage:
          type: string
          format: link
          example: >-
            https://dfe2l8v0tjuwy.cloudfront.net/fotos/187409-phpWpQB2o-4col-01.jpg
        largeImage:
          type: string
          format: link
          example: >-
            https://dfe2l8v0tjuwy.cloudfront.net/fotos/187409-phpWpQB2o-4col-01.jpg
