openapi: "3.0.1"
info:
  title: "Weavr API"
  description: "Weavr API"
  contact:
    name: "Weavr"
    url: "http://weavr.io"
  version: "2.6.8"
servers:
- url: "https://build.weavr.io/app/api"
paths:
  /auth/lost_password/validate:
    post:
      tags:
      - "Auth"
      operationId: "auth_lost_password_validate"
      parameters:
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LostPasswordValidateRequest"
        required: true
      responses:
        204:
          description: "Success - No Content"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LostPasswordContinueConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - API_Secret_Key: []
  /auth/lost_password/start:
    post:
      tags:
      - "Auth"
      operationId: "auth_lost_password_start"
      parameters:
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LostPasswordStartRequest"
        required: true
      responses:
        204:
          description: "Success - No Content"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LostPasswordStartConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - API_Secret_Key: []
  /auth/lost_password/resume:
    post:
      tags:
      - "Auth"
      operationId: "auth_lost_password_resume"
      parameters:
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LostPasswordContinueRequest"
        required: true
      responses:
        204:
          description: "Success - No Content"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LostPasswordContinueConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - API_Secret_Key: []
  /auth/logout:
    post:
      tags:
      - "Auth"
      description: "logs out the session identified by the token in the Authorization\
        \ header"
      operationId: "auth_logout"
      parameters:
      - $ref: "#/components/parameters/call-ref"
      responses:
        204:
          description: "Success - No Content"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /auth/login_with_password:
    post:
      tags:
      - "Auth"
      description: "Given the correct credentials, will return a token to be used\
        \ as Authorization for other secured operations"
      operationId: "auth_login_with_password"
      parameters:
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginWithPasswordRequest"
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResult"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginWithPasswordConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - API_Secret_Key: []
  /passwords/identities/{identity_id}/create:
    post:
      tags:
      - "Passwords"
      description: "Create a Password Identity for an Auth Session Identity and link\
        \ it to the Password Profile that its Auth Session Identity Profile extends.\
        \ One Password Identity can only be linked to one Password Profile, but many\
        \ Password Identities can be linked to the same Password Profile. A Password\
        \ Identity is required to be able to create and update passwords for credentials\
        \ it owns. The Password Configuration used for the creation and update of\
        \ passwords for such credentials is read from the Password Profile linked\
        \ to the Password Identity.\n"
      operationId: "passwords_identities_identity_id_create"
      parameters:
      - name: "identity_id"
        in: "path"
        description: "The ID of the Password Identity, which is the same as the ID\
          \ of an Auth Session Identity."
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePasswordIdentityRequest"
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PasswordIdentity"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePasswordIdentityConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - API_Secret_Key: []
  /passwords/{credential_id}/{version}/expire:
    post:
      tags:
      - "Passwords"
      description: "Expire the identified Password Version. Once expired, a Password\
        \ Version is no longer usable. An update operation must be called so that\
        \ a new Password Version is created for the credential which can be used for\
        \ authentication purposes.\n"
      operationId: "passwords_credential_id_version_expire"
      parameters:
      - name: "version"
        in: "path"
        description: "A specific Password Version for the credential identified by\
          \ the credential_id path parameter. If the latest Password Version is not\
          \ known, use the get operation on the /passwords/{credential_id} resource.\n"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int32"
      - name: "credential_id"
        in: "path"
        description: "The credential ID"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PasswordInfo"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /passwords/{credential_id}/update:
    post:
      tags:
      - "Passwords"
      description: "Update the password for the credential identified by the credential_id\
        \ path parameter. The value for the new password must satisfy all the restrictions\
        \ imposed by the Password Profile linked to the Password Identity that this\
        \ credential belongs to.\n"
      operationId: "passwords_credential_id_update"
      parameters:
      - name: "credential_id"
        in: "path"
        description: "The credential ID"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePasswordRequest"
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PasswordInfo"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatePasswordConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - API_Secret_Key: []
  /passwords/{credential_id}/create:
    post:
      tags:
      - "Passwords"
      description: "Create a new password for the credential identified by the credential_id\
        \ path parameter. Passwords are identified by the ID of their credential.\
        \ The value for the new password must satisfy all the restrictions imposed\
        \ by the Password Profile linked to the Password Identity that this credential\
        \ belongs to. Therefore before attempting to create new passwords make sure\
        \ that the Auth Session Identity Profile to which the credential's identity\
        \ belongs is extended by creating a Password Profile for it and the Identity\
        \ owning the credential is linked to this Password Profile by creating a new\
        \ Password Identity for it.\n"
      operationId: "passwords_credential_id_create"
      parameters:
      - name: "credential_id"
        in: "path"
        description: "The credential ID"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePasswordRequest"
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PasswordInfo"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PasswordConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - API_Secret_Key: []
  /passwords/validate:
    post:
      tags:
      - "Passwords"
      description: "Check and validate a password."
      operationId: "passwords_validate"
      parameters:
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidatePasswordRequest"
        required: true
      responses:
        204:
          description: "Success - No Content"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidatePasswordConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - API_Secret_Key: []
  /corporates/{id}/users/mobile/send_verification_code:
    post:
      tags:
      - "Corporates"
      description: "Generates a random code and sends it to the user via text message\
        \ (SMS).  On the Build Environment, this is set to \"1111\"."
      operationId: "corporates_id_users_mobile_send_verification_code"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMobileRequest0"
        required: true
      responses:
        204:
          description: "Success - No Content"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendMobileRequestConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /corporates/{id}/users/mobile/verify:
    post:
      tags:
      - "Corporates"
      description: "Verification of the user's mobile number.  The randomly generated\
        \ code sent to the user via text message using /mobile/send_verification_code\
        \ is submitted here to verify the user's mobile number.  This is needed as\
        \ part of the verification process for basic due diligence."
      operationId: "corporates_id_users_mobile_verify"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyMobileRequest1"
        required: true
      responses:
        204:
          description: "Success - No Content"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /corporates/{id}/users/{user_id}/get:
    post:
      tags:
      - "Corporates"
      description: "Retrieve the corporate identity user identified by the user id\
        \ path parameter"
      operationId: "corporates_id_users_user_id_get"
      parameters:
      - name: "user_id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CorporateUser"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /corporates/{id}/users/{user_id}/update:
    post:
      tags:
      - "Corporates"
      description: "Update details for a user - title, name, surname, email, etc"
      operationId: "corporates_id_users_user_id_update"
      parameters:
      - name: "user_id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCorporateUserRequest"
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CorporateUser"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateCorporateUserConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /corporates/{id}/users/_/create:
    post:
      tags:
      - "Corporates"
      description: "Creates a user linked to the Corporate Identity.  Users have access\
        \ to all cards of the corporate."
      operationId: "corporates_id_users_user_id_create"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCorporateUserRequest"
        required: true
      responses:
        200:
          description: "Success"
          headers:
            create-id:
              $ref: "#/components/headers/create-id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CorporateUser"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCorporateUserConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /corporates/{id}/users/email/send_verification_code:
    post:
      tags:
      - "Corporates"
      description: "On calling this method, an email is sent directly to the Consumer\
        \ with a link including  a randomly generated verification code.  On clicking\
        \ the link, the recipient will be  redirected to your website.  This email\
        \ can be customised with your brand - contact us  for assistance.  The verification\
        \ code must then be submitted to /email/verify.  The URL  link in the email\
        \ can be updated in the Configuration section of the Innovator Portal.\n"
      operationId: "corporates_id_users_email_send_verification_code"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendEmailRequest1"
        required: true
      responses:
        204:
          description: "Success - No Content"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - API_Secret_Key: []
  /corporates/{id}/users/email/verify:
    post:
      tags:
      - "Corporates"
      description: "Verification of the user's email address.  The randomly generated\
        \ code sent to the user using /email/send_verification_code is submitted here\
        \ to verify the email address.  This is needed as part of the verification\
        \ process for basic due diligence."
      operationId: "corporates_id_users_email_verify"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyEmailRequest1"
        required: true
      responses:
        204:
          description: "Success - No Content"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyEmailRequestConflict1"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - API_Secret_Key: []
  /corporates/{id}/users/get:
    post:
      tags:
      - "Corporates"
      description: "Fetches all the users of the corporate, including the ROOT user\
        \ and all other users."
      operationId: "corporates_id_users_get"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CorporateUsersFilter"
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CorporateUsers"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /corporates/{id}/invites/consume:
    post:
      tags:
      - "Corporates"
      description: "Consume an invite."
      operationId: "corporates_id_invites_consume"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsumeCorporateUserInviteRequest"
        required: true
      responses:
        204:
          description: "Success - No Content"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsumeCorporateUserInviteConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - API_Secret_Key: []
  /corporates/{id}/invites/validate:
    post:
      tags:
      - "Corporates"
      description: "Validate an invite's nonce - useful to avoid having the user fill\
        \ in a form only to be held by a nonce-related validation issue (eg. expired)."
      operationId: "corporates_id_invites_validate"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateCorporateUserInviteRequest"
        required: true
      responses:
        204:
          description: "Success - No Content"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - API_Secret_Key: []
  /corporates/{id}/get:
    post:
      tags:
      - "Corporates"
      description: "Fetch the details of the corporate which matches the id path parameter"
      operationId: "corporates_id_get"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Corporate"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /corporates/{id}/update:
    post:
      tags:
      - "Corporates"
      description: "Update details (name, supportEmail,etc. ) of a corporate"
      operationId: "corporates_id_update"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCorporateRequest"
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Corporate"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /corporates/_/create:
    post:
      tags:
      - "Corporates"
      description: "Create a corporate identity for a business customer.  The information\
        \ provided must be accurate as it will be passed on for KYB verification with\
        \ our partner.  Incorrect information may incur a re-processing fee."
      operationId: "corporates_id_create"
      parameters:
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCorporateRequest"
        required: true
      responses:
        200:
          description: "Success"
          headers:
            create-id:
              $ref: "#/components/headers/create-id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Corporate"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCorporateConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - API_Secret_Key: []
  /consumers/{id}/mobile/send_verification_code:
    post:
      tags:
      - "Consumers"
      description: "Generates a random code and sends it to the user via text message\
        \ (SMS).  On the Build Environment, this is set to \"1111\"."
      operationId: "consumers_id_mobile_send_verification_code"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMobileRequest1"
        required: true
      responses:
        204:
          description: "Success - No Content"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendMobileRequestConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /consumers/{id}/mobile/verify:
    post:
      tags:
      - "Consumers"
      description: "To verify the Consumer's mobile number, submit the verification\
        \ code received by Consumer via text message (SMS).  To generate and send\
        \ a new verification code, use /mobile/send_verification_code"
      operationId: "consumers_id_mobile_verify"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyMobileRequest0"
        required: true
      responses:
        204:
          description: "Success - No Content"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /consumers/{id}/kyc/start:
    post:
      tags:
      - "Consumers"
      description: "Start the KYC full due diligence process.  Returns a token/URL\
        \ used to redirect the user to initiate document collection process."
      operationId: "consumers_id_kyc_start"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InitFullKycProcessResponse"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InitFullKycError"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /consumers/{id}/email/send_verification_code:
    post:
      tags:
      - "Consumers"
      description: "On calling this method, an email is sent directly to the Consumer\
        \ with a link including  a randomly generated verification code.  On clicking\
        \ the link, the recipient will be  redirected to your website.  This email\
        \ can be customised with your brand - contact us  for assistance.  The verification\
        \ code must then be submitted to /email/verify.  The URL  link in the email\
        \ can be updated in the Configuration section of the Innovator Portal.\n"
      operationId: "consumers_id_email_send_verification_code"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendEmailRequest0"
        required: true
      responses:
        204:
          description: "Success - No Content"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - API_Secret_Key: []
  /consumers/{id}/email/verify:
    post:
      tags:
      - "Consumers"
      description: "To verify the Consumer's email address, submit the verification\
        \ code Consumer received via email.\n"
      operationId: "consumers_id_email_verify"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyEmailRequest0"
        required: true
      responses:
        204:
          description: "Success - No Content"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyEmailRequestConflict0"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - API_Secret_Key: []
  /consumers/{id}/get:
    post:
      tags:
      - "Consumers"
      description: "Fetch the details of the consumer linked with the id path parameter.\
        \  The KYC status for the consumer is included in the response to indicate\
        \ what KYC steps are needed."
      operationId: "consumers_id_get"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Consumer"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /consumers/{id}/update:
    post:
      tags:
      - "Consumers"
      description: "Update details (email, mobile number, etc...) of the Consumer\
        \ Identity with the given ID."
      operationId: "consumers_id_update"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateConsumerRequest"
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Consumer"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateConsumerConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /consumers/_/create:
    post:
      tags:
      - "Consumers"
      description: "Create a Consumer Identity to represent a Consumer.  The information\
        \ provided must be accurate as it will be passed on for KYC verification with\
        \ our partner.  Incorrect information may incur a re-processing fee."
      operationId: "consumers_id_create"
      parameters:
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateConsumerRequest"
        required: true
      responses:
        200:
          description: "Success"
          headers:
            create-id:
              $ref: "#/components/headers/create-id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Consumer"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateConsumerConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - API_Secret_Key: []
  /managed_accounts/get:
    post:
      tags:
      - "Managed Accounts"
      description: "Returns all the managed accounts linked to the Authorisation Token,\
        \ and which match the given criteria (if any)"
      operationId: "managed_accounts_get"
      parameters:
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ManagedAccountsFilter"
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedAccounts"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /managed_accounts/{id}/unfreeze:
    post:
      tags:
      - "Managed Accounts"
      description: "Unfreezes a managed account. The block type is automatically set\
        \ to USER."
      operationId: "managed_accounts_id_unfreeze"
      parameters:
      - name: "id"
        in: "path"
        description: "The managed account instance identified by the given ID."
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedAccount"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnfreezeManagedAccountConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /managed_accounts/{id}/statement/get:
    post:
      tags:
      - "Managed Accounts"
      description: "Returns a list of transactions against this managed account, with\
        \ the matching criteria (if any)"
      operationId: "managed_accounts_id_statement_get"
      parameters:
      - name: "id"
        in: "path"
        description: "The managed account instance identified by the given ID."
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StatementRequest"
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Statement"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatementConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /managed_accounts/{id}/remove:
    post:
      tags:
      - "Managed Accounts"
      description: "Sets a managed account as inactive. Unlike block, this action\
        \ is not reversible."
      operationId: "managed_accounts_id_remove"
      parameters:
      - name: "id"
        in: "path"
        description: "The managed account instance identified by the given ID."
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedAccount"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveManagedAccountConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /managed_accounts/{id}/get:
    post:
      tags:
      - "Managed Accounts"
      description: "Returns all the details of the managed account which matches id"
      operationId: "managed_accounts_id_get"
      parameters:
      - name: "id"
        in: "path"
        description: "The managed account instance identified by the given ID."
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedAccount"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /managed_accounts/{id}/update:
    post:
      tags:
      - "Managed Accounts"
      description: "Update the friendly name for the managed account"
      operationId: "managed_accounts_id_update"
      parameters:
      - name: "id"
        in: "path"
        description: "The managed account instance identified by the given ID."
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateManagedAccountRequest"
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedAccount"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateManagedAccountConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /managed_accounts/{id}/destroy:
    post:
      tags:
      - "Managed Accounts"
      description: "Please use remove api."
      operationId: "managed_accounts_id_destroy"
      parameters:
      - name: "id"
        in: "path"
        description: "The managed account instance identified by the given ID."
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DestroyManagedAccountRequest"
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedAccount"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestroyManagedAccountConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      deprecated: true
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /managed_accounts/_/create:
    post:
      tags:
      - "Managed Accounts"
      description: "Creates a managed account for a Corporate or Consumer Identity,\
        \ which is linked to a Managed Account Profile.  Profiles determine restrictions\
        \ for linked entities. Returns full details of the created managed account."
      operationId: "managed_accounts_id_create"
      parameters:
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateManagedAccountRequest"
        required: true
      responses:
        200:
          description: "Success"
          headers:
            create-id:
              $ref: "#/components/headers/create-id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedAccount"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateManagedAccountConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /managed_accounts/{id}/freeze:
    post:
      tags:
      - "Managed Accounts"
      description: "Freezes a managed account. The block type is automatically set\
        \ to USER."
      operationId: "managed_accounts_id_freeze"
      parameters:
      - name: "id"
        in: "path"
        description: "The managed account instance identified by the given ID."
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedAccount"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreezeManagedAccountConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /managed_cards/get:
    post:
      tags:
      - "Managed Cards"
      description: "Returns all the cards linked to the Authorisation Token."
      operationId: "managed_cards_get"
      parameters:
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ManagedCardsFilter"
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedCards"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /managed_cards/{id}/unfreeze:
    post:
      tags:
      - "Managed Cards"
      description: "Unfreezes a managed card. The block type is automatically set\
        \ to USER."
      operationId: "managed_cards_id_unfreeze"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedCard"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnfreezeManagedCardConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /managed_cards/{id}/statement/get:
    post:
      tags:
      - "Managed Cards"
      description: "Returns a list of transactions against this managed card, with\
        \ the matching criteria (if any)"
      operationId: "managed_cards_id_statement_get"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StatementRequest"
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Statement"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatementConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /managed_cards/{id}/remove:
    post:
      tags:
      - "Managed Cards"
      description: "Sets a managed card as inactive. Unlike block, this action is\
        \ not reversible."
      operationId: "managed_cards_id_remove"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedCard"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveManagedCardConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /managed_cards/{id}/get:
    post:
      tags:
      - "Managed Cards"
      description: "Returns all the card details of the card - balances, brand, card\
        \ number, cvv, expiry date, status, etc…"
      operationId: "managed_cards_id_get"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedCard"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /managed_cards/{id}/update:
    post:
      tags:
      - "Managed Cards"
      description: "Update the friendly name for the managed card"
      operationId: "managed_cards_id_update"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateManagedCardRequest"
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedCard"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateManagedCardConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /managed_cards/{id}/destroy:
    post:
      tags:
      - "Managed Cards"
      description: "Please use remove api."
      operationId: "managed_cards_id_destroy"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DestroyManagedCardRequest"
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedCard"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestroyManagedCardConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      deprecated: true
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /managed_cards/_/create:
    post:
      tags:
      - "Managed Cards"
      description: "Creates a managed card (virtual card) for the consumer or corporate\
        \ identity which is linked to a Managed Cards Profile.  Profiles determine\
        \ restrictions for linked entities. Returns full details of the created managed\
        \ card."
      operationId: "managed_cards_id_create"
      parameters:
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateManagedCardRequest"
        required: true
      responses:
        200:
          description: "Success"
          headers:
            create-id:
              $ref: "#/components/headers/create-id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedCard"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateManagedCardConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /managed_cards/{id}/freeze:
    post:
      tags:
      - "Managed Cards"
      description: "Freezes a managed card. The block type is automatically set to\
        \ USER."
      operationId: "managed_cards_id_freeze"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedCard"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreezeManagedCardConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /transfers/get:
    post:
      tags:
      - "Transfers"
      description: "Retrieves all the transfer transactions linked to the Authorisation\
        \ Token."
      operationId: "transfers_get"
      parameters:
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransfersFilter"
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfers"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /transfers/{id}/get:
    post:
      tags:
      - "Transfers"
      description: "Retrieve the transfer transaction identified by the given ID."
      operationId: "transfers_id_get"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /transfers/_/execute:
    post:
      tags:
      - "Transfers"
      description: "Transfers funds between instruments (i.e. managed accounts and\
        \ managed cards) of the same Identity (Consumer or Corporate).  A transfer\
        \ is linked to a Transfer Profile which determines the restrictions on the\
        \ transfer.  Returns full details of the created transaction."
      operationId: "transfers_id_execute"
      parameters:
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTransferRequest"
        required: true
      responses:
        200:
          description: "Success"
          headers:
            create-id:
              $ref: "#/components/headers/create-id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTransferConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /send/get:
    post:
      tags:
      - "Send"
      description: "Retrieves all the send transactions linked to the Authorisation\
        \ Token."
      operationId: "send_get"
      parameters:
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendsFilter"
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sends"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /send/{id}/get:
    post:
      tags:
      - "Send"
      description: "Retrieve the send transaction identified by the given ID."
      operationId: "send_id_get"
      parameters:
      - name: "id"
        in: "path"
        required: true
        style: "simple"
        explode: false
        schema:
          type: "integer"
          format: "int64"
      - $ref: "#/components/parameters/call-ref"
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Send"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /send/_/execute:
    post:
      tags:
      - "Send"
      description: "Sends funds between instruments (i.e. managed accounts and managed\
        \ cards) of different Identities (Consumer or Corporate).  A send is linked\
        \ to a Send Profile (configured in the Innovator Portal) which determines\
        \ the restrictions on the send.  Returns full details of the created transaction."
      operationId: "send_id_execute"
      parameters:
      - $ref: "#/components/parameters/call-ref"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSendRequest"
        required: true
      responses:
        200:
          description: "Success"
          headers:
            create-id:
              $ref: "#/components/headers/create-id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Send"
        409:
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSendConflict"
        400:
          description: "Invalid Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInvalidRequest"
        default:
          description: "Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultError"
      security:
      - Auth_Token: []
        API_Secret_Key: []
components:
  schemas:
    LostPasswordValidateRequest:
      required:
      - "email"
      - "nonce"
      type: "object"
      properties:
        email:
          type: "string"
          x-fieldValidation: "required"
        nonce:
          type: "string"
          x-fieldValidation: "required"
    LostPasswordContinueConflict:
      type: "object"
      properties:
        errorCode:
          $ref: "#/components/schemas/LostPasswordContinueConflictErrorCode"
    LostPasswordContinueConflictErrorCode:
      type: "string"
      enum:
      - "PASSWORD_ALREADY_USED"
      - "PASSWORD_TOO_SHORT"
      - "PASSWORD_TOO_LONG"
      - "PASSWORD_TOO_SIMPLE"
      - "PASSWORD_INCORRECT"
    ClientInvalidRequest:
      type: "object"
      properties:
        message:
          maxLength: 255
          type: "string"
          description: "When present helps to identify and fix the problem."
          x-fieldValidation: "size(_,255)"
        validation:
          allOf:
          - $ref: "#/components/schemas/MessageValidation"
          - description: "Description of fields which were invalid."
    MessageValidation:
      type: "object"
      properties:
        invalid:
          type: "boolean"
        fields:
          type: "array"
          items:
            $ref: "#/components/schemas/FieldValidationErrors"
    FieldValidationErrors:
      type: "object"
      properties:
        name:
          type: "string"
        errors:
          type: "array"
          items:
            $ref: "#/components/schemas/FieldValidation"
    FieldValidation:
      type: "object"
      properties:
        type:
          $ref: "#/components/schemas/FieldValidationType"
        params:
          type: "array"
          items:
            type: "string"
    FieldValidationType:
      type: "string"
      enum:
      - "REQUIRED"
      - "HAS_TEXT"
      - "REQUIRES"
      - "SIZE"
      - "RANGE"
      - "IN"
      - "NOT_IN"
      - "REGEX"
      - "EXACTLY"
      - "AT_LEAST"
      - "AT_MOST"
      - "ALL_OR_NONE"
    DefaultError:
      type: "object"
      properties:
        message:
          maxLength: 255
          type: "string"
          description: "When present helps to identify and fix the problem."
          x-fieldValidation: "size(_,255)"
      description: "A default error model in case of errors other than 400, 409 or\
        \ 504."
    LostPasswordStartRequest:
      required:
      - "email"
      type: "object"
      properties:
        email:
          type: "string"
          x-fieldValidation: "required"
    LostPasswordStartConflict:
      type: "object"
      properties:
        errorCode:
          $ref: "#/components/schemas/LostPasswordStartConflictErrorCode"
    LostPasswordStartConflictErrorCode:
      type: "string"
      enum:
      - "MULTIPLE_ACCOUNTS_FOUND"
    LostPasswordContinueRequest:
      required:
      - "email"
      - "nonce"
      - "password"
      type: "object"
      properties:
        email:
          type: "string"
          x-fieldValidation: "required"
        nonce:
          type: "string"
          x-fieldValidation: "required"
        password:
          allOf:
          - $ref: "#/components/schemas/SensitiveString"
          - description: "The actual password value."
            x-fieldValidation: "required"
    SensitiveString:
      type: "object"
      properties:
        value:
          maxLength: 255
          type: "string"
          x-fieldValidation: "size(_,255)"
    LoginWithPasswordRequest:
      required:
      - "code"
      - "password"
      type: "object"
      properties:
        code:
          maxLength: 50
          pattern: "^[a-zA-Z0-9_.*@-]*$|^[a-zA-Z0-9.!#$%&*+\\/=?^_|~-]+@[a-zA-Z0-9_-]+(?:\\\
            .[a-zA-Z0-9_-]+)*$"
          type: "string"
          description: "Username."
          x-fieldValidation: "required size(_,50) regex(^[a-zA-Z0-9_.*@-]*$|^[a-zA-Z0-9.!#$%&*+\\\
            /=?^_|~-]+@[a-zA-Z0-9_-]+(?:\\.[a-zA-Z0-9_-]+)*$)"
        password:
          maxLength: 100
          type: "string"
          description: "User password."
          format: "password"
          x-fieldValidation: "required has_text size(_,100) "
    LoginResult:
      type: "object"
      properties:
        token:
          type: "string"
          description: "A token to be used in the Authorization header for secured\
            \ operations."
        programmeId:
          type: "integer"
          description: "The ID of the configured Programme that represents the Application."
          format: "int64"
        credential:
          $ref: "#/components/schemas/TypeId"
        identity:
          $ref: "#/components/schemas/TypeId"
    TypeId:
      required:
      - "id"
      - "type"
      type: "object"
      properties:
        type:
          maxLength: 50
          pattern: "^[a-zA-Z0-9_-]+$"
          type: "string"
          x-fieldValidation: "required size(_,50) regex(^[a-zA-Z0-9_-]+$)"
        id:
          type: "integer"
          format: "int64"
          x-fieldValidation: "required"
    LoginWithPasswordConflict:
      type: "object"
      properties:
        code:
          $ref: "#/components/schemas/LoginWithPasswordConflictErrorCode"
    LoginWithPasswordConflictErrorCode:
      type: "string"
      enum:
      - "FAILED_LOGIN"
      - "EXPIRED_PASSWORD"
    CreatePasswordIdentityRequest:
      required:
      - "profileId"
      type: "object"
      properties:
        profileId:
          type: "integer"
          description: "The ID of an existing Password Profile to which to link the\
            \ new Password Identity. The configuration defined by the identified Password\
            \ Profile will be used when creating and updating passwords for credentials\
            \ linked to this new Password Identity."
          format: "int64"
          x-fieldValidation: "required"
      description: "The request parameters with which a new Password Identity can\
        \ be created and linked to an existing Password Profile."
    PasswordIdentity:
      type: "object"
      properties:
        id:
          type: "integer"
          description: "The ID of the Password Identity which must be the same as\
            \ the Auth Session Identity that is extended."
          format: "int64"
        profileId:
          type: "integer"
          description: "The ID of an existing Password Profile that extends an Auth\
            \ Session Identity Profile from which the Auth Session Identity corresponding\
            \ to this entity is created."
          format: "int64"
      description: "A Password Identity is an extension of an Auth Session Identity\
        \ and must have the same ID. Credentials that belong to Auth Session Identities\
        \ which are not extended by the Password service are not allowed to create\
        \ and update passwords. Note that a Password Identity can only be linked to\
        \ one Password Profile, but multiple Password Identities can be linked to\
        \ the same Password Profile."
    CreatePasswordIdentityConflict:
      type: "object"
      properties:
        errorCode:
          $ref: "#/components/schemas/CreatePasswordIdentityConflictErrorCode"
    CreatePasswordIdentityConflictErrorCode:
      type: "string"
      enum:
      - "UNRESOLVED_PASSWORD_PROFILE"
      - "PASSWORD_PROFILE_ALREADY_CREATED"
    PasswordInfo:
      required:
      - "credentialId"
      - "credentialType"
      - "identityId"
      type: "object"
      properties:
        credentialId:
          type: "integer"
          description: "The ID of the credential owning this password."
          format: "int64"
          x-fieldValidation: "required"
        credentialType:
          type: "string"
          description: "The type of the credential owning this password."
          x-fieldValidation: "required"
        version:
          minimum: 0
          exclusiveMinimum: false
          type: "integer"
          description: "The password version. The initial value upon password creation\
            \ is zero. This value is incremented everytime the credential's password\
            \ is updated."
          format: "int32"
          x-fieldValidation: "range(0,_)"
        identityId:
          type: "integer"
          description: "The ID of the identity to which the credential owning this\
            \ password belongs."
          format: "int64"
          x-fieldValidation: "required"
        expiryDate:
          minimum: 0
          exclusiveMinimum: false
          type: "integer"
          description: "A millisecond timestamp indicating when this password version\
            \ will expire. If 0, then this password will not expire."
          format: "int64"
          x-fieldValidation: "range(0,_)"
        expiryNotificationDate:
          minimum: 0
          exclusiveMinimum: false
          type: "integer"
          description: "Expiry notification not yet supported."
          format: "int64"
          x-fieldValidation: "range(0,_)"
      description: "Information about a particular version of a password."
    UpdatePasswordRequest:
      required:
      - "oldPassword"
      - "password"
      type: "object"
      properties:
        password:
          allOf:
          - $ref: "#/components/schemas/SensitiveString"
          - description: "The updated password value."
            x-fieldValidation: "required"
        oldPassword:
          allOf:
          - $ref: "#/components/schemas/SensitiveString"
          - description: "The old password value. Must match the credential's existing\
              \ password."
            x-fieldValidation: "required"
      description: "The request parameters with which an existing password can be\
        \ updated. The updated password must satisfy all the update restrictions imposed\
        \ by the corresponding Password Profile configuration for the type of credential\
        \ owning the password."
    UpdatePasswordConflict:
      type: "object"
      properties:
        errorCode:
          $ref: "#/components/schemas/UpdatePasswordConflictErrorCode"
      description: "A conflict error that may arise when updating an existing Password."
    UpdatePasswordConflictErrorCode:
      type: "string"
      enum:
      - "PASSWORD_ALREADY_USED"
      - "PASSWORD_TOO_SHORT"
      - "PASSWORD_TOO_LONG"
      - "PASSWORD_TOO_SIMPLE"
      - "PASSWORD_INCORRECT"
    CreatePasswordRequest:
      required:
      - "credentialType"
      - "identityId"
      - "password"
      type: "object"
      properties:
        credentialType:
          type: "string"
          description: "The type of the credential for which a new password will be\
            \ created."
          x-fieldValidation: "required"
        identityId:
          type: "integer"
          description: "The ID of the identity owning the credential for which a new\
            \ password will be created."
          format: "int64"
          x-fieldValidation: "required"
        password:
          allOf:
          - $ref: "#/components/schemas/SensitiveString"
          - description: "The actual password value."
            x-fieldValidation: "required"
      description: "The request parameters with which a new password is created for\
        \ a credential. The new password will have an initial version of 0 and must\
        \ satisfy any restrctions imposed by the credential type configuration of\
        \ the Password Profile linked to the given identity ID."
    PasswordConflict:
      type: "object"
      properties:
        errorCode:
          $ref: "#/components/schemas/PasswordConflictErrorCode"
      description: "A conflict error that may arise when creating a new Password."
    PasswordConflictErrorCode:
      type: "string"
      enum:
      - "UNRESOLVED_IDENTITY"
      - "PASSWORD_PROFILE_NOT_CONFIGURED_FOR_CREDENTIAL_TYPE"
      - "PASSWORD_TOO_SHORT"
      - "PASSWORD_TOO_LONG"
      - "PASSWORD_TOO_SIMPLE"
      - "PASSWORD_KEY_ALREADY_IN_USE"
      - "PASSWORD_ALREADY_CREATED"
    ValidatePasswordRequest:
      required:
      - "credentialType"
      - "identityProfileId"
      - "password"
      type: "object"
      properties:
        identityProfileId:
          type: "integer"
          description: "The ID of the identity profile for which given password will\
            \ be validated."
          format: "int64"
          x-fieldValidation: "required"
        credentialType:
          type: "string"
          description: "The type of the credential for which given password will be\
            \ validated."
          x-fieldValidation: "required"
        password:
          allOf:
          - $ref: "#/components/schemas/SensitiveString"
          - description: "The actual password value."
            x-fieldValidation: "required"
    ValidatePasswordConflict:
      type: "object"
      properties:
        errorCode:
          $ref: "#/components/schemas/ValidatePasswordConflictErrorCode"
      description: "A conflict error that may arise when creating a new Password."
    ValidatePasswordConflictErrorCode:
      type: "string"
      enum:
      - "UNRESOLVED_IDENTITY"
      - "PASSWORD_PROFILE_NOT_CONFIGURED_FOR_CREDENTIAL_TYPE"
      - "PASSWORD_TOO_SHORT"
      - "PASSWORD_TOO_LONG"
      - "PASSWORD_TOO_SIMPLE"
    SendMobileRequest0:
      required:
      - "mobileCountryCode"
      - "mobileNumber"
      type: "object"
      properties:
        mobileNumber:
          maxLength: 15
          minLength: 1
          pattern: "^[0-9]+$"
          type: "string"
          description: "The user's mobile number (excluding country code) being verified"
          x-fieldValidation: "required size(1,15) regex(^[0-9]+$)"
        mobileCountryCode:
          maxLength: 6
          minLength: 1
          type: "string"
          description: "The country code of the user's mobile number being verified\
            \ (e.g. +44)"
          x-fieldValidation: "required size(1,6)"
    SendMobileRequestConflict:
      type: "object"
      properties:
        errorCode:
          $ref: "#/components/schemas/SendMobileRequestConflictErrorCode"
    SendMobileRequestConflictErrorCode:
      type: "string"
      enum:
      - "INVALID_NONCE_OR_MOBILE"
      - "INVALID_FORMAT_MOBILE_OR_COUNTRY_CODE"
      - "INSUFFICIENT_FUNDS"
      - "SYSTEM_ERROR"
    VerifyMobileRequest1:
      required:
      - "mobileCountryCode"
      - "mobileNumber"
      - "nonce"
      type: "object"
      properties:
        mobileNumber:
          maxLength: 15
          minLength: 1
          pattern: "^[0-9]+$"
          type: "string"
          description: "The user's mobile number (excluding country code) being verified"
          x-fieldValidation: "required size(1,15) regex(^[0-9]+$)"
        mobileCountryCode:
          maxLength: 6
          minLength: 1
          type: "string"
          description: "The country code of the user's mobile number being verified\
            \ (e.g. +44)"
          x-fieldValidation: "required size(1,6)"
        nonce:
          maxLength: 6
          minLength: 4
          type: "string"
          description: "A randomly generated one-time code sent to the user via text\
            \ message (SMS) used to verify the user's mobile number"
          x-fieldValidation: "required size(4,6)"
    VerificationConflict:
      type: "object"
      properties:
        errorCode:
          $ref: "#/components/schemas/VerificationConflictErrorCode"
    VerificationConflictErrorCode:
      type: "string"
      enum:
      - "INVALID_NONCE_OR_EMAIL"
      - "INVALID_NONCE_OR_MOBILE"
      - "INSUFFICIENT_FUNDS"
      - "SYSTEM_ERROR"
    CorporateUser:
      required:
      - "companyPosition"
      - "email"
      - "id"
      - "identity"
      - "mobileCountryCode"
      - "mobileNumber"
      - "name"
      - "secretType"
      - "surname"
      - "title"
      - "type"
      - "username"
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int64"
          x-fieldValidation: "required"
        type:
          allOf:
          - $ref: "#/components/schemas/CorporateUserType"
          - x-fieldValidation: "required"
        identity:
          allOf:
          - $ref: "#/components/schemas/TypeId"
          - x-fieldValidation: "required"
        username:
          maxLength: 50
          pattern: "^[a-zA-Z0-9_.*@-]*$|^[a-zA-Z0-9.!#$%&*+\\/=?^_|~-]+@[a-zA-Z0-9_-]+(?:\\\
            .[a-zA-Z0-9_-]+)*$"
          type: "string"
          x-fieldValidation: "required size(_,50) regex(^[a-zA-Z0-9_.*@-]*$|^[a-zA-Z0-9.!#$%&*+\\\
            /=?^_|~-]+@[a-zA-Z0-9_-]+(?:\\.[a-zA-Z0-9_-]+)*$)"
        title:
          maxLength: 50
          type: "string"
          x-fieldValidation: "required has_text size(_,50)"
        name:
          maxLength: 100
          type: "string"
          x-fieldValidation: "required has_text size(_,100)"
        surname:
          maxLength: 100
          type: "string"
          x-fieldValidation: "required has_text size(_,100)"
        email:
          maxLength: 255
          pattern: "^[a-zA-Z0-9.!#$%&*+\\/=?^_|~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*$"
          type: "string"
          x-fieldValidation: "required size(_,255) regex(^[a-zA-Z0-9.!#$%&*+\\/=?^_|~-]+@[a-zA-Z0-9-]+(?:\\\
            .[a-zA-Z0-9-]+)*$)"
        secretType:
          allOf:
          - $ref: "#/components/schemas/SecretType"
          - x-fieldValidation: "required"
        active:
          type: "boolean"
        companyPosition:
          maxLength: 100
          minLength: 1
          type: "string"
          x-fieldValidation: "required size(1,100)"
        mobileCountryCode:
          maxLength: 6
          minLength: 1
          type: "string"
          x-fieldValidation: "required size(1,6)"
        mobileNumber:
          maxLength: 15
          minLength: 1
          pattern: "^[0-9]+$"
          type: "string"
          x-fieldValidation: "required size(1,15) regex(^[0-9]+$)"
    CorporateUserType:
      type: "string"
      enum:
      - "ROOT"
      - "USER"
    SecretType:
      required:
      - "firstSecretType"
      type: "object"
      properties:
        firstSecretType:
          maxLength: 50
          pattern: "^[a-zA-Z0-9_-]+$"
          type: "string"
          description: "The type of the first secret"
          format: "password"
          x-fieldValidation: "required size(_,50) regex(^[a-zA-Z0-9_-]+$)"
        secondSecretType:
          maxLength: 50
          pattern: "^[a-zA-Z0-9_-]+$"
          type: "string"
          format: "password"
          x-fieldValidation: "size(_,50) regex(^[a-zA-Z0-9_-]+$)"
      description: "Determines what authentication methods should be used.  In general,\
        \ this should have firstSecretType set to *passwords*. In the future will\
        \ allow for secondary authentication mechanisms."
    UpdateCorporateUserRequest:
      type: "object"
      properties:
        title:
          maxLength: 50
          type: "string"
          description: "The title for the user (Mr, Mrs, etc...)"
          x-fieldValidation: "has_text size(_,50)"
        name:
          maxLength: 100
          type: "string"
          description: "The first name of the user"
          x-fieldValidation: "has_text size(_,100)"
        surname:
          maxLength: 100
          type: "string"
          description: "The last name of the user"
          x-fieldValidation: "has_text size(_,100)"
        email:
          maxLength: 255
          pattern: "^[a-zA-Z0-9.!#$%&*+\\/=?^_|~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*$"
          type: "string"
          description: "The email address of the user"
          x-fieldValidation: "size(_,255) has_text regex(^[a-zA-Z0-9.!#$%&*+\\/=?^_|~-]+@[a-zA-Z0-9-]+(?:\\\
            .[a-zA-Z0-9-]+)*$)"
        mobileNumber:
          maxLength: 15
          minLength: 1
          pattern: "^[0-9]+$"
          type: "string"
          description: "The mobile number of the user, excluding country code"
          x-fieldValidation: "size(1,15) regex(^[0-9]+$)"
        mobileCountryCode:
          maxLength: 6
          minLength: 1
          type: "string"
          description: "The country code for the user's mobile number (e.g. +44)"
          x-fieldValidation: "size(1,6)"
        secretType:
          $ref: "#/components/schemas/SecretType"
        companyPosition:
          maxLength: 100
          minLength: 1
          type: "string"
          description: "The user's position/role in the company"
          x-fieldValidation: "has_text size(1,100)"
    UpdateCorporateUserConflict:
      type: "object"
      properties:
        errorCode:
          $ref: "#/components/schemas/UpdateCorporateUserConflictErrorCode"
    UpdateCorporateUserConflictErrorCode:
      type: "string"
      enum:
      - "EMAIL_NOT_UNIQUE"
    CreateCorporateUserRequest:
      required:
      - "companyPosition"
      - "email"
      - "mobileCountryCode"
      - "mobileNumber"
      - "name"
      - "secretType"
      - "surname"
      - "title"
      - "type"
      - "username"
      type: "object"
      properties:
        type:
          allOf:
          - $ref: "#/components/schemas/CorporateUserType"
          - x-fieldValidation: "required not_in(ROOT)"
        username:
          maxLength: 50
          minLength: 1
          type: "string"
          description: "The usernames used by the user to log in to the system"
          x-fieldValidation: "required has_text size(1,50)"
        title:
          maxLength: 50
          type: "string"
          description: "The title for the user (Mr, Mrs, etc...)"
          x-fieldValidation: "required has_text size(_,50)"
        name:
          maxLength: 100
          type: "string"
          description: "The first name of the user"
          x-fieldValidation: "required has_text size(_,100)"
        surname:
          maxLength: 100
          type: "string"
          description: "The last name of the user"
          x-fieldValidation: "required has_text size(_,100)"
        email:
          maxLength: 255
          pattern: "^[a-zA-Z0-9.!#$%&*+\\/=?^_|~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*$"
          type: "string"
          description: "The email address of the user"
          x-fieldValidation: "required size(_,255) regex(^[a-zA-Z0-9.!#$%&*+\\/=?^_|~-]+@[a-zA-Z0-9-]+(?:\\\
            .[a-zA-Z0-9-]+)*$)"
        secretType:
          allOf:
          - $ref: "#/components/schemas/SecretType"
          - x-fieldValidation: "required"
        active:
          type: "boolean"
          description: "Ignore field"
        companyPosition:
          maxLength: 100
          minLength: 1
          type: "string"
          description: "The position/role of the user in the company"
          x-fieldValidation: "required size(1,100)"
        mobileCountryCode:
          maxLength: 6
          minLength: 1
          type: "string"
          description: "The country code of the user's mobile number (e.g. +44)"
          x-fieldValidation: "required size(1,6)"
        mobileNumber:
          maxLength: 15
          minLength: 1
          pattern: "^[0-9]+$"
          type: "string"
          description: "The mobile number of the user, exlcuding country code"
          x-fieldValidation: "required size(1,15) regex(^[0-9]+$)"
    CreateCorporateUserConflict:
      type: "object"
      properties:
        errorCode:
          $ref: "#/components/schemas/CreateCorporateUserConflictErrorCode"
    CreateCorporateUserConflictErrorCode:
      type: "string"
      enum:
      - "SECRET_TYPE_NOT_SUPPORTED_BY_PROFILE"
      - "USERNAME_NOT_UNIQUE"
      - "EMAIL_NOT_UNIQUE"
    SendEmailRequest1:
      required:
      - "emailAddress"
      type: "object"
      properties:
        emailAddress:
          maxLength: 255
          minLength: 6
[...]
