openapi: 3.0.0
# Added by API Auto Mocking Plugin
servers:
  - description: Mashery QA endpoints
    url: https://apigwqa.nbcuni.com/qa
  - description: SwaggerHub API Auto Mocking
    url: https://virtserver.swaggerhub.com/from.digital/MasheryEndpoints/1.0.26
info:
  description: |
    This is guidance document to implement and consume Mashery Endpoints for DEV DMZ, POC stays at version 1.0.8
  version: "1.1.4"
  title: EEP SAP/Mashery Endpoints
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: jairo.narvaez@from.digital
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: utility
    description: Resources containing extra details related to other resources
  - name: profile
    description: Profile / Entitlement Field level resource operations, mainly used for the initial application call.
  - name: widget
    description: Widget resource operations
paths:
  /v1/subwidget:
    post:
      tags:
        - utility
      summary: Get subwidget values
      description: |
        Contains information to fill or generate fields related to a widget based on a triggering field reference and a list of pairs of existing widget fields and values
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subwidget'
        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/INFTY"
        - $ref: "#/components/parameters/SUBTY"
        - $ref: "#/components/parameters/ENDDA"
        - $ref: "#/components/parameters/BEGDA"
        - $ref: "#/components/parameters/SEQNR"
        - $ref: "#/components/parameters/MOLGA"
        - $ref: "#/components/parameters/LANGU"
        - $ref: "#/components/parameters/PAIFIELD"
      requestBody:
        description: All fields that are part of the widget will be passed
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SubwidgetRequest'        
  /v1/dropdown:
    post:
      tags:
        - utility
      summary: Get dropdown values
      description: |
        Contains information to fill dropdown values based on a triggering field reference and a list of pairs of existing widget fields and values
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dropdown'
        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
        - $ref: "#/components/parameters/INFTY"
        - $ref: "#/components/parameters/MOLGA"
        - $ref: "#/components/parameters/FIELD"
        - $ref: "#/components/parameters/ACTION"
      requestBody:
        description: All fields that are configured as dependencies will be passed
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DropdownRequest' 
  /v1/widget/voe:
    get:
      tags:
        - widget
      summary: Verification of Employment Letter PDF download
      description: Payslip list widget allowing users to view and download PDF files
      responses:
        '200':
          description: HEX PDF, intended to be converted back to a Binary, type "application/octet-stream"
          content:
            application/json:
              schema:
                type: object
                properties: 
                  E_VOELETTER: 
                    type: string
                    description: This structure will contain content of VOE letter in hexadecimal format
                    example: 68657861706f6e67
                  E_RETURN:
                      $ref: '#/components/schemas/Error'
      parameters:
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGUOPT"
        - $ref: "#/components/parameters/TEMPLATE"
        - $ref: "#/components/parameters/EFFDATE"
        
        # - $ref: "#/components/parameters/PAYDT"
        # - $ref: "#/components/parameters/PABRJ"
        # - $ref: "#/components/parameters/PABRP"
        # - $ref: "#/components/parameters/PAYID"
        # - $ref: "#/components/parameters/OFFCY"
        # - $ref: "#/components/parameters/OCRTX"
        # - $ref: "#/components/parameters/DOCUMENT_TYPE"
        # - $ref: "#/components/parameters/INPID"
        # - $ref: "#/components/parameters/SRNUM"

  /v1/widget/comp:
    get:
      tags:
        - widget
      summary: Compensation Details
      description: Returns Compensation details for total annual, compensation, Basic pay history, and Bonus history.
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadata'
                    fields: 
                      $ref: '#/components/schemas/CompFields'

        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
        - $ref: "#/components/parameters/STRUCTURE"
                
  /v1/widget/cost:
    get:
      tags:
        - widget
      summary: Cost Assignment Details
      description: Returns Cost Assignment - 9027 details
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/CostFields'

        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
  
  /v1/widget/visa:
    get:
      tags:
        - widget
      summary: Visa details
      description: Returns Visa detail fields
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/VisaFields'

        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
  /v1/widget/personnel:
    get:
      tags:
        - widget
      summary: Personnel details
      description: Returns Personnel (Int. only) detail fields
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/PersonnelFields'

        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"

  /v1/widget/residence:
    get:
      tags:
        - widget
      summary: Residence details
      description: Returns Residence detail fields
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/ResidenceFields'

        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"

  /v1/widget/military:
    get:
      tags:
        - widget
      summary: Military details
      description: Returns Military detail fields
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/MilitaryFields'

        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
    put:
      tags:
        - widget
      summary: Updates military data
      description: |
        Contains enough information to update data
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/MilitaryFields'
        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
      requestBody:
        description: Military entity, only fields updated or added by user that are part of the widget fields or metadata entity will be passed
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/MilitaryWidget'
    # post:
    #   tags:
    #     - widget
    #   summary: creates military data
    #   description: |
    #     Contains enough information to create data
    #   responses:
    #     '200':
    #       description: successful operation
    #       content:
    #         application/json:
    #           schema:
    #             type: array
    #             items:
    #               type: object
    #               properties:
    #                 metadata:
    #                   $ref: '#/components/schemas/WidgetMetadataMulti'
    #                 fields: 
    #                   $ref: '#/components/schemas/MilitaryFields'
    #     '400':
    #       description: Invalid put request
    #       content:
    #         application/json:
    #           schema:
    #             type: array
    #             items:
    #               type: object
    #               properties:
    #                 metadata:
    #                   $ref: '#/components/schemas/ErrorMetadata'
    #   parameters:
    #     - $ref: "#/components/parameters/REQSSO"
    #     - $ref: "#/components/parameters/PERNR"
    #     - $ref: "#/components/parameters/LANGU"
    #   requestBody:
    #     description: Military entity, only fields updated or added by user that are part of the widget fields or metadata entity will be passed
    #     required: true
    #     content:
    #       application/json:
    #         schema:
    #           allOf:
    #           - $ref: '#/components/schemas/MilitaryWidget'
  /v1/widget/w2:
    get:
      tags:
        - widget
      summary: W2 details
      description: Returns W2 detail fields
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/W2Fields'

        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/PERNR"
    post:
      tags:
        - widget
      summary: creates w2 data
      description: |
        Contains enough information to create data
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/W2Fields'
        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/PERNR"
      requestBody:
        description: W2 entity, only fields updated or added by user that are part of the widget fields or metadata entity will be passed
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/W2Widget'

  /v1/widget/w4:
    get:
      tags:
        - widget
      summary: W4 details
      description: Returns W4 Fed and State - 0210 detail fields
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/W4Fields'

        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
    put:
      tags:
        - widget
      summary: Updates w4 data
      description: |
        Contains enough information to update data
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/W4Fields'
        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
        - $ref: "#/components/parameters/SUBTY"
        - $ref: "#/components/parameters/BEGDA"
        - $ref: "#/components/parameters/ENDDA"
        - $ref: "#/components/parameters/SEQNR"
      requestBody:
        description: W4 entity, only fields updated or added by user that are part of the widget fields or metadata entity will be passed
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/W4Widget'
    post:
      tags:
        - widget
      summary: creates w4 data
      description: |
        Contains enough information to update data
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/W4Fields'
        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/SUBTY"
      requestBody:
        description: W4 entity, only fields updated or added by user that are part of the widget fields or metadata entity will be passed
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/W4Widget'
    delete:
      tags:
        - widget
      summary: Deletes widget data
      description: |
        Contains enough information to delete a widget data resource
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
          
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadata'
      parameters:
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/SUBTY"
        - $ref: "#/components/parameters/BEGDA"
        - $ref: "#/components/parameters/ENDDA"
        - $ref: "#/components/parameters/SEQNR"
 
  /v1/widget/bank:
    get:
      tags:
        - widget
      summary: Bank details
      description: Returns bank detail fields
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/BankFields'

        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
    put:
      tags:
        - widget
      summary: Updates bank data
      description: |
        Contains enough information to update data
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/BankFields'
        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
        - $ref: "#/components/parameters/SUBTY"
        - $ref: "#/components/parameters/BEGDA"
        - $ref: "#/components/parameters/ENDDA"
        - $ref: "#/components/parameters/SEQNR"
      requestBody:
        description: Bank entity, only fields updated or added by user that are part of the widget fields or metadata entity will be passed
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BankWidget'
    post:
      tags:
        - widget
      summary: creates bank data
      description: |
        Contains enough information to update data
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/BankFields'
        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/SUBTY"
      requestBody:
        description: Bank entity, only fields updated or added by user that are part of the widget fields or metadata entity will be passed
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BankWidget'
    delete:
      tags:
        - widget
      summary: Deletes widget data
      description: |
        Contains enough information to delete a widget data resource
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadata'
      parameters:
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/SUBTY"
        - $ref: "#/components/parameters/BEGDA"
        - $ref: "#/components/parameters/ENDDA"
        - $ref: "#/components/parameters/SEQNR"
  /v1/widget/payslips:
    get:
      tags:
        - widget
      summary: Payslip List
      description: Payslip list widget allowing users to view and download PDF files
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Payslips'
      parameters:
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
  /v1/widget/payslip:
    get:
      tags:
        - widget
      summary: Payslip PDF
      description: Payslip list widget allowing users to view and download PDF files
      responses:
        '200':
          description: HEX PDF, intended to be converted back to a Binary, type "application/octet-stream"
          content:
            application/json:
              schema:
                type: object
                properties: 
                  T_PAYSLIP: 
                    type: string
                    example: 68657861706f6e67
                  E_RETURN:
                      $ref: '#/components/schemas/Error'
      parameters:
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
        - $ref: "#/components/parameters/PAYDT"
        - $ref: "#/components/parameters/PABRJ"
        - $ref: "#/components/parameters/PABRP"
        - $ref: "#/components/parameters/PAYID"
        - $ref: "#/components/parameters/OFFCY"
        - $ref: "#/components/parameters/OCRTX"
        - $ref: "#/components/parameters/DOCUMENT_TYPE"
        - $ref: "#/components/parameters/INPID"
        - $ref: "#/components/parameters/SRNUM"
  /v1/team:
    get:
      tags:
        - profile
      summary: Team Initialization call
      description: |
        Contains enough information identify the current user when making requests to external services such as SAP through Mashery
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamProfile'
        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/SSO"
        - $ref: "#/components/parameters/LANGU"
  /v1/ssoload:
    get:
      tags:
        - profile
      summary: List of SSOs
      description: |
        Contains a list of all Employee SSOs as well as Manager SSOs
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SSOItem'
              example:
               - '900031301'
               - '900031300'
               - '900031320'
               - '900031330'
               - '200031302'
               - '300031303'
               - '400031304'
               
        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/FLAG"
  /v1/profile:
    get:
      tags:
        - profile
      summary: Initialization call
      description: |
        Contains enough information identify the current user when making requests to external services such as SAP through Mashery
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Profile'
        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/SSO"
        - $ref: "#/components/parameters/LANGU"
  /v1/widget/personal:
    get:
      tags:
        - widget
      summary: Reads widget data
      parameters:
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
        - $ref: "#/components/parameters/REQSSO"
      description: |
        Contains enough information for the widget initialization
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/PersonalFields'
        '400':
          description: Invalid status value
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
    put:
      tags:
        - widget
      summary: Updates widget data
      description: |
        Contains enough information to update data, in contrast to creating, updating data will have an ENDDA parameter
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/PersonalFields'
        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
      parameters:
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
        - $ref: "#/components/parameters/REQSSO"
      requestBody:
        description: Widget entity, only fields updated or added by user that are part of the widget fields or metadata entity will be passed
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/PersonalWidget'
  /v1/widget/address:
    delete:
      tags:
        - widget
      summary: Deletes widget data
      description: |
        Contains enough information to delete a widget data resource
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadata'
      parameters:
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/SUBTY"
        - $ref: "#/components/parameters/BEGDA"
        - $ref: "#/components/parameters/ENDDA"
        - $ref: "#/components/parameters/SEQNR"
    put:
      tags:
        - widget
      summary: Updates widget data
      description: |
        Contains enough information to update data, in contrast to creating, updating data will have an ENDDA parameter
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/AddressFields'
        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadata'
      parameters:
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/SUBTY"
        - $ref: "#/components/parameters/BEGDA"
        - $ref: "#/components/parameters/ENDDA"
        - $ref: "#/components/parameters/SEQNR"
      requestBody:
        description: Widget entity, only fields updated or added by user that are part of the widget fields or metadata entity will be passed
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddressWidget'
    post:
      tags:
        - widget
      summary: Creates widget data
      description: |
        Contains enough information to create  data, creating new data will not have an ENDDA parameter
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/AddressFields'
        '400':
          description: Invalid put request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadata'
      parameters:
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
        - $ref: "#/components/parameters/REQSSO"
        - $ref: "#/components/parameters/SUBTY"
      requestBody:
        description: Widget entity, only fields updated or added by user that are part of the widget fields or metadata entity will be passed
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddressWidget'
    get:
      tags:
        - widget
      summary: Reads widget data
      parameters:
        - $ref: "#/components/parameters/PERNR"
        - $ref: "#/components/parameters/LANGU"
        - $ref: "#/components/parameters/REQSSO"
      description: |
        Contains enough information for the widget initialization
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/WidgetMetadataMulti'
                    fields: 
                      $ref: '#/components/schemas/AddressFields'
        '400':
          description: Invalid status value
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/ErrorMetadata'
externalDocs:
  description: Find out more about Swagger
  url: 'http://swagger.io'
  
  
security:
  - tokenAuth: []         # use the same name as above                      
components:
  securitySchemes:
    tokenAuth:            # arbitrary name for the security scheme
      type: apiKey
      in: header       # can be "header", "query" or "cookie"
      name: api_key  # name of the header, query parameter or cookie 
  parameters:
    FIELD:
      in: query
      name: I_FIELD
      required: true
      schema:
        type: string
        maxLength: 8
      description: Triggering Field ID,obtained through a previous widget
    ACTION:
      in: query
      name: I_ACTION
      required: true
      schema:
        type: string
        maxLength: 8
      description: Type of action, INSERT, ONCLICK, UPDATE
    PAIFIELD:
      in: query
      name: I_PAIFIELD
      required: true
      schema:
        type: string
        maxLength: 8
      description: Triggering Field ID,obtained through a previous widget request
    INFTY:
      in: query
      name: I_INFTY
      required: true
      schema:
        type: string
        maxLength: 8
      description: Infotype code, obtained through a previous widget request
    MOLGA:
      in: query
      name: I_MOLGA
      required: true
      schema:
        type: string
        maxLength: 8
      description: Country code
    LANGU:
      in: query
      name: I_LANGU
      required: true
      schema:
        type: string
        maxLength: 8
      description: Language code e.g. E
    LANGUOPT:
      in: query
      name: I_LANGU
      required: false
      schema:
        type: string
        maxLength: 8
      description: Language code e.g. E
    FLAG:
      in: query
      name: I_FLAG
      required: true
      schema:
        type: string
        maxLength: 1
        enum:
          - "E"
          - "M"
      description: SSO Code
    STRUCTURE:
      in: query
      name: I_STRUCTURE
      required: true
      schema:
        type: string
        maxLength: 16
        enum:
          - "E_TOTCOMP"
          - "T_BASICPAY"
          - "T_BONUSHIST"
      description: RFC Structure to be mapped

    EFFDATE:
      in: query
      name: I_EFFDATE
      required: false
      schema:
        type: string
        maxLength: 8
      description: Effective Date. e.g. 20111130 (YYYYMMDD). If it comes as blank then we will default to system date

    TEMPLATE:
      in: query
      name: I_TEMPLATE
      required: false
      schema:
        type: string
        maxLength: 15
      description: Template ID. If it comes as blank then we will default to Template ID ‘20000057’

    PERNR:
      in: query
      name: I_PERNR
      required: true
      schema:
        type: string
        maxLength: 8
      description: Personnel Number, defines whose data is requested
      
    PAYDT:
      in: query
      name: I_PAYDT
      required: true
      schema:
        type: string
        maxLength: 8
      description: Pay Date e.g. 20111130 (YYYYMMDD). To be displayed on the U.I.
    PABRJ:
      in: query
      name: I_PABRJ
      required: true
      schema:
        type: string
        maxLength: 4
      description: Payroll Year e.g. 2011
    PABRP:
      in: query
      name: I_PABRP
      required: true
      schema:
        type: string
        maxLength: 2
      description: Payroll Period e.g. 45
    PAYID:
      in: query
      name: I_PAYID
      required: true
      schema:
        type: string
        maxLength: 1
      description: Payroll Identifier e.g. B
    OFFCY:
      in: query
      name: I_OFFCY
      required: true
      schema:
        type: string
        maxLength: 1
      description: Off-Cycle Payroll Run e.g. X or blank
    OCRTX:
      in: query
      name: I_OCRTX
      required: true
      schema:
        type: string
        maxLength: 40
      description: Reason for Off-Cycle Payroll. To be displayed on the U.I.
    DOCUMENT_TYPE:
      in: query
      name: I_DOCUMENT_TYPE
      required: true
      schema:
        type: string
        maxLength: 40
      description: Label 
    INPID:
      in: query
      name: I_INPID
      required: true
      schema:
        type: string
        maxLength: 1
      description: Payroll Identifier e.g. B
    SRNUM:
      in: query
      name: I_SRNUM
      required: true
      schema:
        type: string
        maxLength: 2
      description: Simply a straightforward SRNUM
    SSO:
      description: SSO of the eployee whose data is being requested
      in: query
      name: I_SSO
      required: true
      schema:
        type: string
        maxLength: 30
    REQSSO:
      description: Requestor SSO, who is requesting data
      in: query
      name: I_REQSSO
      required: true
      schema:
        type: string
        maxLength: 30
    BEGDA:
      in: query
      name: I_BEGDA
      required: true
      schema:
        type: string
        maxLength: 8
      description: Placeholder/passthrough of data originally obtained from SAP/Mashery through metadata
    ENDDA:
      description: Placeholder/passthrough of data originally obtained from SAP/Mashery through metadata
      in: query
      name: I_ENDDA
      required: true
      schema:
        type: string
        maxLength: 8
    SEQNR:
      description: Placeholder/passthrough of data originally obtained from SAP/Mashery
      in: query
      name: I_SEQNR
      required: true
      schema:
        type: string
        maxLength: 3
    SUBTY:
      description: >
        Subtype, the value depends on the widget:
         * `1` - Bank: Unknown
         * `1` - Address: Permanent Address
         * `7` - Address: Work Address
      in: query
      name: I_SUBTY
      required: true
      schema:
        type: string
        enum:
          - 1
          - 7
        maxLength: 4
  schemas:
    # GenericFieldSet:
    #   type: object
    #   properties:
    #     metadata:
    #       $ref: '#/components/schemas/WidgetMetadata'
    #     fields: 
    #       type: object
    #       properties:
    #         GENERICFIELD:
    #           description: A field
    #           example:  An useful field value
    #           type: string
    SSOItem:
      type: array
      items:
        type: string
    VisaWidget:
      type: object
      properties:
        # metadata:
        #   $ref: '#/components/schemas/WidgetMetadata'
        fields: 
          $ref: '#/components/schemas/VisaFields'     
    ResidenceWidget:
      type: object
      properties:
        # metadata:
        #   $ref: '#/components/schemas/WidgetMetadata'
        fields: 
          $ref: '#/components/schemas/ResidenceFields'
    PersonnelWidget:
      type: object
      properties:
        # metadata:
        #   $ref: '#/components/schemas/WidgetMetadata'
        fields: 
          $ref: '#/components/schemas/PersonnelFields'
    CompWidget:
      type: object
      properties:
        # metadata:
        #   $ref: '#/components/schemas/WidgetMetadata'
        fields: 
          $ref: '#/components/schemas/CompFields'
    CostWidget:
      type: object
      properties:
        # metadata:
        #   $ref: '#/components/schemas/WidgetMetadata'
        fields: 
          $ref: '#/components/schemas/CostFields'
    W2Widget:
      type: object
      properties:
        # metadata:
        #   $ref: '#/components/schemas/WidgetMetadata'
        fields: 
          $ref: '#/components/schemas/W2Fields'
    MilitaryWidget:
      type: object
      properties:
        # metadata:
        #   $ref: '#/components/schemas/WidgetMetadata'
        fields: 
          $ref: '#/components/schemas/MilitaryFields'
    W4Widget:
      type: object
      properties:
        # metadata:
        #   $ref: '#/components/schemas/WidgetMetadata'
        fields: 
          $ref: '#/components/schemas/W4Fields'
    BankWidget:
      type: object
      properties:
        # metadata:
        #   $ref: '#/components/schemas/WidgetMetadata'
        fields: 
          $ref: '#/components/schemas/BankFields'
    PersonalWidget:
      type: object
      properties:
        # metadata:
        #   $ref: '#/components/schemas/WidgetMetadata'
        fields: 
          $ref: '#/components/schemas/PersonalFields'
    AddressWidget:
      type: object
      properties:
        # metadata:
        #   $ref: '#/components/schemas/WidgetMetadata'
        fields: 
          $ref: '#/components/schemas/AddressFields'
    Error:
      description: Error or Status details
      type: object
      properties:
        TYPE:
          type: string
          maxLength: 1
          example: E
          description: >
              Error type:
               * `E` - Error
               * `S` - Success
        # CODE:
        #   type: string
        #   example: "003"
        #   description: Error Code
        MESSAGE:
          type: string
          example: Validation doesnt pass
          description: Error message text
    WidgetMetadata:
      description: any metadata related to the response that could be needed to identify this response when sending a subrequest
      type: object
      properties:
        E_RETURN:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        # BEGDA:
        #   type: string
        #   example: "20180130"
        #   description: Date in YYYYMMDD format
        # ENDDA:
        #   type: string
        #   example: "20180131"
        #   description: Date in YYYYMMDD format
        # SEQNR:
        #   type: string
        #   example: "333"
        #   maxLength: 3
        # # PAIFIELD:
        # #   type: string
        # #   example: field1234
        # SUBTY:
        #   description: Placeholder/passthrough of data originally obtained from SAP/Mashery through metadata
        #   type: integer
        #   example: 1
    WidgetMetadataMulti:
      description: any metadata related to the response that could be needed to identify this response when sending a subrequest
      type: object
      properties:
        E_RETURN:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        BEGDA:
          type: string
          example: "20180130"
          description: Date in YYYYMMDD format
        ENDDA:
          type: string
          example: "20180131"
          description: Date in YYYYMMDD format
        SEQNR:
          type: string
          example: "333"
          maxLength: 3
        SUBTY:
          description: Passthrough of data originally obtained from SAP/Mashery through metadata
          type: integer
          example: 1
        INFTY:
          description: Passthrough of data originally obtained from SAP/Mashery through metadata
          type: integer
          example: 1
    ErrorMetadata:
      description: any metadata related to the response that could be needed to identify this response when sending a subrequest
      type: object
      properties:
        E_RETURN:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    EmployeeData:
      type: object
      required:
        - PERNR
        - LAND1
      properties:
        PERNR:
          description: Personnel id
          example:  "54545454"
          type: string
          maxLength: 8
        STAT2:
          description: >
            Employment Status Code:
             * `0` - Withdrawn
             * `1` - Inactive
             * `2` - Retiree
             * `3` - Active
          example: 3
          type: string
          maxLength: 1
        BUKRS:
          description: Company Code
          example: NBCU
          type: string
          maxLength: 4
        BUKRS_TEXT:
          description: Company Code Text
          example: NBCUniversal
          type: string
          maxLength: 25
        WERKS:
          description: Personnel Area
          example: PERS
          type: string
          maxLength: 4
        WERKS_TEXT:
          description: Personnel Area Text
          example: Best Personnel Area
          type: string
          maxLength: 30
        PERSG:
          description: Employee Group
          example: A
          type: string
          maxLength: 1
        PERSG_TEXT:
          description: Employee Group Text
          example: A Group
          type: string
          maxLength: 20
        PERSK:
          description: Employee Subgroup 
          example: AB
          type: string
          maxLength: 2
        PERSK_TEXT:
          description: Employee Subgroup Text
          example: AB Subgroup
          type: string
          maxLength: 20
        BTRTL:
          description: Personnel Subarea
          example: PERS
          type: string
          maxLength: 4
        BTRTL_TEXT:
          description: Personnel Subarea Text
          example: SUBAREA TWO
          type: string
          maxLength: 15
        ABKRS:
          description: Payroll Area
          example: AB
          type: string
          maxLength: 2
        KOSTL:
          description: Cost Center
          example: COSTCENTER1
          type: string
          maxLength: 10
        KOSTL_TEXT:
          description: Cost Center Text
          example: Cost Center One
          type: string
          maxLength: 40
        ORGEH:
          description: Org Unit
          example: ORGANIZA
          type: string
          maxLength: 8
        ORGEH_TEXT:
          description: Org Unit Text
          example: First Organization Unit
          type: string
          maxLength: 40
        PLANS:
          description: Position
          example: ACCOUNTA
          type: string
          maxLength: 8
        PLANS_TEXT:
          description: Position Text
          example: Accountant
          type: string
          maxLength: 40
        ENAME:
          description: Employee Name
          example: John Doe
          type: string
          maxLength: 40
        BUS_SEGMENT:
          description: Business Segment
          example: EIGTHSEG
          type: string
          maxLength: 8
        BUSSEG_TEXT:
          description: Business Segment Text
          example: 8th Segment
          type: string
          maxLength: 40
        SUBBUS_SEGMENT:
          description: Sub-Business Segment
          example: SUBU
          type: string
          maxLength: 4
        SUBBUS_TEXT:
          description: Sub-Business Segment Text
          example: Subsegment Name
          type: string
          maxLength: 40
        MOLGA:
          description: PA Country Key
          example: US
          type: string
          maxLength: 2
        MOLGA_TEXT:
          description: Text for PA Country Key
          example: USA
          type: string
          maxLength: 15
        LAND1:
          description: ISO 3166-1 alpha-2 Country Code - Work Country Key
          example: US
          type: string
          maxLength: 2
        LAND1_TEXT:
          description: Text for Work Country Key
          example: USA
          type: string
          maxLength: 15
        HRMGR_SSO:
          description: HR Manager
          example: 434343434
          type: string
          maxLength: 30
        HRMGR_NAME:
          description: HR Manager Name
          example: Don Arum
          type: string
          maxLength: 40
        MGR_SSO:
          description: Line Manager SSO
          example: 5454656346
          type: string
          maxLength: 30
        MGR_NAME:
          description: Line Manager Name
          example: Bob King
          type: string
          maxLength: 40
        PAY_MODE:
          description: >
            SAP/ADP Paid Identifier:
             * `SAP` - SAP
             * `ADP` - ADP
          example: SAP
          type: string
          maxLength: 30
        IS_MANAGER:
          description: Manager Indicator Flag
          example: "X"
          type: string
          maxLength: 1
          enum:
            - ""
            - "X"
        EUHREKA_ACCESS:
          description: euHreka access Indicator Flag
          example: "X"
          type: string
          maxLength: 1
          enum:
            - ""
            - "X"

        EMP_SSO:
          description: Employee SSO
          type: string
          maxLength: 30
          
        EMP_BAND:
          description: Employee Band
          type: string
          maxLength: 4
          
        HRMGR_EMAIL:
          description: HR Manager Email
          type: string
          maxLength: 241
          
        HRMGR_POS:
          description: HR Manager Position Text
          type: string
          maxLength: 40
          
        MGR_EMAIL:
          description: Manager Email
          type: string
          maxLength: 241
          
        NOEMERG_FLAG:
          description: No Emergency Address Flag
          type: string
          maxLength: 1
          
        CHECK_FLAG:
          description: Payment Method Check Flag
          type: string
          maxLength: 1
          
        VISAEXP_FLAG:
          description: Visa Expiry Flag
          type: string
          maxLength: 1
          
        ANNIV_YEARS:
          description: Anniversary Years
          type: string
          maxLength: 0
          
        GEM_COUNT:
          description: Number of GEM Received
          type: string
          maxLength: 0
          
        SERV_DATE:
          description: Service Date
          type: string
          maxLength: 10
          
        FIELD01:
          description: Field for future use
          type: string
          maxLength: 50
          
        FIELD02:
          description: Field for future use
          type: string
          maxLength: 50
          
        FIELD03:
          description: Field for future use
          type: string
          maxLength: 50
          
        FIELD04:
          description: Field for future use
          type: string
          maxLength: 50
          
        FIELD05:
          description: Field for future use
          type: string
          maxLength: 50
          
        FIELD06:
          description: Field for future use
          type: string
          maxLength: 50
          
        FIELD07:
          description: Field for future use
          type: string
          maxLength: 50
          
        FIELD08:
          description: Field for future use
          type: string
          maxLength: 50
          
        FIELD09:
          description: Field for future use
          type: string
          maxLength: 50
          
        FIELD10:
          description: Field for future use
          type: string
          maxLength: 50
          
    DropdownOption:
      description: A single dropdown option
      type: object
    # FieldPair:
    #   description: A field id/value pair
    #   type: object
    DirectReport:
      description: A single direct report item data
      type: object
      required:
        - PERNR
      properties:
        PERNR:
          type: string
          description: Personnel ID
        ENAME:
          type: string
          description: Display Name
        SSO:
          type: string
          description: SSO
        ANNIV_DATE:
          type: string
          description: Direct Report Anniversary Date
        DOB:
          type: string
          description: Direct Report Date of Birth
    TeamMember:
      description: A single direct report item data
      type: object
      properties:
        ENAME:
          type: string
          description: Display Name
        EMP_POS:
          type: string
          description: EMP_POS
        ANNIV_DATE:
          type: string
          description: Direct Report Anniversary Date
        BIRTH_DATE:
          type: string
          description: Direct Report Date of Birth
        GEM_COUNT:
          type: string
          description: GEM_COUNT
        SSO:
          type: string
          description: SSO
        PERNR:
          type: string
          description: PERNR
    PayslipKey:
      description: A single direct report item data
      type: object
      properties:
        PAYDT:
          type: string
          description: Pay Date e.g. 20111130 (YYYYMMDD). To be displayed on the U.I.
          maxLength: 8
        PABRJ:
          type: string
          description: Payroll Year e.g. 2011
          maxLength: 4
        PABRP:
          type: string
          description: Payroll Period e.g. 45
          maxLength: 2
        PAYID:
          type: string
          description: Payroll Identifier e.g. B
          maxLength: 1
        OFFCY:
          type: string
          description: Off-Cycle Payroll Run e.g. X or blank
          maxLength: 1
        OCRTX:
          type: string
          description: Reason for Off-Cycle Payroll. To be displayed on the U.I.
          maxLength: 40
        DOCUMENT_TYPE:
          type: string
          description: Label 
          maxLength: 40
        INPID:
          type: string
          description: Payroll Identifier e.g. B
          maxLength: 1
        SRNUM:
          type: string
          description: Simply a straightforward SRNUM
          maxLength: 2
    Payslips:
      description: Profile object intended to be obtained through an initialization call
      type: object
      properties:
        E_RETURN:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        T_PAYLIST:
          type: array
          items:
            $ref: '#/components/schemas/PayslipKey'
    Subwidget:
      description: Subwidget values
      type: object
      properties:
        E_RETURN:
          type: object
        T_FIELDS:
          type: object
          properties:
            item:
              type: array
              items:
                $ref: '#/components/schemas/DropdownOption'
              example:
                - ZFIELDNAME : ANZHL
                  ZFIELDVALUE: 0.0
                - ZFIELDNAME : BANKA
                  ZFIELDVALUE : CHEVY CHASE FSB
    Dropdown:
      description: Dropdown values
      type: object
      properties:
        E_RETURN:
          type: object
        T_DROPDOWNS:
          type: object
          properties:
            item:
              type: array
              items:
                $ref: '#/components/schemas/DropdownOption'
              example:
                - ID : N
                  TEXT: Does not have a disability
                  FLAG: X
                - ID : A
                  TEXT : Does not wish to answer
                  FLAG : X

                    
    TeamProfile:
      description: Team Profile object intended to be obtained through an initialization call
      type: object
      properties:
        T_DIRECTREPORTS:
          type: array
          items:
            $ref: '#/components/schemas/TeamMember'
          example:
            - ENAME: Jane Doe
              EMP_POS: Position X
              ANNIV_DATE: 00000000
              BIRTH_DATE: 00000000
              GEM_COUNT: 10
              SSO: 42457556
              PERNR: 3423434
    Profile:
      description: Profile object intended to be obtained through an initialization call
      type: object
      properties:
        # E_RETURN:
        #   $ref: '#/components/schemas/Error'
        E_EMPDATA:
          $ref: '#/components/schemas/EmployeeData'
        T_DIRECTREPORTS:
          type: array
          items:
            $ref: '#/components/schemas/DirectReport'
          example:
            - PERNR: 3423434
              ENAME: Jane Doe
              SSO: 42457556
              ANNIV_DATE: 00000000
              DOB: 00000000
    PersonalFields:
      type: object
      properties:
        ANRED:
          description: >
            Form-of-address key:
             * `1` - Mr
             * `2` - Mrs
             * `3` - Miss
             * `4` - Ms
          example:  '1'
          type: string
          maxLength: 1
        ANRED_TEXT:
          description: Form-of-address key Text
          example:  ''
          type: string
          maxLength: 40
        FNAMK:
          description: First name (Katakana)
          example:  ''
          type: string
          maxLength: 40
        FNAMR:
          description: First Name (Romaji)
          example:  ''
          type: string
          maxLength: 40
        GBPAS:
          description: Date of Birth According to Passp
          example:  ''
          type: string
          maxLength: 10
        GESCH_TEXT:
          description: Gender (unknown length)
          example:  ''
          type: string
          maxLength: 40
        INITS:
          description: Initials
          example:  ''
          type: string
          maxLength: 10
        INSTY:
          description: >
            Provisional INSEE number type:
             * `1` - Provisional
             * `2` - Provisional TG
          example:  ''
          type: string
          maxLength: 1
        INSTY_TEXT:
          description: Provisional INSEE number type Text
          example:  ''
          type: string
          maxLength: 40
        LNAMK:
          description: Last name (Katakana)
          example:  ''
          type: string
          maxLength: 255
        LNAMR:
          description: Last Name (Romaji)
          example:  ''
          type: string
          maxLength: 40
        NACH2:
          description: Second name
          example:  ''
          type: string
          maxLength: 40
        NAMZU:
          description: Other title (unknown length)
          example:  ''
          type: string
          maxLength: 255
        NICKK:
          description: Koseki (Katakana)
          example:  ''
          type: string
          maxLength: 40
        NICKR:
          description: Koseki (Romaji)
          example:  ''
          type: string
          maxLength: 40
        NUMSS:
          description: SI Number (France)
          example:  ''
          type: string
          maxLength: 10
        TITEL:
          description: Title (unknown length)
          example:  ''
          type: string
          maxLength: 40
        TITL2:
          description: Second Title (unknown length)
          example:  ''
          type: string
          maxLength: 40
        VORS2:
          description: Second Name Prefix
          example:  ''
          type: string
          maxLength: 15
        VORSW:
          description: Name prefix
          example:  ''
          type: string
          maxLength: 15
        ZID_TYPE:
          description: Document type (unknown length)
          example:  ''
          type: string
          maxLength: 40
        ZID_TYPE_TEXT:
          description: Document type Text
          example:  ''
          type: string
          maxLength: 40
        ZZREGNAME:
          description: Koseki (Kanji)
          example:  ''
          type: string
          maxLength: 40
        RECOG_SERV:
          description: Recognized Service Date
          example:  ''
          type: string
          maxLength: 255
        ADJUS_SERV:
          description: Adjusted Service Date
          example:  ''
          type: string
          maxLength: 10
        NATSS:
          description: SI Number
          example:  ''
          type: string
          maxLength: 10
        DISAB:
          description: >
            Disability Status - Section 503(US):
             * `` - Not informed/unknown
             * `X` - Has a disability (or previously had one)
             * `N` - Does not have a disability
             * `A` - Does not wish to answer
          example:  ''
          type: string
          maxLength: 255
        DISAB_TEXT:
          description: Disability Status Text
          example:  ''
          type: string
          maxLength: 120
        USRID_SSO:
          description: SSO ID
          example:  ''
          type: string
          maxLength: 10
        USRID_ADP:
          description: ADP ID
          example:  ''
          type: string
          maxLength: 10
        MATRL:
          description: Local Registration Number
          example:  ''
          type: string
          maxLength: 10
        ALNAM:
          description: Alternate Name
          example:  ''
          type: string
          maxLength: 60
        VORNA:
          description: First Name
          example:  John Dooe
          type: string
          maxLength: 40
        MIDNM:
          description: Middle Name
          example:  Paul
          type: string
          maxLength: 40
        NACHN:
          description: Last Name
          example:  Doe
          type: string
          maxLength: 40
        GBDAT:
          description: Date of Birth in YYYYMMDD format
          example:  20181030
          type: string
          format: date
          maxLength: 10
        GESCH:
          description: >
              Gender:
               * `1` - Male
               * `2` - Female
          example:  1
          type: string
          maxLength: 1
        PERID:
          description: ID Number. i.e. SSN (only US) to be formatted as XXX-XX-XXXX
          example:  000-00-0000
          type: string
          maxLength: 20
        RUFNM:
          description: Prefered First Name
          example:  RUFNM
          type: string
          maxLength: 40
        USRID_LONG:
          description: Corporate Email address
          example:  john@doe.om
          type: string
          format: email
          maxLength: 241
    SubwidgetRequest:
      type: object
      properties:
        T_FIELDS:
          type: object
          properties:
            item:
              type: array
              items:
                $ref: '#/components/schemas/DropdownOption'
              example:
                - ZFIELDNAME : BANKL
                  ZFIELDVALUE: 255071982
    DropdownRequest:
      type: object
      properties:
        T_DEPFIELDS:
          type: object
          properties:
            item:
              type: array
              items:
                $ref: '#/components/schemas/DropdownOption'
              example:
                - DEPFIELD : ANRED
                  VALUE: 1
    MilitaryFields:
      type: object
      properties:
        AFUS:
          description: Armed forces of US
          example:  NoExample
          type: string
          maxLength: 1
        NOAA:
          description: NOAA
          example:  NoExample
          type: string
          maxLength: 1
        USPHS:
          description: USPHS
          example:  NoExample
          type: string
          maxLength: 1
        NOTSER:
          description: Not Served
          example:  NoExample
          type: string
          maxLength: 1
        RESER:
          description: Reservist
          example:  NoExample
          type: string
          maxLength: 1
        NGANG:
          description: National Guard/Air National Guard
          example:  NoExample
          type: string
          maxLength: 1
        CURRSER:
          description: Currently serving
          example:  NoExample
          type: string
          maxLength: 1
        NOTSERNG:
          description: Not Serving
          example:  NoExample
          type: string
          maxLength: 1
        YESDP:
          description: Spouse/Domestic Yes
          example:  NoExample
          type: string
          maxLength: 1
        NODP:
          description: Spouse/Domestic No
          example:  NoExample
          type: string
          maxLength: 1
        ADSP:
          description: Active Duty Spouse/Partner
          example:  NoExample
          type: string
          maxLength: 1
        NGRSP:
          description: National Guard/Reservist Spouse/Partner
          example:  NoExample
          type: string
          maxLength: 1
          
    CostFields:
      type: object
      properties:
        AUFNR:
          description: Order
          example:  NoExample
          type: string
          maxLength: 12
        AUFNR_TEXT:
          description: Order Text
          example:  NoExample
          type: string
          maxLength: 40
        KBLNR:
          description: Earmarked Funds
          example:  NoExample
          type: string
          maxLength: 10
        KBLNR_TEXT:
          description: Earmarked Funds Text
          example:  NoExample
          type: string
          maxLength: 50
        KBLPOS:
          description: Document item
          example:  NoExample
          type: string
          maxLength: 3
        KBLPOS_TEXT:
          description: Document item Text
          example:  NoExample
          type: string
          maxLength: 50
        KOSTL:
          description: Cost Center
          example:  NoExample
          type: string
          maxLength: 10
        KOSTL_TEXT:
          description: Cost Center Text
          example:  NoExample
          type: string
          maxLength: 20
        PRCTR:
          description: Profit Center
          example:  NoExample
          type: string
          maxLength: 10
        PRCTR_TEXT:
          description: Profit Center Text
          example:  NoExample
          type: string
          maxLength: 20
        PSPNR:
          description: WBS Element
          example:  NoExample
          type: string
          maxLength: 8
        PSPNR_TEXT:
          description: WBS Element Text
          example:  NoExample
          type: string
          maxLength: 40
        SAKNR:
          description: G/L Account
          example:  NoExample
          type: string
          maxLength: 10
        SAKNR_TEXT:
          description: G/L Account Text
          example:  NoExample
          type: string
          maxLength: 50
          
          
    CompFields:
      type: object
      properties:
        ANSAL:
          description: Annual Base Salary for E_TOTCOMP Salary for T_BASICPAY
          example:  NoExample
          type: string
          maxLength: 11
        BTYPE:
          description: Bonus Plan Type for E_TOTCOMP or Plan Type for T_BONUSHIST
          example:  NoExample
          type: string
          maxLength: 12
        ZBPLAN:
          description: Bonus Plan Name
          example:  NoExample
          type: string
          maxLength: 40
        TBONUS:
          description: Target Bonus
          example:  NoExample
          type: string
          maxLength: 7
        TBONUSAMT:
          description: Target Bonus Amount
          example:  NoExample
          type: string
          maxLength: 11
        TTCASH:
          description: Target Total Cash
          example:  NoExample
          type: string
          maxLength: 11
        WAERS:
          description: Currency
          example:  NoExample
          type: string
          maxLength: 5
        TARGET_LTI:
          description: Target LTIP/LTI
          example:  NoExample
          type: string
          maxLength: 12
        LASTUPD_DATE:
          description: Last update date, value from E_TOTCOMP will be appended to any of the three possible structures
          example:  NoExample
          type: string
          maxLength: 8
        BONUSAMT_FIXED:
          description: Fixed Bonus Amount
          example:  NoExample
          type: string
          maxLength: 11
        SICBO:
          description: SIC Bonus Mix
          example:  NoExample
          type: string
          maxLength: 2
        SICBA:
          description: SIC Base Mix
          example:  NoExample
          type: string
          maxLength: 2
        BEGDA:
          description: Date
          example:  NoExample
          type: string
          maxLength: 8
        RTEXT:
          description: Reason
          example:  NoExample
          type: string
          maxLength: 30
        POS_TEXT:
          description: Position Title
          example:  NoExample
          type: string
          maxLength: 40
        PERCENTAGE:
          description: Percentage Inc.
          example:  NoExample
          type: string
          maxLength: 7
        CALYR:
          description: Perf Year
          example:  NoExample
          type: string
          maxLength: 4
        BETRG:
          description: Award Amount
          example:  NoExample
          type: string
          maxLength: 13
        LTI_WAERS:
          description:  5 Chars similar to WAERS field
          example:  USD
          type: string
          maxLength: 5
        TDIRECT:
          description: 20 Chars similar to TTCASH field
          example:  NoExample
          type: string
          maxLength: 20
    W2Fields:
      type: object
      properties:
        DATUM:
          description: Request Date
          example:  NoExample
          type: string
          maxLength: 10
        YEAR_START:
          description: Year Start
          example:  NoExample
          type: string
          maxLength: 4
        YEAR_END:
          description: Year End
          example:  NoExample
          type: string
          maxLength: 4
        PERM_ADDR:
          description: Send to your home address
          example:  NoExample
          type: string
          maxLength: 1
        STRAS:
          description: Street
          example:  NoExample
          type: string
          maxLength: 60
        LOCAT:
          description: Addr Line 2
          example:  NoExample
          type: string
          maxLength: 40
        ORT01:
          description: City
          example:  NoExample
          type: string
          maxLength: 40
        PSTLZ:
          description: Zip Code
          example:  NoExample
          type: string
          maxLength: 10
        STATE:
          description: State
          example:  NoExample
          type: string
          maxLength: 3
        LANDX:
          description: Country
          example:  NoExample
          type: string
          maxLength: 15
        FAX:
          description: Send to the fax number below
          example:  NoExample
          type: string
          maxLength: 1
        FAX_INPUT:
          description: Fax Number
          example:  NoExample
          type: string
          maxLength: 30

    W4Fields:
      type: object
      properties:
        AMTEX:
          description: Exemption Amount
          example:  NoExample
          type: string
          maxLength: 9
        EXAMT:
          description: Additional Amount
          example:  NoExample
          type: string
          maxLength: 9
        EXIND:
          description: Tax Exempt Indicator
          example:  N
          type: string
          maxLength: 1
        EXIND_TEXT:
          description: Tax Exempt Indicator Text
          example:  NoExample
          type: string
          maxLength: 60
        FRMNR:
          description: Formula Number
          example:  N
          type: string
          maxLength: 1
        FRMNR_TEXT:
          description: Formula Number Text
          example:  NoExample
          type: string
          maxLength: 35
        NBREX:
          description: No. of Allowances
          example:  No
          type: string
          maxLength: 2
        TAURT:
          description: Tax auth record type
          example:  NoEx
          type: string
          maxLength: 4
        TAURT_TEXT:
          description: Tax auth record type Text
          example:  NoExample
          type: string
          maxLength: 30
        TXSTA:
          description: Filing Status
          example:  No
          type: string
          maxLength: 2
        TXSTA_TEXT:
          description: Filing Status Text
          example:  NoExample
          type: string
          maxLength: 40
        ADEXA:
          description: Additional Exemption Amount
          example:  NoExample
          type: string
          maxLength: 9
        ADEXN:
          description: Additional Allowance
          example:  No
          type: string
          maxLength: 2
        DEPEX:
          description: No. Dependent Exemptions
          example:  No
          type: string
          maxLength: 2
        EXPCT:
          description: Additional percent
          example:  NoExa
          type: string
          maxLength: 5
        PEREX:
          description: No. Personal Exemptions
          example:  No
          type: string
          maxLength: 2
        MULT_JOBS_IND:
          description: Only two jobs with similar pay
          example:  X
          type: string
          maxLength: 1
        DEPS_TOTAL_AMT:
          description: Credits for dep.
          example:  110
          type: string
          maxLength: 15
        OTHER_INC_AMT:
          description: Other income
          example:  123
          type: string
          maxLength: 15
        DEDUCT_AMT:
          description: Deductions
          example:  323
          type: string
          maxLength: 15
    ResidenceFields:
      type: object
      properties:
        RESIS:
          description: Residence Status
          example:  NoExample
          type: string
          maxLength: 1
        RESIS_TEXT:
          description: Residence Status
          example:  NoExample
          type: string
          maxLength: 25
    PersonnelFields:
      type: object
      properties:
        AUTH1:
          description: Issuing Authority
          example:  NoExample
          type: string
          maxLength: 30
        DOCN1:
          description: Document Issuing Number
          example:  NoExample
          type: string
          maxLength: 20
        EXPID:
          description: Expiry date
          example:  NoExample
          type: string
          maxLength: 10
        FPDAT:
          description: Issuing date
          example:  NoExample
          type: string
          maxLength: 10
        ICCOL:
          description: ID Color
          example:  NoExample
          type: string
          maxLength: 15
        ICNUM:
          description: ID Number
          example:  NoExample
          type: string
          maxLength: 30
        ICOLD:
          description: Old IC Number
          example:  NoExample
          type: string
          maxLength: 20
        ICTYP:
          description: ID Type
          example:  NoExample
          type: string
          maxLength: 2
        ICTYP_TEXT:
          description: ID Type Text
          example:  NoExample
          type: string
          maxLength: 30
        IDCOT:
          description: Country of ID
          example:  NoExample
          type: string
          maxLength: 3
        IDCOT_TEXT:
          description: Country of ID Text
          example:  NoExample
          type: string
          maxLength: 40
        ISCOT:
          description: Country of issue
          example:  NoExample
          type: string
          maxLength: 3
        ISCOT_TEXT:
          description: Country of issue Text
          example:  NoExample
          type: string
          maxLength: 40
        ISSPL:
          description: Place of Issue
          example:  NoExample
          type: string
          maxLength: 30
    VisaFields:
      type: object
      properties:
        VISAT:
          description: Visa Type
          example:  NoExample
          type: string
          maxLength: 4
        VISAT_TEXT:
          description: Visa Type
          example:  NoExample
          type: string
          maxLength: 30
        VINUM:
          description: Visa Number
          example:  NoExample
          type: string
          maxLength: 25
        AUSGD:
          description: Visa Start Date
          example:  NoExample
          type: string
          maxLength: 8
        ABLAD:
          description: Visa Expiration Date
          example:  NoExample
          type: string
          maxLength: 8
        STAMP:
          description: I94 Stamp Expiry Date
          example:  NoExample
          type: string
          maxLength: 8
        SPONS:
          description: NBCU Sponsor Flag
          example:  NoExample
          type: string
          maxLength: 1
        CNTRY:
          description: Country of Citizenship
          example:  NoExample
          type: string
          maxLength: 3
        CNTRY_TEXT:
          description: Country of Citizenship Text
          example:  NoExample
          type: string
          maxLength: 40
        SCNTR:
          description: Second Country of Citizenship
          example:  NoExample
          type: string
          maxLength: 3
        SCNTR_TEXT:
          description: Second Country of Citizenship Text
          example:  NoExample
          type: string
          maxLength: 40
    BankFields:
      type: object
      properties:
        ANZHL:
          description: Percentage
          example:  na
          type: string
          maxLength: 5
        BANKA:
          description: Bank Name
          example:  Capital Fargo
          type: string
        BANKL:
          description: Bank Key
          example:  na
          type: string
          maxLength: 15
        BANKN:
          description: Bank Account
          example:  na
          type: string
          maxLength: 18
        BANKS:
          description: Bank Country
          example:  na
          type: string
        BANKS_TEXT:
          description: Bank Country text
          example:  na
          type: string
          maxLength: 40
        BETRG:
          description: Amount
          example:  na
          type: string
          maxLength: 15
        BKONT:
          description: Bank control key
          example:  na
          type: string
        BKONT_TEXT:
          description: Bank control key Text
          example:  na
          type: string
          maxLength: 40
        BKORT:
          description: City
          example:  na
          type: string
          maxLength: 25
        BKPLZ:
          description: Postal Code/City
          example:  na
          type: string
          maxLength: 10
        EMFTX:
          description: Payee
          example:  na
          type: string
          maxLength: 40
        IBAN:
          description: IBAN
          example:  na
          type: string
          maxLength: 34
        WAERS:
          description: Payment currency
          example:  na
          type: string
          maxLength: 5
        ZLSCH:
          description: Payment method
          example:  na
          type: string
        ZLSCH_TEXT:
          description: Payment method Text
          example:  na
          type: string
          maxLength: 40
        PSKTO:
          description: Post Bank Account No
          example:  na
          type: string
          maxLength: 16
    AddressFields:
      type: object
      properties:
        ZZRELAT:
          description: Unknown field
          type: string
        ZZRELAT_TEXT:
          description: Unknown field
          type: string
        RCTVC:
          description: Unknown field
          type: string
        STRAS:
          description: Street and House Number
          example:  742 Evergreen Terrace
          type: string
          maxLength: 60
        LOCAT:
          description: 2nd Address Line
          example:  Apt 3
          type: string
          maxLength: 40
        ORT01:
          description: City (Dropdown for Italy)
          example:  LA
          type: string
          maxLength: 40
        LAND1:
          description: Country
          example:  US
          type: string
          maxLength: 3
        LAND1_TEXT:
          description: Country Text
          example:  United States
          type: string
          maxLength: 40
        STATE:
          description: Region
          example:  CA
          type: string
          maxLength: 3
        STATE_TEXT:
          description: Region Text 
          example:  California
          type: string
          maxLength: 40
        PSTLZ:
          description: Zip Code
          example:  90005
          type: string
          maxLength: 10
        TELNR:
          description: Telephone Number
          example:  234567910
          type: string
          maxLength: 14
        BEGDA:
          description: Start Date in YYYYMMDD format
          example: 20180724
          type: string
          format: date
        ENDDA:
          description: End Date in YYYYMMDD format
          example:  20180725
          type: string
          format: date
        ORT02:
          description: District
          example:  Barking and Dagenham
          type: string
          maxLength: 40
        NAME2:
          description: Contact Name
          example:  Herbie Watson
          type: string
          maxLength: 40
        ADR03:
          description: Street 2
          example:  N123
          type: string
          maxLength: 40
        ADR04:
          description: Street 3
          example:  N321
          type: string
          maxLength: 40
        BLDNG:
          description: Building code
          example:  904
          type: string
          maxLength: 10
        CONKK:
          description: Contact person (katakana)
          example:  ハイロ 
          type: string
          maxLength: 40
        COUNC:
          description: County code
          example:  +1
          type: string
        COUNC_TEXT:
          description: County code text
          example:  +1 
          type: string
          maxLength: 40
        FLOOR:
          description: Floor
          example:  904
          type: string
          maxLength: 10
        HSNMR:
          description: House number
          example:  904
          type: string
          maxLength: 10
        INSEE:
          description: Municipal city code
          example:  na
          type: string
        MUNIC:
          description: Municipality Key
          example:  na
          type: string
        MUNIC_TEXT:
          description: Municipality Key text
          example:  na
          type: string
          maxLength: 40
        OR1KK:
          description: City (Katakana)
          example:  na
          type: string
          maxLength: 40
        OR2KK:
          description: City/Distr. (Katakana)
          example:  na
          type: string
          maxLength: 40
        POSTA:
          description: Apartment ID
          example:  na
          type: string
          maxLength: 10
        STRDS:
          description: Street Key
          example:  na
          type: string
        STRDS_TEXT:
          description: Street Key Text
          example:  na
          type: string
          maxLength: 10