openapi: 3.0.0
info:
  version: '1'
  title: 'LogiFlow Ship API'
  description: 'quoting, shipping and tracking tools'
servers:
  - url: https://api.logiflow.com/ship/v1
# Added by API Auto Mocking Plugin
  - description: SwaggerHub API Auto Mocking
    url: https://virtserver.swaggerhub.com/LogiFlow-Services/ship/1
  - description: LogiFlow test system
    url: https://testtms.logiflow.com/ship/v1
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
  schemas:
    paymentTermType:
      type: string
      enum:
      - "outbound prepaid"
      - "outbound collect"
      - "inbound collect"
      - "third party prepaid"
      - "third party collect"
    referenceNumber:
      type: object
      required:
      - type
      - value
      properties:
        typeCode:
          type: string
          enum:
            - "bill_of_lading"
            - "purchase_order"
            - "load"
            - "shipment_identifier"
            - "order_number"
            - "product_identifier"
            - "seal_number"
            - "return_authorization"
            - "account_identifier"
            - "trailer"
            - "work_order"
            - "allocation"
            - "other"
        typeDescription:
          type: string
          description: "description of type (for when typeCode is other)"
        value:
          type: string
    packageType:
      type: string
      description: "the type of package for the package line item"
      enum:
        - "bag"
        - "bale"
        - "box"
        - "bucket"
        - "pail"
        - "bundle"
        - "can"
        - "carton"
        - "case"
        - "coil"
        - "crate"
        - "cylinder"
        - "each"
        - "flat"
        - "loose"
        - "roll"
        - "tube"
    contact:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        telephone:
          type: string
          description: "telephone number in E.164 or NANP format"
        telephoneCountryCode:
          type: string
        telephoneExtension:
          type: string
        email:
          type: string
        role:
          type: string
    countryCode:
      type: string
      default: "US"
      enum:
        - "AF"
        - "AL"
        - "DZ"
        - "AS"
        - "AD"
        - "AO"
        - "AI"
        - "AQ"
        - "AG"
        - "AR"
        - "AM"
        - "AW"
        - "AU"
        - "AT"
        - "AZ"
        - "BS"
        - "BH"
        - "BD"
        - "BB"
        - "BY"
        - "BE"
        - "BZ"
        - "BJ"
        - "BM"
        - "BT"
        - "BO"
        - "BQ"
        - "BA"
        - "BW"
        - "BV"
        - "BR"
        - "IO"
        - "BN"
        - "BG"
        - "BF"
        - "BI"
        - "CV"
        - "KH"
        - "CM"
        - "CA"
        - "KY"
        - "CF"
        - "TD"
        - "CL"
        - "CN"
        - "CX"
        - "CC"
        - "CO"
        - "KM"
        - "CD"
        - "CG"
        - "CK"
        - "CR"
        - "HR"
        - "CU"
        - "CW"
        - "CY"
        - "CZ"
        - "CI"
        - "DK"
        - "DJ"
        - "DM"
        - "DO"
        - "EC"
        - "EG"
        - "SV"
        - "GQ"
        - "ER"
        - "EE"
        - "SZ"
        - "ET"
        - "FK"
        - "FO"
        - "FJ"
        - "FI"
        - "FR"
        - "GF"
        - "PF"
        - "TF"
        - "GA"
        - "GM"
        - "GE"
        - "DE"
        - "GH"
        - "GI"
        - "GR"
        - "GL"
        - "GD"
        - "GP"
        - "GU"
        - "GT"
        - "GG"
        - "GN"
        - "GW"
        - "GY"
        - "HT"
        - "HM"
        - "VA"
        - "HN"
        - "HK"
        - "HU"
        - "IS"
        - "IN"
        - "ID"
        - "IR"
        - "IQ"
        - "IE"
        - "IM"
        - "IL"
        - "IT"
        - "JM"
        - "JP"
        - "JE"
        - "JO"
        - "KZ"
        - "KE"
        - "KI"
        - "KP"
        - "KR"
        - "KW"
        - "KG"
        - "LA"
        - "LV"
        - "LB"
        - "LS"
        - "LR"
        - "LY"
        - "LI"
        - "LT"
        - "LU"
        - "MO"
        - "MG"
        - "MW"
        - "MY"
        - "MV"
        - "ML"
        - "MT"
        - "MH"
        - "MQ"
        - "MR"
        - "MU"
        - "YT"
        - "MX"
        - "FM"
        - "MD"
        - "MC"
        - "MN"
        - "ME"
        - "MS"
        - "MA"
        - "MZ"
        - "MM"
        - "NA"
        - "NR"
        - "NP"
        - "NL"
        - "NC"
        - "NZ"
        - "NI"
        - "NE"
        - "NG"
        - "NU"
        - "NF"
        - "MP"
        - "NO"
        - "OM"
        - "PK"
        - "PW"
        - "PS"
        - "PA"
        - "PG"
        - "PY"
        - "PE"
        - "PH"
        - "PN"
        - "PL"
        - "PT"
        - "PR"
        - "QA"
        - "MK"
        - "RO"
        - "RU"
        - "RW"
        - "RE"
        - "BL"
        - "SH"
        - "KN"
        - "LC"
        - "MF"
        - "PM"
        - "VC"
        - "WS"
        - "SM"
        - "ST"
        - "SA"
        - "SN"
        - "RS"
        - "SC"
        - "SL"
        - "SG"
        - "SX"
        - "SK"
        - "SI"
        - "SB"
        - "SO"
        - "ZA"
        - "GS"
        - "SS"
        - "ES"
        - "LK"
        - "SD"
        - "SR"
        - "SJ"
        - "SE"
        - "CH"
        - "SY"
        - "TW"
        - "TJ"
        - "TZ"
        - "TH"
        - "TL"
        - "TG"
        - "TK"
        - "TO"
        - "TT"
        - "TN"
        - "TR"
        - "TM"
        - "TC"
        - "TV"
        - "UG"
        - "UA"
        - "AE"
        - "GB"
        - "UM"
        - "US"
        - "UY"
        - "UZ"
        - "VU"
        - "VE"
        - "VN"
        - "VG"
        - "VI"
        - "WF"
        - "EH"
        - "YE"
        - "ZM"
        - "ZW"
        - "AX"
    location:
      type: object
      required:
      - postalCode
      properties:
        userIdentifier:
          type: string
          description: "unique identifier representing origin in user's systems"
        logiflowIdentifier:
          type: string
          description: "identifier representing location in LogiFlow's systems"
        companyName:
          type: string
        address:
          type: string
        address2:
          type: string
        city:
          type: string
        stateAbbreviation:
          type: string
        postalCode:
          type: string
        countryCode:
          $ref: "#/components/schemas/countryCode"
        physicalAccessibility:
          type: string
          enum:
          - "business with dock"
          - "business without dock"
          - "residential"
          - "limited access"
          - "trade show"
          - "construction"
          - "farm"
    locationExtraService:
      type: string
      enum:
      - "inside service"
      - "liftgate"
      - "notification"
    currencyCode:
      type: string
      enum:
      - "USD"
      - "CAD"
      - "MXN"
      - "EUR"
    accessorialService:
      type: object
      properties:
        code:
          type: string
          enum:
           - "blind_shipment"
           - "inside_pickup"
           - "inside_delivery"
           - "liftgate_pickup"
           - "liftgate_delivery"
           - "pickup_appointment"
           - "delivery_appointment"
           - "sort_and_seg"
           - "overlength"
        value:
          type: string
          description: "value as pertains to the given accessorial code"
    shippingItemDetail:
      type: object
      properties:
        quantity:
          type: number
          format: float
        purchaseOrderIdentifier:
          type: string
        itemIdentifier:
          type: string
        shippersItemIdentifier:
          type: string
        description:
          type: string
        referenceNumbers:
          type: array
          items:
            $ref: "#/components/schemas/referenceNumber"
    debtorAssociationType:
      type: string
      enum:
      - "outbound prepaid"
      - "outbound collect"
      - "inbound collect"
      - "third party prepaid"
      - "third party collect"
    timeWindow:
      type: object
      properties:
        date:
          type: string
          format: date
          description: "Date in format of YYYY-MM-DD. Leave blank if times of the window generically apply."
        startTime:
          type: string
          description: "window start time, local to the applicable location"
        endTime:
          type: string
          description: "window start time, local to the applicable location"
        description:
          type: string
          description: "description/comments pertaining to window"
    freightClassCode:
      type: string
      enum:
      - "50"
      - "55"
      - "60"
      - "65"
      - "70"
      - "77.5"
      - "85"
      - "92.5"
      - "100"
      - "110"
      - "125"
      - "150"
      - "175"
      - "200"
      - "250"
      - "300"
      - "400"
      - "500"
    handlingPiecePackagingType:
      type: string
      enum:
      - "pallet_48x40"
      - "pallet_48x48"
      - "pallet_60x48"
      - "pallet"
      - "bag"
      - "bale"
      - "box"
      - "bucket"
      - "bundle"
      - "can"
      - "carpet"
      - "carton"
      - "case"
      - "coil"
      - "crate"
      - "cylinder"
      - "drum"
      - "gaylord"
      - "other"
      - "pail"
      - "reel"
      - "roll"
      - "tote"
      - "tube_pipe"
      - "shipsheet"
      - "unit"
    hazMatDetail:
      type: object
      properties:
        shippingName:
          type: string
          description: "proper shipping name"
        uNNumber:
          type: string
          description: "full UN number (including prefix)"
        hazardClass:
          type: string
          description: "hazard class (i.e. 1, 2.1, 2.2 etc)"
        packagingGroup:
          type: string
          description: "packaging group"
        description:
          type: string
          description: "hazardous description"
        emergencyContactAccountName:
          type: string
          description: "emergency contact account name"
        emergencyContactTelephone:
          type: string
          description: "emergency contact telephone"
        emergencyContactAccountCode:
          type: string
          description: "emergency contact account code"
    shipmentLineItem:
      type: object
      required:
      - weight
      properties:
        weight:
          type: number
          format: float
        weightUom:
          type: string
          default: "LB"
          enum:
          - "LB"
          - "KG"
        freightClassCode:
          $ref: "#/components/schemas/freightClassCode"
        nmfcCode:
          type: string
          description: "NMFC code"
        nmfcSubcode:
          type: string
          description: "NMFC subcode"
        dimensionalWeight:
          type: number
          format: float
        isHazmat:
          type: boolean
          description: "set to true if line is hazardous material"
          default: false
        hazmatDetails:
          type: array
          items:
            $ref: "#/components/schemas/hazMatDetail"
        handlingPieceQuantity:
          type: integer
          format: int32
          description: "quantity of physical handling pieces on line item"
        handlingPiecePackagingType:
          $ref: "#/components/schemas/handlingPiecePackagingType"
        perHandlingPieceLength:
          type: number
          format: float
          description: "shipping length for each separate handling piece on line item"
        perHandlingPieceWidth:
          type: number
          format: float
          description: "shipping length for each separate handling piece on line item"
        perHandlingPieceHeight:
          type: number
          format: float
          description: "shipping length for each separate handling piece on line item"
        lineItemLength:
          type: number
          format: float
          description: "combined shipping length for all items on line item"
        lineItemWidth:
          type: number
          format: float
          description: "combined shipping width for all items on line item"
        lineItemHeight:
          type: number
          format: float
          description: "combined shipping height for all items on line item"
        dimensionalUom:
          type: string
          description: "UOM for line item dimensions"
          default: "IN"
          enum:
          - "IN"
          - "CM"
          - "FT"
          - "M"
        isNonHandling:
          type: boolean
          default: false
          description: "set to 'true' if the line item is known to be part of the shipment but the specific handling unit is not known"
        nonHandlingPieceQuantity:
          type: integer
          format: int32
          description: "quantity to be used when isNonHandling is 'true'"
        handlingUnitDescription:
          type: string
          description: "physical description of the handling item(s) on the line"
        perHandlingPieceWeight:
          type: number
          format: float
          description: "weight per each handling piece on the line item"
        isStackable:
          type: boolean
          description: "is the handling line physically stackable"
        commodityType:
          type: string
          description: "commodityType"
        harmonizedCode:
          type: string
          description: "Harmonized Systems (HS) code"
        originCountryCode:
          $ref: "#/components/schemas/countryCode"
        value:
          type: number
          format: decimal
          description: "product value of the handling line"
        currencyCode:
          $ref: "#/components/schemas/currencyCode"
        referenceNumbers:
          type: array
          items:
            $ref: "#/components/schemas/referenceNumber"
        packageQuantity:
          type: integer
          description: "quantity of packages contained within the handling line item"
        packageLineItems:
          type: array
          items:
            $ref: "#/components/schemas/packageLineItem"
        shippingItemDetails:
          type: array
          items:
            $ref: "#/components/schemas/shippingItemDetail"
    packageLineItem:
      type: object
      properties:
        description:
          type: string
          description: "description of the package line item"
        quantity:
          type: number
          format: integer
          description: "full UN number (including prefix)"
        weight:
          type: number
          format: float
          description: "total weight of the package line item"
        perPackageWeight:
          type: number
          format: float
          description: "weight per each package on the package line item"
        packageType:
          $ref: "#/components/schemas/packageType"
        trackingIdentifier:
          type: string
          description: "tracking identifier for the package line item"
        hazmatDetails:
          type: array
          items:
            $ref: "#/components/schemas/hazMatDetail"
        manufactureOriginCountryCode:
          $ref: "#/components/schemas/countryCode"
        value:
          type: number
          format: decimal
          description: "product value of the packaging line"
        referenceNumbers:
          type: array
          items:
            $ref: "#/components/schemas/referenceNumber"
        shippingItemDetails:
          type: array
          items:
            $ref: "#/components/schemas/shippingItemDetail"
    qasShipment:
      type: object
      required:
      - pickupDate
      - paymentTermType
      - originLocation
      - destinationLocation
      - lineItems
      properties:
        pickupDate:
          type: string
          description: "YYYY-MM-DD"
          format: date
        paymentTermType:
          $ref: "#/components/schemas/paymentTermType"
        originLocation:
          $ref: "#/components/schemas/location"
        originContact:
          $ref: "#/components/schemas/contact"
        originReferenceNumbers:
          type: array
          items:
            $ref: "#/components/schemas/referenceNumber"
        originInstructions:
          type: string
        originExtraServices:
          type: array
          items:
            $ref: "#/components/schemas/locationExtraService"
        originShippingReadyTime:
          type: string
          description: "HH:MM"
        originShippingCloseTime:
          type: string
          description: "HH:MM"
        destinationLocation:
          $ref: "#/components/schemas/location"
        destinationContact:
          $ref: "#/components/schemas/contact"
        destinationReferenceNumbers:
          type: array
          items:
            $ref: "#/components/schemas/referenceNumber"
        destinationInstructions:
          type: string
        destinationExtraServices:
          type: array
          items:
            $ref: "#/components/schemas/locationExtraService"
        destinationReceivingOpenTime:
          type: string
          format: time
          description: "HH:MM"
        destinationReceivingCloseTime:
          type: string
          format: time
          description: "HH:MM"
        debtorLocation:
          $ref: "#/components/schemas/location"
        debtorAssociationType:
          $ref: "#/components/schemas/debtorAssociationType"
        longestHandlingPiece:
          type: object
          required:
          - length
          properties:
            length:
              type: number
              format: float
              description: "Length of the longest handling piece on the shipment.  Used to determine overlength applicability, particularly when individual handling piece dimensions are not known."
            unitOfMeasure:
              type: string
              description: "UOM for the provided length"
              default: "IN"
              enum:
              - "IN"
              - "CM"
              - "FT"
              - "M"
        widestHandlingPiece:
          type: object
          required:
          - width
          properties:
            width:
              type: number
              format: float
              description: "Width of the widest handling piece on the shipment.  Used to determine overlength applicability, particularly when individual handling piece dimensions are not known."
            unitOfMeasure:
              type: string
              description: "UOM for the provided width"
              default: "IN"
              enum:
              - "IN"
              - "CM"
              - "FT"
              - "M"
        isTemperatureControlRequired:
          type: boolean
          default: false
          description: "does the shipment require temperature control"
        temperatureControlDetail:
          type: object
          required:
          - temperatureUom
          - minimumTemperatureThreshold
          - maximumTemperatureThreshold
          properties:
            temperatureUom:
              type: string
              default: "F"
              description: "unit of measure for included temperature   details"
              enum:
              - "C"
              - "F"
            minimumTemperatureThreshold:
              type: integer
              format: int32
            maximumTemperatureThreshold:
              type: integer
              format: int32
        isCollectOnDeliveryRequired:
          type: boolean
          default: false
          description: "does the shipment require any money collection on delivery"
        collectOnDeliveryDetail:
          type: object
          required:
          - isProductPaymentRequired
          - isTransportationPaymentRequired
          - productPaymentAmount
          properties:
            isProductPaymentRequired:
              type: boolean
            isTransportationPaymentRequired:
              type: boolean
            productPaymentAmount:
              type: number
              format: float
        isInsuranceRequested:
          type: boolean
          default: false
          description: "is insurance requested for the shipment"
        insuranceDetail:
          type: object
          required:
          - category
          - insuredCommodityValue
          properties:
            category:
              type: string
              description: "category of commodity for insurance classification"
              enum:
              - "new general merchandise"
              - "used general merchandise"
              - "fragile goods"
              - "non-perishable foods"
              - "perishable foods"
              - "electronics"
              - "hazardous"
            insuredCommodityValue:
              type: number
              format: float
              description: "commodity value to be insured"
            insuranceToIncludeTransportationCharge:
              type: boolean
              default: false
        isGuaranteedServiceRequired:
          type: boolean
          default: false
          description: "only consider guaranteed service"
        isRateInquiryOnly:
          type: boolean
          default: false
          description: "If set to true, LogiFlow's response will not be saved for future reference.  This will make the response time slightly quicker and should be used if there is no intention of booking a shipment with LogiFlow from the given response."
        isQuickRateInquiry:
          type: boolean
          default: false
          description: "Return response with the default carrier and rate for the shipment.  Must pre-establish business rules with LogiFlow."
        maxResults:
          type: integer
          format: int32
          description: "limit results to this number of records"
        transportationProviderDetails:
          type: array
          items:
            type: object
            properties:
              transportationProviderCode:
                type: string
                description: "LogiFlow's transportation provider code"
              userTransportationProviderIdentifier:
                type: string
                description: "Identifier representing transportation provider in user's system.  Must pre-establish definitions with LogiFlow"
              businessSegmentCode:
                type: string
                description: "LogiFlow's business segment code"
              subAccountCode:
                type: string
                description: "LogiFlow's sub-account code to determine rates based on, if applicable"
        onlyConsiderIncludedTransportationProviders:
          type: boolean
          default: false
          description: "only consider transportation providers listed in transportationProviderDetails"
        lineItems:
          type: array
          items:
            $ref: "#/components/schemas/shipmentLineItem"
    qasShipmentRateResultSet:
      type: object
      properties:
        identifier:
          type: string
        processedAt:
          type: string
          format: date-time
          description: "timestamp LogiFlow processed the given request"
        results:
          type: array
          items:
            $ref: "#/components/schemas/qasShipmentRateResult"
    qasShipmentRateResult:
      type: object
      properties:
        logiflowQuoteIdentifier:
          type: string
        transportationProviderQuoteIdentifier:
          type: string
        isSuccess:
          type: boolean
        estimatedPriorityRank:
          type: integer
          format: int32
          description: "estimated priority rank of result based on account profile"
        methodologyType:
          type: string
          enum:
          - "LogiFlow rate engine"
          - "transportation provider API"
          - "spot quote"
        receivedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        debtorAssociationType:
          $ref: "#/components/schemas/debtorAssociationType"
        baseCharge:
          type: number
          format: float
        fuelSurcharge:
          type: number
          format: float
        totalAccessorialCharges:
          description: "total known accessorial charges (excluding fuel)"
          type: number
          format: float
        totalCharges:
          type: number
          format: float
        discountPercentage:
          type: number
          format: float
        discountAmount:
          type: number
          format: float
        serviceDescription:
          type: string
        isGuaranteedService:
          type: boolean
          default: false
        transitDayQuantity:
          type: integer
          format: int32
        committedDeliveryTime:
          type: string
          description: "time of day the provider is committing to deliver by (HH:MM)"
        committedDeliveryDate:
          type: string
          format: date
          description: "date the provider is committing to deliver by"
        committedDeliveryDateTime:
          type: string
          format: date-time
          description: "date/time the provider is committing to deliver by"
        isDirectService:
          type: boolean
          description: "is entire shipment published as direct service"
        isPickupDirectService:
          type: boolean
          description: "is pickup published as direct service"
        isDeliveryDirectService:
          type: boolean
          description: "is delivery published as direct service"
        isNmfcRequired:
          type: boolean
          description: "does provider require NMFC code for pricing to apply"
        transportationProviderName:
          type: string
          description: "transportation provider name (broker name if applicable, otherwise carrier name)"
        transportationProviderCode:
          type: string
          description: "transportation provider code (broker code if applicable, otherwise carrier code)"
        carrierName:
          type: string
          description: "actual shipping carrier name"
        carrierCode:
          type: string
          description: "actual shipping carrier code"
        userTransportationProviderIdentifier:
          type: string
          description: "Identifier representing transportation provider in user's system.  Provided only when definitions have been defined in LogiFlow."
        isTransportationProviderTheCarrier:
          type: boolean
          description: "is the transportation provider the actual shipping carrier"
    lfShipment:
      type: object
      required:
      - shipmentDate
      - originLocation
      - destinationLocation
      - lineItems
      properties:
        shipmentDate:
          type: string
          description: "YYYY-MM-DD"
          format: date
        paymentTermType:
          $ref: "#/components/schemas/paymentTermType"
        originLocation:
          $ref: "#/components/schemas/location"
        originContacts:
          type: array
          items:
            $ref: "#/components/schemas/contact"
        originReferenceNumbers:
          type: array
          items:
            $ref: "#/components/schemas/referenceNumber"
        originInstructions:
          type: string
        destinationLocation:
          $ref: "#/components/schemas/location"
        destinationContacts:
          type: array
          items:
            $ref: "#/components/schemas/contact"
        destinationReferenceNumbers:
          type: array
          items:
            $ref: "#/components/schemas/referenceNumber"
        destinationInstructions:
          type: string
        debtorLocation:
          $ref: "#/components/schemas/location"
        debtorAssociationType:
          $ref: "#/components/schemas/debtorAssociationType"
        isTemperatureControlRequired:
          type: boolean
          default: false
          description: "does the shipment require temperature control"
        temperatureControlDetail:
          type: object
          required:
          - temperatureUom
          - minimumTemperatureThreshold
          - maximumTemperatureThreshold
          properties:
            temperatureUom:
              type: string
              default: "F"
              description: "unit of measure for included temperature   details"
              enum:
              - "C"
              - "F"
            minimumTemperatureThreshold:
              type: integer
              format: int32
            maximumTemperatureThreshold:
              type: integer
              format: int32
        isCollectOnDeliveryRequired:
          type: boolean
          default: false
          description: "does the shipment require any money collection on delivery"
        collectOnDeliveryDetail:
          type: object
          required:
          - isProductPaymentRequired
          - isTransportationPaymentRequired
          - productPaymentAmount
          properties:
            isProductPaymentRequired:
              type: boolean
            isTransportationPaymentRequired:
              type: boolean
            productPaymentAmount:
              type: number
              format: float
            remittanceLocation:
              $ref: "#/components/schemas/location"
        isGuaranteedServiceRequested:
          type: boolean
        transportationProviderDetails:
          type: array
          items:
            type: object
            properties:
              transportationProviderCode:
                type: string
                description: "LogiFlow's transportation provider code"
              userTransportationProviderIdentifier:
                type: string
                description: "Identifier representing transportation provider in user's system.  Must pre-establish definitions with LogiFlow"
              businessSegmentCode:
                type: string
                description: "LogiFlow's business segment code"
              subAccountCode:
                type: string
                description: "LogiFlow's sub-account code to determine rates based on, if applicable"
              proNumber:
                type: string
                description: "Pre-determined Pro Number"
        lineItems:
          type: array
          items:
            $ref: "#/components/schemas/shipmentLineItem"
        customsBrokerLocation:
          $ref: "#/components/schemas/location"
        customsBrokerContacts:
          type: array
          items:
            $ref: "#/components/schemas/contact"
        accessorialServices:
          type: array
          items:
            $ref: "#/components/schemas/accessorialService"
        currencyCode:
          $ref: "#/components/schemas/currencyCode"
        pickupTimeWindows:
          type: array
          items:
            $ref: "#/components/schemas/timeWindow"
        deliveryTimeWindows:
          type: array
          items:
            $ref: "#/components/schemas/timeWindow"
    bolSuccessResult:
      type: object
      properties:
        confirmationNumber:
          type: string
    badRequestResults:
      type: object
      properties:
        errorMessages:
          type: array
          items:
            type: string
paths:
  "/qas/rates":
    post:
      summary: quote-and-ship rate inquiry
      requestBody:
        required: true
        content:
          application/json:
             schema:
              $ref: '#/components/schemas/qasShipment'
          application/xml:
            schema:
              $ref: '#/components/schemas/qasShipment'
      responses:
        200:
          description: rate inquiry successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/qasShipmentRateResultSet'
            application/xml:
              schema:
                $ref: '#/components/schemas/qasShipmentRateResultSet'
        400:
          description: bad request
        401:
          description: unauthorized
        500:
          description: internal server error
  "/bol":
    post:
      summary: bill of lading
      requestBody:
        required: true
        content:
          application/json:
             schema:
              $ref: '#/components/schemas/lfShipment'
      responses:
        202:
          description: "request successfully received and queued for asynchronous processing"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bolSuccessResult'
        400:
          description: "invalid request payload"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestResults'
        401:
          description: "unauthorized"
        500:
          description: "internal server error"