openapi: 3.0.0
servers:
  - description: Server Deutsche Fernsehlotterie
    url: https://www.fernsehlotterie.de/api/app
info:
  description: API for website, webshop and mobile apps provided by the quäntchen + glück WordPress backend
  version: "1.1.0"
  title: Deutsche Fernsehlotterie Website API
  contact:
    email: max.leistner@qundg.de
  license:
    name: Private/Commercial
    url: 'https://www.fernsehlotterie.de'
tags:
  - name: app
    description: Endpoints for the mobile apps
  - name: website
    description: Endpoints for the WordPress website
  - name: shop
    description: Endpoints for the webshop by PXT only
paths:
  /supportedAppVersions:
    get:
      tags:
        - app
      summary: get all supported App Versions
      operationId: getSupportedAppVersions
      description: |
        Returns the Mobile App Versions which should be supported by the apps. These can be edited within the WordPress Admin under Settings > Supported App Versions. 
      responses:
        '200':
          description: Supported App Versions
          content:
            application/json: 
              schema:
                $ref: '#/components/schemas/InventoryItem'
        '400':
          description: bad input parameter
  /ticket/information:
    get:
      tags:
        - app
      summary: get all informations of a ticket id
      operationId: getTicketInformation
      description: |
        Returns the ticket information if the ticket-id is transfered
      parameters:
        - in: query
          name: numbers
          description: pass one or mulitple ticket numbers, separated by comma (example 738519630121)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: get ticket Information
  /ticketInformation:
    get:
      tags:
        - app
      summary: get all informations of a ticket id
      operationId: getTicketInformations
      description: Returns the ticket information if the ticket-id is transfered
      parameters:
        - in: query
          name: numbers
          description: pass one or mulitple ticket numbers, separated by comma (example 738519630121)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: get ticket Information
  /ticket/winnings:
    get:
      tags:
        - app
      summary: get info if a ticket has a winning
      operationId: getTicketWinnings
      description: lists tickets and if they have already won. If they have won, the details will be listed
      parameters: 
        - in: query
          name: numbers
          description: add one or multiple ticket ids, separated by comma
          required: true
          schema:
            type: string
      responses: 
        '200':
          description: OK
        '400': 
          description: bad input parameter
  /ticketWinnings:
    get:
      tags:
        - app
      summary: get info if a ticket has a winning
      operationId: getTicketWinning
      description: lists tickets and if they have already won. If they have won, the details will be listed
      parameters: 
        - in: query
          name: numbers
          description: add one or multiple ticket ids, separated by comma
          required: true
          schema:
            type: string
      responses: 
        '200':
          description: OK
        '400': 
          description: bad input parameter
  /drawingsdates:
    get:
      tags:
        - app
        - website
      summary: get all dates by drawing type
      operationId: getDrawingsDates
      description: Get all the drawing dates from the past, filtered by drawing type (1-7) (1 => Hauptziehung, 2 => Wochenziehung, 3 => Prämienziehung, 4 => Rente, 5 => Frühlingssonderverlosung, 6 => Herbstsonderverlosung, 7 => Weihnachtsonderverlosung)
      parameters: 
        - in: query
          name: drawing_type
          description: pass a drawing type (1-7)
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Drawing dates
          content:
            application/json: 
              schema:
                $ref: '#/components/schemas/DrawingDates'
        '400':
          description: bad input parameter
  /drawings_dates:
    get:
      tags:
        - app
        - website
      summary: get all dates by drawing type (deprectated, now drawingdates)
      operationId: getDrawingDates
      description: Get all the drawing dates from the past, filtered by drawing type (1-7) (1 => Hauptziehung, 2 => Wochenziehung, 3 => Prämienziehung, 4 => Rente, 5 => Frühlingssonderverlosung, 6 => Herbstsonderverlosung, 7 => Weihnachtsonderverlosung)
      parameters: 
        - in: query
          name: drawing_type
          description: pass a drawing type (1-7)
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Drawing dates
          content:
            application/json: 
              schema:
                $ref: '#/components/schemas/DrawingDates'
        '400':
          description: bad input parameter
  /drawings:
    get:
      tags:
        - app
        - website
      summary: get all drawing informations
      operationId: getDrawings
      description: Get all the drawing informations including dates, items to win, part of the winning ticket id
      responses:
        '200':
          description: Drawing information
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/Drawings'
        '400': 
          description: bad input parameter
  /projects:
    get:
      tags: 
        - app
      summary: get all projects for the app google map view 
      operationId: getProjects
      description: Lists all the projects which are shown in the google map/Apple Karten view within in the app
      responses:
        '200':
          description: Project List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        '400': 
          description: bad input parameter
  /legal:
    get:
      tags: 
        - app
      summary: get legal text for app
      operationId: getLegal
      description: Get the legal text, which can be edited wihtin the WordPress Admin settings
      responses:
        '200':
          description: OK
        '400': 
          description: bad input parameter
  /news:
    get:
      tags:
        - app
      summary: get news articles
      operationId: getNews 
      description: Lists all news articles from the WordPress Admin
      parameters: 
        - in: query
          name: artikelguid
          description: list one specific article with its article-content
          required: false
          schema:
            type: integer
      responses: 
        '200':
          description: OK
        '400': 
          description: bad input parameter
  /info:
    get:
      tags: 
        - app
      summary: get info text for app
      operationId: getInfo
      description: Get the info text, which can be edited wihtin the WordPress Admin settings
      responses:
        '200':
          description: OK
        '400': 
          description: bad input parameter
  /prizes: 
    get:
      tags: 
        - app
        - shop
      summary: get info about the prices which can be won in general
      operationId: getPrizes
      description: Get a list of possible prizes which can be won
      responses:
        '200':
          description: OK
        '400': 
          description: bad input parameter
  /prizeticket:
    get:
      tags:
        - app
        - website
      summary: get prizeticket info and ranking
      operationId: getPrizeTicket 
      description: Lists details about the ranking of prizes
      parameters: 
        - in: query
          name: number
          description: specific ticket Number (example 738519630121)
          required: true
          schema:
            type: integer
      responses: 
        '200':
          description: OK
        '400': 
          description: bad input parameter
  /get_all_lose:
    get:
      tags: 
        - shop
      summary: get all Lose
      operationId: getLose
      description: Get a list of all Lose and their details which can be edited within the WordPress Admin
      responses:
        '200':
          description: OK
        '400': 
          description: bad input parameter
  /get_all_motive:
    get:
      tags: 
        - shop
      summary: get all images for the gift theme
      operationId: getMotive
      description: Get a list of all images used to theme the Lose
      responses:
        '200':
          description: OK
        '400': 
          description: bad input parameter
  /drawing_tables:
    get:
      tags:
        - website
      summary: get drawing results for specific date and type
      operationId: getDrawingTable 
      description: Lists possible winning items for a specific date and type
      parameters: 
        - in: query
          name: drawing_type
          description: specific drawing type number (1-7)
          required: true
          schema:
            type: integer
        - in: query
          name: drawing_date
          description: specific drawing date (YYYY-MM-DD, example 2017-12-24)
          required: true
          schema:
            type: string
      responses: 
        '200':
          description: OK
        '400': 
          description: bad input parameter
components:
  schemas:
    InventoryItem:
      type: object
      properties:
        iosVersions:
          type: array
          items:
            type: string
          example: ["2.2", "2.2.1", "2.2.2"]
        androidVersions:
          type: array
          items:
            type: string
          example: ["1.2", "1.2.1", "1.2.2"]
    DrawingDates:
      type: object
      properties:
        value:
          type: string
        key:
          type: string
      example: 
        - value: "08.12.2019"
          key: "2019-12-08"
        - value: "01.12.2019"
          key: "2019-12-01"
    Drawings:
      type: object
      properties:
        gewinnzahlen:
          type: array
          items: 
            type: string
          example: 
            - ziehungstyp: "Wochenziehung"
              ziehungstypid: "2"
              datumbekanntgabe: "07.01.2018 17:00:00"
              anzahlgewinner: ""
              gewinn: "Audi A1 sport 1.4 TFSI"
              gewinnzahl: "8043066"
              picture: ""
              rang: "0"
            - ziehungstyp: "Wochenziehung"
              ziehungstypid: "2"
              datumbekanntgabe: "07.01.2018 17:00:00"
              anzahlgewinner: ""
              gewinn: "Audi A3 Sportback sport 1.5 TFSI"
              gewinnzahl: "0010592"
              picture: ""
              rang: "0"
    Projects:
      type: object
      properties:
        project:
          type: array
          items: 
            type: string
          example: 
            - name: "AWO Zentrum Marl"
              address: "Rappaportstr.  8"
              subsidy: "71320"
              header: "Umbau eines Gebäudes zum Sozial- und Gesundheitszentrum - Seniorenbereich / Marl"
              picture: "https://www.fernsehlotterie.de/content/uploads/2016/11/wilson_newsfeed.png"
              Guid: ""
              latitude: "51.6602560"
              longitude: "7.1033247"
              plz: "45768"
              ort: "Marl"
              rang: "0"
            - name: "AWO Zentrum Marl"
              address: "Rappaportstr.  8"
              subsidy: "71320"
              header: "Umbau eines Gebäudes zum Sozial- und Gesundheitszentrum - Seniorenbereich / Marl"
              picture: "https://www.fernsehlotterie.de/content/uploads/2016/11/wilson_newsfeed.png"
              Guid: ""
              latitude: "51.6602560"
              longitude: "7.1033247"
              plz: "45768"
              ort: "Marl"
              rang: "0"
