openapi: 3.0.0
info:
  version: 1.0.0
  title: TMS Load API
  description: This is an API to our load functionality
  
servers:
  - url: https://app.tms.blujaysolutions.net/tmsapi/v1/load
    description: Production server
  - url: https://beta.tms.blujaysolutions.net/tmsapi/v1/load
    description: Internal staging server for testing
    
paths: 
  /{loadid} :
    get:
      summary: Retrieve a load
      tags: 
        - Load Operations
      parameters: 
        - name: loadid
          in: path
          required: true
          description: The ID of the load which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '200':
          description: A load object
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Load'
        default:
          description: Unexpected Error
 
  / :
    get:
      summary: Retrieve a load by query
      tags:
        - Load Operations
      parameters: 
        - name: load
          in: query
          required: true
          description: The LoadQuery object describing the load being retrieved
          schema:
            $ref: '#/components/schemas/LoadQuery'
      responses:
        '200':
          description: A load object
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Load'
                  maxResults:
                    type: integer
                    format: int64
                  offset:
                    type: integer
                    format: int64
        default:
          description: Unexpected Error
            
  /{loadid}/notes :
    get:
      summary: Retrieve load notes
      tags:
        - Load Operations
      parameters:
        - name: loadid
          in: path
          required: true
          description: The ID of the load which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '200':
          description: A load object
          content:
            application/json:
              schema:
                type: object
                properties:
                  subject:
                    type: string
                  message: 
                    type: string
                  created_by: 
                    type: string
                  created_date:
                    type: string
                    format: date-time
                  replies: 
                    type: array
                    items: 
                      type: string
                  note_type_id:
                    type: integer
                    format: int64
                  note_id:
                    type: integer
                    format: int64
                  note_thread_id:
                    type: integer
                    format: int64
        default:
          description: Unexpected Error
 
    post:
      summary: Add notes to a load
      tags: 
        - Load Operations
      parameters:
        - name: loadid
          in: path
          required: true
          description: The ID of the load which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        content:
            application/json:
              schema:
                type: object
                properties:
                  subject:
                    type: string
                  message: 
                    type: string
                  note_type_id:
                    type: integer
                    format: int64
                  reply_note_id:
                    type: integer
                    format: int64
                  emails:
                    type: array
                    items:
                      type: string
                      example: 'fake@blujaysolutions.com'
                  shipments:
                    type: array
                    items:
                      type: object
                      properties:
                        id: 
                          type: integer
                          format: int64
                        stop_type:
                          type: string
                          enum: [PICK, DROP]
      responses:
        '200':
          description: Load note added
        default:
          description: Unexpected Error
 
  /{loadid}/documents :
    post:
      summary: Upload load document
      tags:
        - Load Operations
      parameters:
        - name: loadid
          in: path
          required: true
          description: The ID of the load which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                document_type_id:
                  type: integer
                  format: int64
                  description: Shipper specific document profile id
                document_type_key:
                  type: string
                  description: Shipper specified document profile description
                comments:
                  type: string
                stop_id:
                  type: integer
                  format: int64
                  description: Optional stop id
      responses:
        '200':
          description: Load document added
        default:
          description: Unexpected Error
 
  /{loadid}/stop/{stopid} :
    get:
      summary: Retrieve a stop
      tags:
        - Stop Operations
      parameters:
        - name: loadid
          in: path
          required: true
          description: The ID of the load which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: stopid
          in: path
          required: true
          description: The ID of the stop which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '200':
          description: A stop object
          content:
            application/json:
              schema:
                type: object
                properties:
                  stop:
                    $ref: '#/components/schemas/Stop'
        default:
          description: Unexpected Error
 
  /{loadid}/stop/{stopid}/dates :
    post:
      summary: Update the load stop actuals at a stop
      tags:
        - Stop Operations
      parameters: 
        - name: loadid
          in: path
          required: true
          description: The ID of the load which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: stopid
          in: path
          required: true
          description: The ID of the stop which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                actual_arrival:
                  type: string
                  format: date-time
                actual_departure:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Load stop actuals updated
        default:
          description: Unexpected Error
 
  /{loadid}/stop/{stopid}/checkcall :
    post:
      summary: Add a check call on the load
      tags:
        - Stop Operations
      parameters: 
        - name: loadid
          in: path
          required: true
          description: The ID of the load which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: stopid
          in: path
          required: true
          description: The ID of the stop which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                location_date:
                  type: string
                  format: date-time
                eta_date:
                  type: string
                  format: date-time
                delayed:
                  type: boolean
                comment:
                  type: string
                location_address:
                  type: object
                  properties:
                    city:
                      type: string
                    state:
                      type: string
                    zip:
                      type: string
                    country:
                      type: string
      responses:
        '200':
          description: Check call added to load
        default:
          description: Unexpected Error
          
  /{loadid}/stop/{stopid}/dockstatus :
    post:
      summary: Update stop dock status dates
      tags: 
        - Stop Operations
      parameters:
        - name: loadid
          in: path
          required: true
          description: The ID of the load which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: stopid
          in: path
          required: true
          description: The ID of the stop which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                gate_in:
                  type: string
                  format: date-time
                dock_in:
                  type: string 
                  format: date-time
                loading_start:
                  type: string 
                  format: date-time
                loading_complete:
                  type: string 
                  format: date-time
                dock_out:
                  type: string 
                  format: date-time
                gate_out:
                  type: string 
                  format: date-time
      responses:
        '200':
          description: Stop dock status dates updated
        default:
          description: Unexpected Error
 
    delete:
      summary: Remove stop dock status dates
      tags:
        - Stop Operations
      parameters:
        - name: loadid
          in: path
          required: true
          description: The ID of the load which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: stopid
          in: path
          required: true
          description: The ID of the stop which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '200':
          description: Removed dock status dates
        default:
          description: Unexpected Error
 
  /{loadid}/driver :
    post:
      summary: Update the load driver
      tags:
        - Driver Operations
      parameters: 
        - name: loadid
          in: path
          required: true
          description: The ID of the load which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                driver_ref:
                  type: string
      responses:
        '200':
          description: Load driver updated
        default:
          description: Unexpected Error
          
  /{loadid}/stop/{stopid}/drivercheckin :
    post:
      summary: Driver check-in
      tags:
        - Driver Operations
      parameters:
        - name: loadid
          in: path
          required: true
          description: The ID of the load which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: stopid
          in: path
          required: true
          description: The ID of the stop which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1 
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                vehicle: 
                  type: string
                driver:
                  type: string
                trailer_number:
                  type: string
                driver_phone: 
                  type: string
                driver_language:
                  type: string
                gate_in:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Driver check-in sucessful
        default:
          description: Unexpected Error
 
  /{loadid}/notifydriver :
    post:
      summary: Notify the driver of a load
      tags:
        - Driver Operations
      parameters:
        - name: loadid
          in: path
          required: true
          description: The ID of the load which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
      responses:
        '200':
          description: Driver notified
        default:
          description: Unexpected Error
 
  /{loadid}/vehicle :
    post:
      summary: Update the vehicle reference associated with the load
      tags:
        - Vehicle Operations
      parameters: 
        - name: loadid
          in: path
          required: true
          description: The ID of the load which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                vehicle_ref:
                  type: string
      responses:
        '200':
          description: Load vehicle reference updated
        default:
          description: Unexpected Error
          
  /{loadid}/stop/{stopid}/rejecttrailer :
    post:
      summary: Reject a trailer
      tags:
        - Vehicle Operations
      parameters:
        - name: loadid
          in: path
          required: true
          description: The ID of the load which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: stopid
          in: path
          required: true
          description: The ID of the stop which is being updated
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        content: 
          application/json:
            schema:
              type: object
              properties:
                subject:
                  type: string
                message:
                    type: string
                emails:
                  type: array
                  items:
                    type: string
                    example: fake@blujaysolutions.com
                shipments:
                    type: array
                    items:
                      type: object
                      properties:
                        id: 
                          type: integer
                          format: int64
                        stop_type:
                          type: string
                          enum: [PICK, DROP]
      responses:
        '200':
          description: Trailer Rejected
        default:
          description: Unexpected Error
 
components:
  schemas:
    Load:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 4
        load_number: 
          type: string
        stops:
          type: array
          items:
            type: object
            properties:
              id: 
                type: integer
                format: int64
              href: # Use this endpoint to get more detailed information about the stop
                type: string
                example: '/tmsapi/v1/load/{loadid}/stop/{stopid}'
        shipments:
          type: array
          items:
            type: object
            properties:
              id: 
                type: integer
                format: int64
              href: # Use this endpoint to get more detailed information about the shipment
                type: string
        refs: 
          type: array
          items: 
            type: object
            properties:
              name:
                type: string
              value:
                type: string
        status: 
          type: string
          enum: [PENDING, TENDERED, ACCEPTED, REJECTED, COMPLETED, CANCELED]
        load_group: 
          type: string
       
    Stop: 
      type: object
      properties: 
        id: 
          type: integer
          format: int64
        refs: 
          type: array
          items: 
            type: object
            properties:
              name:
                type: string
              value:
                type: string
        shipments:
          type: array
          items:
            type: object
            properties:
              id: 
                type: integer
                format: int64
              href: # Use this endpoint to get more detailed information about the shipment
                type: string
        type:
          type: string
          enum: [PICK, DROP]
        location_id: 
          type: integer
          format: int64
        location_ref:
          type: string
        location_latitude:
          type: string
        location_longitude:
          type: string
        location_coordinates_accuracy:
          type: string
          enum: [HIGH, MEDIUM, LOW]
        location_name: 
          type: string
        address: 
          type: array
          items: 
            type: object
            properties:
              address1:
                type: string
              address2:
                type: string
              address3: 
                type: string
              city: 
                type: string
              county: 
                type: string
              state: 
                type: string
              zip:
                type: string
              country: 
                type: string
        contact_phone: 
          type: string
        contact_phone_extension:
          type: string
        planned_start:
          type: string
          format: date-time
        planned_end: 
          type: string
          format: date-time
        appointment_start: 
          type: string
          format: date-time 
        appointment_end: 
          type: string
          format: date-time
        actual_arrival: 
          type: string
          format: date-time
        actual_departure: 
          type: string
          format: date-time
        eta: 
          type: string
          format: date-time
        gate_in: 
          type: string
          format: date-time
        dock_in: 
          type: string
          format: date-time
        loading_start: 
          type: string
          format: date-time
        loading_complete: 
          type: string
          format: date-time
        dock_out: 
          type: string
          format: date-time
        gate_out: 
          type: string
          format: date-time
        weight:
          type: integer
          format: int64
        weight_uom:
          type: string
        volume:
          type: integer
          format: int64
        volume_uom:
          type: string
        pallets: 
          type: integer
          format: int64
        pieces: 
          type: integer
          format: int64
          
    LoadQuery:
      type: object
      properties: 
        limit:
          type: integer
          format: int64
          maximum: 50
        offset:
          type: integer
          format: int64
        refs: 
          type: string
        vehicle:
          type: string
        firstPickOnly:
          type: boolean
        usePickPlanDate:
          description: This property is only available to shippers
          type: boolean
        pickStartDate:
          type: string
          format: date-time
        pickEndDate: 
          type: string
          format: date-time
        pickLocationReference:
          description: This property is only available to shippers
          type: string
        lastDropOnly:
          type: boolean
        useDropPlanDate:
          description: This property is only available to shippers
          type: boolean
        dropStartDate:
          type: string
          format: date-time
        dropEndDate:
          type: string
          format: date-time
        dropLocationReference:
          description: This property is only available to shippers
          type: string
        statuses: 
          type: string
          enum: [PENDING, TENDERED, ACCEPTED, REJECTED, COMPLETED, CANCELED, SPOTMARKET, REMOVED, EXPIRED, SHIPPER_REJECTED, ARRIER_REJECTED, VOIDED]
          description: Statuses that can be applied during a search depENd on the type of user logged in. Shipper (TENDERED, ACCEPTED, SPOTMARKET, COMPLETED, REMOVED, PENDING, EXPIRED, SHIPPER_REJECTED, CARRIER_REJECTED, VOIDED). Carrier (TENDERED, ACCEPTED, COMPLETED, CARRIER_REJECTED, SHIPPER_REJECTED, EXPIRED).
