openapi: 3.0.0
info:
  description: This is documentation for API services of the CVS health inventoryapp
  version: "1.0.0-oas3"
  title: Inventoryapp
  contact:
    email: paval.yeganov@cvshealth.com
tags:
  - name: Add Exception Skus
    description: Add skus into exception table
  - name: Delete Exception Skus
    description: Delete skus from exception table
  - name: Add Or Update Supply
    description: Add or update skus in a specific store id
  - name: Get Supply By Sku
    description: Get info on an item by sku number
  - name: Get Supply By Sku And Store
    description: Get info on an item by sku number and store id
  - name: Reserve Inventory
    description: Reserving a purchase for a 2 hour remorse period
  - name: Release Inventory
    description: Releasing a purchase from a 2 hour remorse period
  - name: Heartbeat
    description: A ping to detect if the app is up and running
servers:
  - url: 'https://nodejsdev.digital-east.cvshealthcloud.com:3443'
  - url: 'https://nodejsqa.digital-east.cvshealthcloud.com:3443'
  - url: 'http://localhost:13107'
paths:
  /depservices/inventory/heartbeat:
    get:
      tags:
        - Heartbeat
      description: ''
      responses:
        '200':
          description: Successfull Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartbeatRes'
  /depservices/inventory/reserveinventory/1.0.0:
    post:
      tags:
        - Reserve Inventory
      summary: Reserves skus in WMS for 2 hours
      description: ''
      operationId: reserveInventory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationReq'
      responses:
        '200':
          description: Successfull Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationRes'
        '400':
          description: Invalid input
        '500':
          description: Server Error
  /depservices/inventory/reserveinventory/2.0.0:
    post:
      tags:
        - Reserve Inventory
      summary: Reserves skus in WMS for 2 hours with a store id
      description: ''
      operationId: reserveInventory2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationReq2'
      responses:
        '200':
          description: Successfull Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationRes'
        '400':
          description: Invalid input
        '500':
          description: Server Error
  /depservices/inventory/releaseinventory/1.0.0:
    post:
      tags:
        - Release Inventory
      summary: Release skus in WMS from a 2 hour remorse period
      description: ''
      operationId: releaseInventory
      requestBody:
        content:
          'application:/json':
            schema:
              $ref: '#/components/schemas/ReleaseReq'
      responses:
        '200':
          description: Successfull Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseRes'
        '400':
          description: Invalid input
        '500':
          description: Server Error
  /depservices/inventory/releaseinventory/2.0.0:
    post:
      tags:
        - Release Inventory
      summary: Release skus in WMS from a 2 hour period with a store id
      description: ''
      operationId: releaseInventory2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseReq2'
      responses:
        '200':
          description: Successfull Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseRes'
        '400':
          description: Invalid input
        '500':
          description: Server Error
  /depservices/inventory/getsupplybysku/1.0.0:
    post:
      tags:
        - Get Supply By Sku
      summary: To be edited
      description: ''
      operationId: getSupplyBySku
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSupplyBySkuReq'
      responses:
        '200':
          description: Successfull Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSupplyBySkuRes'
  /depservices/inventory/getsupplybyskuandstore/1.0.0:
    post:
      tags:
        - Get Supply By Sku And Store
      summary: To be edited
      description: ''
      operationId: getSupplyBySkuAndStore
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSupplyBySkuAndStoreReq'
      responses:
        '200':
          description: Successfull Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSupplyBySkuRes'
  /depservices/inventory/addorupdatesupply/1.0.0:
    post:
      tags:
        - Add Or Update Supply
      summary: To be edited
      description: ''
      operationId: addOrUpdateSupply
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOrUpdateSupplyReq'
      responses:
        '200':
          description: Successfull Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOrUpdateSupplyRes'
  /depservices/inventory/addexceptionskus/1.0.0:
    post:
      tags:
        - Add Exception Skus
      summary: To be edited
      description: ''
      operationId: addExceptionSkus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddExceptionSkusReq'
      responses:
        '200':
          description: Successfull Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddExceptionSkusRes'
  /depservices/inventory/deleteexceptionskus/1.0.0:
    post:
      tags:
        - Delete Exception Skus
      summary: To be edited
      description: ''
      operationId: deleteExceptionSkus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddExceptionSkusReq'
      responses:
        '200':
          description: Successfull Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddExceptionSkusRes'
components:
  schemas:
    HeartbeatRes:
      type: object
      properties:
        responseMetaData:
          type: object
          properties:
            appName:
              type: string
              example: Inventoryapp
            statusCode:
              type: string
              example: '0000'
            statusDesc:
              type: string
              example: Up and Running
    ReservationReq:
      type: object
      required:
        - requestMetaData
        - requestPayloadData
      properties:
        requestMetaData:
          type: object
          required:
            - appName
            - lineOfBusiness
          properties:
            appName:
              type: string
              example: CVS_APP
            lineOfBusiness:
              type: string
              example: Retail
            conversationId:
              type: string
              example: 12das33asd5hg66sdgh77
        requestPayloadData:
          type: object
          required:
            - itemNumber
            - reserveQty
          properties:
            reservationData:
              type: object
              properties:
                itemNumber:
                  type: integer
                  example: 2485
                itemSuffix:
                  type: string
                  example: C
                promoFlag:
                  type: string
                  example: C
                reserveQty:
                  type: integer
                  example: 0
                orderNumber:
                  type: string
                  example: 180056902
    ReservationReq2:
      type: object
      required:
        - requestMetaData
        - requestPayloadData
      properties:
        requestMetaData:
          type: object
          required:
            - appName
            - lineOfBusiness
          properties:
            appName:
              type: string
              example: CVS_APP
            lineOfBusiness:
              type: string
              example: Retail
            conversationId:
              type: string
              example: 12das33asd5hg66sdgh77
        requestPayloadData:
          type: object
          required:
            - itemNumber
            - reserveQty
          properties:
            reservationData:
              type: object
              properties:
                itemNumber:
                  type: integer
                  example: 2485
                itemSuffix:
                  type: string
                  example: C
                promoFlag:
                  type: string
                  example: C
                reserveQty:
                  type: integer
                  example: 0
                orderNumber:
                  type: string
                  example: 180056902
                store_id:
                  type: string
                  example: ORDC
    ReservationRes:
      type: object
      properties:
        responseMetaData:
          type: object
          properties:
            statusCode:
              type: string
              example: '0000'
            statusDesc:
              type: string
              example: SUCCESS
        responsePayloadData:
          type: object
          properties:
            reservationData:
              type: object
              properties:
                reserveQty:
                  type: string
                  example: '1'
    ReleaseReq:
      type: object
      required:
        - responseMetaData
        - responsePayloadData
      properties:
        responseMetaData:
          type: object
          required:
            - appName
            - lineOfBusiness
          properties:
            appName:
              type: string
              example: CVS_APP
            lineOfBusiness:
              type: string
              example: Retail
            conversationId:
              type: string
              example: 12das33asd5hg66sdgh77
        responsePayloadData:
          type: object
          required:
            - itemNumber
            - releaseQty
          properties:
            reservationData:
              type: object
              properties:
                itemNumber:
                  type: integer
                  example: 2485
                itemSuffix:
                  type: string
                  example: C
                promoFlag:
                  type: string
                  example: C
                releaseQty:
                  type: integer
                  example: 1
                orderNumber:
                  type: string
                  example: 180056902
    ReleaseReq2:
      type: object
      required:
        - responseMetaData
        - responsePayloadData
      properties:
        responseMetaData:
          type: object
          required:
            - appName
            - lineOfBusiness
          properties:
            appName:
              type: string
              example: CVS_APP
            lineOfBusiness:
              type: string
              example: Retail
            conversationId:
              type: string
              example: 12das33asd5hg66sdgh77
        responsePayloadData:
          type: object
          required:
            - itemNumber
            - releaseQty
          properties:
            reservationData:
              type: object
              properties:
                itemNumber:
                  type: integer
                  example: 2485
                itemSuffix:
                  type: string
                  example: C
                promoFlag:
                  type: string
                  example: C
                releaseQty:
                  type: integer
                  example: 1
                orderNumber:
                  type: string
                  example: 180056902
                store_id:
                  type: string
                  example: ORDC
    ReleaseRes:
      type: object
      properties:
        responseMetaData:
          type: object
          properties:
            statusCode:
              type: string
              example: '0000'
            statusDesc:
              type: string
              example: SUCCESS
        responsePayloadData:
          type: object
          properties:
            reservationData:
              type: object
              properties:
                releaseQty:
                  type: string
                  example: '1'
    GetSupplyBySkuReq:
      type: object
      required:
        - requestMetaData
        - requestPayloadData
      properties:
        requestMetaData:
          type: object
          properties:
            appName:
              type: string
              example: CVS_APP
            lineOfBusiness:
              type: string
              example: Retail
            conversationId:
              type: string
              example: Id-1234
        requestPayloadData:
          type: object
          properties:
            sku_ids:
              type: array
              items:
                description: networkIds
                type: string
              minItems: 1
              example: 
               - '988605'
               - '988656'
               - '890109'
                
    GetSupplyBySkuRes:
      type: object
      required:
        - requestMetaData
        - requestPayloadData
      properties:
        responseMetaData:
          type: object
          properties:
            appName:
              type: string
              example: CVS_APP
            lineOfBusiness:
              type: string
              example: Retail
            conversationId:
              type: string
              example: Id-1234
        responsePayloadData:
          type: array
          items:
            type: object
            properties:
              sku_id:
                type: string
                example: 890109
              store_id:
                type: string
                example: ORLDC
              sku_type:
                type: string
                example: DC
              qty:
                type: integer
                example: 423
              stock_status:
                type: integer
                example: 1
              supply_type:
                type: string
                example: ONHAND
              planogram_key:
                type: string
                example: null
              aisle_no:
                example: null
              category_id:
                example: null
              create_prog_id:
                example: null
              create_user_id:
                example: null
              date_created:
                example: null
              lock_id:
                example: null
              modify_prog_id:
                example: null
              modify_user_id:
                example: null
              planogram_active:
                type: string
                example: 'Y'
              segment:
                example: null
              segment_desc:
                example: null
              shelf_capacity:
                example: null
              shelf_no:
                example: null
              sub_category_id:
                example: null
              week_number:
                example: null
    GetSupplyBySkuAndStoreReq:
      type: object
      required:
        - requestMetaData
        - requestPayloadData
      properties:
        requestMetaData:
          type: object
          properties:
            appName:
              type: string
              example: CVS_APP
            lineOfBusiness:
              type: string
              example: Retail
            conversationId:
              type: string
              example: Id-1234
        requestPayloadData:
          type: object
          properties:
            store_id:
              type: string
              example: IndyDC
            sku_ids:
              type: array
              items:
                description: sku_ids
                type: string
              minItems: 1
              example: 
               - '988605'
               - '988656'
               - '890109'
    AddOrUpdateSupplyReq:
      type: object
      required:
        - requestMetaData
        - requestPayloadData
      properties:
        requestMetaData:
          required:
            - appName
            - lineOfBusiness
          type: object
          properties:
            appName:
              type: string
              example: CVS_APP
            lineOfBusiness:
              type: string
              example: Retail
        requestPayloadData:
          required:
            - store_id
            - sku_data
          type: object
          properties:
            store_id:
              type: string
              example: IndyDC
            sku_data:
              type: array
              items:
                type: object
                properties:
                  sku_id:
                    type: string
                    example: '41000003011'
                  sku_qty:
                    type: string
                    example: '40'
                  sku_type:
                    type: string
                    example: DC
                  supply_type:
                    type: string
                    example: ONHAND
                  source_system:
                    type: string
                    example: DBPL_STOREINV
    AddOrUpdateSupplyRes:
      type: object
      properties:
        responseMetaData:
          type: object
          properties:
            appName:
              type: string
              example: Id-a1d83e48970742ccba9b987f536fed77
            statusCode:
              type: string
              example: '0000'
            statusDesc:
              type: string
              example: Success
    AddExceptionSkusReq:
      type: object
      properties:
        requestMetaData:
          type: object
          properties:
            appName:
              type: string
              example: CVS_APP
            lineOfBusiness:
              type: string
              example: Retail
            conversationId:
              type: string
              example: Id-1234
        requestPayloadData:
          type: object
          properties:
            sku_ids:
              type: array
              items:
                description: sku_ids
                type: string
              minItems: 1
              example: 
               - '988605'
               - '988656'
               - '890109'
    AddExceptionSkusRes:
      type: object
      properties:
        responseMetaData:
          type: object
          properties:
            statusCode:
              type: string
              example: '0000'
            statusDesc:
              type: string
              example: SUCCESS
        responsePayloadData:
          type: object
          properties:
            sku_ids:
              type: array
              items:
                description: sku_ids
                type: string
              minItems: 1
              example: 
               - '988605'
               - '988656'
               - '890109'
