openapi: 3.0.0
info:
  title: DotBank API
  version: '1.0'
  description: Documentação de API do DotBank para parceiros integradores.
  contact:
    email: comercial@dotbank.com.br
    name: Suporte
    url: 'https://www.dotbank.com.br/'
servers:
  - url: 'http://api.dotbank.com.br/api/v1'
    description: V1
paths:
  /boleto:
    post:
      summary: Geração de novo boleto
      tags:
        - boleto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Resposta:
                  value:
                    boleto_id: 0160bde7-0b96-4c7f-8841-ec76cf9a2737
                    data:
                      Demonstrativos: []
                      NoteId: 0
                      Categoria: 0
                      Carteira: '109'
                      VariacaoCarteira: ''
                      DataVencimento: '2019-10-22T00:00:00'
                      ValorBoleto: 15
                      ValorCobrado: 0
                      Instrucoes:
                        - Bank:
                            Code: 341
                            Digit: '7'
                            Name: Itaú
                            Drawer: null
                            ChaveASBACE: null
                          Code: 0
                          Description: >-
                            NÃO ACEITAR PAGAMENTO COM CHEQUE</br>Carteira de
                            cobrança de </br> César Isaac da
                            Mata</br>ccesarisaacdamata@alphagraphics.com.br</br>14997472101</br>Evite
                            ficar em atraso, mantenha os seus pagamentos em
                            dia!</br>
                          NumberOfDays: 0
                      LocalPagamento: >-
                        Até o vencimento, preferencialmente no Itaú. Após o
                        vencimento, somente no ITAÚ
                      QuantidadeMoeda: 0
                      ValorMoeda: ''
                      Aceite: 'N'
                      Especie: R$
                      DocumentType:
                        Banco:
                          Code: 341
                          Digit: '7'
                          Name: Itaú
                          Drawer: null
                          ChaveASBACE: null
                        Codigo: null
                        Sigla: null
                        Especie: null
                      DataDocumento: '2019-10-21T11:06:19.213132-03:00'
                      DataProcessamento: '2019-10-21T11:06:19.213132-03:00'
                      NumeroParcela: 0
                      DocumentNumber: '01002113'
                      DigitoNossoNumero: ''
                      NossoNumero: 109/01002113-0
                      Moeda: 9
                      Cedente:
                        AccountToFile: '123066'
                        AccountSupplement: null
                        Code: '123066'
                        DigitoCedente: '6'
                        TaxNumber: '13203354000185'
                        ContributorTaxNumber: null
                        Name: ' César Isaac da Mata | FITBANK PAGAMENTOS ELETRONICOS LTDA'
                        BankAccount:
                          Bank: '341'
                          Branch: 0845
                          DigitBranch: null
                          Account: '12306'
                          DigitAccount: '6'
                        Convenio: 0
                        NumeroSequencial: 0
                        NumeroBordero: 0
                        Carteira: null
                        Endereco: null
                        Instrucoes: null
                      CodigoBarra:
                        Code: '34195805000000015001090100211300845123066000'
                        Image: null
                        TypefulLine: 34191.09016 00211.300843 51230.660006 5 80500000001500
                        Key: ''
                        BankCode: null
                        Currency: 9
                        FreeField: null
                        DueFactor: 0
                        DocumentValue: null
                      Banco:
                        Code: 341
                        Digit: '7'
                        Name: Itaú
                        Drawer: null
                        ChaveASBACE: null
                      ContaBancaria:
                        Bank: null
                        Branch: null
                        DigitBranch: null
                        Account: null
                        DigitAccount: null
                      ValorDesconto: 0
                      ValorDesconto2: 0
                      ValorDesconto3: 0
                      Drawee:
                        Address:
                          AddressLine1: Rua das Flores 123
                          AddressLine2: ''
                          Neighborhood: Ipanema
                          City: Birigui
                          State: SP
                          ZipCode: '16200382'
                          Mail: null
                        DraweeInformations: []
                        TaxNumber: '11111111111'
                        Name: Rafael Silva
                        Instructions: null
                        BankAccount: null
                      UsoBanco: ''
                      PercJurosMora: 0
                      JurosMora: 0
                      InterestModeMonthly: false
                      JurosPermanente: false
                      IOF: 0
                      RebateValue: 0
                      PercMulta: 0
                      ValorMulta: 0
                      OutrosAcrescimos: 0
                      OutrosDescontos: 0
                      DataJurosMora: '0001-01-01T00:00:00'
                      DataJurosMensal: null
                      DataMulta: '2019-10-22T00:00:00'
                      DataDesconto: '0001-01-01T00:00:00'
                      DataDesconto2: '0001-01-01T00:00:00'
                      DataDesconto3: '0001-01-01T00:00:00'
                      DataOutrosAcrescimos: '0001-01-01T00:00:00'
                      DataOutrosDescontos: '0001-01-01T00:00:00'
                      TipoModalidade: ''
                      PercentualIOS: 0
                      Remessa: null
                      BancoCarteira: null
                      OccurrenceIdentifier: 0
                    url: >-
                      https://sandboxboletos.fitbank.com.br/boleto/2019-10-21/4hxoxjak.pdf
      description: |+
        Endpoint para geração de novo boleto.

      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_name:
                  type: string
                customer_document:
                  type: string
                customer_mail:
                  type: string
                customer_phone:
                  type: string
                address_line1:
                  type: string
                address_line2:
                  type: string
                neighborhood:
                  type: string
                city:
                  type: string
                state:
                  type: string
                zip_code:
                  type: string
                external_number:
                  type: string
                phone_to_send:
                  type: string
                mail_to_send:
                  type: string
                due_date:
                  type: string
                total_value:
                  type: string
              required:
                - customer_name
                - customer_document
                - customer_mail
                - customer_phone
                - address_line1
                - address_line2
                - neighborhood
                - city
                - state
                - zip_code
                - external_number
                - phone_to_send
                - mail_to_send
                - due_date
                - total_value
            examples:
              Exemplo do JSON:
                value:
                  customer_name: Meu cliente
                  customer_document: '11111111111'
                  customer_mail: cliente@mailinator.com
                  customer_phone: '1111111111'
                  address_line1: Rua das Flores 123
                  address_line2: ''
                  neighborhood: Ipanema
                  city: Birigui
                  state: SP
                  zip_code: '16200382'
                  external_number: '00000015'
                  phone_to_send: '11999999999'
                  mail_to_send: contato@mailinator.com.br
                  due_date: 2019/10/22
                  total_value: 15
        description: ''
      parameters:
        - schema:
            type: string
            default: 'Bearer {Meu token aqui}'
          in: header
          required: true
          name: Autorization
          description: 'Exemplo: "Autorization: Bearer {Meu token inserido aqui}"'
    parameters: []
components:
  securitySchemes: {}
