openapi: 3.0.0
info:
  version: "1.0.0-oas3"
  title: Khalti_API
  description: Khalti_API
tags:
  - name: Single Request APIs
  - name: Multi Request APIs
servers:
  - url: 'http://service.khalti.com'
  - url: 'https://services.khalti.com'
paths:
  /api/use/khalti-topup/:
    post:
      tags:
        - Single Request APIs
      description: Lets a user to topup Khalti account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Topup'
      responses:
        '200':
          description: Successfully topuped khalti
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/ntc/:
    post:
      tags:
        - Single Request APIs
      description: Lets a user to topup NTC
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Topup'
      responses:
        '200':
          description: Successfully topup NTC
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/ncell/:
    post:
      tags:
        - Single Request APIs
      description: Lets a user to topup Ncell
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Topup'
      responses:
        '200':
          description: Ncell topup successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/smartcell/:
    post:
      tags:
        - Single Request APIs
      description: Lets a user to topup Smartcell
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Topup'
      responses:
        '200':
          description: Smartcell topup successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  '/api/use/{method}/':
    post:
      tags:
        - Single Request APIs
      description: >-
        Please use the follwing methods " dishhome-erc, ntc-erc, utl-erc,
        smart-erc, broadlink-erc "
      parameters:
        - name: method
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                amount:
                  type: integer
      responses:
        '200':
          description: Pin generated successfully.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/landline/:
    post:
      tags:
        - Single Request APIs
      description: Lets a user make payment for landline
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Topup'
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/simtv/:
    post:
      tags:
        - Single Request APIs
      description: >-
        Lets a user make payment for landline. <br> Use amount from 50 to 50000
        <br/>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                amount:
                  type: integer
                customer_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/cleartv/:
    post:
      tags:
        - Single Request APIs
      description: |
        ClearTv Payment.
          
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                number:
                  type: string
                customer_id:
                  type: string
                amount:
                  type: integer
                reference:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/adsl-ul/:
    post:
      tags:
        - Single Request APIs
      description: >-
        Lets a user make payment for adsl unlimited. <br> Valid Amounts for both
        unlimited & volume based "500, 1000, 1500, 2000, 2500, 3000, 4000, 5000"
        <br/>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Topup'
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/subisu/:
    post:
      tags:
        - Single Request APIs
      description: |
        Lets a user make payment for Subisu.

        Amount should be between 400 and 15000 inclusive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Internet'
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/websurfer-topup/:
    post:
      tags:
        - Single Request APIs
      description: Lets a user make payment for Websurfer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Internet'
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/sky-topup/:
    post:
      tags:
        - Single Request APIs
      description: Lets a user make payment for Sky topup.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Internet'
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/virtual-network/:
    post:
      tags:
        - Single Request APIs
      description: |
        Lets a user make payment for Virtual Network.

        Amount should be greater than or equal to 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Network'
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/web-network/:
    post:
      tags:
        - Single Request APIs
      description: |
        Lets a user make payment for Web Network.

        Amount should be greater than or equal to 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Network'
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/royal-network/:
    post:
      tags:
        - Single Request APIs
      description: |
        Lets a user make payment for Royal Network.

        Amount should be greater than or equal to 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Network'
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/hons/:
    post:
      tags:
        - Single Request APIs
      description: |
        Lets a user make payment for Hons.

        Amount should be greater than or equal to 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Network'
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/pokhara-internet/:
    post:
      tags:
        - Single Request APIs
      description: |
        Lets a user make payment for Pokhara Internet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                amount:
                  type: integer
                username:
                  type: string
                number:
                  type: string
                address:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/alisha-communication/:
    post:
      tags:
        - Single Request APIs
      description: Lets a user make payment for Alisha Communication.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                amount:
                  type: integer
                username:
                  type: string
                number:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/infonet-communication/:
    post:
      tags:
        - Single Request APIs
      description: Lets a user make payment for infonet Communication.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                amount:
                  type: integer
                username:
                  type: string
                mobile_number:
                  type: string
                address:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/metrolink/:
    post:
      tags:
        - Single Request APIs
      description: Lets a user make payment for metrolink.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                amount:
                  type: integer
                username:
                  type: string
                mobile_number:
                  type: string
                address:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  '/api/use/{service_slug}/':
    post:
      tags:
        - Single Request APIs
      description: |
        Lets a user make payment for Capital Share. 

        i) Sunrise Capital API (demat-sunrise/meroshare-sunrise) <br>
        ii) Laxmi Capital API (demat-laxmi/meroshare-laxmi) <br>
        iii) BOK Capital API (demat-bok/meroshare-bok)  <br>
        iv) Sanima Capital API (demat-sanima/meroshare-sanima) <br>
        v) Prabhu Capital (demat-prabhu/meroshare-prabhu) <br>
        vi) NIC Asia Capital (demat-nicasia/meroshare-nicasia)  <br>
                  
        Note; Choose service_slug from above data. Ex; service_slug of
        Sunrise Capital Demat is “demat-sunrise”
      summary: Capital Share
      parameters:
        - name: service_slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                full_name:
                  type: string
                amount:
                  type: integer
                mobile_number:
                  type: string
                reference:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/counters/nea/:
    post:
      tags:
        - Multi Request APIs
      description: Details of electricity counters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/details/nea/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Details of customer.

        office code = one of the ’value’ fields of the response from counters 
        details
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                sc_no:
                  type: string
                consumer_id:
                  type: string
                office_code:
                  type: string
                reference:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sc_no:
                    type: string
                  consumer_id:
                    type: string
                  office_code:
                    type: string
  /api/servicegroup/servicecharge/nea/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Get service charge Nea. 

        session_id = value obtained during customer detail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                amount:
                  type: integer
                session_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/commit/nea/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Payment for Nea. 

        session_id = value obtained during customer detail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                amount:
                  type: integer
                session_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/counters/khanepani/:
    post:
      tags:
        - Multi Request APIs
      description: Details of Khanepani counters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/details/khanepani/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Details of customer.

        counter = < one of the ‘value’ fields from Counter detail >
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                month_id:
                  type: string
                customer_code:
                  type: string
                counter:
                  type: string
                reference:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/lookup/dishhome/:
    get:
      tags:
        - Multi Request APIs
      description: |
        Customer / CAS ID details
      parameters:
        - name: token
          in: query
          description: Please enter your token
          required: true
          schema:
            type: string
        - name: casid
          in: query
          description: Enter consumer cas id.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Request Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - token
  /api/use/dishhome/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Lets a user make payment for Dishhome. <br>
        Valid Amounts
        300, 350, 400, 500, 600, 700, 1000, 2000, 3000, 4000, 5000, 6000, 7000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                amount:
                  type: integer
                casid:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/details/merotv/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Details of merotv client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                smartcard_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/commit/merotv/:
    post:
      tags:
        - Multi Request APIs
      description: |
        MeroTv Payment.

        “session_id” > “session_id return during detail step”

        “package_id” > “<package_id from details step>”
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                package_id:
                  type: string
                session_id:
                  type: string
                amount:
                  type: integer
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/details/worldlink/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Details of Worldlink.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                username:
                  type: string
                reference:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/commit/worldlink/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Payment for worldlink.

        payment_type = <’Advanced’ or ‘Normal’>,
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                username:
                  type: string
                reference:
                  type: string
                amount:
                  type: integer
                payment_type:
                  type: string
                option_id:
                  type: string
                plan_category_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/details/vianet/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Details of Vianet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                customer_id:
                  type: string
                reference:
                  type: string
      responses:
        '200':
          description: Request Success
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/commit/vianet/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Payment for Vianet.

        session_id = <Session id, as obtained in details step> <br>
        customer_id = <Customer Id, same as in details step>  <br>
        payment_id = <Payment Id, as obtained in details step> <br>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                customer_id:
                  type: string
                session_id:
                  type: string
                payment_id:
                  type: string
      responses:
        '200':
          description: Request Success.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/details/classitech/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Payment details for classictech.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                username:
                  type: string
      responses:
        '200':
          description: Request Success
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/commit/classitech/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Payment for Classictech.

        session_id > “session id from detail step” <br>
        amount > “amount from details step” <br>
        month > “select month from detail step” <br>
        package > “select package from previous step” <br>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                session_id:
                  type: string
                amount:
                  type: integer
                month:
                  type: string
                package:
                  type: string
      responses:
        '200':
          description: Request success.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/details/arrownet/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Details for arrownet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                username:
                  type: string
      responses:
        '200':
          description: Request success.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/commit/arrownet/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Payment for arrownet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                username:
                  type: string
                amount:
                  type: integer
                duration:
                  type: string
      responses:
        '200':
          description: Request success.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/details/websurfer/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Details for Skytv and Internet.
        stb/username = Unique setupbox number/ username <br>
        ‘service’ = ‘sky-tv (For TV) / sky-internet (For Internet)’
      summary: SKY CABLE TV AND TOPUP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                customer_id:
                  type: string
                stb/username:
                  type: string
                service:
                  type: string
      responses:
        '200':
          description: Request success.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/commit/websurfer/:
    post:
      tags:
        - Multi Request APIs
      description: >
        Payment for Sky tv and Internet.


        ‘session_id' = ‘<session_id returned during user lookup>’, <br>

        ‘code’ = ‘<code associated with the package (see in User lookup
        Response)>’, <br>

        ‘service’ = ‘sky-tv (For TV) / sky-internet (For Internet)’
      summary: SKY CABLE TV AND TOPUP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                session_id:
                  type: string
                amount:
                  type: integer
                code:
                  type: string
                service:
                  type: string
      responses:
        '200':
          description: Request success.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/details/techminds/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Details for Techmind.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                request_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/commit/techminds/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Payment for Techmind.

        ‘session_id' = ‘<session_id returned during user lookup>’, <br>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                session_id:
                  type: string
                request_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/search/midas/:
    get:
      tags:
        - Multi Request APIs
      description: |
        Details for Midas.
      parameters:
        - name: token
          in: query
          description: Please enter your token
          required: true
          schema:
            type: string
        - name: number
          in: query
          description: Enter your number.
          required: true
          schema:
            type: string
        - name: reference
          in: query
          description: Reference must be unique
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Request Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - token
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/getpackages/midas/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Packet Listing for Midas.

        ‘session_id' = ‘<session_id returned during seatch step>’, <br>
      summary: Midas Package Listing API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                session_id:
                  type: string
                class_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/getpackagerates/midas/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Package Rate for Midas.

        ‘session_id' = ‘<session_id returned during seatch step>’, <br>
        “package_id” = “the id of package from previous step”, <br>
        “number_of_days” = “number of days from previous step”
      summary: MIDAS PACKAGE RATE API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                session_id:
                  type: string
                package_id:
                  type: string
                number_of_days:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/commit/midas/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Payment for Midas.

        ‘session_id' = ‘<session_id returned during seatch step>’, <br>
        “package_code” = “package code from previous step”
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                session_id:
                  type: string
                package_code:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/products/kaspersky/:
    get:
      tags:
        - Multi Request APIs
      description: |
        Details for Kaspersky.
      parameters:
        - name: token
          in: query
          description: Please enter your token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Request Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - token
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/use/kaspersky/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Payment for Kaspersky.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                amount:
                  type: integer
                value:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/servicegroup/details/neco-insurance/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Details of Insurance Plan.

        "insurance_slug" = "neco-insurance"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                insurance_slug:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/commit/neco-insurance/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Payment of Insurance Plan.

        "insurance_slug" = "neco-insurance" <br>
        ‘policy_type’ = Fresh OR Renew      <br>
        ‘policy_category’ = Any one value from categories above   <br>
        ‘reference_identifier’ = unique identifier for each request <br>
        ‘service_name’ = ‘neco-insurance’,
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                insurance_slug:
                  type: string
                policy_type:
                  type: string
                customer_name:
                  type: string
                policy_category:
                  type: string
                amount:
                  type: integer
                reference_identifier:
                  type: string
                policy_number:
                  type: string
                mobile_number:
                  type: string
                service_name:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroups/details/sagarmatha-insurance/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Details of Insurance Plan.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                debit_note_no:
                  type: string
                reference:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroups/commit/sagarmatha-insurance/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Payment of Insurance Plan.

        session_id = session_id returned during user lookup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                session_id:
                  type: string
                amount:
                  type: integer
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/details/arhant-insurances/:
    post:
      tags:
        - Multi Request APIs
      description: >
        Details of Insurance Plan.


        Note = Below is the list of Insurances under Arhant and their
        insurance_slug


        Premier Insurance = premier-insurance (TEST now only available for this)

        Prudential Insurance = prudential-insurance

        United Insurance = united-insurance

        National Insurance = national-insurance

        NLG Insurance = nlg-insurance
          …..others to be added
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                request_id:
                  type: string
                insurance_slug:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/commit/arhant-insurances/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Payment of Insurance Plan.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                request_id:
                  type: string
                amount:
                  type: integer
                insurance_slug:
                  type: string
                reference:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/details/reliance-insurance/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Detail of Insurance Plan.

        “dob” = “YYYY-MM-DD”
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                policy_number:
                  type: string
                dob:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/commit/reliance-insurance/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Payment of Insurance Plan.

        “transaction_id” = “transaction id from details step”,
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                amount:
                  type: integer
                policy_no:
                  type: string
                transaction_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/details/nabil-invest/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Payment of Insurance Plan.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                client_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/commit/nabil-invest/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Payment of Insurance Plan.

        “session_id” = “session_id from previous step”,
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                session_id:
                  type: string
                amount:
                  type: integer
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/sectors/flight/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Details of FLight

        “session_id” = “session_id from previous step”,
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/search/flight/:
    get:
      tags:
        - Multi Request APIs
      description: |
        Search FLight
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Reference'
        - name: flight_type
          in: query
          description: >-
            One of the flight type ‘D’ for domestic and ‘I’ for international.
            (mandatory).
          required: true
          schema:
            type: string
        - name: trip_type
          in: query
          description: >-
            One of the trip type  ‘O’ for one way and ‘R’ for return.
            (mandatory).
          required: true
          schema:
            type: string
        - name: flight_date
          in: query
          description: YYYY-MM-DD (mandatory).
          required: true
          schema:
            type: string
        - name: return_date
          in: query
          description: YYYY-MM-DD
          required: false
          schema:
            type: string
        - name: nationality
          in: query
          description: Country code of the passenger(NP for Nepal)
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Adult'
        - $ref: '#/components/parameters/Child'
        - name: infant
          in: query
          description: Number of Infant
          required: false
          schema:
            type: integer
        - name: from
          in: query
          description: 'Origin Sector code explained below, e.g. ‘PKR’  for Pokhara'
          required: true
          schema:
            type: string
        - name: to
          in: query
          description: Destination Sector code
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/book/flight/:
    post:
      tags:
        - Multi Request APIs
      description: >
        Details of FLight


        Flight id = one of the flight_ids from search response in/outbound list
        <br>

        Booking_id = value of booking_id from search response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                flight_id:
                  type: string
                return_flight_id:
                  type: string
                booking_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/addinfo/flight/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Add passenger details for FLight

        Booking_id = value of booking_id from search response  <br>
        type =  ADULT, CHILD or INFANT <br>
        title = MR, MRS or MS, <br>
        gender = M or F  <br>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                contact_name:
                  type: string
                contact_phone:
                  type: string
                booking_id:
                  type: string
                passengers:
                  type: array
                  items:
                    type: object
                    properties:
                      firstname:
                        type: string
                      lastname:
                        type: string
                      type:
                        type: string
                        enum:
                          - ADULT
                          - CHILD
                          - INFANT
                      title:
                        type: string
                        enum:
                          - Mr
                          - MS
                          - MRS
                      gender:
                        type: string
                        enum:
                          - M
                          - F
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/issue/flight/:
    post:
      tags:
        - Multi Request APIs
      description: >
        Payment of FLight


        Flight id = one of the flight_ids from search response in/outbound list
        <br>

        Booking_id = value of booking_id from search response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                flight_id:
                  type: string
                booking_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/cancel/flight/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Payment of FLight

        cancel_tickets =["ticketnumber"] #Separate by comma for multiple tickets
        Booking_id = value of booking_id from search response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                cancel_tickets:
                  type: string
                booking_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  '/api/download/{id}':
    get:
      tags:
        - Multi Request APIs
      description: |
        Search FLight
      parameters:
        - name: id
          in: path
          description: Enter id.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Token'
        - name: is_base64
          in: query
          description: If "True" return base64 encoded data. (Optinal)
          schema:
            type: string
      responses:
        '200':
          description: Request Success.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/search/movie/:
    get:
      tags:
        - Multi Request APIs
      description: |
        Search FLight
      parameters:
        - $ref: '#/components/parameters/Token'
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/showinfo/movie/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Movie show information.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                show_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/seatsinfo/movie/:
    post:
      tags:
        - Multi Request APIs
      description: >
        Movie seat information.
          
        show_id = one of the show_id values obtained in search <br>

        ticket_type_id = ticket_type_id values obtained in showinfo <br>

        old_session_id = leave it empty or set some value. Read NOTE that
        follows


        NOTE This api will return a new session_id if ‘old_session’ is not set. 

        If set, this will not returnnew session_id and is used for changing the
        price levels of the auditorim

        <br>

        Example Auditorium 1 of a theatre can have ‘Gold seats’ and ‘Premium
        seats’,

        setting old_session will allow switching between the seats without
        creating new session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                reference:
                  type: string
                show_id:
                  type: string
                ticket_type_id:
                  type: string
                old_session_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/selectseat/movie/:
    post:
      tags:
        - Multi Request APIs
      description: |
        To select seat.

        seat_id =  seat_id of the seat to be unselected <br>
        session_id = value obtained during seatsinfo step
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                session_id:
                  type: string
                seat_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/unselectseat/movie/:
    post:
      tags:
        - Multi Request APIs
      description: |
        To unselect seat.

        seat_id =  seat_id of the seat to be unselected <br>
        session_id = value obtained during seatsinfo step
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                session_id:
                  type: string
                seat_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/cancel/movie/:
    post:
      tags:
        - Multi Request APIs
      description: |
        To cancel all the seats.

        session_id = value obtained during seatsinfo step
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                session_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/commit/movie/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Payment for the movie.

        session_id = value obtained during seatsinfo step
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                session_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/downloadticket/movie/:
    post:
      tags:
        - Multi Request APIs
      description: |
        Download ticket.

        session_id = value obtained during seatsinfo step
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                session_id:
                  type: string
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
  /api/servicegroup/search/hotel/:
    get:
      tags:
        - Multi Request APIs
      description: |
        Search Hotel

        session_id = value obtained during seatsinfo step
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Reference'
        - name: rooms
          in: query
          required: true
          description: Number of rooms.
          schema:
            type: integer
        - name: checkin_date
          in: query
          required: true
          description: YYYY-MM-DD
          schema:
            type: string
        - name: checkout-date
          in: query
          required: true
          description: YYYY-MM-DD
          schema:
            type: string
        - $ref: '#/components/parameters/Adult'
        - $ref: '#/components/parameters/Child'
        - name: city
          in: query
          required: true
          description: Name of city.
          schema:
            type: string
            enum:
              - Lalitpur
              - Biratnagar
              - Dharan Nepal
              - Nepalgunj
              - Chitwan
              - Nagarkot
              - Lumbini
              - Pokhara
              - Hetauda
              - Kathmandu
              - Dhulikhel
              - Janakpur
              - Birgunj
              - Birtamod
              - Itahari
              - Bhaktapur
              - Butwal
              - Dhangadhi
              - Kakarvitta
      responses:
        '200':
          description: Request Successful.
        '400':
          $ref: '#/components/responses/400Error'
components:
  schemas:
    Topup:
      type: object
      required:
        - token
      properties:
        token:
          type: string
        reference:
          type: string
        amount:
          type: integer
        number:
          type: string
    Internet:
      type: object
      required:
        - token
      properties:
        token:
          type: string
        reference:
          type: string
        amount:
          type: integer
        number:
          type: string
        customer_id:
          type: string
    Network:
      type: object
      required:
        - token
      properties:
        token:
          type: string
        username:
          type: string
        mobile_number:
          type: string
        amount:
          type: integer
        reference:
          type: string
  parameters:
    Token:
      name: token
      in: query
      description: Enter your token.
      required: true
      schema:
        type: string
    Reference:
      name: reference
      in: query
      description: Reference must be unique
      required: true
      schema:
        type: string
    Adult:
      name: adult
      in: query
      description: Number of Adults.
      required: true
      schema:
        type: integer
    Child:
      name: child
      in: query
      description: Number of Children.
      required: false
      schema:
        type: integer
  responses:
    400Error:
      description: Invalid request
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string