openapi: 3.0.0
####################
# General Information #
####################
info:
  title: API documentation i`way transfer
  description: API documentation to external integration
  termsOfService: http://swagger.io/terms/
  contact:
    name: Technical Support Service
    email: support@iwayex.com
#  license:
#    name: Apache 2.0
#    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: "3.0.0"

####################
# External API documentation
####################
externalDocs:
  description: Additional API Documentation
  url: https://iway.io/ngapidoc

####################
# Available servers
####################
servers:
  - description: Sandbox Enviroment - the environment is designed for primary integration, internal and external testing
    url: https://sandbox.iway.io/transnextgen/
  - description: Production Enviroment - the environment is designed to work in "combat" mode
    url: https://iway.ru/transnextgen/

####################
# Tags
####################
tags:
  - name: user
    description: Users
  - name: place
    description: Route points
  - name: price
    description: Price offers
  - name: order
    description: Orders

#-------------------------------------------------------------------------------
####################
# COMPONENTS
####################
components:
  
  ####################
  # SCHEMES
  ####################
  
  schemas:
    
    ####################
    # PRIMITIVE SCHEMES
    ####################
    
    user_id:
      title: User ID
      type: integer
      # SANDBOX
      example: 1863
    
    password:
      title: User Password
      type: string
      format: password
      # SANDBOX
      example: 1830Voldemort
    
    transaction:
      title: Unique identifier for the order. Common for an order of several trips (payment transaction)
      type: integer
      example: 14565973
    
    term:
      title: Search query string
      type: string
      example: Tolmachevo
    
    lang:
      title: Localization of the expected response
      description: >
          Localization of the expected response
          
          `ru` - Russian
          
          `en` - English
      type: string
      enum: [ru, en]
      example: ru
      default: ru
  
    currency:
      title: Price quote currency
      description: >
          Price quote currency          
          `RUB` - Russian Ruble
          
          `EUR` - Euro
          
          `USD` - United States Dollar
          
          `CNY` - Yuan Renminbi
          
          `CZK` - Czech Koruna
          
          `GBP` - Pound Sterling
          
          `INR` - Indian Rupee
          
          `KZT` - Tenge
          
          `SGD` - Singapore Dollar
          
          `TRY` - Turkish Lira
          
          `UAH` - Hryvnia
          
          `ZAR` - Rand
          
          `BYN` - Belarusian ruble
      type: string
      enum:
        - RUB
        - EUR
        - USD
        - CNY
        - CZK
        - GBP
        - INR
        - KZT
        - SGD
        - TRY
        - UAH
        - ZAR
        - BYN
      example: RUB
      default: RUB
      
    place_point:
      title: Waypoint coordinates
      type: string
      example: 55.00835259999999,82.9357327
  
    duration:
      title: Duration of car rental (in seconds)
      type: integer
      example: 3600
      
    additional_change_itinerary:
      title: Additional rides / route changes
      description: >
          Additional rides / route changes
          
          `1` - No approval required
          
          `2` - Requires approval
          
          `3` - Forbidden
      type: integer
      enum: [1, 2, 3]
      example: 1
    
    additional_wait:
      title: Extra waiting
      description: >
          Extra waiting
          
          `1` - No approval required
          
          `2` - Requires approval
          
          `3` - Forbidden
      type: integer
      enum: [1, 2, 3]
      example: 1
      
    fare_on_toll_road:
      title: Travel on toll road
      description: >
          Travel on toll road          
          `1` - No approval required
          
          `2` - Requires approval
          
          `3` - Forbidden
      type: integer
      enum: [1, 2, 3]
      example: 1
      
    price_id:
      title: Waypoint Object
      type: integer
      example: 2921215
      
    passengers_number:
      title: Passengers Number
      type: integer
      example: 3
    
    text_tablet:
      title: Greeting Sign Text
      type: string
      example: i`way waiting for you!
    
    comment:
      title: Comment on the order
      type: string
      example: Meet in a clean car and in a smart suit
      
    payable_status:
      title: Order Payment Status
      description: >
          Order Payment Status
          
          `1` - 1
          
          `2` - 2
          
          `3` - 3
      type: integer
      enum:
        - 1
        - 2
      example: 1
    
    service_id:
      title: Ride Type
      description: >
          Ride Type
          
          `1` - Transfer
          
          `2` - Chauffeur Service
      type: integer
      enum:
        - 1
        - 2
      example: 1
    
    status:
      title: Trip Processing Status
      description: >
          Travel on toll road
          
          `0` - Awaiting Processing
          
          `1` - Processing
          
          `2` - Accepted
          
          `3` - Done
          
          `4` - Canceled without penalty
          
          `5` - Canceled with penalty
          
          `6` - Not paid
          
          `7` - Changed
      type: integer
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
      example: 0
      
    order_id:
      title: Order ID / Trip ID
      type: integer
      example: 4000172
    
    price:
      title: Trip Cost
      type: integer
      example: 539
      
    price_uid:
      title: UID offers
      type: string
      example: 704fecdc-d516-4cc5-bf61-5a74a37c7ba4
    
    ####################
    # ENTITY SCHEMES
    ####################
    
    send_params_object:
      title: Notification settings
      type: object
      properties:
        send_client_voucher:
          description: Send a voucher to a passenger
          type: boolean
          example: false
        send_admin_voucher:
          description: Send a voucher to the administrator of your personal account
          type: boolean
          example: false
        send_client_doc:
          description: Send documents to your user account
          type: boolean
          example: false
        send_admin_doc:
          description: Send documents to the administrator of your personal account
          type: boolean
          example: false
    
    location_object:
      title: Route point
      type: object
      properties:
        flight_number:
          description: Flight number, if the place where the trip began is airport
          type: string
          example: 12
        terminal_number:
          description: Airport terminal number, if the start or end point of the trip is airport
          type: string
          example: 41
        train_number:
          description: Train number, if the place where the trip began is railway station
          type: string
          example: 1352
        train_carriage_number:
          description: Train car number, if the place where the trip began is railway station
          type: string
          example: 4
        address:
          description: Address
          type: string
          example: Novosibirsk
        location:
          description: Location coordinates
          type: string
          example: 55.00835259999999,82.9357327
        time:
          description: The time of arrival / departure of the plane, arrival / departure of the train. Depends on the type of departure / destination
          type: string
          format: date-time
          example: 2020-05-30 00:00
      
    passager_object:
      title: Passenger
      type: object
      properties:
        name:
          description: Passenger Name
          type: string
          example: Test Test
        email:
          description: Passenger Email
          type: string
          example: iwaytest@gmail.com
        phone:
          description: Passenger Phone
          type: string
          example: "79139134657"
      
    place_object:
      title: Route point
      type: object
      properties:
        place_id:
          type: integer
          example: 9
        title:
          type: string
          example: Novosibirsk
        type:
          type: integer
          example: 1
        type_title:
          type: string
          example: in the city
        terminal:
          type: array
          items:
            type: string
        declension_titles:
          type: object
          properties:
            nom:
              type: string
              example: null
            gen:
              type: string
              example: null
            acc:
              type: string
              example: null
    
    car_class_object:
      type: object
      properties:
        car_class_id:
          type: integer
          example: 2
        title:
          type: string
          example: standart
        models:
          type: array
          items:
            type: string
            example: Skoda Octavia
        photo:
          type: string
          example: kaknoo5tp6.png
        capacity:
          type: integer
          example: 3
    
    class_services:
      type: object
      properties:
        id:
          
          type: integer
          enum: [1, 2, 3]
        title:
          type: integer
        value:
          type: integer
    
    trip_object:
      title: Trip
      type: object
      properties:
        price_id:
          $ref: '#/components/schemas/price_id'
        start_location:
          $ref: '#/components/schemas/location_object'
        finish_location:
          $ref: '#/components/schemas/location_object'
        additional_location:
          title: List of addition addresses
          type: array
          items:
            $ref: '#/components/schemas/location_object'
        passengers:
          title: List of Passengers
          type: array
          items:
            $ref: '#/components/schemas/passager_object'
        passengers_number:
          $ref: '#/components/schemas/passengers_number'
        text_tablet:
          $ref: '#/components/schemas/text_tablet'
        comment:
          $ref: '#/components/schemas/comment'
        additional_change_itinerary:
          $ref: '#/components/schemas/additional_change_itinerary'
        additional_wait:
          $ref: '#/components/schemas/additional_wait'
        fare_on_toll_road:
          $ref: '#/components/schemas/fare_on_toll_road'
        send_params:
          $ref: '#/components/schemas/send_params_object'
    
    order_object:
      title: Order
      type: object
      properties:
        order_id:
          $ref: '#/components/schemas/order_id'
        transaction:
          $ref: '#/components/schemas/transaction'
        booker_number:
          title: Internal order number in the accounting system i'way (1C)
          type: string
          example: C-0000062
        price:
          $ref: '#/components/schemas/price'
        payable_status:
          $ref: '#/components/schemas/payable_status'
        service_id:
          $ref: '#/components/schemas/service_id'
        currency:
          $ref: '#/components/schemas/currency'
        status:
          $ref: '#/components/schemas/status'
        passengers:
          type: array
          items:
            $ref: '#/components/schemas/passager_object'
        additional_change_itinerary:
          $ref: '#/components/schemas/additional_change_itinerary'
        additional_wait:
          $ref: '#/components/schemas/additional_wait'
        fare_on_toll_road:
          $ref: '#/components/schemas/fare_on_toll_road'
        send_params:
          $ref: '#/components/schemas/send_params_object'
    
    price_object:
      title: Price offer
      type: object
      properties:
        price_uid:
          $ref: '#/components/schemas/price_uid'
        price_id:
          $ref: '#/components/schemas/price_id'
        price:
          $ref: '#/components/schemas/price'
        price_rub:
          $ref: '#/components/schemas/price'
        reverse_price:
          type: object
          properties:
            price_id:
              $ref: '#/components/schemas/price_id'
            price:
              $ref: '#/components/schemas/price'
        currency:
          $ref: '#/components/schemas/currency'
        service_id:
          $ref: '#/components/schemas/service_id'
        car_class:
          $ref: '#/components/schemas/car_class_object'
        allowable_subaddress:
          type: integer
          example: 3
        price_subaddress:
          type: integer
          example: 270
        cancellation_time:
          type: integer
          example: 2
        type:
          type: integer
          example: 1
        payed_road:
          type: boolean
          example: false
        blackout_date:
          type: array
          items:
            type: string
            format: date
        allowable_time:
          type: integer
          example: 2
        is_special:
          type: integer
        class_services:
          $ref: '#/components/schemas/class_services'
        id_custom_price:
          type: integer
          example: null
        minimum_duration:
          type: integer
          example: 0
        start_place:
          $ref: '#/components/schemas/place_object'
        finish_place:
          $ref: '#/components/schemas/place_object'
    
    ####################
    # REQUEST SCHEMES
    ####################
    
    requestAuth:
      title: Authentication Request
      type: object
      properties:
        user_id:
          $ref: '#/components/schemas/user_id'
        password:
          $ref: '#/components/schemas/password'
    
    requestBodyCreateOrder:
      title: Request to create an order
      type: object
      properties:
        lang:
          $ref: '#/components/schemas/lang'
        currency:
          $ref: '#/components/schemas/currency'
        trips:
          title: Array of rides
          type: array
          items:
            $ref: '#/components/schemas/trip_object'
    
    requestBodyUpdateOrder:
      title: Order Update Request
      $ref: '#/components/schemas/trip_object'
          
    
    requestBodyCancelOrder:
      title: Cancellation Request
      type: object
      properties:
        user_id:
          $ref: '#/components/schemas/user_id'
        transaction:
          $ref: '#/components/schemas/transaction'
        order_id:
          $ref: '#/components/schemas/order_id'
          
    ####################
    # RESPONSE SCHEMES
    ####################
    
    responseTransferPrice:
      title: Result of successful receipt of offers for the “Transfer service”
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/price_object'
        error:
          type: object
          example: null
      
    responseRentPrice:
      title: The result of successfully receiving offers for the service "Chauffeur Service"
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/price_object'
        error:
          type: object
          example: null
    
    responseCreateOrder:
      title: Result of successful order creation
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/order_object'
        error:
          type: object
          example: null
          
    
    responseBadRequest:
      title: Error 400
      type: object
      properties:
        result:
          type: object
          example: null
        error:
          type: object
          properties:
            name:
              type: string
              example: Bad Request
            message:
              type: string
              example: Price not found
            code:
              type: integer
              example: 0
            status:
              type: integer
              example: 400
              
    responseUnautorization:
      title: Error 401
      type: object
      properties:
        result:
          type: object
          example: null
        error:
          type: object
          properties:
            name:
              type: string
              example: Bad Request
            message:
              type: string
              example: Unautorization
            code:
              type: integer
              example: 0
            status:
              type: integer
              example: 401
    
    responseNotFound:
      title: Error 404
      type: object
      properties:
        result:
          type: object
          example: null
        error:
          type: object
          properties:
            name:
              type: string
              example: Not Found
            message:
              type: string
              example: Page not found.
            code:
              type: integer
              example: 0
            status:
              type: integer
              example: 404
            type:
              type: string
              example: yii\\web\\NotFoundHttpException
            previous:
              type: object
              properties:
                name:
                  type: string
                  example: Invalid Route
                message:
                  type: string
                  example: Unable to resolve the request
                code:
                  type: integer
                  example: 0
                type:
                  type: string
                  example: yii\\base\\InvalidRouteException
      
  ####################
  # PARAMETERS
  ####################
  parameters:
  
    transaction:
      required: true
      description: Transaction ID
      name: transaction
      in: path
      schema:
        $ref: '#/components/schemas/transaction'
  
    term:
      description: Text to search
      name: term
      in: query
      schema:
        $ref: '#/components/schemas/term'
    
    lang:
      description: >
          Localization of the expected response
          
          
          `ru` - Russian
          
          
          `en` - English
      name: lang
      in: query
      schema:
        $ref: '#/components/schemas/lang'
    
    user_id:
      required: true
      description: User ID
      name: user_id
      in: query
      schema:
        $ref: '#/components/schemas/user_id'
    
    currency:
      description: >
          Price quote currency
          
          `RUB` - Russian Ruble
          
          `EUR` - Euro
          
          `USD` - United States Dollar
          
          `CNY` - Yuan Renminbi
          
          `CZK` - Czech Koruna
          
          `GBP` - Pound Sterling
          
          `INR` - Indian Rupee
          
          `KZT` - Tenge
          
          `SGD` - Singapore Dollar
          
          `TRY` - Turkish Lira
          
          `UAH` - Hryvnia
          
          `ZAR` - Rand
          
          `BYN` - Belarusian ruble
      name: currency
      in: query
      schema:
        $ref: '#/components/schemas/currency'
    
    start_place_point:
      description: Coordinates for the start point of the trip
      name: start_place_point
      in: query
      schema:
        $ref: '#/components/schemas/place_point'
    
    finish_place_point:
      description: Coordinates for the endpoint of the trip
      name: finish_place_point
      in: query
      schema:
        $ref: '#/components/schemas/place_point'
      
    duration:
      description: Car rental duration
      name: duration
      in: query
      schema:
        $ref: '#/components/schemas/duration'

  ####################
  # BODY
  ####################
  requestBodies:
    auth:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/requestAuth'
    
    createOrder:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/requestBodyCreateOrder'
            
    updateOrder:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/requestBodyUpdateOrder'
            
    cancelOrder:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/requestBodyCancelOrder'
  
  ####################
  # RESPONSES
  ####################
  responses:
    TransferPrice:
      description: Order Creation Complete
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/responseTransferPrice'
            
    RentPrice:
      description: Order Creation Complete
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/responseRentPrice'
            
    CreateOrder:
      description: Order Creation Complete
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/responseCreateOrder'
    BadRequest:
      description: Error in request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/responseBadRequest'
    Unauthorized:
      description: Request not authorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/responseUnautorization'
    NotFound:
      description: The requested resource is not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/responseNotFound'
            
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      
security:
  - bearerAuth: []

####################
# Description of Methods
####################
paths:
  ####################
  # User authentication  ####################
  /v3/auth/login:
    post:
      security: []
      tags:
        - user
      summary: User authorization in the reservation system i`way transfer
      operationId: authUser
      requestBody:
        $ref: '#/components/requestBodies/auth'
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
          
  ####################
  # Retrieving a list of places from a search
  ####################
  /v3/places/find:
    get:
      security:
        - bearerAuth: []
      tags:
        - place
      summary: Getting a list of places from a search
      operationId: getPlaceList
      parameters:
        - $ref: '#/components/parameters/term'
        - $ref: '#/components/parameters/lang'
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
          
  ####################
  # Getting a list of offers for the “Transfer service”
  ####################
  /v3/prices:
    get:
      security:
        - bearerAuth: []
      tags:
        - price
      summary: Getting a list of offers for the Transfer service
      operationId: getTransferPriceList
      parameters:
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/start_place_point'
        - $ref: '#/components/parameters/finish_place_point'
        - $ref: '#/components/parameters/currency'
      responses:
        200:
          $ref: '#/components/responses/TransferPrice'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
          
  ####################
  # Getting a list of offers for the "Chauffeur Service"
  ####################
  /v3/prices/rent:
    get:
      security:
        - bearerAuth: []
      tags:
        - price
      summary: Getting a list of offers for the "Chauffeur Service"
      operationId: getRentPriceList
      parameters:
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/start_place_point'
        - $ref: '#/components/parameters/duration'
        - $ref: '#/components/parameters/currency'
      responses:
        200:
          $ref: '#/components/responses/RentPrice'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  
  ####################
  # Create Order
  ####################
  /v3/orders:
    post:
      security:
        - bearerAuth: []
      tags:
        - order
      summary: Create Order
      operationId: createOrder
      requestBody:
        $ref: '#/components/requestBodies/createOrder'
      responses:
        200:
          $ref: '#/components/responses/CreateOrder'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
          
  ####################
  # Order Confirmation 
  ####################
  /v3/orders/approve/{transaction}:
    post:
      security:
        - bearerAuth: []
      tags:
        - order
      summary: Order Confirmation
      operationId: approveOrder
      parameters:
        - $ref: '#/components/parameters/transaction'
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  
  /v3/orders/trips:
  
    ####################
    # Getting a list of orders
    ####################
    get:
      security:
        - bearerAuth: []
      tags:
        - order
      summary: Getting a list of trips
      operationId: getOrderList
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  
    ####################
    # Order Editing
    ####################
    put:
      security:
        - bearerAuth: []
      tags:
        - order
      summary: Travel Information Update
      operationId: updateOrder
      requestBody:
        $ref: '#/components/requestBodies/updateOrder'
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  
  ####################
  # Order Cancellation
  ####################
  /v3/orders/trips/cancel:
    post:
      security:
        - bearerAuth: []
      tags:
        - order
      summary: Trip Cancellation
      operationId: cancelOrder
      requestBody:
        $ref: '#/components/requestBodies/cancelOrder'
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'