openapi: 3.0.0
info:
  description: Service Gateway
  title: Gateway
  version: "1.0-oas3"
paths:
  /categories:
    get:
      description: ''
      tags:
        - Categories
      responses:
        '200':
          description: An array of categories info
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
        default:
          description: Unexpected error
  /news-post:
    post:
      description: ''
      tags:
        - News
      responses:
        '200':
          description: An array of news info
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
      parameters: 
        - name: sort
          in: query
          schema:
            type: string
          description: "Ordenamento, recomenda-se colocar '-createdAt' para pegar as noticias mais recentes"
          required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewsSearch'
  /publisher:
    get:
      description: ''
      tags:
        - Publisher
      responses:
        '200':
          description: An array of publishers info
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Publisher'
        default:
          description: Unexpected error
  /get-regions:
    get:
      description: ''
      tags:
        - Regions
      responses:
        '200':
          description: An array of regions info
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Region'
        default:
          description: Unexpected error
  /get-ufs:
    get:
      parameters:
        - name: id
          in: query
          description: Especific region id
          required: false
          schema:
            type: string
      description: ''
      tags:
        - Estate
      responses:
        '200':
          description: An array of Estate info
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Estate'
        default:
          description: Unexpected error
  /get-cities:
    get:
      parameters:
        - name: id
          in: query
          description: Especific estate id
          required: false
          schema:
            type: string
      description: ''
      tags:
        - City
      responses:
        '200':
          description: An array of Cities info
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/City'
        default:
          description: Unexpected error
tags:
  - name: Categories
    description: Operations about Categories
  - name: News
    description: Operations about News
  - name: Publisher
    description: Operations about Publishers
  - name: Regions
    description: Operations about Regions
  - name: Estate
    description: Operations about Estates
  - name: City
    description: Operations about Cities
servers:
  - url: 'http://app.glaz.ai/service-gateway'
components:
  schemas:
    News:
      required:
        - title
        - link
        - author
        - publication
      properties:
        _id:
          type: string
          description: ''
        title:
          type: string
          description: ''
        link:
          type: string
          description: ''
        summary:
          type: string
          description: ''
        author:
          type: string
          description: ''
        thumb:
          type: string
          description: ''
        thumb_oem:
          type: string
          description: ''
        publication:
          type: integer
          description: ''
        pub_date:
          type: integer
          description: ''
        publisher_id:
          type: integer
          description: ''
        publisher:
          type: string
          description: ''
        publisher_link:
          type: string
          description: ''
        category:
          $ref: '#/components/schemas/Category'
        social_fb:
          type: integer
          description: ''
        social_tw:
          type: integer
          description: ''
        social_viral:
          type: integer
          description: ''
        country:
          type: string
          description: ''
        region:
          $ref: '#/components/schemas/Region'
        estate:
          $ref: '#/components/schemas/Estate'
        city:
          $ref: '#/components/schemas/City'
        createdAt:
          type: string
          description: ''
    Category:
      required:
        - color
        - uuid
        - name
      properties:
        color:
          type: string
          description: ''
        uuid:
          type: integer
          description: ''
        name:
          type: string
          description: ''
        _id:
          type: string
          description: ''
    Publisher:
      required:
        - _id
      properties:
        _id:
          type: string
          description: ''
        publisher_link:
          type: string
          description: ''
        publisher_country:
          type: string
          description: ''
        publisher:
          type: string
          description: /
    Region:
      required:
        - _id
        - name
      properties:
        _id:
          type: integer
          description: ''
        name:
          type: string
          description: ''
    Estate:
      required:
        - _id
        - uuid
        - region
        - name
        - sigla
      properties:
        _id:
          type: integer
          description: ''
        uuid:
          type: integer
          description: ''
        region:
          type: string
          description: ''
        name:
          type: string
          description: ''
        sigla:
          type: string
          description: ''
        lat:
          type: string
          description: ''
        lng:
          type: string
          description: ''
    City:
      required:
        - _id
        - uuid
        - name
      properties:
        _id:
          type: integer
          description: ''
        uuid:
          type: integer
          description: ''
        name:
          type: string
          description: ''
        lat:
          type: string
          description: ''
        lng:
          type: string
          description: ''
        estate:
          type: string
          description: ''
    NewsSearch:
      properties:
        search:
          type: string
          description: Palavra a ser buscado pelos campos da noticia
        objectIds:
          type: array
          items:
            type: string
          description: Ids das noticias
        continent:
          type: array
          items:
            type: string
          description: String vazia retorna todos os continentes
        country:
          type: array
          items:
            type: string
          description: String vazia retorna todos os paises
        region:
          type: array
          items:
            type: string
          description: Ids das regioes a serem buscadas
        estate:
          type: array
          items:
            type: string
          description: Ids dos estados a serem buscados
        city:
          type: array
          items:
            type: string
          description: Ids das cidades a serem buscadas
        createdAt:
          type: array
          items:
            type: string
          description: Data de criacao no banco
        link:
          type: array
          items:
            type: string
          description: Link da noticia
        category:
          type: array
          items:
            type: string
          description: uuids das categorias
        publisher:
          type: array
          items:
            type: string
          description: Ids dos Publicadores que devem ser incluidos na consulta
        publisher_link:
          type: array
          items:
            type: string
          description: Link do publicador
        not_publisher_link:
          type: array
          items:
            type: string
          description: Ids dos Publicadores que devem ser excluidos
        author:
          type: array
          items:
            type: string
          description: Nome do autor da publicacao
        pubDateGte:
          type: array
          items:
            type: string
          description: Data limite superior de publicacao em formato UTC
        pubDateLte:
          type: array
          items:
            type: string
          description: Data limite inferior de publicacao em formato UTC
