openapi: 3.0.0
info:
  version: "1.0.3"
  title: Planning Route API
  description: This is an API for mapping generic planning routes to TMS tours and loads
  
servers:
  - url: 'https://app.tms.blujaysolutions.net/tmsapi/v1/planning'
    description: Production server
  - url: 'https://beta.tms.blujaysolutions.net/tmsapi/v1/planning'
    description: Internal staging server for testing
    
paths:
  /route:
    post:
      summary: Creates a new route
      tags:
        - Route Operations
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                driver_reference:
                  type: string
                  maximum: 50
                  example: "GARY.GRACKLE"
                vehicle_reference:
                  type: string
                  maximum: 50
                  example: "A10165"
                carrier_reference:
                  type: string
                  maximum: 15
                  example: "JBHU"
                stops:
                    type: array
                    items:
                      type: object
                      properties:
                        type: 
                          type: string
                          enum: [PICKUP, DELIVERY]
                        sequence:
                          type: integer
                          format: int64
                          minimum: 1
                          example: 1
                        leg_ids:
                          type: array
                          items:
                            type: number
                            minimum: 1
                        planned_start: 
                          type: string
                          format: date-time
                        planned_end: 
                          type: string
                          format: date-time
                      example: [
                        {
                          type: "PICKUP",
                          sequence: 1,
                          leg_ids: [
                            1
                          ],
                          planned_start: "2019-08-11T12:00:00.217Z",
                          planned_end: "2019-08-11T13:00:00.217Z"
                        },
                        {
                          type: "PICKUP",
                          sequence: 2,
                          leg_ids: [
                            2
                          ],
                          planned_start: "2019-08-11T16:00:00.217Z",
                          planned_end: "2019-08-11T17:00:00.217Z"
                        },
                        {
                          type: "DELIVERY",
                          sequence: 3,
                          leg_ids: [
                            1, 2
                          ],
                          planned_start: "2019-08-12T08:00:00.217Z",
                          planned_end: "2019-08-12T09:00:00.217Z"
                        }
                      ]
      responses:
        '200':
          description: New route created
          content:
            application/json:
              schema:
                type: object
                properties:
                  tour:
                    $ref: '#/components/schemas/Tour'
        default:
          description: Unexpected error
          
  /route/{tourid}:
    put:
      summary: Updates an existing route
      tags:
        - Route Operations
      parameters:
        - name: tourid
          in: path
          required: true
          description: The ID of the planning route to update
          schema:
            type: integer
            format: int64
            minimum: 1
            example: 9827364
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                driver_reference:
                  type: string
                  maximum: 50
                  example: "GARY.GRACKLE"
                vehicle_reference:
                  type: string
                  maximum: 50
                  example: "A10165"
                carrier_reference:
                  type: string
                  maximum: 15
                  example: "JBHU"
                stops:
                    type: array
                    items:
                      type: object
                      properties:
                        type: 
                          type: string
                          enum: [PICKUP, DELIVERY]
                        sequence:
                          type: integer
                          format: int64
                          minimum: 1
                          example: 1
                        leg_ids:
                          type: array
                          items:
                            type: number
                            minimum: 1
                        planned_start: 
                          type: string
                          format: date-time
                        planned_end: 
                          type: string
                          format: date-time
                      example: [
                        {
                          type: "PICKUP",
                          sequence: 1,
                          leg_ids: [
                            1
                          ],
                          planned_start: "2019-08-11T12:00:00.217Z",
                          planned_end: "2019-08-11T13:00:00.217Z"
                        },
                        {
                          type: "PICKUP",
                          sequence: 2,
                          leg_ids: [
                            2
                          ],
                          planned_start: "2019-08-11T16:00:00.217Z",
                          planned_end: "2019-08-11T17:00:00.217Z"
                        },
                        {
                          type: "DELIVERY",
                          sequence: 3,
                          leg_ids: [
                            1, 2
                          ],
                          planned_start: "2019-08-12T08:00:00.217Z",
                          planned_end: "2019-08-12T09:00:00.217Z"
                        }
                      ]
      responses:
        '200':
          description: Route updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  tour:
                    $ref: '#/components/schemas/Tour'
        default:
          description: Unexpected error
          
    delete:
      summary: Deletes a given planning route
      tags: 
        - Route Operations
      parameters:
        - name: tourid
          in: path
          required: true
          description: The ID of the planning route to delete
          schema:
            type: integer
            format: int64
            minimum: 1
            example: 9827364
      responses:
        '200':
          description: Planning route deleted
        default:
          description: Unexpected error
          
components:
  schemas:
    Tour:
      type: object
      properties:
        tour_id:
          type: integer
          format: int64
          example: 777
        driver:
          type: object
          properties:
            id:
              type: integer
              format: int64
              example: 111
            reference:
              type: string
              maximum: 50
              example: "GARY.GRACKLE"
        vehicle:
          type: object
          properties:
            id:
              type: integer
              format: int64
              example: 98765
            reference:
              type: string
              maximum: 50
              example: "A10165"
        carrier:
          type: object
          properties:
            id:
              type: integer
              format: int64
              example: 12345
            reference:
              type: string
              maximum: 15
              example: "JBHU"
        stops:
          type: array
          items:
            type: object
            properties:
              load_id:
                type: integer
                format: int64
                example: 777987
              stop_id:
                type: integer
                format: int64
                example: 211876
              type: 
                type: string
                enum: [PICKUP, DELIVERY]
              sequence:
                type: integer
                format: int64
                example: 1
              leg_ids:
                type: array
                items:
                  type: number
                  minimum: 1
              planned_start: 
                type: string
                format: date-time
              planned_end: 
                type: string
                format: date-time
      example: 
        tour_id: 9827364
        driver: 
          id: 111
          reference: "GARY.GRACKLE"
        vehicle:  
          id: 98765
          reference: "A10165" 
        carrier: 
          id: 12345
          reference: "JBHU"
        stops: [
          {
            load_id: 777987,
            stop_id: 211876,
            type: "PICKUP",
            sequence: 1,
            leg_ids: [
              1
            ],
            planned_start: "2019-08-11T12:00:00.217Z",
            planned_end: "2019-08-11T13:00:00.217Z"
          },
          {
            load_id: 777987,
            stop_id: 211877,
            type: "PICKUP",
            sequence: 2,
            leg_ids: [
              2
              ],
            planned_start: "2019-08-11T16:00:00.217Z",
            planned_end: "2019-08-11T17:00:00.217Z"
          },
          {
            load_id: 777987,
            stop_id: 211878,
            type: "DELIVERY",
            sequence: 3,
            leg_ids: [
              1, 2
              ],
            planned_start: "2019-08-12T08:00:00.217Z",
            planned_end: "2019-08-12T09:00:00.217Z"
          }
        ]
