openapi: 3.0.0
servers:
  - url: 'https://gateway.kodixauto.ru/api/v1/proxy/nissan.slava.proxy/api/v1'
    description: Production server
info:
  description: API для сервиса автомобилей с пробегом Nissan
  version: "1.0.0-oas3"
  title: Nissan Slava Proxy API
components:
  schemas:
    Car:
      type: object
      properties:
        id:
          type: string
          example: 507f191e810c19729de860ea
        type:
          type: string
          example: car
        attributes:
          type: object
          properties:
            external_id:
              type: string
              description: Внешний код автомобиля из клиентской выгрузки
              example: TEST
            dealers_id:
              type: array
              description: Список дилерских центров, в которых находится автомобиль
              items:
                type: string
                example: 507f191e810c19729de860ea
            vin:
              type: string
              example: JN1CA31A21T104382
            brand_id:
              type: string
              description: Идентификатор бренда
              example: 507f191e810c19729de860ea
            model_id:
              type: string
              description: Идентификатор модели
              example: 507f191e810c19729de860ea
            logistic_status:
              type: string
              description: |
                * on_the_way - В пути
                * in_the_central_warehouse - На центральном складе
                * in_production - В производстве
                * in_stock - У дилера
              enum: ["on_the_way", "in_the_central_warehouse", "in_production", "in_stock"]
            body_id:
              type: string
              description: Идентификатор кузова
              example: 507f191e810c19729de860ea
            fuel_id:
              type: string
              description: Идентификатор топлива
              example: 507f191e810c19729de860ea
            base_color_id:
              type: string
              description: Идентификатор цвета кузова
              example: 507f191e810c19729de860ea
            commercial:
              type: boolean
              description: Признак того, что автомобиль является коммерческим
              example: false
            doors:
              type: integer
              description: Количество дверей. Может быть 0, это означет что нам неизвестно количество дверей
              example: 4
            engine:
              type: object
              description: Параметры двигателя
              properties:
                name:
                  type: string
                  description: Название двигателя
                  example: 4Motion
                volume:
                  type: object
                  description: Объём двигателя
                  properties:
                    liter:
                      type: number
                      format: float
                      description: В литрах
                      example: 2.0
                    cubic_centimeter:
                      type: number
                      format: float
                      description: В кубических сантиметрах
                      example: 1000
                power:
                  type: object
                  description: Мощность двигателя
                  properties:
                    horse_power:
                      type: number
                      format: float
                      description: В лошадиных силах
                      example: 5
                    kilowatts_per_hours:
                      type: number
                      format: float
                      description: В квт/ч
                      example: 5000
                torque:
                  type: object
                  description: Крутящий момент
                  properties:
                    newton_meter:
                      type: object
                      description: В Н*м
                      properties:
                        from:
                          type: number
                          format: float
                          description: От
                          example: 3000
                        to:
                          type: number
                          format: float
                          description: До
                          example: 5000
                    rpm:
                      type: object
                      description: В оборотах в секунду
                      properties:
                        from:
                          type: number
                          format: float
                          description: От
                          example: 3000
                        to:
                          type: number
                          format: float
                          description: До
                          example: 5000
            transmission:
              type: object
              description: Параметры коробки передач
              properties:
                id:
                  type: string
                  description: Идентификатор коробки передач
                  example: 507f191e810c19729de860ea
                step:
                  type: integer
                  description: Количество передач. Может быть 0 (не известное количество)
                  example: 5
                marketing_name:
                  type: string
                  description: Маркетинговое название коробки передач
                  example: DSG
            wheel_drive:
              type: object
              description: Параметры привода
              properties:
                id:
                  type: string
                  description: Идентификатор привода
                  example: 507f191e810c19729de860ea
                marketing_name:
                  type: string
                  description: Маркетинговое название привода
                  example: Full Drive
            right_steering_wheel:
              type: boolean
              description: Признак правого руля
              example: false
            mileage:
              type: integer
              description: Пробег
              example: 10000
            owners:
              type: integer
              description: Количество владельцев
              example: 2
            year:
              type: integer
              description: Год выпуска автомобиля
              example: 1992
            model_year:
              type: integer
              description: Год выпуска модели автомобиля
              example: 1991
            price:
              type: integer
              description: Цена автомобиля
              example: 1000000
            price_with_discounts:
              type: integer
              description: Цена автомобиля со скидками. Моджет быть = 0, в таком случае цена со скидками считается не установленной
              example: 500000
            description:
              type: string
              description: Описание автомобиля от клиента
              example: Ну очень хороший автомобиль
            tags:
              type: array
              description: Теги для автомобиля
              items:
                type: string
                example: Акция
            raw_text_options:
              type: array
              description: Массив опций автомобиля
              items:
                type: string
                example: Меховой салон
            disccount_description:
              type: string
              description: Описание скидки на автомобиль
              example: Битый
            dealer_images_id:
              type: array
              description: Массив ID изображений клиента, импортированных. Для построения URL'a доступна ссылка вида https://cdn.kodixauto.ru/media/image/{image_id}
              items:
                type: string
                example: 507f191e810c19729de860ea
            dealer_manual_images_id:
              type: array
              description: Массив ID изображений клиента, загруженных вручную. Для построения URL'a доступна ссылка вида https://cdn.kodixauto.ru/media/image/{image_id}
              items:
                type: string
                example: 507f191e810c19729de860ea
    Dealership:
      type: object
      properties:
        id:
          type: string
          example: 507f191e810c19729de860ea
        type:
          type: string
          example: dealership
        attributes:
          type: object
          properties:
            full_name:
              type: string
              description: Полное название дилерского центра
              example: Атлант-М Николаева
            short_name:
              type: string
              description: Сокращённое название дилерского центра
              example: Атлант-М
            importer_code:
              type: string
              description: Внешний код, используемый в подсистемах импортёра
              example: TEST
            email:
              type: string
              description: Основной Email дилерского центра
              example: test@example.com
            phone:
              type: object
              description: Основной номер телефона для дилерского центра
              properties:
                has_plus:
                  type: boolean
                  description: В начале телефона есть символ "+"
                  example: true
                country_code:
                  type: string
                  description: Код страны
                  example: 7
                national_code:
                  type: string
                  description: Код города
                  example: 495
                subscriber_number:
                  type: string
                  description: Номер телефона
                  example: 1234567
                internal_number:
                  type: string
                  description: Добавочный код
                  example: 311
            address:
              type: object
              description: Адрес дилерского центра
              properties:
                country:
                  type: string
                  description: Страна
                  example: Россия
                region:
                  type: string
                  description: Округ
                  example: Центральный федеральный округ
                district:
                  type: string
                  description: Область
                  example: Московская область
                city:
                  type: string
                  description: Город
                  example: Москва
                street:
                  type: string
                  description: Улица
                  example: Красная площадь
                build:
                  type: string
                  description: Строение
                  example: 1 к. 1
                zip_code:
                  type: integer
                  description: Почтовый индекс
                  example: 111111
                utc:
                  type: integer
                  description: Часовой пояс
                  example: 3
            work_schedule:
              type: object
              description: Время работы
              properties:
                monday:
                  $ref: '#/components/schemas/DealershipWorkScheduleDay'
                tuesday:
                  $ref: '#/components/schemas/DealershipWorkScheduleDay'
                wednesday:
                  $ref: '#/components/schemas/DealershipWorkScheduleDay'
                thursday:
                  $ref: '#/components/schemas/DealershipWorkScheduleDay'
                friday:
                  $ref: '#/components/schemas/DealershipWorkScheduleDay'
                saturday:
                  $ref: '#/components/schemas/DealershipWorkScheduleDay'
                sunday:
                  $ref: '#/components/schemas/DealershipWorkScheduleDay'
            map:
              type: object
              description: Координаты на карте
              properties:
                latitude:
                  type: number
                  format: float
                  description: Широна
                  example: 1.123123
                longitude:
                  type: number
                  format: float
                  description: Долгота
                  example: 1.123123
                scale:
                  type: integer
                  description: Приблежение на карте (от 1 до 15)
                  example: 5
    DealershipWorkScheduleDay:
      description: День
      properties:
        from:
          type: string
          description: Начало рабочего дня
          example: 10:00
        to:
          type: string
          description: Конец рабочего дня
          example: 19:00
        weekend:
          type: boolean
          description: Признак выходного дня
          example: false
    Brand:
      properties:
        id:
          type: string
          example: 507f191e810c19729de860ea
        type:
          type: string
          example: brand
        attributes:
          type: object
          properties:
            name:
              type: string
              description: Название бренда
              example: Nissan
    Model:
      properties:
        id:
          type: string
          example: 507f191e810c19729de860ea
        type:
          type: string
          example: model
        attributes:
          type: object
          properties:
            name:
              type: string
              description: Название модели
              example: X-Trail
    Transmission:
      properties:
        id:
          type: string
          example: 507f191e810c19729de860ea
        type:
          type: string
          example: transmission
        attributes:
          type: object
          properties:
            name:
              type: string
              description: Название коробки передач
              example: АКПП
    Fuel:
      properties:
        id:
          type: string
          example: 507f191e810c19729de860ea
        type:
          type: string
          example: fuel
        attributes:
          type: object
          properties:
            name:
              type: string
              description: Название топлива
              example: Бензин
    WheelDrive:
      properties:
        id:
          type: string
          example: 507f191e810c19729de860ea
        type:
          type: string
          example: wheel_drive
        attributes:
          type: object
          properties:
            name:
              type: string
              description: Название привода
              example: Полный
    Body:
      properties:
        id:
          type: string
          example: 507f191e810c19729de860ea
        type:
          type: string
          example: body
        attributes:
          type: object
          properties:
            name:
              type: string
              description: Название кузова
              example: Седан
    Color:
      properties:
        id:
          type: string
          example: 507f191e810c19729de860ea
        type:
          type: string
          example: color
        attributes:
          type: object
          properties:
            name:
              type: string
              description: Название цвета
              example: Красный
            hex:
              type: string
              description: 'hex код цвета (без "#")'
              example: d1d1d1
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
tags:
  - name: cars.stock
    description: Автомобили
  - name: cars.catalog
    description: Справочники
  - name: dealerships
    description: Дилерские центры
paths:
  /cars.stock/cars:
    get:
      security: 
        - Bearer: []
      tags:
        - cars.stock
      summary: Список автомобилей
      parameters:
        - name: page[size]
          in: query
          description: Размер страницы
          required: true
          schema:
            type: integer
            maximum: 500
            example: 100
        - name: page[number]
          in: query
          description: Номер страницы
          required: true
          schema:
            type: integer
            example: 2
      responses:
        '200':
          description: Возвращает список автомобилей с пробегом, находящихся в продаже
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Car'
                  links:
                    type: object
                    properties:
                      prev:
                        type: string
                        description: Если есть, значит что есть страницы раньше
                        example: /api/v1/cars.stock/cars?page[size]=100&page[number]=2
                      next:
                        type: string
                        description: Если есть, значит что есть страницы дальше
                        example: /api/v1/cars.stock/cars?page[size]=100&page[number]=4
        '400':
          description: Некорректно переданы параметры
  /dealerships/dealerships:
    get:
      security: 
        - Bearer: []
      tags:
        - dealerships
      summary: Список дилерских центров
      responses:
        '200':
          description: Возвращает список доступных дилерских центров
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dealership'
        '500':
          description: Внутренняя ошибка сервера
        '403':
          description: Доступ запрещён
  /cars.catalog/brands:
    get:
      security: 
        - Bearer: []
      tags:
        - cars.catalog
      summary: Список брендов
      responses:
        '200':
          description: Возвращает список доступных брендов
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Brand'
        '500':
          description: Внутренняя ошибка сервера
        '403':
          description: Доступ запрещён
  /cars.catalog/models:
    get:
      security:
        - Bearer: []
      tags:
        - cars.catalog
      summary: Список моделей
      responses:
        '200':
          description: Возвращает список доступных моделей
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Model'
        '500':
          description: Внутренняя ошибка сервера
        '403':
          description: Доступ запрещён
  /cars.catalog/transmissions:
    get:
      security:
        - Bearer: []
      tags:
        - cars.catalog
      summary: Список коробок передач
      responses:
        '200':
          description: Список доступных коробок передач
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transmission'
        '500':
          description: Внутренняя ошибка сервера
        '403':
          description: Доступ запрещён
  /cars.catalog/fuels:
    get:
      security:
        - Bearer: []
      tags:
        - cars.catalog
      summary: Список типов топлива
      responses:
        '200':
          description: Список доступных типов топлива
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Fuel'
        '500':
          description: Внутренняя ошибка сервера
        '403':
          description: Доступ запрещён
  /cars.catalog/wheel_drives:
    get:
      security:
        - Bearer: []
      tags:
        - cars.catalog
      summary: Список приводов
      responses:
        '200':
          description: Список доступных приводов
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WheelDrive'
        '500':
          description: Внутренняя ошибка сервера
        '403':
          description: Доступ запрещён
  /cars.catalog/bodies:
    get:
      security:
        - Bearer: []
      tags:
        - cars.catalog
      summary: Список кузовов
      responses:
        '200':
          description: Список доступных кузовов
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Body'
        '500':
          description: Внутренняя ошибка сервера
        '403':
          description: Доступ запрещён
  /cars.catalog/colors:
    get:
      security:
        - Bearer: []
      tags:
        - cars.catalog
      summary: Список цветов
      responses:
        '200':
          description: Возвращает список ждоступных цветов
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Color'
        '500':
          description: Внутренняя ошибка сервера
        '403':
          description: Доступ запрещён
