openapi: 3.0.0
info:
  title: WeSeeDo Direct API Documentation
  version: 1.0.0
  description: WeSeeDo Direct API Documentation
servers:
  - url: https://api-direct.weseedo.nl
    description: Production server (uses live data)
  - url: https://sandbox-direct-api.weseedo.nl
    description: Sandbox server (uses test data)
components:
  securitySchemes:
    BearerAgent:
      description: Used for authentication for all endpoints with agent level access.
      type: oauth2
      flows:
        password:
          tokenUrl: /token
    BearerAdmin:
      description: >-
        Used for authentication for all endpoints with administrative level
        access.
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /token
    Basic:
      description: Used only for authentication of a participant
      type: apiKey
      name: Authorization
      in: header
paths:
  /api/participant:
    get:
      summary: Views information about a participant.
      description: >-
        This endpoint can be used to retrieve information about a participant.
        Please be aware of the fact that this endpoint is the only endpoint that
        uses a different method of authentication! Send the **hash** value you
        that you have received when creating a meeting in the **Authorization**
        header using **Basic** authentication.
      tags:
        - Participants
      security:
        - Basic: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      username:
                        type: string
                        example: visitor.f997STq4TboIy09N
                      room_id:
                        type: string
                        example: PKKiYLZaX8aVdnkNzEphz0Fsncse2Usz
                      account:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 5a12fe7423786b1c729cc33c
                          name:
                            type: string
                            example: New account
                          videochat_font_type:
                            type: string
                            example: 'Roboto,sans-serif'
                          videochat_text_color:
                            type: string
                            example: '#000000'
                          logo:
                            type: string
                            example: 'data:image/png;base64,YnVmZmVy...ElFTkSuQmCC'
                      chat_enabled:
                        type: boolean
                        example: false
        '401':
          description: When no valid authorization data is provided
        '404':
          description: When the participant is not found.
  /api/sms:
    post:
      summary: Sends an SMS to a participant
      description: Sends an SMS to a participant
      tags:
        - Meetings
      security:
        - BearerAgent: []
      requestBody:
        description: The meeting to create.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participant:
                  type: string
                  example: a8..48
                body:
                  type: string
                  example: >-
                    Click on the link and click 'Allow'. 
                    https://login-direct.weseedo.nl/client.html?id=**REPLACE_WITH_PARTICIPANT_HASH**
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
        '400':
          description: >-
            When parameters are missing or the request fails, look at the
            error_code and error_message for more information
        '403':
          description: When you are not allowed to perform this action.
  /api/meeting:
    post:
      summary: Creates a new meeting
      description: Creates a new meeting
      tags:
        - Meetings
      security:
        - BearerAgent: []
      requestBody:
        description: The meeting to create.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participants:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: A valid national or international phone number format.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 5c...78
                        room_id:
                          type: string
                          example: DA..At
                        room_password:
                          type: string
                          example: Mp..Op
                        duration:
                          type: integer
                          example: 0
                        room_available_from:
                          type: integer
                          example: 1551971073
                        room_available_till:
                          type: integer
                          example: 1552575873
                        participants:
                          type: array
                          required:
                            - id
                            - name
                            - username
                          items:
                            type: object
                            properties:
                              username:
                                type: string
                                example: agent.58eb
                              name:
                                type: string
                                example: Agent 1
                              id:
                                type: string
                                example: 5c..7a
                              user:
                                type: string
                                description: Only returned for agents
                                example: 58..eb
                              email:
                                type: string
                                description: Only returned for agents
                                example: agent1@weseedo.nl
                              hash:
                                type: string
                                description: >-
                                  Only returned for participants (not agents).
                                  Use this value when sending a text message to
                                  the recipient.
                                example: >-
                                  SI..wO (use this value when sending a text
                                  message to the recipient)
        '400':
          description: >-
            When parameters are missing or the request fails, look at the
            error_code and error_message for more information
        '403':
          description: When you are not allowed to perform this action.
  /api/me:
    get:
      summary: Views information about your access token
      description: Views information about your access token
      tags:
        - Users
      security:
        - BearerAgent: []
        - BearerAdmin: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 58..eb
                      email:
                        type: string
                        example: agent1@weseedo.nl
                      name:
                        type: string
                        example: Agent 1
                      first_name:
                        type: string
                        example: Agent
                      last_name:
                        type: string
                        example: '1'
                      role:
                        type: string
                        example: agent
                      company:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 58..60
                          name:
                            type: string
                            example: WeSeeDo B.V.
                      locale:
                        type: string
                        example: nl
        '400':
          description: >-
            When parameters are missing or the request fails, look at the
            error_code and error_message for more information
        '403':
          description: When you are not allowed to perform this action.
  /api/users:
    get:
      summary: Retrieves a list of users.
      description: >-
        Retrieves a list of users. Only users that you have access to will be
        returned.
      tags:
        - Users
      security:
        - BearerAdmin: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        email:
                          type: string
                        locale:
                          type: string
                        role:
                          type: string
                        company:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                    example:
                      - id: 58..eb
                        name: Agent 1
                        email: agent1@weseedo.nl
                        locale: nl
                        role: agent
                        company:
                          id: 58..60
                          name: WeSeeDo B.V.
                      - id: 58..ec
                        name: Assistent 1
                        email: assistent1@weseedo.nl
                        locale: nl
                        role: assistent
                        company:
                          id: 58..60
                          name: WeSeeDo B.V.
        '403':
          description: When you are not allowed to perform this action.
    post:
      summary: Creates a new user
      description: Creates a new user
      tags:
        - Users
      security:
        - BearerAdmin: []
      requestBody:
        description: The user to create.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                password:
                  type: string
                role:
                  type: string
                  description: Either 'admin' or 'agent'.
                email:
                  type: string
                locale:
                  type: string
                  description: Either 'nl' or 'en'.
                company:
                  type: string
                  description: >-
                    Only specify this field when the request is performed as a
                    **dealer**.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 58..82
                        first_name:
                          type: string
                          example: Testfirstname
                        last_name:
                          type: string
                          example: Testlastname
                        name:
                          type: string
                          example: Testfirstname Testlastname
                        email:
                          type: string
                          example: agent1@weseedo.nl
                        locale:
                          type: string
                          example: nl
                        role:
                          type: string
                          example: agent
                        created_at:
                          type: string
                          example: '2017-11-17T12:07:56.308Z'
                        company:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 58..60
                            name:
                              type: string
                              example: WeSeeDo B.V.
        '400':
          description: >-
            When parameters are missing or the request fails, look at the
            error_code and error_message for more information
        '403':
          description: When you are not allowed to perform this action.
  '/api/users/{id}':
    get:
      summary: Retrieves a user.
      description: >-
        Retrieves a specific user, replace **{id}** with the **id** attribute of
        a user.
      tags:
        - Users
      security:
        - BearerAdmin: []
      parameters:
        - name: id
          in: path
          description: User ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 58..eb
                      name:
                        type: string
                        example: Agent 1
                      email:
                        type: string
                        example: agent1@weseedo.nl
                      locale:
                        type: string
                        example: nl
                      role:
                        type: string
                        example: agent
                      company:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 58..60
                          name:
                            type: string
                            example: WeSeeDo B.V.
        '403':
          description: When you are not allowed to perform this action.
        '404':
          description: When the object can not be found
    put:
      summary: Updates a user.
      description: >-
        Updated a specific user, replace **{id}** with the **id** attribute of a
        user.
      tags:
        - Users
      security:
        - BearerAdmin: []
      parameters:
        - name: id
          in: path
          description: User ID
          required: true
          schema:
            type: string
      requestBody:
        description: The user to update.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                locale:
                  type: string
                  description: Either 'nl' or 'en'.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 58..82
                        first_name:
                          type: string
                          example: Testfirstname
                        last_name:
                          type: string
                          example: Testlastname
                        name:
                          type: string
                          example: Testfirstname Testlastname
                        email:
                          type: string
                          example: agent1@weseedo.nl
                        locale:
                          type: string
                          example: nl
                        role:
                          type: string
                          example: agent
                        created_at:
                          type: string
                          example: '2017-11-17T12:07:56.308Z'
                        company:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 58..60
                            name:
                              type: string
                              example: WeSeeDo B.V.
        '400':
          description: >-
            When parameters are missing or the request fails, look at the
            error_code and error_message for more information
        '403':
          description: When you are not allowed to perform this action.
        '404':
          description: When the object can not be found
    delete:
      summary: Deletes a user.
      description: 'Deletes a user, replace **{id}** with the **id** attribute of a user.'
      tags:
        - Users
      security:
        - BearerAdmin: []
      parameters:
        - name: id
          in: path
          description: User ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 5a..82
        '403':
          description: When you are not allowed to perform this action.
        '404':
          description: When the object can not be found
  /api/clients:
    get:
      summary: Retrieves a list of clients.
      description: >-
        Retrieves a list of clients. Only clients that you have access to will
        be returned.
      tags:
        - API OAuth2 Clients
      security:
        - BearerAdmin: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        active:
                          type: boolean
                        company:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        client_id:
                          type: string
                        created_at:
                          type: string
                    example:
                      - id: 5a..cc
                        name: WeSeeDo Client 1
                        active: true
                        client_id: 41..87
                        company:
                          id: 58..60
                          name: WeSeeDo B.V.
                        created_at: '2017-01-01T00:00:00.000Z'
                      - id: 5a..cd
                        name: WeSeeDo Client 2
                        active: true
                        client_id: 41..88
                        company:
                          id: 58..60
                          name: WeSeeDo B.V.
                        created_at: '2017-01-01T00:00:00.000Z'
        '403':
          description: When you are not allowed to perform this action.
    post:
      summary: Creates a new client
      description: Creates a new client
      tags:
        - API OAuth2 Clients
      security:
        - BearerAdmin: []
      requestBody:
        description: The client to create.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: WeSeeDo Client 1
                company:
                  type: string
                  description: >-
                    Only specify this field when the request is performed as a
                    **dealer**.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        active:
                          type: boolean
                        company:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        client_id:
                          type: string
                        created_at:
                          type: string
                    example:
                      - id: 5a..cc
                        name: WeSeeDo Client 1
                        active: true
                        client_id: 41..87
                        company:
                          id: 58..60
                          name: WeSeeDo B.V.
                        created_at: '2019-01-01T00:00:00.000Z'
        '400':
          description: >-
            When parameters are missing or the request fails, look at the
            error_code and error_message for more information
        '403':
          description: When you are not allowed to perform this action.
  '/api/clients/{id}':
    get:
      summary: Retrieves a client
      description: Retrieves information about a client.
      tags:
        - API OAuth2 Clients
      security:
        - BearerAdmin: []
      parameters:
        - name: id
          in: path
          description: Client ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        active:
                          type: boolean
                        company:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        client_id:
                          type: string
                        created_at:
                          type: string
                    example:
                      - id: 5a..cc
                        name: WeSeeDo Client 1
                        active: true
                        client_id: 41..87
                        company:
                          id: 58..60
                          name: WeSeeDo B.V.
                        created_at: '2017-01-01T00:00:00.000Z'
        '403':
          description: When you are not allowed to perform this action.
    put:
      summary: Updates a client
      description: Updates a client
      tags:
        - API OAuth2 Clients
      security:
        - BearerAdmin: []
      parameters:
        - name: id
          in: path
          description: Client ID
          required: true
          schema:
            type: string
      requestBody:
        description: The client to update.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: WeSeeDo Client Updated
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        active:
                          type: boolean
                        company:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        client_id:
                          type: string
                        created_at:
                          type: string
                    example:
                      - id: 5a..cc
                        name: WeSeeDo Client Updated
                        active: true
                        client_id: 41..87
                        company:
                          id: 58..60
                          name: WeSeeDo B.V.
                        created_at: '2017-01-01T00:00:00.000Z'
        '400':
          description: >-
            When parameters are missing or the request fails, look at the
            error_code and error_message for more information
        '403':
          description: When you are not allowed to perform this action.
    delete:
      summary: Deletes a client.
      description: >-
        Deletes a client, replace **{id}** with the **id** attribute of a
        client.
      tags:
        - API OAuth2 Clients
      security:
        - BearerAdmin: []
      parameters:
        - name: id
          in: path
          description: Client ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 5a..82
        '403':
          description: When you are not allowed to perform this action.
        '404':
          description: When the object can not be found
  /api/companies:
    get:
      summary: Retrieves a list of companies.
      description: >-
        Retrieves a list of companies. Only companies that you have access to
        will be returned. You need at least **dealer** privileges to use this
        endpoint.
      tags:
        - Companies
      security:
        - BearerAdmin: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                    example:
                      - id: ad..24
                        name: WeSeeDo Company 1
                      - id: ad..25
                        name: WeSeeDo Company 2
        '403':
          description: When you are not allowed to perform this action.
    post:
      summary: Creates a new company
      description: >-
        Creates a new company. You need at least **dealer** privileges to use
        this endpoint.
      tags:
        - Companies
      security:
        - BearerAdmin: []
      requestBody:
        description: The company to create.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: WeSeeDo Company 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                    example:
                      - id: ad..24
                        name: WeSeeDo Company 1
        '400':
          description: >-
            When parameters are missing or the request fails, look at the
            error_code and error_message for more information
        '403':
          description: When you are not allowed to perform this action.
  '/api/companies/{id}':
    get:
      summary: Retrieves a company
      description: >-
        Retrieves information about a company. You need at least **dealer**
        privileges to use this endpoint.
      tags:
        - Companies
      security:
        - BearerAdmin: []
      parameters:
        - name: id
          in: path
          description: Company ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                    example:
                      - id: ad..24
                        name: WeSeeDo Company 1
        '403':
          description: When you are not allowed to perform this action.
    put:
      summary: Updates a company
      description: >-
        Updates a company. You need at least **dealer** privileges to use this
        endpoint.
      tags:
        - Companies
      security:
        - BearerAdmin: []
      parameters:
        - name: id
          in: path
          description: Company ID
          required: true
          schema:
            type: string
      requestBody:
        description: The company to update.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: WeSeeDo Company Updated
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                    example:
                      - id: ad..24
                        name: WeSeeDo Company Updated
        '400':
          description: >-
            When parameters are missing or the request fails, look at the
            error_code and error_message for more information
        '403':
          description: When you are not allowed to perform this action.
    delete:
      summary: Deletes a company.
      description: >-
        Deletes a company, replace **{id}** with the **id** attribute of a
        company. You need at least **dealer** privileges to use this endpoint.
      tags:
        - Companies
      security:
        - BearerAdmin: []
      parameters:
        - name: id
          in: path
          description: Company ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        example: ad..24
        '403':
          description: When you are not allowed to perform this action.
        '404':
          description: When the object can not be found
tags: []