openapi: 3.0.0
info:
  title: EPIP
  description: >-
    電子支付跨機構共用平台-為提供電子支付機構(以下簡稱電支機構)間更便捷之轉帳、繳費、購物等資金移轉通路，並提供電支機構統一之規格，擬建置「電子支付跨機構共用平台」(以下簡稱電支平台)，以降低業者之建置成本，免除各特店、事業單位與各支付業者介接的不便，提供跨平台、跨機構間的完整服務。
  contact: {}
  version: 1.0.0
servers:
  - url: 'https://www.fisc.com.tw/EPIP/v1.0.0'
    description: 電支平台營運系統
  - url: 'https://10.10.15.2:7800/EPIP/v1.0.0'
    description: 電支平台測試系統
tags:
  - name: transfer
    externalDocs:
      url: 'https://www.fisc.com.tw'
    description: >-
      一筆客戶的轉帳交易，以轉出機構角度，由「轉出請求交易(transferOutRequest)」及「轉出結果通知(transferOutConfirm)」組成。以轉入機構角度，由「轉入帳號檢核交易(transferInAccountCheck)」及「轉入交易(transferIn)」組成。
paths:
  /transfer/transferOutRequest:
    post:
      tags:
        - transfer
      parameters:
        - name: X-STAN
          in: header
          required: true
          schema:
            type: string
        - name: X-DestinationId
          in: header
          required: true
          schema:
            type: string
        - name: X-ClientId
          in: header
          required: true
          schema:
            type: string
        - name: X-TxnInitDateTime
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transferOutRequest'
      responses:
        '200':
          description: 轉出交易完成
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transferrep'
      description: "i.轉出機構於送出「轉出請求交易(transferOutRequest)」時，設定Pending P1，若超過P1時間未收到「轉出請求交易(transferOutRequest)」之Response，則發生P1逾時。轉出機構需以「Timeout查詢交易(timeout)」查詢該筆訊息，以確認訊息狀態。其「Timeout查詢交易」之結果可能有下列：(a)無此交易：表示電支平台未曾接收過該筆「轉出請求交易(transferOutRequest)」訊息。原交易應視為失敗交易。(b)查詢成功：表示該查詢訊息成功，並且將於查詢訊息的Response內之originalResponseField欄位帶有原訊息之Response Field完整資訊。"
      summary: 轉出請求交易
  /transfer/transferOutConfirm:
    post:
      tags:
        - transfer
      parameters:
        - name: X-STAN
          in: header
          required: true
          schema:
            type: string
        - name: X-DestinationId
          in: header
          required: true
          schema:
            type: string
        - name: X-ClientId
          in: header
          required: true
          schema:
            type: string
        - name: X-TxnInitDateTime
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transferOutConfirm'
      responses:
        '200':
          description: create transaction succeed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transferrep'
      description: "ii.\t轉出機構於收到「轉出請求交易(transferOutRequest)」之positive Response訊息後，設定Pending P2，若超過P2時間未收到「轉出結果通知(transferOutConfirm)」，則發生P2逾時。轉出機構需以「交易流程重送請求交易(txnNextFlow)」查詢該交易流程狀態。其「交易重送請求交易」之結果可能有下列：\n(a)\t交易狀態未明：表示交易尚未發生逾時，交易仍在進行中。此狀況下，電支平台不會傳送下一道訊息。\n(b)\t交易狀態已確定：表示交易狀態已確定，於「交易重送請求交易」之Response訊息內帶有此交易的跨行交易狀態。並且重送下一道訊息，也就是重送「轉出結果通知」。\n"
      summary: 轉出結果通知
  /transfer/transferInAccountCheck:
    post:
      tags:
        - transfer
      parameters:
        - $ref: '#/components/parameters/reqstan'
        - $ref: '#/components/parameters/reqdid'
        - $ref: '#/components/parameters/reqcid'
        - $ref: '#/components/parameters/reqtdt'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transferInAccountCheck'
      responses:
        '200':
          description: create transaction succeed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transferinrep'
      description: 'i.  電支平台於送出「轉入帳號檢核交易(transferInAccountCheck)」時，設定Timeout T1，若超過T1時間未收到「轉入帳號檢核交易(transferInAccountCheck)」之Response，則發生T1逾時。電支平台認定該訊息逾時，以失敗交易處理。'
      summary: '轉入帳號檢核交易'
  /transfer/transferIn:
    post:
      tags:
        - transfer
      parameters:
        - $ref: '#/components/parameters/reqstan'
        - $ref: '#/components/parameters/reqdid'
        - $ref: '#/components/parameters/reqcid'
        - $ref: '#/components/parameters/reqtdt'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transferIn'
      responses:
        '200':
          description: 轉入交易完成
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transferrep'
      description: 'ii.  轉入機構於送出「轉入帳號檢核交易(transferInAccountCheck)」之positive Response時，設定Pending P3，若超過P3時間未收到「轉入交易(transferIn)」，則發生P3逾時。轉入機構需以「交易流程重送請求交易(txnNextFlow)」查詢該交易流程狀態。其「交易重送請求交易」之結果可能有下列：
(a)  交易狀態未明：表示交易尚未發生逾時，交易仍在進行中。此狀況下，電支平台不會傳送下一道訊息。
(b)  交易狀態已確定：表示交易狀態已確定，於「交易重送請求交易」之Response訊息內帶有此交易的跨行交易狀態。並且重送下一道訊息，也就是重送「轉入交易」。
'
      summary: '轉入交易'

components:
  parameters:
    reqstan:
      name: X-STAN
      in: header
      required: true
      schema:
        type: string
        maximum: 7
    reqdid:
      name: X-DestinationId
      in: header
      required: true
      schema:
        type: string
        maximum: 7
    reqcid:
      name: X-ClientId
      in: header
      required: true
      schema:
        type: string
        maximum: 7
    reqtdt:
      name: X-TxnInitDateTime
      in: header
      required: true
      schema:
        type: string
        maximum: 14
  schemas:
    transferOutRequest:
      properties:
        appHeader:
          $ref: '#/components/schemas/appHeader'
        appReqBody:
          $ref: '#/components/schemas/transoutreq'
    transferOutConfirm:
      properties:
        appHeader:
          $ref: '#/components/schemas/appHeader-confirm'
        appReqBody:
          $ref: '#/components/schemas/transoutcon'
    transferInAccountCheck:
      properties:
        appHeader:
          $ref: '#/components/schemas/appHeader'
        appReqBody:
          $ref: '#/components/schemas/accountCheck'
    transferIn:
      properties:
        appHeader:
          $ref: '#/components/schemas/appHeader'
        appReqBody:
          $ref: '#/components/schemas/transin'
    transferrep:
      properties:
        appRepBody:
          $ref: '#/components/schemas/apprepbody'
    transferinrep:
      properties:
        appRepBody:
          $ref: '#/components/schemas/apprepbodytin'

    appHeader:
      properties:
        appSourceID:
          type: string
          description: '發送單位ID'
          pattern: '^\d{7}'
        appDestID:
          type: string
          description: '接收單位ID'
          pattern: '^\d{7}'
        appUID:
          type: string
          description: '訊息UID'
          maximum: 36
        appDateTime:
          type: string
          description: '訊息日期時間'
          pattern: '^[0-9]{4}\-[0-9]{2}\-[0-9]{2}T[0-9]{2}\:[0-9]{2}\:[0-9]{2}\+[0-9]{2}\:[0-9]{2}'
          maximum: 25
      example:
        appSourceID: '3900000'
        appDestID: '9500000'
        appUID: '19bc7ada-a5d4-4039-8a0e-41838404f17a'
        appDateTime: '2019-09-08T10:55:58+08:00'
      required:
        - appSourceID
        - appDestID
        - appUID
        - appDateTime
        
    appHeader-confirm:
      properties:
        appSourceID:
          type: string
          description: '發送單位ID'
          pattern: '^\d{7}'
        appDestID:
          type: string
          description: '接收單位ID'
          pattern: '^\d{7}'
        appUID:
          type: string
          description: '訊息UID'
          maximum: 36
        appDateTime:
          type: string
          description: '訊息日期時間'
          pattern: '^[0-9]{4}\-[0-9]{2}\-[0-9]{2}T[0-9]{2}\:[0-9]{2}\:[0-9]{2}\+[0-9]{2}\:[0-9]{2}'
          maximum: 25
        appResend:
          type: number
          description: '註記此訊息為重送訊息'
          pattern: '^\d{1}'
      example:
        appSourceID: '3900000'
        appDestID: '9500000'
        appUID: '19bc7ada-a5d4-4039-8a0e-41838404f17a'
        appDateTime: '2019-09-08T10:55:58+08:00'
        appResned: 0
      required:
        - appSourceID
        - appDestID
        - appUID
        - appDateTime
        
    apprepbody:
      type: object
      properties:
        responseCode:
          type: string
          description: '交易回應代碼'
          pattern: '^\d{4}'
        responseDesc:
          type: string
          description: '交易回應敘述'
          minimum: 1
          maximum: 999
      example:
        responseCode: '0000'
        responseDesc: Success
      required:
        - responseCode
        - responseDesc

    apprepbodytin:
      type: object
      properties:
        accountInfo:
          type: string
          description: '轉入帳戶補充資訊'
          maximum: 12
        responseCode:
          type: string
          description: '交易回應代碼'
          pattern: '^\d{4}'
        responseDesc:
          type: string
          description: '交易回應敘述'
          minimum: 1
          maximum: 999
      example:
        accountInfo: '456300010001'
        responseCode: '0000'
        responseDesc: Success
      required:
        - responseCode
        - responseDesc

    accountCheck:
      properties:
        transfereeID:
          type: string
          description: '轉入參加單位代號'
          pattern: '^\d{7}'
        transfereeAccount:
          type: string
          pattern: '^\d{16}'
          description: '轉入帳號'
      example:
        transfereeID: '3010000'
        transfereeAccount: '4783000100010001'
      required:
        - transfereeID
        - transfereeAccount
        
    transoutreq:
      properties:
        txnAmount:
          type: number
          description: '交易金額,以12位整數為限'
        txnCurrencyCode:
          type: string
          description: '交易金額幣別'
          pattern: '^\d{3}'
          maximum: 3
        transfereeID:
          type: string
          description: '轉入參加單位代號'
          pattern: '^\d{7}'
          maximum: 7
        transferorID:
          type: string
          description: '轉出參加單位代號'
          pattern: '^\d{7}'
          maximum: 7
        terminalType:
          type: string
          description: '端末設備型態'
          pattern: '^\d{4}'
          maximum: 4
        txnMemo:
          type: string
          description: '轉帳附言欄(中文以UTF8編碼)'
          maximum: 60
        transfereeAccount:
          type: string
          description: '轉入帳號'
          pattern: '^\d{16}'
          maximum: 16
        transferorAccount:
          type: string
          description: '轉出帳號'
          pattern: '^\d{16}'
          maximum: 16
      example:
        txnAmount: 1000
        txnCurrencyCode: 901
        transfereeID: '3900000'
        transferorID: '9500000'
        terminalType: '6578'
        txnMemo: 'transferout'
        transfereeAccount: '4563000100010001'
        transferorAccount: '5115000100010001'
      required:
        - txnAmount
        - transfereeID
        - transferorID
        - terminalType
        - txnMemo
        - transfereeAccount
        - transferorAccount
        
    transoutcon:
      properties:
        originalAppUID:
          type: string
          description: '原交易訊息UID'
          maximum: 36
        originalAppDateTime:
          type: string
          pattern: '^[0-9]{4}\-[0-9]{2}\-[0-9]{2}T[0-9]{2}\:[0-9]{2}\:[0-9]{2}\+[0-9]{2}\:[0-9]{2}'          
          description: '原交易訊息日期時間'
          maximum: 25
        busDate:
          type: string
          description: '跨行營業日'
          pattern: '^\d{8}'
          maximum: 8
        accountInfo:
          type: string
          description: '轉入帳戶補充資訊'
          maximum: 12
        fiscSTAN:
          type: string
          description: '財金跨行序號'
          pattern: '^\d{10}'
          maximum: 10
        fiscRC:
          type: string
          description: '財金跨行回應代碼'
          pattern: '^\d{4}'
          maximum: 4
      example:
        originalAppUID: 1000
        originalAppDateTime: 901
        busDate: '3900000'
        accountInfo: 'transferout'
        fiscSTAN: '3902000001'
        fiscRC: '4001'
      required:
        - originalAppUID
        - originalAppDateTime
        - busDate
        - accountInfo
        - fiscSTAN
        - fiscRC

    transin:
      properties:
        txnAmount:
          type: number
          description: '交易金額,以12位整數為限'
        txnCurrencyCode:
          type: string
          description: '交易金額幣別'
          pattern: '^\d{3}'
          maximum: 3
        transfereeID:
          type: string
          description: '轉入參加單位代號'
          pattern: '^\d{7}'
          maximum: 7
        transferorID:
          type: string
          description: '轉出參加單位代號'
          pattern: '^\d{7}'
          maximum: 7
        terminalType:
          type: string
          description: '端末設備型態'
          pattern: '^\d{4}'
          maximum: 4
        txnMemo:
          type: string
          description: '轉帳附言欄(中文以UTF8編碼)'
          maximum: 60
        transfereeAccount:
          type: string
          description: '轉入帳號'
          pattern: '^\d{16}'
          maximum: 16
        transferorAccount:
          type: string
          description: '轉出帳號'
          pattern: '^\d{16}'
          maximum: 16
        busDate:
          type: string
          description: '跨行營業日'
          pattern: '^\d{8}'
          maximum: 8
        fiscSTAN:
          type: string
          description: '財金跨行序號'
          pattern: '^\d{10}'
          maximum: 10
        fiscRC:
          type: string
          description: '財金跨行回應代碼'
          pattern: '^\d{4}'
          maximum: 4
      example:
        txnAmount: 1000
        txnCurrencyCode: 901
        transfereeID: '3900000'
        transferorID: '9500000'
        terminalType: '6578'
        txnMemo: 'transferout'
        transfereeAccount: '4563000100010001'
        transferorAccount: '5115000100010001'
        busDate: '20190908'
        fiscSTAN: '3901000001'
        fiscRC: '4001'
      required:
        - txnAmount
        - transfereeID
        - transferorID
        - terminalType
        - txnMemo
        - transfereeAccount
        - transferorAccount
        - busDate
        - fiscSTAN
        - fiscRC
        
  links: {}
  callbacks: {}
externalDocs:
  url: 'https://www.fisc.com.tw'
  description: 電支平台交易電文規格書
security: []
