openapi: 3.0.1
info:
  title: 巴别鸟卯丁接口
  version: 0.0.1
servers:
- url: http://yun.imaoding.com:3050/api/maoding
tags:
- name: enterprise
  description: 企业接口
- name: department
  description: 部门接口
- name: user
  description: 用户接口
- name: entmember
  description: 企业成员接口
- name: depmember
  description: 部门成员接口
- name: project
  description: 项目接口
- name: file
  description: 文件接口
- name: comment
  description: 批注接口
paths:
  /enterprise/new:
    post:
      tags:
      - enterprise
      summary: 创建企业
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - entAbbr
              - entName
              - canOwnerFile
              properties:
                entName:
                  type: string
                  description: 企业名
                entAbbr:
                  type: string
                  description: 企业简称
                canOwnerFile:
                  type: integer
                  description: 在企业中能否拥有个人文件，0 - 表示不能， 1 - 可以拥有
        required: true
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /enterprise/edit:
    post:
      tags:
      - enterprise
      summary: 编辑企业信息
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - entId
              properties:
                entId:
                  type: string
                entName:
                  type: string
                entAbbr:
                  type: string
        required: true
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /enterprise/search:
    post:
      tags:
      - enterprise
      summary: 搜索企业
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - entName
              properties:
                entName:
                  type: string
        required: true
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntArrResponse'
  /enterprise/delete:
    post:
      tags:
      - enterprise
      summary: 删除企业
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - entId
              properties:
                entId:
                  type: string
        required: true
      responses:
        200:
          description: Ok
          content:
            appliation/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /department/create:
    post:
      tags:
      - department
      summary: 创建部门
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - entId
              - parentId
              - depName
              properties:
                entId:
                  type: string
                parentId:
                  type: string
                depName:
                  type: string
        required: true
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepResponse'
  /department/create_project_folder:
    post:
      tags:
      - department
      summary: 创建部门项目文件夹
      description: 创建部门项目文件夹，仅当部门项目文件夹不存在时可用
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - entId
              - depId
              properties:
                entId:
                  type: string
                depId:
                  type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileIdResponse'
  /department/delete:
    post:
      tags:
      - department
      summary: 删除部门
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - entId
              - depId
              properties:
                entId:
                  type: string
                depId:
                  type: string
      responses:
        200:
          description: Ok
  /department/update:
    post:
      tags:
      - department
      summary: 更新部门信息
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - entId
              - depId
              properties:
                entId:
                  type: string
                depId:
                  type: string
                parentId:
                  type: string
                  description: 新父部门
                depName:
                  type: string
      responses:
        200:
          description: Ok
  /department/search:
    post:
      tags:
      - department
      summary: 在企业中搜索部门
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - entId
              properties:
                entId:
                  type: string
                parentId:
                  type: string
                  description: 部门所属父部门
                depName:
                  type: string
                  description: 部门名，模糊匹配
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepArrResponse'
  /user/create:
    post:
      tags:
      - user
      summary: 创建用户
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - email
              - username
              - password
              properties:
                email:
                  type: string
                username:
                  type: string
                password:
                  type: string
      responses:
        200:
          description: Ok
  /user/update:
    post:
      tags:
      - user
      summary: 更新用户信息
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - userId
              properties:
                userId:
                  type: string
                username:
                  type: string
                password:
                  type: string
      responses:
        200:
          description: Ok
  /user/delete:
    post:
      tags:
      - user
      summary: 删除用户
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - userId
              properties:
                userId:
                  type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /user/search:
    post:
      tags:
      - user
      summary: 搜索用户
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                email:
                  type: string
                  description: 限定邮箱搜索，模糊匹配
                entId:
                  type: string
                  description: 限定在企业中搜索
                depId:
                  type: string
                  description: 限定在部门中搜索
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserArrResponse'
  /entrole/all:
    post:
      tags:
      - entmember
      summary: 获取企业角色
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntRoleArrResponse'
  /entmember/add:
    post:
      tags:
      - entmember
      summary: 添加用户到企业
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - userId
              - entId
              - entRoleId
              properties:
                userId:
                  type: string
                entId:
                  type: string
                entRoleId:
                  type: string
      responses:
        200:
          description: Ok
  /entmember/setrole:
    post:
      tags:
      - entmember
      summary: 设置用户的企业角色
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - userId
              - entId
              - entRoleId
              properties:
                userId:
                  type: string
                entId:
                  type: string
                entRoleId:
                  type: string
      responses:
        200:
          description: Ok
  /entmember/delete:
    post:
      tags:
      - entmember
      summary: 将用户从企业中删除
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - userId
              - entId
              properties:
                userId:
                  type: string
                entId:
                  type: string
      responses:
        200:
          description: Ok
  /deprole/all:
    post:
      tags:
      - depmember
      summary: 获取企业的部门成员角色列表
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - entId
              properties:
                entId:
                  type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepRoleArrResponse'
  /depmember/add:
    post:
      tags:
      - depmember
      summary: 添加成员到部门
      description: 将用户添加为部门成员，用户必须是部门所在企业成员
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - userId
              - entId
              - depId
              - depRoleId
              properties:
                userId:
                  type: string
                entId:
                  type: string
                depId:
                  type: string
                depRoleId:
                  type: string
                  description: 部门角色
      responses:
        200:
          description: Ok
  /depmember/setrole:
    post:
      tags:
      - depmember
      summary: 设置部门成员在部门中的角色
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - userId
              - depId
              - depRoleId
              properties:
                userId:
                  type: string
                depId:
                  type: string
                depRoleId:
                  type: string
      responses:
        200:
          description: Ok
  /depmember/delete:
    post:
      tags:
      - depmember
      summary: 将用户从部门中移除
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - userId
              - entId
              - depId
              properties:
                userId:
                  type: string
                entId:
                  type: string
                depId:
                  type: string
      responses:
        200:
          description: Ok 
  /project/create:
    post:
      tags:
      - project
      summary: 创建项目
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - name
              - depId
              - directorId
              properties:
                name:
                  type: string
                  description: 项目名
                depId:
                  type: string
                  description: 项目所属部门
                directorId:
                  type: string
                  description: 项目经理id
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileIdResponse'
  /project/update:
    post:
      tags:
      - project
      summary: 更新项目信息
      description: 如移交项目到其他部门，该部门需要有项目文件夹
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - projId
              properties:
                projId:
                  type: string
                name:
                  type: string
                  description: 新项目名
                depId:
                  type: string
                  description: 移交到其他部门id
      responses:
        200:
          description: Ok
  /project/roles:
    post:
      tags:
      - project
      summary: 获取项目角色
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BabelRoleArrResponse'
  /project/addmember:
    post:
      tags:
      - project
      summary: 添加项目成员
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - projId
              - userId
              - roleId
              properties:
                projId:
                  type: string
                userId:
                  type: string
                roleId:
                  type: string
      responses:
        200:
          description: Ok
  /project/updatemember:
    post:
      tags:
      - project
      summary: 更新项目成员角色
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - projId
              - userId
              - roleId
              properties:
                projId:
                  type: string
                userId:
                  type: string
                roleId:
                  type: string
      responses:
        200:
          description: Ok
  /project/deletemember:
    post:
      tags:
      - project
      summary: 移除项目成员
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - userId
              - projId
              properties:
                projId:
                  type: string
                userId:
                  type: string
      responses:
        200:
          description: Ok
  /file/createfolder:
    post:
      tags:
      - file
      summary: 新建文件夹
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - name
              - parentId
              - userId
              properties:
                name:
                  type: string
                  description: 文件夹名
                parentId:
                  type: string
                  description: 文件所在目录，根目录下填 '0'
                userId:
                  type: string
                  description: 文件夹创建者
                enterpriseId:
                  type: string
                  description: 文件所属企业，当parentId 为 '0' 时使用
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileIdResponse'
  /file/rename:
    post:
      tags:
      - file
      summary: 重命名文件(夹)
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - fileId
              - name
              properties:
                name:
                  type: string
                fileId:
                  type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /file/copy:
    post:
      tags:
      - file
      summary: 复制文件(夹)
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - fileId
              - destDirId
              properties:
                fileId:
                  type: string
                destDirId:
                  type: string
                  description: 复制到的目标文件夹 
                userId:
                  type: string
                  description: 复制的操作人，当 destDirId 为 0 时需提供
                enterpriseId:
                  type: string
                  description: 复制时所在企业，当 destDirId 为 0 时需提供
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /file/move:
    post:
      tags:
      - file
      summary: 移动文件(夹)
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - fileId
              - destDirId
              properties:
                fileId:
                  type: string
                destDirId:
                  type: string
                  description: 移动到的目标文件夹 
                userId:
                  type: string
                  description: 移动的操作人，当 destDirId 为 0 时需提供
                enterpriseId:
                  type: string
                  description: 移动时所在企业，当 destDirId 为 0时需提供
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /file/delete:
    post:
      tags:
      - file
      summary: 删除文件(夹)
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - fileId
              properties:
                fileId:
                  type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /file/openlink:
      post:
        tags:
        - file
        summary: 打开文件的链接分享
        requestBody:
          content:
            application/x-www-form-urlencoded:
              schema:
                required:
                - fileId
                - linkRoleId
                properties:
                  fileId:
                    type: string
                  linkRoleId:
                    type: string
                    description: 链接分享的分享权限
        responses:
          200:
            description: Ok
            content:
              application/json:
                schema:
                  allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      shareUrl:
                        type: string
                        description: 链接分享地址
  /comment/byfile:
    post:
      tags:
      - comment
      summary: 获取文件批注
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - fileId
              properties:
                fileId:
                  type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentArrResponse'
  /comment/delete:
    post:
      tags:
      - comment
      summary: 删除批注
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - commentId
              properties:
                commentId:
                  type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /comment/change_status:
    post:
      tags:
      - comment
      summary: 设置批注状态
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - fileId
              - commentId
              - status
              properties:
                commentId:
                  type: string
                fileId:
                  type: string
                status:
                  type: integer
                  format: int32
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'      
components:
  schemas:
    Comment:
      type: object
      properties:
        id:
          type: string
          format: int64
        creator:
          type: string
        creatorName:
          type: string
          description: 批注创建者姓名
        text:
          type: string
          description: 批注最新一条回复
        status:
          type: integer
          format: int32
          description: 批注状态
    Department:
      type: object
      properties:
        depId:
          type: string
        parentId:
          type: string
          description: 父部门，根部门下值为 '0'
        name:
          type: string
    Enterprise:
      type: object
      properties:
        entId:
          type: string
        entName:
          type: string
          description: 企业全称
        entAbbr:
          type: string
          description: 企业简称
    BabelRole:
      type: object
      properties:
        roleId:
          type: string
        roleName:
          type: string
    EnterpriseRole:
      type: object
      properties:
        roleId:
          type: string
        roleName:
          type: string
    DepartmentRole:
      type: object
      properties:
        roleId:
          type: string
        roleName:
          type: string
        filePermission:
          type: integer
          description: 文件相关权限位
          format: int32
        managerPermission:
          type: integer
          description: 部门管理权限位
          format: int32
    User:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          description: 用户名
        email:
          type: string
          format: email
        sex:
          type: integer
          format: int32
          description: 性别，0 - 未设置，1 - 男， 2 - 女 
        phone:
          type: string
          format: phone
        registered:
          type: integer
          description: 是否已注册
        frozen:
          type: integer
          description: 是否被冻结, 1 - 用户被冻结

    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: 错误码
        success:
          type: boolean
          description: 请求是否成功
    EntArrResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - type: object
        properties:
          enterprises:
            type: array
            items:
              $ref: '#/components/schemas/Enterprise'
    EntRoleArrResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - type: object
        properties:
          roles:
            type: array
            items:
              $ref: '#/components/schemas/EnterpriseRole'
    DepResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - type: object
        properties:
          department:
            $ref: '#/components/schemas/Department'
    DepArrResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - type: object
        properties:
          departments:
            type: array
            items:
              $ref: '#/components/schemas/Department'
    DepRoleArrResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - type: object
        properties:
          roles:
            type: array
            items:
              $ref: '#/components/schemas/DepartmentRole'
    UserArrResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - type: object
        properties:
          users:
            type: array
            items:
              $ref: '#/components/schemas/User'
    BabelRoleArrResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - type: object
        properties:
          roles:
            type: array
            items:
              $ref: '#/components/schemas/BabelRole'
    FileIdResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - type: object
        properties:
          fileId:
            type: string
            description: 新建文件夹的fileId
    CommentArrResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - type: object
        properties:
          comments:
            type: array
            items:
              $ref: '#/components/schemas/Comment'