openapi: 3.0.1
servers:
- url: https://toolbox.omegatower.com/resource/v1/
info:
  version: "1.2.0.13"
  title: Toolbox Resources
  description: |-
    The Toolbox Resources provide some resources that can be used for the testing or training of web API integration software and data formats by Internet developers and users.
    
    There are four resources in the toolbox. The first, Characters, is a recreation of the Internet protocol suite Character Generator Protocol (CHARGEN) service providing a string of characters based on the input parameters. The second, Conversions, is a simple Unit of Measure converter. The third, Quotes, is a recreation of the Internet protocol suite Quote of the Day (QOTD) service providing quotes of famous (and not so famous) people. The fourth, Reflections, is a recreation of the Internet protocol suite Echo Protocol (ECHO) service, reflecting back to the user a simple message, information about their browser or the resource's server.
  termsOfService: https://toolbox.omegatower.com/terms
  contact:
    name: Omega Tower Design Partners
    email: mike@OmegaTower.com
externalDocs:
  description: Full documentation
  url: https://toolbox.omegatower.com/
tags:
- name: Characters
  description: This is a recreation of the internet protocol suite Character Generator Protocol (CHARGEN) service providing a string of characters based on the input parameters.
  externalDocs:
    description: More
    url: https://toolbox.omegatower.com/characters/
- name: Conversions
  description: This is a simple Unit of Measure converter.
  externalDocs:
    description: More
    url: https://toolbox.omegatower.com/conversions/
- name: Quotes
  description: This is a recreation of the internet protocol suite Quote of the Day (QOTD) service providing quotes of famous (and not so famous) people.
  externalDocs:
    description: More
    url: https://toolbox.omegatower.com/quotes/
- name: Reflections
  description: This is a recreation of the internet protocol suite Echo Protocol (ECHO) service, reflecting back to the user what they sent to the resource as well as information about their browser or the resource's server.
  externalDocs:
    description: More
    url: https://toolbox.omegatower.com/reflections/
paths:
  /characters:
    get:
      tags:
        - Characters
      operationId: CharactersGet
      description: This resource will return to the user characters whose decimal code values are in the range specified.
      parameters: &charactersParameters
        - name: test
          in: query
          description: Sending the Test parameter will return to the user the resource that they connected to, the current version of the resource and all the possible parameters with their current values. This can be used to verify that you are able to successfully connect to the resource. It will be returned formatted as defined by the Output parameter.
          required: false
          schema:
            type: boolean
            enum: &enumBoolean
              - true
              - false
            default: false
        - name: output
          in: query
          description: This parameter defines how the characters are to be returned to the user. Values of "html", "json", "text", "xml", "clod" or "yaml" are allowed.
          required: false
          schema:
            type: string
            enum: &enumOutput
              - text
              - verbose
              - html
              - json
              - xml
              - clod
              - yaml
            default: text
        - name: start
          in: query
          description: This parameter defines which Unicode character to start with. Values between 0 and 1,114,110 inclusive can be sent.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1114110
            default: 0
        - name: end
          in: query
          description: This parameter defines which Unicode character to start with. Values between 1 and 1,114,111 inclusive can be sent.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1114111
            default: 40
        - name: decontrol
          in: query
          description: This parameter defines if the Unicode Control Sets C0, C1 and the DEL character are stripped from the characters returned. Allowed values are "true" or "false".
          required: false
          schema:
            type: boolean
            enum: *enumBoolean
            default: true
      responses: &headersResponses
        200:
          description: OK
          headers:
            X-API-Resource: &headersResource
              description: The API resource that was called
              schema:
                type: string
            X-API-Response-Content-Length: &headersLength
              description: How many characters have been generated by the API
              schema:
                type: integer
            Link: &headersLink
              description: If the output format is set to "json" or "xml", then the "describedby" link will be sent to indicate where the JSON or XML Schema document can be found.
              schema:
                type: string
        400:
          description: Bad Request
          headers:
            X-API-Resource: *headersResource
            X-API-Response-Content-Length: *headersLength
            Link: *headersLink
    head:
      tags:
        - Characters
      operationId: CharactersHead
      description: This resource will return to the user only the HTTP headers as if the GET method were called.
      parameters: *charactersParameters
      responses: *headersResponses
  /conversions:
    get:
      tags:
        - Conversions
      operationId: ConversionsGet
      description: This is a simple Unit of Measure converter.
      parameters: &conversionsParameters
        - name: test
          in: query
          description: Sending the Test parameter will return to the user the resource that they connected to, the current version of the resource and all the possible parameters with their current values. This can be used to verify that you are able to successfully connect to the resource. It will be returned formatted as defined by the Output parameter.
          required: false
          schema:
            type: boolean
            enum: *enumBoolean
            default: false
        - name: output
          in: query
          description: This parameter defines how the converted value is to be returned to the user. Values of "html", "json", "text", "xml", "clod" or "yaml" are allowed.
          required: false
          schema:
            type: string
            enum: *enumOutput
            default: text
        - name: value
          in: query
          description: This parameter defines the value to be converted.
          required: false
          schema:
            type: number
            default: 1
        - name: uom1
          in: query
          description: The unit of measure converting from. Values of "kilometer", "meter", "centimeter", "mile", "foot", "inch", "kilogram", "gram", "milligram", "ton", "pound", "ounce", "kiloliter", "liter", "milliliter", "gallon", "quart", "pint", "cup", "tablespoon" or "teaspoon" are allowed.
          required: false
          schema:
            type: string
            enum:
             - kilometer
             - meter
             - centimeter
             - mile
             - foot
             - inch
             - kilogram
             - gram
             - milligram
             - ton
             - pound
             - ounce
             - kiloliter
             - liter
             - milliliter
             - gallon
             - quart
             - pint
             - cup
             - tablespoon
             - teaspoon
            default: foot
        - name: uom2
          in: query
          description: The unit of measure converting to. Values of "kilometer", "meter", "centimeter", "mile", "foot", "inch", "kilogram", "gram", "milligram", "ton", "pound", "ounce", "kiloliter", "liter", "milliliter", "gallon", "quart", "pint", "cup", "tablespoon" or "teaspoon" are allowed.
          required: false
          schema:
            type: string
            enum:
             - kilometer
             - meter
             - centimeter
             - mile
             - foot
             - inch
             - kilogram
             - gram
             - milligram
             - ton
             - pound
             - ounce
             - kiloliter
             - liter
             - milliliter
             - gallon
             - quart
             - pint
             - cup
             - tablespoon
             - teaspoon
            default: meter
      responses: *headersResponses
    head:
      tags:
        - Conversions
      operationId: ConversionsHead
      description: This resource will return to the user only the HTTP headers as if the GET method were called.
      parameters: *conversionsParameters
      responses: *headersResponses
  /quotes:
    get:
      tags:
        - Quotes
      operationId: QuotesGet
      description: This resource will return to the user a famous (or not so famous) quoted saying and it's author.
      parameters: &quotesParameters
        - name: test
          in: query
          description: Sending the Test parameter will return to the user the resource that they connected to, the current version of the resource and all the possible parameters with their current values. This can be used to verify that you are able to successfully connect to the resource. It will be returned formatted as defined by the Output parameter.
          required: false
          schema:
            type: boolean
            enum: *enumBoolean
            default: false
        - name: output
          in: query
          description: This parameter defines how the quote is to be returned to the user. Values of "html", "json", "text", "xml", "clod" or "yaml" are allowed.
          required: false
          schema:
            type: string
            enum: *enumOutput
            default: text
        - name: first
          in: query
          description: This parameter defines which will be returned first, the quote or the author. This parameter only has effect when the Output parameter is set to "text". Values of "quote" or "author" are allowed.
          required: false
          schema:
            type: string
            enum:
              - quote
              - author
            default: quote
        - name: author
          in: query
          description: This parameter defines if the author is to be returned. This parameter only has effect when the Output parameter is set to "text". Values of "true" or "false" are allowed.
          required: false
          schema:
            type: boolean
            enum: *enumBoolean
            default: true
        - name: separator
          in: query
          description: This parameter defines what character string is to be sent between the quote and the author. This parameter only has effect when the Output parameter is set to "text". It is a comma delimited list of UTF-8 decimal values. A maximum of 8 values can be sent. Integer values between 32 and 126 inclusive are allowed. UTF-8 decimal code values can be found at the UTF-8 encoding table and Unicode characters web page.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
              minimum: 32
              maximum: 126
              maxItems: 8
            default: "32,45,32"
        - name: enclose
          in: query
          description: This parameter defines which character is to be used to enclose the quote. The values of "quote", "apostrophe" or "none" are allowed.
          required: false
          schema:
            type: string
            enum:
              - quote
              - apostrophe
              - none
            default: quote
      responses: *headersResponses
    head:
      tags:
        - Quotes
      operationId: QuotesHead
      description: This resource will return to the user only the HTTP headers as if the GET method were called.
      parameters: *quotesParameters
      responses: *headersResponses
  /reflections:
    get:
      tags:
        - Reflections
      operationId: ReflectionsGet
      description: This resource will return to the user 3 types of information. First, it will return the content that is sent to the resource. Second, it will return information about the user's browser. Third, it will return information about the resource's server.
      parameters: &reflectionsParameters
        - name: test
          in: query
          description: Sending the Test parameter will return to the user the resource that they connected to, the current version of the resource and all the possible parameters with their current values. This can be used to verify that you are able to successfully connect to the resource. It will be returned formatted as defined by the Output parameter.
          required: false
          schema:
            type: boolean
            enum: *enumBoolean
            default: false
        - name: output
          in: query
          description: This parameter defines how the quote is to be returned to the user. Values of "html", "json", "text", "xml", "clod" or "yaml" are allowed.
          required: false
          schema:
            type: string
            enum: *enumOutput
            default: text
        - name: content
          in: query
          description: This parameter defines what content is to be returned to the user. If "hello" is sent, then "Hello, World!" will be returned. If "client" is sent, then some information about the internet client used to connect to the resource is returned. If "server" is sent, then some information about the server is returned.
          required: false
          schema:
            type: string
            enum:
              - hello
              - client
              - server
            default: hello
      responses: *headersResponses
    head:
      tags:
        - Reflections
      operationId: ReflectionsHead
      description: This resource will return to the user only the HTTP headers as if the GET method were called.
      parameters: *reflectionsParameters
      responses: *headersResponses
...