openapi: 3.0.0
info:
  title: 'IPChainID: ODS'
  description: "**API для обмена данными юрлиц**"
  version: "1.0.0"
servers:
  - url: https://ods.testnet.ipchain.ru/
tags:
  - name: Version
  - name: Auth
  - name: Client
  - name: Organization
  - name: Name
  - name: Identifier
  - name: FileIdentifier
  - name: Communication
  - name: Payment
  - name: Attribute
  - name: PersonRole
  - name: Dictionary
paths:
  /:
    get:
      tags:
        - Version
      summary: Получение версии
      responses:
        200:
          description: Версия получена
          content:
            text/plain:
              example: 'ODS. Version: 2020.1.1'
  /auth/authorize:
    get:
      tags:
        - Auth
      summary: Авторизация пользователя
      parameters:
        - name: client_id
          in: query
          description: Идентификатор клиента
          schema:
            type: string
            example: developerdemo_client
          required: true
        - name: response_type
          in: query
          description: Тип запроса авторизации (доступен только 'code')
          schema:
            type: string
            example: code
          required: true
        - name: scope
          in: query
          description: 'Запрашиваемые разрешения (Communication: c_email, c_phone, c_address), (Name: n_alias, n_synonym, n_name), (Identifier: i_OUI, i_INNRU, i_email, i_phone, i_IPChainMedia, i_IPChainProm, i_IPChainOrg, i_IPChainProto, i_bankRU)'
          schema:
            type: string
            example: c_email,i_passportRU,n_name
          required: true
        - name: redirect_uri
          in: query
          description: Uri для редиректа
          schema:
            type: string
            example: http://127.0.0.1/authorization_complete
        - name: state
          in: query
          description: Значение, используемое клиентом для поддержания состояния между запросом и обратным вызовом
          schema:
            type: string
            example: O&IJD%*D@Ad%)
        - name: lang
          in: query
          description: 'Язык отображения форм (ru | en)'
          schema:
            type: string
            example: ru
        - name: force_auth
          in: query
          description: 'Метка об обязательном этапе выбора разрешений для клиента'
          schema:
            type: boolean
            example: true
      responses:
        200:
          description: Форма авторизации для пользователя возвращена
          content:
            text/html:
              example: Форма входа для пользователя
  /auth/token:
    post:
      tags:
        - Auth
      summary: Выдача токена
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                  description: Идентификатор клиента
                client_secret:
                  type: string
                  description: Пароль клиента
                grant_type:
                  type: string
                  description: Тип запроса токена ('authorization_code' | 'refresh_token' | 'client_credentials')
                code:
                  type: string
                  description: Код для получения токена клиента (когда grant_type = 'authorization_code')
                refresh_token:
                  type: string
                  description: Токен для рефреша (когда grant_type = 'refresh_token')
                redirect_uri:
                  type: string
                  description: Uri для редиректа (когда grant_type = 'authorization_code', обязательно должен совпадать с тем, который был отправлен на /auth/authorize перед этим)
              required:
                - client_id
                - client_secret
                - grant_type
      responses:
        200:
          description: Токен получен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
  /api/client/organization:
    post:
      tags:
        - Client
      summary: Выдача организаций с необязательным фильтром
      security:
        - bearerClientAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientOrganizationFilter'
        required: false
      responses:
        200:
          description: Персоны выданы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientOrganizationFilterPage'
  /api/organization:
    get:
      tags:
        - Organization
      summary: Получение организации
      security:
        - bearerPersonAuth: []
      responses:
        200:
          description: Персона организации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationNew'
    post:
      tags:
        - Organization
      summary: Добавление организации
      parameters:
        - in: header
          name: Idempotence-Key
          schema:
            type: string
          required: false
          description: Ключ идемпотентности
          example: '1a234b5c-d6ef-789g-h012-i3jk4567l789'
      security:
        - bearerClientAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationNew'
        required: true
      responses:
        201:
          description: Организация добавлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationReg'
    delete:
      tags:
        - Organization
      summary: Удаление организации
      security:
        - bearerPersonAuth: []
      responses:
        200:
          description: Организация удалена
  /api/organizaton/communication:
    post:
      tags:
        - Communication
      summary: Добавление cпособов связи, используемых организацией
      parameters:
        - in: header
          name: Idempotence-Key
          schema:
            type: string
          required: false
          description: Ключ идемпотентности
          example: '81394b7a-a175-11e9-a2a3-2a2ae2dbcce4'
      security:
        - bearerPersonAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCommunications'
        required: true
      responses:
        201:
          description: Способы связи добавлены
          content:
            application/json:
              example: ["edd960e1-f537-4665-9c05-68feeae3b606"]
    put:
      tags:
        - Communication
      summary: Изменение способов связи, используемых организацией
      security:
        - bearerPersonAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Communication'
        required: true
      responses:
        200:
          description: Способы связи изменены
  /api/organization/communication/{id}:
    delete:
      tags:
        - Communication
      summary: Удаление способа связи
      parameters:
        - name: id
          in: path
          description: Идентификатор способа связи
          schema:
            type: string
            example: e4851706-81cc-4b9b-9be0-1f82e42e5094
          required: true
      security:
        - bearerPersonAuth: []
      responses:
        200:
          description: Способ связи удален
  /api/organization/name:
    post:
      tags:
        - Name
      summary: Добавление названий организации
      parameters:
        - in: header
          name: Idempotence-Key
          schema:
            type: string
          required: false
          description: Ключ идемпотентности
          example: '81394b7a-a175-11e9-a2a3-2a2ae2dbcce4'
      security:
        - bearerPersonAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddNames'
        required: true
      responses:
        201:
          description: Названия добавлены
          content:
            application/json:
              example: ["edd960e1-f537-4665-9c05-68feeae3b606"]
    put:
      tags:
        - Name
      summary: Изменение названий организации
      security:
        - bearerPersonAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditNames'
        required: true
      responses:
        200:
          description: Названия изменены
  /api/organization/name/{id}:
    delete:
      tags:
        - Name
      summary: Удаление названия
      parameters:
        - name: id
          in: path
          description: Идентификатор названия
          schema:
            type: string
            example: e4851706-81cc-4b9b-9be0-1f82e42e5094
          required: true
      security:
        - bearerPersonAuth: []
      responses:
        200:
          description: Названия удалены
  /api/organization/identifier:
    post:
      tags:
        - Identifier
      summary: Добавление идентификаторов организации
      parameters:
        - in: header
          name: Idempotence-Key
          schema:
            type: string
          required: false
          description: Ключ идемпотентности
          example: '81394b7a-a175-11e9-a2a3-2a2ae2dbcce4'
      security:
        - bearerPersonAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddIdentifiers'
        required: true
      responses:
        201:
          description: Идентификаторы добавлены
          content:
            application/json:
              example: ["edd960e1-f537-4665-9c05-68feeae3b606"]
    put:
      tags:
        - Identifier
      summary: Изменение идентификаторов организации
      security:
        - bearerPersonAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditIdentifiers'
        required: true
      responses:
        200:
          description: Идентификаторы изменены
  /api/organization/identifier/{id}:
    delete:
      tags:
        - Identifier
      summary: Удаление идентификатора
      parameters:
        - name: id
          in: path
          description: Идентификатор идентификатора
          schema:
            type: string
            example: e4851706-81cc-4b9b-9be0-1f82e42e5094
          required: true
      security:
        - bearerPersonAuth: []
      responses:
        200:
          description: Идентификатор удален
  /api/organization/fileIdentifier:
    get:
      tags:
        - FileIdentifier
      summary: Получение файлов идентификатора по identifier_id
      security:
        - bearerPersonAuth: []
      parameters:
        - name: identifier_id
          in: query
          description: Id идентификатора в IPChainID
          schema:
            type: string
            example: 780bc191-8a92-49d8-98a0-23c406368c96
          required: true
      responses:
        200:
          description: Файлы найдены
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileIdentifier'
    post:
      tags:
        - FileIdentifier
      summary: Добавление файлов идентификаторов организации
      parameters:
        - in: header
          name: Idempotence-Key
          schema:
            type: string
          required: false
          description: Ключ идемпотентности
          example: '81394b7a-a175-11e9-a2a3-2a2ae2dbcce4'
      security:
        - bearerPersonAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileIdentifier'
        required: true
      responses:
        201:
          description: Файлы добавлены
          content:
            application/json:
              example: ["edd960e1-f537-4665-9c05-68feeae3b606"]
  /api/organization/fileIdentifier/{id}:
    delete:
      tags:
        - FileIdentifier
      summary: Удаление файла
      parameters:
        - name: id
          in: path
          description: Идентификатор файла
          schema:
            type: string
            example: e4851706-81cc-4b9b-9be0-1f82e42e5094
          required: true
      security:
        - bearerPersonAuth: []
      responses:
        200:
          description: Файл удален
  /api/organization/payment:
    post:
      tags:
        - Payment
      summary: Добавление банковских реквизитов организации
      parameters:
        - in: header
          name: Idempotence-Key
          schema:
            type: string
          required: false
          description: Ключ идемпотентности
          example: '81394b7a-a175-11e9-a2a3-2a2ae2dbcce4'
      security:
        - bearerPersonAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPayments'
        required: true
      responses:
        201:
          description: Банковские реквизиты добавлены
          content:
            application/json:
              example: ["edd960e1-f537-4665-9c05-68feeae3b606"]
    put:
      tags:
        - Payment
      summary: Изменение банковских реквизитов организации
      security:
        - bearerPersonAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment'
        required: true
      responses:
        200:
          description: Банковские реквизиты изменены
  /api/organization/payment{id}:
    delete:
      tags:
        - Payment
      summary: Удаление банковских реквизитов организации
      parameters:
        - name: id
          in: path
          description: Идентификатор реквизитов
          schema:
            type: string
            example: e4851706-81cc-4b9b-9be0-1f82e42e5094
          required: true
      security:
        - bearerPersonAuth: []
      responses:
        200:
          description: Банковские реквизиты удалены
  /api/organization/Attribute:
    post:
      tags:
        - Attribute
      summary: Добавить дополнительные атрибуты организации
      parameters:
        - in: header
          name: Idempotence-Key
          schema:
            type: string
          required: false
          description: Ключ идемпотентности
          example: '81394b7a-a175-11e9-a2a3-2a2ae2dbcce4'
      security:
        - bearerPersonAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAttributes'
        required: true
      responses:
        201:
          description: Реквизиты добавлены
          content:
            application/json:
              example: ["edd960e1-f537-4665-9c05-68feeae3b606"]
    put:
      tags:
        - Attribute
      summary: Изменение атрибутов органииции
      security:
        - bearerPersonAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tAttributes'
        required: true
      responses:
        200:
          description: Идентификаторы изменены
  /api/organization/attributes{id}:
    delete:
      tags:
        - Attribute
      summary: Удаление банковских реквизитов
      parameters:
        - name: id
          in: path
          description: Идентификатор реквизитов
          schema:
            type: string
            example: e4851706-81cc-4b9b-9be0-1f82e42e5094
          required: true
      security:
        - bearerPersonAuth: []
      responses:
        200:
          description: Атрибуты удалены
  /api/organization/PersonRole:
    post:
      tags:
        - PersonRole
      summary: Добавление сотрудника организации согласно его роли в ODS и роли в организации
      parameters:
        - in: header
          name: Idempotence-Key
          schema:
            type: string
          required: false
          description: Ключ идемпотентности
          example: '81394b7a-a175-11e9-a2a3-2a2ae2dbcce4'
      security:
        - bearerPersonAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPersonRole'
        required: true
      responses:
        201:
          description: Сотрудники добавлены
          content:
            application/json:
              example: ["edd960e1-f537-4665-9c05-68feeae3b606"]
    put:
      tags:
        - PersonRole
      summary: Изменение роли сотрудника организации согласно его роли в ODS и роли в организации
      security:
        - bearerPersonAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditPersonRole'
        required: true
      responses:
        200:
          description: Сотрудник изменен
  /api/organization/PeersonRole/{id}:
    delete:
      tags:
        - PersonRole
      summary: Удаление сотрудника
      parameters:
        - name: id
          in: path
          description: Идентификатор названия
          schema:
            type: string
            example: e4851706-81cc-4b9b-9be0-1f82e42e5094
          required: true
      security:
        - bearerPersonAuth: []
      responses:
        200:
          description: Сотрудник удален
    
components:
  schemas:
    OrganizationReg:
      title: OrganizationReg
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
          example: bearer
        expires_in:
          type: number
          example: 123456
        orgId:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
    OrganizationNew:
      title: OrganizationNew
      required:
        - secret
      description: 'Структура данных организации, используемая при создании новой организации'
      type: object
      properties:
        secret:
          type: string
          example: password
        Communications:
          type: array
          items:
            $ref: '#/components/schemas/CommunicationNew'
        Names:
          type: array
          items:
            $ref: '#/components/schemas/NameNew'
        Identifiers:
          type: array
          items:
            $ref: '#/components/schemas/IdentifierNew'
        Payments:
          type: array
          items:
            $ref: '#/components/shemas/Payment'
        Attributes:
          type: array
          items:
            $ref: '#/components/shemas/Attribute'
        PersonRoles:
          type: array
          items:
            $ref: '#/components/shemas/PersonRole'
    AddNames:
      title: AddNames
      required:
        - orgId
        - items
      type: object
      properties:
        orgId:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        items:
          type: array
          items:
            $ref: '#/components/schemas/NameNew'
    EditNames:
      title: EditNames
      required:
        - orgId
        - items
      type: object
      properties:
        orgId:
          type: string
          example: 780bc191-8a92-49d8-98a0-23c406368c96
        items:
          type: array
          items:
            $ref: '#/components/schemas/Name'
    NameNew:
      title: Name
      required:
        - id
        - orgid
        - name
        - nameType
        - languages
        - dateFrom
        - dateTo
        - verified
      type: object
      description: 'Название организации, юридического лица'
      properties:
        id:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        orgid:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        name:
          type: string
          example: 'ООО Компания'
        nameType: 
          type: string
          example: name
        languages:
          type: array
          items:
            type: string
          example: ["rus", "eng"]
        dateFrom:
          type: string
          format: date
          example: '2019-02-01'
        dateTo:
          type: string
          format: date
          example: null
        verified:
          type: integer
          example: 0
          description: 0 - без верификации, 1- верифицировано, 2 - отклонено
    AddCommunications:
      title: AddCommunications
      required:
        - orgId
        - items
      type: object
      properties:
        orgId:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        items:
          type: array
          items:
            $ref: '#/components/schemas/CommunicationNew'
    EditCommuniсations:
      title: EditCommunications
      required:
        - orgId
        - items
      type: object
      properties:
        orgId:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        items:
          type: array
          items:
            $ref: '#/components/schemas/Communication'
    CommunicationNew:
      title: CommunicationNew
      required:
        - id
        - orgid
        - communication
        - communicationType
        - attributes
        - dateFrom
        - dateTo
        - priority
      type: object
      description: 'Способы связи, используемые организацией'
      properties:
        id:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        orgid:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        communication:
          type: string
          example: '236000, РФ, Калининградская обл., Калининград, ул. Красная, д. 50'
        communicationType:
          type: string
          example: legalAddress
        attributes:
          type: object
          required:
            - country
            - region
            - city
            - street
            - bulding
            - index
          properties:
            country:
              type: string
              example: "Российская Федерация"
              description: Страна
            region:
              type: string
              example: "Калининградская область"
              description: Субъект
            city:
              type: string
              example: "Калининград"
              description: Город
            street:
              type: string
              example: "Красная"
              description: Улица
            building:
              type: string
              example: "50"
              description: Здание/Сооружение
            index:
              type: string
              example: "236050"
              description: Индекс
    AddIdentifiers:
      title: AddIdentifiers
      required:
        - orgId
        - items
      type: object
      properties:
        orgId:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        items:
          type: array
          items:
            $ref: '#/components/schemas/IdentifierNew'
    EditIdentifiers:
      title: EditIdentifiers
      required:
        - orgId
        - items
      type: object
      properties:
        orgId:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        items:
          type: array
          items:
            $ref: '#/components/schemas/IdentifierWithoutFiles'
    IdentifierNew:
      title: Identifier
      required:
        - id
        - orgid
        - identifier
        - identifier_type
        - atributes
        - dateFrom
        - dateTo
        - verified
      type: object
      description: 'Идентификаторы организации'
      properties:
        id:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        orgid:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        identifier:
          type: string
          example: 1234 56789
        attributes:
          type: object
          required:
            - organization
            - who_code
            - creation_date
            - location
            - address
            - additionalInformation
          properties:
            who:
              type: string
              example: 'ФНС ПО РФ'
            when:
              type: string
              example: '2000-01-01'
            who_code:
              type: string
              example: '000-001'
            creation_date:
              type: string
              example: '1990-01-01'
            location:
              type: string
              example: 'г. Калининград'
            address:
              type: object
              required:
                - index
                - country
                - region
                - city
                - street
                - building
              properties:
                index:
                  type: string
                  example: '236000'
                country:
                  type: string
                  example: 'Российская Федерация'
                region:
                  type: string
                  example: 'Калининградская область'
                city:
                  type: string
                  example: 'Калининград'
                street:
                  type: string
                  example: 'Красная'
                building:
                  type: string
                  example: '50'
        dateFrom:
          type: string
          format: date
          example: '2000-01-01'
        dateTo:
          type: string
          format: date
          example: '2099-01-01'
        verified:
          type: integer
          example: 0
          description: 0 - без верификации, 1- верифицировано, 2 - отклонено  
        identifierType:
          type: string
          example: OUI
          enum: 
            - OUI
            - email
            - phone
            - INNRU
            - IPChainMedia
            - IPChainProm
            - IPChainOrg
            - IPChainProto
            - bankRU
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileIdentifier'
    AddPayments:
      title: AddPayments
      required:
        - orgId
        - items
      type: object
      properties:
        orgId:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        items:
          type: array
          items:
            $ref: '#/components/schemas/PaymentNew'
    EditPayments:
      title: EditPayments
      required:
        - orgId
        - items
      type: object
      properties:
        orgId:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        items:
          type: array
          items:
            $ref: '#/components/schemas/PaymentNew'
    PaymentNew:
      title: Payment
      required: 
        - id
        - orgid
        - payment
        - paymentType
        - attributes
        - dateFrom
        - dateTo
        - priority
      type: object
      properties:
        id:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        orgid:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        payment:
          type: string
          example: "Банковские реквизиты организации"
        paymentType: 
          type: string
          example: bankDetails
        attributes:
          type: object
          reqired:
            - name
            - legalForm
            - OGRNRU
            - INNRU
            - KPPRU
            - BIKBankRU
            - legalAddress
          properties:
            name:
              type: string
              example: "Компания"
              description: Название организации
            legalForm:
              type: string
              example: "ООО"
              description: Правовая форма организации
            OGRNRU:
              type: string
              example: '1234567890123'
            INNRU:
              type: string
              example: '0987654321'
            KPPRU:
              type: string
              example: '1213446768'
            BIKRU:
              type: string
              example: '5656789000'
            legalAdress:
              type: string
              example: '236000, РФ, Калининградская обл., Калининград, ул. Красная, д.50'
        dateFrom:  
          type: string
          format: date
          example: '2000-01-01'
        dateTo:
          type: string
          format: date
          example: null
    AddAttributes:
      title: AddAttributes
      required:
        - orgId
        - items
      type: object
      properties:
        orgId:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        items:
          type: array
          items:
            $ref: '#/components/schemas/AttributeNew'
    EditAttributes:
      title: EditAttributes
      required:
        - orgId
        - items
      type: object
      properties:
        orgId:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        items:
          type: array
          items:
            $ref: '#/components/schemas/AttributeNew'
    AttributeNew:
      title: Attribute
      required:
        - id
        - orgid
        - attributeName
        - attribute
        - dateFrom
        - dateTo
      type: object
      properties:
        id:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        orgid:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        attributeName:
          type: string
          example: staff
        attribute:
          type: object
          required: 
            - id
            - orgid
            - average number
          properties:
            id:
              type: string
              example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
            orgid:
              type: string
              example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
            strength:
              type: string
              example: averageNumber.xml
              description: 'Cреднесписочная численность сотрудников'
        dateFrom:  
          type: string
          format: date
          example: '2000-01-01'
        date_to:
          type: string
          format: date
          example: null
    AddPersonRoles:
      title: AddPersonRoles
      required:
        - orgId
        - items
      type: object
      properties:
        orgId:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        items:
          type: array
          items:
            $ref: '#/components/schemas/PersonRoleNew'
    EditPersonRole:
      title: EditAttributes
      required:
        - orgId
        - items
      type: object
      properties:
        orgId:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        items:
          type: array
          items:
            $ref: '#/components/schemas/PersonRoleNew'
    PersonroleNew:
      title: PersonRole
      required:
        - id
        - personid
        - orgid
        - roleName
        - role
        - dateFrom
        - dateTo
      type: object
      properties:
        id: 
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        personid:
          type: string
          example: 090fdfk-67fj-ghj6-k787-jh87687jgj7886
        orgid:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        roleName:
          type: string
          example: CEO
        role:
          type: array
          required: 
            - name
            - description
            - outdated
          properties:
            name:
              type: string
              example: CEO
            enum:
              - Administrator
              - CEO
              - Other
    Organizaton:
      title: Organization
      required:
        - id
        - legalForm
        - ts
      type: object
      properties:
        id:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        legalForm:
          title: legalForm
          required:
            - name
            - description
            - outdated
          type: string
          properties:
            name:
              type: string
              example: ["АО", "ОАО", "ООО"]
            description:
              type: string
              example: 'Организационно-правовая форма'
            outdated:
              type: integer
              format: data
              example: 2014.03.02
        ts:
          type: string
          format: date
          example: '2019-06-21T12:49:20.434881'
        Communicatons:
          type: array
          items:
            $ref: '#/components/schemas/Communication'
        Names:
          type: array
          items:
            $ref: '#/components/schemas/Name'
        Identifiers:
          type: array
          items:
            $ref: '#/components/schemas/Identifier'
        Payments:
          type: array
          items:
            $ref: '#/components/shemas/Payment'
        Attributes:
          type: array
          items:
            $ref: '#/components/shemas/Attribute'
        PersonRoles:
          type: array
          items:
            $ref: '#/components/shemas/PersonRole'
    Name:
      title: Name
      required:
        - id
        - orgid
        - name
        - nameType
        - languages
        - dateFrom
        - dateTo
        - verified
      type: object
      description: 'Название организации, юридического лица'
      properties:
        id:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        orgid:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        name:
          type: string
          example: 'ООО Компания'
        nameType: 
          type: string
          example: name
        languages:
          type: array
          items:
            type: string
          example: ["rus", "eng"]
        dateFrom:
          type: string
          format: date
          example: '2019-02-01'
        dateTo:
          type: string
          format: date
          example: null
        verified:
          type: integer
          example: 0
          description: 0 - без верификации, 1- верифицировано, 2 - отклонено
    Identifier:
      title: Identifier
      required:
        - id
        - orgid
        - identifier
        - identifier_type
        - atributes
        - dateFrom
        - dateTo
        - verified
      type: object
      description: 'Идентификаторы организации'
      properties:
        id:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        orgid:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        identifier:
          type: string
          example: 1234 56789
        attributes:
          type: object
          required:
            - organization
            - who_code
            - creation_date
            - location
            - address
            - additionalInformation
          properties:
            who:
              type: string
              example: 'ФНС ПО РФ'
            when:
              type: string
              example: '2000-01-01'
            who_code:
              type: string
              example: '000-001'
            creation_date:
              type: string
              example: '1990-01-01'
            location:
              type: string
              example: 'г. Калининград'
            address:
              type: object
              required:
                - index
                - country
                - region
                - city
                - street
                - building
              properties:
                index:
                  type: string
                  example: '236000'
                country:
                  type: string
                  example: 'Российская Федерация'
                region:
                  type: string
                  example: 'Калининградская область'
                city:
                  type: string
                  example: 'Калининград'
                street:
                  type: string
                  example: 'Красная'
                building:
                  type: string
                  example: '50'
        dateFrom:
          type: string
          format: date
          example: '2000-01-01'
        dateTo:
          type: string
          format: date
          example: '2099-01-01'
        verified:
          type: integer
          example: 0
          description: 0 - без верификации, 1- верифицировано, 2 - отклонено  
        identifierType:
          type: string
          example: OUI
          enum: 
            - OUI
            - email
            - phone
            - INNRU
            - IPChainMedia
            - IPChainProm
            - IPChainOrg
            - IPChainProto
            - bankRU
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileIdentifier'
    IdentifierWithoutFiles:
      title: IdentifierWithoutFiles
      required:
        - id
        - orgid
        - identifier
        - identifierType
        - atributes
        - dateFrom
        - dateTo
        - verified
      type: object
      description: 'Идентификаторы организации'
      properties:
        id:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        orgid:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        identifier:
          type: string
          example: 2700 123456
        attributes:
          type: object
          required:
            - organization
            - who_code
            - creation_date
            - location
            - address
            - additionalInformation
          properties:
            who:
              type: string
              example: 'ФНС ПО РФ'
            when:
              type: string
              example: '2000-01-01'
            who_code:
              type: string
              example: '000-001'
            creation_date:
              type: string
              example: '1990-01-01'
            location:
              type: string
              example: 'г. Калининград'
            address:
              type: object
              required:
                - index
                - country
                - region
                - city
                - street
                - building
              properties:
                index:
                  type: string
                  example: '236000'
                country:
                  type: string
                  example: 'Российская Федерация'
                region:
                  type: string
                  example: 'Калининградская область'
                city:
                  type: string
                  example: 'Калининград'
                street:
                  type: string
                  example: 'Красная'
                building:
                  type: string
                  example: '50'
        dateFrom:
          type: string
          format: date
          example: '2000-01-01'
        dateTo:
          type: string
          format: date
          example: '2099-01-01'
        verified:
          type: integer
          example: 0
          description: 0 - без верификации, 1- верифицировано, 2 - отклонено  
        identifierType:
          type: string
          example: OUI
          enum: 
            - OUI
            - email
            - phone
            - INNRU
            - IPChainMedia
            - IPChainProm
            - IPChainOrg
            - IPChainProto
            - bankRU
    FileIdentifier:
      title: FileIdentifier
      required:
        - id
        - identifierId
        - fileName
        - dateFrom
        - dateTo
        - identifierType
        - verified
        - data
      type: object
      description: 'Файлы, используемые для идентификатора'
      properties:
        id:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        identifierId:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        fileName:
          type: string
          example: filename.jpg
        dateFrom:
          type: string
          format: date
          example: '2000-01-01'
        dateTo:
          type: string
          format: date
          example: null
        verified:
          type: integer
          example: 0
          description: 0 - без верификации, 1- верифицировано, 2 - отклонено
        data:
          type: string
          example: base64 строк
    Communication:
      title: Communication
      required:
        - id
        - orgid
        - communication
        - communicationType
        - attributes
        - dateFrom
        - dateTo
        - priority
      type: object
      description: 'Способы связи, используемые организацией'
      properties:
        id:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        orgid:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        communication:
          type: string
          example: '236000, РФ, Калининградская обл., Калининград, ул. Красная, д. 50'
        communicationType:
          type: string
          example: legalAddress
        attributes:
          type: object
          required:
            - country
            - region
            - city
            - street
            - bulding
            - index
          properties:
            country:
              type: string
              example: "Российская Федерация"
              description: Страна
            region:
              type: string
              example: "Калининградская область"
              description: Субъект
            city:
              type: string
              example: "Калининград"
              description: Город
            street:
              type: string
              example: "Красная"
              description: Улица
            building:
              type: string
              example: "50"
              description: Здание/Сооружение
            index:
              type: string
              example: "236050"
              description: Индекс
        date_from:
          type: string
          format: date
          example: '2000-01-01'
        date_to:
          type: string
          format: date
          example: null
        priority:
          type: integer
          example: 1
          description: 1 - высокий, 2 - средний, 3 - низкий
    Payment:
      title: Payment
      required: 
        - id
        - orgid
        - payment
        - paymentType
        - attributes
        - dateFrom
        - dateTo
        - priority
      type: object
      properties:
        id:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        orgid:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        payment:
          type: string
          example: "Банковские реквизиты организации"
        paymentType: 
          type: string
          example: bankDetails
        attributes: 
          type: object
          reqired:
            - name
            - legalForm
            - OGRNRU
            - INNRU
            - KPPRU
            - BIKBankRU
            - legalAddress
          properties:
            name:
              type: string
              example: "Компания"
              description: Название организации
            legalForm:
              type: string
              example: "ООО"
              description: Правовая форма организации
            OGRNRU:
              type: string
              example: 1234567890123
            INNRU:
              type: string
              example: 0987654321
            KPPRU:
              type: string
              example: 1213446768
            BIKRU:
              type: string
              example: 5656789000
            legalAdress:
              type: string
              example: '236000, РФ, Калининградская обл., Калининград, ул. Красная, д.50'
        dateFrom:  
          type: string
          format: date
          example: '2000-01-01'
        dateTo:
          type: string
          format: date
          example: null
    Attribute:
      title: Attribute
      required:
        - id
        - orgid
        - attributeName
        - attribute
        - dateFrom
        - dateTo
      type: object
      properties:
        id:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        orgid:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        attributeName:
          type: string
          example: staff
        attribute:
          type: object
          required: 
            - id
            - orgid
            - average number
          properties:
            id:
              type: string
              example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
            orgid:
              type: string
              example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
            strength:
              type: string
              example: averageNumber.xml
              description: 'Cреднесписочная численность сотрудников'
        dateFrom:  
          type: string
          format: date
          example: '2000-01-01'
        date_to:
          type: string
          format: date
          example: null
    PersonRole:
      title: PersonRole
      required:
        - id
        - personid
        - orgid
        - roleName
        - role
        - dateFrom
        - dateTo
      type: object
      properties:
        id: 
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        personid:
          type: string
          example: 090fdfk-67fj-ghj6-k787-jh87687jgj7886
        orgid:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        roleName:
          type: string
          example: CEO
        role:
          type: object
          required: 
            - name
            - description
            - outdated
          properties:
            name:
              type: string
              example: CEO
            enum:
              - Administrator
              - CEO
              - Other
    FileRole:
      title: fileRole
      reqiured: 
        - id
        - roleId
        - fileName
        - dateFrom
        - dateTo
        - verified
      type: object
      properties:
        id:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        roleId:
          type: string
          example: 1a234b5c-d6ef-789g-h012-i3jk4567l789
        fileName:
          type: string
          example: fileName.jpg
        dateFrom:
          type: string
          format: date
          example: '2000-01-01'
        dateTo:
          type: string
          format: date
          example: '2099-01-01'
        verified:
          type: integer
          example: 0
          description: 0 - без верификации, 1- верифицировано, 2 - отклоне
    Token:
      title: Token
      type: object
      description: 'Токен'
      properties:
        access_token:
          type: string
          description: 'Токен доступа'
        refresh_token:
          type: string
          description: 'Токен рефреша'
        token_type:
          type: string
          description: 'Тип токена'
        expires_in:
          type: string
          description: 'Время действия'
        scope:
          type: string
          description: 'Запрашиваемые разрешения'
    ClientOrganizationFilterPage:
      title: ClientOrganizationFilterPage
      type: object
      description: 'Страница организаций сервера'
      properties:
        limit:
          type: integer
          example: 10
          description: 'Предел указанного числа записей'
        offset:
          type: integer
          example: 0
          description: 'Пропуск указанного числа записей'
        total:
          type: integer
          example: 1
          description: 'Всего записей'
        items:
          type: array
          items:
            $ref: '#/components/schemas/Organization'
          description: 'Перечень сообщений об ошибках'
    ClientOrganizationFilter:
      title: ClientOrganizationFilter
      type: object
      description: 'Фильтр выдачи организаций сервера'
      properties:
        limit:
          type: integer
          example: 20
          description: 'Предел указанного числа записей'
        offset:
          type: integer
          example: 0
          description: 'Пропуск указанного числа записей'
        names:
          type: array
          items:
            type: object
            properties:
              name:
                name:
                  type: string
                  example: 'ООО Компания'
        nameTypes:
          type: string
          example:
            - name
            - alias
            - synonym
        identifiers:
          type: string
          example:
            - 1234
        identifierTypes:
          type: string
          example:
            - OUI
            - INNRU
        communications:
          type: string
          example:
            - Красная
        communicationTypes:
          type: string
          example:
            - address
        organizationIds:
          type: string
          example:
            - 1a234b5c-d6ef-789g-h012-i3jk4567l789      
  securitySchemes:
    bearerClientAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Авторизация с помощью токена клиента
    bearerAdminAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Авторизация с помощью токена администратора