openapi: 3.0.0
info:
  description: Eldorado API documentation
  version: 1.0.0-oas3
  title: Eldorado API
tags:
  - name: goods
    description: operations for goods and related
  - name: catalog
    description: requests for catalog
  - name: product_page
    description: requests for product page
  - name: users
    description: requests for users and related
  - name: orders
    description: 'запити для замовленням (Checkout, ThankYouPage)'
  - name: promotions
    description: запити для роботи з акціями
  - name: crm_logs
    description: логування проглянутих товарів користувачем
servers:
  - url: 'https://api.eldorado.ua/v1'
    description: Production
  - url: 'http://api.eldodev.org.ua/v1'
    description: Test
paths:
  /goods_descriptions:
    get:
      tags:
        - goods
        - product_page
      summary: Получить описание товара
      operationId: goods_descriptions
      description: |
        Получить описание полные описания для указаного товара
      parameters:
        - $ref: '#/components/parameters/conditions'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: набор записей с полными описаниями указаных товаров
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id записи
                    ext_id:
                      type: string
                      example: '71266428'
                      description: внешний id товара
                    goods_id:
                      type: string
                      example: '1389523'
                      description: внешний id товара
                    desc_full:
                      type: string
                      example: >-
                        <style> .block { display: block; } </style><div>Пример
                        описания</div>
                    desc_full_ua:
                      type: string
                      example: >-
                        <style> .block { display: block; } </style><div>Приклад
                        опису</div>
                    created_at:
                      type: string
                      format: date-time
                      example: '2019-03-20 14:12:08'
                    updated_at:
                      type: string
                      format: date-time
                      example: '2019-03-25 14:46:53'
        '404':
          $ref: '#/components/responses/404NotFound'
  /goods_categories:
    get:
      tags:
        - goods
        - product_page
      summary: Получить список категорий
      operationId: goods_categories
      description: |
        Получить список категорий
      parameters:
        - $ref: '#/components/parameters/conditions'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: список категорий полученый в соответсвии с указаными условиями
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GoodsCategoryItem'
        '404':
          $ref: '#/components/responses/404NotFound'
  /goods_attributes_values_output:
    get:
      tags:
        - goods
        - product_page
      summary: Получить атрибуты по одному товару в виде удобном для вывода
      operationId: get_goods_attributes_values_output
      description: |
        Получить характеристики в виде подходящем для вывода на карту товара
      parameters:
        - $ref: '#/components/parameters/conditions'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Аттрибуты для одного товара
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GoodsAttributesGroupsOutput'
        '404':
          $ref: '#/components/responses/404NotFound'
  /goods_attributes_list:
    get:
      tags:
        - goods
        - catalog
      summary: Получить список фильтров
      operationId: goods_attributes_list
      description: |
        Получение форматированого списка фильтров
      parameters:
        - name: categoryId
          in: query
          description: id категории
          required: true
          schema:
            type: string
            example: categoryId = 123123
        - name: attributes
          in: query
          description: >
            Cписок фильтров в указаном ниже формате


            Для фильтрации по значению определенного атрибута нужно указать
            значение атрибута

            с помощью оператора

                =

            В примере ниже (в блоке responses) для для фильтрации по "Система
            бритья" со значением "роторная"


            нужно передать в параметр **attributes** значение *id* данного
            аттрибута *Система бритья*


            в который через опреатор передать значение **value_default_id** из
            одного из елементов

            поля **defaultValues**


            то есть в результате выйдет конструкция

                attributes=1938=1960

            значение *id* аттрибута может быть как числом так строкой (например
            **producer**)


            значение value_default_id может быть как числом так строкой
            (например **samsung** или **199-250**)


            Что бы указать несколько значений атрибутов их нужно указать через

                ,

            например

                attributes=1938=1960,1961



            Для фильтрации по нескольким атрибутам их нужно перечислить через

                /

            Например

                attributes=1938=1960/producer=samsung/1212=1111

            так же одновременно можно указывать и несколько значений

                attributes=1938=1960,1961/producer=samsung,xiaomi

            в результате выйдет запрос вида

                /goods_attributes_list?categoryId=1042092&attributes=1938=1960,1961/producer=bosch,xiaomi/11617=170-545

            и будет возвращен уже новый список атрибутов (они же фильтры)


            ### Относительно полей в модели атрибута (GoodsAttributesListItem)


            В модели атрибута точно будут возвращены только поля с пометкой * -
            *required* в схеме ответа


            Все остальные возвращаются опционально и нужны в основном только для
            сайта
          required: false
          schema:
            type: string
            example: 'attributes=producer=samsung,xiaomi/2256=2414,2418/5045=37683'
      responses:
        '200':
          description: полученый полный список фильтров
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GoodsAttributesListItem'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '404':
          $ref: '#/components/responses/404NotFound'
  /goods_list:
    get:
      tags:
        - goods
        - catalog
      summary: Получить список отфильтрованых id товаров
      operationId: goods_list
      description: |
        Получить список отфильтрованых id товаров
      parameters:
        - name: categoryId
          in: query
          description: id категории
          required: true
          schema:
            type: string
            example: categoryId = 123123
        - name: order
          in: query
          description: >
            Параметр может принимать несколько значений.


            Ниже объяснения по каждому значению


            **popularity** - стандартная сортировка (визуализируется как
            популярность)


            **priceUp** - от дешевых к дорогим


            **priceDown** - от дорогих к дешевым


            **titleUp** - в алфавитном порядке


            **titleDown** - в порядке противополжном алфавитному


            **CommentsUp** - от меньшего к большему количеству комментариев


            **CommentsDown** - от большего к меньшему количеству комментариев


            **RatingUp** - рейтинг по возврастанию


            **RatingDown** - рейтинг по убыванию
          required: false
          schema:
            type: string
            enum:
              - popularity
              - priceUp
              - priceDown
              - titleUp
              - titleDown
              - commentsUp
              - commentsDown
              - ratingUp
              - ratingDown
            example: >-
              attributes=producer=samsung,xiaomi/2256=2414,2418/5045=37683&order=popularity
        - name: attributes
          in: query
          description: >
            формирование строки фильтрации аналогично таковому в запросе

                goods_attributes_list

            то есть если нужно получить список id товаров для набора фильтров по
            запросу

                /v1/goods_attributes_list?categoryId=1042092&attributes=11617=170-545/producer=bosch


            нужно подставить такую же строку и в этот запрос

                /v1/goods_list?categoryId=1042092&attributes=11617=170-545/producer=bosch
          required: false
          schema:
            type: string
            example: 'attributes=producer=samsung,xiaomi/2256=2414,2418/5045=37683'
      responses:
        '200':
          description: полученый полный список id товаров
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GoodsListItem'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '404':
          $ref: '#/components/responses/404NotFound'
  '/goods{get_catalog_goods}':
    get:
      tags:
        - goods
        - catalog
      summary: Получить товары для каталога
      operationId: get_catalog_goods
      deprecated: true
      description: >
        Получить товары с дополнительными полями-объектами (возможно получить по
        3 основным идентификаторам модели goods (id, ext_id, offer_id))
      parameters:
        - name: get_catalog_goods
          in: path
          description: Параметр определяющий формат ответа
          required: true
          allowEmptyValue: true
          schema:
            nullable: true
        - name: ids
          in: query
          description: id необходимых товаров
          schema:
            type: string
        - name: offerIds
          in: query
          description: offer_id необходимых товаров
          schema:
            type: string
        - name: extIds
          in: query
          description: ext_id необходимых товаров
          schema:
            type: string
      responses:
        '200':
          description: >-
            полученый набор товаров (возвращаются как сами товары так и их
            вариации цветов)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CatalogGood'
        '404':
          $ref: '#/components/responses/404NotFound'
  '/goods{get_ids_by_cat_and_promo}':
    get:
      tags:
        - promotions
      summary: Получить товары сгрупированные по категориях переданной акции
      operationId: get_ids_by_cat_and_promo
      parameters:
        - name: get_ids_by_cat_and_promo
          in: path
          description: Параметр определяющий формат ответа
          required: true
          allowEmptyValue: true
          schema:
            nullable: true
        - name: promotion_id
          in: query
          description: id акции
          required: true
          schema:
            type: string
      responses:
        '200':
          description: полученый набор товаров (возвращаются как сами товары так и их вариации цветов)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PromoCategoriesGoods'
        '404':
          $ref: '#/components/responses/404NotFound'
  /goods_catalog:
    get:
      tags:
        - goods
        - catalog
      summary: Получить товары для каталога
      operationId: goods_catalog
      description: >
        Получить товары с дополнительными полями-объектами (возможно получить по
        3 основным идентификаторам модели goods (id, ext_id, offer_id))
      parameters:
        - name: get_catalog_goods
          in: path
          description: Параметр определяющий формат ответа
          required: true
          allowEmptyValue: true
          schema:
            nullable: true
        - name: ids
          in: query
          description: id необходимых товаров
          schema:
            type: string
        - name: offerIds
          in: query
          description: offer_id необходимых товаров
          schema:
            type: string
        - name: extIds
          in: query
          description: ext_id необходимых товаров
          schema:
            type: string
      responses:
        '200':
          description: >-
            полученый набор товаров (возвращаются как сами товары так и их
            вариации цветов)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CatalogGood'
        '404':
          $ref: '#/components/responses/404NotFound'
  /goods_remains:
    get:
      tags:
        - goods
        - product_page
      summary: Получить остатки по товарам
      operationId: goods_remains
      description: |
        Получить остатки по товарам
      parameters:
        - $ref: '#/components/parameters/conditions'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: список категорий полученый в соответсвии с указаными условиями
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RemainItem'
        '404':
          $ref: '#/components/responses/404NotFound'
    put:
      tags:
        - shop_name
        - remains
      summary: Обновить остатки по товарам
      operationId: update goods remains
      requestBody:
        description: Информация для обновления
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shop_name:
                  type: string
                  example: 'C001'
                remains:
                  type: array
                  items:
                    type: object
                    properties:
                      ext_id:
                        type: string
                        example: '12345'
                      quantity:
                        type: integer
                        example: 5
      responses:
        '200':
          description: список обновленных товаров со статусом обновления
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  data:
                    type: object
                    properties:
                      statuses:
                        type: object
                        properties:
                          ext_id:
                            type: string
                            example: 12345
                          status:
                            type: boolean
                            example: true
        '404':
          $ref: '#/components/responses/404NotFound'
  /comments:
    get:
      tags:
        - goods
        - product_page
      summary: Получить комментарии
      operationId: comments
      description: |
        Получить комментарии
      parameters:
        - name: returnCommentsList
          in: query
          description: обязательный параметр для указания формата ответа
          required: true
          allowEmptyValue: true
          schema:
            type: string
            example: returnCommentsList
        - name: goods_id
          in: query
          description: id товара к которому нужно получить комментарии
          required: true
          schema:
            type: string
            example: goods_id=123123
        - name: type
          in: query
          description: Тип запрашиваемого  комментария обзор ('r') или вопрос ('q')
          required: true
          schema:
            type: string
            enum:
              - r
              - q
            example: type='q'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: список акционных тегов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommentsItem'
        '404':
          $ref: '#/components/responses/404NotFound'
    post:
      tags:
        - goods
        - product_page
      summary: Добавить новый комментарий
      operationId: add_comments
      description: |
        Добавить новый комментарий
      requestBody:
        description: Тело нового комментария
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentItemBase'
      responses:
        '200':
          description: Удачный ответ
        '400':
          $ref: '#/components/responses/400BadRequest'
  /goods_videos:
    get:
      tags:
        - goods
        - product_page
      summary: Відеоогляди товару
      operationId: goods_videos_get
      description: |
        Получить комментарии
      parameters:
        - name: conditions
          in: query
          description: id товара к которому нужно получить видео
          required: true
          schema:
            type: string
            example: conditions=goods_id=123123
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: відеоогляд до товару
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GoodsVideosItem'
        '404':
          $ref: '#/components/responses/404NotFound'
  /sign:
    get:
      tags:
        - users
      summary: Методи для авторизації користувача на сайті
      operationId: sign
      description: >
        **Авторизація користувача**


        Повертає два об'єкти access і roles.

        В access головне - поле token. В запитах з обов'язковою авторизацією
        додавати до url в вигляді
        token=$2y$08$Vkt4azN4bVJpVDJlR0YwMe/bsEMqildS1WElu3kit0CJr2kWMzeS.

        session_token - необов'язковий параметр. Якщо його додати то запит також
        поверне повний об'єкт сесії з юзером всередині

        Токен повинен бути переданий в інший запит як url параметр запиту


        Приклад запиту

        `/sign?login=380982523456&password=111111`


        Приклад відповіді

         `{ "meta": { "code": 200, "message": "0K", "request_time": 1552407488, "access": { "limit": 217290, "total": 1, "offset": 0 }, "resource": "http://api.eldodev.org.ua/v1/sign?login=380982523456&password=111111" }, "data": { "access": { "user_id": 11111, "token": "$2y$08$ckY2YWpRQXFSWkx2N2Z2O.36BBdgae3t2bbW7SW.yHmlt5GBR3CZe", "expire_date": "2019-03-19 18:18:07" }, "roles": { "id": "1", "name": "Admin", "active": "1" } } }`

        Поля

        - "access":

        - "user_id": 11111, - id юзера

        - "token":
        "$2y$08$ckY2YWpRQXFSWkx2N2Z2O.36BBdgae3t2bbW7SW.yHmlt5GBR3CZe", -
        отриманий токен

        - "expire_date": "2019-03-19 18:18:07" - дата закінчення дії токена

        "roles": - інформація про роль юзера

        - "id": "1", - id ролі

        - "name": "Admin" назва ролі (можливі значення 1 - Admin, 2 - User)

        - "active": "1" - активність юзера ( 0 - не активний, 1 - активний)


        **Оновлення токена**

        /sign?refresh_token=refresh_qwerty

        Приклад праворуч


        **Користувацька авторизація з кроками**


        Інший формат запиту використовуєтсья для авторизації на сайті і
        поділений на кроки

        Існує декілька випадків при використанні покрокової авторизації


        ***Випадок 1: Юзер наявний в системі***


        *Крок 1: Перевірка наявності користувача за телефоном*


        Тип запиту :GET

        Приклад запиту `/sign/?login=380982523456&step=phone-check&lang=ru`


        Приклад відповіді при наявності телефону у системі


        `{ "meta": { "code": 200, "message": "0K", "request_time": 1552406587,
        "limit": null, "total": null, "offset": null, "resource":
        "http://api.eldodev.org.ua/v1/sign/?login=380982597023&step=phone-check&lang=ru"
        }, "data": { "phone": "380982523456", "userExists": true, "nextStep":
        "password-step" } }`


        Поля


        - "phone": "380982523456", - телефон котрий перевірявся

        - "userExists": true, - наявність юзера (true - наявний, false -
        відсутній)

        - "nextStep": "password-step", - наступний рекомендовний крок
        (password-step - в даному випадку стандартний логін описаний в кроці 2)


        *Крок 2: Після перевірки (у випадку коли номер наявний у системі) номера
        використовується стандартна авторизація з першого прикладу*


        Тип запиту :GET

        Приклад запиту `/sign?login=380982523456&password=111111`


        Інша інформація стосовно цього запиту описана вище


        У випадку наявності користувача це останній крок


        ***Випадок 2: Юзер відсутній в системі***


        *Крок 1: Перевірка наявності користувача за телефоном*


        Тип запиту :GET

        Приклад запиту `/sign?login=380982523456&password=111111`


        1.1 Приклад відповіді при відсутності телефону у системі


        `{"meta": { "code": 200, "message": "0K", "request_time": 1552409409,
        "limit": null, "total": null, "offset": null, "resource":
        "http://api.eldodev.org.ua/v1/sign/?login=380982592323&step=phone-check&lang=ru"
        }, "data": { "phone": "380982592323", "userExists": false, "nextStep":
        "verification-step" } }`


        Поля


        - "phone": "380982523456", - телефон котрий перевірявся

        - "userExists": false, - наявність юзера (true - наявний, false -
        відсутній)

        - "nextStep": "verification-step", - наступний рекомендовний крок


        За відсутності юзера на наданий номер буде відправлено смс з кодом
        верифікаці для наступного кроку реєстрації


        *Крок 2: Початок реєстрації, підтверждення коду верифікації*


        Тип запиту :GET

        Приклад запиту:
        `/sign/?login=380982597024&verification_code=1111&step=verification-step&lang=ru`


        При неправильно введеному коді авторизації буде повернена така відповідь


        `{"meta":{"code":200,"message":"0K","request_time":1552411778,"limit":null,"total":null,"offset":null,"resource":"http:\/\/api.eldodev.org.ua\/v1\/sign\/?login=380982597023&verification_code=1111&step=verification-step&lang=ru"},"data":{"phone":"380982597023","phoneVerified":false}}`


        Поля


        - "phone": "380982523456", - телефон которий перевірявся

        - "phoneVerified": false, - верифікація телефону (true - код був
        введений вірно, false - коду було введено неправильно)

        У такому випадку потрібно запропонувати ввести код повторно


        При правильно введеному коді авторизації буде повернена така відповідь


        `"meta":{"code":200,"message":"0K","request_time":1552411748,"limit":null,"total":null,"offset":null,"resource":"http:\/\/api.eldodev.org.ua\/v1\/sign\/?login=380982597023&verification_code=6448&step=verification-step&lang=ru"},"data":{"phone":"380982597023","phoneVerified":true,"user":{"surname":{},"name":{}},"nextStep":"personal-data-input"}}`


        Поля

        - "phone": "380982523456", - телефон котрий перевірявся

        - "phoneVerified": true, - верифікація телефону (true - код був введений
        вірно, false - коду було введено неправильно)

        - "nextStep": "personal-data-input", - наступний рекомендовний крок


        *Крок 3: Реєстрація. Введення персональних даних*


        **Відновлення пароля**


        В запит передаються праметри: login - номер телефона користувача

        step - назва поточного кроку


        Приклад запиту: `/sign/?login=380982231223&step=password-recovery-step`


        Після успішної відправки запиту клієнn отримує новий згенерований пароль


        ***Випадок 3: Авторизація за допомогою facebook***


        *Крок 1: Авторизація в facebook на фронті*


        За допомогою бібліотеки facebook авторизуємося на facebook, в успішному
        випадку отримуємо від facebook та id access_token користувача


        *Крок 2: Перевірка існування користувача *


        Робимо запит на
        `/sign/?fb_id=10218583626282509&step=facebook-check&lang=ru`


        Поля:


        - fb_id - id користувача facebook


        Якщо користувач з таким id існує в базі, повертається об'єкт виду


        `{"meta":{"code":200,"message":"0K","request_time":1574083937,"access":{"offset":0},"resource":"https:\/\/api.eldorado.ua\/v1\/sign\/?login=380633223539&password=null&session_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJndWVzdCIsInN1YiI6InNlc3Npb25JZF9kZjdmZGMxYy02MGU5LTQwNDUtODg4Ni03YzhkNjVjNWNiOTMiLCJpYXQiOjE1NzQwODM4ODksImV4cCI6MTU3NTI5MzQ4OX0.PSpk_kGn__8MQCRq1FyRYG6qWqxVsKEuVK2dXgRrfKg&isFb=true&lang=ru"},"data":{"access":{"user_id":11111,"token":"$2y$08$cnFka2N6bUkwRUp5Nk4zZU\/Vri\/\/oH32hZZfhapO0ALQ3ibLdmm","expire_date":"2019-11-25
        15:32:17"},"roles":{"id":"1","name":"Admin","active":"1"},"session":{"startTime":1574083889,"endTime":1575293537,"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJndWVzdCIsInN1YiI6InNlc3Npb25JZF9kZjdmZGMxYy02MGU5LTQwNDUtODg4Ni03YzhkNjVjNWNiOTMiLCJpYXQiOjE1NzQwODM4ODksImV4cCI6MTU3NTI5MzUzN30.X1r_B-HIiqyGvp7_yXrbdtrOd6JJs1l_pgUwqMDNzrM","user":{"id":25251,"name":"\u0410\u043b\u0435\u043a\u0441\u0435\u0439","email":"eee@gmail.com","profile":{"id":"11111","user_id":"11111","member_id":null,"last_name":"\u0411\u0430\u0440\u0430\u043d\u043e\u0432","first_name":"\u0410\u043b\u0435\u043a\u0441\u0435\u0439","middle_name":"","birthday":"1987-01-14","gender":"0","marital_status":null,"car_owner":null,"form_fill_date":null,"client_social_id":null,"class_social_id":null,"activate_personal_pages":null,"profile_fill_state_id":null,"updated_at":null,"created_at":null,"when_last_authorize":null,"socialaccounts_email":null,"client_user_agent":null,"client_signed":null,"registration_date":null,"call_failure_count":null,"activate_info_kiosk":null,"businessID":null,"partner_source_id":null,"client_browser":null,"language_id":null,"language_name":null,"id_phone_numbers":"0","client_address_id":"","id_client_emails":null},"cards":[{"number":"1011019328"}],"phone":"380633223539","auth":true,"ip":"10.4.210.11","ua":"Mozilla\/5.0
        (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit\/537.36 (KHTML, like
        Gecko) Chrome\/78.0.3904.97
        Safari\/537.36"},"access":{"user_id":25251,"token":"$2y$08$cnFka2N6bUkwRUp5Nk4zZOJU\/Vri\/\/oH32hZZfhapO0ALQ3ibLdmm","expire_date":"2019-11-25
        15:32:17"}}}}`


        Після цього виконуємо запит
        `/sign/?login=380633223539&password=null&session_token=KJsg857th6ctn4tn34cn4cb437tcn43xntb4&isFb=true`


        Якщо в базі такого користувача немає, відповідь буде наступного виду:


        `{"meta":{"code":200,"message":"0K","request_time":1574088771,"limit":null,"total":null,"offset":null,"resource":"https:\/\/api.eldorado.ua\/v1\/sign\/?fb_id=10218583626282509&step=facebook-check&lang=ru"},"data":{"userExists":false,"fbUserExists":false,"fbUserId":"10218583626282509","nextStep":"facebook-phone-step"}}`


        І далі необхідно йти шляхом звичайної покрокової авторизації -
        запропонувати ввести номер телефону - відправити на цей номер код
        верифікації. При відправленні коду верифікації на перевірку, необхідно
        додати до запиту facebook
        acces380633223539{phone}&verification_code=1111&step=verification-step&fb_access_token=cj9t7cjt7y245ct7NX7T47T7Tnc7t4c`


        Після валідации коду авторизуємо користувача на сайті
      responses:
        '200':
          description: успішна авторизація
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  data:
                    type: object
                    properties:
                      access:
                        type: object
                        properties:
                          user_id:
                            type: string
                            example: 777
                          token:
                            type: string
                            example: 'qwerty'
                          expire_date:
                            type: string
                            example: '2020-02-01 15:16:42'
                      refresh:
                        type: object
                        properties:
                          user_id:
                            type: string
                            example: 777
                          refresh_token:
                            type: string
                            example: 'refresh_qwerty'
                          expire_date:
                            type: string
                            example: '2020-02-01 15:16:42'
                      phone:
                        type: object
                      roles:
                        type: object
  /users_profile:
    get:
      tags:
        - users
      summary: Отримати профіль користувача або к-сть бонусів
      operationId: users_profile
      description: |
        Отримати профіль користувача або к-сть бонусів на основі token
      parameters:
        - $ref: '#/components/parameters/token'
        - in: query
          name: return-bonuses
          schema:
            type: string
          description: 'Якщо передати, вернеться к-сть бонусів'
        - in: query
          name: id
          schema:
            type: integer
          description: >-
            id з моделі User. Потрібно передавати завжди, коли передається
            параметр `return-bonuses`
      responses:
        '200':
          description: профіль користувача
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersProfileItem'
        '201':
          description: '200 відповідь, якщо переданий параметр `return-bonuses`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersProfileBonusesItem'
        '404':
          $ref: '#/components/responses/404NotFound'
    put:
      tags:
        - users
      summary: Редагування контактної інформації (профілю)
      operationId: users_profile_put
      parameters:
        - $ref: '#/components/parameters/token'
        - in: query
          name: id
          schema:
            type: integer
          description: id користувача з моделі User
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/UsersProfileItem'
      responses:
        '200':
          description: оновлений профіль
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/UsersProfileItem'
  /user_feedback:
    get:
      tags:
        - users
      summary: Отримати звернення клиента
      operationId: user_feedback_get
      parameters:
        - $ref: '#/components/parameters/token'
      description: |
        Отримати звернення клиента
      responses:
        '200':
          description: звернення клієнта
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UsersFeedbackItem'
        '404':
          $ref: '#/components/responses/404NotFound'
    post:
      tags:
        - users
      summary: Надсилання звернення клієнта
      operationId: users_feedback_post
      parameters:
        - $ref: '#/components/parameters/token'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersFeedbackItem'
      responses:
        '200':
          description: оновлений профіль
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/UsersFeedbackItem'
  /user_feedback_categories:
    get:
      tags:
        - users
      summary: Отримати категорії звернень користувачів
      operationId: user_feedback_categories
      description: >
        Отримати категорії звернень користувачів для використання в
        `/user_feedback`
      responses:
        '200':
          description: категорії звернень користувачів
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UsersFeedbackCategoriesItem'
  /users_price_watch:
    get:
      tags:
        - users
      summary: Получить список "Следить за ценой" для авторизованого юзера
      operationId: users_price_watch
      parameters:
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: список "Следить за ценой"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UsersPriceWatchItem'
        '404':
          $ref: '#/components/responses/404NotFound'
    post:
      tags:
        - users
      summary: Добавить товар в список "Следить за ценой" для авторизованого юзера
      operationId: cerate users_price_watch
      description: |
        Добавить товар в список "Следить за ценой" для авторизованого юзера
      parameters:
        - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: список "Следить за ценой"
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/UsersPriceWatchItem'
        '404':
          $ref: '#/components/responses/404NotFound'
    delete:
      tags:
        - users
      summary: Видалити товар з списоку "Следить за ценой" для авторизованого юзера
      operationId: users_price_watch_delete
      description: |
        Видалити товар з списоку "Следить за ценой" для авторизованого юзера
      parameters:
        - $ref: '#/components/parameters/token'
        - name: id
          in: query
          description: id модели для удаления
          required: true
          schema:
            type: string
            example: id=119
      responses:
        '200':
          description: список "Следить за ценой"
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    type: array
                    items:
                      type: string
                      example: ''
        '404':
          $ref: '#/components/responses/404NotFound'
  /search:
    get:
      tags:
        - goods
      summary: Поиск по товарам
      operationId: search
      description: |
        Получить наиболее подходящие под запрос товары
      parameters:
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/cat'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/columns'
        - name: showSimilarQueries
          in: query
          description: вертати схожі запити до надісланого
          schema:
            type: boolean
      responses:
        '200':
          description: >-
            набор товаров, с которых нужно взять только id, и потом загрузить
            через стандартный метод каталога
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/SearchItem'
        '404':
          $ref: '#/components/responses/404NotFound'
  /best_offers:
    get:
      tags:
        - goods
      summary: Кращі пропозиції
      operationId: best_offers_get
      description: |
        Отримати набір кращих пропозицій товарів
      parameters:
        - name: full_data
          required: true
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: |
            згрупований по категорії набір товарів
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BestOffersItem'
        '404':
          $ref: '#/components/responses/404NotFound'
  /reviews_goods:
    summary: Просмотренные пользователем товары
    get:
      tags:
        - goods
      summary: получить просмотренные пользователем товары
      operationId: reviews_goods_get
      description: |
        получить просмотренные авторизованным пользователем товары
      parameters:
        - in: query
          required: true
          name: user_hash
          description: |
            Захешированная алгоритмом md5 строка, которая состоит из слова "user" и ID авторизованного пользователя (получаем при авторизации методом /sign). Например "user1111".
          schema:
            type: integer
            example: 11111
      responses:
        200:
          description: |
            данные о просмотренных ранее пользователем товарах
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CatalogGood'
    post:
      tags:
        - goods
      summary: получить просмотренные пользователем товары
      operationId: reviews_goods_post
      description: |
        Сохранение в базе информации о просмотренном авторизированным пользователем товаре
      parameters:
        - in: query
          required: true
          name: user_hash
          description: |
            Захешированная алгоритмом md5 строка, которая состоит из слова "user" и ID авторизованного пользователя (получаем при авторизации методом /sign). Например "user1111".
          schema:
            type: integer
            example: 11111
        - in: query
          required: true
          name: goods_id
          description: |
            ID товара товара из модели Goods
          schema:
            type: integer
            example: 111111
      responses:
        200:
          description: |
            данные о успешно добавленной записи
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    type: array
                    items:
                      properties:
                        user_hash:
                          type: string
                          example: cm40958tu2c8m5y97cmehaoc7
                        goods_id:
                          type: integer
                          example: 123456
                        insert_id:
                          type: integer
                          example: 1231456
  /orders:
    summary: Заказы
    get:
      tags:
        - orders
      summary: получить список заказов
      operationId: orders_get
      description: |
        отримати список замовлень користувача по токену
      parameters:
        - $ref: '#/components/parameters/conditions'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/columns'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/relations'
      responses:
        '200':
          description: список замовлень
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/OrdersItem'
        '404':
          $ref: '#/components/responses/404NotFound'
    post:
      tags:
        - orders
      operationId: orders
      description: >
        Створення замовлення \

        \

        На даний момент істнують такі обмеження можливих варіантів
        доставки-оплати

        * Якщо серед `goods` є хоча б один, з параметром `ext_category_id` IN
        (15,16,17) - самовивіз доступний (fromShop), але зі способів оплати
        завжди доступні *тільки* `26`, `applePay`, `googlePay`, `monobank`,
        `abank`, `alfabank` \
          та при деяких умовах доступний `cash`, див. /v1/goods_prepay (примітка це пункт буде описаний 12.2019, поки що в моб апп це робити не потрібно)
        * Якщо серед `goods` є хоча б один, з параметром `sell_status` < 4 -
        адресна доставка та НП недоступні (addresses, fromNewPost)

        * Способи оплати `masterCard`, `partPayOnShop`, `credit` - доступні
        тільки для самовивозу (fromShop)

        * Способи оплати `3`, `24` - доступні тільки для адресної і НП
      requestBody:
        description: обьект заказа для создания
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersItem'
      responses:
        '200':
          description: созданная модель заказа
  /mono_postback:
    summary: Робота з замовленням з способом оплати "monobank"
    get:
      tags:
        - orders
      operationId: mono_postback
      description: >
        Цей метод потрібно викликати спочатку перед створенням замовлення для
        валідації клієнта, чи зареєстрований він в monobank - див. параметр
        `phone` \

        Потім, після створення замовленя, потрібно викликати цей метод з
        параметром `order_id`. І робити це з інтервалом (5-10 сек). \

        Як тільки у відповідь прийде `state='IN_PROCESS'` та
        `order_sub_state='WAITING_FOR_STORE_CONFIRM'` - це означає, що клієнт
        замовлення оплатив і його потрібно перенаправити на ThankYouPage. \

        Поки `state` та `order_sub_state` дорівнюють будь-якому іншому значенню
        - клієнту потрібно відображати екран з проханням підтвердити оплату
        частинами в мобільному застосунку Monobank \

        Якщо у відповідь прийде `state=FAIL` потрібно показати екран, що
        замовлення не успішне \

        Детальніше про статуси див.
        https://u2.ftband.com/docs/index.html#operation/getOrderStateUsingPOST
      parameters:
        - in: query
          name: phone
          description: |
            Телефон клиента в формате 3800000000. \
            Якщо переданий цей параметр у відповідь може прийти
            * `200` - клієнт в монобанку є
            * `404` - клієнта в монобанку немає, оформити замовлення неможливо
          schema:
            type: integer
            example: 3800000000
        - in: query
          name: order_id
          description: |
            id створеного замовлення, див. `/orders` \
            Якщо переданий цей параметр див. стандартну 200 відповідь
          schema:
            type: integer
            example: 3800000000
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/MonoPostbackItem'
        '404':
          $ref: '#/components/responses/404NotFound'
  /abank_postback:
    summary: Робота з замовленням з способом оплати "A-Bank"
    get:
      tags:
        - orders
      operationId: abank_postback
      description: >
        Цей метод потрібно викликати спочатку перед створенням замовлення для
        валідації клієнта, чи зареєстрований він в monobank - див. параметр
        `phone` \

        Потім, після створення замовленя, потрібно викликати цей метод з
        параметром `order_id`. І робити це з інтервалом (5-10 сек). \

        Як тільки у відповідь прийде `state='IN_PROCESS'` та
        `order_sub_state='WAITING_FOR_STORE_CONFIRM'` - це означає, що клієнт
        замовлення оплатив і його потрібно перенаправити на ThankYouPage. \

        Поки `state` та `order_sub_state` дорівнюють будь-якому іншому значенню
        - клієнту потрібно відображати екран зі статусами обробки замовлення,
        які приходять в респонсі запиту abank_postback\

        Якщо у відповідь прийде `state=FAIL` потрібно показати екран, що
        замовлення не успішне \
      parameters:
        - in: query
          name: phone
          description: |
            Телефон клиента в формате 3800000000. \
            Якщо переданий цей параметр у відповідь може прийти
            * `200` - клієнт в монобанку є
            * `404` - клієнта в монобанку немає, оформити замовлення неможливо
          schema:
            type: integer
            example: 3800000000
        - in: query
          name: order_id
          description: |
            id створеного замовлення, див. `/orders` \
            Якщо переданий цей параметр див. стандартну 200 відповідь
          schema:
            type: integer
            example: 3800000000
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/AbankPostbackItem'
        '404':
          $ref: '#/components/responses/404NotFound'
  /payment_types:
    summary: Способи оплати замовлення
    get:
      tags:
        - orders
      operationId: payment_types
      description: |
        Див. `/orders` параметр `creditPaymentType`
      parameters:
        - $ref: '#/components/parameters/conditions'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: набір способів оплати
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/PaymentTypesItem'
        '404':
          $ref: '#/components/responses/404NotFound'
  /users_waitlist:
    get:
      tags:
        - users
      summary: Отримати список "Список очікування"
      operationId: users_waitlist
      description: |
        Отримати список "Список очікування" для авторизованого користувача
      parameters:
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/conditions'
      responses:
        '200':
          description: список "Список очікування"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UsersWaitlistItem'
        '404':
          $ref: '#/components/responses/404NotFound'
    post:
      tags:
        - users
      summary: Додати товар в "Список очікування"
      operationId: users_waitlist_post
      description: |
        Додати товар в "Список очікування"
      parameters:
        - $ref: '#/components/parameters/token'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersWaitlistItem'
      responses:
        '200':
          description: список "Список очікування"
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/UsersWaitlistItem'
        '404':
          $ref: '#/components/responses/404NotFound'
    delete:
      tags:
        - users
      summary: Видалити товар з "Список очікування"
      operationId: users_waitlit_delete
      description: |
        Видалити товар з "Список очікування"
      parameters:
        - $ref: '#/components/parameters/token'
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: список "Список очікування"
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/UsersWaitlistItem'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '409':
          $ref: '#/components/responses/409Conflict'
  /users_wishlist:
    get:
      tags:
        - users
      summary: Получить список "Список желаний"
      operationId: users_wishlist
      description: |
        Получить список "Список желаний"
      parameters:
        - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: список "Список желаний"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UsersWishlist'
        '404':
          $ref: '#/components/responses/404NotFound'
    post:
      tags:
        - users
      summary: Добавить товар в "Список желаний"
      operationId: add_users_wishlist
      description: |
        Добавить товар в "Список желаний"
      parameters:
        - $ref: '#/components/parameters/token'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersWishlist'
            example:
              user_id: 25251
              goods_id: 123456
      responses:
        '200':
          description: список "Список желаний"
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/UsersWishlist'
        '404':
          $ref: '#/components/responses/404NotFound'
    delete:
      tags:
        - users
      summary: Удалить товар из "Список желаний"
      operationId: delete_users_wishlist
      description: |
        Удалить товар из "Список желаний"
      parameters:
        - $ref: '#/components/parameters/token'
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: список "Список желаний"
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/UsersWishlist'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '409':
          $ref: '#/components/responses/409Conflict'
  /users_emails:
    get:
      tags:
        - users
      summary: Отримати статус підписки на розсилку по email
      operationId: users_emails_get
      description: |
        Отримати статус підписки на розсилку по email \
        Якщо `esputnik_id` не null - email підписаний
      parameters:
        - in: query
          name: email
          required: true
          schema:
            type: string
            minimum: 5
      responses:
        '200':
          description: email
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UsersEmailsItem'
    post:
      tags:
        - users
      summary: Підписка на email розсилку
      operationId: users_emails_post
      description: |
        Підписка на email розсилку, без створення користувача
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersEmailsItem'
            example:
              email: test@gmail.com
              esputnik_forward: 1
      responses:
        '200':
          description: підписаний email
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/UsersEmailsItem'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '409':
          $ref: '#/components/responses/409Conflict'
    delete:
      tags:
        - users
      summary: Відписка від розсилки
      operationId: users_emails_delete
      description: |
        Відписка від розсилки
      parameters:
        - name: id
          in: path
          description: унікальна id запису для видалення
          required: true
          schema:
            type: integer
            example: 29
      responses:
        '200':
          description: email відписано успішно
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/UsersEmailsItem'
  /user_deliveries:
    get:
      tags:
        - users
      summary: >-
        Отримати список "Збережені способи доставки користувача" для
        авторизованого юзера
      operationId: user_deliveries
      description: >
        Отримати список "Збережені способи доставки користувача" для
        авторизованого юзера
      parameters:
        - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: список "Список желаний"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UsersDeliveriesItem'
    post:
      tags:
        - users
      summary: Додати один спосіб отримання для авторизованого юзера
      operationId: user_deliveries_post
      description: Додати один спосіб отримання для авторизованого юзера
      parameters:
        - $ref: '#/components/parameters/token'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/UsersDeliveriesItem'
      responses:
        '200':
          description: доданий спосіб отримання
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/UsersDeliveriesItem'
        '404':
          $ref: '#/components/responses/404NotFound'
        '409':
          $ref: '#/components/responses/409Conflict'
    delete:
      tags:
        - users
      summary: Видалити спосіб отримання
      operationId: user_deliveries_delete
      description: Видалити спосіб отримання
      parameters:
        - $ref: '#/components/parameters/token'
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: список "Список желаний"
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/UsersDeliveriesItem'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
  /users_sms:
    get:
      tags:
        - users
      summary: Получить список отправленных смс для авторизированного пользователя
      operationId: users_sms_get
      description: |
        Получить список отправленных смс для авторизированного пользователя
      parameters:
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/conditions'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: список отправленных смс
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UsersSms'
  /delivery_types:
    get:
      tags:
        - orders
      summary: Отримати список способів доставки
      operationId: delivery_types
      description: |
        Отримати список способів доставки
      parameters:
        - $ref: '#/components/parameters/conditions'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: список способів доставки
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeliveryTypesItem'
  /users_devices:
    get:
      tags:
        - users
      summary: Получить список девайсов пользователя
      operationId: users_devices_get
      description: |
        Получить список девайсов пользователя
      parameters:
        - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: список девайсов пользователя
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserDeviceItem'
    post:
      tags:
        - users
      summary: Добавить уникальный id устройства
      operationId: users_devices_post
      description: Добавить уникальный id устройства
      parameters:
        - $ref: '#/components/parameters/token'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/UserDeviceItem'
      responses:
        '200':
          description: добавлено устройство
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/UserDeviceItem'
  /Общие_концепции_акций:
    get:
      tags:
        - promotions
      summary: ''
      operationId: promo_doc
      description: >
        Акционные условия находятся в 3 разположеных ниже запросах
         - promotion_catalog
         - promotions_tags
         - promotion_sets


         В них находятся несколько важных для акций полей
         (в promotions_tags поля вынесены на верхний уровень для удобства но названия у них такие же)

        в поле offer

            - "promotion_algorithm": "2" - по сути тип акции существинный различия от остальных есть (на данный) только в алгоритме 1 - комплекте

        Описание поля -

        id алгоритму акції (сума знижки може розраховна за допомогою полів
        operation_type та price_discount ) назви із сторонньої системи

          - 1   - комплект (TODO докладніше в пункті promotion_sets  )
          - 2   - скидка - звичайна знижка ( розраховується як звичайна знижка )
          - 6   - Скидка на позицию в чеке ( знижа на один з товарів у чеку (наприклад третій))
          - 8   - Bonus (, сумма) ( розмір бонусу розраховуеться так само як і в алгоритмі 2  )
          - 14  - Кредитные акции ( виводяться так само як і 16 )
          - 15  - Предзаказ (сейчас работает как 16)
          - 16  - вывод на сайт ( просто вивід товарів на сайт )

        Основная масса акций имеет алгоритмы 1, 2 и 8 в которых цена товара
        меняется


        Остальные алгоритмы скидок как таковых скидок не дают а просто выводят
        определенный список товаров


            - "operation_type": "Ничего",
            - "price_discount": "0",


        Для рсчета размера скидки нужно два выше указаных поля

        - price_discount - определяет размер скидки


        - правило по которому размер скидки высчитать


        Окончательная цена рассчитывается так -


        price - цена товара

        price_discount - значение поля price_discount


        СкидкаПроцент - price - ((price * price_discount) / 100)

        СкидкаСумма   - price - price_discount

        УстановкаЦены - price_discount (просто вместо основной цены установыть
        значение price_discount)

        Ничего        - price (не менять цену)

            "key_set": "0",
            "order_set": "0",

        Поля для упорялочивания комплектов (если алгоритм не 1 то значения полей
        0)


        - key_set - id комплекта в акции
          Все товары с одинаковым key_set в пределах одной promotion_setting_id (или setting.id)
          принадлежат одному комплекту

        - order_set - порядок товара в комплекте



        То-есть если в комплекте есть три товара и значение этого поля равняется
        1 то это основной товар

        комплекта если больше то то один из дополнительных. При значении 2 товар
        располагается во воторой

        ячекйке комплекта, при значении 3 в третей и т.д.


        Так как в одной ячейке комплекта


        В поле setting

        "discount_type": "ПодарочнаяКартаVRT",
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: string
  /Меню_фильтров_акции:
    get:
      tags:
        - promotions
      summary: "Отримати список ІД товарів для акції з ІД№ ***"
      operationId: promo_filters_doc
      description: |
        Акційні фільтри створюються наступним чином:

        Є масив основних категорій меню з рекурсивними дочірніми категоріями під ключем children. Це саме дерево меню https://api.eldorado.ua/v1/menu_output?lang=ru.

        Для того щоб отримати активні ІД категорій, які треба відображати в фільтрах - треба виконати запит
        https://api.eldorado.ua/v1/goods?get_ids_by_cat_and_promo&promotion_id=4493, який поверне об"єкт з ключами ІД категорій. Ці ключі - це і є ті категорії, які треба відобразити в фільтрах на сторінці акцій.

        Для цього по масиву з меню треба пройти рекурсивно і відсіяти ті категорії яких немає в КЛЮЧАХ об"єкту який повернувся з https://api.eldorado.ua/v1/goods?get_ids_by_cat_and_promo&promotion_id=4493

        Після цього вивести меню для вибору користувачу, і вибрану категорію передавати в запити на атрибути і товари акції. (параметр categoryId)
      parameters:
        - name: promotionId
          in: query
          description: id категории
          required: false
          schema:
            type: string
            example: categoryId = 123123
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                type: string
  /promotion_goods_list:
    get:
      tags:
        - promotions
      summary: Отримати список відфільтрованих id акційних товарів
      operationId: promotion_goods_list
      description: |
        Отримати список відфільтрованих id акційних товарів
      parameters:
        - name: categoryId
          in: query
          description: id категории
          required: false
          schema:
            type: string
            example: categoryId = 123123
        - name: promotionId
          in: query
          description: |
            id акції
          required: true
          schema:
            type: string
          example: '1234'
        - name: order
          in: query
          description: |
            Параметр может принимать несколько значений.


            Ниже объяснения по каждому значению


            **popularity** - стандартная сортировка (визуализируется как
            популярность)


            **priceUp** - от дешевых к дорогим


            **priceDown** - от дорогих к дешевым


            **titleUp** - в алфавитном порядке


            **titleDown** - в порядке противополжном алфавитному
          required: false
          schema:
            type: string
            enum:
              - popularity
              - priceUp
              - priceDown
              - titleUp
              - titleDown
            example: >-
              attributes=producer=samsung,xiaomi/2256=2414,2418/5045=37683&order=popularity
        - name: attributes
          in: query
          description: >
            формирование строки фильтрации аналогично таковому в запросе

                promotion_goods_attributes_list

            то есть если нужно получить список id товаров для набора фильтров по
            запросу

                /v1/promotion_goods_attributes_list?categoryId=1042092&promotionId=123&attributes=11617=170-545/producer=bosch


            нужно подставить такую же строку и в этот запрос

                /v1/promotion_goods_list?categoryId=1042092&promotionId=123&attributes=11617=170-545/producer=bosch
          required: false
          schema:
            type: string
            example: 'attributes=producer=samsung,xiaomi/2256=2414,2418/5045=37683'
      responses:
        '200':
          description: полученый полный список id товаров
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GoodsListItem'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '404':
          $ref: '#/components/responses/404NotFound'
  /promotion_goods_attributes_list:
    get:
      tags:
        - promotions
      summary: Получить список фильтров для акционной страницы
      operationId: promotion_goods_attributes_list
      description: |
        Получение форматированого списка фильтров для страницы акции
      parameters:
        - name: categoryId
          in: query
          description: id категории
          required: false
          schema:
            type: string
            example: categoryId = 123123
        - name: promotionId
          in: query
          description: |
            id акції
          required: true
          schema:
            type: string
          example: '1234'
        - name: attributes
          in: query
          description: >
            Cписок фильтров в указаном ниже формате


            Для фильтрации по значению определенного атрибута нужно указать
            значение атрибута

            с помощью оператора

                =

            В примере ниже (в блоке responses) для для фильтрации по "Система
            бритья" со значением "роторная"


            нужно передать в параметр **attributes** значение *id* данного
            аттрибута *Система бритья*


            в который через опреатор передать значение **value_default_id** из
            одного из елементов

            поля **defaultValues**


            то есть в результате выйдет конструкция

                attributes=1938=1960

            значение *id* аттрибута может быть как числом так строкой (например
            **producer**)


            значение value_default_id может быть как числом так строкой
            (например **samsung** или **199-250**)


            Что бы указать несколько значений атрибутов их нужно указать через

                ,

            например

                attributes=1938=1960,1961



            Для фильтрации по нескольким атрибутам их нужно перечислить через

                /

            Например

                attributes=1938=1960/producer=samsung/1212=1111

            так же одновременно можно указывать и несколько значений

                attributes=1938=1960,1961/producer=samsung,xiaomi

            в результате выйдет запрос вида

                /promotion_goods_attributes_list?categoryId=1042092&promotionId=123&attributes=1938=1960,1961/producer=bosch,xiaomi/11617=170-545

            и будет возвращен уже новый список атрибутов (они же фильтры)


            ### Относительно полей в модели атрибута (GoodsAttributesListItem)


            В модели атрибута точно будут возвращены только поля с пометкой * -
            *required* в схеме ответа


            Все остальные возвращаются опционально и нужны в основном только для
            сайта
          required: false
          schema:
            type: string
            example: 'attributes=producer=samsung,xiaomi/2256=2414,2418/5045=37683'
      responses:
        '200':
          description: полученый полный список фильтров
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GoodsAttributesListItem'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '404':
          $ref: '#/components/responses/404NotFound'
  /promotion_catalog:
    get:
      tags:
        - promotions
      summary: Получить товары для каталога акций
      operationId: promotion_catalog
      description: |
        Получить акционную информацию для указаных товаров
      parameters:
        - name: withGoods
          in: query
          description: >-
            определяет получать ли товар в запрашиваемом объекте (рекомендуется
            не использовать)
          required: false
          schema:
            type: string
            nullable: true
        - name: goods_ids
          in: query
          description: |
            список id товаров
          required: true
          schema:
            type: string
          example: '111111,222222,333333'
        - name: promotion_id
          in: query
          description: id акции
          required: true
          schema:
            type: string
            example: 667
        - $ref: '#/components/parameters/promoRelations'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: полученый набор запрашиваемых товаров для акции
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PromotionCatalogGoodWithSet'
        '404':
          $ref: '#/components/responses/404NotFound'
  /promotion_sets:
    get:
      tags:
        - promotions
      summary: Получить только акционные комплекты по указаным товарам
      operationId: promotions_set
      description: |
        Получить только акционные комплекты по указаным товарам
      parameters:
        - name: condtions
          in: query
          description: Условия запроса
          required: true
          schema:
            type: string
            example: id = 123
        - $ref: '#/components/parameters/promoRelations'
      responses:
        '200':
          description: список акционных комплектов по указаным товарам
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PromotionCatalogGoodWithSet'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '404':
          $ref: '#/components/responses/404NotFound'
  /promotions_tags:
    get:
      tags:
        - promotions
      summary: Получить акционные теги
      operationId: promotion_tags
      description: |
        Получить акционные теги по указаным критериям
      parameters:
        - name: get_promo_by_goods
          in: query
          description: Определяет фомат ответа. Параметр оставлять пустым.
          required: true
          allowEmptyValue: true
          schema:
            type: string
            example: get_promo_by_goods
        - name: goods_ids
          in: query
          description: Список id товаров по которым будут получены акционные теги
          required: true
          schema:
            type: string
            example: goods_ids=12132
        - name: outputPosition
          in: query
          description: |
            Место вывода тега
              - checkout - страница чекаута (<a href='https://eldorado.ua/checkout/'> https://eldorado.ua/checkout/ </a> - для входа нужен товар в корзине)
              - catalog - любая страница каталога как обычного (<a href='https://eldorado.ua/smartphones/c1038946/'> https://eldorado.ua/smartphones/c1038946/ </a>), так т акционного (<a href='https://eldorado.ua/promotion/611/'> https://eldorado.ua/promotion/611/ </a>)
              - cart - вывод в модальном окне корзины (сейчас почти не используется для вывода в корзину чаще используется checkout)
              - product - вывод тега на страницу товара (<a href='https://eldorado.ua/smartfon-samsung-sm-j600-galaxy-j6-black-sm-j600-fzkdsek-/p71252394/'> https://eldorado.ua/smartfon-samsung-sm-j600-galaxy-j6-black-sm-j600-fzkdsek-/p71252394/ </a>)
              - promotion - вівод тега толко на акционный каталог (<a href='https://eldorado.ua/promotion/611/'> https://eldorado.ua/promotion/611/ </a>)
              - all_promo_page - тег для фильтрации акций на странице всех акций по типам (<a href='https://eldorado.ua/promotions/'> https://eldorado.ua/promotions/ </a> - галочки на сиранице)

              **Любой тег может облядать множеством мест для вывода но запрашивать можно только по одному**
          required: true
          schema:
            type: string
            example: outputPosition='product'
            enum:
              - checkout
              - catalog
              - cart
              - product
              - promotion
              - all_promo_page
      responses:
        '200':
          description: список акционных тегов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PromotionTagItem'
        '404':
          $ref: '#/components/responses/404NotFound'
  '/promotions{promotions_slider_list}':
    get:
      tags:
        - promotions
      summary: Отримати список акцій
      operationId: 'promotions{promotions_slider_list}'
      description: |
        Отримати список акцій
      parameters:
        - name: promotions_slider_list
          in: path
          description: Параметр котрий змінює формат відповіді
          required: true
          schema:
            type: string
            example: '?promotions_slider_list'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: список акцій
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PromotionSliderItem'
  /promotion_images:
    get:
      tags:
        - promotions
      summary: Отримати набір зображень для акцій
      operationId: promotion_images
      description: |
        Отримати набір зображень для акцій
      parameters:
        - $ref: '#/components/parameters/conditions'
      responses:
        '200':
          description: список акцій
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PromotionSliderItem'
  /push_service:
    post:
      tags:
        - service
      summary: Отправка push-увыедомления для мобильного устройства
      operationId: push_service_post
      description: |
        Отправка push-увыедомления для мобильного устройства
      parameters:
        - $ref: '#/components/parameters/token'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushServiceItem'
            example:
              user_id: 25251
              device_id: wrtwtc34t34ct34c534c345
              title: Заголовок
              body: Текст
      responses:
        '200':
          description: список "Результат отправки"
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/PushServiceItem'
  /promo_code:
    post:
      tags:
        - promotions
      summary: Перевірка валідності промо кода
      operationId: promo_code_post
      description: >
        Користувачу потрібно вивести input для вводу промо кода. \

        Input виводиться якщо виконується наступна умова:

        * серед всіх promotions_tags товарів корзини є  один з атрибутом
        is_promo_code (якщо є більше чим 1 - не виводити. Поки, що підтримується
        замовлення тільки з одним промо кодом). Важливо. Може бути два товара з
        одним і тим самим тегом, тому треба робити унікальність по id тега, і
        вже після цього дивитись чи він 1 чи більше.


        Після вводу промокода потрібно взяти promotions_setting_id з знайденого
        вище тега і значення з самого інпута і відправити в цей запит. \

        Якщо код відповіді 400. Промокод не валідний - показати це користувачу і
        попросити ввести промо код заново. \

        Якщо код відповіді 200 і is_activated = 1 - промо код валідний. В такому
        випадку:

        * до тих товарів в корзині, в яких є той промо тег по якому проводилась
        перевірка, додати наступні атрибути:
          - isActivatePromoCode
          - promoCode
          - promoCode1CTransactionId
          в такому вигляді товари повинні передатись при замовлені в POST /orders
        * при відправці необхідно наповнити масив promotions цією активованою
        акцією (див. POST /v1/orders параметр promotions)
      parameters:
        - name: promo_code
          in: path
          description: Промо код. До 10 символів
          required: true
          schema:
            type: string
            example: '1234567890'
        - name: promotion_setting_id
          in: path
          description: id налаштування акції
          required: true
          schema:
            type: string
            example: '3765'
      responses:
        '200':
          description: успішний результат перевірки промо кода
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/PromoCodeItem'
        '400':
          description: неуспішний результат перевірки промокода
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    type: object
                    format: binary
  /crm_logs:
    post:
      tags:
        - crm_logs
      summary: відправити проглянутий товар в CRM
      operationId: crm_logs_post
      description: |
        Відправити проглянутий користувачем товар в CRM
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrmLogs'
            example:
              user_phone: '380633333333'
              created_at: '2019-10-03 17:26:12'
              source: Site
              good_id: '1364443'
              type_code: PageView
              name: Телевизор KIVI 55UR50GU
              page_type_code: Product
              page_type_name: Product
              product_code: '71258436'
              product_site_category_code: '1038962'
              amount: '16999.00'
              link: 'https://eldorado.ua/led-tel-r-kivi-55-ur50-gu/p71258436/'
              os_type: MAC
              device_type: Phone
              device_model: XIAOMI
              mac: '00:0a:95:9d:68:16'
              ext_user_guid: a0e3ddb0-e5da-11e9-b2b1-0753dab371ed
      responses:
        '200':
          description: список "Результат отправки"
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/PushServiceItem'
        '404':
          $ref: '#/components/responses/404NotFound'
  /menu_output:
    get:
      tags:
        - catalog
      summary: Отримання категорій для побудування меню
      operationId: menu_output
      description: >
        Отримання категорій для побудування меню \

        Для побудови дерева меню необхідно першим кроком отримати кореневі
        категорії, передавши в url параметр **mainCategories** \

        Далі для отримання підкатегорій для кожної кореневої категорії потрібно
        робити запит, передавши в url параметр **categoryId** \

        Якщо в отриманому запису поле `isNode=true` це означає, що ця категорія
        ще має в собі підкатегорії, які описані в масиві `children`. Він має
        таку ж саму структуру, як поточний об'єкт.
      parameters:
        - name: mainCategories
          in: query
          description: Отримання кореневих категорій меню
          schema:
            type: string
            example: '?mainCategories'
        - name: categoryId
          in: query
          description: Отримання підкатегорій меню
          schema:
            type: integer
            example: '?categoryId=1215257'
      responses:
        '200':
          description: Список категорій
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    format: binary
                  data:
                    $ref: '#/components/schemas/MenuOutput'
components:
  responses:
    404NotFound:
      description: records not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel404'
    400BadRequest:
      description: bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel400'
    409Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel409'
    403Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel403'
  parameters:
    conditions:
      name: conditions
      in: query
      description: Условия запроса
      required: false
      schema:
        type: string
        example: id = 123
    offset:
      name: offset
      in: query
      description: >-
        Количество строк которые будут пропущены от начала результирующего
        набора.
      required: false
      schema:
        type: integer
        format: int32
        minimum: 0
        default: 0
    limit:
      name: limit
      in: query
      description: Максимальное количество строк которые будут возвращены.
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
    token:
      name: token
      in: query
      description: Токен авторизированого пользователя
      required: true
      schema:
        type: string
      example: $2y$08$bDFoTFQ2RzJGR1dteFFUdORFsBabgiIzRbORmagtg0n.H55JLQ6JS
    cat:
      name: cat
      in: query
      description: категория товара
      required: false
      schema:
        type: integer
        format: int32
      example: 1038958
    q:
      name: q
      in: query
      description: поисковый запрос
      required: true
      schema:
        type: string
      example: samsung
    columns:
      name: columns
      in: query
      description: выбор полей модели (не работает вместе с conditions)
      required: false
      schema:
        type: string
        example: 'id,title,desc,order_num'
    relations:
      name: relations
      in: query
      description: >-
        разом з моделями віддавати зв'язки (наприклад для goods віддати
        категорію)
      required: false
      schema:
        type: string
        example: 'category(id,title,order_num)'
    promoRelations:
      name: relations
      in: query
      description: |
        особый парметр добавляющий поля к ответу (описаны в схеме)
        слева написано значение параметра - справа добавляемое поле


            - promotions          - promotions
            - promotion_offers    - offer
            - promotion_settings  - setting
            - promotion_rules     - rule
      required: false
      schema:
        type: string
        example: |
          promotion_offers
        enum:
          - promotions
          - promotion_offers
          - promotion_settings
          - promotion_rules
          - manufacturer_image
          - images
          - manufacturer
          - credits
  schemas:
    ErrorBody:
      type: object
      properties:
        code:
          type: integer
          minimum: 400
          maximum: 600
        resource:
          type: string
          example: 'http://api.eldodev.org.ua/v1/goods?get_catalog_goods&extIds=12312'
        message:
          type: string
        data:
          type: object
    ErrorModel404:
      type: object
      properties:
        error:
          allOf:
            - $ref: '#/components/schemas/ErrorBody'
            - type: object
              properties:
                code:
                  example: 404
                message:
                  example: Not Found
                data:
                  type: object
                  example:
                    RECORDS_NOT_FOUND: Records not found
                    developer: TODO
    ErrorModel400:
      type: object
      properties:
        error:
          allOf:
            - $ref: '#/components/schemas/ErrorBody'
            - type: object
              properties:
                code:
                  example: 400
                message:
                  example: Bad Request
                data:
                  type: object
                  example:
                    WRONG_INPUT_PARAMETERS: good_ids is no specified
                    developer: TODO
    ErrorModel409:
      type: object
      properties:
        error:
          allOf:
            - $ref: '#/components/schemas/ErrorBody'
            - type: object
              properties:
                code:
                  example: 409
                message:
                  example: Conflict
                data:
                  type: object
                  example:
                    CONFLICT: Conflict
                    developer: TODO
    ErrorModel403:
      type: object
      properties:
        error:
          allOf:
            - $ref: '#/components/schemas/ErrorBody'
            - type: object
              properties:
                code:
                  example: 403
                message:
                  example: Forbidden
                data:
                  type: object
                  example:
                    FORBIDDEN: FORBIDDEN
                    developer: TODO
    SellStatusSchema:
      type: integer
      example: '4'
      nullable: true
      description: |
        Статус наличия товара.
        - 0 Продано
        - 1 Архивный
        - 2 Последний товар
        - 3 Заканчивается
        - 4 Есть в наличии
        - 5 Предзаказ
      minimum: 0
      maximum: 5
    CatalogGood:
      type: object
      properties:
        id:
          type: string
          example: '1354969'
          description: Уникальный id товара
        parent_id:
          type: string
          example: '1038946'
          nullable: true
          description: Уникальный id категории товара
        mpath:
          type: string
          example: '1038944,1038946'
          nullable: true
          description: >-
            последовательность принадлежности товара категориям перечисленая
            через запятую
        ext_id:
          type: string
          example: '71254762'
          description: Уникальный id товара из внешней CRM
        ext_category_id:
          type: string
          example: '1'
          nullable: true
          description: Уникальный id категории товара из внешней CRM
        sell_status:
          $ref: '#/components/schemas/SellStatusSchema'
        name:
          type: string
          description: Полное название товара в виде удобном для вывода в URL
          example: smartfon-samsung-sm-j600-galaxy-j6-lavenda-sm-j600-fzvdsek
        offer_id:
          type: string
          description: id товара для вывода в URL
          nullable: true
          example: '71254762'
        manufacturer_id:
          type: string
          description: id производителя товара
          nullable: true
          example: '468'
        is_active:
          type: string
          example: '1'
          description: |
            активность товара
             - 0 - товар не активен
             - 1 - товар активен
          minimum: 0
          maximum: 1
        title:
          type: string
          description: |
            Название товара на русском языке
          example: Смартфон SAMSUNG SM-J600 Galaxy J6 Lavenda (SM-J600FZVDSEK)
        title_ua:
          type: string
          description: |
            Название товара на украинском языке
          example: Смартфон SAMSUNG SM-J600 Galaxy J6 Lavenda (SM-J600FZVDSEK)
        desc_small:
          type: string
          description: Краткое описание товара
          example: Описание товара
        is_service:
          type: string
          description: >
            Признак того есть ли товар услугой (например установкой
            кондиционера)

            - 0 - товар не услуга

            - 1 - товар услуга
          example: '0'
        preorder_end_date:
          type: string
          format: date-time
          nullable: true
          example: '2019-02-19 00:41:40'
          description: |
            Дата акончания предзаказа
        total_mark:
          type: string
          description: |
            Оценка товара
          example: '3'
          minimum: 0
          maximum: 5
        comments_number:
          type: string
          description: |
            Количество комментариев товара
          example: '3'
        order_num:
          type: string
          description: >
            Порядок вывода товара в каталог при сортировке по умолчанию (или
            популярности)
          example: '12'
        price:
          type: string
          description: |
            Цена товара
          example: '4999.00'
        price_discount:
          description: |
            Старая цена товара
          type: string
          example: '5499.00'
        videos:
          type: string
          nullable: true
          example: null
        dnk_first:
          type: string
          nullable: true
          example: 5.6 ''
        dnk_second:
          type: string
          nullable: true
          example: 2 ГБ
        dnk_third:
          type: string
          nullable: true
          example: 32 ГБ
        dnk_fourth:
          type: string
          nullable: true
          example: 13 Мп
        colors_group:
          type: string
          nullable: true
          description: |
            ext_id товара главного в цветовой группе
          example: '71252394'
        color_hash:
          type: string
          nullable: true
          description: |
            Цвет товара
          example: 8470FF
        updated_at:
          type: string
          description: |
            Дата последнего обновления товара
          example: '2019-02-19 00:41:40'
        images:
          type: array
          items:
            $ref: '#/components/schemas/ImageCatalogItem'
        credits:
          $ref: '#/components/schemas/CreditCatalogItem'
        manufacturer:
          $ref: '#/components/schemas/ManufacturerCatalogItem'
        manufacturer_image:
          $ref: '#/components/schemas/ManufacturerImageCatalogItem'
    PromoCategoriesGoods:
      type: object
      properties:
        1038939:
          type: string
          example: "1362377,1361703,1318511,1367183,1181966,1208299,1254388,1118619"
          description: Ключ это ИД категории, а значение это ИД товаров этой категории
    CommentItemBase:
      type: object
      required:
        - comment
        - user_profile_id
        - goods_id
        - parent_id
        - status
        - type
      properties:
        goods_id:
          type: string
          description: id товара к которому был оставлен комментарий
          example: '1358879'
        user_profile_id:
          type: string
          description: id profile-a юзера
          example: '516111'
        parent_id:
          type: string
          nullable: true
          description: >-
            id родительского комментария (если есть), в случае его отсутсвия
            значение 0
          example: '0'
        comment:
          type: string
          description: Текст комментария
          example: |
            Сразу начну с хорошего.
        advantages:
          type: string
          description: Преимущества товара
          example: |
            Яркая, сочная картинка после настройки
        disadvantages:
          type: string
          description: Недостатки товара
          example: |
            Высокая минимальная яркость
        type:
          type: string
          description: Тип комментария обзор ('r') или вопрос ('q')
          enum:
            - r
            - q
          example: r
        status:
          type: string
          description: |
            Статус коментария
             - 0 - не промодерирован
             - 1 - промодерирован
          enum:
            - 0
            - 1
          example: '1'
        using_time_id:
          type: string
          description: |
            Время использования товара
            - 1 - 1-2 дня
            - 2 - больше 1 месяца
            - 3 - больше 1 года
          example: '1'
          enum:
            - 1
            - 2
            - 3
        rating_value:
          type: integer
          minimum: 1
          maximum: 5
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
          description: |
            Значение оценки товара пользователем
          example: 4
    CommentItemSimple:
      type: object
      properties:
        id:
          type: string
          description: ункальный id комментария
          example: '153959'
        goods_id:
          type: string
          description: id товара к которому был оставлен комментарий
          example: '1358879'
        user_profile_id:
          type: string
          description: id profile-a юзера
          example: '516111'
        parent_id:
          type: string
          nullable: true
          description: >-
            id родительского комментария (если есть), в случае его отсутсвия
            значение 0
          example: '0'
        rating_id:
          type: string
          description: id записи с рейтингом комментария
          example: '8297'
        using_time_id:
          type: string
          description: id записи с временем использования товара
          example: '1'
        comment:
          type: string
          description: Текст комментария
          example: |
            Сразу начну с хорошего.
        advantages:
          type: string
          description: Преимущества товара
          example: |
            Яркая, сочная картинка после настройки
        disadvantages:
          type: string
          description: Недостатки товара
          example: |
            Высокая минимальная яркость
        likes:
[...]
