openapi: 3.0.0
info:
  title: Context Matters API
  version: 0.2.0
  contact:
    name: Context Matters Tech Team
    url: 'https://decisionresourcesgroup.com/'
    email: cm-tech@teamdrg.com
  description: ''
servers:
  - description: Production
    url: 'https://app.contextmatters.com/api/v2'
paths:
  /regulatoryLabels:
    get:
      summary: Regulatory Labels
      operationId: getLabels
      description: 'Returns Regulatory Labels (FDA / EMA / etc.). See the [Variable Reference](https://stoplight.io/p/docs/gh/contextmatters/context-matters/docs/03-variables.md) for more information regarding the variables returned.'
      parameters:
        - in: query
          name: $filter
          description: "Filters labels returned. Structure is 'variable_name in \"comma\",\"separated\",\"list\" and ...'. Only supported operators are 'in' and 'and'. Values (including integers) must be in double quotes."
          schema:
            type: string
            example: 'agency_abbreviation in "EMA","FDA" and year in "2018"'
        - in: query
          name: $top
          description: Number of results per page.
          schema:
            type: integer
            example: 25
            maximum: 100
        - schema:
            type: integer
            example: 300
          in: query
          name: $skip
          description: Offset for pagination.
        - schema:
            type: string
            example: 'date,reviewable_name,agency_abbreviation'
            pattern: "(\\w|,)*"
          in: query
          name: $elements
          description: Comma-separated list of variable names.
        - schema:
            type: string
            example: date desc
            pattern: "^.*\\s(asc|desc)$"
          in: query
          name: $orderBy
          description: Orders results. Use any variable name with asc/desc.
      responses:
        '200':
          description: Results matching criteria
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/RegulatoryLabel'
                  '@nextLink':
                    type: string
                required:
                  - value
              examples:
                Example:
                  value:
                    value:
                      - id: CM-Event-2856450
                        date: '2019-12-04'
                        decision: Positive
                        year: '2019'
                        disease_condition_string_ids:
                          - CM-DiseaseCondition-53
                          - CM-DiseaseCondition-180
                          - CM-DiseaseCondition-56
                        reviewable_name: atezolizumab
                        brand_names:
                          - Tecentriq
                        agency_abbreviation: FDA
                        disease_condition_names:
                          - Breast Cancer
                          - Urothelial Carcinoma
                          - Small Cell Lung Cancer
                        source_url: 'https://www.accessdata.fda.gov/scripts/cder/daf/index.cfm?event=overview.process&ApplNo=761034'
                        updated_at: '2020-03-07 20:53:00 -0500'
                        country_name: United States
                        manufacturer_names:
                          - Genentech
                        disease_condition_ids:
                          - CM-DiseaseCondition-53
                          - CM-DiseaseCondition-180
                          - CM-DiseaseCondition-56
                        data_depth: MAP
                        reviewable_id: CM-Drug-2356
                        brand_ids:
                          - CM-Brand-6089
                        manufacturer_ids:
                          - CM-Manufacturer-101
                        country_id: CM-Country-1
                        agency_id: CM-Agency-17
                        documents:
                          - translated_url: 'http://app.contextmatters.com/translated_documents/694754'
                            language: English
                            title: ' FDA 2019 atezolizumab'
                            url: 'https://contextmatters-production-2.s3.amazonaws.com/uploads/event_document/document/694754/_FDA_2019_atezolizumab.pdf'
                            primary: true
                      - id: CM-Event-2717525
                        date: '2019-09-03'
                        decision: Positive
                        year: '2019'
                        disease_condition_string_ids:
                          - CM-DiseaseCondition-53
                          - CM-DiseaseCondition-180
                          - CM-DiseaseCondition-43
                          - CM-DiseaseCondition-56
                        reviewable_name: atezolizumab
                        brand_names:
                          - Tecentriq
                        agency_abbreviation: EMA
                        disease_condition_names:
                          - Breast Cancer
                          - Urothelial Carcinoma
                          - Non-small-cell Lung Cancer
                          - Small Cell Lung Cancer
                        source_url: 'https://www.ema.europa.eu//en/medicines/human/EPAR/tecentriq'
                        updated_at: '2020-03-07 20:52:25 -0500'
                        country_name: European Union
                        manufacturer_names:
                          - Genentech
                        disease_condition_ids:
                          - CM-DiseaseCondition-53
                          - CM-DiseaseCondition-180
                          - CM-DiseaseCondition-43
                          - CM-DiseaseCondition-56
                        data_depth: MAP
                        reviewable_id: CM-Drug-2356
                        brand_ids:
                          - CM-Brand-6089
                        manufacturer_ids:
                          - CM-Manufacturer-101
                        country_id: CM-Country-11
                        agency_id: CM-Agency-18
                        documents:
                          - translated_url: 'http://app.contextmatters.com/translated_documents/583752'
                            language: English
                            title: ' EMA 2019 atezolizumab'
                            url: 'https://contextmatters-production-2.s3.amazonaws.com/uploads/event_document/document/583752/_EMA_2019_atezolizumab.pdf'
                            primary: true
                          - translated_url: 'http://app.contextmatters.com/translated_documents/583753'
                            language: English
                            title: ' EMA 2019 atezolizumab'
                            url: 'https://contextmatters-production-2.s3.amazonaws.com/uploads/event_document/document/583753/_EMA_2019_atezolizumab.pdf'
                            primary: true
                          - translated_url: 'http://app.contextmatters.com/translated_documents/583755'
                            language: English
                            title: ' EMA 2019 atezolizumab SmPC'
                            url: 'https://contextmatters-production-2.s3.amazonaws.com/uploads/event_document/document/583755/_EMA_2019_atezolizumab.pdf'
                            primary: false
                      - id: CM-Event-2730313
                        date: '2019-08-26'
                        decision: Positive
                        year: '2019'
                        disease_condition_string_ids:
                          - CM-DiseaseCondition-53
                          - CM-DiseaseCondition-180
                          - CM-DiseaseCondition-43
                        reviewable_name: atezolizumab
                        brand_names:
                          - Tecentriq
                        agency_abbreviation: EMA
                        disease_condition_names:
                          - Breast Cancer
                          - Urothelial Carcinoma
                          - Non-small-cell Lung Cancer
                        updated_at: '2020-03-07 20:35:53 -0500'
                        country_name: European Union
                        manufacturer_names:
                          - Genentech
                        disease_condition_ids:
                          - CM-DiseaseCondition-53
                          - CM-DiseaseCondition-180
                          - CM-DiseaseCondition-43
                        data_depth: MAP
                        reviewable_id: CM-Drug-2356
                        brand_ids:
                          - CM-Brand-6089
                        manufacturer_ids:
                          - CM-Manufacturer-101
                        country_id: CM-Country-11
                        agency_id: CM-Agency-18
                        documents:
                          - translated_url: 'http://app.contextmatters.com/translated_documents/586754'
                            language: English
                            title: ' EMA 2019 atezolizumab SmPC'
                            url: 'https://contextmatters-production-2.s3.amazonaws.com/uploads/event_document/document/586754/tecentriq-SmPC.pdf'
                            primary: false
                          - translated_url: 'http://app.contextmatters.com/translated_documents/586753'
                            language: English
                            title: ' EMA 2019 atezolizumab'
                            url: 'https://contextmatters-production-2.s3.amazonaws.com/uploads/event_document/document/586753/_EMA_2019_atezolizumab.pdf'
                            primary: true
                    '@nextLink': '/api/v2/regulatoryLabels?%24skip=3&%24top=3'
        '400':
          description: Bad input parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
        '401':
          description: Bad authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
    parameters: []
  /healthTechnologyAssessments:
    get:
      summary: Health Technology Assessments
      operationId: getHtas
      description: 'Returns Health Technology Assessments (HTAs). See the [Variable Reference](https://stoplight.io/p/docs/gh/contextmatters/context-matters/docs/03-variables.md) for more information regarding the variables returned.'
      parameters:
        - in: query
          name: $filter
          description: "Filters HTAs returned. Structure is 'variable_name in \"comma\",\"separated\",\"list\" and ...'. Only supported operators are 'in' and 'and'. Values (including integers) must be in double quotes."
          schema:
            type: string
            example: 'agency_abbreviation in "NICE","SMC" and year in "2018"'
        - in: query
          name: $top
          description: Number of results per page.
          schema:
            type: integer
            example: 25
            maximum: 100
        - schema:
            type: integer
            example: 300
          in: query
          name: $skip
          description: Offset for pagination.
        - schema:
            type: string
            example: 'date,reviewable_name,agency_abbreviation'
            pattern: "(\\w|,)*"
          in: query
          name: $elements
          description: Comma-separated list of variable names.
        - schema:
            type: string
            example: date desc
            pattern: "^.*\\s(asc|desc)$"
          in: query
          name: $orderBy
          description: Orders results. Use any variable name with asc/desc.
      responses:
        '200':
          description: Results matching criteria
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/HealthTechnologyAssessment'
                  '@nextLink':
                    type: string
                required:
                  - value
              examples:
                Example:
                  value:
                    value:
                      - id: CM-ReviewItem-64994
                        date: '2020-01-15'
                        year: '2020'
                        decision_reason_economic: N/A
                        source_url: 'https://www.nice.org.uk/guidance/ta618'
                        updated_at: '2020-03-06T20:43:58+00:00'
                        country_name: United Kingdom
                        manufacturer_names:
                          - Genentech
                        decision: Do not recommend
                        disease_condition_string_ids:
                          - CM-DiseaseCondition-43
                        reviewable_name: atezolizumab
                        brand_names:
                          - Tecentriq
                        agency_abbreviation: NICE
                        disease_condition_names:
                          - Non-small-cell Lung Cancer
                        decision_reason_clinical: 'NICE is unable to make a recommendation about the use in the NHS of atezolizumab with carboplatin + nab-paclitaxel for untreated advanced non-squamous NSCLC. The company has confirmed that it does not intend to make a submission for the appraisal because the technology, in this combination, is unlikely to be used at this point in the treatment pathway.'
                        label_indication: |-
                          Tecentriq, as monotherapy, is indicated for the treatment of adult patients with locally advanced or metastatic urothelial carcinoma after prior platinum-containing chemotherapy.
                          Tecentriq, as monotherapy, is indicated for the treatment of adult patients with locally advanced or metastatic urothelial carcinoma who are considered cisplatin-ineligible, and whose tumours have a programmed death-ligand 1 (PD-L1) expression ≥ 5%.
                          Tecentriq, as monotherapy, is indicated for the treatment of adult patients with locally advanced or metastatic non-small-cell lung cancer (NSCLC) after prior chemotherapy. Patients with epidermal growth factor receptor (EGFR)-mutant or anaplastic lymphoma kinase (ALK)-positive NSCLC should also have received targeted therapies before receiving Tecentriq.
                          Tecentriq, in combination with nab-paclitaxel, is indicated for the treatment of adult patients with unresectable locally advanced or metastatic triple-negative breast cancer whose tumours have PD-L1 expression ≥ 1% and who have not received prior chemotherapy for metastatic disease.
                          Tecentriq, in combination with bevacizumab + paclitaxel + carboplatin, is indicated for the first-line treatment of adult patients with metastatic non-squamous NSCLC. In patients with EGFR-mutant or ALK-positive NSCLC, Tecentriq, in combination with bevacizumab + paclitaxel + carboplatin, is indicated only after failure of appropriate targeted therapies.
                          Tecentriq, in combination with nab-paclitaxel + carboplatin, is indicated for the first-line treatment of adult patients with metastatic non-squamous NSCLC who do not have EGFR-mutant or ALK-positive NSCLC.
                          Tecentriq, in combination with carboplatin + etoposide, is indicated for the first-line treatment of adult patients with extensive-stage small-cell lung cancer.
                        indication: In combination with carboplatin and nab-paclitaxel for the treatment of untreated advanced non-squamous NSCLC.
                        label_id: CM-Event-2717525
                        disease_condition_ids:
                          - CM-DiseaseCondition-43
                        data_depth: MAP
                        reviewable_id: CM-Drug-2356
                        brand_ids:
                          - CM-Brand-6089
                        manufacturer_ids:
                          - CM-Manufacturer-101
                        country_id: CM-Country-3
                        agency_id: CM-Agency-5
                        documents:
                          - translated_url: 'http://app.contextmatters.com/translated_documents/813841'
                            language: English
                            title: Guidance
                            url: 'https://contextmatters-production-2.s3.amazonaws.com/uploads/event_document/document/813841/atezolizumab-with-carboplatin-and-nabpaclitaxel-for-untreated-advanced-nonsquamous-nonsmallcell-lung-cancer-terminated-appraisal-pdf-82608963508933.pdf'
                            primary: true
                      - id: CM-ReviewItem-64987
                        date: '2020-01-13'
                        year: '2020'
                        decision_reason_economic: N/A
                        source_url: 'https://www.iqwig.de/en/projects-results/projects/drug-assessment/a19-86-atezolizumab-non-small-cell-lung-cancer-benefit-assessment-according-to-35a-social-code-book-v.12637.html'
                        updated_at: '2020-03-06T20:43:55+00:00'
                        country_name: Germany
                        manufacturer_names:
                          - Genentech
                        disease_condition_string_ids:
                          - CM-DiseaseCondition-56
                        reviewable_name: atezolizumab
                        brand_names:
                          - Tecentriq
                        agency_abbreviation: IQWiG
                        disease_condition_names:
                          - Small Cell Lung Cancer
                        decision_reason_clinical: N/A
                        disease_condition_ids:
                          - CM-DiseaseCondition-56
                        data_depth: In Progress
                        reviewable_id: CM-Drug-2356
                        brand_ids:
                          - CM-Brand-6089
                        manufacturer_ids:
                          - CM-Manufacturer-101
                        country_id: CM-Country-6
                        agency_id: CM-Agency-9
                        documents:
                          - translated_url: 'http://app.contextmatters.com/translated_documents/813828'
                            language: German
                            title: SCLC IQWiG 2020 atezolizumab de
                            url: 'https://contextmatters-production-2.s3.amazonaws.com/uploads/event_document/document/813828/SCLC_IQWiG_2020_atezolizumab_de.pdf'
                            primary: false
                          - translated_url: 'http://app.contextmatters.com/translated_documents/813827'
                            language: German
                            title: Dossier assessment
                            url: 'https://contextmatters-production-2.s3.amazonaws.com/uploads/event_document/document/813827/A19-86_Atezolizumab_Nutzenbewertung-35a-SGB-V_V1-0.pdf'
                            primary: false
                      - id: CM-ReviewItem-64936
                        date: '2019-12-20'
                        year: '2019'
                        decision_reason_economic: N/A
                        source_url: 'https://www.iqwig.de/en/projects-results/projects/drug-assessment/a19-84-atezolizumab-nsclc-combination-chemotherapy-with-nab-paclitaxel-benefit-assessment-according-to-35a-social-code-book-v.12598.html'
                        updated_at: '2020-03-06T20:43:55+00:00'
                        country_name: Germany
                        manufacturer_names:
                          - Genentech
                        disease_condition_string_ids:
                          - CM-DiseaseCondition-43
                        reviewable_name: atezolizumab
                        brand_names:
                          - Tecentriq
                        agency_abbreviation: IQWiG
                        disease_condition_names:
                          - Non-small-cell Lung Cancer
                        decision_reason_clinical: N/A
                        disease_condition_ids:
                          - CM-DiseaseCondition-43
                        data_depth: In Progress
                        reviewable_id: CM-Drug-2356
                        brand_ids:
                          - CM-Brand-6089
                        manufacturer_ids:
                          - CM-Manufacturer-101
                        country_id: CM-Country-6
                        agency_id: CM-Agency-9
                        documents:
                          - translated_url: 'http://app.contextmatters.com/translated_documents/772996'
                            language: German
                            title: NSCLC IQWiG 2019 atezolizumab de
                            url: 'https://contextmatters-production-2.s3.amazonaws.com/uploads/event_document/document/772996/NSCLC_IQWiG_2019_atezolizumab_de.pdf'
                            primary: false
                          - translated_url: 'http://app.contextmatters.com/translated_documents/772997'
                            language: German
                            title: NSCLC IQWiG 2019 atezolizumab de
                            url: 'https://contextmatters-production-2.s3.amazonaws.com/uploads/event_document/document/772997/NSCLC_IQWiG_2019_atezolizumab_de.pdf'
                            primary: false
                    '@nextLink': '/api/v2/healthTechnologyAssessments?%24skip=3&%24top=3'
        '400':
          description: Bad input parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
        '401':
          description: Bad authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
    parameters: []
  /drugs:
    get:
      summary: Drugs
      tags: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Drug'
                  '@nextLink':
                    type: string
                required:
                  - value
              examples:
                Example:
                  value:
                    - id: CM-Drug-2356
                      name: atezolizumab
                      type: Drug
                      base_type: Drug
                      brand_ids:
                        - CM-Brand-6089
                    - id: CM-Drug-87
                      name: paclitaxel
                      type: Drug
                      base_type: Drug
                      brand_ids:
                        - CM-Brand-123
                        - CM-Brand-124
                        - CM-Brand-515
                        - CM-Brand-5353
                        - CM-Brand-5509
                        - CM-Brand-5752
                        - CM-Brand-6429
                        - CM-Brand-6495
        '400':
          description: Bad input parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
              examples: {}
        '401':
          description: Bad authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
      operationId: get-drugs
      description: Returns drugs
      parameters:
        - in: query
          name: $filter
          description: "Filters drugs returned. Structure is 'attribute in \"comma\",\"separated\",\"list\" and ...'. Only supported operators are 'in' and 'and'. Values (including integers) must be in double quotes."
          schema:
            type: string
            example: 'name in "paclitaxel","atezolizumab"'
        - in: query
          name: $top
          description: Number of results per page.
          schema:
            type: integer
            example: 25
            maximum: 100
        - schema:
            type: integer
            example: 300
          in: query
          name: $skip
          description: Offset for pagination.
        - schema:
            type: string
            example: 'id,name,brand_ids'
            pattern: "(\\w|,)*"
          in: query
          name: $elements
          description: Comma-separated list of attributes.
        - schema:
            type: string
            example: date desc
            pattern: "^.*\\s(asc|desc)$"
          in: query
          name: $orderBy
          description: Orders results. Use any attribute with asc/desc.
  /brands:
    get:
      summary: Brands
      tags: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Brand'
                  '@nextLink':
                    type: string
                required:
                  - value
              examples:
                Example:
                  value:
                    value:
                      - id: CM-Brand-123
                        updated_at: '2019-10-23T14:53:12-04:00'
                        name: Taxol
                        drug_ids:
                          - CM-Drug-87
                        manufacturer_ids:
                          - CM-Manufacturer-22
                      - id: CM-Brand-124
                        updated_at: '2019-10-23T14:53:12-04:00'
                        name: Paxene
                        drug_ids:
                          - CM-Drug-87
                        manufacturer_ids:
                          - CM-Manufacturer-42
                      - id: CM-Brand-515
                        updated_at: '2019-10-23T14:53:15-04:00'
                        name: Paclitaxel
                        drug_ids:
                          - CM-Drug-87
                        manufacturer_ids: []
                    '@nextLink': '/api/v2/brands?%24skip=3&%24top=3'
        '400':
          description: Bad input parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
              examples: {}
        '401':
          description: Bad authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
      operationId: get-brands
      description: Returns brands
      parameters:
        - in: query
          name: $filter
          description: "Filters brands returned. Structure is 'attribute in \"comma\",\"separated\",\"list\" and ...'. Only supported operators are 'in' and 'and'. Values (including integers) must be in double quotes."
          schema:
            type: string
            example: 'name eq "Tecentriq"'
        - in: query
          name: $top
          description: Number of results per page.
          schema:
            type: integer
            example: 25
            maximum: 100
        - schema:
            type: integer
            example: 300
          in: query
          name: $skip
          description: Offset for pagination.
        - schema:
            type: string
            example: 'id,name'
            pattern: "(\\w|,)*"
          in: query
          name: $elements
          description: Comma-separated list of attributes.
        - schema:
            type: string
            example: date desc
            pattern: "^.*\\s(asc|desc)$"
          in: query
          name: $orderBy
          description: Orders results. Use any attribute with asc/desc.
  /diseaseConditions:
    get:
      summary: Disease Conditions
      tags: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/DiseaseCondition'
                  '@nextLink':
                    type: string
                required:
                  - value
              examples:
                Example:
                  value:
                    value:
                      - id: CM-DiseaseCondition-1
                        updated_at: '2020-02-13T21:03:49-05:00'
                        name: "Alzheimer's Disease"
                        therapeutic_area_ids:
                          - CM-Tag-28
                          - CM-Tag-10
                      - id: CM-DiseaseCondition-5
                        updated_at: '2020-02-13T21:04:59-05:00'
                        name: Hepatitis C - Adults
                        therapeutic_area_ids:
                          - CM-Tag-11
                          - CM-Tag-12
                      - id: CM-DiseaseCondition-6
                        updated_at: '2020-02-13T20:58:16-05:00'
                        name: Hepatitis C - Pediatrics
                        therapeutic_area_ids:
                          - CM-Tag-11
                          - CM-Tag-12
                    '@nextLink': '/api/v2/diseaseConditions?%24skip=3&%24top=3'
        '400':
          description: Bad input parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
              examples: {}
        '401':
          description: Bad authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
      operationId: get-disease-conditions
      description: Returns disease conditions
      parameters:
        - in: query
          name: $filter
          description: "Filters disease conditions returned. Structure is 'attribute in \"comma\",\"separated\",\"list\" and ...'. Only supported operators are 'in' and 'and'. Values (including integers) must be in double quotes."
          schema:
            type: string
            example: "name eq \"Non-small-cell Lung Cancer\t\""
        - in: query
          name: $top
          description: Number of results per page.
          schema:
            type: integer
            example: 25
            maximum: 100
        - schema:
            type: integer
            example: 300
          in: query
          name: $skip
          description: Offset for pagination.
        - schema:
            type: string
            example: 'id,name'
            pattern: "(\\w|,)*"
          in: query
          name: $elements
          description: Comma-separated list of attributes.
        - schema:
            type: string
            example: date desc
            pattern: "^.*\\s(asc|desc)$"
          in: query
          name: $orderBy
          description: Orders results. Use any attribute with asc/desc.
  /therapeuticAreas:
    get:
      summary: Therapeutic Areas
      tags: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/TherapeuticArea'
                  '@nextLink':
                    type: string
                required:
                  - value
              examples:
                Example:
                  value:
                    value:
                      - id: CM-Tag-1
                        updated_at: '2013-05-09T14:16:23-04:00'
                        name: Oncology
                        disease_condition_ids:
                          - CM-DiseaseCondition-53
                          - CM-DiseaseCondition-41
                          - CM-DiseaseCondition-14
                          - CM-DiseaseCondition-58
                          - CM-DiseaseCondition-64
                          - CM-DiseaseCondition-73
                          - CM-DiseaseCondition-99
                          - CM-DiseaseCondition-65
                          - CM-DiseaseCondition-52
                          - CM-DiseaseCondition-86
                          - CM-DiseaseCondition-7
                          - CM-DiseaseCondition-110
                          - CM-DiseaseCondition-60
                          - CM-DiseaseCondition-180
                          - CM-DiseaseCondition-74
                          - CM-DiseaseCondition-61
                          - CM-DiseaseCondition-67
                          - CM-DiseaseCondition-66
                          - CM-DiseaseCondition-43
                          - CM-DiseaseCondition-62
                          - CM-DiseaseCondition-54
                          - CM-DiseaseCondition-42
                          - CM-DiseaseCondition-57
                          - CM-DiseaseCondition-92
                          - CM-DiseaseCondition-56
                      - id: CM-Tag-3
                        updated_at: '2013-05-09T14:16:23-04:00'
                        name: Oncology - Hematological Malignancies
                        disease_condition_ids:
                          - CM-DiseaseCondition-41
                          - CM-DiseaseCondition-64
                          - CM-DiseaseCondition-73
                          - CM-DiseaseCondition-65
                          - CM-DiseaseCondition-7
                          - CM-DiseaseCondition-74
                          - CM-DiseaseCondition-61
                          - CM-DiseaseCondition-66
                          - CM-DiseaseCondition-62
                      - id: CM-Tag-5
                        updated_at: '2014-12-09T12:35:33-05:00'
                        name: Cardiovascular
                        disease_condition_ids:
                          - CM-DiseaseCondition-51
                          - CM-DiseaseCondition-48
                          - CM-DiseaseCondition-49
                          - CM-DiseaseCondition-157
                          - CM-DiseaseCondition-28
                          - CM-DiseaseCondition-37
                          - CM-DiseaseCondition-46
                    '@nextLink': '/api/v2/therapeuticAreas?%24skip=3&%24top=3'
        '400':
          description: Bad input parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
              examples: {}
        '401':
          description: Bad authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
      operationId: get-therapeutic-areas
      description: Returns therapeutic areas
      parameters:
        - in: query
          name: $filter
          description: "Filters therapeutic areas returned. Structure is 'attribute in \"comma\",\"separated\",\"list\" and ...'. Only supported operators are 'in' and 'and'. Values (including integers) must be in double quotes."
          schema:
            type: string
            example: 'name eq "Oncology"'
        - in: query
          name: $top
          description: Number of results per page.
          schema:
            type: integer
            example: 25
            maximum: 100
        - schema:
            type: integer
            example: 300
          in: query
          name: $skip
          description: Offset for pagination.
        - schema:
            type: string
            example: 'id,name'
            pattern: "(\\w|,)*"
          in: query
          name: $elements
          description: Comma-separated list of attributes.
        - schema:
            type: string
            example: date desc
            pattern: "^.*\\s(asc|desc)$"
          in: query
          name: $orderBy
          description: Orders results. Use any attribute with asc/desc.
  /manufacturers:
    get:
      summary: Manufacturers
      tags: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Manufacturer'
                  '@nextLink':
                    type: string
                required:
                  - value
              examples:
                Example:
                  value:
                    value:
                      - id: CM-Manufacturer-22
                        updated_at: '2013-11-07T13:45:57-05:00'
                        name: Bristol-Myers Squibb
                        drug_ids:
                          - CM-Drug-87
                        brand_ids:
                          - CM-Brand-123
                      - id: CM-Manufacturer-42
                        updated_at: '2013-11-07T13:45:57-05:00'
                        name: IVAX
                        drug_ids:
                          - CM-Drug-87
                        brand_ids:
                          - CM-Brand-124
                      - id: CM-Manufacturer-90
                        updated_at: '2013-11-07T13:45:57-05:00'
                        name: Abraxis Bioscience
                        drug_ids: []
                        brand_ids: []
                    '@nextLink': '/api/v2/manufacturers?%24skip=3&%24top=3'
        '400':
          description: Bad input parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
              examples: {}
        '401':
          description: Bad authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
      operationId: get-manufacturers
      description: Returns manufacturers
      parameters:
        - in: query
          name: $filter
          description: "Filters manufacturers returned. Structure is 'attribute in \"comma\",\"separated\",\"list\" and ...'. Only supported operators are 'in' and 'and'. Values (including integers) must be in double quotes."
          schema:
            type: string
            example: 'name eq "Roche"'
        - in: query
          name: $top
          description: Number of results per page.
          schema:
            type: integer
            example: 25
            maximum: 100
        - schema:
            type: integer
            example: 300
          in: query
          name: $skip
          description: Offset for pagination.
        - schema:
            type: string
            example: 'id,name'
            pattern: "(\\w|,)*"
          in: query
          name: $elements
          description: Comma-separated list of attributes.
        - schema:
            type: string
            example: date desc
            pattern: "^.*\\s(asc|desc)$"
          in: query
          name: $orderBy
          description: Orders results. Use any attribute with asc/desc.
  /agencies:
    get:
      summary: Agencies
      tags: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Agency'
                  '@nextLink':
                    type: string
                required:
                  - value
              examples:
                Example:
                  value:
                    value:
                      - id: CM-Agency-5
                        updated_at: '2019-09-16T15:07:46-04:00'
                        name: National Institute for Health and Care Excellence
                        abbreviation: NICE
                        country_id: CM-Country-3
                      - id: CM-Agency-7
                        updated_at: '2019-09-16T15:07:47-04:00'
                        name: Scottish Medicines Consortium
                        abbreviation: SMC
                        country_id: CM-Country-4
                      - id: CM-Agency-8
                        updated_at: '2019-09-16T15:07:47-04:00'
                        name: Haute autorité de santé
                        abbreviation: HAS
                        country_id: CM-Country-5
                    '@nextLink': '/api/v2/agencies?%24skip=3&%24top=3'
        '400':
          description: Bad input parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
              examples: {}
        '401':
          description: Bad authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
      operationId: get-agencies
      description: 'Returns agencies (HTA or Regulatory bodies, such as NICE or FDA)'
      parameters:
        - in: query
          name: $filter
          description: "Filters agencies returned. Structure is 'attribute in \"comma\",\"separated\",\"list\" and ...'. Only supported operators are 'in' and 'and'. Values (including integers) must be in double quotes."
          schema:
            type: string
            example: 'abbreviation in "NICE","SMC"'
        - in: query
          name: $top
          description: Number of results per page.
          schema:
            type: integer
            example: 25
            maximum: 100
        - schema:
            type: integer
            example: 300
          in: query
          name: $skip
          description: Offset for pagination.
        - schema:
            type: string
            example: 'id,name'
            pattern: "(\\w|,)*"
          in: query
          name: $elements
          description: Comma-separated list of attributes.
        - schema:
            type: string
            example: date desc
            pattern: "^.*\\s(asc|desc)$"
          in: query
          name: $orderBy
          description: Orders results. Use any attribute with asc/desc.
  /countries:
    get:
      summary: Countries
      tags: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Country'
                  '@nextLink':
                    type: string
                required:
                  - value
              examples:
                Example:
                  value:
                    value:
                      - id: CM-Country-1
                        updated_at: '2019-11-05T13:51:10-05:00'
                        name: United States
                        code: US
                        agency_ids:
                          - CM-Agency-17
                      - id: CM-Country-2
                        updated_at: '2019-11-05T13:47:12-05:00'
                        name: Canada
                        code: CA
                        agency_ids:
                          - CM-Agency-23
                          - CM-Agency-12
                      - id: CM-Country-3
                        updated_at: '2019-11-05T13:50:58-05:00'
                        name: United Kingdom
                        code: GB
                        agency_ids:
                          - CM-Agency-5
                    '@nextLink': '/api/v2/countries?%24skip=3&%24top=3'
        '400':
          description: Bad input parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
              examples: {}
        '401':
          description: Bad authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                required:
                  - error
      operationId: get-countries
      description: Returns countries
      parameters:
        - in: query
          name: $filter
          description: "Filters countries returned. Structure is 'attribute in \"comma\",\"separated\",\"list\" and ...'. Only supported operators are 'in' and 'and'. Values (including integers) must be in double quotes."
          schema:
            type: string
            example: 'code in "US","CA"'
        - in: query
          name: $top
          description: Number of results per page.
          schema:
            type: integer
            example: 25
            maximum: 100
        - schema:
            type: integer
            example: 300
          in: query
          name: $skip
          description: Offset for pagination.
        - schema:
            type: string
            example: 'id,name,code'
            pattern: "(\\w|,)*"
          in: query
          name: $elements
          description: Comma-separated list of attributes.
        - schema:
            type: string
            example: date desc
            pattern: "^.*\\s(asc|desc)$"
          in: query
          name: $orderBy
          description: Orders results. Use any attribute with asc/desc.
components:
  schemas:
    Event:
      type: object
      description: ''
      title: ''
      x-examples:
        Example:
          id: CM-ReviewItem-5376
          date: '2015-01-09'
          reviewable_name: bosutinib
          agency_abbreviation: SMC
      properties:
        id:
          type: string
          example: CM-ReviewItem-123
        updated_at:
          type: string
          format: date-time
          example: '2020-03-06T20:43:58+00:00'
        data_depth:
          type: string
          enum:
            - In Progress
            - Lite
            - MAP
            - Module
          example: MAP
          description: ''
        source_url:
          type: string
          example: 'https://www.nice.org.uk/guidance/ta618'
        date:
          type: string
          format: date
          example: '2016-07-01'
        year:
          type: string
          example: '2020'
        indication:
          type: string
          example: In combination with carboplatin and nab-paclitaxel for the treatment of untreated advanced non-squamous NSCLC.
        reviewable_name:
          type: string
          example: atezolizumab
        reviewable_id:
          type: string
          example: CM-Drug-2356
          description: Drug
        agency_abbreviation:
          type: string
          example: NICE
        agency_id:
          type: string
          example: CM-Agency-5
          description: |
            Agency
        country_name:
          type: string
          example: United Kingdom
        country_id:
          type: string
          example: CM-Country-3
          description: Country
        disease_condition_names:
          type: array
          example:
            - Non-small-cell Lung Cancer
          items:
            type: string
        disease_condition_ids:
          type: array
          example:
            - CM-DiseaseCondition-43
          description: DiseaseCondition
          items:
            type: string
        brand_names:
          type: array
          example:
            - Tecentriq
          items:
            type: string
        brand_ids:
          type: array
          example:
            - CM-Brand-6089
          description: Brand
          items:
            type: string
        manufacturer_names:
          type: array
          example:
            - Genentech
          items:
            type: string
        manufacturer_ids:
          type: array
          example:
            - CM-Manufacturer-101
          description: Manufacturer
          items:
            type: string
        documents:
          type: object
          properties:
            translated_url:
              type: string
              example: 'https://app.contextmatters.com/translated_documents/813841'
            language:
              type: string
              example: English
            title:
              type: string
              example: Guidance
            url:
              type: string
              example: 'https://contextmatters-production-2.s3.amazonaws.com/uploads/event_document/document/813841/atezolizumab-with-carboplatin-and-nabpaclitaxel-for-untreated-advanced-nonsquamous-nonsmallcell-lung-cancer-terminated-appraisal-pdf-82608963508933.pdf'
            primary:
              type: boolean
              example: true
      required:
        - id
        - updated_at
    Agency:
      title: Agency
      type: object
      properties:
        id:
          type: string
        updated_at:
          type: string
          format: date-time
          example: '2020-03-06T20:43:58+00:00'
        name:
          type: string
        abbreviation:
          type: string
        country_id:
          type: string
      required:
        - id
        - updated_at
    Brand:
      title: Brand
      type: object
      properties:
        id:
          type: string
        updated_at:
          type: string
          format: date-time
          example: '2020-03-06T20:43:58+00:00'
        name:
          type: string
        drug_ids:
          type: array
          items:
            type: string
        manufacturer_ids:
          type: array
          items:
            type: string
    Drug:
      title: Drug
      type: object
      properties:
        id:
          type: string
        updated_at:
          type: string
          format: date-time
          example: '2020-03-06T20:43:58+00:00'
        name:
          type: string
        type:
          type: string
        base_type:
          type: string
        brand_ids:
          type: array
          items:
            type: string
    DiseaseCondition:
      title: DiseaseCondition
      type: object
      properties:
        id:
          type: string
        updated_at:
          type: string
          format: date-time
          example: '2020-03-06T20:43:58+00:00'
        name:
          type: string
        therapeutic_area_ids:
          type: array
          items:
            type: string
    Manufacturer:
      title: Manufacturer
      type: object
      properties:
        id:
          type: string
        updated_at:
          type: string
          format: date-time
          example: '2020-03-06T20:43:58+00:00'
        name:
          type: string
        drug_ids:
          type: array
          items:
            type: string
        brand_ids:
          type: array
          items:
            type: string
    Country:
      title: Country
      type: object
      properties:
        id:
          type: string
        updated_at:
          type: string
          format: date-time
          example: '2020-03-06T20:43:58+00:00'
        name:
          type: string
        code:
          type: string
        agency_ids:
          type: array
          items:
            type: string
    TherapeuticArea:
      title: TherapeuticArea
      type: object
      properties:
        id:
          type: string
        updated_at:
          type: string
          format: date-time
          example: '2020-03-06T20:43:58+00:00'
        name:
          type: string
        disease_condition_ids:
          type: array
          items:
            type: string
    HealthTechnologyAssessment:
      allOf:
        - $ref: '#/components/schemas/Event'
        - type: object
          properties:
            decision:
              type: string
              enum:
                - No decision
                - Do not recommend
                - Recommend
                - Recommend with restrictions
                - Recommend (unknown restrictions)
            decision_reason_clinical:
              type: string
            decision_reason_economic:
              type: string
            restriction_details:
              type: string
            label_id:
              type: string
              example: CM-Event-2717525
              description: RegulatoryLabel
            label_indication:
              type: string
              example: In combination with carboplatin and nab-paclitaxel for the treatment of untreated advanced non-squamous NSCLC.
      title: Health Technology Assessment
      description: |-
        See the [Variable Reference](https://stoplight.io/p/docs/gh/contextmatters/context-matters/docs/03-variables.md) for details regarding specific fields.

        Due to an issue with our documentation service provider, only a partial schema is shown here. Please see the [/healthTechnologyAssessments endpoint](https://stoplight.io/p/docs/gh/contextmatters/context-matters/reference/API.v1.yaml/paths/~1healthTechnologyAssessments/get) for a complete schema.
    RegulatoryLabel:
      allOf:
        - $ref: '#/components/schemas/Event'
        - type: object
          properties:
            decision:
              type: string
              enum:
                - Negative
                - Positive
      title: Regulatory Label
      description: |-
        See the [Variable Reference](https://stoplight.io/p/docs/gh/contextmatters/context-matters/docs/03-variables.md) for details regarding specific fields.

        Due to an issue with our documentation service provider, only a partial schema is shown here. Please see the [/regulatoryLabels endpoint](https://stoplight.io/p/docs/gh/contextmatters/context-matters/reference/API.v1.yaml/paths/~1regulatoryLabels/get) for a complete schema.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []