openapi: 3.0.0
# Added by API Auto Mocking Plugin
servers:
  - description: Lastmile Account Rider API
    url:  https://alb-lastmile-acc-service-1675702599.ap-southeast-1.elb.amazonaws.com
security: 
  - ApiKeyAuth: []
info:
  description: Account Rider API Ver 1.0.2  <br> 1. แก้ไข schema Rider, RiderResponse เพิ่ม companyCode, mobileNo, riderPhoto <br> 2. แก้ไข response API POST/account/riders เพิ่ม properties 'result' <br>  3. เพิ่ม API DELETE /account/riders/{riderId}
  version: "1.0.2"
  title: Account Rider API
paths:
  /account/riders:
    post:
      tags:
        - account rider
      summary: add riders
      operationId: add_riders
      description: บันทึกข้อมูล riders 1.0.2 แก้ไข response เพิ่ม properties 'result'
      responses:
        '200':
          description: update transportation status success
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: string
                    example: '0000'
                  statusMessage:
                    type: string
                    example: 'Success'
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        riderId:
                          type: string
                          example: 'RD001'
                        firstName:
                          type: string
                          example: 'ธนพล'
                        surName: 
                          type: string
                          example: 'จิตนุพงศ์'
                        mobileNo:
                          type: string
                          example: '0920123096'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Rider'
    get:
      tags:
        - account rider
      summary: get rider list
      operationId: get_rider_list
      description: |
        get rider list
      parameters:
        - in: query
          name: stage
          required: true
          schema:
            type: string
            enum: ['active','inactive','unverified']
            example: 'active'
            description: 'สถานะของบัญชี rider'
        - in: query
          name: statusId
          schema:
            type: number
            enum: [1,2,3,4]
            example: 1
            description: 'สถานะของ rider 1=พร้อมให้บริการ 2=กำลังส่งของ 3=พักชั่วคราว 4=ออกจากระบบ'
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: string
                    example: '0000'
                  statusMessage:
                    type: string
                    example: 'Success'
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/RiderResponse'
  /account/riders/status:
    post:
      tags:
        - account rider
      summary: update riders status
      operationId: update_riders_status
      description: |
        อัพเดตสถานะของ rider ที่ stage 'active' อยู่
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  riderId:
                    type: string
                    example: 'RD001'
                  statusId:
                    type: number
                    enum: [1,2,3,4]
                    example: 1
                    description: 'สถานะของ rider 1=พร้อมให้บริการ 2=กำลังส่งของ 3=พักชั่วคราว 4=ออกจากระบบ'
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: string
                    example: '0000'
                  statusMessage:
                    type: string
                    example: 'Success'
  /account/riders/stage:
    post:
      tags:
        - account rider
      summary: update riders stage
      operationId: update_riders_stage
      description: |
        อัพเดตสถานะ account ของ rider ['active','inactive','unverified']
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  riderId:
                    type: string
                    example: 'RD001'
                  stage:
                    type: string
                    enum: ['active','inactive','unverified']
                    example: 'active'
                    description: สถานะของบัญชี rider
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: string
                    example: '0000'
                  statusMessage:
                    type: string
                    example: 'Success'
  /account/riders/{riderId}:
    get:
      tags:
        - account rider
      summary: get rider
      operationId: get_rider
      description: |
        get rider profile
      parameters:
        - in: path
          name: riderId
          description: pass an riderId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: string
                    example: '0000'
                  statusMessage:
                    type: string
                    example: 'Success'
                  result:
                    $ref: '#/components/schemas/RiderResponse'
    put:
      tags:
        - account rider
      summary: update rider
      operationId: update_rider
      description: |
        update rider profile
      parameters:
        - in: path
          name: riderId
          description: pass an riderId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/Rider'
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: string
                    example: '0000'
                  statusMessage:
                    type: string
                    example: 'Success'
    delete:
      tags:
        - account rider
      summary: delete rider
      operationId: delete_rider
      description: |
        delete rider update rider.stage to ['DELETED']
      parameters:
        - in: path
          name: riderId
          description: pass an riderId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: string
                    example: '0000'
                  statusMessage:
                    type: string
                    example: 'Success'
components:
  securitySchemes:
      ApiKeyAuth:
        type: apiKey
        in: header
        name: x-api-key
  schemas:
    Rider:
      type: object
      properties:
        firstName:
          type: string
          example: ธนพล
        surName:
          type: string
          example: จิตนุพงศ์
        birthDate:
          type: string
          format: date
          example: '1987-02-10'
        mobileNo:
          type: string
          example: '0921234567'
          description: 'เบอร์โทรศัพท์ Rider'
        companyCode:
          type: string
          example: CPALL
        riderPhoto:
          type: string
          format: byte
          example: 'data:image/jpeg;base64,/9j/4RiDRXhpZgAATU0AKgA...'
          description: รูป rider image in base64 
        bankAccount:
          type: object
          properties:
            no:
              type: string
              example: 200009
            name:
              type: string
              example: นายธนพล จิตนุพงศ์
            bankName:
              type: string
              example: scb
        idenCard:
          type: object
          required: 
          - id
          - birtDate
          - issueDate
          - endDate
          - photo
          properties:
            id:
              type: string
            birthDate:
              type: string
              format: date
              example: '1987-02-10'
            issueDate:
              type: string
              format: date
              example: '2017-11-02'
            endDate:
              type: string
              format: date
              example: '2017-11-02'
            photo:
              type: string
              format: byte
              example: 'data:image/jpeg;base64,/9j/4RiDRXhpZgAATU0AKgA...'
              description: รูปบัตรประชาชน image in base64 
        emergencyContact:
          type: object
          properties:
            name:
              type: string
              example: 'ปรีดิ์'
            relation:
              type: string
              example: 'ญาติ'       
            mobileNo:
              type: string
              example: 0921234567
        drivingLicenses:
          type: array
          items:
            type: object
            required: 
            - id
            - type
            - issueDate
            - expireDate
            - photo
            properties:
              id:
                type: string
                example: '59120000'
              type:
                type: string
                example: 'รถจักรยานยนต์'
              issueDate:
                type: string
                format: date
                example: '2017-11-10'
              expireDate:
                type: string
                format: date
                example: '2022-11-10'
              photo:
                type: string
                format: byte
                example: 'data:image/jpeg;base64,/9j/4RiDRXhpZgAATU0AKgA...'
                description: รูปใบขับขี่ image in base64
        vehicles:
          type: array
          items:
            type: object
            required:
              - licensePlateNo
              - licensePlateProvice
            properties:
                type:
                  type: string
                  example: 'รถจักรยานยนต์'
                licensePlateNo:
                  type: string
                  example: '9กก9999'
                licensePlateProvice:
                  type: string
                  example: 'กรุงเทพมหานคร'
                licenseType:
                  type: string
                  example: 'รถจักรยานยนต์ส่วนบุคคล'
                brand:
                  type: string
                  example: 'Honda'
                model:
                  type: string
                  example: 'cb500x'
                colour:
                  type: string
                  example: 'ขาว'
                insureIssueDate:
                  type: string
                  format: date
                  example: '2020-01-01'
                insureEndDate:
                  type: string
                  format: date
                  example: '2021-01-01'
                ownershipHolder:
                  type: string
                  example: 'บริษัทอยุธยาแคปปิตอล ออโต้ ลีส จำกัด (มหาชน)'
                  description: ผู้ถือกรรมสิทธิ
                ownership:
                  type: string
                  example: 'ธนพล จิตนุพงศ์'
                  description: ผู้ครอบครอง
                taxPaidDate:
                  type: string
                  format: date
                  example: '2020-01-01'
                taxDueDate:
                  type: string
                  format: date
                  example: '2021-01-01'
                registBookPhoto:
                  type: string
                  format: byte
                  example: 'data:image/jpeg;base64,/9j/4RiDRXhpZgAATU0AKg....'
                  description: รูปเล่มทะเบียน image in base64
                taxLabelPhoto:
                  type: string
                  format: byte
                  example: 'data:image/jpeg;base64,/9j/4RiDRXhpZgAATU0AKg....'
                  description: รูปป้ายภาษี image in base64
    RiderResponse:
      type: object
      required:
        - riderId
        - firstName
        - surName
        - statusId
        - stage
      properties:
        riderId:
          type: string
          example: 'RD001'
        firstName:
          type: string
          example: ธนพล
        surName:
          type: string
          example: จิตนุพงศ์
        birthDate:
          type: string
          format: date
          example: '1987-02-10'
        mobileNo:
          type: string
          example: '0921234567'
          description: 'เบอร์โทรศัพท์ Rider'
        companyCode:
          type: string
          example: CPALL
        riderPhoto:
          type: string
          format: byte
          example: 'data:image/jpeg;base64,/9j/4RiDRXhpZgAATU0AKgA...'
          description: รูป rider image in base64 
        statusId:
          type: number
          enum: [1,2,3,4]
          example: 1
          description: 'สถานะของ rider 1=พร้อมให้บริการ 2=กำลังส่งของ 3=พักชั่วคราว 4=ออกจากระบบ'
        stage:
          type: string
          enum: ['active','inactive','unverified']
          example: 'active'
          description: สถานะของบัญชี rider
        bankAccount:
          type: object
          properties:
            no:
              type: string
              example: 200009
            name:
              type: string
              example: นายธนพล จิตนุพงศ์
            bankName:
              type: string
              example: scb
        idenCard:
          type: object
          required: 
          - id
          - birthDate
          - issueDate
          - endDate
          - photo
          properties:
            id:
              type: string
            birthDate:
              type: string
              format: date
              example: '1987-02-10'
            issueDate:
              type: string
              format: date
              example: '2017-11-02'
            endDate:
              type: string
              format: date
              example: '2017-11-02'
            photo:
              type: string
              format: byte
              example: 'data:image/jpeg;base64,/9j/4RiDRXhpZgAATU0AKgA...'
              description: รูปบัตรประชาชน image in base64 
        emergencyContact:
          type: object
          properties:
            name:
              type: string
              example: 'ปรีดิ์'
            relation:
              type: string
              example: 'ญาติ'       
            mobileNo:
              type: string
              example: 0921234567
        drivingLicenses:
          type: array
          items:
            type: object
            required: 
            - id
            - type
            - issueDate
            - expireDate
            - photo
            properties:
              id:
                type: string
                example: '59120000'
              type:
                type: string
                example: 'รถจักรยานยนต์'
              issueDate:
                type: string
                format: date
                example: '2017-11-10'
              expireDate:
                type: string
                format: date
                example: '2022-11-10'
              photo:
                type: string
                format: byte
                example: 'data:image/jpeg;base64,/9j/4RiDRXhpZgAATU0AKgA...'
                description: รูปใบขับขี่ image in base64
        vehicles:
          type: array
          items:
            type: object
            required:
              - licensePlateNo
              - licensePlateProvice
            properties:
                type:
                  type: string
                  example: 'รถจักรยานยนต์'
                licensePlateNo:
                  type: string
                  example: '9กก9999'
                licensePlateProvice:
                  type: string
                  example: 'กรุงเทพมหานคร'
                licenseType:
                  type: string
                  example: 'รถจักรยานยนต์ส่วนบุคคล'
                brand:
                  type: string
                  example: 'Honda'
                model:
                  type: string
                  example: 'cb500x'
                colour:
                  type: string
                  example: 'ขาว'
                insureIssueDate:
                  type: string
                  format: date
                  example: '2020-01-01'
                insureEndDate:
                  type: string
                  format: date
                  example: '2021-01-01'
                ownershipHolder:
                  type: string
                  example: 'บริษัทอยุธยาแคปปิตอล ออโต้ ลีส จำกัด (มหาชน)'
                  description: ผู้ถือกรรมสิทธิ
                ownership:
                  type: string
                  example: 'ธนพล จิตนุพงศ์'
                  description: ผู้ครอบครอง
                taxPaidDate:
                  type: string
                  format: date
                  example: '2020-01-01'
                taxDueDate:
                  type: string
                  format: date
                  example: '2021-01-01'
                registBookPhoto:
                  type: string
                  format: byte
                  example: 'data:image/jpeg;base64,/9j/4RiDRXhpZgAATU0AKg....'
                  description: รูปเล่มทะเบียน image in base64
                taxLabelPhoto:
                  type: string
                  format: byte
                  example: 'data:image/jpeg;base64,/9j/4RiDRXhpZgAATU0AKg....'
                  description: รูปป้ายภาษี image in base
