openapi: 3.0.1
info:
  version: "2.0"
  title: SupplyStream API
  description: >-
    This is the API for accessing data on Indigenous Suppliers registered with
    Supply Nation. This is an API for premium Supply Nation Members only and
    requires an account issued by Supply Nation.

paths:

  /oauth2/token:
    post:
      summary: Authenticate with the API and get security token
      description: Login with credentials and get a security token to use on subsequent requests (as a Bearer token in the Authorisation header).
      requestBody: 
        content: 
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LoginForm'      
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'

  /apexrest/impact/public/v2/supplier:
    get:
      summary: Get registered supplier information
      description: Retrieve the list of registered Supply Nation suppliers (and their activity) for your states.  Your states will be set up for you by Supply Nation.
      security: 
        - bearerAuth: []
      parameters:
        - in: query
          name: next
          required: false
          schema:
            type: string
          description: >-
            The token for the next page of data to retrieve, as provided in the
            response from the previous request. Leave this parameter blank when
            doing the initial request (i.e. the first page of data).
        - in: query
          name: modifiedAfter
          required: false
          schema:
            type: string
          description: >-
            Only retrieve records modified after this date.  Please provide the date as a URL encoded String as returned in the timestamp from a previous update i.e. "timestamp": "2019-08-28T05:13:31.901Z".  Suppliers that are no longer approved will have a status of invalid.  Please remove from your local store.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'

servers:
  - url: https://supplynation.my.salesforce.com/services
    description: Production server
  - url: https://supplynation--staging.cs5.my.salesforce.com/services
    description: Sandbox server (uses test data)

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      
  schemas:
  
    LoginForm:
      type: object
      properties:
        grant_type: 
          type: string
          enum:
            - password
          description: Always set this to 'password'.
        client_id:
          type: string
          description: The secure client ID provided to you by Supply Nation.
        client_secret:
          type: string
          description: The secure client 'secret' provided to you by Supply Nation.
        username:
          type: string
          description: The secure password provided to you by Supply Nation.
        password:
          type: string
          description: The secure password provided to you by Supply Nation.

    LoginResponse:
      type: object
      properties:
        access_token: 
          type: string
          description: The security token to use as the Bearer Authorisation for all subsequent requests now that you are logged in.
        instance_url:
          type: string
          description: The URL of the server authenitcated against.
        id:
          type: string
          description: The unique instance ID.
        token_type:
          type: string
          description: The type of token (this will be "Bearer").
        issued_at:
          type: string
          description: Timestamp of when the token was issued.
        signature: 
          type: string
          description: Signature of the token.

    Supplier:
      type: object
      properties:
        abn:
          type: string
          description: The ABN of the Supplier.
        accountName:
          type: string
          description: The name of the Supplier.
        annualRevenue:
          type: string
          description: A descriptive reference of the annual revenue for this Supplier (as reported to Supply Nation). This can be a range.
        billingAddress:
          type: object
          description: The billing Address for this Supplier (as reported to Supply Nation).
          properties:
            street:
              type: string
            city:
              type: string
            state:
              type: string
            postalCode:
              type: string
            country:
              type: string
        businessSummary:
          type: string
          description: The business summary and value proposition if the business.
        businessType:
          type: string
          description: The structure of the business (as reported to Supply Nation).
        certified:
          type: boolean
          description: Returns true if the Supplier is certified by Supply Nation (vs just being a registered Supplier).
        geographicReach:  
          type: string
          description: Denotes the geographical reaach the business can service if local area is chosen. 
        ibdProfileLink:
          type: string
          description: A URL hyperlink direct to this Supplier's profile on IBD (Supply Nation\'s Indigenous Business Directory).
        internationallyRecognisedCertification:
          type: string
          description: The internationally recognisied certifications held by this Supplier i.e. ISO certifications.
        iServiceAllAustralia:  
          type: boolean
          description: Denotes business can service all of Australia.   
        latitude:
          type: number
          description: Latitude of the business address.
        locationCoverage:
          type: string
          description: Denoted the location coverage of the business (Serices all Australia, states or local area).
        longitude:  
          type: number
          description: Longitude of the business address.
        mainIndustry:
          type: string
          description: The main industry that the Supplier provides services in based on where they are most active (as reported to Supply Nation).
        numOfEmployees:
          type: integer
          description: The number of employees this Supplier has (as reported to Supply Nation).
        numOfFteIndigenousEmployees:
          type: number
          description: The number of full-time employees who are Indigenous that this Supplier has (as reported to Supply Nation).
        otherAddresses:
          type: array
          description: The addtional addresses for this Supplier (as reported to Supply Nation).
          items:
              $ref: '#/components/schemas/Address'
        phone:
          type: string
          description: Main phone number of the business.
        primaryContact:
          type: object
          description: Primary contact of the business.
          properties:
            name:
              type: string
            email:
              type: string
        remoteRural:  
           type: string
           description: Denotes if the business is located in a Remote or Rural area.
        servicesDelivered:
          type: array
          description: A list of services delivered by the supplier
          items:
              $ref: '#/components/schemas/BusinessActivity'
        statesBusinessSevices:
           type: string
           description: Denotes the states the business can service.
        supplierId:
          type: string
          description: The supplier ID.
        tradingName:
          type: string
          description: The trading name of the Supplier.
        valid:
          type: boolean
          description: A flag to determine whether they are currently an 'approved' supplier.  Suppliers with an invalid flag are currently not an approved SN indigenous supplier
        website:
          type: string
          description: Website link for the business.
         
    Address:
      type: object
      properties:
        street:
          type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string      

    
    BusinessActivity:
      type: object
      properties:
        businessActivityId:
          type: string
          description: The ID of the Business Activity.
        industry:
          type: string
          description: The industry for the business activity.
        sectorName:
          type: string
          description: The name of the sector the business activity relates to.
        sectorId:
          type: string
          description: The database ID of the sector the business activity relates to.
        serviceName:
          type: string
          description: The name of the service for the business activity.
        serviceId:
          type: string
          description: The database ID of the service for the business activity.
        unspsCode:
          type: string
          description: The UNSPS Code for the business activity.
        isTop5Service:
          type: boolean
          description: Returns true if this Business Activity is one of the top 5 services for the Supplier that provided it.
