openapi: 3.0.0
info:
  version: '1.0.0'
  title: 'API para la autorización de una venta'
  description: 'API que permite la autorización de una venta'
  termsOfService: http://www.visanet.com.pe
  contact:
    name: VisaNet
    url: http://www.visanet.com.pe
    email: integraciones.visanet@necomplus.com
  x-logo:
    url: http://www.ligaempresasperu.com/Images/Equipos/IMGEQU00000230.png
    altText: Logo de VisaNet
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
externalDocs:
  description: Página Web de VisaNet
  url: http://www.visanet.com.pe
tags:
  - name: Autorización
    description: RESTful API Autorización
x-tagGroups:
  - name: General
    tags:
      - Autorización

servers:
- url: https://apitestenv.vnforapps.com/api.authorization/v3
  description: Url que corresponde al entorno de integración
- url: https://apiprod.vnforapps.com/api.authorization/v3
  description: Url que corresponde al entorno de producción

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token de acceso obtenido en la respuesta del api.security
  schemas:
    CurrencyConversion:
      type: object
      description: Entidad que representa información relacionada a la conversión DCC
      required:
        - accepted
        - eligibilityCode
        - currencyCode
        - currencyCodeAlpha
        - amount
        - exponent
        - exchangeRate
        - wholeSaleRate
        - markup
        - rateSource
        - rateDate
        - rateTime
        - status
        - signature
      properties:
        accepted:
          description: Indica si en la venta se usará o no DCC
          type: boolean
          example: true
        eligibilityCode:
          description: |
            Valor retornado en la respuesta a la consulta de elegibilidad. Puede ser uno de los siguientes valores:
            - `0` Requerimiento DCC ha sido aceptado
            - `1` El requerimiento DCC ha sido rechazado basado en un error. Verifique los códigos de error para más detalle
            - `2` La tarjeta no fue encontrada en la CRT por lo que no puede ser considerada para DCC
            - `3` DCC no está permitido para la tarjeta
            - `4` No se requirió el servicio DCC
          type: string
          minLength: 1
          maxLength: 1
          example: "0"
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
        currencyCode:
          description: Código de moneda DCC. El código de moneda aplicable al PAN. Este valor se encuentra en la búsqueda CRT (ISO 4217)
          type: string
          minLength: 3
          maxLength: 3
          example: "840"
        currencyCodeAlpha:
          description: Código de moneda DCC en texto. El código de moneda expresado en texto, esto ayudará a la presentación de la oferta DCC
          type: string
          minLength: 3
          maxLength: 3
          example: USD
        amount:
          description: Importe en moneda DCC. El monto en la moneda extranjera en la menor unidad de la moneda extranjera
          type: number
          format: double
          multipleOf: 0.01
          example: 3.14
        exponent:
          description: El exponente extranjero utilizado en dar formato al monto
          type: integer
          format: int32
          example: 2
        exchangeRate:
          description: Factor por el que el monto local es multiplicado para obtener el monto DCC
          type: number
          format: double
          multipleOf: 0.0001
          example: 0.3136
        wholeSaleRate:
          description: Tasa de conversión antes de que se aplique la comisión
          type: number
          format: double
          multipleOf: 0.000000000000001
          example: 0.302995169082125
        markup:
          description: Margen de beneficio aplicado a toda la tasa de venta
          type: number
          format: double
          multipleOf: 0.01
          example: 3.5
        rateSource:
          description: Nombre del origen de las tarifas extranjeras
          type: string
          minLength: 1
          maxLength: 12
          example: Fintrax
        rateDate:
          description: Fecha en la que se obtuvo el tipo de cambio. Expresado como yyMMdd
          type: string
          minLength: 6
          maxLength: 6
          example: "190514"
        rateTime:
          description: Hora en la que se obtuvo el tipo de cambio. Expresado como hhMMss
          type: string
          minLength: 6
          maxLength: 6
          example: "142616"
        status:
          description: Estado obtenido en la consulta de elegibilidad DCC
          type: string
          minLength: 1
          maxLength: 15
          example: Authorized
          enum:
            - Authorized
            - Not Authorized
        signature:
          description: Llave generada en la consulta de elegibilidad DCC
          type: string
          minLength: 41
          maxLength: 41
          example: 662E6F89723CCFF2AF4928FB05A2D2F6B6813974
    OrderRQ:
      type: object
      description: Entidad que representa la información del pedido
      required:
        - purchaseNumber
        - amount
        - currency
      properties:
        tokenId:
          description: Id del token de transacción obtenido en la respuesta a la validación antifraude o del formulario de pago. Es de ingreso obligatorio si se utilizó en un paso previo la API antifraude o el botón de pago
          type: string
          minLength: 32
          maxLength: 32
          example: "DE2E3AF7C8494278AE3AF7C849027853"
        productId:
          description: Código del producto para la afiliación. Es de ingreso obligatorio si se está registrando una afiliación recurrente
          type: string
          minLength: 1
          maxLength: 10
          example: "320"
        purchaseNumber:
          description: Número de pedido generado por el comercio
          type: number
          example: 1234567890
        amount:
          description: Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales
          type: number
          format: double
          multipleOf: 0.01
          example: 12.35
        installment:
          description: Número de cuotas en que se realizará el pago
          type: integer
          format: int32
          example: 2
        currency:
          description: Código de moneda en la que se ejecuta la transacción
          type: string
          minLength: 3
          maxLength: 3
          example: PEN
          enum:
            - PEN
            - USD
        externalTransactionId:
          description: Identificador único de transacción enviado por el comercio
          type: string
          format: uuid
          example: "76dda510-0088-4b82-bed2-4b4225187690"
    Card:
      type: object
      description: Entidad que representa información de la tarjeta
      required:
        - cardNumber
        - expirationMonth
        - expirationYear
      properties:
        cardNumber:
          description: Número de tarjeta / (No se envía para una tarjeta tokenizada)
          type: string
          minLength: 14
          maxLength: 16
          example: "4551478422045511"
        expirationMonth:
          description: Mes de expiración de la tarjeta / (No se envía para una tarjeta tokenizada)
          type: integer
          format: int32
          example: 12
        expirationYear:
          description: Año de expiración de la tarjeta / (No se envía para una tarjeta tokenizada)
          type: integer
          format: int32
          example: 2021
        tokenId:
          description: Token de la tarjeta generado por el formulario de tokenización. Solo para comercios con flujo de tokenización.
          type: string
          minLength: 14
          maxLength: 16
          example: "7000010000000848"
        cvv2:
          description: Número de CVV2 de la tarjeta
          type: string
          minLength: 3
          maxLength: 4
          example: "329"
        registerFrequent:
          description:  Indicador de Card on File (CoF). Se activa para indicar que la tarjeta ha sido registrada para uso frecuente.
          type: boolean
          example: true
        useFrequent:
          description: Indicador de Card on File (CoF). Se activa para indicar que se está usando una tarjeta previamente registrada para uso frecuente.
          type: boolean
          example: true
    CardHolder:
      type: object
      description: Entidad que representa la información del tarjetahabiente
      required:
        - firstName
        - lastName
        - email
        - phoneNumber
      properties:
        firstName:
          description: Nombres del tarjetahabiente
          type: string
          minLength: 1
          maxLength: 25
          example: "Juan"
        lastName:
          description: Apellidos del tarjetahabiente
          type: string
          minLength: 1
          maxLength: 50
          example: "Crespo"
        email:
          description: Correo electrónico del tarjetahabiente
          type: string
          minLength: 1
          maxLength: 35
          example: "juan.c@latinmail.com"
        phoneNumber:
          description: Teléfono del tarjetahabiente
          type: string
          minLength: 1
          maxLength: 10
          example: "5112223333"
        documentType:
          description: |
            Tipo de documento del tarjetahabiente. Campo obligatorio para una operación tipo recurrente. Puede ser uno de los siguientes valores:
            - `0` DNI
            - `1` Canet de extranjería
            - `2` Pasaporte
          type: string
          minLength: 1
          maxLength: 1
          example: "0"
          enum:
            - 0
            - 1
            - 2
        documentNumber:
          description: Número de documento del tarjetahabiente. Campo obligatorio para una operación tipo recurrente
          type: string
          minLength: 8
          maxLength: 12
          example: "40315149"
    Sponsored:
      type: object
      description: Entidad que representa información relacionada al comercio hijo. Es de ingreso obligatorio si se esta integrando un facilitador de pagos
      required:
        - merchantId
        - name
        - mcci
        - address
        - phoneNumber
      properties:
        merchantId:
          description: Código de comercio hijo
          type: string
          minLength: 9
          maxLength: 9
          example: "406123567"
        name:
          description: Nombre de comercio hijo
          type: string
          minLength: 1
          maxLength: 25
          example: "Netflix"
        mcci:
          description: MCC internacional de comercio hijo
          type: string
          minLength: 4
          maxLength: 4
          example: "0425"
        address:
          description: Dirección de comercio hijo
          type: string
          minLength: 1
          maxLength: 50
          example: "Av. Pardo 323 Lima Perú"
        phoneNumber:
          description: Teléfono de comercio hijo
          type: string
          minLength: 1
          maxLength: 10
          example: "2132300"
    Authentication:
      type: object
      description: Entidad que representa información relacionada a la autenticación en Verified by Visa. Es de ingreso obligatorio si el atributo channel es `pasarela` y el valor ECI obtenido en la autenticación es `ECI 05` o `ECI 06`
      required:
        - eci
        - xid
        - cavv
      properties:
        eci:
          description: |
            Valor ECI del proceso de validación de la marca. Indica el resultado de la autenticación:
            - `05` Transacción autenticada
            - `06` Comercio intentó autenticación, pero TH no está participando
          type: string
          minLength: 2
          maxLength: 2
          example: "05"
          enum:
            - 05
            - 06
        xid:
          description: Valor XID del proceso de validación de la marca. Identificador único de la transacción
          type: string
          minLength: 20
          maxLength: 20
          example: "55620190222103928509"
        cavv:
          description: Valor CAVV del proceso de validación de la marca. Valor de verificación de la autenticación del titular de la tarjeta
          type: string
          minLength: 40
          maxLength: 40
          example: "0000010148677336601400453067730000000000"
    Header:
      type: object
      description: Entidad que representa el encabezado de respuesta a la petición
      properties:
        ecoreTransactionUUID:
          description: Identificador único de transacción para la plataforma
          type: string
          format: uuid
          example: "76dda510-0088-4b82-bed2-4b4225187690"
        ecoreTransactionDate:
          description: Fecha de la operación expresada en formato UNIX TimeStamp
          type: string
          example: 1550355747781
        millis:
          description: Tiempo de ejecución de la operación
          type: integer
          format: int32
          example: 294
    Fulfillment:
      type: object
      description: Entidad que representa información complementaria al pedido
      properties:
        channel:
          description: |
            Canal desde donde se originó la operación. Puede ser uno de los siguientes valores:
            - `web` Si son operaciones realizadas con el botón de pago web
            - `mobile` Si son operaciones realizadas con la librería de pago app
            - `pasarela` Si son operaciones realizadas con la API de autorización para el producto comercio electrónico
            - `callcenter` Si son operaciones realizadas con la API de autorización para el producto telepago
          type: string
          example: pasarela
          enum:
            - web
            - mobile
            - pasarela
            - callcenter
        merchantId:
          description: Código de comercio VisaNet al cual pertenece la transacción
          type: string
          minLength: 9
          maxLength: 9
          example: "341198210"
        terminalId:
          description: Número de terminal asociado a la transacción
          type: string
          minLength: 1
          maxLength: 8
          example: "1"
        captureType:
          description: Tipo de captura en el canal. Siempre es el valor `manual`
          type: string
          minLength: 6
          maxLength: 6
          example: "manual"
        countable:
          description: Indica si la venta es contable `true` o no contable `false`
          type: boolean
          example: true
        fastPayment:
          description: Indica si la venta es pago rápido `true` o no es pago rápido `false`
          type: boolean
          example: false
        signature:
          description: Código único generado por el sistema VisaNet al momento de la venta
          type: string
          format: uuid
          example: "2fe2272c-76ec-4526-ac53-f3b2df94d98b"
    DataMap:
      type: object
      description: Entidad que representa información complementaria del pedido
      properties:
        CURRENCY:
          description: Código numérico de moneda en la que se ejecuta la transacción
          type: string
          minLength: 4
          maxLength: 4
          example: "0604"
        TRANSACTION_DATE:
          description: Fecha de la transacción expresada en formato nativo yyMMddHHmmSS
          type: string
          example: "190216172227"
        ACTION_CODE:
          description: Código que identifica la acción a tomar o tomada, así como la razón de la misma. Define la respuesta a la petición de autorización realizada
          type: string
          minLength: 3
          maxLength: 3
          example: "000"
        TRACE_NUMBER:
          description: Número asignado para identificar de forma unívoca a la transacción
          type: string
          minLength: 1
          maxLength: 6
          example: "77821"
        ECI_DESCRIPTION:
          description: Descripción del código ECI asociado a la autenticación de la transacción
          type: string
          minLength: 1
          maxLength: 100
          example: "Transaccion no autenticada pero enviada en canal seguro"
        ECI:
          description: Código ECI asociado a la autenticación de la transacción
          type: string
          minLength: 2
          maxLength: 2
          example: "07"
        CARD:
          description: Número de tarjeta enmascarado usada en la venta
          type: string
          minLength: 14
          maxLength: 16
          example: "457033******4330"
        MERCHANT:
          description: Código de comercio VisaNet al cual pertenece la transacción
          type: string
          minLength: 9
          maxLength: 9
          example: "341198210"
        STATUS:
          description: Descripción del estado de la transacción
          type: string
          minLength: 1
          maxLength: 20
          example: "Authorized"
          enum:
            - Authorized
            - Not Authorized
            - Confirmed
            - Not Confirmed
            - Verified
            - Not Verified
            - Voided
            - Not Voided
            - Reject
            - Review
        ADQUIRENTE:
          description: Nombre de identificación del adquirente. Identifica el punto donde se origina la transacción
          type: string
          minLength: 1
          maxLength: 15
          example: "visanet"
          enum:
            - visanet
            - procesos-mc
        BIN:
          description: Número de BIN de la tarjeta usada en la venta. Son los 6 primeros dígitos de una tarjeta
          type: string
          minLength: 6
          maxLength: 6
          example: "457033"
        BRAND:
          description: Marca de la tarjeta usada en la venta
          type: string
          minLength: 1
          maxLength: 15
          example: "visa"
          enum:
            - visa
            - amex
            - mastercard
            - dinersclub
        SETTLEMENT:
          description: Indica si la operación esta o no esta liquidada
          type: string
          minLength: 1
          maxLength: 20
          example: "Pending"
          enum:
            - Not Applicable
            - Pending
            - Automatic
            - Completed
        ACTION_DESCRIPTION:
          description: Texto descriptivo de la autorización o denegación
          type: string
          minLength: 1
          maxLength: 100
          example: "Aprobado y completado con exito"
        ID_UNICO:
          description: Identificador de la transacción asociado a la autorización
          type: string
          minLength: 15
          maxLength: 15
          example: "990172014359425"
        AMOUNT:
          description: Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales
          type: number
          format: double
          multipleOf: 0.01
          example: "12.35"
        AUTHORIZED_AMOUNT:
          description: Importe del pedido confirmado. Precisión hasta 8 valores enteros con 2 decimales
          type: number
          format: double
          multipleOf: 0.01
          example: "12.35"
        TRANSACTION_ID:
          description: Identificador de la transacción asociado a la autorización
          type: string
          minLength: 15
          maxLength: 15
          example: "990172014359425"
        AUTHORIZATION_CODE:
          description: Código de autorización asignado a la aprobación de la transacción por la entidad resolutora
          type: string
          minLength: 1
          maxLength: 6
          example: "170921"
        CARD_TOKEN:
          description: Token identificador del objeto tokenizado
          type: string
          minLength: 16
          maxLength: 16
          example: "7000010032209946"
        VAULT_BLOCK:
          description: Valor del campo por el cual se tokenizo la tarjeta
          type: string
          minLength: 1
          maxLength: 100
          example: "jperez@visanet.com.pe"
        QUOTA_NUMBER:
          description: Número de cuotas en que se realizó la venta
          type: integer
          format: int32
          example: "0"
        QUOTA_AMOUNT:
          description: Importe aproximado del valor de cuota. Precisión hasta 8 valores enteros con 2 decimales
          type: number
          format: double
          multipleOf: 0.01
          example: "0.00"
        QUOTA_DEFERRED:
          description: Indica si el pago en cuotas debe procesarse con pagos en diferido. `0`, el pago no se procesa en diferido y `1 o 2`, el pago se procesa en diferido
          type: integer
          format: int32
          example: "0"
        QUOTA_NI_PROGRAM:
          description: Código de programa para cuota sin intereses
          type: integer
          format: int32
          example: "0"
        QUOTA_NI_TYPE:
          description: Indicador de tipo de cobro para cuotas sin intereses. `0`, cobro como porcentaje y `1`, cobro como importe
          type: integer
          format: int32
          example: "0"
        QUOTA_NI_AMOUNT:
          description: Valor asociado al tipo de cobro para cuotas sin intereses
          type: number
          format: double
          multipleOf: 0.01
          example: "0.00"
        QUOTA_NI_DISCOUNT:
          description: Porcentaje de descuento que corresponde al emisor por el programa cuota sin intereses
          type: number
          format: double
          multipleOf: 0.01
          example: "0.00"
        QUOTA_NI_MESSAGE:
          description: Mensaje asociado al cobro para cuota sin intereses
          type: string
          minLength: 1
          maxLength: 50
          example: ""
    OrderRS:
      type: object
      description: Entidad que representa la información del pedido
      properties:
        tokenId:
          description: Id del token de transacción obtenido en la respuesta a la validación antifraude o del formulario de pago. Es de ingreso obligatorio si se utilizó en un paso previo la API antifraude o el botón de pago
          type: string
          minLength: 32
          maxLength: 32
          example: "DE2E3AF7C8494278AE3AF7C849027853"
        productId:
          description: Código del producto para la afiliación. Es de ingreso obligatorio si se está registrando una afiliación recurrente
          type: string
          minLength: 1
          maxLength: 10
          example: "320"
        purchaseNumber:
          description: Número de pedido generado por el comercio
          type: string
          minLength: 1
          maxLength: 12
          example: "1234567890"
        amount:
          description: Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales
          type: number
          format: double
          multipleOf: 0.01
          example: 12.35
        installment:
          description: Número de cuotas en que se realizará el pago
          type: integer
          format: int32
          example: 2
        currency:
          description: Código de moneda en la que se ejecuta la transacción
          type: string
          minLength: 3
          maxLength: 3
          example: PEN
          enum:
            - PEN
            - USD
        externalTransactionId:
          description: Identificador único de transacción enviado por el comercio
          type: string
          format: uuid
          example: "76dda510-0088-4b82-bed2-4b4225187690"
        authorizedAmount:
          description: Importe del pedido confirmado. Precisión hasta 8 valores enteros con 2 decimales
          type: number
          format: double
          multipleOf: 0.01
          example: 12.35
        authorizationCode:
          description: Código de autorización asignado a la aprobación de la transacción por la entidad resolutora
          type: string
          minLength: 1
          maxLength: 6
          example: "170921"
        actionCode:
          description: Código que identifica la acción a tomar o tomada, así como la razón de la misma. Define la respuesta a la petición de autorización realizada
          type: string
          minLength: 3
          maxLength: 3
          example: "000"
        traceNumber:
          description: Número asignado para identificar de forma unívoca a la transacción
          type: string
          minLength: 1
          maxLength: 6
          example: "77821"
        transactionDate:
          description: Fecha de la transacción expresada en formato nativo yyMMddHHmmSS
          type: string
          example: "190216172227"
        transactionId:
          description: Identificador de la transacción asociado a la autorización
          type: string
          minLength: 15
          maxLength: 15
          example: "990172014359425"
    Recurrence:
      type: object
      description: Entidad que representa información relacionada a la afiliación en el sistema recurrente VisaNet
      required:
        - beneficiaryId
        - beneficiaryFirstName
        - beneficiaryLastName
        - frequency
        - amount
        - maxAmount
        - type
      properties:
        beneficiaryId:
          description: Identificador del beneficiario
          type: string
          minLength: 1
          maxLength: 15
          example: "406123567"
        beneficiaryFirstName:
          description: Nombres del beneficiario
          type: string
          minLength: 1
          maxLength: 20
          example: "Juan"
        beneficiaryLastName:
          description: Apellidos del beneficiario
          type: string
          minLength: 1
          maxLength: 50
          example: "Perez"
        frequency:
          description: |
            Frecuencia de pago recurrente:
            - `MONTHLY` Periodicidad mensual
            - `QUARTERLY` Periodicidad trimestral
            - `BIANNUAL` Periodicidad semestral
            - `ANNUAL` Periodicidad anual
          type: string
          example: "MONTHLY"
          enum:
            - MONTHLY
            - QUARTERLY
            - BIANNUAL
            - ANNUAL
        amount:
          description: Importe del cargo para la afiliación a registrar. Precisión hasta 8 valores enteros con 2 decimales
          type: number
          format: double
          multipleOf: 0.01
          example: 2.35
        maxAmount:
          description: Importe máximo para los cargos de la afiliación a registrar. Precisión hasta 8 valores enteros con 2 decimales
          type: number
          format: double
          multipleOf: 0.01
          example: 20.00
        type:
          description: |
            Tipo de pago recurrente:
            - `FIXED` Recurrencia fija
            - `VARIABLE` Recurrencia variable
            - `FIXEDINITIAL` Recurrencia fija más pago inicial
            - `VARIABLEINITIAL` Recurrencia variable más pago inicial
          type: string
          example: "FIXED"
          enum:
            - FIXED
            - VARIABLE
            - FIXEDINITIAL
            - VARIABLEINITIAL
    TokenRS:
      type: object
      description: Entidad que representa información de la tokenización para la tarjeta utilizada
      properties:
        tokenId:
          description: Token identificador del objeto tokenizado
          type: string
          minLength: 16
          maxLength: 16
          example: "7000010032209946"
        ownerId:
          description: Valor del campo por el cual se tokenizo la tarjeta
          type: string
          minLength: 1
          maxLength: 100
          example: "jperez@visanet.com.pe"
        expiration:
          description: Fecha de caducidad del token expresado en formato nativo yyMMddHHmmSS
          type: string
          example: "191023160647"
    Data:
      type: object
      description: Entidad que representa información complementaria del pedido
      properties:
        CURRENCY:
          description: Código numérico de moneda en la que se ejecuta la transacción
          type: string
          minLength: 4
          maxLength: 4
          example: "0604"
        TRANSACTION_DATE:
          description: Fecha de la transacción expresada en formato nativo yyMMddHHmmSS
          type: string
          example: "190216172227"
        ACTION_CODE:
          description: Código que identifica la acción a tomar o tomada, así como la razón de la misma. Define la respuesta a la petición de autorización realizada
          type: string
          minLength: 3
          maxLength: 3
          example: "000"
        TRACE_NUMBER:
          description: Número asignado para identificar de forma unívoca a la transacción
          type: string
          minLength: 1
          maxLength: 6
          example: "77821"
        ECI_DESCRIPTION:
          description: Descripción del código ECI asociado a la autenticación de la transacción
          type: string
          minLength: 1
          maxLength: 100
          example: "Transaccion no autenticada pero enviada en canal seguro"
        ECI:
          description: Código ECI asociado a la autenticación de la transacción
          type: string
          minLength: 2
          maxLength: 2
          example: "07"
        CARD:
          description: Número de tarjeta enmascarado usada en la venta
          type: string
          minLength: 14
          maxLength: 16
          example: "457033******4330"
        MERCHANT:
          description: Código de comercio VisaNet al cual pertenece la transacción
          type: string
          minLength: 9
          maxLength: 9
          example: "341198210"
        STATUS:
          description: Descripción del estado de la transacción
          type: string
          minLength: 1
          maxLength: 20
          example: "Authorized"
          enum:
            - Authorized
            - Not Authorized
            - Confirmed
            - Not Confirmed
            - Verified
            - Not Verified
            - Voided
            - Not Voided
            - Reject
            - Review
        ADQUIRENTE:
          description: Nombre de identificación del adquirente. Identifica el punto donde se origina la transacción
          type: string
          minLength: 1
          maxLength: 15
          example: "visanet"
          enum:
            - visanet
            - procesos-mc
        BIN:
          description: Número de BIN de la tarjeta usada en la venta. Son los 6 primeros dígitos de una tarjeta
          type: string
          minLength: 6
          maxLength: 6
          example: "457033"
        BRAND:
          description: Marca de la tarjeta usada en la venta
          type: string
          minLength: 1
          maxLength: 15
          example: "visa"
          enum:
            - visa
            - amex
            - mastercard
            - dinersclub
        SETTLEMENT:
          description: Indica si la operación esta o no esta liquidada
          type: string
          minLength: 1
          maxLength: 20
          example: "Pending"
          enum:
            - Not Applicable
            - Pending
            - Automatic
            - Completed
        ACTION_DESCRIPTION:
          description: Texto descriptivo de la autorización o denegación
          type: string
          minLength: 1
          maxLength: 100
          example: "Aprobado y completado con exito"
        ID_UNICO:
          description: Identificador de la transacción asociado a la autorización
          type: string
          minLength: 15
          maxLength: 15
          example: "990172014359425"
        AMOUNT:
          description: Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales
          type: number
          format: double
          multipleOf: 0.01
          example: "12.35"
        AUTHORIZED_AMOUNT:
          description: Importe del pedido confirmado. Precisión hasta 8 valores enteros con 2 decimales
          type: number
          format: double
          multipleOf: 0.01
          example: "12.35"
        TRANSACTION_ID:
          description: Identificador de la transacción asociado a la autorización
          type: string
          minLength: 15
          maxLength: 15
          example: "990172014359425"
        AUTHORIZATION_CODE:
          description: Código de autorización asignado a la aprobación de la transacción por la entidad resolutora
          type: string
          minLength: 1
          maxLength: 6
          example: "170921"
        QUOTA_NUMBER:
          description: Número de cuotas en que se realizó la venta
          type: integer
          format: int32
          example: "0"
        QUOTA_AMOUNT:
          description: Importe aproximado del valor de cuota. Precisión hasta 8 valores enteros con 2 decimales
          type: number
          format: double
          multipleOf: 0.01
          example: "0.00"
        QUOTA_DEFERRED:
          description: Indica si el pago en cuotas debe procesarse con pagos en diferido. `0`, el pago no se procesa en diferido y `1 o 2`, el pago se procesa en diferido
          type: integer
          format: int32
          example: "0"
        QUOTA_NI_PROGRAM:
          description: Código de programa para cuota sin intereses
          type: integer
          format: int32
          example: "0"
        QUOTA_NI_TYPE:
          description: Indicador de tipo de cobro para cuotas sin intereses. `0`, cobro como porcentaje y `1`, cobro como importe
          type: integer
          format: int32
          example: "0"
        QUOTA_NI_AMOUNT:
          description: Valor asociado al tipo de cobro para cuotas sin intereses
          type: number
          format: double
          multipleOf: 0.01
          example: "0.00"
        QUOTA_NI_DISCOUNT:
          description: Porcentaje de descuento que corresponde al emisor por el programa cuota sin intereses
          type: number
          format: double
          multipleOf: 0.01
          example: "0.00"
        QUOTA_NI_MESSAGE:
          description: Mensaje asociado al cobro para cuota sin intereses
          type: string
          minLength: 1
          maxLength: 50
          example: ""

paths:
  /authorization/{product}/{merchantId}:
    post:
      summary: RESTful API para autorizar ventas
      parameters:
        - in: path
          name: product
          schema:
            type: string
            enum:
              - ecommerce
              - pospc
            default: ecommerce
          required: true
          description: |
            Identificador del producto. Puede ser uno de los siguientes valores:
            - `ecommerce` Para el producto comercio electrónico
            - `pospc` Para el producto telepago
            - `recurrent` Para el producto pago programado
        - in: path
          name: merchantId
          schema:
            type: string
          required: true
          description: Código de comercio VisaNet. Ejemplo `341198210`
      requestBody:
        description: Request a enviar para la autorización de una venta
        content:
          application/json:
            schema:
              required:
                - channel
                - captureType
                - countable
                - order
                - card
              properties:
                channel:
                  type: string
                  description: |
                    Canal desde donde se originó la operación. Puede ser uno de los siguientes valores:
                    - `web` Si son operaciones realizadas con el botón de pago web
                    - `mobile` Si son operaciones realizadas con la librería de pago app
                    - `pasarela` Si son operaciones realizadas con la API de autorización para el producto comercio electrónico
                    - `callcenter` Si son operaciones realizadas con la API de autorización para el producto telepago
                    - `recurrent` Si son operaciones realizadas con la API de autorización para el producto pago programado
                  example: web
                  enum:
                    - web
                    - mobile
                    - pasarela
                    - callcenter
                    - recurrent
                captureType:
                  type: string
                  description: Tipo de captura en el canal. Siempre es el valor `manual`
                  example: manual
                countable:
                  type: boolean
                  description: Tipo de venta a realizar. Si es el valor `true` la venta será contable (Liquidación Automática), Si es el valor `false` la venta será no contable (Liquidación Manual)
                  example: true
                order:
                  $ref: '#/components/schemas/OrderRQ'
                card:
                  $ref: '#/components/schemas/Card'
                cardHolder:
                  $ref: '#/components/schemas/CardHolder'
                sponsored:
                  $ref: '#/components/schemas/Sponsored'
                authentication:
                  $ref: '#/components/schemas/Authentication'
                recurrence:
                  $ref: '#/components/schemas/Recurrence'
                currencyConversion:
                  $ref: '#/components/schemas/CurrencyConversion'
      responses:
        '200':
          description: Autorización de venta realizada con éxito
          content:
            application/json:
              schema:
                properties:
                  header:
                    $ref: '#/components/schemas/Header'
                  fulfillment:
                    $ref: '#/components/schemas/Fulfillment'
                  order:
                    $ref: '#/components/schemas/OrderRS'
                  token:
                    $ref: '#/components/schemas/TokenRS'
                  dataMap:
                    $ref: '#/components/schemas/DataMap'
        '401':
          description: Error relacionado a acceso no autorizado
          content:
            text/plain:
              schema:
                type: string
                example: "Unauthorized access"
        '400':
          description: Error en la autorización de la venta
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    type: integer
                    format: int32
                    description: Código de error de la operación. Siempre es el valor `400`
                    example: 400
                  errorMessage:
                    type: string
                    description: Mensaje de error de la operación
                    example: "Not Authorized"
                  header:
                    $ref: '#/components/schemas/Header'
                  data:
                    $ref: '#/components/schemas/Data'