openapi: 3.0.1
info:
  title: LMS
  description: LMS RESTFUL API
  version: "1.0.0-oas3"
servers:
  - url: 'http://api-video.nefrosovet.ru/api/v1'
paths:
  /user:
    parameters:
      - name: token
        in: query
        required: true
        description: Токен доступа
        schema:
          type: string
    get:
      summary: Коллекция пользователей
      operationId: userCollection
      tags:
        - User
      responses:
        '200':
          $ref: '#/components/responses/User_collection_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '500':
          $ref: '#/components/responses/Base_response_500'
    post:
      summary: Добавление пользователя
      operationId: userCreate
      tags:
        - User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/User_sip_object'
      responses:
        '200':
          $ref: '#/components/responses/User_object_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '500':
          $ref: '#/components/responses/Base_response_500'
  /webinar:
    parameters:
      - name: token
        in: query
        required: true
        description: Токен доступа
        schema:
          type: string
    get:
      summary: Коллекция вебинаров
      operationId: webinarCollection
      tags:
        - Webinar
      responses:
        '200':
          $ref: '#/components/responses/Webinar_collection_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '500':
          $ref: '#/components/responses/Base_response_500'
    post:
      summary: Создание вебинара
      operationId: webinarCreate
      tags:
        - Webinar
      responses:
        '200':
          $ref: '#/components/responses/Webinar_create_object_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '500':
          $ref: '#/components/responses/Base_response_500'
  '/webinar/{webinarID}':
    parameters:
      - name: token
        in: query
        required: true
        description: Токен доступа
        schema:
          type: string
      - name: webinarID
        in: path
        required: true
        description: Идентификатор вебинара
        schema:
          type: integer
    get:
      summary: Информация о вебинаре
      operationId: webinarView
      tags:
        - Webinar
      responses:
        '200':
          $ref: '#/components/responses/Webinar_object_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '404':
          $ref: '#/components/responses/Base_response_404'
        '500':
          $ref: '#/components/responses/Base_response_500'
    delete:
      summary: Завершение вебинара
      operationId: webinarDelete
      tags:
        - Webinar
      responses:
        '200':
          $ref: '#/components/responses/Webinar_object_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '404':
          $ref: '#/components/responses/Base_response_404'
        '500':
          $ref: '#/components/responses/Base_response_500'
  '/webinar/{webinarID}/user':
    parameters:
      - name: token
        in: query
        required: true
        description: Токен доступа
        schema:
          type: string
      - name: webinarID
        in: path
        required: true
        description: Идентификатор вебинара
        schema:
          type: integer
    get:
      summary: Коллекция участников вебинара
      operationId: webinarUserCollection
      tags:
        - Webinar User
      responses:
        '200':
          $ref: '#/components/responses/Webinar_user_collection_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '404':
          $ref: '#/components/responses/Base_response_404'
        '500':
          $ref: '#/components/responses/Base_response_500'
  '/webinar/{webinarID}/user/{userID}':
    parameters:
      - name: token
        in: query
        required: true
        description: Токен доступа
        schema:
          type: string
      - name: webinarID
        in: path
        required: true
        description: Идентификатор вебинара
        schema:
          type: integer
      - name: userID
        in: path
        required: true
        description: Идентификатор участника вебинара
        schema:
          type: integer
    get:
      summary: Информация об участнике вебинара
      operationId: webinarUserView
      tags:
        - Webinar User
      responses:
        '200':
          $ref: '#/components/responses/Webinar_user_object_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '404':
          $ref: '#/components/responses/Base_response_404'
        '500':
          $ref: '#/components/responses/Base_response_500'
    put:
      summary: Изменение состояния устройств участника вебинара
      operationId: webinarUserUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Webinar_user_device_object'
      tags:
        - Webinar User
      responses:
        '200':
          $ref: '#/components/responses/Webinar_user_object_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '404':
          $ref: '#/components/responses/Base_response_404'
        '500':
          $ref: '#/components/responses/Base_response_500'
    delete:
      summary: Удаление участника из вебинара
      operationId: webinarUserDelete
      tags:
        - Webinar User
      responses:
        '200':
          $ref: '#/components/responses/Webinar_user_delete_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '404':
          $ref: '#/components/responses/Base_response_404'
        '500':
          $ref: '#/components/responses/Base_response_500'
  '/webinar/{webinarID}/user/{userID}/mosaic':
    parameters:
      - name: token
        in: query
        required: true
        description: Токен доступа
        schema:
          type: string
      - name: webinarID
        in: path
        required: true
        description: Идентификатор вебинара
        schema:
          type: integer
      - name: userID
        in: path
        required: true
        description: Идентификатор участника
        schema:
          type: integer
    post:
      summary: Добавление участника вебинара в мозаику
      operationId: webinarUserMosaicCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Webinar_mosaic_user_add_object'
      tags:
        - Webinar User
      responses:
        '200':
          $ref: >-
            #/components/responses/Webinar_mosaic_user_update_object_response_200
        '401':
          $ref: '#/components/responses/Base_response_401'
        '404':
          $ref: '#/components/responses/Base_response_404'
        '500':
          $ref: '#/components/responses/Base_response_500'
  '/webinar/{webinarID}/mosaic':
    parameters:
      - name: token
        in: query
        required: true
        description: Токен доступа
        schema:
          type: string
      - name: webinarID
        in: path
        required: true
        description: Идентификатор вебинара
        schema:
          type: integer
    get:
      summary: Коллекция мозаик вебинара
      operationId: webinarMosaicCollection
      tags:
        - Webinar Mosaic
      responses:
        '200':
          $ref: '#/components/responses/Webinar_mosaic_collection_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '404':
          $ref: '#/components/responses/Base_response_404'
        '500':
          $ref: '#/components/responses/Base_response_500'
    post:
      summary: Добавление мозаики в вебинар
      operationId: webinarMosaicCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Webinar_mosaic_edit_object'
      tags:
        - Webinar Mosaic
      responses:
        '200':
          $ref: '#/components/responses/Webinar_mosaic_object_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '404':
          $ref: '#/components/responses/Base_response_404'
        '500':
          $ref: '#/components/responses/Base_response_500'
  '/webinar/{webinarID}/mosaic/{mosaicID}':
    parameters:
      - name: token
        in: query
        required: true
        description: Токен доступа
        schema:
          type: string
      - name: webinarID
        in: path
        required: true
        description: Идентификатор вебинара
        schema:
          type: integer
      - name: mosaicID
        in: path
        required: true
        description: Идентификатор мозаики
        schema:
          type: integer
    get:
      summary: Информация о мозаике вебинара
      operationId: webinarMosaicView
      tags:
        - Webinar Mosaic
      responses:
        '200':
          $ref: '#/components/responses/Webinar_mosaic_object_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '404':
          $ref: '#/components/responses/Base_response_404'
        '500':
          $ref: '#/components/responses/Base_response_500'
    put:
      summary: Изменение мозаики в вебинаре
      operationId: webinarMosaicUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Webinar_mosaic_edit_object'
      tags:
        - Webinar Mosaic
      responses:
        '200':
          $ref: '#/components/responses/Webinar_mosaic_object_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '404':
          $ref: '#/components/responses/Base_response_404'
        '500':
          $ref: '#/components/responses/Base_response_500'
    delete:
      summary: Удаление мозаики из вебинара
      operationId: webinarMosaicDelete
      tags:
        - Webinar Mosaic
      responses:
        '200':
          $ref: '#/components/responses/Webinar_mosaic_delete_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '404':
          $ref: '#/components/responses/Base_response_404'
        '500':
          $ref: '#/components/responses/Base_response_500'
  '/webinar/{webinarID}/mosaic/{mosaicID}/user':
    parameters:
      - name: token
        in: query
        required: true
        description: Токен доступа
        schema:
          type: string
      - name: webinarID
        in: path
        required: true
        description: Идентификатор вебинара
        schema:
          type: integer
      - name: mosaicID
        in: path
        required: true
        description: Идентификатор мозаики
        schema:
          type: integer
    get:
      summary: Коллекция учасников вебинара в мозаике
      operationId: webinarMosaicUserCollection
      tags:
        - Webinar Mosaic
      responses:
        '200':
          $ref: '#/components/responses/Webinar_mosaic_user_object_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '404':
          $ref: '#/components/responses/Base_response_404'
        '500':
          $ref: '#/components/responses/Base_response_500'
    post:
      summary: Добавление участника вебинара в мозаику
      operationId: webinarMosaicUserCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Webinar_mosaic_user_add_object'
      tags:
        - Webinar Mosaic
      responses:
        '200':
          $ref: >-
            #/components/responses/Webinar_mosaic_user_update_object_response_200
        '401':
          $ref: '#/components/responses/Base_response_401'
        '404':
          $ref: '#/components/responses/Base_response_404'
        '500':
          $ref: '#/components/responses/Base_response_500'
  '/webinar/{webinarID}/mosaic/{mosaicID}/user/{userID}':
    parameters:
      - name: token
        in: query
        required: true
        description: Токен доступа
        schema:
          type: string
      - name: webinarID
        in: path
        required: true
        description: Идентификатор вебинара
        schema:
          type: integer
      - name: mosaicID
        in: path
        required: true
        description: Идентификатор мозаики
        schema:
          type: integer
      - name: userID
        in: path
        required: true
        description: Идентификатор участника
        schema:
          type: integer
    delete:
      summary: Удаление участника вебинара из мозаики
      operationId: webinarMosaicUserDelete
      tags:
        - Webinar Mosaic
      responses:
        '200':
          $ref: '#/components/responses/Webinar_mosaic_user_delete_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '404':
          $ref: '#/components/responses/Base_response_404'
        '500':
          $ref: '#/components/responses/Base_response_500'
  '/webinar/{webinarID}/mosaic/{mosaicID}/slot':
    parameters:
      - name: token
        in: query
        required: true
        description: Токен доступа
        schema:
          type: string
      - name: webinarID
        in: path
        required: true
        description: Идентификатор вебинара
        schema:
          type: integer
      - name: mosaicID
        in: path
        required: true
        description: Идентификатор мозаики
        schema:
          type: integer
    get:
      summary: Коллекция слотов в мозаике
      operationId: webinarMosaicSlotCollection
      tags:
        - Webinar Mosaic
      responses:
        '200':
          $ref: '#/components/responses/Webinar_mosaic_slot_collection_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '404':
          $ref: '#/components/responses/Base_response_404'
        '500':
          $ref: '#/components/responses/Base_response_500'
  '/webinar/{webinarID}/mosaic/{mosaicID}/slot/{slotID}':
    parameters:
      - name: token
        in: query
        required: true
        description: Токен доступа
        schema:
          type: string
      - name: webinarID
        in: path
        required: true
        description: Идентификатор вебинара
        schema:
          type: integer
      - name: mosaicID
        in: path
        required: true
        description: Идентификатор мозаики
        schema:
          type: integer
      - name: slotID
        in: path
        required: true
        description: Идентификатор слота
        schema:
          type: integer
    put:
      parameters:
        - name: type
          in: query
          required: true
          description: Тип слота
          schema:
            type: string
            enum:
              - USER
              - MEDIA
        - name: userId
          in: query
          required: true
          description: Идентификатор участника
          schema:
            type: integer
      summary: Перемещение участика вединара в слот мозаики
      operationId: webinarMosaicSlotUpdate
      tags:
        - Webinar Mosaic
      responses:
        '200':
          $ref: '#/components/responses/Webinar_mosaic_slot_object_response_200'
        '401':
          $ref: '#/components/responses/Base_response_401'
        '404':
          $ref: '#/components/responses/Base_response_404'
        '500':
          $ref: '#/components/responses/Base_response_500'
components:
  responses:
    Base_response_200:
      description: Успешное выполнение
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Base_data'
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      type: string
                required:
                  - data
    User_collection_response_200:
      description: Коллекция пользователей
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Base_data'
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/User_id_object'
                        - $ref: '#/components/schemas/User_sip_object'
                required:
                  - data
    User_object_response_200:
      description: Объект пользователя
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Base_data'
              - type: object
                properties:
                  data:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/User_id_object'
                required:
                  - data
    Webinar_collection_response_200:
      description: Коллекция вебинаров
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Base_data'
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/Webinar_object'
                required:
                  - data
    Webinar_object_response_200:
      description: Объект вебинара
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Base_data'
              - type: object
                properties:
                  data:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Webinar_object'
                required:
                  - data
    Webinar_create_object_response_200:
      description: Объект вебинара
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Base_data'
              - type: object
                properties:
                  data:
                    type: object
                    allOf:
                      - type: object
                        properties:
                          id:
                            type: integer
                            example: 123
                            description: Идентификатор вебинара
                        required:
                          - id
                      - $ref: '#/components/schemas/Webinar_main_object'
                required:
                  - data
    Webinar_user_collection_response_200:
      description: Коллекция пользователей вебинара
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Base_data'
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/Webinar_user_object'
                required:
                  - data
    Webinar_user_object_response_200:
      description: Объект пользователя вебинара
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Base_data'
              - type: object
                properties:
                  data:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Webinar_user_object'
                required:
                  - data
    Webinar_user_delete_response_200:
      description: Объект удаленного пользователя вебинара
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Base_data'
              - type: object
                properties:
                  data:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Webinar_user_delete_object'
                required:
                  - data
    Webinar_mosaic_collection_response_200:
      description: Коллекция мозаик вебинара
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Base_data'
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/Webinar_mosaic_object'
                required:
                  - data
    Webinar_mosaic_object_response_200:
      description: Объект мозаики вебинара
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Base_data'
              - type: object
                properties:
                  data:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Webinar_mosaic_object'
                required:
                  - data
    Webinar_mosaic_delete_response_200:
      description: Объект удаленной мозаики вебинара
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Base_data'
              - type: object
                properties:
                  data:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Webinar_mosaic_delete_object'
                required:
                  - data
    Webinar_mosaic_user_object_response_200:
      description: Объект участника вебинара в мозаике
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Base_data'
              - type: object
                properties:
                  data:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Webinar_mosaic_user_object'
                required:
                  - data
    Webinar_mosaic_user_update_object_response_200:
      description: Объект участника вебинара в мозаике
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Base_data'
              - type: object
                properties:
                  data:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Webinar_mosaic_user_update_object'
                required:
                  - data
    Webinar_mosaic_user_delete_response_200:
      description: Объект удаленного участника вебинара в мозаике
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Base_data'
              - type: object
                properties:
                  data:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Webinar_mosaic_user_delete_object'
                required:
                  - data
    Webinar_mosaic_slot_collection_response_200:
      description: Коллекция слотов в мозаике вебинара
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Base_data'
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      type: string
                      enum:
                        - FREE
                        - USER
                        - MEDIA
                required:
                  - data
    Webinar_mosaic_slot_object_response_200:
      description: Объект слота в мозаике
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Base_data'
              - type: object
                properties:
                  data:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Webinar_mosaic_slot_object'
                required:
                  - data
    Base_response_400:
      description: Validation error
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Error_400'
              - type: object
                properties:
                  message:
                    type: string
                    example: Authentication failure
                  error:
                    type: object
                    properties:
                      validation:
                        type: object
                required:
                  - message
                  - error
    Base_response_401:
      description: Access denied
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Error_401'
              - type: object
                properties:
                  code:
                    example: 401
    Base_response_404:
      description: Not found
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Error_404'
              - type: object
                properties:
                  code:
                    example: 404
                  message:
                    example: Object not found
    Base_response_500:
      description: Internal server error
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Error_500'
              - type: object
                properties:
                  code:
                    example: 500
  schemas:
    Base_data:
      description: Возвращает статус ответа
      type: object
      properties:
        message:
          type: string
          description: сообщение ответа
          example: SUCCESS
        code:
          type: integer
          example: 200
          description: Код ответа
        error:
          type: boolean
          example: false
          description: Флаг ошибки
      required:
        - message
        - code
        - error
    Error_data:
      description: Все плохо
      allOf:
        - $ref: '#/components/schemas/Base_data'
        - type: object
          title: Error_data
          properties:
            data:
              example: null
          required:
            - data
    Error_400:
      allOf:
        - $ref: '#/components/schemas/Error_data'
        - type: object
          properties:
            message:
              type: string
              example: Validation error
            error:
              type: array
              items: {}
          required:
            - message
            - error
    Error_401:
      allOf:
        - $ref: '#/components/schemas/Error_data'
        - type: object
          properties:
            message:
              type: string
              description: сообщение ответа
              example: Invalid token
            error:
              type: array
              items: {}
          required:
            - message
            - error
    Error_404:
      allOf:
        - $ref: '#/components/schemas/Error_data'
        - type: object
          properties:
            message:
              type: string
              description: сообщение ответа
              example: Entity not found
            error:
              type: array
              items: {}
              example: null
          required:
            - message
            - error
    Error_500:
      allOf:
        - $ref: '#/components/schemas/Error_data'
        - type: object
          properties:
            message:
              type: string
              description: сообщение ответа
              example: Internal server error
            error:
              example: null
          required:
            - message
            - error
    User_id_object:
      type: object
      properties:
        user_id:
          type: integer
          example: 123
          description: Идентификатор пользователя
      required:
        - user_id
    User_sip_object:
      type: object
      properties:
        sip:
          type: string
          example: sip@123@example.com
          description: SIP URI пользователя
          pattern: '^(sips?):([^@]+)(?:@(.+))?$'
      required:
        - sip
    Webinar_main_object:
      type: object
      properties:
        DID:
          type: string
          example: max12345
          description: SIP-номер вебинара
        status:
          type: string
          example: FINISHED
          description: Статус вебинара
          enum:
            - FINISHED
            - READY
            - ONLINE
      required:
        - DID
        - status
    Webinar_object:
      allOf:
        - $ref: '#/components/schemas/Webinar_main_object'
        - type: object
          properties:
            eventID:
              type: integer
              example: 123
              description: Идентификатор вебинара
            onlineUsers:
              type: integer
              example: 0
              description: Количество активных пользователей
          required:
            - eventID
            - onlineUsers
    Webinar_user_object:
      type: object
      properties:
        userId:
          type: integer
          example: 123
          description: Идентификатор пользователя
        status:
          type: string
          example: ONLINE
          description: Статус пользователя
          enum:
            - ONLINE
            - OFFLINE
        mic:
          type: boolean
          example: true
          description: Флаг активности микрофона
        sound:
          type: boolean
          example: true
          description: Флаг активности динамика
      required:
        - userId
        - status
        - mic
        - sound
    Webinar_user_delete_object:
      type: object
      properties:
        Webinar:
          type: string
          example: '123'
          description: Идентификатор вебинара
        userId:
          type: integer
          example: 123
          description: Идентификатор участника вебинара
        subscriberId:
          type: integer
          example: 123
          description: Идентификатор подписчика
        status:
          type: string
          example: Subscribers delete from webinar
          description: Статус удаления участника вебинара
    Webinar_mosaic_object:
      type: object
      properties:
        mosaicId:
          type: string
          example: '123'
          description: Идентификатор мозаики
        template:
          type: object
          description: Шаблон мозаики
          properties:
            id:
              type: integer
              example: 1
              description: Идентификатор шаблона мозаики
            type:
              type: integer
              example: 0
              description: Тип мозаики
            size:
              type: integer
              example: 14
              description: Размер мозаики
          required:
            - id
            - type
            - size
      required:
        - mosaicId
        - template
    Webinar_mosaic_edit_object:
      type: object
      properties:
        templateId:
          type: integer
          example: 1
          description: Идентификатор шаблона мозаики
      required:
        - templateId
    Webinar_mosaic_delete_object:
      type: object
      properties:
        mosaicId:
          type: string
          example: '1'
          description: Идентификатор мозаики
      required:
        - mosaicId
    Webinar_mosaic_user_object:
      type: object
      properties:
        usersCount:
          type: integer
          example: 123
          description: Количество пользователей в мозаике
        users:
          type: array
          description: Коллекция пользователей в мозаике
          items:
            allOf:
              - $ref: '#/components/schemas/Webinar_user_object'
      required:
        - usersCount
        - users
    Webinar_mosaic_user_add_object:
      type: object
      properties:
        userId:
          type: integer
          example: 1
          description: Идентификатор участника вебинара
      required:
        - userId
    Webinar_mosaic_user_update_object:
      type: object
      properties:
        webinarId:
          type: integer
          example: 1
          description: Идентификатор вебинара
        mosaicId:
          type: string
          example: '1'
          description: Идентификатор мозаики
        state:
          type: string
          example: 868 added
          description: Состояние операции
      required:
        - webinarId
        - mosaicId
        - state
    Webinar_mosaic_user_delete_object:
      type: object
      properties:
        webinarId:
          type: integer
          example: 1
          description: Идентификатор вебинара
        mosaicId:
          type: string
          example: '1'
          description: Идентификатор мозаики
        userId:
          type: string
          example: '868'
          description: Идентификатор участника вебинара
      required:
        - webinarId
        - mosaicId
        - userId
    Webinar_user_device_object:
      type: object
      properties:
        mic:
          type: integer
          example: 1
          description: Флаг включения микрофона
        sound:
          type: integer
          example: 1
          description: Флаг включения динамиков
    Webinar_mosaic_slot_object:
      type: object
      properties:
        slotId:
          type: string
          example: '1'
          description: Идентификатор слота мозаики
        type:
          type: string
          example: USER
          description: Тип слота мозаики
          enum:
            - USER
            - MEDIA
      required:
        - slotId
        - type