openapi: 3.0.0
info:
  version: '1.0.0'
  title: 'Garantia'
  description: 'Documentação referente a integração do produto Garantia.'
servers: 
  - url: https://berkley.com.br/microservices #/produtos/garantia/publico
    description: Servidor de produção
  - url: http://bsbsptst01/microservices #/produtos/garantia/publico
    description: Servidor de testes
  - url: https://berkley.outoffthebox.tech/microservices
    description: Servidor de homologação OTB
paths:
  /autenticacao/login:
    post:
      tags: [Login]
      summary: Responsável por realizar o login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
      responses:
          '200':
            description: Sucesso
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/LoginRetorno'
                  
  /produtos/garantia/integracao/calcular:
    post:
      security:
        - bearerAuth: []
      tags: [Calcular]
      summary: Executa todas as validações da cotação
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Calcular'
      responses:
        '200':
            description: Sucesso
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CalcularRetorno'
                  
  /produtos/garantia/integracao/minuta:
    post:
      security:
        - bearerAuth: []
      tags: [Minuta]
      summary: Gera a minuta da cotação calculada
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Minuta'
      responses:
        '200':
            description: Sucesso
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/MinutaRetorno'
                  
  /produtos/garantia/integracao/emitir:
    post:
      security:
        - bearerAuth: []
      tags: [Emitir]
      summary: Emite e encaminha a cotação 
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Emitir'
      responses:
        '200':
            description: Sucesso
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/EmitirRetorno'
                  
  /produtos/garantia/integracao/tomador/BuscarTomador/{cnpj}:
    get:
      security:
        - bearerAuth: []
      tags: [BuscarTomador]
      summary: Buscar dados do tomador quando o usuário é Corretor
      parameters:
        - in: path
          name: cnpj
          required: true
          description: CNPJ
          schema:
            type : integer
            format: int64
            minimum: 1
      responses:
        '200':
            description: Sucesso
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TomadorRetorno'
                  
  /produtos/garantia/integracao/tomador/BuscarTomador/{cnpj}/{idCorretor}:
    get:
      security:
        - bearerAuth: []
      tags: [BuscarTomador]
      summary: Buscar dados do tomador utilizado para os demais perfis
      parameters:
        - in: path
          name: cnpj
          required: true
          description: CNPJ
          schema:
            type : integer
            format: int64
            minimum: 1
        - in: path
          name: idCorretor
          required: true
          description: Id do Tomador
          schema:
            type : integer
            format: int64
            minimum: 1
      responses:
        '200':
            description: Sucesso
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TomadorRetorno'
  
components:
  schemas:
    Login:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
    LoginRetorno:
      type: object
      properties:
        sucesso:
          type: boolean
        mensagem:
          type: string
        token:
          type: string
        dataCriacao:
          type: string
        expiracao:
          type: integer
    Calcular:
      type: object
      properties:
        idCotacao:
          type: integer
        CodigoCorretor:
          type: integer
        publico:
          type: integer
        tomador:
          type: object
          properties:
            cpfCnpj:
              type: integer
        modalidade:
          type: object
          properties:
            codigo: 
              type: string
              description: 'O campo deve conter 3 digitos ex: 000 ou inserir o nome por extenso da modalidade ex: "judicial depósito recursal trabalhista"'
            valorIS:
              type: number
            taxa:
              type: number
            objetoSeguro:
              type: object
              properties:
                reclamacaoNaoTrabalhista:
                  type: integer
                numeroTramiteVara:
                  type: integer
                numeroDaRegiaoTribunal:
                  type: integer
                cidadeTribunalVara:
                  type: string
                ufTribunalVara: 
                  type: string
        dadosDoSeguro:
          type: object
          properties:
            inicioVigencia: 
              type: string
            fimVigencia:
              type: string
            numeroProcessoSusep:
              type: string
            pessoaDeContato:
              type: string
            emailDeContato: 
              type: string
            telefoneDeContato:
              type: string
        corretagem:
          type: array
          items:
            type: object
            properties:
              codigoCorretor:
                type: integer
              participacao:
                type: number
              principal:
                type: integer
        segurado:
          type: object
          properties:
            nomeFantasia:
              type: string
            cpfCnpj:
              type: string
            nome:
              type: string
            cep:
              type: string
            logradouro:
              type: string
            numero:
              type: string
            complemento:
              type: string
            bairro:
              type: string
            siglaEstado:
              type: string
            cidade:
              type: string  
    CalcularRetorno:
      type: object
      properties:
        idCotacao:
          type: integer
        sucesso:
          type: boolean
        mensagem:
          type: string
        Susep:
          type: string
        TotalComissao:
          type: number
        parcelamento:
          type: object
          properties:
            premio:
              type: number
            parcelas:
              type: array
              items:
                type: object
                properties:
                  idParcelamento:
                    type: integer
                  valorPrimeiraParcela:
                    type: number
                  valorDecimaisParcelas:
                    type: number
                  valorTotal:
                    type: number
                  nomeParcelamento:
                    type: string
    TomadorRetorno:
      type: object
      properties:
        id:
          type: integer
        sucesso:
          type: boolean
        mensagem:
          type: string
        cpfCnpj:
          type: string
        nome:
          type: string  
        validadeCadastro:
          type: string
        ccg:
          type: boolean  
        taxa:
          type: number  
        limiteTotal:
          type: number
        limiteDisponivel:
          type: number
        acumuloFuturo:
          type: number
        acumuladoExpirado:
          type: number
        acumuloVigente:
          type: number
        acumuloTotal:
          type: number
        acumuladoTomador:
          type: number
        corretores:
          type: object
          properties:
            codigoCorretor:
              type: number
            cpfCnpj:
              type: string
            nmCorretor:
              type: string
            dvLider:
              type: boolean
        sublimites:
          type: array
          items:
            type: object
            properties:
              codigo:
                type: integer
              nome:
                type: string
              vlLimCreditoDisponivel:
                type: number
              vlTaxaRisco:
                type: integer
              CCG:
                type: boolean
        grupoEconomico:
          type: object
          properties:
            nmGrupoEconomico:
              type: string
            nmRegional:
              type: string  
            nmConsorcio:
              type: string
            dtInclusao:
              type: string
            dtValidade:
              type: string
            vlLimCreditoTomador:
              type: number
            vlLimCreditoDisponivel:
              type: number
            dtValidadeCadastroRess:
              type: string 
        Tomadores:
          type: array
          items:
            type: object
            properties:
              idPessoaCorretor:
                type: integer
              nrCnpjCpf:
                type: string
              nmCorretor:
                type: string
              dvLider:
                type: integer
    Minuta:
      type: object
      properties:
        idCotacao:
          type: integer
        idParcelamento:
          type: integer
        diaVencimentoDemaisParcela:
          type: integer
        dataPrimeiraParcela:
          type: string
    MinutaRetorno:
      type: object
      properties:
        sucesso:
          type: boolean
        mensagem:
          type: string
        linkMinuta:
          type: string
    Emitir:
      type: object
      properties:
        idCotacao:
          type: integer
        idParcelamento:
          type: integer
        diaVencimentoDemaisParcela:
          type: integer
        dataPrimeiraParcela:
          type: string
    EmitirRetorno:
      type: object
      properties:
        sucesso:
          type: boolean
        mensagem:
          type: string
        numeroApolice:
          type: string
        linkApolice:
          type: string
        linkBoleto:
          type: string
