openapi: 3.0.1
info:
  title: API Customer v1
  description: |-
    This is a reference document on the APIs available to the customer at Belley. It allows to perform directly from your system the actions usually performed by your users on the Belley customer site [customer.belley.net](https://customer.belley.net).

    It presents the possible interactions, but does not provide any information on how to modify your system to call these APIs. There are many technologies available to call the APIs. Choose the one that best fits your needs.

    Our APIs are “Partner web API” type encoded in JSON to allow approved client developers to directly access Belley Customer system from within their system. See the “API Specification” section for more details about the API structure used.

    For each call, you need `Token autorization` (Bearer Token) and `KeyHdrApi` (**CustomerId**|**CompanyId**)

    <img style='width: 450px;' src='https://api.belley.net/Content/Images/Swagger/swagger_authorize.jpg' /> 
  contact:
    email: developer@belley.net
  version: '0.2'
servers:
  - url: 'https://api.belley.net/customer/v1'
    description: Production server
  - url: 'https://uat-api.belley.net/customer/v1'
    description: Test server
security:
  - BearerToken: []
    KeyHdrApi: []
tags:
  - name: Login
  - name: Account
  - name: Inventory
paths:
  /login/SignIn:
    get:
      tags:
        - Login
      summary: Get Bearer Token and KeyHdrApi
      description: 'Return the token [BearerToken] and the user account information (a list of [KeyHdrAPI]).'
      parameters:
        - name: username
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: pwd
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerLogin'
        '400':
          description: The user name or password is incorrect.
        '500':
          description: 'Error internal server, please advise IT Belley.'
  /login/GetCustomerKeyHeaderApi:
    get:
      tags:
        - Login
      summary: Get Customer Key Header API
      description: 'Get the CustomerId|CompanyId [KeyHdrAPI] key linked to the user account.'
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  example: ABC01|ARB
  /login/GetCustomersWithKeyHeaderApi:
    get:
      tags:
        - Login
      summary: Get Customers information with Key Header API
      description: Get the companies information and restrictions associated to the CustomerId|CompanyId (KeyHdrApi) key linked to user account.
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
  /account/user:
    get:
      tags:
        - Account
      summary: Get Customer user account information
      description: Return customer user account information.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerUser'
  /account/user/role:
    get:
      tags:
        - Account
      summary: Get Customer user account roles
      description: Get the permission associated to a user account.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: boolean
                example:
                  INVENTORY: true
                  INVOICE: true
                  RELEASE: true
                  REQUISITION: true
                  CBR: true
  /inventory/GetItems:
    get:
      tags:
        - Inventory
      summary: Get the entire inventory.
      parameters:
        - name: language
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Inventory'
components:
  schemas:
    CustomerLogin:
      type: object
      properties:
        AccessToken:
          type: string
          description: Token you need to perform API request
          format: string
        ExpireIn:
          type: integer
          description: Number of seconds the token is valid
          format: int64
        ExpireInDate:
          type: string
          description: Expiration date of the token
          format: date-time
        TokenType:
          type: string
        Language:
          type: string
          description: 'Two letters. (fr, en, …)'
          enum:
            - fr
            - en
        UserId:
          type: string
          description: Unique identifier associated to the user account
          format: uuid
      xml:
        name: CustomerLogin
    Company:
      type: object
      properties:
        KeyHdrApi:
          type: string
          description: CustomerId|CompanyId
        CompanyId:
          type: string
          description: '3 letters (ARB, BUS)'
        CustomerId:
          type: string
          description: '5 letters, identifier of account'
        Name:
          type: string
          description: Company name
        Currency:
          type: string
          description: '3 letters (CAD, USD)'
        NotAllowRequisition:
          type: boolean
          description: Cancel permission to do requisition
        NotAllowRelease:
          type: boolean
          description: Cancel permission to do release
        Min3Bales:
          type: boolean
          description: Need 3 bales to do a release
    CustomerUser:
      type: object
      properties:
        UserId:
          type: string
          description: Unique identifier associated to the user account
          format: uuid
        UserName:
          type: string
          description: Email address
        Email:
          type: string
          description: Email address must be same as the UserName
        FirstName:
          type: string
          description: ''
        LastName:
          type: string
          description: ''
        PhoneNumber:
          type: string
          description: '10 digits, no hyphen (-)'
          minLength: 10
          maxLength: 10
        PhoneExtensionNumber:
          type: string
          description: '10 digits, no hyphen (-)'
          maxLength: 20
        Language:
          type: string
          description: 'Two letters. (fr, en, …)'
          enum:
            - fr
            - en
        CC:
          type: string
          description: ''
        NoSendEmailToMasterContact:
          type: boolean
          description: No sending email to the email of the user account. CC field must be fill.
        Companies:
          type: array
          items:
            $ref: '#/components/schemas/Company'
        DefaultRelNum:
          type: string
          description: Default order number for release
        DefaultDelAddr:
          type: string
          description: Default delivery address for release
    Inventory:
      type: object
      properties:
        ItemId:
          type: string
          description: Unique identifier of the item
          format: uuid
        ItemNumber:
          type: string
          description: Belley item number
        ItemDescription:
          type: string
          description: Belley item description
        ClientItemCode:
          type: string
          description: Customer item number
        ClientItemDescription:
          type: string
          description: Customer item description
        ClientComment:
          type: string
          description: Customer comment internal for an item. It is not visible to Belley service
        ManagementCode:
          type: string
          description: Management type code of item
        ManagementDesc:
          type: string
          description: Management type description of item
        QuantityAvailable:
          type: integer
          description: Number of boxes available
        QuantityPerBale:
          type: integer
          description: Number of boxes per bale
        NextDeliveryDate:
          type: string
          description: Next schdule delivery date
          format: date-time
        QuantityToBeDelivered:
          type: integer
        TotalQtyPO:
          type: integer
        QuantityConsumed:
          type: integer
        QuantityProduction:
          type: integer
        RateOfConsumed:
          type: integer
          description: Rhythm of consumption of this box per day
          format: int64
        DaysLeft:
          type: integer
          description: Estimated days remaining before being out of stock
        QuantityDelivered:
          type: integer
          description: Quantity of the last delivery
        EstimatedReceptionDate:
          type: string
          format: date-time
        BoxHavingPassedDelayMgmt:
          type: boolean
          description: Indicate if the item has passed the agreed management delay
      xml:
        name: Inventory
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
    KeyHdrApi:
      type: apiKey
      name: KeyHdrApi
      in: header
