openapi: 3.0.0
info:
  title: AduanaDav
  description: 'Método que es utilizado para la inserción de información de DAVs enviados por otros paises'
  contact: {}
  version: "1.2"
servers:
- url: http://andesjboss.aduana.gob.bo:8463/wsServerDav
  variables: {}
- url: http://extranet.comunidadandina.org/sgcanidp/connect/token
  variables: {}
paths:
  /insertarDAVPE:
    post:
      tags:
      - Misc
      summary: DAVXML
      operationId: DAVXML
      parameters:
      - name: Accept
        in: header
        required: true
        style: simple
        schema:
          type: string
          example: application/xml
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Declaration'
            example: |
                    <?xml version="1.0" encoding="UTF-8"?>
                    <Declaration> 
                    <ID>20192018</ID> 
                    <FunctionCode>token</FunctionCode> 
                    <IssueDateTime>                                 
                       <DateTimeString formatCode="dd/mm/yyyy">13/12/2019</DateTimeString>                                
                    </IssueDateTime>
                    <AdditionalDocument> 
                       <CategoryCode name="998">RE</CategoryCode> 
                       <ID>78945</ID> 
                       <IssueDateTime>                              
                          <DateTimeString formatCode="998">13/01/1988</DateTimeString>                                
                       </IssueDateTime>  
                       <Name>Resolucion</Name>                              
                       <TypeCode>998</TypeCode>                                 
                    </AdditionalDocument> 
                    <Declarant>                                 
                       <Name>EMPRESA DECLARANTE</Name>                              
                       <ID schemeID="NIT">6958741</ID>                                
                       <Address>                                
                          <CityName>LA PAZ</CityName>                               
                          <Line>CALLE CALAMA</Line>     
                          <CountryCode>BO</CountryCode> 
                       </Address>                               
                       <Contact>                            
                          <Name>PEDRO</Name>                                
                       </Contact>                               
                       <Communication>                          
                          <ID>2473619</ID>                              
                          <TypeCode>TE</TypeCode>                               
                       </Communication>        
                       <Communication>                          
                          <ID>miguelvmh@gmail.com</ID>                              
                          <TypeCode>EM</TypeCode>                               
                       </Communication> 
                       <Communication>                          
                          <ID>empresa.com.bo</ID>                               
                          <TypeCode>AO</TypeCode>                               
                       </Communication> 
                    </Declarant> 
                    <Importer>                              
                       <Name>Importadora interex</Name>                                 
                       <ID schemeID="NIT">99885566</ID>                               
                       <Address>                                
                          <CityName>COCHABAMBA</CityName>                               
                          <Line>CALLE CORONILLA</Line>     
                          <CountryCode>BO</CountryCode>                             
                       </Address>                               
                       <Communication>                          
                          <ID>8855221</ID>                              
                          <TypeCode>TE</TypeCode>                               
                       </Communication>        
                       <Communication>                          
                          <ID>juan@gmail.com</ID>                               
                          <TypeCode>EM</TypeCode>                               
                       </Communication> 
                       <Communication>                          
                          <ID>importador.com.bo</ID>                                
                          <TypeCode>AO</TypeCode>                               
                       </Communication>                                 
                       <AdditionalIdentifier>                               
                          <ID schemeName="Usuario industrial">03</ID>     
                       </AdditionalIdentifier>                                  
                    </Importer>   
                    </Declaration>
        required: true
        x-send-file-in-body: false
      responses:
        200:
          description: '200 OK'
          content:
            application/text:
             example: {'respuesta':'OK'}
        406:
          description: '406 Not Acceptable'
          content:
            application/text:
             example: 'Not Acceptable'
        401:
          description: 'Unauthorized'
          content:
            application/text:
             example: 'Access token expired: eyJhbGciOiJSUzI1NiIsImtpZCI6IlR3Rlktck8tZXJQNW42N2JndzNhR2ciLCJ0eXAiOiJKV1QifQ.eyJuYmYiOjE1ODU3OTY2ODEsImV4cCI6MTU4NTc5Nzg4MSwiaXNzIjoiaHR0cDovL2V4dHJhbmV0LmNvbXVuaWRhZGFuZGluYS5vcmcvc2djYW5pZHAiLCJhdWQiOiJkYXYtc2djYW4iLCJjbGllbnRfaWQiOiJkYXYtYm9saXZpYSIsInNjb3BlIjpbImRhdi1zZ2NhbiJdfQ.LVQx1ECM2NxPUGGpMpnlCj2KvSCQTNkOQvubQC2mvAB6IWqroUzAtGAF_QIOU0GQ-TbB3JAKCjmdSAPKxxcSw6aJetauU2SDaZoPa4kEqDfcs7MwVu-luD3Md5U71hMOAKaY1OHIuiycDLevHuMePDLbKh_YePpq-w2SJmM4eoQ_OcjpLMi6eLiezJ2pS04aj_GnZzc-i_bt88ldlcWwRlo-H64PPxcqvUNjfO2QptysG6BZqinNqo4vq5jAcWfJnXGDJ6Leeszpoepg1V7dyhzk1oa3esYz_QJFai9WPu2QLPo-cgKTDsi9tunWX_ffZHLxxpSQK3hhcem4iq8BvQ'
      deprecated: false
components:
  schemas:
    Declaration:
      title: Declaration
      required:
      - ID
      - FunctionCode
      - IssueDateTime
      - AdditionalDocument
      - Declarant
      - Importer
      type: object
      xml:
          name: Declaration
          wrapped: false
      example: 
        ID: 20192018
        FunctionCode: token
        IssueDateTime:
          DateTimeString: 
            example: 13/12/2019
            formatCode: dd/mm/yyyy
        AdditionalDocument:
          CategoryCode:
            name: 998
          ID: 78945
          IssueDateTime:
            DateTimeString: 
              formatCode: 998
          Name: Resolucion
          TypeCode: 998
        Declarant:
                  Name: EMPRESA DECLARANTE
                  ID: 
                    schemeID: NIT
                  Address:
                    CityName: LA PAZ
                    Line: CALLE CALAMA
                    CountryCode: BO
                  Contact:
                    Name: PEDRO
                  Communication:
                  - ID: 2473619
                    TypeCode: TE
                  - ID: miguelvmh@gmail.com
                    TypeCode: EM
                  - ID: empresa.com.bo
                    TypeCode: AO
        Importer:
                  Name: Importadora interex
                  ID:
                    schemeID: NIT
                  Address:
                    CityName: COCHABAMBA
                    Line: CALLE CORONILLA
                    CountryCode: BO
                  Communication:
                  - ID: 8855221
                    TypeCode: TE
                  - ID: juan@gmail.com
                    TypeCode: EM
                  - ID: importador.com.bo
                    TypeCode: AO
                  AdditionalIdentifier:
                    ID:
                      schemeName: Usuario industrial
      properties:
        ID:
          type: integer
          format: int32
          xml:
            name: ID
            attribute: false
            wrapped: false
        FunctionCode:
          type: string
          xml:
            name: FunctionCode
            attribute: false
            wrapped: false
        IssueDateTime:
          $ref: '#/components/schemas/IssueDateTime'
        AdditionalDocument:
          $ref: '#/components/schemas/AdditionalDocument'
        Declarant:
          $ref: '#/components/schemas/Declarant'
        Importer:
          $ref: '#/components/schemas/Importer'
    IssueDateTime:
      title: IssueDateTime
      required:
      - DateTimeString
      type: object
      properties:
        DateTimeString:
          $ref: '#/components/schemas/DateTimeString'
    DateTimeString:
      title: DateTimeString
      required:
      - formatCode
      type: object
      properties:
        formatCode:
          type: string
          xml:
            name: formatCode
            attribute: true
            wrapped: false
    AdditionalDocument:
      title: AdditionalDocument
      required:
      - CategoryCode
      - ID
      - IssueDateTime
      - Name
      - TypeCode
      type: object
      properties:
        CategoryCode:
          $ref: '#/components/schemas/CategoryCode'
        ID:
          type: integer
          format: int32
          xml:
            name: ID
            attribute: false
            wrapped: false
        IssueDateTime:
          $ref: '#/components/schemas/IssueDateTime1'
        Name:
          type: string
          xml:
            name: Name
            attribute: false
            wrapped: false
        TypeCode:
          type: integer
          format: int32
          xml:
            name: TypeCode
            attribute: false
            wrapped: false
    CategoryCode:
      title: CategoryCode
      required:
      - name
      type: object
      properties:
        name:
          type: integer
          format: int32
          xml:
            name: name
            attribute: true
            wrapped: false
    IssueDateTime1:
      title: IssueDateTime1
      required:
      - DateTimeString
      type: object
      properties:
        DateTimeString:
          $ref: '#/components/schemas/DateTimeString1'
    DateTimeString1:
      title: DateTimeString1
      required:
      - formatCode
      type: object
      properties:
        formatCode:
          type: object
          format: int32
          xml:
            name: formatCode
            attribute: true
            wrapped: false
    Declarant:
      title: Declarant
      required:
      - Name
      - ID
      - Address
      - Contact
      - Communication
      type: object
      properties:
        Name:
          type: string
          xml:
            name: Name
            attribute: false
            wrapped: false
        ID: 
          $ref: '#/components/schemas/ID'
        Address:
          $ref: '#/components/schemas/Address'
        Contact:
          $ref: '#/components/schemas/Contact'
        Communication:
          type: array
          items:
            $ref: '#/components/schemas/Communication'
          xml:
            attribute: false
            wrapped: false
    ID:
      title: ID
      required:
      - schemeID
      type: object
      properties:
        schemeID:
          type: string
          xml:
            attribute: true
      xml:
          name: ID
      
    Address:
      title: Address
      required:
      - CityName
      - Line
      - CountryCode
      type: object
      properties:
        CityName:
          type: string
          xml:
            name: CityName
            attribute: false
            wrapped: false
        Line:
          type: string
          xml:
            name: Line
            attribute: false
            wrapped: false
        CountryCode:
          type: string
          xml:
            name: CountryCode
            attribute: false
            wrapped: false
    Contact:
      title: Contact
      required:
      - Name
      type: object
      properties:
        Name:
          type: string
          xml:
            name: Name
            attribute: false
            wrapped: false
    Communication:
      title: Communication
      required:
      - ID
      - TypeCode
      type: object
      properties:
        ID:
          type: string
          xml:
            name: ID
            attribute: false
            wrapped: false
        TypeCode:
          type: string
          xml:
            name: TypeCode
            attribute: false
            wrapped: false
    Importer:
      title: Importer
      required:
      - Name
      - ID
      - Address
      - Communication
      - AdditionalIdentifier
      type: object
      properties:
        Name:
          type: string
          xml:
            name: Name
            attribute: false
            wrapped: false
        ID:
          $ref: '#/components/schemas/ID'
        Address:
          $ref: '#/components/schemas/Address'
        Communication:
          type: array
          items:
            $ref: '#/components/schemas/Communication'
          xml:
            attribute: false
            wrapped: false
        AdditionalIdentifier:
          $ref: '#/components/schemas/AdditionalIdentifier'
    AdditionalIdentifier:
      title: AdditionalIdentifier
      required:
      - ID
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/ID2'
    ID2:
      title: ID2
      required:
      - schemeName
      type: object
      properties:
        schemeName:
          type: string
          xml:
            name: schemeName
            attribute: true
            wrapped: false
  securitySchemes:
    oauth2:
      type: oauth2
      flows: 
        authorizationCode:
          authorizationUrl: http://extranet.comunidadandina.org/sgcanidp/.well-known/openid-configuration
          tokenUrl: http://extranet.comunidadandina.org/sgcanidp/connect/token
          scopes:
           write:dav-sgcan: escribe dav-sgcan
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
- bearerAuth: []
tags:
- name: Misc
  description: ''
