openapi: 3.0.1
info:
  title: RadarBox On Demand API
  version: 2.0.18
servers:
  - url: 'https://api.radarbox.com/v2'
tags:
  - name: Flights
    description: >-
      In this section you can find all of the endpoints related to live and
      historical flight data
paths:
  /flights/live:
    post:
      tags:
        - Flights
      summary: 'Get live flights '
      description: >-
        Use this endpoint if your goal is to get real time information for live
        flights, either if you are looking for a specific geographical location
        or particular aircraft/airline/airport.
      operationId: aircraftPosition
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RtAircraftPositionQuery'
      responses:
        '200':
          description: default response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FlightsResponse'
      security:
        - bearerToken: []
  /flights/geosearch:
    post:
      tags:
        - Flights
      summary: Search flights by geographical area
      description: >-
        Use this endpoint if you are interested in knowing which flights have
        flown over a particular geographical area at a given point in time
      operationId: geosearch
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeoSearchQuery'
      responses:
        '200':
          description: default response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FlightsResponse'
      security:
        - bearerToken: []
  /flights/search:
    post:
      tags:
        - Flights
      summary: Search flights
      description: >-
        Use this endpoint for general flight searches - past, present or future
        (scheduled) - based on departure/arrival location or individual flights
        and tail numbers. The search always needs to be restricted by date
        (either departure, arrival or both).
      operationId: search
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlightsQuery'
      responses:
        '200':
          description: default response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FlightsResponse'
      security:
        - bearerToken: []
components:
  schemas:
    RtAircraftPositionQuery:
      title: Real-time aircraft position query
      type: object
      properties:
        registrations:
          title: Filters the results by registration/tail-number
          type: array
          example:
            - G-BNLS
            - N930NN
          items:
            title: Filters the results by registration/tail-number
            type: string
            example: '["G-BNLS","N930NN"]'
        airlines:
          title: Filter the results by the 3 letter ICAO code operator
          type: array
          example:
            - BAW
          items:
            title: Filter the results by the 3 letter ICAO code operator
            type: string
            example: '["BAW"]'
        aircraftTypes:
          title: Filters the results by the 4 letter ICAO code aircraft type
          type: array
          example:
            - B744
          items:
            title: Filters the results by the 4 letter ICAO code aircraft type
            type: string
            example: '["B744"]'
        incLastKnownPos:
          title: Flag indicating whether archived flights should be returned as well
          type: boolean
        minLatitude:
          title: >-
            Minimum latitude for the bounding rectangle from which positions
            will be retrieved
          type: number
          format: double
        maxLatitude:
          title: >-
            Maximum latitude for the bounding rectangle from which positions
            will be retrieved
          type: number
          format: double
        minLongitude:
          title: >-
            Minimum longitude for the bounding rectangle from which positions
            will be retrieved
          type: number
          format: double
        maxLongitude:
          title: >-
            Maximum longitude for the bounding rectangle from which positions
            will be retrieved
          type: number
          format: double
        fromAirports:
          title: Only show flights that departed from these airports (ICAO code)
          type: array
          items:
            title: Only show flights that departed from these airports (ICAO code)
            type: string
        toAirports:
          title: Only show flights that are headed to these airports (ICAO code)
          type: array
          items:
            title: Only show flights that are headed to these airports (ICAO code)
            type: string
    ApiFlight:
      title: Flight
      type: object
      properties:
        callsign:
          title: Flight call sign
          type: string
        flightNumberIata:
          title: Flight number (IATA)
          type: string
        flightNumberIcao:
          title: Flight number (ICAO)
          type: string
        aircraftRegistration:
          title: Aircraft registration (tail number)
          type: string
        aircraftModeS:
          title: Aircraft Mode-S Hex code
          type: string
        aircraftType:
          title: Aircraft type code (ICAO)
          type: string
        aircraftTypeDescription:
          title: Aircraft type description
          type: string
        depAirportIcao:
          title: Departure airport ICAO code
          type: string
        depAirportIata:
          title: Departure airport IATA code
          type: string
        depAirportName:
          title: Departure airport name
          type: string
        depAirportCity:
          title: Departure airport city
          type: string
        depAirportState:
          title: Departure airport state
          type: string
        depAirportCountry:
          title: Departure airport country
          type: string
        depAirportLatitude:
          title: Departure airport laitude
          type: number
          format: double
        depAirportLongitude:
          title: Departure airport longitude
          type: number
          format: double
        depAirportTz:
          title: Departure airport timezone
          type: string
        depAirportTzDiffUTC:
          title: Departure airport timezone hour difference to UTC
          type: string
        scheduledDeparture:
          title: Scheduled time for departure (UTC)
          type: string
          format: date-time
        estimatedDeparture:
          title: Estimated time for departure (UTC)
          type: string
          format: date-time
        actualDeparture:
          title: Actual time of departure (UTC)
          type: string
          format: date-time
        actualTakeoff:
          title: Actual time of takeoff (UTC)
          type: string
          format: date-time
        calculatedTakeoff:
          title: Calculated time of takeoff (UTC)
          type: string
          format: date-time
        divAirportIcao:
          title: Arrival airport ICAO code
          type: string
        divAirportIata:
          title: Arrival airport IATA code
          type: string
        divAirportName:
          title: Diversion airport name
          type: string
        divAirportCity:
          title: Arrival airport city
          type: string
        divAirportState:
          title: Arrival airport state
          type: string
        divAirportCountry:
          title: Arrival airport country
          type: string
        divAirportLatitude:
          title: Arrival airport latitude
          type: number
          format: double
        divAirportLongitude:
          title: Arrival airport longitude
          type: number
          format: double
        divAirportTz:
          title: Arrival airport timezone
          type: string
        divAirportTzDiffUTC:
          title: Arrival airport hour difference to UTC
          type: string
        arrAirportIcao:
          title: Arrival airport ICAO code
          type: string
        arrAirportIata:
          title: Arrival airport IATA code
          type: string
        arrAirportName:
          title: Departure airport name
          type: string
        arrAirportCity:
          title: Arrival airport city
          type: string
        arrAirportState:
          title: Arrival airport state
          type: string
        arrAirportCountry:
          title: Arrival airport country
          type: string
        arrAirportLatitude:
          title: Arrival airport latitude
          type: number
          format: double
        arrAirportLongitude:
          title: Arrival airport longitude
          type: number
          format: double
        arrAirportTz:
          title: Arrival airport timezone
          type: string
        arrAirportTzDiffUTC:
          title: Arrival airport hour difference to UTC
          type: string
        scheduledArrival:
          title: Scheduled time of arrival (UTC)
          type: string
          format: date-time
        estimatedArrival:
          title: Estimated time of arrival (UTC)
          type: string
          format: date-time
        actualArrival:
          title: Actual time of arrival (UTC)
          type: string
          format: date-time
        actualLanding:
          title: Actual time of landing (UTC)
          type: string
          format: date-time
        calculatedLanding:
          title: Calculated time of landing (UTC)
          type: string
          format: date-time
        departureStatus:
          title: Departure status (IATA code)
          type: string
        departureDelayReason:
          title: Departure delay reason (IATA code)
          type: string
        departureDelayDetail:
          title: Departure delay reason
          type: string
        departureGate:
          title: Departure gate
          type: string
        departureTerminal:
          title: Departure terminal
          type: string
        arrivalStatus:
          title: Arrival status (IATA code)
          type: string
        arrivalDelayReason:
          title: Arrival delay reason (IATA code)
          type: string
        arrivalDelayDetail:
          title: Arrival delay reason
          type: string
        arrivalGate:
          title: Arrival gate
          type: string
        arrivalTerminal:
          title: Arrival terminal
          type: string
        arrivalBaggageClaim:
          title: Arrival status (IATA code)
          type: string
        groundSpeed:
          title: Ground speed (knots)
          type: integer
          format: int64
        heading:
          title: Heading (degrees)
          type: integer
          format: int64
        altitude:
          title: Altitude (feet)
          type: integer
          format: int64
        verticalRate:
          title: Verical rate (ft/min)
          type: integer
          format: int64
        latitude:
          title: Latitude
          type: number
          format: double
        longitude:
          title: Longitude
          type: number
          format: double
        squawkCode:
          title: Squawk code
          type: integer
          format: int64
        source:
          title: >-
            Source of the latest position data (ADSB, MLAT, ASDI, OCEA, SATE,
            HFDL, ASDEX)
          type: string
        created:
          title: Date this flight record was created
          type: string
          format: date-time
        updated:
          title: Date this flight record was last updated
          type: string
          format: date-time
        positions:
          title: Sequence of flight path positions
          type: array
          items:
            $ref: '#/components/schemas/ApiTrail'
        status:
          type: string
          enum:
            - IN_FLIGHT
            - CANCELLED
            - SCHEDULED
            - LANDED
            - ON_GROUND
            - UNKNOWN
    ApiTrail:
      title: Position
      type: object
      properties:
        groundSpeed:
          title: Ground speed (knots)
          type: integer
          format: int64
        heading:
          title: Heading (degrees)
          type: integer
          format: int64
        altitude:
          title: Altitude (feet)
          type: integer
          format: int64
        verticalRate:
          title: Verical rate (ft/min)
          type: integer
          format: int64
        latitude:
          title: Latitude
          type: number
          format: double
        longitude:
          title: Longitude
          type: number
          format: double
        squawkCode:
          title: Squawk code
          type: integer
          format: int64
        source:
          title: >-
            Source of the position data (ADSB, MLAT, ASDI, OCEA, SATE, HFDL,
            ASDEX)
          type: string
        timestamp:
          title: Time the position was recorded
          type: string
          format: date-time
    FlightsResponse:
      title: Flights response
      type: object
      properties:
        cost:
          title: Cost of the operation (credits)
          type: integer
          format: int32
        success:
          title: Result of the operation
          type: boolean
        comment:
          title: Additional info about the operation
          type: string
        flights:
          title: List of flights
          type: array
          items:
            $ref: '#/components/schemas/ApiFlight'
    GeoSearchQuery:
      title: Geo Search Query
      required:
        - fromDate
        - maxLatitude
        - maxLongitude
        - minLatitude
        - minLongitude
        - toDate
      type: object
      properties:
        minLatitude:
          title: >-
            Minimum latitude for the bounding rectangle from which positions
            will be retrieved
          type: number
          format: double
        maxLatitude:
          title: >-
            Maximum latitude for the bounding rectangle from which positions
            will be retrieved
          type: number
          format: double
        minLongitude:
          title: >-
            Minimum longitude for the bounding rectangle from which positions
            will be retrieved
          type: number
          format: double
        maxLongitude:
          title: >-
            Maximum longitude for the bounding rectangle from which positions
            will be retrieved
          type: number
          format: double
        belowAltitude:
          title: Only returns positions below this altitude - in feet
          type: integer
          format: int32
        aboveAltitude:
          title: Only returns positions above this altitude - in feet
          type: integer
          format: int32
        includeFlightPaths:
          title: Include flight path positions in the results
          type: boolean
        registrations:
          title: Filters the results by registration/tail-number
          type: array
          example:
            - G-BNLS
            - N930NN
          items:
            title: Filters the results by registration/tail-number
            type: string
            example: '["G-BNLS","N930NN"]'
        modeSHexCodes:
          title: Mode-s Hex codes of the aircraft
          type: array
          example:
            - 406D7B
          items:
            title: Mode-s Hex codes of the aircraft
            type: string
            example: '["406D7B"]'
        fromDate:
          title: >-
            Beginning of the search window in UTC (format:
            yyyy:MM:ddTHH:mm:ss.sssZ)
          type: string
          format: date-time
        toDate:
          title: 'End of the search window in UTC (format: yyyy:MM:ddTHH:mm:ss.sssZ)'
          type: string
          format: date-time
        airlines:
          title: Filters response by 3 letters operator ICAO  codes
          uniqueItems: true
          type: array
          example:
            - BAW
          items:
            title: Filters response by 3 letters operator ICAO  codes
            type: string
            example: '["BAW"]'
        aircraftTypes:
          title: Filters the results by the 4 letter ICAO code aircraft types
          uniqueItems: true
          type: array
          example:
            - B744
          items:
            title: Filters the results by the 4 letter ICAO code aircraft types
            type: string
            example: '["B744"]'
    FlightsQuery:
      title: Flights query
      type: object
      properties:
        fromDate:
          title: >-
            Beginning of the search window in UTC (format:
            yyyy:MM:ddTHH:mm:ss.sssZ)
          type: string
          format: date-time
        toDate:
          title: 'End of the search window in UTC (format: yyyy:MM:ddTHH:mm:ss.sssZ)'
          type: string
          format: date-time
        departureFromDate:
          title: >-
            Beginning of the departure date search window in UTC (format:
            yyyy:MM:ddTHH:mm:ss.sssZ)
          type: string
          format: date-time
        departureToDate:
          title: >-
            End of the departure date search window in UTC (format:
            yyyy:MM:ddTHH:mm:ss.sssZ)
          type: string
          format: date-time
        arrivalFromDate:
          title: >-
            Beginning of the arrival date search window in UTC (format:
            yyyy:MM:ddTHH:mm:ss.sssZ)
          type: string
          format: date-time
        arrivalToDate:
          title: >-
            End of the arrival date search window in UTC (format:
            yyyy:MM:ddTHH:mm:ss.sssZ)
          type: string
          format: date-time
        registrations:
          title: Filters the results by registration/tail-number
          type: array
          example:
            - G-BNLS
            - N930NN
          items:
            title: Filters the results by registration/tail-number
            type: string
            example: '["G-BNLS","N930NN"]'
        flightIds:
          title: List of flight numbers for the flight in ICAO or IATA format
          type: array
          example:
            - BAW67
            - KLM611
          items:
            title: List of flight numbers for the flight in ICAO or IATA format
            type: string
            example: '["BAW67","KLM611"]'
        modeSHexCodes:
          title: Mode-s Hex codes of the aircraft
          type: array
          example:
            - 406D7B
          items:
            title: Mode-s Hex codes of the aircraft
            type: string
            example: '["406D7B"]'
        minLatitude:
          title: >-
            Minimum latitude for the bounding rectangle from which positions
            will be retrieved
          type: number
          format: double
        maxLatitude:
          title: >-
            Maximum latitude for the bounding rectangle from which positions
            will be retrieved
          type: number
          format: double
        minLongitude:
          title: >-
            Minimum longitude for the bounding rectangle from which positions
            will be retrieved
          type: number
          format: double
        maxLongitude:
          title: >-
            Maximum longitude for the bounding rectangle from which positions
            will be retrieved
          type: number
          format: double
        airlines:
          title: Filter the results by the 3 letter ICAO code operator
          type: array
          example:
            - BAW
          items:
            title: Filter the results by the 3 letter ICAO code operator
            type: string
            example: '["BAW"]'
        toAirports:
          title: >-
            Filters response for flights arriving to a specific airport ICAO
            codes
          type: array
          example:
            - EGGL
            - KSFO
          items:
            title: >-
              Filters response for flights arriving to a specific airport ICAO
              codes
            type: string
            example: '["EGGL","KSFO"]'
        fromAirports:
          title: >-
            Filters response for flights departing from a specific airport ICAO
            codes
          type: array
          example:
            - EGGL
            - KSFO
          items:
            title: >-
              Filters response for flights departing from a specific airport
              ICAO codes
            type: string
            example: '["EGGL","KSFO"]'
        belowAltitude:
          title: Only returns positions below this altitude - in feet
          type: integer
          format: int32
        aboveAltitude:
          title: Only returns positions above this altitude - in feet
          type: integer
          format: int32
        includeFlightPaths:
          title: Include flight path positions in the results
          type: boolean
        sources:
          title: Only show data that come from these sources
          type: array
          items:
            title: Only show data that come from these sources
            type: string
            enum:
              - ADSB
              - ASDI
              - ASDEX
              - OCEA
              - MLAT
              - HFDL
              - SATE
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
