openapi: 3.0.0
servers:
  - description: live server
    url: https://webhook.api.illum.ca/shipping/
info:
  version: "1.0.0"
  title: Webhook API
  description: ''
security:
  - apiKey: []
paths:
  /shipments:
    post:
      summary: Create Shipment
      tags:
        - Shipments
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                shipment:
                  type: object
                  properties:
                    tracking_number:
                      type: string
                      example: 2442157639134967
                    due_by:
                      type: string
                      format: date-time
                    shipment_type:
                      type: string
                      default: directship
                      enum:
                        - directship
                        - dropship
                        - pickup
                        - dropoff
                        - tpl
                      description: >
                        Shipment types:
                         * `directship`: vendor -> depot -> customer
                         * `dropship`: vendor -> customer
                         * `pickup`: vendor/customer -> depot
                         * `dropoff`: depot -> vendor/customer
                         * `tpl`: handled by 3pl
                    payment_method:
                      type: string
                      default: prepaid
                      enum: 
                        - prepaid
                        - cash_on_delivery
                        - card_on_delivery
                      description: >
                        Payment options:
                         * `prepaid`: payment already received
                         * `cash_on_delivery`: pay by cash on delivery
                         * `card_on_delivery`: pay by card on delivery
                    payment_amount:
                      type: number
                      format: double
                      default: 0.0
                    shipping_fees:
                      type: number
                      format: double
                    currency:
                      type: string
                      example: AED
                    notes:
                      type: string
                      example: Do not ring the doorbell
                    order:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 0018be6c-2d23-4ad5-bf11-eb8e0c774523
                        type:
                          type: string
                          example: Sales Order
                        ref:
                          type: string
                          example: orchard
                      required:
                        - id
                        - type
                        - ref
                    ext_status:
                      type: string
                      example: ready
                    tpl_id:
                      type: string
                      example: 0018be6c-2d23-4ad5-bf11-eb8e0c774523
                    origin:
                      $ref: '#/components/schemas/Address'
                    destination:
                      $ref: '#/components/schemas/Address'
                    metadata:
                      type: object
                      example: {dynamic: true}
                  required: 
                    - destination
              required: 
                - shipment
      responses:
        204:
          description: Shipment enqueued
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
components:
  schemas:
    Unauthorized:
      type: object
      properties:
        status:
          type: string
          example: error
        message:
          type: string
          example: Invalid username/password
    Forbidden:
      type: object
      properties:
        status:
          type: string
          example: error
        message:
          type: string
          example: Access forbidden, Contact your administrator
    Address:
      type: object
      properties:
        id:
          type: string
          example: 0018be6c-2d23-4ad5-bf11-eb8e0c774523
        name:
          type: string
          example: John Doe
        address1:
          type: string
          example: Badrah Residence, Villa 200
        address2:
          type: string
          example: Al Maktoum Airport Street
        city:
          type: string
          example: Dubai
        region:
          type: string
          example: Jebel Ali
        postcode:
          type: string
          example: 324534
        country:
          type: string
          example: United Arab Emirates
        latitude:
          type: number
          format: double
          example: 25.1065697
        longitude:
          type: number
          format: double
          example: 55.198852
        tel:
          type: string
          example: 971551234567
        email:
          type: string
          example: john.doe@example.com
      required:
        - name
        - address1
        - city
        - country
        - tel
    Shipment:
      type: object
      properties:
        id:
          type: string
          example: 0018be6c-2d23-4ad5-bf11-eb8e0c774523
        tracking_number:
          type: string
          example: 2442157639134967
        status:
          type: string
          default: pending
          enum:
            - pending
            - in_transit
            - ready_for_pickup
            - picked_up
            - at_depot
            - ready_for_delivery
            - delivered
            - cancelled
            - return_to_origin
        ext_status:
          type: string
          example: ready
        due_by:
          type: string
          format: date-time
        shipment_type:
          type: string
          default: directship
          enum:
            - directship
            - dropship
            - pickup
            - dropoff
            - tpl
          description: >
            Shipment types:
              * `directship`: vendor -> depot -> customer
              * `dropship`: vendor -> customer
              * `pickup`: vendor/customer -> depot
              * `dropoff`: depot -> vendor/customer
              * `tpl`: handled by 3pl
        payment_method:
          type: string
          default: prepaid
          enum: 
            - prepaid
            - cash_on_delivery
            - card_on_delivery
          description: >
            Payment options:
              * `prepaid`: payment already received
              * `cash_on_delivery`: pay by cash on delivery
              * `card_on_delivery`: pay by card on delivery
        payment_amount:
          type: number
          format: double
          default: 0.0
        shipping_fees:
          type: number
          format: double
        payment_status:
          type: string
          default: paid
          enum: 
            - pending
            - received
            - paid
          description: >
            Payment options:
              * `pending`: payment yet to be collected
              * `received`: payment received by driver
              * `paid`: payment reconciled
        currency:
          type: string
          example: AED
        notes:
          type: string
          example: Do not ring the doorbell
        order:
          type: object
          properties:
            id:
              type: string
              example: 0018be6c-2d23-4ad5-bf11-eb8e0c774523
            type:
              type: string
              example: Sales Order
            ref:
              type: string
              example: orchard
          required:
            - id
            - type
            - ref
        tpl_id:
          type: string
          example: 0018be6c-2d23-4ad5-bf11-eb8e0c774523
        origin:
          $ref: '#/components/schemas/Address'
        destination:
          $ref: '#/components/schemas/Address'
        metadata:
          type: object
          example: {dynamic: true}
      required:
        - tracking_number
        - status
        - shipment_type
        - payment_method
        - payment_amount
        - payment_status
        - currency
        - origin
        - destination
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-Auth-Api-Key
      in: header
