openapi: 3.0.0
info:
  version: "1"
  title: "Volkswagen PKW REST API"
  description: "Volkswagen PKW REST API for AVN and Personal services"

servers:
  - description: staging
    url: https://vw.kodix.ru/api

components:
  securitySchemes:
    clients:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://vw.kodix.ru/auth/realms/vwgr/protocol/openid-connect/token
          scopes:
            webhooks: accepts webhooks
            requests: accepts requests

  schemas:
    vin:
      description: "represents offer's car VIN"
      type: string
      example: "XW8ZZZ61ZJG066736"
    StringArray:
      type: array
      items:
        type: string
    IntegerArray:
      type: array
      items:
        type: integer    
    NumberArray:
      type: array
      items:
        type: number
    DictionaryModel:
     type: object
     properties:
      id:
        type: string
      sort:
       type: integer
      created_at: 
       type:  string
      updated_at:
       type: string
      deleted_at: 
       type: string
      name: 
        type: string
      code: 
        type: string
      description:
        type: string
      default_image: 
        type: string
      configurator_code:
        type: string
      brand_id:
        type: string
    DictionaryKit:
      type: object
      properties: 
        id:
          type: string
        sort:
          type: integer
        created_at: 
          type:  string
        updated_at:
          type: string
        deleted_at: 
          type: string
        name: 
          type: string
        code: 
          type: string
        kit_name:
          type: string
        description:
          type: string
        body:
          type: string
        drive:
          type: string
        drive_name:
          type: string
        year:
          type: integer
        fuel:
          type: string
        engine_volume: 
          type: number
        engine_power:
          type: integer
        engine_torque:
          type: integer
        engine_name:
          type: string
        transmission_type:
          type: string
        transmission_name:
          type: string
        transmission_step:
          type: string
        acceleration:
          type: number
        max_speed:
          type: integer
        clearance:
          type: integer
        fuel_consumption:
          type: number
        emission_co2:
          type: integer
        tank_volume:
          type: integer
        cargo_volume:
          type: integer
        max_cargo_volume:
          type: integer
        turning_circle:
          type: number
        length:
          type: integer
        width:
          type: integer
        height:
          type: integer
        curb_weight:
          type: integer
        gvwr:
          type: integer
        payload:
          type: integer
        base_price:
          type: integer
        configurator_code:
          type: string
        cloud_kit_code:
          type: string
        vehicle_base:
          type: string
        roof_height:
          type: string
        for_business:
          type: boolean
        for_family:
          type: boolean
        seat_cnt:
          type: integer
        door_cnt:
          type: integer
        generation_id:
          type: string
    DictionaryBaseColor:
      type: object
      properties:
        id:
          type: string
        sort:
          type: integer
        created_at: 
          type:  string
        updated_at:
          type: string
        deleted_at: 
          type: string
        name: 
          type: string
        code: 
          type: string
        hex:
          type: string
    DictionarySpecialOffer:
      type: object
      properties:
        name:
          type: string
        active:
          type: boolean
        description:
          type: string
        preview:
          type: string
        image:
          type: string
    DictionaryVideoOffer:
      type: object
      properties:
        id: 
          type: string
        source:
          type: string
        title:
          type: string
        text:
          type: string
        video_url:
          type: string
        youtube:
          type: string
    DealerWorkHour:
      type: object
      properties:
        dealer_center_id:
          type: string
        day_of_week:
          type: string
        open_time:
          type: string
        close_time:
          type: string
    DealerCarData:
      type: object
      properties:
        code:
          type: string
        count:
          type: integer
    OfferColor:
      type: object
      properties:
        name: 
          type: string
        hex:
          $ref: '#/components/schemas/StringArray'
        code:
          type: string
    OfferBaseColor:
      type: object
      properties:
        name: 
          type: string
        hex:
          type: string
        code:
          type: string      
    OffersFilter:
      type: object
      properties: 
        id:
          $ref: '#/components/schemas/StringArray'
        not_id:
          $ref: '#/components/schemas/StringArray'
        body:
          $ref: '#/components/schemas/StringArray'
        model:
          $ref: '#/components/schemas/StringArray'
        kit:
          $ref: '#/components/schemas/StringArray'
        min_price:
          type: number
        max_price:
          type: number
        online_payment:
          type: boolean
        engine_volume_min:
          type: number
        engine_volume_max:
          type: number
        engine_power_min:
          type: integer
        engine_power_max:
          type: integer
        eng_powers:
          $ref: '#/components/schemas/IntegerArray'
        disk_size:
          $ref: '#/components/schemas/IntegerArray'
        display_size:
          $ref: '#/components/schemas/NumberArray'
        seats_material:
          $ref: '#/components/schemas/StringArray'
        steering_wheel_material:
          $ref: '#/components/schemas/StringArray'
        climate:
          $ref: '#/components/schemas/StringArray'
        light:
          $ref: '#/components/schemas/StringArray'  
        transmission:
          $ref: '#/components/schemas/StringArray'
        drive:
          $ref: '#/components/schemas/StringArray'
        fuel_type:
          $ref: '#/components/schemas/StringArray'
        exterior:
          $ref: '#/components/schemas/StringArray'
        interior:
          $ref: '#/components/schemas/StringArray'
        options:
          $ref: '#/components/schemas/StringArray'
        brand:
          $ref: '#/components/schemas/StringArray'
        model_year:
          $ref: '#/components/schemas/IntegerArray'
        dealer:
          $ref: '#/components/schemas/StringArray'
        vin:
          $ref: '#/components/schemas/StringArray'
        with_locked:
          type: boolean
        with_deleted:
          type: boolean  
        latitude:
          type: number
        longitude:
          type: number
        max_distance:
          type: integer
    FilterRequest:
      type: object
      properties:
        filter:
          $ref: "#/components/schemas/OffersFilter"
    OfferRequestData:
      type: object
      properties:
        filter:
          $ref: "#/components/schemas/OffersFilter"
        offset:
          type: integer
        limit:
          type: integer
        order_by:
          $ref: "#/components/schemas/OrderByEnum" 
        order_destination:
          $ref: "#/components/schemas/OrderDestinationEnum" 
        uncached:
          type: boolean
    OrderByEnum:
      type: string
      enum:
        - default_sort
        - final_price
        - distance
        
    OrderDestinationEnum:
      type: string
      enum:
        - asc
        - desc      
    OfferResponseData:
      type: object
      properties:
        offers:
          type: array
          items:
            $ref: "#/components/schemas/OfferData"
        is_last_set:
          type: boolean
        total_count:
          type: integer
    OptionData:
      type: object
      properties:
        id:
          type: string
        depth:
          type: integer
        name:
          type: string
        short_name:
          type: string
        full_name: 
          type: string
        code:
          type: string
        image:
          type: string
        icon_m:
          type: string
        icon_s:
          type: string
        description:
          type: string
        parent_id:
          type: string
        option_codes:
          $ref: '#/components/schemas/StringArray'
        options_data:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              name:
                type: string
    OptNode:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/OptionData"
        children:
          $ref: "#/components/schemas/OptNodeMap"
    OptNodeMap:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/OptNode'
    OptNodeMapTree:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/OptNodeMapTree'      
    OptNodeForTree:
      type: object
      properties:
        id:
          type: string
        depth:
          type: integer
        name:
          type: string
        short_name:
          type: string
        full_name: 
          type: string
        code:
          type: string
        image:
          type: string
        icon_m:
          type: string
        icon_s:
          type: string
        description:
          type: string
        parent_id:
          type: string
        option_codes:
          $ref: '#/components/schemas/StringArray'
        children:
          $ref: '#/components/schemas/OptNodeMapTree'
    ShortFilterData:
      type: object
      properties:
        models:
          $ref: '#/components/schemas/StringArray'
        kits:
          $ref: '#/components/schemas/StringArray'
        bodies:
          $ref: '#/components/schemas/StringArray'  
        eng_powers:
          $ref: '#/components/schemas/IntegerArray' 
        transmissions:
          $ref: '#/components/schemas/StringArray'
        drives:
          $ref: '#/components/schemas/StringArray'
        fuels:
          $ref: '#/components/schemas/StringArray'
        options:
          $ref: '#/components/schemas/StringArray'
        min_price:
          type: number
        max_price:
          type: number
        min_filter_price:
          type: number
        max_filter_price:
          type: number
        total:
          type: integer
        exterior_colors:
          $ref: '#/components/schemas/StringArray'
        interior_colors:
          $ref: '#/components/schemas/StringArray'
        online_payment:
          type: array
          items:
            type: boolean
        disk_size:
          $ref: '#/components/schemas/IntegerArray'
        light:
          $ref: '#/components/schemas/StringArray'  
        display_size:
          $ref: '#/components/schemas/NumberArray'
        seats_material:
          $ref: '#/components/schemas/StringArray'
        steering_wheel_material:
          $ref: '#/components/schemas/StringArray'
        climate:
          $ref: '#/components/schemas/StringArray'
        dealers:
          $ref: '#/components/schemas/StringArray'  
    FilterLight:
      type: object
      properties:
        name: 
          type: string
        short_name:
          type: string
        full_name:
          type: string
        code:
          type: string
        image:
          type: string
        icon_m:
          type: string
        icon_s:
          type: string
    FilterDealerData:
      type: object
      properties:
        name: 
          type: string
        address: 
          type: string
        total: 
          type: integer
        code: 
          type: string
        distance:
          type: integer
        latitude:
          type: number
        longitude:
          type: number
        available_cars: 
          type: array
          items: 
            $ref: '#/components/schemas/DealerCarData'
    FullFilterData:
      type: object
      properties:
        models: 
          type: object
          additionalProperties:  
            $ref: '#/components/schemas/DictionaryModel'
        kits: 
          type: object
          additionalProperties: 
            type: object
            additionalProperties:
              $ref: '#/components/schemas/DictionaryKit'
        bodies: 
          $ref: '#/components/schemas/StringArray'
        eng_powers:
          $ref: '#/components/schemas/IntegerArray'
        transmissions:
          $ref: '#/components/schemas/StringArray'
        drives:
          $ref: '#/components/schemas/StringArray'
        fuels:
          $ref: '#/components/schemas/StringArray'
        exterior_colors:
          type: object
          additionalProperties: 
            $ref: '#/components/schemas/DictionaryBaseColor'
        interior_colors:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DictionaryBaseColor'
        max_price:
          type: number
        min_price: 
          type: number
        options:
          type: object
          additionalProperties: 
            $ref: "#/components/schemas/OptNodeForTree"
        min_prices: 
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: number
        online_payment:
          type: array
          items:
            type: boolean
        disk_size:
          $ref: '#/components/schemas/IntegerArray'
        light:
          $ref: '#/components/schemas/FilterLight'
        display_size:
          $ref: '#/components/schemas/NumberArray'
        seats_material:
          $ref: '#/components/schemas/StringArray'
        steering_wheel_material:
          $ref: '#/components/schemas/StringArray'
        climate:
          $ref: '#/components/schemas/StringArray'
        dealer_cars:
          type: array
          items:
            $ref: '#/components/schemas/FilterDealerData'
        enabled:
          $ref: "#/components/schemas/ShortFilterData"
    OfferGuarantee:
      type: object
      properties:
        id: 
          type: string
        name: 
          type: string
        description: 
          type: string
        icon: 
          type: string
        sort: 
          type: integer
    OfferOptionalEquipment:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        cost_equipment:
          type: number
        cost_hour:
          type: number
        hours:
          type: number
        total_work:
          type: number
        total_cost:
          type: number
        image:
          type: string
    OfferOptionGroup:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        short_name:
          type: string
        full_name: 
          type: string
        code:
          type: string
        image:
          type: string
        icon_m:
          type: string
        icon_s:
          type: string
        description:
          type: string
        parent_id:
          type: string
        pr_codes:
          type: string
        inetrsect:
          type: boolean
        sort:
          type: integer
        created_at:
          type: number
        updated_at:
          type: number
        deleted_at: 
          type: number
    OfferMainPicture:
      type: object
      properties:
        image:
          type: string
        background_image:
          type: object
          additionalProperties:
            type: string
    OfferAction:
      type: object
      properties:
        till:
          type: integer
    OfferBasicDescription:
      type: object
      properties:
        engine_fuel_type:
          type: string
        engine_name:
          type: string
        engine_power:
          type: integer
        transmission_step:
          type: string
        transmission_type:
          type: string
        drive_type:
          type: string
    OfferSpecifications:
      type: object
      properties:
        acceleration:
          type: number
        consumption:
          type: number
    OfferDealerData:
      type: object
      properties:
        name:
          type: string
        phones:
          type: array
          items: 
            type: string
        emails:
          type: array
          items:
            type: string
        city:
          type: string
        address:
          type: string
        legal_address:
          type: string 
        inn:
          type: string
        ogrn:
          type: string
        zip:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        work_hours:
          type: array
          items:
            $ref: "#/components/schemas/DealerWorkHour"
        code:
          type: string
        distance:
          type: number
        reservation_interval:
          type: integer
        reservation_interval_prepayed:
          type: integer
        reservation_interval_pickup:
          type: integer
        min_payment:
          type: integer 
        kpp:
          type: string
        organization_name:
          type: string
        max_payment:
          type: integer
        max_payment_sum:
          type: integer
        max_price_rate:
          type: integer
        dwa:
          type: boolean
        url:
          type: string
        correspondent_account:
          type: string
        checking_account:
          type: string
        bik:
          type: string
        bank_name:
          type: string
        payment_provider:
          type: string
    OfferData:
      type: object
      properties:
        id:
          type: string
        vin:
          type: string
        model_name:
          type: string
        kit_name:
          type: string
        kit_code:
          type: string
        model_year:
          type: integer
        original_price:
          type: number
        current_price:
          type: number
        credit_price:
          type: number
        special_offer:
          $ref: "#/components/schemas/OfferAction"
        proximity: 
          type: number
        basic_description:
          $ref: "#/components/schemas/OfferBasicDescription"
        features: 
          $ref: "#/components/schemas/StringArray"
        specifications:
          $ref: "#/components/schemas/OfferSpecifications"
        dealer:
          $ref: "#/components/schemas/OfferDealerData"
        images: 
          $ref: "#/components/schemas/StringArray"
        backgrounds:
          type: object
          additionalProperties:
            type: string
        in_favorite:
          type: boolean
        locked:
          type: boolean
        exterior_color:
          $ref: "#/components/schemas/OfferColor"
        exterior_base_color:
          $ref: "#/components/schemas/OfferBaseColor"
        online_payment:
          type: boolean  
    OfferDetailEngine:
      type: object
      properties:
        torque:
          type: integer
        fuel_type:
          type: string
        name:
          type: string
        horse_power:
          type: integer
        volume:
          type: number
    OfferDetailTransmission:
      type: object
      properties:
        type:
          type: string
        name:
          type: string
        step:
          type: string
    OfferDetailDimension:
      type: object
      properties:
        clearance:
          type: integer
        tank_volume:
          type: integer
        cargo_volume:
          type: integer
        max_cargo_volume:
          type: integer
        length:
          type: integer
        width:
          type: integer
        height:
          type: integer
        curb_weight:
          type: integer
        gvwr:
          type: integer
        payload:
          type: integer
    OfferDetailPerformance:
      type: object
      properties:
        acceleration:
          type: number
        max_speed:
          type: integer
        fuel_consumption:
          type: number
        emission_co2:
          type: integer
        turning_circle:
          type: number
    OfferDetailDrive:
      type: object
      properties:
        drive_type:
          type: string
    OfferDetailSpecification:
      type: object
      properties:
        engine: 
          $ref: "#/components/schemas/OfferDetailEngine"
        transmission:
          $ref: "#/components/schemas/OfferDetailTransmission"
        dimensions:
          $ref: "#/components/schemas/OfferDetailDimension"
        performance:
          $ref: "#/components/schemas/OfferDetailPerformance"
        drive:
          $ref: "#/components/schemas/OfferDetailDrive"
    OfferDetailData:
      type: object
      properties:
        id:
          type: string
        vin:
          type: string
        model_name:
          type: string
        model_code:
          type: string
        kit_name:
          type: string
        kit_code:
          type: string
        main_pics:
          $ref: "#/components/schemas/OfferMainPicture"
        gallery:
          $ref: "#/components/schemas/StringArray"
        base_price:
          type: integer
        original_price:
          type: number
        current_price:
          type: number
        credit_price:
          type: number
        specifications:
          $ref: "#/components/schemas/OfferDetailSpecification"
        dealer:
          $ref: "#/components/schemas/OfferDealerData"
        options:
          $ref:  "#/components/schemas/OptNodeMap"
        option_descriptions:
          type: object
          additionalProperties:
            type: string
        features:
          type: array
          items:
            $ref: "#/components/schemas/OfferOptionGroup"
        additional_features:
          type: array
          items:
            $ref: "#/components/schemas/OfferOptionGroup"    
        credit:
          type: object
          properties:
            marketing_code:
              type: string
            price: 
              type: number
            link:
              type: string
        locked:
          type: boolean
        exterior_color:
          $ref: "#/components/schemas/OfferColor"
        interior_color:
          $ref: "#/components/schemas/OfferColor"
        exterior_base_color:
          $ref: "#/components/schemas/OfferBaseColor"
        interior_base_color:
          $ref: "#/components/schemas/OfferBaseColor"
        specialoffers:
          type: array
          items: 
            $ref: "#/components/schemas/DictionarySpecialOffer"
        trade_in_discount:
          type: integer
        video:
          type: array
          items: 
            $ref: "#/components/schemas/DictionaryVideoOffer"
        in_favorite:
          type: boolean
        model_year:
          type: integer
        order_year:
          type: integer  
        commercial_number:
          type: string
        similar_offers:
          type: array
          items:
            $ref: "#/components/schemas/OfferData"
        guarantee:
          type: array
          items: 
            $ref: "#/components/schemas/OfferGuarantee"
        equipment:
          type: array
          items: 
            $ref: "#/components/schemas/OfferOptionalEquipment"
        online_payment:
          type: boolean
    DealerAbility:
      type: object
      properties:
        id:
          type: string
        sort:
          type: integer
        created_at: 
          type:  string
        updated_at:
          type: string
        deleted_at: 
          type: string
        code:
          type: string
        name:
          type: string
        description:
          type: string
    DealerCenter:
      type: object
      properties:
        id:
          type: string
        sort:
          type: integer
        created_at: 
          type:  string
        updated_at:
          type: string
        deleted_at: 
          type: string
        name: 
          type: string
        code:
          type: string
        dealer_id:
          type: string
        address:
          type: string
        legal_address:
          type: string
        inn:
          type: string
        ogrn:
          type: string
        zip:
          type: string
        phone:
          type: string
        email:
          type: string
        phones:
          $ref: "#/components/schemas/StringArray"
        url:
          type: string
        emails:
          $ref: "#/components/schemas/StringArray"
        external_id:
          type: string
        lat:
          type: string
        lng:
          type: string
        hint:
          type: string
        description:
          type: string
        city_id:
          type: string
        status_id:
          type: string
        online_payment:
          type: boolean
        reservation_interval:
          type: integer
        reservation_interval_prepayed:
          type: integer
        reservation_interval_pickup:
          type: integer
        min_payment:
          type: integer 
        kpp:
          type: string
        organization_name:
          type: string
        max_payment:
          type: integer
        max_payment_sum:
          type: integer
        max_price_rate:
          type: integer
        correspondent_account:
          type: string
        checking_account:
          type: string
        bik:
          type: string
        bank_name:
          type: string
        privacy_policy_url:
          type: string
        brand:
          type: string
        payment_provider:
          type: string
        distance:
          type: number
        abilities:
          type: array
          items:
            $ref: '#/components/schemas/DealerAbility'
        dwa:
          type: boolean
        work_hours:
          type: array
          items:
            $ref: "#/components/schemas/DealerWorkHour"
    CityData:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        lat:
          type: number
        lng:
          type: number
        dealers: 
          type: array
          items:
            $ref: "#/components/schemas/DealerCenter"
    CitiesDataResponse:
      type: array
      items:
        $ref: "#/components/schemas/CityData"
    RSEStorageEquipment:
      type: object
      properties:
        ID:
          type: integer
        DomainID:
          type: integer
        ExternalID:
          type: string
        Name:
          type: string
        Description:
          type: string
        Code:
          type: string
        CostEquipment:
          type: number
        CostHour:
          type: number
        Hours:
          type: number
        TotalWork:
          type: number
        TotalCost:
          type: number
        PhotoPathURLs:
          type: string
        ModelId:
          type: integer
    RSEOfferEquipment:
      type: object
      properties:
        WorkListID:
          type: integer
        CarOfferID:
          type: integer
        Discount:
          type: number
        Price:
          type: number
        ID:
          type: integer
        DomainID:
          type: integer
        ExternalID:
          type: string
        Name:
          type: string
        Description:
          type: string
        Code:
          type: string
        CostEquipment:
          type: number
        CostHour:
          type: number
        Hours:
          type: number
        TotalWork:
          type: number
        TotalCost:
          type: number
        PhotoPathURLs:
          type: string
        ModelId:
          type: integer 
    RSEOptionalEquipments:
      type: object
      properties:
        ByCarStorage:
          type: array
          items:
            $ref: "#/components/schemas/RSEStorageEquipment"
        ByOffers:
          type: array
          items:
            $ref: "#/components/schemas/RSEOfferEquipment"
    RSECarStorageItem:
      type: object
      properties:
        CarStorageId:
          type: integer
        BrandCode:
          type: string
        DomainCode:
          type: string
        Vin:
          type: string
        CommNo:
          type: string
        OrderYear:
          type: integer
        ModelYear:
          type: integer
        StatusStorage:
          type: integer
        IsReserv:
          type: boolean
        ReservChangeDate:
          type: string
        ReservUpTo:
          type: string
        ModelCode:
          type: string
        ColorBodyCode:
          type: string
        ColorSalonCode:
          type: string
        PackingOptionCodes:
          type: string
        DealerPrice:
          type: number
        ClientPrice:
          type: number
        ManualClientPrice:
          type: number
        ShowOnline:
          type: boolean
        OptionalEquipments:
          $ref: "#/components/schemas/RSEOptionalEquipments"
    OrderItem:
      type: object
      properties:
        extId:
          type: string
          description: 'Идентификатор товара в корзине заказа у банка. Равен идентификатору заявки'
        name:
          type: string
          description: 'Наименование товара в корзине заказа у банка. Кладем туда VIN'
        price:
          type: number
          description: 'Стоимость товара в корзине заказа у банка. Кладем туда сумму предоплаты за авто'
        currency:
          type: string
          description: 'Валюта, в которо задана стоимость товара, всегда RUB'
        count:
          type: string
          description: 'Количество данного товара в корзине, всегда 1'

    PaymentResult:
      type: object
      properties:
        extId:
          type: string
          description: 'Внешний идентификатор заказа в банке. Равен идентификатору заявки'
        clientName:
          type: string
        clientSurname:
          type: string
        clientEmail:
          type: string
        clientMobile:
          type: string
        successUrl:
          type: string
          description: 'Адрес, на который будет перенаправлен пользователь с банковской страницы оплаты в случае успешной оплаты'
        failUrl:
          type: string
          description: 'Адрес, на который будет перенаправлен пользователь с банковской страницы оплаты, если оплата не удалась'
        description:
          type: string
          description: 'Описание заказа в банке'
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        id:
          type: string
          description: 'Идентификатор заказа в модуле онлайн-оплаты на сатй ДЦ' 
        paymentId:
          type: string
          description: 'Идентификатор заявки на платеж в банке'  
        amount:
          type: number
          description: 'Размер платежа в банке'
        currency:
          type: string
          description: 'Валюта платежа в банке'
        paymentUrl:
          type: string
          description: 'Ссылка на страницу оплаты'
    ReserveRequest:
      type: object
      required:
        - vin
        - dealer
        - payment
        - success_url
        - fail_url
        - price
        - rights_granted
      properties:
        vin:
          type: string
          example: "XW8ZZZ61ZJG066736"
          description: "VIN-номер бронируемого автомобиля"
        dealer:
          type: string
          example: "RUSV00111"
          description: "Код дилерского центра, у которого бронируется авто"
        payment:
          type: number
          description: "Размер предоплаты, выбирается пользователем. Если значение 0, бронирование считается бесплатным"
        success_url:
          type: string
          example: 'http://vw.kodix.ru/success'
          description: 'Адрес, на который будет перенаправлен пользователь с банковской страницы оплаты в случае успешной оплаты'
        fail_url:
          type: string
          example: 'http://vw.kodix.ru/fail_url'
          description: 'Адрес, на который будет перенаправлен пользователь с банковской страницы оплаты, если оплата не удалась'
        price:
          type: number
          description: 'Цена бронируемого автомобиля'
        rights_granted:
          type: boolean
          description: 'Согласие на обработку персональных данных'
        agree_receive_advertising:
          type: boolean
          description: 'Согласие на рекламную коммуникацию'
    ReserveResult:
      type: object
      properties:
        system_errors:
          $ref: '#/components/schemas/StringArray'
        request_errors:
          type: object
          additionalProperties:
            type: string
        result:
          $ref: '#/components/schemas/PaymentResult'
    RequestData:
      type: object
      properties:
        dealer:
          $ref: "#/components/schemas/OfferDealerData"
        price:
          type: number
        old_price:
          type: number
        amount_paid:
          type: number
        confirmed_paid:
          type: number
        vin:
          type: string
        id:
          type: string
        kit_code:
          type: string
        image:
          type: string
        model_name:
          type: string
        kit_name:
          type: string
        status_text:
          type: string
        status_code: 
          type: string
        rse_id:
          type: integer
        favorite_id:
          type: integer
        model_year:
          type: integer
        canceled:
          type: boolean
        online_payment:
          type: boolean
        created_at:
          type: string
        reserved_to:
          type: integer
        date_reserved:
          type: integer
        locked:
          type: boolean
        issuance_from:
          type: integer
        issuance_to:
          type: integer
        contract_exists:
          type: boolean
        commercial_number:
          type: string
    RequestListResponse:
      type: object
      properties:
        system_errors:
          $ref: '#/components/schemas/StringArray'
        request_errors:
          type: object
          additionalProperties:
            type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/RequestData'  
    RequestDetailResponse:
      type: object
      properties:
        system_errors:
          $ref: '#/components/schemas/StringArray'
        request_errors:
          type: object
          additionalProperties:
            type: string
        result:
          $ref: '#/components/schemas/RequestData'
    FavoriteItem:
      type: object
      properties:
        vin:
          type: string
        dealer:
          type: string
    FavoriteCreateResponse:
      type: object
      properties:
        system_errors:
          $ref: '#/components/schemas/StringArray'
        request_errors:
          type: object
          additionalProperties:
            type: string   
    FavoriteDeleteResponse:
      type: object
      properties:
        system_errors:
          $ref: '#/components/schemas/StringArray'
        request_errors:
          type: object
          additionalProperties:
            type: string        
    FavoriteListResponse:
      type: object
      properties:
        system_errors:
          $ref: '#/components/schemas/StringArray'
        request_errors:
          type: object
          additionalProperties:
            type: string  
        result:
          type: array
          items:
            $ref: '#/components/schemas/FavoriteItem'      
    StatPriceHistoryItem:
      type: object
      properties:
        date: 
          type: integer
        price: 
          type: number
    OfferStatistic:
      type: object
      properties:
        price_history:
          type: array
          items: 
             $ref: '#/components/schemas/StatPriceHistoryItem'  
        days_on_site:
          type: integer
        favorite_count:
          type: integer
        vin:
          type: string
        min_kit_price:
          type: number
        max_kit_price:
          type: number
          
paths:
  /offers/hooks:
    post:
      tags: ["webhooks", "offers"]
      summary: "Offers's idempotent notificatons endpoint"
      security: 
        - clients:
            - webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/RSECarStorageItem"
      responses:
        200:
          description: "success"
        400:
          description: "invalid request"
  /offers/offers:
    post:
      tags: ["offers"]
      summary: Returns offers list
      description: Returns offers list
      operationId: getOffersList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferRequestData'
      responses:
        '200':
            description: 'ok'
            content:
             application/json:
              schema:
                $ref: '#/components/schemas/OfferResponseData'
        '400':
          description: 'bad request'
  /offers/filter:
    get:
      tags: ["offers"]
      summary: Returns all filter data  
      operationId: getFullFilterData
      description: Returns all data for filter and available filter params by offers
      parameters:
        - in: query
          name: latitude
          schema:
            type: number
          description: client latitude  
        - in: query
          name: longitude
          schema:
            type: number
          description: client longitude  
        - in: query
          name: max_distance
          schema:
            type: integer
          description: client max_distance  
      responses:
        '200':
          description: 'ok'
          content:
           application/json:
            schema:
              $ref: '#/components/schemas/FullFilterData'
        '500':
          description: 'something wrong with server'
    post:
      tags: ["offers"]
      summary: Returns filter data by passed filter parameters
      description: Returns available filter params by passed filter
      operationId: getShortFilterData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequest'
      responses:
        '200':
            description: 'ok'
            content:
             application/json:
              schema:
                $ref: '#/components/schemas/ShortFilterData'
        '400':
          description: 'bad request'
  /offers/{offer_id}:
    get:
      tags: ["offers"]
      summary: Returns offer detail data
      operationId: getOfferData
      description: Returns all data for requested offer
      parameters:
        - name: offer_id
          in: path
          description: Offer ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'ok'
          content:
           application/json:
            schema:
              $ref: '#/components/schemas/OfferDetailData'
        '400':
          description: 'bad request'
          
  /offers/cities:
    get:
      tags: ["cities"]
      summary: Returns cities list with dealers
      operationId: getCitiesData
      description: Returns cities list with dealers
      responses:
        '200':
          description: 'ok'
          content:
           application/json:
            schema:
              $ref: '#/components/schemas/CitiesDataResponse'
        '500':
          description: 'something wrong with server'
  /offers/dealers/{dealer_code}:
    get:
      tags: ["dealers"]
      summary: Returns dealer detail data
      operationId: getDealerData
      description: Returns all data for requested dealer
      parameters:
        - name: dealer_code
          in: path
          description: Dealer RU code
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'ok'
          content:
           application/json:
            schema:
              $ref: '#/components/schemas/OfferDetailData'
        '400':
          description: 'bad request'
  /offers/dealers/{dealer_code}/cars:
    get:
      tags: ["dealers"]
      summary: Returns dealer cars catalog
      operationId: getDealerCarsData
      description: Returns all cars for requested dealer
      parameters:
        - name: dealer_code
          in: path
          description: Dealer RU code
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'ok'
          content:
           application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                model_code:
                  type: string
                price:
                  type: number
                final_price:
                  type: number
                exterior_color_code:
                  type: number
                order_year:
                  type: integer
                options:
                  type: string
                model_year:
                  type: integer
                updated_at:
                  type: string
        '400':
          description: 'bad request'
  /reserve/reserve/create:
    post:
      tags: ["reserve"]
      summary: "Reservation creating endpoint"
      description: 'Метод создает заявку в своей БД, транслирует ее в РСЕ. Если размер предоплаты 0, то возвращает 201 статус. Клиент должен быть сразу же перенаправлен на страницу успеха. Если ращзмер предоплаты больше 0, выполняется создание заказа в модуле онлайн-оплаты дилерского сайта. Модуль генерирует заказ в банке и возвращает информацию по заказу. В информации по заказу есть ссылка paymentUrl, на которую должен быть перенаправлен пользователь для оплаты.'
      security: 
        - clients:
            - requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReserveRequest'
      responses:
        '201':
          description: "success"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReserveResult'
        '400':  
          description: "invalid request"
        '500':
          description: "Internal Server Error"
  /reserve/reserve/pay:
    post:
      tags: ["reserve"]
      summary: "Create payment for existing reserve request"
      security: 
        - clients:
            - requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReserveRequest'
      responses:
        '201':
          description: "success"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReserveResult'
        '400':  
          description: "invalid request"
        '500':
          description: "Internal Server Error"        
  /personal/requests:
    get:
      tags: ["requests"]
      summary: "User requests list endpoint"
      security: 
        - clients:
            - requests
      responses:
        '200':
          description: "success"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestListResponse'
        '400':  
          description: "invalid request"
        '500':
          description: "Internal Server Error"
  /personal/requests/{id}:
    get:
      tags: ["requests"]
      summary: "Users request detail info"
      security: 
        - clients:
            - requests
      parameters:
        - name: id
          in: path
          description: Request ID
          required: true
          schema:
            type: string      
      responses:
        '200':
          description: "success"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestDetailResponse'
        '400':  
          description: "invalid request"
        '500':
          description: "Internal Server Error"
  /personal/favorite:
    post:
      tags: ["favorite"]
      summary: "Create favorite request"
      security: 
        - clients:
            - requests
      parameters:
        - name: dealer
          in: query
          description: Dealer code
          required: true
          schema:
            type: string  
        - name: vin
          in: query
          description: Car VIN number
          required: true
          schema:
            type: string    
      responses:
        '201':
          description: "success"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteCreateResponse'
        '400':  
          description: "invalid request"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteCreateResponse'
        '500':
          description: "Internal Server Error"   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteCreateResponse'
    delete:
      tags: ["favorite"]
      summary: "Remove car from favorite"
      security: 
        - clients:
            - requests
      parameters:
        - name: dealer
          in: query
          description: Dealer code
          required: true
          schema:
            type: string  
        - name: vin
          in: query
          description: Car VIN number
          required: true
          schema:
            type: string    
      responses:
        '200':
          description: "success"
        '400':  
          description: "invalid request"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteDeleteResponse'
        '500':
          description: "Internal Server Error"   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteDeleteResponse'   
  /personal//favorite/{client_id}:
    get:
      tags: ["favorite"]
      summary: "User faforite list"
      parameters:
        - name: client_id
          in: path
          description: User idp identificator
          required: true
          schema:
            type: string      
      responses:
        '200':
          description: "success"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteListResponse'
        '400':  
          description: "invalid request"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteListResponse'
        '500':
          description: "Internal Server Error"      
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteListResponse'
  /v1/offers/{vin}/stat:
    get:
      tags: ["offers"]
      summary: Returns offer statistic data
      operationId: getOfferStatistic
      description: Returns offer stats
      parameters:
        - name: vin
          in: path
          description: Offer VIN
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'ok'
          content:
           application/json:
            schema:
              $ref: '#/components/schemas/OfferStatistic'
        '400':
          description: 'bad request'    
        '500':
          description: "Internal Server Error"