openapi: 3.0.0
servers:
  - description: "iTouchVision production environment"
    url: 'https://itouch.vision/integration/805/'
  - description: "iTouchVision testing environment"
    url: 'https://itouch.vision/demo/integration/805/'
info:
  title: iTouchVision Platform Web Services
  version: "8.0.5"
  termsOfService: "https://www.itouchvision.com"
  contact:
    name: "iTouchVision Platform Team"
    email: "support@itouchvision.com"
    url: "https://www.itouchvision.com"
tags:
  - name: Service
    description: Service methods.
  - name: Task
    description: Task methods.
  - name: Community
    description: Person and organisation methods.
  - name: Contract
    description: Contract methods.
  - name: Product
    description: Product methods.
  - name: Booking
    description: Booking methods.
  - name: Waste
    description: Waste methods.
  - name: Quoting
    description: Quoting methods.
  - name: Event management
    description: Error, event and log management methods.
  - name: Assets
    description: Assets methods.
  - name: Locations
    description: Locations methods.
  - name: News
    description: News methods.    
paths:
  #deleteLocation
  /location/{locationNumber}:
    delete:
      tags:
        - Locations
      summary: Delete a location.
      operationId: deleteLocation
      description: |
        By passing in the appropriate options, you can delete a location.
      parameters:
        - in: path
          name: locationNumber
          description: The location ID that will be deleted.
          required: true
          schema:
            type: number
      responses:
        '200':
          description: Location deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: The location cannot be found with the location ID supplied. 

  #getLocation        
    get:
      tags:
        - Locations
      summary: Get a location
      operationId: getLocations
      description: |
        Pass in the appropriate location details to get the addresses against an organisation.
      parameters:
        - in: path
          name: locationNumber
          description: The location Number for a given location.
          required: true
          schema:
            type: number
        - in: query
          name: address1
          description: The first line of the address.
          schema:
            type: string
        - in: query
          name: address2
          description: The second line of the address.
          schema:
            type: string
        - in: query
          name: address3
          description: The third line of the address.
          schema:
            type: string
        - in: query
          name: city
          description: The city or county of the address.
          schema:
            type: string
            default: "Active"
        - in: query
          name: postcode
          description: The postcode of the address.
          schema:
            type: string
            default: "Active"            
        - in: query
          name: region
          description: The region of the address. Example 'England', 'Ireland', etc.
          schema:
            type: string
            default: "Active"                
        - in: query
          name: state
          description: The state of the address. Used for countries where they have states, Examplem USA or India
          schema:
            type: string
            default: "Active"
        - in: query
          name: country
          description: The country of the address.
          schema:
            type: string
            default: "Active"
        - in: query
          name: uprn
          description: The unique property reference number of the address.
          schema:
            type: string
            default: "Active"
        - in: query
          name: enabled
          description: Whether the address is active or not.
          schema:
            type: string
            enum: ["Yes","No"]
      responses:
        '200':
          description: The location is successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locations'
        '400':
          description: bad input parameter 
        '404':
          description: A organisation's location cannot be found with the organisation number supplied.   

  #createLocation
    post:
      tags:
        - Locations
      summary: Add an new location
      operationId: createLocation
      description: |
        Pass in the appropriate location details to create a new location.
      parameters:
        - in: path
          name: locationNumber
          description: This is not required in POST request.
          required: true
          schema:
            type: number
        - in: query
          name: locationNumber
          description: The location Number.
          required: false
          schema:
            type: number
        - in: query
          name: address1
          description: The first line of the address.
          required: true
          schema:
            type: string
        - in: query
          name: address2
          description: The second line of the address.
          required: true
          schema:
            type: string
        - in: query
          name: address3
          description: The third line of the address.
          schema:
            type: string
        - in: query
          name: city
          description: The city or county of the address.
          required: true
          schema:
            type: string
            default: "Active"
        - in: query
          name: postcode
          description: The postcode of the address.
          required: true
          schema:
            type: string
            default: "Active"            
        - in: query
          name: region
          description: The region of the address. Example 'England', 'Ireland', etc.
          schema:
            type: string
            default: "Active"                
        - in: query
          name: state
          description: The state of the address. Used for countries where they have states, Examplem USA or India
          schema:
            type: string
            default: "Active"
        - in: query
          name: country
          description: The country of the address.
          required: true
          schema:
            type: string
            default: "Active"
        - in: query
          name: uprn
          description: The unique property reference number of the address.
          schema:
            type: string
            default: "Active"
        - in: query
          name: enabled
          description: Whether the address is active or not.
          schema:
            type: string
            enum: ["Yes","No"]
      responses:
        '200':
          description: The location is successfully added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
          
  #getWasteBookings
  /booking/waste/{bookingNumber}:
    get:
      tags:
        - Booking
      summary: Allows you to retrieve the full details of a given waste booking.
      operationId: getWasteBookings
      description: 
        By passing in the appropriate options, you can search for available waste bookings in the platform
      parameters:
        - in: path
          name: bookingNumber
          description: The Booking number of booking.
          required: true
          schema:
            type: number
            format: uuid
        - in: query
          name: facility
          description: The Booking facility
          required: true
          schema:
            type: string
        - in: query
          name: title
          description: Title of the waste booking
          required: true
          schema:
            type: string
        - in: query
          name: group
          description: Group of the waste booking item
          required: true
          schema:
            type: string
        - in: query
          name: item
          description: Item of the waste booking.
          required: true
          schema:
            type: string
        - in: query
          name: date
          description: The Booking Date
          required: true
          schema:
            type: string
        - in: query
          name: startTime
          description: StartTime of the waste booking
          required: true
          schema:
            type: string
        - in: query
          name: endTime
          description: EndTime of the waste booking
          required: true
          schema:
            type: string
        - in: query
          name: status
          description: Status of the waste booking
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Waste Booking retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookings'
        '400':
          description: bad input parameter
        '404':
          description: The booking cannot be found with the booking number supplied.

  #getWasteBookings
  /booking/waste/serviceRequest/{serviceRequestNumber}:
    get:
      tags:
        - Booking
      summary: Allows you to retrieve the full details of a given waste booking.
      operationId: getWasteBookingsViaServiceRequest
      description: 
        By passing in the appropriate options, you can search for available waste bookings in the platform
      parameters:
        - in: path
          name: serviceRequestNumber
          description: The Booking number of booking.
          required: true
          schema:
            type: number
            format: uuid
      responses:
        '200':
          description: Waste Booking retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookingWaste'
        '400':
          description: bad input parameter
        '404':
          description: The booking cannot be found with the booking number supplied.
          
  #makeWasteBooking
  /booking/waste:
    post:
      tags:
        - Booking
      summary: Allows you to make an waste booking.
      operationId: makeWasteBooking
      description: Create an waste Booking.
      parameters:
        - in: query
          name: bookingNumber
          description: The Booking Number
          required: true
          schema:
            type: number
            format: uuid
        - in: query
          name: date
          description: The Booking Date
          required: true
          schema:
            type: string
        - in: query
          name: facility
          description: The Booking facility
          required: true
          schema:
            type: string
        - in: query
          name: startTime
          description: StartTime of the waste booking
          required: true
          schema:
            type: string
        - in: query
          name: endTime
          description: EndTime of the waste booking
          required: true
          schema:
            type: string
        - in: query
          name: title
          description: Title of the waste
          required: true
          schema:
            type: string
        - in: query
          name: group
          description: Group of the waste booking item
          required: true
          schema:
            type: string
        - in: query
          name: item
          description: Item of the waste booking.
          required: true
          schema:
            type: string
        - in: query
          name: cost
          description: Cost of the waste booking
          required: true
          schema:
            type: string
        - in: query
          name: currency
          description: Currency of the waste booking
          required: true
          schema:
            type: string
        - in: query
          name: status
          description: Status of the waste booking
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Waste Bookings created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
          
  #getAssetBookings
  /booking/asset/{bookingNumber}:
    get:
      tags:
        - Booking
      summary: Allows you to retrieve the full details of a given asset booking.
      operationId: getAssetBookings
      description: 
        By passing in the appropriate options, you can search for available asset bookings in the platform
      parameters:
        - in: path
          name: bookingNumber
          description: The Booking number of booking.
          required: true
          schema:
            type: number
            format: uuid
        - in: query
          name: facility
          description: The Booking facility
          required: true
          schema:
            type: string
        - in: query
          name: title
          description: Title of the asset booking
          required: true
          schema:
            type: string
        - in: query
          name: date
          description: The Booking Date
          required: true
          schema:
            type: string
        - in: query
          name: startTime
          description: StartTime of the asset booking
          required: true
          schema:
            type: string
        - in: query
          name: endTime
          description: EndTime of the asset booking
          required: true
          schema:
            type: string
        - in: query
          name: status
          description: Status of the asset booking
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Asset Booking retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookings'
        '400':
          description: bad input parameter
        '404':
          description: The booking cannot be found with the booking number supplied.
          
  #makeAssetBooking
  /booking/asset:
    post:
      tags:
        - Booking
      summary: Allows you to make an asset booking.
      operationId: makeAssetBooking
      description: Create an asset Booking.
      parameters:
        - in: query
          name: bookingNumber
          description: The Booking Number
          required: true
          schema:
            type: number
            format: uuid
        - in: query
          name: date
          description: The Booking Date
          required: true
          schema:
            type: string
        - in: query
          name: facility
          description: The Booking facility
          required: true
          schema:
            type: string
        - in: query
          name: startTime
          description: StartTime of the asset booking
          required: true
          schema:
            type: string
        - in: query
          name: availability
          description: Availability of the asset booking
          required: true
          schema:
            type: string
        - in: query
          name: endTime
          description: EndTime of the asset booking
          required: true
          schema:
            type: string
        - in: query
          name: title
          description: Title of the asset
          required: true
          schema:
            type: string
        - in: query
          name: cost
          description: Cost of the asset booking
          required: true
          schema:
            type: string
        - in: query
          name: currency
          description: Currency of the asset booking
          required: true
          schema:
            type: string
        - in: query
          name: description
          description: Description of the asset booking
          required: true
          schema:
            type: string
        - in: query
          name: status
          description: Status of the asset booking
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Asset Bookings created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
          
  #getEventBookings
  /booking/event/{bookingNumber}:
    get:
      tags:
        - Booking
      summary: Allows you to retrieve the full details of a given event booking.
      operationId: getEventBookings
      description: 
        By passing in the appropriate options, you can search for available event bookings in the platform
      parameters:
        - in: path
          name: bookingNumber
          description: The Booking number of booking.
          required: true
          schema:
            type: number
            format: uuid
        - in: query
          name: name
          description: The Booking Name
          required: true
          schema:
            type: string
        - in: query
          name: date
          description: The Booking Date
          required: true
          schema:
            type: string
        - in: query
          name: startTime
          description: StartTime of the event
          required: true
          schema:
            type: string
        - in: query
          name: endTime
          description: EndTime of the event
          required: true
          schema:
            type: string
        - in: query
          name: status
          description: Status of the event
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Event Booking retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookings'
        '400':
          description: bad input parameter
        '404':
          description: The booking cannot be found with the booking number supplied.
          
  #makeEventBooking
  /booking/event:
    post:
      tags:
        - Booking
      summary: Allows you to make an event booking.
      operationId: makeEventBooking
      description: Create an event Booking.
      parameters:
        - in: query
          name: bookingNumber
          description: The Booking Number
          required: true
          schema:
            type: number
            format: uuid
        - in: query
          name: name
          description: The Booking Name
          required: true
          schema:
            type: string
        - in: query
          name: date
          description: The Booking Date
          required: true
          schema:
            type: string
        - in: query
          name: startTime
          description: StartTime of the event
          required: true
          schema:
            type: string
        - in: query
          name: availability
          description: Availability of the event
          required: true
          schema:
            type: string
        - in: query
          name: endTime
          description: EndTime of the event
          required: true
          schema:
            type: string
        - in: query
          name: seatType
          description: SeatType of the event
          required: true
          schema:
            type: string
        - in: query
          name: concession
          description: Concession of the event
          required: true
          schema:
            type: string
        - in: query
          name: cost
          description: Cost of the event
          required: true
          schema:
            type: string
        - in: query
          name: currency
          description: Currency of the event
          required: true
          schema:
            type: string
        - in: query
          name: status
          description: Status of the event
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Event Bookings created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        
          
  #makeBooking
  /booking:
    post:
      tags:
        - Booking
      summary: Allows you to make a booking.
      operationId: makeBooking
      description: Create a Booking.
      parameters:
        - in: query
          name: bookingNumber
          description: The Booking Number
          required: true
          schema:
            type: number
            format: uuid
        - in: query
          name: bookingType
          description: The Booking Type
          required: true
          schema:
            type: string
        - in: query
          name: bookingReferenceNumber
          description: The Booking Reference Number
          required: false
          schema:
            type: string
        - in: query
          name: clientID
          description: The Client ID of the client making a booking
          required: false
          schema:
            type: number
        - in: query
          name: userID
          description: The User ID of the client making a booking
          required: false
          schema:
            type: number
        - in: query
          name: quantity
          description: The Quantity
          required: false
          schema:
            type: number
        - in: query
          name: status
          description: The Status
          required: true
          schema:
            type: number
        - in: query
          name: attributeID
          description: The Attribute ID
          required: false
          schema:
            type: number
        - in: query
          name: attributeDesc
          description: The Attribute Description
          required: false
          schema:
            type: string
        - in: query
          name: startDate
          description: The Start Date
          required: false
          example: '01-NOV-2013 01:10:10'
          schema:
            type: string
            format: 'DD:MON:YYYY HH24:MM:SS'
        - in: query
          name: endDate
          description: The End Date
          required: false
          example: '27-NOV-2013 01:10:10'
          schema:
            type: string
            format: 'DD:MON:YYYY HH24:MM:SS'
        - in: query
          name: cost
          description: The Cost
          required: false
          schema:
            type: string
        - in: query
          name: currency
          description: The Currency
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Bookings created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter

  #cancelBooking
  /booking/cancel/{bookingNumber}:
    delete:
      tags:
        - Booking
      summary: Cancel a booking.
      operationId: cancelBooking
      description: |
        By passing in the appropriate options, you can cancel a booking.
      parameters:
        - in: path
          name: bookingNumber
          description: The booking number that will be canceled.
          required: true
          schema:
            type: number
      responses:
        '200':
          description: Booking canceled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: The booking cannot be found with the booking number supplied.          

  #getUserBookings
  /booking/{bookingNumber}:
    get:
      tags:
        - Booking
      summary: Allows you to retrieve the full details of a given booking.
      operationId: getUserBookings
      description: 
        By passing in the appropriate options, you can search for available bookings in the platform
      parameters:
        - in: path
          name: bookingNumber
          description: The Booking number of booking.
          required: true
          schema:
            type: number
            format: uuid
        - in: query
          name: userName
          description: The User name of given booking.
          required: true
          schema:
            type: string
        - in: query
          name: startDate
          description: The StartDate of given booking.
          required: true
          example: '01-NOV-2013 01:10:10'
          schema:
            type: string
            format: 'DD:MON:YYYY HH24:MM:SS'
        - in: query
          name: endDate
          description: The EndDate of given booking.
          required: true
          example: '27-NOV-2013 01:10:10'
          schema:
            type: string
            format: 'DD:MON:YYYY HH24:MM:SS'
      responses:
        '200':
          description: Booking retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookings'
        '400':
          description: bad input parameter
        '404':
          description: The bbooking cannot be found with the booking number supplied.  
          
  #deleteAsset
  /asset/delete/{assetNumber}:
    delete:
      tags:
        - Assets
      summary: Delete an asset.
      operationId: deleteAsset
      description: |
        By passing in the appropriate options, you can delete an asset.
      parameters:
        - in: path
          name: assetNumber
          description: The asset Number that will be deleted.
          required: true
          schema:
            type: number
      responses:
        '200':
          description: Asset deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: The asset cannot be found with the asset Number supplied. 

  #getAssets
  /asset/{assetNumber}:
    get:
      tags:
        - Assets
      summary: Allows you to retrieve the full details of a given asset.
      operationId: getAssets
      description: 
        By passing in the appropriate options, you can search for available assets in the platform
      parameters:
        - in: path
          name: assetNumber
          description: The Asset number.
          required: true
          schema:
            type: number
            format: uuid
        - in: query
          name: category
          description: The Category of given asset.
          required: false
          schema:
            type: string
        - in: query
          name: subCategory
          description: The SubCategory of given asset.
          required: false
          schema:
            type: string
        - in: query
          name: name
          description: The Name of given asset.
          required: false
          schema:
            type: string
        - in: query
          name: code
          description: The Code of given asset.
          required: false
          schema:
            type: string
        - in: query
          name: erpCode
          description: The ERPCode of given asset.
          required: false
          schema:
            type: string
        - in: query
          name: status
          description: The Status of given asset.
          required: false
          schema:
            type: string
        - in: query
          name: creationDate
          description: The CreationDate of given asset.
          required: false
          example: '01-NOV-2013 01:10:10'
          schema:
            type: string
            format: 'DD:MON:YYYY HH24:MM:SS'
        - in: query
          name: expiryDate
          description: The ExpiryDate of given asset.
          required: false
          example: '27-NOV-2013 01:10:10'
          schema:
            type: string
            format: 'DD:MON:YYYY HH24:MM:SS'
        - in: query
          name: enabled
          description: The Enabled of given asset.
          required: false
          schema:
            type: string
        - in: query
          name: decsription
          description: The Decsription of given asset.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Asset retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets'
        '400':
          description: bad input parameter
        '404':
          description: The asset cannot be found with the asset ID supplied.      

  #upsertAssets
  /asset:
    post:
      tags:
        - Assets
      summary: Allows you to make an asset.
      operationId: upsertAsset
      description: Create an asset.
      parameters:
        - in: query
          name: assetNumber
          description: The Asset Number of asset
          required: false
          schema:
            type: number
            format: uuid
        - in: query
          name: category
          description: The Category of asset
          required: true
          schema:
            type: string
        - in: query
          name: subCategory
          description: The SubCategory of asset
          required: false
          schema:
            type: string
        - in: query
          name: name
          description: The Name of asset
          required: true
          schema:
            type: string
        - in: query
          name: status
          description: The Status of asset
          required: true
          schema:
            type: string
        - in: query
          name: erpCode
          description: The ERPCcode of asset
          required: false
          schema:
            type: string
        - in: query
          name: creationDate
          description: The Creation Date
          required: false
          example: '01-NOV-2013 01:10:10'
          schema:
            type: string
            format: 'DD:MON:YYYY HH24:MM:SS'
        - in: query
          name: expiryDate
          description: The Expiry Date
          required: false
          example: '27-NOV-2013 01:10:10'
          schema:
            type: string
            format: 'DD:MON:YYYY HH24:MM:SS'
        - in: query
          name: decription
          description: The Decription of asset
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Asset created/updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
          

          
  #createWasteTask
  /waste/schedule/collectionTask/:
    post:
      tags:
        - Waste
      summary: Allows you to create a waste collection task.
      operationId: createWasteCollectionTask
      description: Create a waste collection task.
      parameters:
        - in: query
          name: wasteScheduleNumber
          description: The Waste Task Number
          required: true
          schema:
            type: number
            format: uuid
        - in: query
          name: subject
          description: The Subject of Waste Task
          required: true
          schema:
            type: string
        - in: query
          name: action
          description: The Action of Waste Task
          required: false
          schema:
            type: string
        - in: query
          name: type
          description: The Type Code of Waste Task
          example: TYPE_CODE
          required: true
          schema:
            type: string
        - in: query
          name: status
          description: The Status of Waste Task
          required: true
          schema:
            type: string
        - in: query
          name: startDate
          description: The Start Date of Waste Task
          required: false
          example: '01-NOV-2013 01:10:10'
          schema:
            type: string
            format: 'DD:MON:YYYY HH24:MM:SS'
        - in: query
          name: duration 
          description: The Duration of Waste Task
          required: false
          schema:
            type: number
        - in: query
          name: unit 
          description: The Unit of Waste Task
          required: false
          schema:
            type: string
        - in: query
          name: owner 
          description: The Owner email of Waste Task
          required: true
          schema:
            type: string
        - in: query
          name: contributor 
          description: The Contributor of Waste Task
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Waste Collection Task created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
          
  #createWasteSchedule
  /waste/schedule/{uprn}:
    post:
      tags:
        - Waste
      summary: Allows you to create a waste schedule.
      operationId: createWasteSchedule
      description: A schedule describes the colletion for a property, and the detail of how the collection should be completed.
      parameters:
        - in: path
          name: uprn
          description: The unique property refreence number of the Address
          required: true
          schema:
            type: string
        - in: query
          name: type
          description: The schedule type Code e.g. domestic refuse
          required: true
          example: DOM_REF
          schema:
            type: string
        - in: query
          name: start
          description: The starting date of the schedule
          required: true
          schema:
            type: string
            format: DD-MON-YYYY
        - in: query
          name: end
          description: The end date of the schedule
          required: true
          schema:
            type: string
            format: DD-MON-YYYY  
        - in: query
          name: assisted
          description: Whether the customer is entitled to an assisted collection
          required: false
          example: YES
          schema:
            type: string
            enum: ['YES','NO']            
        - in: query
          name: round
          description: The round name or number
          required: false
          example: 'DWK2TUE011'
          schema:
            type: string
        - in: query
          name: containerType
          description: The container type Code
          required: true
          example: CONT1
          schema:
            type: string
        - in: query
          name: containerQuantity
          description: The quantity of containers
          required: true
          example: 1
          schema:
            type: number
      responses:
        '200':
          description: Waste schedule created/updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
    put:
      tags:
        - Waste
      summary: Allows you to create a waste schedule.
      operationId: updateWasteSchedule
      description: A schedule discribes the colletion for a property, and the detail of how the collection should be completed.
      parameters:
        - in: path
          name: uprn
          description: The unique property refreence number of the Address
          required: true
          schema:
            type: string
        - in: query
          name: scheduleNumber
          description: The waste schechule number
          required: true
          schema:
            type: number
            format: uuid 
        - in: query
          name: type
          description: The schedule type Code e.g. domestic refuse
          required: true
          example: DOM_REF      
          schema:
            type: string            
        - in: query
          name: start
          description: The starting date of the schedule
          required: true
          schema:
            type: string
            format: DD-MON-YYYY
        - in: query
          name: end
          description: The end date of the schedule
          required: true
          schema:
            type: string
            format: DD-MON-YYYY  
        - in: query
          name: assisted
          description: Whether the customer is entitled to an assisted collection
          required: false
          example: YES
          schema:
            type: string
            enum: ['YES','NO']            
        - in: query
          name: round
          description: The round name or number
          required: true
          example: 'DWK2TUE011'
          schema:
            type: string
        - in: query
          name: containerType
          description: The container type Code
          required: true
          example: CONT1
          schema:
            type: string
        - in: query
          name: containerQuantity
          description: The quantity of containers
          required: true
          example: 1
          schema:
            type: string            
      responses:
        '200':
          description: Waste created/updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
    get:
      tags:
        - Waste
      summary: Allows you to retrieve all schedules (e.g. Refuse, Green) for a property.
      operationId: getWasteSchedulesUprn
      description: 
        By passing in the appropriate options, you can search for available waste in the platform
      parameters:
        - in: path
          name: uprn
          description: The unique property reference number.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Waste Schedule(s) retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wasteSchedules'
        '400':
          description: bad input parameter
        '404':
          description: The waste collection cannot be found with the UPRN supplied.   
    delete:
      tags:
        - Waste
      summary: Allows you to retrieve all schedules (e.g. Refuse, Green) for a property.
      operationId: deleteWasteSchedulesUprn
      description: 
        By passing in the appropriate options, you can search for available waste in the platform
      parameters:
        - in: path
          name: uprn
          description: The unique property reference number.
          required: true
          schema:
            type: string
        - in: query
          name: type
          description: The schedule type Code e.g. domestic refuse
          required: true
          example: DOM_REF
          schema:
            type: string    
      responses:
        '200':
          description: Waste Schedule(s) deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wasteSchedules'
        '400':
          description: bad input parameter
        '404':
          description: The waste collection cannot be found with the UPRN supplied.            


  #getExceptions
  /waste/exceptions:
    get:
      tags:
        - Waste
      summary: Allows you to retrieve the full details of a given waste.
      operationId: getExpections
      description: 
        By passing in the appropriate options, you can search for available waste in the platform
      responses:
        '200':
          description: Waste retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wasteExceptions'
        '400':
          description: bad input parameter
        '404':
          description: The waste collection cannot be found with the UPRN supplied.
  
  #getAddressesByUprn
  /waste/round/{round}:
    get:
      tags:
        - Waste
      summary: Allows you to retrieve the full details of a given waste.
      operationId: getWasteRounds
      description: 
        By passing in the appropriate options, you can check that a round has been completed for all properties.
      parameters:
        - in: path
          name: round
          description: the name of the round.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Waste Schedule(s) retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wasteSchedules'
        '400':
          description: bad input parameter
        '404':
          description: The waste collection cannot be found with the UPRN supplied. 
          
  #getAddressesByUprnCollectionDate
  /waste/collectionTasks/{uprn}:
    get:
      tags:
        - Waste
      summary: Allows you to retrieve the full details of a given waste collection for a given date.
      operationId: getCollectionTasksByUprnCollectionDate
      description: 
        By passing in the appropriate options, you can search for available waste colletion on the platform for a given date.
      parameters:
        - in: path
          name: uprn
          description: The UPRN of the location for waste collection.
          required: true
          schema:
            type: string
        - in: query
          name: date
          description: The date of the collection service for a given property.
          required: true
          schema:
            type: string
        - in: query
          name: dateTo
          description: The to date for waste information retrieve. If the parameter is blank this method will only return waste information for the given date.
          required: false
          schema:
            type: string
            format: 'DD:MON:YYYY HH24:MM'
      responses:
        '200':
          description: Waste Collection Task(s) retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/collectionTasks'
        '400':
          description: bad input parameter
        '404':
          description: The waste collection cannot be found with the UPRN supplied.
  #getAddressesByPostCode
  /waste/postcode/{postCode}:
    get:
      tags:
        - Waste
      summary: Allows you to retrieve the full details of a given waste.
      operationId: getWasteScheduleByPostCode
      description: 
        By passing in the appropriate options, you can search for available waste in the platform
      parameters:
        - in: path
          name: postCode
          description: The PostCode of waste.
          required: true
          schema:
            type: string
      
      responses:
        '200':
          description: Waste Schedule(s) retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wasteSchedule'
        '400':
          description: bad input parameter
        '404':
          description: The waste collection be found with the postcode supplied.
          
  #deleteProduct
  /product/delete/{productNumber}:
    delete:
      tags:
        - Product
      summary: Delete Product.
      operationId: deleteProduct
      description: |
        By passing in the appropriate options, you can delete Product.
      parameters:
        - in: path
          name: productNumber
          description: The Product ID that will be deleted.
          required: true
          schema:
            type: number
      responses:
        '200':
          description: Product deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: The Product cannot be found with the Product ID supplied.
          
  #getProductByPrice
  /product/price/{productNumber}:
    get:
      tags:
        - Product
      summary: Allows you to retrieve the full details of a given product.
      operationId: getProductPrice
      description: 
        By passing in the appropriate options, you can search for available products in the platform
      parameters:
        - in: path
          name: productNumber
          description: The Product number of product.
          required: true
          schema:
            type: number
            format: uuid
      responses:
        '200':
          description: Products Price retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productPrice'
        '400':
          description: bad input parameter
        '404':
          description: The product cannot be found with the product number supplied.
    put:
      tags:
        - Product
      summary: Allows you to update a product with given price
      operationId: updateProductPrice
      description: Update a product price.
      parameters:
        - in: path
          name: productNumber
          description: The Product ID
          required: true
          schema:
            type: string
        - in: query
          name: productPriceNumber
          description: The Product Price ID
          required: true
          schema:
            type: string
        - in: query
          name: price
          description: The Price
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Product price updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
    
  #getProduct
  /product/{productNumber}:
    get:
      tags:
        - Product
      summary: Allows you to retrieve the full details of a given product.
      operationId: getProducts
      description: 
        By passing in the appropriate options, you can search for available products in the platform
      parameters:
        - in: path
          name: productNumber
          description: The Product number of product.
          required: true
          schema:
            type: number
            format: uuid
      responses:
        '200':
          description: Products retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/products'
        '400':
          description: bad input parameter
        '404':
          description: The product cannot be found with the product number supplied.  
          
  #upsertProduct
  /product:
    post:
      tags:
        - Product
      summary: Allows you to add a product.
      operationId: upsertProduct
      description: Create a product.
      parameters:
        - in: query
          name: productNumber
          description: The Product Number
          required: false
          schema:
            type: string
        - in: query
          name: productPriceNumber
          description: The Product Price ID
          required: false
          schema:
            type: string
        - in: query
          name: productType
          description: The Product Type
          required: true
          schema:
            type: string
        - in: query
          name: category
          description: The Product Category
          required: true
          schema:
            type: string
        - in: query
          name: subCategory
          description: The Product SubCategory
          required: false
          schema:
            type: string
        - in: query
          name: name
          description: The Product Name
          required: true
          schema:
            type: string
        - in: query
          name: status
          description: The Product Status
          required: true
          schema:
            type: string
        - in: query
          name: price
          description: The Product Price
          required: false
          schema:
            type: string
        - in: query
          name: currency
          description: The Product Currency
          required: false
          schema:
            type: string
        - in: query
          name: unit
          description: The Product Unit
          required: false
          schema:
            type: string
        - in: query
          name: description
          description: The Product Description
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Product added/updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
  
  #deleteQuoteLine
  /quote/line/{quoteNumber}:
    delete:
      tags:
        - Quoting
      summary: Delete a quote line.
      operationId: deleteQuoteLine
      description: |
        By passing in the appropriate options, you can delete a quote line.
      parameters:
        - in: path
          name: quoteNumber
          description: The quote number that will be deleted.
          required: true
          schema:
            type: number
        - in: query
          name: quoteLine
          description: The Quote Line of given quote.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Quote Line deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: The quote cannot be found with the quote number supplied.          
  #deleteQuote
  /quote/{quoteNumber}:
    delete:
      tags:
        - Quoting
      summary: Delete a quote.
      operationId: deleteQuote
      description: |
        By passing in the appropriate options, you can delete a quote.
      parameters:
        - in: path
          name: quoteNumber
          description: The quote ID that will be deleted.
          required: true
          schema:
            type: number
        - in: query
          name: quoteReference
          description: The Quote Reference of given quote.
          required: true
          schema:
            type: string
        - in: query
          name: quoteType
          description: the Quote Type of given quote.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Quote deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: The quote cannot be found with the quote number supplied.
    get:
      tags:
        - Quoting
      summary: Allows you to retrieve the full details of a given quote.
      operationId: getQuotes
      description: 
        By passing in the appropriate options, you can search for available quotes in the platform
      parameters:
        - in: path
          name: quoteNumber
          description: The quote number of quote.
          required: true
          schema:
            type: number
            format: uuid
        - in: query
          name: quoteReference
          description: The Quote Reference of given quote.
          required: false
          schema:
            type: string
        - in: query
          name: quoteType
          description: the Quote Type of given quote.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Quotes retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quotes'
        '400':
          description: bad input parameter
        '404':
          description: The quote cannot be found with the quote number supplied.     
          
  #CreateQuote
  /quote:
    post:
      tags:
        - Quoting
      summary: Allows you to add a quote.
      operationId: upsertQuote
      description: Create a quote.
      parameters:
        - in: query
          name: quoteNumber
          description: The Quote ID
          required: false
          schema:
            type: number
        - in: query
          name: reference
          description: The Quote Reference ID
          required: true
          schema:
            type: string
        - in: query
          name: opportunity
          description: Opportunity of the given quotes.
          schema:
            type: string
          required: true
        - in: query
          name: quoteType
          description: The Quote type of the given quote.
          schema:
            type: string
          required: true
        - in: query
          name: status
          description: Status of the given quote.
          required: true
          schema:
            type: string
        - in: query
          name: organisation
          description: OrganisationID of the gven quote.
          required: true
          schema:
            type: string
            
      responses:
        '200':
          description: Quotes created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter          

  /contract:
    #createContract
    post:
      tags:
        - Contract
      summary: Creates a new contract in the system
      operationId: createContract
      description: |
        By passing in the appropriate options, you can insert contracts in the system
      parameters:
        - in: query
          name: templateCode
          description: pass TemplateCode for the given contract.
          required: false
          schema:
            type: string
        - in: query
          name: priceCode
          description: pass PriceCode for the given contract.
          required: false
          schema:
            type: string
        - in: query
          name: quantity
          description: pass Quantity for the given contract.
          required: false
          schema:
            type: number
        - in: query
          name: email
          description: pass Email for the given contract.
          required: false
          schema:
            type: string
        - in: query
          name: uprn
          description: pass UPRN for the given contract.
          required: false
          schema:
            type: number
      responses:
        '200':
          description: Contract added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
    #getContracts
    get:
      tags:
        - Contract
      summary: Allows you to retrieve the full details of a given contract.
      operationId: getContracts
      description: 
        By passing in the appropriate options, you can search for available contracts in the platform
      parameters:
        - in: query
          name: contractType
          description: The type of contract of given contract.
          required: true
          schema:
            type: string
        - in: query
          name: contractSubType
          description: The sub contract of given contract.
          required: false
          schema:
            type: string
        - in: query
          name: statusCode
          description: the status of given contract.
          required: true
          schema:
            type: string
        - in: query
          name: statusType
          description: the status type of given contract.
          required: true
          schema:
            type: string            
        - in: query
          name: creationDateFrom
          description: The from date for the start of creation to retrieve the contracts.
          required: false
          example: '01-NOV-2013 01:10:10'
          schema:
            type: string
            format: 'DD:MON:YYYY HH24:MM:SS'
        - in: query
          name: creationDateTo
          description: The last date of the  of the creation to retrieve the contract.
          required: false
          example: '27-NOV-2013 23:59:59'
          schema:
            type: string
            format: 'DD:MON:YYYY HH24:MM:SS'
      responses:
        '200':
          description: Contracts retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contracts'
        '400':
          description: bad input parameter
          
  #getContractByID        
  /contract/{contractNumber}:
    get:
      tags:
        - Contract
      summary: Allows you to retrieve the full details of a given organisations depending upon the type of Party type.
      operationId: getContractDetails
      description: |
        By passing in the appropriate options, you can search for
        available contracts in the system
      parameters:
        - in: path
          name: contractNumber
          description: The contract number of the contract to be returned.
          required: true
          schema:
            type: number
            format: uuid
      responses:
        '200':
          description: Contract retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contractDetails'
        '400':
          description: bad input parameter
        '404':
          description: The contact cannot be found with the contact number supplied.
          
  #getContractByReferenceNo        
  /contract/{referenceNumber}:
    get:
      tags:
        - Contract
      summary: Allows you to retrieve the full details of a given organisations depending upon the type of Party type.
      operationId: getContractsByReferenceNo
      description: |
        By passing in the appropriate options, you can search for
        available contracts in the system
      parameters:
        - in: path
          name: referenceNumber
          description: The contract ID of the contract to be returned
          required: true
          schema:
            type: number
            format: uuid
      responses:
        '200':
          description: Contract retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contractDetails'
        '400':
          description: bad input parameter 
        '404':
          description: The reference number cannot be found with the contract number supplied. 
          
  #getContractforPerson        
  /contract/person/{personNumber}:
    get:
      tags:
        - Contract
      summary: Allows you to retrieve the full details of a given organisations depending upon the type of Party type.
      operationId: getContractDetailsPerson
      description: |
        By passing in the appropriate options, you can search for
        available contracts in the system
      parameters:
        - in: path
          name: personNumber
          description: The contract number of the contract to be returned
          required: true
          schema:
            type: number
            format: uuid
      responses:
        '200':
          description: Contract retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contractDetails'
        '400':
          description: bad input parameter
        '404':
          description: The person against the contract cannot be found with the person number supplied.
          
          
  #createContract        
  /contract/note/{contractNumber}:
    post:
      tags:
        - Contract
      summary: Creates a new contract in the system
      operationId: createContractNote
      description: |
        By passing in the appropriate options, you can add a note to an existing contract on the platform.
      parameters:
        - in: path
          name: contractNumber
          description: pass TemplateCode for the given contract.
          required: true
          schema:
            type: number
        - in: query
          name: userNumber
          description: The user number of the person who will create the note. If no value is passed the defult SYSTEM user id will be used.
          example: '63430'
          required: false
          schema:
            type: number
            format: uuid
        - in: query
          name: otherSystemCode
          description: The external sytem code of the user who is creating the note.
          required: false
          example: 'WIL'
          schema:
            type: string
        - in: query
          name: otherSytemUserID
          description: The external sytem user ID of the user who is creating the note.
          required: false
          example: '12345677'
          schema:
            type: string
            format: uuid
            example: 123
        - in: query
          name: type
          description: The type of note you want to create.
          required: true
          example: 'callBack'
          schema:
            type: string
        - in: query
          name: title
          description: The title of note you want to create.
          required: true
          example: 'The customer called.'
          schema:
            type: string
        - in: query
          name: content
          description: The title of note you want to create.
          required: true
          example: 'Please give the customer an update'
          schema:
            type: string
        - in: query
          name: allowDuplicate
          description: The duplication of note.
          required: true
          schema:
            type: string
            enum: [Y,N]
      responses:
        '200':
          description: Contract note added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
          
  #cancelContract
  /contract/cancel/{contractNumber}:
    delete:
      tags:
        - Contract
      summary: Cancel a contract.
      operationId: cancelContract
      description: |
        By passing in the appropriate options, you can cancel a contract.
      parameters:
        - in: path
          name: contractNumber
          description: The contract ID that will be cancelled.
          required: true
          schema:
            type: number
        - in: query
          name: reasonCode
          description: A reason for the cancellation of the contract.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Contract cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
  
  #cancelContract
  /contract/terminate/{contractNumber}:
    post:
      tags:
        - Contract
      summary: terminate a contract.
      operationId: terminateContract
      description: |
        By passing in the appropriate options, you can cancel a contract.
      parameters:
        - in: path
          name: contractNumber
          description: The contract number that will be terminated.
          required: true
          schema:
            type: number
        - in: query
          name: reasonCode
          description: A reason for the termination of the contract.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Contract terminated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: The contract cannot be found with the contract number supplied.

  #updateContactStatus         
  /contract/status/{contractNumber}:
    put:
      tags:
        - Contract
      summary: Update the status of a given contract.
      operationId: updateContractStatus 
      description: |
        Update the status of the contract.
      parameters:
        - in: path
          name: contractNumber
          description: The contract number for the contract that you want to update the status.
          required: true
          schema:
            type: number
        - in: query
          name: statusCode
          description: The new status.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Contract Reference Number updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: The contract cannot be found with the contract number supplied.
          
  #updateContractReference
  /contract/reference/{contractNumber}:
    put:
      tags:
        - Contract
      summary: Updated contract Reference Number in the system
      operationId: updateContractReference
      description: |
        By passing in the appropriate options, you can update contract reference number in the system
      parameters:
        - in: path
          name: contractNumber
          description: The contract number that you want to update the refernece number.
          required: true
          schema:
            type: number
        - in: query
          name: referenceNumber
          description: The new reference number to assign to the contract.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Contract reference number successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: The contract cannot be found with the contract number supplied.
          
  #getPeople
  /person:
    get:
      tags:
        - Community
      summary: Allows you to retrieve the full details of a given users.
      operationId: getPeople
      description: |
        By passing in the appropriate options, you can search for
        available users in the system
      parameters:
        - in: query
          name: recordState
          description: The record state of the given for the person. This allows you retreive only new or updated notes, or retreive all the notes.
          schema:
            type: string
            enum: [ALL,UPDATED,NEW]
          required: true
        - in: query
          name: otherSystemCode
          description: The code  of the external system that previously created the task.
          required: false
          example: 'WIL'
          schema:
            type: string
        - in: query
          name: otherSystemUserID
          description: The user ID of the person of the external system that previously created the task.
          required: false
          schema:
            type: string
        - in: query
          name: role
          description: The role code of the given person.
          schema:
            type: string
          required: false
          example: 'SA'
        - in: query
          name: firstName
          description: The first name of the given person.
          schema:
            type: string
          required: false
          example: 'Mark'
        - in: query
          name: lastName
          description: The last name of the given person.
          schema:
            type: string
          required: false
          example: 'Mark'
        - in: query
          name: mobile
          description: The mobile of the given person.
          schema:
            type: string
          required: false
          example: '1234567890'
        - in: query
          name: userName
          description: The username of the given person.
          schema:
            type: string
          required: false
          example: 'mark.eves'
        - in: query
          name: email
          description: The email of the given person.
          schema:
            type: string
          required: false
          example: 'mark.eves@itouchvision.com'
        - in: query
          name: address1
          description: The address1 of the given person.
          schema:
            type: string
          required: false
          example: '1'
        - in: query
          name: address2
          description: The address2 of the given person.
          schema:
            type: string
          required: false
          example: 'ABC Streer'
        - in: query
          name: address3
          description: The address3e of the given person.
          schema:
            type: string
          required: false
          example: 'Mark'
        - in: query
          name: city
          description: The city or town of the address.
          required: false
          example: 'London'
          schema:
            type: string
        - in: query
          name: PostCode
          description: The postcode of the address.
          required: false
          example: 'AB1 CD2'
          schema:
            type: string
        - in: query
          name: Region
          description: The region of the address.
          required: false
          example: 'England'
          schema:
            type: string
        - in: query
          name: Country
          description: The county of the address.
          required: false
          schema:
            type: string
        - in: query
          name: status
          description: Status of the given user.
          schema:
            type: string
            enum: [ACTIVE, LOCKED, DECEASED, SUSPENDED]
          required: false
        - in: query
          name: creationDate
          description: The date the person was created.
          schema:
            type: string
            format: 'DD:MON:YYYY HH24:MM:SS'
          required: false
          example: '01-NOV-2013 01:10:10'
        - in: query
          name: EndDate
          description: The date the person was disabled.
          schema:
            type: string
            format: 'DD:MON:YYYY HH24:MM:SS'
          required: false
          example: '27-NOV-2013 01:10:10'
      responses:
        '200':
          description: User retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/people'
        '400':
          description: bad input parameter
    
    #upsertUser
    post:
      tags:
        - Community
      summary: Adds users in the system
      operationId: upsertUser
      description: |
        By passing in the appropriate options, you can insert users in the system
      requestBody:
        description: Request body for JSON input
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/personPayload'
      responses:
        '200':
          description: User added/updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
          
  #deletePerson
  /person/delete/{personNumber}:
    delete:
      tags:
        - Community
      summary: Delete Person.
      operationId: deletePerson
      description: |
        By passing in the appropriate options, you can delete Person.
      parameters:
        - in: path
          name: personNumber
          description: The Person ID that will be deleted.
          required: true
          schema:
            type: number
      responses:
        '200':
          description: Person deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: The Person cannot be found with the Person ID supplied.
   
  #getPerson
  /person/id/{personNumber}:
    get:
      tags:
        - Community
      summary: Allows you to retrieve the full details of a given person.
      operationId: getPersonByNumber
      description:
        By passing in the appropriate options, you can search for a person.
      parameters:
        - in: path
          name: personNumber
          description: the person number
          required: true
          schema:
            type: number
            format: uuid
      responses:
        '200':
          description: User retrieved updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/people'
        '400':
          description: bad input parameter
        '404':
          description: A person cannot be found given the parameters specified.
 
   #getPersonByEmail
  /person/email/{personEmail}:
    get:
      tags:
        - Community
      summary: Allows you to retrieve the full details of a given person.
      operationId: getPersonByEmail
      description:
        By passing in the appropriate options, you can search for a person.
      parameters:
        - in: path
          name: personEmail
          description: The email address of the person. This is also used to uniqley identify the person, and for the person to access the system.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User retrieved updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/people'
        '400':
          description: bad input parameter
        '404':
          description: A person cannot be found with the given parameters specified. 

  #createPersonPhone        
  /person/phone/{personNumber}:
    post:
      tags:
        - Community
      summary: Add an new phone number to a person
      operationId: createPersonPhone
      description: |
        Pass in the appropriate phone details to create a new phone number against an existing person
      parameters:
        - in: path
          name: personNumber
          description: The person ID for an existing person.
          required: true
          schema:
            type: number
        - in: query
          name: PhoneType
          description: The phone Type for a phone number.
          example: 'Mobile'
          required: true
          schema:
            type: string
        - in: query
          name: CountryCode
          description: The country code for a phone number.
          schema:
            type: string
        - in: query
          name: AreaCode
          description: The area code for a phone number.
          schema:
            type: string
        - in: query
          name: Number
          description: The main part of a phone number.
          required: true
          schema:
            type: string
        - in: query
          name: Purpose
          description: The usage of this phone number.
          schema:
            type: string
        - in: query
          name: Active
          description: Whether this phone number is active or not.
          required: true
          schema:
            type: string
            enum: [YES,NO]
      responses:
        '200':
          description: The phone numner is successfully added to the person.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: A person's phone cannot be found with the person number supplied.
  
  #createPersonEmail        
  /person/email/{personNumber}:
    post:
      tags:
        - Community
      summary: Add an new email address to a person
      operationId: createPersonEmail
      description: |
        Pass in the appropriate email details to create a new email address against an existing person.
      parameters:
        - in: path
          name: personNumber
          description: The person number for an existing person.
          required: true
          schema:
            type: number
        - in: query
          name: Email
          description: The new email address.
          required: true
          schema:
            type: string
        - in: query
          name: Purpose
          description: The purpose of the email address.
          schema:
            type: string
        - in: query
          name: Active
          description: The whether it is active or not.
          required: true
          schema:
            type: string
            enum: [YES,NO]
        - in: query
          name: Primary
          description: Whether this is a primary email address.
          schema:
            type: boolean
            default: True
      responses:
        '200':
          description: The email address is successfully added to the person.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: A person's email cannot be found with the person number supplied.
          
  #createPersonLink        
  /person/link/{personNumber}:
    post:
      tags:
        - Community
      summary: Add an new link to a person
      operationId: createPersonLink
      description: |
        Pass in the appropriate link details to create a new URL address against an existing person.
      parameters:
        - in: path
          name: personNumber
          description: The person ID for an existing person.
          required: true
          schema:
            type: number
        - in: query
          name: Title
          description: The title information for the link
          required: true
          schema:
            type: string
        - in: query
          name: URL
          description: The URL information for the link
          schema:
            type: string
        - in: query
          name: Purpose
          description: The purpose of the link.
          schema:
            type: string
        - in: query
          name: Active
          description: The whether it is active or not.
          required: true
          schema:
            type: string
            enum: [YES,NO]
      responses:
        '200':
          description: The link is successfully added to the person.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: A person's links cannot be found with the person number supplied.
  
  #createPersonSocialMedia        
  /person/socialMedia/{personNumber}:
    post:
      tags:
        - Community
      summary: Add an new SocialMedia item to a person
      operationId: createPersonSocialMedia
      description: |
        Pass in the appropriate SocialMedia  details to create a new SocialMedia item against an existing person.
      parameters:
        - in: path
          name: personNumber
          description: The person ID for an existing person.
          required: true
          schema:
            type: number
        - in: query
          name: Type
          description: The type of SocialMedia.
          required: true
          schema:
            type: string
        - in: query
          name: Details
          description: The details for the SocialMedia.
          schema:
            type: string
        - in: query
          name: Purpose
          description: The purpose of the SocialMedia item.
          schema:
            type: string
        - in: query
          name: Active
          description: Whether the SocialMedia item is active or not.
          required: true
          schema:
            type: string
            enum: [YES,NO]
      responses:
        '200':
          description: The SocialMedia item is successfully added to the person.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
          
  #createPersonLocation        
  /person/location/{personNumber}:
    post:
      tags:
        - Community
      summary: Add an new location for a person
      operationId: createPersonLocation
      description: |
        Pass in the appropriate location details to create a new address item against an existing person.
      parameters:
        - in: path
          name: personNumber
          description: The person ID for an existing person.
          required: true
          schema:
            type: number
        - in: query
          name: Address1
          description: The first line of the address.
          required: true
          schema:
            type: string
        - in: query
          name: Address2
          description: The second line of the address.
          schema:
            type: string
        - in: query
          name: Address3
          description: The third line of the address.
          schema:
            type: string
        - in: query
          name: City
          description: The city or county of the address.
          schema:
            type: string
            default: "London"
        - in: query
          name: Postcode
          description: The postcode of the address.
          schema:
            type: string
            default: "N21 3PY"            
        - in: query
          name: Region
          description: The region of the address. Example 'England', 'Ireland', etc.
          schema:
            type: string
            default: "England"                
        - in: query
          name: State
          description: The state of the address. Used for countries where they have states, Examplem USA or India
          schema:
            type: string
            default: "London"
        - in: query
          name: Country
          description: The country of the address.
          required: true
          schema:
            type: string
            default: "England"
        - in: query
          name: UPRN
          description: The unique property reference number of the address.
          schema:
            type: string
      responses:
        '200':
          description: The address is successfully added to the person.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: A person's location cannot be found with the person number supplied.

  #createPersonLocation        
  /person/note/{personNumber}:
    post:
      tags:
        - Community
      summary: Add an new location for a person
      operationId: createPersonNote
      description: |
        Pass in the appropriate location details to create a new address item against an existing person.
      parameters:
        - in: path
          name: personNumber
          description: The person ID for an existing person.
          required: true
          schema:
            type: number
      requestBody:
        description: Request body for JSON input
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/personNotePayload'
      responses:
        '200':
          description: The address is successfully added to the person.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: A person's location cannot be found with the person number supplied.
          
  #deleteOrganisation
  /organisation/delete/{organisationID}:
    delete:
      tags:
        - Community
      summary: Delete Organisation.
      operationId: deleteOrganisation
      description: |
        By passing in the appropriate options, you can delete Organisation.
      parameters:
        - in: path
          name: organisationID
          description: The Organisation ID that will be deleted.
          required: true
          schema:
            type: number
      responses:
        '200':
          description: Organisation deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: The Organisation cannot be found with the Organisation ID supplied.
          
  #getOrganisation       
  /organisation/{organisationNumber}:
    get:
      tags:
        - Community
      summary: Allows you to retrieve the full details of a given organisations.
      operationId: getOrganisation
      description: |
        By passing in the appropriate options, you can search for
        available organisations in the system
      parameters:
        - in: path
          name: organisationNumber
          description: the organisation ID
          required: true
          schema:
            type: number
            format: uuid
      responses:
        '200':
          description: Organisations retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisations'
        '400':
          description: bad input parameter
        '404':
          description: A organisation cannot be found with the organisation number supplied.
          
  #createOrganisation        
  /organisation:
    post:
      tags:
        - Community
      summary: Adds an organisation to the platform
      operationId: createOrganisation
      description: |
        By passing in the appropriate options, you can create an organisation.
      requestBody:
        description: Request body for JSON input
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisationPayload'
      responses:
        '200':
          description: organisation added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
          
    #getOrganisations
    get:
      tags:
        - Community
      summary: Allows you to retrieve the full details of a range of organisations.
      operationId: getOrganisations
      description: |
        By passing in the appropriate options, you can search for organisations on the platform
      parameters:
        - in: query
          name: RecordState
          description: RecordState of the given organisation.
          schema:
            type: string
            enum: [ALL,UPDATED,NEW]
          required: true
        - in: query
          name: OrganisationName
          description: OrganisationName of the given organisation.
          schema:
            type: string
          required: false
        - in: query
          name: CompanyNumber
          description: CompanyNumber of the given organisation.
          schema:
            type: string
          required: false
        - in: query
          name: TaxNumber
          description: TaxNumber of the given organisation.
          schema:
            type: string
          required: false
        - in: query
          name: Structure
          description: Structure of the given organisation.
          schema:
            type: string
          required: false
        - in: query
          name: StartDate
          description: StartDate of the given organisation.
          schema:
            type: string
            format: 'DD:MON:YYYY HH24:MM:SS'
          required: false
          example: '01-NOV-2013 01:10:10'
        - in: query
          name: EndDate
          description: EndDate of the given organisation.
          schema:
            type: string
            format: 'DD:MON:YYYY HH24:MM:SS'
          required: false
          example: '27-NOV-2013 01:10:10'
      responses:
        '200':
          description: Organisations retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisations'
        '400':
          description: bad input parameter
  
  #createOrganisationPhone        
  /organisation/phone/{organisationNumber}:
    post:
      tags:
        - Community
      summary: Add an new phone number to an organisation
      operationId: createOrganisationPhone
      description: |
        Pass in the appropriate phone details to create a new phone number against an existing organisation
      parameters:
        - in: path
          name: organisationNumber
          description: The person ID for an existing person.
          required: true
          schema:
            type: number
        - in: query
          name: PhoneType
          description: The phone Type for a phone number.
          example: 'Mobile'
          required: true
          schema:
            type: string
        - in: query
          name: CountryCode
          description: The country code for a phone number.
          schema:
            type: string
        - in: query
          name: AreaCode
          description: The area code for a phone number.
          schema:
            type: string
        - in: query
          name: Number
          description: The main part of a phone number.
          required: true
          schema:
            type: string
        - in: query
          name: Purpose
          description: The usage of this phone number.
          schema:
            type: string
        - in: query
          name: Active
          description: Whether this phone number is active or not.
          required: true
          schema:
            type: string
            enum: [YES,NO]
      responses:
        '200':
          description: The phone numner is successfully added to the organisation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: A organisation's phone number cannot be found with the organisation number supplied.
  
  #createOrganisationEmail        
  /organisation/email/{organisationNumber}:
    post:
      tags:
        - Community
      summary: Add an new email address to an organisation
      operationId: createOrganisationEmail
      description: |
        Pass in the appropriate email details to create a new email address against an existing organisation.
      parameters:
        - in: path
          name: organisationNumber
          description: The organisation ID for an existing organisation.
          required: true
          schema:
            type: number
        - in: query
          name: Email
          description: The new email address.
          required: true
          schema:
            type: string
        - in: query
          name: Purpose
          description: The purpose of the email address.
          schema:
            type: string
        - in: query
          name: Active
          description: The whether it is active or not.
          required: true
          schema:
            type: string
            enum: [YES,NO]
        - in: query
          name: Primary
          description: Whether this is a primary email address.
          schema:
            type: boolean
            default: True
      responses:
        '200':
          description: The email address is successfully added to the organisation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: A organisation's email cannot be found with the organisation number supplied.
          
  #createOrganisationLink        
  /organisation/link/{organisationNumber}:
    post:
      tags:
        - Community
      summary: Add an new link to an organisation
      operationId: createOrganisationLink
      description: |
        Pass in the appropriate link details to create a new URL address against an existing organisation.
      parameters:
        - in: path
          name: organisationNumber
          description: The organisation ID for an existing rganisation.
          required: true
          schema:
            type: number
        - in: query
          name: Title
          description: The title information for the link
          required: true
          schema:
            type: string
        - in: query
          name: URL
          description: The URL information for the link
          schema:
            type: string
        - in: query
          name: Purpose
          description: The purpose of the link.
          schema:
            type: string
        - in: query
          name: Active
          description: The whether it is active or not.
          required: true
          schema:
            type: string
            enum: [YES,NO]
      responses:
        '200':
          description: The link is successfully added to the organisation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: An organisation's link cannot be found with the organisation number supplied.
  
  #createOrganisationSocialMedia        
  /organisation/socialMedia/{organisationNumber}:
    post:
      tags:
        - Community
      summary: Add an new SocialMedia item to a organisation
      operationId: createOrganisationSocialMedia
      description: |
        Pass in the appropriate SocialMedia details to create a new SocialMedia item against an existing organisation.
      parameters:
        - in: path
          name: organisationNumber
          description: The organisation ID for an existing organisation.
          required: true
          schema:
            type: number
        - in: query
          name: Type
          description: The type of SocialMedia.
          required: true
          schema:
            type: string
        - in: query
          name: Details
          description: The details for the SocialMedia.
          schema:
            type: string
        - in: query
          name: Purpose
          description: The purpose of the SocialMedia item.
          schema:
            type: string
        - in: query
          name: Active
          description: Whether the SocialMedia item is active or not.
          required: true
          schema:
            type: string
            enum: [YES,NO]
      responses:
        '200':
          description: The SocialMedia item is successfully added to the organisation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '400':
          description: bad input parameter
        '404':
          description: An organisation's social media cannot be found with the organisation number supplied.          
          
  #createOrganisationLocation        
  /organisation/location/{organisationNumber}:
    post:
      tags:
        - Community
      summary: Add an new location for an organisation
      operationId: createOrganisationLocation
      description: |
        Pass in the appropriate location details to create a new address item against an existing organisation.
      parameters:
        - in: path
          name: organisationNumber
          description: The organisation ID for an existing organisation.
          required: true
          schema:
            type: number
        - in: query
          name: Address1
          description: The first line of the address.
          required: true
          schema:
            type: string
        - in: query
          name: Address2
          description: The second line of the address.
          schema:
            type: string
        - in: query
          name: Address3
          description: The third line of the address.
          schema:
            type: string
        - in: query
          name: City
          description: The city or county of the address.
          schema:
            type: string
            default: "Active"
        - in: query
          name: Postcode
          description: The postcode of the address.
          schema:
            type: string
            default: "Active"            
        - in: query
          name: Region
          description: The region of the address. Example 'England', 'Ireland', etc.
          schema:
            type: string
            default: "Active"                
        - in: query
          name: State
          description: The state of the address. Used for countries where they have states, Examplem USA or India
          schema:
            type: string
            default: "Active"
        - in: query
          name: Country
          description: The country of the address.
          required: true
          schema:
            type: string
[...]
