openapi: 3.0.0
# Added by API Auto Mocking Plugin
servers:
  - url: https://webd16fair01.windows.nyc.hra.nycnet/FairfareV3Renewal/
    description: DEV Server
  - url: https://fairfarestest.hra.nycnet/fairfarev3renewal/
    description: TEST Server
  - url: https://fairfarestest.hra.nycnet//FairfareV3Renewaluat/
    description: UAT Server
info:
  description: AHRA <=> FF API
  version: "1.0.6"
  title: AHRA - FF Phase 3 API
  contact:
    email: shahaa@dss.nyc.gov

paths:
  /ahra/client:
    get:
      tags:
        - client
      summary: searches client
      operationId: searchClient
      description: |
        By passing in valid FFID, you can get client detail in the fair fares system
      parameters:
        - in: query
          name: fairfaresid
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResultWithClientDetails'
        '400':
          description: bad input parameter
        '401':
          description: unauthorized request
        '5XX':
          description: unexpected error
  /ahra/client/stepup:
    get:
      tags:
        - client
      summary: step up client
      operationId: stepupClient
      description: |
        Step up client by Passing FFID + DOB  OR CIN + DOB
      parameters:
        - in: query
          name: fairfaresid
          schema:
            type: integer
            format: int64
        - in: query
          name: cin
          schema:
            type: string
            minLength: 8
            maxLength: 8
            example: ZY11111Y
        - in: query
          name: birthDate
          required: true
          schema:
            type: string
            format: date
            example: '2016-08-29'
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResultWithClientDetails'
        '400':
          description: bad input parameter
        '401':
          description: unauthorized request
        '5XX':
          description: unexpected error
  /ahra/client/Enroll:
    post:
      tags:
        - client
      operationId: EnrollV3
      description: mailingAddress and Contactdetails are allowed null only for DV cases
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollRequest'
      responses:
        '200':
          description: Success
          content: 
             application/json:
                schema:
                   $ref: '#/components/schemas/SuccessResultWithConfirmationNumber'
        '400':
          description: bad input parameter
        '401':
          description: unauthorized request
        '5XX':
          description: unexpected error
  /ahra/client/ContactDetails:
    post:
      tags:
        - client
      operationId: UpdateContactDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactDetailsNoConfirm'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResult'
          description: Success
        '400':
          description: bad input parameter
        '401':
          description: unauthorized request
        '5XX':
          description: unexpected error
  /ahra/client/application:
    post:
      tags:
        - application
      summary: submit new application
      operationId: submitapplication
      description: |
        By passing in the appropriate application data, you can submit new or renew application in the fair fares system
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientApplication'
        description: client application
      responses:
        '200':
          description: application reference number
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResultWithConfirmationNumber'
        '400':
          description: bad input parameter
        '401':
          description: unauthorized request
        '5XX':
          description: unexpected error
  /ahra/client/application/submitdocument:
    post:
      tags:
        - application
      summary: submit new document for application
      operationId: submitdocument
      description: |
        By passing in the appropriate document data, you can submit new document to previously submitted application in the fair fares system
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - referencenumber
                - doctype
                - docname
                - docuploaddatetime
              properties:
                referencenumber:
                  type: string
                  maxLength: 8
                  minLength: 8
                  pattern: '^\[0-9]{8}$'
                doctype:
                  $ref: '#/components/schemas/DocType'
                docuploaddatetime:
                  type: string
                  format: date-time
                  example: '2012-03-19T07:22Z'
                  description: ISO 8601 standard, EST/EDT
                docname:
                  type: string
                  minLength: 1
                  maxLength: 100
                  example: UniqueName.pdf
                transactionID:
                  type: string
                  minLength: 1
                  maxLength: 100
        description: document details
      responses:
        '200':
          description: success
        '400':
          description: bad input parameter
        '401':
          description: unauthorized request
        '5XX':
          description: unexpected error
components:
  schemas:
    ClientIdentifier:
      type: object
      required:
        - firstname
        - lastname
        - birthDate
      properties:
        firstname:
          type: string
          minLength: 1
          maxLength: 50
          example: John
        lastname:
          type: string
          minLength: 1
          maxLength: 50
          example: Carter
        birthDate:
          type: string
          format: date
          example: '2016-08-29'
        ssn:
          type: string
          minLength: 9
          maxLength: 9
          example: 111111111
        cin:
          type: string
          minLength: 8
          maxLength: 8
          example: ZY11111Y
    SuccessResult:
      type: object
      properties:
        success:
          type: boolean
        errorcode:
          type: string
          example: 
        errormessage:
          type: string
          example: 
    SuccessResultWithClientDetails:
      type: object
      required: 
        - success
      properties:
        success:
          type: boolean
        client:
          $ref: '#/components/schemas/ClientDetails'
    Applications:
      type: object
      required: 
      - applicationreferenceno
      - applicationstatus
      - applicationstatusdate
      - submissiondate
      - duedate
      - documents
      properties:
        isRenewal:
          type: boolean
          example: false
        applicationreferenceno:
          type: string
          maxLength: 8
          minLength: 8
          pattern: '^\[0-9]{8}$'
        applicationstatus:
          $ref: '#/components/schemas/ApplicationStatus'
        applicationstatusdate:
          type: string
          format: date
          example: '08-29-2016'
          description: MM-dd-yyyy
        duedate:
          type: string
          format: date
          example: '08-29-2016'
          description: MM-dd-yyyy
        submissiondate:
          type: string
          format: date
          example: '08-29-2016'
          description: MM-dd-yyyy
        requiredDocuments:
          type: array
          items:
              $ref: '#/components/schemas/Documents'
    Documents:
      type: object
      required: 
      - documenttype
      - documentstatus
      properties:
        documenttype:
          $ref: '#/components/schemas/DocumentCategory'
        documentstatus:
          $ref: '#/components/schemas/DocumentStatus'
        date:
          type: string
          format: date
          example: '08-29-2016'
          description: MM-dd-yyyy
    UpdateContactDetails:
        type: object
        required:
                - fairfaresid
                - mailingaddress
                - contactDetails
        properties:
                fairfaresid:
                  type: integer
                mailingaddress:
                  type: object
                  required:
                    - addressupdated
                    - address
                  properties:
                    addressupdated: 
                      type: boolean
                    address:
                      $ref: '#/components/schemas/MailingAddress'
                contactDetails:
                  $ref: '#/components/schemas/ContactDetails'
    UpdateContactDetailsNoConfirm:
        type: object
        required:
                - fairfaresid
                - mailingaddress
                - contactDetails
        properties:
                fairfaresid:
                  type: integer
                mailingaddress:
                  type: object
                  required:
                    - address
                  properties:
                    address:
                      $ref: '#/components/schemas/MailingAddress'
                contactDetails:
                  $ref: '#/components/schemas/ContactDetails'
    ClientStatus:
      type: string
      nullable: true
      enum: 
      - FFELIG
      - FFENRO
      - FFNLELIG
      - FFCNELIG
    ApplicationStatus:
      type: string
      enum: 
      - APPPENDDOC
      - APPREVWPRO
      - APPEXP
      - APPDENCAR
      - APPDOCIDE
      - APPDOCRES
      - APPDOCINCO
      - APPINCOIDE
      - APPINCORES
      - APPINCOINC
      - APPDENOTHR 
      - APPAPPR
      - APPDENDUP
      - APPCANCELD
    MetroCardStatus:
      type: string
      enum: 
      - FF_MC_NI
      - FF_MC_IS
      - FF_MC_R_L
      - FF_MC_R_S
      - FF_MC_R_D
      - FF_MC_DE
      - FF_M_L
      - FF_M_RS
      - FF_MC_QUDE
      - FF_MC_R_LM
    DocumentCategory:
      type: string
      enum:
        - FFDOCIDE
        - FFDOCRES
        - FFDOCINCDB
        - FFDOCINCOI
        - FFDOCINCPR
        - FFDOCINCRI
        - FFDOCINCSI
        - FFDOCINCTR
        - FFDOCINCUI
        - FFDOCINCMJ
    DocType:
      type: string
      enum: 
       - FFDTIDEAB
       - FFDTIDEAR
       - FFDTIDEPR
       - FFDTIDEBC
       - FFDTIDEDL
       - FFDTIDEEPI
       - FFDTIDEPI
       - FFDTIDENYC
       - FFDTIDENC
       - FFDTIDEPP
       - FFDTIDEFPP
       - FFDTIDEMT
       - FFDTIDETID
       - FFDTINCODB
       - FFDTINCOOI
       - FFDTINCOPR
       - FFDTINCORI
       - FFDTINCOSI
       - FFDTINCOSA
       - FFDTINCOTR
       - FFDTINCOUI
       - FFDTINCOJP
       - FFDTINCOJS
       - FFDTRESBI
       - FFDTRESII
       - FFDTRESPL
    DocumentStatus:
      type: string
      enum: 
      - DOCSTATVER
      - DOCSTATPEN
      - DOCSTATUPL
    ClientDetails:
      type: object
      required: 
      - fairfaresid
      - firstname
      - lastname
      - birthDate
      - clientstatus
      - cansubmitnewapplication
      - nopermanentresidence
      properties:
        fairfaresid:
          type: integer
          format: int64
        firstname:
          type: string
          minLength: 1
          maxLength: 50
          example: John
        lastname:
          type: string
          minLength: 1
          maxLength: 50
          example: Carter
        preferredname:
          type: string
          minLength: 1
          maxLength: 50
          example: MaximusPrime
        middleinitial:
          type: string
          minLength: 1
          maxLength: 1
          example: Y
        birthDate:
          type: string
          format: date
          example: '08-29-2016'
          description: MM-dd-yyyy
        cin:
          type: string
          minLength: 8
          maxLength: 8
          example: ZY11111Y
        isFastTrack:
          type: boolean
          example: false
        nopermanentresidence:
          type: boolean
          example : false
        spokenlanguage:
          $ref: '#/components/schemas/Language'
        preferredpronoun:
          $ref: '#/components/schemas/IHSSPreferredPronoun'
        clientstatus:
            $ref: '#/components/schemas/ClientStatusData'
        renewal:
           $ref: '#/components/schemas/Renewal'
        enrollment:
          type: array
          items:
            $ref: '#/components/schemas/Enrollment'
        ineligiblityReason:
              $ref: '#/components/schemas/IneligibilityReasonCode'
        cansubmitnewapplication:
          type: boolean
          description: this flag states if client can submit application
        applications:
          type: array
          items:
              $ref: '#/components/schemas/Applications'
        contactDetails:
          $ref: '#/components/schemas/ContactDetails'
        address:
          $ref: '#/components/schemas/Address'
    SuccessResultWithConfirmationNumber:
      type: object
      properties:
        success:
          type: boolean
        errorcode:
          type: string
          example: 
        errormessage:
          type: string
          example: 
        data:
          $ref: '#/components/schemas/FFIDWithConfirmationNumber'
    FFIDWithConfirmationNumber:
      type: object
      properties:
        fairfaresid:
         type: integer
         format: int64
        confirmationNumber:
          type: string
          format: uuid
    ClientStatusData:
      type: object
      required:
      - status
      properties:
        status:
          $ref: '#/components/schemas/ClientStatus'
        date:
          type: string
          format: date
          example: '08-29-2016'
          description: MM-dd-yyyy
    ApplicationStatusData:
      type: object
      required:
      - status
      - date
      properties:
        status:
          $ref: '#/components/schemas/ApplicationStatus'
        date:
          type: string
          format: date
    Enrollment:
      type: object
      required:
      - StartDate
      - EndDate
      - MetroCardStatus
      properties:
        StartDate:
          type: string
          format: date
          example: '08-29-2016'
          description: MM-dd-yyyy
        EndDate:
          type: string
          format: date
          example: '08-29-2016'
          description: MM-dd-yyyy
        MetroCardStatus:
          $ref: '#/components/schemas/MetroCardStatus'
        MetroCardStatusDate:
          type: string
          format: date
          example: '08-29-2016'
          description: MM-dd-yyyy
        MetroCardExpiratonDate:
          type: string
          format: date
          example: '08-29-2016'
          description: MM-dd-yyyy
          nullable: true
        isRenewal:
          type: boolean
          example: false
    Renewal:
      type: object
      required:
      - StartDate
      - EndDate
      properties:
        canRenew:
          type: boolean
          example: false 
          description: If client can renew, and they are in within renewal period, application or enrollment if fast track will be a renewal
        renewalPeriodStartDate:
          type: string
          format: date
          example: '08-29-2016'
          description: MM-dd-yyyy
          nullable: true
        renewalPeriodEndDate:
          type: string
          format: date
          example: '08-29-2016'
          description: MM-dd-yyyy
          nullable: true
    Gender:
      type: string
      enum: 
      - Male
      - Female
      - Other
    Language:
      type: string
      enum: 
      - ARABIC
      - BENGALI
      - CHI_SIMPL
      - CHI_TRAD
      - ENGLISH
      - HATIAN
      - KOREAN
      - RUSSIAN
      - SPANISH
      - URDU
      - FRENCH
      - POLISH
    Locale:
      type: string
      enum:
        - en_US
        - es
        - ar
        - zh
        - ko
        - ht
        - ru
    ContactPreferenceCodePhone:
      type: string
      enum:
        - PT_CELL
        - PT_HOME
        - PT_OTH
        - PT_TEXT
        - PT_WORK
    ContactPreferenceCodeOther:
      type: string
      enum:
        - IHNP4
        - IHNP3
        - IHNP2
        - IHNP1
    TextMessageToCode:
      type: string
      enum:
        - TP1
        - TP2
        - TP3
      
    IneligibilityReasonCode:
      type: string
      enum:
        - FF_ING_MC
        - FF_ING_DAP
        - FF_ING_OAP
        - FF_ING_MO
        - FF_ING_IP
        - FF_ING_IU
        - FF_ING_DE
        - FF_ING_BAN
        - APPPENDDOC
        - APPDENCAR
        - APPDOCIDE
        - APPDOCRES
        - APPDOCINCO
        - APPINCOIDE
        - APPINCORES
        - APPINCOINC
        - APPDENOTHR 
        - APPDENDUP
        - APPDENCAN
    Address:
      type: object
      properties: 
        residentialAddress:
          $ref: '#/components/schemas/ResidentialAddress'
        mailingAddress:
          $ref: '#/components/schemas/MailingAddress'
    MailingAddress:
      type: object
      required:
        - streetName
        - city
        - stateCode
        - zipCode
      properties:
        incareof:
          type: string
          maxLength: 30
        buildingNumber:
          maxLength: 8
          type: string
        streetName:
          minLength: 1
          maxLength: 30
          type: string
        apartment:
          maxLength: 10
          type: string
        city:
          maxLength: 20
          minLength: 1
          type: string
          example: 'BRONX'
        stateCode:
          $ref: '#/components/schemas/State'
        zipCode:
          type: string
          maxLength: 10
          minLength: 5
          example: '11030'
    ResidentialAddress:
      type: object
      required:
        - streetName
        - city
        - stateCode
        - zipCode
      properties:
        buildingNumber:
          maxLength: 8
          type: string
        streetName:
          minLength: 1
          maxLength: 30
          type: string
        apartment:
          maxLength: 10
          type: string
        city:
          maxLength: 20
          minLength: 1
          type: string
          example: 'BRONX'
        stateCode:
          $ref: '#/components/schemas/State'
        zipCode:
          type: string
          maxLength: 10
          minLength: 5
          example: '11030'
    ResidentialAddressApplication:
      type: object
      required:
        - streetName
        - city
        - stateCode
        - zipCode
      properties:
        buildingNumber:
          maxLength: 8
          type: string
        streetName:
          minLength: 1
          maxLength: 30
          type: string
        apartment:
          maxLength: 10
          type: string
        city:
          maxLength: 20
          minLength: 1
          type: string
          example: 'BRONX'
        stateCode:
          $ref: '#/components/schemas/State'
        zipCode:
          type: string
          maxLength: 10
          minLength: 5
          example: '11030'
    State:
      type: string
      enum:
        - AK
        - AL
        - AS
        - AZ
        - CA
        - CO
        - CT
        - DW
        - FL
        - GA
        - HW
        - ID
        - IL
        - IN
        - IO
        - KS
        - KY
        - LA
        - MA
        - MD
        - MG
        - MI
        - MN
        - MR
        - MS
        - MT
        - NA
        - NB
        - NC
        - ND
        - NH
        - NJ
        - NM
        - NY
        - OH
        - OK
        - OR
        - PA
        - RI
        - SC
        - SD
        - TN
        - TX
        - UT
        - VA
        - VM
        - WA
        - WN
        - WV
        - WY
    ContactDetails:
      type: object
      required: 
      - noprimaryphone
      - noticelanguage
      properties: 
        noprimaryphone:
          type: boolean
        primaryPhone:
          type: string
          maxLength: 10
          minLength: 10
          example: '1234567890'
        primaryPhoneExt:
          type: string
          maxLength: 4
          minLength: 1
          example: '123'
        primaryPhoneType:
          $ref: '#/components/schemas/ContactPreferenceCodePhone'
        alternatePhone:
          type: string
          maxLength: 10
          minLength: 10
          example: '1234567890'
        alternatePhoneExt:
          type: string
          maxLength: 4
          minLength: 1
          example: '123'
        alternatePhoneType:
          $ref: '#/components/schemas/ContactPreferenceCodePhone'
        emailAddress:
          type: string
          format: email
          maxLength: 50
        sendTextMessagesTo:
           $ref: '#/components/schemas/TextMessageToCode'
        noticelanguage:
          $ref: '#/components/schemas/Language'
        contactPreference:
          $ref: '#/components/schemas/ContactPreferenceCodeOther'
        restrictonline:
            type: boolean
    HouseHoldMemberDemographic:
      type: object
      required:
        - memberid
        - firstname
        - lastname
        - birthDate
      properties:
        memberid:
          type: integer
        firstname:
          type: string
          minLength: 1
          maxLength: 20
          example: John
        lastname:
          type: string
          minLength: 1
          maxLength: 20
          example: Carter
        birthDate:
          type: string
          format: date
          example: '2012-03-19T07:22Z'
          description: ISO 8601 standard, EST/EDT
        middleinitial:
          type: string
          minLength: 1
          maxLength: 1
          example: MI
    EarnedIncomeDetails:
      type: object
      required:
        - memberid
        - employer
        - paymentschedule
        - paymentamount
      properties:
        memberid:
          type: integer
        employer:
          type: string
          minLength: 1
          maxLength: 50
        paymentschedule:
          $ref: '#/components/schemas/PaymentSchedule'
        paymentamount:
          type: array
          items:
            type: number
            format: money
    UnEarnedIncomeDetails:
      type: object
      required:
        - memberid
        - paymentschedule
        - paymentamount
        - typeofincome
      properties:
        memberid:
          type: integer
        paymentschedule:
          $ref: '#/components/schemas/PaymentSchedule'
        paymentamount:
            type: number
            format: money
        typeofincome:
          $ref: '#/components/schemas/TypeOfIncome'
    PaymentSchedule:
      type: string
      enum:
        - W
        - 2W
        - 2M
        - M
        - N
    TypeOfIncome:
      type: string
      enum:
        - SSI
        - UIB
        - RI
        - DB
        - PRI
        - OI
    Income:
      type: object
      required:
        - incomeeligible
        - income
      properties:
        incomeeligible: 
          type: boolean
        income:
          $ref: '#/components/schemas/IncomeWithHouseholdmembers'

    IncomeWithoutHouseholdmembers:
      type: object
      required:
        - taxfiledlastyear
        - grossincomelastyeartax
        - noofpeopleintaxhousehold
      properties: 
        taxfiledlastyear:
          type: boolean
        grossincomelastyeartax:
          type: number
          format: float
        noofpeopleintaxhousehold:
          type: integer
    IncomeWithHouseholdmembers:
      allOf:
        - $ref: '#/components/schemas/IncomeWithoutHouseholdmembers'
        - type: object
          properties: 
            householdmembers:
              type: array
              items:
                  $ref: '#/components/schemas/HouseHoldMemberDemographic'
            earnedincome:
              type: array
              items:
                  $ref: '#/components/schemas/EarnedIncomeDetails'
            unearnedincome:
              type: array
              items:
                  $ref: '#/components/schemas/UnEarnedIncomeDetails'
    Citizenship:
      type: object
      required:
      - uscitizen
      properties: 
        uscitizen:
          type: boolean
        medicaid:
          type: boolean
        pr10:
          type: boolean
        pr2:
          type: boolean
        pr2expired:
          type: boolean
        ead:
          type: boolean
        eadcategory:
          type: string
        other:
          type: boolean
        receipt:
          type: string
    ApplicationCOU:
      type: object
      required:
      - noothermetrocard
      - couagreed
      - agreementinitials
      properties:
        noothermetrocard:
          type: boolean
        couagreed:
          type: boolean
        agreementinitials:
          type: string
          minLength: 1
          maxLength: 4
    ESignature:
      type: object
      required:
      - date
      - couagreed
      - agreementinitials
      properties:
        date:
          type: string
          format: date
          example: '2012-03-19T07:22Z'
          description: ISO 8601 standard, EST/EDT
        couagreed:
          type: boolean
        agreementinitials:
          type: string
          minLength: 1
          maxLength: 4
    RequiredDocuments:
      type: array
      items: 
        $ref: '#/components/schemas/DocumentCategory'
    ApplicationAssistance:
     type: object
     required: 
     - gothelp
     properties:
       siteidcookie:
        type: string
        maxLength: 10
       gothelp:
        type: boolean
       location:
          $ref: '#/components/schemas/ANYCFFAssistanceLocation'
       locationdetails:
          $ref: '#/components/schemas/ANYCFFAssistanceLocationDetails'
    ANYCFFAssistanceLocation:
      type: string
      enum:
        - CBO
        - FFSHRA
        - EO
        - NOTA
    ANYCFFAssistanceLocationDetails:
      type: string
      enum:
        - FF1
        - FF2
        - FF3
        - FF4
        - FF5
    ClientApplication:
      type: object
      required:
        - ahraid
        - firstname
        - lastname
        - birthDate
        - mailingaddress
        - contactDetails
        - LexisNexisVerification
        - income
        - citizenship
        - applicationCOU
        - eSignature
        - spokenlanguage
        - requiredDocuments
        - applicationassistance
        - isRenewal
        - identityUpdated
        - isupdated
      properties:
        ahraid:
          type: string
          minLength: 1
          maxLength: 50
        fairfaresid:
          type: integer
          format: int64
        firstname:
          type: string
          minLength: 1
          maxLength: 20
          example: John
        lastname:
          type: string
          minLength: 1
          maxLength: 20
          example: Carter
        middleinitial:
          type: string
          minLength: 1
          maxLength: 1
          example: M
        birthDate:
          type: string
          format: date
          example: '2012-03-19T07:22Z'
          description: ISO 8601 standard, EST/EDT
        cin:
          type: string
          minLength: 8
          maxLength: 8
          example: ZY11111Y
        akaname:
          type: string
          minLength: 1
          maxLength: 20
          example: 'JOHN DOE'
        identityUpdated:
          nullable: true
          type: boolean
          example: true
          description: If identity information was updated, to possibly trigger Lexusnexus recheck
        isRenewal:
          type: boolean
          nullable: true
        spokenlanguage:
          $ref: '#/components/schemas/Language'
        preferredpronoun:
          $ref: '#/components/schemas/IHSSPreferredPronoun'
        lexisNexisVerification:
          $ref: '#/components/schemas/LexisNexisVerification'
        mailingaddress:
          type: object
          required: 
          - sameasresidence
          - isupdated
          properties:
                sameasresidence:
                  type: boolean
                ispobox:
                  type: boolean
                  nullable: true
                isgpo:
                  type: boolean
                  nullable: true
                isupdated:
                  type: boolean
                  nullable: true
                address:
                  $ref: '#/components/schemas/MailingAddress'
        residenceaddress:
          type: object
          required:
            - nopermanentresidence
            - isupdated
          properties:
            nopermanentresidence:
              type: boolean
            isupdated:
              type: boolean
              nullable: true
            address:
                  $ref: '#/components/schemas/ResidentialAddressApplication'
        contactDetails:
          $ref: '#/components/schemas/ContactDetails'
        income:
          $ref: '#/components/schemas/Income'
        applicationCOU:
          $ref: '#/components/schemas/ApplicationCOU'
        eSignature:
          $ref: '#/components/schemas/ESignature'  
        applicationassistance:
          $ref: '#/components/schemas/ApplicationAssistance'
        requiredDocuments:
          $ref: '#/components/schemas/RequiredDocuments'
        optionalDemographicQuestions:
          $ref: '#/components/schemas/OptionalDemographicQuestions'
    OptionalDemographicQuestions:
      type: object
      properties:
        raceHispanic:
          type: boolean
          nullable: true
        raceNativeAmerican:
          type: boolean
          nullable: true
        raceNativeHawaiian:
          type: boolean
          nullable: true  
        raceAsian:
          type: boolean
          nullable: true
        raceWhite:
          type: boolean
          nullable: true
        raceBlack:
          type: boolean
          nullable: true
        raceUnknown:
          type: boolean
          nullable: true
        raceNotSay:
          type: boolean
          nullable: true
        raceAnother:
          type: boolean
          nullable: true
        veteran:
          type: boolean
          nullable: true
    IHSSPreferredPronoun:
      type: string
      enum:
        - IHPP1
        - IHPP2
        - IHPP3
        - IHPP4
        - IHPP5
        - IHPP6
        - IHPP7
        - IHPP8
    LexisNexisVerification:
      type: object
      required:
        - identity
        - age
        - address
        - lexisnexisid
      properties:
        identity:
          type: boolean
          nullable: true
        age:
          type: boolean
          nullable: true
        address:
          type: boolean
          nullable: true
        lexisnexisid:
          type: string
          minLength: 1
          maxLength: 50
    EnrollRequest:
      type: object
      required:
        - fairfaresid
        - applicationCOU
      properties:
        fairfaresid:
          type: integer
        isRenewal:
          type: boolean
          example: false
        applicationCOU:
          $ref: '#/components/schemas/ApplicationCOU'
        mailingaddress:
          type: object
          required:
            - addressupdated
            - address
          properties:
            addressupdated: 
              type: boolean
            address:
              $ref: '#/components/schemas/MailingAddress'
        contactDetails:
          $ref: '#/components/schemas/ContactDetails'