openapi: 3.0.0
info:
  description: |
    This is the REST API documentation for devices
    + API Authorization 
        + Authorization header is <b>required</b>. 
        + It should be in Bearer authentication scheme </br>(e.g <b> Authorization: BEARER &lt;access token&gt; </b>)
  version: "3.9.0"
  title: MSX API Documentation for Devices
  termsOfService: 'http://www.cisco.com'
  contact:
    name: Cisco Systems Inc.
    url: 'http://www.cisco.com'
    email: somecontact@cisco.com
  license:
    name: Apache License Version 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: nfvi-allsps.lab.ciscomsx.com
basePath: /manage
tags:
  - name: Devices
    description: Devices Controller

paths:

  /api/v4/devices:
    get:
      tags:
        - Devices
      summary: API to get paginated Devices. Only one filter is supported at a time
      operationId: getDevicesUsingGET
      parameters:
        
        - name: serviceInstanceId
          in: query
          description: Get devices by service Instance Id
          required: false
          schema:
            type: string
            format: uuid
          allowEmptyValue: false
        - name: type
          in: query
          description: Get devices by type
          required: false
          schema:
            type: string
          allowEmptyValue: false  
        - name: serialKey
          in: query
          description: Get devices by serialKey
          required: false
          schema:
            type: string
          allowEmptyValue: false
        - name: tunnelStatus
          in: query
          description: Get devices by tunnelStatus
          required: false
          schema:
            type: string
          allowEmptyValue: false
        - name: pnpStatus
          in: query
          description: Get devices by pnpStatus
          required: false
          schema:
            type: string
          allowEmptyValue: false
        - name: healthStatus
          in: query
          description: Get devices by healthStatus
          required: false
          schema:
            type: string
          allowEmptyValue: false
        - name: syncStatus
          in: query
          description: Get devices by syncStatus
          required: false
          schema:
            type: string
          allowEmptyValue: false  
        - name: tenantId
          in: query
          description: Get devices by tenant Id
          required: false
          schema:
            type: string
            format: uuid
          allowEmptyValue: false  
        - name: page
          in: query
          description: page
          required: true
          schema:
            type: integer
            format: int32
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: pageSize
          required: true
          schema:
            type: integer
            format: int32
          allowEmptyValue: false  
        - name: sortBy
          in: query
          description: Sort
          required: false
          schema:
            type: string
          allowEmptyValue: false
        - name: sortOrder
          in: query
          description: Sort Order
          required: false
          schema:
            type: string
          allowEmptyValue: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GenericResponse«Slice«DeviceResponseDTOV4»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    
    post:
      tags:
        - Devices
      summary: API to create a Device
      operationId: createDeviceUsingPOST
      parameters:
        - in: query
          name: DeviceCreateRequestDTOV4
          description: DeviceCreateRequestDTOV4
          required: true
          schema:
            $ref: '#/components/schemas/DeviceCreateRequestDTOV4'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GenericResponse«DeviceResponseDTOV4»'    
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
      
  /api/v4/devices/count:
    get:
      tags:
        - Devices
      summary: API to get total number of Sites
      operationId: countSitesUsingGET
      parameters:
        - name: serviceInstanceId
          in: query
          description: Count devices by service Instance Id
          required: false
          schema:
            type: string
            format: uuid
          allowEmptyValue: false
        - name: type
          in: query
          description: Count devices by type
          required: false
          schema:
            type: string
          allowEmptyValue: false  
        - name: serialKey
          in: query
          description: Count devices by serialKey
          required: false
          schema:
            type: string
          allowEmptyValue: false
        - name: status
          in: query
          description: Count devices by status
          required: false
          schema:
            type: string
          allowEmptyValue: false  
        - name: tenantId
          in: query
          description: Count devices by tenant Id
          required: false
          schema:
            type: string
            format: uuid
          allowEmptyValue: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GenericResponse%C2%ABlong%C2%BB'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false

  /api/v4/devices/{id}:
    get:
      tags:
        - Devices
      summary: API to get one Device by id
      operationId: getDeviceUsingGET
      parameters:
        - name: id
          in: path
          description: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GenericResponse«DeviceResponseDTOV4»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
        - Devices
      summary: API to update a Device
      operationId: updateDeviceUsingPUT
      parameters:
        - name: id
          in: path
          description: id
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: DeviceUpdateRequestDTOV4
          description: DeviceUpdateRequestDTOV4
          required: true
          schema:
            $ref: '#/components/schemas/DeviceCreateRequestDTOV4'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GenericResponse«DeviceResponseDTOV4»'    
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - Devices
      summary: API to delete one Device by id
      operationId: deleteDeviceUsingDELETE
      parameters:
        - name: id
          in: path
          description: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GenericResponse%C2%ABVoid%C2%BB'     
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false




definitions:
  
components:
  schemas:  
    
      
      
    Status:
      type: object
      properties:
        value:
          type: string
          description: Status Value
          example: "UP"
        severity: 
          type: string
          description: Severity
          example: "6"
        lastUpdated: 
          type: string
          description: Last Updated
          example: "2020-01-29T09:12:33.001Z"
        lastUpdatedMesage: 
          type: string
          description: last Updated Mesage
          example: "Updated by system user"  
      title: Status
      description: Status summary
      
    StatusDetails:
      type: object
      properties:
        type:
          type: string
          description: Status Value
          example: "health"
        name:
          type: string
          description: Status Value
          example: "healthStatus"  
        value:
          type: string
          description: Status Value
          example: "UP"
        severity: 
          type: string
          description: Severity
          example: "3"
        lastUpdated: 
          type: string
          description: Last Updated
          example: "2020-01-29T09:12:33.001Z"
        lastUpdatedMesage: 
          type: string
          description: last Updated Mesage
          example: "Updated by system user"  
      title: StatusDetails
      description: Status Details  
      
    Billing:
      type: object
      properties:
        deviceSpeedGrade:
          type: string
          description: deviceSpeedGrade
          example: "deviceSpeedGrade"
        deviceVnfSource:
          type: string
          description: deviceVnfSource
          example: "deviceVnfSource"  
        vnfFlavor:
          type: string
          description: vnfFlavor
          example: "vnfFlavor"
        vnfImage: 
          type: string
          description: vnfImage
          example: "vnfImage"
        vnfName: 
          type: string
          description: vnfName
          example: "vnfName"
        vnfValue: 
          type: string
          description: vnfValue
          example: "vnfValue"  
      title: Billing
      description: Billing  
      
    Device:
      type: object
      properties:
        deviceId:
          type: string
          format: uuid
          description: Device Id
        serviceId: 
          type: string
          description: Service Id
          format: uuid
        serviceType: 
          type: string
          description: Service Type
          format: string  
          example: "vbranch"
      title: Device
      description: Contains device detail 
  
  
    Field«string»:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
      title: Field«string»
   
  
    GenericResponse«DeviceResponseDTOV4»:
      type: object
      properties:
        command:
          type: string
          example: "/api/v4/devices"
        errors:
          type: array
          items:
            type: string
        httpStatus:
          example: "200 OK"
          type: string
          enum:
            - 100 CONTINUE
            - 101 SWITCHING_PROTOCOLS
            - 102 PROCESSING
            - 103 CHECKPOINT
            - 200 OK
            - 201 CREATED
            - 202 ACCEPTED
            - 203 NON_AUTHORITATIVE_INFORMATION
            - 204 NO_CONTENT
            - 205 RESET_CONTENT
            - 206 PARTIAL_CONTENT
            - 207 MULTI_STATUS
            - 208 ALREADY_REPORTED
            - 226 IM_USED
            - 300 MULTIPLE_CHOICES
            - 301 MOVED_PERMANENTLY
            - 302 FOUND
            - 302 MOVED_TEMPORARILY
            - 303 SEE_OTHER
            - 304 NOT_MODIFIED
            - 305 USE_PROXY
            - 307 TEMPORARY_REDIRECT
            - 308 PERMANENT_REDIRECT
            - 400 BAD_REQUEST
            - 401 UNAUTHORIZED
            - 402 PAYMENT_REQUIRED
            - 403 FORBIDDEN
            - 404 NOT_FOUND
            - 405 METHOD_NOT_ALLOWED
            - 406 NOT_ACCEPTABLE
            - 407 PROXY_AUTHENTICATION_REQUIRED
            - 408 REQUEST_TIMEOUT
            - 409 CONFLICT
            - 410 GONE
            - 411 LENGTH_REQUIRED
            - 412 PRECONDITION_FAILED
            - 413 PAYLOAD_TOO_LARGE
            - 413 REQUEST_ENTITY_TOO_LARGE
            - 414 URI_TOO_LONG
            - 414 REQUEST_URI_TOO_LONG
            - 415 UNSUPPORTED_MEDIA_TYPE
            - 416 REQUESTED_RANGE_NOT_SATISFIABLE
            - 417 EXPECTATION_FAILED
            - 418 I_AM_A_TEAPOT
            - 419 INSUFFICIENT_SPACE_ON_RESOURCE
            - 420 METHOD_FAILURE
            - 421 DESTINATION_LOCKED
            - 422 UNPROCESSABLE_ENTITY
            - 423 LOCKED
            - 424 FAILED_DEPENDENCY
            - 425 TOO_EARLY
            - 426 UPGRADE_REQUIRED
            - 428 PRECONDITION_REQUIRED
            - 429 TOO_MANY_REQUESTS
            - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
            - 451 UNAVAILABLE_FOR_LEGAL_REASONS
            - 500 INTERNAL_SERVER_ERROR
            - 501 NOT_IMPLEMENTED
            - 502 BAD_GATEWAY
            - 503 SERVICE_UNAVAILABLE
            - 504 GATEWAY_TIMEOUT
            - 505 HTTP_VERSION_NOT_SUPPORTED
            - 506 VARIANT_ALSO_NEGOTIATES
            - 507 INSUFFICIENT_STORAGE
            - 508 LOOP_DETECTED
            - 509 BANDWIDTH_LIMIT_EXCEEDED
            - 510 NOT_EXTENDED
            - 511 NETWORK_AUTHENTICATION_REQUIRED
        message:
          type: string
        params:
          type: object
          additionalProperties:
            type: string
        responseObject:
          $ref: '#/components/schemas/DeviceResponseDTOV4'
        success:
          type: boolean
      title: GenericResponse«DeviceResponseDTOV4»
      
    GenericResponse«Slice«SiteFindAllResponseDTOV3»»:
      type: object
      properties:
        command:
          type: string
          example: "/api/v3/sites"
        errors:
          type: array
          items:
            type: string
        httpStatus:
          example: "200 OK"
          type: string
          enum:
            - 100 CONTINUE
            - 101 SWITCHING_PROTOCOLS
            - 102 PROCESSING
            - 103 CHECKPOINT
            - 200 OK
            - 201 CREATED
            - 202 ACCEPTED
            - 203 NON_AUTHORITATIVE_INFORMATION
            - 204 NO_CONTENT
            - 205 RESET_CONTENT
            - 206 PARTIAL_CONTENT
            - 207 MULTI_STATUS
            - 208 ALREADY_REPORTED
            - 226 IM_USED
            - 300 MULTIPLE_CHOICES
            - 301 MOVED_PERMANENTLY
            - 302 FOUND
            - 302 MOVED_TEMPORARILY
            - 303 SEE_OTHER
            - 304 NOT_MODIFIED
            - 305 USE_PROXY
            - 307 TEMPORARY_REDIRECT
            - 308 PERMANENT_REDIRECT
            - 400 BAD_REQUEST
            - 401 UNAUTHORIZED
            - 402 PAYMENT_REQUIRED
            - 403 FORBIDDEN
            - 404 NOT_FOUND
            - 405 METHOD_NOT_ALLOWED
            - 406 NOT_ACCEPTABLE
            - 407 PROXY_AUTHENTICATION_REQUIRED
            - 408 REQUEST_TIMEOUT
            - 409 CONFLICT
            - 410 GONE
            - 411 LENGTH_REQUIRED
            - 412 PRECONDITION_FAILED
            - 413 PAYLOAD_TOO_LARGE
            - 413 REQUEST_ENTITY_TOO_LARGE
            - 414 URI_TOO_LONG
            - 414 REQUEST_URI_TOO_LONG
            - 415 UNSUPPORTED_MEDIA_TYPE
            - 416 REQUESTED_RANGE_NOT_SATISFIABLE
            - 417 EXPECTATION_FAILED
            - 418 I_AM_A_TEAPOT
            - 419 INSUFFICIENT_SPACE_ON_RESOURCE
            - 420 METHOD_FAILURE
            - 421 DESTINATION_LOCKED
            - 422 UNPROCESSABLE_ENTITY
            - 423 LOCKED
            - 424 FAILED_DEPENDENCY
            - 425 TOO_EARLY
            - 426 UPGRADE_REQUIRED
            - 428 PRECONDITION_REQUIRED
            - 429 TOO_MANY_REQUESTS
            - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
            - 451 UNAVAILABLE_FOR_LEGAL_REASONS
            - 500 INTERNAL_SERVER_ERROR
            - 501 NOT_IMPLEMENTED
            - 502 BAD_GATEWAY
            - 503 SERVICE_UNAVAILABLE
            - 504 GATEWAY_TIMEOUT
            - 505 HTTP_VERSION_NOT_SUPPORTED
            - 506 VARIANT_ALSO_NEGOTIATES
            - 507 INSUFFICIENT_STORAGE
            - 508 LOOP_DETECTED
            - 509 BANDWIDTH_LIMIT_EXCEEDED
            - 510 NOT_EXTENDED
            - 511 NETWORK_AUTHENTICATION_REQUIRED
        message:
          type: string
        params:
          type: object
          additionalProperties:
            type: string
        responseObject:
          $ref: '#/components/schemas/Slice%C2%ABSiteFindAllResponseDTOV3%C2%BB'
        success:
          type: boolean
      title: GenericResponse«Slice«SiteFindAllResponseDTOV3»»
    
    GenericResponse«Slice«DeviceResponseDTOV4»»:
      type: object
      properties:
        command:
          type: string
          example: "/api/v4/devices"
        errors:
          type: array
          items:
            type: string
        httpStatus:
          example: "200 OK"
          type: string
          enum:
            - 100 CONTINUE
            - 101 SWITCHING_PROTOCOLS
            - 102 PROCESSING
            - 103 CHECKPOINT
            - 200 OK
            - 201 CREATED
            - 202 ACCEPTED
            - 203 NON_AUTHORITATIVE_INFORMATION
            - 204 NO_CONTENT
            - 205 RESET_CONTENT
            - 206 PARTIAL_CONTENT
            - 207 MULTI_STATUS
            - 208 ALREADY_REPORTED
            - 226 IM_USED
            - 300 MULTIPLE_CHOICES
            - 301 MOVED_PERMANENTLY
            - 302 FOUND
            - 302 MOVED_TEMPORARILY
            - 303 SEE_OTHER
            - 304 NOT_MODIFIED
            - 305 USE_PROXY
            - 307 TEMPORARY_REDIRECT
            - 308 PERMANENT_REDIRECT
            - 400 BAD_REQUEST
            - 401 UNAUTHORIZED
            - 402 PAYMENT_REQUIRED
            - 403 FORBIDDEN
            - 404 NOT_FOUND
            - 405 METHOD_NOT_ALLOWED
            - 406 NOT_ACCEPTABLE
            - 407 PROXY_AUTHENTICATION_REQUIRED
            - 408 REQUEST_TIMEOUT
            - 409 CONFLICT
            - 410 GONE
            - 411 LENGTH_REQUIRED
            - 412 PRECONDITION_FAILED
            - 413 PAYLOAD_TOO_LARGE
            - 413 REQUEST_ENTITY_TOO_LARGE
            - 414 URI_TOO_LONG
            - 414 REQUEST_URI_TOO_LONG
            - 415 UNSUPPORTED_MEDIA_TYPE
            - 416 REQUESTED_RANGE_NOT_SATISFIABLE
            - 417 EXPECTATION_FAILED
            - 418 I_AM_A_TEAPOT
            - 419 INSUFFICIENT_SPACE_ON_RESOURCE
            - 420 METHOD_FAILURE
            - 421 DESTINATION_LOCKED
            - 422 UNPROCESSABLE_ENTITY
            - 423 LOCKED
            - 424 FAILED_DEPENDENCY
            - 425 TOO_EARLY
            - 426 UPGRADE_REQUIRED
            - 428 PRECONDITION_REQUIRED
            - 429 TOO_MANY_REQUESTS
            - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
            - 451 UNAVAILABLE_FOR_LEGAL_REASONS
            - 500 INTERNAL_SERVER_ERROR
            - 501 NOT_IMPLEMENTED
            - 502 BAD_GATEWAY
            - 503 SERVICE_UNAVAILABLE
            - 504 GATEWAY_TIMEOUT
            - 505 HTTP_VERSION_NOT_SUPPORTED
            - 506 VARIANT_ALSO_NEGOTIATES
            - 507 INSUFFICIENT_STORAGE
            - 508 LOOP_DETECTED
            - 509 BANDWIDTH_LIMIT_EXCEEDED
            - 510 NOT_EXTENDED
            - 511 NETWORK_AUTHENTICATION_REQUIRED
        message:
          type: string
        params:
          type: object
          additionalProperties:
            type: string
        responseObject:
          $ref: '#/components/schemas/Slice«DeviceResponseDTOV4»'
        success:
          type: boolean
      title: GenericResponse«Slice«DeviceResponseDTOV4»»
   
    GenericResponse«Void»:
      type: object
      properties:
        command:
          type: string
          example: '/api/v4/devices/{id}'
        errors:
          type: array
          items:
            type: string
        httpStatus:
          example: "200 OK"
          type: string
          enum:
            - 100 CONTINUE
            - 101 SWITCHING_PROTOCOLS
            - 102 PROCESSING
            - 103 CHECKPOINT
            - 200 OK
            - 201 CREATED
            - 202 ACCEPTED
            - 203 NON_AUTHORITATIVE_INFORMATION
            - 204 NO_CONTENT
            - 205 RESET_CONTENT
            - 206 PARTIAL_CONTENT
            - 207 MULTI_STATUS
            - 208 ALREADY_REPORTED
            - 226 IM_USED
            - 300 MULTIPLE_CHOICES
            - 301 MOVED_PERMANENTLY
            - 302 FOUND
            - 302 MOVED_TEMPORARILY
            - 303 SEE_OTHER
            - 304 NOT_MODIFIED
            - 305 USE_PROXY
            - 307 TEMPORARY_REDIRECT
            - 308 PERMANENT_REDIRECT
            - 400 BAD_REQUEST
            - 401 UNAUTHORIZED
            - 402 PAYMENT_REQUIRED
            - 403 FORBIDDEN
            - 404 NOT_FOUND
            - 405 METHOD_NOT_ALLOWED
            - 406 NOT_ACCEPTABLE
            - 407 PROXY_AUTHENTICATION_REQUIRED
            - 408 REQUEST_TIMEOUT
            - 409 CONFLICT
            - 410 GONE
            - 411 LENGTH_REQUIRED
            - 412 PRECONDITION_FAILED
            - 413 PAYLOAD_TOO_LARGE
            - 413 REQUEST_ENTITY_TOO_LARGE
            - 414 URI_TOO_LONG
            - 414 REQUEST_URI_TOO_LONG
            - 415 UNSUPPORTED_MEDIA_TYPE
            - 416 REQUESTED_RANGE_NOT_SATISFIABLE
            - 417 EXPECTATION_FAILED
            - 418 I_AM_A_TEAPOT
            - 419 INSUFFICIENT_SPACE_ON_RESOURCE
            - 420 METHOD_FAILURE
            - 421 DESTINATION_LOCKED
            - 422 UNPROCESSABLE_ENTITY
            - 423 LOCKED
            - 424 FAILED_DEPENDENCY
            - 425 TOO_EARLY
            - 426 UPGRADE_REQUIRED
            - 428 PRECONDITION_REQUIRED
            - 429 TOO_MANY_REQUESTS
            - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
            - 451 UNAVAILABLE_FOR_LEGAL_REASONS
            - 500 INTERNAL_SERVER_ERROR
            - 501 NOT_IMPLEMENTED
            - 502 BAD_GATEWAY
            - 503 SERVICE_UNAVAILABLE
            - 504 GATEWAY_TIMEOUT
            - 505 HTTP_VERSION_NOT_SUPPORTED
            - 506 VARIANT_ALSO_NEGOTIATES
            - 507 INSUFFICIENT_STORAGE
            - 508 LOOP_DETECTED
            - 509 BANDWIDTH_LIMIT_EXCEEDED
            - 510 NOT_EXTENDED
            - 511 NETWORK_AUTHENTICATION_REQUIRED
        message:
          type: string
          example: "Device {id} deleted"
        params:
          type: object
          additionalProperties:
            type: string
        success:
          type: boolean
      title: GenericResponse«Void»
      
    GenericResponse«long»:
      type: object
      properties:
        command:
          type: string
          example: "/api/v3/sites/count"
        errors:
          type: array
          items:
            type: string
        httpStatus:
          example: "200 OK"
          type: string
          enum:
            - 100 CONTINUE
            - 101 SWITCHING_PROTOCOLS
            - 102 PROCESSING
            - 103 CHECKPOINT
            - 200 OK
            - 201 CREATED
            - 202 ACCEPTED
            - 203 NON_AUTHORITATIVE_INFORMATION
            - 204 NO_CONTENT
            - 205 RESET_CONTENT
            - 206 PARTIAL_CONTENT
            - 207 MULTI_STATUS
            - 208 ALREADY_REPORTED
            - 226 IM_USED
            - 300 MULTIPLE_CHOICES
            - 301 MOVED_PERMANENTLY
            - 302 FOUND
            - 302 MOVED_TEMPORARILY
            - 303 SEE_OTHER
            - 304 NOT_MODIFIED
            - 305 USE_PROXY
            - 307 TEMPORARY_REDIRECT
            - 308 PERMANENT_REDIRECT
            - 400 BAD_REQUEST
            - 401 UNAUTHORIZED
            - 402 PAYMENT_REQUIRED
            - 403 FORBIDDEN
            - 404 NOT_FOUND
            - 405 METHOD_NOT_ALLOWED
            - 406 NOT_ACCEPTABLE
            - 407 PROXY_AUTHENTICATION_REQUIRED
            - 408 REQUEST_TIMEOUT
            - 409 CONFLICT
            - 410 GONE
            - 411 LENGTH_REQUIRED
            - 412 PRECONDITION_FAILED
            - 413 PAYLOAD_TOO_LARGE
            - 413 REQUEST_ENTITY_TOO_LARGE
            - 414 URI_TOO_LONG
            - 414 REQUEST_URI_TOO_LONG
            - 415 UNSUPPORTED_MEDIA_TYPE
            - 416 REQUESTED_RANGE_NOT_SATISFIABLE
            - 417 EXPECTATION_FAILED
            - 418 I_AM_A_TEAPOT
            - 419 INSUFFICIENT_SPACE_ON_RESOURCE
            - 420 METHOD_FAILURE
            - 421 DESTINATION_LOCKED
            - 422 UNPROCESSABLE_ENTITY
            - 423 LOCKED
            - 424 FAILED_DEPENDENCY
            - 425 TOO_EARLY
            - 426 UPGRADE_REQUIRED
            - 428 PRECONDITION_REQUIRED
            - 429 TOO_MANY_REQUESTS
            - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
            - 451 UNAVAILABLE_FOR_LEGAL_REASONS
            - 500 INTERNAL_SERVER_ERROR
            - 501 NOT_IMPLEMENTED
            - 502 BAD_GATEWAY
            - 503 SERVICE_UNAVAILABLE
            - 504 GATEWAY_TIMEOUT
            - 505 HTTP_VERSION_NOT_SUPPORTED
            - 506 VARIANT_ALSO_NEGOTIATES
            - 507 INSUFFICIENT_STORAGE
            - 508 LOOP_DETECTED
            - 509 BANDWIDTH_LIMIT_EXCEEDED
            - 510 NOT_EXTENDED
            - 511 NETWORK_AUTHENTICATION_REQUIRED
        message:
          type: string
        params:
          type: object
          additionalProperties:
            type: string
        responseObject:
          type: integer
          format: int64
        success:
          type: boolean
      title: GenericResponse«long»
    
  
    DeviceCreateRequestDTOV4:
      type: object
      properties:
        name:
          type: string
          description: Device name
          example: "CPE-25de466c-7ce7-494b-9817-f4ae8ab31bcb"
        model:
          type: string
          description: Device model 
          example: 'CISCO CSR 1000v'
        type:
          type: string
          description: Device type
          example: "CISCO CSR 1000v"
        subType:
          type: string
          description: Device subtype  
          example: ISR
        tags:
          type: object
          description: Device tags
          example:
            resourceProvider: "nso"
          additionalProperties:
            type: string  
        serialKey:
          type: string
          description: Device serial number
          example: 'FTX1738AJMG'
        version:
          type: string
          description: Device os version
        subscriptionId:
          type: string
          description: Device subcriptionId  
          example: 'tst310453251-3df577a4d3454c3ab7fedf4d53562231-sda'
        serviceInstanceId:
          type: string
          description: Device serviceInstanceId  
          example: 'tst310453251-3df577a4d3454c3ab7fedf4d53562231-sda'
        managed:
          type: boolean
          description: Is device managed  
          example: false 
        deviceOnboardingType:
          type: string
          description: Device os version  
          example: "direct"
        deviceOnboardInformation:
          type: string
          description: Device Onboarding Type  
          example:
            serviceType: "manageddevice"
            variables: "{\"ONBOARDING_INTERFACE\":\"GigabitEthernet1\",\"CPE_HOSTNAME\":\"CPE-25de466c-7ce7-494b-9817-f4ae8ab31bcb\"}"
            day0-file: "ipv4ConfigMgmt.txt"
            ned-id: "cisco-ios"
            encryptedVariables: "{\"CPE_SNMP_V3_AUTH_PASS\":\"$8$JjOF1uSbl6iLgtabpC08iEaZfzGjkraOBtBnDrPf1mQrge3kIhfyK/kc7LzGF9Ia\",\"CPE_SNMP_V3_PRIV_PASS\":\"$8$/Jsfrd20fC6JbMRtxFe0tNZXtTiE4ipsb9NhN9/WK/RvvEcCWR4D93hQTqfgPtZR\"}"
            platform-device-subtype: "ISR"
            password: "$8$bYNV/cmVIjOtlu6CK4m0VAxbWgQfIeDSsQyTggbZ/tnJLboqeyhZq+wlEBTFxCOp"
            port: "22"
            platform-device-category: "CPE"
            secondary-password: "$8$QcGWmi4HgF/2ZtdNkxfh6fse7uBvRfbPLlndTMli92qa0F+4Ruejy+Dt5gNWRncm"
            platform-device-type: "CPE"
            device-type: "cli"
            username: "vmsmd33"
          additionalProperties:
            type: string   
        attributes:
          type: object
          description: Device attributes
          example:
            deviceRegistrationInProgress: "true"
            templateDetails: "[{\"templateId\":\"b47c37b4-41e6-4ee1-8fe0-cb5da9e6a3fb\",\"templateName\":\"managed-device-regression-test-template-1dc21c59-bd1e-4004-8e7e-361b76f90f65\",\"deviceParams\":[{\"name\":\"DEVICE_NAME\",\"hintText\":\"\",\"label\":\"DEVICE_NAME\",\"type\":\"String\",\"displayType\":\"Input\",\"allowedValues\":\"\",\"value\":\"msx-csr-6ce761a8-f9b9-43a8-bc6d-c99de3369e2b\",\"toolTipText\":\"\"},{\"name\":\"BACKUP_DNS_SERVER\",\"hintText\":\"\",\"label\":\"BACKUP_DNS_SERVER\",\"type\":\"IPAddress\",\"displayType\":\"Input\",\"allowedValues\":\"\",\"value\":\"8.8.8.8\",\"toolTipText\":\"\"}],\"templateHistoryId\":null,\"appliedBy\":\"superuser\",\"appliedOn\":null,\"editedOn\":null,\"editedBy\":\"superuser\",\"previousTemplateHistoryId\":null}]"
            deviceTypeName: "CISCO CSR 1000v"
            deviceInterfaces: "[{\"name\":\"GigabitEthernet1\",\"roles\":[\"onboard\",\"wan\"],\"snmp\":\"GigabitEthernet1\",\"nedId\":\"cisco-ios\"}]"
            devicePassword: "$8$MGg7+Cx0syRusnXmOG5STbgXrQccIA+A8Dd7HKl6mrjf4VW3gr+UhpZJoh0VL7o6"
          additionalProperties:
            type: string
        billing:
          $ref: '#/components/schemas/Billing'
        tenantId:
          type: string
          format: uuid
          description: Tenant Id  
      title: DeviceCreateRequestDTOV4
      
    DeviceResponseDTOV4:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Device id
        name:
          type: string
          description: Device name
          example: "CPE-25de466c-7ce7-494b-9817-f4ae8ab31bcb"
        model:
          type: string
          description: Device model 
          example: "CISCO CSR 1000v"
        type:
          type: string
          description: Device type
          example: "CISCO CSR 1000v"
        subType:
          type: string
          description: Device subtype  
          example: "ISR"
        tags:
          type: object
          description: Device tags
          example:
            resourceProvider: "nso"
          additionalProperties:
            type: string   
        serialKey:
          type: string
          description: Device serial number
          example: "FTX1738AJMG"
        version:
          type: string
          description: Device os version
          example: "2.883"
        subscriptionId:
          type: string
          description: Device subcriptionId  
          example: 'tst310453251-3df577a4d3454c3ab7fedf4d53562231-sda'
        serviceInstanceId:
          type: string
          description: Device serviceInstanceId  
          example: 'tst310453251-3df577a4d3454c3ab7fedf4d53562231-sda'  
        serviceType:
          type: string
          description: Device service type  
          example: 'sda'  
        managed:
          type: boolean
          description: Is device managed  
          example: false 
        deviceOnboardingType:
          type: string
          description: Device os version  
          example: "direct"
        deviceOnboardInformation:
          type: string
          description: Device Onboarding Type  
          example:
            serviceType: "manageddevice"
            variables: "{\"ONBOARDING_INTERFACE\":\"GigabitEthernet1\",\"CPE_HOSTNAME\":\"CPE-25de466c-7ce7-494b-9817-f4ae8ab31bcb\"}"
            day0-file: "ipv4ConfigMgmt.txt"
            ned-id: "cisco-ios"
            encryptedVariables: "{\"CPE_SNMP_V3_AUTH_PASS\":\"$8$JjOF1uSbl6iLgtabpC08iEaZfzGjkraOBtBnDrPf1mQrge3kIhfyK/kc7LzGF9Ia\",\"CPE_SNMP_V3_PRIV_PASS\":\"$8$/Jsfrd20fC6JbMRtxFe0tNZXtTiE4ipsb9NhN9/WK/RvvEcCWR4D93hQTqfgPtZR\"}"
            platform-device-subtype: "ISR"
            password: "$8$bYNV/cmVIjOtlu6CK4m0VAxbWgQfIeDSsQyTggbZ/tnJLboqeyhZq+wlEBTFxCOp"
            port: "22"
            platform-device-category: "CPE"
            secondary-password: "$8$QcGWmi4HgF/2ZtdNkxfh6fse7uBvRfbPLlndTMli92qa0F+4Ruejy+Dt5gNWRncm"
            platform-device-type: "CPE"
            device-type: "cli"
            username: "vmsmd33"
          additionalProperties:
            type: string   
        statusDetails:
          type: string
          description: Status Details  
          example:
            tunnelStatus: 
              value: "UP"
              severity: "3"
              lastUpdated: "2020-01-29T09:12:33.001Z"
              lastUpdatedMesage: "Updated by system user"
            pnpStatus: 
              value: "UP"
              severity: "3"
              lastUpdated: "2020-01-29T09:12:33.001Z"
              lastUpdatedMesage: "Updated by system user"
            healthStatus:
              value: "UP"
              severity: "3"
              lastUpdated: "2020-01-29T09:12:33.001Z"
              lastUpdatedMesage: "Updated by system user"
            syncStatus: 
              value: "UP"
              severity: "3"
              lastUpdated: "2020-01-29T09:12:33.001Z"
              lastUpdatedMesage: "Updated by system user"

        attributes:
          type: object
          description: Device attributes
          example:
            deviceRegistrationInProgress: "true"
            templateDetails: "[{\"templateId\":\"b47c37b4-41e6-4ee1-8fe0-cb5da9e6a3fb\",\"templateName\":\"managed-device-regression-test-template-1dc21c59-bd1e-4004-8e7e-361b76f90f65\",\"deviceParams\":[{\"name\":\"DEVICE_NAME\",\"hintText\":\"\",\"label\":\"DEVICE_NAME\",\"type\":\"String\",\"displayType\":\"Input\",\"allowedValues\":\"\",\"value\":\"msx-csr-6ce761a8-f9b9-43a8-bc6d-c99de3369e2b\",\"toolTipText\":\"\"},{\"name\":\"BACKUP_DNS_SERVER\",\"hintText\":\"\",\"label\":\"BACKUP_DNS_SERVER\",\"type\":\"IPAddress\",\"displayType\":\"Input\",\"allowedValues\":\"\",\"value\":\"8.8.8.8\",\"toolTipText\":\"\"}],\"templateHistoryId\":null,\"appliedBy\":\"superuser\",\"appliedOn\":null,\"editedOn\":null,\"editedBy\":\"superuser\",\"previousTemplateHistoryId\":null}]"
            deviceTypeName: "CISCO CSR 1000v"
            deviceInterfaces: "[{\"name\":\"GigabitEthernet1\",\"roles\":[\"onboard\",\"wan\"],\"snmp\":\"GigabitEthernet1\",\"nedId\":\"cisco-ios\"}]"
            devicePassword: "$8$MGg7+Cx0syRusnXmOG5STbgXrQccIA+A8Dd7HKl6mrjf4VW3gr+UhpZJoh0VL7o6"
          additionalProperties:
            type: string
        tenantId:
          type: string
          format: uuid
          description: TenantId 
        createdOn:
          type: string
          format: date-time
          description: Date created on
        modifiedOn:
          type: string
          format: date-time
          description: Date modified on  
      title: DeviceResponseDTOV4  
    
    DeviceFindAllResponseDTOV4:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Device id
        name:
          type: string
          description: Device name
          example: "CPE-25de466c-7ce7-494b-9817-f4ae8ab31bcb"
        model:
          type: string
          description: Device model 
          example: "CISCO CSR 1000v"
        type:
          type: string
          description: Device type
          example: "CISCO CSR 1000v"
        subType:
          type: string
          description: Device subtype  
          example: "ISR"
        tags:
          type: object
          description: Device tags
          example:
            resourceProvider: "nso"
          additionalProperties:
            type: string   
        serialKey:
          type: string
          description: Device serial number
          example: "FTX1738AJMG"
        version:
          type: string
          description: Device os version
          example: "2.883"
        subscriptionId:
          type: string
          description: Device subcriptionId  
          example: 'tst310453251-3df577a4d3454c3ab7fedf4d53562231-sda'
        serviceInstanceId:
          type: string
          description: Device serviceInstanceId  
          example: 'tst310453251-3df577a4d3454c3ab7fedf4d53562231-sda'  
        serviceType:
          type: string
          description: Device service type  
          example: 'sda'  
        managed:
          type: boolean
          description: Is device managed  
          example: false 
        deviceOnboardingType:
          type: string
          description: Device os version  
          example: "direct"
        deviceOnboardInformation:
          type: string
          description: Device Onboarding Type  
          example:
            serviceType: "manageddevice"
            variables: "{\"ONBOARDING_INTERFACE\":\"GigabitEthernet1\",\"CPE_HOSTNAME\":\"CPE-25de466c-7ce7-494b-9817-f4ae8ab31bcb\"}"
            day0-file: "ipv4ConfigMgmt.txt"
            ned-id: "cisco-ios"
            encryptedVariables: "{\"CPE_SNMP_V3_AUTH_PASS\":\"$8$JjOF1uSbl6iLgtabpC08iEaZfzGjkraOBtBnDrPf1mQrge3kIhfyK/kc7LzGF9Ia\",\"CPE_SNMP_V3_PRIV_PASS\":\"$8$/Jsfrd20fC6JbMRtxFe0tNZXtTiE4ipsb9NhN9/WK/RvvEcCWR4D93hQTqfgPtZR\"}"
            platform-device-subtype: "ISR"
            password: "$8$bYNV/cmVIjOtlu6CK4m0VAxbWgQfIeDSsQyTggbZ/tnJLboqeyhZq+wlEBTFxCOp"
            port: "22"
            platform-device-category: "CPE"
            secondary-password: "$8$QcGWmi4HgF/2ZtdNkxfh6fse7uBvRfbPLlndTMli92qa0F+4Ruejy+Dt5gNWRncm"
            platform-device-type: "CPE"
            device-type: "cli"
            username: "vmsmd33"
          additionalProperties:
            type: string   
        statusDetails:
          type: string
          description: Status Details  
          example:
            tunnelStatus: 
              value: "UP"
              severity: "3"
              lastUpdated: "2020-01-29T09:12:33.001Z"
              lastUpdatedMesage: "Updated by system user"
            pnpStatus: 
              value: "UP"
              severity: "3"
              lastUpdated: "2020-01-29T09:12:33.001Z"
              lastUpdatedMesage: "Updated by system user"
            healthStatus:
              value: "UP"
              severity: "3"
              lastUpdated: "2020-01-29T09:12:33.001Z"
              lastUpdatedMesage: "Updated by system user"
            syncStatus: 
              value: "UP"
              severity: "3"
              lastUpdated: "2020-01-29T09:12:33.001Z"
              lastUpdatedMesage: "Updated by system user" 
        tenantId:
          type: string
          format: uuid
          description: TenantId 
        createdOn:
          type: string
          format: date-time
          description: Date created on
        modifiedOn:
          type: string
          format: date-time
          description: Date modified on  
      title: FindAllDeviceResponseDTOV4
    
    Slice«DeviceResponseDTOV4»:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/DeviceResponseDTOV4'
        empty:
          type: boolean
        first:
          type: boolean
        hasNext:
          type: boolean
        last:
          type: boolean
        number:
          type: integer
          format: int32
        numberOfElements:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/Pageable'
        size:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/Sort'
      title: Slice«DeviceResponseDTOV4»
    
    Throwable:
      type: object
      properties:
        cause:
          $ref: '#/components/schemas/Throwable'
        message:
          type: string
        stackTrace:
          type: array
          items:
            $ref: '#/components/schemas/StackTraceElement'
        suppressed:
          type: array
          items:
            $ref: '#/components/schemas/Throwable'
      title: Throwable    
    StackTraceElement:
      type: object
      properties:
        classLoaderName:
          type: string
        className:
          type: string
        declaringClass:
          type: string
        fileName:
          type: string
        format:
          type: integer
          format: int32
          minimum: -128
          maximum: 127
        lineNumber:
          type: integer
          format: int32
        methodName:
          type: string
        moduleName:
          type: string
        moduleVersion:
          type: string
        nativeMethod:
          type: boolean
      title: StackTraceElement   
    Sort:
      type: object
      properties:
        empty:
          type: boolean
        orders:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        sorted:
          type: boolean
        unsorted:
          type: boolean
      title: Sort    
    Pageable:
      type: object
      properties:
        offset:
          type: integer
          format: int64
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        paged:
          type: boolean
        sort:
          $ref: '#/components/schemas/Sort'
        unpaged:
          type: boolean
      title: Pageable   
    Order:
      type: object
      properties:
        ascending:
          type: boolean
        descending:
          type: boolean
        direction:
          type: string
          enum:
            - ASC
            - DESC
        ignoreCase:
          type: boolean
        nullHandling:
          type: string
          enum:
            - NATIVE
            - NULLS_FIRST
            - NULLS_LAST
        property:
          type: string
      title: Order   
    
      
    MultiValuedField«string»:
      type: object
      properties:
        name:
          type: string
        value:
          type: array
          items:
            type: string
      title: MultiValuedField«string»  
      
    RangeField«object»:
      type: object
      properties:
        lower:
          type: object
        name:
          type: string
        upper:
          type: object
      title: RangeField«object»
      
    Optional«Pageable»:
      type: object
      properties:
        empty:
          type: boolean
        present:
          type: boolean
        value:
          $ref: '#/components/schemas/Pageable'
      title: Optional«Pageable»
      
# Added by API Auto Mocking Plugin
servers:
  - description: SwaggerHub API Auto Mocking
    url: https://virtserver.swaggerhub.com/Cisco-Systems46/Devices/3.9.0