openapi: 3.0.0
info:
  description: API for accessing data from Matinfo.no
  version: "1.0.0"
  title: Matinfo API
  contact:
    email: rub@millum.no
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: https://api.matinfo.no/v2
tags:
  - name: users
    description: Operations available to regular users
  - name: authentication
    description: Contains endpoint for authentication. This is for accessing your own products that are labeled as private group
paths:
  '/updatedsince/{timestamp}':
    get:
      tags:
        - users
      summary: Returns the GTINs for all products updated since the given date
      operationId: updatedsince
      description: Returns the GTINs for all products updated since the given date
      parameters:
        - in: path
          name: timestamp
          description: 'YYYY MM DD separated with a comma, example 2015,03,11'
          required: true
          schema:
            type: string
        - in: query
          name: api_key
          description: Api key provided by Millum
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of updated GTINs
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    $ref: '#/components/schemas/GTINs'
            application/xml:
              schema:
                type: object
                properties:
                  gtin:
                    type: array
                    items:
                      type: string
                    example: 
                      - 01234567891234
                      - 01234567891235
                      - 01234567891236
                      - 01234567891237
                xml:
                  name: products
  '/product/gtin/{gtin}':
    get:
      tags:
        - users
      summary: Returns live productdata for the given GTIN
      operationId: product
      description: Returns live productdata for the given GTIN
      parameters:
        - in: path
          name: gtin
          description: GTIN for the given product
          required: true
          schema:
            type: string
        - in: query
          name: api_key
          description: Api key provided by Millum
          required: true
          schema:
            type: string
        - in: header
          name: token
          description: Accessing private group products
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Returns live productdata for a given GTIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
            application/xml:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          description: Product not found
  '/productfull/gtin/{gtin}':
    get:
      tags:
        - users
      summary: Returns full GS1 data for the given GTIN
      operationId: productfull
      description: Returns the last exported data of the product with the given GTIN. This data might be up to 24h old, but contains all information registered in ProduktData.
      parameters:
        - in: path
          name: gtin
          description: GTIN for the given product
          required: true
          schema:
            type: string
        - in: query
          name: api_key
          description: Api key provided by Millum
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns full GS1 data for a given GTIN
        '404':
          description: Product not found
  '/auth/signin/{username}/{password}':
    get:
      tags:
        - authentication
      summary: Signs in to the API
      operationId: signin
      description: Use this endpoint to sign in to the endpoint. A token will be returned in the response header. Use this token to fetch products labeled as private group
      parameters:
        - in: path
          name: username
          description: 'Matinfo username'
          required: true
          schema:
            type: string
        - in: path
          name: password
          description: 'Matinfo password'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Receives a token in the response header
  '/auth/signout':
    get:
      tags:
        - authentication
      summary: Signs out of the endpoint
      operationId: signout
      description: Use this endpoint to sign out of the endpoint. The token provided will then be expired
      parameters:
        - in: header
          name: token
          #description: Accessing private group products
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Receives a token in the response header
components:
  schemas:
    GTINs:
      type: array
      items:
        type: object
        properties: 
          gtin:
            type: string
      example:
        - gtin: 01234567891234
        - gtin: 01234567891235
        - gtin: 01234567891236
        - gtin: 01234567891237
    Product:
      type: object
      properties:
        gtin:
          type: string
        name:
          type: string
        itemNumber:
          type: string
        epdNumber:
          type: string
        producerName:
          type: string
        providerName:
          type: string
        brandName:
          type: string
        ingredientStatement:
          type: string
        productUrl:
          type: string
        markings:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              name:
                type: string
        images:
          type: array
          items:
            type: string
        packageSize:
          type: string
        nutrients:
          $ref: '#/components/schemas/Nutrient'
        allergens:
          $ref: '#/components/schemas/Allergen'
      example:
        gtin: 07038010027598
        name: TINE Baconost 200 g
        itemNumber: 2779
        epdNumber: 2400232
        producerName: TINE SA
        providerName: TINE SA
        brandName: TINE
        ingredientStatement: <b>hvitost</b>, vann, 7% bacon (svinekjøtt, vann, stabilisator (dinatriumdifosfat og natriumtrifosfat), glukose, aroma og antioksidant (natriumerytorbat)), melkefett, smeltesalt (mononatriumfosfat og natriumpolyfosfat), stabilisator (mono- og diglyserider av fettsyrer, acetylert distivelsesadipat, xantangummi og guarkjernemel), salt, surhetsregulerende middel (sitronsyre) og røykaroma"
        productUrl: https://produkter.matinfo.no/TINE/TINE Baconost 200 g/07038010027598/
        markings:
          - code: NYCKELHAL_MARK
            name: Nøkkelhullsmerking
        images:
          - http://images.pdb.no/images/large/07035620026256.jpg
        packageSize: 400 GRM
        nutrients:
          - code: FAT
            measurement: 17
            measurementPrecision: APPROXIMATELY
            measurementType: g
            name: Fett
          - code: ENERC_KJ
            measurement: 887
            measurementPrecision: APPROXIMATELY
            measurementType: kJ
            name: Energi (kJ)
          - code: ENERC_KCAL
            measurement: 213
            measurementPrecision: APPROXIMATELY
            measurementType: kcal
            name: Energi (kcal)
          - code: CHO-
            measurement: 0.2
            measurementPrecision: APPROXIMATELY
            measurementType: g
            name: Karbohydrat
          - code: PROCNT
            measurement: 15
            measurementPrecision: APPROXIMATELY
            measurementType: g
            name: Protein
          - code: SUGAR
            measurement: 0.1
            measurementPrecision: APPROXIMATELY
            measurementType: g
            name: "- Sukkerarter"
          - code: FASAT
            measurement: 11
            measurementPrecision: APPROXIMATELY
            measurementType: g
            name: "- Mettede fettsyrer"
          - code: NACL
            measurement: 2.4
            measurementPrecision: APPROXIMATELY
            measurementType: g
            name: Salt
        allergens:
          - code: AE
            level: FREE_FROM
            name: Egg
          - code: AF
            level: FREE_FROM
            name: Fisk
          - code: AW
            level: FREE_FROM
            name: Gluten
          - code: AM
            level: CONTAINS
            name: Melk
          - code: AN
            level: FREE_FROM
            name: Nøtter
          - code: AP
            level: FREE_FROM
            name: Peanøtter
          - code: BC
            level: FREE_FROM
            name: Selleri
          - code: BM
            level: FREE_FROM
            name: Sennep
          - code: AS
            level: FREE_FROM
            name: Sesamfrø
          - code: AC
            level: FREE_FROM
            name: Skalldyr
          - code: AY
            level: MAY_CONTAIN
            name: Soya
          - code: AU
            level: FREE_FROM
            name: Svoveldioksid eller sulfitter
          - code: UM
            level: FREE_FROM
            name: Bløtdyr
          - code: UM
            level: FREE_FROM
            name: Bløtdyr
          - code: NL
            level: FREE_FROM
            name: Lupin
          - code: GO
            level: FREE_FROM
            name: Havre
          - code: UW
            level: FREE_FROM
            name: Hvete
          - code: GK
            level: FREE_FROM
            name: Kamut
          - code: NR
            level: FREE_FROM
            name: Rug
          - code: GS
            level: FREE_FROM
            name: Spelt
          - code: GB
            level: FREE_FROM
            name: Bygg
          - code: SC
            level: FREE_FROM
            name: Cashewnøtter
          - code: SH
            level: FREE_FROM
            name: Hasselnøtter
          - code: SM
            level: FREE_FROM
            name: Makadamianøtter
          - code: SA
            level: FREE_FROM
            name: Mandel
          - code: SR
            level: FREE_FROM
            name: Paranøtter
          - code: SP
            level: FREE_FROM
            name: Pekannøtter
          - code: ST
            level: FREE_FROM
            name: Pistasjnøtter
          - code: SW
            level: FREE_FROM
            name: Valnøtter
    Nutrient:
      type: array
      xml:
        wrapped: true
        name: nutrients
      items:
        type: object
        xml:
          name: nutrient
        properties:
          code:
            type: string
          measurement:
            type: string
          measurementPrecision:
            type: string
          measurementType:
            type: string
          name:
            type: string
    Allergen:
      type: array
      xml:
        wrapped: true
        name: allergens
      items:
        type: object
        xml:
          name: allergen
        properties:
          code: 
            type: string
          level:
            type: string
            enum:
              - FREE_FROM
              - MAY_CONTAIN
              - CONTAINS
          name:
            type: string
