openapi: 3.0.1
info:
  title: Mainframe Cloud Db2 Service
  description: >
    Mainframe Cloud API Services provide a uniform method for accessing a range
    of mainframe data sources via a high-performance data access layer that
    interfaces natively with z/OS assets in real-time.


    Available functions in the Db2 Service include READ (for high volume
    unloads), LIST (for data discovery), and SQL (for database updates).


    The Mainframe Cloud Db2 Service empowers a range of data-centric activities,
    including data integration, data migration, business intelligence,
    analytics, and open banking.


    # Example Apps


    [Start
    Fiddling](https://www.mainframecloudplatform.com/rta1/examples/QDb2%20JSFIDDLE.html)
    - Use JSFiddle to work with sample code for Db2.


    [Db2 Table
    List](https://www.mainframecloudplatform.com/rta1/examples/QDb2%20--%20Db2%20List.html)
    - Display filtered list of Db2 table names.


    [Db2 Unload to
    MySQL](https://www.mainframecloudplatform.com/rta1/examples/QDb2%20--%20Db2%20Unload%20to%20MySQL.html)
    - Unload a mainframe Db2 table to a cloud-hosted MySQL database.
  contact:
    email: support@mainframecloud.com.au
  version: '0.2'
servers:
  - url: 'https://www.mainframecloudplatform.com/rta1/rest/db2'
    description: Mainframe Cloud Sandbox Server
tags:
  - name: read
    description: Mainframe Cloud Db2 Read Service
  - name: list
    description: Mainframe Cloud Db2 List Service
  - name: sql
    description: Mainframe Cloud Db2 SQL Service
  - name: pipe
    description: Mainframe Cloud Db2 Pipe Service
paths:
  /read:
    post:
      tags:
        - read
      requestBody:
        description: >-
          The Read service queries Db2 and returns the content of a table as
          specified in the JSON input request. The result, table data and column
          information, is returned in the JSON response object.


          [Click
          here](https://www.mainframecloudplatform.com/runtime/doc/Read-Request.html)
          for a detailed description of the request object fields.


          [Here are some
          examples](https://www.mainframecloudplatform.com/rta1/examples/QDb2%20JSFIDDLE.html)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/read_request'
            examples:
              Display Db2 Table:
                value: "{\r\n    \"in\" : \"DSN81110.EMP\",\r\n    \"filter\" : {\r\n        \"sql\" : {\r\n            \"where\" : \"SALARY > 30000\",\r\n            \"order\" : \"SALARY DESC\",\r\n            \"fetchfirst\" : 3\r\n        }\r\n    }\r\n}"
              Transfer Db2 Table:
                value: "{\r\n    \"in\" : \"DSN81110.EMP\",\r\n    \"filter\" : {\r\n        \"sql\" : {\r\n            \"where\" : \"SALARY > 30000\",\r\n            \"order\" : \"SALARY DESC\",\r\n            \"fetchfirst\" : 3\r\n        }\r\n    },\r\n    \"out\" : {\r\n        \"target\" : {\r\n            \"folder\" : \"sandbox\"\r\n        }\r\n    }\r\n}"
      responses:
        '200':
          description: >-
            Db2 read service response object. [Click
            here](https://www.mainframecloudplatform.com/runtime/doc/Read-Response.html)
            for a detailed description of the response object fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/read_response'
              examples:
                Display Db2 Table:
                  value: |-
                    {
                      "rc": 200,
                      "agentVersion": "ON-DEMAND",
                      "sqlresp": {
                        "table": "DSN81110.EMP",
                        "resultset": [
                          {
                            "column": [
                              {
                                "title": "EMPNO",
                                "type": "CHAR",
                                "nullable": false,
                                "length": 6,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "FIRSTNME",
                                "type": "VARCHAR",
                                "nullable": false,
                                "length": 12,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "MIDINIT",
                                "type": "CHAR",
                                "nullable": false,
                                "length": 1,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "LASTNAME",
                                "type": "VARCHAR",
                                "nullable": false,
                                "length": 15,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "WORKDEPT",
                                "type": "CHAR",
                                "nullable": true,
                                "length": 3,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "PHONENO",
                                "type": "CHAR",
                                "nullable": true,
                                "length": 4,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "HIREDATE",
                                "type": "DATE",
                                "nullable": true,
                                "length": 4,
                                "scale": 0,
                                "ccsid": 0
                              },
                              {
                                "title": "JOB",
                                "type": "CHAR",
                                "nullable": true,
                                "length": 8,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "EDLEVEL",
                                "type": "SMALLINT",
                                "nullable": true,
                                "length": 2,
                                "scale": 0,
                                "ccsid": 0
                              },
                              {
                                "title": "SEX",
                                "type": "CHAR",
                                "nullable": true,
                                "length": 1,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "BIRTHDATE",
                                "type": "DATE",
                                "nullable": true,
                                "length": 4,
                                "scale": 0,
                                "ccsid": 0
                              },
                              {
                                "title": "SALARY",
                                "type": "DECIMAL",
                                "nullable": true,
                                "length": 9,
                                "scale": 2,
                                "ccsid": 0
                              },
                              {
                                "title": "BONUS",
                                "type": "DECIMAL",
                                "nullable": true,
                                "length": 9,
                                "scale": 2,
                                "ccsid": 0
                              },
                              {
                                "title": "COMM",
                                "type": "DECIMAL",
                                "nullable": true,
                                "length": 9,
                                "scale": 2,
                                "ccsid": 0
                              }
                            ],
                            "row": [
                              [
                                "000010",
                                "CHRISTINE   ",
                                "I",
                                "HAAS           ",
                                "A00 ",
                                "3978 ",
                                "1965-01-01 ",
                                "PRES     ",
                                18,
                                "F ",
                                "1933-08-14 ",
                                "52750.00    ",
                                "1000.00     ",
                                "4220.00     "
                              ],
                              [
                                "200010",
                                "DIAN        ",
                                "J",
                                "HEMMINGER      ",
                                "A00 ",
                                "3978 ",
                                "1965-01-01 ",
                                "SALESREP ",
                                18,
                                "F ",
                                "1933-08-14 ",
                                "46500.00    ",
                                "1000.00     ",
                                "4220.00     "
                              ],
                              [
                                "000110",
                                "VINCENZO    ",
                                "G",
                                "LUCCHESI       ",
                                "A00 ",
                                "3490 ",
                                "1958-05-16 ",
                                "SALESREP ",
                                19,
                                "M ",
                                "1929-11-05 ",
                                "46500.00    ",
                                "900.00      ",
                                "3720.00     "
                              ]
                            ]
                          }
                        ],
                        "message": [
                          "UNLOAD COMPLETE. Unloaded 3 rows. Elapsed time = 0.270285 seconds.microseconds"
                        ]
                      }
                    }
                Transfer Db2 Table:
                  value: |-
                    {
                      "rc": 200,
                      "agentVersion": "ON-DEMAND",
                      "sqlresp": {
                        "table": "DSN81110.EMP",
                        "target": {
                          "folder": "/cust/zizisoftware/home/webapps/ws/uploads/",
                          "csvfile": true,
                          "file": "https://www.mainframecloudplatform.com/ws/uploads/DSN81110.EMP.m03d26.h10m55.s15m560.csv"
                        },
                        "resultset": [
                          {
                            "column": [
                              {
                                "title": "EMPNO",
                                "type": "CHAR",
                                "nullable": false,
                                "length": 6,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "FIRSTNME",
                                "type": "VARCHAR",
                                "nullable": false,
                                "length": 12,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "MIDINIT",
                                "type": "CHAR",
                                "nullable": false,
                                "length": 1,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "LASTNAME",
                                "type": "VARCHAR",
                                "nullable": false,
                                "length": 15,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "WORKDEPT",
                                "type": "CHAR",
                                "nullable": true,
                                "length": 3,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "PHONENO",
                                "type": "CHAR",
                                "nullable": true,
                                "length": 4,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "HIREDATE",
                                "type": "DATE",
                                "nullable": true,
                                "length": 4,
                                "scale": 0,
                                "ccsid": 0
                              },
                              {
                                "title": "JOB",
                                "type": "CHAR",
                                "nullable": true,
                                "length": 8,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "EDLEVEL",
                                "type": "SMALLINT",
                                "nullable": true,
                                "length": 2,
                                "scale": 0,
                                "ccsid": 0
                              },
                              {
                                "title": "SEX",
                                "type": "CHAR",
                                "nullable": true,
                                "length": 1,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "BIRTHDATE",
                                "type": "DATE",
                                "nullable": true,
                                "length": 4,
                                "scale": 0,
                                "ccsid": 0
                              },
                              {
                                "title": "SALARY",
                                "type": "DECIMAL",
                                "nullable": true,
                                "length": 9,
                                "scale": 2,
                                "ccsid": 0
                              },
                              {
                                "title": "BONUS",
                                "type": "DECIMAL",
                                "nullable": true,
                                "length": 9,
                                "scale": 2,
                                "ccsid": 0
                              },
                              {
                                "title": "COMM",
                                "type": "DECIMAL",
                                "nullable": true,
                                "length": 9,
                                "scale": 2,
                                "ccsid": 0
                              }
                            ]
                          }
                        ],
                        "message": [
                          "UNLOAD COMPLETE. Unloaded 3 rows. Elapsed time = 0.308653 seconds.microseconds",
                          "TRANSFER COMPLETE. Total transferred = 1 KB. Elapsed time = 146 ms"
                        ]
                      }
                    }
  /list:
    post:
      tags:
        - list
      requestBody:
        description: >-
          The List service queries Db2 and returns a table list, or table column
          list, according to the criteria specified in the JSON input request.
          The result, table list and column information, is returned in the JSON
          response object.


          [Click
          here](https://www.mainframecloudplatform.com/runtime/doc/List-Request.html)
          for a detailed description of the request object fields.


          [Here are some
          examples](https://www.mainframecloudplatform.com/rta1/examples/QDb2%20JSFIDDLE.html)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/list_request'
            examples:
              Get Db2 Table List:
                value: "{\r\n    \"filter\" : {\r\n        \"prefix\" : \"DSN8%.V%\"\r\n    }\r\n}"
              Get Db2 Table Column List:
                value: "{\r\n    \"in\" : \"DSN81110.EMP\"\r\n}"
      responses:
        '200':
          description: >-
            Db2 list service response object. [Click
            here](https://www.mainframecloudplatform.com/runtime/doc/List-Response.html)
            for a detailed description of the response object fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_response'
              examples:
                Get Db2 Table List:
                  value: |-
                    {
                      "rc": 200,
                      "agentVersion": "ON-DEMAND",
                      "sqlresp": {
                        "sql": "SELECT CREATOR, NAME, TYPE FROM SYSIBM.SYSTABLES WHERE TYPE IN ('T', 'V') AND CREATOR LIKE 'DSN8%' AND NAME LIKE 'V%' ORDER BY 1,2",
                        "resultset": [
                          {
                            "column": [
                              {
                                "title": "CREATOR",
                                "type": "VARCHAR",
                                "nullable": false,
                                "length": 128,
                                "ccsid": 1208
                              },
                              {
                                "title": "NAME",
                                "type": "VARCHAR",
                                "nullable": false,
                                "length": 128,
                                "ccsid": 1208
                              },
                              {
                                "title": "TYPE",
                                "type": "CHAR",
                                "nullable": false,
                                "length": 1,
                                "ccsid": 1208
                              }
                            ],
                            "row": [
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VACT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VASTRDE1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VASTRDE2",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VCONA",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VDEPMG1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VDEPT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VDSPTXT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VEMP",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VEMPDPT1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VEMPLP",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VEMPPROJACT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VFORPLA",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VHDEPT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VOPTVAL",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VPHONE",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VPROJ",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VPROJACT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VPROJRE1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VPSTRDE1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VPSTRDE2",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VSTAFAC1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VSTAFAC2",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VACT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VASTRDE1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VASTRDE2",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VCONA",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VDEPMG1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VDEPT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VDSPTXT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VEMP",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VEMPDPT1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VEMPLP",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VEMPPROJACT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VFORPLA",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VHDEPT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VOPTVAL",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VPHONE",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VPROJ",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VPROJACT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VPROJRE1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VPSTRDE1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VPSTRDE2",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VSTAFAC1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VSTAFAC2",
                                "TYPE": "V"
                              }
                            ]
                          }
                        ],
                        "firstrow": 1,
                        "lastrow": 44,
                        "more": false,
                        "sqlcode": 0
                      }
                    }
                Get Db2 Table Column List:
                  value: |-
                    {
                      "rc": 200,
                      "agentVersion": "ON-DEMAND",
                      "sqlresp": {
                        "sql": "SELECT NAME, COLTYPE, LENGTH, SCALE, CCSID, NULLS FROM SYSIBM.SYSCOLUMNS WHERE TBCREATOR = 'DSN81110' AND TBNAME = 'EMP'",
                        "resultset": [
                          {
                            "column": [
                              {
                                "title": "NAME",
                                "type": "VARCHAR",
                                "nullable": false,
                                "length": 128,
                                "ccsid": 1208
                              },
                              {
                                "title": "COLTYPE",
                                "type": "CHAR",
                                "nullable": false,
                                "length": 8,
                                "ccsid": 1208
                              },
                              {
                                "title": "LENGTH",
                                "type": "SMALLINT",
                                "nullable": false,
                                "length": 2
                              },
                              {
                                "title": "SCALE",
                                "type": "SMALLINT",
                                "nullable": false,
                                "length": 2
                              },
                              {
                                "title": "CCSID",
                                "type": "INTEGER",
                                "nullable": false,
                                "length": 4
                              },
                              {
                                "title": "NULLS",
                                "type": "CHAR",
                                "nullable": false,
                                "length": 1,
                                "ccsid": 1208
                              }
                            ],
                            "row": [
                              {
                                "NAME": "EMPNO",
                                "COLTYPE": "CHAR",
                                "LENGTH": 6,
                                "SCALE": 0,
                                "CCSID": 1047,
                                "NULLS": "N"
                              },
                              {
                                "NAME": "FIRSTNME",
                                "COLTYPE": "VARCHAR",
                                "LENGTH": 12,
                                "SCALE": 0,
                                "CCSID": 1047,
                                "NULLS": "N"
                              },
                              {
                                "NAME": "MIDINIT",
                                "COLTYPE": "CHAR",
                                "LENGTH": 1,
                                "SCALE": 0,
                                "CCSID": 1047,
                                "NULLS": "N"
                              },
                              {
                                "NAME": "LASTNAME",
                                "COLTYPE": "VARCHAR",
                                "LENGTH": 15,
                                "SCALE": 0,
                                "CCSID": 1047,
                                "NULLS": "N"
                              },
                              {
                                "NAME": "WORKDEPT",
                                "COLTYPE": "CHAR",
                                "LENGTH": 3,
                                "SCALE": 0,
                                "CCSID": 1047,
                                "NULLS": "Y"
                              },
                              {
                                "NAME": "PHONENO",
                                "COLTYPE": "CHAR",
                                "LENGTH": 4,
                                "SCALE": 0,
                                "CCSID": 1047,
                                "NULLS": "Y"
                              },
                              {
                                "NAME": "HIREDATE",
                                "COLTYPE": "DATE",
                                "LENGTH": 4,
                                "SCALE": 0,
                                "CCSID": 0,
                                "NULLS": "Y"
                              },
                              {
                                "NAME": "JOB",
                                "COLTYPE": "CHAR",
                                "LENGTH": 8,
                                "SCALE": 0,
                                "CCSID": 1047,
                                "NULLS": "Y"
                              },
                              {
                                "NAME": "EDLEVEL",
                                "COLTYPE": "SMALLINT",
                                "LENGTH": 2,
                                "SCALE": 0,
                                "CCSID": 0,
                                "NULLS": "Y"
                              },
                              {
                                "NAME": "SEX",
                                "COLTYPE": "CHAR",
                                "LENGTH": 1,
                                "SCALE": 0,
                                "CCSID": 1047,
                                "NULLS": "Y"
                              },
                              {
                                "NAME": "BIRTHDATE",
                                "COLTYPE": "DATE",
                                "LENGTH": 4,
                                "SCALE": 0,
                                "CCSID": 0,
                                "NULLS": "Y"
                              },
                              {
                                "NAME": "SALARY",
                                "COLTYPE": "DECIMAL",
                                "LENGTH": 9,
                                "SCALE": 2,
                                "CCSID": 0,
                                "NULLS": "Y"
                              },
                              {
                                "NAME": "BONUS",
                                "COLTYPE": "DECIMAL",
                                "LENGTH": 9,
                                "SCALE": 2,
                                "CCSID": 0,
                                "NULLS": "Y"
                              },
                              {
                                "NAME": "COMM",
                                "COLTYPE": "DECIMAL",
                                "LENGTH": 9,
                                "SCALE": 2,
                                "CCSID": 0,
                                "NULLS": "Y"
                              }
                            ]
                          }
                        ],
                        "firstrow": 1,
                        "lastrow": 14,
                        "more": false,
                        "sqlcode": 0
                      }
                    }
  /sql:
    post:
      tags:
        - sql
      requestBody:
        description: >-
          The SQL service executes the SQL statement as specified in the JSON
          input request and returns the result in the JSON Response object. This
          service is used for performing Db2 updates and complex SQL statements.


          [Click
          here](https://www.mainframecloudplatform.com/runtime/doc/SQL-Request.html)
          for a detailed description of the request object fields.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sql_request'
            examples:
              Update Row Field:
                value: "{ \r\n  \"sql\" : \"UPDATE dsn81110.emp SET SALARY = 99999 WHERE EMPNO = '000010'\",\r\n  \"ssid\" : \"dbbg\",\r\n  \"logoff\" : 3\r\n}"
      responses:
        '200':
          description: >-
            Db2 sql service response object. [Click
            here](https://www.mainframecloudplatform.com/runtime/doc/SQL-Response.html)
            for a detailed description of the response object fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sql_response'
              examples:
                Update Row Field:
                  value: |-
                    {
                      "rc": 200,
                      "agentVersion": "V2.28.50.5",
                      "sqlresp": {
                        "sql": "UPDATE dsn81110.emp SET SALARY = 99999 WHERE EMPNO = '000010'",
                        "sqlcode": 0,
                        "rowsaffected": 1
                        }
                    }
  /pipe:
    post:
      tags:
        - pipe
      requestBody:
        description: >-
          The Pipe service queries Db2 and returns the content of tables as
          specified in the JSON input request array. The result, table data and
          column information, is returned in the JSON Response object.


          [Click
          here](https://www.mainframecloudplatform.com/runtime/doc/Pipe-Request.html)
          for a detailed description of the request object fields.


          [Here are some
          examples](https://www.mainframecloudplatform.com/rta1/examples/QDb2%20JSFIDDLE.html)
        content:
          application/json:
            schema:
              type: object
              properties:
                requests:
                  type: array
                  items:
                    $ref: '#/components/schemas/read_request'
            examples:
              Display Db2 Tables:
                value: "{\r\n    \"requests\": [\r\n        {\r\n            \"in\": \"DSN81110.EMP\",\r\n            \"filter\": {\r\n                \"sql\": {\r\n                    \"where\": \"SALARY > 30000\",\r\n                    \"order\": \"SALARY DESC\"\r\n                }\r\n            }\r\n        },\r\n        {\r\n            \"in\": \"DSN81110.PROJ\"\r\n        },\r\n        {\r\n            \"in\": \"DSN81110.PROJACT\",\r\n            \"filter\": {\r\n                \"sql\": {\r\n                    \"fetchfirst\": 3\r\n                }\r\n            }\r\n        },\r\n        {\r\n            \"in\": \"DSN81110.STATE\"\r\n        },\r\n        {\r\n            \"in\": \"DSN81110.STORE\"\r\n        },\r\n        {\r\n            \"in\": \"DSN81110.TIME\"\r\n        }\r\n    ]\r\n}"
      responses:
        '200':
          description: >-
            Db2 pipe service response object. [Click
            here](https://www.mainframecloudplatform.com/runtime/doc/Pipe-Response.html)
            for a detailed description of the response object fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipe_response'
components:
  schemas:
    read_request:
      type: object
      required:
        - in
      properties:
        in:
          description: The Db2 table name to read.
          type: string
          example: DSN81110.EMP
        ssid:
          description: >-
            The z/OS Db2 subsystem identifier you wish to interrogate. Note:
            This is not required if running on the Mainframe Cloud Sandbox.
          type: string
          example: DBBG
        filter:
          type: object
          properties:
            sql:
              type: object
              properties:
                where:
                  description: The SQL WHERE clause to filter the query.
                  type: string
                  example: SALARY > 30000
                order:
                  description: The SQL ORDER BY clause to sort the response.
                  type: string
                  example: SALARY DESC
                fetchfirst:
                  description: The SQL FETCH FIRST clause value used to limit the response.
                  type: integer
                  format: int32
                  example: 3
        out:
          type: object
          properties:
            target:
              type: object
              properties:
                folder:
                  description: >-
                    The target folder destination. If specified, the table data
                    is saved to the target folder as a CSV file; otherwise, the
                    data is returned in the JSON response object. 


                    Note: The Mainframe Cloud Sandbox endpoint only allows
                    target folder 'sandbox'.
                  type: string
    read_response:
      type: object
      properties:
        sqlresp:
          description: >-
            [Click
            here](https://www.mainframecloudplatform.com/runtime/doc/Read-Response.html)
            for a detailed description of the response object fields.
          type: object
          properties:
            table:
              type: string
              example: DSN81110.EMP
            target:
              description: Returned for requests where target is specified.
              type: object
              properties:
                folder:
                  type: string
                file:
                  type: string
            resultset:
              type: array
              items:
                type: object
                properties:
                  column:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        type:
                          type: string
                        nullable:
                          type: boolean
                        length:
                          type: integer
                          format: int32
                        scale:
                          type: integer
                          format: int32
                        ccsid:
                          type: integer
                          format: int32
                  row:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
            message:
              type: array
              items:
                type: string
    list_request:
      type: object
      properties:
        in:
          description: >-
            Optional for Db2 table column list (see examples for details). 
            Overrides filter.prefix request field.
          type: string
          example: DSN81110.EMP
        ssid:
          description: >-
            The z/OS Db2 subsystem identifier you wish to interrogate. Note:
            This is not required if running on the Mainframe Cloud Sandbox.
          type: string
          example: DBBG
        filter:
          description: Optional for Db2 table list (see 'Get Db2 Table List' example).
          type: object
          properties:
            prefix:
              description: >-
                The required syntax for the prefix field is as per the SQL WHERE
                clause, i.e. 'WHERE ... LIKE _prefix_'.
              type: string
              example: DSN8%.V%
    list_response:
      type: object
      properties:
        sqlresp:
          description: >-
            [Click
            here](https://www.mainframecloudplatform.com/runtime/doc/List-Response.html)
            for a detailed description of the response object fields.
          type: object
          properties:
            resultset:
              type: array
              items:
                type: object
                properties:
                  column:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        type:
                          type: string
                        nullable:
                          type: boolean
                        length:
                          type: integer
                          format: int32
                        ccsid:
                          type: integer
                          format: int32
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        CREATOR:
                          type: string
                        NAME:
                          type: string
                        TYPE:
                          type: string
                        COLTYPE:
                          type: string
                        LENGTH:
                          type: integer
                          format: int32
                        SCALE:
                          type: integer
                          format: int32
                        CCSID:
                          type: integer
                          format: int32
                        NULLS:
                          type: string
            message:
              type: array
              items:
                type: string
    sql_request:
      type: object
      required:
        - sql
      properties:
        sql:
          description: The SQL statement to be executed.
          type: string
        ssid:
          description: >-
            For Bundled SQL Requests - The z/OS Db2 subsystem identifier you
            wish to interrogate.
          type: string
        logoff:
          description: >-
            For Bundled SQL Requests.


            The standard Db2 operation requirement is to issue a Db2 connect,
            several SQL statements, and a Db2 disconnect one at a time. Each
            request is a separate web service request with each receiving its
            own response.


            The bundled SQL option entails combining a Db2 connect, a single SQL
            statement, a commit statement, and a Db2 disconnect into a single
            web service request. The overall benefit for the bundled request is
            reduced elapsed time and reduced bandwidth used.  The applicable
            parameters to invoke include sql, ssid, and logoff.


            Logoff value (0, 1, 2, or 3) indicates what to do after a bundled
            SQL request, depending on the resultant SQLCODE.


            For example, if logoff value is 3, the following conditions will
            occur:


            If SQLCODE is 0; Commit, Disconnect, Logoff.


            If SQLCODE is greater than 0; Commit, Disconnect, Logoff.


            If SQLCODE is less than 0; Rollback, Disconnect, Logoff.


            [Click
            here](https://www.mainframecloudplatform.com/runtime/doc/SQL-Request.html)
            for more information.
          type: integer
          example: 3
        session:
          type: string
    sql_response:
      type: object
      properties:
        sqlresp:
          description: >-
            [Click
            here](https://www.mainframecloudplatform.com/runtime/doc/SQL-Response.html)
            for a detailed description of the response object fields.
          type: object
          properties:
            sql:
              description: The SQL statement received on the request.
              type: string
            sqlcode:
              description: >-
                The sqlcode property contains the SQL return code. The code can
                be zero (0), negative or positive. 0 means that the execution
                was successful. Negative values indicate an unsuccessful
                execution with an error. A positive value means a successful
                execution with a warning. These (SQLCODEs) are detailed in IBM
                Db2 documentation.
              type: integer
            rowsaffected:
              description: The number of rows affected by an SQL UPDATE statement.
              type: integer
            message:
              description: Contains any messages pertaining to the Db2 SQL call.
              type: array
              items:
                type: string
    pipe_response:
      type: object
      properties:
        sqlresp:
          description: >-
            [Click
            here](https://www.mainframecloudplatform.com/runtime/doc/Pipe-Response.html)
            for a detailed description of the response object fields.
          type: array
          items:
            type: object
            properties:
              table:
                type: string
              target:
                description: Returned for requests where target is specified.
                type: object
                properties:
                  folder:
                    type: string
                  file:
                    type: string
              resultset:
                type: array
                items:
                  type: object
                  properties:
                    column:
                      type: array
                      items:
                        type: object
                        properties:
                          title:
                            type: string
                          type:
                            type: string
                          nullable:
                            type: boolean
                          length:
                            type: integer
                            format: int32
                          scale:
                            type: integer
                            format: int32
                          ccsid:
                            type: integer
                            format: int32
                    row:
                      type: array
                      items:
                        type: array
                        items:
                          type: string
        message:
          description: >-
            Contains any error or informational messages pertaining to the
            general request. For example, messages from security verification or
            session management. This includes messages pertaining to the Db2
            table read calls specified in the Pipe Service input request array.
          type: array
          items:
            type: string