openapi: 3.0.0
# Added by API Auto Mocking Plugin
servers:
  - description: SwaggerHub API Auto Mocking
    url: http://ratemaster.stageserver.xyz/api/v2
  - description: SwaggerHub API Auto Mocking
    url: http://192.168.1.19/RateMaster/api/v2
    
info:
  description: API for users app.
  version: "v2"
  title: Rate Master
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
tags:
  - name: User
    description: User related API calls.
  - name: Home
    description: dashboard related API calls.
  - name: Business
    description: business related API calls.
  - name: Categories
    description: category related API calls.
paths:
  # User section
  /login:
     post:
      tags:
      - User
      summary: Login user
      description: To authorise user to access app.
      operationId: login
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true  
      requestBody:
        description: Send credentials entered by user.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                login_id:
                  type: string
                  example: "abc@gmail.com" # Email / Phone (In case of social login & email login send email in login_id)
                password:
                  type: string
                  example: "asdfasdf"
                social_id:
                  type: string
                  example: "45137853210548"
      responses:
        200:
          description: Login successfully.
          content:
            application/json:
              schema:
                type: object
                example: 
                  message: "User logged in successfully"
                  data: {
                    "id": "1",
                    "token": "dfkjlkbgdnmldfbhkd",
                  }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error
  /logout:
     delete:
      tags:
      - User
      summary: Logot user
      description: To authorise user to access app.
      operationId: logout
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      responses:
        200:
          description: Logout successfully.
          content:
            application/json:
              schema:
                type: object
                example: 
                  message: "Logout successfully"
                  data: {}
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error
  /register:
    post:
      tags: 
      - User
      summary: Register user
      description: To fill up the user details.
      operationId: registerUser
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true  
      requestBody:
        description: Send details entered by user.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Yagnik Suthar"
                email:
                  description: Optional
                  type: string
                  example: "yagnik.bito1@gmail.com"
                phone_number:
                  type: string
                  example: "1234567890"
                social_id:
                  description: Optional
                  type: string
                  example: "asdfwer23asdfsdf"
                login_with:
                  description: Optional
                  type: string
                  example: "P - Phone / F - Facebook / G - Google / E - Email"
                password:
                  description: Optional
                  type: string
                  example: ""
                dialing_code:
                  type: string
                  example: "+1"
                referral_code:
                  type: string
                  example: "RM100"
                verify_with:
                  type: number
                  example: "1 - Phone / 2 - Email"
              required:
                - phone_number
                - first_name
                - last_name
                - password
                - login_type
                - verify_with
      responses:
        200:
          description: User registered successfully.
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "User registered successfully"
                  data: {
                    "id": "1",
                    "token": "sfkjglfsngkjdfh",
                  }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error
  /verify_otp:
    post:
      tags: 
      - User
      summary: Verify OTP
      description: To check the entered otp is valid or not. -> https://zpl.io/VxLyB0g
      operationId: verifyOTP
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      requestBody:
        description: Send mobile number and OTP entered by user
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dialing_code:
                  type: string
                  example: "+91"
                phone_number:
                  type: string
                  example: "64321321"
                email:
                  type: string
                  example: "abc@gmail.com"
                verify_with:
                  type: number
                  example: "1 - Phone / 2 - Email"
                otp:
                  type: string
                  example: "1234"
      responses:
        200:
          description: OTP verification status
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 200
                  status: success
                  message: "OTP resent successfully"
                  data: {}
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error
  /resend_otp:
    post:
      tags: 
      - User
      summary: To generate new OTP and send the same to user"s mobile number. 
      description: To generate new OTP and send the same to user"s mobile number.
      operationId: resendOTP
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        description: Send mobile number and OTP entered by user
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  example: "1/0"
      responses:
        200:
          description: OTP verification status
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 200
                  status: success
                  message: "OTP send successfully"
                  data: {}
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error
  /update_profile:
    post:
      tags: 
      - User
      summary: update profile
      description: To update the user details.
      operationId: update_profile
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        description: Send details entered by user.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                photo:
                  type: string
                  example: "binary"
                remove_photo:
                  type: string
                  example: "1"
                name:
                  type: string
                  example: "Yagnik"
                gender:
                  type: number
                  example: "1 - Male / 2 - Female"
                email:
                  type: string
                  example: "yagnik@gmail.com"
                address:
                  type: string
                  example: "sflsfyskjfhsvbsdbgfisubfkjsbuyh"
                social_links:
                  type: string
                  example: '[{"id":"1","url":"www.fb.com"},{"id":"3","url":"www.tw.com"}]'
              required:
                - name
                - email
      responses:
        200:
          description: profile update successfully.
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "profile update successfully"
                  data: {
                    "id":"1",
                    "token":"sfhgkfjsdhgufk",
                  }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error
  /change_password:
    post:
      tags: 
      - User
      summary: Change Password
      description: To fill up the user new password.
      operationId: change_password
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        description: Send details entered by user.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                old_password:
                  type: string
                  example: "123456"
                new_password:
                  type: string
                  example: "123456789"
                is_forgot:
                  type: string
                  example: "0/1"
              required:
                - old_password
                - new_password
      responses:
        200:
          description: Password change successfully.
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Password change successfully"
                  data: {}
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error
  /forgot_password:
    post:
      tags: 
      - User
      summary: Change Password
      description: To fill up the user new password.
      operationId: forgot_password
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        description: Send details entered by user.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                login_id:
                  type: string
                  example: "abc@gmail.com/123456789"
              required:
                - email
      responses:
        200:
          description: Password change successfully.
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Reset link on your email successfully"
                  data: {}
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error
  /change_language_country:
    post:
      tags: 
      - User
      summary: Change Language/County
      description: To fill up the user country/language.
      operationId: change_language_country
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        description: Send details entered by user.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                country_id:
                  type: string
                  example: 12
                language:
                  type: string
                  example: "english"

              required:
                - country_id
                - language_type
      responses:
        200:
          description: changes done successfully.
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "changes done successfully"
                  data: { }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error  
  /contact_us:
    post:
      tags: 
      - User
      summary: Contact us
      description: To fill up the user details and any feedback.
      operationId: contact_us
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        description: Send details entered by user.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Yagnik Suthar"
                email:
                  description: Optional
                  type: string
                  example: "yagnik.bito1@gmail.com"
                dialing_code:
                  type: string
                  example: "+91"
                phone_number:
                  type: string
                  example: "1234567890"
                subject:
                  type: string
                  example: "dfgh"
                message:
                  type: string
                  example: "dshdbfjhsafgh"
                
                
              required:
                - email
                - name
                - phone_number
      responses:
        200:
          description: feedback sent successfully.
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "feedback sent successfully"
                  data: { }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error
  /get_user_details:
    get:
      tags:
      - User
      summary: get all user details logged in.
      description: ""
      operationId: get_user_details
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      responses:
        200:
          description: Get all the details of users.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: data found.
                  data:
                    type: object
                    example: {
                      "photo" : "abc.jpeg",
                      "name" : "abc",
                      "email" : "abc@gmail.com",
                      "reward_points" : "999",
                      "badge_type" : 0, #0 bronze/1 silver/2 gold/3 expert
                    }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error      
  /upgrade_account:
    post:
      tags: 
      - User
      summary: update account
      description: To upgrade the user account.
      operationId: upgrade_account
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        description: Send details entered by user.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                  example: "10-12-2019"
                end_date:
                  type: string
                  example: "10-12-2020"
      responses:
        200:
          description: account upgarde successfully.
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "account upgarde successfully"
                  data: { user: { }
                  }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error        

  # Home        
          
  /get_dashboard_details:
    get:
      tags: 
      - Home
      summary: get all the popular offers,businesses and categories. 
      description: get all the popular offers,businesses and categories. 
      operationId: get_dashboard_details
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      responses:
        200:
          description: data found
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "data found successfully"
                  data: {
                    "feature_ads": [
                       {
                        "ad_id": "1",
                        "campaign_name": "test",
                        "image_web": "https://image.png",
                        "image_mobile": "https://image.png",
                        "link_to": "0",
                        "business_id": "1",
                        "ad_url": "https://url.xyz/business/1",
                        "type":"1"
                      },
                    ],
                    "dashboard_ad": {
                        "ad_id": "1",
                        "campaign_name": "test",
                        "image_web": "https://image.png",
                        "image_mobile": "https://image.png",
                        "link_to": "0",
                        "business_id": "1",
                        "ad_url": "https://url.xyz/business/1",
                        "type":"1"
                    },
                    "popular_listing" : [
                      {
                        "id": "16",
                        "name": "Speed Zone",
                        "cover_photo": "http:\/\/ratemaster.stageserver.xyz\/public\/uploads\/business\/1580211666-_kankaria_ahmedabad_motorcycle_dealers_15ba5x3.jpg",
                        "profile_photo": "http:\/\/ratemaster.stageserver.xyz\/public\/uploads\/business\/1580211666-_kankaria_ahmedabad_motorcycle_dealers_2lz5z72.jpg",
                        "category_names": [
                          "Travels & Tourism"
                        ],
                        "address": "Speed Zone, Gordhannagar Society, Maninagar, Ahmedabad, Gujarat, India",
                        "latitude": "23.0023111",
                        "longitude": "72.5935614",
                        "email": "speedzone@gmail.com",
                        "dialing_code": "+973",
                        "phone_number": "9152602806",
                        "website": "",
                        "description": "",
                        "is_favourite": "0",
                        "avg_rate": "0.0",
                        "distance": "238.30",
                        "total_reviews": "0"
                      }
                    ],
                    "popular_categories" : [
                      {
                        "id": "7",
                        "name": "Colds & Drinks",
                        "count": "0",
                        "icon": "http:\/\/ratemaster.stageserver.xyz\/public\/uploads\/category\/1581072281-Category_icon.png"
                      }
                    ],
                  "top_rated_listing" : [
                      {
                        "id": "16",
                        "name": "Speed Zone",
                        "cover_photo": "http:\/\/ratemaster.stageserver.xyz\/public\/uploads\/business\/1580211666-_kankaria_ahmedabad_motorcycle_dealers_15ba5x3.jpg",
                        "profile_photo": "http:\/\/ratemaster.stageserver.xyz\/public\/uploads\/business\/1580211666-_kankaria_ahmedabad_motorcycle_dealers_2lz5z72.jpg",
                        "category_names": [
                          "Travels & Tourism"
                        ],
                        "address": "Speed Zone, Gordhannagar Society, Maninagar, Ahmedabad, Gujarat, India",
                        "latitude": "23.0023111",
                        "longitude": "72.5935614",
                        "email": "speedzone@gmail.com",
                        "dialing_code": "+973",
                        "phone_number": "9152602806",
                        "website": "",
                        "description": "",
                        "is_favourite": "0",
                        "avg_rate": "0.0",
                        "distance": "238.30",
                        "total_reviews": "0"
                      }
                    ],
                  }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error
  /search_data:
    post:
      tags: 
      - Home
      summary: add new business list. 
      description:  add new business list. 
      operationId: search_data
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                search_text:
                  type: string
                  example: "xyz"
                latitude:
                  type: string
                  example: "23.1498484"
                longitude:
                  type: string
                  example: "72.64546465"
      responses:
        200:
          description: data found
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 200
                  status: success
                  message: "Data found successfully"
                  data:  {
                    "businesses" : [
                      {
                        "id": "16",
                        "name": "Speed Zone",
                        "cover_photo": "http:\/\/ratemaster.stageserver.xyz\/public\/uploads\/business\/1580211666-_kankaria_ahmedabad_motorcycle_dealers_15ba5x3.jpg",
                        "profile_photo": "http:\/\/ratemaster.stageserver.xyz\/public\/uploads\/business\/1580211666-_kankaria_ahmedabad_motorcycle_dealers_2lz5z72.jpg",
                        "category_names": [
                          "Travels & Tourism"
                        ],
                        "address": "Speed Zone, Gordhannagar Society, Maninagar, Ahmedabad, Gujarat, India",
                        "latitude": "23.0023111",
                        "longitude": "72.5935614",
                        "email": "speedzone@gmail.com",
                        "dialing_code": "+973",
                        "phone_number": "9152602806",
                        "website": "",
                        "description": "",
                        "is_favourite": "0",
                        "avg_rate": "0.0",
                        "distance": "238.30",
                        "total_reviews": "0"
                      }
                    ],
                    "categories" : [
                      {
                        "id": "7",
                        "name": "Colds & Drinks",
                        "count": "0",
                        "icon": "http:\/\/ratemaster.stageserver.xyz\/public\/uploads\/category\/1581072281-Category_icon.png"
                      }
                    ]
                  }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error                        
          
  # Business          
          
  /create_business:
    post:
      tags: 
      - Business
      summary: add new business list. 
      description:  add new business list. 
      operationId: create_business
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "xyz"
                category_id:
                  type: string
                  example: 1
                lat_long:
                  type: string
                  example: "12.1231231,-123.121313"
                address_line1:
                  type: string
                  example: "jsadbjhfbsdf"
                address_line2:
                  type: string
                  example: "jsadbjhfbsdf"
                business_image:
                  type: string
                  format: binary
                phone_number:
                  type: string
                  example: "1234567890"
                website:
                  type: string
                  example: "www.google.com"
      responses:
        200:
          description: data found
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 200
                  status: success
                  message: "business added successfully"
                  data: { }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error                        
  /get_business_list:
    post:
      tags: 
      - Business
      summary: get all business list. 
      description:  get all business list. 
      operationId: get_business_list
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category_id:
                  type: string
                  example: "1"
                page:
                  type: string
                  example: "1"
                limit:
                  type: string
                  example: "10"
                search_text:
                  type: string
                  example: "abc"
      responses:
        200:
          description: data found
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "data found successfully"
                  data: {
                    "current_page": "2",
                    "next_page": "3",
                    "total_rows": "10",
                    "businesses" : [
                      {
                        "id" : "1",
                        "photo" : "abc.png",
                        "business_name" : "XYZ",
                        "category_name" : "Resturant",
                        "date" : "20-09-2019",
                        "address": {
                          "address_line": "Corner Brook",
                          "city": "Calgary",
                          "states": "Labrador",
                          "country": "Canada",
                          "zipcode": "382841"
                        },
                      }
                    ]
                  }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error        
  /get_nearby_business_list:
    post:
      tags: 
      - Business
      summary: get all business list which is near by location. 
      description:  get all business list which is near by location. 
      operationId: get_nearby_business_list
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category_id:
                  type: string
                  example: "1"
                latitude:
                  type: string
                  example: "12.056541"
                longitude:
                  type: string
                  example: "20.245131"
       
      responses:
        200:
          description: data found
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "data found successfully"
                  data: {
                    "businesses" : [
                      {
                        "id" : "1",
                        "photo" : "abc.png",
                        "business_name" : "XYZ",
                        "category_name" : "Resturant",
                        "date" : "20-09-2019",
                        "address": {
                          "address_line": "Corner Brook",
                          "city": "Calgary",
                          "states": "Labrador",
                          "country": "Canada",
                          "zipcode": "382841"
                        },
                      }
                    ]
                  }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error        
  /get_business_details:
    post:
      tags: 
      - Business
      summary: get all the details of business. 
      description: get all the details of business.
      operationId: get_business_profile
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        description: Send business id .
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_id:
                  type: string
                  example: 1
       
      responses:
        200:
          description: data found
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 200
                  status: success
                  message: "data found successfully"
                  data: {
                        "business_id": "123",
                        "business_name": "Andtonio Ramirez",
                        "profession": "Barber",
                        "description": "Adrianna Nance",
                        "professional_name": "Natural Boldness",
                        "speciality": "Martial Vivot Apprentice",
                        
                        "image_url": "https://image_url.png",
                        "cover_url": "https://image_url.png",
                        "rate_and_reviews": [
                            {
                              "name": "5 stars",
                              "rate_in_percentage": "45",
                              "ratings": "204"
                            }
                          ],
                          "ratings": {
                            "average_ratings": "4.5",
                            "total_ratings": "2048",
                            "total_user": "2000",
                            "total_guest": "48"
                          },
                        "lat_long": "23.1231321546,72.4654651311",
                        "venue_description": "Description for venue",
                        "address": "Address",
                        "phone_number": "+3744105588",
                        "is_favourite": "1",
                        "social_links":[
                        {
                          "id":"1",
                          "name":"Facebook",
                          "icon":"https://facebook.com/jawed_habib",
                          "url":"https://facebook.com/jawed_habib"
                        },
                        {
                          "id":"2",
                          "name":"Twitter",
                          "icon":"https://facebook.com/jawed_habib",
                          "url":"https://facebook.com/jawed_habib"
                        },
                        {
                          "id":"3",
                          "name":"Instagram",
                          "icon":"https://facebook.com/jawed_habib",
                          "url":"https://facebook.com/jawed_habib"
                        }
                        ],
                        "business_hours": [
                        {
                          "day_name": "Sunday",
                          "hours": [
                          {
                            "open_time": "12:00 PM",
                            "close_time": "10:00 PM"
                          }
                          ]
                        }
                        ],
                        "photos": [
                        {
                          "photo_id": 1,
                          "photo_url": "https://cover_url.png"
                        }
                        ],
                        "branches": [
                        {
                          "branch_id": "1",
                          "name": "Pavan Khair",
                          "address": "address",
                          "latitude": "12.313",
                          "longitude": "12.313",
                        }
                        ]
                        }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error
  /get_business_review:
    post:
      tags: 
      - Business
      summary: get reviews of business. 
      description: get reviews of business.
      operationId: get_business_review
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        description: Send business id .
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  example: 1
                business_id:
                  type: string
                  example: 1
       
      responses:
        200:
          description: data found
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 200
                  status: success
                  message: "data found successfully"
                  data: {
                          "total_rows": 15,
                          "is_booked": 1,
                          "given_review": {
                            "ratings": "4",
                            "comments": "50",
                            "total_reviews" : "2048",
                            "ghost_reviews" : "48",
                            "registed_reviews" : "2000"
                          },
                          "ratings": {
                            "average_ratings": "4.5",
                            "total_ratings": "2",
                            "total_user": "2",
                            "total_guest": "0"
                          },
                          "rate_and_reviews":[
                              {
                              "name":"1 Star",
                              "ratings":"0",
                              "rate_in_percentage":"0.00"
                              },
                              {
                              "name":"2 Star",
                              "ratings":"0",
                              "rate_in_percentage":"0.00"
                              },
                              {
                              "name":"3 Star",
                              "ratings":"0",
                              "rate_in_percentage":"0.00"
                              },
                              {
                              "name":"4 Star",
                              "ratings":"1",
                              "rate_in_percentage":"50.00"
                              },
                              {
                              "name":"5 Star",
                              "ratings":"1",
                              "rate_in_percentage":"50.00"
                              }
                          ],
                          "reviews": [
                            {
                              "review_id": "123",
                              "name": "Jack wilder",
                              "date": "28 Jul 2019",
                              "comments": "Very nice services",
                              "ratings": "4.5",
                              "profile_pic": "https://image_url.png",
                              "badge_type" : 0, #0 bronze/1 silver/2 gold/3 expert
                              "tag_review_type" : 0 # 0 sad,1 happy
                            }
                          ],
                          "photos": [
                            {
                              "photo_id": 1,
                              "photo_url": "https://cover_url.png"
                            }],
                        }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error
  /get_favorite_list:
    post:
      tags:
      - Business
      summary: get favorite list for logged user and guest user.
      description: ""
      operationId: get_favorite_list
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true 
      requestBody:
        description: Send business id .
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: string
                  example: "1"
                limit:
                  type: string
                  example: "10"
      responses:
        200:
          description: Get list of favorite.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: 200
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Favorite list found.
                  data:
                    type: object
                    example:
                      favorites: [{
                        "profile_img_path" : "abc.png",
                        "business_id" : 1,
                        "business_name" : "XYZ",
                        "category_name" : "Resturant",
                        "is_favorite" : 1,
                        "address": {
                          "address_line": "Corner Brook",
                          "city": "Calgary",
                          "states": "Labrador",
                          "country": "Canada",
                          "zipcode": 382841
                        },
                        "ratings": "4.5"
                      }]
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error      
  /add_remove_favourite:
    post:
      tags:  
      - Business
      summary: Add and remove favourites
      description: Add and remove favourites
      operationId: add_remove_favourites
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: 'en'
        description: Pass the language that is selected in app
        required: true
      - name: timezone
        in: header
        schema:
          type: string 
          default: 'Asia/Kolkata'
        description: Pass the timezone
        required: true
      - name: platform
        in: header
        schema:
          type: string 
          default: 'iOS'
        description: Pass the os name (ios/android)
        required: true
      - name: token
        in: header
        schema:
          type: string 
        description: Pass token
        required: true 
      requestBody:
        description: Add and remove favourites 
        content:
          application/json:
            schema:
              type: object
              properties: 
                business_id:
                  type: string
                  example: '1'
                is_favourite:
                  type: string
                  example: '0/1'
              required:
              - business_id
              - is_favourite
      responses:
        200:
          description: To create a new password
          content:
            application/json:
              schema:
                type: object
                properties: 
                  message:
                    type: string
                    example: "Add/Remove favourite successfully"
                  data:
                    type: object
        400:
          $ref: '#/components/responses/BadInput'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          description: Internal server error        
  # Category
          
  /get_category_list:
    post:
      tags: 
      - Categories
      summary: get all category. 
      description:  get category. 
      operationId: get_category_list
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: string
                  example: "1"
                limit:
                  type: string
                  example: "10"
      responses:
        200:
          description: data found
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "data found successfully"
                  data: {
                    "current_page": "2",
                    "next_page": "3",
                    "total_rows": "10",
                    "banner_ad": {
                      "ad_id": "1",
                      "campaign_name": "test",
                      "image_web": "https://image.png",
                      "image_mobile": "https://image.png",
                      "link_to": "0",
                      "business_id": "1",
                      "ad_url": "https://url.xyz/business/1",
                      "type": "1"
                    },
                    "categories" : [
                      {
                        "id" : "2",
                        "name" : "Resturant",
                        "count" : "25",
                        "icon" : "abc.png",
                      }
                    ]
                  }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error
  /get_category_details:
    post:
      tags: 
      - Categories
      summary: get category details. 
      description:  get category details. 
      operationId: get_category_details
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category_id:
                  type: string
                  example: "1"
      responses:
        200:
          description: data found
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "data found successfully"
                  data: {
                    "category_details" : {
                        "id" : "2",
                        "name" : "Resturant",
                        "icon" : "abc.png",
                    }
                  }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error
          
  # Rate and review section
          
  /get_rate_review_list:
    post:
      tags: 
      - Business
      summary: get all rate and reviews list. 
      description:  get all rate and reviews list.
      operationId: get_rate_review_list
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_id:
                  type: string
                  example: "1"
                page:
                  type: string
                  example: "1"
                limit:
                  type: string
                  example: "10"
      
      responses:
        200:
          description: Get list of rate and reviews.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: 200
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: rate and review list found.
                  data:
                    type: object
                    example:
                      {
                          "current_page": "1",
                          "next_page": "2",
                          "total_rows": "15",
                          "reviews": [
                            {
                              "id": "123",
                              "name": "Jack wilder",
                              "date": "06-01-2019",
                              "comments": "Very nice services",
                              "average_rate" : "2.5",
                              "is_anonymous" : "0/1",
                              "profile_pic": "https://image_url.png",
                              "photos": ["https://image_url.png","https://image_url.png"],
                              "is_business_replayed" : "0/1",
                              "business_replay" : {
                                        "business_name": "ABC",
                                        "business_comment": "ABC",
                                        "business_comment_date": "06-01-2019"  
                                      }
                              
                            }
                          ]
                        }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error      
  /add_rate_review:
    post:
      tags:
      - Rate & Review List
      summary: get rate and review list for user logged in.
      description: ""
      operationId: add_rate_review
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        description: Send details entered by user.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                photo:
                  type: string
                  example: "binary"
                business_id:
                  type: string
                  example: "1"
                is_anonymous:
                  type: string
                  example: "0/1"
                average_rate:
                  type: string
                  example: "4"
                comment:
                  type: string
                  example: "sjdgfjshfj"
              required:
                - business_id
                - is_anonymous
                - average_rate
      responses:
        200:
          description: review added successfully.
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "profile update successfully"
                  data: {
                    "id":"1",
                    "token":"sfhgkfjsdhgufk",
                  }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error    
  /get_rate_review_details:
    post:
      tags: 
      - Business
      summary: get rate and reviews details. 
      description: get rate and reviews details. 
      operationId: get_rate_review_details
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                review_id:
                  type: string
                  example: "1"

      responses:
        200:
          description: Get list of rate and reviews.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: 200
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: rate and review list found.
                  data:
                    type: object
                    example:
                      {
                          id : "12",
                          is_anonymous : "0/1",
                          average_rate : "4",
                          comment : "fsdfsdf",
                          photos : ["fsdfsdf"],
                      }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error      
  /report_review:
    post:
      tags:
      - Rate & Review List
      summary: report review.
      description: ""
      operationId: report_review
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        description: Send details entered by user.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_id:
                  type: string
                  example: "12"
                review_id:
                  type: string
                  example: "12"
                message:
                  type: string
                  example: "need to change"
                dialing_code:
                  type: string
                  example: "+973"
                phone_number:
                  type: string
                  example: "879754612"
                email:
                  type: string
                  example: "email@gmail.com"

              required:
                - message
                - phone_number
                - email

      responses:
        200:
          description: Get success response for report review.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: 200
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: review reported suceessfully.
                  data: { }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error      
          
  # Notification section
          
  /get_notifications:
    post:
      tags:
      - Notification List
      summary: get all notifications for user logged in.
      description: ""
      operationId: get_notification_list
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: string
                  example: 1
                limit:
                  type: string
                  example: 15
      responses:
        200:
          description: Get list of notifications.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: 200
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: notification list found.
                  data:
                    type: object
                    example:
                      notifications: [{
                        "id":1,
                        "title" : "XYZ",
                        "description" : "shdvfjhsdhfvhs",
                        "image" : "abc.png",
                        "date" : "20-10-2019",
                        "time" : "12:00 PM"
                      }]
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error      
  /update_notification:
    post:
      tags:
      - Notification List
      summary: get all notifications for user logged in.
      description: ""
      operationId: update_notification_list
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                notification_id:
                  type: string
                  example: 12
                clear_all:
                  type: string
                  example:  0 - false ,1 - true                  
                status:
                  type: string
                  example:  0 - read ,1 - delete
                  
      responses:
        200:
          description: Get updated list of notifications.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: 200
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: notification delete successfully.
                  data: { }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error      
          
  # E-wallet section
          
  /get_points:
    post:
      tags: 
      - E-Wallet
      summary: get all e-wallet history. 
      description:  get all reward list. 
      operationId: get_points
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: string
                  example: 1
                limit:
                  type: string
                  example: 10
                filter_by:
                  type: string
                  example: "0"
                start_date:
                  type: string
                  example: "12-12-2019"
                end_date:
                  type: string
                  example: "12-12-2019"
       
      responses:
        200:
          description: data found
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 200
                  status: success
                  message: "data found successfully"
                  data: {
                    "total_rows": 10,
                    "points_details" : {
                      "balance_points" : "586",
                      "expiring_points" : "114",
                      "expiring_days" : "30"
                    },
                    "rewards" : [
                      {
                        "point" : "+5",
                        "id" : 1,
                        "reason" : "for review",
                        "business_Name" : "Pizaa Hut",
                        "date" : "20-09-2019"
                      }
                    ]
                  }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error        
  /get_redeem_trophies:
    get:
      tags: 
      - E-Wallet
      summary: get all e-wallet history. 
      description:  get all reward thropy list. 
      operationId: get_redeem_trophies 
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true

      responses:
        200:
          description: data found
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 200
                  status: success
                  message: "data found successfully"
                  data: {
                    "my_trophy" : [{"id":"1","type":"gshdhgsd","image":"https://image.png"}],
                    "points_details" : {
                      "balance_points" : "586",
                      "expiring_points" : "114",
                      "expiring_days" : "30"
                    },
                    "trophies" : [
                      {
                        "point" : "10",
                        "id" : 1,
                        "title" : "Expert Reviewer",
                        "image":"https://image.png",
                        "background":"https://background.png"
                      }
                    ]
                  }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error        
  /redeem_trophy:
    post:
      tags: 
      - E-Wallet
      summary: get all giftcards history. 
      description: get all giftcards history. 
      operationId: redeem_trophy 
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                trophy_id:
                  type: string
                  example: 1
      responses:
        200:
          description: data found
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 200
                  status: success
                  message: "Trophy redeemed successfully"
                  data: {}
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error        
          
  /get_gift_cards:
    post:
      tags: 
      - E-Wallet
      summary: get all giftcards history. 
      description: get all giftcards history. 
      operationId: get_gift_cards 
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: string
                  example: 1
                limit:
                  type: string
                  example: 10
                is_redeemed:
                  type: string
                  example: "0/1"
      responses:
        200:
          description: data found
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 200
                  status: success
                  message: "data found successfully"
                  data: {
                    "points_details" : {
                      "balance_points" : "586",
                      "expiring_points" : "114",
                      "expiring_days" : "30"
                    },
                    "giftcards" : [
                      {
                        "id" : 1,
                        "title" : "card 1",
                        "point" : "10",
                        "description" : "Good Gift card for you",
                        "validity" : "10",
                        "image" : "https://image.png"
                      }
                    ]
                  }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error        
  /redeem_gift_cards:
    post:
      tags: 
      - E-Wallet
      summary: get all giftcards history. 
      description: get all giftcards history. 
      operationId: redeem_gift_cards 
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                card_id:
                  type: string
                  example: 1
      responses:
        200:
          description: data found
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 200
                  status: success
                  message: "Gift card redeemed successfully"
                  data: {}
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error        
  /get_raffle_tickets:
    post:
      tags: 
      - E-Wallet
      summary: get all reffle tickets history. 
      description: get all reffle tickets history. 
      operationId: get_raffle_tickets 
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_my_tickets:
                  type: string
                  example: "0/1"
                page:
                  type: string
                  example: 1
                limit:
                  type: string
                  example: 10
      responses:
        200:
          description: data found
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 200
                  status: success
                  message: "data found successfully"
                  data: {
                    "points_details" : {
                      "balance_points" : "586",
                      "expiring_points" : "114",
                      "expiring_days" : "30"
                    },
                    "tickets" : [
                      {
                        "id" : 1,
                        "title" : "ticket 1",
                        "point" : "10",
                        "draw_date" : "25-12-2018",
                        "winner_name" : "John Bell",
                        "image":"https://image.png"
                      }
                    ]
                  }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error        
  /redeem_raffle_tickits:
    post:
      tags: 
      - E-Wallet
      summary: get all giftcards history. 
      description: get all giftcards history. 
      operationId: redeem_raffle_tickits 
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ticket_id:
                  type: string
                  example: 1
      responses:
        200:
          description: data found
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 200
                  status: success
                  message: "Raffle tickit redeemed successfully"
                  data: {}
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error        
          
  # Advertisment section
  /request_for_ad:
    post:
      tags: 
      - Advertisement
      summary: Request for advertisement
      description: To fill up the user details.
      operationId: request_for_ad
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        description: Send details entered by user.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                ad_type_id:
                  type: string
                  example: "10"
                ad_package_id:
                  type: string
                  example: "4"
                start_date:
                  type: string
                  example: "2020-04-12"
                campaign_name:
                  type: string
                  example: "Test"
                image_web:
                  type: string
                  example: ["binary"]
                image_mobile:
                  type: string
                  example: ["binary"]
                link_to:
                  type: string
                  example: "0-no,1-yes"
                business_id:
                  type: string
                  example: "12"
                ad_url:
                  type: string
                  example: "https://www.rm.xyz/d"
              required:
                - ad_type_id
                - ad_package_id
                - start_date
                - campaign_name
                - image_web
                - image_mobile
                - link_to
      responses:
        200:
          description: Request done successfully.
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Request done successfully."
                  data: { }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error
  /manage_ad_stats:
    post:
      tags: 
      - Advertisement
      summary: Request for advertisement
      description: To fill up the user details.
      operationId: manage_ad_stats
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        description: Send details entered by user.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                stat_type:
                  type: string
                  example: "0-no/1-yes"
                ad_id:
                  type: string
                  example: "10"
                  
      responses:
        200:
          description: Request done successfully.
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Request done successfully."
                  data: { }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error
          
  # Feedback section
  /get_feedback_questions:
    get:
      tags: 
      - Feedback
      summary: Request for feedback question
      description: To fill up the feedback details.
      operationId: get_feedback_questions
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      responses:
        200:
          description: Request done successfully.
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Request done successfully."
                  data: { reasons: { "id" : 1 , "name" : "what you want?"}}
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error
  /submit_feedback:
    post:
      tags: 
      - Feedback
      summary: submit feedback
      description: To fill up the feedback details.
      operationId: submit_feedback
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      - name: token
        in: header
        schema:
          type: string
          default: "asdf123324sadf1234"
        description: Pass the token for the current session
        required: true
      requestBody:
        description: Send details entered by user.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  example: 12
                reason_id:
                  type: string
                  example: 1
                message:
                  type: string
                  example: "jabdjabhfjkb"
                image:
                  type: string
                  example: "binary"
                
              required:
                - que_id
                - message
                
      responses:
        200:
          description: Request done successfully.
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Request done successfully."
                  data: { }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error
          
  # Other        
  /get_country_list:
    get:
      tags:
      - Other
      summary: get all country.
      description: ""
      operationId: get_country
      parameters: 
      - name: lancode
        in: header
        schema:
          type: string
          default: "en"
        description: Pass the language that is selected in app
      - name: platform
        in: header
        schema:
          type: string
          default: "iOS"
        description: Pass the OS that phone has
        required: true
      - name: timezone
        in: header
        schema:
          type: string
          default: "abc"
        description: pass the timezone which is decided
        required: true
      responses:
        200:
          description: Get all the country for user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: data found.
                  data:
                    type: object
                    example: {
                      "countries" : [
                        {
                          "id" : "1",
                          "country_name" : "India",
                          "country_code" : "IND",
                          "dialing_code" : "+91",
                          "icon" : "abc.jpg",
                        }
                      ]
                    }
        400:
          $ref: "#/components/responses/BadInput"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          description: Internal server error      
  /get_master_data:
    get:
      tags:
      - Other
      summary: Get master data.
      description: Get master data.
[...]
