---
openapi: "3.0.0"
info:
  title: "MPO API"
  description: "<h2>Status Codes</h2><ul><li><b>200-299:</b> Indicates a successfull\
    \ response.</li><li><b>400-599:</b> Indicates an error response, the response\
    \ type is com.mpobjects.core.api.ApiError.</li></ul><h2>Formatting</h2><ul><li><b>Request\
    \ bodies:</b> processing is controlled by the Content-Type header (mostly: application/xml\
    \ and application/json).</li><li><b>Response bodies:</b> processing is controlled\
    \ by the Accept header (mostly: application/xml and application/json), alternatively\
    \ appending .xml and json also controls the output.</li><li><b>Encoding:</b>All\
    \ request and response bodies are UTF-8 encoded.</li><li><b>Dates:</b> are formatted\
    \ using ISO_8601.</li></ul><h2>Custom properties</h2><ul><li><b>x-mpo-privilege:\
    \ </b>This properties describes the privilege required to execute this request.\
    \ The user needs to have a role with this privilege.</li><li><b>x-mpo-request-type:\
    \ </b>The type which needs to be send in the body for this request. The JSON type\
    \ schema can be fetched via: [/api/core/v1/system/openapi/type?type=type](/api/core/v1/system/openapi/type?type=type)</li><li><b>x-mpo-response-type:\
    \ </b>The type which can be retunred in the body for the response. The JSON type\
    \ schema can be fetched via: [/api/core/v1/system/openapi/type?type=type](/api/core/v1/system/openapi/type?type=type)</li><li><b>x-mpo-paging-required:\
    \ </b>Indicates if the API returns a paged response, if so the result set is limited\
    \ to the 'page-size' parameter (default if not set is 20). The page-size may not\
    \ exceed 100. The 'page' parameter requests a specific page. The result will contain\
    \ a RFC 5988 compliant LINK header with the previous and next page link.</li></ul>"
  version: "2020.02"
externalDocs:
  description: "Find out more about MPO"
  url: "http://www.mpo.com"
servers:
- url: "https://apitest.mpo.com/mposcs/mposcs/1.0.0"
security:
- BasicAuth: []
  HMAC256: []
tags:
- name: "Customer Order Lines"
- name: "Customer Orders"
- name: "Data Export"
- name: "Events"
- name: "Files"
- name: "Master Data"
- name: "Planning"
- name: "Product Items"
- name: "Reports"
- name: "Shipment Items"
- name: "Shipment Orders"
- name: "System"
paths:
  /api/oms/v1/statistics/orders/{order_type}/{period_type}/{reporting_type}:
    get:
      tags:
      - "System"
      description: "Returns the number of shipment orders for the provided order type,\
        \ perriod type, and reporting_type. Order types: CUSTOMER_ORDER, SERVICE_ORDER,\
        \ SHIPMENT_ORDER, Period types: LAST_DAY, LAST_MONTH, LAST_WEEK, LAST_YEAR,\
        \ WEEK_TO_DATE, YEAR_TO_DATE, and reporting types: BY_DAY, BY_HOUR, BY_MONTH,\
        \ BY_WEEK."
      parameters:
      - name: "order_type"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "period_type"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "reporting_type"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/xml, application/json]"
      x-mpo-privilege: "statistics.fetch"
      x-mpo-response-type: "com.mpobjects.oms.api.statistics.OrderStatisticsPrototype"
      x-mpo-paging-required: false
  /api/oms/v1/statistics/users:
    get:
      tags:
      - "System"
      description: "Returns the number users who logged in the last 3 months, grouped\
        \ by the organization and charge type."
      responses:
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/xml, application/json]"
      x-mpo-privilege: "statistics.fetch"
      x-mpo-response-type: "com.mpobjects.oms.api.statistics.OrderStatisticsPrototype"
      x-mpo-paging-required: false
  /api/oms/v1/customerOrders/{customer_order_id}/customerOrderLines/{customer_order_Line_id}:
    get:
      tags:
      - "Customer Order Lines"
      description: "Get a customer order line for a given customer order"
      parameters:
      - name: "customer_order_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      - name: "customer_order_Line_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "The customer order or line cannot be found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "customerorderline.list"
      x-mpo-response-type: "com.mpobjects.oms.api.customerorder.CustomerOrderLinePrototype"
      x-mpo-paging-required: false
  /api/oms/v1/customerOrders/{id}/customerOrderLines:
    get:
      tags:
      - "Customer Order Lines"
      description: "Get a list customer order lines of the requested customer order"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "Customer order with the provdided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "customerorderline.list"
      x-mpo-response-type: "com.mpobjects.core.api.generics.IdReferencePrototype"
      x-mpo-paging-required: true
  /api/oms/v1/triggerLogs/post:
    post:
      tags:
      - "System"
      description: "Crete trigger log request."
      responses:
        "404":
          description: "Create trigger log request cannot be found."
        "400":
          description: "An error occured while generating the request."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-consumes: "[application/json]"
      x-mpo-privilege: "triggerlog.edit"
      x-mpo-response-type: "java.lang.String"
      x-mpo-request-type: "com.mpobjects.oms.api.triggerlog.TriggerLogPrototype"
      x-mpo-paging-required: false
  /api/oms/v1/masterdata:
    get:
      tags:
      - "Master Data"
      description: "Returns all masterdata types"
      responses:
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/xml, application/json]"
      x-mpo-privilege: "masterdata.list"
      x-mpo-response-type: "com.mpobjects.core.api.generics.IdReferencePrototype"
      x-mpo-paging-required: false
  /api/oms/v1/masterdata/{masterdatatype}:
    get:
      tags:
      - "Master Data"
      description: "Returns all masterdata entries"
      parameters:
      - name: "masterdatatype"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "404":
          description: "The masterdata type cannot be found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/xml, application/json]"
      x-mpo-privilege: "masterdata.list"
      x-mpo-response-type: "com.mpobjects.core.api.generics.IdReferencePrototype"
      x-mpo-paging-required: true
  /api/oms/v1/masterdata/{masterdatatype}/{id}:
    get:
      tags:
      - "Master Data"
      description: "Returns details about the masterdata entry with the provided ID"
      parameters:
      - name: "masterdatatype"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "The masterdata type or entry cannot be found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/xml, application/json]"
      x-mpo-privilege: "masterdata.list"
      x-mpo-response-type: "com.mpobjects.oms.api.report.ReportPrototype"
      x-mpo-paging-required: false
  /api/oms/v1/shipmentOrders/{id}/productItems:
    get:
      tags:
      - "Product Items"
      description: "Get a reference list of all products items for the shipment order"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "The shipment order cannot be found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "productitems.list"
      x-mpo-response-type: "com.mpobjects.oms.api.shipmentorder.ProductItemPrototype"
      x-mpo-paging-required: true
    post:
      tags:
      - "Product Items"
      description: "Append a product item to a given shipment order"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "201":
          description: "The product item was added to the order."
        "404":
          description: "The shipment order cannot be found."
        "400":
          description: "Product item with the ID already present on the order."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-consumes: "[application/json, application/xml]"
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentorder.add-product-item"
      x-mpo-request-type: "com.mpobjects.oms.api.shipmentorder.ProductItemPrototype"
      x-mpo-response-type: "com.mpobjects.oms.api.shipmentorder.ProductItemPrototype"
      x-mpo-paging-required: false
  /api/oms/v1/shipmentOrders/{shipment_system_id}/productItems/{productitem_id}:
    get:
      tags:
      - "Product Items"
      description: "Get a product item to a given shipment order"
      parameters:
      - name: "shipment_system_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      - name: "productitem_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "The shipment order cannot be found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentorder.get-product-item"
      x-mpo-response-type: "com.mpobjects.oms.api.shipmentorder.ProductItemPrototype"
      x-mpo-paging-required: false
    delete:
      tags:
      - "Product Items"
      description: "Delete a product item from a given shipment order"
      parameters:
      - name: "shipment_system_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      - name: "productitem_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "The shipment order or pdouct item cannot be found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-privilege: "shipmentorder.delete-product-item"
      x-mpo-response-type: "com.mpobjects.oms.api.shipmentorder.ProductItemPrototype"
      x-mpo-paging-required: false
    patch:
      tags:
      - "Product Items"
      description: "Updates the given products item"
      parameters:
      - name: "shipment_system_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      - name: "productitem_id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "404":
          description: "The shipment order or product item cannot be found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-consumes: "[application/json, application/xml]"
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "productitems.update"
      x-mpo-request-type: "com.mpobjects.oms.api.shipmentorder.ProductItemPrototype"
      x-mpo-response-type: "com.mpobjects.oms.api.shipmentorder.ProductItemPrototype"
      x-mpo-paging-required: false
  /api/oms/v1/reports/{id}/generate/raw:
    get:
      tags:
      - "Reports"
      description: "Generates the reports with the provided id, result is a 'raw'\
        \ data stream to the result."
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "The report cannot be found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-privilege: "report.generate"
      x-mpo-paging-required: false
  /api/oms/v1/reports/{id}:
    get:
      tags:
      - "Reports"
      description: "Returns details about the reports with the provided id."
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "The report cannot be found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/xml, application/json]"
      x-mpo-privilege: "report.list"
      x-mpo-response-type: "com.mpobjects.oms.api.report.ReportPrototype"
      x-mpo-paging-required: false
  /api/oms/v1/reports/{id}/generate:
    get:
      tags:
      - "Reports"
      description: "Generates the reports with the provided ID, the actual report\
        \ data is base64 encoded."
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "The report cannot be found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/xml, application/json]"
      x-mpo-privilege: "report.generate"
      x-mpo-response-type: "com.mpobjects.oms.api.report.ReportResultPrototype"
      x-mpo-paging-required: false
  /api/oms/v1/reports:
    get:
      tags:
      - "Reports"
      description: "Returns all non deleted reports"
      responses:
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/xml, application/json]"
      x-mpo-privilege: "report.list"
      x-mpo-response-type: "com.mpobjects.core.api.generics.IdReferencePrototype"
      x-mpo-paging-required: true
  /api/oms/v1/shipmentOrders/{shipment_system_id}/shipmentItems/{shipment_item_system_id}:
    get:
      tags:
      - "Shipment Items"
      description: "Get a shipment item to a given shipment order"
      parameters:
      - name: "shipment_system_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      - name: "shipment_item_system_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "The shipment order or item cannot be found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentitem.list"
      x-mpo-response-type: "com.mpobjects.oms.api.shipmentorder.ShipmentItemPrototype"
      x-mpo-paging-required: false
    post:
      tags:
      - "Shipment Items"
      description: "Append a shipment item to a given shipment order and shipment\
        \ item"
      parameters:
      - name: "shipment_system_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      - name: "shipment_item_system_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "201":
          description: "The shipment item was added to the order."
        "404":
          description: "The shipment order cannot be found."
        "400":
          description: "Shipment item with the ID already present on the order."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-consumes: "[application/json, application/xml]"
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentitem.create"
      x-mpo-request-type: "com.mpobjects.oms.api.shipmentorder.ShipmentItemPrototype"
      x-mpo-response-type: "com.mpobjects.oms.api.shipmentorder.ShipmentItemPrototype"
      x-mpo-paging-required: false
    delete:
      tags:
      - "Shipment Items"
      description: "Delete a shipment item to a given shipment order"
      parameters:
      - name: "shipment_system_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      - name: "shipment_item_system_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "The shipment order or item cannot be found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentitem.delete"
      x-mpo-paging-required: false
  /api/oms/v1/shipmentOrders/{shipment_system_id}/shipmentItems/{shipment_item_system_id}/packedItems:
    get:
      tags:
      - "Shipment Items"
      description: "Get a list packed item refereces of the requested shipment item."
      parameters:
      - name: "shipment_system_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      - name: "shipment_item_system_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "Shipment order or item with the provdided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentitem.list"
      x-mpo-response-type: "com.mpobjects.core.api.generics.IdReferencePrototype"
      x-mpo-paging-required: false
    post:
      tags:
      - "Shipment Orders"
      description: "Get a list packed item refereces of the requested shipment item."
      parameters:
      - name: "shipment_system_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      - name: "shipment_item_system_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "Shipment order or item with the provdided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentitem.list"
      x-mpo-response-type: "com.mpobjects.core.api.generics.IdReferencePrototype"
      x-mpo-paging-required: false
  /api/oms/v1/shipmentOrders/{id}/shipmentItems:
    get:
      tags:
      - "Shipment Items"
      description: "Get a list shipment items of the requested shipment order"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "Shipment order with the provdided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentitem.list"
      x-mpo-response-type: "com.mpobjects.core.api.generics.IdReferencePrototype"
      x-mpo-paging-required: true
    post:
      tags:
      - "Shipment Items"
      description: "Append a shipment item to a given shipment order"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "201":
          description: "The shipment item was added to the order."
        "404":
          description: "The shipment order cannot be found."
        "400":
          description: "Shipment item with the ID already present on the order."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-consumes: "[application/json, application/xml]"
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentitem.create"
      x-mpo-request-type: "com.mpobjects.oms.api.shipmentorder.ShipmentItemPrototype"
      x-mpo-response-type: "com.mpobjects.oms.api.shipmentorder.ShipmentItemPrototype"
      x-mpo-paging-required: false
  /api/oms/v1/shipmentOrders/{shipment_system_id}/shipmentItems/{shipment_item_system_id}/packedItems/{packed_item_id}:
    get:
      tags:
      - "Shipment Items"
      description: "Get a list packed item refereces of the requested shipment item."
      parameters:
      - name: "shipment_system_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      - name: "shipment_item_system_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      - name: "packed_item_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "Shipment order or item with the provdided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentitem.list"
      x-mpo-response-type: "com.mpobjects.core.api.generics.IdReferencePrototype"
      x-mpo-paging-required: false
    delete:
      tags:
      - "Shipment Items"
      description: "Deletes the provided packed item"
      parameters:
      - name: "shipment_system_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      - name: "shipment_item_system_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      - name: "packed_item_id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "Shipment order or item with the provdided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-privilege: "packeditem.delete"
      x-mpo-paging-required: false
  /api/optimize/v1/ratingRequests/submit:
    post:
      tags:
      - "Planning"
      description: "Request the delivery options for a (volatile) shipment order."
      responses:
        "406":
          description: "There were errors in the request."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-consumes: "[application/xml, application/json]"
      x-mpo-produces: "[application/xml, application/json]"
      x-mpo-privilege: "deliveryrequest.submit"
      x-mpo-request-type: "com.mpobjects.optimize.api.ratingrequest.RatingRequestPrototype"
      x-mpo-response-type: "com.mpobjects.optimize.api.ratingrequest.RatingRequestResponse"
      x-mpo-paging-required: false
  /api/oms/v1/shipmentOrders/{id}/attachments:
    get:
      tags:
      - "Shipment Orders"
      description: "Get a list of attachments for the given order."
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "Shipment order with the provided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentorder.list"
      x-mpo-response-type: "com.mpobjects.core.api.generics.IdReferencePrototype"
      x-mpo-paging-required: false
    post:
      tags:
      - "Shipment Orders"
      description: "Add an attachment to the given order."
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "Shipment order with the provided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentorder.update"
      x-mpo-response-type: "com.mpobjects.oms.api.shipmentorder.ShipmentOrderPrototype"
      x-mpo-paging-required: false
  /api/oms/v1/shipmentOrders/{id}/assignPath:
    get:
      tags:
      - "Shipment Orders"
      description: "Perform (automatic) path assignemnt on the given order"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "Shipment order with the provided id not found."
        "201":
          description: "Path has "
        "510":
          description: "Shipment order with the provided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentorder.assignpath"
      x-mpo-response-type: "java.lang.String"
      x-mpo-paging-required: false
  /api/oms/v1/shipmentOrders/{id}/cancel:
    get:
      tags:
      - "Shipment Orders"
      description: "Cancel shipment order."
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "Shipment order with the provided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentorder.cancel"
      x-mpo-response-type: "com.mpobjects.oms.api.shipmentorder.ShipmentOrderPrototype"
      x-mpo-paging-required: false
  /api/oms/v1/shipmentOrders:
    get:
      tags:
      - "Shipment Orders"
      description: "Returns a list of shipment order references given a key and value."
      parameters:
      - name: "key"
        in: "query"
        required: true
        schema:
          type: "string"
      - name: "value"
        in: "query"
        required: true
        schema:
          type: "string"
      - name: "organization"
        in: "query"
        required: true
        schema:
          type: "string"
      responses:
        "404":
          description: "Shipment order with the provdided id not found."
        "400":
          description: "Page size exceeds the maximum page size, or invalid key specified."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentorder.list"
      x-mpo-response-type: "com.mpobjects.oms.api.shipmentorder.ShipmentOrderPrototype"
      x-mpo-paging-required: true
    post:
      tags:
      - "Shipment Orders"
      description: "Creates a shipment order"
      responses:
        "501":
          description: "Not implemented."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-consumes: "[application/json, application/xml]"
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentorder.create"
      x-mpo-request-type: "com.mpobjects.oms.api.shipmentorder.ShipmentOrderPrototype"
      x-mpo-response-type: "com.mpobjects.oms.api.shipmentorder.ShipmentOrderPrototype"
      x-mpo-paging-required: false
  /api/oms/v1/shipmentOrders/{id}/customerOrderLines:
    get:
      tags:
      - "Shipment Orders"
      description: "Get customer order lines for the given order."
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "Shipment order with the provided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentorder.list"
      x-mpo-response-type: "com.mpobjects.core.api.generics.IdReferencePrototype"
      x-mpo-paging-required: false
  /api/oms/v1/shipmentOrders/{id}/events:
    get:
      tags:
      - "Shipment Orders"
      description: "Get event for the given order."
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "Shipment order with the provided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentorder.list"
      x-mpo-response-type: "com.mpobjects.core.api.generics.IdReferencePrototype"
      x-mpo-paging-required: false
  /api/oms/v1/shipmentOrders/{id}/serviceActions:
    get:
      tags:
      - "Shipment Orders"
      description: "Get service actions for the given order."
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "Shipment order with the provided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentorder.list"
      x-mpo-response-type: "com.mpobjects.core.api.generics.IdReferencePrototype"
      x-mpo-paging-required: false
  /api/oms/v1/shipmentOrders/{id}/serviceOrders:
    get:
      tags:
      - "Shipment Orders"
      description: "Get service orders for the given order."
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "Shipment order with the provided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentorder.list"
      x-mpo-response-type: "com.mpobjects.core.api.generics.IdReferencePrototype"
      x-mpo-paging-required: false
  /api/oms/v1/shipmentOrders/{id}:
    get:
      tags:
      - "Shipment Orders"
      description: "Get a shipment order with an id."
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "Shipment order with the provided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentorder.list"
      x-mpo-response-type: "com.mpobjects.oms.api.shipmentorder.ShipmentOrderPrototype"
      x-mpo-paging-required: false
    patch:
      tags:
      - "Shipment Orders"
      description: "Updates the shipment order with the provided data."
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "Shipment order with the provdided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-consumes: "[application/json, application/xml]"
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentorder.update"
      x-mpo-request-type: "com.mpobjects.oms.api.shipmentorder.ShipmentOrderPrototype"
      x-mpo-response-type: "com.mpobjects.oms.api.shipmentorder.ShipmentOrderPrototype"
      x-mpo-paging-required: false
  /api/oms/v1/shipmentOrders/{org}/{shipmentorderid}:
    get:
      tags:
      - "Shipment Orders"
      description: "Get a shipment order by organization and shipment order id."
      parameters:
      - name: "org"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "shipmentorderid"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "404":
          description: "Shipment order with the provided shipment order id and organization\
            \ not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "shipmentorder.list"
      x-mpo-response-type: "com.mpobjects.oms.api.shipmentorder.ShipmentOrderPrototype"
      x-mpo-paging-required: false
  /api/dataexport/v1/genericXmlRequests/{id}/generate:
    get:
      tags:
      - "Data Export"
      description: "Executes the requested generic xml request, requests parameters\
        \ are passed."
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "The generic xml request cannot be found."
        "400":
          description: "An error occured while generating the request."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/xml]"
      x-mpo-privilege: "genericxmlrequest.generate"
      x-mpo-response-type: "java.lang.String"
      x-mpo-paging-required: false
  /api/dataexport/v1/genericXmlRequests/{id}:
    get:
      tags:
      - "Data Export"
      description: "Returns the requests generic xml request"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "The generic xml request cannot be found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/xml, application/json]"
      x-mpo-privilege: "genericxmlrequest.list"
      x-mpo-response-type: "com.mpobjects.dataexport.api.GenericXmlRequestPrototype"
      x-mpo-paging-required: false
  /api/dataexport/v1/genericXmlRequests:
    get:
      tags:
      - "Data Export"
      description: "Returns all non deleted generic xml requests"
      responses:
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/xml, application/json]"
      x-mpo-privilege: "genericxmlrequest.list"
      x-mpo-response-type: "com.mpobjects.core.api.generics.IdReferencePrototype"
      x-mpo-paging-required: true
  /api/event/v1/events/{id}:
    get:
      tags:
      - "Events"
      description: "Get a binary with an id."
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "File with the provided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "events.list"
      x-mpo-paging-required: false
  /api/document/v1/files/binary/{id}:
    get:
      tags:
      - "Files"
      description: "Get a binary with an id."
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "File with the provided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "files.list"
      x-mpo-response-type: "com.mpobjects.oms.api.generics.FilePrototype"
      x-mpo-paging-required: false
  /api/document/v1/files/filemeta/{id}:
    get:
      tags:
      - "Files"
      description: "Get a filemeta with an id."
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "File with the provided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "files.list"
      x-mpo-response-type: "com.mpobjects.oms.api.generics.FilePrototype"
      x-mpo-paging-required: false
  /api/core/v1/system/error:
    get:
      tags:
      - "System"
      description: "Returns a default 500 error."
      responses:
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-response-type: "com.mpobjects.core.api.ApiError"
      x-mpo-paging-required: false
  /api/core/v1/system/error/{code}:
    get:
      tags:
      - "System"
      description: "Returns an error with the provided code."
      parameters:
      - name: "code"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-response-type: "com.mpobjects.core.api.ApiError"
      x-mpo-paging-required: false
  /api/core/v1/system/openapi/json:
    get:
      tags:
      - "System"
      description: "Returns the MPO Open API 3 specification in JSON format"
      responses:
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json;charset=UTF-8]"
      x-mpo-paging-required: false
  /api/core/v1/system/openapi/yaml:
    get:
      tags:
      - "System"
      description: "Returns the MPO Open API 3 specification in YAML format"
      responses:
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[text/plain;charset=UTF-8]"
      x-mpo-paging-required: false
  /api/core/v1/system/product:
    get:
      tags:
      - "System"
      description: "Returns the product information"
      responses:
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-response-type: "com.mpobjects.core.api.SystemApi.Product"
      x-mpo-paging-required: false
  /api/core/v1/system/openapi/type/json:
    get:
      tags:
      - "System"
      description: "Returns the schema for the provided type."
      parameters:
      - name: "type"
        in: "query"
        required: true
        schema:
          type: "string"
      responses:
        "404":
          description: "The provided type cannot be found."
        "400":
          description: "The provided type is not an MPO API Prototype."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json;charset=UTF-8]"
      x-mpo-paging-required: false
  /api/core/v1/system/openapi/type/yaml:
    get:
      tags:
      - "System"
      description: "Returns the schema for the provided type."
      parameters:
      - name: "type"
        in: "query"
        required: true
        schema:
          type: "string"
      responses:
        "404":
          description: "The provided type cannot be found."
        "400":
          description: "The provided type is not an MPO API Prototype."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[text/plain;charset=UTF-8]"
      x-mpo-paging-required: false
  /api/core/v1/system/version:
    get:
      tags:
      - "System"
      description: "Returns the version MPO information"
      responses:
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml, application/x-yaml]"
      x-mpo-response-type: "com.mpobjects.core.api.SystemApi.Version"
      x-mpo-paging-required: false
  /api/oms/v1/customerOrders/{org}/{customerorderid}:
    get:
      tags:
      - "Customer Orders"
      description: "Get a customer order by organization and customer order id."
      parameters:
      - name: "org"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "customerorderid"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "404":
          description: "Customer order with the provided shipment order id and organization\
            \ not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "customerorder.list"
      x-mpo-response-type: "com.mpobjects.oms.api.customerorder.CustomerOrderPrototype"
      x-mpo-paging-required: false
  /api/oms/v1/customerOrders/{id}:
    get:
      tags:
      - "Customer Orders"
      description: "Get a customer order with an id."
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
      responses:
        "404":
          description: "Customer order with the provided id not found."
        "200":
          description: "Request executed successfully."
        "500":
          description: "An internal error occurred."
        "403":
          description: "User is not authorized to access the request."
      x-mpo-produces: "[application/json, application/xml]"
      x-mpo-privilege: "customerorder.list"
      x-mpo-response-type: "com.mpobjects.oms.api.customerorder.CustomerOrderPrototype"
      x-mpo-paging-required: false
components:
  securitySchemes:
    BasicAuth:
      type: "http"
      scheme: "basic"
    HMAC256:
      type: "apiKey"
      name: "X-API-Key"
      in: "header"