openapi: 3.0.1
info:
  title: SmartERP Cloud APIs
  description: Welcome to SmartERP Cloud API Documentation.
  termsOfService: https://www.smarterp.com/terms-and-conditions
  contact:
    email: support@smarterpcloud.com
  version: "v1"
servers:
- url: https://cfgapi.smarterpcloud.com/hr/v1/onboarding/
tags:
- name: Invitations
  description: Everything about the Invitations
  externalDocs:
    description: Find out more
    url: https://smarterp.com
- name: process-meta
  description: Process Meta Data
  externalDocs:
    description: Find out more
    url: https://smarterp.com
- name: Form I-9s
  description: Everything about I-9s
  externalDocs:
    description: Find out more
    url: https://smarterp.com
- name: Miscellaneous Meta
  description: Miscellaneous Meta APIs
  externalDocs:
    description: Find out more
    url: https://smarterp.com
paths:
  /invitation/create:
    post:
      tags:
      - Invitations
      summary: Create a new Invitation.
      operationId: ""
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      requestBody:
        description: Invitation that needs to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationData'
                
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationID'
      x-codegen-request-body-name: body
  /invitation/{invitationId}:
    get:
      tags:
      - Invitations
      summary: Get Invitation Data
      operationId: ""
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: invitationId
        in: path
        description: Invitation that needs to be fetched.
        required: true
        schema:
          maxLength: 64
          minLength: 64
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationData'
  /invitation/{invitationId}/update:
    post:
      tags:
      - Invitations
      summary: Update Invitation
      operationId: ""
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: invitationId
        in: path
        description: Invitation that needs to be updated.
        required: true
        schema:
          maxLength: 64
          minLength: 64
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationData'
        required: true
      responses:
        200:
          description: OK
          content: {}
      x-codegen-request-body-name: body
  /invitation/{invitationId}/launch:
    put:
      tags:
      - Invitations
      summary: Launch Invitation
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: invitationId
        in: path
        description: Invitation that needs to be launched.
        required: true
        schema:
          maxLength: 64
          minLength: 64
          type: string
      responses:
        200:
          description: OK
          content: {}
  /invitation/{invitationId}/terminate:
    put:
      tags:
      - Invitations
      summary: Terminate Invitation.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: invitationId
        in: path
        description: Invitation that needs to be terminated.
        required: true
        schema:
          maxLength: 64
          minLength: 64
          type: string
      responses:
        200:
          description: OK
          content: {}
  /invitation/{invitationId}/forcecomplete:
    put:
      tags:
      - Invitations
      summary: Force-Complete Invitation.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: invitationId
        in: path
        description: Invitation that needs to be force-completed.
        required: true
        schema:
          maxLength: 64
          minLength: 64
          type: string
      responses:
        200:
          description: OK
          content: {}
  /invitation/{invitationId}/attach:
    put:
      tags:
      - Invitations
      summary: Attach File to Invitation.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: invitationId
        in: path
        description: Invitation ID that file needs to be attached with.
        required: true
        schema:
          maxLength: 64
          minLength: 64
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileInput'
        required: true
      responses:
        200:
          description: OK
          content: {}
      x-codegen-request-body-name: body
  /invitation/listbyprocessstate:
    get:
      tags:
      - Invitations
      summary: Get List of Invitation by Process State.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: processId
        in: query
        description: Process ID
        required: true
        schema:
          maxLength: 10
          minLength: 10
          type: string
      - name: procesStateId
        in: query
        description: Process State
        required: true
        schema:
          maxLength: 30
          minLength: 30
          type: string
      - name: pageNumber
        in: query
        description: Page Number
        required: true
        schema:
          type: number
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfInvitationsByProcessStateIDs'
  /invitation/listbyactionstatus:
    get:
      tags:
      - Invitations
      summary: Get List of Invitations by Action Status.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: processId
        in: query
        description: Process ID
        required: true
        schema:
          maxLength: 10
          minLength: 10
          type: string
      - name: actionIdValue
        in: query
        description: Action ID
        required: true
        schema:
          maxLength: 10
          minLength: 10
          type: string
      - name: status
        in: query
        description: Action Status
        required: true
        schema:
          maxLength: 1
          minLength: 1
          type: string
          enum:
          - Bypassed
          - Completed
          - Pending
          - Terminated
          - Hold
      - name: pageNumber
        in: query
        description: Page Number
        required: true
        schema:
          type: number
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfInvitationsByActionStatus'
  /invitation/listbyuserid:
    get:
      tags:
      - Invitations
      summary: Get list of all invitations completed by a userid.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: processId
        in: query
        description: Process ID
        schema:
          maxLength: 10
          minLength: 10
          type: string
      - name: userId
        in: query
        description: User ID
        required: true
        schema:
          maxLength: 30
          minLength: 30
          type: string
      - name: dateFrom
        in: query
        description: From Date `YYYY-MM-DD`
        required: true
        schema:
          type: string
          format: date
      - name: dateTo
        in: query
        description: To Date `YYYY-MM-DD`
        required: true
        schema:
          type: string
          format: date
      - name: pageNumber
        in: query
        description: Page Number
        required: true
        schema:
          type: number
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfInvitationsByUserID'
  /invitation/listdaterange:
    get:
      tags:
      - Invitations
      summary: Get list of all invitations starting in specified date range.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: processId
        in: query
        description: From Date `YYYY-MM-DD`
        required: true
        schema:
          type: string
          minLength: 10
          maxLength: 10
      - name: dateFrom
        in: query
        description: From Date `YYYY-MM-DD`
        required: true
        schema:
          type: string
          format: date
      - name: dateTo
        in: query
        description: To Date `YYYY-MM-DD`
        required: true
        schema:
          type: string
          format: date
      - name: pageNumber
        in: query
        description: Page Number
        required: true
        schema:
          type: number
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfInvitationsByDateRange'
  /invitation/{invitationId}/getsigned:
    get:
      tags:
      - Invitations
      summary: Get Signed Documents for a specified Invitation.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: invitationId
        in: path
        description: Invitation ID
        required: true
        schema:
          maxLength: 64
          minLength: 64
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationFileOutput'
  /invitation/{invitationId}/getpacket:
    get:
      tags:
      - Invitations
      summary: Get Packet for a specified Invitation.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: invitationId
        in: path
        description: Invitation ID
        required: true
        schema:
          maxLength: 64
          minLength: 64
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationFileOutput'
  /invitation/{invitationId}/getattachments:
    get:
      tags:
      - Invitations
      summary: Get Attachements for a specified Invitation.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: invitationId
        in: path
        description: Invitation ID
        required: true
        schema:
          maxLength: 64
          minLength: 64
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationFileOutput'
  /invitation/{invitationId}/delete:
    delete:
      tags:
      - Invitations
      summary: Delete invitation data; only supported for completed invitations.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: invitationId
        in: path
        description: Invitation ID that needs to be deleted
        required: true
        schema:
          maxLength: 64
          minLength: 64
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HireData'
  /invitation/{invitationId}/getHireData:
    get:
      tags:
      - Invitations
      summary: Get Hire Data for a specified Invitation.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: invitationId
        in: path
        description: Invitation ID
        required: true
        schema:
          maxLength: 64
          minLength: 64
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HireData'
  /process/listprocesses:
    get:
      tags:
      - process-meta
      summary: Get list of all Processes.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page Number
        required: true
        schema:
          type: number
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfProcesses'
  /process/{processId}/states:
    get:
      tags:
      - process-meta
      summary: Get list of all Process States for a specified Process ID.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: processId
        in: path
        description: Process ID
        required: true
        schema:
          type: string
          maxLength: 10
      - name: pageNumber
        in: query
        description: Page Number
        required: true
        schema:
          type: number
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfStates'
  /process/{processId}/actions:
    get:
      tags:
      - process-meta
      summary: Get list of all Actions for a specified Process ID.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: processId
        in: path
        description: Process ID
        required: true
        schema:
          type: string
          maxLength: 10
      - name: pageNumber
        in: query
        description: Page Number
        required: true
        schema:
          type: number
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfActions'
  /i9/create:
    post:
      tags:
      - Form I-9s
      summary: Create I-9.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      requestBody:
        description: I-9 that needs to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/I9Data'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/I9FormID'
      x-codegen-request-body-name: body
  /i9/edit:
    post:
      tags:
      - Form I-9s
      summary: Edit I-9.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: i9FormId
        in: header
        description: I-9 Form ID
        required: true
        schema:
          maxLength: 64
          minLength: 64
          type: string
      requestBody:
        description: I-9 that needs to be edited.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/I9Data'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/I9FormID'
      x-codegen-request-body-name: body
  /i9/{i9FormId}:
    get:
      tags:
      - Form I-9s
      summary: Get I-9
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: i9FormId
        in: path
        description: I-9 Form ID that needs to be fetched.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/I9Data'
  /i9/{i9FormId}/attach:
    put:
      tags:
      - Form I-9s
      summary: Attach File to an I-9.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: i9FormId
        in: path
        description: I-9 Form ID that file needs to be attached with.
        required: true
        schema:
          maxLength: 64
          minLength: 64
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileInput'
        required: true
      responses:
        200:
          description: OK
          content: {}
      x-codegen-request-body-name: body
  /i9/{i9FormId}/terminate:
    put:
      tags:
      - Form I-9s
      summary: Set Termination Date to an I-9.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: i9FormId
        in: path
        description: I-9 Form ID that needs to be terminated
        required: true
        schema:
          maxLength: 64
          minLength: 64
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminationDate'
        required: true
      responses:
        200:
          description: OK
          content: {}
      x-codegen-request-body-name: body
  /i9/{i9FormId}/getauditreport:
    get:
      tags:
      - Form I-9s
      summary: Get Audit Log.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: i9FormId
        in: path
        description: I-9 Form ID
        required: true
        schema:
          maxLength: 64
          minLength: 64
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/I9FileOutput'
  /i9/{i9FormId}/getsignedforms:
    get:
      tags:
      - Form I-9s
      summary: Get Signed Forms from an I-9.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: i9FormId
        in: path
        description: I-9 Form ID
        required: true
        schema:
          maxLength: 64
          minLength: 64
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/I9FileOutput'
  /i9/list:
    get:
      tags:
      - Form I-9s
      summary: List of I-9s that are in specific state in specific date range.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: state
        in: query
        description: Document State
        required: true
        schema:
          type: string
      - name: dateFrom
        in: query
        description: From date `YYYY-MM-DD`
        required: true
        schema:
          type: string
      - name: dateTo
        in: query
        description: To Date `YYYY-MM-DD`
        required: true
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page Number
        required: true
        schema:
          type: number
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfI9s'
  /i9/listbyuserid:
    get:
      tags:
      - Form I-9s
      summary: Get list of I-9s signed by the cpecified user id between the date ranges.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: userId
        in: query
        description: User ID
        required: true
        schema:
          type: string
      - name: dateFrom
        in: query
        description: From date `YYYY-MM-DD`
        required: true
        schema:
          type: string
      - name: dateTo
        in: query
        description: To Date `YYYY-MM-DD`
        required: true
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page Number
        required: true
        schema:
          type: number
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfI9s'
  /miscmeta/countrycodes:
    get:
      tags:
      - Miscellaneous Meta
      summary: Get list of all country codes.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page Number
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfCountryCodes'
  /miscmeta/statecodes:
    get:
      tags:
      - Miscellaneous Meta
      summary: Get list of all state/provincial codes for a specified country.
      parameters:
      - name: SmartApiKey
        in: header
        description: Smart API Key
        required: true
        schema:
          type: string
      - name: countryCode
        in: query
        description: Country Code
        required: true
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page Number
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfStateCodes'
      x-codegen-request-body-name: body
components:
  schemas:
    FailureResponse:
      type: object
      properties:
        Status: 
           enum:
            - failed
        message:
          type: string
    InvitationData:
      required:
      - email
      - firstName
      - lastName
      - phone
      - startDate
      - processId
      type: object
      properties:
        firstName:
          pattern: /^[A-Z a-z]+$/
          type: string
          example: tom
        middleName:
          pattern: /^[A-Z a-z]+$/
          type: string
          example: Gerad
        lastName:
          pattern: /^[A-Z a-z]+$/
          type: string
          example: Smith
        phone:
          type: array
          items:
            type: object
            properties:
              phoneType:
                type: string
                enum:
                - Home
                - Cell
              phone:
                pattern: ^\d{10}$
                type: string
              primaryPhone:
                type: boolean
                description: Is Primary Phone?
        email:
          type: array
          items:
            type: object
            properties:
              emailType:
                type: string
                enum:
                - Home
                - Business
              email:
                pattern: ^\S+@\S+\.\S+$
                type: string
                format: email
              primaryEmail:
                type: boolean
        address:
          type: array
          items:
            type: object
            properties:
              addressType:
                type: string
              country:
                type: string
                example: USA
              addressLine1:
                type: string
              addressLine2:
                type: string
              addressLine3:
                type: string
              addressLine4:
                type: string
              city:
                type: string
              state:
                type: string
              county:
                type: string
              postal:
                type: string
        startDate:
          type: string
          format: date
        processId:
          type: string
          maxLength: 10
        company:
          maxLength: 10
          type: string
        department:
          maxLength: 10
          type: string
        businessUnit:
          maxLength: 10
          type: string
        location:
          maxLength: 10
          type: string
      description: fields company, businessUnit, department and location may be required
        based on your Organization configuration.
    InvitationID:
      type: object
      properties:
        invitationId:
          maxLength: 64
          type: string
        talentId:
          type: string
          maxLength: 10
    ListOfInvitationsByProcessStateIDs:
      type: object
      properties:
        processId:
          type: string
        processStateId:
          type: string
        totalResults:
          type: number
        pageSize:
          type: number
        totalPages:
          type: number
        currentPage:
          type: number
        invitationIds:
          type: array
          items:
            type: object
            properties:
                invitationId:
                  type: string
                talentId:
                  type: string
                name:
                  type: string
                startDate:
                  type: string
    ListOfInvitationsByActionStatus:
      type: object
      properties:
        processId:
          type: string
        actionIdValue:
          type: string
        status:
          type: string
        totalResults:
          type: number
        pageSize:
          type: number
        totalPages:
          type: number
        currentPage:
          type: number
        invitationIds:
          type: array
          items:
            type: object
            properties:
                invitationId:
                  type: string
                talentId:
                  type: string
                name:
                  type: string
                startDate:
                  type: string
    ListOfInvitationsByUserID:
      type: object
      properties:
        processId:
          type: string
        userId:
          type: string
        dateFrom:
          type: string
          format: date
        dateTo:
          type: string
          format: date
        totalResults:
          type: number
        pageSize:
          type: number
        totalPages:
          type: number
        currentPage:
          type: number
        invitationIds:
          type: array
          items:
            type: object
            properties:
                invitationId:
                  type: string
                talentId:
                  type: string
                name:
                  type: string
                startDate:
                  type: string
    ListOfInvitationsByDateRange:
      type: object
      properties:
        processId:
          type: string
        dateFrom:
          type: string
          format: date
        dateTo:
          type: string
          format: date
        totalResults:
          type: number
        pageSize:
          type: number
        totalPages:
          type: number
        currentPage:
          type: number
        invitationIds:
          type: array
          items:
            type: object
            properties:
                invitationId:
                  type: string
                talentId:
                  type: string
                name:
                  type: string
                startDate:
                  type: string
    
    ListOfI9s:
      type: object
      properties:
        totalResults:
          type: number
        pageSize:
          type: number
        totalPages:
          type: number
        currentPage:
          type: number
        i9FormIds:
          type: array
          items:
            type: object
            properties:
              i9FormId:
                type: string
              i9ID:
                type: string
              name:
                type: string
              startDate:
                type: string
              legalEntity:
                type: string
              eligibiliyType:
                type: string
    ListOfI9sByDocumentState:
      type: object
      properties:
        state:
          type: string
        dateFrom:
          type: string
          format: date
        dateTo:
          type: string
          format: date
        totalResults:
          type: number
        pageSize:
          type: number
        totalPages:
          type: number
        currentPage:
          type: number
        i9FormIds:
          type: array
          items:
            type: object
            properties:
              i9FormId:
                type: string
              i9ID:
                type: string
              name:
                type: string
              startDate:
                type: string
              legalEntity:
                type: string
              eligibiliyType:
                type: string
    ListOfI9sByUserID:
      type: object
      properties:
        userId:
          type: string
        dateFrom:
          type: string
          format: date
        dateTo:
          type: string
          format: date
        totalResults:
          type: number
        pageSize:
          type: number
        totalPages:
          type: number
        currentPage:
          type: number
        i9FormIds:
          type: array
          items:
            type: object
            properties:
              i9FormId:
                type: string
              i9ID:
                type: string
              name:
                type: string
              startDate:
                type: string
              legalEntity:
                type: string
              eligibiliyType:
                type: string
    ListOfProcesses:
      type: object
      properties:
        totalResults:
          type: number
        pageSize:
          type: number
        totalPages:
          type: number
        currentPage:
          type: number
        processes:
          type: array
          items:  
            type: object
            properties:
              processId:
                type: string
                maxLength: 10
              processDescription:
                type: string
              isPreferred:
                type: boolean
    ListOfActions:
      type: object
      properties:
        processId:
          type: string
        totalResults:
          type: number
        pageSize:
          type: number
        totalPages:
          type: number
        currentPage:
          type: number
        actions:
          type: array
          items:  
            type: object
            properties:
              actionIdValue:
                type: string
                maxLength: 10
              actionDescription:
                type: string
    ListOfStates:
      type: object
      properties:
        processId:
          type: string
        totalResults:
          type: number
        pageSize:
          type: number
        totalPages:
          type: number
        currentPage:
          type: number
        states:
          type: array
          items:  
            type: object
            properties:
              processStateId:
                type: string
                maxLength: 10
              processStateDescription:
                type: string
    FileInput:
      required:
      - fileData
      - fileName
      type: object
      properties:
        fileName:
          pattern: ^[\w,\s-]+\.[A-Za-z]{3}$
          type: string
        fileData:
          type: string
          format: base64
    InvitationFileOutput:
      type: object
      properties:
        invitationId:
          type: string
        files:
          type: array
          items:
            type: object
            properties:
              fileDescription:
                type: string
              fileURI:
                type: string
                format: url
    I9FileOutput:
      type: object
      properties:
        i9FormId:
          type: string
        files:
          type: array
          items:
            type: object
            properties:
              fileDescription:
                type: string
              fileURI:
                type: string
                format: url
    I9FormID:
      type: string
      minLength: 64
      maxLength: 64
    TerminationDate:
      type: string
      format: date
    I9Data:
      type: object
      required:
      - firstName
      - lastName
      - ssn
      - dateOfBirth
      - phone
      - email
      - address
      - address1
      - city
      - state
      - county
      - postal
      - country
      properties:
        employeeId:
          type: string
        section1:
          type: object
          properties:
            firstName:
              type: string
              example: Tom
              pattern: /^[A-Z a-z]+$/
            middleName:
              type: string
              example: Gerad
              pattern: /^[A-Z a-z]+$/
            lastName:
              type: string
              example: Smith
              pattern: /^[A-Z a-z]+$/
            ssnApplied:
              type: boolean
              example: false
            ssn:
              maxLength: 9
              minLength: 9
              type: string
              example: "999999999"
              pattern: ^\d{9}$
            dateOfBirth:
              type: string
              format: date
            phone:
              type: string
              example: 9999999999
              pattern: ^\d{10}$
            email:
              type: string
              example: example@smarterp.com
              pattern: ^\S+@\S+\.\S+$
            address:
              type: object
              properties:
                address1:
                  type: string
                  example: 12, Park Avenue
                address2:
                  type: string
                  example: Menlo Park
                city:
                  type: string
                  example: Mountain View
                state:
                  type: string
                  example: CA
                county:
                  type: string
                  example: Alameda
                postal:
                  maxLength: 5
                  minLength: 5
                  type: string
                  example: "99999"
                country:
                  type: string
                  example: USA
            eligibilityType:
              type: string
              enum:
                - Citizen
                - NonCitizenNational
                - PR
                - Alien
            alienNumber:
              type: string
              example: ""
            uscisNumber:
              type: string
              example: ""
            receiptNumber:
              type: string
              example: ""
            alienExpirationDate:
              type: string
              format: date
            i94Number:
              type: string
            passportNumber:
              type: string
            passportCountry:
              type: string
        section2:
          type: object
          properties:
            listA1Document:
              type: object
              properties:
                docCode:
                  $ref: "#/components/schemas/ListA1DocumentCodes"
                docNumber:
                  type: string
                expirationDate:
                  type: string
                  format: date
            listA2Document:
              type: object
              properties:
                docCode:
                  $ref: "#/components/schemas/ListA2DocumentCodes"
                docNumber:
                  type: string
                expirationDate:
                  type: string
                  format: date
            listA3Document:
              type: object
              properties:
                docCode:
                  $ref: "#/components/schemas/ListA3DocumentCodes"
                docNumber:
                  type: string
                expirationDate:
                  type: string
                  format: date
            listBDocument:
              type: object
              properties:
                docCode:
                  $ref: "#/components/schemas/ListBDocumentCodes"
                docNumber:
                  type: string
                expirationDate:
                  type: string
                  format: date
            listCDocument:
              type: object
              properties:
                docCode:
                  $ref: "#/components/schemas/ListCDocumentCodes"
                docNumber:
                  type: string
                expirationDate:
                  type: string
                  format: date
            startDate:
              type: string
              format: date
            employer:
              type: object
              properties:
                Name:
                  type: object
                  properties:
                    firstName:
                      type: string
                      example: Emily
                      pattern: /^[A-Z a-z]+$/
                    lastName:
                      type: string
                      example: Smith
                      pattern: /^[A-Z a-z]+$/
                Title:
                  type: string
                  example: I-9 Specialist
                organizationName:
                  type: string
                  example: Oracle, Inc.
                organizationAddress:
                  type: object
                  properties:
                    addressLine1:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    postal:
                      type: string
    HireData:
      type: object
      properties:
        person:
          type: object
          properties:
            invitationId:
              type: string
              minLength: 64
              maxLength: 64
            birthCountry:
              type: string
              example: USA
            birthState:
              type: string
              example: CA
            birthPlace:
              type: string
              example: San Ramon
            birthDate:
              type: string
              format: date
              pattern: YYYY-MM-DD
              example: 1997-10-09
            email:
              type: string
              example: example@smarterp.com
            sex:
              type: string
              enum:
              - Male
              - Female
            maritalStatus:
              type: string
              enum:
              - Single
              - Married
              - Widowed
              - Divorced
              - CivilUnion
              - Separated
              - HeadOfHousehold
            maritalStatusDate:
              type: string
              format: date
              example: 2017-08-09
            nationalIDs:
              type: array
              items:
                type: object
                properties:
                  nationalIDType:
                    type: string
                    enum:
                      - SSN
                      - Passport
                    example: SSN
                  nationalIDTypeDescription:
                    type: string
                  nationalID:
                    type: string
                    example: 123456789
            hasDriverLicense:
              type: boolean
            PrimaryName:
              type: object
              properties:
                namePrefix:
                  type: string
                  enum:
                    - Mr
                    - Ms
                    - Mrs
                firstName:
                  type: string
                  pattern: /^[A-Z a-z]+$/
                  example: Tim
                middleName:
                  type: string
                  pattern: /^[A-Z a-z]+$/
                  example: Louise
                lastName:
                  type: string
                  pattern: /^[A-Z a-z]+$/
                  example: Smith
                nameSuffix:
                  type: string
                  enum:
                    - Jr
                    - Sr
                    - II
                    - III
            PreferredName:
              type: object
              properties:
                namePrefix:
                  type: string
                  enum:
                    - Mr
                    - Ms
                    - Mrs
                firstName:
                  type: string
                  pattern: /^[A-Z a-z]+$/
                  example: Tim
                middleName:
                  type: string
                  pattern: /^[A-Z a-z]+$/
                  example: Louise
                lastName:
                  type: string
                  pattern: /^[A-Z a-z]+$/
                  example: Smith
                nameSuffix:
                  type: string
                  enum:
                    - Jr
                    - Sr
                    - II
                    - III
            homeAddress:
              type: object
              properties:
                country:
                  type: string
                  example: USA
                adressLine1:
                  type: string
                  example: 11, Park Street
                addressLine2:
                  type: string
                addressLine3:
                  type: string
                addressLine4:
                  type: string
                city:
                  type: string
                  example: Pleasanton
                county:
                  type: string
                  example: Alameda
                state:
                  type: string
                  example: CA
                postal:
                  type: string
                  example: 98787
            mailAddress:
              type: object
              properties:
                country:
                  type: string
                  example: USA
                adressLine1:
                  type: string
                  example: 9898, Johnsons Av.
                addressLine2:
                  type: string
                addressLine3:
                  type: string
                addressLine4:
                  type: string
                city:
                  type: string
                  example: Pleasanton
                county:
                  type: string
                  example: Alameda
                state:
                  type: string
                  example: CA
                postal:
                  type: string
                  example: 98777
            phones:
              type: array
              items:
                type: object
                properties:
                  phoneType:
                    type: string
                    enum:
                      - Home
                      - Cell
                      - Work
                  countryCode:
                    type: string
                    maxLength: 3
                  phone:
                    type: string
                    pattern: ^\d{10}$
                    example: 9999999999
                  extension:
                    type: string
                  primaryPhone:
                    type: boolean
            emails:
              type: array
              items:
                type: object
                properties:
                  emailType:
                    type: string
                    enum:
                      - Personal
                      - Business
                  emailid:
                    type: string
                    pattern: ^\S+@\S+\.\S+$
                    example: example@smarterp.com
                  primaryEmail:
                    type: boolean
            emergencyContacts:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: object
                    properties:
                      namePrefix:
                        type: string
                        enum:
                          - Mr
                          - Ms
                          - Mrs
                      firstName:
                        type: string
                        pattern: /^[A-Z a-z]+$/
                        example: Simon
                      middleName:
                        type: string
                        pattern: /^[A-Z a-z]+$/
                        example: J
                      lastName:
                        type: string
                        pattern: /^[A-Z a-z]+$/
                        example: Douglas
                      nameSuffix:
                        type: string
                        enum:
                          - Jr
                          - Sr
                          - II
                          - III
                  samePhoneAsEmployee:
                    type: boolean
                  sameAddressAsEmployee:
                    type: boolean
                  phone:
                    type: array
                    items:
                      type: object
                      properties:
                        phoneType:
                          type: string
                          enum:
                            - Home
                            - Cell
                            - Work
                        countryCode:
                          type: string
                          maxLength: 3
                        phone:
                          type: string
                          pattern: ^\d{10}$
                          example: 9999999999
                        extension:
                          type: string
                        primaryPhone:
                          type: boolean
            driverLicense:
              type: object
              properties:
                licenseNumber:
                  type: string
                licenseType:
                  type: string
                licenseSuspended:
                  type: boolean
                validFrom:
                  type: string
                  format: date
                  pattern: 'YYYY-MM-DD'
                validTo:
                  type: string
                  format: date
                  pattern: 'YYYY-MM-DD'
                country:
                  type: string
                  example: USA
                state:
                  type: string
                  example: CA
                isClassD:
                  type: boolean
                isChauffer:
                  type: boolean
                isClassC:
                  type: boolean
                isClassMC:
                  type: boolean
                isTruck:
                  type: boolean
            selfIdVeteran:
              type: object
              properties:
                isProtectedVeteran:
                  type: boolean
                militaryStatus:
                  type: boolean
                currentServiceStatus:
                  type: string
                dischargeDate:
                  type: string
                  format: date
                  pattern: 'YYYY-MM-DD'
            selfIdDisability:
              type: object
              properties:
                isDisability:
                  type: boolean
                declineToId:
                  type: boolean
            selfIdRace:
              type: object
              properties:
                ethnicCode:
                  type: boolean
                declinToId:
                  type: boolean
        jobs:
          type: array
          items:
            type: object
            properties:
              jobRecord:
                type: integer
              startDate:
                type: string
                format: date
                pattern: 'YYYY-MM-DD'
              action:
                type: string
              actionReason:
                type: string
              employeeId:
                type: string
              terminationDate:
                type: string
                format: date
                pattern: 'YYYY-MM-DD'
              company:
                type: string
              businessUnit:
                type: string
              department:
                type: string
              location:
                type: string
              operatingUnit:
                type: string
              jobCode:
                type: string
              positionNumber:
                type: string
              supervisorId:
                type: string
              regularTemporary:
                type: string
              fullTimePartTime:
                type: string
              employeeClass:
                type: string
              businessTitle:
                type: string
              payrollCompensation:
                type: object
                properties:
                  payGroup:
                    type: string
                  taxLocationCode:
                    type: string
                  employeeType:
                    type: string
                  standardHours:
                    type: number
                  salaryAdminPlan:
                    type: string
                  salaryGrade:
                    type: string
                  compensationRateCode:
                    type: string
                  compensationRate:
                    type: number
                  currencyCode:
                    type: string
                  compensationFrequency:
                    type: string
                  annualRate:
                    type: number
                  companySeniorityDate:
                    type: number
                    format: date
                    pattern: 'YYYY-MM-DD'
                  serviceDate:
                    type: string
                    format: date
                    pattern: 'YYYY-MM-DD'
                  SeniorityPayDate:
                    type: string
                    format: date
                    pattern: 'YYYY-MM-DD'
              additionalPay:
                type: object
                properties:
                  earningsCode:
                    type: string
                  earningsStartDate:
                    type: string
                    format: date
                    pattern: 'YYYY-MM-DD'
                  earningsEndDate:
                    type: string
                    format: date
                    pattern: 'YYYY-MM-DD'
                  otherPay:
                    type: number
                  goalAmount:
                    type: number
                  goalBalance:
                    type: number
              directDeposit:
                type: array
                items:
                  type: object
                  properties:
                    priority:
                      type: string
                    institutionName:
                      type: string
                    accountType:
                      type: string
                    routingNumber:
                      type: string
                    accountNumber:
                      type: string
                    depositType:
                      type: string
                      enum:
                        - Checking
                        - Savings
                    amount:
                      type: number
                    amountPercentage:
                      type: number
              federalW4:
                type: object
                properties:
                  fwtAllowances:
                    type: number
                  fwtAdditionalAmount:
                    type: number
                  fwtMaritalStatus:
                    type: string
                  marriedFileSingle:
                    type: boolean
                  w4NameCheck:
                    type: boolean
                  exempt:
                    type: boolean
                  exemptCurrentYear:
                    type: boolean
                    format: year
                    pattern: 'YYYY'
                  specialFWTStatus:
                    type: boolean
              residenceStateTax:
                type: object
                properties:
                  alabama:
                    type: object
                    properties:
                      noPersonalExemption:
                        type: boolean
                      singleOrMarriedFilingSeparately:
                        type: boolean
                      marriedOrHeadOfFamily:
                        type: boolean
                      numberOfDependants:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                  arkansas:
                    type: object
                    properties:
                      ClaimedSelf:
                        type: boolean
                      ClaimedSelfAndSpouse:
                        type: boolean
                      HeadOfHouseHoldClaimSelf:
                        type: boolean
                      NumDependantsExemptions:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                  arizona:
                    type: object
                    properties:
                      percentageWithHold:
                        type: number
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  california:
                    type: object
                    properties:
                      maritalStatus:
                        type: string
                      worksheetAAllowances:
                        type: integer
                      worksheetBAlloances:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  connecticut:
                    type: object
                    properties:
                      residenceState:
                        type: string
                      withholdingCode:
                        type: string
                      swtAdditionalAmount:
                        type: number
                      reducedwithholdingAmount:
                        type: number
                  districtOfColumbia:
                    type: object
                    properties:
                      maritalStatus:
                        type: string
                      sectionAAllowances:
                        type: integer
                      sectionBAllowances:
                        type: string
                      swtAdditionalAmount:
                        type: number
                  delaware:
                    type: object
                    properties:
                      maritalStatus:
                        type: string
                      totalDependants:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  geogria:
                    type: object
                    properties:
                      maritalStatus:
                        type: string
                      single:
                        type: boolean
                      marriedFillinfJointBothSpousesWork:
                        type: boolean
                      marriedFilinfJointOneSpouseWork:
                        type: boolean
                      marriedFilingSeparate:
                        type: boolean
                      headOfHousehold:
                        type: boolean
                      dependantAllowances:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      gaAdditionalAllowances:
                        type: number
                      line1Amount:
                        type: number
                      line2AAmount:
                        type: number
                      line2BAmount:
                        type: number
                      line2CAmount:
                        type: number
                      line2DAmount:
                        type: number
                      line2EAmount:
                        type: number
                      line2FAmount:
                        type: number
                      line2GAmount:
                        type: number
                      line2HAmount:
                        type: number
                  hawaii:
                    type: object
                    properties:
                      swtAllowances:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                  iowa:
                    type: object
                    properties:
                      exempt:
                        type: boolean
                      personalAllowances:
                        type: integer
                      allowancesForDependants:
                        type: integer
                      allowancesForItemizedDeductions:
                        type: integer
                      allowancesForIncomeAdjustment:
                        type: integer
                      allowancesForDependantCare:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                  idaho:
                    type: object
                    properties:
                      maritalStatus:
                        type: string
                      swtAllowances:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  illinois:
                    type: object
                    properties:
                      swtAllowances:
                        type: integer
                      swtAdditionalAllowances:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  indiana:
                    type: object
                    properties:
                      exempt:
                        type: boolean
                      marriedExempt:
                        type: boolean
                      dependantsExemptions:
                        type: integer
                      swtAdditionalExemptions:
                        type: integer
                      dependantAdditionalExemptions:
                        type: integer
                      swtStateAdditionalAmount:
                        type: number
                      swtCountyAdditionalAmount:
                        type: number
                  kansas:
                    type: object
                    properties:
                      maritalStatus:
                        type: string
                      swtAllowances:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  kentucky:
                    type: object
                    properties:
                      noITLiabilityCurrentYear:
                        type: boolean
                      fortCampbellExemptionCertificate:
                        type: boolean
                      militarySpouse:
                        type: boolean
                      noSelfMilitary:
                        type: boolean
                      militarySpouseAssignedKentucky:
                        type: boolean
                      domicileOutsideKetucky:
                        type: boolean
                      domicileStateCode:
                        type: string
                      militarySpouseDomicileSameAsSelf:
                        type: boolean
                      nonResidentMilitarySpouseExemption:
                        type: boolean
                      workKentuckyLiveReciprocalState:
                        type: object
                        properties:
                          resideInIL-IN-MI-WV-WI:
                            type: boolean
                          resideInVAAndCommute:
                            type: boolean
                          resideInOHAndNoShareHolderEmployee:
                            type: boolean
                      swtAdditionalAmount:
                        type: number
                  louisiana:
                    type: object
                    properties:
                      noExemptOrDependant:
                        type: boolean
                      maritalStatusSingle:
                        type: boolean
                      maritalStatusMarried:
                        type: boolean
                      blockAExemptions:
                        type: boolean
                      blockBExemptions:
                        type: boolean
                  westVirginia:
                    type: object
                    properties:
                      singleExemption:
                        type: boolean
                      marriedBothExemption:
                        type: boolean
                      marriedOneExemtpion:
                        type: boolean
                      marriedNeitherExemption:
                        type: boolean
                      dependantsExemptions:
                        type: integer
                      headOfHouseHold:
                        type: boolean
                      swtAdditionalAmount:
                        type: number
                  wisconsin:
                    type: object
                    properties:
                      maritalStatus:
                        type: string
                      selfExemption:
                        type: boolean
                      spouseExemption:
                        type: boolean
                      dependantsExemption:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  vermont:
                    type: object
                    properties:
                      single:
                        type: boolean
                      marriedFilingJoint:
                        type: boolean
                      marriedFilingSeparately:
                        type: boolean
                      marriedSWTHigherRate:
                        type: boolean
                      selfNoDependant:
                        type: boolean
                      spouseFilingJoint:
                        type: boolean
                      dependantsClaimed:
                        type: boolean
                      headOfHousehold:
                        type: boolean
                      swtAdditionalAmount:
                        type: boolean
                      exempt:
                        type: boolean
                  virginia:
                    type: object
                    properties:
                      line4PersonalExemptions:
                        type: boolean
                      AgeBlindnessExemptions:
                        type: boolean
                      line8PersonalExemptions:
                        type: boolean
                      swtAdditionalAmount:
                        type: number
                      exemptByInstructions:
                        type: boolean
                      exemptByServiceMember:
                        type: boolean
                  southCarolina:
                    type: object
                    properties:
                      maritalStatus:
                        type: string
                      lastNameDifferSSN:
                        type: boolean
                      swtAllowances:
                        type: integer
                      swtAdditionalAmount:
                        type: boolean
                      exempt:
                        type: boolean
                      sameResidenceMilitarySpouse:
                        type: boolean
                  rhodeIsland:
                    type: object
                    properties:
                      swtAllowances:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  puertoRico:
                    type: object
                    properties:
                      marriedFilingJoint:
                        type: boolean
                      militarySpouseRRA:
                        type: boolean
                      youngeIndividualDOBL:
                        type: string
                        format: date
                      personalExemption:
                        type: object
                        properties:
                          individual:
                            type: object
                            properties:
                              complete:
                                type: boolean
                              half:
                                type: boolean
                              none:
                                type: boolean
                          married:
                            type: object
                            properties:
                              complete:
                                type: boolean
                              half:
                                type: boolean
                              none:
                                type: boolean
                          additionalVeteran:
                            type: object
                            properties:
                              complete:
                                type: boolean
                              half:
                                type: boolean
                              none:
                                type: boolean
                      dependantsExemption:
                        type: object
                        properties:
                          number:
                            type: integer
                          completeExemption:
                            type: boolean
                          jointCustody:
                            type: boolean
                      deductionAllowances:
                        type: object
                        properties:
                          amounts:
                            type: object
                            properties:
                              homeMortgageInterest:
                                type: number
                              charitableContributions:
                                type: number
                              medicalExpenses:
                                type: number
                              studentLoanInterest:
                                type: number
                              govPensionRetirePlan:
                                type: number
                              individualRetureAccount:
                                type: number
                              educationAccount:
                                type: number
                              healthSavingAccount:
                                type: number
                              casualtyLoss:
                                type: number
                              personalPropertyLoss:
                                type: number
                          numberOfAllowances:
                            type: integer
                          claimedAllowances:
                            type: integer
                          govEmployeeWithPension:
                            type: boolean
                      swtAdditionalAmount:
                        type: number
                  oregon:
                    type: object
                    properties:
                      maritalStatus:
                        type: string
                      swtAllowances:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                      exemptCode:
                        type: string
                  oklahoma:
                    type: object
                    properties:
                      filingStatus:
                        type: string
                      selfAllowance:
                        type: boolean
                      spouseAllowance:
                        type: boolean
                      dependantsAllowances:
                        type: integer
                      swtAdditionalAllowances:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      exemptNoLastYearTax:
                        type: boolean
                      exemptServiceMemberCRA:
                        type: boolean
                      exemptActiveDutyMilitary:
                        type: boolean
                  ohio:
                    type: object
                    properties:
                      publicSchoolDistrict:
                        type: string
                      schoolDistrictNum:
                        type: string
                      personalExemption:
                        type: boolean
                      spouseExemption:
                        type: boolean
                      dependantsExemptions:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                  newYork:
                    type: object
                    properties:
                      maritalStatus:
                        type: string
                      nycResident:
                        type: boolean
                      yonkersResident:
                        type: boolean
                      line20Allowances:
                        type: integer
                      line35Allowances:
                        type: integer
                      nysAdditionalAmount:
                        type: number
                      nycAdditionalAmount:
                        type: number
                      yonkersAdditionalAmountr:
                        type: number
                  newJersey:
                    type: object
                    properties:
                      filingStatus:
                        type: string
                      instructionAChartletter:
                        type: string
                      swtAllowances:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  nebraska:
                    type: object
                    properties:
                      filingStatus:
                        type: string
                      swtAllowanvces:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  northCarolina:
                    type: object
                    properties:
                      filingStatus:
                        type: string
                      swtAllowances:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                  montana:
                    type: object
                    properties:
                      section1:
                        type: object
                        properties:
                          selfAllowances:
                            type: boolean
                          onlyOneJob:
                            type: boolean
                          marriedFileJoint:
                            type: boolean
                          dependantsAllowances:
                            type: boolean
                          headOfHousehold:
                            type: boolean
                          largeItemizedDeductions:
                            type: boolean
                          swtAdditionalAmount:
                            type: number
                      section2:
                        type: object
                        properties:
                          tribeExemption:
                            type: boolean
                          reseveNationalGuardExemption:
                            type: boolean
                          northDakotaExemption:
                            type: boolean
                          liveMilitarySpouseInMT:
                            type: boolean
                  mississippi:
                    type: object
                    properties:
                      singleExemptionAmount:
                        type: number
                      spouseNotEmployedAmount:
                        type: number
                      spouseEmployedPartAmount:
                        type: number
                      dependantsClaimed:
                        type: object
                        properties:
                          number:
                            type: integer
                          amount:
                            type: number
                      ageBlindnessAmount:
                        type: number
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  missouri:
                    type: object
                    properties:
                      filingStatus:
                        type: string
                      swtAdditionalAmount:
                        type: number
                      swtReducedAmount:
                        type: number
                      exemptNoLastYearTax:
                        type: boolean
                      exemptMilitaryRRA:
                        type: boolean
                      exemptActivityDutyMilitary:
                        type: boolean
                  massachusetts:
                    type: object
                    properties:
                      personalExemption:
                        type: object
                        properties:
                          age65:
                            type: boolean
                          age65NextYear:
                            type: boolean
                      spouseExemption:
                        type: object
                        properties:
                          exemptAllowed4:
                            type: boolean
                          age65_5:
                            type: boolean
                      qualifiedDependents:
                        type: integer
                      swtAdditionalWithholding:
                        type: integer
                      headofHousehold:
                        type: boolean
                      blind:
                        type: boolean
                      spouseisBlind:
                        type: boolean
                      full-timestudent:
                        type: boolean
                  maryland:
                    type: object
                    properties:
                      totalexemptions:
                        type: integer
                      swtAdditionalWithholding:
                        type: integer
                      doNotOweTaxToMDforExempt:
                        type: boolean
                      exemptFromWithholdingStates:
                        type: object
                        properties:
                          DistofColumbia:
                            type: boolean
                          Virginia:
                            type: boolean
                          WestVirginia:
                            type: boolean
                      donotMaintainPlaceofAbodeforExempt:
                        type: boolean
                      exemptFromDomiciledinPennsylvania:
                        type: boolean
                      exemptFromLocalTaxwithinYork or Adams:
                        type: boolean
                      exemptFromLocalTaxImposeEarningsOrIncome:
                        type: boolean
                      exemptlegalResident:
                        type: boolean
                  maine:
                    type: object
                    properties:
                      MaritalStatus:
                        type: object
                        properties:
                          Single:
                            type: boolean
                          Married:
                            type: boolean
                          MarriedatHigherrate:
                            type: boolean
                      totalAllowances:
                        type: integer
                      swtAdditionalWithholding:
                        type: integer
                      noStateIncomeTaxWithheld:
                        type: object
                        properties:
                          ExemptOnFormW-4:
                            type: boolean
                          FederalFormW-4P:
                            type: boolean
                          residentEmpl:
                            type: boolean
                          residentPeriodicRetirements:
                            type: boolean
                          spouseisinMilitary:
                            type: boolean
                  michigan:
                    type: object
                    properties:
                      PersandDependentExemptions:
                        type: number
                      swtAdditionalAmount:
                        type: integer
                      claimExemption:
                        type: object
                        properties:
                          taxliabilityNotExpected:
                            type: boolean
                          wagesareExempt:
                            type: boolean
                          permanenthomeinRenaissance:
                            type: boolean
                  minnesota:
                    type: object
                    properties:
                      allowances:
                        type: object
                        properties:
                          claimingAsSelf:
                            type: boolean
                          wageclassification:
                            type: object
                            properties:
                              single:
                                type: boolean
                              marriedWithOneJob:
                                type: boolean
                              secondJobWage:
                                type: boolean
                          spouseJobOrMorethanOneJob:
                            type: boolean
                          dependents:
                            type: number
                          headOfHouseHold:
                            type: boolean
                          noOfAllowanceClaiming:
                            type: number
                      exemptionWithholding:
                        type: object
                        properties:
                          exemptfrombothFedandStateTaxes:
                            type: boolean
                          exemptfromstatetaxes:
                            type: object
                            properties:
                              noTaxLiabilityLastYear:
                                type: boolean
                              receivedRefundofStatetax:
                                type: boolean
                              noTaxLiabilityThisYear:
                                type: boolean
                          AllConditionsareTrue:
                            type: object
                            properties:
                              spouseisaMilitary:
                                type: boolean
                              domicileisinanotherstate:
                                type: boolean
                              stateofdomicile:
                                type: string
                          americanIndianLivingAndWorkingasReservation:
                            type: boolean
                          activedutymemberOrnationalguard:
                            type: boolean
                          receivepension:
                            type: boolean
                      allowancesAndAddtionalWithholding:
                        type: object
                        properties:
                          Allowances:
                            type: integer
                          swtAdditionalWithholding:
                            type: integer
              workStateTax:
                type: object
                properties:
                  alabama:
                    type: object
                    properties:
                      noPersonalExemption:
                        type: boolean
                      singleOrMarriedFilingSeparately:
                        type: boolean
                      marriedOrHeadOfFamily:
                        type: boolean
                      numberOfDependants:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                  arkansas:
                    type: object
                    properties:
                      ClaimedSelf:
                        type: boolean
                      ClaimedSelfAndSpouse:
                        type: boolean
                      HeadOfHouseHoldClaimSelf:
                        type: boolean
                      NumDependantsExemptions:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                  arizona:
                    type: object
                    properties:
                      percentageWithHold:
                        type: number
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  california:
                    type: object
                    properties:
                      maritalStatus:
                        type: string
                      worksheetAAllowances:
                        type: integer
                      worksheetBAlloances:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  connecticut:
                    type: object
                    properties:
                      residenceState:
                        type: string
                      withholdingCode:
                        type: string
                      swtAdditionalAmount:
                        type: number
                      reducedwithholdingAmount:
                        type: number
                  districtOfColumbia:
                    type: object
                    properties:
                      maritalStatus:
                        type: string
                      sectionAAllowances:
                        type: integer
                      sectionBAllowances:
                        type: string
                      swtAdditionalAmount:
                        type: number
                  delaware:
                    type: object
                    properties:
                      maritalStatus:
                        type: string
                      totalDependants:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  geogria:
                    type: object
                    properties:
                      maritalStatus:
                        type: string
                      single:
                        type: boolean
                      marriedFillinfJointBothSpousesWork:
                        type: boolean
                      marriedFilinfJointOneSpouseWork:
                        type: boolean
                      marriedFilingSeparate:
                        type: boolean
                      headOfHousehold:
                        type: boolean
                      dependantAllowances:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      gaAdditionalAllowances:
                        type: number
                      line1Amount:
                        type: number
                      line2AAmount:
                        type: number
                      line2BAmount:
                        type: number
                      line2CAmount:
                        type: number
                      line2DAmount:
                        type: number
                      line2EAmount:
                        type: number
                      line2FAmount:
                        type: number
                      line2GAmount:
                        type: number
                      line2HAmount:
                        type: number
                  hawaii:
                    type: object
                    properties:
                      swtAllowances:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                  iowa:
                    type: object
                    properties:
                      exempt:
                        type: boolean
                      personalAllowances:
                        type: integer
                      allowancesForDependants:
                        type: integer
                      allowancesForItemizedDeductions:
                        type: integer
                      allowancesForIncomeAdjustment:
                        type: integer
                      allowancesForDependantCare:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                  idaho:
                    type: object
                    properties:
                      maritalStatus:
                        type: string
                      swtAllowances:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  illinois:
                    type: object
                    properties:
                      swtAllowances:
                        type: integer
                      swtAdditionalAllowances:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  indiana:
                    type: object
                    properties:
                      exempt:
                        type: boolean
                      marriedExempt:
                        type: boolean
                      dependantsExemptions:
                        type: integer
                      swtAdditionalExemptions:
                        type: integer
                      dependantAdditionalExemptions:
                        type: integer
                      swtStateAdditionalAmount:
                        type: number
                      swtCountyAdditionalAmount:
                        type: number
                  kansas:
                    type: object
                    properties:
                      maritalStatus:
                        type: string
                      swtAllowances:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  kentucky:
                    type: object
                    properties:
                      noITLiabilityCurrentYear:
                        type: boolean
                      fortCampbellExemptionCertificate:
                        type: boolean
                      militarySpouse:
                        type: boolean
                      noSelfMilitary:
                        type: boolean
                      militarySpouseAssignedKentucky:
                        type: boolean
                      domicileOutsideKetucky:
                        type: boolean
                      domicileStateCode:
                        type: string
                      militarySpouseDomicileSameAsSelf:
                        type: boolean
                      nonResidentMilitarySpouseExemption:
                        type: boolean
                      workKentuckyLiveReciprocalState:
                        type: object
                        properties:
                          resideInIL-IN-MI-WV-WI:
                            type: boolean
                          resideInVAAndCommute:
                            type: boolean
                          resideInOHAndNoShareHolderEmployee:
                            type: boolean
                      swtAdditionalAmount:
                        type: number
                  louisiana:
                    type: object
                    properties:
                      noExemptOrDependant:
                        type: boolean
                      maritalStatusSingle:
                        type: boolean
                      maritalStatusMarried:
                        type: boolean
                      blockAExemptions:
                        type: boolean
                      blockBExemptions:
                        type: boolean
                  westVirginia:
                    type: object
                    properties:
                      singleExemption:
                        type: boolean
                      marriedBothExemption:
                        type: boolean
                      marriedOneExemtpion:
                        type: boolean
                      marriedNeitherExemption:
                        type: boolean
                      dependantsExemptions:
                        type: integer
                      headOfHouseHold:
                        type: boolean
                      swtAdditionalAmount:
                        type: number
                  wisconsin:
                    type: object
                    properties:
                      maritalStatus:
                        type: string
                      selfExemption:
                        type: boolean
                      spouseExemption:
                        type: boolean
                      dependantsExemption:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  vermont:
                    type: object
                    properties:
                      single:
                        type: boolean
                      marriedFilingJoint:
                        type: boolean
                      marriedFilingSeparately:
                        type: boolean
                      marriedSWTHigherRate:
                        type: boolean
                      selfNoDependant:
                        type: boolean
                      spouseFilingJoint:
                        type: boolean
                      dependantsClaimed:
                        type: boolean
                      headOfHousehold:
                        type: boolean
                      swtAdditionalAmount:
                        type: boolean
                      exempt:
                        type: boolean
                  virginia:
                    type: object
                    properties:
                      line4PersonalExemptions:
                        type: boolean
                      AgeBlindnessExemptions:
                        type: boolean
                      line8PersonalExemptions:
                        type: boolean
                      swtAdditionalAmount:
                        type: number
                      exemptByInstructions:
                        type: boolean
                      exemptByServiceMember:
                        type: boolean
                  southCarolina:
                    type: object
                    properties:
                      maritalStatus:
                        type: string
                      lastNameDifferSSN:
                        type: boolean
                      swtAllowances:
                        type: integer
                      swtAdditionalAmount:
                        type: boolean
                      exempt:
                        type: boolean
                      sameResidenceMilitarySpouse:
                        type: boolean
                  rhodeIsland:
                    type: object
                    properties:
                      swtAllowances:
                        type: integer
                      swtAdditionalAmount:
                        type: number
                      exempt:
                        type: boolean
                  puertoRico:
                    type: object
                    properties:
                      marriedFilingJoint:
                        type: boolean
                      militarySpouseRRA:
                        type: boolean
                      youngeIndividualDOBL:
                        type: string
                        format: date
                      personalExemption:
                        type: object
                        properties:
                          individual:
                            type: object
                            properties:
                              complete:
                                type: boolean
                              half:
                                type: boolean
                              none:
                                type: boolean
                          married:
                            type: object
                            properties:
                              complete:
                                type: boolean
                              half:
                                type: boolean
                              none:
                                type: boolean
                          additionalVeteran:
                            type: object
                            properties:
                              complete:
                                type: boolean
                              half:
                                type: boolean
                              none:
                                type: boolean
                      dependantsExemption:
                        type: object
                        properties:
                          number:
                            type: integer
                          completeExemption:
                            type: boolean
                          jointCustody:
                            type: boolean
                      deductionAllowances:
                        type: object
                        properties:
                          amounts:
                            type: object
                            properties:
                              homeMortgageInterest:
                                type: number
                              charitableContributions:
                                type: number
[...]
