x-generator: NSwag v13.1.6.0 (NJsonSchema v10.0.28.0 (Newtonsoft.Json v10.0.0.0))
openapi: 3.0.0
info:
  title: Ramco API
  description: Ramco ERP API Specification Document.
  termsOfService: 'https://www.ramco.com/terms-of-use.aspx'
  contact:
    name: Ramco Systems
    url: 'https://api.ramco.com'
    email: contact@ramco.com
  license:
    name: Proprietary
    url: 'https://en.wikipedia.org/wiki/Proprietary_license'
  version: 1.0.0
servers:
  - url: 'https://api.ramco.com'
paths:
  /api/DirectGuard:
    get:
      tags:
        - DirectGuard
      operationId: DirectGuard_GetAll
      parameters:
        - type: string
          name: consumer
          in: header
          required: true
          description: Consumer name who's going to consume the API. Will be shared by Ramco
          default: testconsumer
        - type: string
          name: secretkey
          in: header
          required: true
          description: JWT encoded authentication in Base 64 format passed here.Will be shared by Ramco
          default: base64 Value of JWT Secrete Key
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DirectGuard_Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
        40x:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
  '/api/DirectGuard/{transactionNo}/{ouid}':
    get:
      tags:
        - DirectGuard
      operationId: DirectGuard_Get
      parameters:
        - name: transactionNo
          in: path
          required: true
          schema:
            type: string
            nullable: true
          x-position: 1
        - name: ouid
          in: path
          required: true
          schema:
            type: integer
            format: int32
            nullable: true
          x-position: 2
        - type: string
          name: consumer
          in: header
          required: true
          description: Consumer name who's going to consume the API. Will be shared by Ramco
          default: testconsumer
        - type: string
          name: secretkey
          in: header
          required: true
          description: JWT encoded authentication in Base 64 format passed here.Will be shared by Ramco
          default: base64 Value of JWT Secrete Key
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DirectGuard_Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
        40x:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
  '/api/DirectGuard/{search}':
    get:
      tags:
        - DirectGuard
      operationId: DirectGuard_Get_search
      parameters:
        - name: ouid
          in: query
          schema:
            type: integer
            format: int32
            default: 2
          x-position: 1
        - name: transactionNoFrom
          in: query
          description: Transaction Number From
          schema:
            title: Transaction From
            type: string
            nullable: true
          x-position: 2
        - name: transactionNoTo
          in: query
          description: Transaction Number To
          schema:
            title: Transaction To
            type: string
            nullable: true
          x-position: 3
        - name: transactionDateFrom
          in: query
          required: true
          description: Transaction Date From. Format Should be YYYY-MM-DD
          schema:
            title: Date From
            type: string
            format: date-time
          x-position: 4
        - name: transactionDateTo
          in: query
          required: true
          description: Transaction Date To. Format Should be YYYY-MM-DD
          schema:
            title: Date To
            type: string
            format: date
          x-position: 5
        - name: status
          in: query
          schema:
            type: string
            nullable: true
          x-position: 6
        - name: contractno
          in: query
          schema:
            type: string
            nullable: true
          x-position: 7
        - name: transactionNo
          in: query
          schema:
            type: string
            nullable: true
          x-position: 8
        - name: search
          in: path
          required: true
          schema:
            type: string
          x-position: 9
        - type: string
          name: consumer
          in: header
          required: true
          description: Consumer name who's going to consume the API. Will be shared by Ramco
          default: testconsumer
        - type: string
          name: secretkey
          in: header
          required: true
          description: JWT encoded authentication in Base 64 format passed here.Will be shared by Ramco
          default: base64 Value of JWT Secrete Key
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DirectGuard_Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
        40x:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
  /api/OrganisationUnit:
    get:
      tags:
        - OrganisationUnit
      operationId: OrganisationUnit_GetAll
      parameters:
        - type: string
          name: consumer
          in: header
          required: true
          description: Consumer name who's going to consume the API. Will be shared by Ramco
          default: testconsumer
        - type: string
          name: secretkey
          in: header
          required: true
          description: JWT encoded authentication in Base 64 format passed here.Will be shared by Ramco
          default: base64 Value of JWT Secrete Key
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Emod_response_sql'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
        40x:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
  '/api/OrganisationUnit/{ouid}/{ouName}':
    get:
      tags:
        - OrganisationUnit
      operationId: OrganisationUnit_Get
      parameters:
        - name: ouid
          in: path
          required: true
          schema:
            type: integer
            format: int32
          x-position: 1
        - name: ouName
          in: path
          required: true
          schema:
            type: string
            nullable: true
          x-position: 2
        - type: string
          name: consumer
          in: header
          required: true
          description: Consumer name who's going to consume the API. Will be shared by Ramco
          default: testconsumer
        - type: string
          name: secretkey
          in: header
          required: true
          description: JWT encoded authentication in Base 64 format passed here.Will be shared by Ramco
          default: base64 Value of JWT Secrete Key
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Emod_response_sql'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
        40x:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
  /api/SubcontractAP:
    get:
      tags:
        - SubcontractAP
      operationId: SubcontractAP_GetAll
      parameters:
        - type: string
          name: consumer
          in: header
          required: true
          description: Consumer name who's going to consume the API. Will be shared by Ramco
          default: testconsumer
        - type: string
          name: secretkey
          in: header
          required: true
          description: JWT encoded authentication in Base 64 format passed here.Will be shared by Ramco
          default: base64 Value of JWT Secrete Key
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubcontractAP_Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
        40x:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
  '/api/SubcontractAP/{transactionNo}/{ouid}':
    get:
      tags:
        - SubcontractAP
      operationId: SubcontractAP_Get
      parameters:
        - name: transactionNo
          in: path
          required: true
          schema:
            type: string
            nullable: true
          x-position: 1
        - name: ouid
          in: path
          required: true
          schema:
            type: integer
            format: int32
            default: 2
            nullable: true
          x-position: 2
        - type: string
          name: consumer
          in: header
          required: true
          description: Consumer name who's going to consume the API. Will be shared by Ramco
          default: testconsumer
        - type: string
          name: secretkey
          in: header
          required: true
          description: JWT encoded authentication in Base 64 format passed here.Will be shared by Ramco
          default: base64 Value of JWT Secrete Key
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubcontractAP_Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
        40x:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
  '/api/SubcontractAP/{search}':
    get:
      tags:
        - SubcontractAP
      operationId: SubcontractAP_Get_search
      parameters:
        - name: ouid
          in: query
          schema:
            type: integer
            format: int32
            default: 2
          x-position: 1
        - name: transactionNoFrom
          in: query
          description: Transaction Number From
          schema:
            title: Transaction From
            type: string
            nullable: true
          x-position: 2
        - name: transactionNoTo
          in: query
          description: Transaction Number To
          schema:
            title: Transaction To
            type: string
            nullable: true
          x-position: 3
        - name: transactionDateFrom
          in: query
          required: true
          description: Transaction Date From. Format Should be YYYY-MM-DD
          schema:
            title: Date From
            type: string
            format: date-time
          x-position: 4
        - name: transactionDateTo
          in: query
          required: true
          description: Transaction Date To. Format Should be YYYY-MM-DD
          schema:
            title: Date To
            type: string
            format: date
          x-position: 5
        - name: status
          in: query
          schema:
            type: string
            nullable: true
          x-position: 6
        - name: contractno
          in: query
          schema:
            type: string
            nullable: true
          x-position: 7
        - name: transactionNo
          in: query
          schema:
            type: string
            nullable: true
          x-position: 8
        - name: search
          in: path
          required: true
          schema:
            type: string
          x-position: 9
        - type: string
          name: consumer
          in: header
          required: true
          description: Consumer name who's going to consume the API. Will be shared by Ramco
          default: testconsumer
        - type: string
          name: secretkey
          in: header
          required: true
          description: JWT encoded authentication in Base 64 format passed here.Will be shared by Ramco
          default: base64 Value of JWT Secrete Key
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubcontractAP_Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
        40x:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
  /api/SubcontractAR:
    get:
      tags:
        - SubcontractAR
      operationId: SubcontractAR_GetAll
      parameters:
        - type: string
          name: consumer
          in: header
          required: true
          description: Consumer name who's going to consume the API. Will be shared by Ramco
          default: testconsumer
        - type: string
          name: secretkey
          in: header
          required: true
          description: JWT encoded authentication in Base 64 format passed here.Will be shared by Ramco
          default: base64 Value of JWT Secrete Key
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubcontractAR_Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
        40x:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
  '/api/SubcontractAR/{transactionNo}/{ouid}':
    get:
      tags:
        - SubcontractAR
      operationId: SubcontractAR_Get
      parameters:
        - name: transactionNo
          in: path
          required: true
          schema:
            type: string
            nullable: true
          x-position: 1
        - name: ouid
          in: path
          required: true
          schema:
            type: integer
            format: int32
            nullable: true
          x-position: 2
        - type: string
          name: consumer
          in: header
          required: true
          description: Consumer name who's going to consume the API. Will be shared by Ramco
          default: testconsumer
        - type: string
          name: secretkey
          in: header
          required: true
          description: JWT encoded authentication in Base 64 format passed here.Will be shared by Ramco
          default: base64 Value of JWT Secrete Key
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubcontractAR_Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
        40x:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
  '/api/SubcontractAR/{search}':
    get:
      tags:
        - SubcontractAR
      operationId: SubcontractAR_Get_search
      parameters:
        - name: ouid
          in: query
          schema:
            type: integer
            format: int32
            default: 2
          x-position: 1
        - name: transactionNoFrom
          in: query
          description: Transaction Number From
          schema:
            title: Transaction From
            type: string
            nullable: true
          x-position: 2
        - name: transactionNoTo
          in: query
          description: Transaction Number To
          schema:
            title: Transaction To
            type: string
            nullable: true
          x-position: 3
        - name: transactionDateFrom
          in: query
          required: true
          description: Transaction Date From. Format Should be YYYY-MM-DD
          schema:
            title: Date From
            type: string
            format: date-time
          x-position: 4
        - name: transactionDateTo
          in: query
          required: true
          description: Transaction Date To. Format Should be YYYY-MM-DD
          schema:
            title: Date To
            type: string
            format: date
          x-position: 5
        - name: status
          in: query
          schema:
            type: string
            nullable: true
          x-position: 6
        - name: contractno
          in: query
          schema:
            type: string
            nullable: true
          x-position: 7
        - name: transactionNo
          in: query
          schema:
            type: string
            nullable: true
          x-position: 8
        - name: search
          in: path
          required: true
          schema:
            type: string
          x-position: 9
        - type: string
          name: consumer
          in: header
          required: true
          description: Consumer name who's going to consume the API. Will be shared by Ramco
          default: testconsumer
        - type: string
          name: secretkey
          in: header
          required: true
          description: JWT encoded authentication in Base 64 format passed here.Will be shared by Ramco
          default: base64 Value of JWT Secrete Key
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubcontractAR_Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
        40x:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Error'
components:
  schemas:
    Response_Error:
      type: object
      additionalProperties: false
      required:
        - fault
      properties:
        fault:
          $ref: '#/components/schemas/Fault'
    Fault:
      type: object
      additionalProperties: false
      required:
        - type
        - method
        - error_Message
      properties:
        type:
          type: string
          minLength: 1
        method_Type:
          type: string
          nullable: true
        method:
          type: string
          minLength: 1
        error_Message:
          type: string
          minLength: 1
        code:
          type: string
          nullable: true
        error_Reference:
          type: string
          nullable: true
    DirectGuard_Response:
      type: object
      additionalProperties: false
      required:
        - ou_id
      properties:
        ou_id:
          type: integer
          format: int32
        tran_no:
          type: string
          nullable: true
        tran_date:
          type: string
          format: date
        billing_location:
          type: string
          nullable: true
        shipping_location:
          type: string
          nullable: true
        pay_terms:
          type: string
          nullable: true
        contract_no:
          type: string
          nullable: true
        customer_po_no:
          type: string
          nullable: true
        att_tran_date:
          type: string
          format: date
        item_code:
          type: string
          nullable: true
        itm_itemdesc:
          type: string
          nullable: true
        employee_code:
          type: string
          nullable: true
        actl_time_in:
          type: string
          nullable: true
        actl_time_out:
          type: string
          nullable: true
        effct_hrs:
          type: string
          nullable: true
        bill_rate:
          type: string
          nullable: true
        bill_amount:
          type: string
          nullable: true
        att_tran_no:
          type: string
          nullable: true
        bill_to_id:
          type: string
          nullable: true
        ship_ID:
          type: string
          nullable: true
        customer_name:
          type: string
          nullable: true
        job_id:
          type: string
          nullable: true
        customer_code:
          type: string
          nullable: true
        ship_To_ID:
          type: string
          nullable: true
        loi_itemdesc:
          type: string
          nullable: true
        pay_rate:
          type: string
          nullable: true
        add_tracking:
          type: string
          nullable: true
        finance_book:
          type: string
          nullable: true
        service_address:
          type: string
          nullable: true
    Emod_response_sql:
      type: object
      additionalProperties: false
      properties:
        ou_id:
          type: integer
          format: int32
        bu_id:
          type: string
          nullable: true
        ouinstname:
          type: string
          nullable: true
        company_code:
          type: string
          nullable: true
        ouinstdesc:
          type: string
          nullable: true
    SubcontractAP_Response:
      type: object
      additionalProperties: false
      required:
        - ou_id
      properties:
        ou_id:
          type: integer
          format: int32
        supp_inv_no:
          type: string
          nullable: true
        supp_inv_date:
          type: string
          format: date
        customer_code:
          type: string
          nullable: true
        customer_name:
          type: string
          nullable: true
        pay_terms:
          type: string
          nullable: true
        contract_number:
          type: string
          nullable: true
        supplier_name:
          type: string
          nullable: true
        tran_date:
          type: string
          format: date
        item_code:
          type: string
          nullable: true
        itm_itemdesc:
          type: string
          nullable: true
        effct_hrs:
          type: string
          nullable: true
        bill_rate:
          type: string
          nullable: true
        bill_amount:
          type: string
          nullable: true
        att_tran_no:
          type: string
          nullable: true
        att_tran_date:
          type: string
          format: date
        po_no:
          type: string
          nullable: true
        tran_no:
          type: string
          nullable: true
        vendor_code:
          type: string
          nullable: true
        supp_inv_amt:
          type: string
          nullable: true
        addr_location_name:
          type: string
          nullable: true
        tran_amount:
          type: string
          nullable: true
        tcd:
          type: string
          nullable: true
        item_tcd_code:
          type: string
          nullable: true
        tcdcodevariantdesc:
          type: string
          nullable: true
        taxable_amount:
          type: string
          nullable: true
        tcd_amount:
          type: string
          nullable: true
        finance_book:
          type: string
          nullable: true
        shipto_id:
          type: string
          nullable: true
        service_address:
          type: string
          nullable: true
    SubcontractAR_Response:
      type: object
      additionalProperties: false
      required:
        - customer_po_no
      properties:
        ou_id:
          type: integer
          format: int32
        tran_no:
          type: string
          nullable: true
        tran_date:
          type: string
          format: date
        customer_name:
          type: string
          nullable: true
        billing_location:
          type: string
          nullable: true
        pay_terms:
          type: string
          nullable: true
        contract_no:
          type: string
          nullable: true
        customer_po_no:
          type: string
          maxLength: 40
          minLength: 1
        add_tracking:
          type: string
          nullable: true
        shipping_location:
          type: string
          nullable: true
        att_tran_date:
          type: string
          format: date
        item_code:
          type: string
          nullable: true
        itm_itemdesc:
          type: string
          nullable: true
        effct_hrs:
          type: string
          nullable: true
        bill_rate:
          type: string
          nullable: true
        bill_amount:
          type: string
          nullable: true
        att_tran_no:
          type: string
          nullable: true
        bill_to_id:
          type: string
          nullable: true
        ship_to_id:
          type: string
          nullable: true
        finance_book:
          type: string
          nullable: true
        customer_code:
          type: string
          nullable: true
        service_address:
          type: string
          nullable: true
  securitySchemes:
    bearer:
      type: oauth2
      description: OAuth Authentication
      flows:
        clientCredentials:
          tokenUrl: 'https://api.ramco.com/token'
security:
  - bearer: []