openapi: 3.0.1
info:
  title: Описание API
  description: |
    # Общие положения
    ## Принципы взаимодействия
    Взаимодействие участников эксперимента и оператора ГИС МТ осуществляется в
    электронном виде. Обмен документами на бумажном носителе не предусмотрен.
    Электронное взаимодействие осуществляется по одному из двух вариантов:
    * **Предоставление сведений**\
        Обмен электронными документами, на основании которых могут вноситься
        изменения в реестры ГИС МТ.
        Представление сведений определено как обязанность участников.
    *  **Запрос сведений**\
        Обмен, при котором сведения из реестров ГИС МТ предоставляются
        участникам в соответствии с установленными разрешениями на получение
        сведений; изменения в реестры не вносятся.
        Запрос и последующее представление сведений из ГИС МТ инициируется
        участником по своему усмотрению, и применяется, например, для проверки
        статусов кодов маркировки или статуса регистрации участника.

    Электронное взаимодействие осуществляется путем обмена электронными
    документами в соответствии с определенным порядком. Для юридически значимых
    электронных документов применяется усиленная квалифицированная электронная
    подпись (УКЭП). Электронное взаимодействие осуществляется с применением
    программных интерфейсов взаимодействия (API) ГИС МТ и информационных систем
    участников. Взаимодействие строится по модели “клиент-сервер”, где ГИС МТ
    является сервером, а программные средства участника – клиентом.

    При взаимодействии через API выполняются следующие требования:
      * Аутентификация и авторизация участника (определение полномочий на
        осуществление электронного взаимодействия) осуществляется при помощи
        УКЭП.
      * При предоставлении и запросе сведений защита выполняется TLS/HTTPS

    В ответах REST API ГИС МТ могут содержаться дополнительные служебные json
    атрибуты, не указанные в документации. Неизвестные атрибуты следует
    игнорировать.

    Для обмена с ГИС МТ используется json стандарта RFC 7159
    (https://tools.ietf.org/html/rfc7159)

    Максимальный размер документа, передаваемого по API, не должен превышать
    70 мегабайт.

    Все значения атрибутов в форматах json и csv, выражаемые в деньгах
    (цены, налоги, и т.п), задаются в копейках.

    ## Аутентификация
    Все методы взаимодействия с ГИС МТ требуют установленного  заголовка:
    Authorization: Bearer <token>, где token - аутентификационный токен.
    Для получения аутентификационного токена участника оборота товара в ГИС МТ
    реализовано API аутентификации по УКЭП.

  version: "16.4"

servers:
  - url: https://ismp.crpt.ru/api/v3
    description: Базовый адрес промышленного ГИС МТ
  - url: https://demo.fashion.crpt.ru/api/v3
    description: Базовый адрес демонстрационной версии ГИС МТ

tags:
  - name: API аутентификации
    description: |
      <span style="color:red"> ВАЖНО!
      Все методы API взаимодействия с ГИС МТ требуют передачи в заголовке
      параметра </span> ```'Authorization: Bearer <token>'```, <span style="color:red">где token - аутентификационный
      токен. </span>

      Для получения аутентификационного токена участника оборота товара в
      ГИС МТ реализовано API аутентификации и регистрации по УКЭП (см. п 2).

  - name: Коды маркировки и товары
  - name: Документы
  - name: Справочник товаров GS1/Национального каталога
  - name: Справочник кодов ТН ВЭД
  - name: Приложение


paths:
  /api/v3/auth/cert/key/:
    get:
      tags:
        - API аутентификации
      summary: Метод получения случайных данных для подписания ЭП
      operationId: getKey
      description: |
        > Пример запроса
        ```
        curl -v https://ismp.crpt.ru/api/v3/auth/cert/key
        Ответ:
        < HTTP/1.1 200
        < Content-Type: application/json;charset=UTF-8
        <
        {"uuid":"b7b1abc9-f4ee-47db-8a20-f80ac83504e8",
        "data":"QNRPNPFGJZFUXCERQMTWLRMBRNRAAP"}
        ```
      responses:
        200:
          description: Запрос выполнен успешно
          content:
            application/json:
              schema:
                #$ref: '#/components/schemas/AuthData'
                title: Данные для подписания ЭП
                type: object
                required:
                  - data
                  - uuid
                properties:
                  data:
                    type: string
                    readOnly: true
                    description: |
                      Случайная строка данных
                  uuid:
                    type: string
                    readOnly: true
                    description: |
                      Уникальный идентификатор подписанных случайных данных
              example:
                data: "QNRPNPFGJZFUXCERQMTWLRMBRNRAAP"
                uuid: "b7b1abc9-f4ee-47db-8a20-f80ac83504e8"
        400:
          $ref: '#/components/examples/BadRequestResponse'
        500:
          $ref: '#/components/examples/InternalServerErrorResponse'

  /api/v3/auth/cert/:
    post:
      tags:
        - API аутентификации
      summary: Метод получения аутентификационного токена
      operationId: auth
      description: |
        > Пример запроса
        ```
        curl -X POST -v 'https://ismp.crpt.ru/api/v3/auth/cert/'\
          -H 'content-type: application/json;charset=UTF-8'\
          --data-binary '{\
          "uuid":"50b47eeb-3dbc-46a8-be1d-dac17449aaa4",\
          "data":"<Подписанные данные в base64>"'
        Ответ:
        < HTTP/2 200
        < content-type: application/json;charset=UTF-8
        <
        {"token":"<ТОКЕН>"}
        ```
        > Http статусы ответов:
        * [200, OK](#schematoken)
        * [400, Bad Request](#schemaerrorresponse)
        * [500, Internal Server Error](#schemaerrorresponse)
      requestBody:
        description: Схема запроса получения аутентификационного токена
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignData'
            examples:
              200:
                value:
                  data: <Подписанные данные в base64>
                  uuid: 50b47eeb-3dbc-46a8-be1d-dac17449aaa
      responses:
        200:
          description: Запрос выполнен успешно
          content:
            application/json:
              schema:
                title: Аутентификационный токен
                type: object
                required:
                  - token
                properties:
                  token:
                    type: string
                    readOnly: true
                    description: |
                      аутентификационный токен
              example:
                token: "<token>"
        400:
          $ref: '#/components/examples/BadRequestResponse'
        500:
          $ref: '#/components/examples/InternalServerErrorResponse'

  /api/v3/facade/identifytools/listV2:
    get:
      tags:
        - Коды маркировки и товары
      summary: Метод получения списка КИ по заданному фильтру с подробной информацией о КИ
      operationId: kmList
      description: |
        Метод возвращает список КИ с подробной информацией, которые доступны в
        данный момент времени участнику оборота товаров (ИНН организации
        содержится в токене), согласно заданному фильтру.

        > Пример запроса
        ```
        curl -X GET 'https://ismp.crpt.ru/api/v3/facade/identifytools/listV2?\
          limit=10&order=DESC&orderColumn=emd&\
          uit=010469022978096621qSF7qjA3aRIqM2406402&\
          orderedColumnValue=2019-01-23T08:42:17.593Z&pageDir=NEXT' \
          -H 'Authorization: Bearer <ТОКЕН>'

        Ответ:
        < HTTP/1.1 200
        < Content-Type: application/json;charset=UTF-8
        <
        {
          "results": [
            {
              "cis": "0000000000000000000000000000000",
              "gtin": "04059155704529",
              "tnVedEaes": "6401990000",
              "tnVedEaesGroup": "6405",
              "productName": "string",
              "emissionDate": "2019-01-23T08:24:21.048Z",
              "ownerInn": "583713710002",
              "ownerName": "string",
              "participantName": "string",
              "participantInn": "0000000000",
              "status": "INTRODUCED",
              "lastDocId": "string",
              "emissionType": "LOCAL"
            }
          ]
        }
        ```
        Данный запрос вернет 10 (параметр limit) следующих (параметр pageDir)
        записей, начиная с даты эмиссии 2019-01-23T08:42:17.593Z
        (параметр orderedColumnValue) и кода маркировки
        010469022978096621qSF7qjA3aRIqM2406402 (параметр uit). Сортировка будет
        производиться по дате эмиссии (параметр orderColumn) и (всегда) по
        самому коду маркировки (вне зависимости от переданных параметров)
        DESC’ом (параметр order). Значение даты эмиссии и кода маркировки должно
        быть взято из последней строки (для pageDir NEXT) и из первой для
        (pageDir PREV) для перемещения между страницами.

        > Http статусы ответов:
        * [200, OK](#schemafrontendsearchresultidentifytoolsdto)
        * [400, Bad Request](#schemaerrorresponse)
        * [401, Unauthorized](#schemaerrorresponse)
        * [403, Forbidden](#schemaerrorresponse)
        * [404, Not Found](#schemaerrorresponse)
        * [500, Internal Server Error](#schemaerrorresponse)
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: аутентификационный токен
        - name: cache
          in: query
          schema:
            type: boolean
          description: Флаг использование кэша
        - name: cis
          in: query
          schema:
            type: string
          description: Код идентификации
        - name: cisAggregationState
          in: query
          schema:
            $ref: '#/components/schemas/AggregationState'
          description: Состояние КИ в агрегате (упакован/не упакован/все)
        - name: cisPackageType
          in: query
          schema:
            $ref: '#/components/schemas/PackageType'
          description: Тип упаковки
        - name: cisStatus
          in: query
          schema:
            type: array
            items:
              type: string
          description: |
            Текущий статус КИ <ul><li>APPLIED - Эмитирован.Выдан</li><li>INTRODUCED - В обороте</li><li>RETIRED - Выбыл</li></ul>
        - name: documentId
          in: query
          schema:
            type: string
          description: Номер документа. Необходимо указать при поиске КИ в документе
        - name: emissionDateFrom
          in: query
          schema:
            type: string
            format: date-time
          description: Дата эмиссии, от. Задается в формате yyyy-MM-dd'T'HH:mm:ss.SSS'Z. Пример 2019-01-01T03:00:00.000Z
        - name: emissionDateTo
          in: query
          schema:
            type: string
            format: date-time
          description: Дата эмиссии, до. Задается в формате yyyy-MM-dd'T'HH:mm:ss.SSS'Z. Пример 2019-01-01T03:00:00.000Z
        - name: emissionType
          in: query
          schema:
            $ref: '#/components/schemas/EmissionType'
          description: Тип эмиссии
        - name: gtin
          in: query
          schema:
            type: string
          description: Global Trade Item Number
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
          description: Максимальное количество записей, которое вернется в качестве ответа
        - name: order
          in: query
          schema:
            $ref: '#/components/schemas/Order'
          description: Направление сортировки
        - name: orderColumn
          in: query
          schema:
            type: string
          description: Название столбца, по которому будет производиться сортировка. Допустимое значение emd - дата эмиссии
        - name: orderedColumnValue
          in: query
          schema:
            type: string
          description: Значение столбца - точки отсчета", по которому сортируются записи
        - name: packs
          in: query
          schema:
            type: string
          description: Фильтрация по товарным упаковкам. <ul><li>ALL - товары и упаковки</li><li>UNIT - только товары</li><li>PACK - только упаковки</li></ul>
        - name: pageDir
          in: query
          schema:
            $ref: '#/components/schemas/PageDir'
          description: Выбор направления (вперед/назад) для пагинации
        - name: pg
          in: query
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ProductGroup'
          description: Наименование товарных групп
        - name: producerInn
          in: query
          schema:
            type: string
          description: ИНН производителя
        - name: sn
          in: query
          schema:
            type: string
          description: Серийный номер
        - name: statusExt
          in: query
          schema:
            $ref: '#/components/schemas/StatusExt'
          description: Дополнительный статус КИ
        - name: tnVed10
          in: query
          schema:
            type: string
          description: Код товарной номенклатуры (10 знаков)
        - name: tree
          in: query
          schema:
            $ref: '#/components/schemas/Tree'
          description: Способ вывода дерева КИ
        - name: uit
          in: query
          schema:
            type: string
          description: Значение КИ - "точки отсчета", по которому сортируются записи
      responses:
        200:
          description: Список КИ успешно получен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendSearchResultIdentifyToolsDto'
        400:
          $ref: '#/components/examples/BadRequestResponse'
        500:
          $ref: '#/components/examples/InternalServerErrorResponse'
      deprecated: false

  /api/v3/facade/identifytools/{cis}:
    get:
      tags:
        - Коды маркировки и товары
      summary: Метод получения подробной информации о конкретном КИ
      operationId: getByCisId
      description: |
        Метод возвращает подробную информацию о запрашиваемом КИ (в 1 запросе
        1 КИ), который доступен в данный момент времени участнику оборота
        товаров (ИНН организации содержится в токене)

        > Пример запроса
        ```
        curl -X GET 'https://ismp.crpt.ru/api/v3/facade/identifytools/010405915570452921HXRNJW15asPkB2406405' \
         -H 'Authorization: Bearer <ТОКЕН>'
        ```
        Данный запрос вернет 10 (параметр limit) следующих (параметр pageDir)
        записей, начиная с даты эмиссии 2019-01-23T08:42:17.593Z
        (параметр orderedColumnValue) и кода маркировки 0
        10463003407002921wskg1E44R1qym2406401 (параметр uit). Сортировка будет
        производиться по дате эмиссии (параметр orderColumn) и (всегда) по
        самому коду маркировки (вне зависимости от переданных параметров)
        DESC’ом (параметр order). Значение даты эмиссии и кода маркировки должно
        быть взято из последней строки (для pageDir NEXT) и из первой для
        (pageDir PREV) для перемещения между страницами.

        > Http статусы ответов:
        * [200, OK](#schemaidentifytoolsdto)
        * [400, Bad Request](#schemaerrorresponse)
        * [401, Unauthorized](#schemaerrorresponse)
        * [403, Forbidden](#schemaerrorresponse)
        * [404, Not Found](#schemaerrorresponse)
        * [500, Internal Server Error](#schemaerrorresponse)
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: аутентификационный токен
        - name: cis
          in: path
          description: Код идентификации
          required: true
          schema:
            type: string
      responses:
        200:
          description: КИ успешно получен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentifyToolsDto'
        400:
          $ref: '#/components/examples/BadRequestResponse'
        500:
          $ref: '#/components/examples/InternalServerErrorResponse'

  /api/v3/facade/marked_products/listV2:
    get:
      tags:
        - Коды маркировки и товары
      summary: Метод получения списка товаров по заданному фильтру
      operationId: productList
      description: |
        > Пример запроса
        ```
        curl -X GET 'https://ismp.crpt.ru/api/v3/facade/identifytools/010405915570452921HXRNJW15asPkB2406405' \
         -H 'Authorization: Bearer <ТОКЕН>'

        Ответ:
        < HTTP/1.1 200
        < Content-Type: application/json;charset=UTF-8
        <
        {
          "results": [
            {
              "cis": "010463003407002921wskg1E44R1qym2406401",
              "gtin": "04630034070029",
              "tnvd": "6401100000",
              "tnvedGroup": "6401",
              "productName": "string",
              "ownerName": "string",
              "ownerInn": "0000000000",
              "producerName": "string",
              "producerInn": "0000000000",
              "status": "INTRODUCED",
              "emissionDate": "2019-01-18T08:14:40.344Z",
              "lastDocId": "string",
              "name": "string",
              "brand": "отсутствует",
              "model": "CRPT--99999",
              "country": "РОССИЙСКАЯ ФЕДЕРАЦИЯ",
              "productTypeDesc": "ТАПОЧКИ",
              "color": "белый",
              "materialDown": "Текстиль",
              "productSize": "52",
              "materialUpper": "Текстиль",
              "materialLining": "Текстиль",
              "packageType": "BOX",
              "productType": "310000022"
            }
          ],
          "total": 1
        }
        ```

        > Http статусы ответов:
        * [200, OK](#schemafrontendsearchresultmarkedproductdto)
        * [400, Bad Request](#schemaerrorresponse)
        * [401, Unauthorized](#schemaerrorresponse)
        * [403, Forbidden](#schemaerrorresponse)
        * [404, Not Found](#schemaerrorresponse)
        * [500, Internal Server Error](#schemaerrorresponse)

      parameters:
        - name: cache
          in: query
          schema:
            type: boolean
          description: Флаг использование кэша
        - name: cis
          in: query
          schema:
            type: string
          description: Код идентификации
        - name: cisAggregationState
          in: query
          schema:
            $ref: '#/components/schemas/AggregationState'
          description: Состояние КИ в агрегате (упакован/не упакован/все)
        - name: cisPackageType
          in: query
          schema:
            $ref: '#/components/schemas/PackageType'
          description: Тип упаковки
        - name: cisStatus
          in: query
          schema:
            type: array
            items:
              type: string
          description: |
            Текущий статус КИ <ul><li>INTRODUCED - В обороте</li><li>RETIRED - Выбыл</li></ul>
        - name: emissionDateFrom
          in: query
          schema:
            type: string
            format: date-time
          description: Дата эмиссии, от. Задается в формате yyyy-MM-dd'T'HH:mm:ss.SSS'Z. Пример 2019-01-01T03:00:00.000Z
        - name: emissionDateTo
          in: query
          schema:
            type: string
            format: date-time
          description: Дата эмиссии, до. Задается в формате yyyy-MM-dd'T'HH:mm:ss.SSS'Z. Пример 2019-01-01T03:00:00.000Z
        - name: emissionType
          in: query
          schema:
            $ref: '#/components/schemas/EmissionType'
          description: Тип эмиссии
        - name: gtin
          in: query
          schema:
            type: string
          description: Global Trade Item Number
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
          description: Максимальное количество записей, которое вернется в качестве ответа
        - name: order
          in: query
          schema:
            $ref: '#/components/schemas/Order'
          description: Направление сортировки
        - name: orderColumn
          in: query
          schema:
            type: string
          description: Название столбца, по которому будет производиться сортировка. Допустимое значение emd - дата эмиссии
        - name: orderedColumnValue
          in: query
          schema:
            type: string
          description: Значение столбца - "точки отсчета", по которому сортируются записи
        - name: packs
          in: query
          schema:
            type: string
          description: Фильтрация по товарным упаковкам. <ul><li>ALL - товары и упаковки</li><li>UNIT - только товары</li><li>PACK - только упаковки</li></ul>
        - name: pageDir
          in: query
          schema:
            $ref: '#/components/schemas/PageDir'
          description: Выбор направления (вперед/назад) для пагинации
        - name: pg
          in: query
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ProductGroup'
          description: Наименование товарных групп
        - name: producerInn
          in: query
          schema:
            type: string
          description: ИНН производителя
        - name: sn
          in: query
          schema:
            type: string
          description: Серийный номер
        - name: statusExt
          in: query
          schema:
            $ref: '#/components/schemas/GoodStatusEx'
          description: Дополнительный статус товара
        - name: tnVed10
          in: query
          schema:
            type: string
          description: Код товарной номенклатуры (10 знаков)
        - name: tree
          in: query
          schema:
            $ref: '#/components/schemas/Tree'
          description: Способ вывода дерева КИ
        - name: turnoverType
          in: query
          description: Вид оборота
          schema:
            $ref: '#/components/schemas/TurnoverType'

      responses:
        '200':
          description: Список маркированных товаров успешно получен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendSearchResultMarkedProductDto'
        400:
          $ref: '#/components/examples/BadRequestResponse'
        500:
          $ref: '#/components/examples/InternalServerErrorResponse'

  /api/v3/facade/marked_products/{cis}:
    get:
      tags:
        - Коды маркировки и товары
      summary: Получение информации о маркированном товаре
      operationId: getByCisId
      description: |
        > Пример запроса
        ```
        curl -X GET 'https://ismp.crpt.ru/api/v3/facade/marked_products/010463003407002921wskg1E44R1qym2406401' \
          -H 'Authorization: Bearer <ТОКЕН>'
        ```

        > Http статусы ответов:
        * [200, OK](#schemamarkedproductdto)
        * [400, Bad Request](#schemaerrorresponse)
        * [401, Unauthorized](#schemaerrorresponse)
        * [403, Forbidden](#schemaerrorresponse)
        * [404, Not Found](#schemaerrorresponse)
        * [500, Internal Server Error](#schemaerrorresponse)
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: аутентификационный токен
        - name: cis
          in: path
          description: уникальный идентификатор товара (КИ)
          required: true
          schema:
            type: string
      responses:
        200:
          description: Маркированный товар успешно получен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarkedProductDto'
        400:
          $ref: '#/components/examples/BadRequestResponse'
        500:
          $ref: '#/components/examples/InternalServerErrorResponse'

  /api/v3/facade/cis/cis_list:
    get:
      tags:
        - Коды маркировки и товары
      summary: Метод получения краткой информации о КИ\списке КИ (общедоступный)
      operationId: cisList
      description: |
        > Пример запроса
        ```
        curl -X GET "http://ismp.crpt.ru/api/v3/facade/cis/cis_list?cis=1&cis=2" \
          -H 'content-type: application/json' -H 'Authorization: Bearer <ТОКЕН>'
        ```

        > Http статусы ответов:
        * [200, OK](#schemacisfrontenddto)
        * [400, Bad Request](#schemaerrorresponse)
        * [401, Unauthorized](#schemaerrorresponse)
        * [403, Forbidden](#schemaerrorresponse)
        * [404, Not Found](#schemaerrorresponse)
        * [500, Internal Server Error](#schemaerrorresponse)
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: аутентификационный токен
        - name: cis
          in: query
          description: Идентификаторы КИ
          allowEmptyValue: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        200:
          description: Список КИ успешно получен
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/CisFrontendDto'
        400:
          $ref: '#/components/examples/BadRequestResponse'
        500:
          $ref: '#/components/examples/InternalServerErrorResponse'

  /api/v3/facade/doc/listV2:
    get:
      tags:
        - Документы
      summary: Метод получения списка документов, ранее загруженных в ГИС МТ
      operationId: list
      description: |
        > Пример запроса
        ```
        curl 'https://ismp.crpt.ru/api/v3/facade/doc/listV2?\
        limit=10&order=DESC&\
        orderColumn=docDate&did=623136d3-7a9b-40c9-8ce3-8091e41f83aa&\
        orderedColumnValue=2019-01-28T09:30:40.136Z&pageDir=NEXT' \
        -H 'content-type: application/json' -H 'Authorization: Bearer <ТОКЕН>'
        ```

        > Http статусы ответов:
        * [200, OK](#schemasearchresultdocfrontendalldto)
        * [400, Bad Request](#schemaerrorresponse)
        * [401, Unauthorized](#schemaerrorresponse)
        * [403, Forbidden](#schemaerrorresponse)
        * [404, Not Found](#schemaerrorresponse)
        * [500, Internal Server Error](#schemaerrorresponse)
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: аутентификационный токен
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date-time
          description: Дата документа, от. Задается в формате yyyy-MM-dd'T'HH:mm:ss.SSS'Z, пример 2019-01-01T03:00:00.000Z
        - name: dateTo
          in: query
          schema:
            type: string
            format: date-time
          description: Дата документа, до. Задается в формате yyyy-MM-dd'T'HH:mm:ss.SSS'Z, пример 2019-01-01T03:00:00.000Z
        - name: did
          in: query
          schema:
            type: string
          description: Значение номера документа - "точки отсчета", по которому сортируются записи.
        - name: documentFormat
          in: query
          schema:
            $ref: '#/components/schemas/DocumentFormat'
          description: Формат документа
        - name: documentStatus
          in: query
          schema:
            $ref: '#/components/schemas/DocumentStatus'
          description: Статус обработки документа
        - name: documentType
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/DocumentAllType'
          description: Тип документа
        - name: inputFormat
          in: query
          schema:
            type: boolean
          description: Тип документа (входящий / исходящий)
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
          description: Максимальное количество записей, которое вернется в качестве ответа
        - name: number
          in: query
          schema:
            type: string
          description: Номер документа
        - name: order
          in: query
          schema:
            $ref: '#/components/schemas/Order'
          description: Направление сортировки
        - name: orderColumn
          in: query
          schema:
            type: string
          description: Название столбца, по которому будет производиться сортировка. Допустимое значение emd - дата эмиссии
        - name: orderedColumnValue
          in: query
          schema:
            type: string
          description: Значение столбца - "точки отсчета", по которому сортируются записи
        - name: pageDir
          in: query
          schema:
            $ref: '#/components/schemas/PageDir'
          description: Выбор направления (вперед/назад) для пагинации
        - name: participantInn
          in: query
          schema:
            type: string
          description: ИНН участника товарооборота, отправитель документа
        - name: pg
          in: query
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ProductGroup'
          description: Наименование товарных групп
      responses:
        200:
          description: Список документов успешно получен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendSearchResultDocFrontendDto'
        400:
          $ref: '#/components/examples/BadRequestResponse'
        500:
          $ref: '#/components/examples/InternalServerErrorResponse'

  /api/v3/facade/doc/{docId}/body:
    get:
      tags:
        - Документы
      summary: Метод получения содержимого документа, ранее загруженного в ГИС МТ
      operationId: getDocumentBodyById
      description: |
        > Пример запроса
        ```
        curl 'curl -X GET 'https://ismp.crpt.ru/api/v3/facade/doc/e76a1c45-c8ce-4961-84f1-1df47e5a7d35/body' \
        -H 'content-type: application/json' -H 'Authorization: Bearer <ТОКЕН>'
        ```

        > Http статусы ответов:
        * [200, OK](#schemadocfrontenddto)
        * [400, Bad Request](#schemaerrorresponse)
        * [401, Unauthorized](#schemaerrorresponse)
        * [403, Forbidden](#schemaerrorresponse)
        * [404, Not Found](#schemaerrorresponse)
        * [500, Internal Server Error](#schemaerrorresponse)
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: аутентификационный токен
        - name: docId
          in: path
          description: Номер документа
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
          description: Дата документа, формат yyyy-MM-dd
        - name: orderedColumnValue
          in: query
          schema:
            type: string
          description: Значение столбца - "точки отсчета", по которому сортируются записи.
        - name: pageDir
          in: query
          schema:
            $ref: '#/components/schemas/PageDir'
          description: Выбор направления (вперед/назад) для пагинации
      responses:
        200:
          description: Тело документа успешно получено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocFrontendDto'
        400:
          $ref: '#/components/examples/BadRequestResponse'
        500:
          $ref: '#/components/examples/InternalServerErrorResponse'

  /api/v3/lk/documents/create:
    post:
      tags:
        - Документы
      summary: Единый метод создания документов
      operationId: createDocument
      description: |
        > Пример запроса
        ```
        curl 'https://ismp.crpt.ru/api/v3/lk/documents/create?pg=milk' \
        -H 'content-type: application/json' -H 'Authorization: Bearer <ТОКЕН>'
        --data-binary '{ "product_document":"<Документ в base64>",\
         "document_format":"MANUAL", "type": "LP_INTRODUCE_GOODS",\
         "signature":"<Открепленная подпись в base64>"}'
        ```

        Данный метод может быть использован как альтернативный вариант методам
        создания документов по конкретному типу:

        |Тип документа|URL метода создания документа|
        |---|---|
        |Ввод в оборот товара, полученного от физических лиц, не являющихся индивидуальными предпринимателями, в том числе при комиссионной торговле|/api/v3/lk/documents/commissioning/indi/create|
        |Ввод в оборот товара, произведенного на территории РФ (производство сторонней организацией)|/api/v3/lk/documents/commissioning/contract/create|
        |Ввод товара в оборот|/api/v3/lk/documents/send|
        |Ввод товара в оборот (Импорт)|/api/v3/lk/import/send|
        |Вывод товара из оборота при реализации договора конечному потребителю|/api/v3/lk/receipt/send|
        |Отгрузка товара|/api/v3/lk/documents/shipment/create|
        |Отмена отгрузки товара|/api/v3/lk/documents/shipment/cancel|
        |Переагрегация|/api/v3/lk/documents/reaggregation/create|
        |Перемаркировка товара|/api/v3/lk/remarking/send|
        |Приемка товара|/api/v3/lk/documents/acceptance/create|
        |Расформирование агрегата|/api/v3/lk/documents/disaggregation/create|
        |Списание нанесенного на товар КИ (без вывода товара из оборота)|/api/v3/lk/documents/km/cancellation/applied/create|
        |Списание не нанесенного на товар КИ|/api/v3/lk/documents/km/cancellation/create|
        |Формирование агрегата| /api/v3/lk/documents/aggregation/create|

        > Http статусы ответов:
        * [200, OK](#schemainputdocumentdto)
        * [400, Bad Request](#schemaerrorresponse)
        * [401, Unauthorized](#schemaerrorresponse)
        * [403, Forbidden](#schemaerrorresponse)
        * [404, Not Found](#schemaerrorresponse)
        * [500, Internal Server Error](#schemaerrorresponse)
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: аутентификационный токен
        - name: pg
          in: query
          description: pg
          schema:
            type: string
      requestBody:
        description: dto
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputDocumentDto'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                description: Номер документа
              example:
                value: 9abd3d41-76bc-4542-a88e-b1f7be8130b5
        400:
          $ref: '#/components/examples/BadRequestResponse'
        500:
          $ref: '#/components/examples/InternalServerErrorResponse'

  /api/v3/product/search:
    get:
      tags:
        - Справочник товаров GS1/Национального каталога
      summary: Поиск товаров
      operationId: searchUsingGET
      description: |
        > Пример запроса
        ```
        curl -X GET 'https://ismp.crpt.ru/api/v3/product/search?\
        limit=10&offset=0&page=0&pg=shoes' \
        -H 'Authorization: Bearer <ТОКЕН>'
        ```

        > Http статусы ответов:
        * [200, OK](#schemasearchresultproductdto)
        * [400, Bad Request](#schemaerrorresponse)
        * [401, Unauthorized](#schemaerrorresponse)
        * [403, Forbidden](#schemaerrorresponse)
        * [404, Not Found](#schemaerrorresponse)
        * [500, Internal Server Error](#schemaerrorresponse)
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: аутентификационный токен
        - name: gtin
          required: true
          in: query
          type: string
          description: Код товара
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
          description: Максимальное количество записей, которое вернется в качестве ответа
        - name: page
          in: query
          schema:
            type: integer
          description: Номер страницы ответа, начальное значение 0.
      responses:
        200:
          description: Товары успешно найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResultProductDto'
        400:
          $ref: '#/components/examples/BadRequestResponse'
        500:
          $ref: '#/components/examples/InternalServerErrorResponse'

  /api/v3/product/info:
    get:
      tags:
        - Справочник товаров GS1/Национального каталога
      summary: Метод получения информации о товаре по Коду товара
      operationId: findByGtins
      description: |
        > Пример запроса
        ```
        curl -X GET 'https://ismp.crpt.ru/api/v3/product/api/v3/product/info?\
        gtins=04690257113712,04690257113712' \
        -H 'Authorization: Bearer <ТОКЕН>'
        ```

        > Http статусы ответов:
        * [200, OK](#schemaproductdto)
        * [400, Bad Request](#schemaerrorresponse)
        * [401, Unauthorized](#schemaerrorresponse)
        * [403, Forbidden](#schemaerrorresponse)
        * [404, Not Found](#schemaerrorresponse)
        * [500, Internal Server Error](#schemaerrorresponse)
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: аутентификационный токен
        - name: gtin
          required: true
          in: query
          schema:
            type: array
            items:
              type: string
          description: Код товаров
      responses:
        200:
          description: Товары успешно найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDto'
        400:
          $ref: '#/components/examples/BadRequestResponse'
        500:
          $ref: '#/components/examples/InternalServerErrorResponse'


  /api/v3/facade/tnved/search:
    get:
      tags:
        - Справочник кодов ТН ВЭД
      summary: Метод получения списка 10-ти значных кодов ТН ВЭД
      description: |
        > Пример запроса
        ```
        curl -X GET 'https://ismp.crpt.ru/api/v3/facade/tnved/search?\
        limit=10&offset=0&page=0&prefix=6401,6402,6403,6404,6405' \
        -H 'Authorization: Bearer <ТОКЕН>'
        ```

        > Http статусы ответов:
        * [200, OK](#schemaproductdto)
        * [400, Bad Request](#schemaerrorresponse)
        * [401, Unauthorized](#schemaerrorresponse)
        * [403, Forbidden](#schemaerrorresponse)
        * [404, Not Found](#schemaerrorresponse)
        * [500, Internal Server Error](#schemaerrorresponse)
      operationId: getTnVedRecords
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: аутентификационный токен
        - name: code
          in: query
          schema:
            type: string
          description: Код ТН ВЭД
        - name: direction
          in: query
          schema:
            type: '#/components/schemas/ProductDto'
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
          description: Максимальное количество записей, которое вернется в качестве ответа
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: prefix
          in: query
          description: Список кодов с одного из которых должны начинаться искомые коды ТН ВЭД. Используется для фильтрации товарной группы. Пример '6401,6402,6403,6404,6405'.
          schema:
            type: string
      responses:
        200:
          description: Успешное завершение операции
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TnVedRecordsResponse'
        400:
          $ref: '#/components/examples/BadRequestResponse'
        500:
          $ref: '#/components/examples/InternalServerErrorResponse'

components:
  schemas:
    AuthData:
      title: Данные для подписания ЭП
      type: object
      required:
        - data
        - uuid
      properties:
        data:
          type: string
          readOnly: true
          description: |
            Случайная строка данных
        uuid:
          type: string
          readOnly: true
          description: |
            Уникальный идентификатор подписанных случайных данных
    SignData:
      title: Данные для получения токена по ЭП
      type: object
      required:
        - data
        - uuid
      properties:
        data:
          type: string
          readOnly: true
          description: |
            Подписанные УКЭП зарегистрированного участника случайные данные в base64 (ЭП присоединенная)
        uuid:
          type: string
          readOnly: true
          description: |
            Уникальный идентификатор подписанных случайных данных (uuid из метода GET /api/v3/auth/cert/key)
    ErrorResponse:
      title: Информация об ошибке
      type: object
      properties:
        code:
          type: number
          readOnly: true
          description: код ошибки
        error_message:
          type: string
          readOnly: true
          description: сообщение об ошибке
        description:
          type: string
          readOnly: true
          description: описание причины ошибки
    Token:
      title: Аутентификационный токен
      type: object
      required:
        - token
      properties:
        token:
          type: string
          readOnly: true
          description: |
            аутентификационный токен
    PackageType:
      title: Тип упаковки
      type: string
      description: |
        <ul><li>UNIT - Единица товара</li><li>LEVEL1 - Упаковка 1-го уровня</li><li>LEVEL2 - Упаковка 2-го уровня</li><li>LEVEL3 - Упаковка 3-го уровня</li><li>LEVEL4 - Упаковка 4-го уровня</li><li>LEVEL5 - Упаковка 5-го уровня</li></ul>
    AggregationState:
      title: Состояние КИ в агрегате
      type: string
      description: |
        |значение|описание|
        |---|---|
        |PACKED|В агрегате (агрегирован)|
        |NOT_PACKED|Не в агрегате (дезагрегирован)|
        |ANY|Любое состояние|
    EmissionType:
      title: Тип эмиссии
      type: string
      description: |
        |значение|описание|
        |---|---|
        |LOCAL|Производство РФ|
        |FOREIGN|Ввезен в РФ|
        |REMAINS|Маркировка остатков|
        |CROSSBORDER|Ввезен из стран ЕАЭС|
    Order:
      title: Направление сортировки
      type: string
      description: |
        |значение|описание|
        |---|---|
        |ASC|по возрастанию|
        |DESC|по убыванию|
    PageDir:
      title: Выбор направления (вперед/назад) для пагинации
      type: string
      description: |
        |значение|описание|
        |---|---|
        |PREV|вперед|
        |NEXT|назад|
    ProductGroup:
      title: Товарные группы
      type: string
      description: |
        |значение|описание|
        |---|---|
        |clothes|Предметы одежды, белье постельное, столовое, туалетное и кухонное|
        |shoes|Обувные товары|
        |perfumery|Духи и туалетная вода|
        |tires|Шины и покрышки пневматические резиновые новые|
        |electronics|Фотокамеры (кроме кинокамер), фотовспышки и лампы-вспышки|
        |milk|Молочная продукция|
        |bicycle|Велосипеды и велосипедные рамы|
        |wheelchairs|Кресла-коляски|
    StatusExt:
      title: Дополнительный статус КИ/Товара
      type: string
      description: |
        |значение|описание|
        |---|---|
        |CANCELLATION_APPLIED|Списан после нанесения на товар|
        |REMARK_RETIRED|Перемаркирован|
        |RETIRED_CANCELLATION|Списан|
        |DONATION|Безвозмездная передача товара|
        |STATE_ENTERPRISE|Приобретение гос.предприятием|
        |NO_RETAIL_USE|Использование для собственных нужд покупателем|
        |BEYOND_EEC_EXPORT|Экспорт за пределы стран ЕАЭС|
        |REMOTE_SALE|Продажа по образцам, дистанционный способ продажи|
        |EEC_EXPORT|Экспорт в страны ЕАЭС|
        |RETURN|Возврат физическому лицу|
        |DAMAGE_LOSS|Утрата или повреждение|
        |DESTRUCTION|Уничтожение|
        |CONFISCATION|Конфискация|
        |LIQUIDATION|Ликвидация предприятия|
    Tree:
      title: Способ вывода дерева КИ
      type: string
      description: |
        |значение|описание|
        |---|---|
        |NO_TREE|Не возвращать вложенные КИ|
        |ONE_LEVEL|Возвращать только первый уровень вложенности|
        |ALL_TREE|Возвращать все дерево|
    CisStatus:
      title: Статус Товара/КИ
      type: string
      description: |
        <ul><li>EMITTED - Эмитирован.Выпущен</li><li>APPLIED - Эмитирован.Выдан</li><li>INTRODUCED - В обороте</li><li>RETIRED - Выбыл</li><li>DISAGGREGATION - Дезагрегирован (только для упаковок)</li></ul>
    CisStatusEx:
      title: Расширенный статус КИ
      type: string
      description: |
        <ul><li>EMPTY - Нет</li><li>WAIT_SHIPMENT - Ожидает отгрузку/приемку</li><li>WAIT_TRANSFER_TO_OWNER - Ожидает передачу собственнику (производство по контракту)</li><li>REMARK_RETIRED - Перемаркирован</li><li>RETIRED_CANCELLATION - Списание</li><li>WAIT_REMARK - КИ списан после нанесения на товар (Товар ожидает перемаркировку)</li></ul>
    GoodStatusEx:
      title: Расширенный статус Товара
      type: string
      description: |
        |значение|описание|
        |---|---|
        |WAIT_SHIPMENT|Ожидает подтверждения приемки|
        |WAIT_TRANSFER_TO_OWNER|Ожидает передачу собственнику|
        |WAIT_REMARK|Ожидает повторную маркировку|
        |WITHDRAW|Выведен по чеку|
        |REMARK_RETIRED|Перемаркирован|

    TurnoverType:
      title: Расширенный статус Товара/КИ
      type: string
      description: |
        |значение|описание|
        |---|---|
        |SELLING|Продажа|
        |BUYING_AND_SELLING|Продажа-покупка|
        |COMMISSION|Комиссия|
        |AGENT|Агент|
        |CONTRACT|Подряд|
        |COMMISSIONAIRE_SALE|Продажа комиссионером|


    FrontendSearchResultIdentifyToolsDto:
      title: Список КИ
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/IdentifyToolsDto'
    IdentifyToolsDto:
      title: Код идентификации
      type: object
      required:
        - cis
      properties:
        agentInn:
          type: string
          readOnly: true
          description: ИНН текущего владельца товара
        agentName:
          type: string
          description: Наименование текущего владельца товара
        children:
          type: array
          readOnly: true
          description: Дочерние КИ
          items:
            $ref: '#/components/schemas/CisFrontendDto'
        cis:
          type: string
          readOnly: true
          description: Код идентификации
        countChildren:
          type: integer
          readOnly: true
          description: Количество дочерних КИ
          format: int32
        dateChange:
          type: string
          description: Дата внесения изменений в КИТУ
          format: date-time
        emissionDate:
          type: string
          description: Дата эмиссии КИ
          format: date-time
        emissionType:
          type: string
          description: Способ ввода в оборот
        expireDate:
          type: string
          description: Дата истечения срока годности
          format: date-time
        exporterName:
          type: string
          description: Наименование экспортера
        exporterTaxpayerId:
          type: string
          description: ИНН/УНБ экспортера
        gtin:
          type: string
          description: Код товара
        introducedDate:
          type: string
          description: Дата ввода товара с КИ в оборот
          format: date-time
        lastDocId:
          type: string
          description: Код последнего созданного документа, включая заявку
        nextCises:
          type: array
          description: Следующие номера КИ
          items:
            type: string
        ownerInn:
          type: string
          description: ИНН собственника товара
        ownerName:
          type: string
          description: Наименование собственника товара
        packType:
          description: Тип упаковки
          $ref: "#/components/schemas/PackageType"
        parent:
          type: string
          description: КИТУ вышестоящего уровня
        participantInn:
          type: string
          description: ИНН участника оборота
        participantName:
          type: string
          description: Наименование участника оборота товаров
        prVetDocument:
          type: string
          description: Производственный ветеринарный сопроводительный документ
        prevCises:
          type: array
          description: Предыдущие номера КИ
          items:
            type: string
        producedDate:
          type: string
          description: Дата ввода товара с КИ в оборот
          format: date-time
        productName:
          type: string
          description: Наименование товара на этикетке
        receiptDate:
          type: string
          description: Дата вывода из оборота
          format: date-time
        sgtin:
          type: string
          description: Код товара и серийный номер КИ
        status:
          description: Cтатус КИ
          $ref: '#/components/schemas/CisStatus'
        statusEx:
          description: Расширенный cтатус КИ
          $ref: '#/components/schemas/CisStatusEx'
        tnVedEaes:
          type: string
          description: Код товарной номенклатуры (10 знаков)
        tnVedEaesGroup:
          type: string
          description: Код товарной позиции ТН ВЭД ЕАЭС товара
        uit:
          type: string
          description: КИ
        uitu:
          type: string
          description: КИТУ
        withdrawReason:
          type: string
          description: Причина вывода из оборота
    FrontendSearchResultMarkedProductDto:
      title: Список маркированных товаров
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/MarkedProductDto'
    MarkedProductDto:
      title: Маркированный товар
      type: object
      properties:
        agentInn:
          type: string
          description: ИНН текущего владельца товара
        agentName:
          type: string
          description: Наименование текущего владельца товара
        brand:
          type: string
          description: Товарный бренд
        certDoc:
          $ref: '#/components/schemas/CertDocDto'
        children:
          type: array
          items:
            $ref: '#/components/schemas/CisFrontendDto'
        childrenDetails:
          type: array
          items:
            $ref: '#/components/schemas/MarkedProductDto'
        cis:
          type: string
          description: КИ товара
        countChildren:
          type: integer
          format: int32
        docNum:
          type: string
          description: Регистрационный номер документа
        emissionDate:
          type: string
          description: Дата эмиссии
          format: date-time
        emissionType:
          type: string
          description: 'Производство (импорт/рф): LOCAL/FOREIGN'
        expireDate:
          type: string
          format: date-time
        exporterName:
          type: string
        exporterTaxpayerId:
          type: string
        gtin:
          type: string
          description: Код товара
        introducedDate:
          type: string
          description: Дата ввода товара с КИ в оборот
          format: date-time
        lastDocId:
          type: string
          description: Код последнего созданного документа, включая заявку
        model:
          type: string
          description: Производитель товара (model из gs1)
        name:
          type: string
          description: Наименование товара
        nextCises:
          type: array
          description: Следующие номера КИ
          items:
            type: string
        ownerInn:
          type: string
          description: ИНН собственника товара
        ownerName:
          type: string
          description: Наименование собственника товара
        packType:
          description: Тип упаковки
          $ref: "#/components/schemas/PackageType"
        prVetDocument:
          type: string
        prevCises:
          type: array
          description: Предыдущие номера КИ
          items:
            type: string
        previousAgentInn:
          type: string
          description: ИНН предыдущего владельца товара
        previousAgentName:
          type: string
          description: Наименование предыдущего владельца товара
        producedDate:
          type: string
          description: Дата производства
          format: date-time
        producerInn:
          type: string
          description: ИНН производителя/импортёра товара
        producerName:
          type: string
          description: Наименование производителя/импортёра товара
        productName:
          type: string
          description: Наименование товара
        remarks:
          type: array
          description: Список перемаркировок данного товара
          items:
            $ref: '#/components/schemas/RemarkDto'
        sgtin:
          type: string
          description: Код товара и серийный номер КИ
        status:
          description: Cтатус КИ
          $ref: '#/components/schemas/CisStatus'
        statusEx:
          description: Расширенный cтатус КИ
          $ref: '#/components/schemas/CisStatusEx'
        tnvd:
          type: string
          description: Код товарной номенклатуры (10 знаков)
        tnvedGroup:
          type: string
          description: Группа ТН ВЭД ЕАЭС (первые 4 символа)
        turnoverType:
          description: Вид оборота
          $ref: '#/components/schemas/TurnoverType'
        uitu:
          type: string
          description: КИТУ вышестоящего уровня
        withdrawReason:
          type: string
          description: Причина вывода из оборота
    CertDocDto:
      title: Сертификат
      type: object
      properties:
        date:
          type: string
          description: Дата сертификата
        number:
          type: string
          description: Номер сертификата
        type:
          type: string
          description: Тип сертификата
    RemarkDto:
      title: Список перемаркировок
      type: object
      properties:
        curr:
          type: string
          description: Текущий КИ товара
        date:
          type: string
          description: Дата перемаркиовки
        prev:
          type: string
          description: предыдущие КИ товара
    CisFrontendDto:
      title: Краткая информация о КИ
      type: object
      properties:
        brand:
          type: string
          description: Бренд
        children:
          type: array
          items:
            type: string
          description: Все дочерние КИ
        childrenMap:
          type: array
          items:
            $ref: '#/components/schemas/CisFrontendDto'
          description: Краткая информация о дочерних КИ
        cis:
          type: string
          description: КИ товара
        countChildren:
          type: integer
          format: int32
          description: Количество дочерних КИ
        emissionDate:
          type: string
          description: Дата эмиссии
          format: date-time
        expireDate:
          type: string
          format: date-time
          description: Дата истечения срока годности
        exporterName:
          type: string
          description: Наименование экспортера
        exporterTaxpayerId:
          type: string
          description: уникальный идентификатор экспортера в национальной системе учета налогоплательщиков
        sgtin:
          type: string
          description: Код товара и серийный номер КИ
        introducedDate:
          type: string
          format: date-time
          description: Дата ввода в оборот
        lastDocId:
          type: string
          description: Регистрационный номер документа
        nextCises:
          type: array
          items:
            type: string
          description: Следующие номера КИ при перемаркировки
        ownerInn:
          type: string
        ownerName:
          type: string
        packageType:
          $ref: "#/components/schemas/PackageType"
          description: Тип упаковки
        parent:
          type: string
          description: Код идентификации упаковки, в которую агрегирован товар
        prVetDocument:
          type: string
          description:  Производственный ветеринарный сопроводительный документ (для ТГ "молоко")
        prevCises:
          type: array
          items:
            type: string
          description: Предыдущие КИ (перемаркировка)
        producedDate:
          type: string
          format: date-time
          description: Дата нанесения
        producerName:
          type: string
          description: Производитель товара
        productName:
          type: string
          description:  Название продукта
        status:
          description: Cтатус КИ
          $ref: '#/components/schemas/CisStatus'
        statusEx:
          description: Расширенный cтатус КИ
          $ref: '#/components/schemas/CisStatusEx'
    DocumentFormat:
      title: Формат документа
      type: string
      description: |
        |значение|описание|
        |---|---|
        |MANUAL|формат [json](https://tools.ietf.org/html/rfc7159)|
        |XML|формат [xml](https://tools.ietf.org/html/rfc4826)|
        |CSV|формат [csv](https://tools.ietf.org/html/rfc4180)|
    DocumentStatus:
      title: Формат документа
      type: string
      description: |
        |значение|описание|
        |---|---|
        |IN_PROGRESS|Проверяется|
        |CHECKED_OK|Успешно обработан|
        |CHECKED_NOT_OK|Обработан с ошибками|
        |PROCESSING_ERROR|Ошибка при обработке|
        |CANCELLED|Отгрузка отменена. Только для документа 'Отмена отгрузки'|
        |ACCEPTED|Отгрузка принята. Только для документа 'Отгрузка'|
        |WAIT_ACCEPTANCE|Ожидание приемки. Только для документа 'Отгрузка'. Устанавливается при успешной обработке документа 'Отгрузка товара'|
        |WAIT_PARTICIPANT_REGISTRATION|Ожидание приемки. Только для документа 'Отгрузка'. Устанавливается при успешной обработке документа 'Отгрузка товара' в сторону незарегистрированного участника|
    DocumentAllType:
      title: Тип документа
      type: string
      description: |
        |значение|описание|
        |---|---|
        |UNIVERSAL_TRANSFER_DOCUMENT|УПД|
        |AGGREGATION_DOCUMENT|Документ агрегации. json|
        |AGGREGATION_DOCUMENT_CSV|Агрегация. csv|
        |AGGREGATION_DOCUMENT_XML|Агрегация. xml|
        |DISAGGREGATION_DOCUMENT|Дезагрегация. json|
        |DISAGGREGATION_DOCUMENT_CSV|Дезагрегация. csv|
        |DISAGGREGATION_DOCUMENT_XML|Дезагрегация. xml|
        |REAGGREGATION_DOCUMENT|Переагрегация. json|
        |REAGGREGATION_DOCUMENT_CSV|Переагрегация. csv|
        |REAGGREGATION_DOCUMENT_XML|Переагрегация. xml|
        |RECEIPT|Чек ОФД|
        |UNIVERSAL_CORRECTION_DOCUMENT|УКД|
        |RECEIPT_RETURN|Чек возврата|
        |UNIVERSAL_TRANSFER_DOCUMENT_FIX|УПДи|
        |UNIVERSAL_CORRECTION_DOCUMENT_FIX|УКДи|
        |UNIVERSAL_TRANSFER_DOCUMENT_UNSIGNED|ПД|
        |UNIVERSAL_CORRECTION_DOCUMENT_UNSIGNED|КД|
        |UNIVERSAL_TRANSFER_DOCUMENT_FIX_UNSIGNED|ПДи|
        |UNIVERSAL_CORRECTION_DOCUMENT_FIX_UNSIGNED|КДи|
        |LP_INTRODUCE_GOODS|Ввод в оборот. Производство РФ. json|
        |LP_SHIP_GOODS|Отгрузка. json|
        |LP_SHIP_GOODS_CSV|Отгрузка. csv|
        |LP_SHIP_GOODS_XML|Отгрузка. xml|
        |LP_INTRODUCE_GOODS_CSV|Ввод в оборот. Производство РФ. csv|
        |LP_INTRODUCE_GOODS_XML|Ввод в оборот. Производство РФ. xml|
        |LP_ACCEPT_GOODS|Приемка. json|
        |LP_ACCEPT_GOODS_XML|Приемка. xml|
        |LK_REMARK|Перемаркировка|
        |LK_REMARK_CSV|Перемаркировка. csv|
        |LK_REMARK_XML|Перемаркировка. xml|
        |LK_RECEIPT|Вывод из оборота по чеку через личный кабинет. json|
        |LK_RECEIPT_XML|Вывод из оборота по чеку через личный кабинет. xml|
        |LK_RECEIPT_CSV|Вывод из оборота по чеку через личный кабинет. csv|
        |LP_GOODS_IMPORT|Ввод в оборот. Импорт. json|
        |LP_GOODS_IMPORT_CSV|Ввод в оборот. Импорт. csv|
        |LP_GOODS_IMPORT_XML|Ввод в оборот. Импорт. xml|
        |LP_CANCEL_SHIPMENT|Отмена отгрузки. json|
        |LP_CANCEL_SHIPMENT_CSV|Отмена отгрузки. csv|
        |LP_CANCEL_SHIPMENT_XML|Отмена отгрузки. xml|
        |LK_KM_CANCELLATION|Списание ненанесенных КИ. json|
        |LK_KM_CANCELLATION_CSV|Списание ненанесенных КИ. csv|
        |LK_KM_CANCELLATION_XML|Списание ненанесенных КИ. xml|
        |LK_APPLIED_KM_CANCELLATION|Списание нанесенных КИ. json|
        |LK_APPLIED_KM_CANCELLATION_CSV|Списание нанесенных КИ. csv|
        |LK_APPLIED_KM_CANCELLATION_XML|Списание нанесенных КИ. xml|
        |LK_CONTRACT_COMMISSIONING|  Ввод в оборот товара. Контракт. json|
        |LK_CONTRACT_COMMISSIONING_CSV|Ввод в оборот товара. Контракт. csv|
        |LK_CONTRACT_COMMISSIONING_XML|  Ввод в оборот товара. Контракт. xml|
        |LK_INDI_COMMISSIONING|Ввод в оборот товара. ФизЛицо. json|
        |LK_INDI_COMMISSIONING_CSV|Ввод в оборот товара. ФизЛицо. csv|
        |LK_INDI_COMMISSIONING_XML|Ввод в оборот товара. ФизЛицо. xml|
        |LP_SHIP_RECEIPT|Вывод отгрузкой. json|
        |LP_SHIP_RECEIPT_CSV|Вывод отгрузкой. csv|
        |LP_SHIP_RECEIPT_XML|Вывод отгрузкой. xml|
        |OST_DESCRIPTION|Описание остатков товара. json|
        |OST_DESCRIPTION_CSV|Описание остатков товара. csv|
        |OST_DESCRIPTION_XML|Описание остатков товара. xml|
        |CROSSBORDER|Трансгран. json|
        |CROSSBORDER_CSV|Трансгран. csv|
        |CROSSBORDER_XML|Трансгран. xml|
        |LP_INTRODUCE_OST|Ввод в оборот остатков. json|
        |LP_INTRODUCE_OST_CSV|Ввод в оборот остатков. csv|
        |LP_INTRODUCE_OST_XML|Ввод в оборот остатков. xml|
        |LP_RETURN|Возврат в оборот. json|
        |LP_RETURN_CSV|Возврат в оборот. csv|
        |LP_RETURN_XML|Возврат в оборот. xml|
        |LP_SHIP_GOODS_CROSSBORDER|Отгрузка при трансграничной торговли. json|
        |LP_SHIP_GOODS_CROSSBORDER_CSV|Отгрузка при трансграничной торговли. csv|
        |LP_SHIP_GOODS_CROSSBORDER_XML|Отгрузка при трансграничной торговли. xml|
        |LP_INTRODUCE_GOODS_AUTO|Автоматический ввод в оборот. Производство РФ. json|
        |LP_GOODS_IMPORT_AUTO|Автоматический ввод в оборот. Производство РФ. json|
        |LP_CANCEL_SHIPMENT_CROSSBORDER|Отмена отгрузки при трансграничной торговли. Производство РФ. json|
    FrontendSearchResultDocFrontendDto:
      title: FrontendSearchResultDocFrontendDto
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/DocFrontendListDto'
    DocFrontendListDto:
      title: DocFrontendDto
      type: object
      properties:
        docDate:
          type: string
          format: date-time
          description: Дата документа
        downloadDesc:
          type: string
          description: Полный список ошибок обработки документа
        downloadStatus:
          type: string
          description: Наименование статуса загрузки
        number:
          type: string
          description: Id документа
        pdfFile:
          type: string
          description: Ссылка на PDF-файл
        receivedAt:
          type: string
          format: date
          description: Дата получения документа
        receiverName:
          type: string
          description: Получатель
        senderName:
          type: string
          description: Отправитель
        status:
          in: query
          schema:
            $ref: '#/components/schemas/DocumentStatus'
          description: Статус обработки документа
        type:
          type: string
          schema:
            $ref: '#/components/schemas/DocumentAllType'
          description: Тип документа
    DocFrontendDto:
      title: DocFrontendDto
      type: object
      properties:
        body:
          type: object
          properties: {}
          description: Тело документа в json формате
        content:
          type: string
          description: Оригинальное содержимое документа
        docDate:
          type: string
          format: date-time
          description: Дата документа
        downloadDesc:
          type: string
          description: Полный список ошибок обработки документа
        downloadStatus:
          type: string
          description: Наименование статуса загрузки
        errors:
          type: array
          items:
            type: string
          description: Cписок ошибок обработки документа
        input:
          type: boolean
          description: Входящий/исходящий
        number:
          type: string
          description: Id документа
        pdfFile:
          type: string
          description: Ссылка на PDF-файл
        receivedAt:
          type: string
          format: date
          description: Дата получения документа
        receiverName:
          type: string
          description: Получатель
        senderName:
          type: string
          description: Отправитель
        status:
          in: query
          schema:
            $ref: '#/components/schemas/DocumentStatus'
          description: Статус обработки документа
        type:
          type: string
          schema:
            $ref: '#/components/schemas/DocumentAllType'
          description: Тип документа

    InputDocumentDto:
      title: Документ
      required:
        - document_format
        - product_document
        - signature
        - product_group
      type: object
      properties:
        document_format:
          $ref: '#/components/schemas/DocumentFormat'
          description: Тип документа
        product_document:
          type: string
          description: Содержимое документа. Base64(JSON.stringify)
          schema:
            oneOf:
              - $ref: '#/components/schemas/AG'
        product_group:
          $ref: '#/components/schemas/ProductGroup'
          description: Товарная группа
        signature:
          type: string
          description: Открепленная подпись (УКЭП)
        type:
          $ref: '#/components/schemas/DocumentLkType'
          description: Тип документа
    DocumentLkType:
      title: Типы документов, подаваемых через личный кабинет
      type: string
      description: |
        |значение|описание|
        |---|---|
        |AGGREGATION_DOCUMENT|Документ агрегации. json|
        |AGGREGATION_DOCUMENT_CSV|Агрегация. csv|
        |AGGREGATION_DOCUMENT_XML|Агрегация. xml|
        |DISAGGREGATION_DOCUMENT|Дезагрегация. json|
        |DISAGGREGATION_DOCUMENT_CSV|Дезагрегация. csv|
        |DISAGGREGATION_DOCUMENT_XML|Дезагрегация. xml|
        |REAGGREGATION_DOCUMENT|Переагрегация. json|
        |REAGGREGATION_DOCUMENT_CSV|Переагрегация. csv|
        |REAGGREGATION_DOCUMENT_XML|Переагрегация. xml|
        |LP_INTRODUCE_GOODS|Ввод в оборот. Производство РФ. json|
        |LP_SHIP_GOODS|Отгрузка. json|
        |LP_SHIP_GOODS_CSV|Отгрузка. csv|
        |LP_SHIP_GOODS_XML|Отгрузка. xml|
        |LP_INTRODUCE_GOODS_CSV|Ввод в оборот. Производство РФ. csv|
        |LP_INTRODUCE_GOODS_XML|Ввод в оборот. Производство РФ. xml|
        |LP_ACCEPT_GOODS|Приемка. json|
        |LP_ACCEPT_GOODS_XML|Приемка. xml|
        |LK_REMARK|Перемаркировка|
        |LK_REMARK_CSV|Перемаркировка. csv|
        |LK_REMARK_XML|Перемаркировка. xml|
        |LK_RECEIPT|Вывод из оборота по чеку через личный кабинет. json|
        |LK_RECEIPT_XML|Вывод из оборота по чеку через личный кабинет. xml|
        |LK_RECEIPT_CSV|Вывод из оборота по чеку через личный кабинет. csv|
        |LP_GOODS_IMPORT|Ввод в оборот. Импорт. json|
        |LP_GOODS_IMPORT_CSV|Ввод в оборот. Импорт. csv|
        |LP_GOODS_IMPORT_XML|Ввод в оборот. Импорт. xml|
        |LP_CANCEL_SHIPMENT|Отмена отгрузки. json|
        |LP_CANCEL_SHIPMENT_CSV|Отмена отгрузки. csv|
        |LP_CANCEL_SHIPMENT_XML|Отмена отгрузки. xml|
        |LK_KM_CANCELLATION|Списание ненанесенных КИ. json|
        |LK_KM_CANCELLATION_CSV|Списание ненанесенных КИ. csv|
        |LK_KM_CANCELLATION_XML|Списание ненанесенных КИ. xml|
        |LK_APPLIED_KM_CANCELLATION|Списание нанесенных КИ. json|
        |LK_APPLIED_KM_CANCELLATION_CSV|Списание нанесенных КИ. csv|
        |LK_APPLIED_KM_CANCELLATION_XML|Списание нанесенных КИ. xml|
        |LK_CONTRACT_COMMISSIONING|  Ввод в оборот товара. Контракт. json|
        |LK_CONTRACT_COMMISSIONING_CSV|Ввод в оборот товара. Контракт. csv|
        |LK_CONTRACT_COMMISSIONING_XML|  Ввод в оборот товара. Контракт. xml|
        |LK_INDI_COMMISSIONING|Ввод в оборот товара. ФизЛицо. json|
        |LK_INDI_COMMISSIONING_CSV|Ввод в оборот товара. ФизЛицо. csv|
        |LK_INDI_COMMISSIONING_XML|Ввод в оборот товара. ФизЛицо. xml|
        |LP_SHIP_RECEIPT|Вывод отгрузкой. json|
        |LP_SHIP_RECEIPT_CSV|Вывод отгрузкой. csv|
        |LP_SHIP_RECEIPT_XML|Вывод отгрузкой. xml|
        |OST_DESCRIPTION|Описание остатков товара. json|
        |OST_DESCRIPTION_CSV|Описание остатков товара. csv|
        |OST_DESCRIPTION_XML|Описание остатков товара. xml|
        |CROSSBORDER|Трансгран. json|
        |CROSSBORDER_CSV|Трансгран. csv|
        |CROSSBORDER_XML|Трансгран. xml|
        |LP_INTRODUCE_OST|Ввод в оборот остатков. json|
        |LP_INTRODUCE_OST_CSV|Ввод в оборот остатков. csv|
        |LP_INTRODUCE_OST_XML|Ввод в оборот остатков. xml|
        |LP_RETURN|Возврат в оборот. json|
        |LP_RETURN_CSV|Возврат в оборот. csv|
        |LP_RETURN_XML|Возврат в оборот. xml|
        |LP_SHIP_GOODS_CROSSBORDER|Отгрузка при трансграничной торговли. json|
        |LP_SHIP_GOODS_CROSSBORDER_CSV|Отгрузка при трансграничной торговли. csv|
        |LP_SHIP_GOODS_CROSSBORDER_XML|Отгрузка при трансграничной торговли. xml|
        |LP_CANCEL_SHIPMENT_CROSSBORDER|Отмена отгрузки при трансграничной торговли. Производство РФ. json|
    SearchResultProductDto:
      title: Результат поиска в реестре Кодов товара
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ProductDto'
    ProductDto:
      title: Описание товара
      type: object
      properties:
        brand:
          type: string
          description: Бренд
        goodMarkFlag:
          type: boolean
          description: Индикатор заполнения первого слоя, true - можно заказать код идентификации
        goodSignedFlag:
          type: boolean
          description: Флаг, показывающий, подписана ли карточка кода товара
        goodTurnFlag:
          type: boolean
          description: Индикатор заполнения второго слоя, true - можно ввести в оборот
        gtin:
          type: string
          description: Код товара
        id:
          type: integer
          format: int64
          description: Уникальный идентификатор товара в БД ГИС МТ
        inn:
          type: string
          description: ИНН Российского производителя
        innerUnitCount:
          type: integer
          format: int32
          description: Число экземпляров товара
        model:
          type: string
          description: Модель производителя
        name:
          type: string
          description: Наименование товара
        packageType:
          type: string
          description: Тип упаковки
        productGroupId:
          $ref: '#/components/schemas/ProductGroupCode'
        publicationDate:
          type: string
          format: date
          description: Дата публикации Кода товара
        tnVedCode:
          type: string
          description: Четырёхзначный код ТН ВЭД
    ProductGroupCode:
      title: Идентификаторы товарных групп
      type: integer
      description: |

        |код|символьное обозначение|описание|
        |---|---|
        |1|clothes|Предметы одежды, белье постельное, столовое, туалетное и кухонное|
        |2|shoes|Обувные товары|
        |3|tobacco|Табачная продукция|
        |4|perfumery|Духи и туалетная вода|
        |5|tires|Шины и покрышки пневматические резиновые новые|
        |6|electronics|Фотокамеры (кроме кинокамер), фотовспышки и лампы-вспышки|
        |7|pharma|Лекарственные препараты для медицинского применения|
        |8|milk|Молочная продукция|
        |9|bicycle|Велосипеды и велосипедные рамы|
        |10|wheelchairs|Кресла-коляски|
    TnVedRecordsResponse:
      title: TnVedRecordsResponse
      type: object
      properties:
        records:
          type: array
          items:
            $ref: '#/components/schemas/TnVedResponse'
          description: Описание кода ТН ВЭД
        total:
          type: integer
          format: int64
          description: Общее количество кодов ТН ВЭД, подходящие под параметры фильтрации
    TnVedResponse:
      title: TnVedResponse
      type: object
      properties:
        code:
          type: string
          description: 10-ти значный код ТН ВЭД
        description:
          type: string
          description: Текстовое описание кода ТН ВЭД

    AGGREGATION_DOCUMENT:
      title: Документ формирования транспортной упаковки
      description: |

        > формат csv
        ```
        Тип документа,ИНН участника оборота товаров
        Документ на агрегацию,5048017499
        КИТУ,Вложеннный КИ/КИТУ
        130255555555555556,010469022979020021BXwmCMy9eaxRi2406405
        130255555555555556,010405915570452921kW4mILsOJ2p7X2406404
        ```

        > XSD схема:
        ```
        <?xml version="1.0" encoding="UTF-8"?>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

            <xs:complexType name="organisation_type">
                <xs:annotation>
                    <xs:documentation>Сведения об участнике факта хозяйственной жизни</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="id_info">
                        <xs:annotation>
                            <xs:documentation>Идентификационные сведения</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:choice>
                                <xs:element name="SP_info" type="SP_info_type">
                                    <xs:annotation>
                                        <xs:documentation>Сведения об индивидуальном предпринимателе</xs:documentation>
                                        <xs:documentation>sole proprietor information</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="LP_info">
                                    <xs:annotation>
                                        <xs:documentation>Сведения о юридическом лице, состоящем на учете в налоговых органах</xs:documentation>
                                        <xs:documentation>legal person information</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:attribute name="org_name" use="required">
                                            <xs:annotation>
                                                <xs:documentation>Наименование полное</xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1"/>
                                                    <xs:maxLength value="1000"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="LP_TIN" type="LP_TIN_type" use="required">
                                            <xs:annotation>
                                                <xs:documentation>ИНН</xs:documentation>
                                                <xs:documentation>taxpayer ID number</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                        <xs:attribute name="RRC" type="RRC_type" use="optional">
                                            <xs:annotation>
                                                <xs:documentation>КПП</xs:documentation>
                                                <xs:documentation> tax registration reason code </xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="foreign_entity">
                                    <xs:annotation>
                                        <xs:documentation>Сведения об иностранном лице, не состоящем на учете в налоговых органах</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:attribute name="org_name" use="required">
                                            <xs:annotation>
                                                <xs:documentation>Наименование полное</xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1"/>
                                                    <xs:maxLength value="1000"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="other_info" use="optional">
                                            <xs:annotation>
                                                <xs:documentation>Иные сведения, идентифицирующие юридическое лицо</xs:documentation>
                                                <xs:documentation>В частности, может быть указана страна при отсутствии country_code</xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1"/>
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="foreign_SP">
                                    <xs:annotation>
                                        <xs:documentation>Сведения об иностранном лице, не состоящем на учете в налоговых органах</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:attribute name="org_name" use="required">
                                            <xs:annotation>
                                                <xs:documentation>Наименование полное</xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1"/>
                                                    <xs:maxLength value="1000"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="other_info" use="optional">
                                            <xs:annotation>
                                                <xs:documentation>Иные сведения, идентифицирующие юридическое лицо</xs:documentation>
                                                <xs:documentation>В частности, может быть указана страна при отсутствии country_code</xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1"/>
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Address" type="Address_type" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Адрес</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="contacts" type="contacts_type" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Контактные сведения</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="OKPO_code" use="optional">
                    <xs:annotation>
                        <xs:documentation>Код в общероссийском классификаторе предприятий и организаций</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="10"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="structural_unit" use="optional">
                    <xs:annotation>
                        <xs:documentation>Структурное подразделение</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="1000"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:complexType>
            <xs:complexType name="SP_info_type">
                <xs:annotation>
                    <xs:documentation>Сведения об индивидуальном предпринимателе</xs:documentation>
                    <xs:documentation>sole proprietor information</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="full_name" type="full_name_type">
                        <xs:annotation>
                            <xs:documentation>Фамилия, Имя, Отчество</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="SP_TIN" type="SP_TIN_type" use="required">
                    <xs:annotation>
                        <xs:documentation>ИНН физического лица</xs:documentation>
                        <xs:documentation>sole proprietor taxpayer identification number</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="reg_sertificate" use="optional">
                    <xs:annotation>
                        <xs:documentation>Реквизиты свидетельства о государственной регистрации индивидуального предпринимателя</xs:documentation>
                        <xs:documentation>Обязателен для случаев подписания счета-фактуры непосредственно продавцом</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="100"/>
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="other_info" use="optional">
                    <xs:annotation>
                        <xs:documentation>Иные сведения, идентифицирующие физическое лицо</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="255"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:complexType>
            <xs:simpleType name="SP_TIN_type">
                <xs:annotation>
                    <xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:length value="12"/>
                    <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="LP_TIN_type">
                <xs:annotation>
                    <xs:documentation>Идентификационный номер налогоплательщика - юридического лица</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:length value="10"/>
                    <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="full_name_type">
                <xs:annotation>
                    <xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
                </xs:annotation>
                <xs:attribute name="surname" use="required">
                    <xs:annotation>
                        <xs:documentation>Фамилия</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="60"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="first_name" use="required">
                    <xs:annotation>
                        <xs:documentation>Имя</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="60"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="patronymic" use="optional">
                    <xs:annotation>
                        <xs:documentation>Отчество</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="60"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:complexType>
            <xs:simpleType name="RRC_type">
                <xs:annotation>
                    <xs:documentation>Код причины постановки на учет (КПП) - 5 и 6 знаки от 0-9 и A-Z</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:length value="9"/>
                    <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3})"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="Address_type">
                <xs:annotation>
                    <xs:documentation>Сведения об адресе</xs:documentation>
                </xs:annotation>
                <xs:choice>
                    <xs:element name="RU_address" type="RU_address_type">
                        <xs:annotation>
                            <xs:documentation>Адрес местонахождения/почтовый адрес (реквизиты адреса на территории Российской Федерации)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="location_address" type="location_address_type">
                        <xs:annotation>
                            <xs:documentation>Адрес местонахождения/почтовый адрес (информация об адресе, в том числе об адресе за пределами территории Российской Федерации)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SAR_code" type="string-36">
                        <xs:annotation>
                            <xs:documentation>Уникальный номер адреса объекта адресации в государственном адресном реестре</xs:documentation>
                            <xs:documentation>addressing object unique code in State Address Registry </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:complexType>
            <xs:complexType name="location_address_type">
                <xs:annotation>
                    <xs:documentation>Информация об адресе, в том числе об адресе за пределами территории Российской Федерации</xs:documentation>
                </xs:annotation>
                <xs:attribute name="country_code" type="RNCC_code" use="required">
                    <xs:annotation>
                        <xs:documentation>Код страны</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="text_address" use="required">
                    <xs:annotation>
                        <xs:documentation>Адрес</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="255"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:complexType>
            <xs:complexType name="RU_address_type">
                <xs:annotation>
                    <xs:documentation>Адрес в Российской Федерации </xs:documentation>
                </xs:annotation>
                <xs:attribute name="zip_code" use="optional">
                    <xs:annotation>
                        <xs:documentation>Индекс</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:length value="6"/>
                            <xs:pattern value="[0-9]{6}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="region_code" use="required">
                    <xs:annotation>
                        <xs:documentation>Код региона</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="CERFR_code"/>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="district_name" use="optional">
                    <xs:annotation>
                        <xs:documentation>Район</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="50"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="city_name" use="optional">
                    <xs:annotation>
                        <xs:documentation>Город</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="50"/>
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="locality_name" use="optional">
                    <xs:annotation>
                        <xs:documentation>Населенный пункт</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="50"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="street_name" use="optional">
                    <xs:annotation>
                        <xs:documentation>Улица</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="50"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="house_number" use="optional">
                    <xs:annotation>
                        <xs:documentation>Дом</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="20"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="bulk_number" use="optional">
                    <xs:annotation>
                        <xs:documentation>Корпус</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="20"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="flat_number" use="optional">
                    <xs:annotation>
                        <xs:documentation>Квартира</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="20"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:complexType>
            <xs:complexType name="contacts_type">
                <xs:annotation>
                    <xs:documentation>Контактные данные</xs:documentation>
                </xs:annotation>
                <xs:attribute name="phone_number" use="optional">
                    <xs:annotation>
                        <xs:documentation>Номер контактного телефона/факс</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="255"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="email" use="optional">
                    <xs:annotation>
                        <xs:documentation>Адрес электронной почты</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="255"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:complexType>
            <xs:simpleType name="CERFR_code">
                <xs:annotation>
                    <xs:documentation>Код из Справочника субъекта Российской Федерации </xs:documentation>
                    <xs:documentation>constituent entity of the Russian Federation registry code </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:length value="2"/>
                    <xs:pattern value="[0-9]{2}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="RNCC_code">
                <xs:annotation>
                    <xs:documentation>Код из Общероссийского классификатора стран мира </xs:documentation>
                    <xs:documentation> RNCC (Russian National Classification of Countries) code </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:length value="3"/>
[...]
