openapi: 3.0.1
info:
  title: Mainframe Cloud zData Service
  description: >
    zData is an API service designed specifically for working with mainframe
    (z/OS) data sources (File Datasets, VSAM, Db2 and IMS).


    zData provides a uniform method for accessing a range of mainframe data
    sources via a high-performance data access layer that interfaces natively
    with z/OS assets in real-time.


    Available functions include READ, LIST and UPDATE. Note UPDATE not available
    on the zSandbox.


    zData empowers a range of data-centric activities, including data
    integration, data migration, business intelligence, analytics, and open
    banking.


    # Example Apps


    [Start
    Fiddling](https://www.mainframecloudplatform.com/rta1/examples/AllData%20JSFIDDLE.html)
    - Use JSFiddle to work with sample code for Db2, VSAM and the z/OS File
    System.


    [Db2 Table
    List](https://www.mainframecloudplatform.com/rta1/examples/AllData%20--%20Db2%20List.html)
    - Display filtered list of Db2 table names.


    [Db2 Unload to
    MySQL](https://www.mainframecloudplatform.com/rta1/examples/AllData%20--%20Db2%20Unload%20to%20MySQL.html)
    - Unload a mainframe Db2 table to a cloud-hosted MySQL database.


    [VSAM Unload to
    MySQL](https://www.mainframecloudplatform.com/rta1/examples/AllData%20--%20VSAM%20Unload%20to%20MySQL.html)
    - Unload a VSAM file to a cloud-hosted MySQL database. A VSAM flat file is
    converted into a structured database table as defined by its associated
    copybook.
  contact:
    email: support@mainframecloud.com.au
  version: '0.2'
servers:
  - url: 'https://www.mainframecloudplatform.com/rta1/rest/zdata'
    description: Mainframe Cloud Sandbox Server
tags:
  - name: read
    description: Mainframe Cloud zData Read Service
  - name: list
    description: Mainframe Cloud zData List Service
paths:
  /read:
    post:
      tags:
        - read
      requestBody:
        description: >-
          The read request object describes the nature of the query and how to
          process the results.


          __For example__


          The "source" field represents the data source to be queried (db2,
          vsam, file).


          The "in" field represents the input entity relevant to the source
          (e.g. db2 table name).


          [Here are some
          examples](https://www.mainframecloudplatform.com/rta1/examples/AllData%20JSFIDDLE.html)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/read_request'
            examples:
              Display Db2 Table:
                value: "{\r\n    \"source\" : \"db2\",\r\n    \"in\" : \"DSN81110.EMP\",\r\n    \"filter\" : {\r\n        \"sql\" : {\r\n            \"where\" : \"SALARY > 30000\",\r\n            \"order\" : \"SALARY DESC\",\r\n            \"fetchfirst\" : 3\r\n        }\r\n    }\r\n}"
              Transfer Db2 Table:
                value: "{\r\n    \"source\" : \"db2\",\r\n    \"in\" : \"DSN81110.EMP\",\r\n    \"filter\" : {\r\n        \"sql\" : {\r\n            \"where\" : \"SALARY > 30000\",\r\n            \"order\" : \"SALARY DESC\",\r\n            \"fetchfirst\" : 3\r\n        }\r\n    },\r\n    \"out\" : {\r\n        \"target\" : {\r\n            \"folder\" : \"sandbox\"\r\n        }\r\n    }\r\n}"
              Display VSAM File:
                value: "{\r\n    \"source\" : \"vsam\",\r\n    \"in\" : \"msp.vsam.emp\",\r\n    \"format\" : {\r\n        \"recordformat\" : \"ASCII\"\r\n    }\r\n}"
              Transform VSAM File:
                value: "{\r\n    \"source\" : \"vsam\",\r\n    \"in\" : \"msp.vsam.emp\",\r\n    \"format\" : {\r\n        \"copybook\" : \"emp.EMP-REC\"\r\n    }\r\n}"
              Display Mainframe Dataset:
                value: "{\r\n    \"source\" : \"file\",\r\n    \"in\" : \"'MSP.VSAM.DATA(REPRO1)'\"\r\n}"
              Transfer Mainframe Dataset:
                value: "{\r\n    \"source\" : \"file\",\r\n    \"in\" : \"'MSP.VSAM.DATA(REPRO1)'\",\r\n    \"out\" : {\r\n        \"target\" : {\r\n            \"folder\" : \"sandbox\"\r\n        }\r\n    }\r\n}"
      responses:
        '200':
          description: zdata read service response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/read_response'
              examples:
                Display Db2 Table:
                  value: |-
                    {
                      "rc": 200,
                      "agentVersion": "ON-DEMAND",
                      "sqlresp": {
                        "table": "DSN81110.EMP",
                        "resultset": [
                          {
                            "column": [
                              {
                                "title": "EMPNO",
                                "type": "CHAR",
                                "nullable": false,
                                "length": 6,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "FIRSTNME",
                                "type": "VARCHAR",
                                "nullable": false,
                                "length": 12,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "MIDINIT",
                                "type": "CHAR",
                                "nullable": false,
                                "length": 1,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "LASTNAME",
                                "type": "VARCHAR",
                                "nullable": false,
                                "length": 15,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "WORKDEPT",
                                "type": "CHAR",
                                "nullable": true,
                                "length": 3,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "PHONENO",
                                "type": "CHAR",
                                "nullable": true,
                                "length": 4,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "HIREDATE",
                                "type": "DATE",
                                "nullable": true,
                                "length": 4,
                                "scale": 0,
                                "ccsid": 0
                              },
                              {
                                "title": "JOB",
                                "type": "CHAR",
                                "nullable": true,
                                "length": 8,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "EDLEVEL",
                                "type": "SMALLINT",
                                "nullable": true,
                                "length": 2,
                                "scale": 0,
                                "ccsid": 0
                              },
                              {
                                "title": "SEX",
                                "type": "CHAR",
                                "nullable": true,
                                "length": 1,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "BIRTHDATE",
                                "type": "DATE",
                                "nullable": true,
                                "length": 4,
                                "scale": 0,
                                "ccsid": 0
                              },
                              {
                                "title": "SALARY",
                                "type": "DECIMAL",
                                "nullable": true,
                                "length": 9,
                                "scale": 2,
                                "ccsid": 0
                              },
                              {
                                "title": "BONUS",
                                "type": "DECIMAL",
                                "nullable": true,
                                "length": 9,
                                "scale": 2,
                                "ccsid": 0
                              },
                              {
                                "title": "COMM",
                                "type": "DECIMAL",
                                "nullable": true,
                                "length": 9,
                                "scale": 2,
                                "ccsid": 0
                              }
                            ],
                            "row": [
                              [
                                "000010",
                                "CHRISTINE   ",
                                "I",
                                "HAAS           ",
                                "A00 ",
                                "3978 ",
                                "1965-01-01 ",
                                "PRES     ",
                                18,
                                "F ",
                                "1933-08-14 ",
                                "52750.00    ",
                                "1000.00     ",
                                "4220.00     "
                              ],
                              [
                                "200010",
                                "DIAN        ",
                                "J",
                                "HEMMINGER      ",
                                "A00 ",
                                "3978 ",
                                "1965-01-01 ",
                                "SALESREP ",
                                18,
                                "F ",
                                "1933-08-14 ",
                                "46500.00    ",
                                "1000.00     ",
                                "4220.00     "
                              ],
                              [
                                "000110",
                                "VINCENZO    ",
                                "G",
                                "LUCCHESI       ",
                                "A00 ",
                                "3490 ",
                                "1958-05-16 ",
                                "SALESREP ",
                                19,
                                "M ",
                                "1929-11-05 ",
                                "46500.00    ",
                                "900.00      ",
                                "3720.00     "
                              ]
                            ]
                          }
                        ],
                        "message": [
                          "UNLOAD COMPLETE. Unloaded 3 rows. Elapsed time = 0.270285 seconds.microseconds"
                        ]
                      }
                    }
                Transfer Db2 Table:
                  value: |-
                    {
                      "rc": 200,
                      "agentVersion": "ON-DEMAND",
                      "sqlresp": {
                        "table": "DSN81110.EMP",
                        "target": {
                          "folder": "/cust/zizisoftware/home/webapps/ws/uploads/",
                          "csvfile": true,
                          "file": "https://www.mainframecloudplatform.com/ws/uploads/DSN81110.EMP.m03d26.h10m55.s15m560.csv"
                        },
                        "resultset": [
                          {
                            "column": [
                              {
                                "title": "EMPNO",
                                "type": "CHAR",
                                "nullable": false,
                                "length": 6,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "FIRSTNME",
                                "type": "VARCHAR",
                                "nullable": false,
                                "length": 12,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "MIDINIT",
                                "type": "CHAR",
                                "nullable": false,
                                "length": 1,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "LASTNAME",
                                "type": "VARCHAR",
                                "nullable": false,
                                "length": 15,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "WORKDEPT",
                                "type": "CHAR",
                                "nullable": true,
                                "length": 3,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "PHONENO",
                                "type": "CHAR",
                                "nullable": true,
                                "length": 4,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "HIREDATE",
                                "type": "DATE",
                                "nullable": true,
                                "length": 4,
                                "scale": 0,
                                "ccsid": 0
                              },
                              {
                                "title": "JOB",
                                "type": "CHAR",
                                "nullable": true,
                                "length": 8,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "EDLEVEL",
                                "type": "SMALLINT",
                                "nullable": true,
                                "length": 2,
                                "scale": 0,
                                "ccsid": 0
                              },
                              {
                                "title": "SEX",
                                "type": "CHAR",
                                "nullable": true,
                                "length": 1,
                                "scale": 0,
                                "ccsid": 1047
                              },
                              {
                                "title": "BIRTHDATE",
                                "type": "DATE",
                                "nullable": true,
                                "length": 4,
                                "scale": 0,
                                "ccsid": 0
                              },
                              {
                                "title": "SALARY",
                                "type": "DECIMAL",
                                "nullable": true,
                                "length": 9,
                                "scale": 2,
                                "ccsid": 0
                              },
                              {
                                "title": "BONUS",
                                "type": "DECIMAL",
                                "nullable": true,
                                "length": 9,
                                "scale": 2,
                                "ccsid": 0
                              },
                              {
                                "title": "COMM",
                                "type": "DECIMAL",
                                "nullable": true,
                                "length": 9,
                                "scale": 2,
                                "ccsid": 0
                              }
                            ]
                          }
                        ],
                        "message": [
                          "UNLOAD COMPLETE. Unloaded 3 rows. Elapsed time = 0.308653 seconds.microseconds",
                          "TRANSFER COMPLETE. Total transferred = 1 KB. Elapsed time = 146 ms"
                        ]
                      }
                    }
                Display VSAM File:
                  value: "{\n  \"rc\": 200,\n  \"agentVersion\": \"ON-DEMAND\",\n  \"vsamresp\": {\n    \"cmd\": \"read\",\n    \"fh\": 15,\n    \"data\": [\n      \"000300PHILIP    XSMITH     E1120951972-06-19OPERATOR\\u0000\\u000eM1936-10-271775000400\\u0001â\\u0000\\u000f \",\n      \"000310MAUDE     FSETRIGHT  E1133321964-09-12OPERATOR\\u0000\\fF1931-04-211590000300\\u0001\\u001b\x80\\u000f \",\n      \"000320RAMLAL    VMEHTA     E2199901965-07-07FIELDREP\\u0000\\u0010M1932-08-111995000400\\u0001ß-\\u000f \",\n      \"000330WING       LEE       E2121031976-02-23FIELDREP\\u0000\\u000eM1941-07-182537000500\\u0002\\u0003\\u0000\\u000f \",\n      \"000340JASON     RGOUNOT    E2156981947-05-05FIELDREP\\u0000\\u0010M1926-05-172384000500\\u0001°ø\\u000f \"\n    ],\n    \"numrecs\": 5,\n    \"eof\": \"yes\",\n    \"rba\": \"A00\",\n    \"rc\": 4\n  }\n}"
                Transform VSAM File:
                  value: |-
                    {
                      "rc": 200,
                      "agentVersion": "ON-DEMAND",
                      "vsamresp": {
                        "cmd": "read",
                        "fh": 26,
                        "datatype": {
                          "EMP-REC": {
                            "group": {
                              "EMPNO": {
                                "type": "INT",
                                "width": 6
                              },
                              "FIRSTNME": {
                                "type": "CHAR",
                                "width": 10
                              },
                              "MIDINIT": {
                                "type": "CHAR",
                                "width": 1
                              },
                              "LASTNAME": {
                                "type": "CHAR",
                                "width": 10
                              }
                            }
                          }
                        },
                        "data": [
                          {
                            "EMP-REC": {
                              "EMPNO": "000300",
                              "FIRSTNME": "PHILIP    ",
                              "MIDINIT": "X",
                              "LASTNAME": "SMITH     "
                            }
                          },
                          {
                            "EMP-REC": {
                              "EMPNO": "000310",
                              "FIRSTNME": "MAUDE     ",
                              "MIDINIT": "F",
                              "LASTNAME": "SETRIGHT  "
                            }
                          },
                          {
                            "EMP-REC": {
                              "EMPNO": "000320",
                              "FIRSTNME": "RAMLAL    ",
                              "MIDINIT": "V",
                              "LASTNAME": "MEHTA     "
                            }
                          },
                          {
                            "EMP-REC": {
                              "EMPNO": "000330",
                              "FIRSTNME": "WING      ",
                              "MIDINIT": " ",
                              "LASTNAME": "LEE       "
                            }
                          },
                          {
                            "EMP-REC": {
                              "EMPNO": "000340",
                              "FIRSTNME": "JASON     ",
                              "MIDINIT": "R",
                              "LASTNAME": "GOUNOT    "
                            }
                          }
                        ],
                        "numrecs": 5,
                        "eof": "yes",
                        "rba": "A00",
                        "message": [
                          "string"
                        ],
                        "rc": 4
                      }
                    }
                Display Mainframe Dataset:
                  value: |-
                    {
                      "rc": 200,
                      "agentVersion": "ON-DEMAND",
                      "cmdresp": {
                        "data": [
                          "10010TOM  USR400",
                          "10020MARK USR300",
                          "10030MARK USR200",
                          "10040BILL USR100",
                          "10060HARRYUSR405",
                          "10070JILL USR404"
                        ],
                        "file": "'MSP.VSAM.DATA(REPRO1)'"
                      }
                    }
                Transfer Mainframe Dataset:
                  value: |-
                    {
                      "rc": 200,
                      "agentVersion": "ON-DEMAND",
                      "cmdresp": {
                        "file": "'MSP.VSAM.DATA(REPRO1)'",
                        "target": {
                          "folder": "/cust/zizisoftware/home/webapps/ws/uploads/",
                          "file": "https://www.mainframecloudplatform.com/ws/uploads/MSP.VSAM.DATA_REPRO1_.m03d27.h00m09.s25m652.txt"
                        },
                        "message": [
                          "TRANSFER COMPLETE. Total transferred = 1 KB. Elapsed time = 160 ms"
                        ]
                      }
                    }
  /list:
    post:
      tags:
        - list
      requestBody:
        description: >-
          The list request object describes the nature of the query and how to
          process the results.


          __For example__


          The "source" field represents the data source to be queried (db2,
          file).


          The "in" field represents the input entity relevant to the source
          (e.g. db2 table name).


          [Here are some
          examples](https://www.mainframecloudplatform.com/rta1/examples/AllData%20JSFIDDLE.html)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/list_request'
            examples:
              Get Db2 Table List:
                value: "{\r\n    \"source\" : \"db2\",\r\n    \"filter\" : {\r\n        \"prefix\" : \"DSN8%.V%\"\r\n    }\r\n}"
              Get Db2 Table Column List:
                value: "{\r\n    \"source\" : \"db2\",\r\n    \"in\" : \"DSN81110.EMP\"\r\n}"
              Get Dataset List:
                value: "{\r\n    \"source\" : \"file\",\r\n    \"filter\" : {\r\n        \"prefix\" : \"MSP.VSAM\"\r\n    }\r\n}"
              Get Dataset Information:
                value: "{\r\n    \"source\" : \"file\",\r\n    \"in\" : \"MSP.VSAM.DATA\"\r\n}"
      responses:
        '200':
          description: zdata list service response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_response'
              examples:
                Get Db2 Table List:
                  value: |-
                    {
                      "rc": 200,
                      "agentVersion": "ON-DEMAND",
                      "sqlresp": {
                        "sql": "SELECT CREATOR, NAME, TYPE FROM SYSIBM.SYSTABLES WHERE TYPE IN ('T', 'V') AND CREATOR LIKE 'DSN8%' AND NAME LIKE 'V%' ORDER BY 1,2",
                        "resultset": [
                          {
                            "column": [
                              {
                                "title": "CREATOR",
                                "type": "VARCHAR",
                                "nullable": false,
                                "length": 128,
                                "ccsid": 1208
                              },
                              {
                                "title": "NAME",
                                "type": "VARCHAR",
                                "nullable": false,
                                "length": 128,
                                "ccsid": 1208
                              },
                              {
                                "title": "TYPE",
                                "type": "CHAR",
                                "nullable": false,
                                "length": 1,
                                "ccsid": 1208
                              }
                            ],
                            "row": [
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VACT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VASTRDE1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VASTRDE2",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VCONA",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VDEPMG1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VDEPT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VDSPTXT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VEMP",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VEMPDPT1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VEMPLP",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VEMPPROJACT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VFORPLA",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VHDEPT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VOPTVAL",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VPHONE",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VPROJ",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VPROJACT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VPROJRE1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VPSTRDE1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VPSTRDE2",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VSTAFAC1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN81110",
                                "NAME": "VSTAFAC2",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VACT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VASTRDE1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VASTRDE2",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VCONA",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VDEPMG1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VDEPT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VDSPTXT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VEMP",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VEMPDPT1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VEMPLP",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VEMPPROJACT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VFORPLA",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VHDEPT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VOPTVAL",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VPHONE",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VPROJ",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VPROJACT",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VPROJRE1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VPSTRDE1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VPSTRDE2",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VSTAFAC1",
                                "TYPE": "V"
                              },
                              {
                                "CREATOR": "DSN8B10",
                                "NAME": "VSTAFAC2",
                                "TYPE": "V"
                              }
                            ]
                          }
                        ],
                        "firstrow": 1,
                        "lastrow": 44,
                        "more": false,
                        "sqlcode": 0
                      }
                    }
                Get Db2 Table Column List:
                  value: |-
                    {
                      "rc": 200,
                      "agentVersion": "ON-DEMAND",
                      "sqlresp": {
                        "sql": "SELECT NAME, COLTYPE, LENGTH, SCALE, CCSID, NULLS FROM SYSIBM.SYSCOLUMNS WHERE TBCREATOR = 'DSN81110' AND TBNAME = 'EMP'",
                        "resultset": [
                          {
                            "column": [
                              {
                                "title": "NAME",
                                "type": "VARCHAR",
                                "nullable": false,
                                "length": 128,
                                "ccsid": 1208
                              },
                              {
                                "title": "COLTYPE",
                                "type": "CHAR",
                                "nullable": false,
                                "length": 8,
                                "ccsid": 1208
                              },
                              {
                                "title": "LENGTH",
                                "type": "SMALLINT",
                                "nullable": false,
                                "length": 2
                              },
                              {
                                "title": "SCALE",
                                "type": "SMALLINT",
                                "nullable": false,
                                "length": 2
                              },
                              {
                                "title": "CCSID",
                                "type": "INTEGER",
                                "nullable": false,
                                "length": 4
                              },
                              {
                                "title": "NULLS",
                                "type": "CHAR",
                                "nullable": false,
                                "length": 1,
                                "ccsid": 1208
                              }
                            ],
                            "row": [
                              {
                                "NAME": "EMPNO",
                                "COLTYPE": "CHAR",
                                "LENGTH": 6,
                                "SCALE": 0,
                                "CCSID": 1047,
                                "NULLS": "N"
                              },
                              {
                                "NAME": "FIRSTNME",
                                "COLTYPE": "VARCHAR",
                                "LENGTH": 12,
                                "SCALE": 0,
                                "CCSID": 1047,
                                "NULLS": "N"
                              },
                              {
                                "NAME": "MIDINIT",
                                "COLTYPE": "CHAR",
                                "LENGTH": 1,
                                "SCALE": 0,
                                "CCSID": 1047,
                                "NULLS": "N"
                              },
                              {
                                "NAME": "LASTNAME",
                                "COLTYPE": "VARCHAR",
                                "LENGTH": 15,
                                "SCALE": 0,
                                "CCSID": 1047,
                                "NULLS": "N"
                              },
                              {
                                "NAME": "WORKDEPT",
                                "COLTYPE": "CHAR",
                                "LENGTH": 3,
                                "SCALE": 0,
                                "CCSID": 1047,
                                "NULLS": "Y"
                              },
                              {
                                "NAME": "PHONENO",
                                "COLTYPE": "CHAR",
                                "LENGTH": 4,
                                "SCALE": 0,
                                "CCSID": 1047,
                                "NULLS": "Y"
                              },
                              {
                                "NAME": "HIREDATE",
                                "COLTYPE": "DATE",
                                "LENGTH": 4,
                                "SCALE": 0,
                                "CCSID": 0,
                                "NULLS": "Y"
                              },
                              {
                                "NAME": "JOB",
                                "COLTYPE": "CHAR",
                                "LENGTH": 8,
                                "SCALE": 0,
                                "CCSID": 1047,
                                "NULLS": "Y"
                              },
                              {
                                "NAME": "EDLEVEL",
                                "COLTYPE": "SMALLINT",
                                "LENGTH": 2,
                                "SCALE": 0,
                                "CCSID": 0,
                                "NULLS": "Y"
                              },
                              {
                                "NAME": "SEX",
                                "COLTYPE": "CHAR",
                                "LENGTH": 1,
                                "SCALE": 0,
                                "CCSID": 1047,
                                "NULLS": "Y"
                              },
                              {
                                "NAME": "BIRTHDATE",
                                "COLTYPE": "DATE",
                                "LENGTH": 4,
                                "SCALE": 0,
                                "CCSID": 0,
                                "NULLS": "Y"
                              },
                              {
                                "NAME": "SALARY",
                                "COLTYPE": "DECIMAL",
                                "LENGTH": 9,
                                "SCALE": 2,
                                "CCSID": 0,
                                "NULLS": "Y"
                              },
                              {
                                "NAME": "BONUS",
                                "COLTYPE": "DECIMAL",
                                "LENGTH": 9,
                                "SCALE": 2,
                                "CCSID": 0,
                                "NULLS": "Y"
                              },
                              {
                                "NAME": "COMM",
                                "COLTYPE": "DECIMAL",
                                "LENGTH": 9,
                                "SCALE": 2,
                                "CCSID": 0,
                                "NULLS": "Y"
                              }
                            ]
                          }
                        ],
                        "firstrow": 1,
                        "lastrow": 14,
                        "more": false,
                        "sqlcode": 0
                      }
                    }
                Get Dataset List:
                  value: |-
                    {
                      "rc": 200,
                      "agentVersion": "ON-DEMAND",
                      "cmdresp": {
                        "data": [
                          "NONVSAM    -- MSP.VSAM.COPYBOOK                           ",
                          "NONVSAM    -- MSP.VSAM.DATA                               ",
                          "NONVSAM    -- MSP.VSAM.DATA80                             ",
                          "CLUSTER    -- MSP.VSAM.EMP                                ",
                          "DATA       -- MSP.VSAM.EMP.DATA                           ",
                          "INDEX      -- MSP.VSAM.EMP.INDEX                          ",
                          "CLUSTER    -- MSP.VSAM.ESDS1                              ",
                          "DATA       -- MSP.VSAM.ESDS1.DATA                         ",
                          "NONVSAM    -- MSP.VSAM.JCL                                ",
                          "CLUSTER    -- MSP.VSAM.KSDS1                              ",
                          "DATA       -- MSP.VSAM.KSDS1.DATA                         ",
                          "INDEX      -- MSP.VSAM.KSDS1.INDEX                        ",
                          "AIX        -- MSP.VSAM.AIX1                               ",
                          "DATA       -- MSP.VSAM.AIX1.DATA                          ",
                          "INDEX      -- MSP.VSAM.AIX1.INDEX                         ",
                          "AIX        -- MSP.VSAM.AIX2                               ",
                          "DATA       -- MSP.VSAM.AIX2.DATA                          ",
                          "INDEX      -- MSP.VSAM.AIX2.INDEX                         ",
                          "CLUSTER    -- MSP.VSAM.KSDS1K                             ",
                          "DATA       -- MSP.VSAM.KSDS1K.DATA                        ",
                          "INDEX      -- MSP.VSAM.KSDS1K.INDEX                       ",
                          "PATH       -- MSP.VSAM.PATH1                              ",
                          "PATH       -- MSP.VSAM.PATH2                              "
                        ]
                      }
                    }
                Get Dataset Information:
                  value: |-
                    {
                      "rc": 200,
                      "agentVersion": "ON-DEMAND",
                      "cmdresp": {
                        "dataset": "MSP.VSAM.DATA",
                        "data": [
                          "--RECFM-LRECL-BLKSIZE-DSORG",
                          "   FB 16 27984 PO",
                          "--VOLUMES",
                          "WORK07",
                          "--UNITS-PRIMARY-SECONDARY-ALLOCATED-USED-EXTENTS",
                          "   TRACK 1 0 1 1 1",
                          "--DIR_BLKS-USED_DIR",
                          "   1 1",
                          "--MEMBERS",
                          "  DEFCL   ",
                          "  REPRO1  ",
                          "  REPRO1K ",
                          "--MEMBERS_TOTAL",
                          "  3"
                        ]
                      }
                    }
components:
  schemas:
    read_request:
      type: object
      required:
        - source
        - in
      properties:
        source:
          description: 'Options include db2, file, vsam.'
          type: string
          example: db2
        in:
          description: >-
            The input to read, e.g. table name for source db2, dataset name for
            source file.
          type: string
          example: DSN81110.EMP
        ssid:
          description: >-
            The z/OS Db2 subsystem identifier you wish to interrogate. Note:
            This is not required if running on the Mainframe Cloud Sandbox.
          type: string
          example: DBBG
        filter:
          description: Optional for source db2.
          type: object
          properties:
            sql:
              type: object
              properties:
                where:
                  description: The SQL WHERE clause to filter the query.
                  type: string
                  example: SALARY > 30000
                order:
                  description: The SQL ORDER BY clause to sort the response.
                  type: string
                  example: SALARY DESC
                fetchfirst:
                  description: The SQL FETCH FIRST clause value used to limit the response.
                  type: integer
                  format: int32
                  example: 3
        format:
          description: Optional for source vsam.
          type: object
          properties:
            recordformat:
              description: 'Options include ASCII, HEX, BASE64, EBCDIC.'
              type: string
              example: ASCII
              default: ASCII
            copybook:
              description: Overrides recordformat request field.
              type: string
              example: emp.EMP-REC
        out:
          description: 'Optional for source db2, file.'
          type: object
          properties:
            target:
              type: object
              properties:
                folder:
                  description: >-
                    The target folder destination. If specified, the data is
                    saved to the target folder; otherwise, the data is returned
                    in the JSON response object. 


                    For source db2; the table data is saved to the target folder
                    as a CSV file; otherwise, the data is saved as a text file. 


                    Note: The Mainframe Cloud Sandbox endpoint only allows
                    target folder 'sandbox'.
                  type: string
    read_response:
      type: object
      properties:
        vsamresp:
          type: object
          properties:
            cmd:
              description: The VSAM command executed.
              type: string
              example: read
            fh:
              description: The VSAM command file handle (internal read service use).
              type: integer
              format: int32
              example: 26
            datatype:
              description: Returned for copybook requests.
              type: object
              example:
                EMP-REC:
                  group:
                    EMPNO:
                      type: INT
                      width: 6
                    FIRSTNME:
                      type: CHAR
                      width: 10
                    MIDINIT:
                      type: CHAR
                      width: 1
                    LASTNAME:
                      type: CHAR
                      width: 10
              properties:
                record:
                  type: object
                  properties:
                    group:
                      type: object
                      properties:
                        field:
                          type: object
                          properties:
                            type:
                              type: string
                            width:
                              type: integer
                              format: int32
            data:
              description: >-
                For copybook requests, this is an array of objects described in
                datatype (see 'Transform VSAM File' example). All other requests
                return a string array (see 'Display VSAM File' example).
              type: array
              items:
                type: object
                example:
                  EMP-REC:
                    EMPNO: '000300'
                    FIRSTNME: 'PHILIP    '
                    MIDINIT: X
                    LASTNAME: 'SMITH     '
            numrecs:
              description: The count of records returned.
              type: integer
              format: int32
              example: 5
            eof:
              description: Returned when end of file is reached.
              type: string
              example: 'yes'
            rba:
              description: The RBA key of the last record read.
              type: string
              example: A00
            rc:
              description: >-
                Return code. Note rc 4 is returned when the read service reaches
                the end of file.
              type: integer
              format: int32
            message:
              type: array
              items:
                type: string
        sqlresp:
          description: >-
            [Click
            here](https://www.mainframecloudplatform.com/runtime/doc/Read-Response.html)
            for a detailed description of the response object fields.
          type: object
          properties:
            table:
              type: string
              example: DSN81110.EMP
            target:
              description: Returned for requests where target is specified.
              type: object
              properties:
                folder:
                  type: string
                file:
                  type: string
            resultset:
              type: array
              items:
                type: object
                properties:
                  column:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        type:
                          type: string
                        nullable:
                          type: boolean
                        length:
                          type: integer
                          format: int32
                        scale:
                          type: integer
                          format: int32
                        ccsid:
                          type: integer
                          format: int32
                  row:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
            message:
              type: array
              items:
                type: string
        cmdresp:
          type: object
          properties:
            data:
              type: array
              items:
                type: string
            file:
              type: string
            target:
              description: Returned for requests where target is specified.
              type: object
              properties:
                folder:
                  type: string
                file:
                  type: string
            message:
              type: array
              items:
                type: string
    list_request:
      type: object
      required:
        - source
      properties:
        source:
          description: 'Options include db2, file.'
          type: string
          example: db2
        in:
          description: >-
            Optional for file dataset information, or Db2 table column list (see
            examples for details).  Overrides filter.prefix request field.
          type: string
          example: DSN81110.EMP
        ssid:
          description: >-
            The z/OS Db2 subsystem identifier you wish to interrogate. Note:
            This is not required if running on the Mainframe Cloud Sandbox.
          type: string
          example: DBBG
        filter:
          description: >-
            Optional for file dataset list (see 'Get Dataset List' example), or
            Db2 table list (see 'Get Db2 Table List' example).
          type: object
          properties:
            prefix:
              description: |-
                The required syntax for the prefix field is as follows: 

                 For source db2; SQL WHERE clause, i.e. 'WHERE ... LIKE _prefix_'. 

                 For source file; TSO LISTCAT command LEVEL operand; [click here](https://www.ibm.com/support/knowledgecenter/en/SSLTBW_2.1.0/com.ibm.zos.v2r1.ikjc500/listcat.htm) for details.
              type: string
              example: DSN8%.V%
    list_response:
      type: object
      properties:
        sqlresp:
          description: >-
            [Click
            here](https://www.mainframecloudplatform.com/runtime/doc/List-Response.html)
            for a detailed description of the response object fields.
          type: object
          properties:
            resultset:
              type: array
              items:
                type: object
                properties:
                  column:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        type:
                          type: string
                        nullable:
                          type: boolean
                        length:
                          type: integer
                          format: int32
                        ccsid:
                          type: integer
                          format: int32
                  row:
                    type: array
                    items:
                      type: object
                      properties:
                        CREATOR:
                          type: string
                        NAME:
                          type: string
                        TYPE:
                          type: string
                        COLTYPE:
                          type: string
                        LENGTH:
                          type: integer
                          format: int32
                        SCALE:
                          type: integer
                          format: int32
                        CCSID:
                          type: integer
                          format: int32
                        NULLS:
                          type: string
            message:
              type: array
              items:
                type: string
        cmdresp:
          type: object
          properties:
            dataset:
              description: >-
                Returned for requests where the in field is populated (input
                dataset).
              type: string
            data:
              description: >-
                For requests where filter.prefix is specified, this returns a
                string array of datasets. This is the result of the IBM z/OS TSO
                LISTCAT command with LEVEL operand, [click
                here](https://www.ibm.com/support/knowledgecenter/en/SSLTBW_2.1.0/com.ibm.zos.v2r1.ikjc500/listcat.htm)
                for details. 


                For requests where the in field is populated (input dataset),
                this returns dataset information for the request input dataset.
                This is the result of the IBM z/OS TSO LISTDS command with
                MEMBERS operand, [click
                here](https://www.ibm.com/support/knowledgecenter/en/SSLTBW_2.1.0/com.ibm.zos.v2r1.ikjc500/listds.htm)
                for details.
              type: array
              items:
                type: string