openapi: 3.0.1
info:
  title: OPAP Horseraces API
  description: |
    This is a simple API to get information from the `OPAP Horseraces Database
    Server` and deliver it to their [website](https://www.markopoulopark.gr).
    
    API: [Source](https://app.swaggerhub.com/apis/ZachariouV/OPAP-Horseraces-API)
    
    API: [Documentation](https://app.swaggerhub.com/apis-docs/ZachariouV/OPAP-Horseraces-API)
  contact:
    name: Zachariou Vasileios
    email: zachariouv@outlook.com
  version: "3.2.0"
servers:
  - url: 'http://zachariouv.tk:8080'
  - url: 'https://api.markopoulopark.gr'
  - url: 'http://api.markopoulopark.gr'
tags:
  - name: racecards
    description: Dates of next races
  - name: results
    description: Dates of previous races' results
  - name: meeting
    description: Meeting's race info
  - name: race
    description: Everything about a race (cards & resutls)
  - name: changesdeletions
    description: Jockey changes and horse deletions of meeting
  - name: horse
    description: Everything about a horse
  - name: search
    description: Names of entities
  - name: statshorses
    description: Statistics of horses
  - name: statsjockeys
    description: Statistics of jockeys
  - name: statsowners
    description: Statistics of owners
  - name: statstrainers
    description: Statistics of trainers
  - name: statsdistance
    description: Statistics of distance
  - name: statsracejockey
    description: Statistics of jockey in race
  - name: statsracetrainer
    description: Statistics of trainer in race
paths:
  /gr/racecards:
    get:
      tags:
        - racecards
      summary: Find 10 latest racecard in greek
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RacecardsGR'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /en/racecards:
    get:
      tags:
        - racecards
      summary: Find 10 latest racecard in english
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RacecardsEN'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/gr/results{year}':
    get:
      tags:
        - results
      summary: Find 10 latest results in greek
      parameters:
        - $ref: '#/components/parameters/year'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsGR'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/en/results{year}':
    get:
      tags:
        - results
      summary: Find 10 latest results in english
      parameters:
        - $ref: '#/components/parameters/year'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsEN'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/gr/meeting/id/{id}':
    get:
      tags:
        - meeting
      summary: Find meeting by id in greek
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingGR'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/en/meeting/id/{id}':
    get:
      tags:
        - meeting
      summary: Find meeting by id in english
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingEN'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/gr/meeting/{date}':
    get:
      tags:
        - meeting
      summary: Find meeting by date in greek
      parameters:
        - $ref: '#/components/parameters/date'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingGR'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/en/meeting/{date}':
    get:
      tags:
        - meeting
      summary: Find meeting by date in english
      parameters:
        - $ref: '#/components/parameters/date'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingEN'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/gr/race/id/{id}':
    get:
      tags:
        - race
      summary: Find race by id in greek
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaceGR'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/en/race/id/{id}':
    get:
      tags:
        - race
      summary: Find race by id in english
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaceEN'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/gr/race/{date}/{number}':
    get:
      tags:
        - race
      summary: Find race by date & number in greek
      parameters:
        - $ref: '#/components/parameters/date'
        - $ref: '#/components/parameters/number'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaceGR'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/en/race/{date}/{number}':
    get:
      tags:
        - race
      summary: Find race by date & number in english
      parameters:
        - $ref: '#/components/parameters/date'
        - $ref: '#/components/parameters/number'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaceEN'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/gr/changesdeletions/id/{id}':
    get:
      tags:
        - changesdeletions
      summary: Find changes & deletions by id in greek
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangesDeletionsGR'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/en/changesdeletions/id/{id}':
    get:
      tags:
        - changesdeletions
      summary: Find changes & deletions by id in english
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangesDeletionsEN'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/gr/changesdeletions/{date}':
    get:
      tags:
        - changesdeletions
      summary: Find changes & deletions by date in greek
      parameters:
        - $ref: '#/components/parameters/date'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangesDeletionsGR'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/en/changesdeletions/{date}':
    get:
      tags:
        - changesdeletions
      summary: Find changes & deletions by date in english
      parameters:
        - $ref: '#/components/parameters/date'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangesDeletionsEN'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/gr/horse/id/{id}':
    get:
      tags:
        - horse
      summary: Find horse by id in greek
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HorseGR'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/en/horse/id/{id}':
    get:
      tags:
        - horse
      summary: Find horse by id in english
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HorseEN'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/gr/search/{name}':
    get:
      tags:
        - search
      summary: Find entities by name in greek
      parameters:
        - $ref: '#/components/parameters/nameGR'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchGR'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/en/search/{name}':
    get:
      tags:
        - search
      summary: Find entities by name in english
      parameters:
        - $ref: '#/components/parameters/nameEN'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchEN'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/gr/statshorses/{year}':
    get:
      tags:
        - statshorses
      summary: Find horses' stats by year in greek
      parameters:
        - $ref: '#/components/parameters/year'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsHorsesGR'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/en/statshorses/{year}':
    get:
      tags:
        - statshorses
      summary: Find horses' stats by year in english
      parameters:
        - $ref: '#/components/parameters/year'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsHorsesEN'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/gr/statsjockeys/{year}':
    get:
      tags:
        - statsjockeys
      summary: Find jockeys' stats by year in greek
      parameters:
        - $ref: '#/components/parameters/year'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsJockeysGR'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/en/statsjockeys/{year}':
    get:
      tags:
        - statsjockeys
      summary: Find jockeys' stats by year in english
      parameters:
        - $ref: '#/components/parameters/year'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsJockeysEN'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/gr/statsowners/{year}':
    get:
      tags:
        - statsowners
      summary: Find owners' stats by year in greek
      parameters:
        - $ref: '#/components/parameters/year'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsOwnersGR'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/en/statsowners/{year}':
    get:
      tags:
        - statsowners
      summary: Find owners' stats by year in english
      parameters:
        - $ref: '#/components/parameters/year'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsOwnersEN'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/gr/statstrainers/{year}':
    get:
      tags:
        - statstrainers
      summary: Find trainers' stats by year in greek
      parameters:
        - $ref: '#/components/parameters/year'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsTrainersGR'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/en/statstrainers/{year}':
    get:
      tags:
        - statstrainers
      summary: Find trainers' stats by year in english
      parameters:
        - $ref: '#/components/parameters/year'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsTrainersEN'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/statsdistance/{distance}':
    get:
      tags:
        - statsdistance
      summary: Find distance's stats by distance
      parameters:
        - $ref: '#/components/parameters/distance'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsDistance'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/gr/statsracejockey/{raceId}/{horseId}':
    get:
      tags:
        - statsracejockey
      summary: Find jockey's stats by race and id in greek
      parameters:
        - $ref: '#/components/parameters/raceId'
        - $ref: '#/components/parameters/horseId'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsRaceJockeyGR'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/en/statsracejockey/{raceId}/{horseId}':
    get:
      tags:
        - statsracejockey
      summary: Find jockey's stats by race and id in english
      parameters:
        - $ref: '#/components/parameters/raceId'
        - $ref: '#/components/parameters/horseId'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsRaceJockeyEN'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/gr/statsracetrainer/{raceId}/{horseId}':
    get:
      tags:
        - statsracetrainer
      summary: Find trainer's stats by race and id in greek
      parameters:
        - $ref: '#/components/parameters/raceId'
        - $ref: '#/components/parameters/horseId'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsRaceTrainerGR'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/en/statsracetrainer/{raceId}/{horseId}':
    get:
      tags:
        - statsracetrainer
      summary: Find trainer's stats by race and id in english
      parameters:
        - $ref: '#/components/parameters/raceId'
        - $ref: '#/components/parameters/horseId'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsRaceTrainerEN'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
components:
  parameters:
    id:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    date:
      name: date
      in: path
      required: true
      schema:
        type: string
        format: date
    number:
      name: number
      in: path
      required: true
      schema:
        type: integer
        format: int32
    nameGR:
      name: name
      description: Must be greek alphabetic over 3 characters
      in: path
      required: true
      schema:
        type: string
        pattern: '^[\u0386-\u03CD ]{3,}$'
    nameEN:
      name: name
      description: Must be english alphabetic over 3 characters
      in: path
      required: true
      schema:
        type: string
        pattern: '^[A-z ]{3,}$'
    year:
      name: year
      description: Must be greater than 2016
      in: path
      required: true
      schema:
        type: integer
        format: int32
        minimum: 2016
    distance:
      name: distance
      in: path
      required: true
      schema:
        type: integer
        format: int32
    raceId:
      name: raceId
      in: path
      required: true
      schema:
        type: integer
        format: int64
    horseId:
      name: horseId
      in: path
      required: true
      schema:
        type: integer
        format: int64
  responses:
    '400':
      description: Invalid parameter supplied
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                description: 400 error response
                default: Invalid parameter supplied
            example:
              error: Invalid parameter supplied
    '404':
      description: Item not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                description: 404 error response
                default: Item not found
            example:
              error: Item not found
    '500':
      description: An unexpected error occured
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                description: 500 error response
                default: An unexpected error occured
            example:
              error: An unexpected error occured
  schemas:
    RacecardsGR:
      allOf:
        - $ref: '#/components/schemas/Racecards'
      example:
        - meetingId: 2303
          date: '2020-03-15'
          dayMonth: 15η Μαρτίου
          day: Κυριακή
          track: Markopoulo Park
          meetingNumber: 11
          fromYearNumber: 86
          toYearNumber: 94
    RacecardsEN:
      allOf:
        - $ref: '#/components/schemas/Racecards'
      example:
        - meetingId: 2303
          date: '2020-03-15'
          dayMonth: March 15
          day: Sunday
          track: Markopoulo Park
          meetingNumber: 11
          fromYearNumber: 86
          toYearNumber: 94
    Racecards:
      type: array
      description: Array of meetings
      items:
        type: object
        properties:
          meetingId:
            type: integer
            format: int64
            description: Unique id of meeting
          date:
            type: string
            format: date
            description: Date of meeting
          dayMonth:
            type: string
            description: Day and Month of meeting
          day:
            type: string
            description: Day of meeting
          track:
            type: string
            description: Hippodrome of meeting
          meetingNumber:
            type: integer
            format: int32
            description: Yearly number of meeting
          fromYearNumber:
            type: integer
            format: int32
            description: Starting race yearly number of meeting
          toYearNumber:
            type: integer
            format: int32
            description: Ending race yearly number of meeting
    ResultsGR:
      allOf:
        - $ref: '#/components/schemas/Results'
      example:
        year: 2020
        results:
          - meetingId: 2302
            date: '2020-03-08'
            dayMonth: 8η Μαρτίου
            day: Κυριακή
            track: Markopoulo Park
            meetingNumber: 10
            fromYearNumber: 77
            toYearNumber: 85
          - meetingId: 2301
            date: '2020-03-01'
            dayMonth: 1η Μαρτίου
            day: Κυριακή
            track: Markopoulo Park
            meetingNumber: 9
            fromYearNumber: 68
            toYearNumber: 76
          - meetingId: 2300
            date: '2020-02-23'
            dayMonth: 23η Φεβρουαρίου
            day: Κυριακή
            track: Markopoulo Park
            meetingNumber: 8
            fromYearNumber: 59
            toYearNumber: 67
    ResultsEN:
      allOf:
        - $ref: '#/components/schemas/Results'
      example:
        year: 2020
        results:
          - meetingId: 2302
            date: '2020-03-08'
            dayMonth: March 8
            day: Sunday
            track: Markopoulo Park
            meetingNumber: 10
            fromYearNumber: 77
            toYearNumber: 85
          - meetingId: 2301
            date: '2020-03-01'
            dayMonth: March 1
            day: Sunday
            track: Markopoulo Park
            meetingNumber: 9
            fromYearNumber: 68
            toYearNumber: 76
          - meetingId: 2300
            date: '2020-02-23'
            dayMonth: February 23
            day: Sunday
            track: Markopoulo Park
            meetingNumber: 8
            fromYearNumber: 59
            toYearNumber: 67
    Results:
      type: object
      properties:
        year:
          type: integer
          format: int32
          description: Year of results
        results:
          type: array
          description: Array of results
          items:
            type: object
            properties:
              meetingId:
                type: integer
                format: int64
                description: Unique id of meeting
              date:
                type: string
                format: date
                description: Date of meeting
              dayMonth:
                type: string
                description: Day and Month of meeting
              day:
                type: string
                description: Day of meeting
              track:
                type: string
                description: Hippodrome of meeting
              meetingNumber:
                type: integer
                format: int32
                description: Yearly number of meeting
              fromYearNumber:
                type: integer
                format: int32
                description: Starting race yearly number of meeting
              toYearNumber:
                type: integer
                format: int32
                description: Ending race yearly number of meeting
    MeetingGR:
      allOf:
        - $ref: '#/components/schemas/Meeting'
      example:
        meetingId: 2296
        date: '2020-01-26'
        track: Μαρκόπουλο
        races:
          - raceId: 20073
            number: 1
            yearNumber: '23'
            time: '13:00'
          - raceId: 20074
            number: 2
            yearNumber: '24'
            time: '13:32'
          - raceId: 20075
            number: 3
            yearNumber: '25'
            time: '14:02'
    MeetingEN:
      allOf:
        - $ref: '#/components/schemas/Meeting'
      example:
        meetingId: 2296
        date: '2020-01-26'
        track: Markopoulo
        races:
          - raceId: 20073
            number: 1
            yearNumber: '23'
            time: '13:00'
          - raceId: 20074
            number: 2
            yearNumber: '24'
            time: '13:32'
          - raceId: 20075
            number: 3
            yearNumber: '25'
            time: '14:02'
    Meeting:
      type: object
      properties:
        meetingId:
          type: integer
          format: int64
          description: Unique id of meeting
        date:
          type: string
          format: date
          description: Date of meeting
        track:
          type: string
          description: Hippodrome of meeting
        races:
          type: array
          description: Array of races
          items:
            type: object
            properties:
              raceId:
                type: integer
                format: int64
                description: Id of race
              number:
                type: integer
                format: int32
                description: Serial number of race
              yearNumber:
                type: integer
                format: int32
                description: Yearly number of race
              time:
                type: string
                description: Time of race
    RaceGR:
      allOf:
        - $ref: '#/components/schemas/Race'
      example:
        raceId: 20081
        distanceImage: 1575.png
        date: '2020-01-26'
        track: Markopoulo Park
        number: 9
        time: '17:05'
        name: ΕΠΑΘΛΟ ΧΑΤΖΗΚΥΡΙΑΚΕΙΟΥ
        class: Rating Handicap Band 4+ ετών 55 (0-55)
        prizeAnalysis: '1ος: 3630€ - 2ος: 990€ - 3ος: 605€ - 4ος: 275€ - 5ος: 165€ - 6ος: 137.5€'
        prize: '5500'
        distance: 1575
        weather: Συννεφιά
        surface: Κανονικός
        ganianBet: '4'
        ganianPrize: '2,71'
        placeBet: '4'
        placePrize: '1,94'
        placeBet_2: '3'
        placePrize_2: '2,10'
        quinellaBet: '3,4'
        quinellaPrize: '4,76'
        exactaBet: 4/3
        exactaPrize: '10,33'
        trioBet: '3,4,8'
        trioPrize: '8,83'
        trifectaBet: 4/3/8
        trifectaPrize: '26,41'
        superfectaBet: 4/3/8/6
        superfectaPrize: '211,49'
        doubleBet: 7/4
        doublePrize: '426,07'
        doubleQuinellaBet: '4,7/3,4'
        doubleQuinellaPrize: '368,38'
        pick4Bet: 3/7/7/4
        pick4Prize: '1.373,11'
        pick6Bet: 4/9/3/7/7/4
        pick6Prize: ΤΖΑΚΠΟΤ (μεταφέρονται 19.000€)
        videoLink: 'https://www.youtube.com/watch?v=b-9oqeCLhKE&list=PLMiMYkQZ3itC-zWMnC7F97pjR57fYrgQR&index=33'
        stewardsReports: "Έγινε λήψη ούρων για έλεγχο αντι-ντόπινγκ στον ίππο: ΦΡΕΝΤΣΜΑΝΣ ΚΡΗΚ (IRE).\r\n-Τον ίππο ΙΜΣΙΖ ΛΙΤΛ ΜΠΡΟ ίππευσε ο νέος αναβάτης Αμπντελμαξούντ Χ. αντί του αναβάτη Χαλιάσου Α. που τραυματίστηκε στην 5η ιπποδρομία.\r\n-Ο ίππος ΚΟΜΜΑΝΤΕΡ ΠΡΟΤΖΙΟ ξεκίνησε διστακτικά.\r\n-Ο ίππος ΦΕΝΖΑΛ παραπέμφθηκε προς κτηνιατρική εξέταση η οποία απέβη αρνητική ως προς το κλινικό σκέλος. Καλούνται ο αναβάτης Κυριακίδης Μ. και ο προπονητής κ. Κρητικός Α. να προσέλθουν στο γραφείο των Ελλανοδικών στην επόμενη ιπποδρομιακή συγκέντρωση. Προσήλθαν ο αναβάτης Κυριακίδης Μ. και ο προπονητής κ. Κρητικός Α. για τη μη ικανοποιητική επίδοση του ίππου ΦΕΝΖΑΛ. Ο αναβάτης δήλωσε ότι ο ίππος δεν ανταποκρινόταν στις προσπάθειες του σε κανένα σημείο της διαδρομής και ήταν γενικά αρνητικός. Ο προπονητής ανέφερε ότι δεν μπορεί να δώσει εξήγηση για τις μη ικανοποιητικές επιδόσεις του ίππου και ακόμη προσπαθεί να εντοπίσει και να εξουδετερώσει τις ιδιορρυθμίες του. Οι Ελλανοδίκες κάνουν σύσταση στον προπονητή να επανεγγράψει τον ίππο όταν θα είναι σε θέση να διαγωνισθεί ανταγωνιστικά.\r\n-Κατόπιν δηλώσεως της κτηνιατρικής υπηρεσίας της ΦΕΕ όλοι οι ίπποι των σημερινών ιπποδρομιών έφεραν κανονικά πέταλα, ελέγχθηκαν πριν από κάθε ιπποδρομία και διαπιστώθηκε ότι ήταν αυτοί που αναφέρονται στο Επίσημο Πρόγραμμα της Φ.Ε.Ε.\r\n-Μεταζυγίσθηκαν όλοι οι αναβάτες των σημερινών ιπποδρομιών."
        runners:
          - horseId: 16545
            ownerColorFile: THURSDAY'S SYNDICATE.png
            horseNumber: 4
            horseName: ΦΡΕΝΤΣΜΑΝΣ ΚΡΗΚ (IRE)
            age: '4'
            color: Ορ.
            gender: Εκτ.
            trainerId: 885
            trainer: Θεολόγου Π.
            jockeyId: 120
            jockey: Χριστοφής Μ.
            weight: '58'
            weighIn: '58'
            draw: 4
            finishPosition: '1'
            finishTime: 1.39.68
            officialRating: 54
            startingPrice: 2.71
            nextRace: 1 / 58
            nextRaceId: 20108
            lastRace: 6 / 17
            lastRaceId: 20068
            lastRace_2: 5 / 224 ('19)
            lastRaceId_2: 20039
            lastRace_3: 1 / 185 ('19)
            lastRaceId_3: 20001
          - horseId: 16273
            ownerColorFile: SYNDICATE WOLF.png
            horseNumber: 3
            horseName: ΧΑΜΛΥΝ ΛΑΝΤ (IRE)
            age: '6'
            color: Ορ.
            gender: Εκτ.
            equipment: Π
            trainerId: 927
            trainer: Κουβαράς Χρ.
            jockeyId: 186
            jockey: Μιχαηλίδης Ν.
            weight: '59.5'
            weighIn: '60'
            draw: 5
            finishPosition: '2'
            finishTime: 1.39.70
            finishLengths: Κεφ.
            officialRating: 55
            startingPrice: 3.73
            nextRace: 2 / 46
            nextRaceId: 20092
            lastRace: 3 / 13
            lastRaceId: 20063
            lastRace_2: 1 / 211 ('19)
            lastRaceId_2: 20030
            lastRace_3: 2 / 198 ('19)
            lastRaceId_3: 20015
    RaceEN:
      allOf:
        - $ref: '#/components/schemas/Race'
      example:
        raceId: 20081
        distanceImage: 1575.png
        date: '2020-01-26'
        track: Markopoulo Park
        number: 9
        time: '17:05'
        name: HATZIKYRIAKIO PRIZE
        class: Rating Handicap Band  4+ yo 55 (0-55)
        prizeAnalysis: '1st: 3630€ - 2nd: 990€ - 3rd: 605€ - 4th: 275€ - 5th: 165€ - 6th: 137.5€'
        prize: '5500'
        distance: 1575
        weather: Cloudy
        surface: Good
        ganianBet: '4'
        ganianPrize: '2,71'
        placeBet: '4'
        placePrize: '1,94'
        placeBet_2: '3'
        placePrize_2: '2,10'
        quinellaBet: '3,4'
        quinellaPrize: '4,76'
        exactaBet: 4/3
        exactaPrize: '10,33'
        trioBet: '3,4,8'
        trioPrize: '8,83'
        trifectaBet: 4/3/8
        trifectaPrize: '26,41'
        superfectaBet: 4/3/8/6
        superfectaPrize: '211,49'
        doubleBet: 7/4
        doublePrize: '426,07'
        doubleQuinellaBet: '4,7/3,4'
        doubleQuinellaPrize: '368,38'
        pick4Bet: 3/7/7/4
        pick4Prize: '1.373,11'
        pick6Bet: 4/9/3/7/7/4
        pick6Prize: ΤΖΑΚΠΟΤ (μεταφέρονται 19.000€)
        videoLink: 'https://www.youtube.com/watch?v=b-9oqeCLhKE&list=PLMiMYkQZ3itC-zWMnC7F97pjR57fYrgQR&index=33'
        stewardsReports: "A urine sample was taken from: FRENCHMAN’S CREEK (IRE)\r\n-IMSHI’S LITTLE BRO was ridden by new rider Abdelmaxud H. instead of jockey Haliasos A. who was injured at the 5th race\r\n-COMMANDER PROGIO started hesitantly\r\n-FENJAL was referred for veterinary examination which was negative clinically. Jockey Kyriakidis M. and trainer Mr Kritikos A. are called into the Stewards office at the next race meeting. Jockey Kyriakidis M. and trainer Mr Kritikos A. came in for the non-satisfactory performance of FENJAL. The jockey stated that the horse did not respond to his efforts at any point of the race and was generally un-cooperative. The trainer mentioned that he cannot explan the non-satisfactory performances of his horse and is still trying to find and solve his peculiarities. The Stewards made a reccomendation to the trainer to re-enter the horse when he can be competitive\r\n-Following a statement by the Jockey Club’s veterinary service, all of today's horses had proper horse shoes, were checked before every race and were those mentioned at the Jockey Club's Official Program.\r\n-All of the jockeys in today's races were weighed in"
        runners:
          - horseId: 16545
            ownerColorFile: THURSDAY'S SYNDICATE.png
            horseNumber: 4
            horseName: FRENCHMANS CREEK (IRE)
            age: '4'
            color: B.
            gender: G
            trainerId: 885
            trainer: Theologou P.
            jockeyId: 120
            jockey: Christofis M.
            weight: '58'
            weighIn: '58'
            draw: 4
            finishPosition: '1'
            finishTime: 1.39.68
            officialRating: 54
            startingPrice: 2.71
            nextRace: 1 / 58
            nextRaceId: 20108
            lastRace: 6 / 17
            lastRaceId: 20068
            lastRace_2: 5 / 224 ('19)
            lastRaceId_2: 20039
            lastRace_3: 1 / 185 ('19)
            lastRaceId_3: 20001
          - horseId: 16273
            ownerColorFile: SYNDICATE WOLF.png
            horseNumber: 3
            horseName: HAMLYN LAD (IRE)
            age: '6'
            color: B.
            gender: G
            equipment: Bl
            trainerId: 927
            trainer: Kouvaras C.
            jockeyId: 186
            jockey: Mihailidis N.
            weight: '59.5'
            weighIn: '60'
            draw: 5
            finishPosition: '2'
            finishTime: 1.39.70
            finishLengths: Hd
            officialRating: 55
            startingPrice: 3.73
            nextRace: 2 / 46
            nextRaceId: 20092
            lastRace: 3 / 13
            lastRaceId: 20063
            lastRace_2: 1 / 211 ('19)
            lastRaceId_2: 20030
            lastRace_3: 2 / 198 ('19)
            lastRaceId_3: 20015
    Race:
      type: object
      properties:
        raceId:
          type: integer
          format: int64
          description: Unique id of race
        distanceImage:
          type: string
          description: Image filename of race distance
        date:
          type: string
          format: date
          description: Date of race
        track:
          type: string
          description: Hippodrome of race
        number:
          type: integer
          format: int32
          description: Serial number of race
        time:
          type: string
          description: Time of race
        name:
          type: string
          description: Name of race
        class:
          type: string
          description: Class of race
        prizeAnalysis:
          type: string
          description: Prize analysis of race
        prize:
          type: number
          format: double
          description: Prize of race (€)
        distance:
          type: integer
          format: int32
          description: Distance of race (in meters)
        weather:
          type: string
          description: Weather on day of race
        surface:
          type: string
          description: Track surface of race
        ganianBet:
          type: string
          description: Combination for ganian bet
        ganianPrize:
          type: string
          description: Dividents of ganian bet
        placeBet:
          type: string
          description: Combination for place bet
        placePrize:
          type: string
          description: Dividents of place bet
        placeBet_2:
          type: string
          description: Combination for 2nd place bet
        placePrize_2:
          type: string
          description: Dividents of 2nd place bet
        placeBet_3:
          type: string
          description: Combination for 3rd place bet
        placePrize_3:
          type: string
          description: Dividents of 3rd place bet
        quinellaBet:
          type: string
          description: Combination for quinella bet
        quinellaPrize:
          type: string
          description: Dividents of quinella bet
        exactaBet:
          type: string
          description: Combination for exacta bet
        exactaPrize:
          type: string
          description: Dividents of exacta bet
        trioBet:
          type: string
          description: Combination for trio bet
        trioPrize:
          type: string
          description: Dividents of trio bet
        trifectaBet:
          type: string
          description: Combination for trifecta bet
        trifectaPrize:
          type: string
          description: Dividents of trifecta bet
        superfectaBet:
          type: string
          description: Combination for superfecta bet
        superfectaPrize:
          type: string
          description: Dividents of superfecta bet
        doubleBet:
          type: string
          description: Combination for double bet
        doublePrize:
          type: string
          description: Dividents of double bet
        doubleQuinellaBet:
          type: string
          description: Combination for double quinella bet
        doubleQuinellaPrize:
          type: string
          description: Dividents of double quinella bet
        pick3Bet:
          type: string
          description: Combination for pick 3 bet
        pick3Prize:
          type: string
          description: Dividents of pick 3 bet
        pick4Bet:
          type: string
          description: Combination for pick 4 bet
        pick4Prize:
          type: string
          description: Dividents of pick 4 bet
        pick6Bet:
          type: string
          description: Combination for pick 6 bet
        pick6Prize:
          type: string
          description: Dividents of pick 6 bet
        videoLink:
          type: string
          description: Video link of race
        stewardsReports:
          type: string
          description: Stewards' Reports of race
        runners:
          type: array
          description: Array of horses in current races
          items:
            type: object
            properties:
              horseId:
                type: integer
                format: int64
                description: Unique id of horse
              ownerColorFile:
                type: string
                description: Image filename of horse owner colors
              horseNumber:
                type: integer
                format: int32
                description: Serial number of horse in current race
              horseName:
                type: string
                description: Name of horse
              age:
                type: string
                description: Age of horse
              color:
                type: string
                description: Color of horse
              gender:
                type: string
                description: Gender of horse
              equipment:
                type: string
                description: Equipment of horse at time of race
              trainerId:
                type: integer
                format: int64
                description: Unique id of trainer
              trainer:
                type: string
                description: Trainer of horse at time of race
              jockeyId:
                type: integer
                format: int64
                description: Unique id of jockey
              jockey:
                type: string
                description: Jockey of horse at time of race
              weight:
                type: string
                description: Weight of horse in current race
              weighIn:
                type: string
                description: Weigh-In of horse in current race
              draw:
                type: integer
                format: int32
                description: Starting stall of horse in current race
              finishPosition:
                type: string
                description: Finish position of horse in current race
              finishTime:
                type: string
                description: Finish time of horse in current race
              finishLengths:
                type: string
                description: Finishing distance of horse from previous horse in current race
              officialRating:
                type: string
                description: Official rating of horse in current race
              startingPrice:
                type: number
                format: double
                description: Bet starting price of horse in current race
              nextRace:
                type: string
                description: Next race outcome of horse
              nextRaceId:
                type: string
                description: Next race Id of horse
              lastRace:
                type: string
                description: Last race outcome of horse
              lastRaceId:
                type: string
                description: Last race Id of horse
              lastRace_2:
                type: string
                description: 2nd to last race outcome of horse
              lastRaceId_2:
                type: string
                description: 2nd to last race Id of horse
              lastRace_3:
                type: string
                description: 3rd to last race outcome of horse
              lastRaceId_3:
                type: string
                description: 3rd to last race Id of horse
              deletion:
                type: string
                description: Deletion type of horse in current race
    ChangesDeletionsGR:
      allOf:
        - $ref: '#/components/schemas/ChangesDeletions'
      example:
        meetingId: 2291
        date: '2019-12-29'
        track: Μαρκόπουλο
        changes:
          - raceNumber: 3
            horse: ΟΣΤΙΝ ΤΕΞΑΣ
            horseNumber: 6
            jockey: Αττίκος Κ.
          - raceNumber: 6
            horse: ΣΕΡ ΚΡΗΤΙΚΟΣ
            horseNumber: 11
            jockey: Αμπντελμαξούντ Χ.
        deletions:
          - raceNumber: 2
            horse: ΜΟΝΕΤΑ
            horseNumber: 1
            reason: Κτηνιατρική
            date: '2019-12-29'
            time: '13:50'
    ChangesDeletionsEN:
      allOf:
        - $ref: '#/components/schemas/ChangesDeletions'
      example:
        meetingId: 2291
        date: '2019-12-29'
        track: Markopoulo
        changes:
          - raceNumber: 3
            horse: AUSTIN TEXAS
            horseNumber: 6
            jockey: Attikos K.
          - raceNumber: 6
            horse: SIR KRITIKOS
            horseNumber: 11
            jockey: Abdelmaxoud H.
        deletions:
          - raceNumber: 2
            horse: MONETA
            horseNumber: 1
            reason: Κτηνιατρική
            date: '2019-12-29'
            time: '13:50'
    ChangesDeletions:
      type: object
      properties:
        meetingId:
          type: integer
          format: int64
          description: Unique id of meeting
        date:
          type: string
          format: date
          description: Date of meeting
        track:
          type: string
          description: Hippodrome of meeting
        changes:
          type: array
          description: Array of jockey changes
          items:
            type: object
            properties:
              raceNumber:
                type: integer
                format: int32
                description: Serial number of race
              horse:
                type: string
                description: Name of horse
              horseNumber:
                type: integer
                format: int32
                description: Serial number of horse in race
              jockey:
                type: string
                description: Jockey of horse at time of race
        deletions:
          type: array
          description: Array of horse deletions
          items:
            type: object
            properties:
              raceNumber:
                type: integer
                format: int32
                description: Serial number of race
              horse:
                type: string
                description: Name of horse
              horseNumber:
                type: integer
                format: int32
                description: Serial number of horse in race
              reason:
                type: string
                description: Reason of horse deletion in race
              date:
                type: string
                format: date
                description: Date of horse deletion in race
              time:
                type: string
                description: Time of horse deletion in race
    HorseGR:
      allOf:
        - $ref: '#/components/schemas/Horse'
      example:
        horseId: 16342
        name: ΧΕΒΕΝΣ ΡΟΚ (IRE)
        age: 6
        birthDate: '2014-03-24'
        color: Ορφνό
        gender: Εκτομίας
        lastOfficialRating: '62'
        maxOfficialRating: '69'
        sire: Requinto (IRE)
        dam: Rockfleet Castle (GB)
        damSire: Rock Of Gibraltar (IRE)
        owners: SCUDERIA EQUUS RUN PAOLA
        ownerColorFile: SCUDERIA EQUUS RUN PAOLA.png
        breeder: Αλλοδαπής
        trainer: Χαραλάμπους Χαράλαμπος
        stats:
          lastSeason:
            year: 2019
            races: 9
            wins: 3
            wins%: 33%
            places: 2
            places%: 22%
            prizes: 14.565 €
          lifetime:
            races: 21
            wins: 3
            wins%: 14%
            places: 8
            places%: 38%
            prizes: 18.805 €
          abroad:
            races: 11
            wins: 1
            wins%: 9%
            places: 2
            places%: 18%
        raceHistory:
          - raceId: 19987
            yearNumber: '172'
            videoLink: 'https://www.youtube.com/watch?v=V4S93povx7s&list=PLMiMYkQZ3itC-zWMnC7F97pjR57fYrgQR&index=47'
            date: '2019-11-10'
            track: Markopoulo Park
            finishPosition: '5'
            runners: 6
            weight: '57'
            jockey: Δρόσος Δ.
            draw: 6
            distance: 2100
            surface: Καν.
            class: Hcap 3+ (0-70)
            finishTime: 2.17.69
            finishLengths: '5'
            winner: ΝΕΪΣΑΝ
            winnerWeight: '60'
            winnerTime: 2.14.80
            officialRating: 62
            performanceFigure: 45
            startingPrice: 3.61
            prize: 0 €
          - raceId: 19963
            yearNumber: '151'
            videoLink: 'https://www.youtube.com/watch?v=ZtC93nhJgAc&list=PLMiMYkQZ3itC-zWMnC7F97pjR57fYrgQR&index=89'
            date: '2019-10-20'
            track: Markopoulo Park
            finishPosition: '2'
            runners: 6
            weight: '57.5'
            jockey: Δρόσος Δ.
            draw: 2
            distance: 1575
            surface: Καν.
            class: Hcap 3+ (0-70)
            finishTime: 1.41.59
            finishLengths: 4 1/2
            winner: ΜΕΝΤΙΣΙΑΝ ΝΤΡΗΜ
            winnerWeight: '56.5'
            winnerTime: 1.40.83
            officialRating: 62
            performanceFigure: 63
            startingPrice: 5.11
            prize: 1.260 €
    HorseEN:
      allOf:
        - $ref: '#/components/schemas/Horse'
      example:
        horseId: 16342
        name: HEAVEN'S ROCK (IRE)
        age: 6
        birthDate: '2014-03-24'
        color: Bay
        gender: Gelding
        lastOfficialRating: '62'
        maxOfficialRating: '69'
        sire: Requinto (IRE)
        dam: Rockfleet Castle (GB)
        damSire: Rock Of Gibraltar (IRE)
        owners: SCUDERIA EQUUS RUN PAOLA
        ownerColorFile: SCUDERIA EQUUS RUN PAOLA.png
        breeder: Foreign
        trainer: Haralambus Haralambos
        stats:
          lastSeason:
            year: 2019
            races: 9
            wins: 3
            wins%: 33%
            places: 2
            places%: 22%
            prizes: 14.565 €
          lifetime:
            races: 21
            wins: 3
            wins%: 14%
            places: 8
            places%: 38%
            prizes: 18.805 €
          abroad:
            races: 11
            wins: 1
            wins%: 9%
            places: 2
            places%: 18%
        raceHistory:
          - raceId: 19987
            videoLink: 'https://www.youtube.com/watch?v=V4S93povx7s&list=PLMiMYkQZ3itC-zWMnC7F97pjR57fYrgQR&index=47'
            yearNumber: '172'
            date: '2019-11-10'
            track: Markopoulo Park
            finishPosition: '5'
            runners: 6
            weight: '57'
            jockey: Drosos D.
            draw: 6
            distance: 2100
            class: Hcap 3+ (0-70)
            finishTime: 2.17.69
            finishLengths: '5'
            winner: NAISHAN
            winnerWeight: '60'
            winnerTime: 2.14.80
            officialRating: 62
            performanceFigure: 45
            startingPrice: 3.61
            earnings: 0 €
          - raceId: 19963
            videoLink: 'https://www.youtube.com/watch?v=ZtC93nhJgAc&list=PLMiMYkQZ3itC-zWMnC7F97pjR57fYrgQR&index=89'
            yearNumber: '151'
            date: '2019-10-20'
            track: Markopoulo Park
            finishPosition: '2'
            runners: 6
            weight: '57.5'
            jockey: Drosos D.
            draw: 2
            distance: 1575
            class: Hcap 3+ (0-70)
            finishTime: 1.41.59
            finishLengths: 4 1/2
            winner: MEDICEAN DREAM
            winnerWeight: '56.5'
            winnerTime: 1.40.83
            officialRating: 62
            performanceFigure: 63
            startingPrice: 5.11
            earnings: 1.260 €
    Horse:
      type: object
      properties:
        horseId:
          type: integer
          format: int64
          description: Unique id of horse
        name:
          type: string
          description: Name of horse
        age:
          type: string
          description: Age of horse
        birthDate:
          type: string
          format: date
          description: Date of meeting
        color:
          type: string
          description: Color of horse
        gender:
          type: string
          description: Gender of horse
        lastOfficialRating:
          type: string
          description: Last official rating of horse
        maxOfficialRating:
          type: string
          description: Max official rating of horse
        sire:
          type: string
          description: Sire of horse
        dam:
          type: string
          description: Dam of horse
        damSire:
          type: string
          description: Sire of dam of horse
        owners:
          type: string
          description: Owners of horse
        ownerColorFile:
          type: string
          description: Filename of horse owner colors
        breeder:
          type: string
          description: Breeder of horse
        trainer:
          type: string
          description: Trainer of horse
        stats:
          type: object
          description: Horse statistics
          properties:
            thisSeason:
              type: object
              properties:
                year:
                  type: integer
                  format: int32
                  description: Year of this season
                races:
                  type: integer
                  format: int32
                  description: Races in this season
                wins:
                  type: integer
                  format: int32
                  description: Wins in this season
                wins%:
                  type: string
                  description: Wins percentage in this season
                places:
                  type: integer
                  format: int32
                  description: Places in this season
                places%:
                  type: string
                  description: Places percentage in this season
                prizes:
                  type: string
                  description: Prizes summary in this season
            lastSeason:
              type: object
              properties:
                year:
                  type: integer
                  format: int32
                  description: Year of last season
                races:
                  type: integer
                  format: int32
                  description: Races in last season
                wins:
                  type: integer
                  format: int32
                  description: Wins in last season
                wins%:
                  type: string
                  description: Wins percentage in last season
                places:
                  type: integer
                  format: int32
                  description: Places in last season
                places%:
                  type: string
                  description: Places percentage in last season
                prizes:
                  type: string
                  description: Prizes summary in last season
            lifetime:
              type: object
              properties:
                races:
                  type: integer
                  format: int32
                  description: Races of carrer
                wins:
                  type: integer
                  format: int32
                  description: Wins of carrer
                wins%:
                  type: string
                  description: Wins percentage of carrer
                places:
                  type: integer
                  format: int32
                  description: Places of carrer
                places%:
                  type: string
                  description: Places percentage of carrer
                prizes:
                  type: string
                  description: Prizes summary of carrer
            mainRaces:
              type: object
              properties:
                races:
                  type: integer
                  format: int32
                  description: Races in main races
                wins:
                  type: integer
                  format: int32
                  description: Wins in main races
                wins%:
                  type: string
                  description: Wins percentage in main races
                places:
                  type: integer
                  format: int32
                  description: Places in main races
                places%:
                  type: string
                  description: Places percentage in main races
                prizes:
                  type: string
                  description: Prizes summary in main races
            abroad:
              type: object
              properties:
                races:
                  type: integer
                  format: int32
                  description: Races of carrer abroad
                wins:
                  type: integer
                  format: int32
                  description: Wins of carrer abroad
                wins%:
                  type: string
                  description: Wins percentage of carrer abroad
                places:
                  type: integer
                  format: int32
                  description: Places of carrer abroad
                places%:
                  type: string
                  description: Places percentage of carrer abroad
        siblings:
          type: array
          description: Array of horse siblings
          items:
            type: object
            properties:
              Id:
                type: integer
                format: int64
                description: Unique id of horse's sibling
              name:
                type: string
                description: Name of horse's sibling
              sire:
                type: string
                description: Sire of horse's sibling
        raceHistory:
          type: array
          description: Array of horse race history
          items:
            type: object
            properties:
              raceId:
                type: integer
                format: int64
                description: Unique id of current race
              videoLink:
                type: string
                description: Video link of current race
              date:
                type: string
                format: date
                description: Date of current race
              yearNumber:
                type: integer
                format: int32
                description: Yearly number of current race
              track:
                type: string
                description: Hippodrome of current race
              finishPosition:
                type: string
                description: Finish position of horse in current race
              runners:
                type: integer
                format: int32
                description: Sum of horses in current race
              weight:
                type: string
                description: Weight of horse in current race
              jockey:
                type: string
                description: Jockey of horse at time of race
              draw:
                type: integer
                format: int32
                description: Starting stall of horse in current race
              equipment:
                type: string
                description: Equipment of horse at time of race
              distance:
                type: integer
                format: int32
                description: Distance of current race (in meters)
              class:
                type: string
                description: Class of current race
              surface:
                type: string
                description: Track surface of current race
              finishTime:
                type: string
                description: Finish time of horse in current race
              finishLengths:
                type: string
                description: Finishing distance of horse from previous horse in current race
              winner:
                type: string
                description: Name of horse that won in current race
              winnerWeight:
                type: string
                description: Weight of horse that won in current race
              winnerTime:
                type: string
                description: Time of horse that won in current race
              officialRating:
                type: string
                description: Official rating of horse in current race
              performanceFigure:
                type: string
                description: Performance figure of horse in current race
              startingPrice:
                type: number
                format: double
                description: Bet starting price of horse in current race
              earnings:
                type: string
                description: Prizes summary in the given year
              deletion:
                type: string
                description: Deletion type of horse in current race
    SearchGR:
      allOf:
        - $ref: '#/components/schemas/Search'
      example:
        - id: 1220
          name: ΚΑΠΕΤΑΝ ΑΡΤΕΜΗΣ (GR) 1993
        - id: 16550
          name: ΝΤΟΥΓΚΑΝ ΑΛΜΠ (GB) 2016
        - id: 14524
          name: ΠΑΡΙΖΙΑΝ ΑΡΤ (IRE) 2006
        - id: 2477
          name: ΡΑΝ ΑΛΕΞ ΡΑΝ (GR) 1990
        - id: 15178
          name: ΣΑΝ ΑΝΤΟΝΙΟ (GR) 2009
        - id: 13543
          name: ΦΛΟΡΙΑΝ ΑΛΜΠΕΡΤ (GB) 2005
        - id: 14865
          name: ΧΑΟΥ ΚΑΝ ΑΪ ΜΠΙ ΣΟΥΡ (GB) 2007
    SearchEN:
      allOf:
        - $ref: '#/components/schemas/Search'
      example:
        - id: 16550
          name: DOUGHAN ALB (GB) 2016
        - id: 1220
          name: KAPETAN ARTEMIS (GR) 1993
    Search:
      type: array
      description: Array of meetings
      items:
        type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unique id of entity
          name:
            type: string
            description: Name of entity
    StatsHorsesGR:
      allOf:
        - $ref: '#/components/schemas/StatsHorses'
      example:
        year: 2020
        stats:
          - Id: 16615
            name: ΣΤΥΛΙΑΝΕΚΚΟΣ (GB)
            age: 4
            gender: Αρσ.
            sire: Kyllachy (GB)
            runs: 4
            wins: 3
            wins%: 75%
            places: 1
            places%: 25%
            prizes: 8.745 €
          - Id: 16553
            name: ΝΤΡΑΜΝΑΝΤΡΟΚΙΤ (GB)
            age: 4
            gender: Εκτ.
            sire: Coach House (IRE)
            runs: 3
            wins: 2
            wins%: 67%
            places: 0
            places%: 0%
            prizes: 6.930 €
          - Id: 16499
            name: ΧΑΑΝΤΕΦ (GB)
            age: 4
            gender: Εκτ.
            sire: Delegator (GB)
            runs: 3
            wins: 2
            wins%: 67%
            places: 0
            places%: 0%
            prizes: 5.940 €
    StatsHorsesEN:
      allOf:
        - $ref: '#/components/schemas/StatsHorses'
      example:
        year: 2020
        stats:
          - Id: 16615
            name: STYLIANEKKOS (GB)
            age: 4
            gender: C
            sire: Kyllachy (GB)
            runs: 4
            wins: 3
            wins%: 75%
            places: 1
            places%: 25%
            prizes: 8.745 €
          - Id: 16553
            name: DRUMNADROCHIT (GB)
            age: 4
            gender: G
            sire: Coach House (IRE)
            runs: 3
            wins: 2
            wins%: 67%
            places: 0
            places%: 0%
            prizes: 6.930 €
          - Id: 16499
            name: HAADEF (GB)
            age: 4
            gender: G
            sire: Delegator (GB)
            runs: 3
            wins: 2
            wins%: 67%
            places: 0
            places%: 0%
            prizes: 5.940 €
    StatsHorses:
      type: object
      properties:
        year:
          type: integer
          format: int32
          description: Year of statistics
        stats:
            type: array
            description: Array of horses' statistics
            items:
              type: object
              properties:
                Id:
                  type: integer
                  format: int64
                  description: Unique id of horse
                name:
                  type: string
                  description: Name of horse
                age:
                  type: string
                  description: Age of horse
                gender:
                  type: string
                  description: Gender of horse
                sire:
                  type: string
                  description: Sire of horse
                runs:
                  type: integer
                  format: int32
                  description: Races in the given year
                wins:
                  type: integer
                  format: int32
                  description: Wins in the given year
                wins%:
                  type: string
                  description: Wins percentage in the given year
                places:
                  type: integer
                  format: int32
                  description: Places in the given year
                places%:
                  type: string
                  description: Places percentage in the given year
                prizes:
                  type: string
                  description: Prizes summary in the given year
    StatsJockeysGR:
      allOf:
        - $ref: '#/components/schemas/StatsJockeys'
      example:
        year: 2020
        stats:
          - Id: 13
            name: Δημητσάνης Π.
            runs: 56
            wins: 22
            wins%: 39%
            places: 22
            places%: 39%
            prizes: 140.774 €
          - Id: 179
            name: Μαστοράκης Κ.
            runs: 48
            wins: 9
            wins%: 19%
            places: 13
            places%: 27%
            prizes: 50.128 €
          - Id: 47
            name: Ξυνός Μ.
            runs: 38
            wins: 8
            wins%: 21%
            places: 16
            places%: 42%
            prizes: 54.796 €
    StatsJockeysEN:
      allOf:
        - $ref: '#/components/schemas/StatsJockeys'
      example:
        year: 2020
        stats:
          - Id: 13
            name: Dimitsanis P.
            runs: 56
            wins: 22
            wins%: 39%
            places: 22
            places%: 39%
            prizes: 140.774 €
          - Id: 179
            name: Mastorakis K.
            runs: 48
            wins: 9
            wins%: 19%
            places: 13
            places%: 27%
            prizes: 50.128 €
          - Id: 47
            name: Xynos M.
            runs: 38
            wins: 8
            wins%: 21%
            places: 16
            places%: 42%
            prizes: 54.796 €
    StatsJockeys:
      type: object
      properties:
        year:
          type: integer
          format: int32
          description: Year of statistics
        stats:
            type: array
            description: Array of jockeys' statistics
            items:
              type: object
              properties:
                Id:
                  type: integer
                  format: int64
                  description: Unique id of jockey
                name:
                  type: string
                  description: Name of jockey
                runs:
                  type: integer
                  format: int32
                  description: Races in the given year
                wins:
                  type: integer
                  format: int32
                  description: Wins in the given year
                wins%:
                  type: string
                  description: Wins percentage in the given year
                places:
                  type: integer
                  format: int32
                  description: Places in the given year
                places%:
                  type: string
                  description: Places percentage in the given year
                prizes:
                  type: string
                  description: Prizes summary in the given year
    StatsOwnersGR:
      allOf:
        - $ref: '#/components/schemas/StatsOwners'
      example:
        year: 2020
        stats:
          - Id: 1223
            name: ΚΟΥΤΣΟΜΥΤΗΣ ΜΑΡΙΟΣ
            runs: 32
            wins: 8
            wins%: 25%
            places: 7
            places%: 22%
            prizes: 48.096 €
          - Id: 1697
            name: AEGEAN STABLES
            runs: 25
            wins: 7
            wins%: 28%
            places: 8
            places%: 32%
            prizes: 53.785 €
          - Id: 1814
            name: SCUDERIA EQUUS RUN PAOLA
            runs: 26
            wins: 7
            wins%: 27%
            places: 4
            places%: 15%
            prizes: 31.161 €
    StatsOwnersEN:
      allOf:
        - $ref: '#/components/schemas/StatsOwners'
      example:
        year: 2020
        stats:
          - Id: 1223
            name: KOUTSOMITIS MARIOS
            runs: 32
            wins: 8
            wins%: 25%
            places: 7
            places%: 22%
            prizes: 48.096 €
          - Id: 1697
            name: AEGEAN STABLES
            runs: 25
            wins: 7
            wins%: 28%
            places: 8
            places%: 32%
            prizes: 53.785 €
          - Id: 1814
            name: SCUDERIA EQUUS RUN PAOLA
            runs: 26
            wins: 7
            wins%: 27%
            places: 4
            places%: 15%
            prizes: 31.161 €
    StatsOwners:
      type: object
      properties:
        year:
          type: integer
          format: int32
          description: Year of statistics
        stats:
            type: array
            description: Array of owners' statistics
            items:
              type: object
              properties:
                Id:
                  type: integer
                  format: int64
                  description: Unique id of owner
                name:
                  type: string
                  description: Name of owner
                runs:
                  type: integer
                  format: int32
                  description: Races in the given year
                wins:
                  type: integer
                  format: int32
                  description: Wins in the given year
                wins%:
                  type: string
                  description: Wins percentage in the given year
                places:
                  type: integer
                  format: int32
                  description: Places in the given year
                places%:
                  type: string
                  description: Places percentage in the given year
                prizes:
                  type: string
                  description: Prizes summary in the given year
    StatsTrainersGR:
      allOf:
        - $ref: '#/components/schemas/StatsTrainers'
      example:
        year: 2020
        stats:
          - Id: 927
            name: ΚΟΥΒΑΡΑΣ ΧΡΗΣΤΟΣ
            runs: 89
            wins: 21
            wins%: 24%
            places: 28
            places%: 31%
            prizes: 150.050 €
          - Id: 873
            name: Σταύρου Χρ.
            runs: 73
            wins: 13
            wins%: 18%
            places: 27
            places%: 37%
            prizes: 95.995 €
          - Id: 888
            name: ΧΑΡΑΛΑΜΠΟΥΣ ΧΑΡΑΛΑΜΠΟΣ
            runs: 44
            wins: 9
            wins%: 20%
            places: 8
            places%: 18%
            prizes: 43.170 €
    StatsTrainersEN:
      allOf:
        - $ref: '#/components/schemas/StatsTrainers'
      example:
        year: 2020
        stats:
          - Id: 927
            name: Kouvaras Christos
            runs: 89
            wins: 21
            wins%: 24%
            places: 28
            places%: 31%
            prizes: 150.050 €
          - Id: 873
            name: Stavrou Christos
            runs: 73
            wins: 13
            wins%: 18%
            places: 27
            places%: 37%
            prizes: 95.995 €
          - Id: 888
            name: Haralambus Haris
            runs: 44
            wins: 9
            wins%: 20%
            places: 8
            places%: 18%
            prizes: 43.170 €
    StatsTrainers:
      type: object
      properties:
        year:
          type: integer
          format: int32
          description: Year of statistics
        stats:
            type: array
            description: Array of trainers' statistics
            items:
              type: object
              properties:
                Id:
                  type: integer
                  format: int64
                  description: Unique id of trainer
                name:
                  type: string
                  description: Name of trainer
                runs:
                  type: integer
                  format: int32
                  description: Races in the given year
                wins:
                  type: integer
                  format: int32
                  description: Wins in the given year
                wins%:
                  type: string
                  description: Wins percentage in the given year
                places:
                  type: integer
                  format: int32
                  description: Places in the given year
                places%:
                  type: string
                  description: Places percentage in the given year
                prizes:
                  type: string
                  description: Prizes summary in the given year
    StatsDistance:
      example:
        distance: 1100
        stats:
          - draw: 1
            runs: 109
            wins: 13
            wins%: 12%
            places: 23
            places%: 21%
          - draw: 2
            runs: 109
            wins: 19
            wins%: 17%
            places: 30
            places%: 28%
          - draw: 3
            runs: 109
            wins: 20
            wins%: 18%
            places: 31
            places%: 28%
      type: object
      properties:
        distance:
          type: integer
          format: int32
          description: Distance of statistics
        stats:
            type: array
            description: Array of distance's statistics
            items:
              type: object
              properties:
                draw:
                  type: integer
                  format: int64
                  description: Starting stall
                runs:
                  type: integer
                  format: int32
                  description: Races in the given distance
                wins:
                  type: integer
                  format: int32
                  description: Wins in the given distance
                wins%:
                  type: string
                  description: Wins percentage in the given distance
                places:
                  type: integer
                  format: int32
                  description: Places in the given distance
                places%:
                  type: string
                  description: Places percentage in the given distance
                prizes:
                  type: string
                  description: Prizes summary in the given distance
    StatsRaceJockeyGR:
      allOf:
        - $ref: '#/components/schemas/StatsRaceJockey'
      example:
        raceId: 20081
        HorseId: 16545
        name: ΧΡΙΣΤΟΦΗΣ ΜΑΡΙΟΣ
        thisSeason:
          runs: 54
          wins: 9
          wins%: 17%
          places: 18
          places%: 33%
          prizes: 53.322 €
        lastSeason:
          runs: 114
          wins: 16
          wins%: 14%
          places: 43
          places%: 38%
          prizes: 124.568 €
        thisTrainerThisSeason:
          runs: 11
          wins: 5
          wins%: 45%
          places: 1
          places%: 9%
          prizes: 19.268 €
        thisTrainerLastSeason:
          runs: 41
          wins: 10
          wins%: 24%
          places: 15
          places%: 37%
          prizes: 65.667 €
        lifetime:
          runs: 600
          wins: 96
          wins%: 16%
          places: 189
          places%: 32%
          prizes: 653.102 €
        thisHorseLifetime:
          runs: 5
          wins: 2
          wins%: 40%
          places: 1
          places%: 20%
          prizes: 9.678 €
    StatsRaceJockeyEN:
      allOf:
        - $ref: '#/components/schemas/StatsRaceJockey'
      example:
        raceId: 20081
        HorseId: 16545
        name: Christofis Marios
        thisSeason:
          runs: 54
          wins: 9
          wins%: 17%
          places: 18
          places%: 33%
          prizes: 53.322 €
        lastSeason:
          runs: 114
          wins: 16
          wins%: 14%
          places: 43
          places%: 38%
          prizes: 124.568 €
        thisTrainerThisSeason:
          runs: 11
          wins: 5
          wins%: 45%
          places: 1
          places%: 9%
          prizes: 19.268 €
        thisTrainerLastSeason:
          runs: 41
          wins: 10
          wins%: 24%
          places: 15
          places%: 37%
          prizes: 65.667 €
        lifetime:
          runs: 600
          wins: 96
          wins%: 16%
          places: 189
          places%: 32%
          prizes: 653.102 €
        thisHorseLifetime:
          runs: 5
          wins: 2
          wins%: 40%
          places: 1
          places%: 20%
          prizes: 9.678 €
    StatsRaceJockey:
      type: object
      properties:
        raceId:
          type: integer
          format: int64
          description: Unique id of race
        horseId:
          type: integer
          format: int64
          description: Unique id of horse in race
        name:
          type: string
          description: Name of jockey
        thisSeason:
          type: object
          properties:
            runs:
              type: integer
              format: int32
              description: Races in this season
            wins:
              type: integer
              format: int32
              description: Wins in this season
            wins%:
              type: string
              description: Wins percentage in this season
            places:
              type: integer
              format: int32
              description: Places in this season
            places%:
              type: string
              description: Places percentage in this season
            prizes:
              type: string
              description: Prizes summary in this season
        lastSeason:
          type: object
          properties:
            runs:
              type: integer
              format: int32
              description: Races in last season
            wins:
              type: integer
              format: int32
              description: Wins in last season
            wins%:
              type: string
              description: Wins percentage in last season
            places:
              type: integer
              format: int32
              description: Places in last season
            places%:
              type: string
              description: Places percentage in last season
            prizes:
              type: string
              description: Prizes summary in last season
        thisTrainerThisSeason:
          type: object
          properties:
            runs:
              type: integer
              format: int32
              description: Races with current trainer in this season
            wins:
              type: integer
              format: int32
              description: Wins with current trainer in this season
            wins%:
              type: string
              description: Wins percentage with current trainer in this season
            places:
              type: integer
              format: int32
              description: Places with current trainer in this season
            places%:
              type: string
              description: Places percentage with current trainer in this season
            prizes:
              type: string
              description: Prizes summary with current trainer in this season
        thisTrainerLastSeason:
          type: object
          properties:
            runs:
              type: integer
              format: int32
              description: Races with current trainer in last season
            wins:
              type: integer
              format: int32
              description: Wins with current trainer in last season
            wins%:
              type: string
              description: Wins percentage with current trainer in last season
            places:
              type: integer
              format: int32
              description: Places with current trainer in last season
            places%:
              type: string
              description: Places percentage with current trainer in last season
            prizes:
              type: string
              description: Prizes summary with current trainer in last season
        lifetime:
          type: object
          properties:
            runs:
              type: integer
              format: int32
              description: Races of career
            wins:
              type: integer
              format: int32
              description: Wins of career
            wins%:
              type: string
              description: Wins percentage of career
            places:
              type: integer
              format: int32
              description: Places of career
            places%:
              type: string
              description: Places percentage of career
            prizes:
              type: string
              description: Prizes summary of career
        thisHorseLifetime:
          type: object
          properties:
            runs:
              type: integer
              format: int32
              description: Races with current horse of career
            wins:
              type: integer
              format: int32
              description: Wins with current horse of career
            wins%:
              type: string
              description: Wins percentage with current horse of career
            places:
              type: integer
              format: int32
              description: Places with current horse of career
            places%:
              type: string
              description: Places percentage with current horse of career
            prizes:
              type: string
              description: Prizes summary with current horse of career
    StatsRaceTrainerGR:
      allOf:
        - $ref: '#/components/schemas/StatsRaceTrainer'
      example:
        raceId: 20081
        horseId: 16273
        name: ΚΟΥΒΑΡΑΣ ΧΡΗΣΤΟΣ
        thisSeason:
          runners: 47
          runs: 102
          wins: 22
          wins%: 22%
          places: 31
          places%: 30%
          prizes: 160.447 €
        lastSeason:
          runners: 53
          runs: 245
          wins: 54
          wins%: 22%
          places: 83
          places%: 34%
          prizes: 405.395 €
        thisJockeyThisSeason:
          runners: 1
          runs: 1
          wins: 0
          wins%: 0%
          places: 1
          places%: 100%
          prizes: 990 €
        thisJockeyLastSeason:
          runners: 1
          runs: 1
          wins: 0
          wins%: 0%
          places: 1
          places%: 100%
          prizes: 990 €
        lifetime:
          runners: 157
          runs: 1235
          wins: 224
          wins%: 18%
          places: 377
          places%: 31%
          prizes: 1.651.509 €
    StatsRaceTrainerEN:
      allOf:
        - $ref: '#/components/schemas/StatsRaceTrainer'
      example:
        raceId: 20081
        horseId: 16273
        name: Kouvaras Christos
        thisSeason:
          runners: 47
          runs: 102
          wins: 22
          wins%: 22%
          places: 31
          places%: 30%
          prizes: 160.447 €
        lastSeason:
          runners: 53
          runs: 245
          wins: 54
          wins%: 22%
          places: 83
          places%: 34%
          prizes: 405.395 €
        thisJockeyThisSeason:
          runners: 1
          runs: 1
          wins: 0
          wins%: 0%
          places: 1
          places%: 100%
          prizes: 990 €
        thisJockeyLastSeason:
          runners: 1
          runs: 1
          wins: 0
          wins%: 0%
          places: 1
          places%: 100%
          prizes: 990 €
        lifetime:
          runners: 157
          runs: 1235
          wins: 224
          wins%: 18%
          places: 377
          places%: 31%
          prizes: 1.651.509 €
    StatsRaceTrainer:
      type: object
      properties:
        raceId:
          type: integer
          format: int64
          description: Unique id of race
        horseId:
          type: integer
          format: int64
          description: Unique id of horse in race
        name:
          type: string
          description: Name of trainer
        thisSeason:
          type: object
          properties:
            runners:
              type: integer
              format: int32
              description: Distinct sum of horses in this season
            runs:
              type: integer
              format: int32
              description: Races in this season
            wins:
              type: integer
              format: int32
              description: Wins in this season
            wins%:
              type: string
              description: Wins percentage in this season
            places:
              type: integer
              format: int32
              description: Places in this season
            places%:
              type: string
              description: Places percentage in this season
            prizes:
              type: string
              description: Prizes summary in this season
        lastSeason:
          type: object
          properties:
            runners:
              type: integer
              format: int32
              description: Distinct sum of horses in last season
            runs:
              type: integer
              format: int32
              description: Races in last season
            wins:
              type: integer
              format: int32
              description: Wins in last season
            wins%:
              type: string
              description: Wins percentage in last season
            places:
              type: integer
              format: int32
              description: Places in last season
            places%:
              type: string
              description: Places percentage in last season
            prizes:
              type: string
              description: Prizes summary in last season
        thisJockeyThisSeason:
          type: object
          properties:
            runners:
              type: integer
              format: int32
              description: Distinct sum of horses with current jockey in this season
            runs:
              type: integer
              format: int32
              description: Races with current jockey in this season
            wins:
              type: integer
              format: int32
              description: Wins with current jockey in this season
            wins%:
              type: string
              description: Wins percentage with current jockey in this season
            places:
              type: integer
              format: int32
              description: Places with current jockey in this season
            places%:
              type: string
              description: Places percentage with current jockey in this season
            prizes:
              type: string
              description: Prizes summary with current jockey in this season
        thisJockeyLastSeason:
          type: object
          properties:
            runners:
              type: integer
              format: int32
              description: Distinct sum of horses with current jockey in last season
            runs:
              type: integer
              format: int32
              description: Races with current jockey in last season
            wins:
              type: integer
              format: int32
              description: Wins with current jockey in last season
            wins%:
              type: string
              description: Wins percentage with current jockey in last season
            places:
              type: integer
              format: int32
              description: Places with current jockey in last season
            places%:
              type: string
              description: Places percentage with current jockey in last season
            prizes:
              type: string
              description: Prizes summary with current jockey in last season
        lifetime:
          type: object
          properties:
            runners:
              type: integer
              format: int32
              description: Distinct sum of horses of career
            runs:
              type: integer
              format: int32
              description: Races of career
            wins:
              type: integer
              format: int32
              description: Wins of career
            wins%:
              type: string
              description: Wins percentage of career
            places:
              type: integer
              format: int32
              description: Places of career
            places%:
              type: string
              description: Places percentage of career
            prizes:
              type: string
              description: Prizes summary of career