openapi: 3.0.0
####################
# Общая информация #
####################
info:
  title: API documentation i`way transfer
  description: API documentation to external integration
  termsOfService: http://swagger.io/terms/
  contact:
    name: Technical Support Service
    email: support@iwayex.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0

####################
# Внешняя API документация
####################
externalDocs:
  description: Additional API Documentation
  url: https://iway.io/ngapidoc

####################
# Доступные сервера
####################
servers:
  - url: https://sandbox.iway.io/transnextgen/
    description: Sandbox Enviroment - окружение предназначено для проведения первичной интеграции, внутреннего и внешнего тестирования
  - url: https://iway.ru/transnextgen/
    description: Production Enviroment - окружение предназначено для работы в "боевом" режиме

####################
# Теги
####################
tags:
  - name: user
    description: Пользователи
  - name: place
    description: Точки маршрута
  - name: price
    description: Ценовые предложения
  - name: order
    description: Заказы

#-------------------------------------------------------------------------------
####################
# COMPONENTS
####################
components:
  
  ####################
  # SCHEMES
  ####################
  
  schemas:
    
    ####################
    # PRIMITIVE SCHEMES
    ####################
    
    user_id:
      title: Идентификатор пользователя
      type: integer
      # SANDBOX
      example: 1863
    
    password:
      title: Пароль пользователя
      type: string
      format: password
      # SANDBOX
      example: 1830Voldemort
    
    transaction:
      title: Уникальный идентификатор заказа. Общий для заказа из нескольких поездок (платежная транзакция)
      type: integer
      example: 14565973
    
    term:
      title: Строка запроса для поиска
      type: string
      example: Толмачево
    
    lang:
      title: Локализация ожидаемого ответа
      description: >
          Локализация ожидаемого ответа
          
          `ru` - Русский
          
          `en` - Английский
      type: string
      enum: [ru, en]
      example: ru
      default: ru
  
    currency:
      title: Валюта ценового предложения
      description: >
          Валюта ценового предложения
          
          `RUB` - Российский Рубль
          
          `EUR` - Евро
          
          `USD` - Американский Доллар
          
          `CNY` - Юань Ренминби
          
          `CZK` - Чешская Крона
          
          `GBP` - Фунт Стерлингов
          
          `INR` - Индийская Рупия
          
          `KZT` - Тенге
          
          `SGD` - Сингапурский Доллар
          
          `TRY` - Турецкая Лира
          
          `UAH` - Гривна
          
          `ZAR` - Рэнд
          
          `BYN` - Белорусский рубль
      type: string
      enum:
        - RUB
        - EUR
        - USD
        - CNY
        - CZK
        - GBP
        - INR
        - KZT
        - SGD
        - TRY
        - UAH
        - ZAR
        - BYN
      example: RUB
      default: RUB
      
    place_point:
      title: Координаты точки маршрута
      type: string
      example: 55.00835259999999,82.9357327
  
    duration:
      title: Продолжительность аренды автомобиля (в секундах)
      type: integer
      example: 3600
      
    additional_change_itinerary:
      title: Дополнительные заезды/изменение маршрутов
      description: >
          Дополнительные заезды/изменение маршрутов
          
          `1` - Не требует согласования
          
          `2` - Требует согласования
          
          `3` - Запрещено
      type: integer
      enum: [1, 2, 3]
      example: 1
    
    additional_wait:
      title: Дополнительное ожидание
      description: >
          Дополнительное ожидание
          
          `1` - Не требует согласования
          
          `2` - Требует согласования
          
          `3` - Запрещено
      type: integer
      enum: [1, 2, 3]
      example: 1
      
    fare_on_toll_road:
      title: Проезд по платной дороге
      description: >
          Проезд по платной дороге
          
          `1` - Не требует согласования
          
          `2` - Требует согласования
          
          `3` - Запрещено
      type: integer
      enum: [1, 2, 3]
      example: 1
      
    price_id:
      title: Объект точки маршрута
      type: integer
      example: 2921215
      
    passengers_number:
      title: Количество пассажиров
      type: integer
      example: 3
    
    text_tablet:
      title: Текст таблички
      type: string
      example: i`way ждёт тебя!
    
    comment:
      title: Комментарий к заказу
      type: string
      example: Встретить на чистом автомобиле и в нарядном костюме
      
    payable_status:
      title: Статус оплаты заказа
      description: >
          Статус оплаты заказа
          
          `1` - 1
          
          `2` - 2
          
          `3` - 3
      type: integer
      enum:
        - 1
        - 2
      example: 1
    
    service_id:
      title: Тип поездки
      description: >
          Тип поездки
          
          `1` - Трансфер
          
          `2` - Аренда с водителем
      type: integer
      enum:
        - 1
        - 2
      example: 1
    
    status:
      title: Статус обработки поездки
      description: >
          Проезд по платной дороге
          
          `0` - Ожидание обработки
          
          `1` - Обработка
          
          `2` - Принята
          
          `3` - Выполнена
          
          `4` - Отменена без штрафа
          
          `5` - Отменена со штрафом
          
          `6` - Не оплачена
          
          `7` - Изменена
      type: integer
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
      example: 0
      
    order_id:
      title: Идентификатор заказа / поездки
      type: integer
      example: 4000172
    
    price:
      title: Стоимость поездки
      type: integer
      example: 539
      
    price_uid:
      title: UID предложения
      type: string
      example: 704fecdc-d516-4cc5-bf61-5a74a37c7ba4
    
    ####################
    # ENTITY SCHEMES
    ####################
    
    send_params_object:
      title: Настройки уведомлений
      type: object
      properties:
        send_client_voucher:
          description: Отправлять ваучер пассажиру
          type: boolean
          example: false
        send_admin_voucher:
          description: Отправлять ваучер администратору личного кабинета
          type: boolean
          example: false
        send_client_doc:
          description: Отправлять документы пользователю личного кабинета
          type: boolean
          example: false
        send_admin_doc:
          description: Отправлять документы администратору личного кабинета
          type: boolean
          example: false
    
    location_object:
      title: Точка маршрута
      type: object
      properties:
        flight_number:
          description: Номер авиарейса, если место начала поездки аэропорт
          type: string
          example: 12
        terminal_number:
          description: Номер терминала аэропорта, если место начала или окончания поездки аэропорт
          type: string
          example: 41
        train_number:
          description: Номер поезда, если место начала поездки ж/д вокзал
          type: string
          example: 1352
        train_carriage_number:
          description: Номер вагона поезда, если место начала поездки ж/д вокзал
          type: string
          example: 4
        address:
          description: Адрес места
          type: string
          example: Новосибирск
        location:
          description: Координаты места
          type: string
          example: 55.00835259999999,82.9357327
        time:
          description: Время прилета/вылета самолета, прибытия/отправления поезда или подачи автомобиля. Зависит от типа места отправления/назначения
          type: string
          format: date-time
          example: 2020-05-30 00:00
      
    passager_object:
      title: Пассажир
      type: object
      properties:
        name:
          description: Имя пассажира
          type: string
          example: Test Test
        email:
          description: Адрес электронной почты пассажира
          type: string
          example: iwaytest@gmail.com
        phone:
          description: Телефон пассажира
          type: string
          example: "79139134657"
      
    place_object:
      title: Точка маршрута
      type: object
      properties:
        place_id:
          type: integer
          example: 9
        title:
          type: string
          example: Новосибирск
        type:
          type: integer
          example: 1
        type_title:
          type: string
          example: в черте города
        terminal:
          type: array
          items:
            type: string
        declension_titles:
          type: object
          properties:
            nom:
              type: string
              example: null
            gen:
              type: string
              example: null
            acc:
              type: string
              example: null
    
    car_class_object:
      type: object
      properties:
        car_class_id:
          type: integer
          example: 2
        title:
          type: string
          example: стандарт
        models:
          type: array
          items:
            type: string
            example: Skoda Octavia
        photo:
          type: string
          example: kaknoo5tp6.png
        capacity:
          type: integer
          example: 3
    
    class_services:
      type: object
      properties:
        id:
          
          type: integer
          enum: [1, 2, 3]
        title:
          type: integer
        value:
          type: integer
    
    trip_object:
      title: Поездка
      type: object
      properties:
        price_id:
          $ref: '#/components/schemas/price_id'
        start_location:
          $ref: '#/components/schemas/location_object'
        finish_location:
          $ref: '#/components/schemas/location_object'
        additional_location:
          title: Список доп. адресов
          type: array
          items:
            $ref: '#/components/schemas/location_object'
        passengers:
          title: Список пассажиров
          type: array
          items:
            $ref: '#/components/schemas/passager_object'
        passengers_number:
          $ref: '#/components/schemas/passengers_number'
        text_tablet:
          $ref: '#/components/schemas/text_tablet'
        comment:
          $ref: '#/components/schemas/comment'
        additional_change_itinerary:
          $ref: '#/components/schemas/additional_change_itinerary'
        additional_wait:
          $ref: '#/components/schemas/additional_wait'
        fare_on_toll_road:
          $ref: '#/components/schemas/fare_on_toll_road'
        send_params:
          $ref: '#/components/schemas/send_params_object'
    
    order_object:
      title: Заказ
      type: object
      properties:
        order_id:
          $ref: '#/components/schemas/order_id'
        transaction:
          $ref: '#/components/schemas/transaction'
        booker_number:
          title: Внутренний номер заказа в системе учета i'way (1C)
          type: string
          example: C-0000062
        price:
          $ref: '#/components/schemas/price'
        payable_status:
          $ref: '#/components/schemas/payable_status'
        service_id:
          $ref: '#/components/schemas/service_id'
        currency:
          $ref: '#/components/schemas/currency'
        status:
          $ref: '#/components/schemas/status'
        passengers:
          type: array
          items:
            $ref: '#/components/schemas/passager_object'
        additional_change_itinerary:
          $ref: '#/components/schemas/additional_change_itinerary'
        additional_wait:
          $ref: '#/components/schemas/additional_wait'
        fare_on_toll_road:
          $ref: '#/components/schemas/fare_on_toll_road'
        send_params:
          $ref: '#/components/schemas/send_params_object'
    
    price_object:
      title: Ценовое предложение
      type: object
      properties:
        price_uid:
          $ref: '#/components/schemas/price_uid'
        price_id:
          $ref: '#/components/schemas/price_id'
        price:
          $ref: '#/components/schemas/price'
        price_rub:
          $ref: '#/components/schemas/price'
        reverse_price:
          type: object
          properties:
            price_id:
              $ref: '#/components/schemas/price_id'
            price:
              $ref: '#/components/schemas/price'
        currency:
          $ref: '#/components/schemas/currency'
        service_id:
          $ref: '#/components/schemas/service_id'
        car_class:
          $ref: '#/components/schemas/car_class_object'
        allowable_subaddress:
          type: integer
          example: 3
        price_subaddress:
          type: integer
          example: 270
        cancellation_time:
          type: integer
          example: 2
        type:
          type: integer
          example: 1
        payed_road:
          type: boolean
          example: false
        blackout_date:
          type: array
          items:
            type: string
            format: date
        allowable_time:
          type: integer
          example: 2
        is_special:
          type: integer
        class_services:
          $ref: '#/components/schemas/class_services'
        id_custom_price:
          type: integer
          example: null
        minimum_duration:
          type: integer
          example: 0
        start_place:
          $ref: '#/components/schemas/place_object'
        finish_place:
          $ref: '#/components/schemas/place_object'
    
    ####################
    # REQUEST SCHEMES
    ####################
    
    requestAuth:
      title: Запрос на аутентификацию
      type: object
      properties:
        user_id:
          $ref: '#/components/schemas/user_id'
        password:
          $ref: '#/components/schemas/password'
    
    requestBodyCreateOrder:
      title: Запрос на создание заказа
      type: object
      properties:
        lang:
          $ref: '#/components/schemas/lang'
        currency:
          $ref: '#/components/schemas/currency'
        trips:
          title: Массив поездок
          type: array
          items:
            $ref: '#/components/schemas/trip_object'
    
    requestBodyUpdateOrder:
      title: Запрос на обновление заказа
      $ref: '#/components/schemas/trip_object'
          
    
    requestBodyCancelOrder:
      title: Запрос на отмену заказа
      type: object
      properties:
        user_id:
          $ref: '#/components/schemas/user_id'
        transaction:
          $ref: '#/components/schemas/transaction'
        order_id:
          $ref: '#/components/schemas/order_id'
          
    ####################
    # RESPONSE SCHEMES
    ####################
    
    responseTransferPrice:
      title: Результат успешного получения предложений по услуге "Трансфер"
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/price_object'
        error:
          type: object
          example: null
      
    responseRentPrice:
      title: Результат успешного получения предложений по услуге "Аренда с водителем"
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/price_object'
        error:
          type: object
          example: null
    
    responseCreateOrder:
      title: Результат успешного создания заказа
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/order_object'
        error:
          type: object
          example: null
          
    
    responseBadRequest:
      title: Ошибка 400
      type: object
      properties:
        result:
          type: object
          example: null
        error:
          type: object
          properties:
            name:
              type: string
              example: Bad Request
            message:
              type: string
              example: Price not found
            code:
              type: integer
              example: 0
            status:
              type: integer
              example: 400
              
    responseUnautorization:
      title: Ошибка 401
      type: object
      properties:
        result:
          type: object
          example: null
        error:
          type: object
          properties:
            name:
              type: string
              example: Bad Request
            message:
              type: string
              example: Unautorization
            code:
              type: integer
              example: 0
            status:
              type: integer
              example: 401
    
    responseNotFound:
      title: Ошибка 404
      type: object
      properties:
        result:
          type: object
          example: null
        error:
          type: object
          properties:
            name:
              type: string
              example: Not Found
            message:
              type: string
              example: Страница не найдена.
            code:
              type: integer
              example: 0
            status:
              type: integer
              example: 404
            type:
              type: string
              example: yii\\web\\NotFoundHttpException
            previous:
              type: object
              properties:
                name:
                  type: string
                  example: Invalid Route
                message:
                  type: string
                  example: Unable to resolve the request
                code:
                  type: integer
                  example: 0
                type:
                  type: string
                  example: yii\\base\\InvalidRouteException
      
  ####################
  # PARAMETERS
  ####################
  parameters:
  
    transaction:
      required: true
      description: Идентификатор транзакции
      name: transaction
      in: path
      schema:
        $ref: '#/components/schemas/transaction'
  
    term:
      description: Текст для поиска
      name: term
      in: query
      schema:
        $ref: '#/components/schemas/term'
    
    lang:
      description: >
          Локализация ожидаемого ответа
          
          
          `ru` - Русский
          
          
          `en` - Английский
      name: lang
      in: query
      schema:
        $ref: '#/components/schemas/lang'
    
    user_id:
      required: true
      description: Идентификатор пользователя
      name: user_id
      in: query
      schema:
        $ref: '#/components/schemas/user_id'
    
    currency:
      description: >
          Валюта ценового предложения
          
          
          `RUB` - Российский Рубль
          
          
          `EUR` - Евро
          
          
          `USD` - Американский Доллар
          
          
          `CNY` - Юань Ренминби
          
          
          `CZK` - Чешская Крона
          
          
          `GBP` - Фунт Стерлингов
          
          
          `INR` - Индийская Рупия
          
          
          `KZT` - Тенге
          
          
          `SGD` - Сингапурский Доллар
          
          
          `TRY` - Турецкая Лира
          
          
          `UAH` - Гривна
          
          
          `ZAR` - Рэнд
          
          
          `BYN` - Белорусский рубль
      name: currency
      in: query
      schema:
        $ref: '#/components/schemas/currency'
    
    start_place_point:
      description: Координаты для точки начала поездки
      name: start_place_point
      in: query
      schema:
        $ref: '#/components/schemas/place_point'
    
    finish_place_point:
      description: Координаты точки завершения поездки
      name: finish_place_point
      in: query
      schema:
        $ref: '#/components/schemas/place_point'
      
    duration:
      description: Продолжительность аренды автомобиля
      name: duration
      in: query
      schema:
        $ref: '#/components/schemas/duration'

  ####################
  # BODY
  ####################
  requestBodies:
    auth:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/requestAuth'
    
    createOrder:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/requestBodyCreateOrder'
            
    updateOrder:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/requestBodyUpdateOrder'
            
    cancelOrder:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/requestBodyCancelOrder'
  
  ####################
  # RESPONSES
  ####################
  responses:
    TransferPrice:
      description: Создание заказа выполнено
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/responseTransferPrice'
            
    RentPrice:
      description: Создание заказа выполнено
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/responseRentPrice'
            
    CreateOrder:
      description: Создание заказа выполнено
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/responseCreateOrder'
    BadRequest:
      description: Ошибка в запросе
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/responseBadRequest'
    Unauthorized:
      description: Запрос не авторизован
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/responseUnautorization'
    NotFound:
      description: Запрашиваемый ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/responseNotFound'
            
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      
security:
  - bearerAuth: []

####################
# Описание методов
####################
paths:
  ####################
  # Аутентификация поользователя
  ####################
  /v3/auth/login:
    post:
      security: []
      tags:
        - user
      summary: Авторизация пользователя в системе бронирования i`way transfer
      operationId: authUser
      requestBody:
        $ref: '#/components/requestBodies/auth'
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
          
  ####################
  # Получение списка мест из поиска
  ####################
  /v3/places/find:
    get:
      security:
        - bearerAuth: []
      tags:
        - place
      summary: Получение списка мест из поиска
      operationId: getPlaceList
      parameters:
        - $ref: '#/components/parameters/term'
        - $ref: '#/components/parameters/lang'
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
          
  ####################
  # Получение списка предложений по услуге "Трансфер"
  ####################
  /v3/prices:
    get:
      security:
        - bearerAuth: []
      tags:
        - price
      summary: Получение списка предложений по услуге "Трансфер"
      operationId: getTransferPriceList
      parameters:
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/start_place_point'
        - $ref: '#/components/parameters/finish_place_point'
        - $ref: '#/components/parameters/currency'
      responses:
        200:
          $ref: '#/components/responses/TransferPrice'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
          
  ####################
  # Получение списка предложений по услуге "Аренда с водителем"
  ####################
  /v3/prices/rent:
    get:
      security:
        - bearerAuth: []
      tags:
        - price
      summary: Получение списка предложений по услуге "Аренда с водителем"
      operationId: getRentPriceList
      parameters:
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/start_place_point'
        - $ref: '#/components/parameters/duration'
        - $ref: '#/components/parameters/currency'
      responses:
        200:
          $ref: '#/components/responses/RentPrice'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  
  ####################
  # Создание заказа
  ####################
  /v3/orders:
    post:
      security:
        - bearerAuth: []
      tags:
        - order
      summary: Создание заказа
      operationId: createOrder
      requestBody:
        $ref: '#/components/requestBodies/createOrder'
      responses:
        200:
          $ref: '#/components/responses/CreateOrder'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
          
  ####################
  # Подтверждение заказа
  ####################
  /v3/orders/approve/{transaction}:
    post:
      security:
        - bearerAuth: []
      tags:
        - order
      summary: Подтверждение заказа
      operationId: approveOrder
      parameters:
        - $ref: '#/components/parameters/transaction'
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  
  /v3/orders/trips:
  
    ####################
    # Получение списка заказов
    ####################
    get:
      security:
        - bearerAuth: []
      tags:
        - order
      summary: Получение списка поездок
      operationId: getOrderList
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  
    ####################
    # Редактирование заказа
    ####################
    put:
      security:
        - bearerAuth: []
      tags:
        - order
      summary: Обновление информации по поездке
      operationId: updateOrder
      requestBody:
        $ref: '#/components/requestBodies/updateOrder'
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
  
  ####################
  # Отмена заказа
  ####################
  /v3/orders/trips/cancel:
    post:
      security:
        - bearerAuth: []
      tags:
        - order
      summary: Отмена поездки
      operationId: cancelOrder
      requestBody:
        $ref: '#/components/requestBodies/cancelOrder'
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'