openapi: 3.0.1
info:
  title: Mainframe Cloud File Service
  description: >
    Mainframe Cloud API Services provide a uniform method for accessing a range
    of mainframe data sources via a high-performance data access layer that
    interfaces natively with z/OS assets in real-time.


    Available functions in the File Service include READ (for data unloads),
    LIST (for data discovery), and CMD (for executing File commands).


    The Mainframe Cloud File Service empowers a range of data-centric
    activities, including data integration, data migration, business
    intelligence, analytics, and open banking.

    ***

    ## Example Apps


    * [Start
    Fiddling](https://www.mainframecloudplatform.com/rta1/examples/QFile%20JSFIDDLE.html)
    - Use JSFiddle to work with sample code for mainframe datasets.


    * [Dataset
    List](https://www.mainframecloudplatform.com/rta1/examples/QFile%20--%20Dataset%20List.html)
    - Display a filtered list of mainframe datasets.


    * [Dataset
    Unload](https://www.mainframecloudplatform.com/rta1/examples/QFile%20--%20Dataset%20Unload.html)
    - Read and display a mainframe file (dataset).

    ***
  contact:
    email: support@mainframecloud.com.au
  version: '0.2'
servers:
  - url: 'https://www.mainframecloudplatform.com/rta1/rest/file'
    description: Mainframe Cloud Sandbox Server
tags:
  - name: read
    description: Mainframe Cloud File Read Service
  - name: list
    description: Mainframe Cloud File List Service
  - name: cmd
    description: Mainframe Cloud File Command Service
paths:
  /read:
    post:
      tags:
        - read
      requestBody:
        description: >-
          The Read service returns the content of a mainframe file (PDS member
          or SEQ dataset) as specified in the JSON input request. The result is
          returned in the JSON response object.


          [Click
          here](https://www.mainframecloudplatform.com/rta1/examples/QFile%20JSFIDDLE.html)
          for some examples.

          ***
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/read_request'
            examples:
              Display Mainframe Dataset:
                value: |-
                  {
                      "in": "MSP.VSAM.DATA(REPRO1)"
                  }
              Transfer Mainframe Dataset:
                value: |-
                  {
                      "in": "MSP.VSAM.DATA(REPRO1)",
                      "out": {
                          "target": {
                              "folder": "sandbox"
                          }
                      }
                  }
      responses:
        '200':
          description: File read service response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/read_response'
              examples:
                Display Mainframe Dataset:
                  value: |-
                    {
                        "rc": 200,
                        "agentVersion": "ON-DEMAND",
                        "respobj": "cmdresp",
                        "cmdresp": {
                            "data": [
                                "10010TOM  USR400",
                                "10020MARK USR300",
                                "10030MARK USR200",
                                "10040BILL USR100",
                                "10060HARRYUSR405",
                                "10070JILL USR404"
                            ],
                            "file": "'MSP.VSAM.DATA(REPRO1)'"
                        }
                    }
                Transfer Mainframe Dataset:
                  value: |-
                    {
                        "rc": 200,
                        "agentVersion": "ON-DEMAND",
                        "respobj": "cmdresp",
                        "cmdresp": {
                            "file": "'MSP.VSAM.DATA(REPRO1)'",
                            "target": {
                                "folder": "/cust/zizisoftware/home/webapps/ws/uploads/",
                                "file": "https://www.mainframecloudplatform.com/ws/uploads/MSP.VSAM.DATA_REPRO1_.m03d27.h00m09.s25m652.txt"
                            },
                            "message": [
                                "TRANSFER COMPLETE. Total transferred = 1 KB. Elapsed time = 160 ms"
                            ]
                        }
                    }
  /list:
    post:
      tags:
        - list
      requestBody:
        description: >-
          The List service returns a dataset list or dataset information,
          according to the criteria specified in the JSON input request. The
          result, dataset list and attributes, is returned in the JSON response
          object.


          [Click
          here](https://www.mainframecloudplatform.com/rta1/examples/QFile%20JSFIDDLE.html)
          for some examples.

          ***
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/list_request'
            examples:
              Get Dataset List:
                value: |-
                  {
                      "filter": {
                          "prefix": "MSP.VSAM"
                      }
                  }
              Get Dataset Information:
                value: |-
                  {
                      "in": "MSP.VSAM.DATA"
                  }
      responses:
        '200':
          description: File list service response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_response'
              examples:
                Get Dataset List:
                  value: |-
                    {
                        "rc": 200,
                        "agentVersion": "ON-DEMAND",
                        "respobj": "cmdresp",
                        "cmdresp": {
                            "data": [
                                {
                                    "name": "MSP.VSAM.COPYBOOK",
                                    "type": "NONVSAM",
                                    "vsam": false
                                },
                                {
                                    "name": "MSP.VSAM.DATA",
                                    "type": "NONVSAM",
                                    "vsam": false
                                },
                                {
                                    "name": "MSP.VSAM.DATA80",
                                    "type": "NONVSAM",
                                    "vsam": false
                                },
                                {
                                    "name": "MSP.VSAM.EMP",
                                    "type": "CLUSTER",
                                    "vsam": true
                                },
                                {
                                    "name": "MSP.VSAM.EMP.DATA",
                                    "type": "DATA",
                                    "vsam": true
                                },
                                {
                                    "name": "MSP.VSAM.EMP.INDEX",
                                    "type": "INDEX",
                                    "vsam": true
                                },
                                {
                                    "name": "MSP.VSAM.ESDS1",
                                    "type": "CLUSTER",
                                    "vsam": true
                                },
                                {
                                    "name": "MSP.VSAM.ESDS1.DATA",
                                    "type": "DATA",
                                    "vsam": true
                                },
                                {
                                    "name": "MSP.VSAM.JCL",
                                    "type": "NONVSAM",
                                    "vsam": false
                                },
                                {
                                    "name": "MSP.VSAM.KSDS1",
                                    "type": "CLUSTER",
                                    "vsam": true
                                },
                                {
                                    "name": "MSP.VSAM.KSDS1.DATA",
                                    "type": "DATA",
                                    "vsam": true
                                },
                                {
                                    "name": "MSP.VSAM.KSDS1.INDEX",
                                    "type": "INDEX",
                                    "vsam": true
                                },
                                {
                                    "name": "MSP.VSAM.AIX1",
                                    "type": "AIX",
                                    "vsam": true
                                },
                                {
                                    "name": "MSP.VSAM.AIX1.DATA",
                                    "type": "DATA",
                                    "vsam": true
                                },
                                {
                                    "name": "MSP.VSAM.AIX1.INDEX",
                                    "type": "INDEX",
                                    "vsam": true
                                },
                                {
                                    "name": "MSP.VSAM.AIX2",
                                    "type": "AIX",
                                    "vsam": true
                                },
                                {
                                    "name": "MSP.VSAM.AIX2.DATA",
                                    "type": "DATA",
                                    "vsam": true
                                },
                                {
                                    "name": "MSP.VSAM.AIX2.INDEX",
                                    "type": "INDEX",
                                    "vsam": true
                                },
                                {
                                    "name": "MSP.VSAM.KSDS1K",
                                    "type": "CLUSTER",
                                    "vsam": true
                                },
                                {
                                    "name": "MSP.VSAM.KSDS1K.DATA",
                                    "type": "DATA",
                                    "vsam": true
                                },
                                {
                                    "name": "MSP.VSAM.KSDS1K.INDEX",
                                    "type": "INDEX",
                                    "vsam": true
                                },
                                {
                                    "name": "MSP.VSAM.PATH1",
                                    "type": "PATH",
                                    "vsam": true
                                },
                                {
                                    "name": "MSP.VSAM.PATH2",
                                    "type": "PATH",
                                    "vsam": true
                                }
                            ]
                        }
                    }
                Get Dataset Information:
                  value: |-
                    {
                        "rc": 200,
                        "agentVersion": "ON-DEMAND",
                        "vsam": false,
                        "respobj": "cmdresp",
                        "cmdresp": {
                            "dataset": "MSP.VSAM.DATA",
                            "recfm": "FB",
                            "lrecl": 16,
                            "blksize": 27984,
                            "dsorg": "PO",
                            "volumes": [
                                "WORK07"
                            ],
                            "units": "TRACK",
                            "primary": 1,
                            "secondary": 0,
                            "allocated": 1,
                            "used": 1,
                            "extents": 1,
                            "dir_blks": 1,
                            "used_dir": 1,
                            "members": [
                                "DEFCL",
                                "REPRO1",
                                "REPRO1K"
                            ],
                            "members_total": 3
                        }
                    }
  /cmd:
    post:
      tags:
        - cmd
      requestBody:
        description: >-
          The CMD service executes the File command specified in the JSON input
          request and returns the result in the JSON response object. Use this
          service for performing updates, and to create or delete a mainframe
          dataset.

          ***
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cmd_request'
            examples:
              Update Mainframe Dataset (SEQ Dataset):
                value: |-
                  {
                      "cmd": "write",
                      "dsn": "ADCDB.TEST.OUT9",
                      "data": [
                          "test line 1",
                          "test line 2",
                          "test line 3",
                          "test line 4",
                          "test line 5",
                          "test line 6",
                          "test line 7",
                          "test line 8",
                          "test line 9",
                          "test line 10",
                          "test line 11",
                          "test line 12",
                          "test line 13",
                          "test line 14",
                          "test line 15",
                          "test line 16",
                          "test line 17",
                          "test line 18",
                          "test line 19",
                          "test line 20"
                      ]
                  }
              Update Mainframe Dataset (PDS Member):
                value: |-
                  {
                      "cmd": "write",
                      "dsn": "ADCDB.PDS.CNTL(TEST1)",
                      "data": [
                          "test line 1",
                          "test line 2",
                          "test line 3",
                          "test line 4",
                          "test line 5",
                          "test line 6",
                          "test line 7",
                          "test line 8",
                          "test line 9",
                          "test line 10",
                          "test line 11",
                          "test line 12",
                          "test line 13",
                          "test line 14",
                          "test line 15",
                          "test line 16",
                          "test line 17",
                          "test line 18",
                          "test line 19",
                          "test line 20"
                      ]
                  }
              Create Mainframe Dataset:
                value: |-
                  {
                      "cmd": "create",
                      "dsn": "ADCDB.TEST.OUT9",
                      "likedsn": "ADCDB.TEST.OUT1"
                  }
              Delete Mainframe Dataset:
                value: |-
                  {
                      "cmd": "delete",
                      "dsn": "ADCDB.TEST.OUT9"
                  }
      responses:
        '200':
          description: File command service response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cmd_response'
              examples:
                Update Mainframe Dataset (SEQ Dataset):
                  value: |-
                    {
                        "rc": 200,
                        "agentVersion": "ON-DEMAND",
                        "respobj": "cmdresp",
                        "cmdresp": {
                            "message": [
                                "Data successfully saved to 'ADCDB.TEST.OUT9'." 
                            ]
                        }
                    }
                Update Mainframe Dataset (PDS Member):
                  value: |-
                    {
                        "rc": 200,
                        "agentVersion": "ON-DEMAND",
                        "respobj": "cmdresp",
                        "cmdresp": {
                            "message": [
                                "Data successfully saved to 'ADCDB.PDS.CNTL(TEST1)'." 
                            ]
                        }
                    }
                Create Mainframe Dataset:
                  value: |-
                    {
                        "rc": 200,
                        "agentVersion": "ON-DEMAND",
                        "respobj": "cmdresp",
                        "cmdresp": {
                            "message": [
                                "ALLOCATE DATASET('ADCDB.TEST.OUT9') NEW LIKE('ADCDB.TEST.OUT1') completed with return code: 0" 
                            ]
                        }
                    }
                Delete Mainframe Dataset:
                  value: |-
                    {
                        "rc": 200,
                        "agentVersion": "ON-DEMAND",
                        "respobj": "cmdresp",
                        "cmdresp": {
                            "message": [
                                "DELETE 'ADCDB.TEST.OUT9' completed with return code: 0" 
                            ]
                        }
                    }
components:
  schemas:
    read_request:
      type: object
      required:
        - in
      properties:
        in:
          description: The dataset name to read.
          type: string
        out:
          type: object
          properties:
            target:
              type: object
              properties:
                folder:
                  description: >-
                    The target folder destination. If specified, the data is
                    saved to the target folder as a text file; otherwise, the
                    data is returned in the JSON response object. 


                    Note: The Mainframe Cloud Sandbox endpoint only allows
                    target folder 'sandbox'.
                  type: string
    read_response:
      type: object
      properties:
        cmdresp:
          type: object
          properties:
            data:
              type: array
              items:
                type: string
            file:
              type: string
            target:
              description: __Returned for requests where target is specified.__
              type: object
              properties:
                folder:
                  type: string
                file:
                  type: string
            message:
              type: array
              items:
                type: string
    list_request:
      type: object
      properties:
        in:
          description: >-
            Optional for file dataset information (see examples for details). 
            Overrides filter.prefix request field.
          type: string
        filter:
          description: __Optional for file dataset list (see _Get Dataset List_ example).__
          type: object
          properties:
            prefix:
              description: >-
                The required syntax for the prefix field is as per the TSO
                LISTCAT command LEVEL operand; [click
                here](https://www.ibm.com/support/knowledgecenter/en/SSLTBW_2.1.0/com.ibm.zos.v2r1.ikjc500/listcat.htm)
                for details.
              type: string
    list_response:
      type: object
      properties:
        cmdresp:
          description: >-
            __For requests where _filter.prefix_ is specified, this returns a
            dataset list described in the _data_ object array below.__ 


            __For requests where the _in_ field is populated (input dataset),
            this returns dataset information for the request input dataset. This
            is the result of the IBM z/OS TSO LISTDS command with MEMBERS
            operand, [click
            here](https://www.ibm.com/support/knowledgecenter/en/SSLTBW_2.1.0/com.ibm.zos.v2r1.ikjc500/listds.htm)
            for details.__
          type: object
          properties:
            data:
              description: >-
                Returned for requests where _filter.prefix_ is specified, this
                is an object array of fields (name, type, vsam) described below.
              type: array
              items:
                type: object
                properties:
                  name:
                    description: The listed dataset name.
                    type: string
                  type:
                    description: >-
                      The dataset type, examples include; CLUSTER, DATA, INDEX,
                      AIX, PATH, PAGESPACE, NONVSAM, GDG.
                    type: string
                  vsam:
                    description: >-
                      The _vsam_ field value will be TRUE if the listed dataset
                      is a VSAM file; otherwise, the value will be false.
                    type: boolean
            dataset:
              description: For requests where input dataset is specified.
              type: string
            recfm:
              description: >-
                For requests where input dataset is specified.  The record
                format.
              type: string
            dsorg:
              description: >-
                For requests where input dataset is specified.  The dataset
                organization, indicated as follows; PS for sequential, PO for
                partitioned, IS for indexed sequential, DA for direct access, **
                for unspecified, ?? for any other specification.
              type: string
            extents:
              description: >-
                For requests where input dataset is specified.  Space allocation
                information.
              type: integer
            blksize:
              description: For requests where input dataset is specified.  The block size.
              type: integer
            volumes:
              description: >-
                For requests where input dataset is specified.  DASD on which
                the dataset resides.
              type: array
              items:
                type: string
            units:
              description: >-
                For requests where input dataset is specified.  Space allocation
                information.
              type: string
            used:
              description: >-
                For requests where input dataset is specified.  Space allocation
                information.
              type: integer
            lrecl:
              description: >-
                For requests where input dataset is specified.  The logical
                record length.
              type: integer
            secondary:
              description: >-
                For requests where input dataset is specified.  Space allocation
                information.
              type: integer
            dir_blks:
              description: >-
                For requests where input dataset is specified.  Directory
                information for members of partitioned datasets.
              type: integer
            used_dir:
              description: >-
                For requests where input dataset is specified.  Directory
                information for members of partitioned datasets.
              type: integer
            members:
              description: >-
                For requests where input dataset is specified.  The list of
                members in a partitioned dataset.
              type: array
              items:
                type: string
            members_total:
              description: >-
                For requests where input dataset is specified.  The number of
                members in a partitioned dataset.
              type: integer
            primary:
              description: >-
                For requests where input dataset is specified.  Space allocation
                information.
              type: integer
            allocated:
              description: >-
                For requests where input dataset is specified.  Space allocation
                information.
              type: integer
            message:
              type: array
              items:
                type: string
    cmd_request:
      type: object
      required:
        - cmd
      properties:
        cmd:
          description: >-
            The dataset command to be executed.  Supported commands for the File
            web service include:


            _create_

            - Create new dataset (_dsn_) with attributes from the existing model
            dataset specified in _likedsn_.


            _delete_

            - Delete dataset (_dsn_).


            _write_

            - Update dataset (_dsn_) with the data specified in the _data_
            request object field.
          type: string
        dsn:
          description: 'The dataset name to create, delete, or update.'
          type: string
        likedsn:
          description: >-
            The model dataset whose attributes are to be used for the create
            command.
          type: string
        data:
          description: The data to be written to the target dataset for the write command.
          type: array
          items:
            type: string
    cmd_response:
      type: object
      properties:
        cmdresp:
          type: object
          properties:
            message:
              description: Contains any messages pertaining to the dataset command.
              type: array
              items:
                type: string
