openapi: 3.0.0
info:
  version: 0.0.2
  title: ORDS generated API for pcs_api
servers:
  - url: 'https://agkqslkkaj91pge-dbeurprod.adb.eu-frankfurt-1.oraclecloudapps.com/ords/spartan/api'
security:
  - bearerAuth: []
paths:
  /authenticate/:
    post:
      tags:
        - Authentication
      summary: Aunthentication by User & Password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: JWT Token
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  /heartbeat/:
    get:
      tags:
        - Authentication
      summary: System check OK
      responses:
        '200':
          description: A list of all the Driver Options
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
  /login/:
    post:
      tags:
        - Authentication
      summary: Generate JWT token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: A list of all the Login Details
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  /pet-types/:
    get:
      tags:
        - Pet Type
      summary: Get your all Pet Types
      responses:
        '200':
          description: A list of all the Pet  Types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet_types'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  '/pet-types/{petTypeId}':
    get:
      tags:
        - Pet Type
      summary: Find Pet Types by Pet Type Id
      responses:
        '200':
          description: A details of specific Pet  Types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet_types'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: petTypeId
          in: path
          required: true
          description: The code of a specific Pet Type
          schema:
            type: string
            pattern: '^[^/]+$'
  /breeds/:
    get:
      tags:
        - Pet Type
      summary: Get all Breads
      responses:
        '200':
          description: A list of all the breeds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Breeds'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  '/breeds/{petTypeId}':
    get:
      tags:
        - Pet Type
      summary: Find Breeds by Pet Type Id
      responses:
        '200':
          description: All breeds for a specific Pet Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Breeds'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: petTypeId
          in: path
          required: true
          description: The code of a specific Pet Type
          schema:
            type: string
            pattern: '^[^/]+$'
  /pet-sex/:
    get:
      tags:
        - Pet Type
      summary: Get your all Pet sex Types
      responses:
        '200':
          description: A list of all the Pet sex Types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pet_sex'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  /countries/:
    get:
      tags:
        - Territory
      summary: Get all Countries
      responses:
        '200':
          description: A list of all the Countries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Countries'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  '/countries/{getByCountryCode}':
    get:
      tags:
        - Territory
      summary: Find Country by Country Code
      responses:
        '200':
          description: The code of a specific Country
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Countries'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: getByCountryCode
          in: path
          required: true
          description: The code of a specific Country
          schema:
            type: string
            pattern: '^[^/]+$'
  /customer/:
    get:
      tags:
        - Customer
      summary: Get a list of all customers
      responses:
        '200':
          description: Customer detail by CustomerID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer_Get'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      tags:
        - Customer
      summary: Add new Customer
      requestBody:
        $ref: '#/components/requestBodies/PAYLOAD1'
      responses:
        '200':
          description: output of the endpoint Route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer_Post'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  '/customer/{customerId}':
    get:
      tags:
        - Customer
      summary: Find Customer by Customer Id
      responses:
        '200':
          description: Customer detail by CustomerID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer_Get'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: customerId
          in: path
          required: true
          description: The code of a specific Customer
          schema:
            type: integer
            pattern: '^[^/]+$'
    put:
      tags:
        - Customer
      summary: Udate an existing Customer
      requestBody:
        $ref: '#/components/requestBodies/PAYLOAD1'
      responses:
        '200':
          description: output of the endpoint Route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer_Post'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: customerId
          in: path
          required: true
          description: The code of a specific Customer
          schema:
            type: string
  /customer/class/:
    get:
      tags:
        - Customer
      summary: Get you all Customer Classification
      responses:
        '200':
          description: A list of all the Customer Classification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cust_class'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  '/customer/class/{custClassCode}':
    get:
      tags:
        - Customer
      summary: Find Customer Classification by CustClass Code
      responses:
        '200':
          description: Customer classification details for a specific CustClass Code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cust_class'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: custClassCode
          in: path
          required: true
          description: The code of specific CustomerClassification
          schema:
            type: string
            pattern: '^[^/]+$'
  '/customer/salesforce/{salesForceId}':
    get:
      tags:
        - SalesForce
      summary: Find Customer by SalesForce Id
      responses:
        '200':
          description: Customer detail by SalesForce Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer_Get'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: salesForceId
          in: path
          required: true
          description: The salesforce code of a customer
          schema:
            type: string
    put:
      tags:
        - SalesForce
      summary: Udate an existing Customer
      requestBody:
        $ref: '#/components/requestBodies/PAYLOAD1'
      responses:
        '200':
          description: output of the endpoint Route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer_Post'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: salesForceId
          in: path
          required: true
          description: The salesforce code of a customer.
          schema:
            type: string
  /driver-options/:
    get:
      tags:
        - Driver
      summary: Get All Shipment Dtails
      responses:
        '200':
          description: A list of all the Shipment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet_ship_via_code'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  '/driver-options/{getByShipViaCode}':
    get:
      tags:
        - Driver
      summary: Find Shipment Details by Ship Via Code
      responses:
        '200':
          description: Shipment details by Ship Via Code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet_ship_via_code'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: getByShipViaCode
          in: path
          required: true
          description: The code of a specific Ship Via Code
          schema:
            type: string
            pattern: '^[^/]+$'
  '/invoice/customers/':
    get:
      tags:
        - Invoice
      summary: Find Invoice Details with given date ranges.
      responses:
        '200':
          description: A list of Invoice details for given date ranges  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: startDate
          in: query
          required: false
          description: Find records created after the date supplied (YYYY-MM-DD)
          schema:
            type: string
        - name: endDate
          in: query
          required: false
          description: Find records created before the date supplied (YYYY-MM-DD)
          schema:
            type: string
        
  '/invoice/customer/{customerId}':
    get:
      tags:
        - Invoice
      summary: Find Invoice Details by Customer ID with date ranges.
      responses:
        '200':
          description: A list of Invoice details for given Customer ID  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: customerId
          in: path
          required: true
          description: The code of a Customer ID
          schema:
            type: string
            pattern: '^[^/]+$'
        - name: startDate
          in: query
          required: false
          description: Find records created after the date supplied (YYYY-MM-DD)
          schema:
            type: string
        - name: endDate
          in: query
          required: false
          description: Find records created before the date supplied (YYYY-MM-DD)
          schema:
            type: string
       
            
  '/invoice/{invoice_number}':
    get:
      tags:
        - Invoice
      summary: Find Invoice Details by Invoice Number.
      responses:
        '200':
          description: A list of Invoic details for given Invoice Number  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: invoice_number
          in: path
          required: true
          description: The code of a Invoice Number
          schema:
            type: string
            pattern: '^[^/]+$'
        
  /pet/:
    post:
      tags:
        - Pet
      summary: Add a PET to the system
      responses:
        '200':
          description: output of the endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pet_scheduleid_post'
      requestBody:
        $ref: '#/components/requestBodies/PAYLOAD5'
  '/pet/{scheduleId}':
    get:
      tags:
        - Pet
      summary: Find Pet Details by Schedle Id
      responses:
        '200':
          description: A list of pet details for given scheduleId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pet_scheduleid_get'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: scheduleId
          in: path
          required: true
          description: The code of a ScheduleID
          schema:
            type: string
            pattern: '^[^/]+$'
    put:
      tags:
        - Pet
      summary: Update an existing PET details by Schedule ID
      responses:
        '200':
          description: output of the endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pet_scheduleid_post'
      parameters:
        - name: scheduleId
          in: path
          required: true
          description: The code of a ScheduleID
          schema:
            type: string
            pattern: '^[^/]+$'
      requestBody:
        $ref: '#/components/requestBodies/PAYLOAD5'
    delete:
      tags:
        - Pet
      summary: Delete an existing PET details by Schedule ID
      responses:
        '200':
          description: output of the endpoint
          content:
            application/json:
              schema:
                $ref: '#'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: scheduleId
          in: path
          required: true
          description: The code of a ScheduleID
          schema:
            type: string
            pattern: '^[^/]+$'
  '/pet/customer/{customerId}':
    get:
      tags:
        - Pet
      summary: Find Pet Details by Customer Id
      responses:
        '200':
          description: A list of pet details for given customerId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pet_customer_customerid'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: customerId
          in: path
          required: true
          description: The code of a ScheduleID
          schema:
            type: string
        - name: startDate
          in: query
          required: false
          description: Find records created after the date supplied (YYYY-MM-DD)
          schema:
            type: string
        - name: endDate
          in: query
          required: false
          description: Find records created before the date supplied (YYYY-MM-DD)
          schema:
            type: string
  '/pet/tag/{scheduleId}':
    get:
      tags:
        - Pet
      summary: Get Certificate by Schedule Id
      responses:
        '200':
          description: A certificate for given scheduleId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pet_tag'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: scheduleId
          in: path
          required: true
          description: The code of a ScheduleID
          schema:
            type: string
            pattern: '^[^/]+$'
  '/pet/invoice/{scheduleId}':
    get:
      tags:
        - Pet
      summary: Get Invoice by Schedule Id
      responses:
        '200':
          description: A base64 image of the invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pet_invoice'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: scheduleId
          in: path
          required: true
          description: The code of a ScheduleID
          schema:
            type: string
  '/pet/services/':
    get:
      tags:
        - Pet
      summary: Get your all PET services type.
      responses:
        '200':
          description: A list of all PET services type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pet_service_type'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  '/pet/services/{serviceTypeCode}':
    get:
      tags:
        - Pet
      summary: Find PET service type by Service Type Code.
      responses:
        '200':
          description: A list of PET services type for given Service Type code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pet_service_type'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: serviceTypeCode
          in: path
          required: true
          description: The code of a specific Service Type.
          schema:
            type: string
            pattern: '^[^/]+$'
  '/pet/delivery-type/':
    get:
      tags:
        - Pet
      summary: Get All PET delivery type.
      responses:
        '200':
          description: A list of PET delivery type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pet_delivery_type'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  '/pet/pickup-type/':
    get:
      tags:
        - Pet
      summary: Get All PET pickup type.
      responses:
        '200':
          description: A list of PET pickup type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pet_pickup_type'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  '/pet/pet-death/':
    get:
      tags:
        - Pet
      summary: Get All PET cause of death.
      responses:
        '200':
          description: A list of PET cause of death.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pet_cause_death'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  '/pet/paymentType/':
    get:
      tags:
        - Pet
      summary: Get All payment Type.
      responses:
        '200':
          description: A list of payment Type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pet_payment_type'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  /products/:
    get:
      tags:
        - Products
      summary: Get all Products
      responses:
        '200':
          description: A list of all the Products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  '/products/{productId}':
    get:
      tags:
        - Products
      summary: Fnd Products by Product Code
      responses:
        '200':
          description: Products details for a specific Product Code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: productId
          in: path
          required: true
          description: The code of specific ProductId
          schema:
            type: string
            pattern: '^[^/]+$'
  '/products/class/{class}':
    get:
      tags:
        - Products
      summary: Find Prduct by Class Code
      responses:
        '200':
          description: Products details for a specific Class Code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: class
          in: path
          required: true
          description: The code of specific Class
          schema:
            type: string
            pattern: '^[^/]+$'
  '/products/subclass/{subclass}':
    get:
      tags:
        - Products
      summary: Find Prduct by subClass Code
      responses:
        '200':
          description: Products details for a specific SubClass Code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product_subclass'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: subclass
          in: path
          required: true
          description: The code of specific SubClass
          schema:
            type: string
            pattern: '^[^/]+$'
  /products/packages/:
    get:
      tags:
        - Products
      summary: Get your all Packages
      responses:
        '200':
          description: A list of all Packages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packages'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  '/products/packages/{packageCode}':
    get:
      tags:
        - Products
      summary: Find Package by package Code
      responses:
        '200':
          description: Package details for a specific package Code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packages'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: packageCode
          in: path
          required: true
          description: The code of specific package
          schema:
            type: string
            pattern: '^[^/]+$'
  /route/:
    get:
      tags:
        - Route
      summary: Get all Routes
      responses:
        '200':
          description: A list of all the Routes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route_Get'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      tags:
        - Route
      summary: Add a Route
      requestBody:
        $ref: '#/components/requestBodies/PAYLOAD4'
      responses:
        '200':
          description: output of the endpoint Route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route_Get'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  '/route/{routeId}':
    get:
      tags:
        - Route
      summary: Find Route Details by Route Code
      responses:
        '200':
          description: Route details for a specific Route Code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route_Get'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: routeId
          in: path
          required: true
          description: The code of specific Route
          schema:
            type: string
            pattern: '^[^/]+$'
    put:
      tags:
        - Route
      summary: Update an existing Route Details
      responses:
        '200':
          description: output of the endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route_Get'
      parameters:
        - name: routeId
          in: path
          required: true
          description: implicit
          schema:
            type: string
            pattern: '^[^/]+$'
      requestBody:
        $ref: '#/components/requestBodies/PAYLOAD4'
  /route/emp/:
    post:
      tags:
        - Route
      summary: Add Employees to route
      requestBody:
        $ref: '#/components/requestBodies/PAYLOAD6'
      responses:
        '200':
          description: output of the endpoint Route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route_emp_Post'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  /route/schedule/:
    post:
      tags:
        - Route Schedule
      summary: Add a Route by Schedule
      responses:
        '200':
          description: Insert Route by Schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/route_schedule'
      requestBody:
        $ref: '#/components/requestBodies/PAYLOAD3'
  '/route/schedule/{date}':
    get:
      tags:
        - Route Schedule
      summary: Find Route Details by Date & Route Code
      responses:
        '200':
          description: A list of all Route details by Date & RoutCode Wise
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/route_schedule_date'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: date
          in: path
          required: true
          description: A list of Route details by Date & RoutCode Wise. Date format should be (YYYY-MM-DD)
          schema:
            type: string
  /route/schedule/pending/:
    get:
      tags:
        - Route Schedule
      summary: Get all Pending Pickup & Deliery Pet Details
      responses:
        '200':
          description: A list of all the Pending Pickup & Delivery pet details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/route_schedule_pending'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  /states/:
    get:
      tags:
        - Territory
      summary: Get all States
      responses:
        '200':
          description: A list of all the States
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/States'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
  '/states/{getByStateCode}':
    get:
      tags:
        - Territory
      summary: Find States by State Code
      responses:
        '200':
          description: A list of States for a specific state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/States'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: getByStateCode
          in: path
          required: true
          description: The code of Specific State
          schema:
            type: string
            pattern: '^[^/]+$'
  '/states/country/{getByCountryCode}':
    get:
      tags:
        - Territory
      summary: Find States by Country Code
      responses:
        '200':
          description: A list of States for a specific country
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/States'
        '400':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
        - name: getByCountryCode
          in: path
          required: true
          description: The code of Specific Country
          schema:
            type: string
            pattern: '^[^/]+$'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer Token supplied by the /AUTH call
  parameters:
    schedule_id:
      in: path
      name: schedule_id
      required: true
      schema:
        type: string
        maximum: 10
      description: The ID of the pet
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
  requestBodies:
    PAYLOAD1:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Customer_Post'
      required: true
    PAYLOAD3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PAYLOAD3'
    PAYLOAD4:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Route_Post'
      required: true
    PAYLOAD5:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PAYLOAD5'
      required: true
    PAYLOAD6:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Route_emp_Post'
      required: true
  schemas:
    Route_Get:
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              CLIENT_ID:
                type: string
              ROUTE_CODE:
                type: string
              DESCRIPTION:
                type: string
              SPEC_COMMENTS:
                type: string
              ROUTE_DATE:
                type: string  
              CREATE_DTTM:
                type: string
              CREATE_USER:
                type: string
              UPDATE_DTTM:
                type: string
              UPDATE_USER:
                type: string
              DEFAULT_FLAG:
                type: string
              SAP_CODE:
                type: string
              UNASSIGNED_FLAG:
                type: string
    Route_Post:
      properties:
        CLIENT_ID:
          type: string
        ROUTE_CODE:
          type: string
        DESCRIPTION:
          type: string
        SPEC_COMMENTS:
          type: string
        ROUTE_DATE:
          type: string  
        CREATE_DTTM:
          type: string
        CREATE_USER:
          type: string
        UPDATE_DTTM:
          type: string
        UPDATE_USER:
          type: string
        DEFAULT_FLAG:
          type: string
        SAP_CODE:
          type: string
        UNASSIGNED_FLAG:
          type: string
    Route_emp_Post:
      properties:
        CLIENT_ID:
          type: string
        ROUTE_CODE:
          type: string
        DESCRIPTION:
          type: string
        EMPLOYEE_ID:
          type: string
        CREATE_DTTM:
          type: string
        CREATE_USER:
          type: string
        UPDATE_DTTM:
          type: string
        UPDATE_USER:
          type: string
        
    Breeds:
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              PET_BREED_NAME:
                type: string
              PET_TYPE_CODE:
                type: string
              CREATE_DTTM:
                type: string
              CREATE_USER:
                type: string
              CLIENT_ID:
                type: string
              UPDATE_DTTM:
                type: string
              UPDATE_USER:
                type: string
              PET_BREED_ID:
                type: number
    Pet_types:
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              PET_TYPE_CODE:
                type: string
              DESCRIPTION:
                type: string
              CREATE_DTTM:
                type: string
              CREATE_USER:
                type: string
              CLIENT_ID:
                type: string
              UPDATE_DTTM:
                type: string
              UPDATE_USER:
                type: string
              PET_TYPE_ID:
                type: integer
              POCKET_PET:
                type: string
              PET_PRICE_CLASS_CODE:
                type: string
              EQUINE_FLAG:
                type: string
    States:
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              STATE_CODE:
                type: string
              DESCRIPTION:
                type: string
              COUNTRY_CODE:
                type: string
              APP_FLAG:
                type: string
              CREATE_DTTM:
                type: string
              CREATE_USER:
                type: string
              CLIENT_ID:
                type: string
              ZONE_CODE:
                type: string
    Countries:
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              COUNTRY_CODE:
                type: string
              DESCRIPTION:
                type: string
              APP_FLAG:
                type: string
              CREATE_DTTM:
                type: string
              CREATE_USER:
                type: string
              CLIENT_ID:
                type: string
    Customer_Get:
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              cust_code:
                type: string
              bill_to_name:
                type: string
              bill_to_addr1:
                type: string
              bill_to_addr2:
                type: string
              bill_to_city:
                type: string
              state_code:
                type: string
              bill_to_zip:
                type: string
              cntry_code:
                type: string
              contact:
                type: string
              resale_numb:
                type: string
              statements:
                type: string
              numb_empl:
                type: string
              iso_level:
                type: string
              service_chg:
                type: string
              dunn_letter:
                type: string
              cust_class_code:
                type: string
              frt_code:
                type: string
              at_code:
                type: string
              sls_code:
                type: string
              pay_terms_code:
                type: string
              tax_code:
                type: string
              terr_code:
                type: string
              credit_limit:
                type: string
              date_opened:
                type: string
              spec_insl:
                type: string
              sic:
                type: string
              create_dttm:
                type: string
              create_user:
                type: string
              website:
                type: string
              credit_hold:
                type: string
              spcl_tax:
                type: string
              at_code_op:
                type: string
              client_id:
                type: string
              active_customer:
                type: string
              alt_bill:
                type: string
              alt_bill_name:
                type: string
              alt_bill_addr1:
                type: string
              alt_bill_addr2:
                type: string
              alt_bill_city:
                type: string
              alt_bill_state:
                type: string
              alt_bill_zip:
                type: string
              alt_bill_country:
                type: string
              route_code:
                type: string
              price_list:
                type: string
              route_order:
                type: string
              unserviced:
                type: string
              delv_monday:
                type: string
              delv_tuesday:
                type: string
              delv_wednesday:
                type: string
              delv_thursday:
                type: string
              delv_friday:
                type: string
              delv_saturday:
                type: string
              delv_sunday:
                type: string
              cust_code_freight:
                type: string
              consolidator_code:
                type: string
              sub_consol_code:
                type: string
              store_consol:
                type: string
              cust_code_invoiced:
                type: string
              flag_01:
                type: string
              misc_code_01:
                type: string
              misc_code_02:
                type: string
              misc_code_03:
                type: string
              misc_code_04:
                type: string
              misc_code_05:
                type: string
              client_invoiced:
                type: string
              dept_code:
                type: string
              comm_rate:
                type: string
              sa_chain_code:
                type: string
              upc_print_code:
                type: string
              invoice_remarks:
                type: string
              pk_slip_remarks:
                type: string
              ar_vendor_code:
                type: string
              pack_slip_info:
                type: string
              bill_lading_info:
                type: string
              ship_via:
                type: string
              ship_remarks:
                type: string
              store_docs:
                type: string
              misc_code_01_label:
                type: string
              misc_code_02_label:
                type: string
              misc_code_03_label:
                type: string
              misc_code_04_label:
                type: string
              misc_code_05_label:
                type: string
              cust_code_ar_chain:
                type: string
              position:
                type: string
              freezer_ser_no:
                type: string
              freezer_install_date:
                type: string
              delv_monday_time:
                type: string
              delv_tuesday_time:
                type: string
              delv_wednesday_time:
                type: string
              delv_thursday_time:
                type: string
              delv_friday_time:
                type: string
              delv_saturday_time:
                type: string
              delv_sunday_time:
                type: string
              route_order_monday:
                type: string
              route_order_tuesday:
                type: string
              route_order_wednesday:
                type: string
              route_order_thursday:
                type: string
              route_order_friday:
                type: string
              route_order_saturday:
                type: string
              route_order_sunday:
                type: string
              cust_catagory:
                type: string
              cust_code_orig:
                type: string
              retail_price_code:
                type: string
              high_credit_amount:
                type: string
              high_credit_date:
                type: string
              sls_code_external:
                type: string
              freezer_size:
                type: string
              delv_monday_drvr:
                type: string
              delv_tuesday_drvr:
                type: string
              delv_wednesday_drvr:
                type: string
              delv_thursday_drvr:
                type: string
              delv_friday_drvr:
                type: string
              delv_saturday_drvr:
                type: string
              delv_sunday_drvr:
                type: string
              sch_pass:
                type: string
              last_bill_to_owner:
                type: string
              last_engrave:
                type: string
              peach_terms:
                type: string
              rules_sign:
                type: string
              loc_code:
                type: string
              po_required:
                type: string
              back_order_flag:
                type: string
              notes:
                type: string
              fuel_surcharge:
                type: string
              vet_flag:
                type: string
              first_name:
                type: string
              last_name:
                type: string
              user_restricted:
                type: string
              delv_amount:
                type: string
              print_inv:
                type: string
              zone_code:
                type: string
              merchant_acct:
                type: string
              cc_pay_recur_chg:
                type: string
              email_notify:
                type: string
              bill_to_cust_code:
                type: string
              print_invoice:
                type: string
              email_invoice:
                type: string
              deliv_on_sched_day:
                type: string
              route_freq:
                type: string
              route_start_time:
                type: string
              route_end_time:
                type: string
              route_charge_amt:
                type: string
              route_billing:
                type: string
              last_auto_bill_dt:
                type: string
              last_auto_charge:
                type: string
              last_pump_date:
                type: string
              last_pickup_date:
                type: string
              next_sch_pump_dt:
                type: string
              next_sch_pickup_dt:
                type: string
              last_deliv_date:
                type: string
              addr_cross_street:
                type: string
              rt_opt_wait:
                type: string
              loc_long:
                type: string
              loc_lat:
                type: string
              rt_opt_priority:
                type: string
              rt_opt_volume:
                type: string
              rt_opt_weight:
                type: string
              rt_opt_skid:
                type: string
              rt_opt_timeconstraint:
                type: string
              rt_opt_canarriveearly:
                type: string
              rt_opt_timeconstraint_out:
                type: string
              return_trip_time_to_base:
                type: string
              return_trip_distance_to_base:
                type: string
              route_scheduled:
                type: string
              interest:
                type: string
              bill_type:
                type: string
              po_no:
                type: string
              po_contract:
                type: string
              pcs_route_skip_days:
                type: string
              last_pcs_pickup_date:
                type: string
              spcl_price_butcher:
                type: string
              vendor_code:
                type: string
              engraving_pricing_option:
                type: string
              spcl_price_grease:
                type: string
              jacob_grease_pct:
                type: string
              jacob_butcher_pct:
                type: string
              jacob_grease_price:
                type: string
              jacob_butcher_price:
                type: string
              exclude_bill_flg:
                type: string
              old_routes:
                type: string
              old_route_stops:
                type: string
              old_route_stop_count:
                type: string
              old_route_stop_seq:
                type: string
              old_route_stop_total:
                type: string
              contact_name:
                type: string
              vet_rebate_amt:
                type: string
              email:
                type: string
              update_dttm:
                type: string
              update_user:
                type: string
              undertaker_flg:
                type: string
              extended_flag:
                type: string
              desired_pickup_start_time:
                type: string
              desired_pickup_end_time:
                type: string
              key_available:
                type: string
              phone_number:
                type: string
              distance:
                type: string
              max_weight_free_collect:
                type: string
              cust_code_orig_bk:
                type: string
              lang_code:
                type: string
              sap_code:
                type: string
              loyal_flag:
                type: string
              business_id:
                type: string
              sap_transfer:
                type: string
              show_prc_vet_portal:
                type: string
              cust_auth_profile_id:
                type: string
              billing_loc_code:
                type: string
              iban:
                type: string
              sepa:
                type: string
              bank_name:
                type: string
              bic:
                type: string
              sepa_date:
                type: string
              payment_mode:
                type: string
              hours:
                type: array
                items:
                  type: object
                  properties:
                    day_of_week:
                      type: string
                    open_start_time:
                      type: string
                    open_end_time:
                      type: string
                    break_start_time:
                      type: string
                    break_end_time:
                      type: string
              ship_to:
                type: array
                items:
                  type: object
                  properties:
                    ship_to_seq:
                      type: string
                    ship_to_name:
                      type: string
                    ship_to_addr1:
                      type: string
                    ship_to_addr2:
                      type: string
                    ship_to_city:
                      type: string
                    state_code:
                      type: string
                    ship_to_zip:
                      type: string
                    cntry_code:
                      type: string
                    default_ship:
                      type: string
                    sls_code:
                      type: string
    Customer_Post:
      properties:
        cust_code:
          type: string
        bill_to_name:
          type: string
        bill_to_addr1:
          type: string
        bill_to_addr2:
          type: string
        bill_to_city:
          type: string
        state_code:
          type: string
        bill_to_zip:
          type: string
        cntry_code:
          type: string
        contact:
          type: string
        resale_numb:
          type: string
        statements:
          type: string
        numb_empl:
          type: string
        iso_level:
          type: string
        service_chg:
          type: string
        dunn_letter:
          type: string
        cust_class_code:
          type: string
        frt_code:
          type: string
        at_code:
          type: string
        sls_code:
          type: string
        pay_terms_code:
          type: string
        tax_code:
          type: string
        terr_code:
          type: string
        credit_limit:
          type: string
        date_opened:
          type: string
        spec_insl:
          type: string
        sic:
          type: string
        create_dttm:
          type: string
        create_user:
          type: string
        website:
          type: string
        credit_hold:
          type: string
        spcl_tax:
          type: string
        at_code_op:
          type: string
        client_id:
          type: string
        active_customer:
          type: string
        alt_bill:
          type: string
        alt_bill_name:
          type: string
        alt_bill_addr1:
          type: string
        alt_bill_addr2:
          type: string
        alt_bill_city:
          type: string
        alt_bill_state:
          type: string
        alt_bill_zip:
          type: string
        alt_bill_country:
          type: string
        route_code:
          type: string
        price_list:
          type: string
        route_order:
          type: string
        unserviced:
          type: string
        delv_monday:
          type: string
        delv_tuesday:
          type: string
        delv_wednesday:
          type: string
        delv_thursday:
          type: string
        delv_friday:
          type: string
        delv_saturday:
          type: string
        delv_sunday:
          type: string
        cust_code_freight:
          type: string
        consolidator_code:
          type: string
        sub_consol_code:
          type: string
        store_consol:
          type: string
        cust_code_invoiced:
          type: string
        flag_01:
          type: string
        misc_code_01:
          type: string
        misc_code_02:
          type: string
        misc_code_03:
          type: string
        misc_code_04:
          type: string
        misc_code_05:
          type: string
        client_invoiced:
          type: string
        dept_code:
          type: string
        comm_rate:
          type: string
        sa_chain_code:
          type: string
        upc_print_code:
          type: string
        invoice_remarks:
          type: string
        pk_slip_remarks:
          type: string
        ar_vendor_code:
          type: string
        pack_slip_info:
          type: string
        bill_lading_info:
          type: string
        ship_via:
          type: string
        ship_remarks:
          type: string
        store_docs:
          type: string
        misc_code_01_label:
          type: string
        misc_code_02_label:
          type: string
        misc_code_03_label:
          type: string
        misc_code_04_label:
          type: string
        misc_code_05_label:
          type: string
        cust_code_ar_chain:
          type: string
        position:
          type: string
        freezer_ser_no:
          type: string
        freezer_install_date:
          type: string
        delv_monday_time:
          type: string
        delv_tuesday_time:
          type: string
        delv_wednesday_time:
          type: string
        delv_thursday_time:
          type: string
        delv_friday_time:
          type: string
        delv_saturday_time:
          type: string
        delv_sunday_time:
          type: string
        route_order_monday:
          type: string
        route_order_tuesday:
          type: string
        route_order_wednesday:
          type: string
        route_order_thursday:
          type: string
        route_order_friday:
          type: string
        route_order_saturday:
          type: string
        route_order_sunday:
          type: string
        cust_catagory:
          type: string
        cust_code_orig:
          type: string
        retail_price_code:
          type: string
        high_credit_amount:
          type: string
        high_credit_date:
          type: string
        sls_code_external:
          type: string
        freezer_size:
          type: string
        delv_monday_drvr:
          type: string
        delv_tuesday_drvr:
          type: string
        delv_wednesday_drvr:
          type: string
        delv_thursday_drvr:
          type: string
        delv_friday_drvr:
          type: string
        delv_saturday_drvr:
          type: string
        delv_sunday_drvr:
          type: string
        sch_pass:
          type: string
        last_bill_to_owner:
          type: string
        last_engrave:
          type: string
        peach_terms:
          type: string
        rules_sign:
          type: string
        loc_code:
          type: string
        po_required:
          type: string
        back_order_flag:
          type: string
        notes:
          type: string
        fuel_surcharge:
          type: string
        vet_flag:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        user_restricted:
          type: string
        delv_amount:
          type: string
        print_inv:
          type: string
        zone_code:
          type: string
        merchant_acct:
          type: string
        cc_pay_recur_chg:
          type: string
        email_notify:
          type: string
        bill_to_cust_code:
          type: string
        print_invoice:
          type: string
        email_invoice:
          type: string
        deliv_on_sched_day:
          type: string
        route_freq:
          type: string
        route_start_time:
          type: string
        route_end_time:
          type: string
        route_charge_amt:
          type: string
        route_billing:
          type: string
        last_auto_bill_dt:
          type: string
        last_auto_charge:
          type: string
        last_pump_date:
          type: string
        last_pickup_date:
          type: string
        next_sch_pump_dt:
          type: string
        next_sch_pickup_dt:
          type: string
        last_deliv_date:
          type: string
        addr_cross_street:
          type: string
        rt_opt_wait:
          type: string
        loc_long:
          type: string
        loc_lat:
          type: string
        rt_opt_priority:
          type: string
        rt_opt_volume:
          type: string
        rt_opt_weight:
          type: string
        rt_opt_skid:
          type: string
        rt_opt_timeconstraint:
          type: string
        rt_opt_canarriveearly:
          type: string
        rt_opt_timeconstraint_out:
          type: string
        return_trip_time_to_base:
          type: string
        return_trip_distance_to_base:
          type: string
        route_scheduled:
          type: string
        interest:
          type: string
        bill_type:
          type: string
        po_no:
          type: string
        po_contract:
          type: string
        pcs_route_skip_days:
          type: string
        last_pcs_pickup_date:
          type: string
        spcl_price_butcher:
          type: string
        vendor_code:
          type: string
        engraving_pricing_option:
          type: string
        spcl_price_grease:
          type: string
        jacob_grease_pct:
          type: string
        jacob_butcher_pct:
          type: string
        jacob_grease_price:
          type: string
        jacob_butcher_price:
          type: string
        exclude_bill_flg:
          type: string
        old_routes:
          type: string
        old_route_stops:
          type: string
        old_route_stop_count:
          type: string
        old_route_stop_seq:
          type: string
        old_route_stop_total:
          type: string
        contact_name:
          type: string
        vet_rebate_amt:
          type: string
        email:
          type: string
        update_dttm:
          type: string
        update_user:
          type: string
        undertaker_flg:
          type: string
        extended_flag:
          type: string
        desired_pickup_start_time:
          type: string
        desired_pickup_end_time:
          type: string
        key_available:
          type: string
        phone_number:
          type: string
        distance:
          type: string
        max_weight_free_collect:
          type: string
        cust_code_orig_bk:
          type: string
        lang_code:
          type: string
        sap_code:
          type: string
        loyal_flag:
          type: string
        business_id:
          type: string
        sap_transfer:
          type: string
        show_prc_vet_portal:
          type: string
        cust_auth_profile_id:
          type: string
        billing_loc_code:
          type: string
        iban:
          type: string
        sepa:
          type: string
        bank_name:
          type: string
        bic:
          type: string
        sepa_date:
          type: string
        payment_mode:
          type: string
        hours:
          type: array
          items:
            type: object
            properties:
              day_of_week:
                type: string
              open_start_time:
                type: string
              open_end_time:
                type: string
              break_start_time:
                type: string
              break_end_time:
                type: string
        ship_to:
          type: array
          items:
            type: object
            properties:
              ship_to_seq:
                type: string
              ship_to_name:
                type: string
              ship_to_addr1:
                type: string
              ship_to_addr2:
                type: string
              ship_to_city:
                type: string
              state_code:
                type: string
              ship_to_zip:
                type: string
              cntry_code:
                type: string
              default_ship:
                type: string
              sls_code:
                type: string
    Pet_ship_via_code:
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              CLIENT_ID:
                type: string
              SHIP_VIA_CODE:
                type: string
              DESCRIPTION:
                type: string
              CREATE_DTTM:
                type: string
              CREATE_USER:
                type: string
              DEFAULT_FLAG:
                type: string
              REQUIRE_OWNER_ADDR:
                type: string
              PRICE:
                type: integer
              UPDATE_DTTM:
                type: string
              UPDATE_USER:
                type: string
              SERVICE_TYPE:
                type: string
              PICKUP_DISTANCE:
                type: string
              START_PD:
                type: integer
              END_PD:
                type: integer
              PRICE_PD:
                type: integer
              TAXABLE:
                type: string
    route_schedule:
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              CUST_CODE_VET:
                type: string
              ROUTE_CODE:
                type: string
              PICKUP_DATE:
                type: string
              CALL_DATE:
                type: string
              REMARKS:
                type: string
              CREATE_DTTM:
                type: string
              CREATE_USER:
                type: string
              CALL_SOURCE_TYPE:
                type: string
              SCH_ID_URN_RETURN:
                type: string
              PICKUP_DAY:
                type: string
              CUST_NAME:
                type: string
              VET_FLAG:
                type: string
              PICKUP_RETURN:
                type: string
              PICKUP_STATUS:
                type: string
    PAYLOAD3:
      properties:
        CUST_CODE_VET:
          type: string
        ROUTE_CODE:
          type: string
        PICKUP_DATE:
          type: string
        CALL_DATE:
          type: string
        REMARKS:
          type: string
        CREATE_DTTM:
          type: string
        CREATE_USER:
          type: string
        CALL_SOURCE_TYPE:
          type: string
        SCH_ID_URN_RETURN:
          type: string
        PICKUP_DAY:
          type: string
        CUST_NAME:
          type: string
        VET_FLAG:
          type: string
        PICKUP_RETURN:
          type: string
        PICKUP_STATUS:
          type: string
    route_schedule_date:
      properties:
        schedule:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
              route_code:
                type: string
              vets:
                type: array
                items:
                  type: object
                  properties:
                    cust_code:
                      type: string
                    route_order:
                      type: number
              driver:
                type: string
    route_schedule_pending:
      properties:
        pending_transactions:
          type: array
          items:
            type: object
            properties:
              cust_code:
                type: string
              name:
                type: string
              address:
                type: string
              city:
                type: string
              state:
                type: string
              cntry:
                type: string
              zip:
                type: string
              onHold:
                type: string
              pickups:
                type: string
              deliveries:
                type: string
              schedules:
                type: array
                items:
                  type: object
                  properties:
                    schedule_id:
                      type: string
                    pet_name:
                      type: string
                    pet_weight:
                      type: string
                    type:
                      type: string
                    deliverables:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                          inv_code:
                            type: string
                          description:
                            type: string
                          quantity:
                            type: string
    pet_tag:
      properties: 
        data: 
          type: "array"
          items: 
            type: "object"
            properties: 
              Mime Type: 
                type: "string"
              Image: 
                type: "string"
    pet_invoice:
      properties: 
        data: 
          type: "array"
          items: 
            type: "object"
            properties: 
              Mime Type: 
                type: "string"
              invoice Amount: 
                type: "string"
              payments: 
                type: "array"
                items: 
                  type: "object"
                  properties: 
                    cash: 
                      type: "string"
                    check: 
                      type: "string"
                    credit card: 
                      type: "string"
                    DD: 
                      type: "string"
                    credits: 
                      type: "string"
              Image: 
                type: "string"
    pet_scheduleid_get:
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              client_id:
                type: string
              sch_id:
                type: string
              owner_name:
                type: string
              owner_addr1:
                type: string
              owner_addr2:
                type: string
              owner_addr3:
                type: string
              pet_name:
                type: string
              pet_desc:
                type: string
              pet_weight:
                type: string
              engrave:
                type: string
              ship_via:
                type: string
              services:
                type: string
              model_no:
                type: string
              model_price:
                type: string
              spec_instr:
                type: string
              pickup_date:
                type: string
              route_code:
                type: string
              create_dttm:
                type: string
              create_user:
                type: string
              owner_last_name:
                type: string
              date_of_death:
                type: string
              pet_sex:
                type: string
              pet_type_code:
                type: string
              pet_age:
                type: string
              owner_city:
                type: string
              owner_state_code:
                type: string
              owner_zip:
                type: string
              owner_land_phone:
                type: string
              owner_cell_phone:
                type: string
              owner_email:
                type: string
              pet_status_code:
                type: string
              pet_breed_id:
                type: string
              cremation_dttm:
                type: string
              qb_updated:
                type: string
              medal_tag:
                type: string
              engrave_etching:
                type: string
              breed_name:
                type: string
              ship_to_owner:
                type: string
              pick_up_day:
                type: string
              cust_code_vet:
                type: string
              cust_code_owner:
                type: string
              pet_weight_kg:
                type: string
              pet_location_id:
                type: string
              updated:
                type: string
              cust_entry_type:
                type: string
              mass_cremation:
                type: string
              bill_to_owner:
                type: string
              entry_type:
                type: string
              pick_up_type:
                type: string
              rush_approved:
                type: string
              owner_submit_status:
                type: string
              urn_sch_return_date:
                type: string
              urn_ok:
                type: string
              third_party_code:
                type: string
              other_reference_no:
                type: string
              pet_plot_id:
                type: string
              pet_chip_number:
                type: string
              package_code:
                type: string
              eng_plate_no:
                type: string
              clip_art_no:
                type: string
              plaque_no:
                type: string
              plaque_engrave:
                type: string
              jewelry_no:
                type: string
              template_id:
                type: string
              ship_scac_code:
                type: string
              ship_tracking_no:
                type: string
              certificate_option:
                type: string
              call_options:
                type: string
              certificate:
                type: string
              owner_land_phone_use:
                type: string
              owner_cell_phone_use:
                type: string
              msg_email:
                type: string
              msg_text:
                type: string
              msg_start_cremation:
                type: string
              msg_end_cremation:
                type: string
              msg_delivery:
                type: string
              on_hold:
                type: string
              owner_submit_status_2:
                type: string
              email_1_date:
                type: string
              email_2_date:
                type: string
              update_user:
                type: string
              update_dttm:
                type: string
              viewing_dttm:
                type: string
              burial_dttm:
                type: string
              user_ash_verification:
                type: string
              pet_weight_ashes:
                type: string
              medal_tag_ok:
                type: string
              pickup_distance:
                type: string
              delivery_type:
                type: string
              pet_weight_init:
                type: string
              pet_pallet_id:
                type: string
              cause_of_death:
                type: string
              disease_desc:
                type: string
              urn_closure:
                type: string
              spcl_services:
                type: string
              cd_owner_key:
                type: string
              owner_salutation:
                type: string
              invoice_remarks:
                type: string
              date_of_birth:
                type: string
              log_seq_number:
                type: string
              log_seq_no_ack:
                type: string
              last_revision_dttm:
                type: string
              owner_lang_code:
                type: string
              viewing_appt_start_date:
                type: string
              viewing_appt_end_date:
                type: string
              viewing_loc_code:
                type: string
              model_no_2:
                type: string
              urn_closure_2:
                type: string
              clip_art_qty:
                type: string
              plaque_qty:
                type: string
              jewelry_qty:
                type: string
              engrave_qty:
                type: string
              viewing_type_code:
                type: string
              linked_owner_vet_tag:
                type: string
              owner_vet_service:
                type: string
              equine_tag:
                type: string
              quote_approved:
                type: string
              quote_approved_dttm:
                type: string
              sap_reference_no:
                type: string
              disposition_details:
                type: string
              engrave_etching_plaque:
                type: string
              eng_plate_no_plaque:
                type: string
              quote_sent_dttm:
                type: string
              client_id_transfer_to:
                type: string
              certificate_pet_name:
                type: string
              rebate_flag:
                type: string
              online_order_flag:
                type: string
              agreement_signed_date:
                type: string
              agency_code:
                type: string
              pet_condition:
                type: string
              pet_owner_type:
                type: string
              scans:
                type: array
                items:
                  type: object
                  properties:
                    scan_loc_code:
                      type: string
                    scan_date:
                      type: string
                    scan_day:
                      type: string
                    scan_time:
                      type: string
                    owner_notified:
                      type: string
              items:
                type: array
                items:
                  type: object
                  properties:
                    inv_code:
                      type: string
                    inv_displ:
                      type: string
                    cremate_with:
                      type: string
                    misc_remarks:
                      type: string
                    qty:
                      type: number
              svcs:
                type: array
                items:
                  type: object
                  properties:
                    spl_service_code:
                      type: string
                    spl_service_displ:
                      type: string
                    qty:
                      type: number
              cash_payments:
                type: array
                items:
                  type: object
                  properties:
                    order_type:
                      type: string
                    payment_type:
                      type: string
                    transaction_type:
                      type: string
                    receipt_number:
                      type: string
                    receipt_date:
                      type: string
                    cash_amount:
                      type: number
              credit_card:
                type: array
                items:
                  type: object
                  properties:
                    order_type:
                      type: string
                    payment_type:
                      type: string
                    transaction_type:
                      type: string
                    cc_number:
                      type: string  
                    cc_print_name:
                      type: string
                    exp_date:
                      type: string
                    posting_date:
                      type: string
                    amount:
                      type: number
              direct_depost:
                type: array
                items:
                  type: object
                  properties:
                    order_type:
                      type: string
                    payment_type:
                      type: string
                    transaction_type:
                      type: string
                    dd_ref1:
                      type: string
                    dd_ref2:
                      type: string  
                    dd_date:
                      type: string
                    dd_amount:
                      type: number
              cheque:
                type: array
                items:
                  type: object
                  properties:
                    order_type:
                      type: string
                    payment_type:
                      type: string
                    transaction_type:
                      type: string
                    check_number:
                      type: string
                    check_date:
                      type: string  
                    check_aba:
                      type: string
                    check_amount:
                      type: number        
    pet_scheduleid_post:
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              client_id:
                type: string
              sch_id:
                type: string
              owner_name:
                type: string
              owner_addr1:
                type: string
              owner_addr2:
                type: string
              owner_addr3:
                type: string
              pet_name:
                type: string
              pet_desc:
                type: string
              pet_weight:
                type: string
              engrave:
                type: string
              ship_via:
                type: string
              services:
                type: string
              model_no:
                type: string
              model_price:
                type: string
              spec_instr:
                type: string
              pickup_date:
                type: string
              route_code:
                type: string
              status:
                type: string
              create_dttm:
                type: string
              create_user:
                type: string
              owner_last_name:
                type: string
              date_of_death:
                type: string
              pet_sex:
                type: string
              pet_type_code:
                type: string
              pet_age:
                type: string
              owner_city:
                type: string
              owner_state_code:
                type: string
              owner_zip:
                type: string
              owner_land_phone:
                type: string
              owner_cell_phone:
                type: string
              owner_email:
                type: string
              pet_status_code:
                type: string
              pet_breed_id:
                type: string
              cremation_dttm:
                type: string
              qb_updated:
                type: string
              medal_tag:
                type: string
              engrave_etching:
                type: string
              breed_name:
                type: string
              ship_to_owner:
                type: string
              pick_up_day:
                type: string
              cust_code_vet:
                type: string
              cust_code_owner:
                type: string
              pet_weight_kg:
                type: string
              pet_location_id:
                type: string
              updated:
                type: string
              cust_entry_type:
                type: string
              mass_cremation:
                type: string
              bill_to_owner:
                type: string
              entry_type:
                type: string
              pick_up_type:
                type: string
              rush_approved:
                type: string
              owner_submit_status:
                type: string
              urn_sch_return_date:
                type: string
              urn_ok:
                type: string
              third_party_code:
                type: string
              other_reference_no:
                type: string
              pet_plot_id:
                type: string
              pet_chip_number:
                type: string
              package_code:
                type: string
              eng_plate_no:
                type: string
              clip_art_no:
                type: string
              plaque_no:
                type: string
              plaque_engrave:
                type: string
              jewelry_no:
                type: string
              template_id:
                type: string
              ship_scac_code:
                type: string
              ship_tracking_no:
                type: string
              certificate_option:
                type: string
              call_options:
                type: string
              certificate:
                type: string
              owner_land_phone_use:
                type: string
              owner_cell_phone_use:
                type: string
              msg_email:
                type: string
              msg_text:
                type: string
              msg_start_cremation:
                type: string
              msg_end_cremation:
                type: string
              msg_delivery:
                type: string
              on_hold:
                type: string
              owner_submit_status_2:
                type: string
              email_1_date:
                type: string
              email_2_date:
                type: string
              update_user:
                type: string
              update_dttm:
                type: string
              viewing_dttm:
                type: string
              burial_dttm:
                type: string
              user_ash_verification:
                type: string
              pet_weight_ashes:
                type: string
              medal_tag_ok:
                type: string
              pickup_distance:
                type: string
              delivery_type:
                type: string
              pet_weight_init:
                type: string
              pet_pallet_id:
                type: string
              cause_of_death:
                type: string
              disease_desc:
                type: string
              urn_closure:
                type: string
              spcl_services:
                type: string
              cd_owner_key:
                type: string
              owner_salutation:
                type: string
              invoice_remarks:
                type: string
              date_of_birth:
                type: string
              log_seq_number:
                type: string
              log_seq_no_ack:
                type: string
              last_revision_dttm:
                type: string
              owner_lang_code:
                type: string
              viewing_appt_start_date:
                type: string
              viewing_appt_end_date:
                type: string
              viewing_loc_code:
                type: string
              model_no_2:
                type: string
              urn_closure_2:
                type: string
              clip_art_qty:
                type: string
              plaque_qty:
                type: string
              jewelry_qty:
                type: string
              engrave_qty:
                type: string
              viewing_type_code:
                type: string
              linked_owner_vet_tag:
                type: string
              owner_vet_service:
                type: string
              equine_tag:
                type: string
              quote_approved:
                type: string
              quote_approved_dttm:
                type: string
              sap_reference_no:
                type: string
              disposition_details:
                type: string
              engrave_etching_plaque:
                type: string
              eng_plate_no_plaque:
                type: string
              quote_sent_dttm:
                type: string
              client_id_transfer_to:
                type: string
              certificate_pet_name:
                type: string
              rebate_flag:
                type: string
              online_order_flag:
                type: string
              agreement_signed_date:
                type: string
              agency_code:
                type: string
              pet_condition:
                type: string
              pet_owner_type:
                type: string
              scans:
                type: array
                items:
                  type: object
                  properties:
                    scan_loc_code:
                      type: string
                    scan_date:
                      type: string
                    scan_day:
                      type: string
                    scan_time:
                      type: string
                    owner_notified:
                      type: string
              items:
                type: array
                items:
                  type: object
                  properties:
                    inv_code:
                      type: string
                    cremate_with:
                      type: string
                    misc_remarks:
                      type: string
                    qty:
                      type: number
              svcs:
                type: array
                items:
                  type: object
                  properties:
                    spl_service_code:
                      type: string
                    spl_service_displ:
                      type: string
                    qty:
                      type: number
              cash_payments:
                type: array
                items:
                  type: object
                  properties:
                    order_type:
                      type: string
                    payment_type:
                      type: string
                    transaction_type:
                      type: string
                    receipt_number:
                      type: string
                    receipt_date:
                      type: string
                    cash_amount:
                      type: number
              credit_card:
                type: array
                items:
                  type: object
                  properties:
                    order_type:
                      type: string
                    payment_type:
                      type: string
                    transaction_type:
                      type: string
                    cc_number:
                      type: string  
                    cc_print_name:
                      type: string
                    exp_date:
                      type: string
                    posting_date:
                      type: string
                    amount:
                      type: number        
              direct_depost:
                type: array
                items:
                  type: object
                  properties:
                    order_type:
                      type: string
                    payment_type:
                      type: string
                    transaction_type:
                      type: string  
                    dd_ref1:
                      type: string
                    dd_ref2:
                      type: string  
                    dd_date:
                      type: string
                    dd_amount:
                      type: number
              cheque:
                type: array
                items:
                  type: object
                  properties:
                    order_type:
                      type: string
                    payment_type:
                      type: string
                    transaction_type:
                      type: string
                    check_number:
                      type: string
                    check_date:
                      type: string  
                    check_aba:
                      type: string
                    check_amount:
                      type: number
    pet_customer_customerid:
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              CLIENT_ID:
                type: string
              SCH_ID:
                type: string
              CUST_CODE_OWNER:
                type: string
              OWNER_FIRST_NAME:
                type: string
              OWNER_ADDR1:
                type: string
              OWNER_ADDR2:
                type: string
              OWNER_CITY:
                type: string
              OWNER_STATE_CODE:
                type: string
              OWNER_ZIP:
                type: string
              OWNER_LAND_PHONE:
                type: string
              OWNER_CELL_PHONE:
                type: string
              OWNER_EMAIL:
                type: string
              PET_NAME:
                type: string
              PET_WEIGHT:
                type: number
              SERVICES:
                type: string
              URN_MODEL_NO:
                type: string
              URN_DISPL:
                type: string
              PICKUP_DATE:
                type: string
              ROUTE_CODE:
                type: string
              ROUTE_DISPL:
                type: string
              CREATE_DTTM:
                type: string
              CREATE_USER:
                type: string
              PET_TYPE_CODE:
                type: string
              PACKAGE_CODE:
                type: string
              PACKAGE_DISPL:
                type: string
              ON_HOLD:
                type: string
              CUST_CODE_VET:
                type: string
              VET_DISPL:
                type: string
    PAYLOAD5:
      properties:
        client_id:
          type: string
        sch_id:
          type: string
        owner_name:
          type: string
        owner_addr1:
          type: string
        owner_addr2:
          type: string
        owner_addr3:
          type: string
        pet_name:
          type: string
        pet_desc:
          type: string
        pet_weight:
          type: string
        engrave:
          type: string
        ship_via:
          type: string
        services:
          type: string
        model_no:
          type: string
        model_price:
          type: string
        spec_instr:
          type: string
        pickup_date:
          type: string
        route_code:
          type: string
        status:
          type: string
        create_dttm:
          type: string
        create_user:
          type: string
        owner_last_name:
          type: string
        date_of_death:
          type: string
        pet_sex:
          type: string
        pet_type_code:
          type: string
        pet_age:
          type: string
        owner_city:
          type: string
        owner_state_code:
          type: string
        owner_zip:
          type: string
        owner_land_phone:
          type: string
        owner_cell_phone:
          type: string
        owner_email:
          type: string
        pet_status_code:
          type: string
        pet_breed_id:
          type: string
        cremation_dttm:
          type: string
        qb_updated:
          type: string
        medal_tag:
          type: string
        engrave_etching:
          type: string
        breed_name:
          type: string
        ship_to_owner:
          type: string
        pick_up_day:
          type: string
        cust_code_vet:
          type: string
        cust_code_owner:
          type: string
        pet_weight_kg:
          type: string
        pet_location_id:
          type: string
        updated:
          type: string
        cust_entry_type:
          type: string
        mass_cremation:
          type: string
        bill_to_owner:
          type: string
        entry_type:
          type: string
        pick_up_type:
          type: string
        rush_approved:
          type: string
        owner_submit_status:
          type: string
        urn_sch_return_date:
          type: string
        urn_ok:
          type: string
        third_party_code:
          type: string
        other_reference_no:
          type: string
        pet_plot_id:
          type: string
        pet_chip_number:
          type: string
        package_code:
          type: string
        eng_plate_no:
          type: string
        clip_art_no:
          type: string
        plaque_no:
          type: string
        plaque_engrave:
          type: string
        jewelry_no:
          type: string
        template_id:
          type: string
        ship_scac_code:
          type: string
        ship_tracking_no:
          type: string
        certificate_option:
          type: string
        call_options:
          type: string
        certificate:
          type: string
        owner_land_phone_use:
          type: string
        owner_cell_phone_use:
          type: string
        msg_email:
          type: string
        msg_text:
          type: string
        msg_start_cremation:
          type: string
        msg_end_cremation:
          type: string
        msg_delivery:
          type: string
        on_hold:
          type: string
        owner_submit_status_2:
          type: string
        email_1_date:
          type: string
        email_2_date:
          type: string
        update_user:
          type: string
        update_dttm:
          type: string
        viewing_dttm:
          type: string
        burial_dttm:
          type: string
        user_ash_verification:
          type: string
        pet_weight_ashes:
          type: string
        medal_tag_ok:
          type: string
        pickup_distance:
          type: string
        delivery_type:
          type: string
        pet_weight_init:
          type: string
        pet_pallet_id:
          type: string
        cause_of_death:
          type: string
        disease_desc:
          type: string
        urn_closure:
          type: string
        spcl_services:
          type: string
        cd_owner_key:
          type: string
        owner_salutation:
          type: string
        invoice_remarks:
          type: string
        date_of_birth:
          type: string
        log_seq_number:
          type: string
        log_seq_no_ack:
          type: string
        last_revision_dttm:
          type: string
        owner_lang_code:
          type: string
        viewing_appt_start_date:
          type: string
        viewing_appt_end_date:
          type: string
        viewing_loc_code:
          type: string
        model_no_2:
          type: string
        urn_closure_2:
          type: string
        clip_art_qty:
          type: string
        plaque_qty:
          type: string
        jewelry_qty:
          type: string
        engrave_qty:
          type: string
        viewing_type_code:
          type: string
        linked_owner_vet_tag:
          type: string
        owner_vet_service:
          type: string
        equine_tag:
          type: string
        quote_approved:
          type: string
        quote_approved_dttm:
          type: string
        sap_reference_no:
          type: string
        disposition_details:
          type: string
        engrave_etching_plaque:
          type: string
        eng_plate_no_plaque:
          type: string
        quote_sent_dttm:
          type: string
        client_id_transfer_to:
          type: string
        certificate_pet_name:
          type: string
        rebate_flag:
          type: string
        online_order_flag:
          type: string
        agreement_signed_date:
          type: string
        agency_code:
          type: string
        pet_condition:
          type: string
        pet_owner_type:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              inv_code:
                type: string
              qty:
                type: number
        svcs:
          type: array
          items:
            type: object
            properties:
              spl_service_code:
                type: string
              qty:
                type: number
        cash_payments:
                type: array
                items:
                  type: object
                  properties:
                    order_type:
                      type: string
                    payment_type:
                      type: string
                    transaction_type:
                      type: string  
                    receipt_number:
                      type: string
                    receipt_date:
                      type: string
                    cash_amount:
                      type: number
        credit_card:
                type: array
                items:
                  type: object
                  properties:
                    order_type:
                      type: string
                    payment_type:
                      type: string
                    transaction_type:
                      type: string
                    cc_number:
                      type: string  
                    cc_print_name:
                      type: string
                    exp_date:
                      type: string
                    posting_date:
                      type: string
                    amount:
                      type: number              
        direct_depost:
                type: array
                items:
                  type: object
                  properties:
                    order_type:
                      type: string
                    payment_type:
                      type: string
                    dd_ref1:
                      type: string
                    dd_ref2:
                      type: string  
                    dd_date:
                      type: string
                    dd_amount:
                      type: number
        cheque:
                type: array
                items:
                  type: object
                  properties:
                    order_type:
                      type: string
                    payment_type:
                      type: string
                    transaction_type:
                      type: string
                    check_number:
                      type: string
                    check_date:
                      type: string  
                    check_aba:
                      type: string
                    check_amount:
                      type: number              
    product:
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              CLIENT_ID:
                type: string
              INV_CODE:
                type: string
              DESCRIPTION:
                type: string
              ITEM_TYPE:
                type: string
              LIST_PRICE:
                type: number
              ON_HAND:
                type: number
              CREATE_DTTM:
                type: string
              CREATE_USER:
                type: string
              UPDATE_DTTM:
                type: string
              UPDATE_USER:
                type: string
              DISPLAY_ORDER:
                type: number
              MIN_QTY:
                type: number
              MAX_QTY:
                type: number
              DEFAULT_URN:
                type: string
              INV_CLASS_CODE:
                type: string
              TAXABLE:
                type: string
              ITEM_NUMBER:
                type: string
              UM_CODE:
[...]
