openapi: 3.0.0
servers:                                                 
  - description: 'Algopix API'
    url: https://api.algopix.com/v3
  - description: 'Algopix Testing API'
    url: https://staging.algopix.com/v3
  - description: 'SwaggerHub API Auto Mocking'
    url: https://virtserver.swaggerhub.com/Algopix/search/1.2.0
info:
  contact:
    email: 'support@algopix.com'
    name: 'Algopix Support'
  description: 'This is a sample Algopix server API currently supporting only the search API (beta). You can find out more about Algopix at [Algopix.com](http://algopix.com).'
  version: "1.2.0"
  title: Product Analysis API
  termsOfService: 'https://algopix.com/policies'
tags:
  - name: api
    description: 'Algopix Market Research API'
paths:
  /search:
    get:
      tags:
        - api
      summary: 'Returns market research data regarding an item.'
      operationId: search
      security:
        - apiKey: []
          appId: []   # <-- no leading dash (-)
      responses:
        '200':
          description: 'Successful operation.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          description: 'Request throttled.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '500':
          description: 'Oops, something went wrong.'
      parameters:
        - name: keywords
          in: query
          description: 'Item keywords to search by, alternatively this parameter can contain EAN, UPC or ASIN for more accurate results.'
          required: true
          schema:
            type: string
        - name: markets
          in: query
          description: "Comma-delimited market list to search for item matching the given input. Up to four markets can be specified. If no value is specified, the default used is amazon_us. Currently available Amazon markets are: amazon_us, amazon_uk, amazon_de, amazon_fr, amazon_es, amazon_it, amazon_au, and amazon_ca. Currently available eBay markets are: ebay_us, ebay_uk, ebay_de, ebay_fr, ebay_es, ebay_it, and ebay_au. Currently available Walmart market is: walmart_us."
          required: false
          schema:
            type: string
            default: amazon_us
        - name: minItemPrice
          in: query
          description: 'The minimum price which is used during the item identification process to filter items which cost less than the minimum price. Using this optional parameter may affect performance. Relevant only when keywords parameter contains a keyword query and not a UPC, EAN or ASIN.'
          required: false
          schema:
            type: number
        - name: maxItemPrice
          in: query
          description: 'The maximum price which is used during the item identification process to filter items which cost more than the specified maximum price. Using this optional parameter may affect performance. Relevant only when keyword parameter contains keywords query and not a UPC, EAN or ASIN.'
          required: false
          schema:
            type: number
        - name: currencyCode
          in: query
          description: 'The currency code of the specified minItemPrice & maxItemPrice parameters, this is a required parameter if either minItemPrice and/or maxItemPrice parameters are used. the currencyCode parameters should comply with [ISO 4217](https://www.ibm.com/support/knowledgecenter/en/SSZLC2_7.0.0/com.ibm.commerce.payments.developer.doc/refs/rpylerl2mst97.htm) currency codes. Currently supported currency codes: USD, EUR, CAD.'
          required: false
          schema:
            type: string             
        # - name: fromCountryCode
        #   in: query
        #   description: 'Alpha ISO-2  country code where you expect to ship the product from, if no value is specified the default country code used will be "US".'
        #   required: false
        #   schema:
        #     type: string   
        - name: identifierType
          in: query
          description: 'Improves identification accuracy of item keywords. If not specified, this will be automatically determined. Currently supported identifiers are: ASIN , EAN, UPC, EBAY_ITEM_ID, WALMART_ITEM_ID, KEYWORDS.'
          required: false
          schema:
            type: string
        - name: ItemCondition
          in: query
          description: 'The item condition which is used to filter results. Currently supported conditions are: NEW, USED, REFURBISHED.'
          required: false
          schema:
            type: string
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
    appId:
      type: apiKey
      in: header
      name: X-APP-ID
  responses:
    UnauthorizedError:
      description: 'API key or App ID is missing or invalid.'
      headers:
        WWW_Authenticate:
          schema:
            type: string
  schemas:
    LengthUnit:
      type: string
      enum:
        - INCH
        - CM
    WeightUnit:
      type: string
      enum:
        - OUNCE
        - POUND
    MeasuredValue:
      type: object
      properties:
        value:
          type: number
        unit:
          description: 'Type of measured unit'
          oneOf:
            - $ref: '#/components/schemas/LengthUnit'
            - $ref: '#/components/schemas/WeightUnit'
      required: ['unit']
    Dimensions:
      type: object
      description: "Container for Height, Length, Weight, and Width."
      properties:
        width:
          $ref: '#/components/schemas/MeasuredValue'
        length:
          $ref: '#/components/schemas/MeasuredValue'
        height:
          $ref: '#/components/schemas/MeasuredValue'
        weight:
          $ref: '#/components/schemas/MeasuredValue'
    Price:
      type: object
      properties:
        currencyCode:
          type: string
          description: 'ISO 4217 currency codes, see [ISO 4217](https://www.ibm.com/support/knowledgecenter/en/SSZLC2_7.0.0/com.ibm.commerce.payments.developer.doc/refs/rpylerl2mst97.htm)'
        amount:
          type: number
    ItemDetails:
      type: object
      properties:
        ids:
          description: 'The product identifier(s).'
          properties:
            ASIN:
              type: array
              items:
                type: string
            EAN:
              type: array
              items:
                type: string
            UPC:
              type: array
              items:
                type: string
            MPN:
              type: array
              items:
                type: string
        titles:
          type: object
          properties:
            en:
              type: string
              description: 'English text of the title.'
            de:
              type: string
              description: 'German text of the title.'
            it:
              type: string
              description: 'Italian text of the title.'
            fr:
              type: string
              description: 'French text of the title.'
            es:
              type: string
              description: 'Spanish text of the title.'
        brand:
          description: 'The brand name (if available).'
          type: string
        model:
          description: 'The item model (if available).'
          type: string
        color:
          description: 'The item color (if available).'
          type: string
        description:
          description: 'The item description (if available).'
          type: string
        itemDimensions:
          $ref: '#/components/schemas/Dimensions'
        packageDimensions:
          $ref: '#/components/schemas/Dimensions'
        msrp:
          description: 'The item MSRP (Manufacturer Suggested Retail Price).'
          allOf:
          - $ref: '#/components/schemas/Price'
        imageUrl:
          description: 'The item image URL.'
          type: string
    DemandLevel:
      type: integer
      minimum: 1
      maximum: 10
      description: 'A value from 1 to 10 representing the demand level where 10 represents the highest demand level.'
    Offer:
      type: object
      properties:
        marketPrice:
          description: 'Lowest offering from a reputable seller.'
          allOf:
           - $ref: '#/components/schemas/Price'
        marketPlaceFees:
          description: 'The fees associated with the marketplace.'
          allOf:
           - $ref: '#/components/schemas/Price'
        taxAmount:
          description: 'The tax amount.'
          allOf:
           - $ref: '#/components/schemas/Price'
        listingUrl:
          type: string
          description: 'URL to the listing on the marketplace.'
        insights:
          type: string
          description: "Listing insights give you a better idea as to why and how Algopix makes its recommendations and decision.\n\nLISTING_IDENTIFIED_USING_KEYWORDS: This listing was not identified using barcodes which might be less accurate. Please validate manually prior to sourcing this product.\n\nDISPLAYING_LOWEST_PRICE_FROM_A_HIGH_RANKED_SELLER: When viewing the product in the marketplace, you might find an offering for a lower price from a seller with a low feedback score or a low number of ratings. We excluded this offer because we do not consider this to be your competition and it should thus not be part of your research.\n\nCROSS_CHANNEL_COMPETITION: Although the product is recommended in this channel, notice that it is offered on another channel in the same country for a lower price. This means users who perform price comparison may decide to purchase the product on the other channel from a different seller.\n\nLISTING_PRICE_INCLUDES_SHIPPING: In some cases, shipping cost is included in the listing price but may not be visible in the product page. This means that you might see a lower market price if you view the listing but the final price for the user will include shipping costs. We show the price plus shipping since this is your competition's actual price.\n\nLISTED_BY_A_LOW_RANKED_SELLER: This listing is sold by a seller with less than 90% positive feedback or less than 100 ratings. There are no listings sold by a better-reviewed seller and this is currently the best alternative customers have in this channel. If you can compete with this listing's price and have a better feedback score this might be a good opportunity.\n\nOUT_OF_STOCK_ITEM: This listing is currently out of stock so it might not be your immediate competition."
          enum:
            - LISTING_IDENTIFIED_USING_KEYWORDS
            - DISPLAYING_LOWEST_PRICE_FROM_A_HIGH_RANKED_SELLER
            - CROSS_CHANNEL_COMPETITION
            - LISTING_PRICE_INCLUDES_SHIPPING
            - LISTED_BY_A_LOW_RANKED_SELLER
            - OUT_OF_STOCK_ITEM
    OfferDetails:
      type: object
      properties:
        timestamp:
          type: number
          description: 'The number of seconds passed since epoch, representing the time this offer was retrieved'
        marketBrand:
          description: 'Market brand name, e.g., Amazon, eBay etc.'
          type: string
        countryCode:
          type: string
          description: 'Market brand country code, see [ISO 3166-1 alpha-2](https://www.nationsonline.org/oneworld/country_code_list.htm)'
        marketSpecificData:
          oneOf:
          - $ref: '#/components/schemas/walmartMarketSpecificData'
          - $ref: '#/components/schemas/amazonMarketSpecificData'
          - $ref: '#/components/schemas/ebayMarketSpecificData'
          discriminator:
              propertyName: objectType
              mapping:
                WALMART: '#/components/schema/walmartMarketSpecificData'
                AMAZON: '#/components/schemas/amazonMarketSpecificData'
                EBAY: '#/components/schemas/ebayMarketSpecificData'
        offers:
          description: 'Listing price of this item for every given item condition (if applicable).'
          type: object
          properties:
            NEW:
              $ref: '#/components/schemas/Offer'
            REFURBISHED: 
              $ref: '#/components/schemas/Offer'
            USED: 
              $ref: '#/components/schemas/Offer'
        imageSet:
          description: 'One or multiple image URLs for the respective marketplace.'
          type: array
          items:
            type: string
    ItemOffers:
      type: object
      properties:
        itemDetails:
          $ref: '#/components/schemas/ItemDetails'
        offers:
          type: array
          items:
            $ref: '#/components/schemas/OfferDetails'
        demand:
            description: 'The product demand aggregated on the country level.'
            allOf:
            - $ref: '#/components/schemas/DemandLevel'
    marketSpecificData:
      type: object
      required:
        - objectType
      properties:
        objectType:
          type: string
          description: 'The market name this object is associated with, e.g. AMAZON.'
        marketSpecificProductTitle:
          type: string
          description: 'The title of this product in this specific market'
        competition:
          $ref: '#/components/schemas/competitionLevel'
    ebayMarketSpecificData:
      allOf:
        - $ref: '#/components/schemas/marketSpecificData'
    walmartMarketSpecificData:
      allOf:
        - $ref: '#/components/schemas/marketSpecificData'
      properties:
        walmartItemId: 
          type: integer
    amazonMarketSpecificData:
      type: object
      allOf:
        - $ref: '#/components/schemas/marketSpecificData'
      properties:
        estimatedSalesRevenue:
          description: 'For Amazon, this number reflects the Gross Merchandise Volume (GMV) from the past month, i.e., the estimated number of products sold in the last month, multiplied by the base price of the product.'
          allOf:
            - $ref: '#/components/schemas/Price'
        estimatedUnitSold:
          type: integer
          description: "The estimated number of products sold in the last month. For Amazon, the monthly sales estimate is a calculation based on the product's Best Sellers Rank combined with additional demand indicators and sales history."
        fbaSellingFees:
          description: 'Costs for Fulfillment by Amazon (FBA).'
          allOf:
          - $ref: '#/components/schemas/Price'   
        competition:
          type: object
          properties:
            competitionLevel:
              $ref: '#/components/schemas/competitionLevel'
            numberOfOffers:
              type: integer
            lowestOfferFromReputableSeller:
              allOf:
                - $ref: '#/components/schemas/sellerOffer'
            lowestOffer:
              allOf:
                - $ref: '#/components/schemas/sellerOffer'
            buyBoxOffering:
              allOf:
                - $ref: '#/components/schemas/sellerOffer'
        localAsin:
          type: string
          description: 'The ASIN found for this specific Amazon locale. Usually, this ASIN will be identical to the ASIN in ItemDetails.'
        amazonCategories:
          $ref: '#/components/schemas/amazonCategories'
        soldViaFBA:
            type: boolean
            description: 'TRUE if the product is sold via FBA by another seller, FALSE otherwise.'
    competitionLevel:
      type: string
      enum:
        - HIGH
        - MEDIUM
        - LOW
      description: 'Based on the number of sellers who offer the product for sale in each market.'
    sellerRating:
      type: object
      properties:
        positiveFeedbackRating:
          type: string
          description: 'Percentage of positive feedback the seller has received'
        numberOfSellerRatings:
          type: integer
          description: 'Number of ratings the seller has received.'
    sellerOffer:
      type: object
      properties:
        price:
          $ref: '#/components/schemas/Price'
        sellerRating:
          $ref: '#/components/schemas/sellerRating'
    amazonCategories:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              id:
                type: string
              bestSellerRanking:
                description: "The product's Best Sellers Rank on Amazon for the category identified."
                type: integer
              ancestorsPathIds:
                description: "an array which contains the browse nodes path Id of this item. The order of the ids in the array relates to their position in the browse node hierarchy"
                type: array
                items:
                  type: string
              ancestorsPathNames:
                description: "an array which contains the browse nodes path names of this item. The order of the names in the array relates to their position in the browse node hierarchy"
                type: array
                items:
                  type: string
    ApiResponse:
      type: object
      properties:
        timestamp:
          type: integer
          description: 'The number of seconds passed since epoch, representing the time this response was produced.'
        status:
          type: string
          enum:
            - SUCCESS
            - ERROR
            - WARNING
        statusMessage:
          type: string
        statusCode:
          type: integer
          description: 'Application level status code (used for analyzing issues).'
        result:
          $ref: '#/components/schemas/ItemOffers'
