openapi: 3.0.0
servers: 
  - url: 'https://payor-ist.maxicare.com.ph/urg/api'
    description: IST server
  - url: 'https://payor-uat.maxicare.com.ph/urg/api'
    description: UAT server
  - url: 'https://payor-staging.maxicare.com.ph/urg/api'
    description: Staging server
  - url: 'https://payor.maxicare.com.ph/urg'
    description: Production server (uses live data)
info:
  description: API Documentation for URG API Domain
  version: "2.13.x"
  title: URG API
  contact:
    email: info@medilink.ph
tags:
  - name: v1
    description: Methods available for v1
paths:
  /status:
    get:
      summary: Gets API status and version
      operationId: get_status
      description: Displays the status and version of the API
      responses:
        '200':
          description: Returns version and status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /v1/members/search:
    post:
      summary: Search members
      description: >
        This method will query list of members based on the values passed in the parameters.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SearchMemberParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SearchMemberReturn'
        '400':
          description: Validation errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    $ref: '#/components/schemas/v1SearchMemberError'
        '401':
          description: Unauthorized. Authorization information is missing or invalid.
  /v1/members/create:
    post:
      summary: Create member
      description: >-
        This method will create a member based on the values passed in the parameters.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateMemberParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateMemberReturn'
        '400':
          description: Bad request. Validation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    $ref: '#/components/schemas/v1CreateMemberError'
  /v1/members/get_principal_members:
    post:
      summary: Returns list of principal members.
      description: >-
        This method will query principal members based on account.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetPrincipalMembersParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetPrincipalMembersReturn'
  /v1/members/get_principal_plans:
    post:
      summary: Returns list of principal plans.
      description: >-
        This method will query principal plans based on member id.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetPrincipalPlansParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetPrincipalPlansReturn'
  /v1/members/get_member:
    post:
      summary: View member.
      description: >-
        This method will query a member based on the values passed in the parameters.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetMemberParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                type: object
                oneOf:
                  - $ref: '#/components/schemas/v1GetMemberReturn'
                  - $ref: '#/components/schemas/v1GetMemberProfileReturn'
                  - $ref: '#/components/schemas/v1GetMemberPlanReturn'
                  - $ref: '#/components/schemas/v1GetMemberDependentReturn'
                  - $ref: '#/components/schemas/v1GetMemberUtilizationReturn'
  /v1/members/member_cancellation:
    post:
      summary: Cancel member.
      description: >-
        This method will request to cancel a member based on the values passed in the parameters.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CancelMemberParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Member will be cancelled on APR-20-2019
  /v1/members/movements/suspend:
    post:
      summary: Suspend member.
      description: >-
        This method will request to suspend a member based on the values passed in the parameters.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SuspendMemberParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Member will be suspended on APR-20-2019
  /v1/members/member_reactivation:
    post:
      summary: Reactivate member.
      description: >-
        This method will request to reactivate a member based on the values passed in the parameters.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ReactivateMemberParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Member will be reactivated on APR-20-2019
  /v1/members/member_retraction:
    post:
      summary: Retracts movement of member
      description: >-
        This method will request to retract movements of a member based on the values passed in the parameters.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1RetractMemberParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                      - Member Suspension successfully retracted
                      - Member Reactivation successfully retracted
                      - Member Cancellation successfully retracted
                      - Member Hold successfully retracted
                      - Member Change of plan successfully retracted
  /v1/members/hold_member:
    post:
      summary: Hold a member.
      description: >-
        This method will request to hold a member based on the values passed in the parameters.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1HoldMemberParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Member will be hold on APR-20-2019
  /v1/members/change_of_plan:
    post:
      summary: Change member plan/s
      description: >-
        This method will request to change member plan/s with new plan/s based on the values passed in the parameters.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ChangePlanParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Change of Plan will be effective on APR-20-2019
  /v1/members/edit_member_plan:
    post:
      summary: Add member plan/s
      description: >-
        This method will delete old plans and add new plan/s to a member based on the values passed in the parameters.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AddMemberPlansParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AddMemberPlansReturn'
  /v1/members/delete_member_plan:
    post:
      summary: Delete member plan/s
      description: >-
        This method will delete plan/s from a member and update plan tiers based on the values passed in the parameters.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DeleteMemberPlansParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/v1DeleteMemberPlansReturn'
  /v1/members/get_member_versions:
    post:
      summary: View member versions
      description: >-
        This method will query member versions based on member id.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberIDParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetMemberVersionsReturn'
  /v1/members/download_batch_template:
    post:
      summary: Returns headers for batch template
      description: >-
        This method will return headers for batch template based on template type.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DownloadBatchParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadBatchReturn'
  /v1/members/add_comment:
    post:
      summary: Add comment to member
      description: >-
        This method will add comment to member based on the values passed in the parameters.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AddCommentParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AddCommentReturn'
  /v1/members/edit-general:
    post:
      summary: Edit member general
      description: >-
        This method will edit member's general info based on the values passed in the parameters. Details will be saved in member archives table.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EditGeneralParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Update successful
        '200 Error':
          description: Validation errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    $ref: '#/components/schemas/v1EditGeneralError'
  /v1/members/edit-personal:
    post:
      summary: Edit member personal
      description: >-
        This method will edit member's personal info based on the values passed in the parameters. Details will be saved in member archives table.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EditPersonalParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Update successful
        '200 Error':
          description: Validation errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    $ref: '#/components/schemas/v1EditPersonalError'
  /v1/members/edit-contact:
    post:
      summary: Edit member contact
      description: >-
        This method will edit member's contact info based on the values passed in the parameters. Details will be saved in member archives table.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EditContactParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Update successful
        '200 Error':
          description: Validation errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    $ref: '#/components/schemas/v1EditContactError'
                
  /v1/members/edit-address:
    post:
      summary: Edit member address
      description: >-
        This method will edit member's address info based on the values passed in the parameters. Details will be saved in member archives table.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EditAddress'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Update successful
        '200 Error':
          description: Validation errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    $ref: '#/components/schemas/v1EditAddressError'
  /v1/members/edit-plan:
    post:
      summary: Edit member plan
      description: >-
        This method will edit member's plan info based on the values passed in the parameters. Details will be saved in member archives table.
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EditPlan'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Update successful
        '200 Error':
          description: Validation errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    $ref: '#/components/schemas/v1EditPlanError'
                    
  /v1/members/edit-save-all:
    post:
      summary: Edit save all changes
      description: >-
        This method will bump the version of the member
      security:
        - BearerAuth: []
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                card_no:
                  description: >
                    - Member's card no
                    
                    - Required
                    
                    - Must exist
                  type: string
                  example: 6805000120912
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Update successful
        '200 Error':
          description: Validation errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      card_no:
                        type: string
                        enum:
                          - Enter card no
                          - Card no does not exist
                          
  /v1/members/edit-profile-approval:
    post:
      summary: Approved or Disapproved Edit Profile Request.
      description: This method will Approved or Disapproved Edit Profile Request.
      security:
        - BearerAuth: []
      tags:       
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EditProfileApprovalDLParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1EditProfileApprovalDLReturn'
        '200 Error':
          description: Validation errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1EditProfileApprovalDLError'
        '401':
          description: Unauthorized. Authorization information is missing or invalid.   
          
  /v1/members/kyc-information-approval:
    post:
      summary: Approved or Disapproved KYC information request.
      description: This method will Approved or Disapproved KYC information request.
      security:
        - BearerAuth: []
      tags:       
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1KYCInfoApprovalDLParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1KYCInfoApprovalDLReturn'
        '200 Error':
          description: Validation errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1KYCInfoApprovalDLError'
        '401':
          description: Unauthorized. Authorization information is missing or invalid.   
          
  /v1/reports/member-masterlist:
    post:
      summary: Return members based on parameters
      description: This method will return members based on parameters
      security:
        - BearerAuth: []
      tags:       
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1MemberMasterlistParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1MemberMasterlistReturn'
        '200 Error':
          description: Validation errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1MemberMasterlistError'
        '401':
          description: Unauthorized. Authorization information is missing or invalid.
  /v1/reports/download-masterlist:
    post:
      summary: Downloads members based on parameters
      description: This method will return url for download based on parameters
      security:
        - BearerAuth: []
      tags:       
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DownloadMasterlistParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadMasterlistReturn'
        '200 Error':
          description: Validation errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadMasterlistError'
        '401':
          description: Unauthorized. Authorization information is missing or invalid. 
  /v1/reports/search-accounts:
    post:
      summary: Return top 10 account codes and names based on parameters
      description: This method will return account codes and names based on parameters
      security:
        - BearerAuth: []
      tags:       
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SearchAccountsParams'
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SearchAccountsReturn'
        '200 Error':
          description: Validation errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SearchAccountsError'
        '401':
          description: Unauthorized. Authorization information is missing or invalid.           
          
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    StatusResponse:
      type: object
      properties:
        status:
          type: string
          example: "ok"
        version:
          type: string
          example: "1.0.0"
    MemberIDParams:
      type: object
      properties:
        member_id:
          description: Member ID
          type: string
          example: AO81K81L
    v1SearchMemberParams:
      type: object
      required:
        - page_number
        - display_per_page
        - sort_by
        - order_by
      properties:
        search_value:
          description: >
            Search value
              - Optional
              - Searchable by
                - member id
                - member name
                - card number
                - account name
                - status
          type: string
          example: ""
        page_number: 
          description: >
            Page number of datatable
              - Required
          type: integer
          example: 1
        display_per_page:
          description: >
            Number of display per page
              - Required
              - Allowed values [10, 25, 50, 100]
          type: integer
          example: 10
        sort_by:
          description: >
            Sorting of records in the datatable based on fields displayed
              - Required
              - Allowed values
                - member_id
                - member_name
                - card_no
                - account
                - status
          type: string
          enum: [member_id, member_name, card_no, account, status]
          example: member_id
        order_by:
          description: >
            Ordering of records in the datatable
              - Required
              - Allowed values [asc, desc]
          type: string
          enum: [asc, desc]
          example: asc
    v1SearchMemberReturn:
      type: object
      properties:
        total_number:
          description: Total number of searched members
          type: integer
          example: 100
        members:
          description: List of displayed members per page
          type: array
          items:
            type: object
            properties:
              member_id:
                description: Member ID
                type: string
                example: AO81K81L
              member_name:
                description: Memner full name
                type: string
                example: Juan Santiago Dela Cruz
              card_no:
                description: Member card number
                type: string
                example: "1168011075609842"
              account:
                description: Member account name
                type: string
                example: Maxicare Healthcare Corporation
              status:
                description: Member status
                type: string
                example: Active
          example:
            - member_id: AO81K81L
              member_name: Juan Santiago Dela Cruz
              card_no: "1168011075609842"
              account: Maxicare Healthcare Corporation
              status: Active
            - member_id: OF1L318B
              member_name: Maria Lopez Dela Cruz
              card_no: "1168011091829186"
              account: Maxicare Healthcare Corporation
              status: Active
    v1SearchMemberError:
      type: object
      properties:
        search_value:
          type: string
          enum:
            - No member matched your search
        page_number:
          type: string
          enum:
            - Enter page number
            - Page number should be greater than zero
        display_per_page:
          type: string
          enum:
            - Enter display per page
            - Display per page should be greater than zero
            - Display per page is invalid. Allowed values [10, 25, 50, 100]
        sort_by:
          type: string
          enum:
            - Enter sort by
            - Sort by is invalid. Allowed values [member_id, member_name, card_no, account, status]
        order_by:
          type: string
          enum:
            - Enter order by
            - Order by is invalid. Allowed values [asc, desc]
    v1CreateMemberParams:
      type: object
      properties:
        photo:
          description: Member photo (Optional)
          type: string
          example: base64 string
        is_waive_enrollment:
          description: If enrollment validation should be waived
          type: boolean
          example: true
        account_code:
          description: >
            Member account code
            - Only accounts with active and pending for renewal accounts must be displayed
            - Required
          type: string
          example: C01251
        member_type:
          description: >
            Member type
              P - Principal
              D - Dependent
              G - Guardian
              Required
          type: string
          enum: [P, D, G]
        principal_member_id:
          description: > 
            Member ID of principal
            - If Member Type is Principal, Principal Id must be disabled.
            - If Member Type is Dependent, Principal Id will be enabled.
            - If Member Type is Guardian, Principal Id must be disabled.
            - This must be containing all of the Principal or guardian ID based entered Account code.
            - Required for member type is Dependents
          type: string
          example: ""
        principal_plan_code:
          description: Plan code of principal
          type: string
          example: ""
        relationship:
          description: >
            Member relationship
              S - Spouse
              C - Child
              P - Parent
              SB - Sibling
              NON - Niece or Nephew
              UAA - Uncle and Auntie
              GP - Grandparent
              GC - Grandchild
              SSP - Same sex partner
              CO - Cousin
              PIL - Parent-in-law
              SODIL - Son or daughter in law
              CLP - Common Law partner
              G - Guardian
          type: string
          enum: [S, C, P, SB, NON, UAA, GP, GC, SSP, CO, PIL, SODIL, CLP, G]
          example: ""
        effective_date:
          description: >
            Member effective date
              - For Principal
                - Effective date must be based on the Member’s Default Effective Date, system must override the effective date based on the setup in plan. Tier 1 Plan will be the basis of this validation. The following validations must be applied 
                - If “None” is setup, the effective date entered will be the effective date BUT it it has to be within the coverage period of the account. 
                - If “Date of hire” is setup, system must require user to enter date hired AND system must make it as member’s default effective date.
                - If “Date of Regularization” is setup, system must require user to enter Regularization date AND system must make it as member’s default effective date.
                - If "Effective date of the account" is setup, the default effective date of the principal will be the effective date of the account.
          
                - Note - If 'none' is setup, the following validations must be followed
               - Effective date must be future dated and must be within the coverage period of the account. .
               - Effective date must be greater than expiry date
               - Date must be in MMM-DD-YYYY format.
               - This is a required field. 
               
              - For Dependent
               - Effective date must be based on the Member’s Default Effective Date,Entered Principal’s plan will be the basis of this validation. The following validations must be applied
                - If “None” is setup, the effective date entered will be the effective date BUT it it has to be within the coverage period of the principal.
                - If “Date of hire” is setup, system must get the date hired of the principal and make it as the effective date of the dependent
                - If “Date of Regularization” is setup,system must get the regularization date of the principal and make it as the effective date of the dependent
                - If “Effective date of Account” is setup, system must get the effective date of the principal and make it as the effective date of the dependent.
                - Effective Date is not editable if the entered plan is date of hire , date of regularization and effective date. System must auto populate the effective date based on the setup.
               - Note- If "None" is setup, the following validation must be applied.
               - If selected principal ID-Name is “Guardian” in member type, Member’s default effective date will not be applied.
               - Effective date must be auto populated based on the Effective Date of the principal/guardian. 
               - This field must be editable.
               - Effective date must be within the coverage period of the principal/guardian. All dates not within the coverage period of the principal/guardian must be disabled.
               - Effective date must be future dated.
               - Date must be in MMM-DD-YYYY format.
               - This field is required.
              
              - For Guardian
               - Effective date must be future dated.
               - Date must be in MMM-DD-YYYY format.
               - This field is required.
          type: string
          example: Dec-05-2018
        expiry_date:
          description: Member expiry date
          type: string
          example: Dec-04-2019
        is_mononymous:
          description: >
            member is mononymous
              - if 'true' system must disable middle name, last name and suffix
              - if 'false' system must enable middle name , last name and suffix
          type: boolean
          example: false
        first_name:
          description: >
            first name
              - Must be a text box containing 80 alphanumeric characters.
              - Only dot (.) , comma (,), apostrophe ( ' ), quotation mark (“) and hyphen (-) is allowed.
              - This field is required for all member type.
          type: string
          example: Juan
        middle_name:
          description: >
            Member middle name
              - Must be a text box containing 80 alphanumeric characters.
              - Only dot (.) , comma (,), apostrophe ( ' ), quotation mark (“) and hyphen (-) is allowed.
              - This is an optional field.
          type: string
          example: Santiago
        last_name:
          description: >
            Member last name
              - Must be a text box containing 80 alphanumeric characters.
              - Only dot (.) , comma (,), apostrophe ( ' ), quotation mark (“) and hyphen (-) is allowed.
              - This field is required for all member type.
          type: string
          example: Dela Cruz
        suffix:
          description: >
            Member suffix
              - Must be a text box containing 10 alphanumeric characters.
              - Only dot (.) , comma (,), apostrophe ( ' ), quotation mark (“) and hyphen (-) is allowed.
              - This is an optional field.
          type: string
          example: ""
        gender:
          description: >
            Member gender
             M - Male
             F - Female
             - For spouse dependent, the gender must not be the same as the principal. System must automatically get the opposite gender of the principal. This is not editable.
             - Gender of both parent dependent must not be the same, If user already enrolled a male parent dependent, system must automatically disable the gender enrolled.
             - This field is required for all member type.
          type: string
          enum: [M, F]
        civil_status:
          description: >
            Member civil status
              S - Single
              M - Married
              SP - Single Parent
              SE - Separated
              A - Annulled
              W - Widowed
              D - Divorced
              - For dependents
                - If dependent is Spouse, civil status must automatically be "Married". This is not editable.
                - If dependent is Child, civil status must automatically be "Single". This is not editable.
                - If dependent is Sibling, civil status must automatically be "Single". This is not editable.
                - If dependent is Niece/ Nephew, civil status must automatically be "Single". This is not editable.
              - This field is required for all member type.
          type: string
          enum: [S, M, SP, SE, A, W, D]
        birth_date:
          description: >
            Member birth date
            - Date must be in MMM-DD-YYYY Format.
            - System must get the age eligibility of dependent in plan of the principal, if the birthdate is not within the age eligibility system. must disable the dates.
            - For parent dependent, disable the dates less than the date of birth of the principal.
            - For Child dependent, disable the dates greater than the date of birth of the principal.
            - If member type selected is “Principal or guardian” disable the dates with age 17 years old and below. 
            - This is a required field for all member type.
          type: string
          example: Jan-23-1992
        employee_no:
          description: Member employee number
          type: string
          example: 560-15
        hired_date:
          description: Member hired date
          type: string
          example: June-05-2018
        regularization_date:
          description: Member regularization date
          type: string
          example: Dec-05-2018
        tin:
          description: Member TIN
          type: string
          example: "120960943185"
        is_for_card_issuance:
          description: If member is for card issuance
          type: boolean
          example: true
        is_member_vip:
          description: If member is VIP
          type: boolean
          example: false
        is_senior_citizen:
          description: If member is senior citizen
          type: boolean
          example: false
        senior_id_no:
          description: Member senior ID number
          type: integer
        senior_id_photo:
          description: Member senior ID photo
          type: string
          example: ""
        is_pwd:
          description: If member is PWD
          type: boolean
          example: false
        pwd_id_no:
          description: Member PWD ID number
          type: integer
        pwd_id_photo:
          description: Member PWD ID photo
          type: string
          example: base64 string
        philhealth:
          description: >
            Member philhealth
              R - Required
              C - Covered
            - This is a required field for all member type
          type: string
          enum: [R, C]
        philhealth_no:
          description: >
            Member philhealth number
              - Must accept 12 numeric characters only
              - This field is optional
          type: integer
          example: ""
        skipping_hierarchy:
          type: array
          items:
            $ref: "#/components/schemas/v1CreateMemberSkippingHierarchyParams"
          example:
            - relationship: SP
              first_name: Juan
              middle_name: Santos
              last_name: Dela Cruz
              suffix: II
              birth_date: JAN-01-1991
              gender: M
              reason: sample reason
              supporting_docs: asdsad4254fdfasfdew54543fddsf
        plan_codes:
          description: Member plan codes
          type: array
          items:
            type: string
          example:
            - PL-00001
            - PL-00002
        email:
          description: Member email address
          type: string
          example: juan_delacruz@email.com
        email2:
          description: Member email address 2
          type: string
          example: ""
        phones:
          description: Member phones
          type: array
          items:
            $ref: "#/components/schemas/v1CreateMemberPhonesParams"
          example:
            - type: Telephone
              country_code: "+63"
              area_code: "2"
              number: "8190926"
              local: "081"
            - type: Mobile
              country_code: "+63"
              number: "9160957874"
        address_line1:
          description: Member address line 1
          type: string
          example: "#25 Rose Gold St."
        address_line2:
          description: Member address line 2
          type: string
          example: Sunflower Subdivision
        city:
          description: Member city or municipality
          type: string
          example: Quezon City
        province:
          description: Member province
          type: string
          example: Metro Manila
        region:
          description: Member region
          type: string
          example: NCR
        postal_code:
          description: Member postal code
          type: integer
          example: 1102
    v1CreateMemberPhonesParams:
      type: object
      properties:
        type:
          description: >
            Member phone type
              T - Telephone
              M - Mobile
              F - Fax
          type: string
          enum: [T, M, F]
          example: T
        country_code:
          description: Member phone country code
          type: string
          example: "+63"
        area_code:
          description: Member phone area code
          type: string
          example: "02"
        number:
          description: Member phone number
          type: string
          example: "1234567"
        local:
          description: Member phone local
          type: string
          example: "8080"
    v1CreateMemberSkippingHierarchyParams:
      type: object
      properties:
        relationship:
          type: string
        first_name:
          description: >
            - Must be a text box containing 80 alphanumeric characters.
            - Only dot (.) , comma (,) and hyphen (-) is allowed.
          type: string
        middle_name:
          description: >
            - Must be a text box containing 80 alphanumeric characters.
            - Only dot (.) , comma (,) and hyphen (-) is allowed.
          type: string
        last_name:
          description: >
            - Must be a text box containing 80 alphanumeric characters.
            - Only dot (.) , comma (,) and hyphen (-) is allowed.
          type: string
        suffix:
          description: >
            - Must be a text box containing 10 alphanumeric characters.
            - Only dot (.) , comma (,) and hyphen (-) is allowed.
          type: string
        birth_date:
          type: string
        gender:
          description: >
            M - Male
            F - Female
          type: string
        reason:
          description: >
            - Must accept up to 255 characters only. All special characters are allowed
          type: string
        supporting_docs:
          description: base64 string
          type: string
    v1CreateMemberReturn:
      example:
        step: "5"
        status: Active
        version: "1"
        member_id: AO81K81L
        card_no: "1168011075609842"
        policy_no: "120520180958"
        is_waive_enrollment: true
        account_code: C01251
        member_type: Principal
        principal_member_id: null
        principal_plan_code: null
        relationship: null
        effective_date: Dec-05-2018
        expiry_date: Dec-04-2019
        is_mononymous: false
        first_name: Juan
        middle_name: Santiago
        last_name: Dela Cruz
        suffix: null
        gender: Male
        civil_status: Single
        birth_date: Jan-23-1992
        employee_no: "560-15"
        hired_date: June-05-2018
        regularization_date: Dec-05-2018
        is_for_card_issuance: true
        is_member_vip: false
        is_senior_citizen: false
        is_pwd: false
        philhealth: Required
        plan_codes:
          - PL-00001
          - PL-00002
        phones:
          - type: Telephone
            country_code: "+63"
            area_code: "2"
            number: "8190926"
            local: "081"
          - type: Mobile
            country_code: "+63"
            number: "9160957874"
        ids:
          - type: tin
            number: 120960943185
        address_line1: "#15 Rose Gold St."
        address_line2: Sunflower Subdivision
        city: Quezon City
        province: Metro Manila
        region: NCR
        postal_code: "1102"
    v1CreateMemberError:
      type: object
      properties:
        photo:
          type: string
          enum:
            - Photo is invalid
            - Maximum file size is 5 megabytes
        is_waive_enrollment:
          type: string
          enum:
            - Is waive enrollment is invalid
        account_code:
          type: string
          enum:
            - Select account code
            - Account code is invalid
        member_type:
          type: string
          enum:
            - Select member type
            - Member type is invalid
        principal_member_id:
          type: string
          enum:
            - Principal member id
            - Select principal member id
        principal_plan_code:
          type: string
          enum:
            - Principal plan code is invalid
            - Invalid principal plan code
            - Select principal plan code
        relationship:
          type: string
          enum:
            - Relationship is invalid
            - Only one spouse is allowed
            - Select relationship
            - Relationship must only be {dependent hierachy list}
            - You have skipped a relationship, follow the dependent hierarchy setup
        effective_date:
          type: string
          enum:
            - Enter effective date
            - Date format must be MMM-DD-YYYY
            - Effective date must be within the coverage of the account
        expiry_date:
          type: string
          enum:
            - Enter expiry date
            - Date format must be MMM-DD-YYYY
            - Expiry date must be within the coverage of the account
            - Expiry date only accepts dates after the effective date
        is_mononymous:
          type: string
          enum:
            - Is mononymous is invalid
        first_name:
          type: string
          enum:
            - Enter first name
            - First name is invalid
            - First name only accepts special characters hyphen (-), underscore (_) and dot (.)
            - First name only accepts 80 alphanumeric characters
        middle_name:
          type: string
          enum:
            - Middle name is invalid
            - Middle name only accepts special characters hyphen (-), underscore (_) and dot (.)
            - Middle name only accepts 80 alphanumeric characters
        last_name:
          type: string
          enum:
            - Enter last name
            - Last name is invalid
            - Last name only accepts special characters hyphen (-), underscore (_) and dot (.)
            - Last name only accepts 80 alphanumeric characters
        suffix:
          type: string
          enum:
            - Suffix is invalid
            - Suffix only accepts special characters hyphen (-), underscore (_) and dot (.)
            - Suffix only accepts 10 alphanumeric characters
        gender:
          type: string
          enum:
            - Select gender
            - Gender is invalid
            - Gender of both parent must not be the same
            - Gender of both spouse must not be the same
        civil_status:
          type: string
          enum:
            - Select civil status
            - Civil status is invalid
        birth_date:
          type: string
          enum:
            - Enter birth date
            - Birth date is invalid
        employee_no:
          type: string
          enum:
            - Employee no is invalid
            - Enter employee number
            - Employee number is already taken
            - Principal number entered is assigned to a different member
        hired_date:
          type: string
          enum:
            - Date format must be MMM-DD-YYYY
            - Hired date only accepts dates after date today
        regularization_date:
          type: string
          enum:
            - Date format must be MMM-DD-YYYY
            - Regularization date only accepts dates after hired date
        tin:
          type: string
          enum:
            - Tin is invalid
            - TIN only accepts special character hyphen (-)
            - TIN only accepts 12 numeric characters
        is_for_card_issuance:
          type: string
          enum:
            - Is for card issuance is invalid
        is_member_vip:
          type: string
          enum:
            - Is member vip is invalid
        is_senior_citizen:
          type: string
          enum:
            - Is senior citizen is invalid
        senior_id_no:
          type: string
          enum:
            - Senior ID only accepts numeric characters
            - Senior ID only accepts 10 numeric characters
            - Senior citizen ID number is already assigned to another member
            - Senior citizen ID is required # If is_senior_citizen is true
        senior_id_photo:
          type: string
          enum:
            - Senior ID photo is invalid
            - Maximum file size is 5 megabytes
        is_pwd:
          type: string
          enum:
            - Is pwd is invalid
        pwd_id_no:
          type: string
          enum:
            - PWD ID only accepts numeric characters
            - PWD ID only accepts 10 numeric characters
        pwd_id_photo:
          type: string
          enum:
            - PWD ID photo is invalid
            - Maximum file size is 5 megabytes
        philhealth:
          type: string
          enum:
            - Select philhealth
            - Philhealth is invalid
        philhealth_no:
          type: string
          enum:
            - Philhealth no is invalid
            - Philhealth no only accepts 12 numeric characters
        plan_codes:
          type: string
          enum:
            - Select plan codes
            - Plan codes no is invalid
            - Invalid plan code/s: [{plan codes}]
            - Invalid age to selected plans
        email:
          type: string
          enum:
            - Email is invalid
            - Email address only accepts 80 alphanumeric characters
        email2:
          type: string
          enum:
            - Email 2 is invalid
            - Email2 address only accepts 80 alphanumeric characters
        phones:
          type: string
          enum:
            - Phones is invalid
            - row 1 errors (Type is invalid, Number is invalid)
        address_line1:
          type: string
          enum:
            - Address line1 is invalid
        address_line2:
          type: string
          enum:
            - Address line2 is invalid
            - Address line2 only accepts 150 alphanumeric characters
        city:
          type: string
          enum:
            - City is invalid
        province:
          type: string
          enum:
            - Province is invalid
        region:
          type: string
          enum:
            - Region is invalid
        country:
          type: string
          enum:
            - Country is invalid
        postal_code:
          type: integer
          enum:
            - Postal code is invalid
            - Postal code only accepts 5 numeric characters
    v1GetPrincipalMembersParams:
      type: object
      properties:
        account_code:
          description: Account code
          type: string
          example: C01251
    v1GetPrincipalMembersReturn:
      type: object
      properties:
        members:
          type: array
          items:
            type: object
          example:
            - principal_id: AO81K81L
              principal_name: Juan Santiago Dela Cruz
            - principal_id: P87GH3N5
              principal_name: Maria Teresa
    v1GetPrincipalPlansParams:
      type: object
      properties:
        member_id:
          description: Member ID
          type: string
          example: AO81K81L
    v1GetPrincipalPlansReturn:
      type: object
      properties:
        plans:
          type: array
          items:
            type: object
          example:
            - code: PL0001
              name: Plan-0001
            - code: PL0002
              name: Plan-0002
    v1GetMemberParams:
      type: object
      properties:
        member_id:
          description: Member ID
          type: string
          example: AO81K81L
        tab:
          description: Member tabs
          type: string
          enum: [profile, plan, dependent, utilization]
        plan:
          $ref: "#/components/schemas/SearchMemberPlanParams"
        dependent:
          $ref: "#/components/schemas/SearchMemberDependentParams"
        actual_utilization:
          $ref: "#/components/schemas/SearchMemberActualUtilParams"
        ibnr:
          $ref: "#/components/schemas/SearchMemberIBNRParams"
    SearchMemberPlanParams:
      description: >-
        Member plan search parameters (Required if tab is "plan")
      type: object
      properties:
        search_value:
          description: Search value
          type: string
          example: PL0001
        page_number:
          description: Page number of datatable. (Pagination)
          type: integer
          example: 1
        display_per_page:
          description: Number of display per page of datatable
          type: integer
          example: 5
        sort_by:
          description: Field name of the datatable. Basis of sorting
          type: string
          enum: [tier, code, name, no_of_benefits, limit_type, limit_amount]
        order_by:
          type: string
          description: order by of field
          enum: [asc, desc]
    SearchMemberDependentParams:
      description: >-
        Member dependent search parameters
          -Required if tab is "dependent"
      type: object
      properties:
        search_value:
          description: Search value
          type: string
          example: Mary Dela Cruz
        page_number:
          description: Page number of datatable. (Pagination)
          type: integer
          example: 1
        display_per_page:
          description: Number of display per page of datatable
          type: integer
          example: 5
        sort_by:
          description: Field name of the datatable. Basis of sorting
          type: string
          enum: [member_id, member_name, card_no]
        order_by:
          type: string
          description: order by of field
          enum: [asc, desc]
    SearchMemberActualUtilParams:
      description: >-
        Member actual utilization search parameters
          - Required if tab is "utilization"
      type: object
      properties:
        search_value:
          description: Search value
          type: string
          example: Inpatient
        page_number:
          description: Page number of datatable. (Pagination)
          type: integer
          example: 1
        display_per_page:
          description: Number of display per page of datatable
          type: integer
          example: 5
        sort_by:
          description: Field name of the datatable. Basis of sorting
          type: string
          enum: [coverage, batch_no, loa_no, diagnosis, physician, benefits, actual, admission_date, facility, processed_by]
        order_by:
          type: string
          description: order by of field
          enum: [asc, desc]
    SearchMemberIBNRParams:
      description: >-
        Member IBNR search parameters
          - Required if tab is "utilization"
      type: object
      properties:
        search_value:
          description: Search value
          type: string
          example: Outpatient
        page_number:
          description: Page number of datatable. (Pagination)
          type: integer
          example: 1
        display_per_page:
          description: Number of display per page of datatable
          type: integer
          example: 5
        sort_by:
          description: Field name of the datatable. Basis of sorting
          type: string
          enum: [coverage, batch_no, loa_no, diagnosis, physician, benefits, actual, admission_date, facility, processed_by]
        order_by:
          type: string
          description: order by of field
          enum: [asc, desc]
    v1GetMemberReturn:
      type: object
      properties:
        member_id:
          description: Member ID
          type: string
          example: AO81K81L
        first_name:
          description: Member first name
          type: string
          example: Juan
        middle_name:
          description: Member middle name
          type: string
          example: Santiago
        last_name:
          description: Member last name
          type: string
          example: Dela Cruz
        suffix:
          description: Member suffix
          type: string
          example: null
        birth_date:
          description: Member birth date
          type: string
          example: Jan-23-1992
        age:
          description: Member age
          type: integer
          example: 27
        member_type:
          description: Member member type
          type: string
          example: Principal
        effective_date:
          description: Member effective date
          type: string
          example: Dec-05-2018
        expiry_date:
          description: Member expiry date
          type: string
          example: Dec-04-2019
        account_code:
          description: Member account code
          type: string
          example: C01251
        account_name:
          description: Member account name
          type: string
          example: Maxicare Healthcare Corporation
        segment:
          description: Member account segment
          type: string
          example: Corporate
        status:
          description: Member status
          type: string
          example: Active
        plan:
          description: Member plans
          type: array
          items:
            type: object
          example:
            - plan_tier: 1
              plan_code: PL-00001
              plan_name: Plan 1
              no_of_benefits: 5
              limit_type: null
              limit_amount: null
            - plan_tier: 2
              plan_code: PL-00002
              plan_name: Plan 2
              no_of_benefits: 5
              limit_type: null
              limit_amount: null
        profile:
          description: Member profile
          type: object
          properties:
            card_no:
              description: Member card number
              type: string
              example: "1168011075609842"
            civil_status:
              description: Member civil status
              type: string
              example: Single
            employee_no:
              description: Member employee number
              type: string
              example: "560-15"
            gender:
              description: Member gender
              type: string
              example: Male
            hired_date:
              description: Member hired date
              type: string
              example: June-05-2018
            is_pwd:
              description: If member is pwd
              type: boolean
              example: false
            is_senior_citizen:
              description: If member is senior citizen
              type: boolean
              example: false
            contact:
              description: Member contact
              type: object
              properties:
                address_type:
                  description: Member address type
                  type: string
                  example: null
                address_line_1:
                  description: Member address line 1
                  type: string
                  example: "#15 Rose Gold St."
                address_line_2:
                  description: Member address line 2
                  type: string
                  example: Sunflower Subdivision
                city:
                  description: Member address city
                  type: string
                  example: Quezon City
                province:
                  description: Member address province
                  type: string
                  example: Metro Manila
                region:
                  description: Member address region
                  type: string
                  example: NCR
                country:
                  description: Member address country
                  type: string
                  example: Philippines
                zip_code:
                  description: Member address zip code
                  type: integer
                  example: 1102
                email_addresses:
                  description: Member email addresses
                  type: array
                  items:
                    type: string
                  example: [juan_delacruz@email.com]
                mobile:
                  description: Member mobile numbers
                  type: array
                  items:
                    type: string
                  example: [9160957874]
                telephone:
                  description: Member telephone numbers
                  type: array
                  items:
                    type: string
                  example: [8190926]
                fax:
                  description: Member fax numbers
                  type: array
                  items:
                    type: string
                  example: []
        dependent:
          description: Member dependents
          type: array
          items:
            type: object
          example:
            - member_id: OF1L318B
              first_name: Maria
              middle_name: Lopez
              last_name: Dela Cruz
              suffix: null
              card_no: "1168011091829186"
        utilization:
          description: Member utilization
          type: array
          items:
            type: object
          example: []
    v1GetMemberProfileReturn:
      type: object
      properties:
        member_id:
          description: Member ID
          type: string
          example: AO81K81L
        first_name:
          description: Member first name
          type: string
          example: Juan
        middle_name:
          description: Member middle name
          type: string
          example: Santiago
        last_name:
          description: Member last name
          type: string
          example: Dela Cruz
        suffix:
          description: Member suffix
          type: string
          example: null
        birth_date:
          description: Member birth date
          type: string
          example: Jan-23-1992
        age:
          description: Member age
          type: integer
          example: 27
        member_type:
          description: Member member type
          type: string
          example: Principal
        effective_date:
          description: Member effective date
          type: string
          example: Dec-05-2018
        expiry_date:
          description: Member expiry date
          type: string
          example: Dec-04-2019
        account_code:
          description: Member account code
          type: string
          example: C01251
        account_name:
          description: Member account name
          type: string
          example: Maxicare Healthcare Corporation
        segment:
          description: Member account segment
          type: string
          example: Corporate
        status:
          description: Member status
          type: string
          example: Active
        profile:
          description: Member profile
          type: object
          properties:
            card_no:
              description: Member card number
              type: string
              example: "1168011075609842"
            civil_status:
              description: Member civil status
              type: string
              example: Single
            employee_no:
              description: Member employee number
              type: string
              example: "560-15"
            gender:
              description: Member gender
              type: string
              example: Male
            hired_date:
              description: Member hired date
              type: string
              example: June-05-2018
            is_pwd:
              description: If member is pwd
              type: boolean
              example: false
            is_senior_citizen:
              description: If member is senior citizen
              type: boolean
              example: false
            contact:
              description: Member contact
              type: object
              properties:
                address_type:
                  description: Member address type
                  type: string
                  example: null
                address_line_1:
                  description: Member address line 1
                  type: string
                  example: "#15 Rose Gold St."
                address_line_2:
                  description: Member address line 2
                  type: string
                  example: Sunflower Subdivision
                city:
                  description: Member address city
                  type: string
                  example: Quezon City
                province:
                  description: Member address province
                  type: string
                  example: Metro Manila
                region:
                  description: Member address region
                  type: string
                  example: NCR
                country:
                  description: Member address country
                  type: string
                  example: Philippines
                zip_code:
                  description: Member address zip code
                  type: integer
                  example: 1102
                email_addresses:
                  description: Member email addresses
                  type: array
                  items:
                    type: string
                  example: [juan_delacruz@email.com]
                mobile:
                  description: Member mobile numbers
                  type: array
                  items:
                    type: string
                  example: [9160957874]
                telephone:
                  description: Member telephone numbers
                  type: array
                  items:
                    type: string
                  example: [8190926]
                fax:
                  description: Member fax numbers
                  type: array
                  items:
                    type: string
                  example: []
    v1GetMemberPlanReturn:
      type: object
      properties:
        member_id:
          description: Member ID
          type: string
          example: AO81K81L
        first_name:
          description: Member first name
          type: string
          example: Juan
        middle_name:
          description: Member middle name
          type: string
          example: Santiago
        last_name:
          description: Member last name
          type: string
          example: Dela Cruz
        suffix:
          description: Member suffix
          type: string
          example: null
        birth_date:
          description: Member birth date
          type: string
          example: Jan-23-1992
        age:
          description: Member age
          type: integer
          example: 27
        member_type:
          description: Member member type
          type: string
          example: Principal
        effective_date:
          description: Member effective date
          type: string
          example: Dec-05-2018
        expiry_date:
          description: Member expiry date
          type: string
          example: Dec-04-2019
        account_code:
          description: Member account code
          type: string
          example: C01251
        account_name:
          description: Member account name
          type: string
          example: Maxicare Healthcare Corporation
        segment:
          description: Member account segment
          type: string
          example: Corporate
        status:
          description: Member status
          type: string
          example: Active
        plan:
          description: Member plans
          type: array
          items:
            type: object
          example:
            - plan_tier: 1
              plan_code: PL-00001
              plan_name: Plan 1
              no_of_benefits: 5
              limit_type: null
              limit_amount: null
            - plan_tier: 2
              plan_code: PL-00002
              plan_name: Plan 2
              no_of_benefits: 5
              limit_type: null
              limit_amount: null
    v1GetMemberDependentReturn:
      type: object
      properties:
        member_id:
          description: Member ID
          type: string
          example: AO81K81L
        first_name:
          description: Member first name
          type: string
          example: Juan
        middle_name:
          description: Member middle name
          type: string
          example: Santiago
        last_name:
          description: Member last name
          type: string
          example: Dela Cruz
        suffix:
          description: Member suffix
          type: string
          example: null
        birth_date:
          description: Member birth date
          type: string
          example: Jan-23-1992
        age:
          description: Member age
          type: integer
          example: 27
        member_type:
          description: Member member type
          type: string
          example: Principal
        effective_date:
          description: Member effective date
          type: string
          example: Dec-05-2018
        expiry_date:
          description: Member expiry date
          type: string
          example: Dec-04-2019
        account_code:
          description: Member account code
          type: string
          example: C01251
        account_name:
          description: Member account name
          type: string
          example: Maxicare Healthcare Corporation
        segment:
          description: Member account segment
          type: string
          example: Corporate
        status:
          description: Member status
          type: string
          example: Active
        dependent:
          description: Member dependents
          type: array
          items:
            type: object
          example:
            - member_id: OF1L318B
              first_name: Maria
              middle_name: Lopez
              last_name: Dela Cruz
              suffix: null
              card_no: "1168011091829186"
    v1GetMemberUtilizationReturn:
      type: object
      properties:
        member_id:
          description: Member ID
          type: string
          example: AO81K81L
        first_name:
          description: Member first name
          type: string
          example: Juan
        middle_name:
          description: Member middle name
          type: string
          example: Santiago
        last_name:
          description: Member last name
          type: string
          example: Dela Cruz
        suffix:
          description: Member suffix
          type: string
          example: null
        birth_date:
          description: Member birth date
          type: string
          example: Jan-23-1992
        age:
          description: Member age
          type: integer
          example: 27
        member_type:
          description: Member member type
          type: string
          example: Principal
        effective_date:
          description: Member effective date
          type: string
          example: Dec-05-2018
        expiry_date:
          description: Member expiry date
          type: string
          example: Dec-04-2019
        account_code:
          description: Member account code
          type: string
          example: C01251
        account_name:
          description: Member account name
          type: string
          example: Maxicare Healthcare Corporation
        segment:
          description: Member account segment
          type: string
          example: Corporate
        status:
          description: Member status
          type: string
          example: Active
        utilization:
          description: Member utilization
          type: array
          items:
            type: object
          example: []
    v1CancelMemberParams:
      type: object
      properties:
        card_no:
          description: Member card number
          type: string
          example: "1168011075609842"
        cancel_date:
          description: Member cancel date
          type: string
          example: APR-20-2019
        cancel_reason:
          description: Member cancel reason
          type: string
          example: sample reason
        cancel_remarks:
          description: Member cancel remarks
          type: string
          example: sample remarks
    v1SuspendMemberParams:
      type: object
      properties:
        card_no:
          description: Member card number
          type: string
          example: "1168011075609842"
        suspend_date:
          description: Member suspend date
          type: string
          example: APR-20-2019
        suspend_reason:
          description: Member suspend reason
          type: string
          example: sample reason
        suspend_remarks:
          description: Member suspend remarks
          type: string
          example: sample remarks
    v1ReactivateMemberParams:
      type: object
      properties:
        card_no:
          description: Member card number
          type: string
          example: "1168011075609842"
        reactivate_date:
          description: Member reactivate date
          type: string
          example: APR-20-2019
        reactivate_remarks:
          description: Member reactivate remarks
          type: string
          example: sample remarks
    v1RetractMemberParams:
      type: object
      properties:
        card_no:
          description: Member card number
          type: string
          example: "1168011075609842"
        movement_type:
          description: Member movement type
          type: string
          enum: 
            - Suspension
            - Reactivation
            - Cancellation
            - Hold
            - Change of plan
    v1HoldMemberParams:
      type: object
      properties:
        card_no:
          description: Member card number
          type: string
          example: "1168011075609842"
        hold_date:
          description: Member hold date
          type: string
          example: APR-20-2019
        hold_reason:
          description: Member hold reason
          type: string
          example: sample reason
        hold_remarks:
          description: Member hold remarks
          type: string
          example: sample remarks
    v1ChangePlanParams:
      type: object
      properties:
        card_no:
          description: Member card number
          type: string
          example: "1168011075609842"
        old_plan:
          description: List of member plans to be replaced
          type: array
          items:
            type: string
          example:
            - PL-00001
        new_plan:
          description: List of new member plans
          type: array
          items:
            type: string
          example:
            - PL-00003
        change_of_plan_date:
          description: Member change of plan date
          type: string
          example: APR-20-2019
        change_of_plan_reason:
          description: Member change of plan reason
          type: string
          example: sample reason
    v1AddMemberPlansParams:
      type: object
      properties:
        member_id:
          description: Member ID
          type: string
          example: AO81K81L
        plans:
          description: Member plans map
          type: array
          items:
            type: object
            properties:
              plan_code:
                description: Plan code
                type: string
              tier:
                description: Plan tier
                type: integer
          example:
            - plan_code: PL-00001
              tier: 1
            - plan_code: PL-00002
              tier: 2
    v1AddMemberPlansReturn:
      type: object
      properties:
        member_plans:
          type: array
          items:
            type: object
          example:
            - member_id: AO81K81L
              plan_code: PL-00001
              name: Plan 1
              no_of_benefits: 5
              tier: 1
            - member_id: AO81K81L
              plan_code: PL-00002
              name: Plan 2
              no_of_benefits: 5
              tier: 2
    v1DeleteMemberPlansParams:
      type: object
      properties:
        member_id:
          description: Member ID
          type: string
          example: AO81K81L
        plan_codes:
          description: Member plan codes
          type: array
          items:
            type: string
          example:
            - PL-00001
    v1DeleteMemberPlansReturn:
      type: object
      properties:
        member_id:
          description: Member ID
          type: string
          example: AO81K81L
        plan_code:
          description: Plan code
          type: string
          example: PL-00002
        tier:
          description: Plan tier
          type: integer
          example: 1
    v1GetMemberVersionsReturn:
      type: object
      properties:
        member:
          type: array
          items:
            type: object
          example:
            - version: Current Version
              updated_at: FEB-23-2019 10:02
              updated_by: masteradmin
            - change_logs:
              - member_plan: "Plan/s(PL-00001) removed from member"
              updated_at: MAR-01-2019 09:20
              updated_by: masteradmin
              version: "1"
    v1DownloadBatchParams:
      type: object
      properties:
        template_type:
          description: >-
            Template type
              - HSCR - Hold, Suspension, Cancellation, Reactivation
              - EC - Enrollment (Corporate)
              - EIFG - Enrollment (IFG)
              - R - Retraction
              - C - Correction
              - CP - Change plan
          type: string
          enum: [HSCR, EC, EIFG, R, C, CP]
    v1DownloadBatchReturn:
      type: object
      properties:
        headers:
          type: array
          items:
            type: object
            properties:
              field:
                description: Header name
                type: string
              description:
                description: Header description
                type: string
          example:
            - field: "PolicyNo"
              description: "Legend(Required): Policy Number of the member. Note: Don't forget to add a single quote before the Policy No. (e.g. '090011263523)."
            - field: "EffectiveDate"
              description: "Legend(Required): Effectivity of cancellation. Format: mm/dd/yyyy"
            - field: "Reason"
              description: "Legend(Optional): Reason of Cancellation. Blank/20 = Due to self"
            - field: "Remarks"
              description: "Legend(Optional): Remarks"
            - field: "DateEndorsed"
              description: "Legend(Optional): Date endorsed of the cancellation of member. Format: mm/dd/yyyy"
    v1AddCommentParams:
      type: object
      properties:
        member_id:
          description: Member ID
          type: string
          example: AO81K81L
        comment:
          description: Member comment
          type: string
          example: Sample comment on a member 2
    v1AddCommentReturn:
      type: object
      properties:
        member_comments:
          description: Member comments
          type: array
          items:
            type: object
            properties:
              member_id:
                description: Member ID
                type: string
              comment:
                description: Member ID
                type: string
              inserted_at:
                description: Member ID
                type: string
          example:
            - member_id: AO81K81L
              comment: Sample comment on a member
              inserted_at: MAR-10-2019 10:00:01
            - member_id: AO81K81L
              comment: Sample comment on a member 2
              inserted_at: APR-10-2019 10:00:01
    v1EditGeneralParams:
      type: object
      properties:
        card_no:
          description: >
            Member card number
              - Required
          type: string
          example: "1168011075609842"
        first_name:
          description: >
            Member first name
              - Required
          type: string
          example: Juan
        middle_name:
          description: Member middle name
          type: string
          example: Santiago
        last_name:
          description: >
            Member last name
              - Required
          type: string
          example: Dela Cruz
        suffix:
          description: Member suffix
          type: string
          example: null
        birth_date:
          description: >
            Member birth date
              - Required
              - Date must be in MMM-DD-YYYY format.
          type: string
          example: JAN-23-1992
        expiry_date:
          description: >
            Member expiry date
              - Required
              - Date must be in MMM-DD-YYYY format.
          type: string
          example: DEC-04-2019
    v1EditGeneralError:
      type: object
      properties:
        card_no:
          type: string
          enum:
            - Enter card no
            - Card no does not exist
        first_name:
          type: string
          enum:
            - Enter first name
            - First name is invalid. Only accepts eighty (80) alphanumeric characters.
            - First name is invalid. Only accepts dot (.) , comma (,) and hyphen (-).
        middle_name:
          type: string
          enum:
            - Middle name is invalid. Only accepts eighty (80) alphanumeric characters.
            - Middle name is invalid. Only accepts dot (.) , comma (,) and hyphen (-).
        last_name:
          type: string
          enum:
            - Enter last name
            - Last name is invalid. Only accepts eighty (80) alphanumeric characters.
            - Last name is invalid. Only accepts dot (.) , comma (,) and hyphen (-).
        suffix:
          type: string
          enum:
            - Suffix is invalid. Only accepts ten (10) alphanumeric characters.
            - Suffix is invalid. Only accepts dot (.) , comma (,) and hyphen (-).
        birth_date:
          type: string
          enum:
            - Enter birth date
            - Birth date is invalid. Date format must be MMM-DD-YYYY.
            - Birth date must be less than the principal's birth date.
            - Birth date must be greater than the principal's birth date.
        expiry_date:
          type: string
          enum:
            - Enter expiry date
            - Expiry date is invalid. Date format must be MMM-DD-YYYY.
            - Expiry date must be within the coverage period of the principal.
            - Expiry date must be future dated.
    v1EditPersonalParams:
      type: object
      properties:
        card_no:
          description: >
            Member card number
              - Required
          type: string
          example: "1168011075609842"
        gender:
          description: >
            Member gender
              - Required
              - Allowed values
                * M - Male
                * F - Female
          type: string
          enum: [M, F]
          example: M
        civil_status:
          description: >
            Member civil status
              - Required
              - Allowed values
                * S - Single
                * M - Married
                * SP - Single Parent
                * SE - Separated
                * A - Annulled
                * W - Widowed
                * D - Divorced
          type: string
          enum: [S, M, SP, SE, A, W, D]
          example: S
        employee_no:
          description: >
            Member employee no / principal no
              - Required if member is principal or guardian.
          type: string
          example: "560-15"
        hired_date:
          description: >
            Member hired date
              - Date must be in MMM-DD-YYYY format.
              - Must not be greater than the regularization date.
          type: string
          example: JUN-05-2018
        regularization_date:
          description: >
            Member regularization date
               - Date must be in MMM-DD-YYYY format.
               - Must not be less than the date hired.
          type: string
          example: DEC-05-2018
        tin:
          description: >
            Member tin
              - Must contain 12 numeric characters only.
              - Must accept hyphen (-) as separator.
          type: string
          example: "120960943185"
        is_for_card_issuance:
          description: If member is for card issuance
          type: boolean
          example: true
        is_vip:
          description: If member is VIP
          type: boolean
          example: false
        watchlist:
          description: >
            Watchlist
              - If member is blacklisted or part of orange list.
              - Allowed values
                * B - Blacklisted
                * O - Part of Orange List
          type: string
          enum: [B, O]
          example: ""
        is_senior_citizen:
          description: >
            If member is senior citizen
              - Member is senior citizen if entered date of birth is greater than or equal to 60 years old.
          type: boolean
          example: false
        senior_id_no:
          description: >
            Member senior citizen ID number
              - Required if is_senior_citizen is true.
              - Must accept 10 numeric characters only.
              - Must be unique per account.
          type: string
          example: ""
        senior_id_photo:
          description: Member senior citizen ID photo
          type: string
          example: ""
        is_pwd:
          description: If member is PWD
          type: boolean
          example: false
        pwd_id_no:
          description: >
            Member PWD ID number  
              - Required if is_pwd is true.
              - Must accept 20 numeric characters only.
              - Must be unique per account.
          type: string
          example: ""
        pwd_id_photo:
          description: Member PWD ID photo
          type: string
          example: ""
        philhealth:
          description: >
            Member philhealth
              - Required
              - Allowed values
                * R - Required
                * C - Covered
          type: string
          enum: [R, C]
          example: R
        phlhealth_no:
          description: >
            Member philhealth number
              - Must accept 12 numeric characters only.
          type: string
          example: ""
    v1EditPersonalError:
      type: object
      properties:
        card_no:
          type: string
          enum:
            - Enter card no
            - Card no does not exist
        gender:
          type: string
          enum:
            - Enter gender
            - Gender is invalid. Only accepts M(Male), F(Female).
        civil_status:
          description: >
            Member civil status
              - Required
              - Allowed values
                * S - Single
                * M - Married
                * SP - Single Parent
                * SE - Separated
                * A - Annulled
                * W - Widowed
                * D - Divorced
          type: string
          enum:
            - Enter civil status
            - Civil status is invalid. Only accepts S(Single), M(Married), SP(Single Parent), SE(Separated), A(Annulled), W(Widowed), D(Divorced).
        employee_no:
          type: string
          enum:
            - Enter employee no
            - Employee number is already taken #For Corporate
            - Principal number is already taken #For IFG
        hired_date:
          type: string
          enum:
            - Hired date is invalid. Date must be in MMM-DD-YYYY format.
            - Hired date must not be greater than regularization date.
        regularization_date:
          type: string
          enum:
            - Regularization date is invalid. Date must be in MMM-DD-YYYY format.
            - Regularization date must not be less than date hired.
        tin:
          description: >
            Member tin
              - Must contain 12 numeric characters only.
              - Must accept hyphen (-) as separator.
          type: string
          enum:
            - TIN is invalid. Only accepts twelve (12) numeric characters.
            - TIN is invalid. Only accepts hyphen (-) as separator.
        is_for_card_issuance:
          type: string
          enum:
            - Is for card issuance is invalid. Only accepts boolean.
        is_vip:
          type: string
          enum:
            - Is vip is invalid. Only accepts boolean.
        watchlist:
          type: string
          enum:
            - Watchlist is invalid. Only accepts B(Blacklisted), O(Part of Orange List).
        is_senior_citizen:
          description: >
            If member is senior citizen
              - Member is senior citizen if entered date of birth is greater than or equal to 60 years old.
          type: string
          enum:
            - Is senior citizen is invalid. Only accepts boolean.
            - Only ages 60 years old and above are considered senior citizen.
        senior_citizen_id_no:
          type: string
          enum:
            - Enter senior citizen id no
            - Senior citizen id no is invalid. Only accepts ten (10) numeric characters.
            - Senior Citizen ID number is already taken
        senior_citizen_id_photo:
          type: string
          enum:
            - Senior citizen id photo is invalid
        is_pwd:
          type: boolean
          enum:
            - Is pwd is invalid. Only accepts boolean.
        pwd_id_no:
          type: string
          enum:
            - Enter pwd id no
            - PWD id no is invalid. Only accepts twenty (20) numeric characters.
            - PWD ID number is already taken
        pwd_id_photo:
          type: string
          enum:
            - PWD id photo is invalid
        philhealth:
          type: string
          enum:
            - Enter philhealth
            - Philhealth is invalid. Only accepts R(Required), C(Covered).
        phlhealth_no:
          type: string
          enum:
            - Philhealth no is invalid. Only accepts twelve (12) numeric characters.
    v1EditContactParams:
      type: object
      properties:
        card_no:
          description: >
            Member card number
              - Required
          type: string
          example: "1168011075609842"
        email:
          description: >
            Member email address
              - Must only accept 80 alphanumeric characters with special characters dot (.), hyphen (-), at (@), and underscore (_).
          type: string
          example: juan_delacruz@email.com
        email2:
          description: >
            Member email address 2
              - Must only accept 80 alphanumeric characters with special characters dot (.), hyphen (-), at (@), and underscore (_).
          type: string
          example: ""
        phones:
          description: Member phones
          type: array
          items:
            $ref: "#/components/schemas/v1EditPhonesParams"
          example:
            - type: T
              country_code: "+63"
              area_code: "02"
              number: "8190926"
              local: "081"
            - type: M
              country_code: "+63"
              number: "9160957874"
            - type: F
              country_code: "+63"
              area_code: "02"
              number: "5302911"
              local: ""
    v1EditPhonesParams:
      type: object
      properties:
        type:
          description: >
            Member phone type
              - Required
              - Allowed values
                * T - Telephone
                * M - Mobile
                * F - Fax
          type: string
          enum: [T, M, F]
          example: T
        country_code:
          description: >
            Member phone country code
              - Required if type is selected
              - Default value '+63'
          type: string
          example: "+63"
        area_code:
          description: >
            Member phone area code
              - If entered type is Telephone or Fax
                - Required
                - Must only accept at most three (3) digit number.
          type: string
          example: "02"
        number:
          description: >
            Member phone number
              - Required if type is selected
              - If entered type is Mobile
                - Must only accept numeric characters with ten (10) digits.
              - If entered type is Telephone or Fax
                - Must only accept at least and at most seven (7) digits.
          type: string
          example: "1234567"
        local:
          description: >
            Member phone local
              - If entered type is Telephone or Fax
                - Must only accept at most two (2) digit number.
          type: string
          example: "8080"
    v1EditContactError:
      type: object
      properties:
        card_no:
          type: string
          enum:
            - Enter card no
            - Card no does not exist
        email:
          type: string
          enum:
            - Email is invalid. Only accepts eighty (80) alphanumeric characters with special characters dot (.), hyphen (-), at (@), and underscore (_).
        email2:
          type: string
          enum:
            - Email2 is invalid. Only accepts eighty (80) alphanumeric characters with special characters dot (.), hyphen (-), at (@), and underscore (_).
        phones:
          type: string
          enum:
            - Phones is invalid. Only accepts array of map.
            - Row 1 errors (Enter type)
            - Row 1 errors (Type is invalid. Only accepts T(Telephone), M(Mobile), F(Fax).)
            - Row 1 errors (Please include your Area Code)
            - Row 1 errors (Area code is invalid. Only accepts at most three (3) digit number.)
            - Row 1 errors (Enter number)
            - Row 1 errors (Number is invalid. Only accepts ten (10) numeric characters.) #Mobile
            - Row 1 errors (Number is invalid. Only accepts seven (7) numeric characters.) #Telephone or Fax
            - Row 1 errors (Local is invalid. Only accepts at most two (2) digit number.)
            
    v1EditAddress:
      type: object
      properties:
        card_no:
          description: >
            - Member's card no
            
            - Required
            
            - Must exist
          type: string
          example: 6805000120912
        address_line1:
          description: >
            - Member address line 1
            
            - Must accept 150 alphanumeric characters and all special characters
          type: string
          example: "#25 Rose Gold St."
        address_line2:
          description: >
            - Member address line 2
            
            - Must accept 150 alphanumeric characters and all special characters
          type: string
          example: Sunflower Subdivision
        city:
          description: >
            - Member city or municipality
            
            - Must match with the selected province, region, country
          type: string
          example: Quezon City
        province:
          description: >
            - Member province
            
            - Must match with the selected province, region, country
          type: string
          example: Metro Manila
        region:
          description: >
            - Member region
            
            - Must match with the selected province, region, country
          type: string
          example: NCR
        postal_code:
          description: >
            - Member postal code
            
            - Must accept 5 numeric characters
            
            - Required
          type: integer
          example: 1102
          
    v1EditAddressError:
      type: object
      properties:
        card_no:
          type: string
          enum:
            - Enter card no
            - Card no does not exist
        address_line1:
          enum:
            - Address line 1 is invalid. Only accepts at most 150 alphanumeric characters.
          type: string
        address_line2:
          enum:
            - Address line 2 is invalid. Only accepts at most 150 alphanumeric characters.
          type: string
        city:
          enum:
            - City is invalid. Did not match with the selected province and region.
          type: string
        province:
          enum:
            - Province is invalid. Did not match with the selected city and region.
          type: string
        region:
          enum:
            - Region is invalid. Did not match with the selected city and province.
          type: string
        postal_code:
          enum:
            - Enter postal code
            - Postal code is invalid. Only accepts at most 5 numeric characters.
            
    v1EditPlan:
      type: object
      properties:
        card_no:
          description: >
            - Member's card no
[...]
