openapi: 3.0.0
info:
  license:
    name: MIT License
    url: 'https://opensource.org/licenses/MIT'
  version: "1.0.0-oas3"
  title: PeakTracker Notices API
  description: "A REST API providing registered Rodan clients with access to Rodan's PeakTracker notifications.  "
paths:
  /noticeTypes:
    get:
      tags: []
      summary: 'Returns a list of available notice types'
      description: 'Returns a list of available notice types.  If the media type is JSON, the list will be returned as a dictionary, where a given type may be accessed by its tag property.'
      responses:
        '200':
          description: 'Successfully returned a list of notice types'
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/NoticeType'
              example:
                DayOfStandby:
                  tag: 'DayAheadStandby'
                  name: 'Day-ahead Standby'
                  description: 'Provides a warning that a peak is expected to occur tomorrow, as specified in the notice-range.'
                Curtailment:
                  tag: 'Curtailment'
                  name: 'Curtailment'
                  description: 'Provides a warning that a peak is expected to occur today, and the recipient is advised to curtail during the indicated time window.'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NoticeType'
                xml:
                  wrapped: true
                  name: 'NoticeTypes' 
  /noticeRangeTypes:
    get:
      tags: []
      summary: 'Returns a list of available notice range types'
      description: 'Returns a list of available notice types.  If the media type is JSON, the list will be returned as a dictionary, where a given type may be accessed by its tag property.'
      responses:
        '200':
          description: 'Successfully returned a list of notice range types'
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/NoticeRangeType'
              example:
                Standby:
                  tag: 'Standby'
                  name: 'Standby'
                  description: 'Users are advised to be on stand-by for a possible Curtailment Notice during the indicated range in case of a potential demand peak.'
                Curtailment:
                  tag: 'Conservative'
                  name: 'Conservative'
                  description: 'Curtailing load for the indicated (Conservative) range is suggested for users who aim to minimize their risk of missing a predicted peak via lengthier curtailment duration.'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NoticeRangeType'
                xml:
                  wrapped: true
                  name: 'NoticeRangeTypes' 
  /notices:
    get:
      tags: []
      summary: 'Returns a list of Peak notices'
      description: 'Returns a list of notices for the requested date range'
      parameters:
      - name: market
        in: query
        description: The name or tag of the market.
        example: IESO
        required: true
        schema:
          type: string
      - name: program
        in: query
        description: 'The name or tag of the Coincident Peak program of interest.'
        example: GA
        required: false
        schema:
          type: string
      - name: startDate
        in: query
        description: 'Indicates the first date that you would like to acquire peak notices for.'
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        description: 'Indicates the last date (inclusive) that you would like to acquire peak notices for.  If omitted notices will be acquired for the start date only.'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successfully returned a list of notices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notice'
              examples:
                DayAheadStandby:
                  value:
                    id: 1
                    noticeTypeTag: 'DayAheadStandby'
                    applicableDate: '2020-01-25'
                    notes:
                    notificationTime: '2020-01-24 10:00'
                    creationTime: '2020-01-24 09:51'
                    timezone: 'Eastern Time'
                    ranges:
                      - id: 1
                        noticeRangeTypeTag: 'Standby'
                        startOfRangeTime: '16:00'
                        endOfRangeTime: '18:00'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notice'
                xml:
                  wrapped: true
                  name: 'Notices' 
servers:
  - url: https://api.energent.com/PeakTracker
    description: Rodan's public-facing Production Server.
components:
  schemas:
    NoticeType: 
      type: object
      properties:
        tag:
          type: string
          description: 'A human-readable tag that uniquely identifies this notice type within the EMIS system.'
          xml:
            attribute: true
        name:
          type: string
          description: 'The (display-friendly) name of the notice type.'
        description:
          type: string
          description: 'A detailed description of the notice type.'
      required:
      - tag
      - name
      xml:
        name: 'NoticeType' 
      example:
        tag: 'DayAheadStandby'
        name: 'Day-ahead Standby'
        description: 'Provides a warning that a peak is expected to occur tomorrow, as specified in the notice-range.'
    NoticeRangeType: 
      type: object
      properties:
        tag:
          type: string
          description: 'A human-readable tag that uniquely identifies this range type within the EMIS system.'
          xml:
            attribute: true
        name:
          type: string
          description: 'The (display-friendly) name of the notice type.'
        description:
          type: string
          description: 'A detailed description of the notice range type.'
      required:
      - tag
      - name
      xml:
        name: 'NoticeRangeType' 
      example:
        tag: 'Standby'
        name: 'Standby'
        description: 'Users are advised to be on stand-by for a possible Curtailment Notice during the indicated range in case of a potential demand peak.'
    NoticeRange:
      type: object
      properties:
        id:
          type: number
          description: 'A numeric identifier that uniquely identifies this notice range within the EMIS system.'
          xml:
            attribute: true
        noticeRangeTypeTag: 
          type: string 
          description: 'A tag identifying the range as one of several available notice range types (e.g. Standby, Conservative, Moderate, Aggressive).  Further details like the display (friendly) name and description of these range types may be acquired via the /noticeRangeTypes endpoint.'
        startOfRangeTime:
          type: string
          description: 'Identifies the start (time) of the curtailment period (in indicated timezone) for the applicable date indicated in the notice.'
        endOfRangeTime:
          type: string
          description: ''
      xml:
        name: 'NoticeRange' 
    Notice:
      type: object
      properties:
        id:
          type: number
          description: 'A numeric identifier that uniquely identifies this notice within the EMIS system.'
          xml:
            attribute: true
        noticeTypeTag:
          type: string
          description: 'A tag identifying the notice as one of several available notice types (e.g. Curtailment, DayOfStandby, DayAheadStandby, WeekAheadStandby).  Further details like the display (friendly) name and description of these notice types may be acquired via the /noticeTypes endpoint.'
        applicableDate:
          type: string
          description: 'The date for which the notice applies, namely the date on which a coincident peak is expected.'
        notes:
          type: string
          description: 'Additional notes regarding the anticipated peak (usually added by our Energy Analysts)'
        notificationTime:
          type: string
          description: ''
        creationTime:
          type: string
          description: 'The date and time on which the notice was first added/available within the EMIS system.'
        timezone:
          type: string
          description: 'The time-zone in which any times related to this notice are provided'
        ranges:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/NoticeRange'
      required:
      - id
      - noticeTypeTag
      - applicableDate
      - notificationTime
      - creationTime
      - timezone
      xml:
        name: 'Notice' 
      example:
        id: 1
        noticeTypeTag: 'DayAheadStandby'
        applicableDate: '2020-01-25'
        notes:
        notificationTime: '2020-01-24 10:00'
        creationTime: '2020-01-24 09:51'
        timezone: 'Eastern Time'
        ranges:
          - id: 1
            noticeRangeTypeTag: 'Standby'
            startOfRangeTime: '16:00'
            endOfRangeTime: '18:00'
