--
openapi: "3.0.1"
info:
  title: "v3"
  version: "3.0.0-SNAPSHOT"
servers:
- url: "https://api.adoptopenjdk.net"
- url: "https://staging-api.adoptopenjdk.net"
tags:
- name: "Assets"
- name: "Binary"
- name: "Version"
- name: "Release Info"
paths:
  /v3/assets/feature_releases/{feature_version}/{release_type}:
    get:
      tags:
      - "Assets"
      summary: "Returns release information"
      description: "List of information about builds that match the current query"
      parameters:
      - name: "feature_version"
        in: "path"
        description: "<p>Feature release version you wish to download. Feature versions\
          \ are whole numbers e.g. <code>8,9,10,11,12,13</code>.</p><p>Available Feature\
          \ versions can be obtained from <a href=\"https://api.adoptopenjdk.net/v3/info/available_releases\"\
          >https://api.adoptopenjdk.net/v3/info/available_releases</a></p>"
        required: true
        schema:
          default: "8"
      - name: "release_type"
        in: "path"
        description: "<p>Type of release. Either a release version, known as General\
          \ Availability(ga) or an Early Access(ea) </p>"
        required: true
        schema:
          $ref: "#/components/schemas/ReleaseType"
      - name: "architecture"
        in: "query"
        description: "Architecture"
        required: false
        schema:
          $ref: "#/components/schemas/Architecture"
      - name: "heap_size"
        in: "query"
        description: "Heap Size"
        required: false
        schema:
          $ref: "#/components/schemas/HeapSize"
      - name: "image_type"
        in: "query"
        description: "Image Type"
        required: false
        schema:
          $ref: "#/components/schemas/ImageType"
      - name: "jvm_impl"
        in: "query"
        description: "JVM Implementation"
        required: false
        schema:
          $ref: "#/components/schemas/JvmImpl"
      - name: "os"
        in: "query"
        description: "Operating System"
        required: false
        schema:
          $ref: "#/components/schemas/OperatingSystem"
      - name: "page"
        in: "query"
        description: "Pagination page number"
        required: false
        schema:
          default: "0"
      - name: "page_size"
        in: "query"
        description: "Pagination page size"
        required: false
        schema:
          default: "10"
      - name: "project"
        in: "query"
        description: "Project"
        required: false
        schema:
          $ref: "#/components/schemas/Project"
      - name: "sort_order"
        in: "query"
        description: "Result sort order"
        required: false
        schema:
          $ref: "#/components/schemas/SortOrder"
      - name: "vendor"
        in: "query"
        description: "<p>Vendor of the binary. This is the organisation that produced\
          \ the binary package.</p>"
        required: false
        schema:
          $ref: "#/components/schemas/Vendor"
      responses:
        400:
          description: "bad input parameter"
        200:
          description: "search results matching criteria"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Release"
  /v3/assets/latest/{feature_version}/{jvm_impl}:
    get:
      tags:
      - "Assets"
      summary: "Returns list of latest assets for the given feature version and jvm\
        \ impl"
      parameters:
      - name: "feature_version"
        in: "path"
        description: "<p>Feature release version you wish to download. Feature versions\
          \ are whole numbers e.g. <code>8,9,10,11,12,13</code>.</p><p>Available Feature\
          \ versions can be obtained from <a href=\"https://api.adoptopenjdk.net/v3/info/available_releases\"\
          >https://api.adoptopenjdk.net/v3/info/available_releases</a></p>"
        required: true
        schema:
          default: "8"
      - name: "jvm_impl"
        in: "path"
        description: "JVM Implementation"
        required: true
        schema:
          $ref: "#/components/schemas/JvmImpl"
      responses:
        200:
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBinaryAssetView"
  /v3/assets/version/{version}:
    get:
      tags:
      - "Assets"
      summary: "Returns release information about the specified version."
      description: "List of information about builds that match the current query "
      parameters:
      - name: "version"
        in: "path"
        description: "<p>Semantic version range (maven style) of versions to include.</p><p>e.g:\
          \ <code><ul><li>11.0.4+11.1</li><li>[1.0,2.0)</li><li>(,1.0]</li></ul></code></p><p>Details\
          \ of maven version ranges can be found at <a href=\"https://maven.apache.org/enforcer/enforcer-rules/versionRanges.html\"\
          >https://maven.apache.org/enforcer/enforcer-rules/versionRanges.html<a>.</p>"
        required: true
        schema:
          type: "string"
      - name: "architecture"
        in: "query"
        description: "Architecture"
        required: false
        schema:
          $ref: "#/components/schemas/Architecture"
      - name: "heap_size"
        in: "query"
        description: "Heap Size"
        required: false
        schema:
          $ref: "#/components/schemas/HeapSize"
      - name: "image_type"
        in: "query"
        description: "Image Type"
        required: false
        schema:
          $ref: "#/components/schemas/ImageType"
      - name: "jvm_impl"
        in: "query"
        description: "JVM Implementation"
        required: false
        schema:
          $ref: "#/components/schemas/JvmImpl"
      - name: "lts"
        in: "query"
        description: "Include only LTS releases"
        required: false
        schema:
          type: "boolean"
      - name: "os"
        in: "query"
        description: "Operating System"
        required: false
        schema:
          $ref: "#/components/schemas/OperatingSystem"
      - name: "page"
        in: "query"
        description: "Pagination page number"
        required: false
        schema:
          default: "0"
      - name: "page_size"
        in: "query"
        description: "Pagination page size"
        required: false
        schema:
          default: "20"
      - name: "project"
        in: "query"
        description: "Project"
        required: false
        schema:
          $ref: "#/components/schemas/Project"
      - name: "release_type"
        in: "query"
        description: "<p>Type of release. Either a release version, known as General\
          \ Availability(ga) or an Early Access(ea) </p>"
        required: false
        schema:
          $ref: "#/components/schemas/ReleaseType"
      - name: "sort_order"
        in: "query"
        description: "Result sort order"
        required: false
        schema:
          $ref: "#/components/schemas/SortOrder"
      - name: "vendor"
        in: "query"
        description: "<p>Vendor of the binary. This is the organisation that produced\
          \ the binary package.</p>"
        required: false
        schema:
          $ref: "#/components/schemas/Vendor"
      responses:
        400:
          description: "bad input parameter"
        200:
          description: "search results matching criteria"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Release"
  /v3/binary/latest/{feature_version}/{release_type}/{os}/{arch}/{image_type}/{jvm_impl}/{heap_size}/{vendor}:
    get:
      tags:
      - "Binary"
      summary: "Redirects to the binary that matches your current query"
      description: "Redirects to the binary that matches your current query"
      parameters:
      - name: "arch"
        in: "path"
        description: "Architecture"
        required: true
        schema:
          $ref: "#/components/schemas/Architecture"
      - name: "feature_version"
        in: "path"
        description: "<p>Feature release version you wish to download. Feature versions\
          \ are whole numbers e.g. <code>8,9,10,11,12,13</code>.</p><p>Available Feature\
          \ versions can be obtained from <a href=\"https://api.adoptopenjdk.net/v3/info/available_releases\"\
          >https://api.adoptopenjdk.net/v3/info/available_releases</a></p>"
        required: true
        schema:
          default: "8"
      - name: "heap_size"
        in: "path"
        description: "Heap Size"
        required: true
        schema:
          $ref: "#/components/schemas/HeapSize"
      - name: "image_type"
        in: "path"
        description: "Image Type"
        required: true
        schema:
          $ref: "#/components/schemas/ImageType"
      - name: "jvm_impl"
        in: "path"
        description: "JVM Implementation"
        required: true
        schema:
          $ref: "#/components/schemas/JvmImpl"
      - name: "os"
        in: "path"
        description: "Operating System"
        required: true
        schema:
          $ref: "#/components/schemas/OperatingSystem"
      - name: "release_type"
        in: "path"
        description: "<p>Type of release. Either a release version, known as General\
          \ Availability(ga) or an Early Access(ea) </p>"
        required: true
        schema:
          $ref: "#/components/schemas/ReleaseType"
      - name: "vendor"
        in: "path"
        description: "<p>Vendor of the binary. This is the organisation that produced\
          \ the binary package.</p>"
        required: true
        schema:
          $ref: "#/components/schemas/Vendor"
      - name: "project"
        in: "query"
        description: "Project"
        required: false
        schema:
          $ref: "#/components/schemas/Project"
      responses:
        307:
          description: "link to binary that matches your current query"
        400:
          description: "bad input parameter"
        404:
          description: "No matching binary found"
  /v3/binary/version/{release_name}/{os}/{arch}/{image_type}/{jvm_impl}/{heap_size}/{vendor}:
    get:
      tags:
      - "Binary"
      summary: "Redirects to the binary that matches your current query"
      description: "Redirects to the binary that matches your current query"
      parameters:
      - name: "arch"
        in: "path"
        description: "Architecture"
        required: true
        schema:
          $ref: "#/components/schemas/Architecture"
      - name: "heap_size"
        in: "path"
        description: "Heap Size"
        required: true
        schema:
          $ref: "#/components/schemas/HeapSize"
      - name: "image_type"
        in: "path"
        description: "Image Type"
        required: true
        schema:
          $ref: "#/components/schemas/ImageType"
      - name: "jvm_impl"
        in: "path"
        description: "JVM Implementation"
        required: true
        schema:
          $ref: "#/components/schemas/JvmImpl"
      - name: "os"
        in: "path"
        description: "Operating System"
        required: true
        schema:
          $ref: "#/components/schemas/OperatingSystem"
      - name: "release_name"
        in: "path"
        description: "<p>Name of the release as displayed in github or <a href=\"\
          https://adoptopenjdk.net/\">https://adoptopenjdk.net/</a> e.g <code>jdk-11.0.4+11,\
          \ jdk8u172-b00-201807161800</code>.</p><p>A list of release names can be\
          \ obtained from <a href=\"https://api.adoptopenjdk.net/v3/info/release_names\"\
          >https://api.adoptopenjdk.net/v3/info/release_names</a></p>"
        required: true
        schema:
          default: "jdk-11.0.4+11"
      - name: "vendor"
        in: "path"
        description: "<p>Vendor of the binary. This is the organisation that produced\
          \ the binary package.</p>"
        required: true
        schema:
          $ref: "#/components/schemas/Vendor"
      - name: "project"
        in: "query"
        description: "Project"
        required: false
        schema:
          $ref: "#/components/schemas/Project"
      responses:
        307:
          description: "link to binary that matches your current query"
        400:
          description: "bad input parameter"
        404:
          description: "No matching binary found"
  /v3/info/available_releases:
    get:
      tags:
      - "Release Info"
      summary: "Returns information about available releases"
      responses:
        200:
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReleaseInfo"
  /v3/info/release_names:
    get:
      tags:
      - "Release Info"
      summary: "Returns a list of all release names"
      parameters:
      - name: "page"
        in: "query"
        description: "Pagination page number"
        required: false
        schema:
          default: "0"
      - name: "page_size"
        in: "query"
        description: "Pagination page size"
        required: false
        schema:
          default: "10"
      - name: "release_type"
        in: "query"
        description: "<p>Type of release. Either a release version, known as General\
          \ Availability(ga) or an Early Access(ea) </p>"
        required: false
        schema:
          $ref: "#/components/schemas/ReleaseType"
      - name: "sort_order"
        in: "query"
        description: "Result sort order"
        required: false
        schema:
          $ref: "#/components/schemas/SortOrder"
      - name: "vendor"
        in: "query"
        description: "<p>Vendor of the binary. This is the organisation that produced\
          \ the binary package.</p>"
        required: false
        schema:
          $ref: "#/components/schemas/Vendor"
      - name: "version"
        in: "query"
        description: "<p>Semantic version range (maven style) of versions to include.</p><p>e.g:\
          \ <code><ul><li>11.0.4+11.1</li><li>[1.0,2.0)</li><li>(,1.0]</li></ul></code></p><p>Details\
          \ of maven version ranges can be found at <a href=\"https://maven.apache.org/enforcer/enforcer-rules/versionRanges.html\"\
          >https://maven.apache.org/enforcer/enforcer-rules/versionRanges.html<a>.</p>"
        required: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReleaseList"
  /v3/info/release_versions:
    get:
      tags:
      - "Release Info"
      summary: "Returns a list of all release versions"
      parameters:
      - name: "page"
        in: "query"
        description: "Pagination page number"
        required: false
        schema:
          default: "0"
      - name: "page_size"
        in: "query"
        description: "Pagination page size"
        required: false
        schema:
          default: "10"
      - name: "release_type"
        in: "query"
        description: "<p>Type of release. Either a release version, known as General\
          \ Availability(ga) or an Early Access(ea) </p>"
        required: false
        schema:
          $ref: "#/components/schemas/ReleaseType"
      - name: "sort_order"
        in: "query"
        description: "Result sort order"
        required: false
        schema:
          $ref: "#/components/schemas/SortOrder"
      - name: "vendor"
        in: "query"
        description: "<p>Vendor of the binary. This is the organisation that produced\
          \ the binary package.</p>"
        required: false
        schema:
          $ref: "#/components/schemas/Vendor"
      - name: "version"
        in: "query"
        description: "<p>Semantic version range (maven style) of versions to include.</p><p>e.g:\
          \ <code><ul><li>11.0.4+11.1</li><li>[1.0,2.0)</li><li>(,1.0]</li></ul></code></p><p>Details\
          \ of maven version ranges can be found at <a href=\"https://maven.apache.org/enforcer/enforcer-rules/versionRanges.html\"\
          >https://maven.apache.org/enforcer/enforcer-rules/versionRanges.html<a>.</p>"
        required: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReleaseVersionList"
  /v3/version/{version}:
    get:
      tags:
      - "Version"
      summary: "Parses a java version string"
      description: "Parses a java version string and returns that data in a structured\
        \ format"
      parameters:
      - name: "version"
        in: "path"
        description: "Version"
        required: true
        schema:
          type: "string"
      responses:
        400:
          description: "bad input parameter"
components:
  schemas:
    Vendor:
      enum:
      - "adoptopenjdk"
      - "openjdk"
      type: "string"
    SortOrder:
      enum:
      - "ASC"
      - "DESC"
      type: "string"
    ReleaseType:
      enum:
      - "ea"
      - "ga"
      type: "string"
    Project:
      enum:
      - "jdk"
      - "jfr"
      - "metropolis"
      - "valhalla"
      type: "string"
    OperatingSystem:
      enum:
      - "aix"
      - "linux"
      - "mac"
      - "solaris"
      - "windows"
      type: "string"
    JvmImpl:
      enum:
      - "hotspot"
      - "openj9"
      type: "string"
    ImageType:
      enum:
      - "jdk"
      - "jre"
      - "testimage"
      type: "string"
    HeapSize:
      enum:
      - "large"
      - "normal"
      type: "string"
    Architecture:
      enum:
      - "aarch64"
      - "arm"
      - "ppc64"
      - "ppc64le"
      - "s390x"
      - "sparcv9"
      - "x32"
      - "x64"
      type: "string"
    Installer:
      type: "object"
      properties:
        checksum:
          type: "string"
          example: "dd28d6d2cde2b931caf94ac2422a2ad082ea62f0beee3bf7057317c53093de93"
        checksum_link:
          type: "string"
          example: "https://github.com/AdoptOpenJDK/openjdk8-openj9-releases/ga/download/jdk8u162-b12_openj9-0.8.0/OpenJDK8-OPENJ9_x64_Linux_jdk8u162-b12_openj9-0.8.0.tar.gz.sha256.txt"
        download_count:
          format: "int64"
          type: "integer"
          example: "2"
        link:
          type: "string"
          example: "https://github.com/AdoptOpenJDK/openjdk8-binaries/ga/download/jdk8u212-b04/OpenJDK8U-jre_x86-32_windows_hotspot_8u212b04.msi"
        name:
          type: "string"
          example: "OpenJDK8U-jre_x86-32_windows_hotspot_8u212b04.msi"
        signature_link:
          type: "string"
          example: "https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.5%2B10/OpenJDK11U-jdk_x64_linux_11.0.5_10.tar.gz.sign"
        size:
          format: "int64"
          type: "integer"
          example: "82573385"
    Package:
      type: "object"
      properties:
        checksum:
          type: "string"
          example: "dd28d6d2cde2b931caf94ac2422a2ad082ea62f0beee3bf7057317c53093de93"
        checksum_link:
          type: "string"
          example: "https://github.com/AdoptOpenJDK/openjdk8-openj9-releases/ga/download/jdk8u162-b12_openj9-0.8.0/OpenJDK8-OPENJ9_x64_Linux_jdk8u162-b12_openj9-0.8.0.tar.gz.sha256.txt"
        download_count:
          format: "int64"
          type: "integer"
          example: "2"
        link:
          type: "string"
          example: "https://github.com/AdoptOpenJDK/openjdk8-binaries/ga/download/jdk8u212-b04/OpenJDK8U-jre_x86-32_windows_hotspot_8u212b04.msi"
        name:
          type: "string"
          example: "OpenJDK8U-jre_x86-32_windows_hotspot_8u212b04.msi"
        signature_link:
          type: "string"
          example: "https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.5%2B10/OpenJDK11U-jdk_x64_linux_11.0.5_10.tar.gz.sign"
        size:
          format: "int64"
          type: "integer"
          example: "82573385"
    Binary:
      type: "object"
      properties:
        architecture:
          enum:
          - "aarch64"
          - "arm"
          - "ppc64"
          - "ppc64le"
          - "s390x"
          - "sparcv9"
          - "x32"
          - "x64"
          type: "string"
          example: "x64"
        download_count:
          format: "int64"
          type: "integer"
          example: "3899"
        heap_size:
          enum:
          - "large"
          - "normal"
          type: "string"
          example: "normal"
        image_type:
          enum:
          - "jdk"
          - "jre"
          - "testimage"
          type: "string"
          example: "jdk"
        installer:
          $ref: "#/components/schemas/Installer"
          type: "object"
        jvm_impl:
          enum:
          - "hotspot"
          - "openj9"
          type: "string"
          example: "openj9"
        os:
          enum:
          - "aix"
          - "linux"
          - "mac"
          - "solaris"
          - "windows"
          type: "string"
        package:
          $ref: "#/components/schemas/Package"
          type: "object"
        project:
          enum:
          - "jdk"
          - "jfr"
          - "metropolis"
          - "valhalla"
          type: "string"
          example: "jdk"
        scm_ref:
          type: "string"
          example: "dd28d6d2cde2b931caf94ac2422a2ad082ea62f0beee3bf7057317c53093de93"
        updated_at:
          format: "date-time"
          type: "string"
          example: "2018-03-15T12:13:07.000Z"
    Release:
      type: "object"
      properties:
        binaries:
          type: "array"
          items:
            $ref: "#/components/schemas/Binary"
            type: "object"
        download_count:
          format: "int64"
          type: "integer"
          example: "7128"
        id:
          type: "string"
          example: "VXNlci0xMA=="
        release_link:
          type: "string"
          example: "https://github.com/AdoptOpenJDK/openjdk8-openj9-releases/ga/tag/jdk8u162-b12_openj9-0.8.0"
        release_name:
          type: "string"
          example: "jdk8u162-b12_openj9-0.8.0"
        release_type:
          enum:
          - "ea"
          - "ga"
          type: "string"
          example: "ga"
        source:
          type: "object"
          properties:
            link:
              type: "string"
              example: "https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u232-b09/OpenJDK8U-sources_8u232b09.tar.gz"
            name:
              type: "string"
              example: "OpenJDK8U-sources_8u232b09.tar.gz"
            size:
              format: "int64"
              type: "integer"
              example: "82573385"
        timestamp:
          format: "date-time"
          type: "string"
          example: "2018-03-15T12:12:35.000Z"
        updated_at:
          format: "date-time"
          type: "string"
          example: "2018-03-15T12:12:35.000Z"
        vendor:
          enum:
          - "adoptopenjdk"
          - "openjdk"
          type: "string"
          example: "adopt"
        version_data:
          type: "object"
          properties:
            adopt_build_number:
              format: "int32"
              type: "integer"
            build:
              format: "int32"
              type: "integer"
            major:
              format: "int32"
              type: "integer"
            minor:
              format: "int32"
              type: "integer"
            openjdk_version:
              type: "string"
              example: "11.0.4+10-201907081820"
            optional:
              type: "string"
            pre:
              type: "string"
            security:
              format: "int32"
              type: "integer"
            semver:
              type: "string"
              example: "11.0.0+28"
    ListBinaryAssetView:
      type: "array"
      items:
        type: "object"
        properties:
          binary:
            $ref: "#/components/schemas/Binary"
            type: "object"
          release_name:
            type: "string"
            example: "jdk8u162-b12_openj9-0.8.0"
    ReleaseInfo:
      type: "object"
      properties:
        available_lts_releases:
          type: "array"
          items:
            format: "int32"
            type: "integer"
          example: "[8,11]"
        available_releases:
          type: "array"
          items:
            format: "int32"
            type: "integer"
          example: "[8,9,10,11,12,13]"
        most_recent_feature_release:
          format: "int32"
          type: "integer"
          example: "13"
        most_recent_lts:
          format: "int32"
          type: "integer"
          example: "11"
    ReleaseList:
      type: "object"
      properties:
        releases:
          type: "array"
          items:
            type: "string"
    VersionData:
      type: "object"
      properties:
        adopt_build_number:
          format: "int32"
          type: "integer"
        build:
          format: "int32"
          type: "integer"
        major:
          format: "int32"
          type: "integer"
        minor:
          format: "int32"
          type: "integer"
        openjdk_version:
          type: "string"
          example: "11.0.4+10-201907081820"
        optional:
          type: "string"
        pre:
          type: "string"
        security:
          format: "int32"
          type: "integer"
        semver:
          type: "string"
          example: "11.0.0+28"
    ReleaseVersionList:
      type: "object"
      properties:
        versions:
          type: "array"
          items:
            $ref: "#/components/schemas/VersionData"