openapi: 3.0.1
info:
  title: "Netrivals API"
  description: |
    Netrivals API where our customers can retrieve their data and the related market data.
    
    This API uses an HTTP 'Basic Access Authentication', see https://en.wikipedia.org/wiki/Basic_access_authentication
  version: "1.0.1-beta"
  
servers:
  - url: 'https://endpoint.netrivals.com'
paths:
  /v1/stores:
    get:
      description: "List of stores for an specific customer"
      summary: "List of stores"
      tags:
        - stores
      responses:
        '200':
          description: Correct
          content:
            application/json:
              schema:
                type: array
                items: 
                  $ref: "#/components/schemas/Store"
        '400':
          $ref: '#/components/responses/BadRequest' 
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound' 
      servers:
        - url: 'https://endpoint.netrivals.com'
    servers:
      - url: 'https://endpoint.netrivals.com'
  /v1/store/{storeId}/products:
    get:
      description: "List of products"
      summary: "List of products"
      tags:
        - products
      parameters:
        - name: storeId
          in: path
          description: Store ID
          required: true
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
            default: 100
        - name: page
          in: query
          schema:
            type: integer
            format: int64
            default: 1        
        - name: brand
          in: query
          description: "Brand name or multiple ones separated by comma"
          schema:
            type: string
        - name: tag
          in: query
          description: "Tag name or multiple ones separated by comma"
          schema:
            type: string
        - name: category
          in: query
          description: "Category name or multiple ones separated by comma"
          schema:
            type: string
        - name: rival_id
          in: query
          description: "Rival store id, check rivals endpoint for retrieve your rival stores list." 
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Correct
          content:
            application/json:
              schema:
                type: array
                items: 
                  $ref: "#/components/schemas/Product"
        '400':
          $ref: '#/components/responses/BadRequest' 
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound' 
      servers:
        - url: 'https://endpoint.netrivals.com'
    servers:
      - url: 'https://endpoint.netrivals.com'
  /v1/store/{storeId}/products/{id}:
    get:
      description: "Product data of the specified id"
      summary: "Product data of the specified id"
      tags:
        - products      
      parameters:
        - name: storeId
          in: path
          description: Store ID
          required: true
          schema:
            type: integer
            format: int64
        - name: id
          in: path
          description: Product ID
          required: true
          schema:
            type: string
        - name: rival_id
          in: query
          description: "Rival store id, check rivals endpoint for retrieve your rival stores list." 
          schema:
            type: integer
            format: int64            
      responses:
        '200':
          description: Correct
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Rival"
        '400':
          $ref: '#/components/responses/BadRequest'                 
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound' 
      servers:
        - url: 'https://endpoint.netrivals.com'
    servers:
      - url: 'https://endpoint.netrivals.com'
  /v1/store/{storeId}/rivals:
    get:
      description: "Rivals data"
      summary: "Rivals data"
      tags:
        - rivals        
      parameters:
        - name: storeId
          in: path
          description: Store ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Correct
          content:
            application/json:
              schema:
                type: array
                items: 
                  $ref: "#/components/schemas/Rival"
        '400':
          $ref: '#/components/responses/BadRequest' 
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound' 
      servers:
        - url: 'https://endpoint.netrivals.com'
    servers:
      - url: 'https://endpoint.netrivals.com'
  /v1/store/{storeId}/rivals/{id}:
      get:
        description: "Specific rival data"
        summary: "Specific rival data"
        tags:
          - rivals           
        parameters:
          - name: storeId
            in: path
            description: Store ID
            required: true
            schema:
              type: integer
              format: int64
          - name: id
            in: path
            description: Rival ID
            required: true
            schema:
              type: integer
              format: int64
        responses:
          '200':
            description: Correct
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Rival"
          '400':
            $ref: '#/components/responses/BadRequest' 
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'        
        servers:
          - url: 'https://endpoint.netrivals.com'
      servers:
        - url: 'https://endpoint.netrivals.com'
components:
  securitySchemes:
    basic:
      type: http
      scheme: basic
  responses:
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: "Unauthorized or HTTP Basic Authentication not correct, see: https://en.wikipedia.org/wiki/Basic_access_authentication"
      content:
        application/json:
          schema:
              $ref: '#/components/schemas/Error'    
    BadRequest:
      description: "Bad Request: the request you sent to the website server, often something simple like a request to load a web page, was somehow incorrect or corrupted and the server could not understand it."
  schemas:
    Store:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        country:
          type: string
          minLength: 2
          maxLength: 2
          description: "ISO_3166-1 country code (2 characters, lower-case)"  
    Product:
      type: object
      properties:
        id:
          type: string
        ref:
          type: string
        ean:
          type: string
          minLength: 14
          maxLength: 14
        title:
          type: string
        price:
          type: number
          format: float
        price_status:
          type: string
          enum: [losers, equals, winners]
        price_index_average:
          type: number
          format: float
        stock:
          type: string
          enum: [yes,no]
        stock_quantity:
          type: integer
          format: int64
          nullable: true
          description: "It can be null if is not provided through your data feed"
        price_margin:
          type: number
          format: float
          nullable: true
          description: "It can be null if price_cost is not provided through your data feed"
        percent_margin:
          type: number
          format: float
          nullable: true
          description: "It can be null if price_cost is not provided through your data feed"
        coefficient_margin:
          type: number
          format: float
          nullable: true
          description: "It can be null if price_cost is not provided through your data feed"
        brand:
          type: string
        categories:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            type: string
            description: "Tags provided via your data feed and those created on Netrivals"
        rival_products_num:
          type: integer
          format: int64
          description: "Total rival connected products"
        rival_product_min_price:
          type: number
          format: float
          nullable: true
        rival_product_max_price:
          type: number
          format: float
          nullable: true
        price_difference_with_cheapest_rival_product:
          type: number
          format: float
          nullable: true
        price_percentage_difference_with_cheapest_rival_product: 
          type: number
          format: float
          nullable: true
        rival_products: 
          type: array
          items:
            type: object
            properties:
              store_id:
                type: integer
                format: int64
              name:
                type: string
              seller_name:
                type: string
                nullable: true
                description: "The marketplace seller name or null if the store is not a marketplace"
              price:
                type: number
                format: float
              stock:
                type: string
                enum: [yes,no]
              updated_date:
                type: string
                description: "The datetime when the product was updated in yyyy-MM-dd HH:mm:ss format, Europe/Berlin timezone"
              shipping:
                type: number
                format: float
                nullable: true
                description: "Shipping cost or null if not available"
              ref:
                type: string
              mpn:
                type: string
              eans:
                type: array
                items: 
                  type: string
        marketplace_offers:
          type: array
          items: 
            type: object
            properties:
              market_place_name: 
                type: string
              total_products:
                type: integer
                format: int64
              products: 
                type: array
                items:
                  type: object
                  properties:
                    code: 
                      type: string
                    title:
                      type: string
                    offers:
                      type: array
                      items:
                        $ref: "#/components/schemas/Offer"
    Rival:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        is_favorite:
          type: boolean
        country:
          type: string
          minLength: 2
          maxLength: 2
          description: "ISO_3166-1 country code (2 characters, lower-case)"
    # Schema for error response body
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
    Offer:
      type: object
      properties:
        seller: 
          type: string
        price:
          type: number
          format: float
        shipping:
          type: number
          format: float  
        stock:
          type: string
          enum: [yes,no]
        condition:
          type: string
        date_found:
          type: string
          description: "format yyyy-MM-dd, Europe/Berlin timezone"
