openapi: 3.0.0
servers:
  - url: https://api.golsat.com.br/homologacao/integracaocrud/4.0.0
  - url: https://api.golsat.com.br/integracaocrud/4.0.0
info:
  description: |
    Integração Crud de entidades basicas para utilização do Golfleet.
    Para utilização, a Golsat irá fornecer o "Client ID", "Client Secret" e "Scope" (obrigatório para utilização desde a versão 3.0.0); 
  version: "4.0.0"
  title: Integracao Crud
  contact:
    email: dev@golsat.com.br
tags:
  - name: clientes
    description: Operações sobre clientes
  - name: grupos
    description: Operações sobre grupos
  - name: usuarios
    description: Operações sobre usuários
  - name: veiculos
    description: Operações sobre veículos
  - name: condutores
    description: Operações sobre condutores
  - name: acessorios
    description: Operações sobre acessorios
  - name: transferencia de veiculos
    description: Operações sobre a titularidade dos veículos
  - name: espelhamento
    description: Operações sobre visualização de veículos
  - name: area de controle
    description: Operações sobre áreas de controle
paths:
  '/areasdecontrole':
    get:
      tags:
        - area de controle
      summary: Recupera as áreas de controle
      operationId: recuperaAreasDeControle
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AreaDeControle'
        '400':
          description: Erro na requisição
        '500':
          description: Um erro interno ocorreu no servidor
    post:
      tags:
        - area de controle
      summary: Adiciona uma área de controle
      description: A área de controle tem limitação de até 300KM de um ponto a outro em caso de poligonais e em diametro em caso de circulares.
      operationId: criaAreasDeControle
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: Inserção realizada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AreaDeControle'
        '400':
          description: Erro na requisição
        '500':
          description: Um erro interno ocorreu no servidor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AreaDeControle'
        description: Objeto do condutor
        required: true
        
  '/areasdecontrole/{Id}': 
    get:
      tags:
        - area de controle
      summary: Recupera uma área de controle
      operationId: recuperaAreaDeControle
      security: 
        - oAuth2: []
      parameters:
        - name: Id
          required: true
          in: path
          description: Guid da Área de Controle
          schema:
            type: string
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AreaDeControle'
        '400':
          description: Erro na requisição
        '404':
          description: Área de Controle não encontrada
        '500':
          description: Um erro interno ocorreu no servidor
    put:
      tags:
        - area de controle
      summary: Atualiza uma área de controle
      operationId: atualizaAreaDeControle
      security: 
        - oAuth2: []
      parameters:
        - name: Id
          required: true
          in: path
          description: Guid da Área de Controle
          schema:
            type: string
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '204':
          description: Atualização realizada com sucesso
        '400':
          description: Erro na requisição
        '404':
          description: Área de Controle não encontrada
        '500':
          description: Um erro interno ocorreu no servidor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AreaDeControle'
        description: Objeto do condutor
        required: true
    
    delete:
      tags:
        - area de controle
      summary: Deleta uma área de controle
      operationId: deletaAreaDeControle
      security: 
        - oAuth2: []
      parameters:
        - name: Id
          required: true
          in: path
          description: Guid da Área de Controle
          schema:
            type: string
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '204':
          description: Operação realizada com sucesso
        '400':
          description: Erro na requisição
        '404':
          description: Área de Controle não encontrada
        '500':
          description: Um erro interno ocorreu no servidor
  
  '/areasdecontrole/categorias':
    get:
      tags:
        - area de controle
      summary: Recupera as categorias de área de controle
      operationId: recuperaCategoriasAreaDeControle
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CategoriaAreaDeControle'
        '500':
          description: Um erro interno ocorreu no servidor
  /espelhamentos:
    get:
      tags:
        - espelhamento
      summary: Recupera os espelhamentos
      operationId: recuperaEspelhamentos
      security: 
        - oAuth2: []
      parameters:
        - in: query
          name: ClienteOrigemGuid
          schema:
            type: string
            format: uuid
          description: (opcional) Guid do cliente de origem do espelhamento
        - in: query
          name: ClienteDestinoGuid
          schema:
            type: string
            format: uuid
          description: (opcional) Guid do cliente de destino do espelhamento
      responses:
        '200':
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Espelhamento'
        '500':
          description: Um erro interno ocorreu no servidor
    post:
      tags:
        - espelhamento
      summary: Espelha visualização dos veículos para um cliente
      operationId: espelharVeiculo
      security: 
        - oAuth2: []
      responses:
        '200':
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Espelhamento'
        '405':
          description: Invalid input
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Espelhamento'
        description: Usuario a ser inserido.
        required: true
  '/espelhamentos/{Id}':          
    delete:
      tags:
        - espelhamento
      summary: Deleta um determinado espelhamento
      operationId: deletarEspelhamento
      security: 
        - oAuth2: []
      parameters:
        - name: Id
          required: true
          in: path
          description: Guid do espelhamento
          schema:
            type: string
      responses:
        '204':
          description: Operação efetuada com sucesso.
        '400':
          description: Erro na requisição
        '404':
          description: Espelhamento não encontrado
  '/transferir/{ClienteIdDestino}':
    post:
      tags:
        - transferencia de veiculos
      summary: Transfere a titularidade dos veículos listados 
      operationId: transferirVeiculos
      security: 
        - oAuth2: []
      parameters: 
        - name: ClienteIdDestino
          required: true
          in: path
          description: Guid do cliente de destino dos veículos
          schema:
            type: string
      responses:
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '405':
          description: Invalid input
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VeiculoTransferivel'
        required: true
  /usuarios:
    get:
      tags:
        - usuarios
      summary: Recupera todos os usuarios
      operationId: recuperaUsuarios
      security: 
        - oAuth2: []
      parameters: 
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Usuario'
        '500':
          description: Um erro interno ocorreu no servidor
    post:
      tags:
        - usuarios
      summary: Adiciona um novo usuario
      operationId: criarUsuario
      security: 
        - oAuth2: []
      parameters: 
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '405':
          description: Invalid input
        '200':
          description: Inserção realizado com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Usuario'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Usuario'
        description: Usuario a ser inserido.
        required: true
  '/usuarios/{Id}':
    get:
      tags:
        - usuarios
      summary: Recupera um usuario existente
      operationId: recuperaUsuario
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
        - name: Id
          required: true
          in: path
          description: Guid do usuário
          schema:
            type: string
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Usuario'
        '404':
          description: Usuário não encontrado
        '500':
          description: Ocorreu um erro interno no servidor
    put:
      tags:
        - usuarios
      summary: Atualiza um usuário existente
      operationId: atualizarUsuario
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
        - name: Id
          required: true
          in: path
          description: Guid do usuário
          schema:
            type: string
      responses:
        '204':
          description: Atualização efetuada com sucesso.
        '400':
          description: Erro na requisição
        '404':
          description: Veículo não encontrado
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Usuario'
        description: Objeto do usuário
        required: true
    delete:
      tags:
        - usuarios
      summary: Deleta um determinado usuario (inativação)
      operationId: deletarUsuario
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
        - name: Id
          required: true
          in: path
          description: Guid do usuário
          schema:
            type: string
      responses:
        '204':
          description: Operação efetuada com sucesso.
        '400':
          description: Erro na requisição
        '404':
          description: Usuário não encontrado   
  '/usuarios/login/idExterno/{IdExterno}':
    get:
      tags:
        - usuarios
      summary: Recupera os logins de um usuario existente
      operationId: recuperaLoginUsuarioPorIdExterno
      security: 
        - oAuth2: []
      parameters:
        - name: IdExterno
          description: Id externo do usuário.
          schema:
            type: string
          required: true
          in: path
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Login'
        '404':
          description: Usuário não encontrado
        '500':
          description: Ocorreu um erro interno no servidor
  '/usuarios/login/email/{Email}':
    get:
      tags:
        - usuarios
      summary: Recupera os logins de um usuario existente
      operationId: recuperaLoginUsuarioPorEmail
      security: 
        - oAuth2: []
      parameters:
        - name: Email
          description: E-mail do usuário.
          schema:
            type: string
          required: true
          in: path
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Login'
        '404':
          description: Usuário não encontrado
        '500':
          description: Ocorreu um erro interno no servidor
  /veiculos:
    get:
      tags:
        - veiculos
      summary: Recupera todos os veículos
      operationId: recuperaVeiculos
      security: 
        - oAuth2: []
      parameters: 
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Veiculo'
        '500':
          description: Um erro interno ocorreu no servidor
  '/veiculos/chassi/{Chassi}':
    get:
      tags:
        - veiculos
      summary: Recupera um veiculo existente
      operationId: recuperaVeiculo
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
        - name: Chassi
          required: true
          in: path
          description: Chassi do veículo
          schema:
            type: string
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Veiculo'
        '404':
          description: Veículo não encontrado
        '500':
          description: Ocorreu um erro interno no servidor
  '/veiculos/placa/{Placa}':
    get:
      tags:
        - veiculos
      summary: Recupera um veiculo existente
      operationId: recuperaVeiculoPorPlaca
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
        - name: Placa
          required: true
          in: path
          description: Placa do veículo
          schema:
            type: string
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Veiculo'
        '404':
          description: Veículo não encontrado
        '500':
          description: Ocorreu um erro interno no servidor
  '/veiculos/{Id}':
    get:
      tags:
        - veiculos
      summary: Recupera um veiculo existente
      operationId: recuperaVeiculoGuid
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
        - name: Id
          required: true
          in: path
          description: Guid do veículo
          schema:
            type: string
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Veiculo'
        '404':
          description: Veículo não encontrado
        '500':
          description: Ocorreu um erro interno no servidor
    put:
      tags:
        - veiculos
      summary: Atualiza um veículo existente
      operationId: atualizarVeiculo
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
        - name: Id
          required: true
          in: path
          description: Guid do veículo
          schema:
            type: string
      responses:
        '204':
          description: Atualização efetuada com sucesso.
        '400':
          description: Erro na requisição
        '404':
          description: Veículo não encontrado
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Veiculo'
        description: Objeto do veículo
        required: true
  '/veiculos/{Id}/condutor/{CondutorId}':
    post:
      tags:
        - veiculos
      summary: Vincula um condutor a um veículo
      operationId: vincularCondutorVeículo
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
        - name: CondutorId
          required: true
          in: path
          description: Id do condutor
          schema:
            type: string
        - name: Id
          required: true
          in: path
          description: Guid do veículo
          schema:
            type: string
      responses:
        '204':
          description: Atualização efetuada com sucesso.
        '400':
          description: Erro na requisição
        '404':
          description: Veículo ou Condutor não encontrado
    delete:
      tags:
        - veiculos
      summary: Desvincula um condutor de um veiculo
      operationId: desvincularCondutorVeiculo
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
        - name: CondutorId
          required: true
          in: path
          description: Id do condutor
          schema:
            type: string
        - name: Id
          required: true
          in: path
          description: Guid do veículo
          schema:
            type: string
      responses:
        '204':
          description: Atualização efetuada com sucesso.
        '400':
          description: Erro na requisição
        '404':
          description: Veículo ou Condutor não encontrado
  '/veiculos/desinstalados':        
    get:
      tags:
        - veiculos
      summary: Recupera os veiculos desinstalados
      operationId: recuperarVeiculoDesinstalado
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Veiculo'
        '500':
          description: Ocorreu um erro interno no servidor
  '/veiculos/{Id}/quantidadeposicoes/{Data}':        
    get:
      tags:
        - veiculos
      summary: Recupera a quantidade de posicoes do veiculo na data
      operationId: recuperarQuantidadePosicoesVeiculo
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true   
        - name: Id
          required: true
          in: path
          description: Guid do veículo
          schema:
            type: string
        - name: Data
          required: true
          in: path
          description: Data das posicoes
          schema:
            type: string
            format: date
            example: '2018-09-18'
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuantidadeDePosicoes'
        '500':
          description: Ocorreu um erro interno no servidor
  /acessorios:
    get:
      tags:
        - acessorios
      summary: Recupera todos os acessórios
      operationId: recuperaAcessorios
      security: 
        - oAuth2: []
      parameters: 
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Acessorio'
        '500':
          description: Um erro interno ocorreu no servidor
  '/acessorios/transferir/{ClienteIdDestino}':
    post:
      tags:
        - acessorios
      summary: Transfere o acessorio para o cliente destino 
      operationId: transferirAcessorio
      security: 
        - oAuth2: []
      parameters: 
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
        - name: ClienteIdDestino
          required: true
          in: path
          description: Guid do cliente de destino do acessorio
          schema:
            type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Erro'          
        '404':
          description: Not Found
        '405':
          description: Invalid input
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcessorioTransferivel'
        required: true
  /condutores:
    get:
      tags:
        - condutores
      summary: Recupera todos os condutores
      operationId: recuperaCondutores
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Condutor'
        '500':
          description: Ocorreu um erro interno no servidor
    post:
      tags:
        - condutores
      summary: Adiciona um novo condutor
      operationId: criarCondutor
      security: 
        - oAuth2: []
      parameters: 
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '405':
          description: Invalid input
        '200':
          description: Inserção realizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Condutor'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Condutor'
        description: Condutor a ser inserido.
        required: true
  '/condutores/{Id}':
    get:
      tags:
        - condutores
      summary: Recupera um condutor existente
      operationId: recuperaCondutor
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
        - name: Id
          required: true
          in: path
          description: Guid do condutor
          schema:
            type: string
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Condutor'
        '404':
          description: Condutor não encontrado
        '500':
          description: Ocorreu um erro interno no servidor
    put:
      tags:
        - condutores
      summary: Atualiza um condutor existente
      operationId: atualizarCondutor
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
        - name: Id
          required: true
          in: path
          description: Guid do condutor
          schema:
            type: string
      responses:
        '204':
          description: Atualização efetuada com sucesso.
        '400':
          description: Erro na requisição
        '404':
          description: Condutor não encontrado
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Condutor'
        description: Objeto do condutor
        required: true
    delete:
      tags:
        - condutores
      summary: Deleta um determinado condutor
      operationId: deletarCondutor
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
        - name: Id
          required: true
          in: path
          description: Guid do condutor
          schema:
            type: string
      responses:
        '204':
          description: Operação efetuada com sucesso.
        '400':
          description: Erro na requisição
        '404':
          description: Condutor não encontrado
  '/condutores/{Id}/acessorios':          
    get:
      tags:
        - condutores
      summary: Recupera os acessorios de um condutor
      operationId: recuperarAcessoriosCondutor
      security: 
        - oAuth2: []
      parameters:
        - name: Id
          required: true
          in: path
          description: Guid do condutor
          schema:
            type: string
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Acessorio'
        '500':
          description: Ocorreu um erro interno no servidor
          
  '/condutores/{Id}/acessorios/{NumeroDeSerie}':
    post:
      tags:
        - condutores
      summary: Vincula um acessório a um condutor
      operationId: vincularCondutorAcessorio
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
        - name: NumeroDeSerie
          required: true
          in: path
          description: Numero de serie do acessorio
          schema:
            type: string
        - name: Id
          required: true
          in: path
          description: Guid do condutor
          schema:
            type: string
      responses:
        '204':
          description: Atualização efetuada com sucesso.
        '400':
          description: Erro na requisição
        '404':
          description: Condutor ou Acessório não encontrado
    delete:
      tags:
        - condutores
      summary: Desvincula um acessório a um condutor
      operationId: desvincularCondutorAcessorio
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
        - name: NumeroDeSerie
          required: true
          in: path
          description: Numero de serie do acessorio
          schema:
            type: string
        - name: Id
          required: true
          in: path
          description: Guid do condutor
          schema:
            type: string
      responses:
        '204':
          description: Atualização efetuada com sucesso.
        '400':
          description: Erro na requisição
        '404':
          description: Condutor ou Acessório não encontrado
  /condutorveiculovinculado:
    get:
      tags:
        - condutores
      summary: Recupera todos os condutores dado um Cliente que possuem ou não vínculo com veículo
      operationId: condutorVeiculoVinculado
      security:
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada
          schema:
            type: string
            format: uuid
          required: true
        - in: query
          name: NomeCondutor
          required: false
          description: Nome do condutor a ser consultado
          schema:
            type: string
      responses:
        '200':
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CondutorVeiculoVinculado'
        '400':
          description: Erro na requisição
        '500':
          description: Um erro interno ocorreu no servidor
  /grupos:
    get:
      tags:
        - grupos
      summary: Recupera todos os grupos
      operationId: recuperarGrupos
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Grupo'
        '500':
          description: Ocorreu um erro interno no servidor
    post:
      tags:
        - grupos
      summary: Adiciona um novo grupo
      operationId: criarGrupo
      security: 
        - oAuth2: []
      parameters: 
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
      responses:
        '405':
          description: Invalid input
        '200':
          description: Inserção realizado com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Grupo'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Grupo'
        description: Grupo a ser inserido.
        required: true
  '/grupos/{Id}':
    get:
      tags:
        - grupos
      summary: Recupera um grupo existente
      operationId: recuperaGrupo
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
        - name: Id
          required: true
          in: path
          description: Guid do grupo
          schema:
            type: string
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grupo'
        '404':
          description: Grupo não encontrado
        '500':
          description: Ocorreu um erro interno no servidor
    put:
      tags:
        - grupos
      summary: Atualiza um grupo existente
      operationId: atualizarGrupo
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
        - name: Id
          required: true
          in: path
          description: Guid do grupo
          schema:
            type: string
      responses:
        '204':
          description: Atualização efetuada com sucesso.
        '400':
          description: Erro na requisição
        '404':
          description: Grupo não encontrado
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Grupo'
        description: Objeto do grupo
        required: true
    delete:
      tags:
        - grupos
      summary: Deleta um determinado grupo
      operationId: deletarGrupo
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
        - name: Id
          required: true
          in: path
          description: Guid do grupo
          schema:
            type: string
      responses:
        '204':
          description: Operação efetuada com sucesso.
        '400':
          description: Erro na requisição
        '404':
          description: Grupo não encontrado
  '/grupos/{Id}/veiculos':
    get:
      tags:
        - grupos
      summary: Recupera os veiculos de um grupo
      operationId: recuperaVeiculosGrupo
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
        - name: Id
          required: true
          in: path
          description: Guid do grupo
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Veiculo'
        '404':
          description: Grupo não encontrado
        '500':
          description: Ocorreu um erro interno no servidor
  '/grupos/{Id}/veiculos/{VeiculoId}':
    post:
      tags:
        - grupos
      summary: Adiciona um veiculo ao grupo
      operationId: adicionarVeiculoGrupo
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
        - name: VeiculoId
          required: true
          in: path
          description: Id do veiculo
          schema:
            type: string
            format: uuid
        - name: Id
          required: true
          in: path
          description: Guid do grupo
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Atualização efetuada com sucesso.
        '400':
          description: Erro na requisição
        '404':
          description: Grupo ou Veiculo não encontrado
    delete:
      tags:
        - grupos
      summary: Remove um veiculo de um grupo
      operationId: removerVeiculoGrupo
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
        - name: VeiculoId
          required: true
          in: path
          description: Id do veiculo
          schema:
            type: string
            format: uuid
        - name: Id
          required: true
          in: path
          description: Guid do grupo
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Atualização efetuada com sucesso.
        '400':
          description: Erro na requisição
        '404':
          description: Grupo ou Veículo não encontrado
  '/grupos/{Id}/usuarios':
    get:
      tags:
        - grupos
      summary: Recupera os usuários vinculados a um grupo
      operationId: recuperaUsuariosGrupo
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
        - name: Id
          required: true
          in: path
          description: Guid do grupo
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Usuario'
        '404':
          description: Grupo não encontrado
        '500':
          description: Ocorreu um erro interno no servidor
  '/grupos/{Id}/usuarios/{UsuarioId}':
    post:
      tags:
        - grupos
      summary: Adiciona um usuario ao grupo
      operationId: adicionarUsuarioGrupo
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
        - name: UsuarioId
          required: true
          in: path
          description: Id do usuário
          schema:
            type: string
            format: uuid
        - name: Id
          required: true
          in: path
          description: Guid do grupo
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Atualização efetuada com sucesso.
        '400':
          description: Erro na requisição
        '404':
          description: Grupo ou Usuario não encontrado
    delete:
      tags:
        - grupos
      summary: Remove um usuário de um grupo
      operationId: removerUsuarioGrupo
      security: 
        - oAuth2: []
      parameters:
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada.
          schema:
            type: string
            format: uuid
          required: true      
        - name: UsuarioId
          required: true
          in: path
          description: Id do usuario
          schema:
            type: string
        - name: Id
          required: true
          in: path
          description: Guid do grupo
          schema:
            type: string
      responses:
        '204':
          description: Atualização efetuada com sucesso.
        '400':
          description: Erro na requisição
        '404':
          description: Grupo ou Usuário não encontrado
  /clientes:
    get:
      tags:
        - clientes
      summary: Recupera todos os clientes
      operationId: recuperarClientes
      security: 
        - oAuth2: []
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cliente'
        '500':
          description: Ocorreu um erro interno no servidor
    post:
      tags:
        - clientes
      summary: Adiciona um novo cliente
      operationId: criarCliente
      security: 
        - oAuth2: []
      responses:
        '405':
          description: Invalid input
        '200':
          description: Inserção realizado com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cliente'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cliente'
        description: Cliente a ser inserido.
        required: true
  '/clientes/{Id}':
    get:
      tags:
        - clientes
      summary: Recupera um cliente existente
      operationId: recuperaCliente
      security: 
        - oAuth2: []
      parameters:
        - name: Id
          required: true
          in: path
          description: Guid do cliente
          schema:
            type: string
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cliente'
        '404':
          description: Cliente não encontrado
        '500':
          description: Ocorreu um erro interno no servidor
    put:
      tags:
        - clientes
      summary: Atualiza um cliente existente
      operationId: atualizarCliente
      security: 
        - oAuth2: []
      parameters:
        - name: Id
          required: true
          in: path
          description: Guid do cliente
          schema:
            type: string
      responses:
        '204':
          description: Atualização efetuada com sucesso.
        '400':
          description: Erro na requisição
        '404':
          description: Cliente não encontrado
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cliente'
        description: Objeto do cliente
        required: true
    delete:
      tags:
        - clientes
      summary: Deleta um determinado cliente (inativação)
      operationId: deletarCliente
      security: 
        - oAuth2: []
      parameters:
        - name: Id
          required: true
          in: path
          description: Guid do cliente
          schema:
            type: string
      responses:
        '204':
          description: Operação efetuada com sucesso.
        '400':
          description: Erro na requisição
        '404':
          description: Cliente não encontrado
          
  '/grupos/veiculovinculado/{IdVeiculo}':
    get:
      tags:
        - grupos
      summary: Recupera todos os grupos em que um deteminado veiculo esteja vinculado
      operationId: gruposVeiculoVinculado
      security:
        - oAuth2: []
      parameters:
        - name: IdVeiculo
          required: true
          in: path
          description: Guid do veiculo
          schema:
            type: string
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Grupo'
        '400':
          description: Erro na requisição
        '500':
          description: Um erro interno ocorreu no servidor         
  '/grupos/usuariovinculado/{IdUsuario}':
    get:
      tags:
        - grupos
      summary: Recupera todos os grupos em que um deteminado usuario esteja vinculado
      operationId: gruposUsuarioVinculado
      security:
        - oAuth2: []
      parameters:
        - name: IdUsuario
          required: true
          in: path
          description: Guid do usuario
          schema:
            type: string
        - in: header
          name: X-Client-ID
          description: Guid do cliente no qual a operação será efetuada
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Grupo'
        '400':
          description: Erro na requisição
        '500':
          description: Um erro interno ocorreu no servidor               
components:
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        clientCredentials:
          #tokenUrl: https://api.golsat.com.br/homologacao/integracaocrud/4.0.0/oauth2/token
          tokenUrl: /homologacao/integracaocrud/4.0.0/oauth2/token
          scopes: 
            5c097926d8c28a3e4ee34a44: Homologação
  schemas:
    Erro:
      type: object
      properties:
        number:
          type: string
          enum: [TRANSFERIR_VEICULO_NAO_INFORMADO,
            TRANSFERIR_NAO_INFORMADA_TRANSFERENCIA_DESEJADA,
            TRANSFERIR_NEGOCIACAO_DIFERENTE,
            TRANSFERIR_DEALER_NAO_CONTRATANTE_ORIGEM_NAO_PROPRIETARIO,
            TRANSFERIR_CLIENTE_ORIGEM_SEM_HISTORICO,
            TRANSFERIR_PROBLEMAS_REMOVER_VINCULOS,
            TRANSFERIR_PLANO_NAO_PERMITE_ESPELHAMENTO
            CRIARUSUARIO_CLIENTE_IMPOSSIBILITADO_CADASTRAR,
            CRIARUSUARIO_EMAIL_EXISTENTE,
            CRIARUSUARIO_USUARIO_EXISTENTE_CLIENTE,
            CRIARUSUARIO_ERRO_CADASTRO_USUARIO,
            TRANSFERIR_ACESSORIO_NAO_ENCONTRADO,
            TRANSFERIR_ACESSORIO_JA_VINCULADO_CLIENTE_DESTINO,
            TRANSFERIR_ACESSORIO_NAO_PERTENCE_CLIENTE_ATUAL]
                    
        message:
          type: string
          readOnly: true
          example: Nao foi possivel fazer essa operacao
    Condutor:
      type: object
      required:
        - nome
        - cpf
        - rg
        - numeroCnh
        - expiracaoCnh
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: c8307d01-2fc3-40d9-aff4-a017ef43a9c2
        nome:
          type: string
          maxLength: 50
          example: Pedro da Silva
        cpf:
          type: string
          maxLength: 11
          example: 12312312316
        rg:
          type: string
          maxLength: 11
          example: 12415412415
        numeroCnh:
          type: string
          maxLength: 11
          example: 1245484211
        categoriaCnh:
          type: string
          maxLength: 5
          example: AB
        expiracaoCnh:
          type: string
          format: date
        ddd:
          type: integer
          description: DDD do telefone
          maxLength: 2
          example: 44
        telefone:
          type: integer
          example: 999999999
        endereco:
          type: string
          maxLength: 50
          example: Rua Teste
        complementoDoEndereco:
          type: string
          maxLength: 50
          example: Torre 1 Apt 123
        codigoIbgeMunicipio:
          type: integer
          maxLength: 7
          minLength: 7
          example: 1200252
        numeroDeRegistro:
          type: string
          description: Numero interno de registro do funcionário
          maxLength: 30
          example: CB454212
    Cliente:
      type: object
      required:
        - nome
        - tipo
        - cnpjCpf
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: c8307d01-2fc3-40d9-aff4-a017ef43a9c2
        nome:
          type: string
          description: Nome da empresa
          maxLength: 100
          example: TESTE LTDA
        cnpjCpf:
          type: string
          description: CNPJ ou CPF do 
          maxLength: 14
          example: 53043446000160
        tipo:
          type: string
          description: Tipo de pessoa
          enum:
            - FISICA
            - JURIDICA
        situacao:
          readOnly: true
          type: string
          description: Situação cadastral do cliente
          enum:
            - ATIVO
            - INATIVO
    AreaDeControle:
      type: object
      required:
        - nome
        - privacidade
        - idCategoria
        - area
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: ec106e66-b035-4ef0-a6ad-6d9da7d140d8
        nome:
          type: string
          maxLength: 100
          example: Posto X
        idCategoria:
          type: string
          format: uuid
          example: ec106e66-b035-4ef0-a6ad-6d9da7d140d8
        descricaoCategoria:
          type: string
          readOnly: true
          example: Pessoal
        observacao:
          type: string
          maxLength: 500
        privacidade:
          type: string
          enum:
            - PUBLICO
            - PRIVADO
        idUsuario:
          description: Necessário informar quando o campo 'privacidade' = 'PRIVADO'
          type: string
          format: uuid
          example: ec106e66-b035-4ef0-a6ad-6d9da7d140d8
        area:
          $ref: '#/components/schemas/Area'
    CategoriaAreaDeControle:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: ec106e66-b035-4ef0-a6ad-6d9da7d140d8
        nome:
          type: string
          readOnly: true
          description: Nome da categoria.
          example: Pessoal
    Acessorio:
      type: object
      properties:
        numeroDeSerie:
          type: string
          readOnly: true
          description: Numero de serie do acessório.
          example: 454483421
        idCondutor:
          readOnly: true
          type: string
          format: uuid
          description: Indica o Id do condutor vinculado ao acessório.
    Veiculo:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: ec106e66-b035-4ef0-a6ad-6d9da7d140d8
        proprietarioId:
          type: string
          format: uuid
          readOnly: true
          example: ec106e66-b035-4ef0-a6ad-6d9da7d140d8
        placa:
          type: string
          maxLength: 7
          example: ABC1234
        chassi:
          type: string
          maxLength: 25
          example: 9BWHE21JX24060960
        nomeCondutor:
          type: string
          maxLength: 50
          readOnly: true
        renavam:
          type: string
          maxLength: 15
        marca:
          type: string
          readOnly: true
        modelo:
          type: string
          readOnly: true
        anoFabricacao:
          type: integer
          example: 2010
        anoModelo:
          type: integer
          example: 2011
        cor:
          type: string
          maxLength: 15
          example: Vermelho
        dataInstalacao:
          type: string
          format: date
          readOnly: true
        dataDesinstalacao:
          type: string
          format: date
          readOnly: true
        apelido:
          type: string
          maxLength: 10
          example: Rota sul
        volumeTanque:
          type: integer
          example: 60
        hodometro:
          type: number
          format: double
          example: 4546512215.79
    QuantidadeDePosicoes:
      type: object
      properties:
        quantidade:
          type: integer
          example: 700
    Grupo:
      type: object
      required:
        - descricao
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: ec106e66-b035-4eg0-a6ad-6d9ra7t140d8
        descricao:
          type: string
          maxLength: 50
          example: T.I.
    VeiculoTransferivel:
      type: object
      required:
        - id
        - clienteOrigemId
      properties:
        id:
          type: string
          format: uuid
          example: 824CE2B3-0FC0-4991-9588-43A67D6C107F
        clienteOrigemId:
          type: string
          format: uuid
          example: 61459503-2fd6-4709-96d6-35c961834356
    AcessorioTransferivel:
      type: object
      required:
        - numeroDeSerie
        - clienteOrigemId
      properties:
        numeroDeSerie:
          type: string
          example: 10764398
        clienteOrigemId:
          type: string
          format: uuid
          example: 61459503-2fd6-4709-96d6-35c961834356
    Usuario:
      type: object
      required:
        - nome
        - email
        - perfil
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: ec106e66-b035-4eg0-a6ad-6d9ra7t140d8
        idExterno:
          type: string
          description: Id para suprir necessidades de autenticação/integração
          maxLength: 50
        nome:
          type: string
          maxLength: 100
          example: João da Silva
        email:
          type: string
          maxLength: 60
        perfil:
          type: string
          description: Perfil do usuario
          enum:
            - ADMINISTRADOR
            - COMUM
        suporteAtendimento:
          type: boolean
          description: Define se um usuário é para prestar suporte ao usuário
          example: false    
        enviaComando:
          type: boolean
          description: Define se o usuário pode enviar comando
          example: false   
    Login:
      type: object
      required:
        - nome
        - email
        - perfil
      properties:
        idCliente:
          type: string
          format: uuid
          readOnly: true
          example: ec106e66-b035-4eg0-a6ad-6d9ra7t140d1
        idUsuario:
          type: string
          format: uuid
          readOnly: true
          example: ec106e66-b035-4eg0-a6ad-6d9ra7t140d8
        idExterno:
          type: string
          description: Id para suprir necessidades de autenticação/integração
          maxLength: 50
        nome:
          type: string
          maxLength: 100
          example: João da Silva
        email:
          type: string
          maxLength: 60
        perfil:
          type: string
          description: Perfil do usuario
          enum:
            - ADMINISTRADOR
            - COMUM
        suporteAtendimento:
          type: boolean
          description: Define se um usuário é para prestar suporte ao usuário
          example: false    
        enviaComando:
          type: boolean
          description: Define se o usuário pode enviar comando
          example: false
    Espelhamento:
      type: object
      required:
        - veiculoId
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: ec106e66-b035-4eg0-a6ad-6d9ra7t140d8
        data:
          type: string
          format: date
          readOnly: true
        placaVeiculo:
          type: string
          maxLength: 7
          readOnly: true
          example: PYI5437
        idVeiculo:
          type: string
          format: uuid
          example: ec106e66-b035-4eg0-a6ad-6d9ra7t140d8
        nomeClienteOrigem:          
          type: string
          format: uuid
          example: TESTE 1 LTDA
          readOnly: true
        idClienteOrigem:
          type: string
          format: uuid
          example: ec106e66-b035-4eg0-a6ad-6d9ra7t140d8
        nomeClienteDestino:          
          type: string
          format: uuid
          example: TESTE DEMONSTRACAO
          readOnly: true
        idClienteDestino:
          type: string
          format: uuid
          example: ec106e66-b035-4eg0-a6ad-6d9ra7t140d8
    Area:
      type: object
      description: Coordenadas da Área de Controle.
      required:
        - coordenadas
      properties:
        tipo:
          type: string
          readOnly: true
          example: CIRCULAR
        coordenadas:
          description: Para ser considerado 'POLIGONAL', devem ser informadas ao menos 4 pares de coordenadas, sendo o primeiro igual ao último - início e fim no mesmo lugar.
          type: array
          example: [[25.1342, -50.15530]]
          items:
            type: array
            items: 
              description: Informar 'latitude' e 'longitude', respectivamente.
              type: number
              format: double
        raio:
          description: O 'raio' deve ser informado em Metros e só se torna obrigatório quando informado apenas um par de 'coordenadas'.
          type: number
          format: double
          example: 300
    CondutorVeiculoVinculado:
      type: object
      required:
        - id
        - nome
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: ec106e66-b035-4eg0-a6ad-6d9ra7t140d8
        nome: 
          type: string
          maxLength: 100
          example: João da Silva
          readOnly: true
        idVeiculo:
          type: string
          format: uuid
          readOnly: true
          example: ec106e66-b035-4eg0-a6ad-6d9ra7t140d8
        placaVeiculo: 
          type: string
          example: BRA1212
          readOnly: true
        dataInicio:
          type: string
          format: date
          readOnly: true
        dataFim:
          type: string
          format: date
          readOnly: true